[2017-04-04 12:47] mzf commented on #12766
I test this code on Phalcon 3.0.4 work fine.
On 3.1.0 same error

[2017-04-04 12:51] Jurigag commented on #12766
I do't know, you sure you posted full code of your model?

[2017-04-04 12:53] mzf commented on #12766
@Jurigag i ran you code and get error
[code]

[2017-04-04 12:55] Jurigag commented on #12766
Oh i forgot use statements:

[code]

[2017-04-04 13:05] mzf commented on #12766
Your example work fine on Phalcon 3.1.1. Thanks!
I'll figure out what I've done

[2017-04-04 13:05] Jurigag commented on #12766
Maybe you need to clear metadata? I don't know really.

[2017-04-04 13:14] mzf commented on #12766
Try this example please.
[code]

[2017-04-04 13:19] Jurigag commented on #12766
Yea, now i see, let me fix it.

[2017-04-04 13:54] Jurigag commented on #12766
Created PR.

[2017-04-04 14:18] sergeyklay commented on #12766
Fixed in the `3.1.x` branch.

[2017-04-04 14:18] #12766 closed

[2017-04-05 10:33] cq-z commented on #12173
sorry, The previous version could not be found .it is notification .
new version https://github.com/cq-z/docker-lnmp/tree/master/php70
command docker build -t test ./php70
![image](https://cloud.githubusercontent.com/assets/3038490/24701749/37c31e60-1a2e-11e7-90aa-9cd444da0dc8.png)

[2017-04-05 10:34] cq-z commented on #12173
The program can run no problem
docker -v
Docker version 17.04.0-ce-rc2, build 2f35d73

[2017-04-05 10:43] sergeyklay commented on #12173
@cq-z Could you please try again 3.1.x branch?

[2017-04-05 10:53] cq-z commented on #12173
download link:https://codeload.github.com/phalcon/cphalcon/tar.gz/3.1.x
`Step 8/23 : RUN cd /home/cphalcon-3.1.x/build    && ./install     && echo "extension=phalcon.so" > /usr/local/etc/php/conf.d/phalcon.ini     && cd ../../ && rm -r ./cphalcon-3.1.x
 ---> Running in 0aa7627d3763
Configuring for:
PHP Api Version:         20160303
Zend Module Api No:      20160303
Zend Extension Api No:   3201603

[2017-04-05 10:56] cq-z commented on #12173
![image](https://cloud.githubusercontent.com/assets/3038490/24702474/74a4b34a-1a31-11e7-9850-1ed4a5403c62.png)

[2017-04-05 10:57] sergeyklay commented on #12173
What kind of Bash are you using? What is the version #?

[2017-04-05 10:59] sergeyklay commented on #12173
@cq-z Also please provide expr  version `expr --version | head -1`

[2017-04-05 11:00] cq-z commented on #12173
Your question is this?
iterm2 Build 3.0.15

[2017-04-05 11:04] cq-z commented on #12173
it's  docker bulid  not find command  expr .
bash is bash bash-4.3#

[2017-04-05 11:08] cq-z commented on #12173
this is?
bash-4.3# /usr/bin/expr --help
BusyBox v1.24.2 (2017-01-18 14:13:46 GMT) multi-call binary.

[2017-04-05 11:08] sergeyklay commented on #12173
As you can see
[code]

this is `expr ` bug **inside** container, not in the host system.

[2017-04-05 11:09] sergeyklay commented on #12173
For example

[code]

[code]

[2017-04-05 11:12] cq-z commented on #12173
it's docker bulid image .not find this cmd.
find expr is /usr/bin/expr .
but this result is running
[code]

[2017-04-05 11:14] sergeyklay commented on #12173
PHP's `configure` script uses `expr`. So it is PHP bug: https://bugs.php.net/bug.php?id=39835 (see last comment)

[2017-04-05 11:17] cq-z commented on #12173
think you.the yac also have this warning.
Laruence say is It's ok。

[2017-04-05 11:17] cq-z commented on #12173
thank you much

[2017-04-05 11:26] #12173 closed

[2017-04-05 12:54] sergeyklay commented on #12055
Fixed in the `3.1.x` branch. Note: You have to use latest `Zephir` from master branch

[2017-04-05 12:54] #12055 closed

[2017-04-05 13:27] remicollet commented on #12055
@sergeyklay do you plan to tag a new Zephir release ?
(also hard to find which version should be used..., using tag seems the one safe way)

At least before 3.1.x next version

[2017-04-05 13:38] Jurigag commented on #12055
3.1.2 will be released on few days so there will be no need to use zephir. Just use master zephir.

[2017-04-05 13:40] remicollet commented on #12055
Please tag.

[2017-04-05 13:42] Jurigag commented on #12055
What's a problem with master? Zephir is still being fixed etc, changes are happening almost each day so i don't see a point with a tag.

[2017-04-05 13:46] remicollet commented on #12055
Building a **stable** version (phalcon 3.1.2) with a  **unstable** Zephir snapshot seems... messy, ugly, and terrible bad practice.

[2017-04-05 13:47] Jurigag commented on #12055
But 3.1.x is not **stable** version.

[2017-04-05 13:48] remicollet commented on #12055
From https://github.com/phalcon/cphalcon/releases 3.1.1 is Latest Release, so I suppose it is "stable", thus will be upcoming 3.1.2, when tagged...

Definitively, I think I will never understand how this project works.

[2017-04-05 13:51] Jurigag commented on #12055
When 3.1.2 will be released you won't need zephir to install it.

[2017-04-05 13:57] remicollet commented on #12055
I'm used to rebuild from tagged sources, using zephir, at least because I need to patch sources to drop the damned fucking non-free part (bug #10118)

[2017-04-05 13:59] Jurigag commented on #12055
Oh okay then.

[2017-04-05 14:34] sergeyklay commented on #12055
@remicollet No problem. We'll release new Zephir version

[2017-04-05 14:35] sergeyklay commented on #10118
@remicollet I'll try to sort out with this.

[2017-04-05 14:36] remicollet commented on #12055
thanks

[2017-04-05 15:37] sergeyklay commented on #12055
Released

[2017-04-05 16:14] remicollet commented on #12055
I can even confirm, phalcon 3.1.1 build without any issue using zephir 0.9.7.

So, added to the [few extensions](https://blog.remirepo.net/pages/PECL-extensions-RPM-status) list I can provide as RPM in my repo (for Fedora / RHEL and CentOS).

[2017-04-05 18:11] niden commented on #12055
Thank you for all the help @remicollet

[2017-04-06 00:16] ejzhang opened #12770 "The release of phalcon_x64_vc14_php7.0_3.1.2.zip is wrong"
The size of phalcon_x64_vc14_php7.0_3.1.2.zip is only 2.06kb, and there isn't the dll in it.
![Uploading image.png…]()

[2017-04-06 04:25] xueron commented on #12055
Good news :)

[2017-04-06 06:08] sergeyklay commented on #12770
We know about this problem and trying to solve it.

Cc: @niden

[2017-04-06 08:59] drnasin commented on #12055
thank you boys!

[2017-04-06 11:13] Skydev0h opened #12773 "Dynamic update model issue (with value 1)"
If dynamic updates in model are enabled, and you assign 1 or '1' (if the field is numeric and TYPE_INTEGER and/or BIND_PARAM_DECIMAL) to any field after creating the model, the field will be not included in sql update statement.
The problem is probably because any RawValue is nonstrict-equal to 1.
And the initial value of that field in snapshot is RawValue('DEFAULT').

[code]
[code]

[code]

[code

[2017-04-06 11:29] Jurigag commented on #12773
Fixedin 3.1.2

[2017-04-06 11:36] #12773 closed

[2017-04-06 12:13] michealzh commented on #11250
I have the same problem,nginx 1.10, phalcon 3.1.0,in Macos,with same nginx config ,but the router is not work for me.

[2017-04-06 12:42] alivex commented on #12385
I can confirm the bug occurring on php7 alone. Especially, when I can getRender(). I'll post my code, if it helps fixing the issue

[code]

[2017-04-06 12:50] Jurigag commented on #12773
@Skydev0h well at least should be, if not ping me about this

[2017-04-06 13:37] tuanbaros opened #12774 "How to fix php-config is not installed???"
I am a new phalconer, after
git clone --depth=1 "git://github.com/phalcon/cphalcon.git"
cd cphalcon/build
sudo ./install
then have error:
./install: line 55: --version: command not found
php-config is not installed

How to fix it???

[2017-04-06 14:12] Jurigag commented on #12774
apt-get install php-dev/php5-dev

[2017-04-06 15:40] sergeyklay commented on #11250
@michealzh Open please new issue with small code to reproduce

[2017-04-06 15:40] sergeyklay commented on #12774
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-04-06 15:40] #12774 closed

[2017-04-06 16:11] sergeyklay commented on #12221
Implemented in the `3.2.x` branch

[2017-04-06 16:11] #12221 closed

[2017-04-06 16:12] sergeyklay commented on #12221
@fenixphp This should be a separated NFR

[2017-04-06 18:04] garyrutland opened #12775 "Seems to be an issue with relations in 3.1.2"
I'm not exactly sure what the exact scenario is but in 3.1.2 some of my relations have stopped working (since downgrading to 3.1.1 they have started working again).

If I get the ID directly via `$model->getAccountID();` I can get the ID but if I call the magic method `$model->getAccount();` it comes back as `null`.

I have the following relation setup in my model:

    $this->belongsTo('accountId

[2017-04-06 18:06] niden commented on #12775
Is this a typo `$model->getAccountID();` or this is how you call it?

If so shouldn't it be `$model->getAccountId();`

[2017-04-06 18:07] garyrutland commented on #12775
Sorry, may have typed that too quickly.
There's not type in the code.

[2017-04-06 18:09] niden commented on #12775
lol OK . Just checking.

[2017-04-06 18:15] sergeyklay commented on #12775
Cc: @Jurigag

[2017-04-06 18:17] Jurigag commented on #12775
I didn't check anything relation related so don't sure what happens.

[2017-04-06 18:20] sergeyklay commented on #12775
@garyrutland Could you please provide minimal code to reproduce the issue. I mean table schema, models, and test script to reproduce.

[2017-04-06 18:33] garyrutland commented on #12775
Hmm quite tricky to do without giving you quite a bit of code.
I'll try and figure something out.

[2017-04-06 18:34] Jurigag commented on #12775
Just db service, model class and find, you can use `phalcon_test` table.

[2017-04-06 18:49] Jurigag commented on #12775
https://github.com/phalcon/cphalcon/blob/master/unit-tests/ModelsRelationsTest.php#L146 here it passed, you really need to provide full code what is causing a problem without any code form your project.

[2017-04-06 19:00] garyrutland commented on #12775
I'll try and get something together, what was odd was that some relations were working.

[2017-04-07 07:40] garyrutland commented on #12775
So fantastically, my test script works perfectly fine but in my project `getAccount();` still won't work.
I've updated to PHP 7.1 in case there was an oddity there but still nothing.

Even more frustratingly, it does work in the opposite direction.
So if I call `Account::findFirst()->getAudits()->getFirst();` I get the audit that won't return the account.

I don't think I'm missing anything in my

[2017-04-07 07:53] Jurigag commented on #12775
So the script you provided works fine? Then problem is somewhere in your project, idk where.

[2017-04-07 07:56] michanismus commented on #12775
There are no fields defined in your test script. Do you have public/protected properties defined for your models in your real project?

[2017-04-07 08:07] garyrutland commented on #12775
In the project there are private properties with setters and getters, did have them in the test script but didn't make a difference if I had them or not.
I'm at a bit of a loose end, there's definitely some issue somewhere as it works fine with 3.1.1 but I can't figure out what the scenario is.

[2017-04-07 08:24] garyrutland commented on #12775
Alternatively, if you guys have Docker Hub and BitBucket accounts I could give you temporary access to the service that has the issue?

[2017-04-07 08:37] Jurigag commented on #12775
@garyrutland if you have by any chance `$account` property then it can make a difference. Just try to create script to reproduce it. As i already wrote - nothing was changed between phalcon 3.1.1 and 3.1.2 about relation stuff, not sure why this happens.

[2017-04-07 09:14] garyrutland commented on #12775
Ok, I've got it sorted.

I was extending the audit model from another repo/library and must have been working by fluke before.
Having moved the model into the current repo/library and having it match the others it seems to work fine.

Thank,
Gary

[2017-04-07 09:14] #12775 closed

[2017-04-08 03:31] chinapex-devops opened #12777 "How to uninstall error versions"
I install error versions of 3.x, but our projects use 2.x. I donot know how to uninstall the version 3.x and reinstall version 2.x

[2017-04-08 06:09] sergeyklay commented on #12777
[code]

We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-04-08 06:09] #12777 closed

[2017-04-08 08:06] sergeyklay commented on #12770
Fixed

[2017-04-08 08:06] #12770 closed

[2017-04-08 08:16] sergeyklay commented on #12154
Fixed in the `3.2.x` branch.

[2017-04-08 08:16] #12154 closed

[2017-04-08 14:02] temuri416 opened #12779 "[BUG, v.3.1.2] Inconsistent behaviour of Phalcon\Config::merge() across minor versions of PHP7"
`Phalcon\Config::merge()` of **the same version** of Phalcon (`v3.1.2`) behaves differently on PHP versions `7.0.14` and `7.0.17`.

## PHP v7.0.14 ##
[code]

### Expected and Actual Behavior ##

`$config` is:

![image](https://cloud.githubusercontent.com/assets/3987203/24829548/e45f494a-1c41-11e7-8261-44c5ccd116d6.png)

Everything is correct.

## PHP v7.0.17 ##

The same code results in the follow

[2017-04-08 21:51] temuri416 commented on #12779
Phalcon 3.2.x with PHP7.1.3 behaves exactly as Phalcon 3.1.2 & PHP7.0.17 (i.e. is broken).

[2017-04-09 03:44] mixinix opened #12780 "Load file with registered namespaces"
Is there any built-in library or helper from Phalcon to load file with registered namespaces?

Example:

[code]
[code]

[2017-04-09 08:15] garyrutland opened #12781 "Feature request: pass array of strings into flash methods"
Hi,

Currently you can only pass strings into flash messages, which when you have a bunch of messages can look a bit odd.
Would be nice if an array of strings or possibly even `Phalcon\Validation\Message` could be passed into the flash methods which either outputs the messages wrapped in `<p></p>` or just a `<br>` at the end of each message.

Thanks,
Gary

[2017-04-09 08:35] michanismus commented on #12780
I guess you are looking for the `Phalcon\Loader`

https://docs.phalconphp.com/en/3.0.2/api/Phalcon_Loader.html

[2017-04-09 15:04] sergeyklay commented on #12648
Fixed in the `3.2.x` branch.

[2017-04-09 17:11] mixinix commented on #12780
I think not.
I close this. Thank for you response.

[2017-04-09 17:11] #12780 closed

[2017-04-10 14:25] temuri416 commented on #11819
Verified, working as expected! This is an enormous improvement, thanks a lot.

[2017-04-11 07:39] hakimio commented on #12056
Using fastcgi works well, but does anyone actually know if it's PHP 7, apache or apache module bug? Is there upstream bug report somewhere?

[2017-04-11 09:03] michanismus commented on #12056
Maybe it is related: https://github.com/phalcon/cphalcon/pull/12762#issuecomment-290762711

Tests were passing on PHP 5.6 and failed on PHP 7 as I tried to access a static property from a non static method in same object.

[2017-04-11 09:56] hakimio commented on #12056
Worth mentioning: I am using Apc meta data caching strategy with apcu and apcu_bc modules.
Do other people having the same issue use those two as well?

[2017-04-11 10:15] #2786 closed

[2017-04-11 10:22] Jurigag commented on #12056
@hakimio as already mentioned, this problem happens on windowso only(?). Idk really, it looks like this.

[2017-04-11 19:32] kornerita commented on #12420
Hi,

I think it would be consistent that each module can register it's own routes.

Currently the dispatcher tells which module to load according to the routes processed, so the module can't register it's own routes directly.

A way would be add a parameter with a router group instance to the register modules.

[2017-04-11 20:45] Jurigag commented on #12056
Though it's could be nice if someone could recheck it on latest phalcon.

[2017-04-12 04:54] zGaron commented on #12688
oops..

[2017-04-12 05:57] hakimio commented on #12056
It's still an issue on latest stable. I have checked.

[2017-04-12 14:14] sjinks commented on #12056
@hakimio could you please rebuild Phalcon with the latest Zephir (PHP 7.x) and check again? I have fixed a couple of things related to static properties today.

[2017-04-12 17:26] Jurigag commented on #12763
Lately I had similar problem but I need even more, to totally change this query to somehow more sophisticated. Could adding method `getSql` which will return string with condition solution to you problem? So you just extends getSql and return whatever query you want? I think it's more generic and cleaner way to solve this issue.

[2017-04-13 00:27] sergeyklay commented on #11934
Fixed in the `3.2.x` branch.

[2017-04-13 00:27] #11934 closed

[2017-04-13 12:20] hakimio commented on #12056
@sjinks I can try after Easter holidays.
Is there some nightly windows builds or some tutorial how to build the extension on windows?

[2017-04-13 18:44] sergeyklay commented on #12056
@hakimio Just follow step by step all the  instructions from [appveyor.yml](https://github.com/phalcon/cphalcon/blob/master/appveyor.yml) file.

[2017-04-14 02:45] leslie5803 opened #12791 "Is it a bug for phalcon ?"
my development is wampserver 3.0.6 64bit, and the Apache is 2.4.23,PHP is 7.0.10,MySQL is 5.7.14,phalcon is 3.0.4. the follow error occured frequently when I refresh the broswer:
[code]

if i refresh more times and it disappeared

[2017-04-14 06:08] sergeyklay commented on #12791
https://github.com/phalcon/cphalcon/issues/12056

[2017-04-14 06:08] #12791 closed

[2017-04-14 13:03] nueko opened #12794 "Built-In Redis Queue for Multi Platform Use"
Halo, just curious, why doesn't phalcon implement redis internally for queue?
isn't that so good if we can use redis, so we (windows users) can easily use [default] queue api?

Thanks.

[2017-04-14 13:08] Jurigag commented on #12794
Well i guess because no one implemented it? If you want to use it feel free to do PR, right now we only have beanstalk queue.

[2017-04-14 20:41] sergeyklay commented on #12299
@Zaszczyk Could you please try now by using **latest** Zephir:

[code]

[2017-04-14 20:55] Jurigag commented on #12299
@Zaszczyk yea i was writing him that this was fixed, i thing it can be closed

[2017-04-14 21:18] #12299 closed

[2017-04-15 05:51] fonqing opened #12796 "isset(defined in Volt) return false on ORM attribute in Volt"
###

Code in Controller
[code]
Code in View
[code]
### Details

* Phalcon version:3.1.1
* PHP Version: 5.6.4 x86 vc11 Thread safe
* Operating System: Windows 10
* Installation type: Download dll from github release
* Zephir version (if any): Version 0.9.6a-dev-3a72ba9bb5 (in phpinfo page)
* Server: Apache
* Other related info (Database, table schema):

[2017-04-15 06:50] sergeyklay commented on #10328
Implemented in the `3.2.x` branch.

[2017-04-15 06:50] #10328 closed

[2017-04-16 01:11] dschissler commented on #12420
I think that would need to be a Phalcon 4-5 change.  It seems quite different than the current way.

[2017-04-16 11:36] mbrostami commented on #12796
Check that value of the ```$field->name``` is not Null. Isset will return false if variable is null.

[2017-04-16 11:43] #12796 closed

[2017-04-16 11:58] fonqing commented on #12796
The problem is that $field->name is not null but a string form a ORM object ,isset return false,Is there a shortcut for  property_exists method in volt?

[2017-04-16 12:12] mbrostami commented on #12796
I think there is no volt function for property_exist. You need to add custom function to volt compiler.

[2017-04-16 12:20] mbrostami commented on #12534
Right, it should be removed in next major version.
I kept that just for respecting backward compatibility.

[2017-04-17 15:24] gtux opened #12798 "lifetime param in method "exists" of memcache backend is not used"
Hi, I was coding and noticed that the method memcache:exists has a lifetime param, I had wondering what is used for? But after reading the code I found that the lifetime param is never used:

https://github.com/phalcon/cphalcon/blob/master/phalcon/cache/backend/memcache.zep#L374

[code]

So, why is there?

### Details

* Phalcon version: Master branch on github
* PHP Version: Any
* Operating Syste

[2017-04-18 09:16] hakimio commented on #12056
Tried compiling, following the tutorials. Here is the result:
https://pastebin.com/3v154zDx

Are "sed.exe" and "lemon.exe" required for compilation? If yes, where do I get them? They are not included in "php-sdk-binary-tools-20110915.zip".

[2017-04-18 09:24] hakimio commented on #12056
Even after getting sed and lemon, it fails. I guess because of the following:
[code]

[2017-04-18 10:05] hakimio commented on #12056
After manually declaring "PHP_SECURITY_FLAGS" it compiles, but the same error still appears after few requests even when compiling with the latest Zephir dev version and latest Phalcon dev version. It's still unusable with Apache PHP 7 module on Windows.

[2017-04-18 11:05] byfareska opened #12799 "Bind type requires an array in placeholder"
[code]

I'm getting an "Bind type requires an array in placeholder: modList" error. Can you tell me how to fix it? I am using memcached first time.

[2017-04-18 12:01] repli2dev opened #12800 "EscapeJS not working correct with diacritics"
### Expected and Actual Behavior

Escape provided value with some user provided content in JS context:

[code]

[code]

This output seems escaped, however incorrectly as the code of `ř` is higher than 256 (345 in particular) and such values cannot be escaped using hexadecimal syntax (see https://mathiasbynens.be/notes/javascript-escapes#hexadecimal). Browser then cannot handle this escaped content

[2017-04-18 12:59] niden commented on #12056
@hakimio

The way I compile the DLLs is as follows:

Windows machine
Visual Studio 2015 C# installed
Download the PHP SDK
Download the PHP source

In a folder I set things up as follows:
[code]
Open developer prompt and set environment:
[code]
then set the command line tools for php:
[code]
and now time to build:
[code]

[2017-04-18 13:12] hakimio commented on #12056
@niden
Thanks for detailed guide.
Anyway, I have followed Zephir windows guide ( https://github.com/phalcon/zephir/blob/master/WINDOWS.md ) and Phalcon  "appveyor.yml" which basically says:
[code]

After manually defining "PHP_SECURITY_FLAGS", the extension was built successfully and it's working.
In case anyone else wants to test, here are the files:
https://www.dropbox.com/s/ks8hxp2hs8tr5af/Phal

[2017-04-18 13:33] addinm opened #12801 "Request->isSecure() + proxy"
Hi Phalcon and community.

Out of the box, the REQUEST component doesn't know if the initial request to proxy was delivered over HTTPS, thus we cannot trust the boolean value returned by "isSecure" method (or its deprecated equivalent - isSecureRequest()) when working behind the proxy.

Here is a possible fix:

Class: `Phalcon\Request`

[code]

What do you think?

Regards,
Sergey Rahmanchook

[2017-04-18 13:50] repli2dev commented on #12800
For our project I was forced to came up with an workaround... Following code seems to work:

[code]

[2017-04-20 06:34] stamster commented on #12799
[code]
https://docs.phalconphp.com/en/latest/api/Phalcon_Cache_Backend_Libmemcached.html

[2017-04-20 07:29] adhocore opened #12802 "Feature Request: Database Existence validator (similar to Uniqueness)"
Often we need to validate if given value is existing in certain column (attribute) of a table (model).

Most probably the validation logic can be mostly the same as for `Uniqueness`, except the comparison [here](https://github.com/phalcon/cphalcon/blob/master/phalcon/validation/validator/uniqueness.zep#L182) can be something like `> 0`

A possible usage scenario:

[code]

Thanks :)

[2017-04-20 14:30] mohamedziada opened #12803 "Uncaught Error: Access to undeclared static property: Phalcon\\Di::$_default"
It works fine with PHP 5.6 but when I upgrade to PHP7 this error happens

 Phalcon\\Di::$_default bootstrap_web.php.**
[code]
[code]

### Details
* Phalcon version:  3.1.2
* PHP Version:  PHP 7.0.15 (cli) (built: Feb 27 2017 23:58:56) (Zend Engine v3.0.0 ,with Zend OPcache v7.0.15,)
* Operating System: CentOS Linux release 7.3.1611 (Core)
* Installation type: Compiling from source
* Server:   Apac

[2017-04-20 18:25] garyrutland opened #12804 "Feature request: flash has message"
Hi,

Have a scenario where it would be useful where I could check if there are any flash messages set, possibly via `$this->flash->has($type = null);` with null being any message type.
As far as I can tell, there is nothing in place for that at the moment?

Thanks,
Gary

[2017-04-20 19:16] phil-directedge opened #12805 "Feature Request: Phalcon DB - Change Column (Rename)"
ORM currently supports:

    Phalcon\Db\Adapter::addColumn(...)
    Phalcon\Db\Adapter::modifyColumn(...)
    Phalcon\Db\Adapter::dropColumn(...)

ORM is currently missing the ability to change the column without using dialect specific SQL.

### Expected and Actual Behavior

Add ability to rename columns (and tables).

### Details

* Phalcon version: 3.1.1
* PHP Version: 7.1.4
* Other related info

[2017-04-20 21:23] sergeyklay commented on #12803
@mohamedziada Could you please provide script / steps to reproduce?

[2017-04-20 21:29] sergeyklay commented on #12799
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-04-20 21:29] #12799 closed

[2017-04-20 21:34] sergeyklay commented on #12779
I'll try to sort out. Thank you for pointing out

[2017-04-20 21:41] grigoriygithub commented on #12803
Something similar in #12056

[2017-04-20 21:53] sergeyklay commented on #12803
If @mohamedziada use Windows - yes

[2017-04-21 00:32] niden opened #12806 "ACL: dropResourceAccess does not drop access if list is string"
### Expected and Actual Behavior
When using `dropResourceAccess` with a string as the `accessList` parameter, the access is not properly removed.

[code]
### Details

* Phalcon version: (`php --ri phalcon`) 3.1.2
* PHP Version: (`php -v`) 7.0.15
* Operating System: xubuntu
* Installation type: Compiling from source || installing via package manager - Phalcon repo
* Zephir version (if any):
* Serve

[2017-04-21 06:36] hakimio commented on #12803
Can you reproduce with OPcache disabled? Do you use ApcMetaData?
Can you reproduce running test case provided by renatomjr: https://github.com/phalcon/cphalcon/issues/12056#issuecomment-243447917 ?

[2017-04-21 08:46] hakimio commented on #12803
ownCloud users are experiencing similar issue with PHP 7 on linux (openSUSE) too :
https://www.bountysource.com/issues/30829375-access-to-undeclared-static-property-oc-files-filesystem-normalizedpathcache
So, it might be possible that it's not only Windows issue.

[2017-04-21 10:24] Jurigag commented on #12803
@hakimio but this test case doesn't have phalcon calls so how it's phalcon issue?

[2017-04-21 10:48] hakimio commented on #12803
@Jurigag you put your Phalcon calls in your index.php .

[2017-04-21 11:09] Jurigag commented on #12803
I just never had this problem on debian 7/ubuntu 14 and php 7/5.6, this is really weird.

[2017-04-21 11:11] Jurigag commented on #12802
For this exact case you can use virtual foreignKey.

[2017-04-21 11:12] hakimio commented on #12803
This never happens on PHP 5.6. It's only PHP 7 issue. I guess, that's because they made some major changes to the way GC and static properties work in PHP 7.

It's easy to just blame the OS without investigating the issue.

[2017-04-21 11:16] Jurigag commented on #12803
Im not blaming the OS, im blaming apache.

[2017-04-21 11:21] Jurigag commented on #12056
The best will be if someone can do some vagran tbox/docker to reproduce issue. Maybe @sjinks could then do some digging to figure this out.

[2017-04-21 12:45] sergeyklay commented on #12056
@hakimio https://github.com/tideways/php-profiler-extension/pull/36

[2017-04-21 13:06] hakimio commented on #12056
@sergeyklay Your patch fixes "'PHP_SECURITY_FLAGS' is undefined" error when running configure script, but maybe you should just apply your fix to this repository?

[2017-04-21 13:28] sergeyklay commented on #12056
@hakimio Yes. But I don't yet have an exact understanding of why this is necessary. In fact, we use a different approach to build production ready DLLs. That's why we have no such problem.

[2017-04-21 15:28] ogarbe commented on #11999
perhaps the easiest way would be to look in di if the "serializer" dependency is defined and to use it, if not, use the existing version.

replace

[code]

by

[code]

and do the same for unserialize.

Is it ok for you ?

[2017-04-21 16:20] mohamedziada commented on #12803
@sergeyklay I use CentOS  7.3.1611 with compile Apache and PHP and Phalcon as above
Btw it works fine with ubuntu with same versions

 is not a good solutions as i use Phalcon for speed not to sleep :)
My scripts is

public/index.php
`<?php require '../app/bootstrap_web.php';`

* And files here in gist

[ https://gist.github.com/mohamedziada/b347247f40bd8f54e8e7717132c4965c
](url)

[2017-04-21 18:20] hakimio commented on #12803
The sleep() call was just for a simple test case. Solution is to run php-cgi.exe with fcgi+apache or nginx,

[2017-04-21 19:18] Daredzik commented on #12806
can you provide what's expect() return when you move
`expect($acl->isAllowed($role, $resource, 'update'))->true(); `
to line number 5 ?

[2017-04-21 20:04] Jurigag commented on #12806
It's just code for codeception test.

[2017-04-21 20:07] Daredzik commented on #12806
Yes i know it's a test case, but i want to get value from isAllowed before setting roles, resources ;)

[2017-04-21 20:10] Jurigag commented on #12806
@niden you sure it works when it's accessList in dropResourceAccess is array?

[2017-04-21 20:14] Jurigag commented on #12806
Well actually it doesn't work. `dropResourceAccess` do exactly what it tells, remove access from resource, it doesn't remove already created rules for roles for certain resources and accesses. If it should remove then i think this should be phalcon 4 change.

[2017-04-21 20:15] niden commented on #12806
Yes I believe so. I jsut have to run the tests first to ensure that it works as expected.

[2017-04-21 20:17] Daredzik commented on #12806
Problem is `dropResourceAccess` uses a `this->_accessList`, but `isAllowed` uses `this->_access` hover `allow` and `deny` methods use too `this->_access`. I'm correct ?

[2017-04-21 20:17] Jurigag commented on #12806
Well updated last answer, actually it doesn't work too.

[2017-04-22 16:13] adhocore commented on #12802
it is not really limited to foreign key though the example was one. with such validator one can check existence of any arbitrary value of any column. or is this still possible with virtual FK?

[2017-04-22 20:14] mohamedziada commented on #12803
@hakimio

no effect still the same error

[2017-04-22 20:18] hakimio commented on #12803
What??? Do you actually understand what I am saying?
I don't think so...

[2017-04-22 20:21] mohamedziada commented on #12803
@hakimio yes i try sleep() ; for test
i didn't use
"run php-cgi with fcgi+apache or nginx"
i can't change server settings right now

[2017-04-22 20:22] mohamedziada commented on #12803
@hakimio you can explain to me, maybe i understand wrong

[2017-04-22 20:30] hakimio commented on #12803
Ok, can you provide some virtual machine or docker image which can reproduce the issue?

[2017-04-22 20:46] mohamedziada commented on #12803
@hakimio this is wt i do now, Virtual Machine (vagrant) and will test, but it may takes time from me, cuz i am not in my office next a few days

[2017-04-24 11:52] Jurigag commented on #12802
Well i think you could use perhaps https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Validation/Validator/Db/Uniqueness.php

[2017-04-24 14:27] yasharrashedi commented on #12703
I tested this problem with a plain php file and a simple .htaccess file on wampserver 3.0.6
Windows 10
PHP Version 5.6.25

.htaccess contents
[code]
index.php content
[code]
http://localhost/mod_rewrite/test1/سلام
outputs:
[code]
http://localhost/mod_rewrite/test2/سلام
outputs:
[code]
http://localhost/mod_rewrite/test1/ABCabc123سلام
outputs:
[code]
http://localhost/mod_rewrite/test2/ABCabc123سلام

[2017-04-24 18:56] victorhramos opened #12810 "Backslash printed when use related model (ORM)"
### Expected and Actual Behavior
After an upgrade to phalcon 3.1.2 im having trouble with ORM. When i try to get related models a backslash is being outputed to my view.

My Controller:
![image](https://cloud.githubusercontent.com/assets/9410768/25353627/5201de24-2906-11e7-8d27-1bffd82aa32d.png)

My view:
![image](https://cloud.githubusercontent.com/assets/9410768/25353654/6d193a36-2906-11e7-8901-

[2017-04-25 07:08] piotrgolasz commented on #12779
This "feature" broke our dev environment. The temporary solution is to overwrite the merge method in PHP:
`class MyConfig Extends Phalcon\Config
{
    function __merge($config, $instance = null)
    {
        if (gettype($instance) !== 'object') {
            $instance = $this;
        }
        $number = $this->count($instance);

        foreach (get_object_vars($config) as $key => $value) {

[2017-04-25 10:38] efimBistrov commented on #524
+1

[2017-04-25 13:15] temuri416 commented on #12779
@piotrgolasz what makes you think it's a "feature"? hope you're being sarcastic :)

[2017-04-25 13:18] temuri416 commented on #12779
@sergeyklay

Do you know why this is happening? How could change in PHP minor version affect this, or is it something in Phalcon?

[2017-04-25 22:17] sergeyklay commented on #12779
@temuri416, @piotrgolasz Could you please try to compile Phalcon from master (v.3.1.2) by using ff769131f3751b590da702e3c7595411c07b0919 Zephir commit?

[2017-04-25 22:20] sergeyklay commented on #12810
@victorhramos
Could you please try to compile Phalcon from master (v3.1.2) by using ff769131f3751b590da702e3c7595411c07b0919 Zephir's commit?

[2017-04-25 22:22] sergeyklay commented on #12703
@yasharrashedi Good catch. Could you please send pull request to the [phalcon/docs](https://github.com/phalcon/docs)?

[2017-04-26 02:43] sjinks opened #12815 "CodeCeption MysqlTest fails with segmentation fault"
### Expected and Actual Behavior

[code]

[code]

### Details

* Phalcon version: (`php --ri phalcon`) 3.1.2
* PHP Version: (`php -v`) PHP 7.0.18 ZTS DEBUG
* Operating System: Ubuntu 16.10 x64
* Installation type: Compiling from source
* Zephir version (if any): Version 0.9.7-dbc0b339b4
* Server: cli

[2017-04-26 02:44] sjinks commented on #12815
[code]

[2017-04-26 02:54] sjinks commented on #12815
At that

[code]

works as expected.

[2017-04-26 09:17] yasharrashedi commented on #12703
@sergeyklay  let me test all possibilities and exceptions then send pull request to prevent future problems. I need a few days

[2017-04-26 09:27] sergeyklay commented on #12703
@yasharrashedi I think It is not mandatory to search for all possible all possibilities and exceptions. At least enough of one case to give users the idea

[2017-04-26 09:28] yasharrashedi commented on #12703
ok I'll do it soon

[2017-04-26 09:31] sergeyklay commented on #12815
Cc: @DavertMik

[2017-04-26 17:15] hengyu654 commented on #12056
If an web request have been started when another web request have not been finished and the two web request are in the same process, the problem will happen. It may be an thread-safe bug. Linux use the non-thread-safe version, this is why linux have no such problem. I think Phalcon\Di::_default may be compiled non-thread-safe.(All above is a guess)

[2017-04-26 18:15] hakimio commented on #12056
@hengyu654 it seems it can happen on linux too: https://github.com/phalcon/cphalcon/issues/12803

[2017-04-26 18:42] michanismus opened #12819 "Segmentation fault after switching to last zephir version `Phalcon\Http\Request::getLanguages()`"
### Expected and Actual Behavior

A segmentation fault is thrown for `Phalcon\Http\Request::getLanguages()`.
Broken tree (I guess) and all after... https://github.com/phalcon/zephir/tree/6607edf26d7974662de27c68d24553e4ee4def0c (Variable::isComplex())

For me the last working tree is
https://github.com/phalcon/zephir/tree/d5b5eca2c7522723c092d44e7a2eeaf17f13173d (Introduce alternative frames)

Can

[2017-04-26 19:32] yusufdamat opened #12820 "Centos 6.7 php-config is not installed"
How can i find this solution in vps server setup i am getting this error

[2017-04-26 19:35] michanismus commented on #11372
Introduced in 3.2.x branch.

[2017-04-26 19:35] #11372 closed

[2017-04-26 20:12] sergeyklay commented on #12820
yum install php-devel

[2017-04-26 20:12] #12820 closed

[2017-04-26 20:45] sergeyklay commented on #12819
@michanismus Did you try the commitsha ff769131f3751b590da702e3c7595411c07b0919? See current Phalcon's composer.json

[2017-04-26 20:45] sergeyklay commented on #12819
Cc: @sjinks

[2017-04-26 22:29] yusufdamat commented on #12820
[root@server ~]# yum install php-devel
Loaded plugins: fastestmirror, presto, priorities
Setting up Install Process
Loading mirror speeds from cached hostfile
 * base: mirrors.prometeus.net
 * extras: mirrors.prometeus.net
 * updates: mirrors.prometeus.net
Resolving Dependencies
--> Running transaction check
---> Package php-devel.x86_64 0:5.3.3-49.el6 will be installed
--> Processing Dependency:

[2017-04-27 02:05] dongasai opened #12824 "A question"
https://github.com/phalcon/cphalcon/blob/3.1.x/phalcon/dispatcher.zep#L599

Why not at this location to judgment, the return false for the continue while?

[2017-04-27 03:05] virgofx commented on #12824
Current documentation seems to have removed some of the event details. Old ones are here.

https://docs.phalconphp.com/en/master/reference/dispatching.html

Initialize is used a constructor equivalent throughout Phalcon in various components. It's used to perform one-time initialization of the class.

Please use issues for bugs only. Refer to the forums for questions.

[2017-04-27 03:05] #12824 closed

[2017-04-27 05:14] dongasai commented on #12824
I already know what it looks like, and I want to know why @virgofx .
Why "**_Can stop operation?_**"It is not.

[2017-04-27 05:31] sergeyklay commented on #12820
1. This issue is not relevant to the Phalcon
2. As I understand it you have PHP 5.3. Probably you need to install an older version of Phalcon. For example 1.3.x

[2017-04-27 06:43] michanismus commented on #12819
@sergeyklay `ff769131f3751b590da702e3c7595411c07b0919` works fine, no segfault.
@sjinks Latest commit still produces segfault

[2017-04-27 07:51] sjinks commented on #12819
@michanismus yes, I have identified the source of the segmentation fault but I have to wait until Travis fixes the issue with build logs :-(

[2017-04-27 07:54] sjinks commented on #12819
@michanismus could you please apply this patch (to the latest master) and check if the code works?

[code]

[2017-04-27 08:07] michanismus commented on #12819
@sjinks I'll try - give you an update within some minutes...

[2017-04-27 08:43] michanismus commented on #12819
@sjinks Nope - still segfault...

[2017-04-27 09:21] michanismus commented on #11427
@Jurigag The problem is the following. The magic __get function is lloking for a getter function, `getRoles` in this case, but the same function tries to access `$this->roles` which is a relation.
Now there is an infinite loop because the property does not exists because it is virtual and a relation.

[2017-04-27 11:43] sjinks commented on #12819
[code]

[2017-04-27 11:57] sjinks commented on #12819
@michanismus could you please try this one **in addition** to the previous one?

[code]

[2017-04-27 12:09] michanismus commented on #12819
@sjinks Both patches applied - no segfault anymore.

[2017-04-27 12:10] sjinks commented on #12819
OK, committing this fix to master then

[2017-04-27 12:11] michanismus commented on #12819
Ok, thanks! I close this issue...

[2017-04-27 12:11] #12819 closed

[2017-04-27 12:11] sjinks commented on #12819
phalcon/zephir#1527

[2017-04-27 13:17] Jurigag commented on #11427
No no, i mean why after adding method getRoles phalcon tries to call magic getter anyway when you call getRoles - or i don't get something?

[2017-04-27 13:20] yusufdamat commented on #12820
PHP Version 5.6.30
Centos 6.7
What do I have to do now and I hope to be able to run the system

[2017-04-27 13:21] michanismus commented on #11427
Thats exactly the problem - it is a relation, property `roles`does not exists, so the magic __get function is called and the magic function sees the getter function which is named getRoles... now the "magic" happens and it ends in an infinite loop.

I still think it is a very bad idea to look and call a getter/setter function automatically just for the fact it is there. I mean, if I want to use th

[2017-04-27 13:21] Jurigag commented on #12824
Because there is no check for false. Not sure why would you like to stop execution when initializing controller?

[2017-04-27 13:24] sergeyklay commented on #12820
Please do not use cphalcon repo as Google or forum

* [can't install php-devel on centos](http://stackoverflow.com/questions/12325109/cant-install-php-devel-on-centos)
* [Install php-devel centos](http://stackoverflow.com/questions/13147824/install-php-devel-centos)
* [How to install php-devel under CentOS](https://serverfault.com/questions/425841/how-to-install-php-devel-under-centos-6-3-x64)

[2017-04-27 13:24] Jurigag commented on #11427
Then if you want you to work like this you just need to add this property to your class if you want to access it and set it somewhere with getRelated.

[2017-04-27 13:26] dongasai commented on #12824
Here's what I thought:
In several events in the initialize attachment, such as "dispatch: afterInitialize", "dispatch: afterBinding", both provide the option to stop dispatch, but this location is not

[2017-04-27 13:27] michanismus commented on #11427
Thats right - it is just an example. I now use getRelated() all the time and never ever again access these relations like a object property `$model->relationName`.
My bigger concern are the automatically called getter/setter functions if they are there.
Magic __get and __set for relations, yes, but generally for attributes + relations = no.

Just my 2 cents ;)

I think we can close this issue anyw

[2017-04-27 13:27] virgofx commented on #12824
Initialize is constructor equivalent. It's type **void**. No return allowed.

[2017-04-27 13:28] sergeyklay commented on #12824
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-04-27 13:34] Jurigag commented on #11427
No it's not automitcall called - it's only called if there is no property defined and you have getter defined - then there is getter called.

[2017-04-27 13:34] michanismus commented on #11427
Maybe there should be an ORM setup and/or INI setting to enable/disable auto use of setter/getter in magic function __get/__set!?

What do you think?

[2017-04-27 13:49] Jurigag commented on #12802
Well it will check for uniqueness anyway, so i guess maybe it's needed this validator, bot not sure if in core, i think better in validator. In most cases the usage with it will be with FK to check existance of some other relation - and this can be done using vitual foreignkey.

[2017-04-27 13:53] michanismus commented on #11427
@Jurigag Take a look at the call stack and the functions I posted.
https://github.com/phalcon/cphalcon/issues/11427#issuecomment-185712199

The buggy `_possibleSetter` function was removed meanwhile. ;)
So I hope/guess it is not a problem anymore..
Issue was opened 14 month ago.

But my question is still relevant. What do you think about a setting for automatically called getter/setter methods in

[2017-04-27 14:00] Jurigag commented on #11427
If you don't have property added and have public setter/getter then when setting/getting non existing property then it should be using getter/setter for sure. Don't like to change it, not see reall why, because otherwise we would just simply need to produce exception - you mean want it like this?

[2017-04-27 14:08] michanismus commented on #11427
Yes/No :)

I think it would be the best probably to enable/disable the whole behavior.

If enabled, __get and __set is looking for getter/setter functions and call them if available, like it is handled right now.
Otherwise just throw an exception. Maybe enabled by default but possible to disable it via setup() or php ini.

For me it is still not logical to do this automatically. For defined model

[2017-04-27 14:12] Jurigag commented on #11427
Yea then i would agree - i have getters for everything so it could be quite nice to know if i have `__get` or `__set` used anywhere. For now im adding way to disable usage of setters for assign method which i use by save/create quite often - i have properties defined but it's using without need setters anyway. In next versions we could add the same for way to disable __get/__set for stuff not bein

[2017-04-27 14:15] michanismus commented on #11427
Sounds great! Thumb up therefor.
Just give the users the possibility to decide if they want to use it or not.

[2017-04-27 15:02] Jurigag commented on #12779
@temuri416 more likely in zephir.

[2017-04-28 08:27] f3l1x commented on #10890
Hi. It's outdated for me, so, I'm closing it. Thank you anyway. :-)

[2017-04-28 08:27] #10890 closed

[2017-04-28 09:13] 50bbx commented on #12056
Hi,
I'm using
**CentOS 7**
Apache/2.4.25 (Unix)
PHP/7.0.14
phalcon 3.1.2

added @renatomjr workaround, but still not working. Also, that workaround creates an empty DI (with no default services). So I tried a different workaround:

[code]

Still no luck in any case. Issue is still there.

[2017-04-28 09:21] hakimio commented on #12056
@50bbx
As noted by Jurigag, you have to either use php-cgi with apche and fcgi or nginx.

[2017-04-28 12:20] Jurigag opened #12827 "[4.0.0]Router enhancements and changes"
Well after some discussion we reverted my latest change to router to 3.2.x which is supposed to take advantage of router prefix to process routes faster. We decided to postpone this change to 4.0.0 with more changes to router. There is a list what i propose:

- delete `Phalcon\Mvc\Router\Group`, move necessary methods(like for example `setPrefix`, `setPaths`) to `Phalcon\Mvc\Router` and add `Phalc

[2017-04-28 22:03] efimBistrov commented on #12805
+1

[2017-04-29 06:23] michanismus commented on #12827
Sound good!

We could keep the router methods `get`, `post`etc. and call an internal create method in `Router`which will create a default `Router\Route` to keep shortcut methods and BC.

What do you think about droping the via method on `RouteInterface` and force method definition by constructor call.

[2017-04-29 06:29] michanismus commented on #12827
I would drop the route ID as well.

[2017-04-29 07:14] michanismus commented on #12827
Instead of storing multiple collection based on prefix, I would try to compute a prefix of each route after they are compiled. When iterating the routes in collection the first check is a strcmp of the prefix and skip the route if it did not match.
Maybe we should do a test to measure the differences between storing routes in different collections based on prefix or just check the prefix of a rout

[2017-04-29 08:09] Jurigag commented on #12827
So you mean instead of one big array with all routes store it like:

`prefix => collection object`?

[2017-04-29 08:44] michanismus commented on #12827
Thats the question :)
Store them all in one collection or separate them. But if we use a collection to store the routes, we shall add the `match` logic into collection.
Then we could use a flat collection or a collection which can handle prefixes internally.

I wrote a small test which will covers the find process based on prefix and without prefix. Here is the result:

[code]

And the script:

[c

[2017-04-29 21:30] Zaszczyk commented on #12201
I already use PHP implementation, probably it will help You:
[code]

[2017-04-30 16:52] jesseforrest opened #12829 "Dispatcher tries to camel case twice"
### Expected and Actual Behavior

The following line in the Dispatcher can cause the controller name to be incorrectly camel cased two times, which can cause routes to not work:
https://github.com/phalcon/cphalcon/blob/master/phalcon/dispatcher.zep#L781

For single word controllers (e.g. `User`) this is not a problem, but for multiple word controllers (e.g. `GiftCard`) it is.

The problem arises w

[2017-05-01 01:44] gamalan commented on #12326
I also happen to facing this, i think this is because the implementation of destroy between Adapter and RedisAdapter when destroying is totally different.
in adapter.zep
`public function destroy(boolean removeData = false) -> boolean`
but in redis.zep
`public function destroy(string sessionId = null) -> boolean`
and yet in the php stub,
`public function destroy($removeData = false)`
Can you tell w

[2017-05-01 01:48] gamalan commented on #12326
also, in both adapter.zep and libmemcached.zep, this is implemented in destroy function.

[code]

yet in memcache.zep and redis.zep, this is not implemented.

[2017-05-01 03:41] gamalan opened #12830 "FindFirst irregular return"
Continuing my question in forum. [https://forum.phalconphp.com/discussion/16031/ask-findfirst-sometimes-return-stdclass](url)

### Expected and Actual Behavior
Expected, Model::FindFirst() normally should return Model if found and false if not.
Actual, happen irregularly, and in only 2 model. All model is using same base class. Sometimes it return stdClass which is not Model or ResultSet, and don'

[2017-05-01 09:00] Jurigag commented on #12830
Need script to reproduce, post full code of your model, controller, schema etc

[2017-05-01 12:13] huoybb commented on #12056
install fcgi on apache and setup like below would sovle this problem

`LoadModule php7_module "${INSTALL_DIR}/bin/php/php7.1.4/php7apache2_4.dll"

LoadModule fcgid_module modules/mod_fcgid.so

<IfModule fcgid_module>
        FcgidInitialEnv PHPRC "${INSTALL_DIR}/bin/apache/apache2.4.25/bin"
        FcgidInitialEnv PHP_FCGI_MAX_REQUESTS     1000
        FcgidMaxRequestsPerProcess       			1000

[2017-05-01 14:18] gamalan commented on #12830
I call the update method in my controller but it doesn't exist, hence the stack trace. Here is the code(Not full, but part of it).

[code]

[code]

[code]

[code]

[2017-05-01 15:28] Jurigag commented on #12830
Table schema is need too, also best will be to create some repo to reproduce a problem.

[2017-05-01 18:22] jellisii opened #12831 "Feature request: Attributes in addition to classes on flash messages."
I'd like to be able to put attributes onto the divs that get rendered in flash elements.  Currently there's no obvious way to do that.

I started looking at doing a PR for this, but found the following in phalcon/flash.zep, starting with line 224.

[code]
The way I envision this working was to set an array for each level, the first element being classes, the second being an attribute string. Since

[2017-05-01 21:08] sergeyklay commented on #12326
@gamalan I'll try to sort out asap

[2017-05-01 21:25] nsossonko opened #12832 "modifyColumn on postgres different than mysql"
Modifying a column's size/scale is impossible in postgres since it won't detect a change in the type. In the postgres dialect there are checks that the currentColumn is different than the proposed column and only then is the sql generated, but it does not take into account the size/scale parts.

[code]
### Details

* Phalcon version: 3.0.3/3.0.4
* PHP Version: 7.0.15
* Operating System: Windows/Li

[2017-05-01 21:26] nsossonko commented on #12832
Also, this causes the referenceType system to not work correctly because there's no referenceType set when using describeColumns. In general, I think that should be changed to always storing the Column constant in type and using 'actualType' for the underlying sql type. Then that can be stored correctly for all dbs and proper modification of columns can be made.

[2017-05-01 22:31] stamster commented on #12025
**PHP 5: Active Support Ends. Now what?**

Sooner or later new versions of frameworks, components, and tools will no longer support PHP 5. Here is a list of popular projects for which I was able to find information on PHP 5 support:

    NEOS 3.0 will be released in January 2017 and will not support PHP 5

    PHPUnit 6.0 will be released in February 2017 and will not support PHP 5

    TYPO3 8 LT

[2017-05-01 22:38] dschissler commented on #12025
@stamster The only problem with this argument is that PHP 7.0 has the same EOL as PHP 5.6 and few would suggest to drop PHP 7.0 support just because of that.  Additionally most distros are inheriting code from Redhat or Debian and these distros are continuing to support PHP for quite a long time after the official PHP teams have stopped fixing serious issues.  So I just think that PHP 5 should be

[2017-05-01 23:07] niden commented on #12025
The team has not fully discussed this but I think Phalcon 4 should drop support for PHP5. We cannot do the same with Phalcon 3 because it is LTS.

[2017-05-02 07:43] sergeyklay opened #12833 "Standardize the session interface"
The implementation of `destroy` between `Phalcon\Session\Adapter` and `Phalcon\Session\Adapter\*` when destroying is totally different. For example:

**`Phalcon\Session\Adapter`**:
[code]

**`Phalcon\Session\Adapter\Redis`**:
[code]

[**`SessionHandlerInterface`**](http://php.net/manual/en/sessionhandlerinterface.destroy.php):

[code]

I propose to refactor:
- [ ] **`Phalcon\Session\AdapterInterfa

[2017-05-02 07:46] sergeyklay commented on #12326
@gamalan https://github.com/phalcon/cphalcon/issues/12833

[2017-05-02 07:53] rianorie commented on #12833
+1ed - I believe consistency is key, any change that will promote that has my vote.

[2017-05-02 09:22] linxlad commented on #12833
I use Aerospike, worth checking if that needs a refactor :)

[2017-05-02 11:20] feiyu1993 opened #12835 "when session stored in redis,the session destory has a bug"
### when session stored in redis , delete a wrong redis key

[code]
### Details

the id should be _PHCR+prefix+id

[2017-05-02 11:36] sergeyklay commented on #12835
https://github.com/phalcon/cphalcon/issues/12326

[2017-05-02 11:36] #12835 closed

[2017-05-02 12:24] niden commented on #12833
Absolutely yes

We need to be consistent in all interfaces, all implementations of adapters. This has to be refactored and introduced in 4.x version.

[code]
It will :
* if `null` it will destroy the current `sessionId`
* remove a particular `sessionId`

If successful returns `true`. If not `false` or if the `sessionId` was not found `false` again.

[2017-05-02 12:27] linxlad commented on #12833
Also no underscored variables in any interfaces or in general :(

[2017-05-02 12:30] Jurigag commented on #12833
You mean in methods body? @linxlad yea i agree. But underscored properties should remain - simply to give people option to add their own property for example like `$name` and we should use property `_name` imho.

[2017-05-02 12:37] sergeyklay commented on #12833
@linxlad This is different issue, not related to the session

[2017-05-02 12:42] linxlad commented on #12833
@sergeyklay I know, I just turned into an annoying PSR-2 warrior lol

[2017-05-02 13:21] virgofx commented on #12833
👍

[2017-05-02 21:58] salva-flores commented on #12803
I got the same issue after upgrading to PHP 7.1.1 and phalcon 3.1.2.

[2017-05-02 23:20] Jurigag commented on #12803
- @salva-flores as already mentioned in many places, use php-fpm

[2017-05-06 00:51] linxlad opened #12836 "Response setHeaders overwrites setContentType"
Reponse `setHeaders` is scrubbing `setContentType`.

### Expected and Actual Behavior

**Expected:**
I expected the `reponse->setHeaders` to merge with what was already in headers.

**Actual :**
I had `response->setContentType('application/json')` before `response->setHeaders`. The result meant I was losing the desired content type and it was reverting back to `text/html`.

**Working:**
[code]

**

[2017-05-06 00:57] dschissler commented on #12836
I recommend that this be added to the Phalcon 4 milestone with merging on by default.  If it is added in Phalcon 3 then merging will need to be off by default.  It can be currently worked around by extending the Response class and calling `getHeaders` in `setHeaders`.

[2017-05-06 01:11] dschissler commented on #12833
I'm not understanding why the new standard interface doesn't allow a default argument for the session id: `public function destroy ( string $session_id ) : bool`.

[2017-05-06 01:13] dschissler commented on #12833
It seems like that the way the signature is working it should be a static method, but its not.  I'm not familiar with most of the adapter backends but it seems like the interface is so overly general that it will be annoying in the most simple cases.

[2017-05-06 07:14] sergeyklay commented on #12833
@dschissler What do you mean? Could you please explain a bit more?

[2017-05-06 08:25] dschissler commented on #12833
So in `Phalcon\Session\Adapter\Files` the object will already know what the session id, probably as a protected variable in the class.  However then to tear down the session you need to specify the session id in the `destroy` method.  Doesn't that seem weird?

[2017-05-08 06:14] Jurigag commented on #12836
@linxlad

Well not sure what you exactly do further but `$this->response->setContentType('application/json', 'UTF-8');` is most likely not needed just do:

[code]

[2017-05-08 12:39] sergeyklay commented on #12669
Fixed in the 3.2.x branch

[2017-05-08 12:39] #12669 closed

[2017-05-09 06:13] cyberhck opened #12839 "issue in phalcon extension (MysqlAdapter)"
I've got a Phalcon project which works well on my local machine (docker in a ubuntu machine).

For production, we're using Phalcon in a Debian based docker container. It's a XEN server with docker installed, after hours of debugging, I narrowed down problem to an Adapter.

I wrote this test script to reproduce this issue on our server (but works fine on my machine):
[code]
Now when I run this code

[2017-05-09 06:23] michanismus commented on #12839
You should attach the debug trace from dumped core.

[2017-05-09 06:28] cyberhck commented on #12839
@michanismus where do I find the dumped core?

[2017-05-09 06:33] michanismus commented on #12839
Take a look at `/tmp`. There should be one or multiple dumped core files.
Take a look (Reading the core dumps): https://ma.ttias.be/generate-php-core-dumps-segfaults-php-fpm/

[2017-05-09 06:57] Jurigag commented on #12839
Isn't illegal instruction something about using wrong `phalcon.so`?

[2017-05-09 07:11] cyberhck commented on #12839
@michanismus I couldn't do that, it's in a docker, and my host machine's kernel doesn't allow me to do that, and now I've no idea how to get the core files.

[2017-05-09 10:42] swen100 opened #12840 "\Phalcon\Mvc\Model::find/findFirst/findBy() searches within wrong schema/database"
Hi,

I have a model-class in which I can set the source and database/schema dynamically. So I am able to switch the schema without having to create a separate definition for each model.

### Maschine-Details

* Phalcon version: 3.1.1
* PHP Version: 7.0.17
* Operating System: Windows
* Installation type: php-extension downloaded from phalconphp.com
* Zephir version: Version 0.9.6a-dev-3a72ba9bb5
*

[2017-05-09 11:06] Jurigag commented on #12840
Well it's only problem with find/findfirst looks like:

[code]

[code]

[2017-05-09 11:20] Jurigag commented on #12840
Actually it's PHQL caching problem, doing `Model\Query::clean();` after query fixes an issue.

@sjinks @sergeyklay any idea how to fix it while still having phql caching?

[2017-05-09 11:23] Jurigag commented on #12840
Well i guess https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/query.zep#L2440

Here uniqueId should takie into account database name?

[2017-05-09 11:35] Jurigag commented on #12840
Though is parsing whole PHQL for different database even needed? Maybe we could somehow handle it in more "dirty" way?

[2017-05-09 14:30] n0nag0n commented on #11464
Just a heads up, I used phalcon-devtools to create my model for me, and in 3.1.2 it used `use Phalcon\Mvc\Model\Validator\Email as EmailValidator;` instead of `use Phalcon\Validation\Validator\Email as EmailValidator;` This method seems like devtools created it right though.
[code]

[2017-05-09 15:42] Jurigag commented on #11464
` 'model'   => $this,` this is not needed, really devtools generate it with this? Needs to fix @sergeyklay

Didn't someone fix this issue? already on latest devtools? You use latest devtools? @n0nag0n

[2017-05-09 15:44] n0nag0n commented on #11464
@Jurigag Yup, I used devtools 3.1.2 to create it. I'm new to Phalcon so I rely heavily on dev tools to set things up right.

[2017-05-10 16:37] tztztztz opened #12842 "Wrong metadata data types for PostgreSQL DB"
Method \Phalcon\Mvc\Model\MetaData::getDataTypes is returning wrong datatype for PostgreSQL database and column types double precision and real.

It is returning 2 which wrongly corresponding to \Phalcon\Db\Column ::TYPE_VARCHAR instead of respectively: \Phalcon\Db\Column::TYPE_DOUBLE for double precision and \Phalcon\Db\Column::TYPE_FLOAT for real.

Example dump of print_r of array returned by ge

[2017-05-11 02:33] cyberhck commented on #12839
@Jurigag , it's a docker image, built at travis, pulled in our server, running same OS, that doesn't sound like running wrong `phalcon.so` to me, If that were to be the case, `xdebug.so` wouldn't work either :)

[2017-05-11 08:03] slechtic commented on #10818
Is it fixed in version 3.x ?

[2017-05-11 09:48] msdme opened #12843 "Remove View from Depedency Injector or Using Phalcon Devtools + Migration in Micro"
Hi,
I'm not using micro to create restfull API, because I want to use phalcon devtools and migrations. But when I disable view from depedency injector, it seems phalcon require it mandatory.
So, how can I disable view from depedency injector safely ? Or, can I use phalcon devtools and migration in phalcon micro?

[2017-05-11 12:43] michanismus commented on #12843
Thats quite simple. Just create an event listener for the event `application:boot`

[code]

[2017-05-11 14:00] sergeyklay commented on #12843
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-05-11 14:00] #12843 closed

[2017-05-12 14:19] n0nag0n opened #12844 "Volt length filter returns 0 on object"
Hey there,

This was pretty simple I thought, but didn't understand why it was working this way. I'm running Phalcon 3.1.2 and when I run this code.....

[code]

`user|length` always returns 0. So I ran `user|json_encode` and there is indeed a loaded object getting ran through json_encode there with a bunch of values, but it just returns 0 for the length and makes me sad :(. I know I can just run`

[2017-05-13 15:03] Akhundzade opened #12846 "Volt parser embedding block error"
There is an issue when I have a keyword which is called as 'block' in my loops. Parser thinks that it's embedding block and throws an error:

Embedding blocks into other blocks is not supported in
[code]

Source code for reproduce:
**base.volt**
[code]

**child.volt**
[code]

Even if I change block to something else in one place, parser still throws error:
[code]

So the working example looks like

[2017-05-13 15:59] sergeyklay commented on #12846
It is not issue. As you can see error message:

Refs: https://github.com/phalcon/cphalcon/issues/329

[2017-05-13 16:03] Akhundzade commented on #12846
@sergeyklay But it's not a block.
Please read message carefully – I mention that my object has property which is called 'block'. And in this case parser thinks that it's part of block system.

// In russian, will be removed
Сергей, у меня есть класс со свойством "block". Это алиас на relation к другой модели. При попытке прокрутить его в цикле, возникает такая ошибка. На мой взгляд это именно ошиб

[2017-05-13 16:06] sergeyklay commented on #12846
Oh yeah, I see.

[2017-05-14 07:15] sunchuo opened #12848 "Phalcon\Mvc\Url"
[code]

### Details

Phalcon DevTools (3.2.0 ALPHA 1)

Environment:
  OS: Linux localhost.localdomain 3.10.0-327.36.3.el7.x86_64 #1 SMP Mon Oct 24 16:09:20 UTC 2016 x86_64
  PHP Version: 7.1.4
  PHP SAPI: cli
  PHP Bin: /usr/local/php/bin/php
  PHP Extension Dir: /usr/local/php/lib/php/extensions/no-debug-non-zts-20160303
  PHP Bin Dir: /usr/local/php/bin
  Loaded PHP config: /usr/local/php/etc/ph

[2017-05-15 14:52] yesworld commented on #11605
Why doesn't work this code?

[code]
I get an error:
Syntax error, unexpected token ), near to ' as test_column FROM Models\Story', when parsing: SELECT id,( SELECT 1 ) as test_column FROM Models\Story

[2017-05-15 14:59] yesworld opened #12850 "SQL Query parser error. [3.0.0]"
Why doesn't work this code?

[code]
I get an error:
[code]

Phalcon ver 3.0.0

[2017-05-15 16:48] Jurigag commented on #12850
I guess PHQL always exepect after SELECT statement FROM part, just do `1 as test_column`

[2017-05-16 13:46] wagood commented on #12056
Configuration for OpenServer HTTP Apache-PHP7 module
`LoadModule fcgid_module modules/mod_fcgid.so
<IfModule fcgid_module>
        FcgidInitialEnv PHPRC "%sprogdir%/modules/php/%phpdriver%"
        FcgidInitialEnv PHP_FCGI_MAX_REQUESTS     1000
        FcgidMaxRequestsPerProcess                  1000
        FcgidMaxProcesses                           15
        FcgidIOTimeout

[2017-05-17 13:18] Jurigag opened #12853 "Set custom properties for assign method"
Currently `Phalcon\Mvc\Model::assign()` sets in model properties which are mapped to database, which exist on columnMap, i would suggest to something like:

[code]

And then using save/assign/create when having data with those keys it will properly set them in assign method in model, right now you need to override assign and add checks for those keys and set those properties manually.

[2017-05-17 13:42] vleboulanger commented on #12258
@makerlabs Hi, I have the same problem. Can you share me your solution? Thanks

[2017-05-18 14:47] Jurigag commented on #12853
It's also i think should take those fields into account when doing toArray.

[2017-05-18 18:15] jhonatasrein opened #12854 "Problems on Phalcon DB Adapters generating errors on migrations"
I am try run migrations with devtools, but the SQL generated by phalcon many has errors of syntax, like follow below:
I have yet problems with Column type ENUM on created class by devtools and phalcon and others...
My errors:

On create below the problem is "DOUBLE(10) NOT NULL", in the Mysql the correct syntax is: DOUBLE NOT NULL
[code]

In this case the devtools are applying alter table in the c

[2017-05-18 18:16] Jurigag commented on #12854
Could you post any steps to reproduce this error?

[2017-05-19 20:19] jhonatasrein commented on #12854
Hi, to reproduce this problems and others do you need restore the file "database-FromMigrate.sql" and create classes from this database "teste", after the class of migrations created do you need run migration to another database "bmq".
If you do that you can see many errors generated in devtools.

[databases.zip](https://github.com/phalcon/cphalcon/files/1015459/databases.zip)

[2017-05-19 23:35] luguiant opened #12855 "fix invo security plugin persistent acl"
buenas noches a todos, disculpen que escriba en español (mi lenguaje nativo), tengo una web con dos implementación phalcon diferentes, las dos en la estructura invo, y el security plugin me dio problemas.

encontré una solución muy artesanal para esto;

[code]

ustedes que opinan de esto, pese a que soy el autor de esta solución, para mi es muy artesanal pese a que funciona.

[2017-05-20 09:14] Jurigag commented on #12855
Could you use english please? Anyone can translate this?

[2017-05-20 12:57] luguiant commented on #12855
When you have two projects phalcon invo in the same application, the acl security plugin can generate a conflict by acl persistence, the solution is to put the persistence in null at the end, give unset to persistence and invoke again The getAcl () function, in the current project I'm working on, has two phalcon components which had conflict with the acl persistence of the security plugin, can sol

[2017-05-20 15:07] sergeyklay commented on #12855
@andresgutierrez Could you please help with translation

[2017-05-20 20:25] gtux commented on #12798
I think I know the answer, the param must to be there because memcache extends Backend, and Backend implements BackendInterface, on that interface the method "exists" requires a lifetime param.

Checking the another classes that extends on Backend only the File backend uses the lifetime param.

[2017-05-21 10:54] sergeyklay commented on #12417
Implemented in the `3.2.x` branch.

[2017-05-21 10:54] #12417 closed

[2017-05-21 12:51] sergeyklay commented on #12105
Implemented in the `3.2.x` branch

[2017-05-21 12:51] #12105 closed

[2017-05-22 05:07] sergeyklay commented on #12855
@luguiant What kind of issue do you face. Could you please explain a bit more.

[2017-05-22 12:43] luguiant commented on #12855
I have two applications phalcon invo, working on the same project, the two presented an intermittent operation, when I was going from functionalities between one and the other, ie when I passed to phalcon A from phalcon B, phalcon A did not work and bisverse, The problem was in the security plugin, persistence validation was the root of the problem, when phalcon was passed from B to phalcon A the

[2017-05-22 12:45] Vaibs commented on #1839
I didnt get, If looking to test for XSS then this may help http://www.iseebug.com/test-xss-online/

[2017-05-22 14:53] andresgutierrez commented on #12855
@luguiant You should set a different unique prefix for every application so their values won't get mixed after using one or another.

Take a look at: https://docs.phalconphp.com/en/latest/reference/session.html#isolating-session-data-between-applications

[2017-05-23 06:19] #12855 closed

[2017-05-23 06:21] #12850 closed

[2017-05-24 13:58] tahirshoukat commented on #11464
<?php

namespace Store\Toys;

use Phalcon\Mvc\Model;
use Phalcon\Mvc\Model\Message;
use Phalcon\Mvc\Model\Validator\Uniqueness as UniquenessValidator;
use Phalcon\Mvc\Model\Validator\InclusionIn;
use Phalcon\Validation;
use Phalcon\Validation\Validator\Email as EmailValidator;
use Phalcon\Validation\Validator\PresenceOf;

class user extends Model
{
    public function validation()
    {
        $v

[2017-05-24 13:59] tahirshoukat commented on #11464
Still got error !!
Uncaught TypeError: Argument 2 passed to Phalcon\Validation::add() must implement interface Phalcon\Validation\ValidatorInterface, instance of Phalcon\Mvc\Model\Validator\Uniqueness given in F:\xampp\htdocs\phalcon-api\models\user.php:26
[validation.txt](https://github.com/phalcon/cphalcon/files/1025770/validation.txt)

[2017-05-24 14:04] tahirshoukat commented on #11464
<?php

namespace Store\Toys;

use Phalcon\Mvc\Model;
use Phalcon\Mvc\Model\Message;
use Phalcon\Mvc\Model\Validator\Uniqueness as UniquenessValidator;
use Phalcon\Mvc\Model\Validator\InclusionIn;
use Phalcon\Validation;
use Phalcon\Validation\Validator\Email as EmailValidator;
use Phalcon\Validation\Validator\PresenceOf;

class user extends Model
{
    public function validation()
    {
        $v

[2017-05-24 14:28] tahirshoukat commented on #11464
<?php

namespace Store\Toys;

use Phalcon\Mvc\Model;
use Phalcon\Mvc\Model\Message;
use Phalcon\Mvc\Model\Validator\Uniqueness as UniquenessValidator;
use Phalcon\Mvc\Model\Validator\InclusionIn;
use Phalcon\Validation;
use Phalcon\Validation\Validator\Email as EmailValidator;
use Phalcon\Validation\Validator\PresenceOf;

class user extends Model
{
    public function validation()
    {
        $v

[2017-05-24 14:34] tahirshoukat commented on #11464
Still got error !!
Uncaught TypeError: Argument 2 passed to Phalcon\Validation::add() must implement interface Phalcon\Validation\ValidatorInterface, instance of Phalcon\Mvc\Model\Validator\Uniqueness given in F:\xampp\htdocs\phalcon-api\models\user.php:26
[validation.txt](https://github.com/phalcon/cphalcon/files/1025914/validation.txt)

[2017-05-24 14:35] Jurigag commented on #11464
`Phalcon\Mvc\Model\Validator\Uniqueness` you must use `Phalcon\Validation\Validator\Uniqueness`

@sergeyklay please lock discussion.

[2017-05-24 14:37] tahirshoukat commented on #11464
Yes ! i got it Thanks :)

[2017-05-26 20:02] incubux opened #12863 "¿how set model instance on controller contructor?"
class IndexController extends \Phalcon\Mvc\Controller
{

    public $m_index;
    public function onConstruct()
    {
        $this->$m_index = new M_index;
    }

    public function indexAction()
    {
        $this->view->render("", "login");
    }

        public function consultaAction()
    {
        $this->$m_index->m_consulta();
    }
}

show this message:
Notice: Undefined variable: m_ind

[2017-05-26 20:03] Ultimater commented on #12863
`$this->$m_index` != `$this->m_index`

[2017-05-26 20:04] Jurigag commented on #12863
Use forum for questions. @sergeyklay close it

[2017-05-26 20:04] incubux commented on #12863
correction:
$this->$m_index = new M_index();
show same error

[2017-05-26 20:06] incubux commented on #12863
Every step that I give as insignificant as it is, I delay until one day in solving it, it is a very sturdy framework, but it is difficult to get it going.

[2017-05-26 20:07] Jurigag commented on #12863
But the problem is not framework, the problem is that you don't even use basic php standards, first learn php, then start using framework

http://www.phptherightway.com
http://php.net/manual/en/

[2017-05-26 20:09] incubux commented on #12863
In php always instantiates models from the constructor, even in other frameworks, but phalcon does not allow it

[2017-05-26 20:11] Jurigag commented on #12863
Phalcon allow it too, the problem is you don't even know what this error mean and what's your problem, just toally forgot about framework for now, go to basics, php doc and phptherightway, read it, and go to some basic code, like defining variables, creating your own classes etc without any framework.

[2017-05-26 20:11] david-duncan commented on #12863
@incubux your problem is bad php syntax, not the framework. You are using a variable variable..

[2017-05-26 20:22] incubux commented on #12863
¿how set model instance on controller contructor?

[2017-05-26 20:30] incubux commented on #12863
I will look for another framework, as I see, forums and tutorials are more than 2 years and many questions just like stupid to mine, maybe because of that the community activity in this framework is smaller compared to other frameworks, I think You have to be an incredibly intelligent being like Jurigag to use phalcon, there are few privileged ones, thanks for your time and sorry for the inconveni

[2017-05-26 20:34] Jurigag commented on #12863
You know you will do same mistake in other framework, right?

[2017-05-26 20:37] niden commented on #12863
@incubux change your code like this:

[code]

[2017-05-26 20:39] Jurigag commented on #12863
If you would ask this question on stackoverflow or forum i would really answer it, but i guess on stack it would get like -10 points instantly.

[2017-05-26 20:44] #12863 closed

[2017-05-26 21:01] Jurigag opened #12864 "[NFR]Collection paginator"
Add paginator adapter for using with `Phalcon\Mvc\Collection`:

[code]

[2017-05-26 21:05] incubux opened #12865 "¿how set model instance on controller contructor? Gratitude"
Thank you for responding, indeed my error was in $ this -> $ index, very common mistake, thank you niden, God pay you, ultimater and david-duncan thank you very much for your time, your majesty jurigag, sorry for the inconvenience, do not stress for I will not bother you again here.

[2017-05-26 21:10] niden commented on #12865
@incubux it will be easier to get replies in our forum (https://phalcon.link/forum) or even our discord server (https://phalcon.link/discord).

Let us know if you need anything else.

[2017-05-26 21:10] #12865 closed

[2017-05-29 06:30] derekang commented on #12864
thanks for adding this feature request. :)

[2017-05-29 11:59] cottton commented on #11519
Having this problem only on calling `ResultSet\Simple::toArray` **directly** after `::find`.

If im getting a simple result set by `::find` and directly call `::toArray`
then `::afterFetch` never gets triggerd.

But if im using an empty `foreach($collection as $item)` then `::afterFetch` gets triggered for all items.

`::find($params)->setHydrateMode(Simple::HYDRATE_RECORDS)` also works.
But i can

[2017-05-29 12:06] Jurigag commented on #11519
It's correct behavior. afterFetch just don't get fired on find.

[2017-05-29 12:57] cottton commented on #11519
Ok. But shouldnt `::toArray` trigger it - i mean it actually has to get|fetch the entity to be able to return an array.

I tried a bit and atm i see only this solution:

    use Phalcon\Mvc\Model;

    # CREATE TABLE test (id int UNSIGNED AUTO_INCREMENT PRIMARY KEY);
    class Test extends Model
    {
        public $id;

        public function afterFetch()
        {
            var_dump(__FUNCTI

[2017-05-29 13:02] Jurigag commented on #11519
No it shouldn't beacause you are using toArray on resultset - this is done like this to avoid overhead exactly with hydration, calling afterFetch on all records.

[2017-05-31 09:07] hafah opened #12867 "[NFR] UNION ALL"
### Missing UNION ALL for PHQL

I don't see a UNION or UNION_ALL in

`ext/phalcon/mvc/model/query/parser.c`

[code]

### Details

* Phalcon version: (`3.1.2`)
* PHP Version: (`7.0.15`)
* Operating System: Ubuntu 16.04
* Installation type: apt-get phalcon
* Zephir version (0.9.7):
* Server: Nginx
* Database type: Mysql 5.7.18

[2017-05-31 10:53] denzyldick commented on #12867
Did you try using the rawSql method https://docs.phalconphp.com/en/3.0.1/reference/phql.html#using-raw-sql

[2017-05-31 12:57] Jurigag commented on #12867
PHQL doesn't support UNION.

[2017-05-31 13:27] hafah commented on #12867
@denzyldick

Thanks, but I'd rather use PHQL.

@jurigag

Isn't it possible for PHQL to support UNION, because I'm asking for Feature Request. 😀

[2017-05-31 22:13] Jurigag commented on #12867
https://github.com/phalcon/cphalcon/issues/2882

[2017-05-31 22:24] #12867 closed

[2017-06-01 09:51] odat opened #12868 "Model after save id becomes 0 (phalcon 3.1.2-2)"
Hello,

i get id zero after use model->save()

example :

            $photos = new Photos();
            $photos->name = $sGenerateName;
            $photos->size = $file->getSize();
            $photos->save() ;
           var_dump($photos->id) ;   // i get string '0' (length=1)

[2017-06-01 10:32] derekang commented on #12864
just checking, when is the expected update for this. :)

[2017-06-01 11:42] mzf commented on #12868
`id` field is autoincrement?

[2017-06-01 12:09] odat commented on #12868
yes of course, and it's fine on the tables but when i printed it after save() method i get 0

[2017-06-01 13:53] sergeyklay commented on #12868
@Jurigag Could you please take a look

[2017-06-01 14:05] sergeyklay commented on #12864
We plan to release 3.2.0 asap. So, it seems in 4.0.0

[2017-06-01 14:46] sergeyklay commented on #12326
[Fixed](https://github.com/phalcon/cphalcon/pull/12838) in the `3.2.x` branch. Feel free to open new issue if the problem appears again. Thank you for contributing.

[2017-06-01 14:46] #12326 closed

[2017-06-01 17:28] Jurigag commented on #12868
Weird, not sure what happens here. What `$metaData->getIdentityField($photos)` return?

[2017-06-01 19:21] Jurigag commented on #12864
Maybe will be added to incubator first after 3.2.0 release and if we won't have any plans to release 3.3.0, will see.

[2017-06-02 12:07] odat commented on #12868
@Jurigag i get (id)

`string 'id' (length=2)`

[2017-06-02 12:19] Jurigag commented on #12868
Then idk, settings this identity field is pretty straight forward, maybe it's somehow retruned from database like this? Maybe try to clear metadata if it's in some cache?

[2017-06-02 14:01] sergeyklay commented on #10938
Implemented in 3.2.x branch.

[2017-06-02 14:01] #10938 closed

[2017-06-02 22:17] sergeyklay commented on #11751
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-06-02 22:17] #11751 closed

[2017-06-03 06:11] gshyam007 opened #12871 "( ! ) Fatal error: Access to undeclared static property: person::$this in"
[code]

[2017-06-03 07:07] sergeyklay commented on #12871
We only accept bug reports related to the Phalcon, new feature requests and pull requests in GitHub. For questions regarding the usage of the PHP language, PHP syntax, and questions like this please visit the [official PHP site](http://php.net/manual/kr/keyword.parent.php).

[2017-06-03 07:07] #12871 closed

[2017-06-03 15:52] LearnPhalcon opened #12874 "MongoDB Delete Not Working"
Software Used:
  + PHP 7.1.5
  + Phalcon 3.1.2
  + MongoDB 3.4.3

Using this MongoDB incubator adapter from;
https://github.com/phalcon/incubator/tree/master/Library/Phalcon/Db/Adapter

I was able to use `find()` `findFirst()` `save()` for create/update.
But when I try using **`delete()`** I receive an error.

Bootsrap File Code:
[code]

Robots Model Code:
[code]

Code Example Used:
[code]

Backtr

[2017-06-03 19:07] sergeyklay commented on #12874
It is not Phalcon issue. Could you please create docs related issues in the [appropriate repository](https://github.com/phalcon/incubator)?

[2017-06-03 19:07] #12874 closed

[2017-06-04 01:55] pfz commented on #12197
Up. Has anyone the same problem ? Still on with 3.2.0a

[2017-06-05 09:41] leslie5803 opened #12879 "should findfirst can be like find return an empty array when the query mathes null"
if i want to find a user:
`$user = User::findFirstById(3);`
but in mysql, this user isn't exists,now the user is false; if i use
`$user->toArray()`
there will throw an error,should findfirst can be like find return an empty array when the query mathes null

[2017-06-05 11:00] #11409 closed

[2017-06-05 11:00] sergeyklay commented on #2008
Fixed in the `3.2.x branch`. Feel free to open new issue if the problem appears again. Thank you for contributing.

[2017-06-05 11:00] #2008 closed

[2017-06-05 12:57] sergeyklay commented on #12879
Actually the `find` method acts as the collection's find. Eg. gets all items matched the criteria. So collection can be empty (array).

However the `findFirst` tries to get an entity but the entity can't be empty (array).

[2017-06-05 12:57] #12879 closed

[2017-06-05 13:50] sergeyklay commented on #12736
Fixed in the `3.2.x branch`. Feel free to open new issue if the problem appears again. Thank you for contributing.

[2017-06-05 13:50] #12736 closed

[2017-06-05 17:28] sergeyklay commented on #2494
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises.

[2017-06-05 17:28] #2494 closed

[2017-06-05 19:53] sergeyklay commented on #476
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-06-05 19:53] #476 closed

[2017-06-05 19:57] sergeyklay commented on #618
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-06-05 19:57] #618 closed

[2017-06-05 19:59] sergeyklay commented on #534
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-05 19:59] #534 closed

[2017-06-05 20:02] #1184 closed

[2017-06-05 20:04] sergeyklay commented on #809
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-05 20:04] #809 closed

[2017-06-05 20:07] sergeyklay commented on #1615
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-06-05 20:07] #1615 closed

[2017-06-05 20:10] sergeyklay commented on #1735
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-05 20:10] #1735 closed

[2017-06-05 20:12] sergeyklay commented on #1832
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-06-05 20:12] #1832 closed

[2017-06-05 20:18] #1676 closed

[2017-06-05 20:21] sergeyklay commented on #1703
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

Refs: https://github.com/phalcon/cphalcon/issues/476, https://github.com/phalcon/cphalcon/issues/218

[2017-06-05 20:21] #1703 closed

[2017-06-05 20:39] sergeyklay commented on #1856
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-06-05 20:39] #1856 closed

[2017-06-05 20:41] #1991 closed

[2017-06-05 20:44] #2450 closed

[2017-06-05 20:49] #11091 closed

[2017-06-05 20:50] sergeyklay commented on #11107
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-06-05 20:50] #11107 closed

[2017-06-05 20:52] #11052 closed

[2017-06-05 20:55] sergeyklay commented on #10425
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-06-05 20:55] #10425 closed

[2017-06-05 20:57] #11587 closed

[2017-06-06 10:06] dugwood commented on #12868
Just hit the same issue this morning, with Phalcon 3.0.1. What is really weird is that it was working yesterday, and today it's broken, only on my dev' environment. Production is fine (3.0.1 too). Running `INSERT` directly in the database returns an incremented id too. Running it through `$model-save()` creates the record in the database with all the correct values.

[2017-06-06 10:25] dugwood commented on #12868
OK, nailed it! I had `$eventsManager->attach('db', ...)`, in which I did a `select('SHOW WARNINGS')` (because MySQL with PDO doesn't give warnings natively!), and I think that it changes the request. I'll run the debug in something else than `afterQuery`.

[2017-06-06 10:40] addinm opened #12882 "EventsManager detach listener issue"
Hi!

It looks like there is a problem with detaching listeners from events.

[code]

test
test

[2017-06-06 11:48] sergeyklay commented on #12882
Did you echo `test ` in `attach` and `detach`? Could you please explain a bit more?

[2017-06-06 12:10] addinm commented on #12882
Hi,

Here is a simplified example:

1. First of all I attach the listener to the "test:event" event:

[code]
2. Next I ask the eventsManager to fire the "test:event" event:

[code]

3. This outputs the following: "**fired!**". This is еру expected behaviour.

4. Now I detach the listener from the eventsManager using the "detach" method that accepts 2 parameters according to your docs: "eventType"

[2017-06-06 13:19] yaronius commented on #12882
@addinm Have you tried code that detaches the very same callable? I.e. like this:
[code]

[2017-06-06 13:31] addinm commented on #12882
@yaronius Yes, the result is the same.

[2017-06-07 05:41] sergeyklay commented on #12882
[code]

[2017-06-07 05:58] dschissler commented on #12360
ok thanks.  I'll look at that.

[2017-06-07 17:04] kolkata1234 opened #12885 "nginx stopped suddenly"
nginx conf file
---------------
user  nginx;
worker_processes  4;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sen

[2017-06-07 19:08] virgofx commented on #12885
This is a configuration issue with your web server and not a Phalcon issue.

[2017-06-07 19:08] #12885 closed

[2017-06-08 03:13] kolkata1234 commented on #12885
Please let me know what would be the configuration issue...

[2017-06-08 06:02] sergeyklay commented on #12882
[code]

[2017-06-08 08:43] addinm commented on #12882
Thank you for your work, @sergeyklay

I think it would be great if the "**attach**" method that adds listener to the event can accept (or accepts) the third parameter - "**listenerID**". In your example above and in the current version of the framework we need to pass the handler in the "**attach**" and the "**detach**" methods.

What if we have a large modular application and we want to remove th

[2017-06-08 08:59] sergeyklay opened #12886 "Add support to use class names or services for Events\Manager::attach"

[2017-06-08 09:00] sergeyklay commented on #12882
Could you please open a NFR for `listenerID`.

[2017-06-08 12:58] nikolay-mihaylov commented on #12329
I can confirm that when using Windows and switching from default Apache PHP Handler to CGI solves the problem as Jurigag suggested! Here is a nice guide how to make the upgrades: https://commaster.net/content/installing-php-fastcgi-and-zend-opcache-xampp-windows

**Note:** you don't have to do all the steps, I've just added the mod_fcgid.so module in apache/modules and updated my httpd-xampp.conf

[2017-06-08 13:03] sergeyklay commented on #12882
Actually I can't imagine a real use case when someone does something like that:

[code]

Note, in this case detach does not work because each time `function () {}` is **new** closure with **new** identity (hash / id / etc). It is PHP-related stuff.

But [as you can see](https://github.com/phalcon/cphalcon/pull/12883) this approach works well without introducing a `listenerID`:

[code]

 So, I'm no

[2017-06-08 13:03] #12882 closed

[2017-06-08 13:31] sergeyklay commented on #12885
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-06-08 14:09] n0nag0n commented on #12844
:'(

[2017-06-08 19:21] sergeyklay commented on #12844
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-06-08 19:21] #12844 closed

[2017-06-08 19:22] sergeyklay commented on #12854
@jhonatasrein Could you please provide a simple script to reprodie

[2017-06-08 19:22] sergeyklay commented on #2226
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-08 19:22] #2226 closed

[2017-06-08 19:24] sergeyklay commented on #12848
It is not a bog report.  I want to close this issue because I don't want a bunch of these lying around.

[2017-06-08 19:24] #12848 closed

[2017-06-08 19:26] sergeyklay commented on #2713
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-06-08 19:26] #2713 closed

[2017-06-08 19:28] sergeyklay commented on #2302
@dreamsxin Any news?

[2017-06-08 19:28] #2171 closed

[2017-06-08 19:31] sergeyklay commented on #2588
I'm closing since this is a not a bug report.  No work was put towards this, contributions welcome. Also feel free to discuss on the [official forums].

[2017-06-08 19:31] #2588 closed

[2017-06-08 19:33] sergeyklay commented on #3180
I'm closing this issue due to the lack of any reaction. Closing, this is implemented. If there are bugs, we can follow up in separate issues .I'll open it again if the need arises

[2017-06-08 19:33] #3180 closed

[2017-06-08 19:47] sergeyklay commented on #425
I'm closing this issue due to the lack of any reaction. If there are bugs, we can follow up in a separate issue. I'll open it again if the need arises.

I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything any at time, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-08 19:47] #425 closed

[2017-06-08 19:48] sergeyklay commented on #691
I'm closing this issue due to the lack of any reaction. If there are bugs, we can follow up in a separate issue. I'll open it again if the need arises.

I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything any at time, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-08 19:48] sergeyklay commented on #805
I'm closing this issue due to the lack of any reaction. If there are bugs, we can follow up in a separate issue. I'll open it again if the need arises.

I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything any at time, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-08 19:48] #805 closed

[2017-06-08 19:48] sergeyklay commented on #1533
I'm closing this issue due to the lack of any reaction. If there are bugs, we can follow up in a separate issue. I'll open it again if the need arises.

I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything any at time, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-08 19:48] #1533 closed

[2017-06-08 19:48] sergeyklay commented on #1341
I'm closing this issue due to the lack of any reaction. If there are bugs, we can follow up in a separate issue. I'll open it again if the need arises.

I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything any at time, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-08 19:48] #1341 closed

[2017-06-08 19:48] sergeyklay commented on #1089
I'm closing this issue due to the lack of any reaction. If there are bugs, we can follow up in a separate issue. I'll open it again if the need arises.

I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything any at time, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-08 19:48] #1089 closed

[2017-06-08 19:49] jhonatasrein commented on #12854
Sorry, but i dont have any script to reproduce, i put in a previuos post the steps to reproduce, script ready to use i don't have!!!
I can send for you the version of devtools that i did many workaround to work fine for me, do you wanna?

[2017-06-08 19:49] sergeyklay commented on #1936
I'm closing this issue due to the lack of any reaction. If there are bugs, we can follow up in a separate issue. I'll open it again if the need arises.

I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything any at time, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-08 19:49] #1936 closed

[2017-06-08 19:49] sergeyklay commented on #1924
I'm closing this issue due to the lack of any reaction. If there are bugs, we can follow up in a separate issue. I'll open it again if the need arises.

I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything any at time, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-08 19:49] #1924 closed

[2017-06-08 19:49] sergeyklay commented on #1816
I'm closing this issue due to the lack of any reaction. If there are bugs, we can follow up in a separate issue. I'll open it again if the need arises.

I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything any at time, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-08 19:49] #1816 closed

[2017-06-08 19:50] sergeyklay commented on #1777
I'm closing this issue due to the lack of any reaction. If there are bugs, we can follow up in a separate issue. I'll open it again if the need arises.

I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything any at time, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-08 19:50] #1777 closed

[2017-06-08 19:50] sergeyklay commented on #1744
I'm closing this issue due to the lack of any reaction. If there are bugs, we can follow up in a separate issue. I'll open it again if the need arises.

I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything any at time, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-08 19:50] #1744 closed

[2017-06-08 19:52] sergeyklay commented on #12854
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com). Foror devtools-related issue the devtools repo.

[2017-06-08 19:52] #12854 closed

[2017-06-08 19:54] n0nag0n commented on #12844
Isn't this a bug if the expected output is supposed to be > 0? That `user` object has at least 10 field properties (first_name, last_name), and it's returning 0 for me.

[2017-06-08 20:15] sergeyklay commented on #2292
https://github.com/phalcon/cphalcon/issues/2292

[2017-06-08 20:15] #2292 closed

[2017-06-08 20:16] #9966 closed

[2017-06-08 23:05] dreamsxin commented on #2302
@sergeyklay
It should be closed.

[2017-06-08 23:31] #2302 closed

[2017-06-09 04:11] ephrin commented on #691
You are welcome. As a reporter I don't have any requirement for the improvement. So let's wait for reaction for couple of days and then close if no one need this.

[2017-06-09 16:16] fichtner opened #12888 "volt strings do not know about escape sequences"
### Expected and Actual Behavior

In Volt the string 'Let\\'s Encrypt' should be handled like "Let's Encrypt".

However, using 'Let\\'s Encrypt' causes a parser failure. This is especially problematic with strings that have both single and double quotes as there is no way to have them in one contained string.

This is suboptimal for translation efforts, where we need contained strings with longer

[2017-06-09 16:28] #12798 closed

[2017-06-09 21:04] vasilp commented on #11519
Well, why the discussion goes in direction firing afterFetch when the model is accessed in a loop, after find or something...
As per documentation:

Source:
https://docs.phalconphp.com/en/3.0.0/reference/models.html#initializing-preparing-fetched-records

So in short - afterFetch should be called when the model object is materialized and filled in with the columns data. I dont think this will be s

[2017-06-09 21:15] vasilp commented on #11519
I would add that I also work with .Net. I find Phalcon very modern and feature rich framework that also have perfect speed, compared with Laravel for example. And that is why I like Phalcon a lot.
But anyway - in Entity Framework there is a callback when the model is materialized (every time, in any case, it is called). And it is used widely. This is its analog and also could be used a lot.

Just

[2017-06-10 09:06] Jurigag commented on #11519
But this is exactly how it is. Just model object is materialized when accessing it in loop.

[2017-06-10 11:50] charles-zh opened #12889 "PHP7+Phalcon 3.1.2 Setting variables to the view in a controller does not take effect."
### Expected and Actual Behavior

Setting variables to the view in a controller does not take effect.

[code]
in volt template file:
      {{ testKey }} will get empty value.

But:
`        $this->view->setVar("testKey", $testKey);`

This method is correct. The view will get previous value assigned in controller.

[code]

[code]
### Details

* Phalcon version: (`php --ri phalcon`)
phalcon

Web fra

[2017-06-10 11:59] grigoriygithub commented on #12889
```   $this->view->testkey ``` must be ```   $this->view->testKey ``` for ``` {{ testKey }} ```

[2017-06-11 09:40] rlaffers commented on #11466
I have a similar issue. The same error is manifested when calling \Phalcon\Db\Adapter\Pdo::connect() with a connection configuration containing:
[code]
In fact, as long as options key is present in the config, the error does not go away.

[2017-06-11 12:12] cottton commented on #11519
So if im getting this right then the trigger gets fired if the model gets filled with data(?).

So by calling `::find` the records are caught as array  - simply loaded from server, right?

And on `resultSet::toArray` no models gets created - the data just gets returned as array, right?

I then see the next problem: does `model::toArray` ever gets called on `model::find(...)->toArray` ?

_i could n

[2017-06-11 20:51] Jurigag commented on #11519
The afterFetch is fired when model instance is created, nothing more, nothing less. Model::find doesn't create any model instances, toArray don't too.

[2017-06-11 22:12] sergeyklay commented on #11466
@rlaffers Could you please provide script to reproduce?

[2017-06-12 04:19] nealwon opened #12890 "Query data some times show data binding mismatch"
### Querying data using model find or findFirst or count sometimes show me mismatch param binding
 This disturbed me for a long time!

[code]

errors:

 #1 [internal function]: Phalcon\Db\Adapter\Pdo->executePrepared(Object(PDOStatement), Array, Array)
 #2 [internal function]: Phalcon\Db\Adapter\Pdo->query('SELECT `my_...', Array, Array)
 #3 [internal function]: Phalcon\Mvc\Model\Query->_executeSe

[2017-06-12 09:26] Jurigag commented on #12890
You could check in beforeQuery event what `getSqlVariables` returns.

[2017-06-12 09:43] Jurigag commented on #12879
When user doesn't exists there is false returned, that add some condition like

[code]

[2017-06-12 10:57] andrew-demb commented on #12886
But it's not responsibility for the event manager. For why?

Let's keep about don't make super classes in framework

[2017-06-12 11:04] Jurigag commented on #12886
What's a problem with current behavior as it is?

[2017-06-12 12:53] sergeyklay commented on #12886
Actually I want to use something like this:
[code]

[2017-06-12 13:25] andrew-demb commented on #12886
How about this?

`
if (is_string($listener)) {
     $listener = $container->get($listener);
}

$this->getEventsManager()->attach($event, $listener);
`

[2017-06-12 13:27] sergeyklay commented on #12886
I don't want to use `if`, also `$container->get` will create a new instance right now

[2017-06-12 13:34] andrew-demb commented on #12886
I don't understand. You can replace it by `getShared()`, or `new $listener()` (smell).

How you imagine for realization in event manager?

[2017-06-12 14:01] Jurigag commented on #12886
I guess in event manager it should do exactly what you posted @andrew-demb

[2017-06-12 15:00] andrew-demb commented on #12886
@Jurigag it will take place for configuring events in the application by simple arrays.

I prefer variant with initializing before attaching, or by adding some decorator by event

[2017-06-12 16:24] sergeyklay commented on #12886
The `get`, `getShared`, etc will create object. At least once. I don't want to create object If the event does not occur

[2017-06-13 08:37] andrew-demb commented on #12886
I think it would be a solution. Only need to replace

[code]

To
[code]

[code]

As result, we don't make class event manager as super

[2017-06-13 10:14] sergeyklay commented on #12886
This is why I want to incapsulate it into framework. To not to force developers to do it themselves

[2017-06-13 11:20] andrew-demb commented on #12886
OK, but let's do it more accuracy and extensible. Otherwise, it will add more complexity to search problem while debugging. Working with DI container as a service locator, class creator (not by defined configs) by internals is one of the reasons, why I want to don't use it in next project. And because this is often implicitly.

We can write interface EventHandlerStorageInterface, with method `getH

[2017-06-13 13:51] michanismus commented on #12886
Hmm, I don't like it.
You create a lazy map and when an event is fired you start to walk through the "map", check for instance and create it if needed? And you do it for every triggered event? I don't see any benefit.

I guess this is something for Incubator repo.

[2017-06-13 14:09] andrew-demb commented on #12886
@michanismus plus one `if` in every event (array_key_exists) VS initialize all subscribers on bootstrapping application.

[2017-06-13 14:33] andrew-demb commented on #12882
If a zephir have a function, similar to `spl_object_hash`, we can use it instead of search by objects

[2017-06-13 15:52] Jurigag opened #12892 "Request getPut"
Currently getPut is working only on form data, like on raw body request. When you send json it doesn't work and you need to use `getJsonRawBody` anyway. Im thinking about checking request header - if it's `application/json`, then use `getJsonRawBody` instead of `getRawBody` in `getPut` method.

To not introduce some big breaking change(will it break anything though?) it could be as php.ini option

[2017-06-13 17:55] sergeyklay commented on #12892
Could you please provide a small script to reproduce

[2017-06-13 17:57] sergeyklay commented on #12882
Zephir is based on PHP

[2017-06-13 18:01] sergeyklay commented on #12886
@michanismus Nope. When an event is fired the events manager can call `di->get(class)` or just `new class` without loop on the "map". This is how currently works `attach`. I want to introduce attaching just "string" to the event, not object only.

[2017-06-13 18:12] Jurigag commented on #12892
What you mean? It's NFR.

[code]

When sending json body with id value will don't return anything. Just go into surce code of getPut method, you will already see what i mean.

[2017-06-13 21:45] sergeyklay commented on #12892
did you try php://input ?

[2017-06-14 03:18] manyopensource opened #12893 "Why :name, :name: or '?' don't working for query with LIMIT?"
Example:
[code]
Error:

[2017-06-14 03:21] manyopensource commented on #12893
Example:
$sql = 'SELECT * FROM night LIMIT ?';
$items = $this->db->query($sql, [100]);

Error:
SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near ''100'' at line 1

[2017-06-14 03:23] manyopensource commented on #12893
''100'' = ' '100' ' (don't "100")

[2017-06-14 03:53] charles-zh commented on #12889
Oh...I'm really sorry making such a silly mistake.

[2017-06-14 03:53] #12889 closed

[2017-06-14 05:27] sergeyklay commented on #12893
[code]

[2017-06-14 05:27] #12893 closed

[2017-06-14 05:29] sergeyklay commented on #12893
https://stackoverflow.com/questions/2269840/how-to-apply-bindvalue-method-in-limit-clause

[2017-06-14 05:41] sergeyklay commented on #12868
[code]

[2017-06-14 05:41] #12868 closed

[2017-06-14 05:55] sergeyklay commented on #12886
Refs: https://github.com/phalcon/cphalcon/issues/3133

[2017-06-14 05:55] #12886 closed

[2017-06-14 05:58] sergeyklay commented on #3074
This issue was moved to phalcon/docs#1009

[2017-06-14 05:58] #3074 closed

[2017-06-14 05:59] sergeyklay commented on #3063
I'm closing this issue due to the lack of any reaction and I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-14 05:59] #3063 closed

[2017-06-14 06:00] sergeyklay commented on #3218
I'm closing this issue due to the lack of any reaction and I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-14 06:00] #3218 closed

[2017-06-14 06:01] sergeyklay commented on #2896
I'm closing this issue due to the lack of any reaction and I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-14 06:01] #2896 closed

[2017-06-14 08:59] sergeyklay commented on #2719
Implemented in the 3.2.x branch

[2017-06-14 08:59] #2719 closed

[2017-06-14 08:59] sergeyklay commented on #2419
I'm closing this issue due to the lack of any reaction and I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. If anyone wants to get started, I'd love that.

[2017-06-14 08:59] #2419 closed

[2017-06-14 09:00] sergeyklay commented on #2427
I'm closing this issue due to the lack of any reaction and I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. If anyone wants to get started, I'd love that.

[2017-06-14 09:00] #2427 closed

[2017-06-14 09:00] sergeyklay commented on #2431
I'm closing this issue due to the lack of any reaction and I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. If anyone wants to get started, I'd love that.

[2017-06-14 09:00] #2431 closed

[2017-06-14 09:00] sergeyklay commented on #2452
I'm closing this issue due to the lack of any reaction and I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. If anyone wants to get started, I'd love that.

[2017-06-14 09:00] #2452 closed

[2017-06-14 09:00] sergeyklay commented on #2470
I'm closing this issue due to the lack of any reaction and I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. If anyone wants to get started, I'd love that.

[2017-06-14 09:00] #2470 closed

[2017-06-14 09:00] sergeyklay commented on #1596
I'm closing this issue due to the lack of any reaction and I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. If anyone wants to get started, I'd love that.

[2017-06-14 09:00] #1596 closed

[2017-06-14 10:43] addinm opened #12894 "Database profiling"
Hi!

Docs say:

[code]
However, the "**setProfiler**" method does not exist.

[2017-06-14 12:18] piotrgolasz commented on #12779
@sergeyklay any updates with this issue?

[2017-06-14 12:42] Jurigag commented on #12894
Yea that's true, i guess this feature wasn't finished?

[2017-06-14 12:47] grigoriygithub commented on #12894
You must try this:
[code]
https://docs.phalconphp.com/en/latest/reference/db.html#profiling-sql-statements

[2017-06-14 13:31] addinm commented on #12894
Hi,

I know how to attach the profiler to the connection, thank you.

Please update the corresponding file (cphalcon/phalcon/db/profiler.zep) as this misinforms developers.

[2017-06-14 14:00] Jurigag commented on #12894
It will be much better just to add methods beforeQuery and afterQuery to Profiler class and just do:

[code]

Anyone want to do it ?

[2017-06-14 14:08] sergeyklay commented on #12779
@piotrgolasz @temuri416  Could you please test by using latest Zephir from master branch and Phalcon 3.2.x ?

[2017-06-14 14:09] sergeyklay commented on #12894
@Jurigag you? :)

[2017-06-14 14:36] Jurigag commented on #12894
Hmmm fine will do it in some time.

[2017-06-14 17:32] Jurigag commented on #12894
@sergeyklay Well actually in docs is example like this - https://docs.phalconphp.com/en/3.0.1/reference/events.html#usage-example in below you can find Profiler usage - so im thinking is what i proposed a good idea still?

[2017-06-14 18:44] temuri416 commented on #12779
@sergeyklay

Looks like it's broken with PHP 7.1.5, with latest Phalcon 3.2.x:

Running the snipped above I am getting this:

[code]

Phalcon info:

[code]

[2017-06-14 21:14] sergeyklay commented on #12779
Could you please use **latest** Zephir ?

[2017-06-14 21:27] temuri416 commented on #12779
Sure... where can I see the instructions on how to compile Phalcon with externally compiled Zephir?

[2017-06-14 21:39] Jurigag commented on #12779
1. git clone https://github.com/phalcon/zephir
2. cd zephir && ./install -c
3. go to phalcon repo
4. zephir build

[2017-06-14 21:48] temuri416 commented on #12779
Same result:

[code]

[code]

[2017-06-14 22:01] sergeyklay commented on #12779
Provide please ini config example

[2017-06-14 22:03] temuri416 commented on #12779
You mean php.ini config?

[2017-06-14 22:04] Jurigag commented on #12779
[code]

Your result is correct. You have TWO nested arrays. If you want to have returned a key with 1 and 2 value then you need to change your code to:

[code]

[2017-06-14 22:09] temuri416 commented on #12779
Are you saying that it was working incorrectly before and now it is correct?

[2017-06-14 22:10] Jurigag commented on #12779
Well actually im not sure, well i need to test it.

[2017-06-14 22:12] temuri416 commented on #12779
I don't care anymore which way is right - what was before or what's now. I don't need that type of merging anymore in my config (implemented it differently).

However, what's bugging me is that it's THE SAME combo of Phalcon & Zephir that behaves differently across minor PHP versions.

[2017-06-14 22:13] Jurigag commented on #12779
You sure that you had the same combo?

[2017-06-14 22:15] sergeyklay commented on #12779
@temuri416 Could you please provide a small unit test to test it on Travis with PHP 5.6 - 7.1 ?

[2017-06-14 22:15] temuri416 commented on #12779
100%. Checked that several times, could not believe my eyes.

You can also ask @piotrgolasz.

The fact is, behaviour of `Phalcon\Config::merge()` has changed. And no one seems to understand why,

[2017-06-14 22:17] temuri416 commented on #12779
ok, but I never worked with that. Link for more info?

[2017-06-14 22:18] sergeyklay commented on #12779
Just add new test here https://github.com/phalcon/cphalcon/blob/3.2.x/tests/unit/Config/Adapter/IniTest.php

[2017-06-14 22:20] temuri416 commented on #12779
ok, I'll try to do it this weekend.

[2017-06-14 22:23] Jurigag commented on #12779
I just think that result on php 7.0.17 is correct, not sure why you had returned 7.0.14, from logical point of view what i wrote above should be true.

[2017-06-14 22:32] Jurigag commented on #12779
Well i will need to test it, though from conditions i see there it should merge, for some reason it doesn't.

[2017-06-14 22:51] Jurigag commented on #12779
Well it looks like that we need to cast key to string most likely.

[2017-06-14 22:53] Jurigag commented on #12779
Okay so on first _merge run it properly go into "a" key of both configs. Then we have `0` key. This `if fetch localObject, instance->{key} {` just doesn't return anything, that's why it breaks. I guess we need to cast key.

[2017-06-14 22:55] Jurigag commented on #12779
Just code must be updated to something like:

[code]

[2017-06-14 23:06] Jurigag commented on #12779
Yea i can confirm this is an fix, already tested @sergeyklay @temuri416 @piotrgolasz

Actually it's like this even in plain php, so im not sure how your code fixed it.

[2017-06-14 23:07] Jurigag commented on #12779
Check this out:

https://3v4l.org/TqueM

@sergeyklay @temuri416 @piotrgolasz

WTF PHP

[2017-06-14 23:11] temuri416 commented on #12779
So it seems before v7.0.17 numeric keys were cast as strings

[2017-06-14 23:12] Jurigag commented on #12779
Yea and in 7.1.0-7.1.2 they went back to castings as ints and then go back to casting as string xD wtf

[2017-06-14 23:12] temuri416 commented on #12779
This?

https://bugs.php.net/bug.php?id=73998

[2017-06-14 23:13] Jurigag commented on #12779
Well i guess just 7.1.3 was released same time as 7.0.17, right?

[2017-06-14 23:14] temuri416 commented on #12779
F**k.

[2017-06-14 23:14] Jurigag commented on #12779
Yea exactly.

[2017-06-14 23:17] Jurigag commented on #12779
Still - there is just a bug in phalcon, and it was working because php was returning wrong value :D :D

[2017-06-14 23:47] Jurigag commented on #12779
What is more stupid:

[code]

[2017-06-15 09:28] addinm commented on #12894
Hi,

Please open the NFR in a separate thread. The subject of this issue is that the "setProfiler" method doesn't exist in the framework.

Best regards

[2017-06-15 14:36] andrew-demb commented on #12779
@Jurigag, just PHP syntax
[code]

[2017-06-15 16:59] Jurigag commented on #12779
Actually `$object->{1}` works too

[2017-06-15 21:35] stamster opened #12895 "Phalcon\Http\Response getStatusCode() returns full string instead of int code"
### Expected and Actual Behavior

Expected:  `int(422) or string(3) "422" `

Actual result is:
` string(24) "422 Unprocessable Entity"`

[code]
### Details

* Phalcon version: 3.1.2
* PHP Version: 7.0.18
* Operating System: GNU/Linux, Ubuntu 16.04 LTS
* Installation type: Compiling from source
* Zephir version (if any): 0.9.7-1fae5e50ac
* Server: Nginx
* Other related info (Database, table schema)

[2017-06-16 00:34] niden opened #12897 "[NFR] Beanstalk Tube related methods"
### Expected and Actual Behavior

Add `listTubes`, and `Tube*` related methods to the Beanstalk adapter

(via NFR in our Wiki)

-----
Hi Team,

List tube method is not implemented so that we can check the list of available tubes under beanstalk.
Ignore watched tube method is also not available.
If possible, please add above two methods so that a person, if want, can itrate round robin between queu

[2017-06-16 11:57] stamster commented on #12897
Wait, Beanstalk is an abandoned project. That should be taken into consideration at first place IMO.

[2017-06-16 11:58] stamster commented on #12895
Thanks @sergeyklay

It amazes me how this is different between PHP versions, and not Phalcon versions.

[2017-06-16 12:44] sergeyklay commented on #12897
I agree with @stamster.

@phalcon/core-team What bout moving Beanstalk support to the Incubator?

[2017-06-16 12:48] niden commented on #12897
Perfectly fine with me.

[2017-06-16 13:44] Chameleon-m commented on #12897
https://github.com/Chameleon-m/incubator/commit/27ebcbce803a05bb170b1e273c210dd548421cce
https://github.com/Chameleon-m/incubator/commit/250ff9c5721a6ee603609155ad2dac66fa4d4bbc

Half done )

[2017-06-16 14:15] stamster opened #12900 "Missing packages for Debian wheezy @packagecloud"
### Expected and Actual Behavior

Following guide on official site: https://phalconphp.com/en/download/linux

[code]
Install for PHP 5.6.x
[code]

Results:
https://packagecloud.io/app/phalcon/stable/search?filter=all&q=&dist=wheezy

### Details

* Phalcon version: (`none yet`)
* PHP Version: (`5.6.30`)
* Operating System:
[code]
* Installation type: installing via package manager
* Zephir version

[2017-06-17 09:28] Jurigag commented on #12895
`headers->set("Status", code . " " . message);` fomr setStatusCode

`return this->getHeaders()->get("Status");` from getStatusCode, from code it should return really `422 Unprocessable Entity`

[2017-06-17 11:02] sergeyklay commented on #12900
It is not Phalcon issue. Could you please create docs related issues in the [appropriate repository](https://github.com/phalcongelist/packagecloud)?

[2017-06-17 11:02] #12900 closed

[2017-06-18 07:42] sergeyklay commented on #12202
Refs: https://github.com/phalcon/zephir/issues/938

[2017-06-18 07:42] sergeyklay commented on #12201
Refs: https://github.com/phalcon/zephir/issues/938

[2017-06-18 22:46] echodreamz opened #12907 "Windows builds for 3.2.1 are reporting 3.2.0 in phpinfo"
### Expected and Actual Behavior

Expected `v3.2.0 with build date Jun 18 2017 16:23:55`

This applies to PHP 5.5, 5.6, 7.0 and 7.1

![capture](https://user-images.githubusercontent.com/18668727/27264850-b32b360e-5445-11e7-84a0-2fde6b5ac25b.PNG)

### Details

* Phalcon version: 3.1.1 (should be 3.2.0)
* PHP Version: 7.0.20
* Operating System: Windows Server 2016
* Installation type: pre-compiled p

[2017-06-18 22:48] sergeyklay commented on #12907
@echodreamz Could you check `Phalcon\Version::get()`

[2017-06-18 22:49] niden commented on #12907
Let me recompile them @echodreamz

[2017-06-18 22:50] echodreamz commented on #12907
@sergeyklay

`3.1.1`

is the output of `Phalcon\Version::get()`

[2017-06-18 23:27] niden commented on #12907
@echodreamz Could you be so kind and download the DLL again? I recompiled them and uploaded them in the release.

[2017-06-18 23:50] echodreamz commented on #12907
@niden PHP 7.x fixed, PHP 5.5 and 5.6 still show 3.1.1.

[2017-06-19 04:31] Bellardia opened #12908 "Phalcon Double Sends Headers & Cookies"
### Expected Behavior
Cookies and Headers get output once per request lifecycle.

### Actual Behavior
Cookies and Headers set in `\Phalcon\Http\Response` will get output twice if a controller returns an object implementing `ResponseInterface`.

`cphalcon/phalcon/mvc/application.zep` inside `handle`
[code]

`cphalcon/phalcon/http/response.zep`
[code]

[code]

[2017-06-19 06:21] remicollet opened #12909 "[3.2.0] Not compatible with PHP 5"
Using 5.6.30

`PHP Warning:  PHP Startup: Unable to load dynamic library '/builddir/build/BUILDROOT/php-phalcon3-3.2.0-1.fc24.remi.5.6.x86_64/usr/lib64/php/modules/phalcon.so' - /builddir/build/BUILDROOT/php-phalcon3-3.2.0-1.fc24.remi.5.6.x86_64/usr/lib64/php/modules/phalcon.so: undefined symbol: zend_error_noreturn in Unknown on line 0
`

**zend_error_noreturn** is part of PHP public API in 7+ on

[2017-06-19 06:22] remicollet commented on #12909
Notice: it fails on startup when PHP is built with some special option, but it will segfault on runtime with default PHP build options.

[2017-06-19 07:00] remicollet commented on #12909
Issue could be in zephir (latest tagged version 0.9.8 used)

[2017-06-19 10:06] Jurigag commented on #12908
Just don't use send method if you return response? Application doesn't call send anywhere so not sure what is your problem.

[2017-06-19 10:38] sergeyklay commented on #12779
Fixed in the `3.2.x branch`. Feel free to open new issue if the problem appears again. Thank you for contributing.

[2017-06-19 10:38] #12779 closed

[2017-06-19 13:47] Bellardia commented on #12908
@Jurigag

Are you using Micro or MVC?

The send() method is not called automatically in all configurations, which may mean while it works for you it is still not correct.

`cphalcon/phalcon/mvc/micro.zep`
[code]

Here we can see micro correctly calls the `send()` method on the response, but this is not done in MVC.

`cphalcon/phalcon/http/response.zep`
[code]

As `Phalcon\Http\Response::send()` ou

[2017-06-19 14:18] Jurigag commented on #12908
I am using MVC, but what micro has to do with application? It's different kernel, you shouldn't use both at the same time. So i still don't know what's your issue.

[2017-06-19 15:19] Bellardia commented on #12908
I'm not using Micro, it was an inquiry.

I'm not sure where we differ here but if you follow the code path there's an issue. I appreciate your taking the time to respond, but you're not providing any productive feedback.

[2017-06-19 17:21] Jurigag commented on #12908
I'm not using too and i don't have this issue.

[2017-06-19 18:03] sergeyklay commented on #12909
@remicollet

[code]

[code]

[code]

[code]

[code]

[code]

-----------------

Also as you can see the tests on Travis (PHP5/PHP7) pass successfully.

Which one?  Could you elaborate on that? I need steps to reproduce.

Cc: @phalcon/collaborators Does anyone faced with this?

[2017-06-19 19:08] echodreamz commented on #12907
@niden any updates for the 5.x builds?

Thanks!

[2017-06-19 19:21] Bellardia commented on #12908
With all do respect you're not being helpful.

`getContent()` is not the same function as `send()`. The question is as to why `handle()` decides to send headers but not output makes little sense from an API perspective.

`getContent()` does not update class flags such as `_sent`. Which again, leads me to believe this is a bug.

[2017-06-19 19:55] niden commented on #12907
@echodreamz I am at work at the moment but will get to it in 2-3 hours.

[2017-06-19 21:35] grigoriygithub commented on #12908
I found PR #12378 https://github.com/phalcon/cphalcon/pull/12378/commits/ac254c9fbfca27e5bc9571353be87a216fc1d916

[2017-06-19 22:03] Bellardia commented on #12908
@grigoriygithub Amazing, that's exactly the issue :) Thanks!!

That diff is quite unwieldily at this time though.

[2017-06-19 23:04] sergeyklay commented on #12354
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-19 23:04] #12354 closed

[2017-06-20 02:19] niden commented on #12907
@echodreamz I just uploaded new php 5.x DLLs. Do you mind checking and letting me know?

[2017-06-20 04:13] remicollet commented on #12909
Some Linux distributions use RTLD_NOW (all symbols resolved at startup) instead of RTLD_LAZY (resolved at runtime) for security enhancement reason.

[2017-06-20 04:23] remicollet commented on #12909
Ex, patch for 5.6 used in Fedora
http://pkgs.fedoraproject.org/cgit/rpms/php.git/tree/php-5.4.0-dlopen.patch?h=f24

Debian patch
https://anonscm.debian.org/git/pkg-php/php5.git/tree/debian/patches/0034-php-5.4.0-dlopen.patch

Also **-z relro -s now** linker flags used.

See https://fedoraproject.org/wiki/Changes/Harden_All_Packages

[2017-06-20 04:30] sergeyklay commented on #12909
@remicollet Well, anyway I need to reproduce this to be able debug. So I'll try to sort out.

Could you please explain this a bit more? What you mean "in 7+ only"?

https://github.com/php/php-src/blob/PHP-5.5/Zend/zend.h#L294

[2017-06-20 04:31] remicollet commented on #12909
There is no ZEND_API, so not public, not usable.

[2017-06-20 04:37] remicollet commented on #12909
[code]

[2017-06-20 04:44] remicollet commented on #12909
Use distro packages ;)

[2017-06-20 05:01] remicollet commented on #12909
BTW, the fix is trivial
`sed -e s/zend_error_noreturn/zend_error/ ...`

[2017-06-20 06:06] sergeyklay commented on #12909
@remicollet

So can I not rush with patch for 3.2.0 and do it in 3.2.1?

[2017-06-20 06:17] remicollet commented on #12909
Your project, your priority, your choice.

BTW, I was able to build 3.2.0 for 5.5, 5.6, 7.0 and 7.1 (haven't try 7.2 yet), other users could encounter the same issue, or segfault at runtime, which is IMHO worse...

Perhaps everybody have switched to 7+, and you can wait for other reports

[2017-06-20 06:24] sergeyklay commented on #12909
Sure. But actually, it was important for me to hear exactly your opinion, because you are forming packages for RPM based distros. Is this prevent you to release Phalcon or not?

[2017-06-20 06:29] remicollet commented on #12909
No, as I patch sources to drop zend_error_noreturn usage

Notice: **zend_error_noreturn** does exactly the same than **zend_error**, only exists to avoid compiler warnings

`void zend_error_noreturn(int type, const char *format, ...) __attribute__ ((alias("zend_error"),noreturn));
`

[2017-06-20 12:09] stamster commented on #12895
Well now I'm not sure whenever the issue was PHP 5 or my Database default values. More precisely, if database had column defined as int  `string(24) "422 Unprocessable Entity"` will get trimmed out by default and database will only have int 422 saved in that row.

Nevertheless, this is definitely a bug - now confirmed exact same behavior on both PHP 5.6.30 and PHP 7.0.x. As we can see in zephir so

[2017-06-20 13:25] makerlabs commented on #12258
Sorry I was busy lately with commercial projects so I didn't have much time for other things.
But here it is https://gist.github.com/makerlabs/dd42a36d3a6c72e84717704e3af6319c.
This isn't the best approach but the only one not breaking BC with the current Form implementation. I would rewrite the current Form class because it does not provide the best flexibility...

Usage example
[code]
To display

[2017-06-20 13:43] Jurigag commented on #12908
Yea, PR is fine i guess, just not sure if we can add it in phalcon 3.

[2017-06-20 17:48] echodreamz commented on #12907
@niden All fixed up! Thank you sir!

[2017-06-21 01:54] mengjie0827 opened #12913 "ACL wildcard maybe a bug"
[code]

Output:
true
true
false?

[2017-06-21 03:55] einaranjo opened #12914 "PHP Startup: Unable to load dynamic library '/usr/lib64/php/modules/phalcon.so' - /usr/lib64/php/modules/phalcon.so: undefined symbol: zend_error_noreturn in Unknown on line 0"
error on install PHP-PHALCON

OS : CentOS release 6.9 (Final)
PHP 5.6.30 (cli) (built: Jan 19 2017 08:09:42)
nginx version: nginx/1.12.0
error : PHP Startup: Unable to load dynamic library '/usr/lib64/php/modules/phalcon.so' - /usr/lib64/php/modules/phalcon.so: undefined symbol: zend_error_noreturn in Unknown on line 0

readelf -d /usr/lib64/php/modules/phalcon.so

Dynamic section at offset 0x4821

[2017-06-21 05:25] sergeyklay commented on #12914
https://github.com/phalcon/cphalcon/issues/12909

[2017-06-21 05:25] #12914 closed

[2017-06-21 06:58] Jurigag commented on #12913
Not sure if we should consider this as a bug? What if you want to allow all actions except one? I know there is default action but still maybe someone would like by default to allow all actions.

[2017-06-21 07:31] remicollet commented on #12909
Test build: version 3.2.0 using zephir 0.9.9 => OK.

[2017-06-21 07:33] remicollet commented on #12914
@einaranjo use my repository, everything available there, including most PHP versions and most extensions (of course, including this extension)   ;)

[2017-06-21 08:18] bestirani2 opened #12917 "Twice Insert db service"
After execute below code, twice record added in my table.
[code]

### Details

* Phalcon version: 3.2.0
* PHP Version: 7
* Operating System: Ubuntu
* Server: Nginx

[2017-06-21 10:21] Jurigag commented on #12917
Can't reproduce.

[2017-06-21 10:23] Jurigag commented on #12917
Query and execute are both executing sql statement. query method returns db object, and you execute again same query. Query should be used if there is result returned(rows), execute if no.

[2017-06-21 10:26] Jurigag commented on #12909
Great, soe we should release 3.2.1 right now imho.

[2017-06-21 10:46] stamster opened #12918 "$app->persistent (Session bag) fatal error on 3.2.0 (Invalid superglobal)"
### Expected and Actual Behavior

Now this is truly "the bug". Everything working fine on 3.1.2. From 3.2.0 entire app breaks with fatal error.

[code]

[code]
### Details

* Phalcon version: (`3.2.0`)
* PHP Version: (`PHP 7.0.18`)
* Operating System: Debian GNU/Linux
* Installation type: Compiling from source
* Zephir version (if any): (`0.9.8-6335775f25`)
* Server: Nginx
* Other related info (Da

[2017-06-21 11:38] Jurigag commented on #12918
Well as a workaround a issue:

[code]

Not sure what happens exactly.

[2017-06-21 13:24] stamster commented on #12918
Here we need hot fix rather than workaround as people cannot change their code base that easily.

If the simplest scenario (steps to reproduce) does not work as expected, i.e. throwing a fatal error, that's bad for a release declared as stable (3.2.0) and must be fixed ASAP.

[2017-06-21 14:22] stamster commented on #12917
`execute()` -> Sends SQL statements to the database server returning the success state. **Use this method only when the SQL statement sent to the server doesn’t return any rows**
`query()` -> Sends SQL statements to the database server returning the success state. **Use this method only when the SQL statement sent to the server is returning rows**

[2017-06-21 14:45] kornerita commented on #12909
Hi,

For MacOS 10.12.5 seems to be working:

[code]

For FreeBSD 10.3 also seems to be working:

[code]

I had that problem when I compiled it for my raspberry pi with debian, but I'm not at home atm to give you more information.

[2017-06-21 15:28] Jurigag commented on #12917
@stamster well you missed that query return other object than db adapter, i first thought the same, but still, object returned have execute method too - so generally speaking he just executes two times query.

[2017-06-21 15:30] Jurigag commented on #12918
But i don't know what workaround? For me it's working as it should be. In PHP you can't set `$_SESSION` values until you do `session_start();` The same is with setting them - if you don't set them then it won't work. Not sure what should be done any why it was working previously(was it?)

[2017-06-21 15:39] kornerita commented on #12909
Linux Debian raspberry not working:

[code]

[2017-06-21 15:53] kornerita commented on #12909
Redhat linux 6.2, php 5.6.28, custom build:

[code]

[2017-06-21 15:58] stamster commented on #12918
You provided a workaround - didn't you? https://github.com/phalcon/cphalcon/issues/12918#issuecomment-310052137

I really don't see the point what you're trying to explain with PHP sessions etc.
You realize that this was working 'till 3.2.0? That was from 2.0.0 Phalcon as I remember.

Yeah I like fatal error too - better fatal error than SEGFAULT. But the question is why this is broken and how to

[2017-06-21 16:46] Jurigag commented on #12918
For me it's not broken, it works as it should be imho beacause you didn't start session so $_SESSION is unknown at this point.

[2017-06-21 16:47] Jurigag commented on #12918
It wasn't really working - you could set value like that to $_SESSION but since you didn't started it anywhere its doing pretty much nothing in other request you can't access it.

[2017-06-21 16:49] Jurigag commented on #12909
You sure you used zephir to compile?

[2017-06-21 17:27] sergeyklay commented on #12909
@remicollet Fixed in `master` branch and in the current `3.2.x` branch.

[2017-06-21 17:29] #12909 closed

[2017-06-21 17:59] #12917 closed

[2017-06-21 18:16] sergeyklay commented on #2408
Fixed in the `3.2.x branch`. Feel free to open new issue if the problem appears again. Thank you for contributing.

[2017-06-21 18:16] #2408 closed

[2017-06-21 19:07] #12913 closed

[2017-06-21 19:30] sergeyklay commented on #12895
Fixed in the `3.2.x branch`. Thank you for contributing.

[2017-06-21 19:30] #12895 closed

[2017-06-21 19:55] sergeyklay commented on #12918
@stamster Actually we can check session status on __set and __get. Could you please submit a PR with hotfix?

[2017-06-21 20:03] Slind14 opened #12920 "Raw Query causing SQLSTATE[HY000]: General error, in 95% of the cases"
### Expected and Actual Behavior

I'm trying to run a raw sql query. This worked fine with phalconphp legacy, but does not longer with the latest ubuntu package. According to the docs, this is still the way to do it. The odd thing is, that this query works fine in 5% of the cases. So if one refreshes the page a hundred times, it loads without error a few times.

[code]

[code]

[code]

[code]

[co

[2017-06-21 20:30] Jurigag commented on #12918
What i mean - it's stupid to fix it to NOT throw fatal error or anything - because this code doesn't really work as it should be. Yea it will set $_SESSION value, but it won't do what you should expect to do.

[2017-06-21 20:36] Jurigag commented on #12920
Wait, so this second code works fine but first not? Interesting. Also please provide table schema.

[2017-06-21 20:43] Slind14 commented on #12920
Yes. The first one also works with phalcon legacy, but according to the doc it didn't change since.
I added the schema.

[2017-06-21 20:44] Jurigag commented on #12920
Well internally both of them are doing pretty much the same stuff.

[2017-06-21 20:45] Slind14 commented on #12920
hmm, are you able to reproduce it?

[2017-06-21 20:46] Jurigag commented on #12920
I will check it tomorrow maybe.

[2017-06-21 20:47] Jurigag commented on #12920
Also provide what database adapter what you use, what database server and version.

[2017-06-21 20:52] Slind14 commented on #12920
sure, updated.

[2017-06-21 21:32] stamster commented on #12920
MariaDB 10.2.x has some nasty behavior - take a look at docs, especially for "SQL MODE".
My 5 cents only, IDK if that is your issue.

[2017-06-21 21:35] Slind14 commented on #12920
It worked fine with phalcon legacy;

On 21 Jun 2017 23:33, "Jonathan Aaron Steel" <notifications@github.com>
wrote:

[2017-06-21 21:39] stamster commented on #12918
@sergeyklay If I'm able to find out root cause and not to trigger BC issues, for sure I'll do a PR.

@Jurigag You simply try to ignore simple fact that even back with Phalcon v2.0.x this code was working w/o any issues, all until now with 3.2.0. And precisely - the bag is being populated with the data once it is set in the simplest example provided here, and it still does work on 3.1.2 on live API

[2017-06-21 21:59] Jurigag commented on #12918
@stamster but it WASN'T working without any issues - it wasn't working as exepected, like after refresh there wasn't really value set in `$_SESSION`. You need to start session to set any `$_SESSION` value - end of story for me. If zephir somehow started to detecting it - then great.

[2017-06-21 22:09] Jurigag commented on #12918
It's stupid to argue that your code is not working in phalcon 3.2 - because it's not working in 3.1 and 3 and 2 too - because you simply don't have session started, this exception right now at least tells you that it doesn't work actually.

[2017-06-21 22:18] Jurigag opened #12921 "Remove session from factorydefault or start it when creating instance"
Right now having session service in `Phalcon\Di\FactoryDefault` is pointless, because you need to start session instance anyway to make it working properly. So you need to have code like this anyway:

[code]

If you don't have this and you are using just session from `FactoryDefault` then it won't work properly because it's not started until you will start it by accessing this service and executin

[2017-06-21 22:26] Jurigag commented on #12918
Also to add - why this is 100% correct exception for me and it's actually feature - not a bug. If you do `var_dump($_SESSION)` in php without `session_start` you will have `Notice: Undefined variable: _SESSION`. Then pretty obvious zephir don't recognize _SESSION and it's invalid superglobal indeed because it's just undefined and not initialized by `session_start`

Imho the best will be in Phalcon

[2017-06-21 22:28] sergeyklay commented on #12921
Actually, as you can see, we just use "connect" approach in many adapters if they does not connected yet. So what do you think about check session status? IMO we can remove session from factory default in 4.x branch only.

[2017-06-21 22:29] Jurigag commented on #12921
To make it working and as a bugfix for now for phalcon 3 - fine. But in phalcon 4 to avoid overhead better just remove it from factory default.

[2017-06-21 22:35] sergeyklay commented on #12921
Cc: @phalcon/framework-team

[2017-06-21 22:37] sergeyklay commented on #12918
Close in favor of #12921

[2017-06-21 22:37] #12918 closed

[2017-06-21 22:37] Jurigag commented on #12921
Also i would consider thinking about for example memcache adapters and other - do we really need to do

[code]

In every single method? Why just not call _connect one time in `__construct`?

[2017-06-21 22:38] Jurigag commented on #12918
Well @sjinks could at least answer if this superglobal detection is something which was added or it's just some mistaken code?

[2017-06-21 22:38] #11679 closed

[2017-06-21 22:40] sergeyklay commented on #12921
Refs: https://github.com/phalcon/cphalcon/issues/10530

[2017-06-21 22:40] sergeyklay commented on #12918
Refs: https://github.com/phalcon/cphalcon/issues/10530

[2017-06-22 00:24] einaranjo commented on #12914
how i can use your repository ?

[2017-06-22 04:12] remicollet commented on #12914
@einaranjo see https://rpms.remirepo.net/wizard/

[2017-06-22 06:04] nealwon commented on #12890
I've tried many times these days, but none appearance. I will continue watching this and append infos here when it appear again.

thx anymore!

[2017-06-22 06:13] #691 closed

[2017-06-22 06:15] sergeyklay commented on #867
Close in favor of #12196

[2017-06-22 06:15] #867 closed

[2017-06-22 06:16] sergeyklay commented on #815
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-22 06:16] #815 closed

[2017-06-22 06:26] sergeyklay commented on #12890
I want to close this issue because I don't want a bunch of these lying around. Feel free to open this again or ping me if the need arises. Thank you for contributing.

[2017-06-22 06:26] #12890 closed

[2017-06-22 06:41] dschissler commented on #12921
If we do leave the session adapter in the factory web DI then it should be setup in a way that allows it do be loaded from a static YML or INI configuration file for the most simple files setup.

I'd like to make it so that simple builtin plugins could be added from the configuration file under the `plugins` key.  For example now I'm adding a database reconnect plugin and it would be great if I co

[2017-06-22 06:43] dschissler commented on #12921
@Jurigag Is there a crazy performance penalty on checking if an object implements an interface?  I ask because sometimes PHP surprises me.

[2017-06-22 06:46] dschissler commented on #12921
So lets say that you want to add plugins before any events have been fired then you could still do that and if for some reason you need to hack in something that requires the service to be started (whatever that means for it) then you could do that in the service definition file for advanced cases.  Just the DI would ensure that the service was started before it returned it for the first time.

[2017-06-22 06:47] dschissler commented on #12921
Off of the top of my head `StatefulServiceInterface`.

[2017-06-22 09:42] ricardofiorani opened #12923 "Why does Redis adds a "_PHCR" prefix ?"
https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/cache/backend/redis.zep#L157

It already adds a prefix with the prefixable trait, so why add another prefix ? It only makes harder for people to migrate from Phalcon 1...

[2017-06-22 09:52] sergeyklay commented on #12923
The redis cache backend adds `_PHCR` prefix to every cached key and uses `_PHCR` set to store all the cached keys. It required to be able to flush the Redis database.

We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.

[2017-06-22 09:52] #12923 closed

[2017-06-22 10:07] stamster commented on #12918
For now, I've added this code snippet on a central location:

`!$app->session->isStarted() && $app->session->start();`

And now it does work as before 3.2.0.

[2017-06-22 15:18] niden commented on #12921
Removing it from 4.x is the best option.

[2017-06-22 15:44] dschissler commented on #12921
Personally I'm tired of seeing the following:

[code]

I think that we could just remove it from the factory DI in the 4.x tree early on and then see where the rest of development takes us.  I think that we could provide a **flavor** of DI that sets things up automatically according to adherence with just a few interfaces.  For example if it is `DiInjectable` then it could automatically add the DI

[2017-06-22 15:49] dschissler commented on #12921
If we do something along the lines that I am proposing then the following becomes viable and solid for the very simple cases.

[code]

Also:

[code]

[2017-06-22 23:00] Jurigag commented on #12918
You needed this to work persistent as it should anyway like start session(to have session variables available in other request). If you don't then Registry is exactly for you imho. This is why i was posting that you need to start session anyway and this is not really a bug, there was just change in zephir code to return failure on not recognized superglobal.

[2017-06-22 23:03] Jurigag commented on #12921
@dschissler well i think you can have calls like call method also when setting service in di in some other syntax right? So loading from some format is good idea. Im just talking about session service, not other things - that right now, current one in FactoryDefault is useless - because you need to START session anyway, and to start it you need to call session method yourself, so most people will

[2017-06-22 23:26] dschissler commented on #12921
@Jurigag Well for the moment I think that we have 3-0 (not sure if sergeyklay voted) to just remove it.  So I think that we should do that.  The next step is all of this fancy stuff that I'm talking about and that may not happen.  So lets just remove it and then see what else falls into place later.

[2017-06-23 00:34] dschissler commented on #12212
Well this probably could be started as a dialect extension in the Incubator repo/package.

[2017-06-23 00:51] dschissler commented on #2700
@sergeyklay I think that this should be looked at for version 4.

[2017-06-23 00:55] dschissler commented on #2900
@sergeyklay Maybe this should be fixed in version 4.

[2017-06-23 00:57] dschissler commented on #3219
@Jurigag Is this still relevant?  Can you make sense of it?

[2017-06-23 01:17] dschissler commented on #11193
@Jurigag Do you have a way to test this easily?

[2017-06-23 05:26] #12212 closed

[2017-06-23 05:38] Jurigag commented on #2900
Yea but what exactly you mean by fixed? The behavior i wrote above?

[2017-06-23 07:06] stamster commented on #12918
You're just wrong big time on this one - that it wasn't working at all, even with previous Zephir / Phalcon. It was, and it's so easy to prove it, just install 3.1.2 and see for yourself on simplest example provided here - steps to reproduce. IDK who started session internally - it wasn't me for sure, was it Zephir or Phalcon internally - it doesn't really matter, but with `persistent` variables I

[2017-06-23 07:09] YamiChat opened #12924 "Call to undefined method ::beforeexecuteroute() Phalcon 3.2.0"
I updated Phalcon from 3.1.2 to 3.2.0 version and now have exception: `Exception: Call to undefined method ::beforeexecuteroute()`

[code]

This function exists in the 3.2.0 version: https://docs.phalconphp.com/en/3.2/controllers Can you help me?

### Details

* Phalcon version: 3.2.0
* PHP Version:PHP 7.1.1
* Operating System: macOS Sierra
* Installation type: Compiling from source
* Powered by

[2017-06-23 07:19] stamster commented on #12920
I'll try to reproduce this case.

[2017-06-23 07:29] Jurigag commented on #12924
I think this is somehow zephir issue @sjinks

[2017-06-23 07:38] artisanBill opened #12925 "Phalcon\Cache\Exception: Failed to authenticate with the Redisd server"
Phalcon\Cache\Exception: Failed to authenticate with the Redisd server File=phalcon/cache/backend/redis.zep Line=131 #0 [internal function]: Phalcon\Cache\Backend\Redis->_connect() #1 [internal function]: Phalcon\Cache\Backend\Redis->get('cvrhndg252o9bbb...', 2592000) #2 [internal function]: Phalcon\Session\Adapter\Redis->read('cvrhndg252o9bbb...') #3 [internal function]: session_start() #4 /devel

[2017-06-23 07:40] artisanBill commented on #12925
Environment
php: 7.1.5
nginx: 1.12.0
redis: v=3.2.9

[2017-06-23 07:40] Jurigag commented on #12925
Duplicate https://github.com/phalcon/cphalcon/issues/12736

[2017-06-23 07:43] YamiChat commented on #12924
Returned 3.1.2 version but the error still remains,
Installation type: `brew install php71-phalcon`
Phalcon version: 3.1.2
PHP Version: 7.1.5
Zephir: Version 0.9.7-1fae5e50ac

[2017-06-23 07:54] sergeyklay commented on #3293
Refs: #2900

[2017-06-23 07:54] #3293 closed

[2017-06-23 07:54] Jurigag commented on #12918
I installed and it wasn't working - when accessing this variable in other request it wasn't there because session wasn't started. There were bug in zephir which was just allowing to use it like this.

[2017-06-23 07:56] #12925 closed

[2017-06-23 07:59] Jurigag commented on #12918
Just do in one request:

[code]

And in other:

[code]

You will have null returned.

[2017-06-23 08:15] stamster commented on #12918
You're obviously missing the point while desperately trying to prove your points are right - technically.
Now you went off topic - I never ever mentioned *different* requests, and anyway how is that suppose to work with stateless clients like remote API's connecting to our backend, they don't accept Cookies at all.

So one more time in case you have troubles to see it correctly:

1. Remote systems

[2017-06-23 08:19] stamster commented on #12924
Did you restarted web server after you re-installed 3.1.2?

[2017-06-23 08:21] YamiChat commented on #12924
Yes, of course

[2017-06-23 08:29] Jurigag commented on #12924
Can't reproduce.

[2017-06-23 08:34] Jurigag commented on #12918
But persistent is using SESSION. So it wasn't working how it should, you were just using wrong thing to wrong pupose.

[2017-06-23 08:36] YamiChat commented on #12924
I think the problem with PHP 7.1.5 (+phalcon),
Yesterday I used Phalcon 3.1.2 with php5.6.29 without any problems

[2017-06-23 08:37] Jurigag commented on #12924
But i use php 7.1.0, do you use TS or NTS?

[2017-06-23 08:40] YamiChat commented on #12924
I use mamp php 7.1.1 https://www.mamp.info/en/downloads/

[2017-06-23 08:41] Jurigag commented on #12924
Just check in `phpinfo()` is this TS or NTS?

[2017-06-23 08:44] stamster commented on #12918
Conclusion that something is used in a technically "wrong manner" does not disapprove the fact that it worked (and still does) as expected from app logic perspective.

Case closed.

[2017-06-23 08:44] YamiChat commented on #12924
PHP Extension Build	API20160303,NTS
Thread Safety	disabled
this?

[2017-06-23 08:47] Jurigag commented on #12918
Yea, and now it isn't, as it should be because session was not started and `$_SESSION` is wrong superglobal.

[2017-06-23 08:48] Jurigag commented on #12924
Yea, then idk, need full code to reproduce issue.

[2017-06-23 09:08] YamiChat commented on #12924
oh, the problem was that now we need
`public function beforeExecuteRoute($dispatcher) {`
not
`protected function beforeExecuteRoute($dispatcher) {`

thanks

[2017-06-23 09:10] #12924 closed

[2017-06-23 09:15] Jurigag commented on #12924
Haha, good to know.

[2017-06-23 09:17] Jurigag commented on #12924
Well we need to update it to is_callable and hopefully it will be fixed.

[2017-06-23 10:58] Jurigag commented on #12111
This can be closed.

[2017-06-23 14:20] #12111 closed

[2017-06-23 14:21] sergeyklay commented on #1810
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-06-23 14:21] #1810 closed

[2017-06-23 14:22] sergeyklay commented on #2056
The `1.3` branch is not longer supported.

[2017-06-23 14:22] #2056 closed

[2017-06-23 14:22] sergeyklay commented on #2055
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-23 14:22] #2055 closed

[2017-06-23 14:22] sergeyklay commented on #3061
The `1.3.x` branch is not longer supported.

[2017-06-23 14:22] #3061 closed

[2017-06-23 14:23] sergeyklay commented on #3031
The `1.3.x` branch is not longer supported.

[2017-06-23 14:23] #3031 closed

[2017-06-23 14:23] sergeyklay commented on #2266
The `1.3.x` branch is not longer supported.

[2017-06-23 14:23] #2266 closed

[2017-06-23 14:23] sergeyklay commented on #2876
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-06-23 14:23] #2876 closed

[2017-06-23 14:24] #2809 closed

[2017-06-23 14:24] sergeyklay commented on #2809
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-06-23 14:25] #2140 closed

[2017-06-23 14:25] sergeyklay commented on #1963
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-23 14:25] #1963 closed

[2017-06-23 14:27] sergeyklay commented on #2803
We don't support Mongo anymore. We'll try to implement the new driver support but anyway it is different issue.

[2017-06-23 14:27] #2803 closed

[2017-06-23 14:28] sergeyklay commented on #10485
This issue was moved to phalcon/incubator#796

[2017-06-23 14:28] #10485 closed

[2017-06-23 14:29] #10447 closed

[2017-06-23 14:29] #10958 closed

[2017-06-23 14:30] #10959 closed

[2017-06-23 14:30] #11099 closed

[2017-06-23 14:30] #11199 closed

[2017-06-23 14:31] sergeyklay commented on #11170
Absolute paths are now supported

[2017-06-23 14:31] #11170 closed

[2017-06-23 14:31] #11784 closed

[2017-06-23 18:49] dschissler commented on #11642
I tested this on `3.2.0` and it is still incorrect.

[2017-06-23 18:51] dschissler commented on #11633
Is this a bug or should this be the behavior?

[2017-06-23 18:52] dschissler commented on #11626
@Jurigag Is this correct behavior?  Are there edge cases where this is helpful or harmful?

[2017-06-23 19:11] Jurigag commented on #11389
Well i plan to add Firewall namespace to Phalcon 4, which will allow you do achieve this functionallity. It won't be exactly on router however. It will be simply - set rules in acl or annotations in your controllers. Attach Firewall class as listener to Dispatcher and done pretty much.

[2017-06-23 19:19] Jurigag commented on #11633
Didn't even knew that you can set array there actually, never used it like this, not sure, it might be a bug. If this change which OP proposed will fix it then great.

[2017-06-23 19:23] Jurigag commented on #11626
I thinnk yea it should check first `HTTP_` variant, because indeed we can have rare cases as OP mention but you really should imho change it in your application to avoid such cases.

[2017-06-23 19:24] Jurigag commented on #11642
Will check it later.

[2017-06-23 19:28] dschissler commented on #11000
@sergeyklay Can this be added to 4.0 milestone?  Also change title.

[2017-06-23 19:35] Jurigag commented on #11000
Well i can update `Phalcon\Config\Factory::load` to accept just string.

[2017-06-23 19:39] nsossonko commented on #11626
Using a custom USERNAME header hits this case. It's not something that I can change at this point (although I've fixed it myself locally already).

[2017-06-23 20:47] dschissler commented on #11633
I think that was added with Phalcon 2.0 or 2.1 but I never used it since I designed my platform before that was an option.

Probably it should just stop the loop since it is also more work for the typical case where the same view doesn't exist in other directories.

[2017-06-24 12:53] stamster commented on #12396
This bug is still present on 3.2.x, FYI.
It's just that it seems little bit different (back trace / gdb).

[code]

[2017-06-24 16:39] Jurigag commented on #12396
Well this backtrace doesn't tell anything really.

[2017-06-24 23:23] stamster commented on #12396
Slightly changed output - IDK why, but the original issue is there - syntax errors are root cause.

[2017-06-24 23:44] dschissler commented on #12284
@sergeyklay Can you add this to Phalcon 4 milestone?

[2017-06-25 02:44] limingxinleo opened #12926 "Model Update Error"
### Details
The code can work.
[code]

The code can't work.
[code]
[code]

### Suggest
When I update model, the sql update all field everytime. I want the sql only update the field changed.

* Phalcon version: (`phalcon

Web framework delivered as a C-extension for PHP
phalcon => enabled
Author => Phalcon Team and contributors
Version => 3.1.2
Build Date => Apr 12 2017 12:46:24
Powered by Zephir =

[2017-06-25 08:12] Jurigag commented on #12926
You need to select full model. When you are selecting model with columns then always `Phalcon\Mvc\Model\Row` is selected. It's not a bug.

[2017-06-25 12:14] #11613 closed

[2017-06-25 12:15] sergeyklay commented on #11521
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and discussions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-06-25 12:15] #11521 closed

[2017-06-25 12:16] sergeyklay commented on #11515
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and discussions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-06-25 12:16] #11515 closed

[2017-06-25 12:16] sergeyklay commented on #11504
The `2.x` branch is not longer supported.

[2017-06-25 12:17] sergeyklay commented on #11481
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-06-25 12:17] #11481 closed

[2017-06-25 12:18] sergeyklay commented on #11449
@emiliodeg Could you please provide a small and clean code to reproduce the issue? The example is impossible to figure out.

[2017-06-25 12:19] Jurigag commented on #11504
This is actually on 3.0.x too i think https://forum.phalconphp.com/discussion/16399/problem-with-hasmany-composite-key

[2017-06-25 12:22] sergeyklay commented on #11175
I'm closing this issue due to the lack of any reaction. And it seems to me it maybe fixed
in later versions.  I'll open it again if the need arises.

[2017-06-25 12:22] #11175 closed

[2017-06-25 12:23] sergeyklay commented on #11169
Volt already has commenting. I'm closing since this is a not a bug report. Feel free to discuss on the [official forums](https://forum.phalconphp.com), and/or the internals repo.

[2017-06-25 12:23] #11169 closed

[2017-06-25 12:24] #11547 closed

[2017-06-25 12:24] sergeyklay commented on #11264
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-06-25 12:24] #11264 closed

[2017-06-25 12:24] #11241 closed

[2017-06-25 14:26] #12926 closed

[2017-06-26 13:05] tugrul opened #12927 "Memory Corruption on XDebug Session"
### Expected and Actual Behavior

First request does not have a problem. Following request have strange memory behavior when
xdebug session active. Sometimes trying to allocate annoying size of memory, sometimes segfaulting.  This behavior is changing on restart php-fpm.

Please provide an email address to share coredump.

### Backtrace
[code]
### Details

* Phalcon version: 3.x.x (all of the vers

[2017-06-26 13:25] sergeyklay commented on #12927
Could you please try latest Phalcon? And without script to reproduce, web server config sample we can't deal what happens.

[2017-06-26 14:04] tugrul commented on #12927
@sergeyklay same problem on latest Phalcon.

I pushed a branch to my invo project for to reproduce issue: https://github.com/tugrul/invo/commit/e72885f3a7e4dd4fc4adc573f0e327579aadcc63

[2017-06-26 16:21] sergeyklay commented on #12927
Just to you know https://github.com/phalcon/zephir/compare/0.9.6...0.9.9

[2017-06-26 17:29] emiliodeg commented on #11449
ok give me a few days. I have a bussy week

[2017-06-27 16:49] Jurigag commented on #11000
Well i have this ready, but we don't have 3.3.x branch, and 4.0.x is not merged, i doubt i can add it to 3.2.x since it's new feature/enhancement really.

[2017-06-28 13:04] nikolay-mihaylov opened #12928 "Binding parameters with IN({placeholder:array}) only works when array is 0 indexed."
Binding parameters with `IN({placeholder:array})` only works when array is 0 indexed.

Code snippet to reproduce:

[code]
### Details
* Phalcon version: 3.0.2 and 3.2.x
* PHP Version: 7.0.13
* Operating System: Windows 10
* Installation type: Windows DLL
* Server: Apache
* Other related info (Database, table schema): MySQL with PDO

[2017-06-28 13:13] sergeyklay commented on #12928
https://github.com/phalcon/cphalcon/issues/11842

[2017-06-28 13:13] #12928 closed

[2017-06-28 13:27] dellert commented on #12254
it doesn't work

[2017-06-28 14:23] Jurigag commented on #12254
What phalcon version?

[2017-06-28 14:46] andmm commented on #1253
Was this issue ever resolved?

[2017-06-28 14:56] dellert commented on #12254
3.0.3

[2017-06-28 14:59] datanator commented on #1253
AFAIK no.. I use Smarty 3 standard. I value full template inheritance and verbatim tags. Only Smarty3 an Twig seem to fully support that and Smarty is the faster of the two. Now building a Zephir version of Smarty3, that would be awesome...

[2017-06-28 18:18] Jurigag commented on #12254
Then post code to reproduce.

[2017-06-29 00:38] TimurFlush opened #12929 "Bug: $this->getDI()->getShared('dispatcher') returned bool"
Hello. I'm not very good know English language, Russian is better.

[code]
why is the first var_dump returns bool(true), and the second \Phalcon\Request?
The idea is to return the object \Phalcon\Mvc\Dispatcher, but instead returns bool(true).
Explain to me, can I something not so do?

### Details

* Phalcon version: 3.2.0
* PHP Version: PHP Version 7.1.5-1+deb.sury.org~xenial+2
* Operating System

[2017-06-29 06:45] dellert commented on #12254
`    public function validation()
    {
        $validator = new Validation();
        $validator->setFilters('field', 'trim');

        return $this->validate($validator);
    }`

This code doesn't work on data save. All data for property "field" save with whitespaces. Besides, I
I tried creating self custom filter, it doesn't work too

[2017-06-29 06:46] louiemiranda commented on #10343
Reviewing comments and code later, but need a quick info would anyone know if this problem was resolved on 2.0.13?

[2017-06-29 07:27] stamster commented on #12929
https://docs.phalconphp.com/en/latest/api/Phalcon_Mvc_User_Plugin
https://olddocs.phalconphp.com/en/latest/api/Phalcon_Mvc_User_Plugin

[2017-06-29 07:58] andrew-demb commented on #12929
@stamster, about constructor: why don't use? He can do it without any danger.

@TimurFlush, please, provide a script to reproduce.

P.S.: I have no problem with it - https://gist.github.com/andrew-demb/8f1bfcd37561efe3ed09dc3627e13a41

[2017-06-29 12:41] TimurFlush commented on #12929
@andrew-demb, I, too, have with your code no problem.
@stamster, You can use a constructor.

Don'T know how to describe it to you, it at least needs to see.
https://youtu.be/eViIviXw4zA

[2017-06-29 14:38] sergeyklay commented on #10343
I'm not sure

[2017-06-29 20:32] gunelism commented on #2052
1+

[2017-06-29 21:20] khalyomede opened #12930 "Controller lazy loading fails with error "Parameter 'definition' must be a string" when using Micro"
Using lazy loading with Micro, Collection and Controller fails when bootstraping Phalcon with Micro.

### /public/index.php
[code]

### /bootstrap/bootstrap.php
[code]
### /config/routes.php
[code]

### /controllers/controllers.php
[code]

### Expected Behavior

Displaying `Hello World!` if visiting `/public/index.php`.

### Actual Behavior

Displays `Uncaught InvalidArgumentException: Parameter '

[2017-06-29 21:21] temuri416 opened #12931 "[BUG] Action forwarding is not working if Exception is handled in the Controller's initialize() phase"
Hi,

I use this approach to handle exceptions thrown in Controller Actions. Nothing fancy here:

[code]

Everything works fine if an Exception is thrown inside Controller's Action, i.e. past this line:

https://github.com/phalcon/cphalcon/blob/master/phalcon/dispatcher.zep#L654

The problem is that if an Exception is thrown inside Controller's `initialize()`, then **forwarding code above does not

[2017-06-29 21:50] #12929 closed

[2017-06-30 02:13] cq-z opened #12932 "Phalcon\Mvc\Micro errorHandler accepts \Exception instead of PHP 7's \Throwable"
[code]
but PHP 7's \Throwable

[2017-06-30 08:53] TheCrimsonIdol commented on #12908
??? this should not be.

[2017-06-30 08:55] stamster commented on #12932
Current series of PhalconPHP are both PHP5.x and PHP 7.x compatible. So this can only be applied to 4.x series of PhalconPHP.

[2017-06-30 09:07] #12932 closed

[2017-06-30 18:41] virgofx commented on #12931
I believe this is fixed with #12209  ... just need to rebase it and resubmit it. It fixes a bunch of looping and performance issues as well.

[2017-07-01 18:18] Jurigag commented on #12930
You need to use string, not class instance, use HomeController::class

[2017-07-02 22:55] #12930 closed

[2017-07-03 09:23] fxm5547 opened #12933 "MYSQL_ATTR_USE_BUFFERED_QUERY = false result in find() return empty!"
`MYSQL_ATTR_USE_BUFFERED_QUERY = false`  result in find() return empty!

[2017-07-03 11:45] makerlabs commented on #12697
I really like the symfony framework approach more I would go for deprecating the setJsonContent and use:

[code]
Or (actually ur case would have a small problem here)
[code]

And as for the return array set the view variables instead.

[2017-07-03 12:00] ilogs-sepa opened #12934 "[BUG] Calling flush() on \Phalcon\Cache\Backend\Apcu fails"
### Expected and Actual Behavior

I want to clear/purge the complete APCU cache by calling the flush method from the Backend class.
At the moment this just yields the following exception text:

`Call to undefined function apc_delete()`

The exepcted behaviour is to silently purge what is there to purge.

Seems to be a simple bug.

### Details

* Phalcon version: 3.2.0
* PHP Version: 7.1.5

[2017-07-03 12:06] sergeyklay commented on #12934
There is two extension:
* APC
* APCU

These extensions provides own functions:
* `apc_`
* `apcu_`

To use old APC functions like `apc_delete` (note, not `apcu_delete`) with APCU extensions you have to install and enable `acpu_bc` extension. https://pecl.php.net/package/apcu_bc

[2017-07-03 12:56] sergeyklay commented on #12934
Fixed in the `3.2.x branch`. Feel free to open new issue if the problem appears again. Thank you for contributing.

[2017-07-03 12:56] #12934 closed

[2017-07-03 16:11] badluck81 opened #12938 "{{ getTitle() }} cause segmentation fault on dispatcher->forward to notFound"
### Expected and Actual Behavior
getTitle() in volt main layout cause :
[2948319.527126] php-fpm7.0[43751]: segfault at 1 ip 00007f3aeaedfb1d sp 00007fff9e5ae620 error 6 in phalcon.so[7f3aead5e000+4c8000]

[code]

in index.volt - `{{ getTitle() }}`
in any controller:

[code]
### Details

Debian 8 (jessie) 3.16.0-4-amd64 x86_64

Web framework delivered as a C-extension for PHP
phalcon => enabled
Au

[2017-07-03 16:44] sergeyklay commented on #12938
What is `getTitle() ` ?

[2017-07-03 16:45] badluck81 commented on #12938
\Phalcon\Tag::getTitle()

[2017-07-03 20:16] sergeyklay commented on #12938
Actually there is no `getTitle()` function. You have to use `{{  get_title() }}` in Volt.

[2017-07-03 20:16] #12938 closed

[2017-07-03 22:11] #12627 closed

[2017-07-04 04:49] gtux commented on #12394
I have the same issue, I want to change the parent of the row but it do remains the same even after setting up the value manually. Also, I want to change it after validate one form that receives the values, I mean after bind the data over the entity.

Maybe is there some method to "suspend" or "erase" the belongsTo relationship dynamically in runtime?

[2017-07-04 05:02] tcthtuananh opened #12939 "Mongoclient not found ?"
install mongodb 3.4 php 7.1 i see Mongoclient not found ?

[2017-07-04 08:16] be4i opened #12940 "crash with filevalidator or callbackvalidator"
Hello, phalcon crashes when i am using either filevalidator or callbackvalidator, i am on debian jessie php 5.6.30-0+deb8u1, apache2 and phalcon 3.2.0. When i use 3.1.2 i don't have this problem exept when i enable xdebug.

here is the backtrace: https://pastebin.com/nTaupRfG

[2017-07-04 10:00] sergeyklay commented on #12939
https://github.com/phalcon/cphalcon/issues/11156

[2017-07-04 10:00] #12939 closed

[2017-07-04 11:15] stamster commented on #12940
xdebug being a low level extension, does not make a good recipe with another low level extensions such as cphalcon.
Try with [phpdbg](http://phpdbg.com) instead.

[2017-07-04 11:34] dellert opened #12941 "Assets addJs attributes doesn't works?"
Hi, can somebody tell me, why this code doesn't works?:)

[code]

I wanna see smth like this:

**<script type="text/javascript" async defer src="//path/to/cdn/script.js"></script>**

But I get

**<script type="text/javascript" src="//path/to/cdn/script.js"></script>**

[2017-07-04 11:42] be4i commented on #12940
okay, but i am getting the crash on 3.2.0 without xdebug

[2017-07-04 11:44] sergeyklay commented on #12941
Can you please provide OS, PHP version, Phalcon version and `php --ri phalcon` output

[2017-07-04 11:45] sergeyklay commented on #12940
@Jurigag Could you please take a look

[2017-07-04 11:49] dellert commented on #12941
@sergeyklay
OS: Debian 8
PHP: 7.0
Phalcon: 3.2.0

php --ri phalcon
[code]

[2017-07-04 11:54] sergeyklay commented on #12941
I'll try to sort out ASAP.

[2017-07-04 13:32] stamster commented on #12940
that's what you wrote?

Provide script to reproduce...

[2017-07-04 14:13] Jurigag commented on #12940
Post code to reproduce.

[2017-07-04 15:20] be4i commented on #12940
Controller:

[code]

View:

[code]

[2017-07-04 20:43] sergeyklay commented on #2604
Fixed in the `3.2.x branch`. Feel free to open new issue if the problem appears again. Thank you for contributing.

[2017-07-04 20:43] #2604 closed

[2017-07-05 14:56] hufersil opened #12943 "appendMessage before execute validation"
**Steps to recreate**
1. create a validator
2. add some rules
3. add a custom message with **appendMessage**
4. execute validation

### Expected and Actual Behavior
**expected**: return all messages in validator
**actual behavior**: only messages included by validators are returned

**example:**

[code]

looking at **validation.zip**, I think the problem is at line 121
```let this->_messages = mes

[2017-07-05 15:48] stamster commented on #12867
I often see many developers rely on this operator.

[2017-07-05 18:26] Jurigag commented on #12943
You should append messages to model using `$this->appendMessage` and class `Phalcon\Mvc\Model\Message` i think.

[2017-07-05 19:12] hufersil commented on #12943
@Jurigag

First, thanks for replying so quickly!

The model.validate method gets the messages from validation.validate method. So I thought I should append the messages in the **Phalcon\Validation object, and the call to Phalcon\Mvc\Model.validate should get them even if I add them manually**

And I don't think this is a workaround.
Once the validation allows me to append messages manually, imo it

[2017-07-05 20:22] temuri416 commented on #12931
will you be doing that any time soon?

[2017-07-05 23:12] virgofx commented on #12931
Yeah, it's on my todo list

[2017-07-06 07:58] stamster commented on #12933
RDBMS version, details? OS?
Table structure sample?
PHP version, PhalconPHP version?

[2017-07-06 09:08] hoyo commented on #11789
+1

[2017-07-06 09:39] Jurigag commented on #12943
I mean what i proposed is workaround, it's pretty much doing the same stuff.

[2017-07-06 16:26] Wirone opened #12945 "[MVC] Add afterFind event"
### Expected and Actual Behavior

There is no `afterFind` event for database models. In this case, there is no easy way to implement re-usable extensions (behaviors) for manipulating data after retrieving from database and before returning model(s).

If such an event were triggered after finding records, `SoftDelete` behavior could automatically filter results and exclude deleted records.

### Det

[2017-07-06 18:55] Jurigag commented on #12945
There is afterFetch, not sure what more you need?

[2017-07-06 19:08] Wirone commented on #12945
I've read [the docs](https://docs.phalconphp.com/en/3.2/db-models-events) today and there isn't `afterFetch` event. I would never create this issue if I found it there :-)

[2017-07-06 19:29] Jurigag commented on #12945
@niden you missed afterFetch event :D

Also keep in mind that afterFetch is fired ONLY on MODEL CREATION, so Model::find() won't fire it, only when accessing certain row from resultset or when doing Model::findFirst and only on full models.

[2017-07-07 05:08] Kachit opened #12946 "Phalcon exception handler in Dispatcher not handle PHP Errors"
Phalcon exception handler in Dispatcher not handle PHP Errors based on Throwable

Details

Phalcon version: 3.2.0
PHP Version: 7.0.4
Operating System: Windows 7
Installation type: downloaded DLL
Zephir version (if any): n/a
Server: Apache
Other related info (Database, table schema):

[2017-07-07 05:33] be4i opened #12947 "Parameter 'message' must be a string in FileValidator"
When i try to validate file upload, and the file exceeds the 'maxSize' specified in the FileValidator i get "Parameter 'message' must be a string" exception.
### Code

[code]

[code]

Output

[code]

### Details

* Phalcon version: 3.2.0
* PHP Version: PHP 7.0.20-1~dotdeb+8.2
* Operating System: Debian Jessie
* Installation type: installing via package manager
* Zephir version (if any): 0.9.8-6335

[2017-07-07 07:19] stamster commented on #12946
Related to #12932

[2017-07-07 07:33] Wirone commented on #12945
@Jurigag so basically `afterFetch` is not what I was thinking about.

Maybe issue's title is misleading. What I would like to achieve is core API for automatic data retrieval condition manipulation ;-) Take `SoftDelete` behavior as example, docs states: "Note that you need to specify the deleted condition in your queries to effectively ignore them as deleted records, this behavior doesn't support

[2017-07-07 08:35] Jurigag commented on #12945
You can just override find/findFirst method and add there proper condition you want.

[2017-07-07 08:56] Wirone commented on #12945
But this is not reusable and automatic solution. We've implemented custom `AbstractSoftdeleteableModel` which overrides `find` / `findFirst` but this enforces inheritance instead of composition. It should be possible to achieve such kind of condition manipulation automatically with behaviors.

[2017-07-07 09:21] Jurigag commented on #12947
Not sure what happens here. Somehow you have false returned as message. Can you check what `$validation->getDefaultMessage('FileIniSize')` returns?

[2017-07-07 09:35] fxm5547 commented on #12933
- CentOS 7.2
- MySQL 5.6
- PHP 7.1 Phalon 3.0.2
- Any Table structure

[2017-07-07 09:35] fxm5547 commented on #12933
- 目前已经对接4大出版社，数据在表ecs_onix_products
- 从亚马逊、豆瓣等抓取更详尽的图片、属性和介绍

[2017-07-07 09:45] fxm5547 commented on #12933
$di->set('unbufferedRDb', function () use ($config) {
    return new DbAdapter(array(
        "host" => $config->database->readhost,
        "username" => $config->database->username,
        "password" => $config->database->password,
        "dbname" => $config->database->dbname,
        "charset" => $config->database->charset,
        "options" => array(PDO::MYSQL_ATTR_USE_BUFFERED_QUERY => fals

[2017-07-07 11:06] khalyomede commented on #12930
The [documentation for lazy loading in a Micro project](https://docs.phalconphp.com/en/3.2/application-micro#routing-handlers-controllers-lazy-loading) is missing this detail.

[2017-07-07 14:34] be4i commented on #12947
/home/be4i/Projects/phalcontest/app/controllers/IndexController.php:40:string 'File :field exceeds the maximum file size' (length=41)

[2017-07-07 15:02] Jurigag commented on #12947
Oh https://github.com/phalcon/cphalcon/blob/master/phalcon/validation/validator/file.zep#L114 there is no replacePairs defined, i guess when there is no replace pairs and those are not replaced there is false returned? @sergeyklay

[2017-07-07 15:04] Jurigag commented on #12947
I will try to fix it later.

[2017-07-07 20:26] badluck81 commented on #12938
It is, I replaced {{ getTitle() }} (which worked for 2 years until last update, btw) with {{ get_title() }} and is still causing a database crash and an segmentation fault.

[2017-07-08 00:18] Jurigag commented on #12938
Provide core dump please.

[2017-07-08 06:39] #12946 closed

[2017-07-09 17:19] acmplc opened #12948 "Not sure if this is intentional but doesn't makes sense in source code of Phalcon\Mvc\View"
on looking to overload the view I came across a slight weirdness in the code located here
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/view.zep on line 603

is this meant to be viewDir or viewsDir ....

The entire reason i'm overloading is because view class seems a bit buggy in relation to paths.

I think this should be viewDir and i'll make that change in our codebase. Please veri

[2017-07-10 16:47] blm14 opened #12949 "Phalcon not compiling as of this morning"
### Expected and Actual Behavior

Recompile

[code]

[code]
### Details

* Phalcon version: (`php --ri phalcon`)
* PHP Version: (`php -v`)
* Operating System:
* Installation type: Compiling from source || installing via package manager
* Zephir version (if any):
* Server: Nginx | Apache | Other
* Other related info (Database, table schema):

[2017-07-10 16:53] blm14 commented on #12949
ignore - deleted git directory, repulled and now it works. Weird.

[2017-07-10 16:53] sergeyklay commented on #12927
@tugrul Is problem appear with Zephir 0.9.9 ?

[2017-07-10 16:55] dnapierata opened #12950 "Paginator QueryBuilder not escaping rowcount column"
### Expected and Actual Behavior

When using the paginator with a `GROUP BY` and `HAVING` clause, the sql that is generated does not escape the aliased column and thus I am receiving a syntax error from my database (MSSQL 12.0). [https://github.com/phalcon/cphalcon/blob/master/phalcon/paginator/adapter/querybuilder.zep#L228](https://github.com/phalcon/cphalcon/blob/master/phalcon/paginator/adapter

[2017-07-10 16:59] sergeyklay commented on #12950
Phalcon does not have build-in MSSQL dialect class. So it is most likely a new feature request for Incubator.

[2017-07-10 16:59] #12949 closed

[2017-07-10 17:45] dnapierata commented on #12950
I realize MSSQL isn't currently supported by phalcon but this fix is just to make the generated SQL more standards compliant and in fact it is already being done here [https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L1135](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L1135)

I already have the dialect and adapter classes for sql server but this does n

[2017-07-10 18:12] Slind14 commented on #12920
Did you have any luck with reproduction?

[2017-07-10 19:11] Jurigag commented on #12950
Can you do PR with fix to 3.2.x branch?

[2017-07-11 07:14] dellert opened #12952 "$validation->setFilters("name", "trim") doesn't work"
[code]

This code doesn't work on data save. All data for property "field" save with whitespaces. Besides, I tried creating self custom filter, it doesn't work too

try on versions 3.0.3 and 3.2

#12254

[2017-07-11 08:54] Jurigag commented on #12952
You already created issue. Why another one?

[2017-07-11 08:55] Jurigag commented on #12952
Well you need to add any validator i think. Filters works only when getting value which is triggered when validating field.

[2017-07-11 09:47] dschissler commented on #1844
Create a method on your class and iterate over it using `cloneResultMapHydrate` or `cloneResultMapHydrate`.

[2017-07-11 09:50] dschissler commented on #2312
Is the behavior still the same in Phalcon 3.*?

[2017-07-11 10:03] dschissler commented on #3135
@sergeyklay Please add this to 4.0 roadmap.  It should be easy to add and I ran into this annoyance some years ago.

[2017-07-11 10:06] dschissler commented on #10372
@Jurigag Is this still relevant?

[2017-07-11 10:08] #10258 closed

[2017-07-11 10:15] Jurigag commented on #10372
Not sure, will need to test, possibly yes if no one fixed it.

[2017-07-11 10:17] Jurigag commented on #2312
Most likely yes.

[2017-07-11 10:38] dellert commented on #12952
it's not normal behavior. I wanna use filter not using any validator like presenceof or other

[2017-07-11 10:40] JABirchall commented on #12952
This is not how the validator is intended to be used, if all you want to do is filter the input use [Phalcon/Filter](https://docs.phalconphp.com/en/3.2/filter)

[2017-07-11 11:28] dellert commented on #12952
thx

[2017-07-11 11:28] #12952 closed

[2017-07-11 11:34] Jurigag commented on #12952
Well `Phalcon/Filter` is more like standalone component. I feel like we should add option to use filters in validation without any validators, but not sure what you think.

[2017-07-11 11:46] dellert commented on #12952
Yes, it would be cool!

[2017-07-11 17:52] jellisii commented on #12176
Can confirm this is still a problem, particularly the loop context that @challet referenced.  I can put together a test case if needed, as this is causing me headaches.

[2017-07-11 18:39] acmplc commented on #12948
Also when a view doesn't exists, a blank screen is shown, can you do an exists first before the require and throw an exception

[2017-07-11 18:42] #12948 closed

[2017-07-11 22:13] imanghafoori1 opened #12953 "Widgetize pattern to boost performance even much more"
Since falcon is very fast, I think the bottleneck of many falcon web apps lies in heavy DB queries.
So if the framework starts to offer an easy way to cache them the overall resulting app whould be truely fast.

I have created a package called "laravel-widgetize" for laravel apps.

💡 Let me explain the concept:

Imagine we have an online shop.
- We show the top 10 most sale products on the home pa

[2017-07-11 22:16] imanghafoori1 commented on #12953
It is a __feature request__ and not a bug

[2017-07-11 22:29] Jurigag commented on #12953
You can already cache parts of views in phalcon volt super easy:

[code]

[2017-07-11 23:09] virgofx commented on #12953
Caching is already included with Phalcon. The well tested adapters work with various data components including the database, metadata, models, etc.

[2017-07-11 23:09] #12953 closed

[2017-07-11 23:56] atrope opened #12955 "[Memcached] Multiple memcached instances conflict"
Hello,
I've set up a multi-site, the code is all shared between both sites.
 I Just change the db and caching port of the sites.

The problem is that the 2nd Application is getting keys from the 1st application.
Maybe phalcon is caching the config array in someplace we don't have access?

* In Nginx I create a variable telling me which application i should run (it checks domain in nginx)
So i set

[2017-07-12 08:07] imanghafoori1 commented on #12953
Anyway this design pattern bring other benefits in term of application structure and etc. You may want to consider. @virgofx

[2017-07-12 10:19] cottton commented on #440
sarcasm : thanks that i had to search to find out what happen with the empty strings /sarcasm

Bad solution imo. And as i read im not the only one.

2017 - Extra search|code|work|time to fix an issue with a model that just should insert an empty string.

Not so well done.

Not only that you _force_ ppl to search for a solution. You _force_ ppl to add code to fix a problem that actually should not

[2017-07-12 14:38] dnapierata opened #12957 "[3.2.x] Paginator QueryBuilder with HAVING doesn't support multiple db services"
### Expected and Actual Behavior

When using the paginator querybuilder with a `HAVING` and with a model which uses a different db connection service. The paginator incorrectly assumes that the db service is `'db'` when performing a count of the total records. [https://github.com/phalcon/cphalcon/blob/3.2.x/phalcon/paginator/adapter/querybuilder.zep#L227](https://github.com/phalcon/cphalcon/blob/3

[2017-07-12 18:52] Jurigag commented on #12957
Good point, can you do PR with this code?

[2017-07-12 19:12] echodreamz commented on #12907
The issue has occured again with the 3.2.1 builds, they now show version 3.2.0 with a build date of Jul 10 2017 09:59:44.

[2017-07-13 06:51] wydhit opened #12958 "Uncaught Error: Access to undeclared static property: Phalcon\Di::$_default"
build project by     `phalcon project --type=modules`

in  `IndexController `    `indexAction`
[code]

then I visit my website faster;   Fatal error   show;

but visit my website slowly ;  Fatal error not   show;
[code]

* Phalcon version: (`3.2.0`)
* PHP Version: (`PHP Version 7.1.7`)
* Operating System:window10
* Server:  Apache
* Server API | Apache 2.0 Handler
*php  opcache.enable=0

[2017-07-13 08:27] Jurigag commented on #12958
Duplicate of https://github.com/phalcon/cphalcon/issues/12056

[2017-07-13 08:29] wydhit commented on #12958
switch to php5.6  ，   I've had no problems.

[2017-07-13 09:20] Jurigag commented on #12958
There is solution provided there - switch to php-cgi + nginx/apache, and problem solved, even with php 7.1

[2017-07-13 09:47] atrope commented on #12955
No one knows about this problem?

It just happens when using modelsManager or Model::find and derivatives

Thanks
Alan

[2017-07-13 09:58] stamster commented on #12955
Hmm, are you sure you've set up two separate memcached daemons? Or you're using the same daemon with multiple ports?
What keys you're using? I believe all default ones.

The thing is, using `Libmemcached` as an adapter you can set:
- in client array: `Memcached::OPT_PREFIX_KEY => 'orm.' //this is the DOMAIN!`
- in servers array: `'prefix' => 'model_' //actual prefix of the keys`

That way you can

[2017-07-13 10:02] tztztztz commented on #12842
Is anyone up to fix this problem? It should be easy to do so....

[2017-07-13 10:05] Jurigag commented on #12842
You can always create PR if you want.

[2017-07-13 10:07] tztztztz commented on #12842
Whats PR?

[2017-07-13 10:10] atrope commented on #12955
Hello @stamster
I'm using Memcached for Sessions + cache db data also.
I've already tried using prefix and only one memcached instance, but in the end it had the same issue of using the key without the prefix sometimes.
I've set a debug so that i know if its using the right port when using website2 and i'm sure it's setting it right.
[code]
We are not using opcache.

I'm also using:
[code]

With 2

[2017-07-13 10:21] stamster commented on #12955
Ahh, now I see.
Try with this.
On your both service definitions using (lib)memcached, set this in servers array:
`'statsKey' => null //This is MANDATORY to be defined as null or empty string`

Restart memcached and your app server.

P.S. why aren't you using Opcache?! Are you sure about that - it should be enabled by default. Only if you wanted to disable it.... but I don't see a reason.

[2017-07-13 10:34] atrope commented on #12955
@stamster,
I've modified for this:

[code]

what do you mean by restart my app server?
What does statsKey null should do? because checking in Phalcon docs is written:
_Note: statsKey has a negative performance impact_

PS: I've double checked in phpinfo and php -i (web and cli) for opcache  and also for any entries in our php.ini and found nothing of opcache neither enabled or disabled.

[2017-07-13 10:40] atrope commented on #12955
I've went ahead and done that restarted both memcached and the same thing :/

[2017-07-13 11:03] Jurigag commented on #12842
Pull Request

[2017-07-13 11:29] stamster commented on #12955
`statsKey` used to force default `_PHCM` prefix in previous 2.0.x series of Phalcon, so that's why I'm used to setting it to null just to make sure. Now it should default to empty string, so that does not seem to be culprit in your case after all.

Take a look at this example:
https://olddocs.phalconphp.com/en/latest/api/Phalcon_Cache_Backend_Libmemcached.html

Last but not least -
show actual key

[2017-07-13 11:53] atrope commented on #12955
@stamster
I use phpMemcachedAdmin to check the keys,
They are stored right in both servers (checked it).
The problem is when reading something already stored it failsback to the one that already has a cache of that key (11211 has and 11212 does not, so 11212 ask for the cache and it finds in 11211 and shows it altough it does not have the key).
It also happened the same when used prefix, it ignore

[2017-07-13 13:44] addinm opened #12959 "Cookie Bug"
Hi,

Please check this:

session.cookie_httponly = TRUE:

[code]
$cookie->getHttpOnly() = TRUE = OK

NEXT

session.cookie_httponly = FALSE:

[code]
**$cookie->getHttpOnly() = TRUE = WRONG**

Same for secure:

session.cookie_secure = TRUE:

[code]
**$cookie->getSecure() = NULL = WRONG**

NEXT

session.cookie_secure = FALSE:

[code]
**$cookie->getSecure() = NULL = WRONG**

[2017-07-13 13:56] addinm commented on #12959
Please check the code https://github.com/phalcon/cphalcon/blob/master/phalcon/http/cookie.zep#L303

What is this?
let definition = session->get("_PHCOOKIE_" . this->_name);

[2017-07-13 14:30] addinm commented on #12959
Same for getExpiration, getDomain, getPath...

[2017-07-13 14:51] addinm commented on #2329
Any update?

[2017-07-13 15:59] tztztztz commented on #12842
I dont know hpow to do pull request and i cant use Zephyr on windows.

Can you fix it, this is like 5 min job for someone who have Zephyr ready.

[2017-07-13 16:29] Jurigag commented on #12842
You don't need zephir for it. You never used git/github? Oh okay.

[2017-07-13 18:47] tztztztz commented on #12842
No, i have account at github because it's required by Phalcon Phorum.

I doesn't understan why i dont need Zephyr - source code of Phalcon is written in Zephyr, so if i wanted to fix it i need to use Zephyr, right?

[2017-07-13 19:00] atrope commented on #12955
@stamster  Great!

Let me know if you need any input/data or anything that i can test here!

Thank you!
Alan

[2017-07-13 19:48] Jurigag commented on #12842
Yes but you can use any editor to edit zephir code, you don't need to install it to fix anything.

[2017-07-13 19:52] tztztztz commented on #12842
Ok, but how can i test it? You want me to write code without compiling and testing it?

[2017-07-13 19:53] Jurigag commented on #12842
By making PR, it will compile and test in travis.

[2017-07-13 19:55] tztztztz commented on #12842
I can't do it, i don't know github, it would take probably several hours for me before i woud find out how to create pull request. Why you can't fix it?

[2017-07-13 19:58] tztztztz commented on #12842
but how?

[2017-07-13 20:02] Jurigag commented on #12842
I can fix it, just don't have time right now for it. What you mean how? Just by making PR.

1. Fork repo
2. Edit code in repository
3. https://help.github.com/articles/creating-a-pull-request/

Pretty simple and easy really.

[2017-07-13 20:04] tztztztz commented on #12842
Sorry but im unable to do it. Ok then, bug stays.

[2017-07-13 20:17] tztztztz commented on #12842
Is this file responsible for mapping or im wrong:

https://github.com/tztztztz/cphalcon/blob/master/phalcon/mvc/model/metadata/strategy/annotations.zep

??

[2017-07-13 20:21] tztztztz commented on #12842
Come on at least tell me what file i must change.

[2017-07-13 20:24] tztztztz commented on #12842
Is there any way to search entire forked code?

[2017-07-13 20:25] Jurigag commented on #12842
https://github.com/tztztztz/cphalcon/blob/master/phalcon/db/adapter/pdo/postgresql.zep this file most likely describeColumns method

[2017-07-13 20:26] tztztztz commented on #12842
Thanks

[2017-07-13 20:38] tztztztz commented on #12842
Ok let's see what happens now :|

[2017-07-13 20:40] Jurigag commented on #12842
You need to use 3.2.x branch and also update changelog.md

[2017-07-13 20:41] tztztztz commented on #12842
I dont know how to do it

[2017-07-13 20:41] tztztztz commented on #12842
but i changed the code, can you pull request for me copying code?

[2017-07-13 20:44] tztztztz commented on #12842
Just copy my work and pull request ok?

[2017-07-13 20:56] tztztztz commented on #12842
Is it ok now... I lost so much time learning it, just to make small change :/

[2017-07-13 21:11] laszlovl commented on #12394
I believe a simple fix would be to add an extra check at https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L2738:

[code]

[2017-07-13 21:51] tztztztz opened #12963 "Variant of flash message"
New feature request

Simpler (small code compared to current classes) variant of flash message compatible with \Phalcon\Flash\Session, that can be used instead of \Phalcon\Flash\Session:

- automatic retreiving and saving messages in session in __construct and __destruct methods of the flash object
- ability to fetch messages of few message types at once using BITWISE OPERATORS
- messages limit (d

[2017-07-14 07:29] kowach commented on #12931
I bumped on this bug too.

[2017-07-14 16:08] be4i opened #12964 "router and placeholders"
When text is set after a placeholder the last character is removed.

[code]

`{{ link_to(['for': 'test', 'id': '123'], 'test') }}`

extected:
`<a href="/test/123/test">test</a>`
actual:
`<a href="/test/123/tes">test</a>`

### Details

* Phalcon version: 3.2.1
* PHP Version: PHP 7.0.20-1~dotdeb+8.2
* Operating System: Debian Jessie
* Installation type: installing via package manager
* Zephir versio

[2017-07-17 07:11] stamster commented on #12964
Define your route as: `$router->add('/test/:int/test/'`
(with a trailing slash)

[2017-07-17 10:21] sergeyklay commented on #548
This belongs in Incubator Dialect.

[2017-07-17 10:21] sergeyklay commented on #548
This issue was moved to phalcon/incubator#801

[2017-07-17 10:22] #548 closed

[2017-07-17 10:27] sergeyklay commented on #1658
Implemented in #12857

[2017-07-17 10:27] #1658 closed

[2017-07-17 10:37] sergeyklay commented on #12842
Fixed in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-07-17 10:53] tztztztz commented on #12963
If this feture request become accepted, I will make Zephyr code valid.

[2017-07-17 11:02] sergeyklay commented on #12957
Could you please create a small test which will cover code you have changed?

[2017-07-17 11:04] sergeyklay commented on #12957
@dnapierata
I'm hope this fixed in the #12960 PR. Could you please create a small test which will cover code you have changed? Thank you for contributing.

[2017-07-17 11:36] sergeyklay commented on #2496
Implemented in `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-07-17 11:36] #2496 closed

[2017-07-17 13:14] sergeyklay commented on #1839
I'm closing since this is a not a bug report. Feel free to discuss on the [official forums](https://forum.phalconphp.com), and/or the internals repo.

[2017-07-17 13:14] #1839 closed

[2017-07-17 13:17] sergeyklay commented on #1844
Solution is simple with existing methods. I would like this more in Incubator somehow.  I want to close this issue because I don't want a bunch of these lying around.

[2017-07-17 13:17] #1844 closed

[2017-07-17 13:19] sergeyklay commented on #2749
The `1.3.x` branch is not longer supported.  Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-07-17 13:19] #2749 closed

[2017-07-17 13:21] sergeyklay commented on #2692
This issue was moved to phalcon/docs#1126

[2017-07-17 13:21] #2692 closed

[2017-07-17 13:25] sergeyklay commented on #3211
We don't support `PKCS5` encryption anymore.

The `PKCS5` padding is identical to `PKCS7` padding, except that it has only been defined for block ciphers that use a 64-bit (8 byte) block size. In practice the two can be used interchangeably.

I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the

[2017-07-17 13:25] #3211 closed

[2017-07-17 13:48] sergeyklay commented on #10190
I want to close this issue because the `1.3.x` and `2.0.x` branch is not longer supported and I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-07-17 13:48] #10190 closed

[2017-07-17 13:49] #10397 closed

[2017-07-17 13:50] sergeyklay commented on #2855
I want to close this issue because the `1.3.x` branch is not longer supported and I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-07-17 13:50] #2855 closed

[2017-07-17 14:14] sergeyklay commented on #589
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-07-17 14:14] #589 closed

[2017-07-17 14:20] sergeyklay commented on #1855
We think that advancements in the DI have made this NFR irrelevant. Thank you for contributing.

[2017-07-17 14:20] #1855 closed

[2017-07-17 14:51] sergeyklay commented on #2540
It is Phalcon `1.3.x` issue. The `1.3.x` branch is not longer supported. I hope this resolved in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-07-17 14:51] #2540 closed

[2017-07-17 14:52] sergeyklay commented on #10372
Cc: @phalcon/framework-team

[2017-07-17 14:52] sergeyklay commented on #10372
Cc: @phalcon/framework-team

[2017-07-17 14:54] sergeyklay commented on #433
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-07-17 14:54] #433 closed

[2017-07-17 14:54] sergeyklay commented on #12907
@niden Could you please try to sort out?

[2017-07-17 16:51] niden commented on #12907
@echodreamz I recompiled the DLLs. Can you check it out that it all works for you please?

[2017-07-17 16:56] satakecode commented on #11068
A long time has passed since this problem was reported and yet I still find it in version 3.2.1. No plans to correct this issue?