[2015-05-21 03:46] #3081 closed

[2015-05-21 03:47] #2951 closed

[2015-05-21 03:47] andresgutierrez commented on #2947
This is fixed in Phalcon 2

[2015-05-21 03:47] #2947 closed

[2015-05-21 03:48] andresgutierrez commented on #2926
This is fixed in 2.0.1

[2015-05-21 03:48] #2926 closed

[2015-05-21 03:48] andresgutierrez commented on #2886
Can you please try again using Phalcon 2?

[2015-05-21 03:49] #2760 closed

[2015-05-21 03:50] #2655 closed

[2015-05-21 03:51] andresgutierrez commented on #2564
Fixed in 1.3.4

[2015-05-21 03:51] #2564 closed

[2015-05-21 03:52] andresgutierrez commented on #2512
Can you please try again using Phalcon 2?

[2015-05-21 03:55] andresgutierrez commented on #1631
Can you please try again using Phalcon 2 or close this issue?

[2015-05-21 03:56] andresgutierrez commented on #1585
Can you please try again using Phalcon 2 or close this issue?

[2015-05-21 03:57] andresgutierrez commented on #2011
DLLs are now available

[2015-05-21 03:57] #2011 closed

[2015-05-21 03:57] andresgutierrez commented on #1931
Can you please try again using Phalcon 2 or close this issue?

[2015-05-21 03:58] #2117 closed

[2015-05-21 03:59] #2346 closed

[2015-05-21 03:59] #2262 closed

[2015-05-21 03:59] #2269 closed

[2015-05-21 04:00] andresgutierrez commented on #2391
This is fixed in 2.0.2

[2015-05-21 04:00] #2391 closed

[2015-05-21 05:33] savchuks commented on #10266
Thanks, Fix #10266 helped me. I've just manually updated db.zep and recompile it

[2015-05-21 05:38] hrbxb commented on #2338
You need to do urlencode the result of the encryption,and before you decryptBase64 please urldecode.it works

[2015-05-21 05:42] hrbxb commented on #2338
it only use echo or var_dump command！

[2015-05-21 06:45] WooDzu commented on #1585
Sorry but I can't test it easily. Was kind of lucky being able to leave Windows since.

[2015-05-21 06:48] vbojan commented on #10249
I have the same issue with both 2.0 and 2.0.1 and MySQL 5.6.24:
`created` datetime DEFAULT CURRENT_TIMESTAMP

Phalcon is setting it to NULL, and neither
I tried both skipAttributes and skipAttributesOnCreate, but Phalcon keeps setting the field to NULL.

@gtux Can you check again if it really works for you?

[2015-05-21 07:19] eclipse88 commented on #10357
CREATE TABLE IF NOT EXISTS `Zones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `coordinates` text NOT NULL
  PRIMARY KEY (`id`)
) ENGINE=InnoDB  DEFAULT CHARSET=utf8 AUTO_INCREMENT=1 ;

[code]

[2015-05-21 08:25] kristofferingemansson opened #10386 "bindTypes parameter for \Phalcon\Db\Adapter::executePrepared now requires setting type of all bound parameters"
In phalcon < 2.0 supplying bindTypes parameter to \Phalcon\Db\Aadapter methods like fetchAll and fetchOne, which in turn uses executePrepared, required only specifying some named parameters (the ones that needed to be of type other than \Phalcon\Db\Column::BIND_PARAM_STR).
In phalcon >= 2.0 all named parameters must be specified.

    $sql = "
        SELECT :a, :b
    ";
    $x = $this->db->fetch

[2015-05-21 08:44] DasRed commented on #10346
@andresgutierrez I used the compiled downloadable version 2.0.1. If this not the 2.0.x branch?
If not, so release and deploy a brand new 2.0.x extension for Windows , then i can test it.
I don't want it compile on my own ;)

[2015-05-21 08:45] DasRed commented on #3336
I switched to phalcon 2.0.1. I can try it again with 2.0.1.

[2015-05-21 09:34] iammote opened #10387 "build cphalcon " error: âZEND_FE_ENDâ undeclared here (not in a function) ZEND_FE_END""
I' try install in CentOS
by refer link ( http://phalconphp.com/en/download) but I'm get this error after run  "sudo ./install"

In file included from /usr/include/php/Zend/zend.h:303:0,
                 from /usr/include/php/main/php.h:35,
                 from /root/software/cphalcon/build/64bits/phalcon.zep.c:169:
/usr/include/php/Zend/zend_object_handlers.h:147:17: note: expected âchar *â but a

[2015-05-21 09:35] iammote commented on #10387
I'm use php 5.3.3
and this my result of " php-config"

Usage: /usr/bin/php-config [OPTION]
Options:
  --prefix            [/usr]
  --includes          [-I/usr/include/php -I/usr/include/php/main -I/usr/include/php/TSRM -I/usr/include/php/Zend -I/usr/include/php/ext -I/usr/include/php/ext/date/lib]
  --ldflags           []
  --libs              [-lcrypt   -lcrypt -ledit -lncurses -lgmp -lbz2 -lz -l

[2015-05-21 11:32] gtux commented on #10249
Hi @vbojan just yesterday I got the same issue on 2.0.1 branch in my production environment, and indeed does not work well, the issue persist!

[2015-05-21 11:33] gtux opened #10389 "skipAttributes sets NULL to attributes"
Just yesterday I get the same issue on 2.0.1 branch in my production environment, and indeed does not work well, the issue persist!

It is the same #10249 but it's closed

[2015-05-21 11:46] andresgutierrez commented on #10387
PHP 5.3.3 is not supported anymore, can you please update at least to 5.3.21?

[2015-05-21 13:22] #2434 closed

[2015-05-21 14:28] rkeplin commented on #10137
Yes, after compiling from the 2.0.x branch this issue is resolved.  Thanks!

[2015-05-21 14:28] #10137 closed

[2015-05-21 15:21] gtux commented on #10389
I'm trying to go back 2.0.x branch but it does not work:
[code]

[2015-05-21 15:36] akudryav commented on #1117
+1

[2015-05-21 17:52] ginodeis opened #10390 "[2.0.1] - Phalcon\Mvc\Collection custom validator compatibility error"
After update to Phalcon 2.0.1, I have noticed that using custom model validator classes to validate Phalcon\Mvc\Collection objects raise an error like this:

[code]

Until version 1.3.5, I had used some custom model validators from [Incubator](https://github.com/phalcon/incubator/tree/master/Library/Phalcon/Mvc/Model/Validator) to validate Phalcon\Mvc\Collection objects with no problem.

#### Samp

[2015-05-21 18:26] hacketo commented on #10208
I've compiled from the 2.0.x branch and this is fixed.

[2015-05-21 18:26] #10208 closed

[2015-05-21 20:50] gtux commented on #9913
I have the same problem, but in my case I fix the baseUri of Uri service on beforeExecuteRoute method on my controller:

[code]

[2015-05-22 02:57] iammote commented on #10387
Thank you. I'll try :)

[2015-05-22 08:52] sergeyklay commented on #10344
@dreamsxin Thanks! Fixed

[2015-05-22 08:52] #10344 closed

[2015-05-22 10:52] TrogWarZ commented on #1931
For me (ubuntu 12.04, php 5.6.8-1, Phalcon 2.0.x and master (2.0.1)) – not repeated, size and type seems good.

[2015-05-22 15:59] xfight0 commented on #1527
This is a terrible bug :cactus:

[2015-05-22 16:01] andresgutierrez commented on #1527
Can you confirm this is still happening in Phalcon 2?

[2015-05-22 16:18] xfight0 commented on #1527
I test my code just now, This bug has been fixed in Phalcon 2. :smile:
Thank you!

[2015-05-22 16:18] andresgutierrez commented on #1527
Nice

[2015-05-22 16:18] #1527 closed

[2015-05-22 16:23] #10387 closed

[2015-05-22 16:25] TrogWarZ opened #10392 "[2.0.x] Iterator broken (?) with more than 32 rows from ORM"
Hello.

I've created simple snippet to test situation:

[code]

And output is:

[code]

(O_O)

Same result if i run CLI Task (\Phalcon\CLI\Console) or (\Phalcon\Mvc\Micro).

In database logs i see same queries for all iterations:```SELECT * FROM `comments` LIMIT N```, where N is $limit.

Tested on installation via this script (latest check is 2015-05-22 on 4PM UTC):

[code]

ps: [post on forum](ht

[2015-05-23 00:49] dreamsxin commented on #10389
Confirm whether it is the latest:
[code]

[2015-05-23 09:53] khoan commented on #1800
@fl0pp ```$this->cookies->get('remember_user')->delete();``` works!

[2015-05-23 17:48] gtux commented on #10389
I did this:

[code]

[2015-05-23 21:25] sszdh commented on #1117
+1
```Laravel``` [approach](http://laravel.com/docs/5.0/eloquent#eager-loading)

[2015-05-23 21:28] sszdh commented on #2268
+1

[2015-05-23 22:14] samijnih commented on #1780
:+1: for all the recommandations, I have the same problem and it would be nice if it can escape unimplemented columns in the columnMap method

[2015-05-23 23:46] Green-Cat commented on #2268
+1

[2015-05-24 02:27] samijnih opened #10395 "Invalid bind type parameter (2)"
Hi,

I am using bind type into my controller and I have this exception :
Invalid bind type parameter (2)

code :

[code]

Phalcon 2.0.0 with Php 5.6.8.

Thanks

[2015-05-24 05:10] imuneer commented on #1800
This is for deleting. How to use if I want to set?

[2015-05-24 10:18] tmihalik commented on #2268
+1

[2015-05-24 16:39] virgofx opened #10396 "[NFR] Update \Phalcon\Text::uncamelize() with optional delimiter to change default "_""
The current delimiter in `string.h` uses an underscore:

`smart_str_appendc(&uncamelize_str, '_');`

However, it's very common to convert using hyphens (depending on the situation). Either way, just set an optional parameter in the Phalcon\Text class with the default to the current underscore (this way to prevent breaking any compatibility).

Here is what the updated relevant document change would

[2015-05-24 19:17] AGvin commented on #329
Hi guys, are we have some updates for this feature?

[2015-05-24 21:23] sergeyklay commented on #10396
:+1:

[2015-05-25 00:16] dreamsxin commented on #10389
I test it ok,
[code]
[code]

[2015-05-25 07:42] zsj1029 opened #10397 "Libmemcached Conflict CAS"
I want to know the CAS Libmemcached
how to use it
I cant find gets or cas function in Libmemcached

[2015-05-25 13:39] Surt commented on #1482
I still have this problem on 2.0.1.

[2015-05-25 14:31] kristofferingemansson commented on #10199
I agree that the PresenceOf validator should reverted to the old way of validating values.

In 2.0.x it uses PHP empty(), which in this context incorrectly treats 0 and "0" as empty.
https://github.com/phalcon/cphalcon/blob/master/phalcon/validation/validator/presenceof.zep#L48

Pre 2.0.x it used PHALCON_IS_EMPTY(value), which meant "not null && not empty string"
[code]

[2015-05-25 14:40] cinu opened #10398 "[2.0.x] Setting form element name to "value" produces BadMethodCallException during render"
Setting form element name to "value" produces BadMethodCallException  (Wrong number of parameters) during render.

Reproduction code:

[code]

PHP: 5.6.7-1 (debian)
Phalcon: 2.0.1

[2015-05-25 16:50] Green-Cat commented on #10199
The empty construct in zephir does not work the same way as the php function empty().
It does not treat 0 as empty.

[2015-05-25 18:26] sszdh commented on #10357
I have same issue!
It happens in all cache backends

Sad!

[2015-05-25 20:18] sergeyklay commented on #10357
I have users table with over 8 million records.
If I use  File backend or Memory (for development purposes) I have big overhead.
Loops through table approximately at 20,000 line eating up all available memory.

@andresgutierrez Did you take MetaData and Cache performance tests for really big data?

[2015-05-25 20:24] andresgutierrez commented on #10357
@sergeyklay Serialize a 20.000 records resulset is slow in any language, not sure if you might need to rethink your architecture

[2015-05-25 21:08] #10337 closed

[2015-05-25 21:08] #10338 closed

[2015-05-25 21:35] dewid1985 opened #10399 "Please refresh the Package Opensuse."
There version 1.3.4 Please upgrade to 2.0.
Thanks in advance!!!

[2015-05-25 21:35] andresgutierrez commented on #10399
@mruz

[2015-05-25 21:53] Green-Cat commented on #589
:+1:

[2015-05-25 21:56] Green-Cat commented on #566
@andresgutierrez This is implemented in 2.0
https://github.com/phalcon/cphalcon/blob/3070344454ba943b5ccc5c91567f71f91da950ae/phalcon/db/adapter.zep#L263

[2015-05-25 21:56] #566 closed

[2015-05-25 21:57] andresgutierrez commented on #566
@Green-Cat @olivier-monaco Thanks for pointing it out

[2015-05-25 22:01] Green-Cat commented on #690
@andresgutierrez Implemented in 2.0.

[2015-05-25 22:03] #690 closed

[2015-05-25 22:04] Green-Cat commented on #782
@andresgutierrez Implemented in #984. Also present in 2.0 https://github.com/phalcon/cphalcon/blob/3070344454ba943b5ccc5c91567f71f91da950ae/phalcon/dispatcher.zep#L496

[2015-05-25 22:04] #782 closed

[2015-05-25 22:24] Green-Cat commented on #1535
@andresgutierrez Shouls probably be closed, no reproduction code or environment details provided and no other reports of this bug. I have tried with a model in my own code, and I am able to print_r and var_dump it without a segfault occuring.

[2015-05-25 22:27] Green-Cat commented on #1570
Not a bug, should probably be opened on the documentation repo instead.

[2015-05-25 22:27] andresgutierrez commented on #1535
@quasipickle Could you please try again using Phalcon 2?

[2015-05-25 22:34] sszdh commented on #10357
Any one here, use phalcon Cache in a real app?

If I could not cache a big resultset, so what is the popose of cache system anymore?

[2015-05-25 22:37] andresgutierrez commented on #10357
@sszdh You use a cache to avoid hit the database, but PHP only understand their own native structures, you have to fetch the full resultset to the main memory every time.

[2015-05-25 22:46] Green-Cat commented on #1851
@Mech7 Can you check if you are still able to reproduce this on phalcon 2.0?

[2015-05-25 22:51] Green-Cat commented on #1907
@phalcon Shouldn't this be closed, since it is not a bug?

[2015-05-25 22:53] Green-Cat commented on #1931
@andresgutierrez @phalcon Fixed in 2.0

[2015-05-25 22:58] Green-Cat commented on #1975
@andresgutierrez Not a phalcon bug, it is a php issue.

[2015-05-25 23:02] Green-Cat commented on #2019
@andresgutierrez fixed in #2328

[2015-05-25 23:07] Green-Cat commented on #2137
@andresgutierrez duplicate of #1184

[2015-05-25 23:09] Green-Cat commented on #2185
Cannot reproduce this.

[2015-05-25 23:09] touhonoob opened #10400 "2.0.2 Install Failed "undefined symbol: zephir_round in Unknown on line 0""
`PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib/php5/20131226/phalcon.so' - /usr/lib/php5/20131226/phalcon.so: undefined symbol: zephir_round in Unknown on line 0`

Platform: Debian Jessie 64bit
PHP Version:
[code]

[2015-05-25 23:13] Green-Cat commented on #2229
@andresgutierrez Fixed in #2307

[2015-05-25 23:14] Green-Cat commented on #2231
This is implemented in 2.0.
See #2306 and #2458

[2015-05-25 23:14] Green-Cat commented on #2231
@andresgutierrez @phalcon

[2015-05-25 23:14] #2229 closed

[2015-05-25 23:16] #2019 closed

[2015-05-25 23:16] #1975 closed

[2015-05-25 23:21] sergeyklay commented on #10400
Can you provide phalcon version please?

Also try (if in cli mode it is possible):
[code]

[2015-05-25 23:26] touhonoob commented on #10400
[code]

[code]

[2015-05-25 23:26] Green-Cat commented on #2311
@phalcon @andresgutierrez Not a bug.

[2015-05-25 23:26] sszdh commented on #10357
@andres You'r right, but in this example, fetched result get empty after saving to cache!

So, there is no resultset exists anymore to fetch to the memory at all, atleast in first refresh.

in zep source code, every thing seems OK and logical.

\Phalcon\Mvc\Model\Query::execute()

[2015-05-25 23:30] Green-Cat commented on #2355
@andresgutierrez Not a bug.

[2015-05-25 23:31] sergeyklay commented on #10300
@thecodeassassin 2.0.2 has been released. You manually create every time a new version of package or 2.0.2 version of package is already done by using any automated scripts?

[2015-05-25 23:37] Green-Cat commented on #2413
@andresgutierrez Fixed in 2.0

[2015-05-25 23:39] sergeyklay commented on #10400
@touhonoob  `readelf -d /usr/lib/php5/20131226/phalcon.so` ?

[2015-05-25 23:40] touhonoob commented on #10400
@sergeyklay
[code]

[2015-05-25 23:44] Green-Cat commented on #2502
@andresgutierrez Implemented in 2.0 (#10100)

[2015-05-25 23:45] Green-Cat commented on #2510
@andresgutierrez fixed in #10114

[2015-05-25 23:46] Green-Cat commented on #2536
@andresgutierrez Implemented in #2552

[2015-05-25 23:48] Green-Cat commented on #2549
@andresgutierrez Fixed.

[2015-05-25 23:54] sergeyklay commented on #10400
So can you try new 2.0.2 release ?

[2015-05-25 23:55] Green-Cat commented on #2679
@andresgutierrez Not a bug.

[2015-05-26 00:15] Green-Cat commented on #2938
As of phalcon 2.0, all empty values pass the validation as long as they do not have PresenceOf.

[2015-05-26 00:30] virgofx opened #10401 "[2.0.2] Error building -- Unable to make [ phalcon.lo ] Error 1"
[code]

[code]

[2015-05-26 00:35] Green-Cat commented on #3110
@andresgutierrez Not a phalcon issue.

[2015-05-26 00:38] virgofx commented on #10401
Also -- would it be possible to test for these issues? I have various production systems that pull from master and latest stable release ... all of which fail to build when this happens.

[2015-05-26 00:44] Green-Cat commented on #3222
@andresgutierrez Fixed in #3315

[2015-05-26 00:46] Green-Cat commented on #3235
@andresgutierrez Fixed in #3330

[2015-05-26 00:47] #2231 closed

[2015-05-26 00:48] #2311 closed

[2015-05-26 00:49] #2413 closed

[2015-05-26 00:49] #2502 closed

[2015-05-26 00:49] #2510 closed

[2015-05-26 00:50] #2536 closed

[2015-05-26 00:50] #2549 closed

[2015-05-26 00:50] #2679 closed

[2015-05-26 00:51] Green-Cat commented on #3247
@andresgutierrez Fixed in #9996

[2015-05-26 00:55] #3235 closed

[2015-05-26 00:55] #3247 closed

[2015-05-26 00:59] #1931 closed

[2015-05-26 00:59] #1907 closed

[2015-05-26 01:12] #10386 closed

[2015-05-26 01:13] andresgutierrez commented on #10400
This is now fixed in master, could you please try again?

[2015-05-26 01:13] andresgutierrez commented on #10401
This is now fixed in master, could you please try again?

[2015-05-26 02:25] #3222 closed

[2015-05-26 04:18] touhonoob commented on #10400
@andresgutierrez  @sergeyklay
It's fixed.
Thanks!

[2015-05-26 04:18] #10400 closed

[2015-05-26 04:54] fl0pp commented on #1800
I have setup the following in my servies.php:
[code]

This is an example from my "SignIn"/"User"-controller:
[code]

[2015-05-26 06:43] mruz commented on #10399
Done.

You can update to version 2.0.2 now:
[code]

There is also 1.3.4, so you can install with force:
[code]

[2015-05-26 07:39] dreamsxin commented on #10396
+1

[2015-05-26 07:48] maxgalbu commented on #2019
It's probably not fixed on 2.0, but I didn't check

[2015-05-26 07:51] salarmehr opened #10403 "Fatal Error [2.0.1] in phalcon/mvc/model.zep:1322"
This line of code in a Model validator  generates a fatal error:

 $model->appendMessage(new \Phalcon\Mvc\Model\Message('Error.', 'field));

[code]
Any idea? the error message point to zephir file!!!

[2015-05-26 08:27] eclipse88 commented on #10357
in my example if you have 50 records the array is empty, this is definitely a problem.

[2015-05-26 08:37] kristofferingemansson commented on #10199
$form = new \Phalcon\Forms\Form();
    $options = array(
        1 => 'Yes',
        0 => 'No',
    );
    $element = new \Phalcon\Forms\Element\Select('active', $options);
    $element->addValidator(new \Phalcon\Validation\Validator\PresenceOf());
    $form->add($element);

    $postData = array(
        'active' => '0',
    );

    if ($form->isValid($postData)) {
        print "Valid!";
    } e

[2015-05-26 10:15] Green-Cat commented on #10055
@andresgutierrez Fixed in #10088

[2015-05-26 10:16] Green-Cat commented on #10115
@andresgutierrez fixed in 2.0.1

[2015-05-26 10:19] Green-Cat commented on #10182
@andresgutierrez Fixed in #10184.

[2015-05-26 10:21] Green-Cat commented on #10294
@andresgutierrez Fixed in #10209

[2015-05-26 10:23] Green-Cat commented on #10346
@andresgutierrez Fixed in 2.0.1.

[2015-05-26 10:24] Green-Cat commented on #10363
@softdream Could you try again using phalcon 2.0.2?

[2015-05-26 10:25] Green-Cat commented on #10370
@andresgutierrez Fixed in 2.0.2

[2015-05-26 10:45] sergeyklay commented on #3110
This behaviour fixed in devtools

[2015-05-26 10:56] Surt commented on #1117
Here is a discussion with related forum posts:
http://forum.phalconphp.com/discussion/3528/-eager-loading-avoid-lazy-loading-by-using-the-query-builder-

Also, on one of those I just wrote about my actual problems with the Boudewijn Geiger solution.
I will appreciate any help with those. One of the things I'm in need right now is a setRows in the resultSet, so we can fill the resultSet with a fetc

[2015-05-26 10:59] wojewsky opened #10405 "[2.0.1]RuntimeException: Trying to call method appendmessage on a non-object"
Hi,

with phalon 1.3.x we've added error messages to form elements by ->appendMessage.
With phalcon 2.0.1 i've got an runtime exception:
RuntimeException: Trying to call method appendmessage on a non-object

For example:

[code]

[2015-05-26 11:01] SidRoberts commented on #10403
This is likely due to https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/model.zep#L1319.

[Phalcon\Mvc\Model\Validator::getMessages()](https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/model/validator.zep#L64) doesn't always return an array/iterator. The [_messages](https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/model/validator.zep#L34) property is only turned into an

[2015-05-26 11:05] salarmehr commented on #10403
@SidRoberts I did not get the point. Is it a bug? What should I do for that?

[2015-05-26 11:08] SidRoberts commented on #10403
It is a bug. I've submitted a [Pull Request](https://github.com/phalcon/cphalcon/pull/10404) fixing it. You can wait for it to be merged or you can rebuild Phalcon from this branch: https://github.com/SidRoberts/cphalcon/tree/fix-10403

[2015-05-26 11:09] #10055 closed

[2015-05-26 11:09] #10115 closed

[2015-05-26 11:09] #10182 closed

[2015-05-26 11:10] #10294 closed

[2015-05-26 11:10] #10346 closed

[2015-05-26 11:11] #10370 closed

[2015-05-26 11:32] salarmehr commented on #10378
@andresgutierrez PHP 7 will be far faster than php6, also ther is HHVM and Hacklang. Also you have said migrating Zephir to PHP 7 is really time and effort demanding if not impossible.  What is the point in migrating Zephir to PHP7. Why not you port the lovely Phalon to plain PHP instead? A huge number of PHP programmer can contribute, we will have 16 github issues instead of 612 issues. Those who

[2015-05-26 11:36] dewid1985 commented on #10399
Thanks!!!

[2015-05-26 11:54] Surt commented on #1117
oh! I just saw http://blog.phalconphp.com/

Comming soon
In the future 2.0.x series, we will be concentrating our efforts on requests from the community:
Eager-Loading in PHQL
Optional string empty values in the ORM
PHQL custom functions
Case Statements in PHQL
Aliases for namespaces in PHQL

[2015-05-26 11:54] salarmehr commented on #10403
@SidRoberts  Thanks for your response and pull request. It seems Phalcon v2 is on beta phase yet.

[2015-05-26 12:00] sszdh commented on #1117
Good news :)

[2015-05-26 12:01] arius86 opened #10406 "[2.x / master] ModelInterface and CollectionInterface differential"
Compare find() and findFirst() methods in:
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/collectioninterface.zep
and
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/modelinterface.zep

Differential in Interface definitions (`array $parameters` vs `undefined $parameters`) make repository pattern not possible to implement without proper proxy. Would be useful to unify this.

[2015-05-26 12:03] ErickSkrauch commented on #1117
**Soon != Tomorrow.**

I think the introduction of this functionality will only happen by the end of summer.

[2015-05-26 12:28] andresgutierrez commented on #10378
@salarmehr PHP7 is not faster than Zephir

[2015-05-26 12:44] ovr commented on #10378
@salarmehr facepalm

[2015-05-26 13:13] salarmehr commented on #10378
I did not claimed that PHP7 is faster than Zephir. I said "PHP 7 will be far faster than **php6**". I can understand you. You spend a long time developing the Zephir and I and others in Phalcon community investigate on Phalcon, we learned it deeply and used it as a foundation for our projects.

In Zephir home page you introduced it as a single-purpose language: "designed to ease the creation and m

[2015-05-26 13:16] hdogan commented on #10378
What is PHP **6**?

[2015-05-26 13:17] salarmehr commented on #10378
@hdogan My bad, PHP5 ◕‿◕

[2015-05-26 13:36] Green-Cat commented on #3110
@andresgutierrez please close.

[2015-05-26 13:43] Green-Cat commented on #10378
Major :-1: to switching away from zephir.

[2015-05-26 13:44] #3110 closed

[2015-05-26 14:37] ashpumpkin opened #10409 "[2.0.2] problem with model criteria"
Hi, look at this code please:
[code]
I have this error on the second line:
`Column 'news_id' doesn't belong to any of the selected models (1), when preparing: SELECT [Models\Campaigns].* FROM [Models\Campaigns] WHERE (news_id IN (:phi0:, :phi1:, :phi2: ) ) AND (campaign_id IN (:phi3:, :phi4:, :phi5: ) )`

News table has news_id and title columns
Campaigns table has campaign_id and title columns

L

[2015-05-26 15:31] quasipickle commented on #1535
I'll close this. I can't upgrade to Phalcon 2 yet, and the code has changed so much I can't reproduce.

[2015-05-26 15:31] #1535 closed

[2015-05-26 15:31] virgofx commented on #10401
Confirm fixed.

[2015-05-26 15:58] #10401 closed

[2015-05-26 20:12] andresgutierrez commented on #10399
@mruz Thanks

[2015-05-26 20:12] #10399 closed

[2015-05-26 21:21] andresgutierrez commented on #2039
This is implemented in 2.0.3:

[code]

[2015-05-26 21:21] #2039 closed

[2015-05-26 21:22] andresgutierrez commented on #10403
Fixed in 2.0.3

[2015-05-26 21:22] #10403 closed

[2015-05-26 21:23] #10380 closed

[2015-05-26 21:41] sergeyklay commented on #10406
:+1:

[2015-05-27 03:19] banmaixanhjack commented on #2407
Please fix this bug, we are developing an e-commerce based on Phalcon, and getting stuck because of this bug

[2015-05-27 07:59] Surt commented on #10149
When using a mysql DOUBLE type for a field I get:

Phalcon\Db\Exception: Column type does not support scale parameter

[2015-05-27 09:41] archdevil666pl commented on #10406
:+1:

[2015-05-27 10:28] partynetwork opened #10419 "[2.0.x] view getContent return empty on linux"
This problem occurs on Linux(Centos 7) platform. I don't get any value for {{content}}. I've configured all the settings. Not sure if it is cause by
<pre>$view->setViewsDir(APPLICATION_PATH . '/modules/auth/views/');
$view->setPartialsDir("../../../common/views/partials/");
$view->setLayoutsDir("../../../common/views/layouts/");
</pre>
or not. However, everything is working perfectly on Windows-ba

[2015-05-27 13:23] andresgutierrez commented on #10149
@Surt Waiting for this PR: https://github.com/phalcon/cphalcon/pull/10241

[2015-05-27 14:57] andresgutierrez commented on #10419
What version of Phalcon are you using? All your paths are case sensitive?

[2015-05-27 15:01] synergycns opened #10420 "Windows DLL Downloads Broken"
None of the Windows DLL Downloads on phalconphp.com seem to be working, they're all returning 404 errors.

[2015-05-27 15:02] andresgutierrez commented on #10420
We're having some problems with our CDN, meanwhile you can download them from here: https://github.com/phalcon/website/tree/master/public/files

[2015-05-27 15:06] synergycns commented on #10420
Perfect. Thanks for the quick response.

[2015-05-27 15:08] AKeeman commented on #10390
The point is that a validator for a collection needs an Phalcon\Mvc\Model\ValidatorInterface, as of SidRoberts' commit [ https://github.com/phalcon/cphalcon/commit/fc50e58b5768d15e50395c4f3b87364b19bf4840 ].
Collections shouldn't use Model stuff.

654    -	protected function validate(validator) -> void
648    +	protected function validate(<Model\ValidatorInterface> validator) -> void

[2015-05-27 15:56] gtux commented on #10389
It's a strange bug, because I also did some tests on other models and works fine. So, the problem is: what cause the bug in some models indeed?

[2015-05-27 16:05] sszdh commented on #10392
Hi all phalconsits...
According to this [post](http://forum.phalconphp.com/discussion/6889/model-find-with-cache-in-controller-initialize#C18846) in forum, I will post that comment here too

Type checking for big resultset (> 32): (https://github.com/phalcon/cphalcon/blob/2.0.0/phalcon/mvc/model/resultset/simple.zep#L75)
The Doc mentions as folow:

But question is: Why phalcon returns empty array

[2015-05-28 00:39] ucando opened #10421 "[2.0.x]Phalcon\Mvc\Url::get() return wrong value"
I don't use rewrite mod, and I set the baseuri = "/index.php?_url=/".
when I use $this->url->get('some/action', array('params' => 'somevalue')),it return '/index.php?_url=/some/action?params=somevalue', it has two '?'

[2015-05-28 02:29] partynetwork commented on #10419
Yes, my folder is lowercase ,
I used Phalcon 2.0.2

[2015-05-28 02:30] andresgutierrez commented on #10419
Could you please post a small repo with the problem that allow us to reproduce issue?

[2015-05-28 02:30] andresgutierrez commented on #10420
It must be now fixed

[2015-05-28 02:30] #10420 closed

[2015-05-28 02:53] friparia opened #10422 "[1.3.4]Default filter doesn't convert float correctly in Http\Request"
I want to get an integer in my controller like this:
[code]
but when i passed a float like 1.1111111 to this action,  what i want is the digit 1, but  this function actually returns 11111111, it just remove the decimal point in the parameter.

So i need to cast the float myself by using
[code]

[2015-05-28 02:55] andresgutierrez commented on #10422
In Phalcon 2 you can use:

[code]

To do the same thing

[2015-05-28 03:03] friparia commented on #10422
:+1: nice job in Phalcon 2. We will update to phalcon 2.

[2015-05-28 03:10] dreamsxin commented on #10419
I guess the reason of no content is a view file not found.

[2015-05-28 07:03] dreamsxin commented on #10195
Can debug?

[2015-05-28 08:44] jkmf commented on #10398
I just like to add that other forbidden form element names are:
'label', 'messages', 'messagesfor', 'elements'
and probably lot more...

[2015-05-28 08:48] KlavsKlavsen opened #10425 "Bug: phpize writes phplibdir wrong"
when you generate configure.in from phpize - it writes phplibdir to be set from `pwd` /modules. This works when just running install - but I would like to write an rpm package spec file.. it works with just "using your install script" - except that phplibdir is wrong - so those are installed in the build dir - ignoring INSTALL_ROOT setting to makefile.

I can't seem to figure out (or find docu) on

[2015-05-28 09:13] icedeng commented on #1925
+1

[2015-05-28 09:18] akaNightmare opened #10426 "[2.0.x][RFC] Phalcon2 REST"
Propose implement REST Controller with the next functionality:
- [ ] REST Auth
  - [ ] HTTP basic auth over HTTPS
  - [ ] Granted via Token (OAuth2) - BEARER
  - [ ] Query Authentication
- [ ] REST Controller
  - [ ] Content negotiation and Data formatting
  - [ ] Index (or List) Action - list of resources(GET)
  - [ ] ViewAction - returns defails of resource (GET with ID)
  - [ ] DeleteAction - d

[2015-05-28 09:41] akaNightmare commented on #10395
could you please provide ```getBandInfo``` method?

[2015-05-28 11:12] johngray opened #10427 "[2.0.x]Compilation error "Error: incorrect register `%edi' used with `q' suffix""
Hi. I am trying to compile the latest phalcon release. I am getting this [error (gist)] (https://gist.github.com/johngray/4533aa3fdc46bf2f1bee)
Thus I cannot build phalcon. The build directory doesn't matter (cphalcon/build or cphalcon/ext)

cpuid:
[code]
gcc --version:
[code]
uname -a:
[code]

Thanks for any help.

[2015-05-28 11:14] Surt opened #10428 "Router parameters default value equals to position"
Using named parameters on the standard router I get a default value equal to the position, when it's not defined:

[code]

using, on the controller:

[code]
[code]

The problem comes when I try to parse the "type" parameter, I must check it vs the value 3, but in other routes I will have it as the second parameter so....

How can I accomplish this? Maybe there is another way to do it?

Also, notic

[2015-05-28 11:25] Green-Cat commented on #10426
I have a custom implementation, in php, but it would be great to have it backed straight into the framework.

[2015-05-28 11:26] Green-Cat commented on #10427
Are you compiling master or the 2.0.x branch?

[2015-05-28 11:29] johngray commented on #10427
Master
git status output:
[code]

[2015-05-28 11:34] johngray commented on #10427
Compiling 2.0.x  and 2.0.0 gives the same error

[2015-05-28 11:46] Surt commented on #10428
Test for this:

[code]

[2015-05-28 11:47] tselina opened #10430 "[1.3.4] Incorrect path used for compiled templates if 'compilePath' does not have trailing slash"
$volt = new \Phalcon\Mvc\View\Engine\Volt($view, $di);
$volt->setOptions(array(
    'compiledPath' => realpath('/path/to/cache/'),
));

Actually compiled templates will be found inside of directory '/path/to/' . I expect it still should go into '/path/to/cache/' as this directory is valid for the cached templates (exists and writable)

The only difference is that realpath('/path/to/cache/') remove

[2015-05-28 12:26] Izabela-Roxana-Ilies opened #10431 "Phalcon\Http\Client\Request->getBaseUri( )"
Fatal error: Call to undefined method Phalcon\Http\Uri::toString() in /library/Phalcon/Http/Client/Request.php on line 58

[2015-05-28 13:02] Green-Cat commented on #10431
There is no Phalcon\Http\Uri class.
What is /library/Phalcon/Http/Client/Request.php seems like an external library, since the whole of phalcon is in zephir not php.

[2015-05-28 13:02] Green-Cat commented on #10431
Oh I see, this is an issue with the incubator library. Please report the issue there.

[2015-05-28 13:20] hakimio opened #10432 "Phalcon doesn't understand (My)SQL "INTERVAL" form"
The following valid MySQL condition doesn't work in Phalcon:

[code]
Above query results in `unexpected token INTEGER(2), near to ' MONTH` error.

[2015-05-28 13:48] Green-Cat commented on #10432
Interval is a mysql only feature. PHQL currently only supports statements which are sql standard.

[2015-05-28 13:54] hakimio commented on #10432
Ok, I guess then this issue can be closed as invalid.

[2015-05-28 14:02] Green-Cat commented on #10432
You might however be interested in this https://github.com/phalcon/incubator/tree/master/Library/Phalcon/Db#dialectmysqlextended

[2015-05-28 14:10] hakimio commented on #10432
Thanks, I'll take a look at the library.
Anyway, as a workaround, the MySQL query mentioned above can be replaced with the following PHP code which works as expected:

[code]

[2015-05-28 14:37] Green-Cat commented on #10432
According to the docs (http://dev.mysql.com/doc/refman/5.6/en/fulltext-search.html) "Full-text indexes can be used only with InnoDB or MyISAM tables". Innodb is pretty popular as a storage engine afaik.

[2015-05-28 17:46] hakimio commented on #10432
Yes, InnoDB is popular and my knowledge about MySQL full text search is a bit outdated (https://dev.mysql.com/doc/refman/5.5/en/fulltext-search.html). Apparently support for fulltext indexes was introduced in InnoDB with MySQL version 5.6.

[2015-05-28 18:14] stibiumz commented on #1117
Hi, I've written [this](https://github.com/stibiumz/phalcon.eager-loading), by the moment can solve the problem

[2015-05-28 18:18] ErickSkrauch commented on #1117
Php 5.6... It's cool, but very few projects are ready to go at it.

[2015-05-28 19:16] Surt commented on #1117
@stibiumz !!!!!!! you are great!

[2015-05-28 20:05] butamuh4o opened #10435 "[Need advice] How to use join and model at once?"
Hi there...
I read documentation so many times but... i never understand is it possible to make a query from model, to use model functions but to include more fields from join. Let explain from example:

        $groups = \Models\Articles::query()
            ->where("is_active=1")
            ->order("date DESC")
            ->innerJoin("Models\ArticlesKinds", "k.article_id = Models\Articles.id",

[2015-05-28 20:27] sszdh commented on #1117
@stibiumz Good job.
Incubate it in Incubator repo :)

[2015-05-28 20:35] butamuh4o opened #10436 "[2.0.x] Volt issue with if / else statement"
Hi there... i find some issure:

                {% for article in groups %}
                    <li>
                        {% if article.getPictures("is_default=1")|length > 0 %}
                            {% for photo in article.getPictures("is_default=1") %}
                                {% set primary_photo = photo.details([300, 225]) %}

                                <a href="{{ url(i1

[2015-05-28 21:57] sergeyklay commented on #1117
@sszdh +1

[2015-05-29 06:43] dschissler opened #10437 "First link on Google for "phalcon documentation offline" is broken"
https://media.readthedocs.org/pdf/phalcon-php-framework-documentation/latest/phalcon-php-framework-documentation.pdf

Is there a Phalcon 2.0 offline documentation yet?

[2015-05-29 10:11] berliner commented on #10398
Elements with name "value" are getting rendered without problems wenn passing a model into the form constructor, e.g.:
`$form = new Form(new MyModel());`

Tested with phalcon 2.0.1

[2015-05-29 10:29] partynetwork commented on #10419
I have solved this problem,
I have changed my dispatcher to
<pre>$dispatcher->setActionName(\Phalcon\Text::uncamelize($dispatcher->getActionName()));</pre>

Thank you for your help

[2015-05-29 10:53] GiTnEd commented on #10284
Hello,
Experiencing same issue with Phalcon 2.0.2 upgrade from 1.3.4

**Select Tag creation issue on Resultset with Concat Columns (custom created field from query)**
Even when re-written using a form class extension - end with the same results
Posted here is the simpler tag->select used in the controller

### Symptom

Select Box is Empty when resultset contains a new Concatenated Column
this meth

[2015-05-29 11:01] GiTnEd commented on #10054
Hello
I am experiencing the same issue, posted my experience with it at this Thread -- #10284
No errors being reported - Just blank select being formed.

[2015-05-29 11:21] SvSerg opened #10441 "Implement a mass insert rows in the database"
[code]

Thx.

[2015-05-29 12:41] sergeyklay commented on #10441
Possible refs https://github.com/JREAM/phalcon-batch

[2015-05-29 13:18] #10419 closed

[2015-05-29 18:00] gtux opened #10442 "Error in params for Relation on Models"
Hi,

  I want to restrict one relationship over two models with one business logic. Because in documentation not have any reference for the options of relation, I have to read the source code in order to learn to use.

I did this:

[code]

[code]

[code]

then, in relation class I see this code, that not exists in documentation:

[code]

So, I initialize my model like this:

[code]

I try to get p

[2015-05-29 18:30] gtux commented on #10441
I also agree with this feature.

The phalcon-batch not fix well, I don't like it.

[2015-05-29 18:48] gtux commented on #10435
Hi, you can't use the model functions because when you add columns, query returns not a model, but Resultset Simple. When I need to do this, I do like:

[code]

Of course, this is a good idea if I know and sure the resultset will have a few rows, because the performance or memory, etc.

I hope this can help you.
And same, sorry my bad English, do you speak spanish? I do speak spanish.

[2015-05-29 19:25] stibiumz commented on #1117
@ErickSkrauch PHP 7 is coming, PHP 5.6 was released about a year ago, furthermore if you can install Phalcon, also PHP 5.6... Things should be keep up to date when possible.

@sszdh , @sergeyklay I want to keep the namespace in it, as is part of my framework and I feel more comfortable with it, anyways would be possible to maintain the code in the two repositories, what do you think?

[2015-05-29 20:06] sszdh commented on #1117
@stibiumz Sure you can. But in incubator you can get huge supports, test-drives and integrated contribution from phalcon community.

regards

[2015-05-30 01:23] SvSerg commented on #10441
@sergeyklay Thank you for your class!
I also realized about mass insertion, But of course I would like to have this functionality in Falcone.

[2015-05-30 13:45] butamuh4o commented on #10435
Nice idea... didnt try this yet. Thank you for your advice and help. I saw in Phalcon blog that they will make Eager-Loading in PHQL- so soon we will be able to do it easy.

Thank you gtux.
(your english is goood :P i am for Bulgaria and spanish- didnt know a word xD

[2015-05-30 14:01] andresgutierrez commented on #10435
Hello, Github is only intended to report bugs or discuss new features, to get advise about the usage of the framework you can use the forum: http://forum.phalconphp.com/

[2015-05-30 14:01] #10435 closed

[2015-05-30 21:05] ivan-ivakic opened #10446 "[2.0.2] using \Phalcon\Mvc\Model\MetaData\Apc throws exception on load"
I'm trying to migrate working application code from 1.3.2 to 2.0.2 and using \Phalcon\Mvc\Model\MetaData\Apc throws an exception when grabbing data from apc.

Running basic php5-fpm, nginx, mysql app.

Upon entity save I get the following:

[code]

[code]

Manually grabbing apc entry gives something like:

[code]

If there is any more information that you require please ask.

Thanks!

[2015-05-31 04:31] salarmehr opened #10447 "PHQL placeholders are not consistant with PDO"
Currently PHQL uses `:foo:` and `?INDEX` while PDO uses `:foo:`  and `?` as placeholders. This confuse programmers. Please make PDO formats valid in PHQL.

[2015-05-31 04:37] salarmehr commented on #10389
I confirm this issue. I have also see strange behavior on model validation.

[2015-05-31 09:28] ivan-ivakic commented on #10446
I've tried to remove one table at a time in an attempt to isolate the problematic table but no luck. I've left one plain table.

Apc dump is:
[code]

Maybe the value for ``` 'key' => string '$PMM$goldfishmap-analytics' (length=26)``` is somehow invalid but I get the same dump when app is ran on phalcon 1.3. and it is not failing.

Table structure
[code]

Class Analytics inherits \Phalcon\Mvc\Model

[2015-05-31 16:07] stefanchiriac opened #10448 "migrations types problems"
Hello,

- when generating migrations is not finding the type 'TIMESTAMP', 'BIGINT', and other types
- there is no Column::TYPE_TIMESTAMP, but I got over it by just writing 'TIMESTAMP',
- default for TYPE_INTEGER does nothing if I set an int value
- when I add 'CURRENT_TIMESTAMP' as default value I get an mysql error.

     `SQLSTATE[42000]: Syntax error or access violation: 1067 Invalid default va

[2015-05-31 16:10] andresgutierrez commented on #657
This implemented in 2.0.3

[2015-05-31 16:10] #657 closed

[2015-05-31 16:11] andresgutierrez commented on #657
[code]

[2015-05-31 16:12] #10431 closed

[2015-05-31 16:13] andresgutierrez commented on #10430
Could you please try again using Phalcon 2?

[2015-05-31 16:15] andresgutierrez commented on #10421
Fixed in 2.0.3

[2015-05-31 16:15] #10421 closed

[2015-05-31 16:18] #10363 closed

[2015-05-31 16:20] andresgutierrez commented on #10425
The `php-config` binary in PATH must belong to the same version of `phpize`

[2015-05-31 16:42] andresgutierrez commented on #10437
It seems read the docs changed the link to that file, it must be: https://media.readthedocs.org/pdf/phalcon-php-framework-documentation/latest/phalcon-php-framework-documentation.pdf

[2015-05-31 17:53] andresgutierrez commented on #440
This is implemented in 2.0.3

[code]

[2015-05-31 17:53] #440 closed

[2015-05-31 17:53] andresgutierrez commented on #3035
This is fixed in 2.0.3 https://github.com/phalcon/cphalcon/issues/440#issuecomment-107227724

[2015-05-31 17:53] #3035 closed

[2015-05-31 17:55] andresgutierrez commented on #2737
This is implemented in 2.0.3 https://github.com/phalcon/cphalcon/issues/440#issuecomment-107227724

[2015-05-31 17:55] #2737 closed

[2015-05-31 18:21] andresgutierrez commented on #10446
Can you try again using Phalcon 2.0.3? Compiling from 2.0.x branch

[2015-05-31 18:21] andresgutierrez commented on #10389
Can you try again using Phalcon 2.0.3? Compiling from 2.0.x branch

[2015-05-31 19:13] KlavsKlavsen commented on #10425
It does. I have not build the phpize or any PHP package myself - it's centos 7 plain packages.

[2015-05-31 19:19] ivan-ivakic commented on #10446
No luck, still fails on https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/model/metadata.zep#L276

Are you able to reproduce the problem?

Can I help you with anything with any dumps or something?

Currently I'll use Memcached but it would be nice if APC would work :)

[2015-05-31 20:37] andresgutierrez commented on #1908
This is implemented in 2.0.3

[code]

[2015-05-31 20:37] #1908 closed

[2015-05-31 22:06] dschissler commented on #10437
The link works.

[2015-05-31 22:06] #10437 closed

[2015-05-31 22:08] dschissler commented on #10447
PHQL is more than just a wrapper around PDO.  For example; the MongoDB adapter.

[2015-05-31 22:11] andresgutierrez commented on #9985
I still can't reproduce this in 2.0.3. Can you please try again using this version?

[2015-05-31 22:22] UndergroundLabs commented on #2572
@phalcon please provide a demonstration on how to use camel cased controller names with Dispather::forward(). I've tried, it doesn't work:

    public function indexAction() {
        return $this->dispatcher->forward([
            'controller' => 'CreateSnap',
            'action' => 'show'
        ]);
     }

I get the follow exception:

    PhalconException: CreatesnapController handler class c

[2015-05-31 22:24] andresgutierrez commented on #2572
@UndergroundLabs it shouldn't be camel-cased

[code]

[2015-05-31 22:32] UndergroundLabs commented on #2572
@andresgutierrez Damn that was a fast reply. I was about to comment that I solved it by using 'create_snap', but I like the hyphenated version better. Thanks :)

[2015-05-31 22:35] andresgutierrez commented on #10442
I've submitted a fix in 2.0.3, can you try again using this version?

[2015-06-01 01:25] salarmehr commented on #10447
@dschissler I know that it can do more. But why not to follow its syntax for placeholder? This lead to chaos.

[2015-06-01 07:52] dugwood commented on #9985
@andresgutierrez, I can't reproduce the bug either! Really strange... I've just tested it against 2.0.x and 2.0.0, and it's working fine (with or without the column's alias in SQL).

I think I've tested it against the master at the time, so the issue may be resolved as of now.

@alexetnunes can you confirm it too?

@andresgutierrez : where can I find the 2.0.3 stable release in github? I can't fin

[2015-06-01 08:04] sergeyklay commented on #9985
@dugwood 2.0.x == 2.0.3, after 2.0.3 release 2.0.x == 2.0.4, etc

[2015-06-01 08:56] sszdh opened #10450 "Related models, rollbacks and afterCreate/afterUpdate events"
Related to this forum post (http://forum.phalconphp.com/discussion/6954/related-models-rollbacks-and-aftercreate-events)

Browsing the source I found that (https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L2776)

It seams the `_postSave()` calls before `rollback`, so if we have any rollback `afterUpdate` or `afterCreate` already calls anyway!

[code]

But `afterSave` calls aft

[2015-06-01 10:46] thxer92 opened #10451 "Dispatcher call wrong namespace?"
[code]
Exception:
 Uncaught exception 'Phalcon\Mvc\Dispatcher\Exception' with message 'MyNamespace\Modules\Core\Controller\ErrorController handler class cannot be loaded

in phalcon/mvc/application.zep:320:
[code]

Where is the error?

My system info:
PHP: 5.6.9
Phalcon: 2.0.2

[2015-06-01 10:48] softdream opened #10452 "Cookies getValue() returns null without any error"
Hello, i test this little peace of code:

[code]

So as you can see in example, when i call getValue i got NULL but, i can see the cookie value in dump of object, can you help me how can i solve this ? I trying to access the protected variable by build custom Cookie class but it doesnt work still i got null.

My bootstrap cookies registration:

[code]

[2015-06-01 10:57] Surt commented on #10451
Maybe you are overriding the dispatcher namespace somewhere?
I do it on the modules registerServices for example:

[code]

[2015-06-01 11:03] thxer92 commented on #10451
I have, in Module::registerServices():

[code]

But it contains the correct namespace.

[2015-06-01 12:02] alexetnunes commented on #9985
This was fixed for sure as of 2.0.1, since then I have been able to use it without an alias.

It was included in the release notes: http://blog.phalconphp.com/post/118465365385/phalcon-2-0-1-released  as "Added support for general SELECT ALL/SELECT DISTINCT in PHQL"

Thanks for the support!

[2015-06-01 12:02] #9985 closed

[2015-06-01 12:22] spuy767 commented on #1117
I think I've stumbled upon a rather simple and expressive means of eager loading leveraging the criteria object, but there are a couple of thins that I can't get working perfectly.

The heavy lifting happens in this trait which is applied to my criteria class.
[code]

Two caveats:
1. The method \Phalcon\Mvc\Model\Manager::getRelationByAlias() doesn't return the relation, hence the stupid loop.
2.

[2015-06-01 12:54] rakeshgithub opened #10453 "Sub query in phalcon 2.0.2 do not work"
[code]

it return error even query works well:

[code]

[2015-06-01 12:56] andresgutierrez commented on #10453
Are you using Phalcon 2.0.2?

[2015-06-01 12:57] andresgutierrez commented on #10448
Can you please post this in the devtools repo? github.com/phalcon/phalcon-devtools

[2015-06-01 12:59] rakeshgithub commented on #10453
No, I am on Phlacon 2.0.0

[2015-06-01 13:00] andresgutierrez commented on #10453
Phalcon 2.0.0 does not support subqueries

[2015-06-01 13:01] andresgutierrez commented on #10446
Are you using database introspection?

[2015-06-01 13:02] stefanchiriac commented on #10448
but this is part of cphalcon. Is not about phalcon-devtools, but that cphalcon doesn't have support integrated for these at all.

[2015-06-01 13:02] rakeshgithub commented on #10453
Thanks, let me upgrade the version.

[2015-06-01 13:40] rakeshgithub commented on #10453
I have upgraded 2.0.0 to 2.0.2. Subquery work well if it has been used in WHERE clause but it do not work if it has been used in fields selection like mine.

[2015-06-01 14:18] aleksandrzen commented on #10409
:+1:

[2015-06-01 14:19] vitalypanait commented on #10409
+1

[2015-06-01 14:27] altairo2087 opened #10454 "DbProfiler getSqlVariables problem"
Sorry for my bad english. I have a problem.

PHP 5.5.19 MSVC11 TS x86, Phalcon 2.0.2, Postgres 9.3

[code]
[code]

result on all queries:
[code]

[2015-06-01 14:57] ivan-ivakic commented on #10446
Not that I'm aware of :) I've just registered a service like follows:
[code]
Tried with ```setShared``` also, no luck.

Error message is: "The meta-data is invalid or is corrupt" (same line).

[2015-06-01 15:00] fichtner opened #10455 "CSRF Token mismatch on >= 2.0.1"
Version: 2.0.1 and up (as applied on OPNsense/FreeBSD)

Expected behaviour: POST succeed with CSRF Token

Actual behaviour: POST is not accepted due to missing CSRF Token

Reporter: @adschellevis

Details:

on page rendering put the following data into our page (using setVars and render in Volt template “default.volt”):

    $this->security->getTokenKey()
    $this->security->getToken()

and make

[2015-06-01 15:04] gtux commented on #10442
I did update to 2.0.3, but now I have other bug on different model that it does working well, until now.

I got an Exception on this backtrace:

[code]

The error came because the metadata cache file does not generate the 13 index (self::MODELS_EMPTY_STRING_VALUES), I've erased the metadata cache files before run the script.

[2015-06-01 15:29] berliner commented on #2312
I have run into the same issue and would like to back this up. I'm using phalcon 2.0.1.
I would the findFirst or findFirstBy* methods to return either NULL or FALSE in case an argument is given that can't be evaluated. It happens for example if you pass in an empty variable. It certainly feels like a bug to return the first row of the model table in that case.

[2015-06-01 15:38] virgofx commented on #10275
@andresgutierrez Can you shed some insight into how one could accomplish using Models for query results when only selecting limited data (e.g. You have a table with large column size and for performance you only need a couple of columns, yet you want to utilize getters/setters from a defined model).

Thanks.

[2015-06-01 16:02] patrick-zippenfenig commented on #10275
A select query defaults to ````Phalcon\Mvc\Model\Row```` as soon as ````columns```` is set. The hydrated model is stored in the private property ````_model```` in ````Phalcon\Mvc\Model\Resultset\Simple````:
[code]

[2015-06-01 16:26] gtux commented on #10442
In other news, I have the same bug, I have this in my model's initialize method:

[code]

here still get the 'activo = 0' persons, on my db.log get:

[code]

Like you can see, only the id_cliente is filtered.

I did this:
[code]

By the way, how can I debug if I modify the zep code? I try but does not work either.

Thanks in advance

[2015-06-01 17:44] hugofcampos commented on #2811
Is this still up for fixes? Is anybody looking for this?

[2015-06-01 17:49] gtux opened #10456 "Print fields on model when call save if allowEmptyStringValues sets to array()"
I got other bug, it seems related with $this->allowEmptyStringValues(array()) (#10442) because when I have this line on initialize method, and then call for save it, I got a print_r with fields of my model.

[2015-06-01 18:43] phalcon commented on #10456
I suggest you compile from the development branchs using `zephir build`

[2015-06-01 20:34] caaguado commented on #10342
Hi Andrés, niden, any rough idea when will this be implemented? We missed 2.0.2. Please contact me back if you want me to test the fix on PHP 5.6,as I have my test environment readily available :-)
Thanks a lot again!

[2015-06-01 20:35] phalcon commented on #10342
Dlls are now available in the download page

[2015-06-01 22:04] liesislukas opened #10457 "Phalcon framework as php"
Phalcon is blazing fast because it's pre-compiled and already in memory. That's great. I use it for every new project for last 2 years. Can't find any way to use it on shared hosting.

Maybe there is some way to export zephir to plain php?

I'm PHP guy, don't know details about C stuff, so just asking if there is any automated way to export Phalcon as simple php framework (symfony, zend). Call it

[2015-06-02 01:47] mpparent opened #10458 "Error in phalcon scaffold"
Phalcon Devtools (2.0.0) PHP 5.5 Mysql 5.5.34 Apache 2.2.27 I installed with compose I created a project I Created models with the phalcon models commands, it works. When I want to scaffold, the only answer I have is

Error: Parameter 'index' must be a string.

Like that: [~/public_html/xxxxxxxxxxxxxxx.com/etht]# phalcon scaffold Membre Phalcon DevTools (2.0.0)
Error: Parameter 'index' must be a s

[2015-06-02 01:53] andresgutierrez commented on #10458
could you please post this in the devtools repo? https://github.com/phalcon/phalcon-devtools

[2015-06-02 02:01] #10458 closed

[2015-06-02 02:16] andresgutierrez commented on #10452
The problem seems to be domain = "*", without that parameter it works

[2015-06-02 02:18] andresgutierrez commented on #10457
There's no framework in PHP you can use as a drop-in replacement for the extension. Many components in Phalcon cannot be translated easily to PHP.

[2015-06-02 02:27] andresgutierrez commented on #10446
I can't reproduce the issue, I'm using the following script:

[code]

[2015-06-02 02:29] andresgutierrez commented on #10442
I can't reproduce the issue, I'm using the following script, and it works fine:

[code]

Output:

[code]

[2015-06-02 02:30] #10422 closed

[2015-06-02 02:33] andresgutierrez commented on #10409
I can't reproduce this issue, I'm using the following script and it works fine:

[code]

Outputs:

[code]

[2015-06-02 02:39] andresgutierrez commented on #10398
It checks if the form has a 'getter' to obtain the value of the element, as the form value has a method called getValue, it tries to use it to obtain the value

[2015-06-02 02:40] andresgutierrez commented on #10427
Any ideas how to reproduce this?

[2015-06-02 03:03] mpparent commented on #10458
Sorry. You have absolutly reason, i didn't see my mistake.

Sorry again.

WDI ce n'est pas que des sites web, des noms de domaine et de l'hébergement! C'est aussi un service informatique pour le dépannage, l'installation de réseaux, d'ordinateurs et autres équipements électroniques et de logiciels. Nousnous occupons aussi de l'acquisition de vos produits informatiques. N'hésitez pas à nous contact

[2015-06-02 06:11] sergeyklay commented on #10458
But nor Phalcon nor Devtools hasn't this message. Search with ` grep -nir 'must be a string' path/`

[2015-06-02 06:19] kutsy opened #10460 "Incorrect sanitize of 'int' filter (Phalcon v2.0.2)"
I've found issue:

[code]
Will return:
`string(9) "123-45-67"`
not:
`0`

[2015-06-02 07:18] johngray commented on #10427
Nope. I am not very skilled in C. But I suspect the wrong usage of registers.
I found a similar thread on the [forum](http://forum.phalconphp.com/discussion/6457/error-compilation-phalcon-20)
And also I found an old thread with similar error on [gcc bugzilla](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=13167)
Maybe this will provide you with some clue.

[2015-06-02 07:57] tselina commented on #10430
I'm sorry, but I don't have version 2.0. And I expect that our website
won't be upgraded to that version in nearest future
31 трав. 2015 19:14, користувач "Andres Gutierrez" <notifications@github.com>
написав:

[2015-06-02 09:35] sergeyklay commented on #10460
[code]

[2015-06-02 09:50] dreamsxin commented on #10460
Can use `int!`

[2015-06-02 10:18] softdream commented on #10452
Yeah, sorry you're right so then this is desultory question,

[2015-06-02 10:18] #10452 closed

[2015-06-02 10:57] michanismus opened #10461 "Db Profiler docs fix"
It is not possible to assign an instance of Phalcon\Db\Profiler to an adapter.

http://docs.phalconphp.com/en/latest/api/Phalcon_Db_Profiler.html

[2015-06-02 11:34] caaguado commented on #10342
Hi again, sorry, but I can't find the DLLs in the official Windows DLL download page (http://phalconphp.com/en/download/windows) nor nowhere in Github. May you please kindly send me the actual download URL, so I can test the new 5.6 DLL? Thank you.

[2015-06-02 11:37] andresgutierrez commented on #10342
![image](https://cloud.githubusercontent.com/assets/213590/7934934/d110b410-08f1-11e5-9cc4-b923faa09e22.png)

http://static.phalconphp.com/files/phalcon_x86_vc11_php5.6.0_2.0.2_nts.zip

[2015-06-02 11:39] ashpumpkin commented on #10409
I've found that we have custom di extending DI\FactoryDefault. And this DI caches locally all DI properties including Criteria, that is why Criteria is always the same. Everything is fine, closing this issue

[2015-06-02 11:39] #10409 closed

[2015-06-02 11:41] andresgutierrez commented on #10430
@tselina we can't help you then

[2015-06-02 12:37] gtux commented on #10460
From the php manual: http://php.net/manual/en/filter.filters.sanitize.php

[code]

[2015-06-02 12:40] stefanchiriac commented on #10457
there are quite a few ways to use it on shared hosts. Just google it a bit.
All you have to do is compile the extension for the shared host OS version + PHP version (do that in a virtual machine), get the .so and include it in your php.ini.
I'm doing that myself and is working.

[2015-06-02 12:40] kutsy commented on #10460
It's bad.
As a fix:

[code]

[2015-06-02 12:40] #10460 closed

[2015-06-02 12:53] stefanchiriac opened #10462 "[2.0.3] Routes not working"
I just upgraded to Phalcon 2.0.3 and routes no longer work; they all send me to homepage '/'. Using ubuntu 14.04 with apache.
also $this->router->getMatchedRoute() now return a string instead of an object
`host=localhost;dbname=xxx`

I tried both master and 2.0.x and both have same problem. Something changed on how things get handled?

Edit: I think something is messed up with latest version of Ze

[2015-06-02 14:09] gtux commented on #10442
Hi, I'm trying to make some debug over the code, like the user phalcon recommend (#10456): I build the extension with the command "zephir build", but, when I do this all goes wrong! I'm my log's file I get:

[code]

But when I build with the clasic "cd build && ./install" all works fine. I'm trying to help, but it's strange

[2015-06-02 14:47] andresgutierrez commented on #10442
Try installing from ext/

[code]

[2015-06-02 14:59] caaguado commented on #10342
Hi Andrés, the changelog for master 2.0.2 (https://github.com/phalcon/cphalcon/blob/master/CHANGELOG) doesn't mention this  bug #10342 as included/fixed.

Accordingly, I still see the same error on 2.0.2 (only for PHP 5.6), leading to a 500 Internal Server Error. This is from right now:

PHP Warning:  PHP Startup: phalcon: Unable to initialize module
Module compiled with module API=20121212
PHP

[2015-06-02 15:44] tidytrax commented on #10453
Same problem only works on where clause, cannot use subquery as column Phalcon 2.0.2

[2015-06-02 16:22] Johnny-zh commented on #10101
@Xiphin Could you tell me how to solve this problem? I can't understand andresgutierrez's mean.
In my compute, there is not any program about php5.6

[2015-06-02 17:46] sergeyklay commented on #10101
It seems 5.3.9 min ver

[2015-06-02 21:06] andresgutierrez commented on #10101
@Johnny-zh PHP 5.3.3 is not supported, you need to use 5.3.21 at least

[2015-06-02 21:44] steffengy commented on #10342
I don't think that ``PHP 5.6 VC11 NTS`` is what you are using, it looks like since
``PHP compiled with module API=20131226`` is complaining about a version missmatch of 2012 vs 2013, you are using a VC12 PHP with a VC11 module, therefore it logically doesn't work.

[2015-06-02 22:03] stibiumz commented on #1117
@sszdh , @sergeyklay [PR opened](https://github.com/phalcon/incubator/pull/368)

@ErickSkrauch now supports PHP 5.3 for incubator compatibility

[2015-06-03 01:04] gtux commented on #10442
Hi, I'm trying to debug this strange behavior and run your code in my environment, I did this:

[code]

then create a issue-10442.php:

[code]

then i run:
[code]

and this is what i get:

[code]

I'm really crazy trying to find out when the variable bindParams sets to my dbconnect params.

[2015-06-03 01:12] gtux commented on #10442
When I compile phalcon with this:

[code]
On issue-10442.php I get:

[code]

Like you see, do not filter with 'activo = 1' constraint on initialize method.

[2015-06-03 01:13] andresgutierrez commented on #10442
@gtux Installation from build is outdated, did you compile from ext/ ?

[2015-06-03 01:14] gtux commented on #10442
I'll do it right now

[2015-06-03 01:29] gtux commented on #10442
I did this:
[code]

And I get this:

[code]

[2015-06-03 01:44] andresgutierrez commented on #10442
I can't execute your example because it has external dependencies that are not posted in the example.

[2015-06-03 02:02] andresgutierrez commented on #10453
This is fixed in 2.0.3, can you try again using that version? (please do not compile from build/)

[2015-06-03 02:38] mpparent commented on #10458
it seams to be in composer.phar. I diagnose it, correct everything, still have the error. I will contact them

[2015-06-03 02:42] mpparent commented on #10458
but is it suppose to use composer when scaffolding?

[2015-06-03 06:50] liesislukas commented on #10457
stefanchiriac, how can .so file be added to shared hosting provider, when the only thing you have is ftp login/password? A lot of users can't edit php.ini either.

andresgutierrez, but it would require a lot of time and manual working? any automatic way to "build" php files from zephir?

[2015-06-03 07:08] stefanchiriac commented on #10457
through ftp you upload the phalcon.so and then in php.ini add
`extension=/path/to/phalcon.so`
That's the solution you'll find all over internet
It surprises me there are shared hosts that doesn't let you modify php.ini. But there are tons of alternatives so anyone can switch to a shared host that let you do that. Also with $5 you can find an average vps.

The idea of having a fallback to php I had

[2015-06-03 08:05] SvSerg commented on #10441
More need to make any additional flags
IGNORE or REPLACE
or make different metods
for example:
[code]

[2015-06-03 08:07] sergeyklay commented on #10441
@SvSerg  +1
[code]

[2015-06-03 10:34] KorsaR-ZN commented on #10041
@rkeplin This has been fixed, try the latest version of the 2.0.x branch (see #10439)

[2015-06-03 10:47] Xiphin commented on #10101
@Johnny-zh My PHP ver is 5.4.41.

[2015-06-03 12:05] butamuh4o opened #10463 "[2.0.2] Models - hasManyToMany cant accept conditions. Return error"
Hi there...
To explain: usually, with other model relations, i use `$obj->getParts("is_active=1")` to make addition filtering. When i have relation *hasManyToMany* this return me an error - for example:

`Can't obtain model's source from models list: 'Models\Authors', when preparing: SELECT [\Models\Authors].* FROM [\Models\Authors] INNER JOIN [\Models\EventsAuthors] ON [\Models\EventsAuthors].[au

[2015-06-03 14:04] rkeplin commented on #10041
Thanks, @KorsaR-ZN

[2015-06-03 14:26] kostjantin commented on #1482
Version 2.0.2
I have this problem:

I created a table:
CREATE TABLE `razor`.`phalcon_test` (
`id` INT NULL,
  `name` VARCHAR(45) NOT NULL,
  `price` DOUBLE(7,2) NULL,
  `agreement` TINYINT(4) NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `idphalcon_test_UNIQUE` (`id` ASC));

Model not created and shows error: "Error: Column type does not support scale parameter"

When i change "`price` DOUBLE(7,2) NU

[2015-06-03 16:09] gtux commented on #10442
Hi, It's impossible to get right, today I did this:

1) Uninstall php and all this modules and configurations. I was installed php 5.5
2) Install php 5.6 and configure to minimal to work.
3) Checkout 2.0.x branch.
4) Build phalcon with: zephir build -> shows the dbconnect params con findFirst
5) Build phalcon with: ext/install -> same above
6) Build phalcon with: build/install -> the bug persists,

[2015-06-03 19:54] andresgutierrez commented on #10457
@liesislukas Phalcon is not just Zephir, there are components such as the parsers, escaper, kernel features, etc that are written in pure C, an automatic translation is just not feasible

[2015-06-03 19:56] andresgutierrez commented on #10442
@gtux Just added a fix in Zephir, could you please download changes from zephir and phalcon (2.0.x branch) and try again?

[2015-06-03 23:35] niden commented on #10457
@liesislukas Along with what others have suggested, you could always get a virtual box, that will allow you to have root access and install whatever you want on it.

I understand that this is not what you want to read, I get it. However, please consider the following
- Virtual machines are abundant on the internet and extremely cheap. Check the hosting page on the phalcon website for some alternat

[2015-06-04 01:02] overbid commented on #1482
@commit aa12ad95bd4870af0a06003a22b9eab2e34a3115 It's same to me.

[2015-06-04 04:53] rakeshgithub commented on #10453
then shall I compile from ext?

[2015-06-04 05:01] rakeshgithub commented on #10453
2.0.3 is not the stable version, I would wait to get it stable. Meanwhile, I have executed raw sql as alternate solution.

       // Base model
          $bm = new BaseModel();

          // Execute the query
         $rs = new Phalcon\Mvc\Model\Resultset\Simple(null, $bm,$bm->getReadConnection()->query($sql));

[2015-06-04 07:39] slechtic commented on #10116
same problem

[2015-06-04 07:40] liesislukas commented on #10457
I'm using virtual boxes for development and vps for production, not a problem for myself. But I was interested what would be if I would create app which would be downloadable. So requirements would be a little harder to understand when just "upload & go to your domain".

Thanks for all Your answers & great framework. I believe Phalcon will be popular enough to get to all shared hosting as default

[2015-06-04 08:17] mk-evergreens commented on #1134
+1

[2015-06-04 11:12] andresgutierrez commented on #10453
2.0.3 is more stable than 2.0.2

[2015-06-04 14:21] vbojan opened #10467 "The method 'skipAttributes' doesn't exist on model"
I just upgraded to Phalcon 2.0.2 and instantly started receiving the following error:
[code]

In 2.0.0 and 2.0.1 I had problems with skipAttributes and skipAttributesOnCreate not working as expected:
https://github.com/phalcon/cphalcon/issues/10249#issuecomment-104235738
However, now it throws an error.

[2015-06-04 14:22] andresgutierrez commented on #10249
This must be fixed in 2.0.3

[2015-06-04 14:23] andresgutierrez commented on #10467
The method is protected, you have to call it inside the class scope: https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/model.zep#L3227-L3239

[2015-06-04 15:12] caleuanhopkins opened #10470 "[2.0.x] Hash returning different results"
Can anyone explain why this is happening?

![](https://cldup.com/lhlfoJFgHB-3000x3000.png)
![](https://cldup.com/IFT3C2ylHX-3000x3000.png)

[2015-06-04 15:15] vbojan commented on #10467
Thank you Andres.

A minor refactoring fixed it.
I hope skipAttributes will get fixed in the next version.

[2015-06-04 15:15] #10467 closed

[2015-06-04 15:17] andresgutierrez commented on #10470
Phalcon\Security returns different hashes for the same input, this ensures that if someone has access to the database it cannot figure out other passwords generated using the same original input by just looking for a previous generated known one.

[2015-06-04 15:18] andresgutierrez commented on #10467
What is requiring a fix?

[2015-06-04 15:19] vbojan commented on #10467
This one:
https://github.com/phalcon/cphalcon/issues/10249

[2015-06-04 15:31] caleuanhopkins commented on #10470
@andresgutierrez so can we compare two string encoded with hash to see if the original strings are the same?

[2015-06-04 15:33] caleuanhopkins commented on #10470
@andresgutierrez urgh I've just found `$this->security->checkHash()`. Figured this out now, having a bit of a brain dump day, sorry!

[2015-06-04 15:33] #10470 closed

[2015-06-04 16:04] gtux commented on #10442
This is what I did:

1) Create another new instance on AWS.
2) Build 2.0.3 branch and install ALL my environment again.

Only this way, it works!

So, right now, I do not have this issue any more, but not the same history with the others issues :worried:

[2015-06-04 16:06] andresgutierrez commented on #10442
Thanks, I'm closing this

[2015-06-04 16:06] #10442 closed

[2015-06-04 16:06] gtux commented on #10389
Like I've commented on #10442, I still have this issue, branch 2.0.3 does not fix it.

[2015-06-04 16:09] andresgutierrez commented on #10389
@gtux Could you please provide a script to reproduce the issue, something we can copy-paste in our machines and execute it to see the problem?

[2015-06-04 16:43] caaguado commented on #10342
Actually, the official php.net's PHP 5.6 package is built on VC11. I'm using the x86 (Win32) version:
http://windows.php.net/download/

However, I found out that the actual root cause for this fault was that I was using the Phalcon DLL for PHP 5.5 along with PHP 5.6. Once I pointed out my PHP.ini file to the Phalcon DLL for PHP 5.6 the problem has disappeared.

I'm sorry for this mistake; hope thi

[2015-06-04 18:14] andresgutierrez commented on #10342
Nice you found it

[2015-06-04 18:14] #10342 closed

[2015-06-04 18:37] gtux commented on #10389
Sorry, my mistake! It works fine now on 2.0.3

[2015-06-04 18:38] gtux commented on #10456
This issue was fixed on 2.0.3, I do not have any more this problem, thanks very much

[2015-06-04 18:47] andresgutierrez commented on #10456
Nice

[2015-06-04 18:47] #10456 closed

[2015-06-04 18:55] #10389 closed

[2015-06-04 20:35] meyssamhf opened #10471 "bug on the request->hasFiles() in version 2.0.1 and 2.0.2"
hi,
I install new version 2.0.2 on local xampp, but in upload file and request->hasFiles() line always return true(1), i test it again with version of 1.3.3 but it's Ok.
I think it's a bug in core class....

[2015-06-04 21:23] egulias commented on #3227
Hi @sergeyklay
Following [RFC 5321 section 4.5.3.1.1](http://www.rfcreader.com/#rfc5321_line2848) local parts should not exceed 64 octets. So it is correct to be an invalid email.
Also, domain parts can not exceed 254 octets (RFC 5321 section 4.5.3.1.2).

[2015-06-04 21:44] slarek commented on #2921
I have the same problem.   Same behavior. If I remove the element at the 0 index, everything works fine,

[2015-06-05 01:01] dcboy opened #10472 "Phalcon\Loader::autoLoad wall time"
![qq20150605-1 2x](https://cloud.githubusercontent.com/assets/3503568/7997525/f87a0c42-0b60-11e5-8812-8656905df87a.png)

when i use ab -c 200 -n 3000 to benchmark test and use xhprof mt_rand(1, 100) == 50 to save_run
and detect the elapsed more then 1s

[2015-06-05 01:08] andresgutierrez commented on #10472
It means that many files are being autoloaded so that method has most of the calls and most of the time is spent loading files. Also loading files involves reading from the filesystem which is an expensive operation. Do you already have opcache installed?

[2015-06-05 01:26] andresgutierrez commented on #2921
This is fixed in 2.0.3

[2015-06-05 01:26] #2921 closed

[2015-06-05 06:30] sergeyklay commented on #3227
@egulias How about to integrate the EmailValidator to Phalcon? :)

[2015-06-05 08:41] dreamsxin commented on #10471
Can you please sumbit html code to test?

[2015-06-05 09:03] aleksandrzen commented on #10471
@meyssamhf, try this:
[code]

[2015-06-05 09:20] meyssamhf commented on #10471
yes. it's work...... thanks aleksandrzen
and Where did you find it?

[2015-06-05 10:26] chakravarthy28 opened #10475 "How to change DB FetchMode in DbAdapter ?"
Hi
How can i set default fetch mode in DbAdapter is it Possible

[code]

[2015-06-05 11:18] aleksandrzen commented on #10471
@meyssamhf
I was faced with the same problem, after migration 1.2.6 -> 2.0.2.
I found [this](https://github.com/phalcon/cphalcon/issues/511) issue and concluded, that developers change default argument  in `Phalcon\Http\Request::hasFiles($notErrored)`.

This is only suggestion, I've not looked into sources.

1.2.6
[code]

[2015-06-05 11:30] pauliuspetronis commented on #10475
[code]

[2015-06-05 11:42] chakravarthy28 commented on #10475
Thanks. please help me
If using object to find records. query like
$settings = Settings::find(
            array(
        "conditions" => "status = 1"
    ));
when i print the result, it display
Phalcon\Mvc\Model\Resultset\Simple Object
(
    [_type:protected] => 1
    [_result:protected] => Phalcon\Db\Result\Pdo Object
        (
            [_connection:protected] => Phalcon\Db\Adapter\Pdo\Mysql

[2015-06-05 11:59] pauliuspetronis commented on #10475
[About Phalcon Models](https://docs.phalconphp.com/en/latest/reference/models.html)

[2015-06-05 12:13] pauliuspetronis commented on #10475
Simple example:
[code]

[2015-06-05 13:26] marianacapelo commented on #2113
Using Phalcon 2.0.2 I get the same problem.
Joining Model1 to Model2 twice using aliases as j_m2_1 and j_m2_2, only the last joined model (with alias j_m2_2) shows in the select block, the first is completely lost.

[2015-06-05 13:40] andresgutierrez commented on #2113
@marianacapelo Could you provide a script that we can copy-paste in our machines allowing us to see the problem and reproduce it?

[2015-06-05 14:49] marianacapelo commented on #2113
@andresgutierrez Does this work?

[code]

Database simple script
[code]

[2015-06-05 14:50] uuking opened #10477 "The build query is slow"
If there are leftjoin in the build query, the query will be slow, but join will not

[2015-06-05 14:51] andresgutierrez commented on #10477
Probably not a bug, the left join is executed by the database not by Phalcon

[2015-06-05 15:00] andresgutierrez commented on #651
This is implemented in 2.0.3

[2015-06-05 15:00] #651 closed

[2015-06-05 15:38] uuking commented on #10477
Thank you for your answer, I'm Chinese, are Baidu translate it, please forgive me.
There is in model, $this->modelsManager and $this->bulider, different versions of Phalcon, PHP whether, the situation is different, of course, registered in di.

[2015-06-05 16:12] Rajeshr34 opened #10478 "Build Problem"
Warning: Unspecified QEMU CPU model.
Please consider upgrading QEMU or configuring it to use a specific model.
find . -name \*.gcno -o -name \*.gcda | xargs rm -f
find . -name \*.lo -o -name \*.o | xargs rm -f
find . -name \*.la -o -name \*.a | xargs rm -f
find . -name \*.so | xargs rm -f
find . -name .libs -a -type d|xargs rm -rf
rm -f libphp.la       modules/* libs/*
Cleaning..
Configuring for:

[2015-06-05 16:15] andresgutierrez commented on #10478
This means you don't have enough memory to compile Phalcon, consider increase the memory of your machine or add more swap.

[2015-06-05 16:16] uuking opened #10479 "Object oriented query model can't use an alias"
Query model can not use an alias, in the case of using namespace, use the connection query master table and the connection table if there is a field repeat and cause conflict when the condition

[2015-06-05 16:19] #10475 closed

[2015-06-05 16:20] #10453 closed

[2015-06-05 16:25] Rajeshr34 commented on #10478
total       used       free     shared    buffers     cached
Mem:           490        301        188         43         20         76
-/+ buffers/cache:        204        285
Swap:            0          0          0

[2015-06-05 16:25] Rajeshr34 commented on #10478
how much it required?

[2015-06-05 16:26] uuking commented on #10479
$robots = Robots::query()
    ->join('RobotsParts', 'r.id = Robots.robots_id', 'r');
    ->where("type = :type:")
    ->andWhere("year < 2000")
    ->bind(array("type" => "mechanical"))
    ->order("name")
    ->execute();
If you use a namespace in this query, the Robots table is unable to use the alias

[2015-06-05 16:26] andresgutierrez commented on #10478
You can add 1GB of Swap, check this: http://www.thegeekstuff.com/2010/08/how-to-add-swap-space/

[2015-06-05 16:27] uuking commented on #10479
Table Robots and table RobotsParts if the field has a duplicate and as a query condition, then an error occurs.

[2015-06-05 16:31] uuking commented on #10477
In the 1.3 version of the $this->modelsManager is not used in model, the 2.x version is normal,

[2015-06-05 16:37] bombless commented on #10479
I'm Chinese, you can rephrase your question in Chinese, I'll see what I can do here.
你可以用中文描述一遍你的问题，我看能否帮到你。
https://github.com/phalcon/cphalcon/issues/10479 中的描述同样很混乱，那糟糕的机翻还是别用了:)

[2015-06-05 16:40] uuking commented on #10479
好吧，使用面向对象方式查询的时候，如果model使用了命名空间，那么robots是不能使用别名的，如果连接表robotsparts中与robots的字段有重复，并且作为查询条件，这样会导致错误

[2015-06-05 16:46] bombless commented on #10479
我这边的代码是
[code]
这样的，不知道能否解决你的问题。

[2015-06-05 16:51] uuking commented on #10479
刚试了，model中是没有createBulilder方法的

[2015-06-05 16:53] andresgutierrez commented on #10479
@dreamsxin

[2015-06-05 16:54] uuking commented on #10479
haha，He is my friend of mine.

[2015-06-05 16:57] bombless commented on #10479
哦我从公司代码看到的，估计就是简单的
[code]

[2015-06-05 16:58] uuking commented on #10479
使用构建器是可以的，主要是使用面向对象方式的时候，那是一个小bug

[2015-06-05 17:00] uuking commented on #10479
还有就是查询的时候使用leftjoin反而别join慢很多，所生成的sql直接运行是很快的

[2015-06-05 17:02] bombless commented on #10477
我想他是希望你提供一个脚本，类似这样的：https://github.com/phalcon/cphalcon/issues/2922

[2015-06-05 21:17] butamuh4o commented on #10463
Okay :)
In the model:

[code]

Now... in the controller - i can do this:
[code]

...but cant do that:

`$authors = $obj->getAuthors("is_active=1");`

If need other information, i can put whole project to github. Thanks!

[2015-06-06 00:07] dreamsxin commented on #10479
我这边测试一切 OK

[code]

[2015-06-06 00:29] uuking commented on #10479
d哥出马就是不一样，哈哈

[2015-06-06 00:38] dreamsxin commented on #2113
The parse has question, I will fix it.

[2015-06-06 02:11] dreamsxin commented on #10454
[code]

[2015-06-06 02:17] dreamsxin commented on #10462
Please submit the route define code?

[2015-06-06 07:12] altairo2087 commented on #10454
it works, thanks!

[2015-06-06 07:12] #10454 closed

[2015-06-06 12:39] uuking opened #10482 "怎么实现类似挂件的功能"
在view中调用别的控制器，显示数据

[2015-06-06 16:06] andresgutierrez commented on #10463
I'm using 2.0.3 (branch 2.0.x) and the following script to reproduce the issue and it works:

[code]
Outputs:
[code]

[2015-06-06 16:11] andresgutierrez commented on #10461
I think the documentation must be changed as the correct functionality is: https://docs.phalconphp.com/en/latest/reference/db.html#profiling-sql-statements

[2015-06-06 16:12] andresgutierrez commented on #10482
For questions like this you can better use the forum, Github is only intended for report issues and discuss new features: https://forum.phalconphp.com/

[2015-06-06 16:13] #10482 closed

[2015-06-06 17:36] #10471 closed

[2015-06-07 05:23] salarmehr commented on #2052
+1

[2015-06-07 06:32] michanismus opened #10483 "[2.0.x] Model->save() outputs array (Maybe dev debug output?)"
Hey,
to reproduce this, just clone tutorial from https://github.com/phalcon/tutorial.git

In index.php disable view:

[code]

In IndexControler IndexAction do:
[code]

Open in the web browser and you will see a blank page with output:

[code]

[2015-06-07 06:51] tmihalik commented on #2052
+1

[2015-06-07 11:33] pisklov commented on #629
+1

[2015-06-07 12:19] ucando opened #10484 "Database connection can't use persistent option"
I use postgresql, and I follow the phalcon's documents to set the persistent option, the code below
[code]
It cause fatal error: SQLSTATE[08006] [7] invalid connection option "persistent". I must change my code like this:
[code]
and the code can work.

is it a bug? or just the document is wrong?

[2015-06-07 13:31] pauliuspetronis commented on #10484
I think it's a small bug :)

I think [this](https://github.com/phalcon/cphalcon/blob/master/phalcon/db/adapter/pdo.zep#L138-L142) block has to be before [fetch dnsAttributes](https://github.com/phalcon/cphalcon/blob/master/phalcon/db/adapter/pdo.zep#L125-L131) and `unset descriptor["persistent"]`. Otherwise `persistent` variable is joined to `dsnAttributes` and PostgreSql throw error about it.

[2015-06-08 07:31] butamuh4o commented on #10463
I will test that, but in my case i didnt put `[Some\Parts].name...`. I am not sure and i didnt know that is required, because in other cases- it is not needed (hasMany, hasOne). In documentation is no information about that.
So... if that is the right way to use that type of relation- please, add it to documentation.

Anyway- i think its better to unify the ways to communicate with it.

Thank u.
/

[2015-06-08 07:31] #10463 closed

[2015-06-08 09:19] liesislukas commented on #2206
Phalcon could have some "default" Sass / less compiler built in and if you want, you could change it.

If it's hard to maintain, there could be tutorial (at least links to tutorials) how to do this here:

https://docs.phalconphp.com/en/latest/reference/assets.html

[2015-06-08 09:58] skaosYan opened #10485 "Oracle auto incremented ID column is empty after model->save()"
I have Phalcon 2.0.2 and Oracle 12c. I have created sequence and set getSequnceName() function for my model. But model->save() still raises an error "ORA-01400: cannot insert NULL" for a primary key.

[2015-06-08 10:11] fichtner commented on #10455
https://github.com/opnsense/core/commit/43955298f03d753727fcac39dbdf4d2f36dd8c0b

@andresgutierrez Default behaviour changed without being in the patch notes; this seems to fix the issue?

[2015-06-08 12:16] stefanchiriac commented on #10462
I just did a pull to zephir and cphalcon, compiled again and is working fine. I guess it has been fixed.

[2015-06-08 12:16] #10462 closed

[2015-06-08 12:50] fenixke commented on #1537
Hello Everyone!

My college ran into the same issue. He created a possible solution. We think that it is general enough so maybe everyone can benefit from it.

He extended the base Form class like WooDzu and overloaded two methods:

[code]

[2015-06-08 13:47] sszdh opened #10486 "Placeholders does not replace in translation with not existing indexes"
Hi all,

I use `nativeArray`adapter for my translation. in my controller I try to translate a message and send it to user:

[code]
If "`You are logged in as %username%`" key is not defined in language `array`, then the index returns as is, without replacement!

See this section of [source code](https://github.com/phalcon/cphalcon/blob/master/phalcon/translate/adapter/nativearray.zep#L65):

[code]

[2015-06-08 14:20] marianacapelo commented on #2113
@dreamsxin great, thanks!
@andresgutierrez Can you tell when we can expect this to be fixed? (next release?)

[2015-06-08 15:08] gtux opened #10487 "Error in read encrypted cookie"
Hi,

  I had implemented a remember me feature on my site, now at 2.0.x I have a problem with that. The backtrace is:

[code]

On Phalcon\Crypt->_cryptUnpadText the first parameter is false, so it wasn't decrypted, but this feature was working well.

As workaround our users must to erase the cookies and then login.

[2015-06-08 16:04] andresgutierrez commented on #10455
Yes, the path is regenerated every time it's checked. Passing false in the third parameter avoids that.

[2015-06-08 16:05] fichtner commented on #10455
Alright, confirmed working, thanks for the heads-up. :)

[2015-06-08 16:05] #10455 closed

[2015-06-08 17:07] andresgutierrez commented on #10483
Are you compiling from ext/ or build/?

[2015-06-08 17:21] andresgutierrez commented on #10487
This is now fixed in the 2.0.3 branch

[2015-06-08 17:21] andresgutierrez commented on #10486
This is now fixed in the 2.0.3 branch

[2015-06-08 17:24] andresgutierrez commented on #10484
This is fixed in the 2.0.3 branch

[2015-06-08 17:24] #10478 closed

[2015-06-08 17:24] #10472 closed

[2015-06-08 18:30] skaosYan commented on #10485
Does anybody have any clue, is it a bug?

[2015-06-08 19:10] olivierandriessen commented on #10225
This doesn't work in Phalcon 2.0

[2015-06-08 19:13] andresgutierrez commented on #10225
@olivierandriessen It works for me in >= 2.0.2

[2015-06-08 19:16] olivierandriessen commented on #10225
@andresgutierrez  Never mind, i'm still on 2.0.0.

[2015-06-08 19:28] pauliuspetronis commented on #10484
I created pull request [https://github.com/phalcon/cphalcon/pull/10489](https://github.com/phalcon/cphalcon/pull/10489). @andresgutierrez - yours fix did not resolve this problem. Because `persistent` is included in to `dnsAttributes`.

[2015-06-08 19:31] sergeyklay commented on #10472
@dcboy Can you provide your test for my little research?

[2015-06-09 00:03] skaosYan opened #10490 "model->findFirstBy... doesn't work with columnMap() in Oracle"
Hi,

Phalcon 2.0.2, Oracle 12c.

I have set columnMap() for my model.
Then, I invoke find on my model like this:
Users::findFirstByEmail('test@test.com');

In SQL debug.log I see:

[Tue, 09 Jun 15 02:58:38 +0300][INFO] SELECT COUNT(*) "numrows" FROM (SELECT * FROM (SELECT Z1.*, ROWNUM PHALCON_RN FROM (SELECT USERS.USERID, USERS.NAME, USERS.EMAIL, USERS.PASSWORD, USERS.MUSTCHANGEPASSWORD, USERS.PRO

[2015-06-09 00:33] dreamsxin commented on #10490
Please submit model code?

[2015-06-09 00:40] skaosYan commented on #10490
I have fixed it by adding 	    'PHALCON_RN' => 'phalcon_rn', into the columnMap(). But this should be done att core level.

<?php
namespace Vokuro\Models;

use Phalcon\Mvc\Model;
use Phalcon\Mvc\Model\Validator\Uniqueness;
use Phalcon\Mvc\Model\MetaData;
use Phalcon\Db\Column;

/**
 * Vokuro\Models\Users
 * All the users registered in the application
 */
class Users extends Model
{
    public $use

[2015-06-09 00:45] gtux commented on #10487
I just update my branch, and the bug persist.

I think it is because the commit fix the send method, but the problem is in decrypt method.

[2015-06-09 01:07] dreamsxin commented on #10490
Fields should case sensitive.

[2015-06-09 01:27] dreamsxin commented on #10487
Test code
[code]

[2015-06-09 02:02] michanismus commented on #10483
From /build

Sent from my iPhone

[2015-06-09 02:08] andresgutierrez commented on #10483
Can you compile please from ext/?

[2015-06-09 02:32] loopsframework commented on #524
+1
I would welcome it if Phalcon translates the DateTime object to the format expected by the database backend. With this layer of abstraction, code should become more portable.

[2015-06-09 03:32] michanismus commented on #10483
Compiled from ext/ and there is no debug output anymore!

[2015-06-09 03:32] #10483 closed

[2015-06-09 04:50] skaosYan commented on #10490
Sorry, I do not understand how to apply your answer, would you elaborate?

[2015-06-09 08:22] egulias commented on #3227
Sure!
I'll work on this after DPCon 2015 this June . I'll send the PR.
El 5/6/2015 8:31 a. m., "Serghei Iakovlev" <notifications@github.com>
escribió:

[2015-06-09 08:40] sergeyklay commented on #3227
:+1:

[2015-06-09 09:34] dreamsxin commented on #10490
Column name is `phalcon_rn`, Use  uppercase `PHALCON_RN` must be map.

[2015-06-09 09:47] sszdh commented on #10486
@andresgutierrez  :+1:

[2015-06-09 10:25] eeusta commented on #10401
Hi,
What is the solution?

https://github.com/phalcon/cphalcon/issues/10401

[2015-06-09 13:45] rakeshgithub commented on #10453
May I know the steps to upgrade 2.0.2 to 2.0.3. I looked the website https://phalconphp.com/ and it has link to download 2.0.2 so I thought it is the stable release.

[2015-06-09 14:46] yasharrashedi opened #10492 "$model->save() doesn't work if related model is loaded previously"
this is my model

[code]

and this is my action in a controller

[code]

but it doesn't update the website model. it seems it can't change foreign key if related model is loaded previously.
Any suggestions?

[2015-06-09 15:19] andresgutierrez commented on #10492
Have you tried check messages generated in the save operation?

public function testAction($websiteId, $newPlanId)
{
        $website = Website::findFirstById($websiteId);
        if($website->plan->id != $newPlanId){
            $website->plan_id = $newPlanId;
            if (!$website->save()) { print_r($website->getMessages()); }
        }
}

[2015-06-09 15:51] yasharrashedi commented on #10492
yes absolutely nothing  in website->getMessages(); !!

[2015-06-09 15:55] yasharrashedi commented on #10492
actually the code is:

[code]

returns Array ( )

[2015-06-09 16:07] yasharrashedi commented on #10492
I must mention that other fields rather than plan_id get updated but nothing happens for plan_id

[2015-06-09 19:20] #10199 closed

[2015-06-09 19:20] #10484 closed

[2015-06-09 19:20] #10486 closed

[2015-06-09 19:20] #10487 closed

[2015-06-09 20:34] pauliuspetronis commented on #10492
I think it's a bug. I tried debug code and found problem in function `_preSaveRelatedRecords` when call [let this->{columns} = record->readAttribute(referencedFields);](https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/model.zep#L2512). Before call `let this->{columns} = record->readAttribute(referencedFields);`
[code]
after
[code]
My code is below.
[code]
[code]
[code]

[2015-06-09 20:48] Green-Cat commented on #653
@golovanov This is now a feature in phalcon 2.0.3.
https://github.com/phalcon/cphalcon/commit/081331ab210e7568c3a6570bd5c6b612a4dc696a

@phalcon @andresgutierrez Please close.

[2015-06-09 20:48] andresgutierrez commented on #653
@Green-Cat The implemented feature is not what he asked here

[2015-06-09 20:53] Green-Cat commented on #653
Oups, my bad. What does it do?

[2015-06-09 20:54] andresgutierrez commented on #653
This: https://gist.github.com/andresgutierrez/2a729903f4b189e3ce75

[2015-06-09 20:56] Green-Cat commented on #653
Isn't that what this NFR asks for? I mean the "Simple Way" from the OP.

[2015-06-09 20:57] andresgutierrez commented on #653
Yeah, it's the same, I thought he was asking the Hibernate style of doing this

[2015-06-09 20:57] #653 closed

[2015-06-09 21:16] prof-dr-dipl-ing commented on #10453
I had the same issue like rakesh with 2.0.2.
10 minutes ago i updated to 2.0.3 and my subquery still not working:

My Code-Part:
[code]

Phalcon throw the following error:
[code]

[2015-06-09 21:39] phalcon commented on #10453
@prof-dr-dipl-ing Subqueries in the from clause aren't supported, however you can use raw queries there

[2015-06-10 05:16] wyseburn opened #10495 "[2.0.2] Default Database Values. not working"
I use Phalconphp 2.0.2

I read Phalcon 2.0.2 released.

Default Database Values
Now in the case that a column has a ‘default’ value declared in the field of the mapped table, this 'default’ value will be used instead of inserting 'NULL’:
$robots = new Robots();
$robots->save(); // use all `default` values

But it is not working.

//TABLE-------------------------------------------------------------

[2015-06-10 05:46] andresgutierrez commented on #10495
This was fixed in 2.0.3 (current master):

[code]

Outputs:

[code]

[2015-06-10 05:52] myprocess opened #10496 "[Bug] About the mode.zep"
[code]
about the "this->_exists(metaData, this->getReadConnection())" may be " ! this->_exists(metaData, this->getReadConnection())"

this bug can find on here:https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L2938

[2015-06-10 06:17] wyseburn commented on #10495
Thank you for the great advice. I really appreciate it.

[2015-06-10 06:17] #10495 closed

[2015-06-10 06:19] qq2868315280 commented on #10496
this one is the phalcon 1.3.5 c code part:
![phalcon2 0 x 2](https://cloud.githubusercontent.com/assets/12824855/8076133/74478822-0f7b-11e5-9a1d-f2603404170a.png)

this one is the phalcon 2.0.x c code part:
![phalcon1 3 5](https://cloud.githubusercontent.com/assets/12824855/8076129/63af9cd4-0f7b-11e5-9b54-599bd501b584.png)

this one is the phalcon 2.0.x zephir code part:
![phalcon2 0 x](https://cl

[2015-06-10 06:25] overbid commented on #1482
It's fix both master or 2.0.x branch.

[2015-06-10 08:27] sergeyklay commented on #10496
Good catch :+1:

[2015-06-10 13:07] sergeyklay commented on #10300
@thecodeassassin 2.0.3 has been released :)

[2015-06-10 15:44] phannguyencuong opened #10497 "[Bug]metadata.zep"
I'm using Phalcon version 2.0 , everything works fine . When I upgraded to 2.0.3 , each save data , the error appears :
Notice: Undefined index: 12 in phalcon / mvc / model / metadata.zep print on line 276
Please let me fix this guide . Configuration of my modelData as follows :

[code]

[2015-06-10 15:47] andresgutierrez commented on #10497
If you're using the files meta-data, manually delete all files in the meta-data directory and try again.

[2015-06-10 15:48] phannguyencuong commented on #10497
I deleted all the files in the metadata but this error .

[2015-06-10 15:50] andresgutierrez commented on #10496
This is fixed in 2.0.x branch, thanks

[2015-06-10 15:50] #10496 closed

[2015-06-10 15:52] phannguyencuong commented on #10497
Thank andresgutierrez lot . It has been in operation

[2015-06-10 15:52] #10497 closed

[2015-06-10 23:04] #2355 closed

[2015-06-10 23:08] andresgutierrez commented on #2488
Implemented in Phalcon 2.0.4

[2015-06-10 23:08] #2488 closed

[2015-06-10 23:09] andresgutierrez commented on #10231
Could you please try again using Phalcon 2.0.3?

[2015-06-10 23:10] andresgutierrez commented on #2907
Can you try again using Phalcon 2.0.3?

[2015-06-10 23:10] #3334 closed

[2015-06-10 23:11] #3148 closed

[2015-06-10 23:11] andresgutierrez commented on #1578
Can you try again using Phalcon 2?

[2015-06-10 23:11] #2343 closed

[2015-06-10 23:12] andresgutierrez commented on #1134
Can you try again using Phalcon 2?

[2015-06-11 01:17] reedgz commented on #329
Any news on this one?  Definitely needed.

I am developing current project with volt, just ran into the problem.  Now I have to decide if I want to re-write all views in twig/smarty.  Only two weeks from the deadline now.

[2015-06-11 01:47] andresgutierrez commented on #329
@reedgz I'll be addressing this soon

[2015-06-11 09:32] Jurigag opened #10499 "Put parameters ?"
When i create put parameters with payload like this : {firstName:123,lastName:123} when i do $this->request->getPut() phalcon return array like this:

array(1) {
  ["{firstName:123,lastName:123}"]=>
  string(0) ""
}

which is completely useless, i had to do this : json_decode(key($params),true) then i got right array.

[2015-06-11 09:41] Jurigag commented on #10499
Also phalcon return underscores for dots in email.

[2015-06-11 12:12] JarbasTomaz opened #10500 "new Phalcon\Config\Adapter\Ini raises a warning"
[code]

With XDebub reports:
"Warning: array_merge_recursive() expects at least 1 parameter, 0 given in ..."

[2015-06-11 12:17] kevas commented on #1698
[code]

Constant PUBLIC_PATH is a path directory where is index.php file.
And then you can write absolute path to the method setLayoutsDir - $view->setLayoutsDir('/var/www/web/app/views/layout/');

[2015-06-11 12:42] atayev opened #10501 "Can't install on CentOS"
Hi, can't install in CentOS.  Tried install:

git clone --depth=1 git://github.com/phalcon/cphalcon.git
cd cphalcon/build
sudo ./install

Get error like:

/root/cphalcon/build/64bits/phalcon.zep.c: Assembler messages:
/root/cphalcon/build/64bits/phalcon.zep.c:16027: Error: Incorrect register `%esi' used with `q' suffix
/root/cphalcon/build/64bits/phalcon.zep.c:16031: Error: Incorrect register `%ed

[2015-06-11 12:58] tmihalik commented on #651
@andresgutierrez

Great news!
Thank you for implementing this.
However `Searched CASE syntax` still throws syntax error. (first post)

[code]

[2015-06-11 13:43] andresgutierrez commented on #10500
Could you please post the contents of the config.ini file? Are you using Phalcon 2.0.3?

[2015-06-11 13:48] andresgutierrez commented on #10501
What version of PHP do you have? This seems to be caused by an old version of PHP

https://bugs.php.net/bug.php?id=64729

[2015-06-11 13:51] andresgutierrez commented on #10499
It doesn't parse the payload as JSON, it assumes the input comes from in the form of variable=value:

https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/http/request.zep#L118-L132

[2015-06-11 13:52] andresgutierrez commented on #10499
You can use getJsonRawBody https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/http/request.zep#L346-L356

[2015-06-11 14:24] daveamol commented on #1867
I'm having the same issue when fetching multiple records in a loop using findFirst and then later updating them again in another loop based on some conditions. @msty the fix works but can you give me some more insight on why it works ?

[2015-06-11 14:32] JarbasTomaz commented on #10500
Phalcon Version: 2.0.2

Config.ini:

[app]

[modulos]
home 		= /
ccq			= /
rh			= /

[ambiente]
desenvolvimento = 1

[controle_acesso]
timeout_em_segundos = 300
minimo_caracteres_senha = 8

[bibliotecas]
diretorio = xxxxxx

[2015-06-11 15:16] reedgz commented on #329
@andresgutierrez  Thanks man.  I am still developing with volt; just used some `include` to work around the problem.  Fortunately my views are relatively simple.

[2015-06-11 15:41] andresgutierrez commented on #10500
This is already fixed in 2.0.3

[2015-06-11 15:57] virgofx commented on #10401
@eeusta Ensure you have the latest release >= 2.03

[2015-06-11 17:03] JarbasTomaz commented on #10500
OK. Good to know. The functionallity wasn't affected, anyway.

[2015-06-11 17:03] #10500 closed

[2015-06-11 19:02] atayev commented on #10501
In server installed php 5.4.13

[2015-06-11 20:47] mattvb91 opened #10502 "[NFR] Support mysql BLOB field types"
Hi everyone

I would like to see the BLOB data types supported for mysql. I have installed zephir and made the following changes (I have added tinyblob, blob, mediumblob, longblob too. For this example just using the blob field)

\Phalcon\Db\Column.zep Line 105

[code]

\Phalcon\Db\Adapter\Pdo\Mysql.zep Line 194

[code]

\Phalcon\Db\Dialect\Mysql.zep Line 134

[code]
			    break;

Where would be

[2015-06-12 01:04] virgofx commented on #10041
Confirm fixed in 2.0.3. :+1:

[2015-06-12 01:04] #10041 closed

[2015-06-12 06:42] Jurigag commented on #10499
Thanks ! Didnt know about getJsonRawBody, beacause i had outdated devtools, know updated and got  ide completition in phpstorm so to know about it :)

[2015-06-12 06:42] #10499 closed

[2015-06-12 08:47] goke-epapa commented on #1867
This issues seems to occur when you call.
[code]
instead of

[code]
Changing to update instead of save fixed this issue for me.

[2015-06-12 11:34] zhouyl opened #10503 "I want to support this method of model"
like this,  can use the class `ArrayObject`:

[code]

[2015-06-12 14:47] Surt commented on #10453
I'm having troubles with 2.0.3 in subqueries when I use a join on the subquery and the main query. It seems that phalcon duplicates the join, giving exceptions due to duplicate alias.

An example (not actual usage but tested)

[code]

the warning shows the sql made:

[code]

It does not matter the tables (in this example those are the same)

[2015-06-12 14:58] Surt commented on #10503
Yo can use the filter method of the resultset.

Filtering Resultsets¶
The most efficient way to filter data is setting some search criteria, databases will use indexes set on tables to return data faster. Phalcon additionally allows you to filter the data using PHP using any resource that is not available in the database:

<?php

$customers = Customers::find()->filter(function($customer) {

    //

[2015-06-12 15:39] andresgutierrez commented on #10453
@Surt Could you please create a new issue?

[2015-06-12 15:40] andresgutierrez commented on #10501
Maybe the problem is not fixed yet in 5.4.13

[2015-06-12 15:45] andresgutierrez commented on #10502
Phalcon needs to know what type is a column so the ORM can use the proper data type in PDO::bindValue (http://php.net/manual/en/pdostatement.bindvalue.php). Could you please submit a PR with these changes?

[2015-06-12 15:51] andresgutierrez commented on #10427
I found this was a bug in PHP and it was  fixed in PHP 5.5.0beta4 https://github.com/phalcon/cphalcon/issues/10501

[2015-06-12 15:52] mattvb91 commented on #10502
Thanks for the reply Andre, I will submit a PR this evening.

Am I assuming correctly then that \Phalcon\Db\Column.zep is the correct place to define these new types? As from looking at the code each sql dialect will default it to its own type if it doesn't support it anyway.

[2015-06-12 16:16] andresgutierrez commented on #10392
I'm not able to reproduce this in 2.0.3, it makes queries using different limits, traverses them and stores/retrieves them from the cache. Could you please update my script to show up the problem?

[code]

[2015-06-12 16:17] andresgutierrez commented on #10502
@mattpavelle Yes, it's the right place. I think it will be simply not available to other platforms

[2015-06-12 16:54] sergeyklay commented on #10392
@andresgutierrez Are you used big data for traversing? For example 5-10 million rows with relations with other models

[2015-06-12 16:55] andresgutierrez commented on #10392
@sergeyklay There's no difference, the algorithm is the same

[2015-06-12 16:57] sergeyklay commented on #10392
I got the impression that it is not so.

[2015-06-12 17:15] Surt opened #10505 "PHQL Subquery with JOINS duplicates subquery join"
I'm having troubles with 2.0.3 in subqueries when I use a join on the subquery and the main query. It seems that phalcon duplicates the join, giving exceptions due to duplicate alias.

An example (not actual usage but tested)

[code]

the warning shows the sql made:

[code]
It does not matter the tables (in this example those are the same because I took the first one I saw, but even with different

[2015-06-12 17:17] Surt commented on #10453
#10505 here

[2015-06-12 17:21] sergeyklay commented on #10392
Hm! Really in 2.0.3 all ok

[2015-06-12 18:06] TrogWarZ commented on #10392
Yay! It seems to be worked!

[code]

[2015-06-13 04:22] myprocess commented on #10496
:smile:

[2015-06-13 12:44] dschissler opened #10507 "PHQL uses join ON 1 condition when joining directly against the hasMany linking table"
I have 3 table:
- `table1`: `id`
- `link_table`: `id`, `table1Id`, `table2Id`, `type`
- `table2`: `id`

The SQL reads `INNER JOIN table1 ON 1` instead of inferring the relationship from the hasManyToMany relationship.  I must include an additional hasMany relationship from table1 the linking table but this information is already available from the hasManyToMany relationship.

This stems from needi

[2015-06-13 13:10] braska opened #10508 "Patterns of routes with named parameters inside the groups are not to be compiled"
I have the following route:

[code]

But compiled pattern looks like this: `#^/search(/page{page:[0-9]+}){0,1}$#` (using `$router->getRouteByName('search')->getCompiledPattern()`)
Вut I expect the following: `#^/search(/page([0-9]+)){0,1}$#`

As far as I understand, this is due to the fact that the named parameter falls inside the group (fall inside round brackets).

For example if I compile follo

[2015-06-13 14:54] dschissler opened #10509 "[Bug] Phalcon Aliases in hasManyToMany relationships are broken"
I'm thinking that this bug relates to [2567](https://github.com/phalcon/cphalcon/issues/2567) and [2568](https://github.com/phalcon/cphalcon/issues/2568).

The new Phalcon 2.0.3 model alias feature appears to be standing upon some shaky foundation.  I've removed all aliases in my hasManyToMany relationships and I cannot use the aliases that I've assigned to the modelManager.  In the case of the mo

[2015-06-13 15:02] dschissler commented on #10509
This bug is essentially #10507.

[2015-06-13 17:22] max-mi commented on #9939
I have the same issue with Phalcon 2.0.0/2.0.1

[2015-06-13 23:37] atayev commented on #10501
Hi, thanks for your answer. I solve this problem. Only upgrade php to 5.4.40

[2015-06-14 06:52] sergeyklay opened #10510 "[2.0.x] Model Column Map Issue"
[code]

// Test with method
[code]

Tests:
[code]

[2015-06-15 07:28] berliner commented on #2572
The hyphenated version doesn't work for me on OS X using phalcon 2.0.1, only the underscore version works. The same is true for route definitions.

[2015-06-15 11:45] Surt commented on #2052
+1

[2015-06-15 12:55] sergeyklay commented on #2052
+1

[2015-06-15 15:05] #10324 closed

[2015-06-15 20:58] zecahnin opened #10512 "Phalcon\Db\Dialect\Postgresql add get comment or describe columns"
I think it would be interesting add to in Phalcon\Db\Dialect\ \* -> describeColumns, adding the recovery of the comment column.
I created a query that makes these alterations, if you consider this interesting add the recovery of the comments of columns, tables I can send all queries. What do you think?

for example postgres

[code]

[2015-06-15 20:58] mattvb91 opened #10513 "Hierarchical Rendering control through extended modules"
I have posted this on the forum but didnt get exactly what I was after:

I have found some pieces of code that use a "shared" view but that is not exactly what I am after. Does anyone have piece of code that allows views to be rendered based on extended classes.

For example:

[code]

So in the example above if  I am currently running in an "Admin" controller which extends a Base controller and th

[2015-06-15 22:00] andresgutierrez commented on #10510
What is the bug? The column map is a high-level abstraction only available in PHQL

[2015-06-15 22:09] andresgutierrez commented on #10501
Nice

[2015-06-15 22:09] #10501 closed

[2015-06-15 22:15] andresgutierrez commented on #10397
There is an example in the documentation of how to use it: http://php.net/manual/en/memcached.cas.php

[2015-06-15 22:15] #10395 closed

[2015-06-15 22:16] #10392 closed

[2015-06-15 22:24] andresgutierrez commented on #10236
@phresnel You can to compile from ext/

[2015-06-15 22:25] andresgutierrez commented on #10215
It checks if the file exist in every engine registered not just the first one

[2015-06-15 22:27] andresgutierrez commented on #10197
Those methods are required by the ArrayAccess interface not by Phalcon: http://php.net/manual/en/class.arrayaccess.php

[2015-06-15 22:28] andresgutierrez commented on #10195
Could you please try again using Phalcon 2?

[2015-06-15 22:28] #10245 closed

[2015-06-15 22:29] #10111 closed

[2015-06-15 22:30] #10029 closed

[2015-06-15 22:33] andresgutierrez commented on #9939
This is fixed in Phalcon 2.0.2/2.0.3, @max-mi Could you please try again using these versions?

[2015-06-15 22:35] andresgutierrez commented on #9905
Just access the variable down there in any view:

[code]

[2015-06-15 22:35] #9905 closed

[2015-06-15 22:37] andresgutierrez commented on #3288
This was fixed in 2.0.3

[2015-06-15 22:37] #3288 closed

[2015-06-15 22:54] sergeyklay commented on #10510
Ok. But this is not obviously. Mb in this case this should be documented?

[2015-06-15 23:01] andresgutierrez commented on #10353
This is fixed in 2.0.x branch

[2015-06-15 23:01] #10353 closed

[2015-06-15 23:04] andresgutierrez commented on #10179
Could you please try again using Phalcon 2.0.3 or higher?

[2015-06-15 23:06] andresgutierrez commented on #3305
You can use:

[code]

[2015-06-15 23:07] andresgutierrez commented on #3336
@DasRed Could you please try again using Phalcon 2.0.3?

[2015-06-15 23:08] andresgutierrez commented on #3332
Could you please try again using Phalcon 2 (2.0.3)?

[2015-06-15 23:10] andresgutierrez commented on #3289
This was fixed in Phalcon 2.0.2

[2015-06-15 23:10] #3289 closed

[2015-06-15 23:10] #3275 closed

[2015-06-16 01:16] andresgutierrez commented on #10110
Check that your files match the same case sensitiveness as the models you're using in the Query.

[2015-06-16 01:19] andresgutierrez commented on #7710
This is the expected behavior, you have to obtain the value again from the database or call $obj->refresh() to refresh the object.

[2015-06-16 01:19] #7710 closed

[2015-06-16 01:20] #3179 closed

[2015-06-16 01:24] andresgutierrez commented on #3161
This is fixed in the 2.0.x branch

[2015-06-16 01:24] #3161 closed

[2015-06-16 01:30] andresgutierrez commented on #3101
You can use $this->db->describeTable to describe a table with its columns (including types)

[2015-06-16 01:30] #3101 closed

[2015-06-16 05:51] phresnel commented on #10236
@andresgutierrez Yes, yes, yes. But those are not the source codes, but generated C files.

I guess Phalcon has no real interest in contributions, and I lost it, too.

[2015-06-16 06:07] dreamsxin commented on #10236
@phresnel The Phalcon2, You change code in https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/url.zep#L180
And, you can use this generated c files and make it:
[code]
See version:
[code]

[2015-06-16 06:20] phresnel commented on #10236
Phalcon 2 is _not_ the problem ...

[2015-06-16 07:58] nurtext commented on #3305
@andresgutierrez My bad, I completely forgot about this. Thanks very much! :grin:

[2015-06-16 07:59] #3305 closed

[2015-06-16 08:28] max-mi commented on #9939
@andresgutierrez thank you for information. I've already simplified paginator query with automated calculations via triggers, but I will test this issue on newest Phalcon versions and let you know about results.

[2015-06-16 08:56] manish-ga commented on #1867
create, update does NOT work.

[2015-06-16 09:34] armageddon-cat commented on #1925
+1

[2015-06-16 10:24] #10510 closed

[2015-06-16 11:10] ZoorGan commented on #1925
+1

[2015-06-16 11:27] mattvb91 commented on #10513
So just to add to this ive done a bit more digging and extended the Mvc\View to try doing something within the "render".

So I attempted a file_exists then change the render path to the base dir. The issue now is I still want it to render the main "ADMIN" layout but render the index.phtml action within that from the BASE.

[2015-06-16 13:51] ykurtbas commented on #2907
Seems like working with 2.0.3, no segfault

[2015-06-16 13:51] #2907 closed

[2015-06-16 14:21] andresgutierrez commented on #10236
@phresnel Phalcon 1.3.x is written in C, you have to submit a patch in C

[2015-06-16 17:13] phresnel commented on #10236
Okay, _that's_ an answer. Tbh, the code of Phalcon 1 looked pretty non-idiomatic, which is why I wanted to be sure.

Thanks. Yet I am not sure if I'll find the time again to work on this.

[2015-06-16 21:02] andresgutierrez commented on #3292
Duplicate of #2811

[2015-06-16 21:02] #3292 closed

[2015-06-16 21:27] andresgutierrez commented on #629
This is implemented in 2.0.x (2.0.4).

It requires initialize the flasher with $flash->useImplicitFlush(false);

[2015-06-16 21:27] #629 closed

[2015-06-16 22:47] temuri416 commented on #1134
+1

@andresgutierrez

As much as I would love to switch to Phalcon 2, it's not really an option at the moment.

Any chance you could look at it?

Thanks!

[2015-06-16 22:50] andresgutierrez commented on #1134
@temuri416 if this is happening in Phalcon 2 then yes

[2015-06-16 22:51] temuri416 commented on #1134
I see... No more bugfixes in 1.3.x then?

[2015-06-16 23:18] andresgutierrez commented on #1134
No, Phalcon 1.3.x is no longer maintained

[2015-06-17 03:44] vbojan commented on #10249
Just tested this in 2.0.3 and it still doesn't behave as expected :(

In my case I have a datetime field with DEFAULT CURRENT_TIMESTAMP.
Before it used to insert NULL, but with this change it's now inserting 0000-00-00 00:00:00.

I assume this change won't work fro @gtux either.

[2015-06-17 06:27] Cyw1104 commented on #10231
it works fine,now. With lastest Phalcon.

[2015-06-17 09:44] salarmehr opened #10517 "PHQL can not be used when there is more than one colliation in a databases"
PHQL does not allow using `binary` or `collation` in where clauses. In such cases, nothing will work:
`SQLSTATE[HY000]: General error: 1267 Illegal mix of collations (utf8_bin,NONE) and (utf8_general_ci,COERCIBLE
) for operation 'like'`.

[2015-06-17 09:55] anettan commented on #10517
Thanks. I'll try,,  time, and having a routes() method just doesn't work. Whereas the following does..,

[2015-06-17 10:10] salarmehr commented on #2052
Using Model class instead of table name give me the creeps.

[2015-06-17 10:15] anettan commented on #2052
This would be useful when you need to build select queries which rely on specific SQL extensions that aren’t supported by PHQL.?-Using Model class instead of,?,

[2015-06-17 12:29] #10231 closed

[2015-06-17 12:42] andresgutierrez commented on #10517
You can create a custom function that allow you to set the collation: https://blog.phalconphp.com/post/phalcon-2-0-3-released

[2015-06-17 12:50] gtux commented on #10249
@vbojan I have already fixed this issue, I had to re create my EC2 instance in order to get right, I never understand why on update my repository don't work

[2015-06-17 13:47] vbojan commented on #10249
I'm glad you found a solution.
In the meantime I looked into the query being generated and found that it also contains the field marked with skipAttributes. I'd expect it to be completely omitted from the query.

[2015-06-17 14:28] #10502 closed

[2015-06-17 16:35] sergeyklay commented on #1925
+1

[2015-06-17 19:11] andresgutierrez commented on #10249
@vbojan skipAttributes are only taken into account in insert/update operations, the idea is make those attributes skipped read-only.

I've added a fix for the issue with CURRENT_TIMESTAMP in the 2.0.x, please compile from ext/.

[2015-06-17 20:17] andresgutierrez commented on #10513
Could you please elaborate on why is this a bug? or what the bug is?

[2015-06-17 20:29] andresgutierrez commented on #10284
This is fixed in the 2.0.x branch

[2015-06-17 20:29] #10284 closed

[2015-06-17 20:34] andresgutierrez commented on #10054
I'm not able to reproduce this, could you please try again using latest Phalcon 2 (2.0.3) or submit a script that allow us to see the problem?

[2015-06-17 20:36] #1542 closed

[2015-06-17 21:09] mattvb91 commented on #10513
Hi Andre,

Sorry not a bug. NFR would be a better title if this is currently not possible within Phalcon. I could not find a feature like this in the docs so just double checking.

[2015-06-17 22:55] samijnih opened #10518 "Cannot query MySQL with hexadecimal"
Syntax error, unexpected token IDENTIFIER(x613A313A7B693A303B733A31333A226E656F20636C6173736963616C223B7D), near to ' ORDER BY name', when parsing: SELECT COUNT(42) AS rowcount FROM [Fymh\Api\Models\Band] WHERE activated = 1 AND styles = 0x613A313A7B693A303B733A31333A226E656F20636C6173736963616C223B7D ORDER BY name (168)

when

    if ($styles && is_array($styles)) {
	    $bandsConditions[] = 'sty

[2015-06-18 02:51] fukuda-s commented on #10054
Thank you for your comment.
I find another cause of this problem of code on controller.

If i used following code on controller, the problem does not occur.
[code]

However, if I use "column" option on find() as follows, phalcon v2.0.3 returns blank select form.
[code]

[2015-06-18 10:58] XMap opened #10519 "Why I can't use $this->tag->linkTo();"
Such like the title  ，

I'm in PHP 5.6.10 and Phalcon 2.0.3 .

This page html source just have that
h1{Hello}
<hr/>
http://120.26.113.48/
http://120.26.113.48/info.php
<hr/>
Help me please ~~~~  and I'm copy that
https://docs.phalconphp.com/en/latest/reference/tutorial.html
<hr/>

[2015-06-18 12:05] kevas opened #10520 "Phalcon\Mvc\Model\Validator::getOptions should be public in version 2.0.x"
It was changed in version 1.x. Methods from protected to public:
 - getOptions
 - getOption
 - isSetOption

Can you please change the visibility in version 2.0.x?

Thank you.

[2015-06-18 12:24] ilyaskorik opened #10521 "( ! ) Fatal error: Declaration of Models\Paginate::__construct() must be compatible with Phalcon\Paginator\AdapterInterface::__construct(array $config)"
This is phalcon-dev-tools/ide problem. I'm using the latest version of phalcon-dev-tools from github.

[2015-06-18 13:15] Green-Cat commented on #10521
Are you using a compatible version of phalcon? For example phalcon 2.0.3 + dev-tools 2.0.3?
If you are still using phalcon 1.3.x you need to use dev-tools 1.x

[2015-06-18 13:49] ilyaskorik commented on #329
Nothing at all?

[2015-06-18 15:06] michanismus commented on #329
I switched to Twig as well...

[2015-06-18 15:40] ilyaskorik commented on #10521
Yes, I use version 2.0.3 for app and 2.0.0 for tools. This is typo in /phalcon-devtools/ide/2.0.0/Phalcon/paginator/AdapterInterface.php ?

[2015-06-18 15:41] ilyaskorik commented on #10521
https://github.com/phalcon/phalcon-devtools/blob/master/ide/2.0.0/Phalcon/paginator/AdapterInterface.php

[2015-06-18 15:41] ilyaskorik commented on #10521
https://github.com/phalcon/cphalcon/blob/master/phalcon/paginator/adapterinterface.zep

[2015-06-18 15:47] sergeyklay commented on #10520
+1

[2015-06-18 15:50] andresgutierrez commented on #10520
Fixed in the 2.0.x branch

[2015-06-18 15:50] #10520 closed

[2015-06-18 18:06] dschissler commented on #10507
@phalcon

I created some scripts on [phalcon_bug_10507](https://github.com/dschissler/phalcon_bug_10507) that demonstrate the various errors.  Forgive the layout of the project because I needed to test different permutations of actual model classes and also how it interacts with settings on the ModelsManager.

One of the scripts works but it appears to be impossible to use the new ModelsManager al

[2015-06-18 18:49] dschissler commented on #10509
Closing because I'm doing the work on #10507.

[2015-06-18 18:49] #10509 closed

[2015-06-18 18:55] dschissler opened #10523 "[2.0.3] Model::FindFirstBy* magic methods should work when phqlLiterals is false"
The `findFirstBy*` magic methods throw an exception with message `Literals are disabled in PHQL statements` when invoked.  Perhaps all of the underlying code should use the long hand explicit binding so that it is compatible with disabling this feature.

I dream of the day when I can turn this setting on to have a bit more assurance.  I thought that we might be there after the LIMIT clause was fix

[2015-06-18 23:51] andresgutierrez commented on #10518
You have to use bound parameters when comparing the styles column:

[code]

[2015-06-18 23:52] andresgutierrez commented on #10519
Are you getting an error or something?

[2015-06-19 02:54] XMap commented on #10519
Fatal error: Class 'UrlProvider' not found in /usr/share/nginx/html/devxmap/public/index.php on line 30

I have change the php.ini .  It's show that .

[2015-06-19 03:15] andresgutierrez commented on #10519
You can find the full code here: https://github.com/phalcon/tutorial

[2015-06-19 03:30] XMap commented on #10519
http://120.26.113.48/aaa.txt
you can check my this index.php file source ....
............

I don't think it's because this reason ...

[2015-06-19 03:31] XMap commented on #10519
: )   Thank you First !  I'm sorry ...

[2015-06-19 03:32] andresgutierrez commented on #10519
Instead of:

[code]

it must be:

[code]

[2015-06-19 03:40] XMap commented on #10519
Cool!  thank you very much !

[2015-06-19 03:40] #10519 closed

[2015-06-19 05:02] andresgutierrez commented on #10513
Maybe you can use the viewRender event in application to modify how views are searched:

https://github.com/phalcon/mvc/blob/master/single-camelized-dirs/public/index.php#L14-L26

[2015-06-19 09:04] samijnih commented on #10518
Hi,
I already tested this but it produces me the same error

[2015-06-19 09:48] xicond opened #10524 "include in volt seems different"
if I use variable in include, volt would generate cache using $this->partial, and it make different mechanism, so I should ignore (dot)volt extension

        {% set dirRoot = "../../../views/" %}
        {% else %}
        {% set dirRoot = "" %}
        {% endif %}
        {% include dirRoot ~ 'core/templates/content/head' %}

vs

        {% include '../../../views/core/templates/content/head.vol

[2015-06-19 12:31] andresgutierrez commented on #10518
I don't think that use bound parameters produce the same error

[2015-06-19 13:42] samijnih commented on #10518
Using bound parameters doens't produce the same error but the query doesn't return me the result.

It's hexadecimal and boud parameters uses it as a string but it is not a string. I don't have to use bound parameters because my hexadecimal is 0x613A313A7B693A303B733A31333A226E656F20636C6173736963616C223B7D

I don't need to put quotes so that's my problem which gives you the problem

[2015-06-19 13:48] andresgutierrez commented on #10518
What column do you use to store a number like: 0x613A313A7B693A303B733A31333A226E656F20636C6173736963616C223B7D

[2015-06-19 13:51] samijnih commented on #10518
I serialize an array of gender of musique that I insert into a blob type

[2015-06-19 19:29] andresgutierrez commented on #1434
This is implemented in Phalcon 2.0.4:

[code]

Outputs:

[code]

[2015-06-19 19:29] #1434 closed

[2015-06-19 19:30] andresgutierrez commented on #906
This is implemented in Phalcon 2.0.4:

[code]

Outputs:

[code]

[2015-06-19 19:30] #906 closed

[2015-06-19 19:38] andresgutierrez commented on #1746
Duplicate of #1117

[2015-06-19 19:38] #1746 closed

[2015-06-19 19:40] andresgutierrez commented on #10524
This is the expected behavior. When including the extension it performs ahead-of-time compilation but if the file cannot be resolved at compile time it falls back to the partial function.

[2015-06-19 19:43] andresgutierrez commented on #10448
This is fixed in the 2.0.4 branch

[2015-06-19 19:43] #10448 closed

[2015-06-19 19:44] andresgutierrez commented on #10521
Could you please post this in the devtools repo? https://github.com/phalcon/phalcon-devtools

[2015-06-19 19:44] #10521 closed

[2015-06-19 19:45] andresgutierrez commented on #10432
Interval keyword will not be supported, however you can use custom functions to support this syntax: https://blog.phalconphp.com/post/phalcon-2-0-3-released

[2015-06-19 19:45] #10432 closed

[2015-06-19 19:46] andresgutierrez commented on #10362
This is fixed in 2.0.4 (2.0.x branch)

[2015-06-19 19:46] #10362 closed

[2015-06-19 21:28] mattvb91 commented on #10513
Thanks for this Andre, not quite what I was after but it has helped me come up with a solution that works for me and I can build out properly. Posting it here for anyone else that has similar issues:

Extended the \Phalcon\Mvc\View class and defined my modules along with their own paths:

    const VIEW_PATH_ADMIN       = 0;
    const VIEW_PATH_MODERATOR   = 1;
    const VIEW_PATH_USER        = 2;

[2015-06-20 01:21] dschissler opened #10526 "[2.0.x] INNER JOIN statement is added after an explicit JOIN on the intermediate table"
`Persons` and `Groups` are related with hasManyToMany.

The following causes the resultant SQL for PersonsGroups JOIN statement to be added twice because it is being implicitly added and its not taking into account that it was explicitly added.

This is broken:

[code]

So it needs to be removed:

[code]

but then the new v2.0.3 ModelsManager alias form can't be used because there is no way to ref

[2015-06-20 01:30] dschissler commented on #10507
[65199a71660ddc00aae8ee1b670c8ec22350ebaa](https://github.com/phalcon/cphalcon/commit/65199a71660ddc00aae8ee1b670c8ec22350ebaa) does not seem to fix the `sad_1.php`, `sad_2.php` or `sad_3.php` script.  New bug #10526 should resolve some of the tests/errors but then there is still the matter that if you add a relationship alias in `Persons` that it will fail.

[2015-06-20 02:21] andresgutierrez commented on #10507
Are you compiling from ext/ in the 2.0.x branch?

[2015-06-20 02:30] andresgutierrez commented on #10507
I've made the following test, Robots joining directly to RobotsParts:

[code]

Outputs:

[code]

The join condition is automatically added there

[2015-06-20 02:31] andresgutierrez commented on #10523
This is implemented in the 2.0.x branch

[2015-06-20 03:50] andresgutierrez commented on #3210
No answer from OP

[2015-06-20 03:50] #3210 closed

[2015-06-20 03:53] andresgutierrez commented on #2811
Implemented in Phalcon 2.0.4

[2015-06-20 03:53] #2811 closed

[2015-06-20 03:53] andresgutierrez commented on #2407
Implemented in Phalcon 2.0.4

[2015-06-20 03:53] #2407 closed

[2015-06-20 03:57] #10110 closed

[2015-06-20 03:58] #2153 closed

[2015-06-20 03:58] andresgutierrez commented on #2429
Fixed in Phalcon 2

[2015-06-20 03:58] #2429 closed

[2015-06-20 03:59] #2157 closed

[2015-06-20 04:17] #1803 closed

[2015-06-20 06:57] dreamsxin commented on #10518
If blod type, can bind type `PDO::PARAM_LOB`, but fllow you question can do this:
[code]

[2015-06-20 09:59] ogarbe commented on #1434
@andresgutierrez it seems there is a problem with findfirst and this new feature

I've tested the new version and this findfirst method doesn't work anymore :

[code]

with phalcon.orm.cast_on_hydrate set to 0 => ok
with phalcon.orm.cast_on_hydrate set to 1 => "ErrorException: Illegal offset type"

[2015-06-20 10:01] ogarbe commented on #1434
same pb with this params

array(3) {
  'conditions' =>
  string(21) "id_ville = :id_ville:"
  'bind' =>
  array(1) {
    'id_ville' =>
    int(10666)
  }
  'cache' =>
  array(1) {
    'key' =>
    string(92) "Frontvpg\Models\Common\City-{"conditions":"id_ville = :id_ville:","bind":{"id_ville":10666}}"
  }
}

[2015-06-20 11:21] dschissler commented on #10507
I just compiled from `./ext/install` in the latest commit.  I wasn't aware there was a difference between building normally from `./build/64bits` in the development snapshots.

Your test doesn't do anything useful.  I urge you to run the scripts that I made.  It was difficult to track down the behaviour.  I think that if you join all of the way to `Parts` and add an extra property onto `RobotParts

[2015-06-20 14:17] dschissler commented on #10523
It works.

[2015-06-20 14:17] #10523 closed

[2015-06-20 14:26] dschissler commented on #10505
I'm also getting an additional JOIN in another case.  One of implicitly added from the hasManyToMany relationship and then when the intermediate table is explicitly joined.

[code]

The workaround is to remove `JOIN $PersonsGroups` so that only the implicit JOIN is used.

[2015-06-20 15:01] andresgutierrez commented on #1434
@ogarbe It's working fine to me, maybe you have to purge your cache?

[code]

[code]

[2015-06-20 17:18] dschissler opened #10527 "[2.0.x] Model::save fails when phqlLiterals is false"
#10523 appears to be fixed but now a simple `parent::save` operation is throwing the `Literals are disabled in PHQL statements` exception.

[2015-06-20 17:36] dschissler commented on #10527
Apologies for this one.  I must throwing from an event.

[2015-06-20 17:36] #10527 closed

[2015-06-20 17:44] andresgutierrez commented on #10507
I'm checking `sad1`:

* There is no direct relation between Persons and PersonsGroups so that's why it joins the model but using a dummy condition `1`. PersonsGroups is just an intermediate model to reach Groups. I think you can define this explicit relation and you will get the right condition there.

[2015-06-20 18:03] dschissler commented on #10507
So jump ahead to `sad3` (with a direct relationship defined for the models) and you will see that for test1 the failure changes to then being that there is a double INNER JOIN (one from explicit and one from implicit).  `quirky1` fixes this by removing the explicit JOIN to only use the implicit one but then there is no way to use `v2.0.3` ModelsManager aliases form as found in `sad1-3`.

Also, may

[2015-06-20 18:15] dschissler opened #10528 "[2.0.x] Did Phql Limit placeholder make its way into the 2.x branch from 1.3?"
I'm still having trouble disabling phpLiterals.

Did this make it in [commit 1023](https://github.com/phalcon/cphalcon/pull/1023)?

I can't get any of these forms to work in a very recent `2.0.x`.

[code]

[code]

[2015-06-20 18:27] dschissler commented on #10507
This is an assumption that doesn't hold true for my example because the whole point that brought me here is wanting to store a data flag in that intermediate table (`PersonsGroups`).  3rd normal and all of that.  Additionally using an alias to store the relationship was not appropriate for me in this case because Phalcon has no mechanism to assign a value to a linking intermediate table.  Its a go

[2015-06-20 19:16] andresgutierrez commented on #10528
First one works fine, second has a wrong placeholder (missing colon) and it needs the bind type, it must be:

[code]

[2015-06-20 19:20] dschissler commented on #10528
I think that I was using the correct placeholder in my real code so it must be the bind type.  I didn't know that it was ever required.

[2015-06-20 19:33] andresgutierrez commented on #10528
Yes, it's required by PDO/MySQL: http://stackoverflow.com/questions/2269840/how-bindvalue-in-limit

[2015-06-20 21:32] dschissler commented on #10528
Thanks.  That would have been difficult to find.

[2015-06-20 21:32] #10528 closed

[2015-06-22 02:11] duythien opened #10530 "Notice: Undefined variable: _SESSION"
Hi Team

When I update to version 2.0.3

[code]
I get error Notice: Undefined variable: _SESSION in file ..... Below the my config

[code]
It not working, but if i add session_start(); it will working

[code]
Is it bug ?

[2015-06-22 02:43] pct opened #10531 "warning: \U used with no following hex digits"
Hello, when compile phalcon 2.0.3 on FreeBSD 10.1-RELEASE, it shows following warning message: (\U)

        /usr/ports/www/phalcon/work/cphalcon-phalcon-v2.0.3/build/32bits/phalcon.zep.c:112026:40: warning: \U used with no following hex digits; treating as '\' followed by identifier [-Wunicode] ZEPHIR_REGISTER_CLASS_EX(Phalcon\\Mvc\\Url, Exception, phalcon, mvc_url_exception, phalcon_exception_ce

[2015-06-22 04:48] andresgutierrez commented on #10531
Hello, yes, you can ignore it

[2015-06-22 04:50] pct commented on #10531
Hi, thanks for your quickly reply.

[2015-06-22 04:50] #10531 closed

[2015-06-22 05:06] skaosYan opened #10532 "Unique validation fails: Column 'ROWCOUNT' doesn't make part of the column map"
Hi,

I have Phalcon 2.0.2 on Oracle 12c. Unique validation for a model fails with error.
Adding of ROWCOUNT into a column map doesn't help. How to fix this error?

[code]

SQL log contains:

[code]

My model:

[code]

[2015-06-22 05:52] sergeyklay commented on #10530
[code]

[2015-06-22 07:18] ogarbe commented on #1434
It's not an error, it's a notice :

please add this in your code

[code]

[2015-06-22 10:49] Dimous opened #10533 "addInlineJs and addInlineCss arent working"
Windows 8  64-bit
XAMPP Version: 5.6.8
phalcon_x86_vc11_php5.6.0_2.0.3

[code]

addInlineJs cause "Fatal error: Call to a member function addJs() on null"
without addInlineJs its working

in serial calls:
[code]
alert code is never added to the view

[2015-06-22 13:25] #3256 closed

[2015-06-22 14:36] samijnih commented on #10518
ok for me

[2015-06-22 20:10] virgofx commented on #10533
Looks like both **addInlineCss** and **addInlineCss** do not include the required chaining `return this` return value.

[2015-06-23 09:21] xicond commented on #10524
I'm not pointing on fallback to $this->partial, but on method to include string, one should use extension, one shouldn't, it's misinterpreting for programmer usage

[2015-06-23 09:27] johngray commented on #10427
Thanks. I upgraded to 5.6.10 and now everything is fine.

[2015-06-23 09:27] #10427 closed

[2015-06-23 10:28] alphanyx commented on #10179
With Version 2.0.3 everything works fine.
Bug seems to be fixed

[2015-06-23 10:28] #10179 closed

[2015-06-23 13:39] roman-kulish opened #10535 "View / Simple View, Volt: inconsistent behaviour on rendering or a bug"
This happens when using View or View\Simple stand-alone with Volt engine and non-shared "view" service. Note: it's *not* documented whether "view" service should be shared and examples are controversial.

The use-case scenario (in my case) was mass-rendering of different content types, where each type had common and unique data and it was logical to get a fresh instance from DI, pre-set variables

[2015-06-23 14:19] andresgutierrez commented on #2416
This is strange because Phalcon does not use literals like that. They look like:

[code]

[2015-06-23 15:10] andresgutierrez commented on #10535
The volt service is obtained using getShared so the instance works as shared even if it's registered or not as shared. This is why it returns the same instance. You can fix this by registering the engine using a closure or create a different volt service for simple and hierarchical.

[2015-06-23 15:15] andresgutierrez commented on #2068
Closed as not a bug

[2015-06-23 15:15] #2068 closed

[2015-06-23 15:25] andresgutierrez commented on #10533
Fixed in the 2.0.x branch

[2015-06-23 15:25] #10533 closed

[2015-06-23 15:35] erickne commented on #3070
@barantaran thanks! Worked for me.

[2015-06-23 15:36] #3070 closed

[2015-06-23 18:02] mattvb91 commented on #10513
Ok so a problem that I have now come across is if I want to use partials from across different folders that will cause an issue with the above.

If for example using the above code the viewsDir is set the first time a view is searched. If a partial is under a different directory it will now replace the viewsDir again which will cause issues.

I will have a look if I can find some way to set viewDi

[2015-06-23 19:28] williamokano opened #10536 "Implement distinct/setDistinct on Phalcon\Mvc\Model\Criteria like on query builder"
You guys could add the Distinct from the QueryBuilder into the Phalcon\Mvc\Model\Criteria

I think that it's more practical to do MyModel::query() instead of creating the whole query from the query builder.

As I could see, there's no Distinct method on the Criteria class.

Example: https://gist.github.com/williamokano/a17cb07d791da65bc997

I could use just ->distinct(true) and my problem was solv

[2015-06-23 20:37] KorsaR-ZN commented on #10513
@mattvb91 Look, this will solve your problem?
https://gist.github.com/KorsaR-ZN/d8806544e46e7b720366

[code]

If so, I'll do PR

[2015-06-23 20:50] KorsaR-ZN commented on #10536
@williamokano see #10538

[2015-06-23 20:55] williamokano commented on #10536
Thanks, I didn't found this issue. Closed and waiting for the merge :)

Thanks @KorsaR-ZN :+1:

[2015-06-24 09:25] xicond commented on #10195
sorry my bad, this should static function :laughing:

[2015-06-24 09:25] #10195 closed

[2015-06-24 10:59] liesislukas opened #10539 "Slow internal stuff. Any best practises how to speed up?"
Here's image from xdebug logs

![phalcon slow](https://cloud.githubusercontent.com/assets/2733862/8328419/417db638-1a79-11e5-87c1-2d040b6891cf.png)

Router is like this:

[code]

Autoloader:

[code]

Phalcon version: 1.3.4 PHP version: 5.6.10-1+deb.sury.org~precise+1

[2015-06-24 11:48] baychae commented on #3062
This no longer appears to apply in phalcon 2.0.3

[2015-06-24 13:14] salarmehr commented on #10517
I hope raw query build make using `collation` and `binary` possible.

[2015-06-24 13:25] salarmehr opened #10540 "[2.0.3] It's not possbile to catch errors."
I a model is reference by some foreign keys, its not possible to display appropriate error message to user. The executions exits with
[code]
 message.
[code]

[2015-06-24 13:26] salarmehr opened #10541 "[2.0.3] It's not possbile to catch foreign keys errors using getMessages"
I a model is reference by some foreign keys, its not possible to display appropriate error message to user. The executions exits with

[code]

 message.

[code]

[2015-06-24 14:23] andresgutierrez commented on #10539
Github is only intended to report bugs or discuss new features. You can better use the forum to get help on the usage of Phalcon or PHP development in general. https://forum.phalconphp.com/

[2015-06-24 14:24] andresgutierrez commented on #10540
Duplicate of #10541

[2015-06-24 14:24] #10540 closed

[2015-06-24 14:25] andresgutierrez commented on #10541
You have to add a virtual foreign key: https://docs.phalconphp.com/en/latest/reference/models.html#virtual-foreign-keys

[2015-06-24 14:44] salarmehr commented on #10541
@andresgutierrez Isn't it possible for Phalcon to fetch foreign keys automatically similar to columns?

[2015-06-24 15:16] andresgutierrez commented on #10541
You can generate your models using Phalcon Devtools

[2015-06-24 15:36] andresgutierrez commented on #2495
Fixed in 2.0.4

[2015-06-24 15:36] #2495 closed

[2015-06-24 15:42] williamokano commented on #10536
Feature merged!

Thanks @KorsaR-ZN!

[2015-06-24 15:42] #10536 closed

[2015-06-24 16:49] tuxy opened #10542 "Alternative Phalcon Structure"
Alternative phalcon structure for anyone who cares :-)
@ https://github.com/tuxy/phalcon/tree/master/project

[2015-06-24 16:53] williamokano commented on #10542
This is not an issue, should be posted on forum.

[2015-06-24 16:55] hanfeng2000 commented on #2921
multiple select in 2.0.3，have "PHP Notice:  Array to string conversion"

[2015-06-24 17:00] tuxy commented on #10542
@williamokano You're right ^_^ Thanks!

[2015-06-24 17:00] #10542 closed

[2015-06-24 17:51] salarmehr commented on #10541
I only need to check mysql error code to alert proper messages. I think the delete action should not break the program. There should be an easy way to get last database error.

[2015-06-24 17:52] andresgutierrez commented on #2921
@hanfeng2000 Could you please provide a script to reproduce the issue?

[2015-06-24 20:04] hanfeng2000 commented on #2921
FirmsForm.php:
$categories = new Select('categories', Constants::$FirmCategories, [
            'id' => 'categories',
            'name' => 'categories[]',
            'multiple' => true,
            'placeholder' => 'Multiple Select'
        ]);
$categories->setLabel('<i class="fa fa-star-o red"></i> Categories);
$this->add($categories);

firms.volt:
<div class="form-group">
	{{ form.label("categ

[2015-06-24 20:09] andresgutierrez commented on #2921
@hanfeng2000 Could you please create a new issue? Thanks

[2015-06-24 20:23] hanfeng2000 opened #10543 "[Phalcon 2.0.3]When using a multiple select, will be an "PHP Notice: Array to string conversion""
My  Scripts

FirmsForm.php:
[code]

firms.volt:
[code]

FirmsModel.php:
[code]

FirmsController.php:
[code]

phalcon/tag/selec.zip （corrected）
[code]

[2015-06-24 20:29] hanfeng2000 commented on #2921
@andresgutierrez

https://github.com/phalcon/cphalcon/issues/10543

Sorry! My English is poor.

[2015-06-25 01:26] andresgutierrez commented on #10518
Fixed in the 2.0.x branch

[2015-06-25 01:26] #10518 closed

[2015-06-25 01:38] andresgutierrez commented on #10532
This is fixed in the 2.0.x branch (Phalcon 2.0.4), you have to change a global ORM setting to allow unexpected columns:

[code]

[2015-06-25 01:38] #10532 closed

[2015-06-25 01:39] andresgutierrez commented on #1780
This is fixed in the 2.0.x branch (Phalcon 2.0.4), you have to change a global ORM setting to allow unexpected columns:

[code]

[2015-06-25 01:39] #1780 closed

[2015-06-25 01:40] andresgutierrez commented on #3256
This is fixed in the 2.0.x branch (Phalcon 2.0.4), you have to change a global ORM setting to allow unexpected columns:

[code]

[2015-06-25 01:40] andresgutierrez commented on #1652
This is fixed in the 2.0.x branch (Phalcon 2.0.4), you have to change a global ORM setting to allow unexpected columns:

[code]

[2015-06-25 01:40] #1652 closed

[2015-06-25 01:40] andresgutierrez commented on #760
This is fixed in the 2.0.x branch (Phalcon 2.0.4), you have to change a global ORM setting to allow unexpected columns:

[code]

[2015-06-25 01:40] #760 closed

[2015-06-25 01:41] andresgutierrez commented on #10490
This is fixed in the 2.0.x branch (Phalcon 2.0.4), you have to change a global ORM setting to allow unexpected columns:

[code]

[2015-06-25 01:41] #10490 closed

[2015-06-25 01:45] andresgutierrez commented on #10236
This is fixed in Phalcon 2.0.4 (branch 2.0.x)

[2015-06-25 01:45] #10236 closed

[2015-06-25 01:48] andresgutierrez commented on #1417
This is implemented in 2.0.2 in interface Mvc\ViewBaseInterface

[2015-06-25 01:48] #1417 closed

[2015-06-25 01:48] skaosYan commented on #10490
Cool, thank you

[2015-06-25 01:51] andresgutierrez commented on #856
This has been implemented in Zephir

[2015-06-25 01:51] #856 closed

[2015-06-25 01:53] andresgutierrez commented on #10155
No response from OP

[2015-06-25 01:53] #10155 closed

[2015-06-25 02:01] andresgutierrez commented on #9906
This is implemented in the 2.0.x branch (2.0.4)

[2015-06-25 02:01] #9906 closed

[2015-06-25 02:06] andresgutierrez commented on #2684
This is fixed in Phalcon 2.0.0

[2015-06-25 02:06] #2684 closed

[2015-06-25 02:07] andresgutierrez commented on #9973
This is fixed in the 2.0.x branch (Phalcon 2.0.4(

[2015-06-25 02:07] #9973 closed

[2015-06-25 02:08] #9903 closed

[2015-06-25 02:10] andresgutierrez commented on #6787
Fixed in the 2.0.x branch (Phalcon 2.0.4)

[2015-06-25 02:10] #6787 closed

[2015-06-25 02:11] andresgutierrez commented on #3318
Route in Phalcon 2 uses a smart and better way to reduce the number of rules in the parser

[2015-06-25 02:11] #3318 closed

[2015-06-25 02:12] andresgutierrez commented on #3306
Fixed in Phalcon 2.0.1

[2015-06-25 02:12] #3306 closed

[2015-06-25 02:13] andresgutierrez commented on #3283
Still an issue?

[2015-06-25 02:17] #3215 closed

[2015-06-25 02:18] andresgutierrez commented on #3207
This is fixed in Phalcon 2.0.4 (branch 2.0.x)

[2015-06-25 02:18] #3207 closed

[2015-06-25 02:18] andresgutierrez commented on #3191
This is fixed in Phalcon 2.0.4 (2.0.x branch)

[2015-06-25 02:18] #3191 closed

[2015-06-25 02:20] andresgutierrez commented on #3155
Closing as Phalcon 0.8 is no longer supported

[2015-06-25 02:20] #3155 closed

[2015-06-25 02:21] andresgutierrez commented on #3130
Already implemented in getJsonRawBody()

[2015-06-25 02:21] #3130 closed

[2015-06-25 02:23] #3062 closed

[2015-06-25 02:29] andresgutierrez commented on #3240
Fixed in the 2.0.x branch (Phalcon 2.0.4)

[2015-06-25 02:29] #3240 closed

[2015-06-25 02:34] andresgutierrez commented on #3032
OP didn't provide feedback

[2015-06-25 02:34] #3032 closed

[2015-06-25 02:36] andresgutierrez commented on #2952
You can use custom functions to address this: https://blog.phalconphp.com/post/phalcon-2-0-3-released

[2015-06-25 02:38] andresgutierrez commented on #2938
Implemented in Phalcon 2 (exception PresenceOf)

[2015-06-25 02:38] #2938 closed

[2015-06-25 02:38] andresgutierrez commented on #2934
This is implemented in Phalcon 2.0.4

[2015-06-25 02:38] #2934 closed

[2015-06-25 02:39] #2886 closed

[2015-06-25 02:40] andresgutierrez commented on #2865
Fixed in Phalcon 2

[2015-06-25 02:40] #2865 closed

[2015-06-25 02:40] andresgutierrez commented on #2825
Closed as not a bug

[2015-06-25 02:40] #2825 closed

[2015-06-25 02:41] #2815 closed

[2015-06-25 02:43] andresgutierrez commented on #2735
This is fixed in Phalcon 2

[2015-06-25 02:43] #2735 closed

[2015-06-25 02:47] andresgutierrez commented on #2731
This is implemented in the 2.0.x branch (Phalcon 2.0.4)

[2015-06-25 02:47] #2731 closed

[2015-06-25 02:54] andresgutierrez commented on #2664
This is implemented in the 2.0.x branch (Phalcon 2.0.4)

[2015-06-25 02:54] #2664 closed

[2015-06-25 02:56] andresgutierrez commented on #2641
Fixed in the docs

[2015-06-25 02:56] #2641 closed

[2015-06-25 02:57] #2619 closed

[2015-06-25 03:00] andresgutierrez commented on #2618
This is fixed in Phalcon 2.0.4 (2.0.x branch)

[2015-06-25 03:00] #2618 closed

[2015-06-25 03:01] #2594 closed

[2015-06-25 03:02] andresgutierrez commented on #2587
Can't reproduce this issue in Phalcon >= 2.0.0

[2015-06-25 03:02] #2587 closed

[2015-06-25 03:03] #2512 closed

[2015-06-25 03:05] andresgutierrez commented on #2459
Closed as not a bug

[2015-06-25 03:05] #2459 closed

[2015-06-25 03:06] #2412 closed

[2015-06-25 03:06] andresgutierrez commented on #2384
Can you try again using Phalcon 2?

[2015-06-25 03:08] andresgutierrez commented on #2381
I can't reproduce this, if the controller was initialized before the forward initialize is called, but initialize is called once per request per controller.

[2015-06-25 03:08] andresgutierrez commented on #2380
This is fixed in Phalcon 2.0.4 (2.0.x branch)

[2015-06-25 03:08] #2380 closed

[2015-06-25 03:10] andresgutierrez commented on #2363
Fixed in the 2.0.x branch (Phalcon 2.0.4)

[2015-06-25 03:10] #2363 closed

[2015-06-25 03:12] andresgutierrez commented on #2271
This is fixed in Phalcon 2.0.3

[2015-06-25 03:12] #2271 closed

[2015-06-25 03:13] andresgutierrez commented on #2200
This was fixed in Phalcon 2.0.1

[2015-06-25 03:13] #2200 closed

[2015-06-25 03:14] andresgutierrez commented on #2164
This is fixed in Phalcon 2.0.4 (2.0.x branch)

[2015-06-25 03:14] #2164 closed

[2015-06-25 03:16] andresgutierrez commented on #2116
Fixed in Phalcon 2.0.4 (2.0.x branch)

[2015-06-25 03:16] #2116 closed

[2015-06-25 03:17] #2046 closed

[2015-06-25 03:19] andresgutierrez commented on #1887
This was fixed in Phalcon 1.3.0

[2015-06-25 03:19] #1887 closed

[2015-06-25 03:19] #1851 closed

[2015-06-25 03:22] #1631 closed

[2015-06-25 03:23] andresgutierrez commented on #1292
Fixed in Phalcon 2.0.4

[2015-06-25 03:23] #1292 closed

[2015-06-25 03:25] andresgutierrez commented on #1176
This is fixed in Phalcon 2.0.4

[2015-06-25 03:25] #1176 closed

[2015-06-25 03:25] andresgutierrez commented on #1106
This is fixed in Phalcon 2.0.4

[2015-06-25 03:25] #1106 closed

[2015-06-25 03:30] #10215 closed

[2015-06-25 03:30] andresgutierrez commented on #10138
This is fixed in Phalcon 2.0.4

[2015-06-25 03:30] #10138 closed

[2015-06-25 05:07] salarmehr commented on #3130
@andresgutierrez What do you mean by that? The requested method are helper and really useful in developing SPA (in particular Angular and Backbone).

[2015-06-25 05:26] andresgutierrez commented on #3130
@salarmehr You're requesting something that is already implemented

[2015-06-25 05:31] salarmehr commented on #3130
@andresgutierrez Sorry, I cann't find them on the documentation.

[2015-06-25 06:10] #10539 closed

[2015-06-25 06:11] liesislukas commented on #10539
Ok, continue on forum: https://forum.phalconphp.com/discussion/7285/slow-internal-stuff-any-best-practises-how-to-speed-up

[2015-06-25 06:23] sergeyklay commented on #3283
yes

[2015-06-25 08:59] phresnel commented on #10236
Neat, thanks for taking a look

[2015-06-25 09:23] OpenEX commented on #2952
Thank you for your reply. By the way I've been able to resolve my problem using sql Like so far to compare numbers somewhere in the middle of text. You just can imagine the code for it was terrible so i need to replace it (it was f.e. ::tag_a::number::/tag_a::).

[2015-06-25 11:40] akudryav opened #10544 "Non existing url on russian lang redirected to main page"
If you write some blabla url using russian like this: site.ext\проверка no 404 error happens.
Tested on Invo and Vokuro applications.

[2015-06-25 11:43] #10436 closed

[2015-06-25 14:33] gtux opened #10546 "NFR: Phalcon\Mvc\Model\Criteria must have groupBy method"
If i want to create a "complex" (not really complex) query for a model, it's simple enough use the query method from model, that it returns a Criteria object, but, this class don't have a group method, that some times is needed.

[2015-06-25 14:49] andresgutierrez commented on #10546
That method is already there in Phalcon 2.0.4: https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/model/criteria.zep#L526

[2015-06-25 14:50] andresgutierrez commented on #10530
You don't have to access _SESSION super global directly, you have to use $this->session->set/$this->session->set so the service will be initialized the first time it's used.

[2015-06-25 15:10] andresgutierrez commented on #10543
Fixed in the 2.0.x branch, thanks

[2015-06-25 15:10] #10543 closed

[2015-06-25 15:12] andresgutierrez commented on #10544
Do you have namespaces, controllers or actions with names in Russian?

[2015-06-25 16:05] williamokano opened #10547 "Error "Phalcon\Mvc\Model\Exception: The method 'sethydratemode' doesn't exist on model" on Phalcon 2.0.3"
Hi, I'm getting the error "Phalcon\Mvc\Model\Exception: The method 'sethydratemode' doesn't exist on model 'Apps\Models\Entities\Users'"
C:\app\apps\models\repositories\Repository\User.php (18)

https://gist.github.com/williamokano/e093c36a84b056cefb46

Phalcon version: Windows precompiled dll 2.0.3 for PHP 5.3.9 x86
PHP Version PHP 5.3.27 (cli) (built: Jul 10 2013 20:56:24) Zend Engine 2.3.0 with

[2015-06-25 16:11] andresgutierrez commented on #10547
In Phalcon 2.0.0 and Phalcon 2.0.1 methods that weren't declared in the model were called and the framework did not throw an exception. In Phalcon 2.0.2 you're getting that error because the method does not exist.

[2015-06-25 16:15] williamokano commented on #10547
Hi @andresgutierrez,

The error is being throw by FindFirst Phalcon model when I try to hydrate the collection:

EntityUsers::findFirst(array(
"conditions" => "UserId = :UserId:",
"bind" => array("UserId" => $user_uid),
'hydration' => Resultset::HYDRATE_ARRAYS)
)->toArray();

Should I declare on every model the sethydratemode? That makes no sense for me.

[2015-06-25 16:16] andresgutierrez commented on #10547
No, I was explaining you why this worked in Phalcon <= 2.0.2 but no in Phalcon 2.0.2

[2015-06-25 16:18] williamokano commented on #10547
Ok, sorry about that. :)

Should I discuss the solution for that on the forum or this can be considered a bug? If it is not a bug, I will close the issue.

[2015-06-25 16:30] sergeyklay commented on #10544
@andresgutierrez
Russia uses IPv6. This allows you to use a URLs with national symbols encoding

[2015-06-25 17:03] stibiumz commented on #10544
Also occurs with Latin-1 chars
https://invo.phalconphp.com/eñe -> Found
https://invo.phalconphp.com/ene -> Not found (unauthorized)

@sergeyklay this is IDN (not the same as an url path), and it is also supported by IPv4 addresses

[2015-06-25 17:05] andresgutierrez commented on #10544
@stibiumz you have controllers in russian?

[2015-06-25 17:08] stibiumz commented on #10544
I have not. Why does that matter?

[2015-06-25 17:25] duythien commented on #10530
Ok, thanks

[2015-06-25 17:25] #10530 closed

[2015-06-25 17:25] gtux commented on #10546
Ah ok, thanks!

[2015-06-26 00:02] roman-kulish commented on #10535
Thanks @andresgutierrez I am cool, I use closure and it works. However, it is unexpected behaviour which should be wither fixed or properly documented.

Another thing: as I now have Simple View as shared and I set vars to it, it becomes a memory hog, because there is no standard way to reset variables.

[2015-06-26 00:16] roman-kulish commented on #10544
@sergeyklay  IPv4 vs IPv6 does not matter.

For Russian it is either "%D0%BF%D1%80%D0%BE%D0%B2%D0%B5%D1%80%D0%BA%D0%B0" is not decoded back to "проверка" or preg_match in Route::compilePattern() should use Unicode flag.

For "eñe" vs "ene" they are two different words and I think some kind of a http://php.net/manual/en/class.normalizer.php should be used to process is or a special route to cover b

[2015-06-26 05:55] AlloVince opened #10549 "Failed complie and zephir generate in 2.0.x branch"
Tried branch 2.0.0 is OK
Branch 2.0.x compile failed by below errors:

[code]

[code]

I also tried to generate c codes by zephir, but zephir not work either.

[code]

Here is my env:

[code]

[2015-06-26 08:15] akudryav commented on #10544
There is no any controllers or actions with russian names, seems that this is routing bug.

[2015-06-26 08:55] stibiumz commented on #10544
@roman-kulish I know, the example was for illustrating, what I mean is that 'ene' route is recognized as not found as when with 'eñe' simply goes to index page, it's strange.

About matching `eñe` as if were `ene`, can be done with Transliterator, Normalizer is for character de-/composition

[2015-06-26 11:30] andresgutierrez commented on #10549
Compile from ext:

[code]

[2015-06-26 11:42] #10546 closed

[2015-06-26 11:49] andresgutierrez commented on #10547
This is fixed in the 2.0.x branch

[2015-06-26 14:50] aleemb commented on #2381
It's been a year since but the scenario is:

[code]

[2015-06-26 14:52] williamokano commented on #10547
@Thanks @andresgutierrez :+1:

[2015-06-26 14:52] #10547 closed

[2015-06-26 15:00] aleemb commented on #2381
I verified and indeed this bug still exists.

[2015-06-26 15:08] #2381 closed

[2015-06-26 15:21] AlloVince commented on #10549
Thanks, compile under ext path works.
Would you mind to let me know how to fix the `zephir generate` issue?

[2015-06-26 15:22] phalcon commented on #2381
Can you point me where in the documentation says that?

[2015-06-26 16:08] jimjim2a opened #10553 "[2.0.x] Model::find(array("id_column=0")) causes PDO exception"
Hello,

I'm trying to migrate from Phalcon 1.3.4 to Phalcon 2.0.4, and I'm facing this ORM issue :

[code]

This produces this PDO query :
[code]
It seems that it is assigning 0 as value that is causing the problem.

If I replace 0 by '0', the issue does not occur anymore.

Thanks for your help.

[2015-06-26 20:21] redstrike commented on #329
I wonder why Phalcon team created VOLT, which causes a lot of troubles for framework users. Twig's mature and performance are too great (templates are compiled to php, then it will be cached by Zend Opcache + add-on Twig C extension).

What happens if Phalcon team drops Volt to improve project's development speed?

[2015-06-26 20:22] andresgutierrez commented on #329
@redstrike "A LOT OF TROUBLES"

[2015-06-26 21:05] alejandrovasta commented on #329
I need this feature as soon as possible! please, it's a shame that this magnificent framework doesn't have something so important. Thanks

[2015-06-27 00:20] miao606 opened #10554 "Compile warnings on osx"
gcc -I. -I/Users/mxu/Downloads/cphalcon-phalcon-v2.0.3/build/64bits -DPHP_ATOM_INC -I/Users/mxu/Downloads/cphalcon-phalcon-v2.0.3/build/64bits/include -I/Users/mxu/Downloads/cphalcon-phalcon-v2.0.3/build/64bits/main -I/Users/mxu/Downloads/cphalcon-phalcon-v2.0.3/build/64bits -I/usr/include/php -I/usr/include/php/main -I/usr/include/php/TSRM -I/usr/include/php/Zend -I/usr/include/php/ext -I/usr/inc

[2015-06-27 00:22] andresgutierrez commented on #10554
These are warnings caused by macros in PHP and they will not be fixed

[2015-06-27 01:56] andresgutierrez commented on #10553
Fixed in the 2.0.x branch

[2015-06-27 01:56] #10553 closed

[2015-06-27 01:57] andresgutierrez commented on #10549
Could you please update to zephir 0.7.1?

[2015-06-27 02:08] andresgutierrez commented on #10544
I think you can create the router using the #U operator:

[code]

[2015-06-27 07:50] AlloVince commented on #10549
zephir 0.7.1b works， thank you for your help

[2015-06-27 07:50] #10549 closed

[2015-06-27 12:37] egulias commented on #3227
@sergeyklay which branch should I use as a base branch? 2.0.x?

[2015-06-27 12:44] sergeyklay commented on #3227
@egulias yes, 2.0.x

[2015-06-27 13:38] sszdh opened #10556 "Bug in Phalcon\Mvc\Model `__set()` method for array data params"
As [this](https://forum.phalconphp.com/discussion/7321/model-set-method-for-array-params#C19977) forum post. I think there is a bug in `__set()` method and the relation alias should be checked in array assignment before fall in relation logics (or just use __isset() method):

[code]

Any idea? or workaround for this bug?

Thanks

[2015-06-27 15:47] sszdh opened #10557 "Bug in model assign()"
Hi,

I think, in `assign()` method body [here](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L477), setter method should be camelize before call

[code]

see the [__get()](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L4095)

Thanks

[2015-06-27 16:25] stibiumz commented on #10557
In PHP functions, methods, classes, traits and interfaces are not case sensitive. `setFoo` is the same as `setfoo` or `sEtFoO` etc

[2015-06-27 18:17] sszdh commented on #10557
@stibiumz Actually this is not about case sensitiveness, this is about underscore field name like foo_bar, etc.

[2015-06-27 19:28] aleemb commented on #2381
@phalcon,

But I am sure you already knew that, not sure :( Either way, now the initialise is called even on forward() so this issue is obsolete.

[2015-06-27 19:41] sszdh commented on #10557
Actually I think there is an integrity issue in `__set()` and `assign()` functionality.

As I though, the phalcon's rule is to use getter/setters for inaccessible model's properties, but in `assign()` method this rule has been bypassed!

So if we improve `__set()` method as described [here](https://forum.phalconphp.com/discussion/7321/model-set-method-for-array-params), then there is no need to ha

[2015-06-27 20:30] sszdh commented on #2381
initialize() method is called once per request per controller in dispatching loop.

I think forwarded action is in same dispatch loop.

[2015-06-28 21:37] sszdh opened #10561 "The dynamic method calls in form's entity for underscore values"
Hi my friends,

I think phalcon should camelize every values before make a method name then makes call.

For example consider this: I have a `foo_bar` field in my model and  model passed as an entity into the form:

[code]

This is because the [`__get()`](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L4095) magic method in model uses `Text::camelize` but the [`getValue()`](

[2015-06-28 22:25] tflori opened #10562 "Combining and and or operators in Phalcon\Mvc\Model\Criteria"
I've opened a [question in stackoverflow](http://stackoverflow.com/questions/31081983/combining-and-and-or-operators-in-phalcon-mvc-model-criteria) - nobody seems to have an answer. So there is a feature request.

It's currently not possible to generate complex where conditions without writing an phql statement. In other programs this will be made by `allOf(condition1, condition2, anyOf(condition3

[2015-06-29 08:58] Surt opened #10563 "__call($method, $arguments) with optional arguments"
Triying to mock a phalcon ORM model with mockery gives me an error. The method __call should not set the $arguments as optional (NULL). A simple __call($method, $arguments) will receive an empty array when no arguments are used and this seems to be a good practice in all the libraries.

[code]

[2015-06-29 13:36] jimjim2a commented on #10553
Fix confirmed !

Thx !

[2015-06-29 16:01] williamokano commented on #10562
This cannot be done using criteria addWhere, andWhere or orWhere?

https://api.phalconphp.com/class/Phalcon/Mvc/Model/Criteria.html

[2015-06-29 17:44] tflori commented on #10562
Of course it can be made with an `andWhere('(condition1 or condition2 or (condition3 and condition4))'` but this complexity can be outsourced to a class.

This is a feature request. Yes I can write a class by my own but than others still have the same issue. Also I have to extend Criteria and Model - because Model::query() have to create a MyCriteria object and Criteria have to travers all where c

[2015-06-29 18:23] KorsaR-ZN commented on #10562
@tflori I've been working on this issue. In the near future will be PR.
Unfortunately it is impossible to do, as you have suggested without violating backward compatibility.
So there will be the following syntax:
[code]

[2015-06-29 18:25] RickyGit commented on #3306
Sorry but it's not fixed.

Test with Phalcon 2.0.3.

This code works :
[code]

This code doesn't :
[code]

It's OK with \Phalcon\Mvc\Router, but not with \Phalcon\Mvc\Router\\**Group**

[2015-06-29 20:07] andresgutierrez commented on #3306
@RickyGit It's defined as "var paths" everywhere:

* https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/router/group.zep#L76
* https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/router/group.zep#L147
* https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/router/group.zep#L176
* https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/router/group.zep#L188
* https://github.c

[2015-06-29 20:41] RickyGit commented on #3306
Yes but the problem is here :
https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/router/group.zep#L291
If path is not an array, mergedPaths = defaultPaths ==> var paths is ignored.

Whereas, in route :
https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/router/route.zep#L344-L370

[2015-06-29 20:43] andresgutierrez commented on #3306
Routes aren't processed there because they are passed in the constructor of Route: https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/router/group.zep#L176

[2015-06-29 21:51] andresgutierrez commented on #3306
I've added a fix to support string paths

[2015-06-29 22:58] tflori commented on #10562
sounds great. looking forward to have it in my phalcon :)

[2015-06-30 04:20] duythien opened #10568 "Convert all or part of a Volt document stream to a PHP variable."
Does Volt  have feature like below

[code]
Then call a function like that

[code]
The above example will output something similar to:

[code]

[2015-06-30 07:17] jaitaiwan opened #10569 "Static resource issue with debug component"
I'm currently running a manually compiled version of Phalcon 2.0.3 from the master branch which is requesting assets from the phalcon static cdn. Looking at the networking tab in Chrome it appears that it is redirecting the content to https:// which is showing as not found... All the resources requested for the error are returning 404's.

[2015-06-30 08:15] hakimio commented on #10544
I can see this bug too. I think by default Phalcon should just give 404 page in case non-latin words are used and no route can be matched instead of just totally disregarding the non-latin path.

[2015-06-30 08:25] hakimio commented on #10505
Any update on this?
I think it should be "high" level bug instead of "medium". Not being able to use joins in subqueries is pretty big deal...

[2015-06-30 09:15] michanismus commented on #10568
You are trying to parse a Yaml file. https://en.wikipedia.org/wiki/YAML
Just use the http://php.net/manual/de/function.yaml-parse.php function.

[2015-06-30 09:17] duythien commented on #10568
Yes. I see it in Phalcon and Phalcon have supported it to adapter config

[2015-06-30 09:30] ogarbe commented on #1434
@andresgutierrez
Just had time to dig more on this pb : the exception is raised here

https://github.com/phalcon/cphalcon/blob/c96782766cfe5852acb821af944140379125c1cb/phalcon/mvc/model.zep#L3530

attribute is not a string, it's an array containing two values which seems to be column name and column position

[2015-06-30 13:19] andresgutierrez commented on #10568
It does not have a feature like that, but you can use YAML as @michanismus suggested

[2015-06-30 13:25] andresgutierrez commented on #10505
@hakimio Only security bugs are marked as high

[2015-06-30 13:45] Surt commented on #10563
#10565

[2015-06-30 13:45] #10563 closed

[2015-06-30 14:20] Nafania commented on #10390
@AKeeman and how we need to use validation for collections?

[code]

in validate method waits ValidationInterface, but Validator with this Interface waits Mvc\Model\ValidatorInterface

How i supposed to deal with it?

[2015-06-30 14:35] KorsaR-ZN commented on #10390
@Nafania
Please replace in `\Phalcon\Mvc\Model\Validator\IP`

`public function validate(ModelInterface $record)`
to
`public function validate(\Phalcon\Mvc\EntityInterface $record)`

[2015-06-30 14:37] KorsaR-ZN commented on #10390
@Nafania
Please replace in `\Phalcon\Mvc\Model\Validator\IP`

`public function validate(ModelInterface $record)`
to
`public function validate(\Phalcon\Mvc\EntityInterface $record)`

[2015-06-30 14:41] Nafania commented on #10390
@KorsaR-ZN i can't find ```\Phalcon\Mvc\EntityInterface``` and still receive ```must be compatible with Phalcon\Mvc\Model\ValidatorInterface::validate(Phalcon\Mvc\ModelInterface $record)``` error.

What version of phalcon do you using?

[2015-06-30 16:03] KorsaR-ZN commented on #10390
@Nafania Latest from `2.0.x` branch
Then remove the type checking `public function validate($record)`

I added the validator to the core see #10572

[2015-06-30 16:27] jaitaiwan commented on #10569
Seems to have been fixed since. Closing the issue.

[2015-06-30 16:27] #10569 closed

[2015-06-30 17:39] Nafania commented on #10390
@KorsaR-ZN I'm using own custom validator. If i remove type checking i still receive the same error.

[2015-06-30 17:44] ogarbe opened #10573 "Problem with nullable columns and cast on hydrate"
The cast_on_hydrate function creates a bug when a column is nullable

Table document :
id int
name string
parent_document int (nullable) which is a FK to document.id

my model Document can have a parent document which is Document->Parent but a document can have "no parent"

if i activate cast on hydrate => all documents with no parents become document with parent document 0 (which does not exists.

[2015-06-30 18:01] KorsaR-ZN commented on #10390
@Nafania What version of phalcon?
Could show code your validator?

[2015-06-30 18:20] RickyGit commented on #3306
Thanks! It works.

[2015-07-01 02:28] #10554 closed

[2015-07-01 06:15] Nafania commented on #10390
@KorsaR-ZN

[code]

[code]

[2015-07-01 06:26] KorsaR-ZN commented on #10390
## v2.0.3
`class Unique extends Validator implements ValidatorInterface`
replace to
`class Unique extends Validator`

## v2.0.4+
`class Unique extends Validator`
replace to
`class Unique extends Validator implements ValidatorInterface`

`public  function  validate ($record)`
replace to
`public  function  validate (\Phalcon\Mvc\EntityInterface $record)`

[2015-07-01 06:37] KorsaR-ZN commented on #10390
@Nafania Unfortunately in 2.0.3 is not supported collection validation (bug interfaces)
Please build from 2.0.x branch or wait for a stable release 2.0.4

[2015-07-01 06:39] Nafania commented on #10390
@KorsaR-ZN

I've already find out that.

Thanks for your help! I will try 2.0.4.

[2015-07-01 07:26] mapirelli commented on #1945
i got the same error in version 1.3

$this->hasManyToMany('id', 'RegistryAnswer', 'fk_registry', 'fk_answer', 'Answer', 'id', array('alias' => 'Answers'));

public function __construct(Registry $registry,$relations = ['Answers'])
{
        $this->id = $registry->id;
        ...
        $this->answersCorrect = $registry->countAnswers();
}

{{ answersCorrect }} -> fatal error

[01-Jul-2015 09:22:40

[2015-07-01 07:52] alphanyx opened #10579 "Identical Validator does not work"
I wanted to use the `Phalcon\Validation\Validator\Identical` Validator in order to Check if a Checkbox was clicked in my Formular.

But no matter what i try the validation always fails.
I'm currently using Phalcon v2.0.3

[code]

The Validation above always fail even if the Value is identical.

[2015-07-01 08:02] KorsaR-ZN commented on #10579
@alphanyx You must use the `value` instead of `accepted`

[2015-07-01 08:24] alphanyx commented on #10579
So the [Documentation](https://docs.phalconphp.com/en/latest/api/Phalcon_Validation_Validator_Identical.html) is wrong?

[2015-07-01 08:26] KorsaR-ZN commented on #10579
@alphanyx yes!

@phalcon Where better to fix in the documents or in the code?

[2015-07-01 10:45] Surt opened #10580 "Resultset filter returns array"
Is this intended? Why not return a Resultset with the filtered models instances?

[2015-07-01 11:11] iceye commented on #10330
Can you explain how did you solve this?

[2015-07-01 13:35] andresgutierrez commented on #10580
Resultsets are returned from the database, filtered resultsets are manually built by the developer and not returned by the database.

https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/model/resultset.zep#L537-L561

[2015-07-01 13:36] andresgutierrez commented on #10579
In the code please: https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/validation/validator/identical.zep

[2015-07-01 13:36] #10573 closed

[2015-07-01 13:58] KristijanBenkovic opened #10581 "Phalcon\Paginator\Adapter\QueryBuilder total_items wrong value"
This is my first bug report. I hope I am not missing something.

Here is my source:

[code]

Output:
[code]

I except $totalItems would be equals to $queryBuilderTotalItems.

I guess [this](https://github.com/phalcon/cphalcon/blob/master/phalcon/paginator/adapter/querybuilder.zep#L163) is why total_items returns 2 because I have group by in my query.

Is this a bug or expected behaviour?

[2015-07-01 14:03] Surt commented on #10580
Hi @andresgutierrez ,

yes I know the behaviour but I was wondering if you don't think that this is a little bit inconsistent.
When I work with the ORM or the ODM I expect "Entities/Models" or "Collections/Resultsets" and I would like to mantain that behaviour all the time, just for confort. And of course, the main target here is to abstract it from the database/persistence. While using the ORM an

[2015-07-01 14:06] andresgutierrez commented on #10561
Fixed in the 2.0.x branch

[2015-07-01 14:06] #10561 closed

[2015-07-01 14:08] andresgutierrez commented on #10557
Fixed in the 2.0.x branch

[2015-07-01 14:08] #10557 closed

[2015-07-01 14:13] andresgutierrez commented on #10485
Are you manually setting the meta-data of that model?

[2015-07-01 14:28] michanismus commented on #10330
Hey, like I said.
My Phalcon\Mvc\Model\MetaData\StrategyInterface now returns an array including MODELS_DEFAULT_VALUES.

[code]

Look here for an example: https://github.com/PhalconEye/framework/blob/7ed523ad9f3eb33e0bc92ef87e2ae387be8c154d/src/Db/Model/Annotations/Metadata.php

[2015-07-01 15:22] williamokano commented on #10562
:+1:

[2015-07-01 16:26] virgofx commented on #10275
@patrick-zippenfenig This doesn't seem very intuitive from an end-user perspective. I would think that there would be a nice option to force the resultset from find/firstFirst/etc. to be either an array or object without having to explicitly instantiate a new reflection class and set the data.

[2015-07-01 17:55] Green-Cat commented on #10562
:+1: I've had to use complex generated PHQL before for custom filter based search because of the lack of this in the query builder.

[2015-07-01 19:07] skaosYan commented on #10485
No, I do not use metadata classes. I only use columnMap (actually I am forced to use columnMap, because Phalcon by default generates column names in quotas , when Oracle treats quotes as case-sensitive names).

[2015-07-01 19:11] skaosYan commented on #10485
Do you need any logs or additional info?

[2015-07-01 19:20] sszdh commented on #10561
Great.

[2015-07-01 19:23] sszdh commented on #10557
Brilliant.

[2015-07-01 21:28] cchristensen-cxp opened #10583 "Model Transforming empty strings into nulls"
Model transforming empty strings into nulls.

Use find method to pull rows from database.
Foreach through records.
Save a record.

Error:
object(Phalcon\Mvc\Model\Message)#138 (4) {
  ["_type":protected]=>
  string(10) "PresenceOf"
  ["_message":protected]=>
  string(21) "column is required"
  ["_field":protected]=>
  string(9) "column"
  ["_model":protected]=>
  NULL
}

[2015-07-02 03:19] andresgutierrez commented on #10579
Fixed in the 2.0.x branch

[2015-07-02 03:19] #10579 closed

[2015-07-02 07:48] Jurigag opened #10584 "Acl check Inherit + lower access ?"
Im using inherit in my app. I would like to see something like $acl->isLower($role1,$role2) - $role2 inherits $role2 and $role1 have lower acces than $role2, or maybe even without inherits.

I know i can make like another array or something but its not solving issue :P

[2015-07-02 12:47] kevinhatry commented on #10339
Hi,

dreamsxin : thank you for the patch
apparently the patch was not merged into phalcon 2. Is there something to do on my side ?

[2015-07-02 15:54] williamokano opened #10586 "Find/FindFirst with related tables"
Hi, I was playing a llittle bit with Phalcon and I faced the following "issue":

Imagine that I have 2 related tables

Employee -> belongsTo(Company)
Company -> hasMany(Employees)

Using the Table/Model Employee I would like to query the following, all Employees that works for a company A.

I don't like to do comparison but, on EntityFramework from .net I can do something like that

Employee.where

[2015-07-02 17:33] KorsaR-ZN commented on #10586
You can do so
[code]

[2015-07-02 17:37] williamokano commented on #10586
Yeah, I know, but I think that the proposed syntax is more "logical" as I'm
looking for Employees I should use Employee model. Well, it's a suggestion
:)

On Thu, Jul 2, 2015, 13:34 Stanislav Kiryukhin <notifications@github.com>
wrote:

[2015-07-02 17:49] KorsaR-ZN commented on #10586
@williamokano I'm doing a similar functionality "request with the condition through a relationship".
Like how YII `with()`, [see](https://github.com/yiisoft/yii2/blob/master/docs/guide/db-active-record.md#joining-with-relations-)

[2015-07-02 17:50] williamokano commented on #10586
Yeah, I know but looks unnecessary to fetch a company to only then i can get the employees.

Also, in my case I'm building a rest api that request a resource, in that case an Employee.

On my rest I can send the query via querystring, so if I want to search for Empolyees that works on a campony I'll have to add if's and another conditionals for exceptions. (Sorry for deleting the previous comment,

[2015-07-02 17:53] KorsaR-ZN commented on #10586
@phalcon Please mark as `New Feature Request`

[2015-07-02 18:03] carvajaldiazeduar commented on #10586
Duplicate of #1117

[2015-07-02 18:03] #10586 closed

[2015-07-02 18:24] williamokano commented on #1117
So, as my issue was closed by duplicate, any news on this issue?

+1

[2015-07-02 18:27] sergeyklay commented on #1117
@williamokano  Already in incubator https://github.com/phalcon/incubator/pull/369

[2015-07-02 18:33] williamokano commented on #1117
@sergeyklay Thanks Sergey

[2015-07-03 04:22] andresgutierrez commented on #10581
Duplicate of #2411

[2015-07-03 04:22] #10581 closed

[2015-07-03 04:41] andresgutierrez commented on #10544
Fixed in the 2.0.x branch

[2015-07-03 04:41] #10544 closed

[2015-07-03 05:43] drIceman opened #10587 "[2.0.4] Phalcon\Mvc\Model\Criteria::fromInput() not working with columnMap"
This error was encountered again in the latest version 2.0.4
https://github.com/phalcon/cphalcon/issues/2463

[2015-07-03 06:33] drIceman commented on #10587
This is my method overload, written in PHP

public static function fromInput(Phalcon\DiInterface $dependencyInjector, $modelName, $data) {
		$conditions = [];
		if (count($data)) {
			$modelsMetadata = $dependencyInjector->getShared('modelsMetadata');
			$model = new $modelName;
			$dataTypes = $modelsMetadata->getDataTypes($model);
			$modelColumnMap = array_flip($model->columnMap());

			/**

[2015-07-03 14:34] marianacapelo commented on #2052
+1

[2015-07-03 15:20] salarmehr commented on #566
@andresgutierrez  Fetch column is also very useful in PHQL and models. Did it implemented for theme as well?

     $query->where('price>1000')->fetchColumn('type');

[2015-07-03 15:25] salarmehr opened #10589 "[NFR] fetchColumn method in models and phql"
Fetching a column is often  required (to fill a combobox etc.) Please add fetchColumn() to  PHQL and models:

 $query->where('price>1000')->fetchColumn('type');

[2015-07-04 11:25] ruudboon opened #10591 "Empty Select"
After upgrading to 2.0.3 I stumbled on the following issue.
I used a find to fill a select. It works on 1.3.x  and I think it worked on 2.0.2 but I'm not sure. Didn't touched this part for a long time.

[code]

[code]
The number of options matches the expected number of rows when running this query.

[2015-07-04 12:34] andresgutierrez commented on #10591
This is already fixed in 2.0.4 (2.0.x branch)

[2015-07-04 13:24] ruudboon commented on #10591
Thnx @andresgutierrez I could not find the issue. I'll wait for the release of 2.0.4.

[2015-07-05 08:41] salarmehr opened #10592 "Is there any way to use dynamic columns?"
I need to use MariaDB [dynamic columns](https://mariadb.com/kb/en/mariadb/dynamic-columns) feature. PHQL does not support it a the moment. Should I wait for raw sql builder or there is a workaround?

[2015-07-05 19:00] sszdh commented on #10592
+1

[2015-07-06 09:28] tiyilon opened #10593 "Logger log method ignore the log level"
Logger log method ignore the log level ,as follow code:

[code]

the result in log file :+1:

[code]

why log method output the log ([DEBUG] test) but the debug method did not ?

Phalcon version :  2.0.3

[2015-07-06 10:16] SidRoberts commented on #10593
This should be fixed in #10594. :smile:

[2015-07-06 13:08] AmazingDreams opened #10595 "Filters - email removes the ' character"
According to Wikipedia the following special characters are allowed in an email address:
[code]

https://en.wikipedia.org/wiki/Email_address#Local_part

Also when you do a 'native' php filter_var call, the `'` character is not removed:

[code]

Why does Phalcon remove the `'` character?

https://github.com/phalcon/cphalcon/blob/master/phalcon/filter.zep#L150

[2015-07-06 13:39] ruudboon opened #10596 "FindFirst creates 2 instances of my model"
I got a model that extends the Phalcon\Mvc\Model;
When I load a model with MyModel::findFirst(ID) it returns the loaded model.
Unfortunately it looks like the initialize method is not called.
When logging the object hash in the initialize() with spl_object_hash($this) and the logging the object hash of the returned model I found out that they don't match.
It looks like the initialize is called but

[2015-07-06 14:43] andresgutierrez commented on #10596
'initialize' is just called once per model, not per instance of the model, you might want to use 'onConstruct'

[2015-07-06 14:56] ruudboon commented on #10596
Ok. Thnx that for clearing why theres is only 1 call to the initialise.
Brings me back to my original problem.
I'm setting some private member variables on the model in the init.
Those vars are all cleared in the returned model. This is causing an issue for me. It was working in 1.3.4.

I can easily change it to onConstruct but I assume that setting a member var in the initialise should effect the

[2015-07-06 15:03] andresgutierrez commented on #10596
In Phalcon 2.0.x, if you modify the instance in initialize() it only modifies the first instance created.

[2015-07-06 15:08] ruudboon commented on #10596
Thnx for the fast response. I will change my implementation.
Still not sure why there are instances in first places when doing findFirst but not sure if that's a bug.

[2015-07-06 19:57] #1465 closed

[2015-07-06 20:45] dschissler commented on #10507
Perhaps the standard issue `RobotParts` table/model should have an integer flag field/attribute added to it to be able to test for this.

So:
[code]

[2015-07-06 20:53] williamokano commented on #10595
Good question. Apostrophes should be valid before the @ symbol yet most of the big e-mail companies do not accept them.

:+1:

[2015-07-06 20:55] #3124 closed

[2015-07-06 20:56] egulias commented on #3227
Sorry for the delay. I have a doubt. Do I have to port the validator into .zep_ If not, can you point me to the docs?
Thanks!

[2015-07-06 21:23] andresgutierrez commented on #1835
Closed as not a bug

[2015-07-06 21:23] #1835 closed

[2015-07-06 21:49] virgofx opened #10598 "[2.0.4] Latest Merge breaks during build/compilation"
Note: This isn't the first time merging has broken the build. Please ensure master stays stable or designate another branch for production users to use as stable.

Additionally, get a process in place that CI's and tests building/compiling.

CentOS 7
Nginx
PHP5.6

[code]

[2015-07-06 22:24] andresgutierrez commented on #10598
I'm so sorry, working on this

[2015-07-07 00:49] virgofx commented on #10598
@andresgutierrez No prob any way we can add a unit test for the build process to ensure everything is passing CI to prevent future issues?

[2015-07-07 03:18] ovr opened #10601 "Normal tag naming"
Hey! I can't explain why this prefix (`phalcon-v`) is needed, but it's not useful
phalcon-v2.0.3
This tag seems to be a piece of shit

Use
`2.0.3` instead of  phalcon-v2.0.3

It's rly easy and will be useful
Please do it

[2015-07-07 03:32] #10601 closed

[2015-07-07 03:32] andresgutierrez commented on #10601
I don't see any difference, many projects also use the name of project + version

[2015-07-07 03:32] virgofx commented on #10598
Confirm fixed in latest commit.

[2015-07-07 03:43] ovr commented on #10601
http://semver.org/
using v + version

https://github.com/symfony/symfony/releases
using v + version

https://github.com/laravel/framework
using v + version

https://github.com/twbs/bootstrap/releases
using v + version

https://github.com/angular/angular/releases
only version in tag

https://github.com/angular/angular.js/releases
using v + version

Why `phalcon` prefix is needed? It is not useful

[2015-07-07 05:53] sergeyklay commented on #3227
Zephir is very similar to Php. In any case you can use http://zephir-lang.com/ docs

[2015-07-07 08:10] AmazingDreams commented on #10595
I'd say that following the standards is more important than following big e-mail companies. This gives Phalcon users more fine-grained control over what they want to allow. I was pretty surprised myself that the `'` got removed.

Besides, if you look at the email validator, it uses the native `FILTER_VALIDATE_EMAIL` constant. https://github.com/phalcon/cphalcon/blob/master/phalcon/validation/valid

[2015-07-07 08:50] ovr commented on #10601
https://www.versioneye.com/php/phalcon:cphalcon/phalcon-v2.0.4?utm_medium=email&utm_source=new_versoin

[2015-07-07 09:09] AmazingDreams commented on #10595
I closed the old pull request as that one was trying to merge with master. Which I shouldnt

[2015-07-07 10:28] davidsteinsland opened #10604 "Model relations with conditions"
Given database model

[code]

I'd like Phalcon to have an option to specify extra conditions to relations:

[code]

[2015-07-07 10:34] davidsteinsland opened #10605 "Routes with group capturing"
[code]

Phalcon should pass captured group to the callable, and not rely on the `params` in the route.

[2015-07-07 12:02] andresgutierrez commented on #10604
This is already implemented in Phalcon: https://blog.phalconphp.com/post/phalcon-2-0-4-released

[2015-07-07 13:06] dschissler commented on #10598
The official 2.0.4 download works for me.

[2015-07-07 13:56] virgofx commented on #10598
I'm able to build successfully and install; however, the phalcon application returns a blank screen. It started happening with the latest build. No errors are thrown anywhere. Just an empty response.

[2015-07-07 13:59] dschissler commented on #10598
@virgofx I always like to go straight to my index.php and to start adding in error_log calls when that sort of thing happens.  Then I move to the bootstrap file.

[2015-07-07 14:03] virgofx commented on #10598
@dschissler --- I started doing that:

* Regular php pages work (phpinfo)
* index.php -> Echo successfully
* bootstrap.php --> Successfully all the way up until: `echo $application->handle()->getContent();`
* Tested to see if it was getting into the view -- Nope, never got into `/views/index/index.php`

What's weird, is nothing has changed from my code base other than installing the latest version

[2015-07-07 14:11] dschissler commented on #10598
In some instances (I think because of closures) the exception is eaten.  Perhaps add in the method for the very first event in the controller (I'm not sure what that is) and see that logs anything.  Then perhaps try any dispatcher plugins.

[2015-07-07 14:39] virgofx commented on #10598
Will keep investigating; however, I'm pretty sure something changed in 2.0.4 that has broken something somewhere as my applications (both) are now not working.

[2015-07-07 15:38] williamokano commented on #10592
+1

[2015-07-07 15:53] kowach opened #10606 "[NFR] Phalcon\Paginator\Adapter\QueryBuilder cache"
Please add cache option in QueryBuilder:

[code]

There are two queries so there have to be two cache keys.
Or use one cache key and smartly append page numbers.

[2015-07-07 16:15] williamokano commented on #10605
+1

[2015-07-07 16:26] dschissler commented on #10598
@virgofx Are you on Ubuntu 14.04 by chance?

Yesterday I installed a whole bunch of updates that required me to update.  Now I'm having a strange issue on my framework where 2.0.3 is giving me a white screen and 2.0.4 is not accepting the security token.

[2015-07-07 16:28] virgofx commented on #10598
I've tested on CentOS and Ubuntu -- moving from 2.0.3 to 2.04 I have confirmed that the Application is not displaying the view at all.

If for example, inside IndexController, I use `$this->view->render('index', 'index');` .... then the view will display; however, this should not have to be required.

Still debugging ...

[2015-07-07 16:35] dschissler commented on #10598
I've been changing a lot of things lately so its definitely possible that there is a bug in my code.  What is strange though is that the crashes exposes different behavior on 2.0.3 and 2.0.4.

[2015-07-07 16:44] dschissler commented on #10598
I figured out that 2.0.3 does work correctly for me.  I had forgotten to change `phqLiterals` back to true since it was only completely fixed in 2.0.4.  So just confusion there.

However!  Handling the behavior of security tokens is definitely different in 2.0.4.  Investigating...

[2015-07-07 16:47] virgofx commented on #10598
Found the issue -- if an EventsManager is set on the application --- the view will not display; otherwise it will.  Something to do with the code in the checkins that impact the application and viewRender.

[2015-07-07 18:06] williamokano opened #10607 "[NFR] Aspects in Phalcon"
Will Phalcon support aspects someday?

I would really appreciate that :)

[code]

[2015-07-07 18:31] dschissler commented on #10598
I changed my security token checking code to get it to work with Phalcon 2.0.4.

[2015-07-07 18:31] dschissler commented on #10598
@virgofx If its something that can be worked around then perhaps you should make a new issue for your bug.

[2015-07-07 18:36] virgofx commented on #10598
@dschissler I don't mind making a bug ... but clearly something has been broken in 2.0.4. I'll make a new issue.

[2015-07-07 18:37] virgofx opened #10608 "[2.0.4] Views Broken using EventsManager in Application"
Setting an events manager to the application breaks views. The page does not display. This is new to 2.0.4.

[code]

[2015-07-07 18:37] dschissler commented on #10598
New features, new bugs.  But Phalcon 2.0.4 builds now.

[2015-07-07 18:40] alitalaghat opened #10609 "[2.0.4] Many-to-Many relations with conditions"
After upgrade to 2.0.4, ManyToMany relation don't apply condition.
[code]
Example result:
SQL result in 2.0.4 :
[code]
SQL result in 2.0.3 :
[code]

[2015-07-07 19:38] virgofx commented on #10598
Yes ... I'm all in favor of new features ... would just prefer that there is a stable branch that is more thoroughly tested for those that use Phalcon in production. Either a better merge process, more CI, better tests ... just something to ensure stability.

[2015-07-07 19:43] virgofx commented on #10598
Closing as new build doesn't break anymore.

[2015-07-07 19:43] #10598 closed

[2015-07-07 19:56] virgofx opened #10610 "[2.0.4] Url Generation Now Breaks Relative Redirects"
Redirection using relative paths no longer works in 2.0.4. The Url detection now seems to think relative paths are external and it is adding http which breaks redirection.

[code]
Will return a 301 with `http://my-local-path` which is incorrect.  Should be `/my-local-path`.

[2015-07-07 20:43] dschissler commented on #10598
@virgofx  I'd say that is just sticking with version 1.3 for the moment.  Phalcon 2 is still *dot 0* at the moment.  So many new 2.0 and even older 1.* bugs have been fixed from 2.0.0 to 2.0.4 that I'm very happy to have bits of breakage at this step.

Maybe though 2.1.0 should become a bit more conservative though?

[2015-07-07 21:27] andresgutierrez commented on #10592
What makes that you can't use this in PHQL?

[2015-07-07 23:51] sergeyklay commented on #10605
+1

[2015-07-08 00:33] andresgutierrez commented on #10605
Not sure why you need this, set variables by name works fine and by default routes are processed as static strings, this speed up pattern matching as it does not need to use the regex engine to check if the pattern was matched.

If you use variables it will compile to a regex as expected:

[code]

[2015-07-08 00:51] andresgutierrez commented on #10608
Fixed in the 2.0.x branch

[2015-07-08 00:51] #10608 closed

[2015-07-08 00:51] andresgutierrez commented on #10593
Fixed in the 2.0.x branch

[2015-07-08 00:51] #10593 closed

[2015-07-08 00:52] andresgutierrez commented on #10591
2.0.4 now released

[2015-07-08 00:52] #10591 closed

[2015-07-08 00:53] #10604 closed

[2015-07-08 01:00] yongsheng-xia opened #10611 "query builder:select for update Syntax error"
phalcon 2.0.4

···
$rs = Member::instance()->getModelsManager()->createBuilder(['for_update'=>true])
                ->columns('member_name')
                ->from(Member::class)
                ->where('member_id=2')
                ->getQuery()
                ->execute();
···

···
SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual tha

[2015-07-08 01:09] andresgutierrez commented on #10610
I'm not able to reproduce this:

[code]

Produces the correct redirection to http://localhost/invo/data

[2015-07-08 01:24] andresgutierrez commented on #10611
Added a fix in the 2.0.x branch

[2015-07-08 04:29] gufei opened #10613 "Phalcon\Cache\Backend\memcache的flush方法都存在删除不掉的情况"
原因是在statsKey的在存储中用的是key来存的，但在flush方法中
for key in keys这样的写法key其实取的是value，所以下边的delete动作执行是不成功的

修改方法是改为for key, value in keys

建议官方修复

另外，官方保存key列表的思路在memcache下会受到单条记录最大1M的限制，用flush在所有的key总长度超过1M的时候，也无法清除所有的了，是否官方考虑flush方法直接使用memcache->flush()

[2015-07-08 06:24] davidsteinsland commented on #10605
@andresgutierrez You are missing the repeating outer group. The pattern should repeat itself at least once, and match URIs as per the comment.

[2015-07-08 08:29] ruudboon opened #10615 "[2.0.4] How to do a recursive macro"
The new anonymous functions for the macro breaks my existing macro. I used the macro recursive. See the simplified version below.

How can I call my own (or other) macro inside the macro?

[code]

[2015-07-08 08:49] yongsheng-xia commented on #10613
或许你需要翻译一下，或者给出代码说明

[2015-07-08 09:04] ruudboon commented on #10579
For everybody who use the CSFR vokuro example please make sure you change value to accepted after upgrading to 2.0.4. Or all CSFR check will fail. (Took me some time to find out what happend ;))

[2015-07-08 09:17] ruudboon commented on #10591
Confirmed working again.

[2015-07-08 11:51] ashpumpkin opened #10616 "[2.0.4] array binding bugs"
Look at this code:
[code]

It outputs:

[code]

I think this code should work well regardless of the array keys. Can somebody fix it?

[2015-07-08 12:47] ashpumpkin commented on #10616
I think i've just found another one.

[code]

Outputs:
[code]

:-(

[2015-07-08 13:29] wolftankk opened #10618 "[2.0.x] Please update document"
Dear,
I find some wrong texts or wrong snippets.

1. Annotations parser:
[code]

In actually, getActiveController has return a object, but getMethod only accpets string, so, it modifies:
[code]

2. Models use 'find' with limit, this args is wrong.
Origin:
[code]
In actually,
[code]
E.G：
[code]

[2015-07-08 13:53] #10611 closed

[2015-07-08 13:54] andresgutierrez commented on #10609
Fixed in the 2.0.x branch

[2015-07-08 13:54] #10609 closed

[2015-07-08 14:43] Surt opened #10619 "view getBasePath method"
Would be great to have a $view->getBasePath since there is a setter and we can always make good use of a getter.

[2015-07-08 15:22] andresgutierrez commented on #10615
Fixed in the 2.0.x branch

[2015-07-08 15:22] #10615 closed

[2015-07-08 15:24] andresgutierrez commented on #10613
Fixed in the 2.0.x branch

[2015-07-08 15:24] #10613 closed

[2015-07-08 15:25] andresgutierrez commented on #10618
Could you please create these in the docs repository? https://github.com/phalcon/docs

[2015-07-08 15:26] andresgutierrez commented on #10595
Fixed in the 2.0.x branch

[2015-07-08 15:26] #10595 closed

[2015-07-08 15:28] andresgutierrez commented on #10535
@roman-kulish Could you please submit a new NFR asking for a reset method and close this one?

[2015-07-08 15:31] ruudboon commented on #10615
Thnx!

[2015-07-09 01:56] scmforever opened #10621 "for_update still don't work in phalcon 2.0.4"
hello all
I used php_phalcon.dll "Phalcon 2.0.4 - Windows x86 for PHP 5.3.9 (VC9) " in windows
if I use model:
$area = \model\area::findFirst(array(
                'conditions'    =>  'id=1',
                'for_update'    =>  true
            ));

it cause a fatal error:
Uncaught exception 'PDOException' with message 'SQLSTATE[HY093]: Invalid parameter number: parameter was not defined' in E:\l

[2015-07-09 02:10] andresgutierrez commented on #10621
This is already fixed in the 2.0.x branch

[2015-07-09 02:10] #10621 closed

[2015-07-09 02:12] yongsheng-xia opened #10622 "why uncamelize taskName"
`php cli.php AppUse run;`

`AppuseTask can no be load`

why uncamelize taskName

[code]

[2015-07-09 02:16] andresgutierrez commented on #10622
You have to name your task App_UseTask then

[2015-07-09 02:22] yongsheng-xia commented on #10622
but we use Camel-Case code style

[2015-07-09 02:40] cspeak opened #10623 "[2.0.4] Model::findFirst() w/ for_update leads to a PDOException"
The following code worked correctly through Phalcon 2.0.3

[code]

Then in the controller:

[code]

However, as of 2.0.4, I get the following error

`PDOException: SQLSTATE[HY093]: Invalid parameter number: parameter was not defined`

The line with the error is actually ` return parent::findFirst($parameters);`.

If I remove `"for_update" => true`, the error disappears and everything works just fi

[2015-07-09 03:47] andresgutierrez commented on #10623
Duplicate of #10621 and it's already fixed in the 2.0.x branch

[2015-07-09 03:47] #10623 closed

[2015-07-09 07:39] r3jack opened #10624 "request->get integer error."
$param = $this->request->get('param', 'int');
if the param is 0.2000, then $param is 2000

[2015-07-09 07:52] r3jack opened #10625 "model calculation issue."
$amount = Schedule::sum(array(
            "columns" => 'principal',
            "conditions" => "contract_id=12"
        ));

table schedule:
two records associate with contract_id=12
1:principal=100
2:principal=100

and the $amount = 84

[2015-07-09 08:12] tuxy opened #10626 "API Documentation - Menu Links Broken"
All links in the left sidebar menu broken, it contains "backslash" \ on the links.

Examples: https://api.phalconphp.com/class/Phalcon/Events\Manager.html
https://api.phalconphp.com/class/Phalcon/Forms\ElementInterface.html

[2015-07-09 08:47] salarmehr opened #10627 "$model->save() does not catch all errors"
I'm not sure, but I guess in Phalcon 1.3 Model::getMessages() had been catching invalid data format errors. However in 2.0.3 it only generates `PresenceOf` errors. Invalid data types throw an exception. (I mean without writing `validation` method for the model )

[code]

[2015-07-09 09:43] akudryav commented on #2850
you may use string 'TIMESTAMP' in 'type' => values for the column instead of phalcon constant Column::TYPE_...

[2015-07-09 10:34] alitalaghat commented on #10610
Please try with this:
```$url->setBaseUri('/');```
Now you can reproduce the problem.

[2015-07-09 11:30] salarmehr commented on #2050
In a blog post @phalcon said he is want to unify them (standalone and model ) validator (perhaps  also coleection validators) in 2.0.4. He also introduces Entity super class.

[2015-07-09 11:37] salarmehr commented on #2585
From 2.0.4 changelog:
Introduced Phalcon\Mvc\EntityInterface to allow parameters receive both Phalcon\Mvc\Model and Phalcon\Mvc\Collection instances. This interface allow Mvc\Model\Validators being used in Mvc\Collection

Try that.

[2015-07-09 11:46] mruz commented on #2050
This is planned in the 2.1 https://blog.phalconphp.com/post/phalcon-2-0-2-released

Unification of Phalcon\Mvc\Model\Validation and Phalcon\Validation

[2015-07-09 12:18] andresgutierrez commented on #10624
The filter 'int' just removes characters that do not belong to an integer value, if you want to cast a value to integer you have to use 'int!':

[code]

[2015-07-09 12:18] #10624 closed

[2015-07-09 12:18] jbaez opened #10629 "[BUG] In Phalcon 2.0.4 Config merge of arrays differs from Phalcon 1.x"
Given the following case:

[code]

In Phalcon 1.x this outputs:

[code]

In Phalcon 2.0.4 this outputs

[code]

[2015-07-09 12:22] andresgutierrez commented on #10610
@alitalaghat But the generated URLs are //data which in fact are relative URLs

[2015-07-09 12:23] andresgutierrez commented on #2585
Fixed in Phalcon 2.0.4

[2015-07-09 12:23] #2585 closed

[2015-07-09 13:33] virgofx commented on #10610
@andresgutierrez   nope ... "//" is interpreted as a schemaless root url.

[2015-07-09 13:33] virgofx commented on #10610
Thats the problem exactly, the default base uri is "/" (which is the case when it's not set) and therefore redirects will now use "//data" which is incorrect  --> as this will redirect to "http://data" or https://data" depending on the scheme.

[2015-07-09 13:35] virgofx commented on #10610
I __believe__ you may be able to reproduce problem if you add an extra '/' on your example (although not tested). The original documentation had the base uri always ending with a trailing slash.

[2015-07-09 14:28] salarmehr commented on #2050
@mruz Oh, my bad.

[2015-07-09 14:34] olivier-monaco opened #10631 "Phalcon\Logger\Formatter\Line: no more newline at end of message like in 1.3.x"
In 1.3.x, Phalcon\Logger\Formatter\Line::format added a newline a the end. In 2.0.x, no more. Instead, Phalcon\Logger\Adapter\File add a newline before calling logInternal. But we use Phalcon\Logger\Adapter\Stream that don't add a newline.

Use case:
<pre>
use Phalcon\Logger\Adapter\Stream;
use Phalcon\Logger;

$logger = new Stream('php://output');
$logger->setLogLevel(Logger::INFO);

$logger->log