[2016-08-30 10:54] Jurigag commented on #12180
https://docs.phalconphp.com/pl/latest/reference/models.html#disabling-enabling-features

[2016-08-30 10:58] Izopi4a commented on #12180
nah i think apps should work with everything enabled.  Especially when its something super simple. I dont like disabling things just because i dont know how to use them.  But you are right in some specific cases those things can be annoying and disabling them is the "right" thing to do.

Disabling features reminds me of some friends of mine who code with error_reporting 0 .....

[2016-08-30 11:01] Jurigag commented on #12180
I have always notNull validations disabled. I prefer to validate data myself, not have some magic stuff which can be added to messages.

[2016-08-30 12:24] sergeyklay commented on #12147
@pfz @Besedin86
Could you please check 3.0.x branch?

[code]

[2016-08-30 12:30] #12178 closed

[2016-08-30 13:12] stamster commented on #12179
This is only case with `304 HTTP status`? I'm heavily using `setStatusCode()` method, and never had such issue with 4xx, 5xx or 3xx status codes.

[2016-08-30 13:15] dimak08 commented on #12179
With all statuses except 200

30 авг. 2016 г. 16:13 пользователь "stamster" <notifications@github.com>
написал:

[2016-08-30 13:17] stamster commented on #12167
Exactly. Such behaviour is odd. This validation needs to be self injectable.
instead of:
`$validator->validate($_FILES);`

it should accept reference to a files from `$this->request->getUploadedFiles()` object.

[2016-08-30 13:20] stamster commented on #12179
You're correct.

[code]

This is stupid bug. xD

[2016-08-30 13:23] stamster commented on #12056
@vadim-job-hg wrong PHP version? No one said that you need to use 5.2.x stack. What is actually wrong here is using "wrong" OS at first place.

[2016-08-30 13:28] stamster commented on #12179
Response object is set correctly, `var_dump($this->response->getStatusCode()); `

`string(24) "422 Unprocessable Entity"`

[2016-08-30 13:35] vadim-job-hg commented on #12056
@stamster strange question.
If framework does not work correctly on OS that it have to support, with php7 that it have to support,  that is definitely bug.  It is obvious. I do not understand why I have to explain it.

[2016-08-30 13:44] Jurigag commented on #12056
https://github.com/phalcon/cphalcon/issues/12056#issuecomment-242985437
https://github.com/owncloud/core/issues/22370

Then why someone don't have this on windows or have this on something not related to phalcon and windows ?

[2016-08-30 13:47] dimak08 commented on #12179
I think what bug here: https://github.com/phalcon/cphalcon/blob/master/phalcon/http/response/headers.zep#L90

[2016-08-30 14:00] renatomjr commented on #12056
My env: Windows 7 + PHP 7.9

To simulate, run the following code pressing F5 quickly.
[code]
As a temporary workaround, you can override Phalcon\Di construct method and translate Zephir to plain PHP code. The error does not occur with the code below:

[code]

[2016-08-30 14:06] Besedin86 commented on #12147
@sergeyklay all is fine.
Test configuration:
- Ubuntu 16.04
- PHP 7.0.8
- Phalcon 3.0.1
- Zephir 0.9.4a-dev-cbfe80715d

[2016-08-30 14:10] MaksSlesarenko commented on #10968
Encountered same problem trying to update phalcon from 1.3 to 3.0

group by clause:
`GROUP BY to_date_with_tz(game.date, '0')`

parsed into:
`GROUP BY to_date_with_tz(game.date, ['0')]`

[2016-08-30 14:14] Jurigag commented on #12056
The same thing doesn't happen in cli, happening on apache2.

[2016-08-30 14:20] andresgutierrez commented on #12179
Fixed in 3.0.x branch

[2016-08-30 14:20] #12179 closed

[2016-08-30 14:45] stamster commented on #12179
@dimak08 I just wanted to point out the same code line number :) You were faster :+1:

But, really if you look at code this does not look as a bug as someone obviously put effort to make sure `:` will be present on each http status message?! I wonder why.

[2016-08-30 14:51] stamster commented on #12056
@vadim-job-hg Yes, that's true, if there is official support for something - you're correct. Unless this is _not_ Phalcon -> OS related issue as @Jurigag showed other projects affected by similar behaviour.

And you just cannot say that PHP 5.6 is 'wrong' or out-of-date, 5.6. has long term support and many projects are still built on that stack today.

[2016-08-30 17:38] sergeyklay commented on #11205
Fixed in the `3.0.x` branch.

[2016-08-30 17:38] #11205 closed

[2016-08-30 21:07] sergeyklay opened #12182 "Memcache::flush does not delete query keys"
### Expected and Actual Behavior

[code]

**Actual**
[code]

**Expected**
[code]

### Details

* Phalcon version: 3.0.2
* PHP Version: 7.0.9
* Operating System: Ubuntu
* Installation type: Compiling from source
* Zephir version: 0.9.4a-dev
* Server: Nginx

[2016-08-30 22:33] sergeyklay commented on #12182
Fixed in the `3.0.x` branch.

[2016-08-30 22:33] #12182 closed

[2016-08-31 09:09] tugrul opened #12184 "Router Named Params"
Router params are confusing because has not abstract behavior.

I created an application and I used URL parameters through action's arguments. I added extra parameter to route to make multilingual pages.

Router mixing named parameters and `:params` and confusing parameter order of action arguments.

Named url parameters should seperate and should not passed to action method as argument. Only `:pa

[2016-08-31 09:17] tugrul commented on #12166
Also able to make batch operations like change status.

[2016-08-31 11:28] tugrul commented on #12184
## Workaround

I replaced all of `$this->dispatcher->getParam('lang', 'string', 'en')` to `$this->router->getParam('lang', 'string', 'en')`

Router Service
[code]

Dispatcher Service
[code]

Router
[code]

Dispatcher
[code]

[2016-08-31 13:31] rajeshdas-rp opened #12185 "Added controller and action but it is showing 404 error"
Hi,
I am new in Phalcon so please guide me, I have download demo project and it's controller is working fine but when I am trying to add a new controller. It is showing 404 error.

URL: http://localhost/phalcon/invo/
Controller: IndexController.php
Code:
class IndexController extends ControllerBase
{
    public function initialize()
    {
        $this->tag->setTitle('Welcome');
        parent::in

[2016-08-31 14:52] Izopi4a commented on #12185
for questions : https://forum.phalconphp.com/

check your apache/nginx config

[2016-08-31 15:18] andresgutierrez commented on #12176
PHP 5 allowed us to create intermediate symbol tables per render, in php7 that is not possible, we have to research more about it.

[2016-08-31 15:33] pfz commented on #12147
@sergeyklay issue solved for castOnHydrate with same phalcon/zephir build as Basedin86.

Though PDO::ATTR_EMULATE_PREPARES to false with BIT column still fails. May be I should open an other thread to be consistent on that matter ?

[2016-08-31 16:12] HanXHX opened #12186 "Bug (3.0.1) : Phalcon cache with backend memory"
### Expected and Actual Behavior

Since Phalcon 3.0.1, I have an issue with backend cache memory. It works well on 3.0.0.

Test file:
[code]
With Phalcon 3.0.0 (OK no problem).
[code]

With Phalcon 3.0.1
[code]

### Details

* Phalcon version: 3.0.1
* PHP Version: 7.0.*
* Operating System: Tested on Ubuntu / Debian
* Installation type: via package manager

[2016-08-31 16:44] Jurigag commented on #12186
@sergeyklay Isn't this because php is trying to unserialize not serialized content ? https://github.com/phalcon/cphalcon/blob/master/phalcon/cache/backend/memory.zep#L110

Fix is to check here if data is not numeric https://github.com/phalcon/cphalcon/blob/master/phalcon/cache/frontend/data.zep#L137 if it is just return data.

[2016-08-31 16:56] sergeyklay commented on #12186
it is another separated issue

[2016-08-31 16:57] Jurigag commented on #12186
How seperated issue ? Just here https://github.com/phalcon/cphalcon/blob/master/phalcon/cache/frontend/data.zep#L137 is happening from this issue `unserialize(1);` which exactly produces error `PHP Notice:  unserialize(): Error at offset 0 of 1 bytes in /tmp/toto.php on line 13`

[2016-08-31 20:23] sergeyklay commented on #12147
@pfz Yes, open please new issue

[2016-08-31 23:38] sergeyklay commented on #12186
@HanXHX
Could you please check 3.0.x branch?

[code]

[2016-09-01 07:47] HanXHX commented on #12186
[code]

It works now. Do you have a release date for 3.0.2?

[2016-09-01 08:54] stamster commented on #12186
Have you tried with another cache adapter?

[2016-09-01 09:15] Jurigag commented on #12186
@stamster this is because not cache backend adapter. It's because frontend data, it's already fixed.

[2016-09-01 09:23] stamster commented on #12186
Sure, I'm curious whenever this frontend adapter would work: ` \Phalcon\Cache\Frontend\Json`

[2016-09-01 09:39] Jurigag commented on #12186
Yes, it's not a problem with json, this is only because of data. Just backend adapters where saving not serialized numeric values, but frontend data was trying to unserialize them anyway. Now it's fixed.

[2016-09-01 10:15] #12186 closed

[2016-09-01 11:02] andrew-demb commented on #11973
Do you use option `orm.cast_on_hydrate`?
Now phalcon have one bug with `Phalcon\Mvc\Model::cloneResultMapHydrate()` and this option.

[2016-09-01 12:21] andrew-demb opened #12191 "[Bug] Error usage option `orm.cast_on_hydrate` and hydrate mode - ARRAY/OBJECTS"
## Description

Error when `Phalcon\Mvc\Model::cloneResultMapHydrate()` create result array.

Option `orm.castOnHydrate = true` change generated column map structure in
`Phalcon\Mvc\Model\Query::_executeSelect()` - (https://github.com/phalcon/cphalcon/blob/v3.0.1/phalcon/mvc/model/query.zep#L2781), but `Phalcon\Mvc\Model::cloneResultMapHydrate()` expects to string values in column map (https://git

[2016-09-01 13:20] MaksSlesarenko commented on #12058
Encountered problem

[2016-09-01 13:23] andrew-demb commented on #11973
I think you use option `orm.cast_on_hydrate`, see issue #12191 and pull request #12192.
This PR should solve your problem.

[2016-09-01 14:20] FaimMedia commented on #925
I agree (partially) with this setup, however I think a better solution would be to get the highest filemtime from all sources, append this to 'cache' file and check from there. Hashing would be less efficient and (personally) I find a url with a timestamp cleaner then a hash.

[2016-09-01 14:46] sergeyklay commented on #12191
Fixed in the `3.0.x` branch.

[2016-09-01 14:46] #12191 closed

[2016-09-01 14:47] sergeyklay commented on #11973
@guweigang

Could you please check 3.0.x branch?

[code]

[2016-09-01 16:09] virgofx commented on #12154
There are actually 2 bugs.

1. A return `false` when forwarding dispatcher in exception will cause sigfault
2. Exception handler is called twice when the dispatcher is not marked as finished

Here is the test script which outlines the 2 bugs.

[code]

[2016-09-01 17:44] virgofx commented on #12154
Prior to following commit works -

https://github.com/phalcon/cphalcon/commit/3fcfff0fd6a53fcb5bef52a4d003ca5515bdf380#diff-074ce759b4ecc1363a895a6a47faf187

[2016-09-01 18:26] MaksSlesarenko commented on #10968
Got it working by switching usage from

`$query->groupBy('to_date_with_tz(game.date, '0')')`
to
`$query->groupBy(array('to_date_with_tz(game.date, '0')'))`

this is where the problem is [https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/query/builder.zep#L1245](Phalcon\Mvc\Model\Query\Builder)

if given argument is string type than it splits it by coma, that can cause incorrect sql

[2016-09-01 20:53] virtueless commented on #12168
Hello,
I'm using **Windows 10** with **WAMP 3.0.4** (64-bit), **PHP 7.0.4** and **Apache 2.4.18** are installed and I can run **Phalcon 3.0.0 - Windows x64 for PHP 7.0.0 (vc14)** so far without any crash.

[2016-09-02 11:03] sergeyklay commented on #12154
@virgofx

Could you please check 3.0.x branch?

[code]

[2016-09-02 13:04] virtueless commented on #12185
Hello,

I see you are doing the INVO tutorial. This one has a Security Plugin (located in app/plugins/SecurityPlugin.php) which allow you to control what the user has access to.

Add your PlayController in the plugin's public resources:

//Public area resources
$publicResources = array(
         'index'      => array('index'),
         'about'      => array('index'),
         'register'   => array

[2016-09-02 14:12] rajeshdas-rp commented on #12185
Hi,
I had added but as you say it is saved in session so I thin it was not opening. So now it is working fine.

Thanks for share your knowledge.

[2016-09-02 14:12] #12185 closed

[2016-09-02 16:44] JCMais commented on #1253
This feature is necessary for people using client side templating engines, like mustache and handlebars, inside volt views.

[2016-09-02 19:25] Jurigag commented on #1253
Just add proper function for know, just workaround if you need to use it @JCMais

[2016-09-02 19:44] C0DE8 opened #12194 "Model Validation cause PHP Fatal Error (Interface issues) [php-7.0.10, cphalcon-3.0.1]"
### Expected Behavior
Using the old (Phalcon\Mvc\Model\Validator\*) or the new (Phalcon\Validation\Validator\*) validation variant, one of them should work.

**Both** validation variants in the model cause a PHP fatal error:

**Old (use Phalcon\Mvc\Model\Validator\Uniqueness):**
`Fatal error: Uncaught TypeError: Argument 1 passed to Phalcon\Mvc\Model::validate() must implement interface Phalcon\Va

[2016-09-02 20:05] Jurigag commented on #12194
Don't use `Phalcon\Mvc\Model\Validator` at all. Check blog post how to use new validation - https://blog.phalconphp.com/post/phalcon-3-0-0-released Basically your code needs to be:

[code]

[2016-09-02 20:36] C0DE8 commented on #12194
@Jurigag Thanks for fast response.
I just use the phalcon doc (https://docs.phalconphp.com/en/latest/reference/models.html#Validating Data Integrity), but your code works! THX

[2016-09-02 20:36] #12194 closed

[2016-09-03 05:35] surjit opened #12195 "phalcon/kernel/exit.c:36: multiple definition of `zephir_exit'"
[code]

[2016-09-03 06:12] zhangkx666 opened #12196 "getRealSQLStatement and getSQLStatement has no differences"
the source is below.
[cphalcon/phalcon/db/adapter.zep](https://github.com/phalcon/cphalcon/blob/5372ac7972218b10fd9f08027a7718ea10f191b5/phalcon/db/adapter.zep)

[code]

[2016-09-03 06:13] andresgutierrez commented on #12195
what command produced this issue

[2016-09-03 07:22] surjit commented on #12195
this happens, when I'm trying to compile phalcon and one other small extension

I have downloaded latest 5.6 source code
1) copied phalcon to ext folder
2) copied another extension generated using zephir

now getting these errors

[2016-09-03 07:29] sergeyklay commented on #12195
[code]

[code]

[2016-09-03 07:44] pfz opened #12197 "PDO::ATTR_EMULATE_PREPARES to false does not work with BIT column"
We can't use BIT(1) column in a model (boolean) when `PDO::ATTR_EMULATE_PREPARES=false` is set for the db connection. Insert and update fail.

This script [phalcon_orm_datatype_bug.php](https://gist.github.com/pfz/310cba1a8d0e6cb5a9c1617c713b249c) has been written to test this issue, when used with this options :

[code]

When `use_bit=true`, it fails. When `use_bit=false`, I replace BIT(1) by TIN

[2016-09-03 07:59] Jurigag commented on #12196
There is no way to return sql statement with replaced bound parameters in PDO. Other than replace them "by hand".

[2016-09-03 08:03] pfz opened #12198 "On model::create, object id is set as a string instead of the id type"
After `Model::create()`, $model->id is always a string.
I wrote a test to show this issue with configuration explaination : #12197 .

It shows as well that is must be a bug related to PDO. A workaround would be to call directly `last_inset_id()` mysql command, but PDO::ATTR_EMULATE_PREPARES should be set to false, which breaks model writes in some conditions (see #12197)
### Configuration
- Phalco

[2016-09-03 08:25] #10999 closed

[2016-09-03 08:25] sergeyklay commented on #10999
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-09-03 08:25] sergeyklay commented on #2361
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-09-03 08:25] #2361 closed

[2016-09-03 08:26] sergeyklay commented on #3080
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-09-03 08:26] #3080 closed

[2016-09-03 08:26] sergeyklay commented on #9931
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-09-03 08:26] #9931 closed

[2016-09-03 08:27] sergeyklay commented on #10446
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-09-03 08:27] #10446 closed

[2016-09-03 08:27] sergeyklay commented on #10451
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-09-03 08:27] #10451 closed

[2016-09-03 08:27] sergeyklay commented on #10627
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-09-03 08:27] #10627 closed

[2016-09-03 08:28] sergeyklay commented on #10779
@tobasar @malletjo @galki Could someone provide script to reproduce?

[2016-09-03 10:35] Shay12tg opened #12199 "castOnHydrate strange behaviour"
Hi.

I tried using castOnHydrate but I can't get it to work properly.

In PHP 7.0.8 I get:
Column 'id' is not part of the column map
I tried to disable and change model caching methods but no change.

In PHP 5.6.24 It's working...ish, it only cast if you select one result ( findFirst ) but it doesn't if you use find()->toArray

I also found this unanswered post: https://forum.phalconphp.com/discus

[2016-09-03 19:19] pfz commented on #12199
It should have been fixed in 3.0.2, see #12147 .

[2016-09-03 20:37] xerron commented on #10197
So why they are public?

public offsetSet (string $offset, string $value) inherited from Phalcon\Translate\Adapter
public offsetExists (mixed $translateKey) inherited from Phalcon\Translate\Adapter
public offsetUnset (string $offset) inherited from Phalcon\Translate\Adapter
public string offsetGet (string $translateKey) inherited from Phalcon\Translate\Adapter

Gettext Adapter:

[code]
show:

[cod

[2016-09-03 21:04] xerron opened #12201 "NFR: Support 'context' in Gettext (msgctxt)"
[code]

NFR, not affect old code if:

[code]

add:

[code]

https://docs.phalconphp.com/en/latest/api/Phalcon_Translate_Adapter_Gettext.html

[2016-09-03 21:15] sergeyklay commented on #12199
@Shay12tg
Could you please check 3.0.x branch?

[code]

[2016-09-03 21:17] xerron opened #12202 "SetLocale() not support multiple parameters"
https://docs.phalconphp.com/en/latest/api/Phalcon_Translate_Adapter_Gettext.html

[code]

error:

[code]

[2016-09-03 21:20] xerron commented on #12202
https://github.com/phalcon/cphalcon/blob/master/phalcon/translate/adapter/gettext.zep#L193

second parameters is a String

[2016-09-04 10:21] guweigang commented on #11973
Sorry for the late reply,,,, I have set Model behavior in ```initialize()```.
[code]
The problem is from ```castOnHydrate```,  When i comment that line, everything goes right.

[2016-09-04 10:48] guweigang commented on #11973
And I just updated to 3.0.x,,, It fixed this issue.

[2016-09-04 13:04] #11973 closed

[2016-09-05 05:43] frickenate opened #12203 "\Phalcon\Debug::onUncaughtException() accepts \Exception instead of PHP 7's \Throwable"
### Expected and Actual Behavior

**Advanced tldr:**
I understand that my use case is odd, but under PHP 7 `set_exception_handler()` handlers are required to accept `\Throwable`, not `\Exception` ([see the PHP docs](http://php.net/manual/en/function.set-exception-handler.php)). `\Phalcon\Debug::onUncaughtException()` however, is type-hinted to accept `\Exception`, not `\Throwable` -- which include

[2016-09-05 08:52] tembem commented on #12203
I don't understand.

I read http://php.net/manual/en/class.throwable.php. PHP classes cannot implement the Throwable interface directly, and must instead extend Exception. Why not catch Exception instead?

[2016-09-05 09:27] dmytrechko opened #12204 "Volt's command "is defined" doesn't work properly with nested structure"
### Expected and Actual Behavior

Model **_User**_ has property 'data' which is JSON. I wrote getter for 'data' and it work good, when I call it directly, but when I tried to check if such property exists, volt return `false`
**_Example:**_

[code]

[code]
### Details
- Phalcon version: 3.0.0
- PHP Version: 7.0.9 (the same issue with 5.6.23 and Phalcon 3.0.0)
- Operating System: Linux
- Installati

[2016-09-05 09:36] Jurigag commented on #11389
I will create proper pr for 3.1.0 for this as soon branch will be created. It will be similar as this pr but i will add ability to use it with micro too.

[2016-09-05 09:48] andrew-demb commented on #12203
Phalcon 3.0 still supports PHP 5.5, where is no `\Throwable` interface.
So, framework can't change type for input param in this method

[2016-09-05 15:46] dstuecken opened #12205 "Defining a SEPARATOR with PHQL for MySQL's GROUP_CONCAT()"
### Expected and Actual Behavior

I am trying to create a subquery with PHQL. The Query looks like the following:

[code]

Without specifying the SEPARATOR it works fine.

This is what i get:
[code]

The query is generated like this:

[code]
### Details

* Phalcon version: 3.0.0
* PHP Version: 5.6.2
* Operating System: Mac Os X 10.11
* Installation type: Compiling from source
* Zephir version (if

[2016-09-05 18:37] frickenate commented on #12203
@tembem The point is that `set_exception_handler()` in PHP 5.x was only designed to handle the only existing "exception"-like base class: `\Exception`. In PHP 7, they split what we consider "exceptions" into two separate base classes - `\Exception` and `\Error`. Both of these classes implement `\Throwable`, and `set_exception_handler()` is expected to receive anything that implements `\Throwable`

[2016-09-05 20:55] andresgutierrez commented on #12203
Remove the type hint from the parameter is a good idea.

[2016-09-05 21:16] andresgutierrez commented on #12205
It's a SQL extension that is not supported by PHQL, you can create a PHQL function to support it: https://blog.phalconphp.com/post/phalcon-2-0-3-released

[2016-09-05 21:23] #12205 closed

[2016-09-05 21:35] andresgutierrez commented on #12204
Can you check the php generated? Perhaps there is a clue of why is not working there

[2016-09-06 05:33] Siteograf commented on #2292
{{ "{{#each sales}}" }} ...

[2016-09-06 08:22] galki commented on #12096
I can reproduce this.

[2016-09-06 08:25] Jurigag commented on #12096
Okay, but how ?

[2016-09-06 08:32] galki commented on #12096
Any combination of these 2 methods
[code]
then
[code]

[2016-09-06 08:34] Jurigag commented on #12096
Check latest 3.0.x, you need to use zephir to compile it.

[2016-09-06 08:38] sergeyklay commented on #12096
@davihu @galki

Could you please check 3.0.x branch?

[code]

[2016-09-06 13:32] Ange7 commented on #11337
I have similar problem with not closing MySQL connections. and the script to reproduce is the same that @PolDeveloper

[2016-09-06 20:44] spuy767 commented on #1253
@zjsxwc {{ '{{ var.prop }}' }} Way less ugly and still works.

[2016-09-06 21:36] Jurigag commented on #1253
For me less ugly is:

[code]

[2016-09-07 02:31] sharptry opened #12208 "php-fpm SIGSEGV for cphalcon 3.0.1"
cphalcon: v3.0.1
php: 7.0.10
os: Centos7

php-fpm.log:
child 4372 exited on signal 11 (SIGSEGV) after 484.350438 seconds from start

issue:
[code]

It can not call mutil functions?

[2016-09-07 05:13] Jurigag commented on #12208
This means that there is probably crash dump file generated. Try to post backtrace from gdb:

https://bugs.php.net/bugs-generating-backtrace.php

[2016-09-07 10:19] rprasanth commented on #10342
@caaguado could you please explain the step briefly?? for solving the PHP compilation issue. I am getting the same problem for other toolkit

PHP Warning:  PHP Startup: BittWare: Unable to initialize module
Module compiled with module API=20121212
PHP    compiled with module API=20131226
These options need to match
 in Unknown on line 0

php -v
PHP Warning:  PHP Startup: BittWare: Unable to initia

[2016-09-07 10:20] stamster commented on #12208
I just tested your code with exactly the same PHP/Phalcon versions. There was no crash. The line you pointed out returns 1.
I can `echo A::A1();`

[2016-09-07 13:23] caaguado commented on #10342
Hi, ultimately, it was caused by my own mistake, as I was using a wrong DLL version not matching the actual PHP version.

Just make sure that your Phalcon DLL matches PHP

BR // Carlos.

On 7 September 2016 12:20:12 CEST, Prasanth R <notifications@github.com> wrote:

[2016-09-07 15:43] Jurigag commented on #12208
For me this should be closed, there are no phalcon calls so this is not phalcon framework related.

[2016-09-07 17:07] #12208 closed

[2016-09-07 21:11] sergeyklay commented on #12195
Could you please check 3.0.x branch?

[code]

[2016-09-07 21:11] #12195 closed

[2016-09-08 21:29] GBraL commented on #11029
Using Phalcon 3 and PHP 5.6 I can't remove this message?

[2016-09-08 23:29] Jurigag commented on #11029
As far as i understand no - https://github.com/phalcon/cphalcon/issues/11029#issuecomment-200612702

This is limitation of php, not phalcon bug.

[2016-09-08 23:56] GBraL commented on #11029
So, what I need to do to work with phalcon 3 and php 5.6?

Because the warning messages can cause problems when rendering the page.

[2016-09-09 00:01] dschissler commented on #11029
@GBraL we would need to see your service definition.  This is fixable because I also encountered this issue when I migrated to Phalcon 3 because now it binds the service definition function to the DI object, whereas it didn't used to do that.

[2016-09-09 12:00] GBraL commented on #11029
Thank you.

[2016-09-09 16:34] Jurigag opened #12210 "Getting and changing relation by alias"
### Expected and Actual Behavior

Let's assume we want to get relation(resultset in this case) before changing it. Doing it will obviously set it as public property. If we would need to update it we need to use `getRelated` to get related records.

[code]
### Details
- Phalcon version: 3.0.2
- PHP Version: 7.0.9
- Operating System: Ubuntu 14.04
- Installation type: zephir
- Zephir version (if any)

[2016-09-09 22:37] Jurigag commented on #12152
@sergeyklay

[2016-09-10 02:37] CreaoticX opened #12211 "Hashtag/Anchor text of url not removed on response redirect"
### Expected and Actual Behavior

I'm trying do a redirect following a login from Facebook.  Facebook for whatever reason has taken to appending `#_=_` to the callback URL.  After I process the response from Facebook, I do a redirect to the account page to remove all the query parameters.  However the  `#_=_`  remains after the redirect.  i.e. the url looks like this:
     http://www.example.com/s

[2016-09-10 06:57] sergeyklay commented on #12211
@CreaoticX
The 2.1.x branch is not longer supported.  Could you please check 3.0.x branch?

[2016-09-10 08:02] CreaoticX commented on #12211
So funny thing.  When I went to install Phalcon not more than a couple weeks ago, the only directions I found that were supposed to work with php 7 were for that test build.  Then when you said check the 3.0.x branch I found the install directions for Phalcon 3.0.1 on PHP 7 on the Phalcon site in all of about three seconds.  So I have now updated.  I will edit the Phalcon version above and I did a

[2016-09-10 16:16] nask0 opened #12212 "MariaDB dynamic columns and Phalcon"
Hi there,
i just noticed that there is no obvious way to insert [MariaDB dynamic columns](https://mariadb.com/kb/en/mariadb/dynamic-columns/) with Phalcon.
The ways to do is to execute raw sql query, but i don't wanna take care of bindings and so on.
Obviously this will not work:

[code]

[2016-09-10 16:20] Jurigag commented on #12212
Obviously as mariadb is drop-in replacement for mysql this is why it works out-of-box with phalcon. But OBVIOUSLY any new features which mariadb is adding itself won't work because there is no OFFICIAL phalcon support for mariadb.

[2016-09-10 16:34] nask0 commented on #12212
@Jurigag OBVIOUSLY thanks for response.
Just don' t get whats yelling for, but ok, thanks :)

[2016-09-10 16:37] Jurigag commented on #12212
Well i understood your issue as yelling that's why it's not working. You should just create it as [NFR] with mariadb support.

[2016-09-10 16:49] nask0 commented on #12212
@Jurigag i understand,  sorry it's my bad then, idk for [NFR] requests.
I will gonna create MariaDB adapter as it is highly deployed nowadays as drop in replacement for mysql (as you said) from various Linux distro's and i simply love those "new features".
I will contact you if i have any further questions regarding developing of this adapter, thanks.

[2016-09-11 22:16] stamster commented on #12211
Part after the sharp sign `#` is actually non-standard HTTP thingie. Response will treat it as-is, as it was part of the name of the domain or your URL `site.com/some/pretty/url/page.html`. HTTP does not treat hashtags in any way, that's why you have it there after the redirect. If you really want to get rid of it, you'll need to use pregmatch or similar and to ditch it that way.
In any case, hash

[2016-09-11 22:21] stamster commented on #12212
Yeah, our new projects from 2014+ are all based on MariaDB. So it is quite popular.

Native Phalcon support would be much appreciated, and we all should work on it.

[2016-09-12 00:00] CreaoticX commented on #12211
@stamster yes I fully understand your point that for all intents and purposes unless you happen to be redirecting to a page with the same anchor text or some other code that directly pulls data from the url this will not break anything.  It's just kind of obnoxious, and I would have just cleaned it myself, but I couldn't find where to do this.

However, your comments led me to do some more testing

[2016-09-12 00:00] #12211 closed

[2016-09-12 08:40] cyberhck commented on #10121
I'd beg to differ in this matter. I have some issues with naming convention here too. If you are inside a controller directory, you're not gonna keep models there. And if you don't use proper namespacing, you're out of luck anyways.

I also have problem with how naming are done for models. By definition models are supposed to be a row in table (singular data). So instead of having Users model, Use

[2016-09-12 14:29] xerron opened #12214 "get object BLOB | BYTEA datatypes: MySQL, Postgresql, SQLite"
Use serialize() for save object in:
- MySQL
- Postgresql
- SQLite

to recover BLOB | BYTEA:

With PDO:
- MySQL ->  unserialize($row['data'])
- Postgresql -> unserialize(stream_get_contents($row['data']))
- SQLite -> unserialize(stream_get_contents($row['data']))

With Phalcon:
- MySQL ->  unserialize($row['data'])
- Postgresql -> unserialize(stream_get_contents($row['data']))
- SQLite -> unseriali

[2016-09-12 17:34] Yakovlev-Melarn opened #12215 "broken link"
A link in the upper right corner of the debug component refers to the 404 page.

![screenshot at sep 12 22-03-56](https://cloud.githubusercontent.com/assets/1256298/18448743/e733f540-7934-11e6-8360-d04fbe637e82.png)

[2016-09-12 21:15] stamster commented on #12179
When we can expect 3.0.2 to be released in order to fix this issue?
@andresgutierrez @sergeyklay

[2016-09-12 21:42] sergeyklay commented on #12179
@stamster https://github.com/phalcon/cphalcon/milestone/22

[2016-09-12 23:47] stamster commented on #12215
Correct. Missing http:// link prefix.

[code]

[2016-09-13 00:38] stamster commented on #12215
+1

Also for v.2.0.13: https://docs.phalconphp.com/en/2.0.13/

[2016-09-13 06:54] xueron opened #12217 "_modelBinding doesn't work with named params"
I'm using annotation router, and found modelBinding doesn't work correctly.

Here is my code:

GET /user/3

[code]

An error found: Notice: Undefined index: 0 in phalcon/dispatcher.zep on line 575

Any help?
### Details

[code]
- Operating System: Mac
- Server: Nginx

[2016-09-13 06:56] Jurigag commented on #12217
Where you have named parameter ?

[2016-09-13 18:36] DepX commented on #11579
+1

[2016-09-13 22:13] tembem commented on #12215
I guess this https://github.com/phalcon/cphalcon/blob/master/phalcon/debug.zep#L295

[2016-09-14 16:27] Gamblt opened #12220 "Model::afterFetch() is not fired on Model::refresh()"
### Expected and Actual Behavior

When i refresh() a model, afterfetch is not fired.
If refresh() function "re-querying the record from the database"  it's necessary to prepare new data using afterfetch().

I have Users table with afterFetch() function

[code]

So. When i update first_name or last_name save it and refresh() model, the full name is still the same.
It's works good if i use

[code]

[2016-09-14 16:39] Jurigag commented on #12220
Well this is not an issue i think. This is just how refresh works. Why fire `afterFetch` when you have already fetched model ? You just want to refresh it, for sure it shouldn't be in framework. If you want `afterFetch` fired then just extend refresh method.

[2016-09-14 17:30] michanismus commented on #12220
Hmm, I think it needs to be fired. Otherwise the event should be named "afterFirstFetch"...

[2016-09-14 18:58] xerron opened #12221 "NFR: Get one element of the array with config->get()"
The good from the get function is that you can set a default value.

now:

[code]

This is better:

[code]

[2016-09-14 19:02] sergeyklay commented on #12220
@Gamblt  `The 2.0.x` branch is not longer supported. Could you please try `3.0.x` version?

[2016-09-15 03:14] R3bm3v0N opened #12222 "Cssmin provide wrong output"
I found a bug in Phalcon version 3.0.1
This code:
`/*! comment */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}`

Was transformed to
`tml{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}`

Not only the comment but aslo the **h** character from code was removed .
Please check, thank you!

[2016-09-15 03:15] mzf commented on #12221
Dot notation is very good idea

[2016-09-15 04:26] tembem commented on #12222
@R3bm3v0N Cssmin will remove the comment by design. Adding "space" will solve this bug i think:

[code]

Looking to the code, i guessed this line  `parser->style_pointer += 2;`
https://github.com/phalcon/cphalcon/blob/master/ext/phalcon/assets/filters/cssminifier.c#L232

[2016-09-15 05:16] sergeyklay commented on #12221
I think will be better:
[code]

[2016-09-15 06:31] gerdzhikov commented on #11464
Same problem with Phalcon 3.0.1. Using Phalcon\Validation\Validator\InclusionIn throws ErrorException with this message: Argument 1 passed to Phalcon\Mvc\Model::validate() must implement interface Phalcon\ValidationInterface, instance of Phalcon\Validation\Validator\InclusionIn given

[2016-09-15 06:51] mzf commented on #12221
Ye. Fine option

[2016-09-15 06:59] Jurigag commented on #11464
You need to pass Object `Phalcon\Validation` to validate method, NOT VALIDATOR class like `Phalcon\Validation\Validator\InclusionIn`. Check code above.

[2016-09-15 07:13] gerdzhikov commented on #11464
Ohh, thanks. Now I see the difference  above. May be you should update the Phalcon documentation.

Regards!

[2016-09-15 07:14] Jurigag commented on #11464
It's already updated in docs repo.

[2016-09-15 07:16] gerdzhikov commented on #11464
But not here: https://docs.phalconphp.com/en/latest/reference/models.html#validating-data-integrity

[2016-09-15 07:17] Jurigag commented on #11464
Yes because it's need to be updated on server.

[2016-09-15 12:37] ruudboon opened #12223 "[NFR] Add type time to column types"
[code]

Currently the type time is missing from Phalcon\Db\Column causing issues when doing migration with the phalcon dev tools when having a mysql time field in place. Would be great if we can add this type so we can solve this related issue: phalcon/phalcon-devtools#308

[2016-09-15 16:31] bestirani2 opened #12224 "Model Bug"
Hi

After find in a model, I call count but it returns null
For example
`
$items=Employee::find(['limit'=>20, 'offset'=>20]);
$count=Employee::count();
`
This problem is because of wrong binding. This query is for count. it used bind of previous query.
`
SELECT COUNT(*) AS `rowcount` FROM `employee` LIMIT :APL0 OFFSET :APL1
`

[2016-09-15 16:36] andresgutierrez commented on #12224
What version of Phalcon are you using?

[2016-09-15 16:38] bestirani2 commented on #12224
3.0.1

[2016-09-15 16:58] #12224 closed

[2016-09-16 08:33] xerron commented on #12221
it's a little confusing use 'path', for me is better 'get'

[2016-09-16 08:35] Jurigag commented on #12221
But what if for some weird reason someone already have named section with dot ?

[2016-09-16 08:40] xerron commented on #12221
@Jurigag  you mean this?

[code]
good question. :+1:

[2016-09-16 08:43] xerron commented on #12221
@sergeyklay :+1:

[2016-09-16 08:43] R3bm3v0N commented on #12222
@tembem I have add a space as you said and its work like a charm, thank you very much.
But i think it still be a temporary solution and need to be fixed in the future, thanks again ^_^

[2016-09-16 09:55] stamster commented on #12115
Funny thing is that getting metadata / table structure is not that intensive, and also can be nicely cached on Memcached for instance, since you don't change RDBMS structure every hour or so (in a production at least).

If this was solved by simply manually defining all properties per each model, then it's great and weird at the same time, since on my own implementation of ORM-like system in Phalc

[2016-09-16 10:06] Jurigag commented on #12115
But this is not about queries or something. This is just how php works:

[code]

For me results are:

[code]

[2016-09-16 10:36] xerron opened #12225 "NFR: BindParam Array 'Phalcon\Db'"
Can I bind an array to an IN() condition?

**now:**

http://stackoverflow.com/questions/920353/can-i-bind-an-array-to-an-in-condition
https://forum.phalconphp.com/discussion/125/select-where-id-in-1-2-3-

[code]

or

[code]

**but this is better:**

[code]

This can be done by converting the query string:

from:

[code]

to:

[code]

and BindParams:

from:

[code]

to:

[code]

This function makes

[2016-09-16 10:40] Jurigag commented on #12225
If you want to add this then do PR with this.

[2016-09-16 10:50] xerron commented on #12225
First I want to have feedback

[2016-09-16 10:52] Jurigag commented on #12225
Find with me i guess, but keep in mind that Phalcon\Db is just wrapper on PDO. If pdo doesn't have things like this, then im not sure if we should add it in Phalcon\Db neither. What's a problem with PHQL ? I know that phql just first fetch all those results and then it's firing all events etc stuff.

Better just would be to make PHQL possible to do queries like this, without fetching all models, e

[2016-09-16 11:15] stamster commented on #12115
I'm not sure what can be proven with that.

Models on average have how many properties - 3, 5, 10?

PHP is certainly not the culprit here IMHO, but as with any other ORM there's an internal overhead.

[2016-09-16 11:20] Jurigag commented on #12115
If we are using model classes on 10k records:

[code]

Just for setting 10 properties for 10k records, it's like 0.2 seconds. So if you have big resultsets and many columns then it's great idea to make properties, it's even 2 times faster, as you see. And as i posted above - this is no because ORM OVERHEAD. This is just because of PHP, it just works like this - having properties will be always fas

[2016-09-16 14:57] xerron commented on #12225
You mean the model manager, it sounds good. But the trouble is that it can not change the connection to a custom.

[code]

[2016-09-16 15:03] xerron commented on #12225
https://docs.phalconphp.com/en/latest/api/Phalcon_Mvc_Model_Manager.html
Yes you can:
[code]
But what worries me, this is good when models are used, and for those occasions you have only one connection ?, I think this feature 'names []' is useful and will implement.

[2016-09-16 15:06] Jurigag commented on #12225
No im not meaning notInWhere. I mean this:

[code]

You can have other connection for read and other for write. No problem here.

[2016-09-16 15:27] xerron commented on #12225
As I say it's good when you use models.
But if you have only conneccion, it would be good to have BindParam array.

[code]

very clean.

[2016-09-16 15:29] Jurigag commented on #12225
So why not use models then ?

[2016-09-16 15:32] xerron commented on #12225
because I do not need, when I need if I use it.

[2016-09-16 15:33] Jurigag commented on #12225
For me it looks like you need it, then you can just bind array :)

[2016-09-16 16:41] xerron commented on #12225
only need  expandArguments function in Zephir :+1:

[2016-09-16 17:00] Jurigag commented on #12225
Just add it directly to db adapter if we use syntax which you propose it will be done out of box.

[2016-09-17 13:09] xerron commented on #11101
https://forum.phalconphp.com/discussion/13695/how-to-upsert-update-or-insert-for-mysql-postgresql-and-sqlite-m

[2016-09-17 13:29] Jurigag commented on #11101
Phalcon doesn't allow to change primary keys.

[2016-09-17 14:52] niden commented on #669
Closing this issue since it is no longer relevant.

The Linux packages are located in PackageCloud for various distributions

https://packagecloud.io/phalcon/

[2016-09-17 14:52] #669 closed

[2016-09-18 00:03] tugrul commented on #11101
I think this problem belongs to framework design. Models should not have functionality like `select` (`Model::find`, `Model::findFirst`), `insert` (`Model::save`), `update` (`Model::save`), `delete` (`Model::delete`) operation.

Models just be contract about exchanging data and structure in business logic. Every SQL operation should be on models manager by model map like `$modelManager->model->fin

[2016-09-18 11:48] Jurigag commented on #11101
What you mean not parse sql ? Model managaer is just generating sql. Phalcon just has Active Record pattern, that's why models have this functionnality what you read. If you don't want it then you can use doctrine or something like this.

[2016-09-18 12:16] xerron commented on #11101
[code]

[2016-09-18 12:41] tugrul commented on #11101
@Jurigag

https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/manager.zep#L1720
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/query.zep

[2016-09-18 12:44] tugrul commented on #11101
I don't like doctrine because too verbose and useless. Phalcon is simple and efficient but can be better than now.

[2016-09-18 12:48] Jurigag commented on #11101
@tugrul and what's a problem with those links ? I don't quite understand. Manager is generating query object(which is an actual query) which you are executing, exactly what you wrote :).

[2016-09-18 13:08] tugrul commented on #11101
@Jurigag modelsmanager should not deal seperate ways (active record and phql) and should not resolve models on data binding.

modelsmanager should generate format string by models map and pass format string to formatter state machine. state machine should handle creating instance of model or filling model instance by own state.

this going to be same way and same line in phql and active record. ac

[2016-09-18 13:13] Jurigag commented on #11101
But what you are talking about is just DataMapper. Phalcon is just using Active Record approach, you understand it or not ? We can't like change it because you want to....

[2016-09-18 14:05] Yogarine opened #12230 "Call to private method Phalcon\Config\Adapter\Ini::_cast() Error thrown when calling parent::__construct() from child class"
### Expected and Actual Behavior

I'm extending Phalcon\Config\Adapter\Ini like this:

[code]

In Phalcon 2 on PHP 5.6 this used to work just fine, but in PHP 7 with Phalcon 3 this gives the following error:

### Details

* Phalcon version: 3.0.1
* PHP Version: 7.0.11
* Operating System: macOS 10.12 Sierra
* Installation type: installing via package manager
* Server: PHP built in web server

[2016-09-18 14:18] michanismus commented on #12221
I need this so bad! 100x thumbs up

[2016-09-18 14:52] sergeyklay commented on #12221
Will be implemented in 3.1.0

[2016-09-18 17:00] Jurigag commented on #12221
So implement it in other places too, as far as i know people wanted this in forms too and somewhere else.

[2016-09-18 18:35] sergeyklay commented on #12230
Fixed in the `3.0.x` branch.

[2016-09-18 18:35] #12230 closed

[2016-09-19 01:21] maurits150 commented on #12162
Actually this can be closed I think. The issue here was that accessing the relation means that it also saves this relation back into the model. So then it would overwrite the field I was echo'ing back to the original related resultset.

So replacing the line $account->accountcontact_id = 2;
with $account->AccountContact->id = 2;
Makes it work as expected.

[2016-09-19 01:21] #12162 closed

[2016-09-19 06:00] sergeyklay commented on #10212
Fixed in the `3.0.x` branch.

[2016-09-19 06:00] #10212 closed

[2016-09-19 14:14] borisdelev opened #12233 "Is that a new behavior to Phalcon\Tag::prependTitle or it is a bug?"
[code]

[code]
### So which behavior is right?
Sorry for my English.
Thanks!

### Details

* Phalcon version: 3.x
* PHP Version: 7
* Operating System: Windows 10
* Server: Apache

[2016-09-19 15:40] butamuh4o commented on #12233
Yep, sure. :) thanks

[2016-09-19 16:22] al35mm opened #12234 "Catchable fatal error: session_regenerate_id()"
Using Phalcon 3.0.1 (via packagecloud), PHP 7.0.8/apache2 and php-redis (installed via apt) running on Ubuntu Xenial on vagrant machine, when doing `$this->session->regenerateId()` I get the following "Catchable fatal error: session_regenerate_id(): Failed to create(read) session ID: user (path: /tmp)".

In my bootstrap

[code]

Sessions seem to be working fine apart from 'regenerateId'.  The same

[2016-09-19 17:19] Jurigag commented on #12234
Isn't thix fixed in 3.0.x ?

[2016-09-19 18:08] al35mm commented on #12234
@Jurigag was this previously a problem in Phalcon's redis adaptor? If so I guess it hasn't been fixed. I suppose I may have to drop back to Phalcon 2.x and php5.x to continue development for now as it's unusable in current state :(

[2016-09-19 18:08] Jurigag commented on #12234
Well, you can always use other session adapter like libmemcached for example.

[2016-09-19 18:17] al35mm commented on #12234
Yes I could do, but I want to use redis :) I have looked but can not find any other issues on this problem with Phalcon. So I'm not sure if it's a Phalcon issue or something else.

[2016-09-19 19:11] Jurigag commented on #12166
I think you can already do some batch things with resultset like:

[code]

Will update every row in resultset.

[2016-09-19 20:13] butamuh4o commented on #12233
Finally. I did it :) Good luck all, and thanks for your patience.

[2016-09-20 07:30] borisdelev opened #12238 "NFR: add a way to clear prependTitle or appendTitle"
Hi there... i have idea about prependTitle and appendTitle- to manage and clear them. Maybe will be useful. What is you opinion?
### Now

[code]
### Idea

[code]
### Details
- Phalcon version: 3.0.0 x64
- PHP Version: 7.0.11 x64
- Operating System: Windows 10
- Server: Apache x64
- Other related info (Database, table schema): MariaDB x64

Hope you understand me. Thanks

[2016-09-20 08:07] sergeyklay commented on #12233
Fixed in the `3.0.x` branch.

[2016-09-20 08:07] #12233 closed

[2016-09-20 11:38] tugrul commented on #12166
@Jurigag thanks. this is enough for atomic operations but this can't change easily ongoing revisions if you have this snippet many place in big codebase.

Change single function ease than multiple places.

[2016-09-20 11:41] Jurigag commented on #12166
@tugrul well i guess there will be no problem at all to add method like `updateStatuses()` then to this resultset class and calls it :)

[2016-09-20 13:11] borisdelev commented on #12238
@sergeyklay it is out of topic, but... can u explain what mean BC?

[2016-09-20 13:44] Green-Cat commented on #12238
@borisdelev BC = Backward Compatibility.

[2016-09-20 14:34] borisdelev commented on #12238
@Green-Cat Thank you!

[2016-09-20 17:22] aleksanderd opened #12239 "Set variable from a block content (twig-like set/endset syntax)"
Hello!

Base question: https://forum.phalconphp.com/discussion/13739/volt-setting-variable-from-a-block-like-twigs-setendset-syntax-e

Why not to implement something like:
[code]
// found at http://twig.sensiolabs.org/doc/tags/set.html

Thank you!

[2016-09-20 18:11] sergeyklay commented on #12239
How about macro?
[code]

[2016-09-20 20:18] aleksanderd commented on #12239
thnx! but I need exactly a var with content of a block. this var will be passed as array to some function

[2016-09-20 20:21] Jurigag commented on #12239
To function in volt ? I don't quite understand....

[2016-09-20 20:28] aleksanderd commented on #12239
I extended Form to have a method to render field with unified app's markup. The method can accept optionally some addons to label, etc, as parameters. So such string is not too huge, like 1-3 simple tags, but it is enought to make using {%set var = '...' %} not too comfy

[2016-09-20 20:30] Jurigag commented on #12239
I would just define this var using `$this->view->setVar` in controller or whatever.

[2016-09-20 20:41] aleksanderd commented on #12239
it can be solved ofcos, not critical :) currently, I using sub template + getPartial

but It would be nice to have extended syntax for this, if not too hard to implemet ofcos ;)

thank you!

[2016-09-21 00:08] xerron commented on #12225
I dont know zephir.
I took a whole day to learn, and I need to be able to contribute much good code. try to pass the function but does not compile me.

[2016-09-21 05:06] Jurigag commented on #12225
Just check some code on repository and that's it. It's very easy and similar to php, just no `$` and to set variable value use let keyword and it's basically it.

[2016-09-21 05:42] #12239 closed

[2016-09-21 07:48] tugrul commented on #12166
[code]

[2016-09-21 11:55] stamster commented on #12115
This is a real world scenario, generating all the properties at runtime (from DB metadata column definition):

[code]
Runtime: 0.00055813789367676

Same model with 1000 iterations (since I don't have  a real model/table with 1000 columns/properties): 0.37274098396301

[2016-09-21 16:43] xerron commented on #12221
In PHP7 default values is most readable:

[code]

[2016-09-21 19:34] sergeyklay commented on #12221
but it's longer and we support not only PHP7

[2016-09-21 20:21] Jurigag commented on #12221
Just add option to just call `$this->config->path('application.database.adapter')` without second argument, and you can use default value like php7 with  null coalescing operator.

[2016-09-21 21:36] cbichis opened #12244 "Default InArray/InclusionIn validator needed for Select"
Hello,

Select form elements are missing a default validator InclusionIn applied to options.

The current way to handle selects without applying by default such validator is totally unsecure and allows validation for arbitrary values, basically permitting an attacker to insert any kind of values into model field which is behind of Select.

By example Zend Framework has an InArray validator which i

[2016-09-22 02:05] xerron commented on #12221
Well, this is good:

[code]

[2016-09-22 03:03] daison12006013 commented on #12221
This is cool

[2016-09-22 03:31] igorsantos07 opened #12247 "Better return types for find() calls and similar"
### Expected and Actual Behavior

Have IDEs and inspection tools correctly recognize the return values from `Model::find()` calls and similar.

Currently, what's returned from those methods is documented as an instance of `ResultsetInterface`, what asks just for basic methods. When we use things like `sizeof()`, `->count()`, try to loop through the query result or access it as an array, we get ins

[2016-09-22 05:48] sergeyklay commented on #12247
[code]

[2016-09-22 09:48] EnvySky commented on #11605
Yes, please fix this bug. I tried on 3.0.1 but I saw the error, too :(

[2016-09-22 23:50] maurits150 opened #12248 "Unify toArray() columns filter behavior between Phalcon\Mvc\Model and Phalcon\Mvc\Model\Resultset\[Simple/Complex]"
Hello,

Often when I'm selecting a single model I'm doing e.g. Model::findFirst()->toArray(['id']) to convert it to an array. This works fine and an array with only an id field is returned.

However when I'm selecting multiple records, I kind of expected the behavior to be the same.
Unfortunately when I do Model::find()->toArray(['id']) it returns all columns for reach record, instead of just the

[2016-09-23 05:32] Jurigag commented on #12248
Just do:

[code]

This is real solution.

[2016-09-23 22:44] Jurigag commented on #12248
For me there are not strings. Just change your old mysql driver to mysqlnd and disable stringify in phalcon by adding PDO::ATTR_STRINGIFY_FETCHES => false, to options in db connection, then you will get data as they are in db(like ints, floats, etc)

Well that's obvious that you can't use model methods because it's not full object returned. But why you need them ? Are gonna do something to returne

[2016-09-23 22:52] Jurigag opened #12250 "Accessing service by property"
In 3.0.0 blog post there are example like:

[code]

But i added test for this - https://github.com/phalcon/cphalcon/pull/12249 and it obviously doesn't work because there is no magic `__get` in `Phalcon\Di`

[2016-09-24 08:01] elchava commented on #3070
PHP message: PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib64/php/modules/phalcon.so'

[2016-09-24 08:31] Jurigag commented on #3070
And what's a problem ? This just told you that phalcon extension can't be loaded, like it's not installed. Just remove phalcon.so from php.ini or something.

[2016-09-24 09:53] sergeyklay commented on #12250
This blog post misspelling. Correct example:
[code]

[2016-09-25 00:56] dschissler opened #12252 "NFR: Add module name to module class name format in Application::registerModules"
Currently Phalcon module setup is a bit hacky because there is some overlap of concerns between the Loader and Application and modules.  The Application class has been doing a [poor man's loading](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/application.zep#L227-L235) to get the module definitions loaded up when the normal Loader class is fully capable of being used with the `Loader

[2016-09-25 12:25] janisbizkovskis commented on #12176
I would like to suggest this fixing ASAP, as this is braking all the partial system in the views. (quite important thing)

[2016-09-25 13:27] cbichis commented on #11082
Same question here... I can't believe there is no way to remove a validator...

[2016-09-25 15:00] maurits150 commented on #12248
I think I fixed it by writing my own decorator class for the resultsets, overwriting find and findBy in my models, wrapping the resultsets from that function with my decorator, and inside the decorator made my own toArray function. Which loops through all records and calls toArray with the column filter on each record. [Code](https://maurits.tv/data/file/September%202016/2016-09-25_16-57-46_NMnVSC

[2016-09-25 16:19] Jurigag commented on #11082
But Uniquqness validator is already ignoring current entity like is if it's found model and we are doing update, then it's adding `id != :id:`

[2016-09-25 16:21] Jurigag commented on #12248
Why just not select proper columns and that's it ? I wrote you above how you can still get ints etc. For relations you have sql joins and basically it.

[2016-09-25 16:53] sergeyklay commented on #12215
Fixed in the `3.0.x` branch.

[2016-09-25 16:53] #12215 closed

[2016-09-25 16:55] sergeyklay commented on #12152
I'll try to sort out

[2016-09-25 17:16] maurits150 commented on #12248
Well I feel this method is more flexible in the long term. Mainly because my model class is still available on each row. This means that I can still run functions on rows and I can be sure that other model logic also still runs.

Another issue I faced with the default Resultset::toArray() is that afterFetch doesn't run on each row, which means that some of my columns don't get decoded properly (I

[2016-09-25 17:23] Jurigag commented on #12248
Yea, but it's much slower. `Resultset::toArray()` is really super duper fast, mostly because `afterFetch` is not fired, even not selecting columns and doing `toArray()` will not fire afterFetch, it just return whole resultset as an array. `aftetFetch` is fired only when you access full model in loop.

[2016-09-25 17:33] kunloon opened #12254 "$validation->setFilters("name", "trim"); seems like not working"
here is my code:

[code]

my input is some blank sapce like title: '    ',  name: '  ',
then i set filters by using

but it sames not working. the validation still return true;
and if i use $this->title = trim($this->title);  before validation, the validation will return false.

[2016-09-25 17:48] maurits150 commented on #12248
Yeah you're right on that. I'm not selecting large amounts of data luckily so it's not a problem.

IMO having consistent behavior across the orm is more important then writing faster toArray functions that end up not running things such as afterFetch, especially when you would kind of expect it would because in all other cases it does seem to work fine.

For speed I would consciously choose to use

[2016-09-25 18:08] sergeyklay commented on #12254
@Jurigag Could you please take a look?

[2016-09-25 18:43] Jurigag commented on #12254
https://github.com/phalcon/cphalcon/blob/master/phalcon/validation.zep#L483

Filters just totally ignored if entity is object i guess ?

[2016-09-25 22:24] stamster commented on #12250
@sergeyklay You mean instead of: ` $config = $this->setShared('config');` to use: `$config = $this->getShared('config');`  (get instead of set)

[2016-09-26 05:26] sergeyklay commented on #12250
@stamster Yes

[2016-09-26 18:04] dugwood commented on #11029
Hit the same bug/behaviour with Debian stable:
[code]
Then, when calling the service:

[2016-09-26 18:19] Jurigag commented on #11029
Also i don't understand this. I have 5.6.19 and your code fore me is returning:

[code]

[2016-09-26 18:25] dugwood commented on #11029
You're right, if I only run:
[code]
It works well... so that must be the class I'm using to get the DI that goes wrong... I'll let you know (as many people still seem to have the issue!).

[2016-09-26 18:30] dugwood commented on #11029
OK, my issue is that I've done something like:
[code]
If I use a non-static «getDI» function, it works like a charm. I'll change it soon :-)

[2016-09-26 18:52] Jurigag commented on #11029
The problem is in currently in php there is no way to check if closure is static.

[2016-09-26 19:08] dugwood commented on #11029
I understand, but the fact that the DI is created in a static function returns the same error, which I found weird... But as long as there's a solution without suppressing the error, that's fine by me.
Hum, after reading @andresgutierrez answer again, I understand it correctly: «in a static context», that's exactly what I've done (wrong).

[2016-09-26 19:28] Jurigag commented on #11029
Just there is not a bug at all in phalcon. We can't check if it's static context in php. Only one way i guess to do this is add something to zephir to check it, not sure if it's possible or as i wrote add `@` in zephir.

[2016-09-26 20:08] dugwood commented on #11029
I think you shouldn't hide the PHP error. It's not a bug in Zephir, but I didn't see any global explanation or answer about what was causing it.
You said: https://github.com/phalcon/cphalcon/issues/11029#issuecomment-245774054 so to me there wasn't any solution to avoid this PHP error with PHP 5.6. But there is! Your comment may be understood the wrong way.
So it's a PHP error, not a Zephir bug, a

[2016-09-27 09:41] Zaszczyk commented on #11114
Did anyone fixed or resolved it? I also got this problem

[2016-09-27 09:46] Jurigag commented on #11114
Less hacky way - add method to Child:

[code]

and

[code]

This should work i think.

[2016-09-27 11:01] viyancs opened #12258 "Array notation in naming Form elements didnt work in validation"
When I send request Post data using array notation example name="form[birthdate][day]", the request was successfully passed, but when validation always get null value.

this is what I do for more information , I create custom validation for dumping some variable

[code]

[code]

This is var_dump for $validator variable

[code]

From that investigation i try to find out how this getValue() method w

[2016-09-27 11:04] Jurigag commented on #12258
@sergeyklay since you are gonna do dot notation can you deal with array notation too ?

[2016-09-27 11:08] viyancs commented on #12258
The result is same, i think because this method option type is string
`public function getValue(string field)` https://github.com/phalcon/cphalcon/blob/master/phalcon/validation.zep#L474

[2016-09-27 11:09] Jurigag commented on #12258
? I know that dot notation don't work too, im just telling @sergeyklay to deal with array notation too because he was gonna add dot notation t some things, so array notation is similar.

Just this methods accept only field as string, withot any notation.

[2016-09-27 20:42] sergeyklay commented on #12254
@kunloon
Could you please check 3.0.x branch?

[code]

[2016-09-27 21:06] stamster commented on #12179
It would be nice if we could have quick fix for this issue, since it may block some ancient environments (Java 1.6 xD) which refuse to work if they don't find <CR><LF> after HTTP status response.

[2016-09-27 21:28] sergeyklay commented on #12179
@stamster
Could you please check 3.0.x branch?

[code]

[2016-09-27 22:14] Jurigag commented on #12179
It's already fixed in 3.0.x

[2016-09-28 03:19] duythien opened #12259 "Add feature encode for Imagic Phalcon"
When we store a image without format such as png, for exmaple

 $image = new Imagick(‘157eb31337b6f2’) will be have a error  [ERROR] Image has no format file:  I assume the file 157eb31337b6f2  is image it is just rename from 157eb31337b6f2 .png

So I think we should a feature encode for it such as a function at http://image.intervention.io/api/encode

[2016-09-28 08:24] alexbusu opened #12260 "Call Model::afterFetch() on Model::refresh()"
When I query for a Model entry in DB, the `afterFetch()` is automatically called, ensuring model data initialisation (time string to DateTime, comma-separated list to array, etc). This behaviour don't automatically happen when the model is refreshed.

Consider the following code:

[code]

I think the `Model::afterFetch()` _should be_ called on `Model::refresh()` as well.
### Other details
- Phalco

[2016-09-28 08:29] Jurigag commented on #12260
https://github.com/phalcon/cphalcon/issues/12220 duplicated

[2016-09-28 10:27] kristofferingemansson opened #12261 "Assets Manager hard reference to \Phalcon\Tag, should use DI"
Assets Manager has hard reference to \Phalcon\Tag when generating HTML.
Assets Manager should fetch tag instance from dependency injector instead to allow custom behavior.

[code]

Actual

[code]

Expected

[code]

https://github.com/phalcon/cphalcon/blob/v3.0.1/phalcon/assets/manager.zep#L775
https://github.com/phalcon/cphalcon/blob/v3.0.1/phalcon/assets/manager.zep#L811 (same for JavaScript)
###

[2016-09-28 19:50] #11291 closed

[2016-09-29 05:47] sergeyklay commented on #12254
@kunloon

[2016-09-29 09:13] Ridlsan opened #12267 "Error: PostgresSQL create table default value for integer column"
Phalcon 3.0.1

If setting default value 0 for integer column, phalcon escapes it as string and postgres complains as column "0" not exists.

Change its behavior in https://github.com/phalcon/cphalcon/blob/master/phalcon/db/dialect/postgresql.zep#L382

Just add check - if INTEGER so not escape value. Phalcon already has check for BOOLEAN

[code]

[2016-09-29 10:01] sergeyklay commented on #12267
Refs: https://github.com/phalcon/phalcon-devtools/issues/859
I'll fix it ASAP.

[2016-09-29 10:55] cbichis opened #12268 "isAllowed produces different return type than Acl:ALLOWED"
Hi,

INVO is comparing type strict isAllowed with Acl::ALLOW.

Unfortunately one uses boolean and the other one uses int...

I think this is not an INVO issue but rather a problem on Phalcon\Acl.

[2016-09-29 10:58] Jurigag commented on #12268
Well, im guessing we could just change here:

https://github.com/phalcon/cphalcon/blob/master/phalcon/acl.zep#L71
https://github.com/phalcon/cphalcon/blob/master/phalcon/acl.zep#L73

to true/false, it shouldn't cause a problem. But what if someone currently is comparing in his app like:
`=== Acl::ALLOW`

Then his app will break, so this is pretty much 4.0.0 change.

[2016-09-29 11:10] Jurigag opened #12269 "Namespace model aliases doesn't work on where condition"
### Expected and Actual Behavior

Sometimes im using in my app `::query` instead of query builder. Since you can't use alias for model from which you are doing query(like set alias for from) then i want to use namespace model alias in where so i don't need to write full namespace of model. But this is not working. Phalcon is just not replacting this model namespace alias.

[code]

[code]
### Detai

[2016-09-29 12:23] sergeyklay commented on #12269
@Jurigag Could you please privide model definition?

[2016-09-29 12:26] Jurigag commented on #12269
StudentLocation - http://pastebin.com/wJhVBzcc
Location - http://pastebin.com/6UxHZrRq

[2016-09-29 13:36] cbichis commented on #12268
At least the INVOI documentation should be updated meantime. I spent close to 1 hour trying to figure out whats wrong with my ACL... Was nothing wrong with the ACL, just with that condition...

[2016-09-29 13:58] cbichis opened #12270 "One/global layout for all modules"
I see there is no way to set "global" layouts for multi-module setup. One single layout for all modules... I was needing to hack things with some includes.

I guess it would be interesting to have one more level of layouts, global app layouts (not just module/controller/action).

[2016-09-29 14:26] cbichis commented on #12270
This applies to main layout also (the one set with setMainView() ). I dont even see a way to change the path for this "layout". I can only set the file.

[2016-09-29 22:52] sergeyklay opened #12272 "Add ability to move a table to a different schema"

[2016-09-30 00:29] Ultimater commented on #12272
If I understand this feature request correctly, I know in MySQL you can copy a table to another database using:
[code]
Not sure about an all-encompassing PDO solution though.

[2016-09-30 05:16] xerron commented on #11789
+1

[2016-09-30 05:54] sergeyklay commented on #12272
To move a table to a different schema in PostgreSql:
[code]

[2016-09-30 08:48] tugrul opened #12273 "[BUG] \Phalcon\Mvc\View - setLayout and pick"
`\Phalcon\Mvc\View::setLayout()` has no effect when use with `\Phalcon\Mvc\View::pick()`

[code]
### Details
- Phalcon version: 2.0.13
- PHP Version: 5.6.24-0+deb8u1
- Operating System: Debian 8.5 (linux)
- Zephir version:: 0.9.2a-dev
- Server: Nginx + PHP-FPM

[2016-09-30 08:49] Jurigag commented on #12273
2.0.13 version is no longer maintained and supported. Can you check 3.0.x branch ?

[2016-09-30 08:53] tugrul commented on #12273
3.0.x has too buggy with PHP 5.6. so many seg faults. I can't waste my time with 3.0.x

[2016-09-30 08:57] Jurigag commented on #12273
You can use php 7.

[2016-09-30 09:05] tugrul commented on #12273
@Jurigag it is not easy in corporate business. PHP 7 is too young and we can't deal other problems like other php module incompatibility or old codebase incompatibility

http://php.net/manual/en/migration70.incompatible.php

[2016-09-30 09:06] Jurigag commented on #12273
Too young ? It's almost 10 months men.

[2016-09-30 09:12] Besedin86 commented on #12111
Have the same problem. When using HAVING in QueryBuilder, pagination execute wrong query. That's why we have to use subquery for true pagination results as @Jurigag wrote above.

[2016-09-30 09:27] Jurigag commented on #12111
As i wrote. Pagination executes PROPER QUERY. Just having works AFTER selecting, count etc. This is not a bug as it is.

[2016-09-30 10:06] sergeyklay commented on #12273
@tugrul Could you please provide an example what exactly does not work for you with Phalcon 3.0.0 and PHP5?

[2016-09-30 10:07] sergeyklay commented on #2648
@Jurigag

[2016-09-30 10:08] sergeyklay commented on #3157
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-09-30 10:08] #3157 closed

[2016-09-30 10:08] sergeyklay commented on #10745
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-09-30 10:08] #10745 closed

[2016-09-30 10:08] sergeyklay commented on #11780
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-09-30 10:08] #11780 closed

[2016-09-30 10:09] sergeyklay commented on #11794
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-09-30 10:09] #11794 closed

[2016-09-30 10:11] Jurigag commented on #2648
Will check this on weekend maybe.

[2016-09-30 10:11] geoidesic commented on #3157
Hi guys.. sorry but I gave up on Phalcon. Just seems impossible to work with since I can't figure out how to debug when the framework is not available as code for inserting debug prods into. It may run fast but seems impossibly slow to develop with as a result.

[2016-09-30 10:12] sergeyklay commented on #10740
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises and providing a minimal script to reproduce.

[2016-09-30 10:12] #10740 closed

[2016-09-30 10:12] sergeyklay commented on #10873
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-09-30 10:12] #10873 closed

[2016-09-30 10:19] sergeyklay commented on #3158
Many Phalcon components (for example `Phalcon\Mvc\Dispatcher`) is able to send events to an `EventsManager` if it is present: https://docs.phalconphp.com/en/latest/reference/dispatching.html

For debugging and logging purposes you have to create your own event handler.

[2016-09-30 10:19] #3158 closed

[2016-09-30 10:56] dugwood commented on #3157
At the very least you could have done what I've suggested... Almost everything is available to dump, which helps to detect issues. I've fixed some on the bugs myself for minor ones, with pull requests. Since then (was a while back ago on version 2 beta), I didn't have any issue. And as everyone, I do it for free, because I care. So don't say it's impossible without even trying.

[2016-09-30 11:00] cbichis opened #12274 "Flash\Direct to render on layout"
It seems to be no way to render the Flash\Direct messages directly to layout.

Is quite an obvious approach to have on layout (let's say below the h1 page title) an area to display these messages.

Using Flash\Session is possible to render on layout, but not with \Flash\Direct which can be done only on view, using $this->getContent();

[2016-09-30 11:02] cbichis commented on #12274
I tried using also the 2.0 method output() but this doesnt seems to do anything on layout.

[2016-09-30 11:05] sergeyklay commented on #3157
@dugwood Quoted you in my bio on Github

[2016-09-30 11:06] sergeyklay commented on #12274
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2016-09-30 11:12] cbichis commented on #12274
That's a feature request, as it seems is no way to do this.

[2016-09-30 11:41] tugrul commented on #12273
@sergeyklay published a branch on my invo fork `addText` and `addVideo` actions don't have layout output due to view pick. `addEvent` doesn't have problem without view pick.

[2016-09-30 11:57] geoidesic commented on #3157
Apologies.. it wasn't intended to offend. I was just trying to inform you that I've stopped spending time on Phalcon and why. I'm sure it is possible – however I wasn't able to achieve it in the time window I had and with the information available to me at that time... thus "it *seems* impossibly slow to develop with...".

[2016-09-30 12:04] dugwood commented on #3157
I do understand. Every CMS needs some time to learn, and if you don't have that time, sometimes it's easier to avoid using one. The thing is that you opened a bug, asked for help, but didn't answer back. I've answered a little bit late (holidays...), spent time on your issue (yeah, just 2 minutes I agree), as @sergeyklay did, and it just ends without feedback.
Anyway, if you want to give it a try

[2016-09-30 13:00] tempcke commented on #11794
Sorry, by the time @Jurigag asked me to check 3.x I had already made a work around and was still on v2.x .. Then I had forgot about this ticket.

I am running 3.x now though and re ran the simplified test above and it seems to have fixed the issue.

Thanks

[2016-09-30 13:52] Jurigag opened #12275 "[NFR]Callback validator"
I have idea to add Callback validator which would be called and can return either false/true or new Validator. There is some example how it would work:

[code]

With this we could keep validation in model, but seperate some custom logic to check if add certain validator for example to some other method, or pretty much quickly validate model/data for anything and anyhow, like for example if we want

[2016-09-30 19:39] sergeyklay commented on #12267
Fixed. You have to update Phalcon from the `3.0.x` branch:

[code]

[2016-09-30 19:39] #12267 closed

[2016-09-30 20:01] sergeyklay commented on #10378
Introduced in v3.0.0

[2016-09-30 20:01] #10378 closed

[2016-09-30 20:02] sergeyklay commented on #11601
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-09-30 20:02] #11601 closed

[2016-09-30 20:04] #11550 closed

[2016-09-30 20:09] Izopi4a commented on #12270
for multi module app - no.
Its doable by your own but i am not sure its worth the while

[2016-10-01 10:44] Jurigag commented on #2648
Fixed in 3.0.x https://github.com/phalcon/cphalcon/pull/12277

[2016-10-01 10:57] #2648 closed

[2016-10-01 17:59] sergeyklay commented on #12099
@Studentsov
Why did you decide that the `Phalcon\Tag::resetInput` should reset `$_POST`? Could you please explain a bit more?

As correctly noted @SidRoberts in #12227 the `Phalcon\Tag::resetInput` shouldn't reset `$_POST`. It should only reset parameters within the `Phalcon\Tag` object.

I agree that we have variances in the documentation about this method, and it was used in an unsuccessful atte

[2016-10-01 18:11] Studentsov commented on #12099
Implementation of `Phalcon\Forms\Form::clear` depends on the state of the `Phalcon\Tag`

[2016-10-01 18:18] Jurigag commented on #12099
Where - https://github.com/phalcon/cphalcon/blob/master/phalcon/forms/form.zep#L663

[2016-10-01 18:20] Studentsov commented on #12099
https://github.com/phalcon/cphalcon/blob/master/phalcon/forms/element.zep#L507

[2016-10-01 18:21] Jurigag commented on #12099
So what ? Still it shouldn't reset `$_POST`.

[2016-10-01 18:22] sergeyklay commented on #12099
@Studentsov But `Phalcon\Forms\Element::clear` not doing anything with `$_POST`

[2016-10-01 18:24] Studentsov commented on #12099
https://github.com/phalcon/cphalcon/blob/master/phalcon/tag.zep#L258
https://github.com/phalcon/cphalcon/blob/master/phalcon/tag.zep#L321
just try to clean form

[2016-10-01 18:27] Jurigag commented on #12099
https://github.com/phalcon/cphalcon/blob/master/phalcon/tag.zep#L333 oh okay, here you right.

[2016-10-01 18:32] niden commented on #12099
@sergeyklay and I had a discussion and this is how this must work:

- `$_POST` or `$_GET` **must not** be manipulated by the framework
- `Phalcon\Tag::resetInput()` must clear only the input of the `Phalcon\Tag` object and not the `$_POST`
- `Phalcon\Forms\Element::clear()` must clear only the form elements and not the `$_POST`

[2016-10-01 18:34] Jurigag commented on #12099
So also this 333 line can't get value form `$_POST`.

[2016-10-01 18:36] Studentsov commented on #12099
I'm glad such a rapid discussion of architecture, but I just have to clear the form :D
I think you can change the title of issue

[2016-10-01 18:37] sergeyklay commented on #12099
@Studentsov I'll implement clearing forms without clearing `$_POST`

[2016-10-01 19:53] sergeyklay commented on #12099
@Studentsov Could you please take a look at #12280? In general this is what you need. Right?

[2016-10-01 20:02] sergeyklay commented on #12165
@Semihal Could you please take a look at #12280? In general this is what you need. Right?

[2016-10-01 22:09] sergeyklay commented on #11978
@cirot87 Could you please take a look at https://github.com/phalcon/cphalcon/pull/12280

[2016-10-01 22:20] #12268 closed

[2016-10-01 22:27] SidRoberts commented on #12268
isAllowed() should return a Boolean because were effectively asking a question: is this allowed - yes or no? (I was the one who made this change in #3311. Before, the method returned integers and booleans - it was crazy). I'll update the documentation in the morning.

[2016-10-01 23:01] stamster commented on #12273
I always use `pick()` method for such needs.

Looking at the behavior of both `setLayout()` and `pick()`, how they're suppose to work together in harmony, in other words what do you want to achieve?

[code]

[2016-10-02 00:24] sergeyklay commented on #10116
@DestinyMKas The issue is still present?

[2016-10-02 00:50] sergeyklay commented on #11978
Could you please check 3.0.x branch?

[code]

[2016-10-02 00:50] #11978 closed

[2016-10-02 00:50] sergeyklay commented on #12165
Fixed in `3.0.x` branch.
Could you please check `3.0.x` branch?

[code]

[2016-10-02 00:50] #12165 closed

[2016-10-02 00:51] sergeyklay commented on #12099
Fixed in `3.0.x` branch.
Could you please check `3.0.x` branch?

[code]

[2016-10-02 00:51] #12099 closed

[2016-10-02 00:51] sergeyklay commented on #10044
Fixed in `3.0.x` branch.
Could you please check `3.0.x` branch?

[code]

[2016-10-02 00:51] #10044 closed

[2016-10-02 01:31] OMSmolina opened #12284 "Add generated files /ext to .gitignore"
Actually every contributor need to ignore all generated files, this is for every one before send a PR. For this in PR Template has this 2 points:
- Phalcon is written in Zephir, please do not submit commits that modify C generated
    files directly or those whose functionality/fixes are implemented in the C
    programming language
- Remove any change to ext/kernel / *.zep.c / *.zep.h files befor

[2016-10-02 08:40] Semihal commented on #12165
Yes, thank you

[2016-10-02 13:40] tugrul commented on #12273
@stamster there is a shared layout on reporting pages like setting date range or kind of product. I needed to print report by different criteria on same table structure. Also table structure can be different by report. Table structure not same each report and i cant put in same view filtering header and table structure in same view file.

You were right if i made simple blog application xD

I can

[2016-10-03 18:37] sergeyklay commented on #12270
Of course it is possible in Phalcon. You just did not read carefully the documentation.

We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2016-10-03 18:37] #12270 closed

[2016-10-04 10:49] udarkness commented on #12221
@sergeyklay  Actually what @xerron needs, is only:
$adapter = $this->config->database->adapter ?: 'Mysql' ;
Not PHP7 ?? required for this, just the classic Elvis operator ?:

[2016-10-04 12:07] Jurigag opened #12288 "[4.0.0]Change catch Exception to Throwable, drop PHP 5 support"
- Change all `catch \Exception` to `catch \Throwable` in `Phalcon\Dispatcher`, `Phalcon\Micro`, `Phalcon\Pdo\Postgresql`
- This means drop php 5 support

[2016-10-04 12:19] Jurigag opened #12289 "[NFR][PHP 7]beforeThrowable, beforeError in dispatcher"
In php 7 there was added `Throwable` interface. We need to in dispatcher and micro, add option to catch throwable(so errors too). Im thinking how to do this exactly, there is my idea:
- just add new event `beforeThrowable` and catch all `Throwable`, if there is some handler attached to this event then use it
- if there is no handler attached to this event then if it's exception we will just pass i

[2016-10-04 18:29] virgofx commented on #12289
Dont think this is necessary. Just update all exceptions to throwables when 4.0 is ready --- although this is way down the road.

[2016-10-04 20:41] sergeyklay commented on #12221
@udarkness Related to https://github.com/phalcon/cphalcon/issues/11157

[2016-10-04 21:04] Jurigag commented on #12289
But 4.0 will be like in few years.

[2016-10-04 21:23] cbichis commented on #11454
This bug exists on 3.0.1 also.

[2016-10-05 07:12] cbichis commented on #2890
Yes, I confirm this as a bug, your fix seems to work fine for now.

[2016-10-05 09:30] stamster opened #12290 "Issues 5,000+ GitHub bug?"
This is odd, repository showing 5000+ issues (opened I guess) which does not reflect real state if you sum opened and closed issues there's no 5000 in total.

[2016-10-05 09:39] mzf commented on #12290
It is Schrödinger issues

[2016-10-05 10:20] andrew-demb commented on #11007
Up.
This will be very helpful for development, but if now implement the feature it can break some applications.

@andresgutierrez, can you give us a feedback about this?

[2016-10-05 10:38] alec-w commented on #12290
If you go to the issues tab and remove the filter then it shows there as being 737 open issues and 5013 closed. Seems to be including all the closed pull requests. [https://github.com/phalcon/cphalcon/issues?utf8=%E2%9C%93&q=](https://github.com/phalcon/cphalcon/issues?utf8=%E2%9C%93&q=)

[2016-10-05 10:46] stamster commented on #12290
New features @GitHub sux.

[2016-10-05 12:47] Jurigag commented on #12289
So please change it to 3.1.0 maybe @sergeyklay because i want add this to 3.1.0

[2016-10-05 13:03] sergeyklay commented on #12289
@Jurigag Could you please explain a bit more. Provide pseudocode

[2016-10-05 13:05] virgofx commented on #12289
You can still handle errors manually Jurigag. Changing the framework will break backwards compatibility. This should be implemented in dispatcher as well as across the board for all pieces of code when Phalcon goes minimum of PHP7. I'm not sure what milestone this will be ... maybe a year out or so with v4 or v5.

Right now.. you can simply ` catch (Throwable $t)` in your application code.

[2016-10-05 13:12] Jurigag commented on #12289
No, it won't break a framework.

``php
$eventsManager->attach('dispatcher:beforeException', function(Event $event, Dispatcher $dispatcer, Exception $exception) {
 // handle exceptions only
});
$eventsManager->attach('dispatcher:beforeThrowable', function(Event $event, Dispatcher $dispatcer, Throwable $throwable) {
 // handle throwables only
});
$eventsManager->attach('dispatcher:beforError', funct

[2016-10-05 13:16] PJosepherum opened #12291 "REST API documentation does not use new validation class"
While trying to implement validation in a model for a REST API, I didn't realise that validation had changed in 3.0.x, as the documentation is still using the old classes `Phalcon\Mvc\Model\Validator` rather than `Phalcon\Validation\Validator`.

[2016-10-05 13:24] Jurigag commented on #12291
This is docs issue https://github.com/phalcon/docs

[2016-10-05 13:27] virgofx commented on #12289
Juri, this is the **wrong** solution. One your solution hurts performance. Correct solution is to handle this everywhere in code without extra handle event checks, upgrading all exceptions to throwables.

[2016-10-05 13:27] Jurigag commented on #12289
How it hurts performance ?

[2016-10-05 13:29] virgofx commented on #12289
These checks to handle instanceof should be done in application land ... not core land. I have benchmarks since I've already rewritten the dispatcher in my current branch because your latest updates to dispatcher have broken in on 3.x PHP5.6

[2016-10-05 13:30] Jurigag commented on #12289
http://sandbox.onlinephpfunctions.com/code/728e83f93ac8774389234188ff7946d13cc8ba0e

Here you have benchmarks. Are we really gonna care about 0.001 second in 10000 for loop ?

[2016-10-05 13:32] virgofx commented on #12289
It's also the wrong approach for solving this solution. Like I said this should be handled in application-land. End of story.

[2016-10-05 13:32] Jurigag commented on #12289
Not it shouldn't. It's already handled in framework for exception so why not errors and throwables ? I don't quite understand.

[2016-10-05 13:33] virgofx commented on #12289
So this issue can be closed and a new one to make Phalcon support PHP7 only can be created.

[2016-10-05 13:33] Jurigag commented on #12289
Because ? You wrote it ? As i wrote - it can be done without literally no performance degredation to support both php5 and php7.

[2016-10-05 13:35] virgofx commented on #12289
We're not going to mix in more if/else/instanceof checks to handle situations for specific versions in code Phalcon code. Not going to happen. Zephir -- we'll use macros. Not in Phalconland. We avoid this by minimum compatibility and upgrading the core application as necessary. When Phalcon drops php5 support, throwables will be supported then.

You can handle this **manually** now with no change

[2016-10-05 13:36] Jurigag commented on #12289
But there will be noe if/else/instanceof check for SPECIFIC VERSIONS.

[2016-10-05 13:37] virgofx commented on #12289
There will, you're pseudo code doesn't work for versions of PHP < 7

[2016-10-05 13:37] sergeyklay commented on #12289
[code]

will throw exception in zephir for php 5

[2016-10-05 13:38] sergeyklay commented on #12289
[code]

the same

[2016-10-05 13:39] virgofx commented on #12289
Well ... at a minimum it introduces ambiguity that should be handled globally since we handle exceptions everywhere.

[2016-10-05 13:39] virgofx commented on #12289
And the signature will change breaking BC so it should be a major release and this change should be applied across board for all exceptions like I said earlier.

[2016-10-05 13:40] Jurigag commented on #12289
[code]

you will just not add this for php 5 anway because Throwable don't exist in php 5

`} catch \Throwable, e {`

Well, it's not my problem if zephir don't support this.

[2016-10-05 13:41] #12291 closed

[2016-10-05 13:42] sergeyklay commented on #12289
This is why this is 4.0.0 milestone

[2016-10-05 13:42] Jurigag commented on #12289
No 4.0.0 milestone is this:

https://github.com/phalcon/cphalcon/issues/12288

Just only beforeThrowable.

[2016-10-05 13:44] sergeyklay commented on #12289
We cant implement beforeThrowable now. We can use Throwable in Zephir for PHP 5

[2016-10-05 14:16] Jurigag commented on #12289
Yes we can - https://travis-ci.org/phalcon/cphalcon/builds/165241576

[2016-10-05 14:22] sergeyklay commented on #12289
Yes, as I can see - this problem was recently solved in Zephir project

[2016-10-06 08:10] Zaszczyk opened #12294 "[3.0.1] Dependency injection - Argument at position 0 must have a type"
I found problem with nested dependency injection. I have such configuration:

[code]
And Phalcon throw exception when I execute:
`$this->getDI->get('Activity\ActivityAddingService');`

Exception:

However when I remove argument from Activity\ActivityParameterService, like that:

[code]
I found line with exception: https://github.com/phalcon/cphalcon/blob/23b4100faa3ef91863d7f05de3f1c7a450cd52bc/ph

[2016-10-06 11:51] andrew-demb commented on #12294
The value of `arguments` in definition service must be an array of arrays.
Now it's only one-dimensional array.

[2016-10-06 13:44] antonienko commented on #1036
+1

[2016-10-06 14:24] Zaszczyk commented on #12294
@andrew-demb damn me... thanks!

[2016-10-06 14:24] #12294 closed

[2016-10-06 15:43] Jurigag commented on #1036
Controller in micro application is just some generic class for storing methods. Controller as itself is NEVER created when executing your action.

This needs to rewrite whole micro and probably introduce dispatcher to micro. This will just slow down application.

Not sure also why you need it. Controller extends Injectable, so you can access any service without any problem.

[2016-10-06 17:15] sergeyklay opened #12295 "Container interface (PSR-11)"
Phalcon's DI must be fully compatible with [Container interface (PSR-11)](https://www.php-fig.org/psr/psr-11/) for v4.0.0

---

Refs:
- https://github.com/phalcon/cphalcon/pull/13437

[2016-10-06 18:02] virgofx commented on #12295
How would this be implemented? Create similar container interface or would Phalcon somehow import/reference Psr* packages?

[2016-10-06 18:13] sergeyklay commented on #12295
I need research best way

[2016-10-06 19:36] Jurigag commented on #12295
@virgofx the same question is for psr request i guess

[2016-10-06 20:39] dercoder opened #12296 "Phalcon\Mvc\Model::validate() docs are not up to date"
I am trying to use model validation like here:
https://docs.phalconphp.com/en/latest/api/Phalcon_Mvc_Model_Validator_Uniqueness.html

Code:
[code]

This is the error message:
[code]

* Phalcon version: 3.0.1
* PHP Version: 7.0.11
* Installation type: Compiling from source

[2016-10-06 20:47] dercoder commented on #12296
This code is working fine. I think you have to update your docs:

[code]

[2016-10-06 21:04] Jurigag commented on #12296
[code]

JUST:

[code]

[2016-10-06 21:06] dercoder commented on #12296
Ok, thx

[2016-10-06 23:23] sergeyklay commented on #12296
For doc related issues use please https://github.com/phalcon/docs repo

[2016-10-06 23:23] #12296 closed

[2016-10-06 23:24] #3227 closed

[2016-10-07 09:19] Jurigag commented on #12290
Well in my opinion it shouldn't it should only say opened issues imho. I reported it to github.

[2016-10-07 09:57] SidRoberts commented on #12295
I personally find this PSR a bit vague (it only has two methods) so I don't think it's absolutely essential that Phalcon should actually implement the interface. I think just following the spec should be enough.

Two things I'd like to recommend:

* Be able to specify dependencies/services in classes instead of anonymous functions (see https://github.com/SidRoberts/container for a working example)

[2016-10-07 12:07] sergeyklay commented on #12290
I hope this will be fixed soon

[2016-10-07 12:09] Zaszczyk opened #12299 "Connection reset when DI has more than 10 arguments"
I create service in DI:

[code]

It works perfect until I set 11 arguments, it such situation I got Connection Reset/ERR_EMPTY_RESPONSE. I got errors only when call this service:
`$this->getDI()->get('Company\TariffService');`
How can I debug it?

PHP 5.6
Phalcon 2.1.x
Ubuntu 14.04

[2016-10-07 12:55] SidRoberts commented on #11887
By the way, [Phalcon\Mvc\Collection still uses the old model validators](https://github.com/phalcon/cphalcon/blob/v3.0.1/phalcon/mvc/collection.zep#L647).

[2016-10-07 13:13] Jurigag commented on #12299
If using php-fpm(possibly you need to source something too like in apache below).

[code]

if you are using apache2 php handler:

[code]

refresh your browser
it should tell you in gdb that execution stoped unexpectedly or something, write bt and post result of it here

Connection reset most likely means seg fault or something similar, if this don't work then just check https://bugs.php.net/bugs-g

[2016-10-07 13:14] Jurigag commented on #11887
Yea, we need to mark it as deprecated, possibly add option to use both validation ways and remove old validation in 4.0.0.

[2016-10-07 13:45] Jurigag commented on #12098
[code]

[2016-10-07 22:16] NX49 opened #12300 "About the route short paths"
I have been recently setting-up some routes for the multi-module application using the short paths syntax, which made me thinking, that the parsing is somewhat unlogical.

For example, lets have a group, which is assigned to some module and controller:

[code]

Lets say, we want this group to have routes for that specific controller only.
We will be using {named} parameters only, so the only varyi

[2016-10-09 20:11] Zaszczyk commented on #12299
Backtrace:
#0  0x00007ffff3ce309d in zend_hash_get_current_data_ex () from /usr/lib/apache2/modules/libphp5.so
#1  0x00007fffe1ef3ce3 in zephir_create_instance_params.isra () from /usr/lib/php5/20131226/phalcon.so
#2  0x00007fffe1fe3e3e in zim_Phalcon_Di_Service_Builder_build () from /usr/lib/php5/20131226/phalcon.so
#3  0x00007ffff3cc3b0b in dtrace_execute_internal () from /usr/lib/apache2/module

[2016-10-09 20:28] sergeyklay commented on #12299
The 2.1.x branch is not longer supported. Could you please try v3?

[2016-10-09 20:45] Fenikkusu commented on #12166
As a temporary solution to this, you are able to override the static find method on the model in question and force it to return the resultset you wish (return new Resultset('model', parent::find(...)); or something to that effect. I forget the exact logic I've used to acomplish this. It's hacky but gets the trick done.

[2016-10-09 21:24] Zaszczyk commented on #12299
@sergeyklay @Jurigag ok, it works on v3 and PHP7. I created repo to reproduce this error: https://github.com/Zaszczyk/vokuro. It is needed to run indexAction in indexController.

[2016-10-09 21:28] stamster commented on #12299
https://github.com/phalcon/cphalcon/releases is your friend.

[2016-10-10 03:03] leoangel opened #12301 "remove"

[2016-10-10 03:49] #12301 closed

[2016-10-10 06:52] dreamsxin commented on #12055
Can upgrade zephir, rebuild phalcon it's ok.

[2016-10-10 08:57] remicollet commented on #12055
Still broken with latest zephy snapshot (22f6632)

Build
[code]

Load:
`PHP Warning:  PHP Startup: Unable to load dynamic library '/builddir/build/BUILDROOT/php-phalcon3-3.0.1-1.fc23.remi.7.1.x86_64/usr/lib64/php/modules/phalcon.so' - /builddir/build/BUILDROOT/php-phalcon3-3.0.1-1.fc23.remi.7.1.x86_64/usr/lib64/php/modules/phalcon.so: undefined symbol: zend_generator_create_zval in Unknown on line

[2016-10-10 12:49] maeika opened #12303 "Phalcon\Dispatcher::dispatcher() method's wasFresh variable"
[code]

The Controller::initialize() method executed twice in the same controller

[2016-10-10 12:50] Izopi4a commented on #899
+1

[2016-10-10 13:05] Jurigag commented on #12303
Please fix markdown.

[2016-10-10 16:06] virgofx commented on #12303
@Jurigag I have wasFresh fixed also in upcoming dispatcher changes with tests.

[2016-10-10 19:56] davihu commented on #12096
Hello @Jurigag and @sergeyklay,

look like everything is working now, using last nightly build phalcon_3.0.2-148 and zephir 0.9.4a-dev-7e304ba18c

Thanks a lot.

[2016-10-10 21:06] davihu commented on #12096
So, I tested it a bit more and there is still one case, when it is not working.
When you globally enable

phalcon.orm.cast_on_hydrate = On

then it is not working and it is returning that error. Bwt. cast_on_hydrate is very good for JSON APIs when you anable it, you can directly return results and numbers are numbers, strings are strings and bools are bools, otherwise its all string.

[2016-10-10 21:10] Jurigag commented on #12096
Only if you are not using mysqlnd(and you have stringify enabled in db connection) all are strings. Im not using cast_on_hydrate and have numbers returned from database.

[2016-10-10 21:51] sergeyklay commented on #12096
Well, for `cast_on_hydrate` create please separated issue with script to reproduce

[2016-10-10 21:51] #12096 closed

[2016-10-11 00:54] dreamsxin commented on #12055
@remicollet Whether delete `ext/kernel` directory in phalcon source

[2016-10-11 05:32] remicollet commented on #12055
@dreamsxin same error.

[2016-10-11 05:40] sergeyklay commented on #12055
@dreamsxin https://github.com/phalcon/zephir/issues/1337

[2016-10-11 10:58] DeathKR opened #12305 "404 with ':'"
### Expected and Actual Behavior

There is a mistake in phalcon/http/response/headers.zep in send() function.
It's always add ':' at the end of main HTTP header:

[code]

[code]
### Details

* Phalcon version: 3.0.1
* PHP Version: PHP 7.0.11-1~dotdeb+8.1
* Operating System: Debian 8.6
* Installation type: from source
* Zephir version (if any): Version 0.9.4a-dev-7e304ba18c
* Server: Nginx

[2016-10-11 11:11] sergeyklay commented on #12305
Fixed in the `3.0.x` branch.

Refs: https://github.com/phalcon/cphalcon/issues/12179

[2016-10-11 11:11] #12305 closed

[2016-10-11 13:08] Zaszczyk commented on #12299
@Jurigag @sergeyklay i'm sorry but something in the air. I came back to this task and switched to machine with PHP7 and got same error this time. So I executed Jurigag's procedure and got:

[2016-10-11 15:07] Jurigag commented on #12299
This stack is useless.

[2016-10-11 18:24] JSONValidator opened #12306 "setJsonContent return strings only"
[code]

Result:
[code]

Why updated_time is string? In mysql updated_time is bigint(20)

[2016-10-11 18:37] Jurigag commented on #12306
1. Do you have mysqlnd driver installed ?
2. Do you have stringify disabled in db connection options like:
[code]

3. Another way is to use cast on hydrate i guess.

4. Also instead of `"updated_time" => $settings->updated_time` do:

[code]

[2016-10-11 18:42] sergeyklay commented on #12306
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2016-10-11 18:42] #12306 closed

[2016-10-11 23:12] dreamsxin commented on #12055
@sergeyklay Get it.

[2016-10-12 13:17] sergeyklay commented on #12290
Fixed

[2016-10-12 13:17] #12290 closed

[2016-10-12 15:35] ruudboon commented on #2349
Any updates regarding this NFR? If nothing is done yet I would like to give it a try using the incubator.

[2016-10-13 17:22] makerlabs commented on #12258
Form embeding is the proper approach but it's still missing. I've created an extended version of form component which supports this behavior if u like I can share it.

[2016-10-13 17:26] Jurigag commented on #12299
Well on php 7 i couldn't manage to get any stacktrace which could tell anything. On php 7 there is this:

[code]

@andresgutierrez any idea ? I will try to reproduce a problem in zephir only.

[2016-10-13 19:56] cbichis opened #12315 "Autodetect URL params"
Hi,

I get used with the way ZF is working with auto-detecting URL parameters from current matched route. This is definetly missing on Phalcon. Let me explain

[code]

Now, if I try to create an url using I need to supply the language from dispatcher.

[code]

This is quite consuming and I suggest to detect the missing route params from current matched route...

[2016-10-14 08:09] udarkness opened #12316 "Tag: Checkbox cannot have value 0 and be checked"
Expected:

[code]

Actual:

[code]

Checkbox and probably other _inputFieldChecked cannot have the value "0" (that is a valid value in the HTTP, HTML and PHP).

[code]
- Phalcon version: Version => 3.0.1

Check this line:
https://github.com/phalcon/cphalcon/blob/master/phalcon/tag.zep#L538
And the reference https://docs.zephir-lang.com/en/latest/operators.html#comparison-operators
Zephir keeps the

[2016-10-14 12:53] sergeyklay commented on #12055
@remicollet Could you please try now by using the latest Zephir from `master` branch?

[2016-10-14 13:32] remicollet commented on #12055
Tagged version 3.0.1 NTS  build fine with latest zephyr (0.9.4 rev 23856e1)
[code]

But not the ZTS one
[code]

Strange... no error message...

[2016-10-14 13:35] Jurigag commented on #12055
Did you compile phalcon for zts ?

[2016-10-14 13:40] remicollet commented on #12055
Yes, like all other >160 extensions I build ;)

[2016-10-14 13:41] Jurigag commented on #12055
Then check any logs maybe ? Maybe some seg fault or something.

[2016-10-14 13:57] remicollet commented on #12055
This also happen for NTS build on some distro (RHEL-6 and 7, not on Fedora...)

[2016-10-14 14:01] Jurigag commented on #12055
Anything in logs ?

[2016-10-14 14:06] remicollet commented on #12055
Read previous comments => "no error message."

[2016-10-14 14:07] Jurigag commented on #12055
I wasn't asking for error message, i was asking for logs, like syslog etc.

[2016-10-14 20:43] Mo121Montazeri commented on #12034
if "&" or "?" exist in URL. route doesn't work correctly.
@Jurigag @sergeyklay

[2016-10-14 20:47] sergeyklay commented on #12034
@Mo121Montazeri Could you please open a new issue with minimal script to reproduce

[2016-10-14 20:47] Mo121Montazeri commented on #12034
ok @sergeyklay

[2016-10-14 21:00] sergeyklay commented on #12153
@Jurigag This might be fixed with preserving backward compatibility

[2016-10-14 21:00] sergeyklay commented on #12153
@bkirova I'll fix it ASAP

[2016-10-14 21:03] dschissler commented on #12252
Maybe the issue title isn't so good?

[2016-10-14 21:13] dschissler commented on #11926
Just for reference sake Vokuro has been using the new 3.0 capable style for a few months now without issue: https://github.com/phalcon/vokuro/blob/9573515fee52aceb7873762ecc12a5dd2c9ef554/app/config/services.php#L52

[2016-10-14 21:14] dschissler commented on #11743
Is anyone still getting this issue or should I close it?

[2016-10-14 21:16] dschissler commented on #2872
I'm closing this issue because it is something that can easily be solved by adopting the above `volt`, `voltShared` convention.

[2016-10-14 21:16] #2872 closed

[2016-10-14 21:32] #11743 closed

[2016-10-15 11:15] sergeyklay commented on #12153
Fixed in the `3.0.x` branch.

[code]

[2016-10-15 11:15] #12153 closed

[2016-10-15 17:58] Jurigag opened #12324 "[3.1.x]Model binding for micro, current state of it"
Well i wanted to add model binding for micro. But after some talking with @sergeyklay and looking into code of it right now it's adding too much overhead. Also adding it for micro means add it actually to two places - micro class https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/micro.zep and lazy loader https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/micro/lazyloader.zep so

[2016-10-15 18:13] sergeyklay commented on #12324
👎  for static

[2016-10-15 18:14] Jurigag commented on #12324
Yea i think i will add it just as seperated class with normal method and construct which will accept cache object/service name so it will stay as class forever anyway.

[2016-10-16 07:27] Jurigag commented on #12324
Also i think i will add option to bind multiple params.

[2016-10-16 11:03] bain2018 opened #12326 "session use redis Adapter can't to destroy the data in php7"
when i use the redis as the session Adapter;
i can't  destroy all of the session data
phalcon 3.0.1
php 7

[2016-10-16 14:04] DeathKR opened #12327 "Non-expiring cache keys"
Can't set a non-expiring keys in Redis. Lifetime =-1 does not help.
### Expected and Actual Behavior

[code]

### Details
- Phalcon version: 3.0.1
- PHP Version: PHP 7.0.11-1~dotdeb+8.1 (cli) ( NTS )
- Operating System: Debian
- Installation type: Compiling from source
- Zephir version (if any): Version 0.9.4a-dev-7e304ba18c
- Server: Nginx

[2016-10-16 14:20] Jurigag commented on #12327
Because it should be more likely 0.

[2016-10-16 15:08] DeathKR commented on #12327
With '0' keys expire at once. I can set 10 years, but it's not solution. I dont't want to Redis was constantly checking the keys that should be always. This is unnecessary CPU operation.

[2016-10-16 15:32] Jurigag commented on #12327
I checked and saving in memcache with lifetime 0 works fine.

[2016-10-16 15:56] DeathKR commented on #12327
Sorry, may be for memcached need always store ttl.

[2016-10-16 15:56] #12149 closed

[2016-10-16 15:57] sergeyklay commented on #12149
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-10-16 15:59] sergeyklay commented on #10748
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-10-16 15:59] #10748 closed

[2016-10-16 15:59] sergeyklay commented on #10989
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-10-16 15:59] #10989 closed

[2016-10-16 16:01] sergeyklay commented on #11073
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-10-16 16:01] #11073 closed

[2016-10-16 16:01] sergeyklay commented on #10928
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-10-16 16:01] #10928 closed

[2016-10-16 16:02] sergeyklay commented on #11100
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-10-16 16:02] #11100 closed

[2016-10-16 16:02] #12168 closed

[2016-10-16 16:03] sergeyklay commented on #10779
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-10-16 16:03] #10779 closed

[2016-10-16 16:03] sergeyklay commented on #10839
I'll try to sort out

[2016-10-16 16:04] sergeyklay commented on #10781
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-10-16 16:04] #10781 closed

[2016-10-16 16:05] sergeyklay commented on #11118
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-10-16 16:05] #11118 closed

[2016-10-16 16:06] sergeyklay commented on #11166
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-10-16 16:06] #11166 closed

[2016-10-16 16:06] #11206 closed

[2016-10-16 16:07] sergeyklay commented on #11263
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-10-16 16:07] #11263 closed

[2016-10-16 21:52] sergeyklay commented on #12254
@kunloon Ping

[2016-10-17 01:07] kunloon commented on #12254
@sergeyklay sorry, i use it in windows, and i don't know how to build 3.0.x as dll.

[2016-10-17 04:00] AlexDRiVER commented on #11100
`queryKeys` method return empty array if force is not written prefix.

RU
Метод `queryKeys` возвращает пустой массив если принудительно не указан префикс. Получается странная работа адаптера, где-то как например в `save` и `get` указывать префикс не надо, а в `queryKeys` надо, при этом `queryKeys` возвращает массив содержаший значения с префиксом и например для удаления значения через `delete` при

[2016-10-17 05:26] sergeyklay commented on #11100
https://github.com/phalcon/cphalcon/blob/master/phalcon/cache/backend/redis.zep#L332

[2016-10-17 07:28] viyancs commented on #12258
@makerlabs Thanks for Suggestion, can u share here so we can discuss and make this issue solve maybe.

[2016-10-17 08:13] rchockxm opened #12329 "Fatal error between two pages"
I have read this article from [https://github.com/phalcon/cphalcon/issues/12056](url)

### Expected and Actual Behavior

A: test.php

[code]

B: test_phalcon.php

[code]

And response show the error.

[code]

If I just simply use the `file_get_contents` function in `test.php`

[code]

Everything will be fine.

[code]

There is no problem with PHP 5.6.19.

What should I do?

### Details

* Phalcon

[2016-10-17 08:24] Jurigag commented on #12329
This is known bug with windows. To fix this you need to use one of this:

- vagrant/docer + linux
- nginx + php-cgi
- apache + php-cgi

The problem is only with apache and his php handler. If using php-cgi problems disappear.

[2016-10-17 08:34] rchockxm commented on #12329
Hi, Jurigag,

I've changed my test environment to CentOS 7.

Thank you

[2016-10-17 08:36] Jurigag commented on #12329
No problem, just tbh we not sure what really is causing it, be cause it works on php-cgi, it must be some bug with apache php handler itself. Sine by default wamp and xampp are coming with php-cgi is waste of resources and time to trying to fix this.

[2016-10-17 09:41] rchockxm commented on #12329
Yes, our production environment is use CentOS 7+ Nginx + PHP-FPM. I just want to confirm there is a new bug or my code question.

Thanks you for your kindly support.

[2016-10-17 09:44] lujunjie521 opened #12330 "When use the Simple View , there has an error: Call to undefined method ::start()"
in the index.php, i register two module:
    $application->registerModules(
        array(
            'admin'  => array(
                'className' => 'Multiple\Admin\Module',
                'path'      => '../apps/admin/Module.php',
            ),
            'api' => array(
                'className' => 'Multiple\Api\Module',
                'path'      => '../apps/api/Module.php',

[2016-10-17 09:52] Jurigag commented on #12329
This is a not new bug, it was already reported many times.

[2016-10-17 09:53] Jurigag commented on #12330
More info ? OS, php version, phalcon version etc ? Follow issue template pls.

[2016-10-17 10:04] sergeyklay commented on #12329
@Jurigag Could you provide link to the opened issue

[2016-10-17 10:05] Jurigag commented on #12329
https://github.com/phalcon/cphalcon/issues/12056

[2016-10-17 10:06] sergeyklay commented on #12329
Thanks

[2016-10-17 10:06] #12329 closed

[2016-10-17 20:31] temuri416 commented on #2851
@phalcon

I've finally upgraded my project to the latest Phalcon 3.x.

The issue is still there. I was debugging INVO again, and whenever execution lands in `public function beforeException() ` action forwarding does not work.

So, again - my question is as follows:

Can I expect the following code to forward action to ErrorsController:

[code]

The way it works now - dispatcher exits the executio

[2016-10-17 20:34] Jurigag commented on #2851
I think this issue is already opened somewhere. @virgofx was planning to fix this.

[2016-10-17 20:48] sergeyklay commented on #2851
@temuri416 Did you try something like this

https://github.com/phalcon/phalcon-devtools/blob/3.0.x/scripts/Phalcon/Mvc/Dispatcher/ErrorHandler.php

[2016-10-17 20:50] Jurigag commented on #2851
But your code @sergeyklay won't work too. Check above.

[2016-10-17 20:51] sergeyklay commented on #2851
I checked it right now

[2016-10-17 20:51] temuri416 commented on #2851
@sergeyklay

Looking at that code I don't see any difference from what I pasted above. In both cases a boolean is returned.

Looking at `dispatcher.zip` I get a feeling that it's `this->_finished` that needs to be FALSE...

[2016-10-17 20:53] Jurigag commented on #2851
`beforeDispatchLoop` event is fired **OUTSIDE** of dispatch loop, this is why forward in beforeException can't happen.

[2016-10-17 20:53] sergeyklay commented on #2851
the problem is - how do you use it
https://github.com/phalcon/phalcon-devtools/blob/3.0.x/scripts/Phalcon/Access/Manager.php#L79-L86

[2016-10-17 21:13] virgofx commented on #2851
@temuri416 This is a problem. There is a more recent issue - https://github.com/phalcon/cphalcon/issues/11819

It's tentatively fixed and in a holding pattern waiting for a core bug in Zephir to be fixed before it will be merged. Hopefully very soon

[2016-10-17 21:16] virgofx commented on #2851
This can be closed and marked as duplicate.

[2016-10-17 21:16] Jurigag commented on #2851
@virgofx

You mean this issue i created - https://github.com/phalcon/zephir/issues/1336 ? I guess it's possibly affecting code like:

[code]

too

[2016-10-17 21:22] Jurigag commented on #2851
Anyway this problem form this issue actually is not related to those issues - just current code is not allowing to forward from beforeDispatchLoop or afterDispatchLoop, no bug or something. Just forward can be done only from dispatch loop, obviously before or after it you can't do it.

[2016-10-17 21:28] virgofx commented on #2851
Yes and that's all fixed here :)
https://github.com/virgofx/cphalcon/blob/b3eaeda7e09d3b57df6fd3781b09afe1a91db458/tests/unit/Mvc/Dispatcher/DispatcherBeforeDispatchLoopTest.php#L98

[2016-10-17 21:29] Jurigag commented on #2851
Actually not fixed, just nowe feature to forward from beforeDispatchLoop and afterDispatchLoop

also update tests @virgofx because i latest checked tests are failing in your repo with those changes

[2016-10-17 22:02] virgofx commented on #2851
Will check juri. Last I ran, everything was working, 100% on the dispatcher was working. The old dispatcher tests were removed because they're weren't accurate.

[2016-10-17 22:05] Jurigag commented on #2851
Oh then it's possible i run tests in wrong repo then.... my mistake if i did this

[2016-10-17 22:07] sergeyklay commented on #12254
Well, I'm hope this issue is fixed. At least in 3.0.x branch.
I'm closing this issue now but will open it again if the need arises

[2016-10-17 22:07] #12254 closed

[2016-10-17 22:11] Jurigag commented on #12254
Well in tests it works, so.

[2016-10-18 10:57] Jurigag opened #12333 "Closure is not executed for wildcard acl"
There are missing `fetch funcAccess, funcList[accessKey];` after those lines:

https://github.com/phalcon/cphalcon/blob/master/phalcon/acl/adapter/memory.zep#L595
https://github.com/phalcon/cphalcon/blob/master/phalcon/acl/adapter/memory.zep#L625

Will fix this as soon as i can.

[2016-10-18 11:45] free6k opened #12334 "How i can create Model, that was sql string without alias?"
Example:
[code]
give
[code]
i need that was like
[code]

For what? i send request for sphinxQl :)

[2016-10-18 11:47] Jurigag commented on #12334
You can't.

[2016-10-18 13:17] temuri416 commented on #2851
@virgofx

Thanks. Is there an ETA on a bugfix for this?

[2016-10-18 13:27] SidRoberts commented on #12334
Models use [PHQL](https://docs.phalconphp.com/en/latest/reference/phql.html) which is then translated into SQL. You can get the SQL statements using the 'db:beforeQuery' event:

[code]

[2016-10-18 13:44] sergeyklay commented on #12334
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2016-10-18 13:44] #12334 closed

[2016-10-18 16:42] temuri416 commented on #2851
Hi all,

I've looked closely at the execution workflow and quite honestly, don't see how to fix this without refactoring dispatch method.

The only thing that comes to mind is to enclose every event fire in its own try / catch block similar to [https://github.com/phalcon/cphalcon/blob/master/phalcon/dispatcher.zep#L341](url).

Is this the intended approach?

Thanks!

[2016-10-18 16:44] Jurigag commented on #2851
Do you understand there is NO BUG ? Forward can happen only from DISPATCH LOOP, like from WHILE, you currently trying to forward outside of dispatch loop which obviously don't work. This is not bug, this is NFR, create seperated issue.

[2016-10-18 16:46] temuri416 commented on #2851
Yes, I see this is not a bug.

Yes, right now that's the way it is. But there's no reason it could not happen from anywhere inside https://github.com/phalcon/cphalcon/blob/master/phalcon/dispatcher.zep#L390 loop.

[2016-10-18 16:49] Jurigag commented on #2851
But doing forward from event works fine. The problem which there is is throwing exception from event - this doesn't work currently and we are talking mostly about this with @virgofx Forward should work totally fine, i even using it extensively and there are no any problem.

[2016-10-18 16:56] temuri416 opened #12336 "[NFR] Allow action forwarding anywhere inside dispatch loop following Exception handling in "dispatch:beforeException""
See #2851 for more info.

From the official documentation at https://docs.phalconphp.com/en/latest/reference/dispatching.html#handling-not-found-exceptions:

[code]

The above code does not work as it is only called from outside the dispatch loop.

It would be **very** valuable to be able to forward controller actions from inside `dispatch:beforeException` event handlers.

At the moment the only c

[2016-10-18 17:08] Jurigag commented on #12336
But this already works IF exception is thrown from controller action.

[2016-10-18 17:13] Jurigag commented on #12336
I agree for dispatch loop,  but in before dispatch loop and after forward should not be possible.

[2016-10-18 17:22] temuri416 commented on #12336
@Jurigag Absolutely.

Only between https://github.com/phalcon/cphalcon/blob/master/phalcon/dispatcher.zep#L390 and https://github.com/phalcon/cphalcon/blob/master/phalcon/dispatcher.zep#L625.

I expect the following hooks to work:

- dispatch:beforeDispatch
- dispatch:beforeNotFoundAction
- dispatch:beforeExecuteRoute
- dispatch:afterInitialize
- dispatch:afterExecuteRoute
- dispatch:afterDispatch

[2016-10-18 17:31] virgofx commented on #12336
@temuri416 THis is already implemented in upcoming bugfix for dispatcher the provides proper event throwing *anywhere* inside the dispatch sequence. Forthcoming documentation will update the current dispatcher.rst page with improved clarification.

mark as closed .  Reference #11819  and Pull request - 12209

[2016-10-18 17:33] temuri416 commented on #12336
Duplicate of #11819.

[2016-10-18 17:33] #12336 closed

[2016-10-18 17:35] virgofx commented on #12336
@temuri416  You can see the screenshot here of all the tests covered which include exceptions and events in the beforeDispatchLoop (and afterDispatchLoop). Your case above is covered as well as a huge amount of cases that actually used to be covered but got pulled out. If there any any missing please let me know.

https://github.com/phalcon/cphalcon/pull/12209

[2016-10-18 17:37] temuri416 commented on #12336
Thanks a lot. IMO this is a fix of the huge importance. Looking forward to resolution.

Gonna take a look at the PR for details...

Cheers.

[2016-10-18 17:38] virgofx commented on #12336
Fixing core things like this has exposed some flaws in Zephir ... specifically double exceptions and memory mapping of variables that is causing a segfault. So as soon as we can get this fixed upstream, we can get tests to pass, update docs, and this will be one of last things in 3.0.2

[2016-10-18 17:40] Jurigag commented on #12336
@virgofx still keep in mind, that from logic point of view forwarding from beforeDispatchLoop or afterDispatchLoop should not be possible. I hope it's not in your PR.

[2016-10-18 18:21] virgofx commented on #12336
It is, and it does make sense.

[2016-10-18 18:26] Jurigag commented on #12336
How it make sense ? Why we can forward action if we not in dispatch loop ?

[2016-10-18 23:29] sergeyklay commented on #11454
@ndeleplace @EpicJhon  @cbichis
Could you please provide table schema and minimal script to reproduce.
I'll try to sort out

[2016-10-18 23:30] sergeyklay commented on #12330
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-10-18 23:30] #12330 closed

[2016-10-19 11:03] cbichis opened #12339 "Events for dependent row are not called at create"
I noticed at least for a One-to-One relation the events for "dependent" row are not called at create. Still seems to be called at update.

I am not entirely sure if this is a bug or is a design decision.

[2016-10-19 12:35] Izopi4a commented on #12339
https://forum.phalconphp.com/

show us the code and maybe someone will be able to assist you

[2016-10-20 05:38] dankarpinski opened #12340 "APC Cache cannot deserialize numerical values"
### Expected and Actual Behavior

When saving numerical values with Phalcon\Cache\Frontend\Data and 	Phalcon\Cache\Backend\Apc, values are not serialized on save but Phalcon tries to deserialize them on get.

[code]
throws the following exception:

[code]

I believe the issue is related to https://github.com/phalcon/cphalcon/commit/4e3989a00cf738810e9dc5168cb8d481083d2788.

The beforeStore method

[2016-10-20 06:03] Jurigag commented on #12340
This is fixed in 3.0.x

[2016-10-20 06:11] dankarpinski commented on #12340
Thanks @Jurigag, just found the last issue https://github.com/phalcon/cphalcon/issues/12186

Closing as duplicate

[2016-10-20 06:11] #12340 closed

[2016-10-20 15:34] dreamsxin commented on #12143
What phalcon version? Can run test
[code]

[2016-10-21 07:25] lujunjie521 commented on #12330
OS:centos 7
php:7.0.11
phalcon version:3.0.1
trace:Call to undefined method SHO ::start() ; only this

[2016-10-21 07:27] Jurigag commented on #12330
There is just no such method in simple view. Simple view is not replacement for full view.

[2016-10-21 08:02] tugrul opened #12342 "[BUG] Phalcon\Mvc\Model - serialize"
### Expected Behavior

`group` property of `LdapUser` should serializable from `LdapUser` and unserializable to `LdapUser`.
### Actual Behavior

`group` property of `LdapUser` ignoring on serialize and unserialize.
### Why I Needed This?

Users and Groups are entity in my project design. But I don't want to keep user group relationship as entity because this will not consistent by ldap changes. I

[2016-10-21 08:12] Jurigag commented on #12342
It's not a bug, it's expected feature. It's ignored because doesn't exist on columnmap.

[2016-10-21 08:19] tugrul commented on #12342
This is design error. What is the purpose of model instead of array resultset if there is no benefit in application logic like this?

[2016-10-21 08:30] tugrul commented on #12342
Workaround.

It's dirty but useful to save time.

[code]

[2016-10-21 08:41] sergeyklay commented on #12339
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2016-10-21 08:41] #12339 closed

[2016-10-21 15:16] rudiservo commented on #11208
Have you declared the model with the properties of the table?
If you do not declare them leaks will happen on the php end of things, not phalcon.
i.e.
public $id;
public $colum;

[2016-10-21 15:37] dercoder commented on #11208
No i did not. But its not important anymore. Since Mongo 3.2 i have to use mongodb extension.
https://github.com/mongodb/mongo-php-library

[2016-10-21 15:43] #11208 closed

[2016-10-21 20:19] #12333 closed

[2016-10-22 09:10] elburgl69 opened #12347 "[NFR] Merging and compressing css and js files"
A major performance bottleneck I encounter is having to download many *.css and *.js files. Re-using all kind of client frameworks, having plugins with their own files, explodes the amount of files to download to the client. This has a severe performance impact.

Real-live applications solve this problem by merging all *.css files and all *.js into a single file and removing all comments and unnec

[2016-10-22 09:29] elburgl69 commented on #12347
(Original got trucated, so the second part...)

<script> or <link> tag. In order to support caching the filename has the form of:
-  <md5 digest (32chars)>_$filename.ext   (in which ext is css or js.

The md5 digest is created by md5-ing a string with full qualified URI + last timestamp modified in order of addition of the uri to the manager. This assures generating a new file when:
- The order of

[2016-10-22 09:38] Jurigag commented on #12347
Imho its' stupid to merge css and js. There is already option to merge all css and js to one. What's a problem with it ? Caching of it you are setting in nginx/apache. What we can done is some built-in way to stop generating joined file all the time.

[2016-10-22 10:21] elburgl69 commented on #12347
Imho it's stupid to serve 20+ or something css and/or js files to the client, if two is enough. Each request has a notable overhead! 20+ is not that much in plug-in systems.

I am not aware of a merging feature in Phalcon Framework. I am only aware of external solution but in that case it requires quite some maintenance of a system administrator to (re-)create te merged files. This can be a burden

[2016-10-22 10:47] Jurigag commented on #12347
But who are telling to serve 20+ css and js ? You can already join them. From what i udnerstand you want to serve css and js in single file(is it even possible ?).

There is assets manager in phalcon https://docs.phalconphp.com/pl/latest/reference/assets.html

It can join and minify assets. Only one feature is missing is caching file, but this is super easy to do yourself.

[2016-10-22 12:45] Jurigag commented on #12347
This is no NFR, this is already existing and framework, only one thing you mension here is caching, which NFR laready exists https://github.com/phalcon/cphalcon/issues/1756

[2016-10-22 15:30] elburgl69 commented on #12347
Ok have read the provide links and documentation and agree this is not a NFR. Implementing #1756 with caching based upon the modified timestamp of the underlying resources would be nice.

For now the class I have posted to the Incubator project serves my purpose and I will migrate that solution to a child of Phalcon\Assets\Manager when I have some time to spare.

[2016-10-22 15:30] #12347 closed

[2016-10-22 16:56] bkwint opened #12349 "Phalcon\Validation\Validator\File triggers notice on strtr array to string conversion"
### Expected and Actual Behavior

While doing a file upload validation with the Phalcon\Validation\Validator\File validator the system triggers an array to string conversion notice when using the option maxResolution. This means that the expected output when an error occurs displays the text Array instead of the actual max resolution.

[code]

[code]
### Details

**Used version of phalcon**
Web fr

[2016-10-22 17:38] Mo121Montazeri opened #12350 "Special characters("&", "?") in url"
When use special characters("&", "?") in url it's not working.

Examples:
1) http://localhost/en/R&B/t101 -> isn't working
1) http://localhost/en/R%26B/t101 -> isn't working
2) http://localhost/en/R?B/t101 -> isn't working
3) http://localhost/en/RB/t101 -> working
in this project [Phalcon-Project](https://github.com/Mo121Montazeri/Phalcon-Test)
- Phalcon version: 3.0.1
- PHP Version: 5.6
- Operati

[2016-10-23 08:45] sergeyklay commented on #12349
@Jurigag Could you please take a look

[2016-10-23 09:52] Jurigag commented on #12349
Just to be sure. Validation is Phalcon\Validation right ? Then problem is happening i guess because of changes i made here https://github.com/phalcon/cphalcon/commit/1adfdae76bbfbe5a7899c9936567cbd8bf804d51#diff-7ce9ac330c42f24966594edd3cd39131R70 but i don't see really where i missed type checking.

[2016-10-23 10:06] Jurigag commented on #12349
Maybe it's here - https://github.com/phalcon/cphalcon/blob/1adfdae76bbfbe5a7899c9936567cbd8bf804d51/phalcon/validation/validator/file.zep#L268

But it was done in old validator anyway. This is only one place where this can happen.

[2016-10-23 14:47] kryptstorm opened #12353 "$model->save() is false when use setter/getter"
[code]
## Result

array(2) { ["message"]=> string(20) "Username is required" ["errorCode"]=> int(1) }
### Details
- Phalcon version: (`php --ri phalcon`)
  phalcon

Web framework delivered as a C-extension for PHP
phalcon => enabled
Author => Phalcon Team and contributors
Version => 3.0.1
Build Date => Sep 15 2016 23:37:46
Powered by Zephir => Version 0.9.4a-dev-7e304ba18c

Directive => Local Valu

[2016-10-23 14:50] Jurigag commented on #12353
And what's a problem ? You didn't provide username which is required(not null in database).

[2016-10-23 14:55] Jurigag commented on #12349
It should be fixed by https://github.com/phalcon/cphalcon/pull/12352. Tests are not possible though because right now mocking php functions in zephir extension not possible.

[2016-10-23 15:27] kryptstorm commented on #12353
I'm sorry about my mistake! It's problem about mapcolumn,
[code]
So, I try to change the value to make a friendly name for my error message, It's wrong! Thanks you.

[2016-10-23 20:08] cbichis opened #12354 "Multi Checkbox"
Hi,

It seems to be needed to have easy to use multicheckboxes (with validate, get values, set default values, etc) on Phalcon.

Maybe like this ?
https://framework.zend.com/manual/2.2/en/modules/zend.form.element.multicheckbox.html

As far as I checked it seems to be a lot of manual work to fire some "emulated" multi checkboxes.

[2016-10-24 08:16] Jurigag commented on #12353
So this can be closed ? @kryptstorm

[2016-10-24 09:53] ss56806298 opened #12355 "[3.0.1] The argument is not initialized or iterable() in phalcon/mvc/view.zep"
After I updated my phalcon from 2.0.X to 3.0.1,the error occured.And when i turned the version back,it runned normally.I'm not sured where the error happened.

[code]
### Details

* Phalcon version:3.0.1
* PHP Version: 5.6.25
* Operating System: WINDOWS
* Installation type: DLL
* Server:  Apache
* Other related info (Database, table schema): MYSQL 5.7.14

[2016-10-24 10:30] Jurigag commented on #12355
Just only this code is causing a problem ? Works fine for me.

[2016-10-24 11:09] stamster commented on #12355
Just get rid of Windows, it'll work fine on GNU.

[2016-10-24 11:33] sergeyklay commented on #12349
@bkwint
Could you please check 3.0.x branch?

[code]

[2016-10-24 13:18] sergeyklay commented on #12355
@ss56806298 Could you please provide detailed error log?

[2016-10-25 02:42] ss56806298 commented on #12355
@stamster
It's convenient to code on Windows.The error only occured when i updated the phalcon,so i guess the latest version may not suit for Windows.
@sergeyklay
#0 [internal function]: Phalcon\Mvc\View->_engineRender(Array, 'Login/check', true, true, NULL)
 #1 [internal function]: Phalcon\Mvc\View->render('Login', 'check', Array)
#2 F:\wamp\www\original_server\index.php(22): Phalcon\Mvc\Applicat

[2016-10-25 06:35] Jurigag commented on #12355
`Login/check'` ? I don't see this in your code. Post whole script to reproduce.

[2016-10-25 08:37] ashpumpkin commented on #12166
https://github.com/phalcon/cphalcon/pull/12359

[2016-10-25 09:56] SidRoberts commented on #12355
It could be that [View::getViewsDirs()](https://github.com/phalcon/cphalcon/blob/v3.0.1/phalcon/mvc/view.zep#L1407) isn't returning an array, [as is required in View::_engineRender()](https://github.com/phalcon/cphalcon/blob/v3.0.1/phalcon/mvc/view.zep#L596). Perhaps if View::setViewsDir() isn't used?

@ss56806298 **if you haven't used View::setViewsDir()**, could you try building Phalcon (using Z

[2016-10-25 10:08] Jurigag commented on #12355
If there would be script fully reproduce a problem then it would be good.

[2016-10-25 12:58] challet commented on #12354
I've done it, I just need to find the time to package it in a pull request

[2016-10-25 13:22] sergeyklay commented on #12354
@challet Could you please snd PR to the Incubator?

[2016-10-25 14:58] makerlabs commented on #12342
This is not a design error. It's important when u serialize a database object to only serialize the database data and not some object junk... If you want to serialize your custom properties just overload serialize and unserialize methods because this is the right way to do it.

[2016-10-25 15:07] Jurigag commented on #12342
Purpose of model is to store database data obviously. Not some garbage stuff. If you want to store garbage stuff create seperateed class for this.

[2016-10-25 15:26] tugrul commented on #12342
@makerlabs why is there a `Phalcon\Mvc\Model::skipAttributes()` attributes?

Common principal: Give back how did you take it.

Assert: `assertTrue(serialize($model) === serialize(unserialize(serialize($model))))`

There is an inconsistency

[2016-10-25 15:28] Jurigag commented on #12342
Why - because you want to use mysql default value and don't allow any changes of attributes perhaps ?

[2016-10-26 05:08] dschissler opened #12360 "Returning string value in a Controller causes error when a dispatch cycle was modified/canceled."
So if path `test` is gone to then there is an exception thrown which the plugin intercepts in `beforeException` and then forwards to `test::handle`.  Inside of the `handleAction` I attempted to return a string for controller output and it caused what appears to be an infinite loop.  However, if I go straight to that action then it would output the text.  I can workaround for now by using the norma

[2016-10-26 07:44] ss56806298 commented on #12355
@SidRoberts  @Jurigag
I alreay solved the problem.Here is the  the structure of my code.

[code]
The variable $di just defined at the top of this page.

LoginController.php
[code]

ControllerBase.php
[code]

ControllerBase.php after i modified
class ControllerBase extends Controller{
    protected function sendResponse($response) {
        $this->view->disable();
        $this->response->setStatus

[2016-10-26 08:16] andrew-demb commented on #12355
I have encountered the same problem in Debian. As I found, the problem was in `viewsDir`. You can set it before append service `view` in DI or wait for an accept PR @SidRoberts.

[2016-10-26 09:29] SidRoberts commented on #12355
Returning a response from the controller won't render a view (so you won't have to disable it):

[code]

[code]

[2016-10-26 13:40] ricksanchez opened #12364 "Volt "include with" can be improved"
**This is not exactly a bug, because it is documented.  But I wonder if this can be improved and if you consider it worthy.**

If there is a compiler for volt and it is doing many practical things, why cannot it make a variable substitution?

partial/age.volt:

[code]

partial/parent.volt

[code]

Expected:

[code]

Actual:

[code]

This would happen once in compile time, so it will be for free in

[2016-10-26 16:19] Jurigag commented on #12355
Exactly, just imho always return something from controller action.

[2016-10-27 09:00] spinmar opened #12365 "Phalcon\Cache\Backend\File lifetime problem"
I'm experimenting a problem with lifetime in Phalcon\Cache\Backend\File cache.
Lifetime seems not be considered and exists method return always false.
This is my code with the problem:

[code]

In my log I always see Read HP and Save HP to cache.
The methos exists always return false,
On my filesystem I see the file data-hp-nazionali which is always rewritten.
### Details
- Phalcon version: 3.0.1

[2016-10-28 00:25] sergeyklay commented on #12355
@SidRoberts It is fixed in `3.0.x`?

[2016-10-28 07:09] Daredzik commented on #12365
some error throws ??

try,
`var_dump($cache->save('hp-nazionale', $array_hp, $lifetime_hp_nazionali));`
what's is a result ??

in other hand, from github: https://github.com/phalcon/cphalcon/blob/master/phalcon/cache/backend/file.zep

method save(), should throw expection when can't save to file...

[2016-10-28 07:12] spinmar commented on #12365
The problem is not the methos save(): I see the file always written on fs.
The problem is the lifetime because the file should be cached for 5 minutes but the methos exists() return false (I suppose for some lifetime problem because the file has been written).

[2016-10-28 07:14] Daredzik commented on #12365
ahh i see, sorry i miss it in your first post...
check your dates in system, is correctly ?, coz method from source seems ok...

[2016-10-28 07:46] spinmar commented on #12365
I checked and the date is correct:

spinmar@localhost:~$ date
ven 28 ott 2016, 09.45.51, CEST

[2016-10-28 08:41] Jurigag commented on #12252
Also what about adding option to load whole module on bootstraping ? Like execute `registerNamespaces` and `registerServices` always so certain module can be used across all modules ?

[2016-10-28 10:32] dschissler commented on #12252
I think that the router takes care of that.

[2016-10-28 10:37] Jurigag commented on #12252
Yea i know, but what if someone need such a feature ? Right now you need to do some nasty things like create module class on your own and call methods, or register namespaces from other module and set proper services in other module and such stuff.

[2016-10-28 11:13] stamster commented on #12350
`&` and `?` are both URL encode reserved chars and thus cannot be used literally as route patterns.  You are saying you actually want to use those jokers as a route name? May I ask why?

[2016-10-28 12:00] SidRoberts commented on #12355
Yes.

[2016-10-28 22:15] #12355 closed

[2016-10-29 20:24] elburgl69 opened #12370 "[BUG] Assets Collection does not join when no filter is set."
Phalcon\Assets\Collection->Join(true) does not join resources when there is no Filter set on the collection.

Expected behavior:
When issueing:
        Phalcon\Assets\Collection->Join(true)
the added resources should be joined. It outputs however the (not merged) individual added resources.

When you assign a filter to the collection, it does Join the resources.

Even when you add only resources t

[2016-10-31 18:10] SimBioT1954 commented on #329
**Still waiting for this feature** !

[2016-11-01 06:29] odat opened #12385 "the variables in partials globalize after upgrade to 3.0.1 (volt)"
Hello,
the variables in partials globalize, how i can set some of variable on some partials and don't defined on another one on the same view

for example in controller i pass id on view by
`$this->view->id = '1' ; `

in the view template :

[code]

when i defined the some partial with another id , the id is overwritten on the old one on the page

Thanks,

[2016-11-01 07:52] Jurigag commented on #12385
You have php 7 ? I think this is why it's happening, not because of 3.0.1

[2016-11-01 12:46] odat commented on #12385
Yes php 7, but can i get some way to fix this issue

[2016-11-02 00:05] maurits150 commented on #1285
Something like this would be great to have.

[2016-11-02 12:42] stamster commented on #12365
File cache is not the problem, I'm using it for other purpose:

[code]

I'm not even using `exists` method.

Simple use:

[code]

[2016-11-02 13:15] spinmar commented on #12365
Not in my system.
I replicated your code and I have the same problem.

[2016-11-02 15:10] stamster commented on #12365
The only difference being that you run PHP 5.6.x and I'm on PHP 7.0.x.
I'll test it on my other instance with manually compiled PHP 5.6.27.

[2016-11-02 15:52] piit79 commented on #11709
@sergeyklay @ogarbe Is the fix for this going into 3.0.2? I can confirm @ogarbe 's fix works correctly for us. Most of the time we use static closures for DI service definitions so we were getting **lots** of warnings in PHPUnit and were forced to set `convertWarningsToExceptions = false`.

[2016-11-02 17:21] develmax228 opened #12390 "Fatal error: Using $this when not in object context"
### Expected and Actual Behavior

[Wed Nov 02 20:09:34 2016] [error] [client 5.141.193.137] PHP Warning:  Module 'phalcon' already loaded in Unknown on line 0
[Wed Nov 02 20:09:34 2016] [error] [client 5.141.193.137] PHP Fatal error:  Using $this when not in object context in /var/www/u18770/data/www/moneygame.cf/app/config/services.php on line 47

[code]

[code]
### Details
*Hosting handyhost.ru

[2016-11-02 17:26] Jurigag commented on #12390
You didn't post phalcon version, most likely you don't have phalcon 3/2.x

[2016-11-02 17:29] develmax228 commented on #12390
phalcon 2.x

[2016-11-02 17:31] develmax228 commented on #12390
if you choose 3, then just a white screen

[2016-11-02 17:35] develmax228 commented on #12390
http://moneygame.cf/
as you can see the problem of why this is happening?

[2016-11-02 18:38] Jurigag commented on #12390
$this was in service closure was added only in phalcon 3. 2.0.13 Doesn't have such a feature. And white screen because of some other not related error - check php logs. This issue can be closed.

[2016-11-02 18:40] Jurigag commented on #11709
This is not merged because reflection api is heavy. There was supposed to be created some zephir thing to check if closure is static or not.

[2016-11-02 23:37] #12390 closed

[2016-11-03 05:14] dschissler commented on #12252
@Jurigag I'm not sure what you mean by this last comment.  You don't need to do those things if you setup your routes correctly and also assign the router a default module.

There are different interpretations of how modules should work and they are quite simple if you make the assumption and condition that only a single Module can be instantiated for each execution.  Someone a while ago made some

[2016-11-03 05:18] dschissler commented on #10959
At some point when Zephir supports Trait then I think that this issue should be addressed.  I tried to take a stab at this but I ended up not using soft deletion in my project and so its unlikely to be refined or 100% functional.

[2016-11-03 06:58] Jurigag commented on #12385
Then do PR if you have any solution or it's just workaround ?

[2016-11-03 21:27] emiliodeg opened #12392 "Security tokens error"
Well I think this is an error

[code]
getToken function https://github.com/phalcon/cphalcon/blob/master/phalcon/security.zep#L354
getToken() should not change the value of getSessionToken() until the next request

I think this error generates the misunderstanding that makes programmers confuse us also removes the possibility of using the Validator Identical in our forms assigning the accepted valu

[2016-11-03 21:36] mixinix commented on #12392
I have same problem with this too. v3.0.1

I'm beginner, CSRF looks like easy in Phalcon, but not easy.

[2016-11-03 22:42] Bagarn opened #12393 "Phalcon\Mvc\Model Unintentionally updates related models"
### Expected and Actual Behavior

Looking like this in the DB:

***item***

| id [primary ai] | name | status_id |
| - | - | - |
| 1  | My Item  | 1 |

***status***

| id [primary ai] | name |
| - | - |
| 1  | Status 1  |
| 2  | Status 2  |

[code]

[code]

[code]

So that the status table in the  DB looks like this.

| id | name |
| - | - |
| 1  | Status 1  |
| 2  | Status 1  |

### The problem

[2016-11-03 23:00] ikas commented on #12393
+1

[2016-11-03 23:25] Jurigag commented on #12393
[code]

This should be belongsTo relation.

[2016-11-03 23:31] Bagarn commented on #12393
Yes. That would solve the problem of the id being set, since the __preSaveRelatedRecords method does not have that line.
But then, what is the point of the hasOne relationship?
Imagine status being replaced by address or something. The same problem would still be present.

[2016-11-03 23:43] Jurigag commented on #12393
hasOne is for example accessing Item in status. Like for cases where you want access related record from table where current model is related somewhere. For example:

[code]

[2016-11-03 23:47] Bagarn commented on #12393
Yes. you are very right.
But wouldn't the related record still be saved even if i used belongsTo?

[2016-11-04 00:12] Bagarn commented on #12393
This example results in the name update of status 1 to be reverted when the item is saved.
[code]

[2016-11-04 00:56] Bagarn commented on #12393
Anyway. My main problem was solved by using belongsTo. And my other issue is probably not even an issue since you would use transactions in cases like that. Feel free to close this issue and thanks for the help.

[2016-11-04 02:21] MLukman commented on #10970
Hello, has this bug been fixed? It's been a year ...

[2016-11-04 06:30] #12393 closed

[2016-11-04 07:10] lujunjie521 commented on #12326
did u finish this bug?

[2016-11-04 13:08] Bagarn opened #12394 "\Phalcon\Mvc\Model overrides change to field in belongsTo relation"
### Expected and Actual Behavior

[code]
[code]
***item***

| id [primary ai] | name | status_id |
| - | - | - |
| 1  | My Item  | 1 |

***status***

| id [primary ai] | name |
| - | - |
| 1  | Status 1  |
| 2  | Status 2  |

[code]

But what actually happens is that the save takes the Id from the related **Status** object and sets it to the **Item**'s status_id field.

### Details

* Phalcon vers

[2016-11-04 13:26] Jurigag commented on #12394
Add echo `$item->status_id` please to your code and check for sure which value is it. As well in database.

The problem here is just save doesn't rechange related properties if there are any i think, so status will be kept old if you previously accessed it. This is because first time you access status it's added as public property to object and then if you access it again whole logic for getting r

[2016-11-04 13:35] Bagarn commented on #12394
[code]

[2016-11-04 13:36] Jurigag commented on #12394
But this is not only about _related. Property is added to object so it's no longer using magic method.

[2016-11-04 13:39] Bagarn commented on #12394
You could maybe rename it intenally. like this->prefix_{prop_name} ?

[2016-11-04 13:46] Jurigag commented on #12394
What you mean intenally ? But then magic method would be fired. If you access one time `$item->status` and then next time status property is only used.

[2016-11-04 13:52] Bagarn commented on #12394
I mean.
When __set('status', 2) is called, one could perhaps check if 'status' is a key in relation and in that case save it to this->relation_key . {'status'} or to an array like this->relation_keys['status'].

Then in the __get method maybe:
if fetch this->relation_keys[prop_name] { return ....

This way the property will be hidden from the outside.
Maybe a bit hackish, but the best I can think

[2016-11-04 14:20] Jurigag commented on #12394
But whole point in setting it as property IS NOT TO CALL FUNCTION which is heavy in php.

[2016-11-04 14:23] Bagarn commented on #12394
Of course. But it would only be the relationship keys. Not the other properties.
As I said. Hackish.

[2016-11-04 14:28] Jurigag commented on #12394
No, not hackish. It has to stay the same as it is now - when accessing it first time - use magic method, when second time - use property in object without any method call. Just on save if there is change in property relation then update property(use snapshot data if possible) and that's it.

[2016-11-04 15:53] Bagarn commented on #12394
Ok. So. Detect the change in the _preSaveRelationTable somehow?

[2016-11-04 20:38] temuri416 commented on #12392
Looks like you've come across the same issue:

https://forum.phalconphp.com/discussion/8093/csrf-problems-on-206#C21945

[2016-11-04 21:15] lisek2000 opened #12395 "Form element message not filled during form validation."
Hello,

as in the topic - messages in elements are not filled after form validation.

Short example:
[code]

Expected behaviour: after isValid() called on $form, all messages related to elements in that form will be setted also in element.

### Details
* Phalcon version: 3.0.1
* PHP Version: 5.6.24
* Installation type: Compiling from source
* Server: Apache

[2016-11-05 14:13] emiliodeg commented on #12392
@temuri416 yes you are right, here some other examples
[code]

Thats works fine at first time but an getter modifying another getter it's an strange behavior
I think we must change this getToken() behavior

[2016-11-05 14:42] dschissler commented on #2292
I think that what you are asking for is the ability to escape Volt control characters.

[2016-11-05 14:47] dschissler commented on #2605
I created [gettext-volt](https://github.com/perchlayer/gettext-volt) which integrates into [gettext-template](https://github.com/gmarty/xgettext) to provide gettext message extraction for Volt templates.

[2016-11-05 14:52] dschissler commented on #3146
Phalcon provides very low level components that are capable of being arranged in countless ways.  They is a growing number of opinionated implementations that you can find at [Awesome Phalcon](https://github.com/sergeyklay/awesome-phalcon).

[2016-11-05 14:54] dschissler commented on #9966
This issue is related to #2292.  Volt needs better escaping.

[2016-11-05 14:55] dschissler commented on #2292
Related to #9966.  Volt needs better escaping options.

[2016-11-05 15:00] dschissler commented on #1253
Related to: #9966 and #2292.

[2016-11-05 15:02] dschissler commented on #1879
@sergeyklay Can we close this?

[2016-11-05 15:04] dschissler commented on #1253
Related to #1838.

[2016-11-05 15:07] dschissler commented on #1869
@sergeyklay Can we close this?

[2016-11-05 15:09] dschissler commented on #2134
This one caught me when I was starting out.

[2016-11-05 15:10] dschissler commented on #1253
Related to #2031.

[2016-11-05 15:13] dschissler commented on #2522
Is this still broken?

[2016-11-05 15:22] dschissler commented on #3084
Perhaps version 4 could introduce an unambiguous way to reference services.  What about using a prefix for referencing services such as `&`, `\`, `@` or `$`?  @sergeyklay Any chance that this can get put onto a 4.0 milestone?  The current situation creates a complicated edge case when precompiling templates in an environment where the DIs don't match because in one case it is converted to `$this->

[2016-11-05 15:27] dschissler commented on #6785
Rejoice.  Starting with Phalcon 3.0 packages are being created by Packageloud.io for many Linux distros: https://forum.phalconphp.com/discussion/13265/phalcon-on-packagecloudio

[2016-11-05 15:28] dschissler commented on #6785
@sergeyklay Can we close this issue now?  If someone requests a new distro it can be made as a fresh issue.

[2016-11-05 15:32] Jurigag commented on #3084
The problem i think that variables are done like this:

[code]

or something like this.

[2016-11-05 15:33] dschissler commented on #11018
Close issue?

[2016-11-05 15:35] dschissler commented on #1253
Related to #11391.

[2016-11-05 15:41] dschissler commented on #11926
Phalcon switched to semver when it jumped to version 3.0.  I propose that in late 2017 or so that a minor release should start throwing a deprecation warning if the second parameter is used.

[2016-11-05 15:46] dschissler commented on #3084
Is the way that variables are defined an issue?  It seems to me that it is only a matter of how they are referenced.

[2016-11-05 15:47] #1879 closed

[2016-11-05 15:50] #6785 closed

[2016-11-05 16:52] ianbytchek commented on #2522
@dschissler haven't touched this in a while and don't have the means to check it now. The above code and suggestion to use `$_SESSION` directly are still valid and would solve this, if they aren't implemented. Especially since more session functions joining PHP 5.6 making this whole subject a little more complicated to track.

[2016-11-05 17:26] sergeyklay commented on #2522
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-11-05 17:26] #2522 closed

[2016-11-05 17:28] #11018 closed

[2016-11-05 17:29] #2605 closed

[2016-11-05 17:35] sergeyklay commented on #11926
[code]

[2016-11-05 17:37] sergeyklay commented on #2134
Could you explain a bit more?  Provide please an complete example.

[2016-11-05 17:38] #1869 closed

[2016-11-05 17:40] #3146 closed

[2016-11-06 01:52] dschissler commented on #11926
My point wasn't that this should be closed or that it is impossible to make a DI service now, but that removing the DI being sent in for the second parameter would break existing stuff.  So its pretty harmless for now and it needs to be there for the entire 3.* series but eventually it (DI being passed in as 2nd argument) should be removed for the 4 series.

[2016-11-06 10:26] Jurigag commented on #11926
It can be done in 3.* with keeping BC using reflection but there is no point in this imho.

[2016-11-07 04:31] emiliodeg commented on #1537
if you have a varname like foo[bar][] the problem is huge
phalcon form is too weak

[2016-11-07 12:51] stamster opened #12396 "Segfaults on user level (syntax) errors"
### Expected and Actual Behavior

PHP fatal/syntax error.

From any controller, trying to call simple facade method defined in ControllerBase or wherever, making a mistake which should cause only syntax error.
Instead, nginx throws 502 Bad Gateway HTTP response, while PHP-FPM throws:
`[480094.083490] php-fpm7.0[30488]: segfault at 1c ip 00005563990e8d28 sp 00007ffdf56be410 error 4 in php-fpm7.0[55

[2016-11-07 16:03] Jurigag commented on #12396
Hmmm, idk, maybe zephir doesn't check if syntax is correct and calls it anyway ? Not sure what's the cause.

[2016-11-07 17:22] lujunjie521 opened #12397 "when i var_dump a value,it show all of the system infomation."
php7.0.12
Phalcon3.0.x

When i get an infomation from mysql, and use the var_dump function to show the result, but i get all of the system configure infomation ,such as website config, language defined,metaData cache and so on, all of them are shown in the browser

[2016-11-07 18:34] Jurigag commented on #12397
What exactly you var_dump ? Also this is not issue. Use forum for questions - https://forum.phalconphp.com

[2016-11-07 22:18] sergeyklay commented on #12397
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2016-11-07 22:18] #12397 closed

[2016-11-07 22:31] sergeyklay commented on #12396
Can't see any segfault and reproduce.

[code]

Not related directly to the Phalcon

[2016-11-08 09:16] amxsa opened #12398 "Libmemcached and Memcached 「get」 operation return the result is not consistent"
Libmemcached  and Memcached 「get」 operation return the result is not consistent
Libmemcached get() @return mixed|null
Memcached get() @return false

Encountered difficulties in the migration process, whether it can be consistent

### Details

* Phalcon version: (`3.0.1`)

[2016-11-08 10:00] amxsa opened #12399 "Libmemcached Frequent abnormal result"
[code]

### Details

* Phalcon version: (`3.0.1`)
* PHP Version: (`5.6.5`)

[2016-11-08 14:42] Jurigag commented on #12399
47 means `MEMCACHED_SERVER_TEMPORARILY_DISABLED`

You need to install memcache or/and run memcache server.

[2016-11-08 14:49] #12399 closed

[2016-11-09 09:55] stamster commented on #12397
That's normal. DI will be present in your dump as well with other bound objects.
That's why `var_dump()` in OOP is a bad idea (okay maybe for development only).

[2016-11-09 10:16] ricksanchez opened #12400 "[BUG] Phalcon Redis Backend is duplicating the prefix for writing but not for reading"
### Expected and Actual Behavior
Phalcon Redis Backend is duplicating the prefix for writing but not for reading

[code]
When saving, it is: `_PHCR_PHCRen_US` but it is trying to read `_PHCRen_US` but that key doesn't exist.

it is the same (`_PHCRview_PHCRviewen_US`) while using a custom prefix.

Why in the first place there is that _PHCR? (extra question, not part of the bug) It should be possib

[2016-11-09 10:32] stamster commented on #12396
It crashes only when used with Micro lazy loader (as shown in back trace).

Like @Jurigag said, it seems that Phalcon_Mvc_Micro_LazyLoader  does not check the syntax before lazy loading.

[2016-11-09 11:32] sergeyklay commented on #12400
Refs: https://github.com/phalcon/cphalcon/pull/12021, https://github.com/phalcon/cphalcon/issues/12022

[2016-11-09 11:49] udarkness commented on #12400
I was debugging further, this is related to snowair/phalcon-debugbar  because of `$this->_backend->getLastKey();` allows to get an internal property directly that should be protected as indicated by the class but it is still publicly accessible and mutable. And later send a message `save` with this value.

The root of the problem can be tracked to https://github.com/phalcon/cphalcon/blob/master/ph

[2016-11-09 12:03] stamster commented on #12396
So the definite steps are:

- use MicroCollection for routes
- use lazy loading for controllers of the collection
- cause syntax error anywhere on lazy loaded controller

[2016-11-09 12:17] stamster commented on #12398
How come this is a bug? Libmemcached and Memcached are different adapters (using same back-end). Functions available in libMemcached have different signatures than those present in plain Memcached (PHP implementation).

[2016-11-09 12:28] sergeyklay commented on #12398
We just have to make sure that both methods correspond to the interface (public API)

[2016-11-09 18:54] ndeleplace commented on #11454
See [here ](https://github.com/phalcon/cphalcon/issues/1106)

[2016-11-09 19:02] ndeleplace commented on #11454
CREATE TABLE `Test` (
  `Id` int(11) NOT NULL,
  `Name` varchar(50) NOT NULL,
  `synced` bit(1) NOT NULL DEFAULT b'0',
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1$$

Create :
$entity ->setName ('toto')->setSynced (0) ....
=> OK boolean FALSE in database entry

UPDATE
$entity ->setName ('toto updated')
=> boolean TRUE  although it was FALSE/0 before and I set nothing (no setSynced o

[2016-11-09 19:09] ndeleplace commented on #11454
In fact, it seems the solution that work on one server, doesn't work on the other one :

- no setSynced ON UPDATE => MYSQL 5.5.47 = synced changed to b'1', MYSQL 5.5.43 = synced left unchanged (as wanted !) to b'0'
- setSynced ( $entity->getSynced() == false ? 0 : 1 )' => MYSQL 5.5.47 =  synced forced unchanged (as wanted !) to b'0', MYSQL 5.5.43 =  synced changed to b'1'

So it is impossible to h

[2016-11-09 19:14] bkwint commented on #12349
@sergeyklay the issue seems resolved with the new build. My apologies with the delay in testing the fix.

[2016-11-09 19:51] sergeyklay commented on #12349
Thanks

[2016-11-09 19:51] #12349 closed

[2016-11-10 00:01] ndeleplace commented on #11454
In fact, getSynced() from existing entity  :

- on one version of MySQL : string(1) ""  if true OR false,
- on another :  string(1) "1" if true, "0" if false.

So depending on MySQL version Phalcon ORM mapping has a different behavior (and always give "string", never mapped the column to a boolean or bit)

And so the update (unless activating dynamicUpdate behavior) in the first case, you got TRUE

[2016-11-13 00:56] stamster commented on #12396
Our team makes 10-15 segfaults per day on this :)
Any news out there for a fix? @sergeyklay

[2016-11-13 11:09] sergeyklay commented on #12396
I'll try to sort out as soon as I can

[2016-11-15 11:01] stamster commented on #12396
I can confirm that this bug is NOT present on PHP 5.6.x (tested on manually compiled 5.6.27 and .28).
So this report should have `PHP7` flag.

[2016-11-15 19:52] temuri416 opened #12403 "[BUG] When SoftDelete behaviour is enabled, Model's 'afterDelete' event is not triggered"
Current Phalcon version.

https://docs.phalconphp.com/en/latest/reference/model-behaviors.html#softdelete

**Current behaviour:**
Enabling SoftDelete behaviour suppresses calls to Model's 'afterDelete' listeners.

**Expected behaviour:**
While model row does not get deleted from the database, calls to `afterDelete` should still fire. I may have application logic that takes further actions on delet

[2016-11-16 12:50] kovacs-tamas opened #12404 "Cannot override final method Phalcon\\Mvc\\Model::__construct()"
### Expected and Actual Behavior

[code]

[code]
### Details

* Phalcon version: 2.0.13
* PHP Version: 5.5.9
* Operating System: Ubuntu
* Installation type: Compiling from source
* Zephir version (if any):
* Server: Apache
* Other related info (MySQL, InnoDB):

[2016-11-16 12:59] sergeyklay commented on #12404
It is concept by design.

[2016-11-16 12:59] #12404 closed

[2016-11-16 12:59] Jurigag commented on #12404
You have afterConstruct method and initialize.

[2016-11-16 13:00] sergeyklay commented on #12404
Or models events

[2016-11-16 13:19] googlle opened #12405 "QueryBuilder does not validate total number of records in the database before sending the query to retrieve data"
### Expected and Actual Behavior

[code]

[code]
### Details

* Phalcon version: 3.0.1
* PHP Version: 5.6
* Operating System: Windows
* Server: Apache

[2016-11-16 15:03] Jurigag commented on #12405
This is nto a bug, it's expected feature Why it should even check stuff like this ?

[2016-11-16 15:48] googlle commented on #12405
This is Paginator and it should do it. why not?

[2016-11-16 15:49] Jurigag commented on #12405
Because there is no any error or problem. Just 4th page doesn't have any data. What it should do if there is no data ?

[2016-11-16 15:56] googlle commented on #12405
return null for items. just at the beginning, the paginator should to know how many records in the database and then check whether need to access the database. if not then to show paginator->items = null;

[2016-11-16 15:58] Jurigag commented on #12405
Still - it needs to make some request to check if there is any items. Returning 0 rows from database or doing count and some check if needs to select rows will be no difference in performance. Even i think that returning 0 rows will be faster.

[2016-11-16 16:06] googlle commented on #12405
I'm not talking about the performance. Perhaps the performance will win in some places even, because there is no extra query. I say that the idea paginator should check in at the beginning of the number of records

[2016-11-16 16:10] Jurigag commented on #12405
But why ? I don't really see the difference, select 0 rows or check number of elements.

[2016-11-16 17:02] virgofx commented on #12405
I think more intuitively the count could be called first prior to the data ... and only query data if count > 0. That would be a quick 2 line fix

[2016-11-16 17:21] googlle commented on #12405
@virgofx yes, and should check this
[code]

[2016-11-17 10:25] stamster commented on #12405
Count on very large tables (which by chance are also inserting lots of records at the same time) will have significant impact on performance.
So the idea is to really retrieve only set of results from the query, even if there are 0 of them.

[2016-11-17 14:53] kristofferingemansson opened #12408 "Method escapeIdentifier of \Phalcon\Db\Adapter\Pdo\Mysql does not actually escape anything"
Method \Phalcon\Db\Adapter\Pdo\Mysql::escapeIdentifier does not actually escape supplied identifier. Method only adds ` before and after identifier.
From its name I assumed that a value passed through this method would be safe to use in a SQL-statement, but this opens an attack vector for SQL-injection.

Below code uses hard-coded identifier and is thus safe, but if identifier is dynamic and possi

[2016-11-18 11:10] kovacs-tamas commented on #12404
In this care, aren't any ways to join two tables when i have event listeners in the model? Really?

[2016-11-18 11:40] Jurigag commented on #12404
What you mean join two tables ? You can just use query builder.

[2016-11-18 11:43] kovacs-tamas commented on #12404
Yes, i used the query builder also, and i got the same error

[2016-11-18 11:47] Jurigag commented on #12404
Because you override __construct method. Just dont override it.

[2016-11-18 11:48] kovacs-tamas commented on #12404
No , i don't have own __construct

[2016-11-18 12:31] Jurigag commented on #12404
Yes you have, otherwise you wouldn't have such an error.

[2016-11-18 12:52] Mo121Montazeri commented on #12350
That's because the "?_url=" used in url.

[2016-11-18 13:26] kovacs-tamas commented on #12404
Okay, we can accept, i use the features of the ORM. So how can i get the data, should i write raw SQL question and parse the result? Is this the only one solution, right?

[2016-11-18 13:59] Jurigag commented on #12404
No. You can use query builder or whatever other solution.

[2016-11-19 03:49] dschissler commented on #12225
I believe that Phalcon already has this functionality with a different syntax but it is currently broken in version 3.  This bug is probably a dupe of #11605

[2016-11-19 03:52] dschissler commented on #12225
I'm looking into fixing this myself but I can't identify where the code is being done in Zephir.  I don't know if this portion of Phalcon is implemented in C or not.

[2016-11-19 08:50] dschissler commented on #12225
@sergeyklay @xerron Can we close this?  This functionality already exists using `IN ({variable:array}) syntax.

[2016-11-19 09:28] Jurigag commented on #12225
But he wants this functionallity not in PHQL.

[2016-11-19 09:58] bungcip commented on #12056
i also got the same error.
windows 10 64bit. PHP 7 from XAMPP.

[2016-11-19 10:16] Jurigag commented on #12056
I wrote workaround above.

[2016-11-19 10:23] Xtt45 commented on #12056
@Jurigag the work around does not work for me. I'm still getting the error.

Win7
WAMP
PHP 7
APACHE2
PHALCON 3.0.1

`
Fatal error: Uncaught Error: Access to undeclared static property: Phalcon\Di::$_default in C:\wamp64\www\Exam\public\index.php:35 Stack trace: #0 [internal function]: Phalcon\Di->__construct() #1 C:\wamp64\www\Exam\public\index.php(35): Phalcon\Di\FactoryDefault->__construct() #2

[2016-11-19 11:38] Jurigag commented on #12098
Remove `Phalcon\Mvc\Micro\Lazyloader::__call` in favor of `Phalcon\Mvc\Micro\Lazyloader::callMethod`

[2016-11-19 16:06] renatomjr commented on #12056
@Xtt45 If you use the FactoryDefault, you must overwrite this class too to extends your own Di instead of Phalcon\Di.

[2016-11-19 16:09] Jurigag commented on #12056
As i wrote - on windows you need to use php-cgi

[2016-11-20 13:27] Xtt45 commented on #12056
Yeah same here. I have no problem with **nginx+php7-cgi**. That's my setup at production.

[2016-11-20 13:33] Jurigag commented on #12056
Well on production you should use fastcgi anyway like php-fpm

[2016-11-20 15:08] Xtt45 commented on #12056
I've just switched to Php 5.6 + Phalcon 3.0.1 for now. Since it is just for staging and it is stable and the annoying errors seems to be gone too others said, but it bugs me not using the same version as of my production. I might encounter strange bugs later on.

[2016-11-20 15:42] stamster commented on #12056
If you have such concerns, then simply move away from Windows as staging
environment.

[2016-11-21 19:39] gtux opened #12415 "[BUG] When Cast On Hidrate and Column Map is enabled, Query throws a notice error"
Hi, I just tried the model's "cast on hidrate" feature and get some issue, in my model I'm using a column map with Annotations Strategy in order to get attributes in camelCaseFormat mapped to my_column_format, then when I try some select I get the notice:

[code]

In that line: https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/query.zep#L2789 there is an error:

[code]

This is bec

[2016-11-21 23:08] sergeyklay opened #12416 "Use the same way to register modules Mvc/Cli/Micro"

[2016-11-21 23:09] sergeyklay opened #12417 "Create dispatcher::beforeForward event"
Refs: #121

[2016-11-22 11:05] kristofferingemansson opened #12418 "Timing attack possible in \Phalcon\Security::checkToken"
In \Phalcon\Security::checkToken, comparison of supplied and expected tokens are done with simple "==" and is thus subject to a timing attack.
https://github.com/phalcon/cphalcon/blob/v3.0.1/phalcon/security.zep#L400

This is somewhat mitigated by the fact that tokens usually are regenerated.

Comparison should preferably be done using PHP's hash_equals if it exists (PHP >= 5.6.0) and then maybe u

[2016-11-22 15:14] jesusfreak3 opened #12419 "ORM - Using limit with a negative number throws a MYSQL error"
### Expected

Calling ->limit($value) on a Query should parse all input to be a non negative number.

### Actual Behavior

A user attempted a MYSQL injection where a limit value was passed to the API, the value passed was

Encoded:
limit=%3CMETA%20HTTP-EQUIV%3D%22refresh%22%20CONT ENT%3D
%220%3Burl%3Djavascript%3Aqss%3D7%22%3E

Decoded:
[code]

[code]

and the ORM treated LIMIT input as an intval

[2016-11-22 15:25] sergeyklay commented on #12419
Thank for reporting. I'll fix it asap

[2016-11-22 15:36] jesusfreak3 commented on #12419
NP, and thanks for the quick reply!

[2016-11-22 16:18] temuri416 commented on #11818
Hi, @sergeyklay. What are your thoughts on this? Should ->save() automatically set updated snapshot?

Thanks!

[2016-11-22 16:20] temuri416 commented on #11007
@sergeyklay Is this on your radar? :)

[2016-11-22 16:22] Jurigag commented on #11007
No because 2.0.x is no longer supported.

[2016-11-22 16:22] temuri416 commented on #12336
Hi @virgofx, is there any progress on this issue?

Thanks!

[2016-11-22 16:24] temuri416 commented on #11819
Hi @virgofx, is there any progress on this issue?

Thanks!

[2016-11-22 16:26] temuri416 commented on #11007
Sorry, I wasn't expecting this to be fixed in 2.0.x :-) Any hope for this go to on 3.x branch?

[2016-11-22 17:57] sergeyklay commented on #11818
I'll try to sort out as soon as posible

[2016-11-22 18:35] virgofx commented on #11819
@temuri416 We have it fixed; however, still waiting on a core bug in Zephir land which causes a segfault in the updated tests. In the meantime, I've had to override the dispatcher manually which fixes this in our production boxes - If you need this snippet email me directly and I can share with you.

[2016-11-22 18:42] temuri416 commented on #11819
@andresgutierrez Can we please have your attention? We need your help to get the issue fixed. Thank you!

[2016-11-22 23:10] alphanyx opened #12420 "Add Autoload Option for Module to be loaded anytime"
Modules will only be loaded if a route leads to the Module.
It would be great to load Modules without routes or controllers.

The Purpose of my request is that i want to split my application into a database module that handles all the storage and data evaluation and a frontend module that requires the database module.

The Database Module has no controllers and will never be loaded by the Phalcon

[2016-11-23 10:19] ashpumpkin commented on #12166
Implemented in `3.1.x`

[2016-11-23 10:19] #12166 closed

[2016-11-23 15:10] jhaoheng opened #12421 "[Micro] url path filtering some character, '+'"
input : `curl -X POST http://localhost/xxxx+001@gmail.com/hellotest`
output : `xxxx 001@gmail.com`

**should output : xxxx+001@gmail.com**, but the charactor '+' is filtered

[code]
### Details

* Phalcon version: 3.0.1
* PHP Version: 7.0
* Operating System: osx

[2016-11-23 15:58] Jurigag commented on #12420
I like this idea.

[2016-11-23 18:19] sergeyklay commented on #12421
[code]

[code]

http://stackoverflow.com/questions/1005676/urls-and-plus-signs

[2016-11-23 18:22] sergeyklay commented on #12420
I think more about OOP approach. Something like Module Manger with events

[2016-11-23 20:49] alphanyx commented on #12420
What do you mean?
Do you have a code example?

[2016-11-23 23:24] jhaoheng commented on #12421
Hi @sergeyklay

I still confusion it.
when i use your method
- `return $email`
- and `handle it`
it is work

if i don't `return $email` but echo this directly, the result still output `xxxx 001@gmail.com`
(i input `xxxx%2B001%40gmail.com` it still no `+`.)

i parse the url path, it is work
[code]

I'm sure , if i parse url path directly , it is work. but if i get this parameter by MICRO , it is fa

[2016-11-24 01:05] sergeyklay commented on #12421
![micro-issue](https://cloud.githubusercontent.com/assets/1256298/20583476/de9684ce-b1f2-11e6-9e63-eb8256f908f7.png)

[2016-11-24 01:26] sergeyklay commented on #12420
[code]

Cc: @Jurigag, @dschissler, @virgofx

[2016-11-24 01:28] jhaoheng commented on #12421
![2016-11-24 9 26 29](https://cloud.githubusercontent.com/assets/1822475/20583838/5998edc6-b228-11e6-9e3d-7ff4350c6943.png)

[2016-11-24 02:07] dschissler commented on #12420
I very much like the assumption that only a single module will be loaded during a normal execution and with this feature we would be moving away from it.  I think that we should think of a module as a sub-app.

https://github.com/phalcon/cphalcon/issues/12252

As detailed in the issue above I think that Phalcon version 3 we should move to encourage this approach:

[code]

The loader can/should be

[2016-11-24 02:20] dschissler commented on #12420
In a perfect world with BC issues imagine this:

[code]

So then it is not necessary to use a `module` since you can just use the current approach to add services to a DI but if you wanted to separate it then you break it down like this.

[2016-11-24 06:18] sergeyklay commented on #12421
I don't see the problem on your screenshot. Could you please explain?

[2016-11-24 07:02] jhaoheng commented on #12421
Hi @sergeyklay

The situation is
1. `$app->handle('/anyString/hello')`
2. Type `{dns}/{email}/hello` on the browser.
3. should echo "email" : abcd@gmail.com on the browser
4. but the echo is `anyString`

should echo the email `abcd@gmail.com` on the browser.
Just only use `$app->handle();` can get the url parameter.

[2016-11-24 07:33] sprufu commented on #12403
+1

[2016-11-24 08:49] Jurigag commented on #12421
Browser encods + sign to %2B i guess

[2016-11-24 09:01] jhaoheng commented on #12421
Hi @Jurigag

I tried use %2B to replace '+' .
When i use `parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH);`, and it's work.
If i get parameter from MICRO, '+' will be replaced a blank character.

Confused.

Thank you.

[2016-11-24 09:17] Jurigag commented on #12421
I mean when browser is doing request it encods + sign to %2B.

[2016-11-24 09:30] jhaoheng commented on #12421
Hi @Jurigag

It look like not browser behavior.
Because i type `dns/abc+001/` on the same browser, and i try two method to get `abc+001`.

1. Use `parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH);` to get url path , and `$segments = explode('/', rtrim($path, '/'));`,  finial use `$var=$segments[1]` to get `abc+001`
==> it is work

2. Use MICRO

[code]
will get `abc 001`

Do you have any suggestion

[2016-11-24 10:50] Yurist-85 commented on #12326
This is a **BUG**.
Faced with such problem on Phalcon v2 + PHP 5.6.
Look in source code. Incorrect behaviour of this Adapter is from the beginning.
Just compare original Adapter and Redis Adapter.
No need in any row of script "to reproduce" it. It simply works **wrong**.

[2016-11-24 10:52] Jurigag commented on #12326
What you mean no script to reproduce ? Then how to recreate this issue without any code ?

[2016-11-24 11:01] Yurist-85 commented on #12326
There's no need to recreate it. Look in source code. If your brain works fine I'll see that there're absolutely different behaviours of `->destroy()` methods in original Adapter and Redis Adapter.

[2016-11-24 11:08] Yurist-85 commented on #11722
The same issue [#12326]

[2016-11-24 12:44] stamster commented on #12396
@sergeyklay should this fix be put in a milestone for 3.0.2?

[2016-11-24 19:58] challet commented on #692
@trugrul There is an (it seems undocumented) [application:viewRender](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/application.zep#L336) event that might be closer to what you want. In case many dispatches happend before one render, as when  _$dispatcher->forward_ is called.
The plugin is great, with one tiny downside : the "default namespace" is also becoming the "root namespace".

[2016-11-24 20:04] challet commented on #12354
I'm still aiming at doing it, need to make some cleaning and standardisation before. Sorry for the delay.

[2016-11-25 03:00] xueron commented on #12169
+1
I meet this too.

block defined in a partial not works.

[2016-11-25 06:58] m4k5imG commented on #11094
If I use elseif statement with nested loop, I have same error

[2016-11-25 06:59] m4k5imG commented on #10970
If I use elseif statement with nested loop, I have same error

[2016-11-25 15:01] Mo121Montazeri commented on #12421
Phalcon url structure must be change ....

This is laravel test:
<img width="440" alt="screen shot 2016-11-25 at 6 29 01 pm" src="https://cloud.githubusercontent.com/assets/7949908/20628763/2b6f9010-b33d-11e6-9485-57e40a860df3.png">

[2016-11-25 20:11] sergeyklay commented on #12421
I was able to reproduce it. I'll try to sort out

[2016-11-25 20:17] sergeyklay commented on #12396
The `3.0.2` version will be released on weekend

[2016-11-25 23:40] nottellyou opened #12424 "Help, Can't install cphalcon on Centos5.6 , but I can Install phalcon3 in Centos6.10 with same php ver ??"
This is my install log:

[code]

PHP ver: php7.0.7
nginx:tengine2.1.1(nginx 1.6.2)

[2016-11-26 09:02] Mo121Montazeri commented on #12421
Please remove "?_url=" then many of bugs will be improved.

[2016-11-26 10:12] sergeyklay commented on #12421
For example?

[2016-11-26 14:06] Mo121Montazeri commented on #12421
[#12350](https://github.com/phalcon/cphalcon/issues/12350)

[2016-11-26 15:28] sergeyklay commented on #12421
But why

[2016-11-26 19:50] hi2u opened #12428 "XSS vulnerability inside <TextArea> elements (no escaping/htmlentities being done)"
When using Phalcon's Phalcon\Forms\Element\TextArea element, no escaping/htmlentities is done on the value in between the real <textarea> and </textarea> tags.  A malicious user simply entering </textarea> into the form allows any following client-side code to be executed when returning to the form.

-----

**Example form with malicious user input:**

![xss-form](https://cloud.githubusercontent.co

[2016-11-26 23:32] stamster commented on #12421
@Mo121Montazeri you don't have to use that default router strategy, but full REQUEST_URI instead. That way, `?_url` is not populated.

[2016-11-26 23:33] stamster commented on #12396
OKAY, great, but this bug does not seem to be fixed in this release?

[2016-11-27 00:27] Jurigag commented on #12396
You see 3.0.3 milestone or not ?

[2016-11-27 06:27] sr-hosseini opened #12434 "Redis Cache class in exists method return false for present one"
### Expected and Actual Behavior

[code]

[code]
### Details

* Phalcon version: (`php --ri phalcon`)
Web framework delivered as a C-extension for PHP
phalcon => enabled
Author => Phalcon Team and contributors
Version => 2.0.13
Build Date => May 20 2016 22:13:46
Powered by Zephir => Version 0.9.2a-dev

Directive => Local Value => Master Value
phalcon.db.escape_identifiers => On => On
phalcon.db.fo

[2016-11-27 08:01] remicollet commented on #12055
v3.0.2 using latest zephyr cae68c4205a93a7a1ea6165bcd5ce5cb470f5bdd still broken.

PHP 7.1.0 is planed for Dec 1st.

[2016-11-27 08:57] sr-hosseini opened #12437 "Redis cache class in get method return false for keys with value of empty string"
### Expected and Actual Behavior

[code]

[code]
### Details

* Phalcon version: (`php --ri phalcon`)
Web framework delivered as a C-extension for PHP
phalcon => enabled
Author => Phalcon Team and contributors
Version => 2.0.13
Build Date => May 20 2016 22:13:46
Powered by Zephir => Version 0.9.2a-dev

Directive => Local Value => Master Value
phalcon.db.escape_identifiers => On => On
phalcon.db.fo

[2016-11-27 11:58] pwoszczyk commented on #12148
Same on:
- Phalcon version: 3.0.1
- PHP Version: 7.0.8
- Operating System: Ubuntu 16.04
- Installation type: packagecloud.io
- Server: Apache

[2016-11-27 16:01] sergeyklay commented on #12437
Fixed in the `3.0.x` branch.

[2016-11-27 16:01] #12437 closed

[2016-11-27 16:51] sergeyklay commented on #12055
@remicollet https://seld.be/notes/php-versions-stats-2016-2-edition

In my opinion there are many enterprise/corporate projects. They use Composer more rarely. So the proportion of the 5th version is bigger.

And when someone asks me about 7.1 (before release) it sounds strange to me.

The time is our resource; We can spend it either for fixing bugs and stabilizing the work, or for supporting 7.1

[2016-11-27 16:55] Jurigag commented on #12055
First of all, is there any really crucial and needed advatange in php 7.1 so we need to support it as soon as possible ?

[2016-11-27 17:29] sergeyklay commented on #12434
Fixed in the `3.0.x` branch.

[2016-11-27 17:29] #12434 closed

[2016-11-27 17:36] #11638 closed

[2016-11-27 18:21] sergeyklay commented on #12428
@hi2u How about to use the TextArea as part of HTML editor? The escaping out of box will break such use. At least it's not a minor hotfix. In my opinion you have to escape user's input (for example in the controller's action) but not output.

In any case this is an ambiguous question and I need time to think about it.

Could you please provide minimal code to reproduce in order correct understand

[2016-11-27 19:11] hi2u commented on #12428
Sorry, I didn't really understand what you mean here?

I've done up a simple example.  You can just paste this action code into a controller:

[code]

The resulting HTML rendered is:

[code]

As you can see, the regular one-line <INPUT> is converting special characters into HTML entities on output like it should.  But the <TEXTAREA> does not.

Everything I've read about XSS recommends doing the es

[2016-11-27 19:18] hi2u commented on #12428
Haha, looks like I've found a Github bug too.  All that text at the end was typed with newlines where it's now instead displaying `<P>` tags.

Here's how my text above was actually entered...

[code]

[2016-11-27 19:33] hi2u commented on #12428
Sorry about closing the ticket before, clicked the wrong button.

I also just now tested how Phalcon behaves with special characters inside the values of `<SELECT><OPTION>` tags.  This is also safely sanitized in the same way as Text.

e.g: if my database has an option with value:

`Data with <tag> "quotes" 'quote'`

\Phalcon\Forms\Element\Select is automatically rendering as:

[code]

So I'm gues

[2016-11-27 19:59] stamster commented on #12396
I missed that somehow. Thanks for pointing out.

[2016-11-27 22:10] niden commented on #12428
So

Yes this is an issue and not at the same time. Some might argue that the framework should filter things automatically (as seen in other `Tag` elements) while others might argue that it is the job of the developer to filter and sanitize input.

This is not a difficult fix. However, if we introduce a fix for this using `htmlspecialchars` right now, we will definitely break existing applications

[2016-11-28 02:08] nottellyou commented on #12424
Linux  4.8.3-x86_64-linode76 #1 SMP Thu Oct 20 19:05:39 EDT 2016 x86_64 x86_64 x86_64 GNU/Linux

I use linode Xen VPS。

I install cphalcon3.0.2 on centos 5.6(32) with same php ver.

How can I do???

[2016-11-28 03:25] hi2u commented on #12428
Thanks for the feedback.

A few might, but they definitely seem to be in the minority.  Pretty much every XSS guide recommends doing it on output for the reasons I mentioned above and a bunch more.  And this is how Phalcon itself does it for all other fields.  So whichever opinion you have about input vs output, Phalcon is doing it inconsistently.

But yes I agree with what you're saying about bre

[2016-11-28 07:43] Izopi4a commented on #12424
you ran out of memory

https://forum.phalconphp.com/discussion/9207/precompiled-phalcon-for-ubuntu

[2016-11-28 07:51] nottellyou commented on #12424
#free -m
             total       used       free     shared    buffers     cached
Mem:           985        551        434          0         38        278
-/+ buffers/cache:        234        751
Swap:          255         75        180

I  thought this memory is enough.

Can I copy a phalcon.so to use???

[2016-11-28 07:57] Izopi4a commented on #12424
available: 278, i guess this is not enough.

Do what its said in the forum.

git clone cphalcon
cd cphalcon\ext;

sudo ./install

[2016-11-28 08:07] nottellyou commented on #12424
![2016-11-28_16-06-09](https://cloud.githubusercontent.com/assets/8598743/20660454/a66ca99e-b584-11e6-8d1d-77530b7e5b7f.png)

[2016-11-28 08:10] nottellyou commented on #12424
[config.log.txt](https://github.com/phalcon/cphalcon/files/615698/config.log.txt)

This is config.log

[2016-11-28 08:35] Izopi4a commented on #12424
did you install `build-essential`

for ubuntu is apt-get install build-essential, no idea what's for centos

[2016-11-28 09:15] nottellyou commented on #12424
I use centos 5.6 (64bit).

How do I kown that build-essential is installed???

[2016-11-28 09:22] Izopi4a commented on #12424
yum install build-essential

[2016-11-28 09:28] nottellyou commented on #12424
I use the two method to install build-essential:

1、
[root@li181 build]# yum install build-essential
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: ftp.jaist.ac.jp
 * extras: ftp.jaist.ac.jp
 * updates: ftp.jaist.ac.jp
Setting up Install Process
No package build-essential available.
Nothing to do

2、
I  use yum install make gcc gcc-c++ kernel-devel
https://tech.m

[2016-11-28 09:41] Izopi4a commented on #12424
ok i am 99% sure i got it.

your gcc version is pre-historical :D

if oyu check the config.log file on line 66 there is cc1: error: unrecognized command line option "-flto"

once you google that https://gcc.gnu.org/ml/gcc-help/2010-02/msg00280.html

[2016-11-28 09:42] Izopi4a commented on #12424
CentOS-5.6-x86_64-LiveCD.iso	04-Apr-2011 19:59

for help and other questions https://forum.phalconphp.com/

or https://slack.phalconphp.com/

[2016-11-28 09:48] #12424 closed

[2016-11-28 10:19] aat2703 opened #12443 "hasOne foreignKey restriction not working"
### hasOne foreignKey restriction

Hi Phalconists

I'm trying to create a 1-1 foreignKey restriction between the RestaurantOrderLines and RestaurantProducts. But if we just for fun change the hasOne function call to belongsTo then it works perfectly :)

So that an RestaurantOrderLines cannot be created if the product does not exists.

**Code executed**:
[code]

**RestaurantOrderLines Model:**
[cod

[2016-11-28 11:41] Jurigag commented on #12443
It's not a bug. You just don't understand for what is `hasOne`. There is sample:

User table

[code]

On user Model:

[code]

Profile table

[code]

Profile model:

[code]

So  - hasOne just works same as hasMany, just returns only one model instead of resultset. It is made for unidirectional relationships. In your case since you have bidirectional relationships there should be used belongsTo in b

[2016-11-28 12:19] aat2703 commented on #12443
@Jurigag, i get it now!

Thank you!

Sorry for the naming conventions, i have abit of reading to do: https://launchbylunch.com/posts/2014/Feb/16/sql-naming-conventions/

[2016-11-28 12:19] #12443 closed

[2016-11-29 10:20] dzuelke opened #12444 "Segmentation fault with 3.0.2 on PHP 7.1"
You're already aware I guess, as the Travis builds are failing with the same problem, but I figured it wouldn't hurt to have an issue to track it.

Even just `php -v` segfaults :)

This is notably different from 3.0.1, which did not even compile successfully against 7.1.

[2016-11-29 16:36] stamster commented on #12444
7.1 ... I would check it only some time after official release.

In other words - I'm not even sure whenever PhalconPHP will support PHP 7.1 on this release series 3.0.x.
@sergeyklay should know more on this.

[2016-11-29 16:47] Jurigag commented on #12444
Definitely not going. 3.0.x is bugfix. PHP 7.1 support is new feature - so it will come most likely with 3.1.0 or 3.x.0 version.

[2016-11-29 17:44] ruudboon commented on #12098
Will the Phalcon\Mvc\Model\Validation\* be removed in 3.1? Don't see why we should keep it any longer. If it's deprecated I expect that it should still be possible to use. Don't think that's the case (#12178)

[2016-11-29 17:48] Jurigag commented on #12098
Because of collection. It will be removed in 4.0.0

[2016-11-29 23:38] mtotheikle commented on #3023
I've encountered this using version 2.0.7.

We also noticed that this is only happens for us when we load a relation via magic getters. This loading of the relation causes the dirty state to be changed to DIRTY_STATE_TRANSIENT.

Has anyone else experienced this with newer versions?

[2016-11-30 10:30] Zaszczyk opened #12446 "Model setupping castOnHydrate and ignoreUnknownColumns problem"
I have query:

[code]
and it was working until I added to my code (I added it because I would like to have numbers as integer in objects from DB):

[code]
With these settings when I run query results (object Phalcon\Mvc\Model\Resultset\Simple) has invalid columnMap: there are fields from class ItemLike instead of User. So during iteraing results in foreach I got object User but with null fields.

[2016-11-30 13:30] benfavre commented on #2329
My auth system login/logout was working prior to me setting domain and httponly.
The only way to get the cookie to delete was to set negative expire time.
thanks @j3l3v

Needs fixing

[2016-11-30 15:24] MrDutchy commented on #2647
Not anymore. It's closed now by sergeyklay stating that "Eager Loading is a really bad idea popularized by frameworks that do not care about performance."

I don't agree with him. The competition has it but it looks like the Phalcon team is not going to add this.

I ran into many situations where proper eager loading would lead to substantial **performance gain** if implemented correctly.

[2016-11-30 16:04] MrDutchy commented on #2647
Not anymore. It's closed now by sergeyklay stating that "Eager Loading is a really bad idea popularized by frameworks that do not care about performance."

[2016-11-30 19:44] sergeyklay commented on #3023
@mtotheikle Could you please open a new issue with script to reproduce?

[2016-11-30 20:12] #12444 closed

[2016-12-01 15:55] sergeyklay commented on #12418
I'll try to backport `hash_equals` from PHP 5.6

[2016-12-02 09:11] sergeyklay commented on #12418
Fixed in the `3.0.x` branch.

[2016-12-02 09:11] #12418 closed

[2016-12-02 10:05] sergeyklay commented on #12392
@emiliodeg Could you please provide the Phalcon version, OS, and way you initialized the Security service. I'll try to sort out

[2016-12-02 16:51] Jurigag commented on #12446
It's not right behaviour, this is well known bug for years/months. The best workaround and solution for now is just:

[code]

[2016-12-05 16:44] remitoffoli opened #12455 "[BUG] Validator Message Group iteration incorrect behavior after unsetting a message index"
Hi, I just ran into a bug trying to iterate a Phalcon\Validation\Message\Group after having unset a message index. Here is an exemple :

[code]

FYI, if you have to iterate with this problem you cant use the following hack.
[code]

The problem can easily be fixed by replacing ```unset this->_messages[index];``` by an ```array_splice``` in the following function of https://github.com/phalcon/cphalc

[2016-12-05 22:29] Izopi4a commented on #12055
I agree with @sergeyklay, just one thing is that "new users" that are seeking for php framework might get pushed away by a fact that a specific framework doesn`t support the "latest php".

While i don`t say this is the most important issue i still think it should be fixed at early stage so people can see framework is always up to date and they have nothing to worry about.

At least , this is what

[2016-12-05 22:51] nsossonko opened #12456 "Model::count() causes memory leak on 3.0.2 php7/php56"
We have code that was doing the following:
[code]
On each invocation memory grows and is not released.

[2016-12-05 23:06] sergeyklay commented on #12456
Duplicated #2705, #3175

Also the problem is not using bound parameters: http://docs.phalconphp.com/en/latest/reference/models-cache.html#caching-of-phql-planning

[2016-12-05 23:06] #12456 closed

[2016-12-06 02:59] Yurist-85 commented on #12221
After read all above I think, the best way is something like this:

`$config = new Config([ ... ]);`
Use '.' [dot] notation by default but allowed to reset it if needed.
`$config->setPathSeparator('/');`

Use 3rd param to reset separator per request:
`$val = $config->get('some.other.path.to_the.val', null, '.');`

Return `null` if not exists (it's current behaviour I guess):
`$val = $config->get('

[2016-12-06 06:39] lujunjie521 opened #12457 "can't start the php7.1 server when i update the php7 to php7.1 with the phalcon"
i have a problem to start php server;

before i update to the php7.1, i use the php7.0.13 and phalcon3.0.2, it works fine.

but when i update to the php7.1;
i can't restart the php server with this error
Starting php-fpm /etc/init.d/php-fpm: line 53: 18436 Segmentation fault      (core dumped) $php_fpm_BIN --daemonize $php_opts

[2016-12-06 07:01] sergeyklay commented on #12457
Duplicated https://github.com/phalcon/cphalcon/issues/12055

[2016-12-06 07:01] #12457 closed

[2016-12-06 15:21] temuri416 commented on #12055
@Jurigag @sergeyklay Do I understand it correctly that at the moment Phalcon 3.0,2 will not compile with PHP 7.1?

I did try it, and got segfaults - so that's not a good sign. Prevents us from moving to PHP 7.1.

[2016-12-06 16:11] Jurigag commented on #12055
Yes. Just stay at php 7 until this is fixed.

[2016-12-06 17:57] nsossonko commented on #2705
I don't think this should be closed as "not a bug". It is clearly a bug. While there is a workaround, the underlying problem still exists. PHQL caching should not be endless, eventually starving the system of memory completely...

[2016-12-06 18:27] Jurigag commented on #2705
First of all - this 1.x and 2.x is not supported anymore. Second - ony 3.x when using bind parameters there is no such a problem like memory leak.

[2016-12-06 18:29] nsossonko commented on #2705
I'm talking 3.x (my issue #12456 was duped to here). There is a memory leak when not using bound parameters and, even when using bound parameters, there can be a memory leak if there are very many different queries based on other elements. Both issues are bugs that, while maybe not urgent, are valid.

[2016-12-06 18:46] Jurigag commented on #12456
Are you sure you are on 3.0.2 ? This was fixed in 3.0.2

[2016-12-06 19:14] nsossonko commented on #12456
I am sure. My code was using a variable that changed in each loop.

[2016-12-06 20:20] Izopi4a commented on #12403
[code]

outputs

[code]

php 7 0 13
mysql 5.7.16

[2016-12-06 20:33] Izopi4a commented on #12419
[code]

maybe we can tune a little bit here https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/criteria.zep#L512

and here https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/query/builder.zep#L941

to change var to int and offset only if limit is present stuff like that

what do you think @sergeyklay

[2016-12-06 21:01] temuri416 commented on #12403
@Izopi4a what are you trying to demonstrate exactly?

[2016-12-06 22:15] Izopi4a commented on #12403
come i checked beforedelete intead of afterdelete , just tell me i am stupid.

i will check afterdelete tomorrow ...

[2016-12-06 22:16] sergeyklay commented on #12456
And this is bad. Did you read https://docs.phalconphp.com/en/latest/reference/models-cache.html#caching-of-phql-planning

[2016-12-06 22:37] nsossonko commented on #12456
I read that, and fully understand that. It doesn't matter that the practice is bad, there are a lot of reason out there why not to always bind every last thing (some related to testing, etc.). There still should be a cap on caching...

[2016-12-07 04:25] dschissler commented on #12105
Also base 62 can be made to handle negative numbers as well since the `-` symbol is unused.  I'm unsure if we would want to add negative number handling to the routines or just to leave it up to the developer if they need it.

Actually I'd like to see Phalcon be able to provide a nice API wrapper for creating numbers in various bases because the `gmp_strval(gmp_init(...))` (using `gmp` extension)

[2016-12-07 09:40] kornrunner commented on #12055
We're using phalcon in production on PHP 7 and we'd like to upgrade to 7.1, so looking forward to these changes.

Thanks!

[2016-12-07 13:52] stamster commented on #12455
That should not work that way.
Use `offsetUnset()` method instead.
https://docs.phalconphp.com/en/3.0.1/api/Phalcon_Validation_Message_Group.html
https://github.com/phalcon/cphalcon/blob/master/phalcon/validation/message/group.zep#L106

[2016-12-07 13:58] Jurigag commented on #12455
But unset should work too. It's implementing ArrayAccess. When doing unset it's calling offsetUnset anyway.

[2016-12-07 14:02] remitoffoli commented on #12455
@Jurigag is right.

In fact, I thinks you should not use directly ```offsetUnset()```. PHP calls it when you use ```unset(...)``` : http://php.net/manual/en/class.arrayaccess.php

Have a look at the code exemple just below the method documentation ;)
https://docs.phalconphp.com/en/3.0.1/api/Phalcon_Validation_Message_Group.html

[2016-12-07 19:04] sergeyklay commented on #12403
I'll try to sort out

[2016-12-07 20:32] virgofx commented on #12166
@ashpumpkin Can this be revised to only go through the autoloader once -- instead of using class_implements() load the class instance and then check instanceof which will be faster as the autoloading() process only gets hit once.

[2016-12-08 02:07] ohmcoe opened #12459 "[PHP7-FPM] Segmentation fault on startup"
I'm try to build and install phalcon from source on php-fpm but after install PHP can't startup.

### This gdb trace of segmentation fault
[code]

### Details

* Phalcon version: Phalcon 3.0.2 master branch (08/12/2016 09:03)
* PHP Version: PHP 7.1.0 (cli) (built: Dec  6 2016 21:32:38) ( NTS ) (php:fpm Docker image)
* Operating System: Debian jessie (8.6)
* Installation type: Compiling from source

[2016-12-08 06:58] ucando opened #12460 "Phalcon\Mvc\View can't be extended correctly in Zephir"
### Expected and Actual Behavior

I have an class extended Phalcon\Mvc\View write by Zephir, and it run well in Phalcon 3.0.1. when I upgrade to 3.0.2, it cause some "Undefined variable" notice, also the render system is broken. I review the code between 3.0.1 and 3.0.2 and found that many variables has defined as "[]", it seems the "[]" value can't be extend correctly. I write another php file to

[2016-12-08 09:00] Jurigag commented on #12459
`PHP Version: PHP 7.1.0 `

Duplicated #12055

[2016-12-08 09:37] nirnanaaa commented on #11424
anyone working on this? In our case it is really anoying to perform a new find every time you just want to update a previously saved model.

[2016-12-08 11:02] valVk commented on #11082
This NFR may be outdated, because it is 1 year old. Probably current implementation of Uniqueness takes this into account. But main goal for this NFR is have possibility to remove validator from a stack in case if it does not need.

[2016-12-08 12:03] kangtao10000 opened #12461 "php7.1.0 not support"
### Expected and Actual Behavior

[code]

[code]
### Details

* Phalcon version: (`php --ri phalcon`)
* PHP Version: (`php -v`)
* Operating System:
* Installation type: Compiling from source || installing via package manager
* Zephir version (if any):
* Server: Nginx | Apache | Other
* Other related info (Database, table schema):

[2016-12-08 12:08] Jurigag commented on #12461
Duplicate of #12055

[2016-12-08 12:14] kangtao10000 commented on #12461
php7.1.0  cphalcon3.0.2  Error info: Segmentation fault

[2016-12-08 12:20] Jurigag commented on #12461
AS I WROTE - duplicae of #12055

[2016-12-08 12:21] bvcmxy opened #12462 "Install php7.0-phalcon on ubuntu 16.10"
There's no repository for Ubuntu 16.10 to install php7.0-phalcon, I had to set the repository from Ubuntu 16.04 to install it using apt.

Can this be fixed in the near future?

Thank you,

[2016-12-08 12:21] Jurigag commented on #11424
So pretty much - save(if succesfull) should just update snapshot if needed ?

[2016-12-08 12:38] stamster commented on #12462
Why would it be for a distro not meant for a production use? Only LTS should be supported IMHO.
And on top of that, you can always compile from source on your own.

[2016-12-08 12:39] stamster commented on #12459
I don't get it, why people always go fast forward with such major releases (7.1).
What exactly do you miss in current 7.0 stack?

[2016-12-08 12:45] Jurigag commented on #12459
There are just some performance boosts compared to 7.0, also void type and nullable types. Maybe they need those so much.

[2016-12-08 12:55] ohmcoe commented on #12459
@Jurigag Thanks for reply. I will use PHP 7.0.13 for this time.

[2016-12-08 12:57] #12459 closed

[2016-12-08 13:44] ruudboon opened #12463 "PhalconMemorySession not found when running tests"
I'm trying to run the PHP-Unit tests with the Vagrant Phalcon
I followed the unit-test setup in the Readme [https://github.com/phalcon/cphalcon/tree/master/tests](https://github.com/phalcon/cphalcon/tree/master/tests)
Unfortunately I'm getting the follow error

[code]
Codeception is on v2.2.7, Phalcon 3.02, php5.6.28
Is this part of Codeception or Phalcon?