[2015-07-09 14:35] andresgutierrez commented on #10631
It looks like something that can be fixed

[2015-07-09 14:40] olivier-monaco commented on #10631
Ok. I will in some hours. Thanks.

[2015-07-09 16:40] cspeak commented on #10623
Thanks for the update. I did a search before posting but looks like I barely missed it.

[2015-07-09 18:35] pauliuspetronis commented on #10625
Not `columns`, but `column`

[2015-07-09 20:23] ruudboon opened #10632 "[2.0.4] Unable to use closure in filter"
I used a closure in a filter to do some simple filtering.
After upgrading I get the following error: Object of class Closure could not be converted to string in ..

[code]

[2015-07-09 20:25] andresgutierrez commented on #10632
Was this supported before?

[2015-07-09 20:29] ruudboon commented on #10632
It was working so I assumed it was supported. I think there is a thread somewhere regarding this functionality. Let me check..

[2015-07-09 23:14] r3jack commented on #10625
my mistake.

[2015-07-09 23:14] #10625 closed

[2015-07-10 02:12] yongsheng-xia commented on #10622
@andresgutierrez i see phalcon in http://www.php-fig.org/ Member Projects list, psr-1 say Class names MUST be declared in StudlyCaps.

[2015-07-10 02:57] sprufu opened #10633 "\Phalcon\Mvc\Model\Resultset这个类应该实现\JsonSerializable接口是不是会更好一些?"
在很多地方把结果集输出成json, 不得不先用toArray方法, 想重新实现find方法也不简单.
大家还有更好的做法吗?

[2015-07-10 03:02] andresgutierrez commented on #10633
See #10320

[2015-07-10 06:43] olivier-monaco commented on #10632
The argument of addFilter is the name of one filter in Phalcon\Filter. You can add closure un Phalcon\Filter using:

<pre>
$filter = $di->getShared('filter');
$filter->add('xxxx', function() { ... });

$oPostcode = new Text('postcode', array(
            'placeholder' => 'Postcode'
));
$oPostcode->addFilter('xxxx');
</pre>

[2015-07-10 06:47] olivier-monaco commented on #10619
@Surt I think you can close this issue.

[2015-07-10 07:00] ruudboon commented on #10632
Thnx @olivier-monaco

[2015-07-10 07:11] olivier-monaco commented on #10616
It's a cache problem. The second call of find use the query of the first one.

[2015-07-10 07:41] ashpumpkin commented on #10616
@olivier-monaco the first bug is not related to cache.
[code]

this code reproduces invalid param number too

[2015-07-10 07:55] olivier-monaco commented on #10616
Yes, it because you are using an associated array instead of an indexed array.

[2015-07-10 08:12] ashpumpkin commented on #10616
@olivier-monaco
[code]
=> SQLSTATE[HY093]: Invalid parameter number: parameter was not defined

Looks like phalcon iterates my array like this:
[code]
And this causes the problem when some array keys are missing or not integer

[2015-07-10 09:01] Surt commented on #10619
Great! thanks!

[2015-07-10 09:01] #10619 closed

[2015-07-10 09:59] sszdh commented on #10616
It seams Zephir has no `foreach` or any array specific looping functionslity! Just `for` & indexing!

[2015-07-10 10:01] SidRoberts commented on #10622
If you want to call the `AppUseTask` class, use:

[code]

I also use this code snippet in the CLI's dispatcher to use hyphenated actions:

[code]

Without it, to call `AppUseTask::aRandomNameAction`, you have to do `php cli.php app-use aRandomName`. With the snippet, you can do `php cli.php app-use a-random-name`.

[2015-07-10 10:06] sszdh commented on #10616
Oh, my bad... my last comment is wrong i think!

[code]

[2015-07-10 10:06] aleksandrzen commented on #10616
@sszdh, from [documentation](http://zephir-lang.com/control.html#loops):

[code]

[2015-07-10 10:29] Baroslaw opened #10635 "MySql BIT(1) field and its Model representation - strange problem"
On Windows machine we have table with TINYINT(1) 'domain' fields, and it's represented in model as string values "1" or "0". We moved application to different machine with Ubuntu. Used phalcon migration run to generate tables. Surprisingly this field was created as BIT(1) on Ubuntu, which is not realy a problem, but values in model are not proper anymore. vardump($this->domain) returns ["domain":p

[2015-07-10 11:09] salarmehr opened #10636 "Is not 2.0.4 intended to be backward compatible?"
Upgrading from 2.0.3 to 2.0.4 I had to change ` validate(Phalcon\Mvc\ModelInterface $model)` to `validate Phalcon\Mvc\EntityInterface $model` in all models. Is it intended behavior? Is there any upgrade guild-line? I thought minor versions are totally backward compatible.

[2015-07-10 11:24] dschissler commented on #10636
Adding typed parameters to methods has been a major theme of the `2.*` releases.  Hopefully this all slows down with `2.1.*`.

[2015-07-10 12:10] chipco opened #10637 "[2.0.4] getSessionToken() returns different values on each page refresh"
For testing use vokuro login form https://github.com/phalcon/vokuro/blob/master/app/forms/SignUpForm.php

CSRF validation fails since the value of the token changes.

[2015-07-10 13:24] salarmehr opened #10638 "[2.0.4] Routes stop working"
After upgrading from 2.0.3 to 2.0.4 all custom routes stop working and only the default route `controller/action` works.
[code]

[2015-07-10 13:26] salarmehr commented on #10638
@AndrewUshchenko  added.

[2015-07-10 13:30] andresgutierrez commented on #10638
Could you please try again compiling from the 2.0.x branch?

[code]

[2015-07-10 13:37] salarmehr commented on #10638
I use windows on my development machine on centos on the productions. Is compiling windows dll straightforward?

[2015-07-10 14:09] AndrewUshchenko commented on #10638
@salarmehr You called me?)

[2015-07-10 15:01] ianhaycox commented on #2039
Note: The documentation at https://docs.phalconphp.com/en/latest/reference/models.html#virtual-foreign-keys is incorrect. allowNull does not work, but allowNulls (@andresgutierrez) does work.

[2015-07-10 16:55] SkyZH opened #10639 "Volt template engine parse problem on Linux"
When I use Volt on Linux,
`{{ stylesheet_link('//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css') }}`
 will be parsed as
` <link rel="stylesheet" type="text/css" href="/oj///cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" />`
But on Windows it works correctly.
 `<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
`
 is the result on Windows.
I can s

[2015-07-10 16:57] carvajaldiazeduar commented on #10639
Do you have 2.0.4 on both machines?

[2015-07-10 17:21] SkyZH commented on #10639
I install phalcon with apt-get and ppa repositoy on Ubuntu. This version is 2.0.1...
and install the latest version 2.0.4 of phalcon on Windows.

[2015-07-10 17:37] SkyZH commented on #10639
Thank you! After I download and install the latest version of Phalcon, this issue has been solved.

[2015-07-10 18:30] ioncube opened #10640 "Mapping URI with capitals to controller class name broken in 2.0.4"
This is a possibly related in some way to #10638
Having updated to 2.0.4, a URI /API/foo/ that formerly mapped to a controller class ApiController now maps to ApIController (capital A, lower case p, capital I). Is this a bug or a new naming strategy that breaks BC?

[2015-07-10 20:32] stefanchiriac commented on #10637
well, seems like if you fail the login form, 2nd time the csrf keys are out of sync. To keep it working you either have to refresh the page, or do a hack of some sort. This problem is quite old so I added this in LoginForm until gets fixed.

    /**
     * @var null $lastCsrfValue
     */
    private $lastCsrfValue = null;

    /**
     * Get last Csrf value
     */
    public function getCsrf()

[2015-07-10 20:45] stefanchiriac commented on #10636
well, phalcon team doesn't seems to care so much about backwards compatibility. Since version 2 started, each update breaks compatibility with something.

Every feature that breaks compatibility even a bit, should have been put on 2.1.x branch and on 2.0.x to add only features that keeps the backward compatibility and fixes.

[2015-07-10 21:38] sszdh commented on #10637
Search the forum, u can find usefull topics there...

[2015-07-10 23:28] dschissler commented on #10637
@chipco I based my [Webird](https://github.com/perchlayer/webird) project on Vokuro and so csrf code suddenly stopped working as well with 2.0.4 but I was able to fix it rather easily.  I'm not longer using the form to validate the csrf and I'm doing that in the controller.  I think that this new way is better because the serious security code is in the controller.

* [SigninForm](https://github.c

[2015-07-10 23:40] dschissler commented on #10636
Phalcon doesn't use [semver](http://semver.org/).  It wouldn't be a bad thing in my opinion if the Phalcon team wasn't so allergic to increasing the minor version.  Push forward with some new features, bump the minor version, kill a few old bugs then bump the patch version, and repeat.

[2015-07-11 02:33] ashpumpkin commented on #10616
BTW, why is it necessary to use type placeholders for array binding? I tried "id IN (:roboid:)" and it didn't work :disappointed:

[2015-07-11 03:03] #10639 closed

[2015-07-11 17:53] virgofx commented on #10610
I can confirm this problem exists in all applications without explicitly specifying a baseUri for the URL. The default has been always "/". And now any redirect's with `/location` will turn into '//location` which is incorrect.

This is extremely high priority.

[2015-07-11 20:14] olivier-monaco commented on #10616
Cache problem is not so easy to resolve. It is located in Phalon\Mvc\Model\Query::parse. This method calls  phql_parse_phql to transform the PHQL statement to a PHQL AST and translate this AST to a intermediate SQL representation.

The phql_parse_phql function does no look for the bound parameter when parsing "id IN ({id:array})": it's only a semantic process. The resulting AST is the same for any

[2015-07-12 06:00] #10633 closed

[2015-07-12 13:17] andresgutierrez commented on #10616
@olivier-monaco Thanks for the analysis, opted for the third option

It's now implemented in the 2.0.x branch

[2015-07-12 13:17] #10616 closed

[2015-07-12 13:25] andresgutierrez commented on #10638
Unable to reproduce this in 2.0.x branch:

[code]

[2015-07-12 13:25] #10638 closed

[2015-07-12 13:27] andresgutierrez commented on #10636
Phalcon 2.0.0 to 2.0.3 broke compatibility with Phalcon 1.3.x, and this change in Phalcon 2.0.4 is fixing that

[2015-07-12 13:27] #10636 closed

[2015-07-12 13:27] andresgutierrez commented on #10632
Closed as not a bug

[2015-07-12 13:27] #10632 closed

[2015-07-12 13:29] #10618 closed

[2015-07-12 13:41] andresgutierrez commented on #10610
If the default URI is / why do you have to prepend another /? It will result, for instance in `//data`.

[2015-07-12 17:03] sergeyklay opened #10646 "Improve Phalcon\Translate\Adapter::replacePlaceholders"
Just gonna leave this here to refer on this issue.

Need extend `Adapter::replacePlaceholders` for using more simple translate `key => value` pars:

For example:
[code]

In the specific case, this can be solved as follows:

[code]

I think by default `replacePlaceholders` shouldn't change (so as not to BC break), but if in ctor passed additional parameter/option - `replacePlaceholders` should use

[2015-07-12 18:43] virgofx commented on #10610
@andresgutierrez  Intuitively that would make sense ... no problem with that. The issue is that the behavior has changed from defaults prior to 2.0.4 in a very core part of the framework (URL generation is huge for applications -- breaking production for my entire stacks)

The current default has always been "/" for the base URI. I guess more clarification could exist on this. For example, lets ta

[2015-07-13 04:34] broklyngagah commented on #10608
@andresgutierrez
i've pull the new patch and views still not display.

[2015-07-13 07:38] sergeyklay commented on #10646
This can be used as follow:

[code]

[2015-07-13 11:47] dschissler commented on #10637
Damn.  I just realized that there is not a `Session::getSessionTokenKey()` method and a recent quick fix of mine is broken.  I checked the Phalcon 2 source and both `Security::getToken()` and `Security::getTokenKey` both change their respective session variable.  The problem is that there is no way to use the token key twice in the view without passing the variable in from the controller.

While I

[2015-07-13 14:08] phalcon commented on #10583
No script to reproduce has been posted yet

[2015-07-13 14:41] andresgutierrez commented on #10635
Fixed in the 2.0.x branch

[2015-07-13 14:41] #10635 closed

[2015-07-13 14:44] andresgutierrez commented on #10608
@broklyngagah Did you compile from ext/ in the 2.0.x branch?

[2015-07-13 18:40] pauliuspetronis commented on #10646
I can try implement this improvement

[2015-07-13 18:53] pauliuspetronis commented on #10646
@sergeyklay, You make this improvement? If not, then I can implement.

[2015-07-13 19:06] sergeyklay commented on #10646
@pauliuspetronis Try please. I have a lot of work now

[2015-07-13 21:51] pauliuspetronis commented on #10646
@sergeyklay I have improvement [here](https://github.com/pauliuspetronis/cphalcon/commit/2ce6b4db1e7c1f379001064f4189e3ac367d95a9). Maybe have comments? I'm not sure about my used terminology ["replacer"](https://github.com/pauliuspetronis/cphalcon/commit/2ce6b4db1e7c1f379001064f4189e3ac367d95a9#diff-4dfb116d0e7e31eae5eaa91ea5142a09R27) :)

[2015-07-13 22:03] sergeyklay commented on #10646
:+1: I thought about "Method" class name, but your variant is more human-readable

@andresgutierrez ?

[2015-07-13 22:05] sergeyklay commented on #10646
with tests :+1: :+1:

[2015-07-14 00:24] broklyngagah commented on #10608
@andresgutierrez
apologize. my fault. i pull from wrong tag.

[2015-07-14 02:51] galki opened #10648 "[2.0.4 bug] Cannot use a scalar value as an array"
I'm using PHP 5.6.8 and getting the below notices when I have error reporting turned on.
It looks like the way an array is written as another array's key is the cause.

// Notice: Cannot use a scalar value as an array in phalcon/mvc/model/resultset/simple.zep on line 209
```let renamed[renamedKey[0]] = value;```

// Notice: Cannot use a scalar value as an array in phalcon/mvc/model.zep on line 360

[2015-07-14 06:27] ruudboon commented on #10615
Is this part of the 2.0.5 release? Didn't see it in the release notes.

[2015-07-14 12:56] #3283 closed

[2015-07-14 13:09] DestinyMKas opened #10655 "[2.0.5] macros bug"
Hello, i copied code from https://docs.phalconphp.com/en/latest/reference/volt.html#macros example:

[code]

And I get an exception: Phalcon\Mvc\View\Exception: Macro 'my_input' does not exist

I checked the code, so I think the problem is Phalcon\Mvc\View\Engine\Volt (volt.zep)
line 40: protected _macros;

_macros cannot be protected, because compiled volt code looks:

[code]

I tried to die in c

[2015-07-14 14:42] rahmen86 opened #10657 "JS Minifier not handling umlaut characters (åäö)"
The problem here is that characters like å, ä and ö was removed and appeared as a space in the html (around 3 spaces in the js file). My workaround was to replace with \&auml; etc. The desired fix is to take those characters into account when minifying.

My testing:
https://gist.github.com/rahmen86/5226ef6c7609c7838de1

Thanks to @rianorie, who found the JS Minifier line that seems to be wrong:
ht

[2015-07-14 14:46] andresgutierrez commented on #10657
In Phalcon 2.0.5:

[code]

Outputs:

[code]

[2015-07-14 14:50] andresgutierrez commented on #10655
Can't reproduce this in latest Phalcon 2.0.5

[2015-07-14 16:45] DestinyMKas commented on #10655
Sorry, my fault.. I have too much extended phalcon & something went wrong..

[2015-07-14 16:47] rahmen86 commented on #10657
@andresgutierrez:
Maybe you have to put multiple files together as well.

I hope this gives any more hints to you. I'm not sure how these things work so I feel a bit lost...
https://gist.github.com/rahmen86/cabbd5b7cae0ec3db9f8

[2015-07-14 19:03] SoccerField24x7 opened #10658 "tel_field not wrapping values in array()"
Using 2.0.4 and trying to create a volt tel_field:
tel_field("phone", "class":"box")

In the error log:
[Tue Jul 14 18:40:04.681176 2015] [:error] [pid 5457] [client 45.50.41.42:64292] PHP Parse error:  syntax error, unexpected '=>' (T_DOUBLE_ARROW) in /usr/local/Sites/qbdn.com/app/cache/_usr_local_sites_qbdn.com_app_views_contact_index.volt.php on line 156

Line 156 in cache file:
<?php echo $thi

[2015-07-14 19:03] andresgutierrez commented on #10657
@rahmen86 I think you must see if this happens using the latest released version. Bugs are only fixed if they are raised in the latest version

[2015-07-14 19:24] virgofx opened #10660 "[2.0.x] [Bug] Dispatcher beforeExecuteRoute Return false not working inside Plugin"
**bootstrap.php**
[code]

**MyPlugin.php**
[code]

Any controller file
[code]

[2015-07-14 19:38] sergeyklay commented on #10660
You can't use `this` in the closure (`$this->di->getShared('eventsManager');`).
Try:

[code]

[2015-07-14 20:18] iotch opened #10662 "Beanstalk: Invalid arguments supplied for explode()"
Hello.
When listening for a new job and the server goes away, the following errors occurs:

`explode()` error seems to be happening here - https://github.com/phalcon/cphalcon/blob/master/phalcon/queue/beanstalk.zep#L273

Steps to reproduce:

A.Start listening for a new job

    $bs = new \Phalcon\Queue\Beanstalk;
    $bs->reserve();

B. Stop or restart beanstalkd
[code]

I think Beanstalk class sh

[2015-07-14 20:26] andresgutierrez commented on #10660
It currently works that way:

Execute the plugin beforeExecuteRoute, if it returns false, it continues executing the dispatch loop:

https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/dispatcher.zep#L457-L467

beforeExecuteRoute in the controller is executed only if the plugin does not return false:

https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/dispatcher.zep#L470-L480

[2015-07-14 20:54] virgofx commented on #10660
@andresgutierrez Can you clarify, I couldn't quite understand. You said that beforeExecuteRoute in the controller is only executed if the plugin does not return false.  However, this is not the case. I am returning `false` in the Plugin, yet the controller beforeExecuteRoute still occurs.

[2015-07-14 21:12] andresgutierrez commented on #10660
I am unable to reproduce the issue, because the current implementation does not allow what the report says.

The following test:

[code]

Prints:

[code]

No exceptions are generated which means beforeExecuteRoute() or the action itself is never executed if you return false from the controller.

[2015-07-14 21:37] virgofx commented on #10660
Ok great, so atleast the logic of what should happen is correct, but you're not able to reproduce.

Let me attempt to reproduce this tomorrow morning after I munge out all the other application code so I can have it reproducible in a script that is helpful for you.

[2015-07-14 22:39] #975 closed

[2015-07-14 22:43] #2925 closed

[2015-07-15 01:29] gtux opened #10665 "Dump does not honor the name for basic variable types"
According https://github.com/phalcon/cphalcon/blob/master/phalcon/debug/dump.zep#L226 if a variable is an integer, float, string and so on, the output does not contain the name, so this code dont show the name:

[code]

[2015-07-15 05:04] KhanhKid opened #10666 "[Issue] User limit and offset in query"
Dear Phalcon Team

This is my code

[code]

I use Phalcon 2.0.5
I need to limit 8 items and offset is 0 but the function is not working.
When I remove offset 0, ( -> limit(8) ). It's working.

Before I user Phalcon 2.0.2. The issue didn't appear :(
How can I fix it?

[2015-07-15 06:10] williamokano commented on #10666
Paste the generated query please.

[2015-07-15 06:39] szytko commented on #2771
:+1:
In my opinion the current solution in find method is slightly inefficient because of iterator_to_array use

[https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/collection.zep#L431](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/collection.zep#L431)
[code]

I have rewritten find method to return cursor, which in turn is wrapped by proxy class that implements Iterator

[co

[2015-07-15 06:59] KhanhKid commented on #10666
I'm doing to paste to generated query.... :(
$results = ReviewDetail::find(array(
                    $condition,
                    "order" => $sort,
                    "limit" => array("number" => 8, "offset" => $offset)
                ));
The same errors with model of Phalcon.... When I user offset. It's not working...
Only select all row (ignored limit ) ....
Is the Bug, right?

[2015-07-15 07:18] sergeyklay commented on #2771
:+1:

[2015-07-15 09:55] arius86 commented on #2771
Using cursor is way more efficient. :+1:  for @szytko

[2015-07-15 10:44] ashpumpkin opened #10669 "[2.0.5] Associated array binding doesn't work"
code to reproduce:
[code]

Output:
[code]

[2015-07-15 11:39] andresgutierrez commented on #10669
This does not work because of:

[code]

Bound parameters are passed as:

[code]

and there is no index 0 or 1 just index 'hello' and index 'world'

[2015-07-15 11:41] andresgutierrez commented on #10658
Fixed in the 2.0.x branch

[2015-07-15 11:41] #10658 closed

[2015-07-15 12:32] ashpumpkin commented on #10669
@andresgutierrez Ok, maybe my first example is a little bit synthetic.
Please look at the code below, I'm sure it should work, but it doesn't :disappointed:

[code]
Output:
[code]
I think array binding shouldn't rely on keys of the bound array.

I can fix it on my side:
[code]
but in my opinion phalcon can easily do it by itself

[2015-07-15 13:33] akudryav commented on #10637
I use the same action in IndexController in Vokuro and Invo application:
[code]
So in Invo there is no changes in token on refresh, but in Vokuro it changes every time you reload page WHY?!!!

[2015-07-15 14:18] akudryav commented on #10637
Seems like action Index in IndexController (where I use getToken function) executed when you open any url behind the scene)

[2015-07-15 15:21] alanbarber111 commented on #10666
Confirming this is a bug in phalcon/mvc/model/query/builder.zep:

[code]
You can see hidenParam is incremented *every* time getPhql is called, meaning when the query is executed you get a too many bindings error

[2015-07-15 16:03] alanbarber111 commented on #10666
See my PR:
https://github.com/phalcon/cphalcon/pull/10672

[2015-07-15 16:44] andresgutierrez commented on #10669
Sure Phalcon can do it easily, but it means that it has to create always a new array (result of array_values) and it many items are bound it looks like a waste of memory.

[2015-07-15 16:55] andresgutierrez commented on #10666
This is fixed in the 2.0.x branch

[2015-07-15 18:23] aleksandrzen commented on #10669
:+1:
or, at least, this behaviour must be [documented](https://github.com/phalcon/docs/blob/master/en/reference/models.rst#finding-records).

[2015-07-15 20:08] olivier-monaco commented on #10669
For the record: PDO does not support associated array.

@aleksandrzen documentation improvement is welcome.

[2015-07-15 20:16] olivier-monaco commented on #10648
@andresgutierrez look here: https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/resultset/simple.zep#L205

<pre>
		                    if !fetch renamedKey, renamedKey[0] {
                	            throw new Exception("Column '" . key . "' is not part of the column map");
                        	}

							let renamed[renamedKey[0]] = value;
</pre>

We replace renamedKey by its f

[2015-07-15 20:34] olivier-monaco commented on #10610
Change was https://github.com/phalcon/cphalcon/commit/1f74b2614524eee918f9e94b74fe712500209a03#diff-d20931d7bcb77f0986c66ce50e774c7eL230

@andresgutierrez Do you remember why you change the behavior? What was the problem?

[2015-07-15 20:39] andresgutierrez commented on #10610
@olivier-monaco Not sure why it was initially there: https://github.com/phalcon/cphalcon/commit/c73502ea827c473003934b71a7ad13f904d1d86d

[2015-07-15 20:46] olivier-monaco commented on #10610
It was to handle this kind of issue (see #3222).

[2015-07-15 21:03] akudryav commented on #10637
I've got the answer here: https://forum.phalconphp.com/discussion/922/csrf-protection-not-working
The problem was in favicon.ico, this is the Zend bug!

[2015-07-15 21:05] olivier-monaco commented on #10640
I can reproduce... In fact only the last character is kept uppercase. Looking for "http://.../CONTROLLER" result in: "PhalconException: ControlleRController handler class cannot be loaded"

[2015-07-15 21:06] andresgutierrez commented on #10640
@olivier-monaco could you please post the php code you used?

[2015-07-15 21:09] olivier-monaco commented on #10610
index.php
<pre>
<?php

use Phalcon\Mvc\View;
use Phalcon\Mvc\Application;
use Phalcon\DI\FactoryDefault;

try {
    $di = new FactoryDefault();

    $di->set('view', function(){
        $view = new View();
        $view->setViewsDir('../app/views/');
        return $view;
    });

	$router = new Phalcon\Mvc\Router(true);
	$di->set('router', $router, true);

    $application = new Application($di);

[2015-07-15 21:10] andresgutierrez commented on #10610
@olivier-monaco I can't see any URL generation in your test

[2015-07-15 21:13] olivier-monaco commented on #10648
Usecase:
[code]

Result:
[code]

[2015-07-15 21:15] olivier-monaco commented on #10640
index.php
[code]

.htaccess
[code]

[2015-07-15 21:15] olivier-monaco commented on #10610
@andresgutierrez wrong issue...sorry...

[2015-07-15 21:56] olivier-monaco commented on #10640
Problem comes from zephir_camelize.

From https://github.com/phalcon/cphalcon/blob/master/phalcon/dispatcher.zep#L632
[code]

handlerName = CONTROLLER
camelizedClass = ControlleR

camelize function is replaced be C function named zephir_camelize. Problem comes from https://github.com/phalcon/zephir/blob/master/kernels/ZendEngine2/string.c#L288:
[code]

Last character is copied as-is. It must be "l

[2015-07-15 22:16] olivier-monaco commented on #10610
[code]

@andresgutierrez What must be the value of $s?

[2015-07-15 22:16] andresgutierrez commented on #10610
@olivier-monaco it must be baseUri + uri

[2015-07-15 22:17] olivier-monaco commented on #10610
So, in this case, "//path". It's not what I may expected and I think many developers too.

[2015-07-15 22:18] andresgutierrez commented on #10610
@olivier-monaco If you didn't expect //path why did you pass '/path' instead of just 'path'?

[2015-07-15 22:26] olivier-monaco commented on #10610
Because I'm expected the baseURI to be "root" of the web site, so to be empty. Maybe the default must be the empty string.

When I see this code:
[code]

I'm expecting:
1) $url to contains a full URL to redirect to (http://....). It's an external absolute URL
2) $url to begin with "/" ("/path"). It's an internal absolute URL.
3) $url to not begin with "/" ("path"). It's a relative URL to the curre

[2015-07-15 22:45] andresgutierrez commented on #10610
But not all URLs that begin with / are absolute URLs, you also have protocol-relative URLs: http://tools.ietf.org/html/rfc3986#section-4.2

[2015-07-15 22:53] olivier-monaco commented on #10610
Yes, we can add something between 1 and 2 called "external relative URL".

[2015-07-16 06:17] chipco commented on #10637
I appreciate the time you took to find workarounds and possible fixes. But to me this looks like a phalcon bug and nothing more.

A php session should last as long as the user's browser is opened, no matter what pages, favicons etc. the browser loads. Since we are in the same session, the session token should be identical no matter what page I load or how many times I reload the page.

I can only

[2015-07-16 07:13] KhanhKid commented on #10666
Thank you @alanbarber111  and @andresgutierrez
I will try to modify the builder.zep file.

[2015-07-16 09:08] chipco commented on #10637
After some further testing, it looks like the csrf is good and it's the Identical validator that fails.

[2015-07-16 09:26] chipco commented on #10637
It seems that the Identical validator no longer works with the '**value**' key, instead we must use '**accepted**'.
[code]

[2015-07-16 09:26] #10637 closed

[2015-07-16 09:28] akudryav commented on #10637
looks like one more undocumented phalcon feature)

[2015-07-16 10:20] hgati opened #10675 "not work redirect on initialize"
[code]

Why not redirect to default URI?

[2015-07-16 10:57] include4eto opened #10676 "InWhere EOF exception"
[code]

When `inWhere` is given an empty array, it crashes with the following exception:
[code]

At the very least, the error could make more sense :)

[2015-07-16 12:06] Surt opened #10677 "toArray used to save in Phalcon\Mvc\Collection 2.0.5"
After updating from 2.0.3 to 2.0.5 my Phalcon\Mvc\Collection's have a strange behaviour when using a setter. I'm using one to transform a string with datetime to a MongoDate, and it works well, the Collection object have this property assigned, but after saving the property is a string, not a mongoDate.

[2015-07-16 12:18] Surt commented on #10677
Don't know if it's refered to this change
https://github.com/phalcon/cphalcon/commit/5f4fdf7003b0dcfb5adc20e1ce34c8fd97b7d471

[2015-07-16 12:56] andresgutierrez commented on #10676
"id" is not an expression that can be evaluated so it encounters the EOF which is unexpected, totally make sense

[2015-07-16 12:57] andresgutierrez commented on #10675
"initialize" is not expected to have redirection logic, it must be used to "initialize" the controller. You can better use "beforeExecuteRoute" instead.

[2015-07-16 12:57] #10669 closed

[2015-07-16 13:00] include4eto commented on #10676
But it's not a syntax error.. Unexpected EOF has a completely different meaning.
It might make sense when you know how it works, but the exception is totally wrong.

[2015-07-16 13:05] andresgutierrez commented on #10662
Fixed in the 2.0.x branch

[2015-07-16 13:05] #10662 closed

[2015-07-16 13:05] andresgutierrez commented on #10666
@KhanhKid Maybe you should compile from ext/ in the 2.0.x branch instead of modify the file by yourself?

[2015-07-16 13:07] andresgutierrez commented on #10631
Fixed in the 2.0.x branch

[2015-07-16 13:07] #10631 closed

[2015-07-16 13:11] hgati commented on #10675
Ok, beforeExecuteRoute. I'll try

[2015-07-16 13:13] andresgutierrez commented on #10675
In beforeExecuteRoute:

[code]

[2015-07-16 13:22] hgati commented on #10675
awesome~ your example!
now working~~~~~
thanks.

[2015-07-16 13:22] #10675 closed

[2015-07-16 13:23] andresgutierrez commented on #10675
:+1:

[2015-07-16 13:23] hgati commented on #10675
:)

[2015-07-16 15:19] andresgutierrez commented on #10665
Fixed in the 2.0.x branch

[2015-07-16 15:19] #10665 closed

[2015-07-16 16:04] andresgutierrez commented on #10640
Fixed in latest Zephir

[2015-07-16 16:04] #10640 closed

[2015-07-16 16:50] andresgutierrez commented on #10648
Fixed in the 2.0.x branch

[2015-07-16 16:50] #10648 closed

[2015-07-17 01:14] #10430 closed

[2015-07-17 01:15] andresgutierrez commented on #10390
Phalcon 2.0.4 released

[2015-07-17 01:15] #10390 closed

[2015-07-17 01:17] #10197 closed

[2015-07-17 01:18] andresgutierrez commented on #10054
Fixed in Phalcon 2.0.4

[2015-07-17 01:18] #10054 closed

[2015-07-17 01:18] andresgutierrez commented on #9965
Can you please try again using Phalcon 2.0.5?

[2015-07-17 01:19] #3332 closed

[2015-07-17 01:19] #3290 closed

[2015-07-17 01:19] #3233 closed

[2015-07-17 01:20] #3199 closed

[2015-07-17 01:22] andresgutierrez commented on #3103
Can you try again using Phalcon 2.0.5?

[2015-07-17 01:23] andresgutierrez commented on #3080
Could you please provide the script to reproduce this issue?

[2015-07-17 01:24] andresgutierrez commented on #2976
Fixed in Phalcon 2.0.6

[2015-07-17 01:24] #2976 closed

[2015-07-17 01:24] andresgutierrez commented on #2962
Closed as not related to the extension itself

[2015-07-17 01:24] #2962 closed

[2015-07-17 01:26] andresgutierrez commented on #2953
NULLs in foreign keys implemented in 2.0.3:

[code]

[2015-07-17 01:26] #2953 closed

[2015-07-17 01:27] #2950 closed

[2015-07-17 01:56] andresgutierrez commented on #2796
Can you try again using latest Phalcon 2.0.5?

[2015-07-17 04:56] fonshua commented on #10610
I also can confirm that this issue is reproducible:

$this->response->redirect("/my/profile"); will be interpreted as http://my/profile

[2015-07-17 05:33] sprufu opened #10679 "当把model使用命名空间时, PHQL查询必须写全命名空间, 否则出错."
如Car model:
[code]

我希望使用`use some\models\Car;`, 但是出错啦:
[code]

只有使用丑陋的这样代码:
[code]

[2015-07-17 06:56] dugwood commented on #2953
@andresgutierrez Thanks for the fix.

Did you check the first part of the issue too? I mean never request a «id = NULL» on the database? I've fixed it in the PHP Model class inherited from Phalcon\Mvc\Model, but that would be great to remove this PHP code of mine:
[code]

[2015-07-17 08:27] Surt commented on #10677
I found the error. I'm overriding the ```toArray()``` method in the collection. This method is used now to save and I override it to use my getters for properties (the getters transforms de data back to my expected types, not the mongo ones, so during the save all is transformed)

I think that the use of a public method (toArray) to save is not recomended since it can drive to unexpected problems

[2015-07-17 08:30] Surt commented on #10677
Here, a script to test the ```toArray``` problem

[code]

[2015-07-17 09:18] Surt commented on #10610
[code]

it's not working when not setting any ```setBaseUri```

[2015-07-17 11:38] iotch commented on #3290
Sorry if I missed something, but it's not.

According to [this example] readme (https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-4-autoloader-examples.md), we should be able to register multiple locations:

However, `Phalcon\Loader` overwrites previous namespace path, if new path uses same key:

[code]
so only `'/local/path/src/'` will be registered.

IMO this behavior should be r

[2015-07-17 11:53] naNuke commented on #3290
@iotch overwriting key of an array within array itself is something that Phalcon cant change?

[2015-07-17 12:00] iotch commented on #3290
@naNuke, IMO `Phalcon\Loader` should track both key and value and build two namespaces list entries if keys are same but values are different. Now it uses simple [array_merge] (https://github.com/phalcon/cphalcon/blob/master/phalcon/loader.zep#L113).

[2015-07-17 15:42] SidRoberts commented on #10679
See https://github.com/phalcon/cphalcon/issues/657#issuecomment-107213403 for a partial fix.

[2015-07-17 15:52] andresgutierrez commented on #10679
This is how PHP works, namespace aliases are resolved at compile time and there is no way to access those aliases in runtime.

[2015-07-17 15:53] #10679 closed

[2015-07-17 15:53] andresgutierrez commented on #10677
@SidRoberts can you take a look?

[2015-07-17 16:04] SidRoberts commented on #10677
How about using `beforeSave()` and `afterFetch()`?:

[code]

This way, whenever you interact with `$robot->date_made`, it'll be a string but it'll get converted to a MongoDate when you save or update the model.

[2015-07-17 17:09] Surt commented on #10677
I would like to encapsulate the logic in each getter and setter, for better readability, but of course, actually thats the way to do it right now. Thanks @SidRoberts

P.D. anyway the toArray used to save could be problematic, it exposes possible problems since you can override a common method wich is used internally to save without any advise in the documentation.

[2015-07-17 17:09] #10677 closed

[2015-07-17 17:13] KhanhKid commented on #10666
@andresgutierrez  I will try it :).
Thank you so much for support quickly :). :+1:

[2015-07-17 19:52] ph4r5h4d opened #10686 "Support Redis Cluster"
Hi
As you know as of Redis 3 , this system support clustering and sharding in a way that a system can have redundant session and cache backend .

I checked Zephir codes of Redis backend cache and noticed Phalcon calls it using
`new Redis();`
new version of phpredis (Redis php driver) now supports clustering and array (not sure when they've added Redis array support but Redis cluster support is som

[2015-07-18 03:43] #2290 closed

[2015-07-18 03:47] dschissler commented on #10507
Since you have the script perhaps you could mark this as a bug so it doesn't get lost.

[2015-07-18 16:11] iotch opened #10689 "[NFR] Response events"
Hello. Is it a bad idea to support events in `Phalcon\Http\Response` component? For example, `'response:beforeSendHeaders'` to modify headers depending on response contents. Thanks.

[2015-07-19 10:23] code100 commented on #2483
yes, this will be a feature really useful and make volt code more organized.

[2015-07-19 18:36] Dm3Ch opened #10691 "Scanning error before '' when parsing..."
Hello!
I'm writing RESTful API on PHP using `PhalconPHP` 2.0.5.
When I added to SQL querry `FROM_UNIXTIME()` I got error: `[Sun Jul 19 18:33:13.853158 2015] [:error] [pid 24575] [client 46.39.49.135:18026] PHP Fatal error:  Uncaught exception 'Phalcon\\Mvc\\Model\\Exception' with message 'Scanning error before '' when parsing: INSERT INTO readings (sensor_id, value, error, timestamp) VALUES (:sens

[2015-07-19 21:06] phalcon commented on #10691
PHQL does not require the ; (dot-comma)

[2015-07-19 21:12] Dm3Ch commented on #10691
Ok, thank you! It doesn't require, but why it is error?
But I got new problem. I had got this problem earlier, but I didn't solve it.

[Mon Jul 20 00:08:31.207051 2015] [:error] [pid 24060] [client 46.39.49.135:17164] PHP Fatal error:  Uncaught exception 'PDOException' with message 'SQLSTATE[HY093]: Invalid parameter number: mixed named and positional parameters' in /var/www/rest.technical-craft.r

[2015-07-19 23:17] SidRoberts commented on #10691
When using the Models Manager you're actually using [PHQL](https://docs.phalconphp.com/en/latest/reference/phql.html), not SQL.

If you want to use PHQL, the "table name" (SELECT * FROM *table*) has to match the class name (presumably `SELECT * FROM Readings` or `SELECT * FROM Models\Readings`).

If you want to use SQL, [`$this->db->executePrepared()`](https://github.com/phalcon/cphalcon/blob/2.0.

[2015-07-20 07:18] Dm3Ch commented on #10691
Ok. But how can I insert timestamp into mysql using phql? If i remove `FROM_UNIXTIME()` I get in DB row with 00-00-0000 00:00:00.

[2015-07-20 13:30] SidRoberts commented on #10691
Personally, I would convert the timestamp in PHP:

[code]

[More information about DateTime::createFromFormat is available the PHP manual](http://php.net/manual/en/datetime.createfromformat.php).

[2015-07-20 15:43] #10666 closed

[2015-07-20 15:43] andresgutierrez commented on #10646
Now in 2.0.x branch

[2015-07-20 15:43] #10646 closed

[2015-07-20 15:44] #10657 closed

[2015-07-20 15:44] andresgutierrez commented on #10626
Now fixed

[2015-07-20 15:44] #10626 closed

[2015-07-20 21:53] andresgutierrez commented on #10587
Fixed in the 2.0.x branch

[2015-07-20 21:53] #10587 closed

[2015-07-20 22:05] ioncube commented on #10640
Thanks Andres, and to Olivier for reproducing.

[2015-07-20 22:18] andresgutierrez commented on #10610
Fixed in the 2.0.x branch

[2015-07-20 22:18] #10610 closed

[2015-07-21 02:49] virgofx commented on #10610
@andresgutierrez Thank you very much!

[2015-07-21 07:35] Mechzeit opened #10694 "Phalcon\Http\Request getRawBody()/getPut() clears input buffer"
Phalcon Module: Phalcon 2.0.5 - Windows x64 for PHP 5.5.0 (vc11)

I'm unsure if this is intended behaviour or not, please let me know if it's just my brain logic that is a bit off, but basically I've found that playing around with the request service results in the clearing of the request body.

Take this really simple app

[code]
and take this HTTP Request
[code]
Request body:
[code]

Output for

[2015-07-21 09:54] dschissler commented on #10610
@andresgutierrez Perhaps you could keep a list of things to break in 3.0.

[2015-07-21 15:49] andresgutierrez commented on #10694
Fixed in the 2.0.x branch

[2015-07-21 15:49] #10694 closed

[2015-07-21 16:02] hardlick opened #10696 "$this->session->destroy(); does not work!"
i have:

    $di->setShared('session', function() {
     $session = new Phalcon\Session\Adapter\Files();
     $session->start();
     return $session;
    });

On controller:

     $this->session->set(self::BTS_SESSION_USER_ID, $o_user->getIduser());
and after:

    $this->session->destroy();
     var_dump($this->session->get(self::BTS_SESSION_USER_NAME));

And response with data!.

[2015-07-21 16:04] andresgutierrez commented on #10696
destroy() calls session_destroy() which is a PHP built-in function:

https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/session/adapter.zep#L220

[2015-07-21 16:14] hardlick commented on #10696
@andresgutierrez  i changed redis session to native session:

    $di->setShared('session', function() {
    $session = new Phalcon\Session\Adapter\Files();
    $session->start();
    return $session;
   });

On controller:

    $this->session->set(self::BTS_SESSION_USER_ID, $o_user->getIduser());
and after:

    $this->session->destroy();
    var_dump($this->session->get(self::BTS_SESSION_USER_NA

[2015-07-21 16:15] andresgutierrez commented on #10696
In the description of session_destroy:

[code]

[2015-07-21 16:20] hardlick commented on #10696
I added:

     setcookie(session_name(), '', time()-42000, '/');
     session_destroy();
     var_dump($this->session->get(self::BTS_SESSION_USER_NAME));

But The same problem!,can you help me please,  how do you remove all session data?

[2015-07-21 16:21] andresgutierrez commented on #10696
session_destroy() does not remove any data from the superglobal $_SESSION, you have to remove it:

[code]

[2015-07-21 16:28] hardlick commented on #10696
Ok thanks! @andresgutierrez ,

i used:

    session_unset();
    session_regenerate_id(true);
    var_dump($this->session->get(self::BTS_SESSION_USER_NAME));

And response NULL!,

works!, the reason that i want to destroy all session data, not only one key, for example for logout

there is any way to do that? with : $this->session-> ?

[2015-07-22 04:36] sprufu commented on #10607
+1

[2015-07-22 09:11] dilistinc opened #10702 "Bind Query problem with escaper"
If use bind parameters word for example: "Ivano-Frankivs'ka oblast" in result i have query "WHERE `organisation`.`location_district` = 'Ivano-Frankivs\'ka oblast' "

[2015-07-22 09:54] andresgutierrez commented on #10702
Needed script to reproduce

[2015-07-22 10:29] dilistinc commented on #10702
ModelName::query()->where("bar = :name:", array('name' => "Ivano-Frankivs'k"))->execute();

[2015-07-22 11:45] dschissler opened #10704 "Feature Request: Allow implicit joins to be turned off because they block more complicated queries from being possible"
Simply:

[code]

would be nice.  It would help to alleviate the immediate pains of bug #10526.

[2015-07-22 11:48] dschissler opened #10705 "[2.0.4] PHQL DISTINCT does not work for my case due to inappropriate implicit join"
Between bugs #10526 and #10507 I'm tempted to remove all of the assigned relationships to severals core models that make up all of the interesting parts of my user data and to only use the assigned relationships for the mundane admin related models.

There is no way to get the phql below to work with the joining as it is now.  I need to be able to specify that Placement is joining against `SuperRe

[2015-07-22 13:24] #10691 closed

[2015-07-22 14:16] dschissler commented on #10705
When I explicitly declared the join conditions inside the EXISTS it ended up listing it out **3** times.  Wow!  Something needs to get cleared out.

[code]

[2015-07-22 14:46] dschissler commented on #10705
I ran an experiment where I commented out all of the relation definitions in the initialize() of the models so that only the explicit conditions in the phql would be used.

[code]

It did something really weird in the EXISTS group.

[code]

@phalcon What the heck is going on in there?  Is nobody else doing interesting things with the ORM?  I'm getting bit in the ass with this duplicating condition

[2015-07-22 16:36] dschissler commented on #10704
Due to the nature of the other bug this won't immediately help me but it might someday help some adapter pioneers out a lot.

[2015-07-22 16:50] dschissler commented on #10705
@phalcon I'm at a point now where I seem to be pushing new ground and routinely hitting Phalcon bugs I'm at a point where I can really benefit from Phalcon features such as the ability to easily switch literals on and off and also being able to used named parameters more than once.  I'm almost all in now so its better that I try to fix the Zephir code instead of working around it in PHP and its ti

[2015-07-22 17:56] Dm3Ch commented on #10691
Thank you for help!

[2015-07-22 19:59] alissonbovenzo commented on #10607
+1

[2015-07-22 20:00] marcelorevok commented on #10607
+1

[2015-07-22 20:05] Tarcisiofl commented on #10607
+1

[2015-07-23 09:24] dschissler commented on #10705
I'm looking through `mvc/model/query.zep` and I'm thinking that the variables could have some better names:

[code]

[2015-07-23 11:44] dschissler commented on #10705
I made an important discovery that every JOIN in the main SELECT is causing the JOIN clause to duplicate within the EXISTS.  So if I remove both `LEFT JOIN` clauses in the top part then there is no duplication.  If I add one LEFT JOIN then there is a single duplication.

[2015-07-23 16:15] dschissler commented on #10705
@phalcon

I've been able to work around this by adding the following into `Query::_getJoins`:

[code]

I added a third options parameter to the Query class.  I'm still early in this and I'd like to make some progress understanding the loop below better.  I think that the problem might be [here](https://github.com/phalcon/cphalcon/blob/4651c14873fb903d495431835d3a2af196e35035/phalcon/mvc/model/quer

[2015-07-23 16:17] dschissler commented on #10704
This is my solution so far:

[code]

[2015-07-23 16:20] andresgutierrez commented on #10704
@dschissler where is that fragment of code located?

[2015-07-23 16:26] dschissler commented on #10704
[Line 430](https://github.com/phalcon/cphalcon/blob/4651c14873fb903d495431835d3a2af196e35035/phalcon/mvc/model/query.zep#L1430).  I just short circuited the loop to avoid so much bracing and tab madness.

[2015-07-23 16:36] dschissler commented on #10704
@andresgutierrez Here is my modified constructor:

[code]

[2015-07-23 16:38] andresgutierrez commented on #10704
You can better take the global configuration variables approach:

* https://github.com/phalcon/cphalcon/blob/master/config.json#L84-L87
* https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/resultset/simple.zep#L111

[2015-07-23 16:45] andresgutierrez commented on #10702
This hardly can happen, Phalcon does use bound parameters and literals aren't bound directly into  the generated SQL statements.

[2015-07-23 16:46] dschissler commented on #10704
Oh, but I do really like the implicit joins for all of the mundane stuff and I'd hate to lose it.  It could always be added later with a simple `||`.  I mostly just see this as a way to get Phalcon out of the way until it can catch up to a use case because otherwise you are 100% shit out of luck.  Then the developer can move forward making their program while submitting a bug report to later tidy

[2015-07-23 16:47] andresgutierrez commented on #10702
Test:

[code]

Outputs:

[code]

[2015-07-23 23:46] Mechzeit commented on #10702
It almost sounds like @dilistinc could be running magic quotes.

[2015-07-24 02:30] gufei opened #10709 "Phalcon\Image\Adapter\Gd 无法生成没有扩展名的图片"
根据Phalcon\Image\Adapter\Gd第500行_save方法的实现，Phalcon\Image\Adapter\Gd无法保存没有扩展名的图片，会报错Installed GD does not support '' images

做如下修改
第一种办法
复写Phalcon\Image\Adapter\Gd的_save方法

[code]

第二种办法
修改Phalcon\Image\Adapter\Gd文件
在let ext = strtolower(pathinfo(file, PATHINFO_EXTENSION));
后加上
if !ext {
    let ext = image_type_to_extension(this->_type, false);
}

[2015-07-24 02:58] zjsxwc commented on #10607
+1

[2015-07-24 04:21] tuxy commented on #10626
@andresgutierrez, Thank You. It works now!

[2015-07-24 06:00] tuxy opened #10710 "Feature Request: Task Scheduling"
Task Scheduling kind of like in > http://laravel.com/docs/5.1/scheduling

[2015-07-24 06:09] ghost opened #10711 "Feature Request: Serialization Support"
Can you add support to convert data into JSON, YAML and XML from Phalcon ?

[2015-07-24 06:22] tuxy opened #10712 "Request: Simpler Array Variables"
For objects we use dot as in foo.bar, why do we use regular php array style for arrays as in foo['bar'] ? This is additional four symbols instead of just one like object variable. Why not simply use some other symbol for array variable like; foo*bar or something else.

[2015-07-24 07:39] dschissler commented on #10704
@andresgutierrez I'm trying to use class constants but I can't figure out the syntax to :

[code]

[2015-07-24 07:46] PyYoshi opened #10714 "Is Phalcon\Session\Adapter\Redis duplicated?"
- https://github.com/phalcon/cphalcon/blob/master/phalcon/session/adapter/redis.zep
- https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Session/Adapter/Redis.php

[2015-07-24 07:48] dschissler commented on #10704
I'll offer global and local options for forcing explicit joins.

Also, I was dreaming last night about special SQL syntax like this:

[code]

So that it could be turned off for only a single join.  Of course though this would require enormous efforts.

[2015-07-24 08:03] sergeyklay commented on #10686
:+1:

[2015-07-24 08:43] galki commented on #2268
+1

[2015-07-24 08:45] Green-Cat commented on #10714
https://github.com/phalcon/incubator/pull/392 Made a pull request for it.

[2015-07-24 09:40] galki opened #10715 "[NFR] $model->toArrayRelated()"
Like a model's _toArray_ method but also includes related models where the returned array's
- key = related model's alias
- value = array of the related models and their attributes

For example supposing model _Company_ has a toMany relation on model _Product_ aliased as "products" and _Product_ has a toMany on model _Part_ aliased as "parts"

[code]

would set _$data_ as:

[code]

I'm guessing wo

[2015-07-24 10:07] alexivenkov opened #10716 "Phalcon\Mvc\Model\Query setBindParams bug with using limit"
example to reproduce:

[code]
output:
[code]
Without limit method calling on Builder everything works fine

[2015-07-24 10:54] Green-Cat commented on #10714
https://github.com/phalcon/incubator/pull/392#event-364329845 has now been merged. This can be closed.

[2015-07-24 11:55] dschissler commented on #10705
@andresgutierrez I'll push out a repo for you to evaluate in a day or two because I think that I fixed it this issue.  It was using the global list of models instead of only the ones for that select statement.  It took me a while to figure out which data structures to use.  We'll see if it passes the tests.

[code]

[2015-07-24 12:17] ovr opened #10717 "Create 2.1.x branch"
I would like to send new PR with BC break

[2015-07-24 12:51] PyYoshi commented on #10714
Thanks!

[2015-07-24 12:51] #10714 closed

[2015-07-24 13:29] Horrower opened #10718 "Cookie crypt/Decrypt with short key value and \0 symbols"
https://forum.phalconphp.com/discussion/364/d-encryption-cookies-problem
We spent many time for fixing this issue.
Please make
$Crypt->setMode(MCRYPT_MODE_CFB);
as Default mode

[2015-07-24 13:31] andresgutierrez commented on #10718
We can do this in Phalcon 2.1

[2015-07-24 13:58] ogarbe opened #10719 "2.0.6 - Notice on Volt Macro"
Hello we've got a Volt engine which inherits Phalcon\Volt.

Migrating from 2.0.4 to 2.0.6, we've got a notice which has been raised (visible with set_error_handler)

the notice is

"Access to undefined property _macros" in a compiled volt file.

the method to "dismiss" the notice is

[code]

Don't really understand the root cause of the problem but it's somewhere near this https://github.com/phalc

[2015-07-24 13:59] andresgutierrez commented on #10719
The property is there: https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/view/engine/volt.zep#L40

[2015-07-24 14:00] ogarbe commented on #10719
yes we've seen and don't understand the pb.. setting it to public in the inherited Volt class made the fix.

[2015-07-24 14:03] andresgutierrez commented on #10719
Could you please post the Volt file that causes the problem?

[2015-07-24 14:10] cedricjimenez commented on #10719
macros.volt

[code]

Cache file generated:

[code]

[2015-07-24 14:10] ogarbe commented on #10719
here is the 4 parts https://gist.github.com/ogarbe/23420c49881b769c2962

[2015-07-24 14:12] sergeyklay commented on #10711
+1 with decorator pattern

[2015-07-24 14:14] andresgutierrez commented on #10711
Convert data from where?

[2015-07-24 14:15] sergeyklay commented on #10711
php://input, $_POST

[2015-07-24 15:00] dilistinc commented on #10702
@andresgutierrez Same output print_r($connection->getSqlBindTypes()), but MySQL server receive other query:
![MySQL query](http://i60.tinypic.com/n15f5z.png)

[2015-07-24 15:02] andresgutierrez commented on #10702
@dilistinc Probably PDO has emulate prepares = On

http://stackoverflow.com/questions/15718148/php-prepared-statements-turn-emulation-off

[2015-07-24 15:11] garyblankenship opened #10720 "Segfault in Phalcon\Image\Adapter\Imagick"
Using Imagick creates a segfault in Phalcon when using the text() method.

[code]

Jul 24 01:55:56 xxx kernel: [569845.421472] php5-fpm[25359]: segfault at 15 ip 00007ff921fdc14c sp 00007fffe2eda060 error 4 in phalcon.so[7ff91bda4000+6ebb000]

[2015-07-24 15:17] dilistinc commented on #10702
@andresgutierrez how I can disable this emulation?

[2015-07-24 15:23] andresgutierrez commented on #10702
By passing extra options when creating the connection:

[code]

[2015-07-24 15:29] dilistinc commented on #10702
@andresgutierrez mysql doesnt receive query with this option

[2015-07-24 15:32] andresgutierrez commented on #10702
What do you mean by Mysql does not receive the query?

[2015-07-24 15:38] dilistinc commented on #10702
![mysql](http://i58.tinypic.com/22cdgp.png)

[2015-07-24 15:42] andresgutierrez commented on #10702
Maybe the query cache is responding and that's why it does not show it in the log. Not sure. I've tested in my machine and it returns the records asked.

[2015-07-24 15:44] andresgutierrez commented on #10710
Please follow the NFR guide: https://github.com/phalcon/cphalcon/wiki/New-Feature-Request---NFR

[2015-07-24 15:44] andresgutierrez commented on #10712
Are you talking about Volt?

[2015-07-24 15:48] andresgutierrez commented on #10716
The problem is that setBindParams() is replacing the parameters and the LIMIT already has defined a bound parameter so it gets replaced causing the exception. You have to merge the parameters:

[code]

[2015-07-24 15:51] andresgutierrez commented on #10717
And you want to discuss that PR with BC break?

[2015-07-24 15:55] dilistinc commented on #10702
@andresgutierrez confirm. everything works. Thanx

[2015-07-24 15:56] andresgutierrez commented on #10702
Great

[2015-07-24 15:56] #10702 closed

[2015-07-24 16:48] alexivenkov commented on #10716
@andresgutierrez Thanks for explanation. There are deprecated info in my old phalcon-devtools 2.0.0 about this method. Its confuse me a bit. By the way there are a lot of methods where are bind params can be send.

[2015-07-24 17:34] tuxy commented on #10712
@andresgutierrez YES.

[2015-07-24 17:34] #10710 closed

[2015-07-24 17:35] andresgutierrez commented on #10712
OK.

But change the way in which arrays are accessed will break many applications. Also the syntax you suggest are already in use.

[2015-07-24 17:38] tuxy commented on #10712
Then use additional (optional) symbol for anyone who likes to use simpler one :-) For example foo^bar or some other char.

[2015-07-25 03:02] quicktoolbox commented on #10720
[code]

[2015-07-25 08:20] dschissler commented on #10705
My Phalcon pull request fixes this issue and now I'm able to run the following off of my Phalcon build.  I'm sort of hand pasting the phql in a routine and using literals since there are small issues with the way that I'm building the query strings.

I'm using implicit joins on the first part and then explicit joins later

[code]

In fact the following works as well and I only have to leave the ex

[2015-07-25 09:50] nask0 opened #10724 "Latest build failed with Zephir"
home cphalcon # git remote -v
origin	https://github.com/phalcon/cphalcon (fetch)
origin	https://github.com/phalcon/cphalcon (push)
home cphalcon # zephir version
0.7.1b
home cphalcon # zephir build
Warning: Class "APCIterator" does not exist at compile time in /home/nask0/src/git/cphalcon/phalcon/cache/backend/apc.zep on 221 [nonexistent-class]

	   apc = new \APCIterator("user", prefixPattern);

[2015-07-25 12:11] sszdh commented on #10610
But now it conflict with logic that based on `request->getURI()`!
The `request->getURI()` returns `_SERVER["REQUEST_URI"]` that begins with extra `/`:

Consider this example when you want redirect user to requested URI after login:
[code]
This issue completely breaks my app!

Should I trim each `gitURI()` in my code? :|

Thanks.

[2015-07-25 12:31] olivier-monaco commented on #10610
@sszdh Can you give us an minimal usecase?

[2015-07-25 16:02] sszdh commented on #10610
@olivier-monaco I did before!
Actually using getURI returns RUI with slash and you can not use this directly with `redirect()`.
This is not about any use-case,  the `getURI` returns `_SERVER["REQUEST_URI"]` depends on [this](https://github.com/phalcon/cphalcon/blob/master/phalcon/http/request.zep#L439)

It means I can not use `getURI` directly in routing and redirecting...

Thanks

[2015-07-25 17:08] olivier-monaco commented on #10610
@sszdh A use-case is a way for us to understand what you want exactly. It's also a way to have/build a unit test and to ensure the code to do what your want. Reading your comment is not enough: I don't see your problem...

But maybe someone else fully understand your problem and will help you.

[2015-07-25 20:11] olivier-monaco commented on #10610
@sszdh Are you using the latest version?

I added a controller for "/toto" with the following code:
[code]

And when I open the URL, I get:
[code]

What is wrong with this result?

[2015-07-25 20:46] sszdh commented on #10610
The wrong with this result is the `getURI()` value does not suitable for redirction anymore but in last version it did.

I'm in travel now, i will provide a test script ASAP @olivier

Thanks for your attention

[2015-07-26 11:29] DestinyMKas opened #10725 "[2.0.6] paginator/querybuilder total_items bug"
Hello,

if builder has set groupby, then $paginator->total_items shows wrong result.

I think, groupBy and having should be removed when counting total lines.

[2015-07-26 12:09] DestinyMKas commented on #10725
This way is not good too. We need to keep groupby and having.

I solved this puzzle in this way:

SELECT sum(t.row_count) as total FROM (SELECT count(*) as row_count ............... ) as t;

[2015-07-26 12:17] DestinyMKas commented on #10725
Another way:

$data = clone $this->getData();
$data->columns(sprintf('COUNT(*) as [total]', $this->getName()));
if ($data->getGroupBy() != '') {
	$this->total = $data->getQuery()->execute()->count();
} else {
	$this->total = $data->getQuery()->execute()->getFirst()->total;
}

[2015-07-26 16:49] yasharrashedi commented on #10492
any update?

[2015-07-27 07:08] tidytrax opened #10726 "assets/collection.zep Filter always true"
line 142 And 170
if !filter {
let filter = true;
}

https://github.com/phalcon/cphalcon/blob/master/phalcon/assets/collection.zep

[2015-07-27 09:36] sergeyklay commented on #2483
I suggest something like this:

`config.php`:
[code]

view layout:
[code]

for `<meta ...>` and `<link ...>`

[2015-07-27 11:42] sszdh commented on #10450
Okey, Sorry for my delay @andresgutierrez
So here is example to reproduce:

[code]

DB Schema:

[code]
[code]

The log file:
[code]

[2015-07-27 11:46] sszdh commented on #10450
Ah! Incidentally it closed :(

[2015-07-27 11:57] uLow opened #10728 "Uncommon behaviour rendering Volt"
Just started to explain to my junior volt's includes and partials with showing a little bit of "under the hood". I was surprised when my explanation did not fit with reality.

Lets asume we have `index.volt`
[code]
In fact it's just the same according to the documentation examples. Lets look into cached variation:
[code]

Where was ***echo*** came from?

[2015-07-27 12:34] andresgutierrez commented on #10728
{{ }} are used to print the results of the evaluated expression. {% do ... %} is used to evaluate the expression without print the result.

[2015-07-27 12:34] #10728 closed

[2015-07-27 13:44] uLow commented on #10728
https://docs.phalconphp.com/en/latest/reference/volt.html#view-integration

Do you confirm that mistake comes from documentation and we all have to use
[code]
?

[2015-07-27 13:50] uLow commented on #10728
Also, there is told that `Templates aren’t inlined if the ‘include’ have variables passed with ‘with’`. That's not true, because if we provide 'with', we get `View not found` exception there.
[code]

[2015-07-27 14:43] andresgutierrez commented on #10728
@uLow It's true, if you pass variables the template can't be inlined. It has to use the `partial` helper. Also, if you don't specify the extension it won't be inlined.

Regarding the first example, the documentation uses {{ }} for partial because it's short, knowing in advance that an implicit `echo null` is done, if this is uncomfortable you can use {% do ... %}

[2015-07-27 15:17] andresgutierrez commented on #10724
Do you have the latest Zephir?

It seems there are missing files in your local cloned repository, but the files are there:

* https://github.com/phalcon/cphalcon/blob/master/ext/phalcon/assets/filters/cssminifier.h
* https://github.com/phalcon/cphalcon/blob/master/ext/phalcon/assets/filters/jsminifier.h

[2015-07-27 15:19] andresgutierrez commented on #10725
Duplicate of #2411

[2015-07-27 15:19] #10725 closed

[2015-07-27 15:20] #9939 closed

[2015-07-27 15:21] #10716 closed

[2015-07-27 15:22] andresgutierrez commented on #10709
Fixed in the 2.0.x branch

[2015-07-27 15:22] #10709 closed

[2015-07-27 16:06] andresgutierrez commented on #10720
Fixed in the 2.0.x branch

[2015-07-27 16:06] #10720 closed

[2015-07-27 16:10] andresgutierrez commented on #10719
Are you using Mvc\View or Mvc\View\Simple?

[2015-07-27 16:42] ogarbe commented on #10719
we're using Mvc\View\Simple in this case.

[2015-07-27 19:03] barantaran opened #10730 "Default module starts only."
In my multi-module application I register router like this:
[code]
Then registering modules:
[code]
After adding the routes in a very standard way :
[code]
And trying to debug router with different routes:
[code]
Does not matter which module's name router debugging returns, phalcon always goes to the `Module::registerAutoloaders` of the default module ( I've tried to switch 'backend' as the defaul

[2015-07-28 01:41] Mechzeit opened #10731 "Potential memory leak in DI"
Hi guys,

I'm not sure if anyone can explain this or not, but to me this should not be happening.
To put it shortly, every time I call getShared() from the DI container my memory will increase by < 1024 bytes each call.

I've created an example script that has a service of a class that uses 1mB of memory when instantiated - So you can tell it's definitely not the class being instantiated over and

[2015-07-28 07:07] mindochin opened #10733 "not work on WinServer 2008 R2 x64 16 gb ram"
with openserver (http://open-server.ru/) - apache 2.2 and php 5.4
unknown error "PHP startup:"

[2015-07-28 07:15] mindochin commented on #10733
v1.3 work

[2015-07-28 08:45] VCJeroen opened #10734 "[2.0.0]+ \Flash\Session getMessages() removes all messages"
Using the getMessages() without the $remove parameter or with it set to true removes all flash messages, regardless of the $type parameter passed with it. To me it looks like a return of [Issue 1575](https://github.com/phalcon/cphalcon/issues/1575), more or less.

Here's some example code:

    use Phalcon\Mvc\Controller;

    class TestController extends Controller
    {
        public function t

[2015-07-28 10:47] davidsteinsland commented on #10715
:+1:

In the meantime, check out `EagerLoading`: https://github.com/stibiumz/phalcon.eager-loading/
You can then traverse the resultset and return as array:

[code]

Usage:
[code]

[2015-07-28 12:19] saiger opened #10735 "inWhere doesn't work with limit in query"
example to reproduce:
[code]
Got Output:
found 2 robots
SQLSTATE[HY093]: Invalid parameter number

[2015-07-28 15:10] andresgutierrez commented on #10733
VC11 builds are only available for PHP 5.5 and 5.6

[2015-07-28 15:11] andresgutierrez commented on #10730
I think you can get better help in the forum https://forum.phalconphp.com/. Github is only to report bugs or discuss new features.

[2015-07-28 15:17] suciudan opened #10736 "setDescription() and getDescription() for Phalcon\Mvc\Router\Route"
I'm trying to create a role/capabilities system using ACL and routes.

Using setName(), I can name the routes like this:

- '/posts/create' becomes 'create_posts'
- '/users/create' becomes 'create_users'.

I'm considering 'create_posts' and 'create_users' capabilities.

The problem is this: I want to add a description for each capability (or route name).

I'm using getRoutes() to get a list with a

[2015-07-28 15:19] andresgutierrez commented on #10735
Are you using Phalcon 2.0.6? I can't reproduce this issue.

Output:

[code]

[2015-07-28 15:23] mindochin commented on #10733
well,where to download? see older versions only

[2015-07-28 15:32] andresgutierrez commented on #10735
I've added a fix for a different issue, maybe you want to try the latest version in the 2.0.x branch

[2015-07-28 15:46] andresgutierrez commented on #10733
@mindochin we're recompiling VC11, will let you know

[2015-07-28 15:49] mindochin commented on #10733
thanks!

[2015-07-28 16:05] andresgutierrez commented on #10731
I'm running your example in PHP 5.6 compiled in debug mode:

[code]

[code]

No memory leaks are reported. PHP allocates memory in chunks of 256kb. So it looks that in Point #4 it's increasing the memory to 1024kb+256kb as it does not have any free pages available. A different story seems to happen in the loop where some temporary variable seems to be recycled properly.

[2015-07-28 23:39] Mechzeit commented on #10731
I just found it odd that each call to `    $di->getShared('testservice');` would increase the overall used memory by 0.6~ kB despite no references existing. But you're saying it's expected behaviour?

[2015-07-29 00:34] andresgutierrez commented on #10731
Given that PHP in debug mode is not reporting any memory leaks after executing the example, I'm not sure how this can be classified like that.  Shared services keep internal references to created objects as they work as singletons. What version of PHP are you using?

[2015-07-29 01:01] Mechzeit commented on #10731
It's not the example that is leaking memory though, it's each call to `    $di->getShared('testservice');`

I'm using Phalcon 2.0.5 on PHP 5.5 VC11 TS

[2015-07-29 07:03] #10736 closed

[2015-07-29 07:09] saiger commented on #10735
Yep, it's tested against 2.0.5 and 2.0.6 Phalcon rev.

[2015-07-29 07:15] gufei opened #10737 "多级缓存Phalcon\Cache\Multiple没有清除缓存flush方法"
建议在多级缓存Phalcon\Cache\Multiple增加清除缓存的flush方法

public function flush() -> boolean
{
	var backend;
	for backend in this->_backends {
		backend->flush();
	}
	return true;
}

[2015-07-29 11:32] DestinyMKas opened #10738 "2.0.x form bind entity"
Hello,

I have contact form, which I want to send by email. Actually I have no model and no entity. When I want to validate it, I'm trying to

[code]

But this is wrong, because second param (entity) is required.

I can workaround with

[code]

But I think, entity should not be a required param, because:
__construct() and isValid() methods has entity and it is not required.

[2015-07-29 14:31] nask0 commented on #10724
You're right, mistake is on my side, sorry for false positive.
However, there are a few warnings, but nothing fatal :
[code]

Thanks and keep up the good work. Let me know if you need more info or help.

[2015-07-29 14:32] andresgutierrez commented on #10724
These warnings are caused due to missing extensions in your system apc and yaml.

[2015-07-29 14:37] nask0 commented on #10724
Exactly, thanks,

[2015-07-29 14:37] #10724 closed

[2015-07-29 15:02] virgofx opened #10739 "[2.0.6] Relative URL Redirection Broken When Specified with Default Slash"
See Issue #10610

Both functionality should behave the same for a base URI with nothing or a single '/'.

[code]

[code]

[2015-07-29 15:04] andresgutierrez commented on #10739
Why?

[2015-07-29 15:20] virgofx commented on #10739
Because the response->redirect() ... should not take into account base URI.

Even if it does .. there is a special case with `/`. The other issue fixed one case, there is just one more single case to handle.

For instance .... if base URI = `/`
$response->redirect('/test') === `/test`  (expected)  not `//test` (not expected)

The major error is in the first block. When setting base URI to `/`. A r

[2015-07-29 15:24] andresgutierrez commented on #10739
This already works like that

[2015-07-29 15:26] virgofx commented on #10739
Yes, that was fixed in #10739. Just need to handle one extra case where it does not behave similarly

`$response->redirect('/')` --> Expected `Location: /`.    Actual : Phalcon dies, no response

[2015-07-29 15:31] virgofx commented on #10739
[code]

[2015-07-29 20:09] andresgutierrez commented on #10733
Now available: https://phalconphp.com/en/download/windows

[2015-07-29 20:09] #10733 closed

[2015-07-30 01:08] tidytrax opened #10740 "DI router"
The problem
https://forum.phalconphp.com/discussion/7849/router-mount#C21343

di->set('router') has not autoloader class

https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/application.zep

Linha 210
let router = <RouterInterface> dependencyInjector->getShared("router");

Linha 280
moduleObject->registerAutoloaders(dependencyInjector);

[2015-07-30 01:16] andresgutierrez commented on #10740
To submit a bug you need to provide a single PHP with all the necessary code to reproduce the issue.

[2015-07-30 06:17] ovr commented on #10731
It's not a bug

[code]

[code]

[2015-07-30 07:37] noel-ykt commented on #2585
is not fixed.
i have this bug in 2.0.5 version
[code]

[2015-07-30 08:01] sergeyklay commented on #10731
Confirm.

[code]

Output:
[code]

[2015-07-30 08:30] galki opened #10742 "[2.0.6] sessionBag ($this->persistent) bugs?"
Is this a bug (1)?
[code]
Is this a bug (2)?
[code]
Is this a bug (3)?
[code]
The below does work
[code]

[2015-07-30 09:19] galki commented on #10715
I think it would be very useful it this method could be called void. In this case, it would expect an *autoSelect* option on the relation to be set to *true*:
[code]
**Rationale**
This would allow all controllers to reuse the same getter/setter actions. I have a working version and it resulted in much DRYer code across the entire app.

[2015-07-30 13:35] andresgutierrez commented on #10726
Fixed in 2.0.x branch

[2015-07-30 13:35] #10726 closed

[2015-07-30 13:36] #10730 closed

[2015-07-30 13:38] andresgutierrez commented on #10737
Implemented in 2.0.x branch

[2015-07-30 13:38] #10737 closed

[2015-07-30 21:42] andresgutierrez commented on #10738
But bind() means "bind" this data to this "entity", you can't bind without an entity

[2015-07-31 02:01] galki opened #10743 "[NFR] getAttributeScopes() method for Phalcon\Mvc\Model\MetaData"
Consider the following model.

[code]

In order to for example connect a complex ACL based security plugin to this model, a developer would need to know which ACL role can view/edit which attributes. So _getAttributeScopes_ would return:

[code]

[2015-07-31 05:57] noel-ykt opened #10744 "Phalcon\Mvc\Model\Validator\Uniqueness didn't support mongodb"
PHP Version 5.6.4-4ubuntu6.2
Mongo 1.6.10
Phalcon 2.0.5, Build Date Jul 14 2015 08:19:05

...Uncaught exception 'RuntimeException' with message 'Call to undefined method Tops::getschema()'...

[code]

i find issue #2585 :(

[2015-07-31 06:59] leoangel opened #10745 "use opcache and xhprof cause php coredump"
xhprof verison:0.9.4
php version: 5.6.9
phalcon version: 2.0.6

[code]

[2015-07-31 07:03] sergeyklay commented on #10743
:+1:

[2015-07-31 08:06] DestinyMKas commented on #10738
Hmm.. I think $form->bind() means bind data to form, not to entity.

Ex:

[code]

Is this code is not logic?

[2015-07-31 11:48] tidytrax commented on #10740
/configs/services.php

$di->set('router', function () {

    $router = new Router();

    include __DIR__.'/../library/System/Routes/Loja.php';
    include __DIR__.'/../library/System/Routes/Admin.php';
    include __DIR__.'/../library/System/Routes/Frontend.php';
    $router->mount(new \System\Routes\Frontend);
    $router->mount(new \System\Routes\Loja);
    $router->mount(new \System\Routes\Adm

[2015-07-31 15:01] andresgutierrez commented on #10742
Fixed in the 2.0.x branch

[2015-07-31 15:01] #10742 closed

[2015-07-31 15:02] andresgutierrez commented on #10743
You can do this using reflection

[2015-07-31 15:03] andresgutierrez commented on #10735
Fixed in the 2.0.x branch

[2015-07-31 15:03] #10735 closed

[2015-07-31 15:03] andresgutierrez commented on #10738
You can pass $someData to isValid, "bind" is used to bind data to the entity

[2015-07-31 15:05] andresgutierrez commented on #10740
After running your test:

[code]

[2015-07-31 15:08] andresgutierrez commented on #10712
Array indexes are not simply identifiers, you can have for instance:

foo["this is my amazing index"] which according to your syntax will be: foo^this is my amazing index, which cannot be parsed by parser due to the spaces

[2015-07-31 15:18] sszdh commented on #10450
Any comments ?

[2015-07-31 16:46] andresgutierrez commented on #10450
Fixed in the 2.0.x branch, thanks

[2015-07-31 16:46] #10450 closed

[2015-07-31 16:59] andresgutierrez commented on #10745
Could you please compile with debug symbols and post the backtrace again?

[code]

[2015-07-31 23:38] SoccerField24x7 opened #10746 "LIMIT array not passing actual value?"
I am using a custom adapter/dialect for MSSQL.  The parameters being passed to the SQL `select` method does not contain the limit value.

Calling code:
[code]

In dialect file:
[code]
Produces array value:
[code]
This does work in the Mysql adapter, so perhaps there is something I am just doing incorrectly, or a step I am missing.

The value was accessible in Phalcon 2.0.2, but I see in the 2.0.4

[2015-08-01 00:12] SoccerField24x7 commented on #10746
I can give you direct access to my testing environment if you want to contact me directly.  Don't want to post it here for obvious reasons. :)

[2015-08-01 00:14] andresgutierrez commented on #10746
As we don't support SQL server, I'm not sure how I can accept this as a bug.

[2015-08-01 00:46] SoccerField24x7 commented on #10746
I understand.  I think it may still be relevant as what *seems* to be happening is that the limit values aren't being passed, but perhaps I am just not knowledgeable enough.  You can tell me.  Basically, we have this:
[code]
Should $definition have the limit values contained in the array if I specified them in ::find()?  If yes, I think there's a bug.  If no, close the ticket and it will just be m

[2015-08-01 00:47] andresgutierrez commented on #10746
Limit values are passed as bound parameters, can you post the output of $definition?

[2015-08-01 00:55] SoccerField24x7 commented on #10746
It's there in the original post.  LIMIT shows as:
[code]

[2015-08-01 00:57] andresgutierrez commented on #10746
It passes the limit using bound parameters, so you have to generate something like:

[code]

Then when the query is executed there is a variable call bindParams that has the value for AP0. Probably PDO with emulate prepares enabled will replace this parameter client-side if SQL server does not support it.

[2015-08-01 01:00] SoccerField24x7 commented on #10746
Got it!  No bug then, just me not fully understanding.

[2015-08-01 05:46] galki commented on #10743
Reflection did the job. Thank you!

By the way, what's the criteria for accepting a NFR such as this (a convenience method)? I want to know so I can post better in the future.

[2015-08-01 07:56] tidytrax commented on #10740
This is a shortcode, and all another works here the full code
All other di-set in the same file works
problem is only in router.

http://pastebin.com/QRq6A5FZ

[2015-08-01 08:01] ioncube opened #10747 "Documentation omission"
bind() should be documented in the query builder section.

[2015-08-01 08:04] ioncube opened #10748 "groupBy cannot accept bind params"
In 2.0.5, groupBy() cannot accept a bind params arg, even though what might be grouped by could contain an expression. Values therefore need to be bound using bind() or piggybacked onto the bind params of another method. Bind params should be added for consistency.

[2015-08-01 08:28] tidytrax commented on #10740
Looks to me that router are not able to call class, can you make a test in your router
calling any class from library!

[2015-08-01 08:47] goqihoo commented on #10740
services.php line 3
Phalcon\DI\FactoryDefault

should modified to Phalcon\DI\FactoryDefault as FactoryDefault

becase you create an instance by FactoryDefault, not Phalcon\DI\FactoryDefault in line 22

[2015-08-01 08:59] tidytrax commented on #10740
Is the same, because as is just to set an alias.
and in others di->set all works fine,

[2015-08-01 09:00] tidytrax commented on #10740
$di->set dispatcher if you look i use 3 \System\ Class

[2015-08-01 09:09] tidytrax opened #10749 "New Feature - \Mvc\Model\Criteria - fromImput"
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/criteria.zep
#line 739

Some way to set it to OR, i know I can build one but would be nice being from core.

Thanks for building phalcon !

[2015-08-01 09:12] tidytrax commented on #10734
Does not remove only the type error, you must also pass on success false, and retrieve only error again,
This should work
var_dump($this->flash->getMessages('success', false));

[2015-08-01 14:45] andresgutierrez commented on #10747
Please post this as an issue in the docs repo: https://github.com/phalcon/docs

[2015-08-02 01:03] zaibkiani opened #10750 "compile error on Centos-6.6"
php version is 5.3.3

 -O2 -fomit-frame-pointer -fvisibility=hidden -c /usr/src/cphalcon/build/64bits/phalcon.zep.c  -fPIC -DPIC -o .libs/phalcon.o
/usr/src/cphalcon/build/64bits/phalcon.zep.c: In function 'zephir_fetch_static_property_ce':
/usr/src/cphalcon/build/64bits/phalcon.zep.c:6961: warning: passing argument 2 of 'zend_read_static_property' discards qualifiers from pointer target type
/usr

[2015-08-02 01:49] phalcon commented on #10750
Php 5.3.3 is not supported, you have to use 5.3.21 at least

[2015-08-02 01:49] #10750 closed

[2015-08-02 08:49] malczak commented on #1253
:+1: for verbatim

[2015-08-03 09:07] AndrewUshchenko opened #10753 "LIMIT param not avail offset?"
I used before ```ModelName::find([
'limit'=>[
      'number'=>5,
      'offset'=>10,
    ]
]);```
Resulting in a request to the following form ``SELECT * FROM model_name LIMIT 0,5``
Who is setting the ``limit`` stops working with an array, only the number, and I have to write parameter ``offset``, for example:
``ModelName::find([
    'limit'=>5,
    'offset'=>10
]);``
I use PDO for MySQL.
This is

[2015-08-03 09:25] sszdh commented on #10556
Any comments?

[2015-08-03 10:13] tuxy commented on #10712
How about something like this then; ``foo:"this is my amazing index"``

[2015-08-03 12:04] Slyvampy commented on #582
I ended up implementing a Zend Framework approach with the resource array 'module:controller'=> array('method') to get around it.

[2015-08-03 13:07] DestinyMKas commented on #10738
$entity->assign($someData) is used to bind data to the entity.
$form->bind() should be used to bind data to form.

[2015-08-03 13:23] andresgutierrez commented on #10753
This is already fixed in 2.0.6

[2015-08-03 13:24] #10747 closed

[2015-08-03 13:24] #10746 closed

[2015-08-03 13:25] andresgutierrez commented on #10712
@tuxy That syntax is already in use

[2015-08-03 13:57] ioncube commented on #10748
Hi Andres. I saw that you tagged as NSTR. I assumed that this was a lack of feature and so a test case is irrelevant. Just so everyone is clear, is it the case that groupBy() is implemented such that it should already be accepting parameters to bind against?

[2015-08-03 14:02] virgofx commented on #10734
@tidytrax That will work. I have to admit I came across the same issue and thought the expected behavior would filter flash messages based on type, but after testing for a few seconds, realized it did not.

This really isn't an issue, it's currently the expected behavior, but it's a common pitfall.

Perhaps at a minimum the PHPDOC blocks / documentation could be updated for these methods to explai

[2015-08-03 14:48] #10753 closed

[2015-08-03 15:01] andresgutierrez commented on #10749
Implemented in 2.0.x branch

[2015-08-03 15:01] #10749 closed

[2015-08-03 15:53] FirePro opened #10754 "2.0.6 - Bug on using queryBuilder again"
Hello! I using Phalcon 2.0.6

Query builder have error on set limit and offset parameters. You need call $queryBuilder->getPhql() or $queryBuilder->getQuery() two times and you get four bind parameters...there should be two..

Number of method invocation parameters increases by 2

   $queryBuilder = new \Phalcon\Mvc\Model\Query\Builder();
   $queryBuilder->columns("Users.*");
   $queryBuilder->add

[2015-08-03 16:08] FirePro opened #10755 "2.0.6 - Bug on getActiveMethod in dispatcher"
Hello!

I having actions in controllers like "helloMyWorldAction", and using annotations to route. If i try to  $dispatcher->getActiveMethod() i get string like "hellomyworldAction"

Lost the original formatting of the text, it converted to lowercase.

This bug was corrected in Phalcon 1.3 *, but again returned to the Phalcon 2.0

[2015-08-03 16:09] FirePro commented on #10755
A bug in version 1.3 are discussed here https://github.com/phalcon/cphalcon/issues/2313

[2015-08-03 16:19] andresgutierrez commented on #10755
Views are looked up in lowercase, returning helloMyWorldAction makes it look for a view called helloMyWorld.phtml instead of hellomyworld.phtml

[2015-08-03 16:24] tidytrax commented on #10734
I agree my Messages implementation only erase the Key (error,warning,info, success)
Besides that framework is beaultiful but its getting better !!
And really is just missing the DOC for it, because its not a bug.

Hope that i help

[2015-08-03 16:27] FirePro commented on #10755
What decision should be to get existing Annotations on active method without extra code?

Before update to 2.0, this

<code>
$annotations = $this->annotations->getMethod(
            $this->dispatcher->getControllerClass(),
           $this->dispatcher->getActiveMethod()
 );
</code>

After update to 2.0.6, It took me to write a function:

<code>
$activeMethod = $this->dispatcher->getActionName()."

[2015-08-03 16:28] andresgutierrez commented on #10755
I think the annotations component must work with case insensitive method names and it does not matter in php

[2015-08-03 16:31] FirePro commented on #10755
If you send to getMethod lowercase, you don't get any annotations. If you send formatted string, you get all annotations.

[2015-08-03 16:32] andresgutierrez commented on #10755
Yeah, that's what I'm saying, the annotations component must return the annotations for the method without having into account the case sensitiveness.

[2015-08-03 16:35] idlleF opened #10756 "PhalconEye Error message"
Hi there.
I was installed phalcon 2.0.6 and phalconeye 0.4.1 after configuration i tried to start CMS but get those errors
'Fatal error: Uncaught exception 'Exception' with message 'The argument is not initialized or iterable()' in phalcon/config.zep on line 62'

'Exception: The argument is not initialized or iterable() in phalcon/config.zep on line 62'

[2015-08-03 16:38] andresgutierrez commented on #10756
It looks like the Phalcon\Config constructor is not receiving an array as it expects.

[2015-08-03 16:38] FirePro commented on #10755
It would be great, if it will work as you said :) But now getMethod is case-sensitive and required the original name of active method.

[2015-08-03 20:13] andresgutierrez commented on #10756
@lantian

[2015-08-03 20:16] lantian commented on #10756
@idlleF 0.4.1 doesn't support phalcon after 1.3.4 version. So errors are possible, this issue can be closed.

[2015-08-03 20:17] #10756 closed

[2015-08-03 20:57] andresgutierrez commented on #10696
I added an option to Phalcon 2.0.7 to remove data in _SESSION:

[code]

[2015-08-03 20:57] #10696 closed

[2015-08-03 21:37] andresgutierrez commented on #10748
Are you getting an error when you specify a bound parameter there?

[2015-08-03 22:31] andresgutierrez commented on #10739
Fixed in the 2.0.x branch

[2015-08-03 22:31] #10739 closed

[2015-08-03 23:51] andresgutierrez commented on #10755
I've added case insensitiveness to getMethod in the 2.0.x branch

[2015-08-03 23:51] #10755 closed

[2015-08-03 23:58] andresgutierrez commented on #10754
"again"

[2015-08-04 00:13] virgofx commented on #10739
@andresgutierrez Thank you

[2015-08-04 00:59] andresgutierrez commented on #10754
Fixed in the 2.0.x branch

[2015-08-04 00:59] #10754 closed

[2015-08-04 08:38] FirePro opened #10758 "FindFirst method not work after fix #10754"
Hello! FindFirst method in any model not work after fix bug #10754. Before fix, works perfectly.
In bind parameters limit parameter have alias ALP0, but query string have AP0.

[code]

Exception: Error: SQLSTATE[HY093]: Invalid parameter number: parameter was not defined

One item from stack trace:

[code]

[2015-08-04 09:44] VCJeroen commented on #10734
@virgofx

This was the case in earlier versions of Phalcon (up to 1.3.4), but apparently it changed with the release of Phalcon 2.0.0. We only found out about this after upgrading and our code stopped working.

This change is not listed in the changelog hence I assumed it was a bug. Apparently it's not so I will close the issue.

[2015-08-04 09:44] #10734 closed

[2015-08-04 10:11] ovr opened #10759 "Please obey semantic versioning, and stop merge BC"
As I known Phalcon is using Semantic Versioning

http://semver.org/

[code]

Current Minor - `2.0.x`

Examples:
https://github.com/phalcon/cphalcon/commit/b8244b94f7b1742103fdf31fbeecdc7d5550b2f4
BC breake, you cannot modify interface in PATCH release, it's need another MINOR - 2.1.x

Another example
https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/model/validatorinterface.zep
[code]
BC

[2015-08-04 10:17] sergeyklay commented on #10759
:+1:

[2015-08-04 10:17] KorsaR-ZN commented on #10759
I propose to exclude `fromInput` method from the interface, where it is not needed!

[2015-08-04 10:21] ovr commented on #10759
@KorsaR-ZN
Yeap, but don't forget you can do this in patch release
Patch release We are using to stable our system... for upcoming releases with security fixes or bug fixes

[2015-08-04 10:21] KorsaR-ZN commented on #10759
:+1:

[2015-08-04 10:29] KorsaR-ZN commented on #10759
@ovr If we remove the method `fromInput` from the interface, he will not break semver
Who supports the exclusion of this method?

[2015-08-04 10:36] FirePro commented on #10758
Error in  cphalcon/phalcon/mvc/model/query/builder.zep

String in line 1316
[code]
Should be:
[code]

[2015-08-04 10:40] ovr commented on #10759
@KorsaR-ZN
You will break this code

[code]

And bind version like

[code]

[2015-08-04 11:05] KorsaR-ZN commented on #10759
@ovr Here you are right, I do not argue.
I just put the voice of the exclusion of this method from the interface, not because of the implementation, but only from the interface.

[2015-08-04 11:30] FirePro commented on #10758
I fixed this problem and tests. Merge my pull request, please.

[2015-08-04 13:00] phalcon commented on #10759
Who tell you that we are following semantic versioning?

[2015-08-04 13:35] #10758 closed

[2015-08-04 16:43] andresgutierrez commented on #10505
Fixed in the 2.0.x branch

[2015-08-04 16:43] #10505 closed

[2015-08-04 16:45] #10568 closed

[2015-08-04 16:46] #10461 closed

[2015-08-04 16:47] #10583 closed

[2015-08-04 16:49] andresgutierrez commented on #10233
Could you please try again using latest Phalcon 2.0.6?

[2015-08-04 16:50] andresgutierrez commented on #10022
Closed as duplicate of #3246

[2015-08-04 16:50] #10022 closed

[2015-08-04 16:51] andresgutierrez commented on #10319
Needed script to reproduce

[2015-08-04 16:52] andresgutierrez commented on #9934
Could you please try again using Phalcon 2 or close this issue as 1.3.x is no longer supported

[2015-08-04 16:52] #9965 closed

[2015-08-04 16:55] #3103 closed

[2015-08-04 16:59] andresgutierrez commented on #3034
As Phalcon 2.0.x is now released and many maintenance releases have been released for this series. Phalcon 2.1.x will deprecate PHP 5.3.x in all platforms. We encourage everyone using PHP 5.3 to update their installations to the latest Phalcon 2.0.x and/or upgrade to >= PHP 5.4.x as soon as possible if you want to continue receiving Phalcon updates.

[2015-08-04 16:59] #3034 closed

[2015-08-04 17:02] andresgutierrez commented on #3084
This happens because you have a service called "core"

[2015-08-04 17:03] andresgutierrez commented on #3023
Could you please try again using Phalcon 2 or close this issue as 1.3.x is no longer supported

[2015-08-04 17:04] andresgutierrez commented on #2983
Could you please try again using Phalcon 2 or close this issue as 1.3.x is no longer supported

[2015-08-04 17:04] #2952 closed

[2015-08-04 17:05] andresgutierrez commented on #2948
Could you please try again using Phalcon 2 or close this issue as 1.3.x is no longer supported

[2015-08-04 17:05] #2933 closed

[2015-08-04 17:07] andresgutierrez commented on #2809
Could you please try again using Phalcon 2 or close this issue as 1.3.x is no longer supported

[2015-08-04 17:08] andresgutierrez commented on #2714
This is fixed in Phalcon 2.0.6

[2015-08-04 17:08] #2714 closed

[2015-08-04 17:08] andresgutierrez commented on #2567
Could you please try again using Phalcon 2 or close this issue as 1.3.x is no longer supported

[2015-08-04 17:08] #2472 closed

[2015-08-04 17:09] andresgutierrez commented on #2468
Could you please try again using Phalcon 2 or close this issue as 1.3.x is no longer supported

[2015-08-04 17:09] #2376 closed

[2015-08-04 17:10] #2372 closed

[2015-08-04 17:14] #1800 closed

[2015-08-04 17:15] andresgutierrez commented on #1577
Fixed in Phalcon 2.0.4

[2015-08-04 17:15] #1577 closed

[2015-08-04 17:15] #1578 closed

[2015-08-04 17:18] andresgutierrez commented on #2279
Could you please try again using Phalcon 2 or close this issue as 1.3.x is no longer supported

[2015-08-04 17:18] andresgutierrez commented on #1949
Could you please try again using Phalcon 2 or close this issue as 1.3.x is no longer supported

[2015-08-04 17:21] andresgutierrez commented on #1609
You can use custom dialect functions since Phalcon 2.0.3 to support any SQL extension: https://blog.phalconphp.com/post/phalcon-2-0-3-released

[2015-08-04 17:21] #1609 closed

[2015-08-04 17:22] #1546 closed

[2015-08-04 17:22] andresgutierrez commented on #1546
You can use custom dialect functions since Phalcon 2.0.3 to support any SQL extension: https://blog.phalconphp.com/post/phalcon-2-0-3-released

[2015-08-04 17:23] andresgutierrez commented on #1974
This is fixed in Phalcon 2.0

[2015-08-04 17:23] #1974 closed

[2015-08-04 17:24] andresgutierrez commented on #2113
Fixed in Phalcon 2.0.x

[2015-08-04 17:24] #2113 closed

[2015-08-04 17:25] andresgutierrez commented on #2356
Could you please try again using Phalcon 2 or close this issue as Phalcon 1.3.x is no longer supported

[2015-08-04 17:26] andresgutierrez commented on #2416
@skintagain ping

[2015-08-04 17:27] andresgutierrez commented on #2404
Could you please try again using Phalcon 2 or close this issue as Phalcon 1.3.x is no longer supported

[2015-08-04 17:27] #2384 closed

[2015-08-04 17:28] andresgutierrez commented on #2430
Could you please try again using Phalcon 2 or close this issue as Phalcon 1.3.x is no longer supported

[2015-08-04 17:31] #3023 closed

[2015-08-04 17:32] temuri416 commented on #2356
Not using Phalcon 2. Closing the issue.

[2015-08-04 17:32] #2356 closed

[2015-08-04 17:43] SergeyBran opened #10761 "IndexController::IndexAction() run twice"
When I calling method IndexController::IndexAction() this method run twice. Also discovered when call some other method in other controller, IndexController::IndexAction() is run as additional.
You can check it pretty easy by tried to write something to a file or send an email in this method. The result will be a double.
Probably #2279 issue is related with this. I also found this problem when try

[2015-08-04 19:19] andresgutierrez commented on #10761
Could you please post a script that allow us to reproduce the issue?

[2015-08-04 21:38] SergeyBran commented on #10761
https://github.com/phalcon/tutorial
class IndexController extends Controller
{
	public function indexAction()
	{
		file_put_contents("../public/files/test.txt", '$', FILE_APPEND);
	}
}

"$" will be written twice

[2015-08-04 21:42] andresgutierrez commented on #10761
I executed it and only one $ is written to the file

[2015-08-04 21:44] andresgutierrez commented on #10761
I think your browser is prefetching a static resource that is missing causing index/index being executed twice. Also it could be that you don't have a favicon.ico causing the same.

[2015-08-04 21:53] SergeyBran commented on #10761
Exactly. Chrom is trying to get favicon.ico. Thank you so much!

[2015-08-04 21:53] #10761 closed

[2015-08-05 09:12] Elvander commented on #2983
I've made the switch to Phalcon 2. The problem is resolved in Phalcon 2

[2015-08-05 09:12] #2983 closed

[2015-08-05 11:56] aleemb commented on #2764
The error seems to be on this line which overrides `PDO::ATTR_ERRMODE`:

https://github.com/phalcon/cphalcon/blob/e0c2afd362583f18b13c547b0128dcabb63fb631/phalcon/db/adapter/pdo.zep#L150

[2015-08-05 14:01] tuxy commented on #10712
@andresgutierrez Any other ideas then to have a better way then ``foo["bar"]`` anyone ? Because we have objects much easier typed with ``foo.bar`` this takes only 1 char where is array takes 4 additional chars.

[2015-08-05 15:37] ovr commented on #10759
@phalcon
You version system
2.0.x

[2015-08-05 15:38] andresgutierrez commented on #10759
So, employing a universally adopted scheme for versions make us follow this page? http://semver.org/

[2015-08-05 18:28] dschissler commented on #10759
It seems to me that the issue is wanting to improve Phalcon but being stuck in this idea 2.0.x will support PHP 5.3 and then later versions will be deprecating/discontinuing PHP 5.3 and so breaking changes are forced into the 2.0.x versions.  I propose that PHP 5.3 can be deprecated at any moment and it won't affect things and deprecation just means that it is marked for later removal - and not ev

[2015-08-05 18:44] dschissler opened #10764 "[2.0.4+] Binding arrays in PHQL seems impossible to do?"
https://forum.phalconphp.com/discussion/7971/binding-arrays-204+-in-phql

Ok so its a new feature thats not yet documented and that is fine but I just can't figure out how to use it or if its in fact working correctly at this moment.  So as of this moment this issue is somewhere between a forum comment and a github issue.

[2015-08-05 18:57] dschissler commented on #10764
@andresgutierrez Can you confirm that something like `:PARAM0:` or `{PARAM0:array}` is the correct path to take?

So I'm already binding the hell out of scalars and everything is great and lovely.  For arrays my idea is that I pass an array as `'PARAM0' => [1,2,3]` and then use those values like `field IN :PARAM:` or `field IN {PARAM0:array}`.

Am I correct in this basic approach or is my syntax s

[2015-08-05 19:07] andresgutierrez commented on #10764
Example:

[code]

Outputs:

[code]

[2015-08-05 19:17] dschissler commented on #10764
Great Andres.  Thanks.  I was simply not wrapping it in a parenthesis.  I thought that I had but it must have been with another combination.  Such is the issue with brute forcing it.

Now just an initial thought I'm thinking that in an ideal world the Adapter/Query parser stuff would know to supply the wrapping parenthesis in a similar manner to how one should bind wildcard searches as `%val%` ins

[2015-08-05 19:24] #10764 closed

[2015-08-06 00:57] andresgutierrez commented on #10321
Fixed in the 2.0.x branch

[2015-08-06 00:57] #10321 closed

[2015-08-06 00:59] leoangel commented on #10745
[root@vm0 public]# gdb /usr/local/php/sbin/php-fpm core.18307
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-51.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warran

[2015-08-06 01:11] ovr commented on #10759
@andresgutierrez
Because it's best practice and needed for dependency project(s)
I can't bind version for next paches
Are you intersted to economize branches?

@dschissler
It's possible and easy to create another minnor branch and do changes in it

[2015-08-06 07:07] savchuks commented on #10266
I got latest version Phalcon 2.0.6 from git://github.com/phalcon/cphalcon.git
My PHP Version 5.6.11, and MYSQL API library version is 5.5.44

Still when try to use FETCH_KEY_PAIR i get error "SQLSTATE[HY000]: General error: fetch mode doesn't allow any extra arguments".
I cannot figure out what else i need to update to make it work ?

[2015-08-06 08:53] thxer92 opened #10767 "Unable to create condition with a related model"
Hi,

I have two models: Page and PageLocalized

PageLocalized has a belongsTo relation:
[code]

when i try this:
[code]
i gave an exception:
 'Unknown model or alias 'Page'
when i try with full namespace i gave the same exception, but with namespace

I created a query:
[code]
I gave multiple notice:
Undefined index: balias in ...
Warning: Phalcon\Mvc\Model\Resultset\Complex::current(): Property sh

[2015-08-06 09:21] gufei commented on #10737
2.0.x 仍然没有这个方法

[2015-08-06 11:59] andresgutierrez commented on #10767
This is already fixed in the 2.0.x branch

[2015-08-06 11:59] #10767 closed

[2015-08-07 09:48] CKKing opened #10769 "install Error"
When I type sudo ./install,the error happen,so this:
/bin/sh /home/cike/cphalcon/build/64bits/libtool --mode=compile gcc  -I. -I/home/cike/cphalcon/build/64bits -DPHP_ATOM_INC -I/home/cike/cphalcon/build/64bits/include -I/home/cike/cphalcon/build/64bits/main -I/home/cike/cphalcon/build/64bits -I/usr/include/php -I/usr/include/php/main -I/usr/include/php/TSRM -I/usr/include/php/Zend -I/usr/include/

[2015-08-07 12:41] ioncube commented on #10748
Maybe I made a mistake, but I had a clause such as:
->groupBy('floor(unix_timestamp(a) / :b:)', ['b'=>$b])

following the pattern of other methods I was using such as where(), andWhere() etc.
As $b didn't get bound to :b:, I had an error that the count of parameters was incorrect as fewer parameters were bound than necessary. One fix was binding 'b' in the bind list for one of the where conditions

[2015-08-07 13:58] andresgutierrez commented on #10769
PHP 5.3.3 is not supported anymore, you have to use 5.3.21 at least.

[2015-08-07 13:58] #10769 closed

[2015-08-07 18:27] yuriygr opened #10770 "Why is formed extra slash?"
[code]

[2015-08-07 23:29] andresgutierrez commented on #10770
[code]

[2015-08-09 03:01] ovr commented on #10759
ping @andresgutierrez

[2015-08-10 07:21] galki opened #10771 "empty model's hasOne and hasMany return different values"
Is the `if (!$subModelRelation)` part normal?
[code]

[2015-08-10 08:14] Dmitry-Kucher opened #10772 "Cookies has/get"
Unpredictable behaviour in cookies module. Reason - implicit set in get function
https://github.com/phalcon/cphalcon/blob/c705e115264fbe42d44bb3f1fbf7aebd3e2498bb/phalcon/http/response/cookies.zep#L155

Example:
[code]
Output:
[code]
Possible solutions:
If I understand algorithm the reason for this issue is attempting to incapsulate superglobal $_COOKIE with local _cookies.
Use something like cons

[2015-08-10 14:51] andresgutierrez commented on #10771
Yeah, it's required, because it works like findFirst() that returns an instance of an object in case the query conditions are satisfied or *false* if they do not

[2015-08-10 14:56] andresgutierrez commented on #10705
@dschissler Can you please close this issue?

[2015-08-10 14:58] dschissler commented on #10705
I'll try running all of the scripts tomorrow to see if it is fixed.  I saw that you did something a few days ago that looked related to this issue.

[2015-08-10 16:09] lenilsondc opened #10774 "Lambda and Closure support for Volt template engine"
I was working in a few html extensions for phalcon and came across with the fact that if there was lambda and closure support, would be fantastic (with a proper syntax).

Is that possible, implements lambda and closure support for volt engine?

I already have an idea about the syntax and the parse result but not sure of the better approach for implementing this.

It may be just an extension for Vo

[2015-08-10 16:11] dschissler commented on #10704
Implemented

[2015-08-10 16:11] #10704 closed

[2015-08-10 16:12] dschissler commented on #10705
Actually I will close this.  I was confused with the other bugs.

[2015-08-10 16:12] #10705 closed

[2015-08-10 18:00] temuri416 opened #10775 "[BUG] Phalcon 2.0.* - merging configs with Closures kabooms"
Hi,

In Phalcon 2.0 the following code throws "*Call to undefined method Closure::count()*" exception:

[code]

Thanks!

[2015-08-10 18:21] sergeyklay opened #10776 "[NFR] Phalcon\Secure\Random with cryptographically secure algorithms"
Hello.

I suggest to move the functionality of `Phalcon\Text::random` in a separate class (e.g. `SecureRandom`).

I believe that the method `Phalcon\Text::random` is not well implemented. The method may use other ways to randomize. For example:
- [x] Use `openssl`
- [x] Use `libsodium`
- [ ] <s>Way with uppercase characters and numbers that cannot be confused</s> _(Need implement into Text class.)

[2015-08-10 19:38] andresgutierrez commented on #1117
I'm currently implementing this, and perhaps  I'm currently not fully understanding the advantages of this or I have a wrong idea. What I understand is that instead of making separate db queries to obtain the additional data this feature will make one query and will process the data in a recursive way assigning the proper relations to parent records.

For instance, if you want to get the robots +

[2015-08-10 20:07] ErickSkrauch commented on #1117
@andresgutierrez, yes you are right. This provides performance benefits only if the associated data is heterogeneous. However, the implementation of, for example, news feeds, eager loading unrealistic unload database.

[2015-08-10 20:08] andresgutierrez commented on #1117
Could you please elaborate?

[2015-08-10 20:13] ErickSkrauch commented on #1117
My project Ely.by, writen on PhalconPHP. See, for example, skin page: http://ely.by/skins/s38486
As you can see, there at bottom list of comments. Every comment have author - User model. Every author have image - Skin.

I display 20 comments. Now calculate: 20 comments (1 request) + 20 users (21 request) + 20 skins (41 request).

With eager loading I will write Comments::query()->with('author')->.

[2015-08-10 20:32] valVk commented on #705
Up?

[2015-08-10 20:38] andresgutierrez commented on #1117
@ErickSkrauch You can use a single query if you want:

[code]

You can also use a query builder if you don't want to use PHQL directly.

[2015-08-10 20:56] ErickSkrauch commented on #1117
@andresgutierrez, yes, it can also be done, but that would be correct if I do something:

[code]

At least in Yii2 it is applied such method than to access relations through StdClass.

[2015-08-10 20:57] sszdh commented on #1117
I think the age of using DEEP RELATIONs an also eager loadig is done!

We should think different. Redesign UXs an data manipulations...

Eager loading has so much disadvantages now a day!

Sorry but that is my POV.

[2015-08-10 21:03] andresgutierrez commented on #1117
@ErickSkrauch  But, if you only need $comment->text why do you have to fetch the full `Comments` instance, the full `Author` instance? Are we writing high performance applications or are we wasting memory fetching and hydrating data that we aren't using at all?

[2015-08-10 21:10] ErickSkrauch commented on #1117
Many people are puzzled, using PhalconPHP, how to get one select for model and related data. Perhaps in PhalconPHP a different approach to it (as shown by you through PHQL), but no such examples in the documentation.

On the other hand Yii (Yii2), Laralev, etc. provide a method with() and the developers would like to have this in PhalconPHP. Otherwise would not have been much of an issue here on g

[2015-08-10 23:17] spuy767 commented on #1117
Eager loading in laravel and yii isn't real eager loading if you look at the database logs.  I always see eloquent make two queries.  One for the base model, then another for the related models via an IN().  What would really be nice in Phalcon is to have the same syntax, but that syntax be a join on a relationship.  We would, of course need to specify columns, but I feel like this grants the best

[2015-08-11 02:31] kdays opened #10778 "Invalid parameter number"
MySQL Database Config :
[code]

code:
[code]

got:
[code]

phalcon 2.0.3 ok, but 2.0.5 got error

[2015-08-11 02:41] #10778 closed

[2015-08-11 04:01] galki opened #10779 "[2.0.6] Bug: can't save hasMany relation with lowercase alias"
[code]

The strange thing is I COULD save with lowercase aliases up to and including this version, but not this particular time. No errors were returned and debugging came up with nothing, but [Nate's comment](https://forum.phalconphp.com/discussion/793/model-not-saving-related-records) suggested capitalizing the alias names and it worked.

[2015-08-11 04:04] galki commented on #10771
Right. Thank you.

[2015-08-11 04:04] #10771 closed

[2015-08-11 06:31] sergeyklay commented on #10776
I'll do this. @andresgutierrez assign please to me

[2015-08-11 08:02] Surt commented on #1117
@andresgutierrez usually the eager loading is done through multiple queries, with the use of  ```IN```

[code]

Of course, you can calculate the number of queries if I have 100 users with 100 avatars and 100 post each one. With eager loading there is only 3 queries.

The advantages are what I expect of programming: to go through already implemented abstractions so I don't need to rewrite it every

[2015-08-11 08:15] sprufu opened #10780 "Controller放在命名空间时，Dispatcher::forward在linux下报Controller handler class cannot be loaded错误"
遇错代码如下：
[code]
在window下运行正常，放到linux下就报`PhalconException: gw\mvc\controllers\DocumentlistController handler class cannot be loaded`

php环境：Apache/2.4.10 (Unix) OpenSSL/1.0.1j PHP/5.6.3 mod_perl/2.0.8-dev Perl/v5.16.3
phalcon版本：2.0.6
linux版本是：Red Hat Enterprise Linux Server release 6.3

[2015-08-11 09:41] xicond opened #10781 "filter in Assets addJs not working"
I imagine that this filter would gave me an exceptional filtered action, but all js that added still filtered using JsMin

    $collection = $this->assets->collection($key)->setTargetPath('js/final.js')->setTargetUri('js/min/final.js')
                ->setSourcePath('/assets/js/')->setTargetPath('/js/min/')
                ->setPrefix('js/min/')
                ->addFilter(new \Phalcon\Assets\Fil

[2015-08-11 10:15] ErickSkrauch commented on #1117
@Surt, +1

[2015-08-11 10:16] f3l1x commented on #2758
:+1:

[2015-08-11 10:18] alrik11es commented on #1117
@Surt, +1 (Clap, clap)

[2015-08-11 11:40] valVk commented on #1117
CakePHP has params called ["recursive"](http://book.cakephp.org/2.0/en/models/model-attributes.html#recursive) for this.

Correct me if I'm wrong.

does this code produces selects in db?

[code]

[2015-08-11 12:18] sergeyklay commented on #2758
+1

[2015-08-11 12:52] andresgutierrez commented on #10780
You can ask questions like this in the forum. Github is only intended to report bugs or discuss new features. https://forum.phalconphp.com/

[2015-08-11 12:52] #10780 closed

[2015-08-11 13:23] virgofx commented on #10770
@andresgutierrez Shouldn't the Tag::linkTo output the same value as the URL service? Regardless if the base URI is explicitly "" or "/" those two should be the same. See #10739

[2015-08-11 15:37] andresgutierrez commented on #1117
### IN queries

@Surt That implementation is only suitable for small/medium resultsets (maybe large depending on the values). If you fetch the parent records (in this case users), then you have to traverse this resultset to obtain the "unique"  user IDs (found across few, dozens, hundred, thousands or records?). Then these IDs must to be bound to the IN operator to obtain the list. This means keep

[2015-08-11 16:02] andresgutierrez commented on #10776
it can be Phalcon\Security\Random, as we're already using this namespace. Also, I think you can use libsodium for that.

[2015-08-11 20:55] sszdh commented on #2758
nice shoot...

[2015-08-12 07:50] Surt commented on #1117
@andresgutierrez

# IN queries
Usually on web applications or APIs there is a need for pagination of results. If you make a query with thousands or records you probably are doing something wrong.
By the way, the transverse across the resultset to obtain the ID is the SAME transverse you do with lazy loading when you want to access to a relationship for the model. So no diference in time here. (exc

[2015-08-12 09:43] ChanoAndersen opened #10782 "Error in generated SQL when using inWhere and limit/offset"
Hi,

I've noticed a bug when using the following code, that results in a wrong SQL statement sent to the MySQL server.

In the array parsed to inWhere, the first two entries will be replaced by the limit and the offset.

I have tested with older versions and the result is as follows:

2.0.3 - The code works
2.0.4 - The limit and offset is not used at all, and all rows are returned.
2.0.5 - Same as

[2015-08-12 12:09] williamokano commented on #1117
In my case I was writing a API using phalcon and using the "concept" of resources, which is a model on Phalcon.

On my approach, I had the following syntax to fetch a resource:

http://ENDPOINT/resource_name?parameters

As the resources have the same superclass (Phalcon\Model) I can write this to fetch the data dynamically using a generic code, something like that
[code]
This is just an example an

[2015-08-12 12:44] ilgityildirim opened #10783 "Model limit with offset doesn't work"
It seems there is a problem with 2.0.5 when you want to use limit with offset on a model.

Consider this;
[code]

[2015-08-12 13:01] andresgutierrez commented on #10782
This is already fixed in the 2.0.x branch

[2015-08-12 13:03] andresgutierrez commented on #1117
@williamokano You can always use a join to fetch all the data in a single query

[2015-08-12 13:04] andresgutierrez commented on #10783
This is already fixed in the 2.0.x branch

[2015-08-12 13:07] ilgityildirim commented on #10783
@andresgutierrez I'm using 2.0.5 and I just noticed this problem. May I ask when the fixed version will be available as this effects the application.

[2015-08-12 13:09] andresgutierrez commented on #10783
You can install from the 2.0.x branch or it will be released in one week or so.

[2015-08-12 13:10] ilgityildirim commented on #10783
@andresgutierrez thanks

[2015-08-12 13:37] temuri416 commented on #10775
@andresgutierrez

Any thoughts on that? It prevents me from trying Phalcon 2 with my app - it explodes right out of the gate.

[2015-08-12 14:03] andresgutierrez commented on #10775
I'm taking a look

[2015-08-12 21:21] dschissler opened #10784 "Phalcon\Mvc\Model\Validator\Uniqueness doesn't work with PHQL literals disabled."
I'm investigating the the params variable that is constructed for the query and how it interacts with the Model::count method

[2015-08-12 22:22] xerron opened #10785 "ERROR: Model name Group"
Not work model called Group.

class Group extends \Phalcon\Mvc\Model
{
...
}

$phql = "SELECT * FROM Group";
$groups = $app->modelsManager->executeQuery($phql);

Syntax error, unexpected token GROUP, near to '   ', when parsing: SELECT id, type, name, description, price, created_at, updates_at FROM Group    (79)

How I can make it work ?

[2015-08-12 22:23] andresgutierrez commented on #10785
[code]

https://docs.phalconphp.com/en/latest/reference/phql.html#escaping-reserved-words

[2015-08-12 22:25] xerron commented on #10785
work fine!!
thank you!!! @andresgutierrez. +1

[2015-08-12 22:25] #10785 closed

[2015-08-12 22:50] dschissler commented on #10784
I've determined that it definitely is occurring within the Model::_groupResult method.

[2015-08-12 22:53] dschissler commented on #10784
@andresgutierrez Can you offer me any advice on how to compile Phalcon quicker?  I don't believe that it is catching anything between builds because it is really taking forever.

[2015-08-12 22:54] andresgutierrez commented on #10784
@dschissler Do you have the latest version of Zephir?

[2015-08-12 22:54] dschissler commented on #10784
Recently as of some weeks.

[2015-08-12 22:54] andresgutierrez commented on #10784
Can you please update to the latest version?

[2015-08-12 22:55] dschissler commented on #10784
Yes I will do that now.

[2015-08-12 22:57] dschissler commented on #10784
Master or Development branch?

[2015-08-12 22:58] andresgutierrez commented on #10784
Master please

[2015-08-12 23:05] dschissler commented on #10784
The compile/install process is a bit rather strange.  Is it supposed to be version `0.7.1b`?

[2015-08-12 23:15] dschissler commented on #10784
@andresgutierrez Ok that seems to be caching now at least when no changes are made.

[2015-08-12 23:52] dschissler commented on #10784
@andresgutierrez I removed the DI being passed into the static count method because it doesn't use it so as to be able to print the data easier.

The parameters being passed into `manager->createBuilder(params)` are:

[code]

I'm not sure why this would fail on this with `Literals are disabled in PHQL statements`.  It fails when I use `error_log(query->getSql()["sql"]);` or when I let it get to ex

[2015-08-13 00:41] dschissler commented on #10784
What is really strange is that uniqueness validator is working in one case but failing in the second case.

I've changed Phalcon code to fix the issue but I don't understand why it is the way that it is the way that it is.

I changed [this code](https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/model.zep#L1104-L1112) to the following:

[code]

In one instance the count works with `COUNT(4

[2015-08-13 04:11] gufei opened #10787 "多模块(Multi Module Applications)中，是否可以一个模块是命令行（cli）应用？"
如题，如何做才能在多模块Multi Module Applications上有一个命令行应用（cli）?

[2015-08-13 05:43] sergeyklay commented on #10787
https://forum.phalconphp.com/discussion/7283/multiple-module-cli

You can ask questions like this in the forum. Github is only intended to report bugs or discuss new features. https://forum.phalconphp.com/

[2015-08-13 06:28] movoco opened #10788 "new version cannot recursively read namespace by using registerNamespaces?"
I use Phalcon 2.0.2 and my project is fine , but while I upgrade phalcon to 2.0.5 or 2.0.6, I found phalcon cannot recursively to read files by using registerNamespaces this function.
[code]
**serviceDir Directory Struct**
[code]
**Now I have to put ValidateService.php to under serviceDir**
[code]
It's a bug ?

[2015-08-13 06:33] jodator commented on #10788
What's the namespace name in `ValidateService.php` file?

[2015-08-13 06:45] movoco commented on #10788
[code]

[2015-08-13 07:01] jodator commented on #10788
Would be better to use direct namespace -> folder mapping.

1. Use only CamelCase folders (to be consistent)
2. Use only CamelCase namespaces (to be consistent)

So this should definetelly work:

Loader
[code]
Directory structure
[code]
namespace Pari\Services\Validate;

class ValidateService {
}
[code]

[2015-08-13 07:06] jodator commented on #10788
Also much simpler is just following PSR-0:

[code]

Directory structure
[code]
MahPlugin.php:
[code]
ValidateService.php:
[code]

[2015-08-13 07:23] movoco commented on #10788
Thank you, It's work

[2015-08-13 07:23] #10788 closed

[2015-08-13 09:06] ogarbe opened #10789 "Cookies implementation"
\Phalcon\Http\Response\Cookies implementation is wrong :

- [x] it's coupled with \Phalcon\Cookie object without possibility to use DI
- [x] get return a Cookie Object (would be better to have a CookieInterface)
- [x] \Phalcon\Cookie is coupled with Session without reason, if session is not started it will break

[2015-08-13 13:33] virgofx commented on #10776
2 Thoughts

* If you could include the UUID functionality as provided by [ramsey/uuid](https://github.com/ramsey/uuid) natively --- That would be great.

* In regards to UUIDs and other commonly generated values - If you do include this; could you incorporate it into the Models and Metadata.  (This is something I've done for my applications extending the current Phalcon application). Specifically,

[2015-08-13 13:52] sergeyklay commented on #10776
@virgofx
* I suggest include the UUID functionality into `UuidTools` or something like that. Because `Phalcon\Secure\Random` should provide methods with cryptographically secure algorithms. In my humble opinion `Phalcon\Secure\Random` shouldn't generating UUID.
* 2 proposal need separate to new issue

[2015-08-13 14:01] sergeyklay commented on #10776
@andresgutierrez ?

[2015-08-13 14:13] sergeyklay commented on #10776
@virgofx

Ruby's SecureRandom v2.2.2 [contains][1] `SecureRandom.uuid` which generates a v4 random UUID. The version 4 UUID is purely random (except the version). It doesn’t contain meaningful information such as MAC address, time, etc.

However if you propose to implement full functionality as provided by [ramsey/uuid][2] IMHO we need separated class.

[1]: http://ruby-doc.org/stdlib-2.2.2/libdoc

[2015-08-13 15:06] dschissler commented on #10784
Ok, I slept, cleaned up my code and this is sort of a state of things.

I did some very quick research on mysql aggregate functions that would be called through `Model::_groupResult` and I see that sometimes you want to use `(*)` and other times you want to calculate based upon a column like with `SUM(column_name)`.  Its beyond me as to how this affects other databases.

So for the moment I'm usin

[2015-08-13 15:19] virgofx commented on #10776
Fair enough. The namespace should be outside of SecureRandom as you've noted. Makes more sense. My only thought would be to consider the importance of having this linked as a generated value (along with other potential common database generated values).

[2015-08-13 15:24] AxeeL opened #10791 "Phalcon\Mvc\Collection::_getResultset - returns ...\Document when fields are specified"
Hi!

I have just worked on my project and after a change I got some errors, after debugging I found out it's caused by this line:
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/collection.zep#L401

When I'm specifying  'fields' key in parameters a Phalcon\Mvc\Collection\Document is returned instead of the model I'm using, and by this I can't use my getters and this leads to a problem,

[2015-08-13 16:18] andresgutierrez commented on #10791
It returns an incomplete object, due to the specification of 'fields' not every field is returned in the model, so saving by mistake an incomplete object may result in data loss. This is way it returns a Phalcon\Mvc\Collection\Document to avoid save the object and lose data.

[2015-08-13 16:22] andresgutierrez commented on #10784
@dschissler Could you please provide a small script to reproduce the issue?

[2015-08-13 16:27] dschissler commented on #10784
I can try within some days.  I don't need to change out model definitions like with the other scripts and so I can do it an easier to follow all inline way this time.  Can you recommend a simple one page bootstrap for getting a test going?

[2015-08-13 20:11] shaneparsons commented on #2683
**+1 for this**.. Spent way to much time trying to understand what to do with the following block of code.
I still don't know how it works by the way..

[code]

[2015-08-13 21:55] ogarbe commented on #10719
any idea ?

[2015-08-13 22:02] ogarbe commented on #10095
@andresgutierrez is it a normal feature ?

[2015-08-13 22:02] andresgutierrez commented on #10719
I'm not able to reproduce the issue, could you please upload a small repo with the test case?

[2015-08-13 22:02] andresgutierrez commented on #10095
Zephir does not support references so the value cannot be modified that way.

[2015-08-14 07:05] ogarbe commented on #10095
ok thanks.

[2015-08-14 07:05] #10095 closed

[2015-08-14 07:11] iwalkalone69 opened #10793 "Model assign function in MongoDB collection"
The support to assign to collection class by array like in models. I've made a collection base with that and works:

    public function assign(array $data)
    {
        foreach ($data as $property => $value) {
            if (property_exists(get_class($this), $property)) {
                $this->$property = $value;
            }
        }
    }

But probably you can adapt and improve it.

Thanks

[2015-08-14 09:49] ph55 opened #10794 "Phalcon\Di\Service::setClassName missing"
As mentioned in
https://docs.phalconphp.com/en/latest/reference/di.html

There should be option to change service class name:

[code]

But this method missing in Phalcon\Di\Service

[2015-08-14 13:24] lajosbencz opened #10798 "NFR: self property for loop context"
Passing the loop context to a macro or partial as an argument is impossible, because the compiler needs a property accessor to evaluate it to the temporary class.

Please add a property `self` to the generated temporary class which returns the instance itself, so passing the loop context as an argument is possible.

Syntax, Example:

[code]

[code]

[2015-08-14 13:37] andresgutierrez commented on #10775
Fixed in the 2.0.x branch

[2015-08-14 13:37] #10775 closed

[2015-08-14 13:38] #10782 closed

[2015-08-14 13:38] #10783 closed

[2015-08-14 13:38] #10787 closed

[2015-08-14 13:38] #10791 closed

[2015-08-14 13:39] temuri416 commented on #10775
Thanks, Andres.

[2015-08-14 13:50] andresgutierrez commented on #10772
I think both has/get must initialize the cookie so the cookies get initialized in both cases

[2015-08-14 14:19] virgofx opened #10800 "Phalcon Model Relation Alias Not Caching with CamelCase"
When using an alias for a related model (defined either via annotations or directly on the model via `initialize()`)  that is camel cased ... the corresponding `getRelated()` works; however, it does not cache the query on subsequent requests.

When using a non-camel cased alias, the query is properly cached.

I have tested and confirmed this in my application explicitly on the `hasMany()`.  It pro

[2015-08-14 18:29] sergeyklay commented on #10798
@lajosbencz Can you please provide a small test?

[2015-08-14 18:40] lajosbencz commented on #10798
Sure, in what context? :) Like, add a unit test? Could you point me to an example that someone has already done with an NFR?

[2015-08-14 19:47] andresgutierrez commented on #10784
Fixed in the 2.0.x branch

[2015-08-14 19:47] #10784 closed

[2015-08-14 19:50] andresgutierrez commented on #10793
What if the property is not defined?

[2015-08-14 19:53] iwalkalone69 commented on #10793
I see two options: ignore it or throw an Excpetion. I think the best would be ignore it.

[2015-08-14 19:54] andresgutierrez commented on #10793
if you have a model defined as follows?

[code]

Assign wouldn't do anything

[2015-08-14 19:55] iwalkalone69 commented on #10793
Yes, that's true. But I think that best practice is to declare the properties. At least I always define them.

[2015-08-14 19:56] andresgutierrez commented on #10793
Sure, but as that being an optional practice, the implementation would depend on "optional" practices that seems to be a bad idea

[2015-08-14 20:01] #10789 closed

[2015-08-14 20:16] temuri416 opened #10801 "[NFR] Implement: Phalcon\Logger\Adapter::isTransaction() in Phalcon 2"
Hi,

Please see https://github.com/phalcon/cphalcon/issues/1238.

*Phalcon\Logger\Adapter::isTransaction()* is missing from 2.0 branch.

Thanks!

[2015-08-15 00:29] lajosbencz commented on #10798
Sorry about the ```eval```, couldn't think of a simpler way to check the real output... and the input for it is controlled.

[2015-08-15 16:01] sergeyklay commented on #2869
rzajac@localhost strictly follow the RFC 2822 ;)

[2015-08-15 16:04] sergeyklay commented on #3227
@egulias

[2015-08-16 06:00] tuxy opened #10803 "[BuiltWith] PhVer - Phalcon Version Release History"
I've submitted tiny app called [PhVer](http://zvoid.net/phver/) (no source code) to BuiltWith @ https://github.com/phalcon/builtwith/pull/83 No screenshot, but you guys can add it if you like. I've also used "background", "favicon" and "logo" from main PhalconPHP website I hope you don't mind =)

Short Explanation:
* DL -- Download ``.tar.gz`` release when available.
* Version -- Phalcon release v

[2015-08-16 10:12] sergeyklay commented on #10803
:+1:

[2015-08-16 11:04] ovr commented on #10803
:+1:

[2015-08-16 11:34] sergeyklay commented on #10803
@tuxy Can you please add PhVer to http://phalcontip.com/ ?

[2015-08-16 11:37] sergeyklay commented on #10776
@virgofx I've implemented `Phalcon\Secure\Random::uuid` for v4 random UUID.

See https://github.com/phalcon/cphalcon/pull/10804

[2015-08-16 13:32] #10803 closed

[2015-08-16 16:20] lajosbencz commented on #10798
Let me know if something's off the requirements! :]

[2015-08-16 18:21] sergeyklay commented on #10798
@andresgutierrez

[2015-08-16 20:50] tuxy commented on #10803
@sergeyklay Some one already did :-)

[2015-08-16 20:54] sergeyklay commented on #10803
@tuxy We only accept bug reports, new feature requests and pull requests in this repo. PR related to Phalcon. :)

[2015-08-17 10:41] alexivenkov opened #10809 "Phalcon\Paginator\Adapter\Model page param bug"
When I send page parameter which increases "total_pages", pagination starts iterates simpleset from the beginning instead of returning empty array in "items" parameters

example:
[code]
output:
[code]

[2015-08-17 14:23] DestinyMKas opened #10810 "[2.0.6] query builder addfrom & join [Not unique table/alias]"
Hello,

I have query builder:

[code]

And I get:

[code]

Code from backtrace:

[code]

The problem is, when I mix 2+ addFrom and join, then parsed query is trying to join to every addfrom table.

[2015-08-17 18:13] #10776 closed

[2015-08-17 20:08] marcioAlmada commented on #3308
I can confirm this behavior is very unexpected for a router.

:+1:

[2015-08-17 20:34] egulias commented on #3227
Sorry for the delay @sergeyklay I've been and currently are under heavy work load so it's been impossible for me to move forward on this.
I do have some questions:
* Correct me if I'm wrong but I should probably create a new repo and a new lib in composer to add as a dependency, right?
* The validator depends on Doctrine's lexer I should probably convert that too.
* is https://github.com/fezfez/ph

[2015-08-18 08:27] xin478 opened #10813 "can't not use macro in volt if php version =5.3.X"
error message is "Call to undefined method Closure::bind()"

[2015-08-18 15:24] iwalkalone69 commented on #10793
And why it is optional? There is a reason for that?

[2015-08-18 15:26] andresgutierrez commented on #10793
Because PHP does not force you to declare the properties of each class.

[2015-08-18 15:43] iwalkalone69 commented on #10793
I know that, unless you use the strict mode. What I meant is that using a framework like Phalcon, that tries to help following best practices and have the code ordered and easy to understand, why to keep it optional?

[2015-08-18 15:56] andresgutierrez commented on #10793
This strict mode?

[code]

[2015-08-18 16:01] iwalkalone69 commented on #10793
Sorry. You're right.

[2015-08-18 16:01] #10793 closed

[2015-08-19 05:49] sergeyklay commented on #3227
Hi @egulias

It depends on how exactly you want integrate the EmailValidator to Phalcon.

In my humble opinion it would be cool if the EmailValidator has become part of the Phalcon. So it became part of the Phalcon, it needs to be rewritten in Zephir and implemented in Phalcon. Of course have to give up all external dependencies. In this scenario, you do not need to have another repository - Email

[2015-08-19 08:12] AmazingDreams commented on #10813
I don't think PHP 5.3.x is supported by Phalcon.

[2015-08-19 14:38] andresgutierrez commented on #10759
Branch 2.1.x was created

[2015-08-19 14:38] #10759 closed

[2015-08-20 14:44] siciarek opened #10816 "1.3.4 - 2.0.7 migration problem"
I am trying to migrate the project form phalcon v 1.3.4 to 2.0.7
The error:

Fatal error: Cannot override final method Phalcon\Mvc\Controller::__construct() in /my/path/to/project/app/modules/frontend/controllers/DefaultController.php on line 0

occurs when I try to display a page with invalid route on 2.0.7, while on 1.3.4 version just 404 occurs.

I would appreciate any help.

[2015-08-20 15:02] andresgutierrez commented on #10816
Phalcon\Mvc\Controller::__construct is a final method that cannot be overriden. You have to use 'onConstruct'  https://docs.phalconphp.com/en/latest/reference/controllers.html#initializing-controllers

[2015-08-20 16:16] andresgutierrez commented on #10809
This is not a bug, as there are no enough pages it shows the first one

[2015-08-21 07:46] siciarek commented on #10816
You're absolutely right.

But the problem is that I do not overwrite any __construct method especially in mentioned controller, it looks like the following:

<?php

namespace Application\Frontend\Controller;

class DefaultController extends \Phalcon\Mvc\Controller {

    /**
     * @Route("/", name="home")
     */
    public function homeAction() {
        $baseUri = sprintf('%s://%s/', $this->req

[2015-08-21 08:06] zjhzxhz opened #10817 "Query Options LIMIT not Working"
As the [documentation](https://docs.phalconphp.com/en/latest/reference/models.html) said:

The available query option `limit` is used for limiting the results of the query to results to certain range.
For advanced usage: `“limit” => 10 / “limit” => array(“number” => 10, “offset” => 5)`.
However, I found this not working.

Instead, I found this worked:

[code]

Maybe you should update the documenta

[2015-08-21 09:16] slechtic opened #10818 "Load entities after failed transaction"
Hi,

I tried to save User into database (postgresql) in manual transaction like this (there is only one save and is not necessary to use manual transaction, but it's only an example):

[code]
When the save on the User failed, rollback is correct, but next find method fails, and PDO exception occurs:

DB connection is set shared in DI container.

When I try use raw sql (commented code in example) i

[2015-08-21 11:17] yergo commented on #10816
It happens because of using `$router->setDefaultController()` before actually setting it with `$router->add()` or `$router->addModuleResource()`. Class was loaded twice. Once we moved everything to the bottom of router declaration with:

     $router->setDefaults(array(
        'module' => 'frontend',
        'controller' => 'Application\Frontend\Controller\Default',
        'action' => 'home'

[2015-08-21 13:04] phalcon commented on #10817
Are you using Phalcon 2.0.7?

[2015-08-21 13:14] zjhzxhz commented on #10817
No. 2.0.6.
Is this the new feature in 2.0.7?

On Fri, Aug 21, 2015 at 9:05 PM, Phalcon <notifications@github.com> wrote:

--

谢浩哲

[2015-08-21 13:36] biganfa commented on #10809
but why it does not show random one or just cats' image? i think it should work as expected and be intuitive, just like all the others over 9000 paginators in the industry do. It really must return an empty set if there is an empty set inside.

[2015-08-21 13:39] ashpumpkin commented on #10809
+1 all paginators I've seen returned empty set if there's no data for a page

[2015-08-21 13:50] erickne commented on #1950
+1 :+1:

Crappy solution is extending the class:

[code]

[2015-08-21 15:02] virgofx commented on #10800
@andresgutierrez Any chance you were able to reproduce this?

[2015-08-21 19:53] mateusdemboski commented on #1893
+1

[2015-08-21 20:24] temuri416 opened #10819 "[BUG][NFR] Phalcon2: Phalcon\Validation\Message is missing $code parameter"
Hi,

Before:
https://docs.phalconphp.com/en/master/api/Phalcon_Validation_Message.html

Now:
https://docs.phalconphp.com/en/latest/api/Phalcon_Validation_Message.html

Phalcon 1.3 `Phalcon\Validation\Message` constructor had the fourth argument: `[int $code]`.

Can we have it back in Phalcon 2 along with getter and setter?

Thanks!

P.S. The same goes for `Phalcon\Mvc\Model\Message`.

[2015-08-21 20:25] temuri416 commented on #10819
Hi @andresgutierrez

Was that omission a bug or a feature?

Cheers!

[2015-08-22 22:14] #2468 closed

[2015-08-22 22:17] andresgutierrez commented on #10718
Changed mode in 2.1.0

[2015-08-22 22:17] #10718 closed

[2015-08-22 23:27] andresgutierrez commented on #10817
In 2.0.7:

[code]

SQL Log:

[code]

[2015-08-23 01:35] andresgutierrez commented on #10189
Can you please use the latest released Phalcon or supply a full script to reproduce the issue?

[2015-08-23 01:38] andresgutierrez commented on #10819
It looks that no one is using it so it's probably just noticed

[2015-08-23 01:44] andresgutierrez commented on #2660
Could you please try again using Phalcon 2 or provide a full script to reproduce the issue?

[2015-08-23 02:02] andresgutierrez commented on #1698
Implemented in the 2.1.x branch

[2015-08-23 02:02] #1698 closed

[2015-08-23 02:03] #9934 closed

[2015-08-23 02:05] andresgutierrez commented on #3127
Can you try again using Phalcon 2 or close this issue?

[2015-08-23 03:11] andresgutierrez commented on #10352
Closed as this is the expected behavior

[2015-08-23 03:11] #10352 closed

[2015-08-23 03:45] andresgutierrez commented on #1718
Implemented in Phalcon 2.1.x

[2015-08-23 03:45] #1718 closed

[2015-08-23 03:53] andresgutierrez commented on #2186
Implemented in 2.1.x as follows:

[code]

[2015-08-23 03:53] #2186 closed

[2015-08-23 03:57] andresgutierrez commented on #10428
Closed as duplicate of #1078

[2015-08-23 03:57] #10428 closed

[2015-08-23 04:13] andresgutierrez commented on #2821
Fixed in 2.1.x

[2015-08-23 04:13] #2821 closed

[2015-08-23 05:26] dugwood commented on #2821
Thanks @andresgutierrez .

[2015-08-23 08:58] sergeyklay commented on #10717
@andresgutierrez

[2015-08-23 09:24] #10717 closed

[2015-08-23 14:29] temuri416 commented on #10819
Can we have it back, please? I think it's incredibly useful to be able to assign codes to validation error messages.

[2015-08-23 20:39] neven-s commented on #10782
I'm using phalcon 2.0.6 stable version and the problem is still present.

[2015-08-23 20:40] andresgutierrez commented on #10782
@neven-s Phalcon 2.0.7 is the latest version released

[2015-08-23 23:19] temuri416 commented on #1624
@andresgutierrez

Andres,

It looks like this issue has resurfaced in Phalcon 2.

Original description of the problem:

[code]

This commit shows what @sjinks did to fix it on 1.3 branch:

64a2f60c743b050795a409cda31cf19614d1b8c6

I looked at https://github.com/phalcon/cphalcon/blob/master/phalcon/session/adapter.zep and it indeed does not have a destructor.

Could you please take a look?

Thanks!

[2015-08-23 23:26] andresgutierrez commented on #1624
Fixed in the 2.0.x branch

[2015-08-23 23:26] #1624 closed

[2015-08-23 23:33] andresgutierrez commented on #10813
Fixed in the 2.0.x branch

[2015-08-23 23:33] #10813 closed

[2015-08-23 23:38] andresgutierrez commented on #10801
Implemented in the 2.0.x branch

[2015-08-23 23:38] #10801 closed

[2015-08-23 23:40] andresgutierrez commented on #10446
@ivan-ivakic

[2015-08-24 00:34] tarikogut opened #10821 "Scanner: Unknown opcode 58"
what is this ?

[2015-08-24 00:34] andresgutierrez commented on #10821
https://github.com/phalcon/cphalcon/blob/2.0.x/CONTRIBUTING.md#bug-report-checklist

[2015-08-24 03:16] andresgutierrez commented on #10266
I've added another fix

[2015-08-24 03:16] #10266 closed

[2015-08-24 08:35] martinzubek commented on #10818
+1

[2015-08-24 09:15] playgamelxh opened #10822 "memory run out bug"
Bug code:
$id = 1
while(true){
    $obj = $user::findFirst("id={$id}");
    $id++;
}
Very quickly,you will see:
PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 2992 bytes)

But,I change another method
$id = 1
while(true){
    $obj = $user::findFirst(array(
        'conditions' => "id = :id:",
        'bind' => array('id' => $id);
   ));
    $id++;
}
It do well

[2015-08-24 14:13] andresgutierrez commented on #10822
This is not a bug, without using bound parameters it creates a new PHQL plan cached in memory.

* https://docs.phalconphp.com/en/latest/reference/phql.html#phql-lifecycle
* https://docs.phalconphp.com/en/latest/reference/models-cache.html#caching-of-phql-planning

[2015-08-24 14:13] #10822 closed

[2015-08-24 14:58] savchuks commented on #10266
I've updated Phalcon version to 2.0.7
Still get the same error when try to use fetchAll with FETCH_KEY_PAIR argument.

[2015-08-24 15:00] Green-Cat commented on #10266
@savchuks could you check with 2.0.8 (the current 2.0.x branch), as that's where the aforementioned patch landed.

[2015-08-24 15:03] Green-Cat commented on #10819
@temuri416 I will implement it later today.
Also 'Phalcon\Mvc\Model\Validation' is deprecated in 2.1 so not much point fixing that one.

[2015-08-24 15:08] temuri416 commented on #10819
Glad to hear about the demise of `Phalcon\Mvc\Model\Validation` :+1:

Thanks!

[2015-08-24 15:09] Green-Cat commented on #10819
Done, #10827.

[2015-08-24 15:10] temuri416 commented on #10818
+1

[2015-08-24 15:12] temuri416 commented on #10819
Much appreciated!

[2015-08-24 15:27] temuri416 commented on #1624
@andresgutierrez

Confirmed! Thanks a lot.

[2015-08-24 20:02] laurenti opened #10829 "Redis session - double serialize"
If use redis adapter, php session is twice serialized.
Once by php and secondly by cache/frontend (beforeStore).

[2015-08-24 23:07] #10817 closed

[2015-08-25 07:16] jword opened #10833 "criteria class has a bindparam bug"
$criteria = Robots::query();
$criteria->inWhere('id', array('1', '2', '3'));
$criteria->limit(10, 0);
$data = Robots::find($criteria->getparams());

When using like this, the result is not what we want.
It appears to be the binding parameters have been covered.

[2015-08-25 14:36] phalcon commented on #10833
Are you using Phalcon 2.0.7?

[2015-08-25 22:29] sergeyklay commented on #2850
@yonexyonex Now Phalcon supports `Column::TYPE_TIMESTAMP`

[2015-08-25 23:54] jword commented on #10833
No,I'm using Phalcon 2.0.6

[2015-08-26 00:55] andresgutierrez commented on #10833
In order to report a bug you have to use the latest version released. Could you please use 2.0.7?

[2015-08-26 01:30] mikkiek commented on #9973
Pretty similar issue with \Phalcon\Config and it's not fixed in the 2.0.4

example:

class Base extends \Phalcon\Config{
        public function __construct($arrayConfig = null, array $options = []){
            parent::__construct($arrayConfig);
        }
}

result:
The argument is not initialized or iterable() (0)
phalcon/config.zep:62

[2015-08-26 01:31] andresgutierrez commented on #9973
@mikkiek Could you please try again using 2.0.7?

[2015-08-26 08:26] ryomo commented on #1925
delete() and update() are already implemented, right?
[code]

The above is equivalent to the following PHQL.
[code]

Both of 2 got same SQL statements. (PHQL also calls `DELETE FROM ~` many times.)
[code]

## refer
* [Abstract class Phalcon\Mvc\Model\Resultset](https://docs.phalconphp.com/en/latest/api/Phalcon_Mvc_Model_Resultset.html)

[2015-08-26 09:28] thxer opened #10839 "ModelsManager->getRelations doesn't return the many through relations"
I think it's missing from phalcon/mvc/model/manager.zep getRelations function.

[2015-08-26 10:07] Jurigag opened #10840 "Alias for current model in static query() method"
I just wanna use static query method from my model to join related models and select columns. Both my models have same column(id), but i dont know how to set alias for model from which i selecting data and im not sure there are a way, when i use modelsManager i can just type it like:
 ->from(array("alias"=>"Namespace"))

Also i think when using ->joins with ::query() it should automtically resolve

[2015-08-26 14:06] mikkiek commented on #9973
@andresgutierrez
Hello, 2.0.7 have the same problem:

error:
The argument is not initialized or iterable() (0)
phalcon/config.zep:62

[2015-08-26 14:54] yuriygr commented on #10770
@andresgutierrez If I make $url->setBaseUri(''), assets will not return the correct path to the file.

Upgrade to 2.1.s version. The problem remains, but only that:
[code]
[code]

[2015-08-26 18:30] RickyGit opened #10842 "[2.0] Routing with parameters: difference between Router and Router\Group (not as in 1.3)"
Hello,

With Phalcon 1.3.x, Router and Router\Group work same with parameters.
But in 2.0.x, parameter name with Router\Group doesn't work.

Exemple :

[code]

same as

[code]

But, in 2.0.x, Router\Group doesn't have the same behaviour :

[code]

not same as

[code]

[2015-08-26 23:40] andresgutierrez commented on #10840
Duplicate of https://github.com/phalcon/cphalcon/issues/10479

[2015-08-27 08:34] thxer92 commented on #10839
[code]

Output
[code]

[2015-08-27 09:23] certainlysylvia opened #10845 "Validation NFR"
Current we have something like:

`validation->appendMessage(new Message(strtr(message, replacePairs), field, "TooLong"));`

In each validator. This makes it difficult to change the way messages are formatted and/or translated.

I for example, in an ongoing project use Redis to store message translations by translationKey, and the use MessageFormatter to inject params etc into the result.

an examp

[2015-08-27 09:38] Lucups opened #10846 "Model's setDI method is work, but find/findFirst methods doesn't use it"
I am using Phalcon in some commands written by PHP,  I inject DI into my BaseCommand, then I think I can use Model's setDI method to inject DI into it, just see the codes:

part of `console.php`
[code]

part of `MyCommand.php`
[code]

the screenshot below is the command output:
(Upload image filed, I reupload it at the next comment)

[2015-08-27 09:40] Lucups commented on #10846
![phalcon-bug](https://cloud.githubusercontent.com/assets/2325891/9517451/b0642000-4ce2-11e5-847a-642773c87f56.png)

[2015-08-27 09:50] Lucups commented on #10846
The problem is that the `find` and `findFirst` method doesn't use the DI which I setted.

[2015-08-27 13:39] Lucups commented on #10846
I resolved the problem by reading the code of cphalcon, the find/findFirst are static funcitons, so they do never use the model instance's DI...

just use `/Phalcon/DI::setDefault($di);` , then my problem is resolved.

[2015-08-27 13:40] #10846 closed

[2015-08-27 20:11] sergeyklay opened #10848 "Incorrect determining of default value for column"
How to reproduce:

[code]

**actual**

[code]

**expected**

[code]

[2015-08-27 20:17] sergeyklay commented on #10848
Refs https://github.com/phalcon/phalcon-devtools/issues/429

[2015-08-28 15:49] Besedin86 opened #10852 "Virtual foreign key constraint doesn't work with `allowNulls` param"
When I use virtual foreign key param `allowNulls` model doesn't check if related record exists and save record with wrong foreign id. Actually I can do it manually in setter, but it will be better to do it in settings of relation.

Phalcon 2.0.7
PHP 5.6

[code]

[2015-08-28 19:46] fenixphp opened #10853 "[NFR] \Phalcon\Mvc\Model\Criteria [where]."
For ease of use, I propose to change the method "where":

[code]

That allows both static filling:
[code]

And a simple cyclic processing:
[code]

P.S. Need look in the direction of "Query Builders" in such frameworks as the "Laravel", "CI" I think they have the best approach to the "Query Builders".

[2015-08-28 19:48] andresgutierrez commented on #10853
I don't think this is going to be implemented. It looks very limited.

[2015-08-28 19:51] fenixphp commented on #10853
What is it limited?

[2015-08-28 19:54] andresgutierrez commented on #10853
You need many "where" to compose compound conditions, how to use parentheses other logical operators such as "or"?, between? in? not in?

[2015-08-28 20:13] fenixphp commented on #10853
Is using:
[Laravel](http://laravel.com/docs/5.1/queries)
[Codeigniter](http://www.codeigniter.com/user_guide/database/query_builder.html)
Can not be generate such requests?

This offer is probably to simplify and readability of the final code.

[2015-08-28 20:14] andresgutierrez commented on #10853
By introducing limitations and BC breaks

[2015-08-28 20:27] fenixphp commented on #10853
No, it's more complete approach to DBAL.
Now I understand why almost all of my friends advised developers not to use Phalcon.

Then how can I override "\ Phalcon \ Mvc \ Model \ Criteria" instance?

[2015-08-28 20:39] andresgutierrez commented on #10853
[code]

[2015-08-28 20:45] fenixphp commented on #10853
This approach will override this class in all models?

[2015-08-28 20:47] andresgutierrez commented on #10853
No, you have to register it in the DI:

[code]

[2015-08-28 20:54] fenixphp commented on #10853
Ok thanks.

[2015-08-28 20:54] #10853 closed

[2015-08-28 21:30] andresgutierrez commented on #10821
@tarikogut ping

[2015-08-28 21:31] #10833 closed

[2015-08-28 21:31] andresgutierrez commented on #10819
Implemented in the 2.0.x branch

[2015-08-28 21:31] #10819 closed

[2015-08-28 21:32] andresgutierrez commented on #10731
Closed as not a bug

[2015-08-28 21:32] #10731 closed

[2015-08-28 21:32] andresgutierrez commented on #10660
@virgofx ping

[2015-08-28 21:33] andresgutierrez commented on #10592
Closed as no feedback provided from OP

[2015-08-28 21:33] #10592 closed

[2015-08-28 21:34] #10457 closed

[2015-08-28 21:34] #10535 closed

[2015-08-28 21:35] andresgutierrez commented on #10244
Closed as not a bug

[2015-08-28 21:35] #10244 closed

[2015-08-28 21:35] #10189 closed

[2015-08-28 21:39] andresgutierrez commented on #3087
Closed as not a bug

[2015-08-28 21:39] #3087 closed

[2015-08-28 21:39] #2948 closed

[2015-08-28 21:40] andresgutierrez commented on #2876
Could you please try again using latest 2.0.x?

[2015-08-28 21:41] andresgutierrez commented on #2752
Closed as not a bug

[2015-08-28 21:41] #2752 closed

[2015-08-28 21:44] #2485 closed

[2015-08-28 21:45] andresgutierrez commented on #2477
Closed as not a bug

[2015-08-28 21:45] #2477 closed

[2015-08-28 21:45] #2430 closed

[2015-08-28 21:46] #2283 closed

[2015-08-28 21:46] #2243 closed

[2015-08-28 21:47] andresgutierrez commented on #2118
Could you please check if this still happen in 2.0.x?

[2015-08-28 21:47] andresgutierrez commented on #2012
Fixed in 2.0.x

[2015-08-28 21:47] #2012 closed

[2015-08-28 21:48] #1949 closed

[2015-08-28 21:49] #1324 closed

[2015-08-28 21:50] andresgutierrez commented on #1296
Closed as no script to reproduce was provided

[2015-08-28 21:50] #1296 closed

[2015-08-28 21:50] andresgutierrez commented on #1280
Could you please check if this still happens in 2.0.x?

[2015-08-28 21:51] andresgutierrez commented on #1209
You can use Phalcon\Registry in case you need a registry

[2015-08-28 21:51] #1209 closed

[2015-08-28 21:59] temuri416 commented on #2118
2.0.x seems to work fine.

[2015-08-28 21:59] andresgutierrez commented on #2118
Thanks

[2015-08-28 21:59] #2118 closed

[2015-08-29 02:29] stoiev commented on #2235
+1
Phalcon 2.0.7, at least, does not provide __destruct() method

[2015-08-29 07:55] #10848 closed

[2015-08-29 07:56] #3246 closed

[2015-08-29 21:15] Jojatekok opened #10855 "Including a different view's action into a view"
While `$this->dispatcher->forward()` addresses the functionality of forwarding the user to an other view, I think there should be a `$this->dispatcher->include()` function which would simply get the output of an other view.

I would like to use this functionality in order to let my ApiController be used by other controllers internally.

[2015-08-29 21:53] Green-Cat commented on #10855
So you mean a request stack essentially?

[2015-08-30 04:10] HwapX opened #10856 "Phalcon 2.1 beta windows dlls"
The dlls of Phalcon 2.1 beta are not available on the download page.

Does anyone could make them available? I don't have an environment to build it.

[2015-08-30 13:07] #10689 closed

[2015-08-31 00:34] stoiev commented on #2235
A workaround to clean PHQL cache on Phalcon 2.0. Let this class on one of your include paths:

[code]

And call `PhqlCacheCleaner::clean()` when you need to clean Phql cache (after setModelSource, for example).

[2015-08-31 09:51] kamitori opened #10860 "a mistake in your homesite"
file name is vi.gif
![1](https://cloud.githubusercontent.com/assets/9984084/9576271/6105729a-5000-11e5-8665-e9b1f6909db2.png)

file name is vn.gif
![2](https://cloud.githubusercontent.com/assets/9984084/9576285/7750b924-5000-11e5-968c-42f0ade1b04e.png)

please change vi.gif to vn.gif :laughing:

[2015-08-31 09:53] kamitori commented on #10860
:laughing::laughing::laughing::laughing::laughing:

[2015-08-31 11:57] sergeyklay commented on #10860
@andresgutierrez Please enable issues at website https://github.com/phalcon/website and store https://github.com/phalcon/store repos

[2015-08-31 12:15] Green-Cat commented on #10860
I opened a PR.

[2015-08-31 12:26] Jurigag commented on #10479
So i have to use model with full namespaces in columns ? Its kind of bad, i think there should be parameter in query for setting alias of model.

[2015-08-31 14:33] andresgutierrez commented on #10860
Fixed in website repo

[2015-08-31 14:33] #10860 closed

[2015-08-31 15:27] ph55 opened #10865 "setFormatter does not work with Phalcon\Logger\Adapter\Firephp"
**2.0.7**

This will output message:

[code]

This will not:

[code]

[2015-08-31 17:28] lajosbencz opened #10866 "[NFR] Dispatcher::getParam return defaultValue if sanitized length is 0"
The current implementation of `Dispatcher::getParam` will only return the specified `defaultValue` if there is no such key in the parameters array.

If `defaultValue` argument is `null`, it should still return the sanitized value, even when empty.
If `defaultValue` is anything but `null` and the length of the sanitized parameter is 0, it should return the `defaultValue`.

[2015-08-31 20:17] andresgutierrez commented on #10856
Now available: https://phalconphp.com/en/download/windows

[2015-08-31 20:17] #10856 closed

[2015-09-01 02:30] slilin opened #10869 "how to auto route in micro like simple-mode?"
i want to create a micro app as restful api, but i don't  like write route rule one by one, any method it have to make it like simple-mode or laravel route?

[2015-09-01 06:01] sergeyklay commented on #10869
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework or support requests please visit the [official forums](http://forum.phalconphp.com/).

[2015-09-01 07:38] #10869 closed

[2015-09-01 08:51] amin-ajami commented on #2594
dear demkinmaxim
you need install beanstalkd on server and run beanstalkd:
Mac OS:
[code]
Ubuntu
[code]

after instal and run beanstalkd run your phalcon code

[2015-09-01 08:54] tmihalik opened #10871 "[BUG] Cookie delete, subdomain"
If I have `test.example.com` and writing cookies to `.example.com`.

[code]

Later I can't delete the cookie:

[code]

[2015-09-01 13:13] kenjilabs opened #10873 "Annotations Router for multi Module is not working"
annotations  are not working for multi module. when i  use "addModuleResource" it's not using checking class accordingly namespace

on the frontend its giving this error "Class UsersController does not exist"

[code]

[2015-09-01 19:51] vikilaboy opened #10874 "[2.0.7] Form field empty with name "value" throws BadMethodCallException"
If i have a form with empty values and a field with name "value"

[code]

[code]

on render i get BadMethodCallException: Wrong number of parameters

but if it's not empty the value of that field, it works fine

[2015-09-01 19:52] andresgutierrez commented on #10874
Could you please post the backtrace of the exception?

[2015-09-01 19:58] vikilaboy commented on #10874
![screen shot 2015-09-01 at 22 53 03](https://cloud.githubusercontent.com/assets/2757887/9614846/f189f794-50fc-11e5-8676-6ab059bb2a08.png)

[2015-09-01 20:39] sergeyklay opened #10875 "[NFR] Phalcon\Db\DialectInterface: Create trigger"
I created this issue to be referenced later.
- [Postgresql](http://www.postgresql.org/docs/9.1/static/sql-createtrigger.html)
- [SQLite](https://sqlite.org/lang_createtrigger.html)
- [MySQL](https://dev.mysql.com/doc/refman/5.1/en/create-trigger.html)

[2015-09-01 20:57] Green-Cat commented on #10875
:+1:

[2015-09-01 20:58] Green-Cat commented on #10874
@vikilaboy What debugger is that? It looks pretty sweet.

[2015-09-01 21:01] vikilaboy commented on #10874
@Green-Cat - https://vimeo.com/68893840 :)

[2015-09-02 04:13] tobasar commented on #10779
@galki
I confirmed this bug. Using capitalizing the alias name make it worked.

It must be a bug in **belongsTo** function.

[2015-09-02 05:31] tobasar commented on #10779
Something weird also happens:

If I start the alias with "m" letter, it won't work. But if I change alias to start with "g" letter it works!

[code]

[2015-09-02 07:51] bluetec opened #10876 "[2.1] Volt compilation bug"
Just after upgrading to phalcon 2.1 beta, i got errors in volt compiler

[code]

After review Phalcon source code, i just found this bugs.

File: phalcon/mvc/view/engine/volt/compiler.zep
Line: 1820 & 2096
[code]

[2015-09-02 09:01] KorsaR-ZN commented on #10876
Today I send a patch fixes this and some other bugs 2.1.x branch

[2015-09-02 09:18] kniaz-tolya opened #10878 "add method innerOuterJoin() \Phalcon\Mvc\Model\Query\Builder"
Please add in the next release Stuff for sampling tables omnibus sets

INNER OUTER JOIN (FULL JOIN)

[2015-09-02 11:00] jmsfwk commented on #10874
I got a similar exception with `Text("label")`.

[2015-09-02 22:02] f3l1x opened #10879 "[DOC] Views - template adapter typo"
Here:
- https://docs.phalconphp.com/en/latest/reference/views.html#creating-your-own-template-engine-adapter

There is:

[code]

But if you use `$this->_options` it triggers **E_USER_NOTICE: Access to undefined property _options**.

Am I doing anything bad? Or is it really mistake.

[2015-09-03 09:30] michanismus opened #10881 "[2.1.x] Model validation broken"
The validation is broken, function parameter changed to ValidationInterface which was ValidatorInterface for function "validate".
Model.zep has debug output...

[2015-09-03 15:05] andresgutierrez commented on #2235
Implemented in 2.1

[2015-09-03 15:05] #2235 closed

[2015-09-03 15:07] andresgutierrez commented on #10881
Fixed in branch 2.1.x

[2015-09-03 15:07] #10881 closed

[2015-09-03 15:08] andresgutierrez commented on #10876
Fixed in 2.1.x branch

[2015-09-03 15:08] #10876 closed

[2015-09-03 15:35] chief-kh opened #10885 "Magic method is not working"
Table structure:

[code]

Model code:

[code]

PhalconException: The method 'findFirstByTitle' doesn't exist on model 'Plant'

[2015-09-03 18:39] andresgutierrez commented on #10874
This must be fixed in 2.1.x, it tries to find if the form has a getter called "get"+ field, but the form class have both getValue and getLabel so any field having these names invoke the wrong getter. Renaming the convention in Phalcon 2.1.x

[2015-09-03 18:42] vikilaboy commented on #10874
Also in models which extends Phalcon\Mvc\Model; if you have a "source" column in DB will be confused with source table.

[2015-09-03 20:56] nsossonko opened #10886 "Can't save relation in model if alias is camelCase"
Model Foo has a bidirectional belongsTo/hasMany relationship with model BarBaz. In the relationship on Foo we aliased BarBaz as barBaz. If we try to save the model as follows:

[code]

It screws up $foo (getMessages returns null [not even empty array, null] and the create call returns null). The creation also does not work. However, if the following is done:

[code]

It will work properly. $foo->b

[2015-09-03 21:19] andresgutierrez commented on #10886
Are you printing if any message is being created after save the record?

[code]

[2015-09-03 21:22] nsossonko commented on #10886
As I mentioned initially, getMessages returns null (not even empty array) on $foo.

[2015-09-03 21:34] andresgutierrez commented on #10885
It looks like calling a static method invokes __call instead of __callStatic that is what makes the magic.

[2015-09-04 00:16] SoccerField24x7 opened #10887 "PHQL Issuing Error When Using Another Table"
**Using:**
Phalcon 2.0.7
PHP 5.6

When utilizing a schema which isn't the base application schema, the following error is thrown:
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'five9router.npa_nxx' doesn't exist

It looks to me that it's not taking the getSchema() information into account because _five9router_ is the database associated with the application, but it should actually be t

[2015-09-04 00:58] Green-Cat commented on #10887
Which database adapter are you using?

[2015-09-04 01:00] SoccerField24x7 commented on #10887
'adapter'     => 'Mysql',

[2015-09-04 01:50] ryomo opened #10888 "[2.0.7] $model->save() does not save anything, even if it returns true"
When I use PDO options to avoid cast as string like [this](https://forum.phalconphp.com/discussion/872/invalid-data-types-returned-by-phalcon-db#C3370), $model->save() which returns true saves nothing.

## Script to reproduce
### test.php
[code]

### run
[code]

### result
#### Phalcon 2.0.0
[code]
Ok

#### Phalcon 2.0.7
[code]
Fail

## Others
These may have some relavance to this issue.
* [#10627

[2015-09-04 01:59] ryomo commented on #10888
Phalcon 2.1.0 BETA 1
[code]
Phalcon 2.1.0 fails, too :cry:

[2015-09-04 02:26] ryomo commented on #10888
Found a workaround.
Use `int(1)` in database, instead of `bit(1)`. :smile:
*!!`Phalcon\Db\Column::TYPE_BOOLEAN` outputs `bit(1)`!!*

[2015-09-04 12:20] Hubcore commented on #3070
cd /etc/php5/mods-available
sudo nano pdo_mysql.ini

Add after:
extension=pdo_mysql.so

This:
extension=phalcon.so

Remove php.ini phalcon.so line

Works because pdo_mysql.so is obviously loaded before phalcon.so which is where the error is coming from.

[2015-09-04 13:37] jiff88 commented on #10818
+1

[2015-09-04 13:38] RaitoCZ commented on #10818
+1

[2015-09-04 13:38] Lucups commented on #10888
I think you should need  set the default DI:

[code]

because of  `find` and `findFirst` use the default DI, of course, if you init the application instance, phalcon will auto set it.

[2015-09-04 13:38] annabelled commented on #10818
+1

[2015-09-04 15:49] andresgutierrez commented on #10888
Phalcon\Db\Column::TYPE_BOOLEAN is intended for tinyint(1) columns, bit(1) columns aren't supported.

[2015-09-04 16:59] f3l1x opened #10890 "[Feature] Micro: after handlers"
Allow change returnedValue in after\* handlers / events.

Same as here:
- https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/micro.zep#L841

Or just add setter **setReturnedValue()**.

Thanks.

[2015-09-04 18:11] honerlaw opened #10891 "Router Annotations Multi Module support - Module register functions not called"
The cause of this is that the annotations are trying to be parsed before the class is loaded. Specifically `\Phalcon\Annotations\Reader` is calling `new \ReflectionClass(className);`. However, the autoloader (in the `Module.php` file) containing the location of `className` has not been registered so it can not be loaded.

The issue can be replicated when using router annotations on a multi module

[2015-09-04 18:19] andresgutierrez commented on #10891
`new \ReflectionClass(className);` loads the class if it wasn't loaded

[2015-09-04 18:21] honerlaw commented on #10891
How does it know where to load it from though? Considering the `className` is literally just the class's name and not the location of the class.

I didn't know a better way to describe not loading the class.

[2015-09-04 18:23] andresgutierrez commented on #10891
Using an autoloader?

* http://php.net/manual/en/language.oop5.autoload.php
* https://docs.phalconphp.com/en/latest/reference/loader.html

[2015-09-04 18:24] shaneparsons commented on #2683
Can someone please post some working code in here until the page is updated?

I'm considering using phalcon for an immediate project, but without knowing how to get the REST api functionality to work, I'm going to be forced to use another framework instead.

[2015-09-04 18:24] andresgutierrez commented on #2683
What trouble do you have using the code in the tutorial?

[2015-09-04 18:27] honerlaw commented on #10891
`include "Test\Frontend\Controllers\IndexController.php"` will not work if the controller is at say `apps/modules/test/frontend/controllers/IndexController.php`. Unless the include is being called from a file that happens to be in `apps/modules` (which it is not).

The autoloaders that are suppose to be loading the class are not called from the module (`registerAutoloaders()`) because the annotati

[2015-09-04 18:30] shaneparsons commented on #2683
The block of code I pasted above is where my trouble started from as I wasn't sure where to put it.
Seeing as the tutorial recommends the following directory, I decided to put it in index.php.
[code]

Here's my entire index.php
[code]

[2015-09-04 18:31] andresgutierrez commented on #10891
Then you have to register the auto-loaders globally, so they can be available when the class is needed.

* https://github.com/phalcon/biko/blob/master/config/loader.php#L7-L17
* https://github.com/phalcon/biko/blob/master/public/index.php#L22

[2015-09-04 18:32] honerlaw commented on #10891
I know I can do that and have been doing that. However, doesn't that remove the half of the entire point of having modules? You have to register all of your namespaces globally instead of per module...

[2015-09-04 18:33] andresgutierrez commented on #10891
Yes, but how the annotations router will be able to read annotations if it cannot access the classes where the annotations are placed?

[2015-09-04 18:36] andresgutierrez commented on #2683
You can place the code in index.php, for tutorial purposes it would be fine place it there, however, as long as your application evolves it can be moved out to more files. Take this structure as example: https://github.com/phalcon/dasshy

[2015-09-04 18:42] shaneparsons commented on #2683
Any idea what's causing that Fatal error?

[2015-09-04 18:45] andresgutierrez commented on #2683
You have to access one of the routes defined in the example, for instance: /api/robots, if you aren't using nginx or a virtualhost, make sure you have a .htaccess file:  https://github.com/phalcon/dasshy/blob/master/public/.htaccess

[2015-09-04 18:48] honerlaw commented on #10891
The annotations class would need to load and call the module before it tries to parse the annotations?

My idea would be to simply load the module before the annotations are parsed... Then when it comes back to the `handle` function in the application class check to see if the module has been loaded. If not try to load it. If it has then skip it.

But otherwise, I guess the best way for now to han

[2015-09-04 18:50] shaneparsons commented on #2683
Yeaa sorry about that, I figured that out earlier.. it's this error that I cant figure out

[code]
Line 52 being `$robots = $app->modelsManager->executeQuery($phql);`

[2015-09-04 18:51] andresgutierrez commented on #2683
This line must be fixed:

[code]

[2015-09-04 18:56] shaneparsons commented on #2683
Ah shit, sorry about that.. I was copying & pasting from the tutorial so I'm not quite sure how that happened.

thanks

[2015-09-05 00:56] ryomo commented on #10888
Thanks Andres !
That was my fault. `TYPE_BOOLEAN` outputs `tinyint(1)` properly.
It was my tool which rewrote the column type from `tinyint(1)` to `bit(1)`.

[2015-09-05 00:56] #10888 closed

[2015-09-05 07:46] Jojatekok opened #10892 "Let people set default validation error messages"
https://github.com/phalcon/cphalcon/blob/e0c2afd362583f18b13c547b0128dcabb63fb631/phalcon/mvc/model/validator/stringlength.zep

I would like to set `messageMinimum` and `messageMaximum` to default values which can be localized. I wouldn't like to store the localized string in a variable, nor do I want to create a custom method for validating string length.

[2015-09-06 12:01] TrogloGeek opened #10897 "[NFR] Phalcon\Form\Element\Select::render() should escapeHtml its options content"
As `<option></option>` does not accept markup as content, their content should be HTML escaped IMHO.

[2015-09-06 16:49] temuri416 opened #10899 "[NFR] Improvements to how Phalcon\Events\Manager is collecting responses"
Hi,

Please see _Collecting Responses_ section of https://docs.phalconphp.com/en/latest/reference/events.html.

It would be beneficial to know which Event has deposited response data in `this->_responses[]`. Currently, responses are collected in a flat array.

I'd like to suggest the following changes:

A. Index `this->_responses[]` by Event type (should be a key from `Phalcon\Events\Manager::_eve

[2015-09-06 17:04] temuri416 commented on #10899
Question... I've found this line:

https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/events/manager.zep#L404

Is the idea that responses are collected only for the currently fired event type?

This code isn't working, it wipes out collected responses between the iterations:

[code]

[2015-09-07 12:11] yonexyonex commented on #2850
Great, thanks!

[2015-09-07 12:11] #2850 closed

[2015-09-07 13:18] fabiocarneiro opened #10902 "PUT requests are not being parsed."
when I use $request->getPut() it returns me a array with only one value, which is the string content of php://input, and then when I try to retrieve a specific variable it returns null (it will not be able to match the index since there is no index).

Its also not being covered by unit tests.

[2015-09-07 13:20] zyxep commented on #10902
+1 on this, compared to the old getPut() method in C, is this worse.
you can't even parse a json to it.

[2015-09-07 13:28] KorsaR-ZN commented on #10902
@fabiocarneiro Which Phalcon version are you using?

[2015-09-07 13:31] fabiocarneiro commented on #10902
@KorsaR-ZN 2.0.5

The 2.0.7 code seems to be the same. Also the same for master.

[2015-09-07 13:34] andresgutierrez commented on #10902
Code:

[code]

Test:
[code]

[2015-09-07 13:36] fabiocarneiro commented on #10902
@andresgutierrez Yes, that works for me too.

Now try to use form-data or json

[2015-09-07 13:36] andresgutierrez commented on #10902
Code:

[code]

Test:

[code]

[2015-09-07 13:36] fabiocarneiro commented on #10902
read above

[2015-09-07 13:40] andresgutierrez commented on #10902
I think you're confused on what this method does. This implements the same behavior as if you send data with POST. If you want to use JSON you have to use:

[code]

[2015-09-07 13:55] fabiocarneiro commented on #10902
@andresgutierrez I'm not confused. When using the POST method it works because php already parses the request and have the superglobal that you can retrieve data from. However, php does not parse the PUT request to a variable, so its phalcon responsability to provide this.

I'm not using json. I'm giving maintenance to a old project that was written in 1.3.4 and it was working in that version and

[2015-09-07 14:01] andresgutierrez commented on #10902
But It's doing the same as POST, passing the header in the curl example returns the same data:

[code]

[2015-09-07 14:06] fabiocarneiro commented on #10902
@andresgutierrez Using the content type header doesnt make it a content type encoded data.

You're setting some header and using the same input format. How can you expect it not to work?

[2015-09-07 14:19] tobasar commented on #10886
@andresgutierrez
Is this case somehow related to #10800 and #10779?

Both of them are issues related to lowercase and camelCase alias.

[2015-09-07 14:47] andresgutierrez commented on #10886
@tobasar Thanks for pointing it out, taking a look

[2015-09-07 16:22] andresgutierrez commented on #10897
Could you please post the code that explains the situation?

[2015-09-07 16:24] andresgutierrez commented on #10892
Mvc\Model|\Validator is deprecated in Phalcon 2.1. You can set default messages in Phalcon\Validation:

https://github.com/phalcon/cphalcon/blob/master/phalcon/validation.zep#L234-L266

[2015-09-07 16:24] fabiocarneiro commented on #10902
@andresgutierrez The script is already provided.

[code]

[2015-09-07 16:25] andresgutierrez commented on #10902
WHERE DID YOU PROVIDED IT? I JUST CHECKED A SECOND AGO AND THERE WAS NOT ANY SCRIPT

[2015-09-07 16:26] fabiocarneiro commented on #10902
https://github.com/phalcon/cphalcon/issues/10902#issuecomment-138305226

[2015-09-07 16:26] andresgutierrez commented on #10902
Editing an existing comment

[2015-09-07 16:27] fabiocarneiro commented on #10902
I didn't

[2015-09-07 16:27] andresgutierrez commented on #10902
I don't have time for this, maybe any other can help you

[2015-09-07 16:28] fabiocarneiro commented on #10902
I don't need help. I'm reporting an issue. Feel free to fix or ignore it, its up to you.

[2015-09-07 16:38] ricardofiorani commented on #10902
It's easy fixable by just removing line from 124 to 129

https://github.com/phalcon/cphalcon/blob/master/phalcon/http/request.zep#L124

[2015-09-07 18:49] zyxep commented on #10902
dude, he is trying to help you.

he is one of the core devs so behave.
Show him your code so he can help you.

He has proven above that a simple https://github.com/phalcon/cphalcon/issues/10902#issuecomment-138301215 works with printing stuff out.

[2015-09-07 22:05] braf commented on #2411
Very sorry about referencing this issue a billion times, I was committing from a vagrant box and the author kept coming out wrong and I was fixing it with some rebasing and didn't realise it would do this from my own fork. :cry:

[2015-09-07 22:07] andresgutierrez commented on #2411
@braf :+1: no problem

[2015-09-07 22:27] fabiocarneiro commented on #10902
@zyxep No. I'm trying to help him. I'm the one creating the issue here. You helped me in irc, and I can see the difference.

I'm reporting a bug and explained how he should be able to reproduce it by using multipart/form-data, but instead of using the code I provided https://github.com/phalcon/cphalcon/issues/10902#issuecomment-138305226, and that was even before he added the "need script to repro

[2015-09-08 06:17] sergeyklay opened #10904 "Phalcon\Db\Dialect\MySQL & AUTO_INCREMENT issue"
`Phalcon\Db\Dialect\MySQL::modifyColumn` and `Phalcon\Db\Dialect\MySQL::createColumn` does not uses ` AUTO_INCREMENT` definition

[2015-09-08 06:38] lixiphp opened #10905 "why the backend cache redis add the special key(statsKey) _PHCR"
when the cache is expired, the key still exists in statsKey _PHCR, why design this sepcial key store all the index keys?

[2015-09-08 08:00] Green-Cat commented on #10905
It exists to be able to flush the Redis cache from phalcon. It is disabled by default in the 2.0.x branch now though.

[2015-09-08 09:08] tokict opened #10907 "Fatal error: Method Phalcon\Forms\Element\Text::__toString() must not throw an exception when using "value" as field name"
I have noticed that on 2.0.7 when I try to create an form element  with name "value",  it throws a fatal error "Fatal error: Method Phalcon\Forms\Element\Text::__toString() must not throw an exception".

Note: The code was written for 1.3.0 originally and we ported it to 2.0.7.

If I name the field "val", the error goes away.
I'm guessing its a reserved word or similar. I might have missed somethi

[2015-09-08 09:10] TrogloGeek commented on #10897
Quick exemple from a view:
[code]
this piece of code ends up being rendered as follow:
[code]
please notice the `>` character not escaped in the last option.

We obviously can html encode options text before passing them to the select constructor, but as HTML only allow simple text as content of `<option>` tag I feel that it really should be encoded/escaped by the `render()` method.

[2015-09-08 09:11] lixiphp commented on #10905
@Green-Cat it is a good idea. So flushing cache can realize via PHP code not impacted by KV Redis.

[2015-09-08 09:11] #10905 closed

[2015-09-08 10:53] lajosbencz commented on #10902
@fabiocarneiro this is an open source project, maintained by these guys for free. The contributors are them, and also the helpers. Sure, you may have stumbled upon a valid issue, but there's always the fork button on github and you can fix it and create a pull request... THAT would be contribution :P

[2015-09-08 11:14] dimhoLt commented on #2572
Hello!

Important message, visit http://chiropractorinfayetteville.com/company.php?o3

helge.soderstrom@fightingdreamers.se

[2015-09-08 12:01] fabiocarneiro commented on #10902
@lajosbencz Issues are also contributions.

[2015-09-08 12:55] lajosbencz commented on #10902
@fabiocarneiro nah, you're reporting it because you need it for you project, but won't take the effort to try and fix it. Take a look at the number of issues coming in, of which most are irrelevant or false. I'm not saying this one is, but don't surprised if the contributors are mainly skimming the issues. The source is even written in zephir now, not C++. Instead of demanding, you might try to as

[2015-09-08 13:04] andresgutierrez commented on #10907
Duplicate of #10874

[2015-09-08 13:04] #10907 closed

[2015-09-08 13:05] #10892 closed

[2015-09-08 13:07] #10821 closed

[2015-09-08 13:57] temuri416 commented on #3133
+1

[2015-09-08 13:58] xiaochong0302 opened #10908 "[bug] after resize the image is even more big"
[code]

picture 1:

before resize: 66K (1024 * 520)
after resize: 75K (800 * 406)

picture 2:

before resize: 218K (1920 * 1285)
after resize: 338K (800 * 535)

Do i miss something ?

[https://forum.phalconphp.com/discussion/8299/after-resize-the-image-is-even-more-big](https://forum.phalconphp.com/discussion/8299/after-resize-the-image-is-even-more-big)

[2015-09-08 14:01] andresgutierrez commented on #10908
@dreamsxin Could you please check this?

[2015-09-08 14:21] temuri416 commented on #10899
Hi @phalcon,

I think I need your help understanding how EventsManager is supposed to collect responses.

This code does not produce two entries in `$evt->_responses` array. Second `->fire()` replaces response from previous call.

[code]

This line is baffling me:

https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/events/manager.zep#L409

There's nothing in `->attach()` code that might group

[2015-09-08 15:43] fabiocarneiro commented on #10902
@lajosbencz I don't need it. I'm not demanding anything. As I already said before, I'm only reporting it. I was polite, I provided all information requested and this guy wrote in camelcase, kept sending the same thing over and over again without trying to understand what I was saying, and in the end gave the nice "I dont have time for this" excuse.

If they want to ignore it, I don't give a fuck.

[2015-09-08 16:23] temuri416 commented on #10899
@phalcon

I've created a few test cases... It looks like a bug to me.

Here's what I found.

Listener class:
[code]

**Case 1:**
[code]
Result:
[code]
In this case it's expected to have two 'a' in the response, since the same listener is registered twice.

**Case 2:**
[code]
Result ('b' pushed 'a' out):
[code]
This, IMO, is a bug. **Both 'a' and 'b' event handlers belong to the same listener type

[2015-09-08 16:33] andresgutierrez commented on #10885
Fixed in the 2.0.x branch

[2015-09-08 16:33] #10885 closed

[2015-09-08 16:36] andresgutierrez commented on #2257
Fixed in 2.0.x

[2015-09-08 16:36] #2257 closed

[2015-09-08 17:02] niden commented on #10902
Can we please tone down the drama. Everyone is trying to help everyone else and the project itself. We all work in our own free time for this so be mindful of that. It is not only your time but the audience.

@lajosbencz perhaps all this could have been avoided if you posted something in the lines "see my top post". In long conversations like this it is easy to not find things.

Can you create a f

[2015-09-09 00:39] thecodeassassin opened #10909 "ACL logic faulty, wildcards not respected"
It seems that since we upgraded from 1.3.7 the acl structure in our site starts failing. I have written the following test:

[code]

The first result actually shows false, but the user was allowd access to the index resource by having the wildcard added.

The second result (deny) seems to have been respected because the result is false.

The third result shows true because we gave admin explicit a

[2015-09-09 02:19] dreamsxin commented on #10908
@andresgutierrez  OK

[2015-09-09 05:15] #10904 closed

[2015-09-09 07:12] wolftail commented on #2705
my version is 2.0.7, run in cli mode, still leak memory. my code is :
$max_video = Videos::findFirst(array('order' => 'id desc'));
        $max_video_id = $max_video->id;
        $video_id = 1;
        $video = null;
        $begin_memory = memory_get_usage() / 1024;
        while (true) {
            $video = Videos::findFirst(array('conditions' => 'id  = ' . $video_id));
            $video = nul

[2015-09-09 07:21] wolftail commented on #2705
but findFirstById is ok

[2015-09-09 07:44] wolftail commented on #2705
$video = Videos::findFirst(array('conditions' => 'id  =  :id: ', 'bind'=>array('id' => $video_id)));
is still ok? what happen in findFirst?

[2015-09-09 07:49] dreamsxin commented on #10908
@xiaochong0302 你可以测试下我这个分支么？

[2015-09-09 08:14] dreamsxin commented on #10890
@f3l1x Can you to add the feature?

[2015-09-09 08:40] fabiocarneiro commented on #10902
@niden I already sent it two times. You can scroll up and get it. You basically need to send a curl request using -F instead of -d, but the code is above. I'll not post it again.

Btw, I got what is going on. It's not a phalcon issue, but PHP. It doesn't parse PUT requests of any enconding (multipart/form-data, x-www-form-urlenconded), so its up to you to decide if phalcon should take care of that

[2015-09-09 09:17] #10902 closed

[2015-09-09 09:21] sszdh opened #10912 "Reusable Micro Middleware (before) does not stop operation?"
Hi there,

I have an Access class as a Middleware for my Micro App:

[code]

but when it attached to application as follow:

[code]

The operation does not stop and route execute after middleware returns FALSE!

I confused cause using middleware as a closure already works:

[code]

Is this a bug or something else?

Thanks.

[2015-09-09 09:24] jigneshnavsoft commented on #1925
this above delete and update not working for non primary key.

[2015-09-09 14:39] dugwood commented on #10343
@patrick-zippenfenig : I fixed it a while ago (https://github.com/phalcon/cphalcon/pull/3183) but nobody seemed to be ashamed of such an «issue»

@kimthangatm : flush() won't work, as it just empty all the known cached entries, but keeps the list. My suggestion: add a parameter in the prefix of Memcached parameters (Memcached::OPT_PREFIX_KEY), and update the prefix when you want all your keys to b

[2015-09-09 14:54] patrick-zippenfenig commented on #10343
@dugwood I did not notice #3183. A token/timestamp would be a good solution for this feature, but still has negative performance impact. I use multiple revision-numbers as prefixes for my cache-keys which are hard-coded in my application. For rolling releases I manually increment certain revision-numbers to invalidate parts of my cached data.

[2015-09-09 14:54] #10343 closed

[2015-09-09 15:31] andresgutierrez commented on #10908
Fixed in the 2.1.x branch

[2015-09-09 15:31] #10908 closed

[2015-09-09 15:50] dugwood commented on #10343
Yes, the idea was for @kimthangatm who's using flush() (this function should trigger Memcached::flush(), else it should be completely removed).

And I must confess that I have the same system for revision as you do, either for objects, dedicated cache, and so on. I use timestamp, so when it's necessary to update the cache, it set the revision to the current timestamp using time() or $_SERVER['REQU

[2015-09-09 16:25] kniaz-tolya opened #10914 "Volt nesteds blocks"
if the opportunity to implement in volt, it does not support nested blocks?
Forced to use temporary twig

{% extends "layout.volt" %}

{% block content %}
   {% block body %}
            Content Body Text
   {% endblock %}
 Content Text
{% endblock %}

[2015-09-09 16:30] lajosbencz commented on #10914
Duplicate of #329

According to the roadmap, it will be implemented in the 2.1 version: https://github.com/phalcon/cphalcon/wiki/Roadmap

[2015-09-09 16:43] #10914 closed

[2015-09-09 16:47] kniaz-tolya commented on #10914
Thanks

[2015-09-09 19:24] sergeyklay commented on #10343
Hello.
Confirm for 2.0.7.
Recently I began to use Libmemcached as backend on my production server. Before I used native Memcache. Now I have load average 40 on 8 core cpu (previously, it was 15).

[2015-09-09 23:41] sergeyklay opened #10916 "Incorrect Phalcon\Db\Dialect\Postgresql::getColumnDefinition"
How to reproduce:

**SQL**

[code]

**PHP**
[code]

**Output**
[code]

**Actual**

[code]

**Expected**

[code]

**Issues**

* Convert `true` →  `"1"`
* Convert `BOOLEAN` → `SMALLINT`
* `INT`, `SMALLINT` and `BIGINT` types in Postgresql does not have precision.

For example Mysql syntax:
[code]

MUST be adopted to Postgresql syntax like this:
[code]

Please see manual of [Postgresql Numeric Types]

[2015-09-10 04:21] dugwood commented on #10343
Did you try to disable statsKey with options["statsKey"] = "" (empty string)?

Memcached is better than Memcache in general, if you have a load increase that may come from another issue: not enough space in RAM, or a new parameter that goes wrong for you (increased timeout).
I don't think the issue is Memcached anyway, you should profile you application (try xhprof for instance), you'll know for s

[2015-09-10 04:52] kniaz-tolya opened #10919 "volt extends bug in Phalcon 2.1.0 beta 1"
file **layout.volt**
[code]

file: **index.volt**
[code]
**IndexController.php**
[code]

The problem is as follows, after the current version added the ability to:
Phalcon\Mvc\View supports many views directories
there was a problem when you try to inherit an exception, instead of the transmission path to search for the directory array
[code]

[2015-09-10 05:34] sergeyklay commented on #10343
@dugwood Yes. I disavled last night statsKey. After I turned off statsky everything fell into place.

[2015-09-10 05:41] sergeyklay commented on #10343
After disabling statsKey

![selection_114](https://cloud.githubusercontent.com/assets/1256298/9780965/c3cbfcac-5797-11e5-9c5b-bccd6fc98402.png)

[2015-09-10 06:00] dugwood commented on #10343
@sergeyklay :-)

I've detected it when I ran a script with about 10,000 objects, all from cache, and the time for getting the object from cache was over the time from creating it from the database.

@andresgutierrez : did you disabled it as a default? Note that I've added a warning for anyone who's using «flush()» when statsKey is disable, so there's no harm doing this (I think that a lot of peopl

[2015-09-10 06:26] sergeyklay commented on #10343
@dugwood

It's time to create Phalcon handlersocket wrapper which is usually faster than memcache at all :-)

[2015-09-10 07:08] Surt opened #10920 "Phalcon\Image\Adapter\GD resize optional parameters bug"
Triying to resize an image with the Phalcon\Image\Adapter\GD and without one of the 2 first parameters fails. https://docs.phalconphp.com/en/master/api/Phalcon_Image_Adapter_GD.html

The docs says

But if I try the code below on 2.0.7 an exception is throw

[code]

[2015-09-10 07:11] KorsaR-ZN commented on #10919
This fixed in 2.1.x branch

[2015-09-10 09:10] kniaz-tolya commented on #10919
I build few hours ago it from the 2.1.x branch

[2015-09-10 09:21] iotch opened #10921 "ACL: allow access to any resource issue"
Hello.
It should be possible to allow access to any resource like that:

[code]

as mentioned in the source - https://github.com/phalcon/cphalcon/blob/master/phalcon/acl/adapter/memory.zep#L437-L438

But it's not possible to allow a wildcard resource, it's forbidden to add an access if resource does not exist:

Attempt to add a wildcard resource leads to:

Thanks.

[2015-09-10 09:37] patrick-zippenfenig commented on #10343
@dugwood On 2.1.x stats keys are now disabled by default (#10841). I've adjusted your warning accordingly.

I also use persistent memcached pool connections for cache and sessions. I'll port it to zephir and open a PR
[code]

[2015-09-10 09:41] dugwood commented on #10343
Thanks @patrick-zippenfenig, I should upgrade to 2.1 then :-)

For Memcached, here's my config (within the DI):
[code]

Here's some explanations on my website: http://www.dugwood.com/895442.html

[2015-09-10 10:06] KorsaR-ZN commented on #10919
Please give the script to reproduce the problem.
And also please show how you configure service `view`

[2015-09-10 10:11] dreamsxin commented on #10874
@andresgutierrez All getter and setter add prefix `_`, how about?

[2015-09-10 10:18] sergeyklay commented on #10343
One of my node (frontend) after disabling statsKey
![selection_009](https://cloud.githubusercontent.com/assets/1256298/9785858/2380e952-57be-11e5-99f0-3bb3e0b6fb10.png)

[2015-09-10 10:31] pauliuspetronis commented on #10920
Try [https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/image/adapter.zep#L112](https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/image/adapter.zep#L112)
[code]
[Default is Image::AUTO](https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/image/adapter.zep#L85)

[2015-09-10 10:47] sergeyklay commented on #10921
Possible refs #10909

[2015-09-10 10:49] iotch commented on #10921
I'm not sure.

[2015-09-10 11:54] galki opened #10922 "[NFR] \Phalcon\Mvc\Model\Resultset\Complex :: toArray"
I'm guessing this would be a simple method so can we get this convenience method made?

[code]

perhaps with a bonus flag for a flattened result:

[code]

I think if most people end up writing the above, this should definitely be made.

[2015-09-10 12:27] kniaz-tolya commented on #10919
1.

[code]

2.

[code]
3. \mvc-master\simple-volt\app\views\

file: **layout.volt**

[code]

file: **index.volt**
[code]

[2015-09-10 12:36] pauliuspetronis commented on #10912
I think it's a bug.

By [documentation](https://docs.phalconphp.com/en/latest/reference/micro.html#middleware-events):

Event Name | Triggered | Can stop operation?
------------ | ------------- | -------------
before | Before executing the handler. It can be used to control the access to the application | *Yes*
after | Executed after the handler is executed. It can be used to prepare the response

[2015-09-10 12:43] pauliuspetronis commented on #10912
@sszdh, you must call `$application->stop()` before `return false` (in your Middleware class)

[2015-09-10 12:56] sergeyklay commented on #10343
After enabling `Libmemcached` with `statsKey`
![selection_010](https://cloud.githubusercontent.com/assets/1256298/9788744/80b34a14-57d4-11e5-88cc-7a4f6632cf48.png)

[2015-09-10 14:51] #10275 closed

[2015-09-10 14:52] virgofx commented on #10800
@andresgutierrez Any way the camel aliases could get fixed for 2.1 LTS / 2.0.8 ?

[2015-09-10 15:04] andresgutierrez commented on #10800
Checking it

[2015-09-10 16:00] thepatron opened #10924 "Phalcon\Http\Response::setJsonContent does not set appropriate content type"
Hello,

Could you please set the content type header to 'application/json' when using the Phalcon\Http\Response::setJsonContent() method?  I feel like it is implied that if someone is setting the body of the response to JSON, the header should also be set appropriately.  I feel the first snip below should equate to the second.  Thanks in advance!

[code]

vs:

[code]

[2015-09-10 16:25] KorsaR-ZN commented on #10919
This bug not reproduced on the latest build `2.1.x` branch.
You reboot php-fmp? :)

[test-app.zip](https://drive.google.com/file/d/0BxDkwGMJ98ueUWdjSlp2Q0dweUk/view?usp=sharing)
Ext. info:
[code]

[2015-09-10 17:07] kniaz-tolya commented on #10919
php-fpm restarted

version Phalcon 2.1.0 BETA 1

I your example, uploaded. Error

![phalcon](https://cloud.githubusercontent.com/assets/4132867/9795058/27805034-5821-11e5-9339-314813958056.png)

[code]

It may be necessary to rebuild?

[2015-09-10 17:18] andresgutierrez commented on #10919
Compile from ext/:

[code]

[2015-09-10 17:50] kniaz-tolya commented on #10919
Everything works, thank you! issues can be closed.

[2015-09-10 18:38] #10919 closed

[2015-09-10 19:25] sszdh commented on #10912
@pauliuspetronis, thanks
Yes I think it's a bug!

The '$status' tied with '$_stopped' property and I do not understand that...

[2015-09-10 21:43] #10916 closed

[2015-09-10 22:10] OpenEX opened #10928 "volt macro for in if is ok but for for ... for in if causes error"
I say about it more in this phalcon forum topic. Let me notice this happened to me in a macro
https://forum.phalconphp.com/discussion/8467/if-for-for-error-if-for-ok

[2015-09-11 06:04] yuriygr opened #10930 "Return 404"
Greetings Community.
I would like to know how to return a 404 error if nothing is found in the controller?
At the moment, I have the following code:
[code]
Works well, returns 404 page.
But duplicated initialize() in ControllerBase, In which I connect assets. And it turns out that he is connected twice.

How to make so that initialize() twice has not been called?

[2015-09-11 06:54] #10770 closed

[2015-09-11 12:48] andresgutierrez commented on #10924
Implemented in 2.1.x

[2015-09-11 12:48] #10924 closed

[2015-09-11 13:08] niden commented on #10902
@fabiocarneiro Happy to see a resolution for this.

As for the docs, you can easily send a PR with your findings in the docs repository :)

[2015-09-11 14:02] nsossonko opened #10932 "skipAttributes/skipAttributesOnCreate does not work for Primary keys"
Hi,

I am using Mysql and cannot get my primary keys to be skipped during create. In Mysql my primary keys are set to AUTO_INCREMENT. I call model->skipAttributes('id') in initialize, to no avail. If a primary key is set on the model, it will be passed to Mysql and set to that value.

[code]

[code]

[2015-09-11 14:19] andresgutierrez commented on #10932
What version of Phalcon are you using?

[2015-09-11 14:24] nsossonko commented on #10932
2.0.7

[2015-09-11 14:29] andresgutierrez commented on #10932
Fields marked with the @Identity are automatically assigned by Phalcon, remove this annotation will do the work for you

[2015-09-11 14:35] nsossonko commented on #10932
I removed it and still same story. The id is whatever is assigned to it, it is not skipped.

[2015-09-11 22:52] sverdier opened #10934 "Column 'YEAR' doesn't belong to any of the selected models (1)"
I have the same bug : https://forum.phalconphp.com/discussion/1829/how-to-fetch-computed-columns-using-the-query-builder-

$user->columns(array('id', 'email', 'firstname', 'lastname', 'TIMESTAMPDIFF( YEAR ,birthday,CURDATE()) AS age'));

Result: Column 'YEAR' doesn't belong to any of the selected models (1)

Standard Mysql date calculation isn't possible with Phalcon => https://dev.mysql.com/doc/r

[2015-09-11 23:03] andresgutierrez commented on #10934
This is not a bug, custom SQL extensions aren't supported by PHQL, you can use custom dialect functions: https://blog.phalconphp.com/post/phalcon-2-0-3-released

[2015-09-11 23:03] #10934 closed

[2015-09-11 23:56] andresgutierrez commented on #10909
Fixed in the 2.0.x branch

[2015-09-11 23:56] #10909 closed

[2015-09-12 00:00] andresgutierrez commented on #10871
Fixed in the 2.0.x branch

[2015-09-12 00:06] sergeyklay commented on #10921
@iotch Can you please check now with 2.0.x branch?

[2015-09-12 01:46] dreamsxin commented on #10930
You can overwrite method initialize in PagesController.

[2015-09-12 08:14] SidRoberts commented on #10930
Could you post your `initialize()` method? It's possible we could move that code to the DI.

[2015-09-12 08:19] sszdh commented on #10932
Clear your metadata cache and try again.
May helps...

On Fri, 11 Sep 2015 19:05 nsossonko <notifications@github.com> wrote:

[2015-09-12 09:50] yuriygr commented on #10930
@SidRoberts
[code]

@dreamsxin
Then other pages will be called without him.

I seem to have found a solution for themselves:
[code]

[2015-09-12 10:00] Dimous opened #10938 "[Feature] Asset management, make resource collection be a Set"
I made widgets, that autoregister their own css/js. When I use multiple instances of a widget, its link/script entries get duplicated.

[2015-09-12 14:37] patrick-zippenfenig commented on #10343
Just noticed ````setOptions```` is called AFTER ````addServers```` in current phalcon [memcached implementation](https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/cache/backend/libmemcached.zep#L112) -> Some options are ignored....

Currently working on a PR with persistent libmemcached and sane default options

[2015-09-12 17:56] SidRoberts commented on #10930
I'd personally put all that stuff in the `initialize()` method into the DI services:

[code]

With this, you'll be able to use `$this->dispatcher->forward()` properly. :)

[2015-09-12 18:00] yuriygr commented on #10930
@SidRoberts Very good decision.

I think, can be closed issues.

[2015-09-12 18:00] #10930 closed

[2015-09-12 19:16] Izopi4a opened #10940 "Bug in validation 2.1.x"
[code]

gives

[code]

[2015-09-12 19:22] KorsaR-ZN commented on #10940
Replace to: `return $this->validate($validator);`

[2015-09-12 19:24] Izopi4a commented on #10940
then i get

[code]

i use it :

[code]

[2015-09-12 19:32] Izopi4a commented on #10940
even this code of yours:

[code]

doesnt work for me, with the latest pull of 2.1.x branch

[2015-09-12 19:39] KorsaR-ZN commented on #10940
@Izopi4a Please show your model

[2015-09-12 19:43] Izopi4a commented on #10940
if that is ok for you...
http://phalcon.opticlan.net/test.txt

I have skype / teamviewer btw, if you are instrested to do it faster :-)

[2015-09-12 19:55] KorsaR-ZN commented on #10940
@Izopi4a
It works for me.

Please replace to:
[code]

[2015-09-12 19:59] Izopi4a commented on #10940
bah... still the same for me....

can it be  because of the Phalcony ?

https://github.com/ovr/phalcon-module-skeleton

https://github.com/ovr/phalcony

[2015-09-12 20:05] KorsaR-ZN commented on #10940
@Izopi4a Give your Skype

[2015-09-12 20:05] Izopi4a commented on #10940
r1d3r_bg

[2015-09-12 20:17] nuzzio commented on #10372
Are there any updates on this issue?

[2015-09-12 20:37] KorsaR-ZN commented on #10940
@andresgutierrez Please regenerating build

[2015-09-13 03:57] Dimous commented on #10938
This snippet reproduces resource registering behaviour of 10 instances of a widget:
for ($nIndex = 0; $nIndex < 10; ++ $nIndex) $this->assets->addCss("style.css")->addJs("script.js");

[2015-09-13 16:52] michanismus commented on #10940
Same here, when validation is called with
let messages = validator->validate(null, this);
the no data exception is raised, when I try to execute the validation with entity (this) as first param
let messages = validator->validate(this);
everything works fine

https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/mvc/model.zep#L1401

[2015-09-13 19:34] KorsaR-ZN commented on #10940
@michanismus
This is fixed in `2.1.x` branch, you must regenerating build:
`zephir build`

[2015-09-13 19:41] michanismus commented on #10940
Thanks

[2015-09-13 20:24] michanismus commented on #10940
Now i get the following Exception:
 RuntimeException: Trying to call method getdi on a non-object
 at Phalcon\Validation\Validator\Uniqueness->getColumnNameReal(User.php:281)
 at Phalcon\Validation\Validator\Uniqueness->isUniqueness(Unknown Source)
 at Phalcon\Validation\Validator\Uniqueness->validate(Unknown Source)
 at Phalcon\Validation->validate(Unknown Source)
 at Phalcon\Mvc\Model->validate(

[2015-09-13 20:27] michanismus commented on #10940
Ok, Model param was changed from static model class to model object, my fault. Now everything works as expected.
Thanks

[2015-09-13 20:38] michanismus commented on #10940
Nope, me again :)
My model is loaded and I try to update the record.
Primary key in condition is ignored:

if record->getOperationMade() == Model::OP_UPDATE {
....

getOperationMade() return 0 (OP_NONE) because nothing happened so far.

[2015-09-13 20:47] KorsaR-ZN commented on #10940
@michanismus Please show your model to reproduce and fix the problem

[2015-09-13 21:11] michanismus commented on #10940
My validation function:

[code]
Parent validation function:
[code]

My fields:
[code]

Data dump of record before validation function is called (nothing was changed/edited in html form):
[code]

[2015-09-13 21:17] michanismus commented on #10940
I guess the error is here:
https://github.com/phalcon/cphalcon/blob/902c32675776fbcfbd3a5a6178d4cd07833c7e79/phalcon/validation/validator/uniqueness.zep#L114
Because there was no operation so far, I try to validate the record first and then update it...

[2015-09-13 21:27] Fuhunter commented on #10932
Use `$this->skipAttributesOnCreate(array('id'));` for skipping them, when you want to create a new record. Works fine for me.

[2015-09-14 02:29] dimhoLt commented on #2572
Hey friend!

Check it out http://www.7del7.com/carried.php?gz

helge.soderstrom@fightingdreamers.se

[2015-09-14 10:54] lajosbencz opened #10945 "[2.1.x] Volt: missing PHP closing tag for compiled macros"
Compiled macros are not closed properly:

Volt template:

[code]

Compiled output:

[code]

```Parse error: syntax error, unexpected '<' in ....volt.php on line 6```

[2015-09-14 11:17] lajosbencz commented on #10945
Strange... according to the source https://github.com/phalcon/cphalcon/blob/880b4fde422c1e7a112d5546e274d12f6784442a/phalcon/mvc/view/engine/volt/compiler.zep#L1935 a closure binding should be generated before the closing tag, which is also missing...

I've cloned and used 95f665efe5cffbd31a1dd39c49c59d782b884d2c

[2015-09-14 12:57] ITCPhantom opened #10947 "Disable meta-data dumping"
Is it possible to disable meta-data dumping for all models? for one specific model?
I use Phalcon 2.0.7

[2015-09-14 12:58] andresgutierrez commented on #10947
Meta-data strategy is only one for all models.

[2015-09-14 13:00] ITCPhantom commented on #10947
Thanks for quick answer. How can I enable something like Empty/Null strategy to avoid dumping?

[2015-09-14 13:04] andresgutierrez commented on #10947
By changing the meta-data strategy in the models meta-data manager:

[code]

[2015-09-15 06:37] michanismus commented on #10940
@KorsaR-ZN
The line should be:

[code]

[2015-09-15 14:10] andresgutierrez commented on #10945
Fixed in the 2.0.x branch

[2015-09-15 14:10] #10945 closed

[2015-09-15 15:20] ramizka opened #10948 "Serialization in Phalcon\Mvc\Model\Resultset\Simple for cache"
Phalcon\Mvc\Model\Resultset\Simple uses its own serialize() and unserilalize() for storing data in cache. It's good, but if I prefer using Igbinary as FrontendCache, I would like to use it for serialization.

So it's would be nice to check Frontend Cache Adapter, to use igbinary for serialization, for example.