[2016-04-06 10:58] Jurigag commented on #11630
2.1.x is still not realased, it's only RC, once all tests will be passing for php 7 then i guess it will be closed for release it(at least if there are still plan for full php 7 support in 2.1.x). So you still have time.

[2016-04-06 11:04] Izopi4a commented on #11550
now if someone fix create_instance_params would be awesome ...

[2016-04-06 11:05] Jurigag commented on #11550
I don't know c xd

[2016-04-06 11:42] sergeyklay commented on #11630
Usually `RC` means no API additions (at least serious) only bug fixes. Of course we can make an exception to the rule, but this is not the case when it should be done

[2016-04-06 11:43] Jurigag commented on #11630
Well this is pretty serious API addition.

[2016-04-06 14:21] mzf commented on #11607
@sergeyklay Dot notation more usable, you are right

[2016-04-06 14:23] mzf commented on #11607
@Jurigag, @bkirova in your way you dont have filters and default values

[2016-04-06 15:38] firstactivemedia commented on #2871
The original post was more intended to find out of Phalcon is working as intended. Seems the official line is that it is, so no bug...?

Unsure if I have been spoilt by Doctrine doing more for me than phalcon, or fallen into some kind of anti-pattern / over-reliance on the ORM!

[2016-04-06 17:00] Jurigag commented on #11550
Updated it with another "common" issue, when `vendor/bin/phpunit --bootstrap tests/_ci/phpunit.php unit-tests/ --testdox` there is seg fault on creating query service from class name on `zephir_create_instance_params`. We have to wait for fixing it cuz i don't have time for testing each test separately to see which test works which don't. I will update list when `zephir_create_instance_params` wil

[2016-04-06 21:52] maurits150 opened #11633 "[2.1 RC1] When using multiple directories in setViewsDir, views with same name are rendered for each dir"
It seems that when using multiple view directories ($view->setViewsDir(['dir1', 'dir2']), and a view with same name exists in both directories, both files get rendered.

I'm not sure if this is intended behavior, but it seem unintuitive to me in the case of a hierarchical view system where only the first found view should be rendered.

Solution seems to be to change the following line to the Zephi

[2016-04-06 21:59] #11595 closed

[2016-04-06 22:05] tuxy commented on #11630
If this delays the 2.1 stable release please wait for 2.1.x instead. Many of us are stuck with using PHP 5.6 and Phalcon 2.0 do to no good support of PHP 7 yet. Please concentrate on improving PHP 7 support in version 2.1 first before making more changes.

[2016-04-06 22:32] tuxy opened #11634 "v2.1 RC1 QueryBuilder Error"
I've tried compiling v2.1 RC1 today to try it with PHP 7.0.5. I've installed Zephir 0.8 and run this following commands.

[code]

I get this error:

[code]

Also same error when using "zephir build --backend=ZendEngine3"

Any ideas? Thanks.

[2016-04-06 23:09] Jurigag commented on #11634
You need to compile phalcon with master zephir branch.

[2016-04-06 23:14] tuxy commented on #11634
@Jurigag I thought RC1 works with PHP 7.

[2016-04-07 00:16] Jurigag commented on #11634
No it doesn't. There are still many bugs to be fixed.

[2016-04-07 00:45] tobasar commented on #11596
Why not using dispatcher inside controller instead?

[2016-04-07 02:48] netroby opened #11635 "can not build cphalcon 2.1.x with php 7.0.4"
current branch

[code]
PHP version
[code]

can not build, and error log

[code]

[2016-04-07 02:50] andresgutierrez commented on #11635
Are you using zephir to build the extension? The standard way to compile does not work

[2016-04-07 05:32] sergeyklay commented on #11635
refs #11550

[2016-04-07 05:54] Izopi4a commented on #11635
`which php` and `which php-config` should point to php7 btw, compilation works. Its just the result that doesnt work.

also make sure to use
[code]

[2016-04-07 07:37] bkirova commented on #11607
If you need filters and default values you have to use [Phalcon\Forms ](https://docs.phalconphp.com/en/latest/reference/forms.html)

[2016-04-07 07:48] mzf commented on #11607
Very interested, how?
P.S. Validators also dont work with array notation

[2016-04-07 07:50] googlle commented on #11607
[code]

[2016-04-07 08:07] mzf commented on #11607
@googlle we talk about using array notation in name.
In your example simple name, not array notation like "name[action]"

[2016-04-07 08:26] benjamineukles opened #11636 "Assigning vars from controller to volt template don't work properly"
Hi,

I encounter a trouble with assigning vars from my controllers to my volt templates.
I'm using PHP 7 so I've compiled Phalcon from the 2.1.0r version.

Here is the code I use to create my view and my volt engine:

[code]

Then in my controller if I try this in my action:
[code]

and in the corresponding volt template I put this:

`{{ dump(test) }}`

I get an error "Undefined variable: test in.

[2016-04-07 08:34] Jurigag commented on #11636
Just read other issues. Phalcon don't work with php 7 yet.

[2016-04-07 08:37] benjamineukles commented on #11636
Yes I know, but I've read that

So I just wanted to contribute for this and report this bug, I didn't find any other issue reporting this bug.

[2016-04-07 08:51] Jurigag commented on #11636
But it was already reported many times. https://github.com/phalcon/cphalcon/issues/11465 https://github.com/phalcon/cphalcon/issues/11628 https://github.com/phalcon/cphalcon/issues/11616

[2016-04-07 09:31] juanreynolds commented on #1527
The bug seems to be back with version 2.1.0.RC1.
I rolled back to a previous version 2.0.8 released on Sep 26 2015 16:25:52 which works fine.

[2016-04-07 09:45] Green-Cat commented on #11635
What version of zephir are you using?

[2016-04-07 10:11] StudioMaX opened #11637 "UPDATE query with JOIN in PHQL"
I have some raw-sql queries, which I want translate to PHQL. For example:

raw sql:

[code]

And PHQL query of this sql query:

[code]

So, it's very simple UPDATE query with JOIN. But after executing this query I see an error:

`Phalcon\Mvc\Model\Exception: Syntax error, unexpected token LEFT, near to ' JOIN RelArtistTrack ON RelArtistTrack.TrackRef=Version.TrackRef\n	SET Version.Price=Version.Pr

[2016-04-07 10:13] hisorange commented on #11613
Happens on 2.1.0RC too, but in my case it goes a bit worse.
When I save a relation like
[code]
It nulls the created_at on the order too.

[2016-04-07 10:26] Zaszczyk opened #11638 "[2.1RC] Namespace problem in annotation router"
I use annotation router:

[code]

and this code work properly, however there is a problem, when I have another directory in controllers/ directory. I defined next controller (controllers/User/AccountController):
`$router->addModuleResource('company', 'User\Account');`
And I got ReflectionException:
`ReflectionException: Class User\User\AccountController does not exist`

This problem occured after

[2016-04-07 10:32] Zaszczyk commented on #11638
If I don't use setDefaultNamespace():

[code]
there is such reuslt:

The namespace from string is duplicated

[2016-04-07 10:42] angelvega93 commented on #2871
It works fine :+1: but it would be even better if you could do like laravel 5

$article->sync('categories', [1, 2 => ['hidden' => 1], 3])

[2016-04-07 12:05] makerlabs commented on #2871
@firstactivemedia sorry I was just stating a resolution which @phalcon provided I wasn't talking about if its a bug or not :) But when u talk about object oriented approach than yeah I totally agree about the fact that if you assign an array to a object property it should be overriten like it would be in normal object.

[2016-04-07 12:29] re8260 commented on #2585
still same bug, version 2.0.10.

[2016-04-07 14:27] benjamineukles commented on #11636
Ok sorry, I didn't find it. I hope my "fix" will be helpful for somebody :)

[2016-04-07 14:27] #11636 closed

[2016-04-07 21:06] makerlabs opened #11639 "Test Proxy classes"
Why do we use this classes in tests anyway? Because of them I wasted today one and a half hour because one of my test was returning wrong result and after many WTF statements I realize that the problem was not my changes, not zephir the problem was wrong written proxy class which passed in one method 2 arguments instead of 3... If we can remove them please do so because they only complicate the te

[2016-04-07 21:13] sergeyklay commented on #11639
Did you seen https://github.com/phalcon/cphalcon/blob/2.1.x/tests/README.md

[2016-04-07 21:15] Jurigag commented on #11639
Are you using newest repo ? I fixed all proxy classes already.

[2016-04-07 21:20] sergeyklay commented on #11607
I've created a simple example https://gist.github.com/sergeyklay/78bf853c1d280681a145 with test https://gist.github.com/sergeyklay/201efa076834bc7d6134 for dot-notation

[2016-04-07 21:24] sergeyklay commented on #11638
@Green-Cat Could you please deal with this

[2016-04-07 22:05] hunggau opened #11640 "codeception testing in modular application is not possible in phalcon 2.0.9"
Hi all,
I use codeception to unit test my modular application with this command

`php codecept.phar generate:test unit Example`

Some class belong to a module can not auto load when I ran in test environment but in browser is ok.

I could be cause of lazy load or Phalcon\Mvc\Router\Group so my classes can not access in test environment.

Because I set the route group like this

`$group = new Group

[2016-04-07 22:08] Jurigag commented on #11640
You mean that classes have something like registerNamespaces? Then it's not a bug. Those namespaces are registered once the dispatcher will access this module - not earlier, i guess that's why you cant access classes in modules. You just need to register all classes seperately in unit tests.

[2016-04-07 22:37] sergeyklay commented on #11461
https://webtatic.com/packages/php70/
http://www.servermom.org/install-php-7-centos-ubuntu-debian/3030/
https://hasin.me/2015/12/06/upgrading-php-to-php7-0-in-a-centos-server-with-vesta-cp/

[2016-04-07 22:37] #11461 closed

[2016-04-08 02:41] mzf commented on #11607
Any plan to add Arr to Phalcon ?

[2016-04-08 04:35] tidytrax commented on #11613
here if is the primary key does not have a auto-increment, default values dont load

[2016-04-08 04:52] hunggau commented on #11640
Thank you, @Jurigag .
Now I currently try to load more with in unitest $loader->registerNamespaces()

[2016-04-08 07:21] makerlabs commented on #11639
@sergeyklay Ok admited I was to laisy to read to the end. Why not generate them on the fly or by using a script?

[2016-04-08 07:27] Jurigag commented on #11639
If we would generate them on the fly or using script it will slow down the travis build which is already slow i guess.

[2016-04-08 07:31] makerlabs commented on #11630
Additional the Phalcon\DI could be a bit optimized to only register services without the need of creating a new instance of class Phalcon\Di\Service in the process.

[2016-04-08 07:39] Jurigag commented on #11630
This class is kind of handy. And just used in DI in many places.

[2016-04-08 08:21] makerlabs commented on #11630
Yeah but you could seperate the definion building from the dependency container itself. I mean the using of a closure is a definion itself if I register a service:
`
$di->set('name', function() {
    // here goes my rest of dependencies usually passed either by the constructor, optional by additional methods or injected into the service if it extends Injectable for example
    return new ExampleSe

[2016-04-08 08:35] makerlabs commented on #11639
Yeah I already saw that thanks.

[2016-04-08 08:39] #11639 closed

[2016-04-08 10:15] JokeZhang opened #11641 "findFirst() not work by 2.1 rc on php 7.0.5"
Code:
`$model = Brand::findFirst(); `
run message on nginx：
`502 Bad Gateway`

the code is run  success in php 5.6 phalcon 2.0.8；

[2016-04-08 11:26] Green-Cat commented on #11638
@sergeyklay I'll look into it when I am home!

[2016-04-08 11:52] 00byte opened #11642 "[2.1 RC1] Keys modified when merging configuration"
When merging two \Phalcon\Config objects, if the array keys are strings containing only digits of the same length it works well, but if the keys are string containing digits of multiple lengths, some keys are modified.

PHP version: 5.5.9
Phalcon version: 2.1.0 RC1

For example:

[code]

The output is the following:

[code]

[2016-04-08 14:54] Jurigag opened #11643 "Beanstalkd queue is really slow"
I'm using phalcon 2.0.8 and php 5.6

I lately after some reboot of my vps found a problem that phalcons' beanstalkd is super slow. I used this class for testing it's not the benastalkd problem itself - https://github.com/davidpersson/beanstalk

There is some code to test it as cli task:

[code]

And there are results:

[code]

[2016-04-08 17:52] ruudboon opened #11644 "Unable to reuse template with simple view"
I made cmd line Phalcon project to create config files.
I got one template and fill this with some data.
Unfortunately this only works once and I'm unable to recycle the template.

For example

[code]

[2016-04-08 17:57] Jurigag commented on #11644
What php version you are using ?

[2016-04-08 18:03] ruudboon commented on #11644
I should move it indeed.
Running php56 with phalcon 2.10

[2016-04-08 18:06] Jurigag commented on #11644
How about adding:

[code]

after render ?

[2016-04-08 18:13] Jurigag commented on #11641
Phalcon don't support php 7 yet. This bug was already reported many times.

It's problem with modelsManager. It's caused by zephir create_instance_params. Zephir cant create instance of class if it's provided as string.

For instance and now if you still want to use php7(i really don't recommend it) you need to register in your di service called:
```Phalcon\\Mvc\\Model\\Query``` which will return

[2016-04-08 18:21] Jurigag commented on #11637
As i wrote earlier. Did you tried it with subquieries INSTEAD of joins ?

[2016-04-08 18:25] Jurigag commented on #11643
@sergeyklay @andresgutierrez
Did you have any idea guys what's going on ? This is really weird because as i see phalcon's beanstalkd implementation is based pretty much on this class i posted a link. But why this huge difference then ?

[2016-04-08 18:45] StudioMaX commented on #11637
Do you mean PHQL query like this?
[code]
I think it might be useful only for the most simple queries (update data in one table based on ids from another table). But what about joining multiple tables?
[code]
Or calculating values based on the values of a few records from different tables?
[code]

[2016-04-08 18:51] Jurigag commented on #11637
[code]
will be something like:
[code]

When you have done your relations between models then ON clause is not needed i think.

[code]
will be something like:
[code]

But it will become uglier and uglier. So the joins would be really helpful.

@sergeyklay i think it would be really nice if phql could support joins in update statements.

[2016-04-08 19:40] Jurigag commented on #11640
@hunggau also it's normal behaviour, even in normal application, not unit testing those namespaces which you put to register in module configuration are available after dispatcher will enter this module and call this registerNamespaces method.

[2016-04-08 21:24] sergeyklay commented on #11643
Thanks fir reporting. I'll try to deal later, as soon as I will have time for this

[2016-04-09 06:51] #11641 closed

[2016-04-09 15:03] EquaI1ty opened #11646 "Ubuntu 15.10 x64 compilation"
Hi! Phalcon RC1 compilation ends with error:

build log:
`find . -name \*.gcno -o -name \*.gcda | xargs rm -f
find . -name \*.lo -o -name \*.o | xargs rm -f
find . -name \*.la -o -name \*.a | xargs rm -f
find . -name \*.so | xargs rm -f
find . -name .libs -a -type d|xargs rm -rf
rm -f libphp.la       modules/* libs/*
Cleaning..
Configuring for:
PHP Api Version:         20131106
Zend Module Api No:

[2016-04-09 15:08] Jurigag commented on #11646
Not enough memory ? Try to set swap and compile again.

[2016-04-09 15:16] andresgutierrez commented on #11646
Compile from ext/ if you don't have enough memory:

[code]

[2016-04-09 15:22] EquaI1ty commented on #11646
Sorry, I forgot about the swap. Now it work.

[2016-04-09 15:22] #11646 closed

[2016-04-09 17:21] sergeyklay commented on #11643
@Jurigag Try to test first Phalcon and provide please result

[2016-04-09 17:27] Jurigag commented on #11643
It's the same slow:

[code]

[2016-04-09 18:18] Jurigag opened #11650 "Phalcon\Test\Module\UnitTest extends non exisiting class"
I don't even know how it's currently working but right know `Phalcon\Test\Module\UnitTest` extends non exisiting class in CodeCeption 2.2. I think it needs to be changed to `Codeception\Test\Unit`

@sergeyklay also what IDE are you using ? I added Codeception\Codeception Codeception\Verify and Codeception\Specify to libraries in phalcon project in PHPStorm and it doesn't see any methods in `except

[2016-04-09 18:48] Jurigag commented on #11643
@sergeyklay

https://github.com/phalcon/cphalcon/commit/f4ba9b471ab9611b52ebb254b43563fb5a2c1f04 Im guessing this is fixing it ?

[2016-04-09 19:27] sergeyklay commented on #11650
Yes, we need to this. Did you seen https://github.com/Codeception/Codeception/blob/master/shim.php

[2016-04-09 19:38] Jurigag commented on #11650
Oh okay, but when i am changing `Codeception\TestCase\Test` to `Codeception\Test\Unit` then there must be method implemented `getName()` so not sure what it should return.

[2016-04-09 21:16] sergeyklay commented on #11643
@Jurigag Could you please test now `2.1.x` branch

[2016-04-10 09:07] butamuh4o commented on #11605
Hi,
No one respond to me :/ however, i find that this did not work in models relations:

[code]

I am pretty sure this is happened in other situations too.

Thanks. Good luck.

[2016-04-10 09:13] Jurigag commented on #11605
Is it working just with:

```ArticleMultimedia::find()``` ?

Are you sure you are on 2.1.x version ?

[2016-04-10 19:40] Chameleon-m commented on #11643
@sergeyklay with top comment script
phalcon / 2.1.x / commit unknown
0.11966013908386
phalcon / 2.1.x / 0d2c9874f29196c86daba1829c13d78a0263c743
time 0.0015959739685059
It is faster

[2016-04-10 19:54] Jurigag commented on #11643
Well on Beanstalkd\Client i posted results - 0.00075411796569824. So good it's fixed.

[2016-04-10 19:54] #11643 closed

[2016-04-10 20:11] sergeyklay commented on #11643
In my opinion https://github.com/phalcon/cphalcon/pull/11652 fixed this issue

[2016-04-11 13:58] AC7ION opened #11661 "Got segmentation fault on any model running Phalcon 2.1 PHP 7 on CentOS 7"
Hi,

Today I decided to update my existing app from PHP 5.6 & Phalcon 2.0.10 (here it works) to PHP 7 with Phalcon 2.1.
If I run:

[code]

Its executes main task, which looks like:
[code]
Same on any other model.

And using debugger:
[code]

[code]

What could I do wrong?
Thanks in advance for any help.

[2016-04-11 14:12] sergeyklay commented on #11661
#11635
https://github.com/phalcon/cphalcon/issues/11550

[2016-04-11 14:12] #11661 closed

[2016-04-11 14:46] Evgeny- commented on #11156
+1

[2016-04-11 18:25] butamuh4o commented on #11605
Hi there and thank you for comment. I check now, so:
- phpinfo : Phalcon version is : 2.1.0r on PHP 5.6.3.
- ArticleMultimedia::find() - work with all cases (test situations):

[code]

Still next code did not work (its like previous example) - get exception for a missing bind value:

[code]

And that is it :/ Thank you. Wish u luck!

[2016-04-12 07:21] laodalaoda520 commented on #11609
tks 4 help

[2016-04-12 11:39] nask0 commented on #11554
I guess this will fix the big i encountered and no need to open a separate issue ? Bug is :
[code]

Is there are known workaround for this or i must figure it out myself ? :)
Thanks in advance.

[2016-04-12 12:25] nsossonko commented on #11554
I think it's just because you never started the transaction. You have to call begin if you don't pass true for autoStart...

[2016-04-12 13:41] googlle commented on #11642
+1

[2016-04-12 17:02] sergeyklay commented on #11554
@nsossonko @nask0 Could you please check now `2.1.x` branch?

[2016-04-12 17:03] sergeyklay commented on #2632
@mrjameshamilton Could you please check `2.1.x` branch

[2016-04-12 17:04] sergeyklay commented on #11607
@mzf This is separated feature request

[2016-04-12 17:29] nask0 commented on #11554
@nsossonko [The documentation](https://docs.phalconphp.com/en/latest/reference/model-transactions.html#isolated-transactions) never told me to do begin(), moreover transaction is saved successfully, just always raise a exception.

@sergeyklay Ok, I will try 2.1 branch, thanks.

[2016-04-12 18:21] nask0 commented on #11554
@sergeyklay i still get the same exception ( [branch 2.1.x install log](http://pastebin.com/wUi2WuUy) / [exception dump](http://pastebin.com/CEkHBpxm) ).
However, @nsossonko was right and adding $tx->begin() after getting transaction fixes the issue, but i wonder what is _autoBegin_ parameter for then?

[2016-04-12 18:31] sergeyklay commented on #11554
Try `zephir build` from project root

[2016-04-12 18:54] nask0 commented on #11554
@sergeyklay sorry, i got [zephir error](http://pastebin.com/XiEhZQFM), maybe it's something on my side, but currently do not have time to investigate further.
If you have any tips, I will be glad to help :)

[2016-04-12 19:33] sergeyklay commented on #11554
@nask0 Could you please use latest Zephir? (master branch)

[2016-04-12 19:43] nask0 commented on #11554
I am already with it:
[code]

[2016-04-12 19:53] sergeyklay commented on #11554
@steffengy  Can you please figure out what's going on with Zephir on Fedora?

[2016-04-13 03:01] tnt2306 opened #11662 "Duplicate insert records in Chrome, help me!"
Reload page, there are two records insert to database, if using phsql will not generate error duplicate records
Testing on firefox is OK,  Chrome is ERROR ?

Help ... thanks all friends

- Phalcon 2.1.0.RC1 - Windows x86 for PHP 5.6.0 (vc11)
- Using: https://github.com/phalcon/mvc/tree/master/simple-volt

- Code in Controller
[code]

- Models User.php
[code]
- Database: Postgres
[code]

[2016-04-13 03:56] linchao0828 commented on #11551
Anybody help?

[2016-04-13 06:44] mrjameshamilton commented on #2632
Hi @sergeyklay, I'm no longer working with Phalcon. Hopefully someone else can check!

[2016-04-13 06:44] sergeyklay commented on #11662
Did you check this:
https://github.com/phalcon/cphalcon/issues/10761
https://github.com/phalcon/cphalcon/issues/1598

[2016-04-13 06:44] #2632 closed

[2016-04-13 09:49] ignaciovazquez commented on #1867
In my case it works fine on update, it just fails while creating new records.

I'd like to be able to get the initial data entered in the model via getChangedFields() and save it in an audit log.

[2016-04-13 10:17] #2567 closed

[2016-04-13 10:17] sergeyklay commented on #1867
The 1.3.x version is no longer supported.

[2016-04-13 10:17] #1867 closed

[2016-04-13 10:37] ignaciovazquez commented on #1867
It's happening in 2.0.8.

Should getChangedFields work on newly created records as well?

[2016-04-13 11:07] sergeyklay commented on #1867
Create separated issue please

[2016-04-13 20:45] tuxy opened #11665 "Remove from Blog "Final version in two weeks""
Can you please remove "Final version will be available in two weeks." from latest blog post "Phalcon 2.1.0 RC1 released" Because its been 3-weeks now and still no sign of v2.1 stable working anytime soon there is many bugs and its not working on [PHP7](https://github.com/phalcon/cphalcon/issues/11550). Thanks.

[2016-04-13 23:05] #11665 closed

[2016-04-14 00:57] cq-z opened #11666 "[php7 2.1.x]$view->registerEngines(array('.html' =>'\Phalcon\Mvc\View\Engine\Php')); error"
set $view->registerEngines(array('.html' =>'\Phalcon\Mvc\View\Engine\Php'));
the .html file is run。but $view->getContent()；is empty

[2016-04-14 00:58] cq-z commented on #11666
the code in [php56  2.1.x] is OK

[2016-04-14 06:59] sergeyklay commented on #11666
Refs #11583

[2016-04-14 06:59] #11666 closed

[2016-04-14 08:25] Jurigag commented on #11666
@sergeyklay "Duplicate"

[2016-04-14 08:33] sergeyklay commented on #11666
Thanks

[2016-04-14 08:34] cq-z commented on #11666
Thanks ALL

[2016-04-14 08:48] nask0 commented on #11554
I found interesting that if i put $tx->begin() on the very first transaction that is get executed (from TxManager), none of transactions is saved, but if i remove just this first begin, everything "works" :)

[2016-04-14 15:00] daison12006013 commented on #11554
@sergeyklay Just to confirm, I'm also getting the same bug right now when I rebuild my cphalcon on my local, remember this [11611](https://github.com/phalcon/cphalcon/issues/11611), when I rebuild it I got that error

It throws the same error but it successfully saved a record in the database.

I will definitely try this on my other pc

[2016-04-14 15:18] andresgutierrez commented on #11492
You have to compile using Zephir, the code C that is currently in the repo is for php5.

[2016-04-14 15:18] #11492 closed

[2016-04-14 16:01] nsossonko commented on #11554
The way transactions work is if you don't call begin on the transaction (or pass true for autoStart to get()) it will just create the model without a transaction. So what you are saying is not surprising. What you should test to verify this is: if you don't call begin and a second model fails after the first was created, then call rollback, see what happens. You should see the first model is creat

[2016-04-14 18:28] stefanchiriac commented on #10921
this hasn't been fixed yet? Using phalcon 2.0.10 and still having this problem

[2016-04-14 18:30] sergeyklay commented on #10921
@stefanchiriac Could you please provide script to reproduce?

[2016-04-14 23:59] daison12006013 commented on #11554
@nsossonko I don't know if this solution works on your side too, try to transform your 'db' service as shared/singleton.

You might initialized the **db** first before **dispatcher**, which causes the error on my side.

[2016-04-15 08:03] stefanchiriac commented on #10921
Ah, is not exactly the same. Now I see it, but is similar. For example:

    $acl->addResource(new Phalcon\Acl\Resource('*'), $actions);
Error

     Resource name cannot be '*'
This error makes sense since '*' is a wildcard and shouldn't be a resource. But then if I try directly to allow  all resources and all actions to a role, I get error.

    $acl->allow('admin', '*', '*')
Error

    "Resource

[2016-04-15 08:47] basilfx opened #11674 "Segfault in Phalcon_Loader_autoLoad"
For some reason, Phalcon's autoloader is segfaulting my application. This only happens when I invoke the Behat/Mink system test runner. I don't know where it happens, but probably somewhere in the bootstrapping part of Behat/Mink

I am using PHP 5.6.11-1ubuntu3.1.

I re-compiled latest 2.1.x with `-O0 -g3` to get more information from the coredump. I have the following:

In GDB, part of the backtr

[2016-04-15 09:20] nask0 commented on #11554
@nsossonko thanks for comment. I intetionally menation "pseudo" code in my comment.
However, lets leave behind for a moment the fact that  the [default value of autoBegin in transaction manager is (boolean) true](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/transaction/manager.zep#L168) and strart from very beginning :

1. Here is how i [load application ](https://gist.github.

[2016-04-15 09:46] basilfx commented on #11674
Ok, I probably found the cause.

I use a custom [`streamWrapper`](http://php.net/manual/en/class.streamwrapper.php) to preprocess/compile a PHP file when it is loaded (this was the easiest way to hook into the autoloader). The implementation proxies all methods, and intercepts two methods to invoke the logic.

So far I can tell, this segfault happens when you reference the protocol (e.g. I have an

[2016-04-15 11:46] sergeyklay commented on #11581
Fixed in `2.1.x` branch

[2016-04-15 11:46] #11581 closed

[2016-04-15 13:50] nsossonko commented on #11554
Actually @daison12006013 might be correct, you're not setting the db and transactionManager via setShared so it may be creating more than one. About autoBegin, you seem to be right about that, so it shouldn't be required. I use the transaction manager extensively in my application and it works quite well for me.

[2016-04-15 17:23] sergeyklay commented on #11650
Fixed in `2.1.x` branch

[2016-04-15 17:23] #11650 closed

[2016-04-15 17:24] #11662 closed

[2016-04-15 17:26] bombless commented on #11084
check https://docs.phalconphp.com/en/latest/reference/cookies.html for rember-me

[2016-04-15 17:28] #1013 closed

[2016-04-15 17:29] #839 closed

[2016-04-15 17:30] #1202 closed

[2016-04-15 17:31] #1833 closed

[2016-04-15 17:31] #1648 closed

[2016-04-15 17:32] #2032 closed

[2016-04-15 17:33] dedalozzo commented on #1202
Well you closed this, but this is a bug.

[2016-04-15 17:34] #2193 closed

[2016-04-15 17:34] #2382 closed

[2016-04-15 17:35] #2572 closed

[2016-04-15 17:36] #2873 closed

[2016-04-15 17:36] #2867 closed

[2016-04-15 17:36] #3088 closed

[2016-04-15 17:36] #10272 closed

[2016-04-15 17:37] #10676 closed

[2016-04-15 17:37] #10524 closed

[2016-04-15 17:37] #10517 closed

[2016-04-15 17:37] #10809 closed

[2016-04-15 17:38] #10738 closed

[2016-04-15 17:38] #10951 closed

[2016-04-15 17:38] #11088 closed

[2016-04-15 17:38] #11075 closed

[2016-04-15 17:39] #11046 closed

[2016-04-15 17:39] #11119 closed

[2016-04-15 17:39] #11201 closed

[2016-04-15 17:40] #11159 closed

[2016-04-15 17:40] #11607 closed

[2016-04-15 17:43] sergeyklay commented on #1202
+ No reaction since Aug 23, 2015, when issue was tagged as "not a bug"
+ We don support `1.3.x` a very long time

[2016-04-15 17:46] nask0 commented on #11554
@nsossonko ok, thanks. I will check all my code again and play with DI once i am done my current project  (deadline is soo soon :/). I will let you know guys, if i find anything else.
Thanks all again and keep up the good work, Phalcon is awesome project (for ten long years in PHP this is the only framework i still use today)

[2016-04-15 17:46] dedalozzo commented on #1202
You right. Just to be sure, doesn't this problem affect 2.x?

[2016-04-15 17:56] sergeyklay commented on #1202
I'm not sure. I'll open this issue again if the problem is present in 2.x

[2016-04-15 17:58] dedalozzo commented on #1202
I will check and I'll let you know.

[2016-04-15 17:58] sergeyklay commented on #11554
I'll open this issue again if the problem is actual

[2016-04-15 17:58] #11554 closed

[2016-04-15 19:22] sergeyklay commented on #11340
Fixed in `2.1.x` branch

[2016-04-15 19:22] #11340 closed

[2016-04-15 20:26] SoccerField24x7 opened #11679 "Model Object Stored in Session"
When storing an object in the session in the following manner:

[code]

it seems to be corrupting (destroying?) the session variable and causing me to log in again due to missing session data.  It's not always right away, but usually within a few seconds.  If I store the `findFirst()` results in a variable, and put $var->toArray() into the session, it doesn't produce the corruption.  I'm wondering

[2016-04-16 00:49] Green-Cat commented on #2032
@sergeyklay This is not resolved. Can be an issue with js frameworks like angular.

[2016-04-16 00:57] bombless commented on #2032
I was caught in similar scenario and I used something like
[code]
to work  around it.

[2016-04-16 03:25] andmm commented on #2032
I like the way Laravel's Blade handle this, they just prepend an @ an the output is escaped.

[2016-04-16 09:42] fenixphp commented on #11638
[code]
This configuration works with namespaces with annotation router.

[2016-04-16 10:53] makerlabs commented on #11679
Actually passing the object model to the session does the same thing it calls the serialize() method which returns
`return serialize($this->toArray());` check in your code that the storing of the object is the problem because I think the problem could be in the unserialize() call maybe some fancy code in your model initialize() method which is called after get the object from the session.

[2016-04-16 13:54] Fishfaceeast opened #11680 "Unable to compile Phalcon"
Below is part of the output. Hoping I can get some help.
[code]

[2016-04-16 14:01] Fishfaceeast commented on #11680
Besides, when I run ./configure --enable-phalcon

checking for grep that handles long lines and -e... /bin/grep
checking for egrep... /bin/grep -E
checking for a sed that does not truncate output... /bin/sed
checking for cc... cc
checking whether the C compiler works... no
configure: error: in `/home/ec2-user/service/cphalcon/build/64bits':
configure: error: C compiler cannot create executables

[2016-04-16 14:31] andresgutierrez commented on #11680
What version of php are you using? PHP 5.3 is not supported anymore

[2016-04-16 16:50] SoccerField24x7 commented on #11679
I don't think I was doing anything fancy:

    {% set wall = session.get("wall") %}

Then went on to use it as an object:

    {{ wall.name }}

Perhaps there's something in the unserialize()?  Or the relationships?  I still think there may be a bug here worth hunting.

[2016-04-16 19:46] mahmoud-eskandari commented on #1527
## Yes,This bug has been rolled back.

[2016-04-16 20:00] sergeyklay commented on #1527
create please separated issue with script to reproduce

[2016-04-17 17:04] afbora opened #11683 "Syntax error, unexpected token IS in Volt"
When i use a `is()` function in Volt, like that:

[code]

I guess, `is` word conflicting with Volt and i get following error:

Than tried `isMobile` function that `is` word contains, but this is working, no errors:

[code]

[2016-04-18 12:31] dschissler opened #11686 "Phalcon\Http\Response needs non-buffered output handing for server-sent message API"
Currently Phalcon is not very well suited to work with server-sent messages using [EventSource](https://developer.mozilla.org/en-US/docs/Web/API/EventSource).  This new API provides a much more efficient message update retrieval than long AJAX polling and it is much simpler than Websockets (although not a replacement for complex uses).  The problem is that Phalcon\Http\Response expects that the re

[2016-04-18 12:43] dschissler commented on #11686
Perhaps the required functionality could be offered by adding 3 methods to `Response`.

1) Response::startOutputBuffer() - instantiates an array
2) Response::addBufferedText() - adds entries to array
3) Response::flushOutputBuffer() - writes out buffer by iterating through array and then calling flush methods.

Then to start an output buffer you would first need to have used `Response::send` so th

[2016-04-18 13:52] Fishfaceeast commented on #11680
@andresgutierrez  Oh, my php version is 5.3.29. So I will try the 5.6 version.

[2016-04-18 14:27] alkana opened #11687 "Error on create new model with only 1 column auto-increment"
Hello,

I'm trying to insert (MySQL) new row in this table :

[code]

My table have only 1 column (and it's an auto-increment)

The model corresponding :

[code]

So, when I try to create new group like that :

[code]

Phalcon throw an exception `Phalcon\Db\Exception: Unable to insert into group without data`

This exception come from:
https://github.com/phalcon/cphalcon/blob/phalcon-v2.0.10/phalc

[2016-04-18 23:03] SidRoberts commented on #11687
FWIW, you can get around this problem by adding a timestamp field (see https://docs.phalconphp.com/en/latest/reference/models.html#timestampable).

[2016-04-19 04:58] Mechzeit opened #11688 "CLI Dispatcher event 'beforeException' executes after exception"
If I'm not mistaken, should 'beforeException' be executed before the exception is thrown, or is there something I'm missing here?

https://github.com/phalcon/cphalcon/blob/d9373cade45619ff981ed71beabfe5542363f585/phalcon/cli/dispatcher.zep#L112

[2016-04-19 04:59] Mechzeit commented on #11688
Disregard this, my exception handled is too sensitive.
The 'throw' actually occurs after the Exception class is constructed :)

[2016-04-19 04:59] #11688 closed

[2016-04-19 05:08] moazzamk commented on #11587
You can also just use PHP redis . It is what Phalcon uses to make calls to redis .

[2016-04-19 05:31] moazzamk commented on #11587
radean0909: Do you have multiple databases on the Redis server? I just tried to connect to a Redis server that requires a password and I was able to do it without any issues (using phalcon). And, it throws an exception if the authentication is wrong.

[2016-04-19 08:01] ddonng commented on #11156
Hope +1

[2016-04-19 08:53] alkana commented on #11687
Hi,

Thank you for your answer.

I did something like that, I added a field who maybe one day I will use.

[2016-04-19 09:13] mansoorriaaz commented on #2052
+1

[2016-04-19 12:06] stefanchiriac commented on #10921
any chance for this to get in 2.0.x and 2.1.x ?

[2016-04-19 12:24] Lewiscowles1986 commented on #11635
please see https://gist.github.com/Lewiscowles1986/4928f7dd04c599b64ba041fd7334f9c3 for compilation in a ubuntu environment, as long as you get the deps right, you should be able to use the other steps to build on any OS

[2016-04-19 13:06] sergeyklay commented on #10921
I'll try to deal as soon as I can. Please ping me if I forget

[2016-04-19 17:37] dschissler commented on #11334
@sergeyklay I'm currently doing a pass on all of the FIXME and TODO notes in my server code.  I've noticed some consistently probably incorrect usage of the word "deprecate" from the Phalcon team.  It seems to me that deprecate means that there is a warning that the functionality will cease to be offered in the future but then here I see that you are saying that it will be removed.  I've also noti

[2016-04-19 17:45] dschissler commented on #11173
I have some ideas for how it would look.  Perhaps we could decide on how we would like it to be first.

[code]

[code]

[code]

[2016-04-20 09:15] nagaho opened #11689 "phalcon apc_fetch not support array(multiple key)?"
http://php.net/manual/en/function.apc-fetch.php
https://github.com/phalcon/cphalcon/blob/master/phalcon/cache/backend/apc.zep#L59

[2016-04-20 09:49] sergeyklay commented on #11689
Do you mean Phalcon Cache interface?
https://github.com/phalcon/cphalcon/blob/master/phalcon/cache/backendinterface.zep#L91

[2016-04-20 10:42] butamuh4o commented on #11605
Did someone check that?

[2016-04-20 10:48] sergeyklay commented on #11605
I'll try to look soon

[2016-04-20 10:54] nagaho commented on #11689
yes.

[2016-04-20 15:34] sergeyklay commented on #11689
You propose to refacor all cache adapters which implemets cache interface? can't understand

[2016-04-20 18:01] micheleangioni commented on #2294
I confirm that Phalcon 2.0.10 is affected as well!
Imho this needs a quick fix!

[2016-04-20 18:13] dedalozzo commented on #1202
Phalcon 2 doesn't have this bug anymore, just checked.

[2016-04-20 20:24] quasipickle opened #11690 "[bug/nfr] QueryBuilder->groupBy() should throw exception"
_Running 2.0.10_

I was building a query with QueryBuilder, and called `groupBy()` like so:

[code]

This caused no problem, and I could see the correct query being sent to my database.  However, I was paginating the results, and calling `groupBy()` like this caused the Paginator's rowcount query to start like this:

[code]

which therefore caused an exception.

Calling `groupBy()` like this, fixe

[2016-04-21 01:03] nagaho commented on #11689
Phalcon Apc class get method parameter keyName is only string. However apc_fetch's parameter supports not only String but also Array. Need not support multiple key?

[2016-04-21 05:52] sergeyklay commented on #1202
Thanks

[2016-04-21 05:54] sergeyklay commented on #11689
In order to do this we have modify cache interface and all adapters

[2016-04-21 06:52] nagaho commented on #11689
OK. I'll use general APC lib from now, and develop multiple get and set when I'm available. Thanks.

[2016-04-21 06:53] #11689 closed

[2016-04-21 10:42] dschissler opened #11692 "[NFR] Add first class server-sent message capability"
I'm experimenting with the new [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events) API and I'm finding that it is rather awkward to tear down and to rebuild the buffering.  My new idea for this Response macro composite function is similar to my #3073 bug where as a result it was decided that `Response::redirect` should   automatically

[2016-04-21 11:44] fenixphp commented on #11585
[code]
There will always be ``` Index ```
But this approach will cripple the whole namespace for the controllers.

Not very elegant but saves in such a situation.
[code]

PS: All the jump from the bridge, you bend down, too?

[2016-04-21 12:01] xkos opened #11693 "Bad gateway 502 when use Xhprof with php5.6 + nginx + phalcon2.0.x"
this is my environment
`debian 8
nginx 1.8
php 5.6
phalcon 2.0.x
xhprof 0.9.2`
when i running i get error 502:
`2016/04/21 19:48:08 [error] 21873#21873: *189 recv() failed (104: Connection reset by peer) while reading response header from upstream, client: 127.0.0.1, server: xxx, request: "GET / HTTP/1.1", upstream: "fastcgi://unix:/to/path/php-fpm.sock:", host: "xxx"`
this is gdb trace:
`Program

[2016-04-21 19:10] butamuh4o commented on #11605
Thank you. May the force be with u! :) always :)

[2016-04-21 21:10] daison12006013 opened #11694 "[Security] for Session Adapters write and read."
Any plan encrypting stored session data and when reading it decrypt it? since I think it exposes stored values, most developer's mistake are like storing user-credentials/sensitive-information going to session, and if there's a chance a server granted to hackers, they could easily read those raw values.

or by a chance having a directory traversal process to hook session files, that might be possi

[2016-04-21 21:33] alanbarber111 commented on #2705
@phalcon I have a situation where we are using the query builder in combination with another layer of abstraction.

It's not possible to use bound parameters - is there no way to disable the parser cache at run time?

[2016-04-22 10:15] Jurigag commented on #11693
Maybe its just a bug with xhprof ?

[2016-04-23 16:09] Jurigag opened #11703 "CallMacro issue"
Shouldn't there: https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/view/engine/volt.zep#L296

Be call_user_func_array ?

Right now i added php function to compiler:

[code]

And it doesn't works, no error is produced, any code after this line is not executed.

We really need that zephir will dump any errors that will be produced inside extension and caused internally by php code to user.

[2016-04-23 17:01] Jurigag commented on #11703
Also i don't know how it wasn't reported before @sergeyklay or was it ?

[2016-04-23 17:22] #11703 closed

[2016-04-23 17:25] Jurigag commented on #10655
@DestinyMKas actually there were a bug for sure, it's now fixed both in 2.0.x and 2.1.x branch

[2016-04-24 05:37] TomomiSawako opened #11707 "MongoClient class is deprecated?"
Notice from http://php.net/manual/en/class.mongoclient.php

[2016-04-24 09:54] sergeyklay commented on #11707
Refs https://github.com/phalcon/cphalcon/issues/11156

[2016-04-24 09:54] #11707 closed

[2016-04-24 11:13] stefanchiriac commented on #11635
I can confirm this doesn't work on ubuntu 16.04 php 7.0.4

[code]

Segmentation fault (core dumped)

[2016-04-24 11:15] Lewiscowles1986 commented on #11635
@stefanchiriac are you using docker per-chance?

If so, I get the same error in docker, but I'm pretty sure it's an issue with docker, not the build

[2016-04-24 11:21] stefanchiriac commented on #11635
no docker. Is a fresh Ubuntu 16.04 x64 install on my main desktop

[2016-04-24 11:31] ulfims commented on #11156
If i'm intersted to implement new driver, how can I do?

[2016-04-24 11:39] ulfims commented on #11156
Or someone already did this?

[2016-04-24 12:14] sergeyklay commented on #11156
I offer to do it first for Incubator. We will be able to evaluate his work and usefulness. Will be able to test and see thin places. Then we can port it to the Phalcon Core

[2016-04-24 14:38] Jurigag opened #11708 "[NFR]Namespace alias for Phalcon\Mvc\Model\Criteria"
Currently namespace aliases only works for ```Phalcon\Mvc\Model\Manager```. It could be nice if it could possible works for ```Phalcon\Mvc\Model\Criteria``` too so we can use namespace aliases in ```Phalcon\Mvc\Model::query()```.

Only not sure why ```Phalcon\Mvc\Model\Criteria``` is seperated class. Why it can't use manager or extend it ?

What exactly for it is ?

[2016-04-24 14:41] #11708 closed

[2016-04-24 14:42] Lewiscowles1986 commented on #11635
any more info on the error, anyone have any ideas what could cause this?
https://kb.iu.edu/d/aqsj

[2016-04-24 14:43] andresgutierrez commented on #11635
Try updating Zephir to the latest commit on master and then try compiling again.

[2016-04-24 15:38] stefanchiriac commented on #11635
I am already on latest version of master. The problem must be somewhere else.

[2016-04-24 19:58] trinaldi commented on #11635
Can confirm. Fresh install of Ubuntu 16.04 and getting the same SEGFAULT error.

[2016-04-24 22:17] ogarbe opened #11709 "[2.1.x] Service resolve raise a warning"
Hello,

These lines raises a warning in 2.1.x : https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/di/service.zep#L173-L178

I initialize all my code with error Exception when warning or notice :

[code]

and when trying to resolve a closure, here is the error i face :

[code]

In 2.0.x these lines didn't exists, hence no error.

[2016-04-24 22:21] andresgutierrez commented on #11709
This happens because of this:

https://github.com/phalcon/cphalcon/blob/2.1.x/CHANGELOG.md

https://github.com/phalcon/cphalcon/issues/11029#issuecomment-200612702

[2016-04-24 22:25] ogarbe commented on #11709
thanks andres, but how can we get rid of the warning ?

[2016-04-24 22:33] andresgutierrez commented on #11709
Some service is returning a closure which was created in a static context thus generating the exception. To avoid this you have to avoid return a static-created closure to the di->resolve method.

[2016-04-25 07:55] jamesduan commented on #11680
@Fishfaceeast i meet the same problem , you fix it? i need a help for this.

[2016-04-25 07:59] ogarbe commented on #11709
@andresgutierrez

https://docs.phalconphp.com/en/latest/reference/di.html

the use os static closure is in the documentation for Phalcon, it

[code]

how would you change this (which is very handy) ?

[2016-04-25 08:14] Fishfaceeast commented on #11680
@jamesduan no... I have not upgrade my PHP...I am busy with establishing MYSQL tables for my website. But I decided to upgrade my PHP today and see whether can Phalcon be compiled. I love Phalcon.

[2016-04-25 08:23] jamesduan commented on #11680
Okay~

[2016-04-25 12:48] slilin opened #11711 "is the view path case insensitive in phalcon 2.1.x?"
i found the view dir case insensitive when i use phalcon 2.1.x
i use debian os
this is my folder:

when i run it, it show nothing
when i change the folder name index to Index, it works.
is the view path case insensitive in phalcon 2.1.x?
can i setting it to gnore case?

[2016-04-25 12:51] yurikosan commented on #2028
How to receive ([a-z+]) as a dispatcher's parameter?

[2016-04-25 13:36] andresgutierrez commented on #11709
@ogarbe That example works for me in 2.1.x

[2016-04-25 13:37] #11680 closed

[2016-04-25 13:38] andresgutierrez commented on #11711
It always uses lowercase, also for questions like this you can use forum: https://forum.phalconphp.com/

[2016-04-25 13:38] #11711 closed

[2016-04-25 13:46] stefanchiriac commented on #10921
@sergeyklay  any news?

[2016-04-25 15:22] surjit opened #11713 "implement interface Phalcon\ValidationInterface, instance of Phalcon\Mvc\Model\Validator\Uniqueness given"
I used this example https://docs.phalconphp.com/en/latest/api/Phalcon_Mvc_Model_Validator_Uniqueness.html

[2016-04-25 15:24] andresgutierrez commented on #11713
What version of Phalcon are you using?

[2016-04-25 16:48] surjit commented on #11713
phalcon_x86_vc11_php5.6.0_2.1.0.RC1.zip

[2016-04-25 17:31] JCMais commented on #11683
Not a bug, ``is`` _is_ a reserved word. https://docs.phalconphp.com/en/latest/reference/volt.html#other-operators

[2016-04-25 18:23] afbora commented on #11683
@JCMais i know that `is` reserved. But could be override or ignore like that `\is`.

[2016-04-25 18:27] sergeyklay commented on #11683
`$is` ?

[2016-04-25 21:22] afbora commented on #11683
@sergeyklay I tried like your said as following:

    {% if !mobileDetect.$is('Chrome') %}

Getting that error:

[2016-04-26 06:02] friparia opened #11714 "Proposal: support usort function in resultset"
Sometimes it is useful to sort the resultset by the customized sort function, but i find it not implemented this function.
The code maybe like this:
[code]

[2016-04-26 07:13] makerlabs commented on #11683
Even if "is" is a reserved word it should be ignored when called like a method. So a Bug to me

[2016-04-26 09:59] Jurigag commented on #11714
Whats a problem with sorting in mysql ?

[2016-04-26 10:05] friparia commented on #11714
@Jurigag a part of data is not stored in mysql database

[2016-04-26 10:06] Jurigag commented on #11714
So what database you are using ? It's not providing order functionallity ?

[2016-04-26 10:16] friparia commented on #11714
well, i get a set of data from mysql, and then i need to fetch data in redis for each row and calculate a value, after that, i need to sort all the resultset. And i think usort is a more convenient way to finish my work.

[2016-04-26 10:17] Jurigag commented on #11714
Then it's bad behaviour beacause it will be slower.

[2016-04-26 10:22] friparia commented on #11714
That's a better way, anyway, thanks.

[2016-04-26 10:22] #11714 closed

[2016-04-26 10:27] Jurigag commented on #11714
In mysql you have indexes etc. If you do some testing you will figure it out that ordering in mysql is almost always faster than by php functions. Well maybe this functionality would be nice if we order it on some small resultset, then performance difference would not be huge but still.

[2016-04-26 10:39] friparia commented on #11714
Yes, it is a convenient function for coding but not a fast function for the application.

[2016-04-26 11:27] RaitoCZ commented on #10818
Because of how Phalcon models relations are handled, they create their own transaction when **save()** is called. Because your **User** has relation **Gender**, it opens its own transaction for this relation and then, after **save()** fails it does not close this transactions. So basically, you are in two transactions, not one. If you call $db->rollback(); twice, you will get no error and everythi

[2016-04-26 11:31] Newbas opened #11715 "UrlManager get"
In Url manager there is regular expression to check is it local URL or not, and we got problem with colon in url, if colon exists in URL, then manager use it as not local. But it is not true.

Here:
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/url.zep#L188
`preg_match("#^(//)|([a-z0-9]+://)|([a-z0-9]+:)#i", uri)`
Line begin here used only for //, not for all components of regexp.

h

[2016-04-26 12:24] dschissler commented on #11173
It would be great to have this worked out before Phalcon 2.1 goes into 3 years of LTS.  If we don't address this now then we could be stuck with a weird setup for multiple fields for the next 5 years.@sergeyklay @andresgutierrez Please spend just a few minutes to think about this before releasing 2.1.

Ok so sure there are tons of bugs on the issue tracker that need to be addressed but I think tha

[2016-04-26 13:36] sergeyklay commented on #11715
Looks good to me. Could you please create a PR with small test case?

[2016-04-26 20:50] Newbas commented on #11715
Ok, will do it.

[2016-04-26 22:38] #11025 closed

[2016-04-27 01:38] Jurigag commented on #11550
@sergeyklay

Any idea why there is seg fault when running `FormsTest::testFormValidatorEntity` https://github.com/phalcon/cphalcon/blob/2.1.x/unit-tests/FormsTest.php#L368 - there is stacktrace http://pastebin.com/uzZ2cS8P ?

I copied code from this test to my seperated file and tested it myself and it works. But in test on validating it it fails. Weird

[2016-04-27 02:03] Jurigag commented on #11666
@cq-z it should work fine now when phalcon is compiled with newest zephir

[2016-04-27 03:19] cq-z commented on #11666
[code]
now is OK .
Thanks

[2016-04-27 05:36] sergeyklay commented on #11583
@AniaSoft Could you please compile 2.1.x by using latest Zephir (master)?

[2016-04-27 09:03] Jurigag commented on #11583
Yea and you can go back to `'.phtml' => 'Phalcon\Mvc\View\Engine\Php'`

[2016-04-28 06:50] abdul-khaliq commented on #11635
Phalcon is not working
using windows 10
PHP 7.0.4

[2016-04-28 06:52] Jurigag commented on #11635
What you mean it's not working ?

[2016-04-28 07:02] abdul-khaliq commented on #11635
PHP Version 7.0.4
Downloaded DLL:
![php-version](https://cloud.githubusercontent.com/assets/11338777/14877826/24a538e4-0d3d-11e6-82da-ab585c3456d0.jpg)

Phalcon 2.1.0.RC1 - Windows x86 for PHP 5.6.0 NTS (vc11)
March 22 2016 22:25:40 EDT / sha1: b19581586af38a60cee50f30e77f3f639c15da7a

C:\xampp\php\php.ini
extension=php_phalcon.dll

DLL is not available for php 7 so i tried latest 5.6.0 but i cant

[2016-04-28 07:07] stefanchiriac commented on #11635
that dll is for PHP 5.6. Is not possible to work on PHP 7.0. Downgrade your php to 5.6

[2016-04-28 07:07] Green-Cat commented on #11635
You cannot use DLLs built for older versions of php. That doesn't work for any extensions.

[2016-04-28 07:07] Green-Cat commented on #11635
If you want to try phalcon 2.1.x on  windows (it has known bugs), then you need to build it from source.

[2016-04-28 07:09] abdul-khaliq commented on #11635
downgrade is problem now because many of my project are associated with 7... i've to find out other solution.

Thanks friends (y)

[2016-04-28 07:11] stefanchiriac commented on #11635
now back to topic, any news about the segmentation fault on ubuntu 16.04?

[2016-04-28 07:47] Jurigag commented on #11635
@abdul-khaliq

Wait a minute. You were writing whole project on phalcon and php7 and you are checking now if it's working ?

@stefanchiriac I still don't see the stack trace. No one even posted it.

[2016-04-28 08:38] abdul-khaliq commented on #11635
@Jurigag

no i didn't write on php 7 and phalcon. Before i was using ubuntu 14.04 and php 5.6. Now i switched to windows and installed php 7 (xampp). so now i'm facing problem because there is no phalcon dll available for php 7.

Thanks

[2016-04-28 08:58] stefanchiriac commented on #11635
@abdul-khaliq
on windows you can run on the same time another xampp with php 5.6. Just make sure you change the apache port to something else and don't start mysql.

[2016-04-28 09:22] Jurigag commented on #11635
@stefanchiriac so just switch to php 5.6

[2016-04-28 20:15] stefanchiriac commented on #11635
@Jurigag I did a gdb php /path/to/cphalcon but it says

so what should be the path? I never done this before

When it says segmentation fault it doesn't give any other details

[2016-04-28 20:31] Jurigag commented on #11635
It should be path to crash dump. Read more here:

https://bugs.php.net/bugs-generating-backtrace.php

[2016-04-29 02:23] al35mm opened #11722 "Issue with Redis adaptor in 2.0.10"
Deleting a Redis cache key does not work - `$this->cache->delete($key);`. I am sure it was working in previous version of Phalcon, however, Redis sessions were not working in last version. I haven't tried in current version. Can anyone give me a status of Redis adaptor please? Is this a bug?

[2016-04-29 10:19] bkirova opened #11725 "CollectionManager hard coded "mongo" string"
[code]

Can you please use a settable variable for the connection service name instead of a hard coded string like "mongo" .

[2016-04-29 12:52] douglasjam commented on #2338
had same error today, should be explicity this solution

[2016-04-29 13:48] makerlabs opened #11726 "hasOne() relationship not working properly in 2.0.x"
Lets say we have something like this:
User model:

[code]

UserProfile model:

[code]

And we try to assign two different User object instances:

[code]

Our result:
[code]

It seems like phalcon is trying to save the first User object rather then the second one.

[2016-04-29 14:06] sergeyklay commented on #11725
@AlexKomrakov Could you please deal with this?

[2016-04-29 14:13] Jurigag commented on #11726
```'alias' => 'User'```

But you are using

```$profile->user```

[2016-04-29 14:26] makerlabs commented on #11726
@Jurigag I use it properly u use the lowercase lookup the documentation. Actually in this case i could omit the alias because there is no conflict in the relations.

[2016-04-29 14:28] Jurigag commented on #11726
Well then there must be mistake in documentation. It should be actually used as lowercase.

[2016-04-29 14:34] makerlabs commented on #11726
@Jurigag ok but this isn't the issue here the issue here is the object assign not the case of the variable...

[2016-04-29 14:38] Jurigag commented on #11726
Well actually im checking the source and it's always setting to lower so there is no difference.

[2016-04-29 15:03] makerlabs commented on #11726
Yeah your resolution is working fine which is strange because accodring to the code it should work the same. Maybe it's more like a zephir bug in this case?

[2016-04-29 15:03] Jurigag commented on #11726
@makerlabs refresh page, i wrote why it's not working :)

[2016-04-29 15:08] makerlabs commented on #11726
@Jurigag According totally missed that you're right :)

[2016-04-29 15:10] Jurigag commented on #11726
Well it could be easly fixed in zephir if it could support references(but it doesn't). Right now the fix to this issue(if it's not intentional) would be to set related values actually when saving/creating them, not when setting property.

[2016-04-29 23:59] stamster commented on #11693
So, xhprof binary causes this SegFault. Did you try running it w/o Phalcon binary? Just remove/rename phalcon.ini from mods-available dir of PHP.

[2016-04-30 00:43] Jurigag commented on #11550
Well all tests are almost working(need to figure out one some not passing). But i have seg fault on
[code]

What is this test is passing and after that i have seg fault, it's possible that there are some problems with php GC. Don't know how to make it working. I tried disable_gc() and gc_collect_cycles(), none seems to work.

It looks like this - http://pastebin.com/w0LPM7KH

Can someone test it t

[2016-04-30 08:20] slilin commented on #11693
@stamster  i run xhprof without phalcon, and it works

[2016-04-30 09:20] Jurigag commented on #11693
You know that last update to xhprof was lik 2-3 years ago ?

[2016-04-30 15:31] fenixphp commented on #11638
php_phalcon.dll create 05-02-2016 This problem does not exist.
A php_phalcon.dll for the March 22, 2016 22:25:39 problem at all settings.

[2016-04-30 20:22] Jurigag commented on #11550
@sergeyklay

Updated with some tests related things.

[2016-04-30 20:35] Jurigag opened #11728 "PHP7 phalcon_replace_paths not working properly"
On php7 there is problem with phalcon_replace_paths. There is code to test it:

[code]

So phalcon_replace_paths which is executed here https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/mvc/url.zep#L235 is actually replacing them but with null values.

I checked variables which are passed to this method and they look fine:

[code]

It need to be fix in C i guess so if someone want fix it don'

[2016-04-30 21:52] fenixphp commented on #11713
#11464

[2016-05-01 02:44] slilin commented on #11693
I know. And I'm wondering why it stop updating. it is a good tools for me.
Then, what tool should I use to analyze  performance with phalcon? Can you give me some suggest?
@Jurigag

[2016-05-01 09:54] Jurigag commented on #11693
xdebug ?

[2016-05-01 14:46] malletjo commented on #10779
fyi: have the same issue in 2.0.10 too ( at least for the belongsto ) and the uppercase worked

[2016-05-02 03:46] slilin commented on #11693
thinks , i will try it

[2016-05-02 09:54] cwhsu1984 commented on #11203
Try to use phalcon 2.1.x with php7 on my docker. Get the same issues as @cdekok.
I don't have `Zephir`, so I use `./install`. If I only install php7 by `apt-get install php7.0` then it cannot find `phpize`. In order to make `./install` work, I have to install `php7.0-dev`.

`php -v `
[code]

`./install`
[code]

And it does not work at master branch either.
`git checkout master`
`./install`

[code]

[2016-05-02 10:06] Jurigag commented on #11203
Doesn't you have to clear ext and compile it with zephir ? As far as i know compiled c and h files in phalcon are for php 5.x ?

[2016-05-02 11:05] Jurigag commented on #11728
Fixed by https://github.com/phalcon/cphalcon/commit/c3f34872c49bc0ad40167c08b833f76682de9dfb

[2016-05-02 11:05] #11728 closed

[2016-05-03 01:14] cwhsu1984 commented on #11203
@Jurigag
https://blog.phalconphp.com/post/phalcon-2-1-beta-released

Help with Testing
This version can be installed from the 2.1.x branch. If you don't have Zephir installed follow these instructions:

[code]

[2016-05-03 07:41] lujunjie521 opened #11733 "session_set_save_handler error in php7"
when use memcache,redis to save session, but `session_set_save_handler->write` has a bug,
`function write($id, $data)` need bool return, but in the source miss the return :+1:

/phalcon/session/adapter/redis.zep line:125
[code]
so ,i think the follow coding maybe right:
[code]

[2016-05-03 07:51] hinablue commented on #10912
Every `handle` called will reset the `this->_stopped` to `false`, so middleware will never stop. If use the `this->_stopped` to check.

https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/micro.zep#L642

[2016-05-03 09:39] Jurigag commented on #11203
@cwhsu1984

Did you even read my post ? You need to clone it, install zephir, clear ext using zephir fullclean and then compile it using zephir build. Phalcon have compiled zephir classes to c etc for php 5.x i guess, not php 7.

[2016-05-03 09:55] Jurigag commented on #11550
@sergeyklay

Well there is still some problem with xdebug - this testing is failing - https://travis-ci.org/phalcon/cphalcon/jobs/127384575#L1789 - i wrote in the list why. But well on php 5.x it's passing so don't know if it's not a bug in debug ?

[2016-05-03 21:47] stanleer commented on #11579
+1

[2016-05-03 22:12] CheckMater commented on #2937
This is still not yet fixed in version 2.0.10, we have to still use the fix that appear in the first comment or the following if you are trying to set the schema you configured in your default adapter

[code]

[2016-05-04 01:03] mervick opened #11735 "Cssmin filter outputs invalid CSS"
This code

[code]

transforms to

[code]

[2016-05-04 01:57] cwhsu1984 commented on #11203
@Jurigag

ah... I read the blogpost carelessly. So you must use Zephir if you want to use php7. Well, I don't want to use Zephir, so I will just wait for the next release. Thanks!

[2016-05-04 07:46] sergeyklay commented on #11735
You want to minimize minimized css?

[2016-05-04 08:02] lockz opened #11736 "Bug with forms custom value."
Hi,
When i use custom input in my form in CRUD it work on ADD method but not work in EDIT.
In form i used custom value getter `$form->getMyCustomField();`. But when entity is assigned (in edit mode) it not worked. I think `public function getValue(string! name)` method have an error. It firstly check for `if method_exists(this, "getCustomValue") {` then if it failed, it check entity getter and las

[2016-05-04 08:20] lockz commented on #11736
I'm sorry it's work fine. My mistake, i used alias name as custom value name and it was fails when trying to convert `Phalcon\Mvc\Model\Resultset\Simple` to string.

[2016-05-04 08:27] lockz commented on #11736
But it's still not inconvenient to use. I want to make some changes before it rendered in HTML form, but  method `"get" . camelize(name)` never fire when this method name have in model. Method `getCustomValue` is inconvenient to use when i want to change 1 field.

[2016-05-04 09:08] JSONValidator opened #11737 "cssmin"
[code]

[code]

and result:
`body{background: #ffffff;font-family: 'Roboto', sans-serif;font-size: 18px;font-weight: 400;color: #0c0c0c;};
`last semicolon is a bug?

[2016-05-04 10:20] stratoss opened #11738 "webtools has wrong APP_PATH by default"
Hi, I'm playing around with Phalcon, and found an issue:

1) Created a project with `phalcon project test`
2) Enabled the web-tools with `phalcon webtools enable`
3) The main site saying that i'm flying with you, which is OK but
4) Trying to create a controller through `/webtools.php?_url=/controllers` I've got a message stating
[code]

Debugging around and I found that `/app/config/config.php` is

[2016-05-04 10:43] sergeyklay commented on #11738
This is not Phalcon issue. Could you please open issue at [Devtools repo](https://github.com/phalcon/phalcon-devtools)?

[2016-05-04 10:48] 4-1-1 opened #11739 "After use $model->toArray(), $model can not be each anymore."
![image](https://cloud.githubusercontent.com/assets/4401981/15012088/673285a0-1228-11e6-9225-8eade17fb717.png)
when the rows nums more than eighty.
After  use $model->toArray(), $model can not be each anymore.

is it a bug?

[2016-05-04 12:18] Jurigag commented on #11739
Wtf is `$dataresult->toArray()` you can just do `if(!empty($dataresult)` ? I guess you have too little memory to do toarray.

Also first create thread on forum, if you sure if it's issue then create issue. Also use binding.

[2016-05-04 13:09] mervick commented on #11735
Yes, I want to minimize/join all styles (of course not for Production)

[2016-05-04 13:22] SidRoberts commented on #11739
Actually, you use just use:

[code]

Binding parameters: https://docs.phalconphp.com/zh/latest/reference/models.html#binding-parameters

[2016-05-04 13:39] Jurigag commented on #11739
Well i wasn't sure.

[2016-05-04 13:46] sergeyklay commented on #11735
Try to use something like:

[code]

[2016-05-04 14:20] johnlfoleyiii opened #11740 "Phalcon Query Error"
I am using Phalcon 2.0.10.

I am continually getting an error message saying:

Column 'distance' doesn't belong to any of the selected models (1), when preparing: SELECT ((ACOS(SIN(28.4272128*PI()/180)*SIN(Beacon.latitude*PI()/180)+COS(28.4272128*PI()/180)*COS(Beacon.latitude*PI()/180)*COS((-81.3078388006-Beacon.longitude)*PI()/180))*180/PI())*60*1.1515*1.609344) as distance, Beacon.* FROM [Beacon

[2016-05-04 14:52] mervick commented on #11735
I use my own AssetManager/CssminFilter with support for asset bundles and dependencies.
In my filter (extended Cssmin) fixes relative paths to resources (e.g. url('../../whatever')),
so I can't just turn off it.
Besides, in my filter this bug was fixed with this
[code]

[2016-05-04 15:00] mervick commented on #11737
addJs ?, maybe addCss

[2016-05-04 15:52] #11737 closed

[2016-05-04 17:07] ugurozturk commented on #11713
Same as here full xdebug error :

 Catchable fatal error: Argument 2 passed to Phalcon\Validation::add() must implement interface Phalcon\Validation\ValidatorInterface, instance of Phalcon\Mvc\Model\Validator\Uniqueness given in C:\laragon\www\notpaylasim\app\models\Users.php on line 34

2.1.0 RC 1

[2016-05-04 18:12] sergeyklay commented on #11713
Documentation isn't fully updated yet. So you guys are using the documentation related to the Phalcon 2.0.x for Phalcon 2.1.x. As @fenixphp mentioned see #11464

[2016-05-04 18:12] #11713 closed

[2016-05-04 19:27] #11740 closed

[2016-05-04 19:36] ugurozturk commented on #11713
@sergeyklay I tried to use it too. Then the Uniqueness had throw up like something gone wrong. Installed Phalcon 2.0.9 and everyting works fine for now

[2016-05-05 04:21] dschissler opened #11743 "[2.1.x] Compile warning about Phalcon\Mvc\Group"
I'm building from the latest 2.1.x branch.

[code]

[2016-05-05 09:05] fantua opened #11744 "Model default value incorrect behavior"
[code]

Is that ok?

[2016-05-05 09:12] sergeyklay commented on #11744
You have to use `beforeValidationOnCreate`, `beforeValidationOnUpdate`, etc. For example: https://github.com/phalcon/forum/blob/master/app/models/Posts.php#L190

[2016-05-05 09:14] Jurigag commented on #11744
Yes, that it's okay. Checking for nulls happens before validation.

[2016-05-05 09:16] fantua commented on #11744
[code]

I think that isn't ok

[2016-05-05 09:27] Jurigag commented on #11744
What database you are using ? you sure you have setted it okay ?

[2016-05-05 09:29] fantua commented on #11744
Mysql. Yes. [http://prntscr.com/b0hrjg](url)

After page refresh $model->getSearchTags() return null.

[2016-05-05 09:50] Jurigag commented on #11744
Well actually it doesn't gonna work in the way you want. Phalcon is not getting value for `default`.

I think there should be some other way to do it. Perhaps using metadata ?

[2016-05-05 09:56] wiesl opened #11745 "2.0.11: Macro was called without parameter condition"
After upgrading to 2.0.11 I'm getting the following error: Macro was called without parameter condition

Reverting to 2.0.10 works well.
[code]
Looks like it comes from the following change:

Any ideas?
https://forum.phalconphp.com/discussion/11419/2011-macro-was-called-without-parameter-condition

Well actually it was done to fix custom user functions, filters etc beacause they weren't working(th

[2016-05-05 09:58] Jurigag commented on #11745
I think it's not a problem with `calluser_func_array`. I think the condition can be just passed as `count_data > 0` here. It expects variable i think, not expression.

[2016-05-05 10:05] wiesl commented on #11745
{% set countdataflag = count_data > 0 %}

{{ conditionaldate(countdataflag, tdate, ttime, tz) }}

But still the same.

[2016-05-05 10:07] Jurigag commented on #11745
Well, then i don't know what's going on. Try to pass value of `count_data > 0` as view variable, just to test it it's not a some problem in this case.

[2016-05-05 10:12] wiesl commented on #11745
I guess it comes from the following change:
Fixed `Phalcon\Mvc\View\Engine\Volt::callMacro` bug. Now it's correctly calling `call_user_func_array` instead of `call_user_func`

[2016-05-05 10:13] Jurigag commented on #11745
Not it doesn't. callMacro is not executed here.

[2016-05-05 10:34] stefanchiriac commented on #10921
@sergeyklay I see that 2.0.11 is already being prepared for release. So any chance to be fixed in 2.0.11?

[2016-05-05 14:17] ucando opened #11746 "[2.1.0r] Form will bind the wrong value to Model when some value is array type"
OS: Windows 10
PHP: 5.6.1
Phalcon: 2.1.0r
Database: PostgreSQL 9.5.2

[code]

is it a terrible bug?

[2016-05-05 14:50] CrNix opened #11747 "PostgresSQL: Fetching model's metadata with only SELECT privileges"
Hi,

currently, I have Phalcon 2.10 installed but this probably happens in older versions as well. I am using PostgreSQL database and when I have only SELECT privileges on a table, ORM cannot determine table's primary keys (that is rendering findFirst method for example non-working. It triggers this error "Source related to this model does not have a primary key defined").

ORM seems to use querie

[2016-05-05 15:25] fantua commented on #11744
So, which sense to use RawValue?

You mean like this?
[code]
I don't like this solution.

I think it's an issue, because [you recommend](http://stackoverflow.com/a/15952952/1542870) to use RawValue, but it's can't be usable after save.

[2016-05-05 15:28] sergeyklay commented on #11744
Could you please provide table schema and model?

[2016-05-05 15:46] fantua commented on #11744
[code]

[code]

When I try to create new record it's works fine:

[code]

When I try to update:

[code]

[2016-05-05 16:09] stamster commented on #11738
I wrote long time ago about this issue. As I know, Webtools are planned to be re-developed from scratch.

[2016-05-05 18:45] arthurgermano opened #11748 "Phalcon - update dynamically/update not working"
Hi.. I have the following scenario:

1) I have a record created on the database several fields - some of those the user never interacts with.
2) I will update a single row using $model->update().
3) The fields that I don't want to update I am not sending, but since I create the object like
- $model = new Model($post);
  It brings all the fields in the model anyway

4) Yes, I have tried (new Model(

[2016-05-05 19:44] sergeyklay opened #11749 "CHANGELOG.md: Fix 2.0.11 release date"

[2016-05-05 20:31] arthurgermano commented on #11748
Hi.. so I just find out that really is because columnMap() method.

But I have to use it. So this is kind of a bug right ?

Please someone ?

Many thanks.

[2016-05-05 20:34] andresgutierrez commented on #11748
Could you please post a script that help us to reproduce the issue?

https://github.com/phalcon/cphalcon/wiki/Submit-Reproducible-Test

[2016-05-05 21:00] arthurgermano commented on #11748
Hi... I tried to do a script. Please if I did something wrong tell me so I can do it right.

`
<?php

use Phalcon\DI;
use Phalcon\Events\Manager as EventsManager;
use Phalcon\Db\Adapter\Pdo\Mysql as Connection;
use Phalcon\Mvc\Model\Manager as ModelsManager;
use Phalcon\Mvc\Model\Metadata\Memory as ModelsMetaData;

$eventsManager = new EventsManager();

$di = new DI();

$connection = new Connectio

[2016-05-05 21:06] arthurgermano commented on #11748
Hi.. I am using this function either inside User class script example

`
    public function initialize() {
        $this->useDynamicUpdate(true);
        $this->skipAttributesOnUpdate(array('cpfResponsavel', 'dtCarga', 'dtCadastro'));
    }
`

[2016-05-05 21:14] Newbas commented on #11715
@sergeyklay sorry, could not find any info about it. I am trying to push my branch with changes, but i don't have access for this repository.

[2016-05-05 21:24] sergeyklay commented on #11715
You have to create [Pull Request](https://help.github.com/articles/using-pull-requests/)

[2016-05-05 22:39] Newbas commented on #11715
@sergeyklay Thanks, worked only with private repos.

[2016-05-06 05:55] ghost opened #11751 "[NFR] Phalcon\Paginator Array Output"
Can we have default array output instead of object when using  `Phalcon\Paginator\Adapter\NativeArray` or at least an option. It can be some thing like;

[code]

Thank you.

[2016-05-06 09:36] laodalaoda520 commented on #11739
@Jurigag @SidRoberts  I know how to avoid this problem, I just do't undeerstand it, want to figure it out ,why it happen

[2016-05-06 09:38] Jurigag commented on #11739
[code]

[2016-05-06 09:43] laodalaoda520 commented on #11739
no  ,no error , I mean, the last i got [$a, $i] ，［222，0］

[2016-05-06 09:47] laodalaoda520 commented on #11739
may be , the method toArray ,put the pointer of data to end?

[2016-05-06 09:51] Jurigag commented on #11739
Yes, beacause it's iterating the object using its own iterator. I guess toArray method needs to put pointer at the beginning resultset.

[2016-05-06 09:55] laodalaoda520 commented on #11739
thanks very much

[2016-05-06 09:57] Jurigag commented on #11739
It's still a minor bug - toArray method at the end of it should set pointer of resultset to beginning of it. But maybe it's intentional to avoid developers write bad code :)

[2016-05-06 10:12] laodalaoda520 commented on #11739
haha, I saw the source of this method on github, but I did't knew C language much

[2016-05-06 10:13] Jurigag commented on #11739
You don't need to know c language, it's wrote in zephir.

[2016-05-06 12:37] arthurgermano commented on #11748
Hi.. Good morning.. So .. I am still having this problem, but since I am in a project and it have delivery date. To surround this issue I have edited my row, sent it back to update... but before I do that I have to load the object again from the database and then use merge php array function =S - I don't need to say that performance went down the hole =S. A lousy solution but a way out for now..

[2016-05-06 12:44] Jurigag commented on #11748
What you mean you didn't send them ? You send them by creating `new User` object. You need to find exisiting one in database and then update it. If you aleady have an user in database why you creating it again in your code instead of updating it(first find it and then update ?) ?

Also if you have iduser primiary key then set it ot AI and get rid of setting id for user.

This should look like this

[2016-05-06 13:02] arthurgermano commented on #11748
Yes.. this is a nice way.. but since I am editing an row... that means I already have all the information about the row that I need.. I was kinda not wanting to find the row again you know...

Kinda of like this..
1) Open edit page..
2) I change some values..
3) update my values.. only the ones I have changed.

But If I apply your solution.. what I am doing to solve it for now.. is like
1) Open ed

[2016-05-06 13:06] Jurigag commented on #11748
Then use existing USER OBJECT ?

[code]

[code]

[code]

[2016-05-06 13:25] arthurgermano commented on #11748
No men.. please don't be judgemental.. we are all here to learn.. I don't know everything.. ok.. and I think that you do not read all the problem, so I will explain it again:

So.. the facts are these:
1) First:  I want to update a row which information I already have loaded; It is an existing row in the database;
2) Second: I don't want to execute another find that means execute this line again U

[2016-05-06 13:30] Jurigag commented on #11748
It's not phalcon, every ORM will update it like this you need the object with values from current row in database, by creating new object from just:

[code]

You are telling phalcon that other fields are null/0. So they will save null/0 into database, as it should be.

If you want this behaviour you are writeing here you need to use PHQL as i stated above. Just read my full post.

Read documentati

[2016-05-06 13:36] arthurgermano commented on #11748
Ok.. But I used to work with CakePHP.. I am migrating to phalcon now..
WIth cake.. I just can say that.. set the ID and the values that I want to change and then pass the object just like I did like..

hey save these fields in this row ID..

I understand that Dinamyc Update is just to save the values and columns which I am passing.
But I am also saying
skipAttributesOnUpdate - That means if I exec

[2016-05-06 13:38] Jurigag commented on #11748
Well yes, skipAttirbutesOnUpdate hould do this, but i don't see `initialize` method in your code right now.

[2016-05-06 13:44] arthurgermano commented on #11748
Sorry.. I put it inside a comment right below the script...
Follows the initialize function

`
public function initialize() {
    $this->useDynamicUpdate(true);
    $this->skipAttributesOnUpdate(array('dtCarga', 'vlrTotal'));
}

[2016-05-06 13:53] nsossonko commented on #10886
@tobasar I don't see this issue anymore in my application. Not sure why...

[2016-05-06 13:54] arthurgermano commented on #11748
These fields will be update from outside of my application.
And there are some fields for example CreatedAt that should never be updated.

In my real case I have a number to identify the responsable user of that row. I don't want to update that. That row kinda belongs to him.. But an Administrator can update this row too but not meaning change of ownership. It will always belong to that user.

[2016-05-06 14:04] Jurigag commented on #11748
What will happen if you will values in array which you are passing to skip attributes to uppercase ? Im guessing skip attributes totallty ignores columnmap right now ?

[2016-05-06 14:07] arthurgermano commented on #11748
I will give it a shot..

but I don't know because I am using belongsTo() not in the script but in my real case.. and it works just fine.

let me set to upper case and test it here..
just a minute..

thanks men.

[2016-05-06 14:13] Jurigag commented on #11748
It doesn't have anything to do with belongsTo. just change this here:

```$this->skipAttributesOnUpdate(array('cpfResponsavel', 'dtCarga', 'dtCadastro'));```

to uppercase.

[2016-05-06 14:18] arthurgermano commented on #11748
Yes men.. because my belongsTo uses like this
$this->belongsTo('idTipoLote', '\App\Models\Tipo', 'idTipoLote', array('alias' => 'Tipo'));

Look the case I am using. And phalcon understand just fine..

but it worked just fine now..
If we set it to UPPERCASE it works!!! Now it is ignoring the fields in the list!
I now don't have to use FIND again.. =) very nice solution my friend!

Many thanks =)

[2016-05-06 14:22] Jurigag commented on #11748
@arthurgermano

It's not a solution, it's a workaround to a bug right now because skipAttributes should check if there is any columnMap and get real field values from columnmap.

Also i would recommend to create some abstract code and put there some code for generating array for columnMap, beacause it can become pretty nasty with big tables(but this will need to you to change your names in databas

[2016-05-06 14:26] Jurigag commented on #11748
Also i would really recommend to change your code bro. In most of database systems you have built-in query result cache. So if you select it once then other results will be fetched from cache. If you are using database without such a thing then i would recommend to use redis or memcache cache, and use objects. Static calls shouldn't be used for things like this.

[2016-05-06 14:27] arthurgermano commented on #11748
Yes.. it's true.. and UPPERCASE was not my first choice.. =( but we have to work with what is given to us.
and yes it is a bug..  I will correct the script and post it here with initialize function. And then describe whats is going on..

but thanks men.. you were very helpful! Good work =)

[2016-05-06 14:36] Jurigag commented on #11745
Did yo uchecked maybe what will happen if you will set in php in controller `count_data > 0` and pass value of it as variable to view and use this variable ? Is it still happening ?

[2016-05-06 15:20] arthurgermano commented on #11748
@andresgutierrez we find out what is happening.. and it's small bug. I will post the script below but just to summarize what is happening.

1) I am setting and using columnMap function
2) I am also using dynamicUpdate and setting skipAttributesOnUpdate
like this -> $this->skipAttributesOnUpdate(array('qtdRegistros', 'dtCarga'));

So since the database is UPPERCASE and because I am using columnMap

[2016-05-06 16:10] sergeyklay commented on #11745
It gets fixed if we mark that parameter as optional.
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/view/engine/volt.zep#L288
[code]

[2016-05-06 16:16] wiesl commented on #11745
Can you push the fix?

[2016-05-06 16:37] Jurigag commented on #11745
@sergeyklay

But this exception which he has is thrown here:

https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/view/engine/volt/compiler.zep#L1911

Is it first called and then compiled then ?

[2016-05-06 17:22] caneray opened #11752 "URL Rewrite dash problem"
I upgraded phalcon to 2.0.11.
I get an "404 not found" error when using dashes in URL rewrites (Controller and action names).
Please fix.

This bug is not in the v2.0.10 version.

[2016-05-06 17:26] caneray commented on #11752
Additionaly : "source" column not usable in table scheme. I get an metadata error.

[2016-05-06 17:46] caneray commented on #11752
Example:

Top100Controller.php :

`<?php

    namespace Modules\Frontend\Controllers;

    class Top100Controller extends ControllerBase
    {
        public function indexAction()
        {
            //$this->loadCustomTrans('top_100_ads');
        }
    }

`

I tried access to controller http://x.xxx/Top-100 and get an 404 error. No error in 2.0.10 version.

[2016-05-06 17:57] sergeyklay commented on #11745
I'll try to deal

[2016-05-06 22:10] #11749 closed

[2016-05-07 02:58] djfd opened #11755 "phalcon/mvc/model/manager::getRelationRecords() bug"
Hi,

please check https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/manager.zep#L1279

[code]

this have to be:

[code]

instead.

thanks

**UPD**
as of 2018-02-06, line numbers get changed but the bug is still here
[https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/manager.zep#L1347](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/manager.zep#L134

[2016-05-07 07:41] xkos opened #11756 "i have a problem when using redis as session adapter with a a weird key"
i use redis as session adapter, when i save captcha i found , it storage a weird key:
's:85:"s:79:"s:73:"s:67:"s:61:"s:55:"s:49:"s:43:"s:37:"s:31:"s:25:"stat#captcha'

I don't understand why this is happening?.

this is my code:

`
$this->session->set('captcha', $builder->getPhrase());
`

everytime i refush the page(every page used the same php session id) the key get longer:
`s:91:"s:85:"s:79:"s:

[2016-05-07 07:47] xkos commented on #11756
and i found i can't destroy session.
i use `$this->session->destroy()` in controller but the session also exist.
but the remove() method can be use

[2016-05-07 07:57] jkns commented on #11379
Any update on this? I've tried the same and noticed it's not working. Is there any other way around this?

[2016-05-07 08:26] xkos commented on #11756
I solve it;

[2016-05-07 08:29] #11756 closed

[2016-05-07 08:35] xkos opened #11757 "how to change lifetime when i use redis session adapter"
when i use redis as session i found  the lifetime i modify with `setOptions()` method in use did not enter into force.
after modify lifetime , i set session , but it isn't clear overrun the new lifetime

is this a bug? or i used a wrong method to modify lifetime?
does phalcon have a method to set lifetime when assign a session var

[2016-05-07 14:17] stratoss commented on #11738
You're right... thanks

[2016-05-07 14:17] #11738 closed

[2016-05-07 15:24] Gamblt commented on #11429
The same issue in 2.1.x branch
`[error] 6164#6164: *3 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught Error: Call to private method Phalcon\Translate\Adapter\Gettext::getoptionsdefault() from context 'MyProject\Components\Translate' in /home/gambit/repos/MyProject/app/components/Translate.php:51
Stack trace:
#0 [internal function]: Phalcon\Translate\Adapter\Gettext->prepareOptions

[2016-05-07 17:20] stratoss opened #11758 "IniConfig path must be a string"
I've got this error, trying to parse this sample ini file:
[code]

The funny thing is, the problem turns out to be that the key is numeric, so the error message is completely misleading. Setting it as `s5 = 600` works good.

[2016-05-07 18:10] stratoss opened #11759 "FileCache not expiring"
Here is the sample code:

[code]

then

[code]

After a while `$resetAfter` becomes negative, and `$cache->exists($cacheName)` still returns the value...

edit: not touched the file for > 3600 seconds, and the file is still there. Looks like a bug for me.

[2016-05-07 19:16] DimazzzZ commented on #11173
@dschissler absolutely agree.

[2016-05-07 19:40] Gamblt opened #11760 "Gettext adapter constructor error with Phalcon 2.1.X"
The same #11429 issue in 2.1.x branch.

[code]

[2016-05-08 09:25] stratoss commented on #11759
Hmm I've checked out the `cache/backend/file.zep` and realized that `filemtime()` returns the modified time on unix platforms, also I believed that passing `lifetime` while setting the cache is working as it does using memcached or redis for example, but the `File` implementation is totally different.

Do you think that instead of saving the raw content passed to `save()` saving an array like `['c

[2016-05-08 10:10] Jurigag commented on #1925
@ryomo

It's not implemented, is just selecting first and then deleting. I think there shouldn't be selecting.

[2016-05-08 19:13] djfd opened #11762 "incomplete Phalcon\Session\AdapterInterface"
Hi,

as I can see https://github.com/phalcon/cphalcon/blob/master/phalcon/session/adapterinterface.zep#L27
there is not a method called `setId()` i.e. session user will be tied to `PHPSESSID` (in case of using cookies) or need to call native php function to set new ID.

Or is it intentionally? if so why?

Thanks

UPD. yet another possible improvement can include a few extra methods:

[code]

and

[2016-05-08 19:49] Studentsov commented on #11762
The interface describes public methods. You are sure that there is a situation when you need to set an id outside?

[2016-05-08 20:00] djfd commented on #11762
@Studentsov

well, what is wrong if I want to use cookie name `iam` instead of PHPSESSID? (for now I am considering only cookie based sessions bootstraps).

How do I achieve that if I did receive an instance of Phalcon\Session\AdapterInterface from DI container, like this
[code]
There is not such method as setID, thus I need to use some other means. Is it safely to rely that we use standard sessio

[2016-05-08 20:06] Studentsov commented on #11762
I at first misunderstood your question.
However, the method is defined in an abstract class: https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/session/adapter.zep#L225

[2016-05-08 20:16] djfd commented on #11762
@Studentsov
You got a point. It is exactly what I do mean.
[code]

We need to make software in terms of interfaces, to decouple as much as possible from an implementations

IMHO. abstract class need not to use $_SESSION at all. Look at Views rendering engines approach... There is PHP engine which simply uses standard PHP, and there is Volt. We can use that we want... The same approach is well suit

[2016-05-09 08:08] HouGeCon opened #11763 "Phalcon on DO LNMP make: *** [phalcon.lo] Error 1"
I'm trying to install phalcon framework on centos7, and I get this error;
`checking if gcc PIC flag -fPIC -DPIC works... yes
checking if gcc static flag -static works... no
checking if gcc supports -c -o file.o... yes
checking if gcc supports -c -o file.o... (cached) yes
checking whether the gcc linker (/bin/ld -m elf_x86_64) supports shared libraries... yes
checking whether -lc should be explicit

[2016-05-09 08:13] #11763 closed

[2016-05-09 09:00] sergeyklay commented on #11760
Could you please check the `2.1.x` branch?

[2016-05-09 09:30] rvanderfeer commented on #11745
Not sure if this is related; I am calling a macro with 3 arguments, the first of which is an object.

I now get the error; `Cannot use object of type [TheObjectType] as array` when running the compiled macro where it was working fine before the update to 2.0.11.

It appears that the compiled macro expects to be called with a single array argument `function(array $arg){}` , where it is actually (st

[2016-05-09 13:01] jellisii commented on #11745
When can we expect this on the PPA?  We just updated this morning and are having the same problem.

[2016-05-09 13:08] sergeyklay commented on #11745
@jellisii We'll try to fix it in `v2.0.12` and release this version in the coming days

[2016-05-09 13:13] jellisii commented on #11745
Thank you sir.  I've reverted to a custom build using commit a5f615d as its source for the time being.

[2016-05-09 13:14] sergeyklay commented on #11759
@stratoss Could you please create PR for 2.0.x branch? Note, test coverage of this changes is mandatory.

[2016-05-09 13:41] sergeyklay commented on #11755
@djfd  Could you please provide a small script to reproduce the issue you have described here?

[2016-05-09 13:52] Jurigag commented on #11745
@rvanderfeer

Yea, it must be a bug in compiler, it must call function with arguments as array, for me from 2.0.5 i think were callMacro was introduced it broke functions, filters etc, so that's why i had to do this commit which was mention here. Well it's pretty obvious that was needed to changed, just forgot that there are macros as well and it might broke it.

[2016-05-09 14:52] marcojetson opened #11767 "Camelize delimiter in 2.0.11"
Before 2.0.11 camelize accepted underscore (_) and dash (-) as delimiters.
In 2.0.11 only underscore is used by default and a new optional argument was added in order to add custom delimiters.

IMO this change should not be part of a minor version.

If you are keeping this change have in mind that doc block is [misleading](https://github.com/phalcon/cphalcon/blob/1d8b41e0bb8d834a4da4aaa50e29fcd074

[2016-05-09 15:02] djfd commented on #11755
Hi,

[code]
then
```$tlist = Language->Translations;``` produces nothing using current codebase. After fixing as above all get working fine.

PS. I cannot recall exactly what the code I did use when detected that. Please let me know if example above is sufficient to reproduce.

thanks

[2016-05-09 15:16] stingr31 opened #11768 "Don't work in Ubunt 16.04"
W: The repository 'http://ppa.launchpad.net/phalcon/stable/ubuntu xenial Release' does not have a Release file.
N: Data from such a repository can't be authenticated and is therefore potentially dangerous to use.
N: See apt-secure(8) manpage for repository creation and user configuration details.
E: Failed to fetch http://ppa.launchpad.net/phalcon/stable/ubuntu/dists/xenial/main/binary-amd64/Packa

[2016-05-09 15:26] sergeyklay commented on #11768
1. This is [phalcon/ppa](https://github.com/phalcon/phalcon-ppa)'s repo issue and it is not related to this repo
2. The Ubuntu 16.04 [uses PHP 7](http://packages.ubuntu.com/xenial/php7.0) by default, but we haven't released Phalcon with full support of PHP 7 so far
3. As you can see https://github.com/phalcon/phalcon-ppa:
[code]

[2016-05-09 15:27] #11768 closed

[2016-05-09 15:33] sergeyklay commented on #11767
I think this issue mostly related to the Zephir project which uses the practice "pull all things in master". Phalcon always uses latest Zephir from master branch. It would be better if you opened this issue in the Zephir repository. Or your question should sounds like: "Do not use latest Zephir in Phalcon's minor version"

[2016-05-09 18:27] mdular commented on #11767
Hey,

while I agree that this issue should _also_ be directed (and resolved) at Zephir, phalcon 2.0.11 breaks several naming conventions in multiple of our projects. Under semver this shouldn't happen, and we now need to ensure that everything including dev environments are pinned to 2.0.10 instead of 2.0.x

[2016-05-09 18:40] sergeyklay commented on #11767
Phalcon never followed SemVer

[2016-05-09 18:52] mdular commented on #11767
Ok, that underlines our realisation to ensure 2.0.10 is pinned.

As for the issue itself, I do believe it's unintentionally breaking backwards compatibility since the related change describes a different scope and the docbloc still mentions both delimiters.

Issue on zehpir: https://github.com/phalcon/zephir/issues/1252

[2016-05-09 19:02] sergeyklay commented on #11767
@mdular Well, I'll try to sort out with this

[2016-05-09 19:20] djfd opened #11770 "Cookie is coupled with the Session"
Hi,

synopsis: Cookie class is coupled with session class, it is wrong approach

in full:
let consider next micro-app

[code]

The idea is to do not create session for a bots, actually, why to do it.

This app wont work producing error:

[code]

see
https://github.com/phalcon/cphalcon/blob/master/phalcon/http/cookie.zep#L139
https://github.com/phalcon/cphalcon/blob/master/phalcon/http/cookie.zep#L

[2016-05-09 21:00] djfd commented on #11770
it looks that storing cookie copy in session makes no sense at all. Could you please explain what is rationale behind of doing that?

[2016-05-10 09:08] ilgityildirim opened #11771 "Passing an object to Volt macro; "PHP Fatal error: Cannot use object of type stdClass as array""
I updated my server yesterday evening. Today morning I realized I haven't gotten any visitor since yesterday evening. I decided to visit my site and I found it unable to display the pages.

There is a problem with Volt's macro feature after an update.
**Volt code**
[code]

**Generated PHP code**
[code]
This code generates following error;
[code]

If you're like me, added listing etc. via macros, t

[2016-05-10 09:09] Jurigag commented on #11771
It's fixed in current 2.0.x repo.

[2016-05-10 09:15] w3yyb opened #11772 "signal Segmentation fault with php5.6.21 and zend guard loader extension"
signal Segmentation fault  with php5.6.21 and "zend guard loader" extension

if remove the " zend guard loader "extension ,then work well.

[2016-05-10 09:16] Jurigag commented on #11772
Try maybe to load before phalcon or after phalcon, depends on which order load you have now ?

[2016-05-10 09:19] ilgityildirim commented on #11771
Thanks @Jurigag will take a look at it

[2016-05-10 09:21] sergeyklay commented on #11771
@ilgityildirim Hello. Could you pease check two vesions. Current Phalcon's master branch (2.0.10) and my PR https://github.com/phalcon/cphalcon/pull/11765. It seems there is two ways to fix it

[2016-05-10 09:22] w3yyb commented on #11772
this is the problem code

$loader->registerDirs(array(
  __DIR__.'/models/'
))->register();

[2016-05-10 09:24] w3yyb commented on #11772
before phalcon

[2016-05-10 09:25] Jurigag commented on #11772
I mean about extension. Then try to load it after. Why you even this extension ?

[2016-05-10 09:29] w3yyb commented on #11772
Whether after or  before, both make signal Segmentation fault

[2016-05-10 09:34] ilgityildirim commented on #11771
@sergeyklay #11765 didn't fix the issue however 2.0.10 fixed it. Seems the best option is to downgrade for the moment.

[2016-05-10 09:37] Jurigag commented on #11772
Paste dump from gdb here.

[2016-05-10 09:42] sergeyklay commented on #11771
So issue related to the v2.0.11 or v2.0.10?

[2016-05-10 09:42] sergeyklay commented on #11771
@ilgityildirim

[2016-05-10 09:45] ilgityildirim commented on #11771
@sergeyklay issue is related to v2.0.11

[2016-05-10 10:42] vikilaboy commented on #11771
I have the same issue on v2.0.11

[2016-05-10 10:47] Jurigag commented on #11771
Did you tried this https://github.com/phalcon/cphalcon/pull/11765 ?

[2016-05-10 11:12] vikilaboy commented on #11771
Yes but doesn't work. Also i've upgraded to 2.1.x and it works and there's with call_user_func_array ( https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/mvc/view/engine/volt.zep#L293 ) but 2.0.x breaks  other things like validators so for now i can't make the upgrade

[2016-05-10 11:14] Jurigag commented on #11771
What. You mean in 2.1.x with call_user_func_array it works fine ? Then i don't know what's going on.

[2016-05-10 11:18] vikilaboy commented on #11771
Yeah, as you can in see :( Also I changed manualy in volt.zep, recompiled and problem still exists :(

[2016-05-10 11:39] sergeyklay commented on #11771
Well, @ilgityildirim @vikilaboy @Jurigag I'm totally confused :smile:
We have callMacro method with:
* `call_user_func` and required second param (the v2.0.10)
* `call_user_func_array` and required second param (the v2.0.11)
* `call_user_func` and optional second param (#11765)

What solution option is don't work?

[2016-05-10 11:44] vikilaboy commented on #11771
2.0.10 works well. 2.1.x also :)
So 2.0.11 doesn't work

[2016-05-10 11:59] Jurigag commented on #11771
What ? How the hell 2.1.x works if it's second case which @sergeyklay wrote.

[2016-05-10 12:20] vikilaboy commented on #11771
PHP 5.6.20-1~dotdeb+zts+7.1 (cli) (built: Apr  1 2016 04:20:28)
Copyright (c) 1997-2016 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2016 Zend Technologies
    with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2016, by Zend Technologies
    with Xdebug v2.3.3, Copyright (c) 2002-2015, by Derick Rethans

[2016-05-10 12:42] vikilaboy commented on #11771
Anyway I switched back to 2.0.10 until this will be fixed. I'll also try to fix this..
Thanks to all !

[2016-05-10 12:43] sergeyklay commented on #11771
@vikilaboy Could you please check #11765? Just clone my repo and compile Phacon from 2.0.x branch

[2016-05-10 12:57] vikilaboy commented on #11771
Checked out to branch 2.0.x, compile and the result is the same. Am I doing something wrong ?

[2016-05-10 12:57] Jurigag commented on #11771
No. You need to clone @sergeyklay repo 2.0.x

[2016-05-10 13:12] vikilaboy commented on #11771
I'm getting the same problem :(.
This is my macro:
[code]
and is called like this
[code]
where formLogin is the form object and 'password' is tag key

[2016-05-10 13:13] Jurigag commented on #11771
Did you cloned right repo ?

[2016-05-10 13:15] vikilaboy commented on #11771
https://github.com/sergeyklay/cphalcon.git - compiled also on branch master and 2.0.x

[2016-05-10 13:16] sergeyklay commented on #11771
Okay. I'll try to sort out today

[2016-05-10 13:42] acmenna opened #11773 "Phalcon\Image\Adapter\GD resize (imagescale) color loss"
After using the gd adapter's resize method, the result image loses color.

PHP version: PHP 5.5.9-1ubuntu4.16 (cli)
Phalcon version: 2.0.11

Please Find below a possible fix, regarless the php version. I can create a pull request with this fix if needed.

[code]

[2016-05-10 13:54] Jurigag commented on #11773
I think it's due to GD, beacause gd default compression level of jpeg files is 75.

[2016-05-10 22:10] djfd commented on #11755
@sergeyklay
May I ask you off the topic question? Are pull requests here need to be done in zephir language or plain php is suitable too?
thanks

[2016-05-10 22:27] Jurigag commented on #11755
Both. Zephir for phalcon code, php for tests.

[2016-05-10 23:08] rudiservo commented on #10800
I think I can fix this issue real simple, how should I proceed?
Create a new branch just for the issue?
Pull request on 2.1.x or 2.0.x ?

[2016-05-10 23:35] nsossonko commented on #10800
fork the repo and create a pull request on 2.1.x

[2016-05-11 08:00] sergeyklay commented on #11745
@wiesl Can you please check the 2.0.x branch?

[2016-05-11 08:00] sergeyklay commented on #11745
@jellisii

[2016-05-11 10:02] stamster commented on #11772
Both Zend Guard and ionCube loaders interfere with a code at low level, so I guess there's some sort of incompatibility between Phalcon (Zephyr - C code) and those loaders.
Just for practise, try with ionCube loader.

[2016-05-11 18:42] sergeyklay commented on #11745
Thanks for your report. This issue has been fixed in 2.0.x branch. We will release v2.0.12 in coming days with this bug fix.

[2016-05-11 18:42] #11745 closed

[2016-05-11 18:42] sergeyklay commented on #11771
@vikilaboy @ilgityildirim
Thanks for your report. This issue has been fixed in 2.0.x branch. We will release v2.0.12 in coming days with this bug fix.

[2016-05-11 18:42] #11771 closed

[2016-05-11 19:51] timbrand commented on #1780
It seems that the "ignoreUnkownColumns" isn't working (anymore).
Or maybe it doesn't work when creating/saving an item. I've enabled the ignoreUnknownColumns, by code and by setting the php.ini setting. They are recognised, but seem to be ignored for saving the model.

[2016-05-11 20:09] sergeyklay commented on #1780
@timbrand Create please separated issue with small script to reproduce

[2016-05-11 20:25] sergeyklay commented on #11758
So you suggest to allow to create Config object (from INI file) like this:

[code]

[2016-05-11 20:25] #11758 closed

[2016-05-11 21:20] dschissler commented on #11605
This is affecting me as well.  I'm dead in the water.

[code]

[code]

Colors
[code]

HatsColors
[code]

[code]

[code]

[2016-05-12 07:46] sylarXu opened #11779 "Is phalcon support MongoDb?"
in the example,
it`s use MongoClient,when set the mongo connection,
is it support the new perl extension mongodb (MongoDB/Manager) as the connection?

[2016-05-12 07:48] Green-Cat commented on #11779
The new mongodb extension is not supported yet.

[2016-05-12 07:49] sergeyklay commented on #11779
https://github.com/phalcon/cphalcon/issues/11156

[2016-05-12 07:49] #11779 closed

[2016-05-12 08:56] wangshibiaoFlytiger opened #11780 "can not delete cookie successfully"
In my controller, I call the api function failed:
$this->cookies->delete($key)
the delete function return false, but give no reason.

[2016-05-12 09:42] dschissler commented on #11605
I discovered more weird undocumented behaviour.

[code]

So this makes binding with execute wonky when using arrays.  This likely wasn't considered when it was designed because the automatic array binding came much later.

@andresgutierrez Is there any way to make this more clear?

[2016-05-12 09:46] Jurigag commented on #11605
Im just guessing it's working for bindParams and don't for execute. Why ? Beacause i guess execute just pass params to PDO execute. And bindParams are handled in phql by phalcon maybe ?

[2016-05-12 10:09] dschissler commented on #11605
I thought that at first as well when I discovered this new issue but I also found it to be completely broken as the issue title suggests.  The problem was that it presented a sort of Heisenbug because trying to print out the SQL with `getSql()` causes it to break.

[2016-05-12 10:12] Jurigag commented on #11605
Im guessing it only works maybe for setBindParams(conditions) etc ? And if we use `getSql()` it doesn't know to handle parameter as array ? I don't know why it breaks if it's not a case.

[2016-05-12 10:12] dschissler commented on #11605
I'm moving on from working on this now but you might be able to work around this by doing all of the relationship joining by hand.  This has been known to fix other issues.  You can disable implicit joining by setting `enable_implicit_joins` to false in the `Query` constructor options.  It might fix it.

[2016-05-12 10:16] dschissler commented on #11605
In my later example with a join you can call getSql() after binding.  The issue is that if you don't bind first then it doesn't/wouldn't know how many placeholders to add in since that is what it ultimately does since that is what PDO understands.

This makes me think that placing bind values directly on `execute` should be removed as an option in Phalcon since it doesn't function properly in all

[2016-05-12 10:16] Jurigag commented on #11605
No no, it should stayed. Sometimes you want to bind value to having, what in this case then ?

[2016-05-12 10:23] dschissler commented on #11605
Then you use `$query->setBindParams` any number of times as desired before calling execute with no parameters.

The issue with the current API is lets say that someone is binding all at once on execute and they are also binding an array then they are pretty much unable to inspect their SQL with `getSQL()` before the query fires off and if that query caused an error then they wouldn't know what was

[2016-05-12 10:24] dschissler commented on #11605
Also to make it so that the situation can't be fouled up it should be impossible to bind more parameters after calling getSql().  It would only be relevant in the array binding case but it would prevent difficult to understand bugs.

[2016-05-12 11:34] aderbas opened #11781 "Possible bug in volt macro?"
I created some "components" using macros in the template volt model. But I do not understand what the problem is. I created a simple project "store" using Phalcon tools and create a simple macro in volt file like that

view/component/foo.volt
[code]

In index.volt I try
[code]

This render: `<h1>M</h1>` it should be: `<h1>My text here</h1>`

Linux Mint Rafaela 17.2 Cinnamon / Apache 2 / PHP 5.5.9

[2016-05-12 13:14] sergeyklay commented on #11781
Fixed in the 2.0.x branch

https://github.com/phalcon/cphalcon/issues/11745
https://github.com/phalcon/cphalcon/issues/11771

[2016-05-12 13:14] #11781 closed

[2016-05-12 14:10] makerlabs commented on #11744
OK the problem is in the model itself not in your example because u are using it totally wrong. First the phalcon-devtools should generate a model with default values because they don't do it which is wrong in my opinion, second if you want default values you must define them in your model because the tools don't do it. U don't need to use the RawValue to do it unless u want to pass some SQL funct

[2016-05-13 00:19] aderbas commented on #11781
Can you push the fix?

[2016-05-13 02:10] vigilant-hylian commented on #10984
+1

[2016-05-13 02:15] brendont commented on #10984
+1

[2016-05-13 05:51] sergeyklay commented on #11781
You have to use the `2.0.x` branch (compile Phalcon from source) or wait few days in order to use released version.

[2016-05-13 08:02] makerlabs commented on #11726
@Jurigag I don't use this code this was a mistake I did accidentally in my application and because of the issue that I pointed out here I spend about half an hour to trac it down. So this should be fixed because it's another inconsistency in the framework which leads to strange behaviors don't u agree?

[2016-05-13 09:20] Jurigag commented on #11726
But it can't be fixed. It just has to be changed so it will don't use __set anymore and it's a huge change in core.

[2016-05-13 12:06] aderbas commented on #11781
Yep, I did it but I installed Phalcon before using the PPA. I did clone 2.0.x branch follow the steps but I'm not sure it worked because the problem persists.

[2016-05-13 12:35] sergeyklay commented on #11781
@aderbas As you can see https://github.com/phalcon/cphalcon/pull/11765 all tests passed

[2016-05-13 12:41] aderbas commented on #11781
Ok, I try complete remove Phalcon and compile 2.0.x again. Thks.

[2016-05-13 12:44] Jurigag commented on #11781
You don't need to remove. Just clone 2.0.x, compile it and restart apache/php-fpm

[2016-05-13 12:52] aderbas commented on #11781
Yes, I've do it but nothing changed. After compile the branch in `phpinfo()` continues 2.0.11, is that right?

[2016-05-13 12:58] Jurigag commented on #11781
Yes, it's right. Yo sure you restarted apache and php-fpm and **cloned 2.0.x BRANCH, not MASTER** ?

[2016-05-13 13:06] aderbas commented on #11781
Yes, I'm restart apache, php-fpm did not work, finally I did reboot the SO. I think it's a problem with the OS, so I will try to completely remove the Phalcon and start from the beginning = /

[2016-05-13 13:07] Jurigag commented on #11781
But you sure you cloned 2.0.x, not master ?

[2016-05-13 13:14] aderbas commented on #11781
Yep, 2.0.x, I'm not in the pc when you get will try again before removing. Thank you.

[2016-05-13 13:51] makerlabs commented on #11726
No it doesn't the problem is here:
https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/model.zep#L4096
and here:
https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/model.zep#L4232
This is done for optimization but we don't have to do this this way we could check the
`this->_related[lowerProperty]`
Which is populated anyway in __get and return it's result. The behavior won't change b

[2016-05-13 14:04] virgofx commented on #11726
This is related to #10800 - We probably need to get input from @andresgutierrez on the rational of why the alias is getting set lowercase.

[2016-05-13 14:24] equivaQstu commented on #11064
I received this error after unintentionally creating a duplicate endpoint in routes.php.  I had two identical POST paths each with a different corresponding function.  I was using a Micro app.  I'm not sure if the error was coming from
	$app->setRoutes($routes);
or
	$app->run();
Deleting the duplicate path in my routes.cfg cleared the error.

[2016-05-13 14:44] makerlabs commented on #11726
Regardless of the argument why do we use the lowercase version in this case this should be change. It's neither logical nor readable solution. I can understand the problem of breaking things that's why we can change this behavior by adding a simple parameter in framework configuration and add a simple upgrade readme. Phalcon gains it's popularity because of the performance by not improving it (not

[2016-05-13 15:09] sergeyklay commented on #11064
[Phalcon Query Language (PHQL)](https://docs.phalconphp.com/en/latest/reference/phql.html)

<hr>

For questions like this you can use forum: https://forum.phalconphp.com/

[2016-05-13 15:09] #11064 closed

[2016-05-13 15:59] Jurigag commented on #11726
You don't understand a problem. If you first set alias, it will be added to object as property which is ACCESSIBLE, then if you will set it again it will just change value of property without changing value in _related array beacause property now is accessible beacause it exists in object and is public.

[2016-05-13 16:49] MaksSlesarenko opened #11783 "Semantic versioning and Composer"
It is possible to adjust phalcon versioning to support composer?

https://github.com/composer/composer/issues/5331

[2016-05-13 18:26] sergeyklay commented on #11783
Currently Phalcon doesn't follows semantic versioning so Composer expect something like `2.1.0-RC1` but Phalcon uses `2.1.0r`

[2016-05-13 22:10] r0123456789 opened #11784 "Phalcon 2.0.11: extends Phalcon\Http\Response problem with method redirect"
Hello,

When extends Phalcon\Http\Response and call the method redirect:

[code]

occurs RuntimeException

`Trying to call method toarray on a non-object`

Only in version 2.0.11.

Please help!

Ty.

[2016-05-13 22:18] sergeyklay commented on #11784
Provide please full stack trace

[2016-05-14 04:18] EpicJhon opened #11785 "[DOC] Class Phalcon\Mvc\Model\Criteria It's not updated"
in class Phalcon\Mvc\Model\Criteria in method "bind()" It does not have the "merge" parameter in documentation:

versions [spanish](https://docs.phalconphp.com/es/latest/api/Phalcon_Mvc_Model_Criteria.html) and [english](https://docs.phalconphp.com/en/latest/api/Phalcon_Mvc_Model_Criteria.html)

[2016-05-14 08:03] #11760 closed

[2016-05-14 08:35] sergeyklay commented on #11725
Fixed in 2.1.x branch

[2016-05-14 08:35] #11725 closed

[2016-05-14 09:54] maxadjsky opened #11787 "Does Phalcon extension support PHP7.0 or not？"
My PHP version is 7.0.6，and I want to  kwon where can I find the phalcon extension supports php7.0.

[2016-05-14 10:43] Green-Cat commented on #11787
PHP 7.0 support is currently in development in the 2.1.x branch. You can compile the extension from that branch if you want to try it on 7.0. There are some known issues though.

[2016-05-14 12:33] aderbas commented on #11781
Guys, not work. I do not know what I'm doing wrong.

![2.0.x](http://i.imgur.com/Inw5Nxn.png)

![Installed](http://i.imgur.com/F1r9W5E.png)

![PHP info](http://i.imgur.com/vYEhXGm.png)

I restart everything but bug persist =(

[2016-05-14 13:49] aderbas commented on #11781
Update guys, I installed 2.1.x and works. Waiting for v 2.0.12. Thks

[2016-05-14 15:11] Doncode commented on #10401
I have the same problem

[2016-05-14 15:18] Doncode opened #11788 "PHP7.0 + postgresql = Get 502 Bad Gateway"
2016/05/14 10:51:29 [error] 3817#3817: *51950 recv() failed (104: Connection reset by peer) while reading response header from upstream, client: ********, server: ********, request: "GET /index/show HTTP/1.1", upstream: "fastcgi://unix:/run/php/php7.0-fpm.sock:", host: "****"

When try this
$users = Users::find();

[2016-05-14 15:50] sergeyklay commented on #10401
@Doncode Use [Zephir](http://github.com/phalcon/zephir/):
[code]

[2016-05-14 16:41] Jurigag commented on #11787
In 2.1.x we cant tell there is something like beta support. I will soon update the rest of tests with what there is problem.

Next time check other issues.

[2016-05-14 18:46] Jurigag commented on #11788
Are you using latest phalcon 2.1.x and zephir ?

[2016-05-14 20:22] Doncode commented on #11788
Yes. I use  2.1.x
git status
On branch 2.1.x
Your branch is up-to-date with 'origin/2.1.x'.
commit 0a5b157f03452ec09bd032a217abfbc62cbebd53

[2016-05-14 21:07] Doncode commented on #11788
save problem with mysql

[2016-05-14 21:19] sergeyklay commented on #11788
Provide please php logs

[2016-05-14 21:28] Jurigag commented on #11788
If you have 502 bad gateway while using php-fpm it bascially means that there are probably seg fault(if you sure you have right nginx config).

You should have crash generated. If don't then read this here https://bugs.php.net/bugs-generating-backtrace.php. First two points how to generate crash(ulimit and echo). Then you will get seg fault from php-fpm. Install gdb and run gdb php-fpm /path/to/cr

[2016-05-14 21:36] Doncode commented on #11788
nginx config is right
This works if the comment
//Users::find();

[2016-05-14 21:47] sergeyklay commented on #11788
https://github.com/phalcon/cphalcon/wiki/Generating-a-backtrace

[2016-05-15 02:28] maxadjsky commented on #11787
OK,thanks very much .I'll try the beta one for develop

[2016-05-15 02:33] #11787 closed

[2016-05-15 10:24] Feloot commented on #10990
Interesting ! I would very much like to see such a feature as well. Do we know how much impact using partial has on performances ?

[2016-05-15 10:35] rahuldroy opened #11789 "PSR-7 support request & discussion"
PSR-7 has been an official standard for a while now. It would be awesome to support it!

I raised this very briefly in Slack. One of the ideas I raised was having a having a complete separate namespace just for this (similar to how Guzzle implemented it). Would like to hear your thoughts about this!

---

Refs:
- https://github.com/phalcon/cphalcon/pull/13437

[2016-05-15 11:02] Jurigag commented on #11789
If you have any idea you can create PR.

[2016-05-15 11:42] stamster commented on #11788
Do you have info that PHP7 and latest PhalconPHP are still not married? So, this kind of errors are expected.

[2016-05-15 12:07] Jurigag commented on #11788
As i wrote - generate backtrace and post it here. Right now we know NOTHING from you wrote here.

[2016-05-15 13:45] sergeyklay commented on #11789
First of all we have to refactor HTTP stack. For example HTTP Middlewares - at the moment it easy to use only for Micro application but they however, they do not implement PSR-7 stuff

[2016-05-15 14:42] tuxy opened #11790 "PhalconPHP.com Website Not Loading"
I think do to ``https://static.phalconphp.com/`` whole site is not loading.

[2016-05-15 14:49] niden commented on #11790
Can you try loading this resource?

https://static.phalconphp.com/www/css/phalcon.min.css

It seems to be working fine for my location.

[2016-05-15 14:56] tuxy commented on #11790
@niden Okay, it works now. Not sure what that was =((

[2016-05-15 15:08] niden commented on #11790
It might have been that the DNS has not propagated yet for your ISP.

Thanks for the heads up.

[2016-05-15 15:08] #11790 closed

[2016-05-15 21:57] stamster commented on #11784
Simple thing, instead of:
`        $this->redirect($uri); `
have you tried with:
`       return parent::redirect($uri); `

[2016-05-15 23:21] djfd opened #11791 "Mvc/Router/Route: regexp parser ignores braces/parentheses balance"
Hi,

I am trying to build a route like this
`(<lang>(-<locale>)/)captcha.png` (it is in terms of Kohana, BTW)
to serve urls like to

[code]

Finally I managed to build working route, but please see below

[code]

which gives me

[code]

compiled pattern is exactly that I want,

[code]

while original one looks just weird and wrong

[code]

weird I mean not easy to read and understand, impossible t

[2016-05-16 07:35] googlle opened #11792 "findFirst together \Phalcon\Mvc\Model\Resultset::HYDRATE_ARRAYS"
Hello.

It would be nice if it were possible to do so

[code]

Now I use this. Is this correct?

[code]

[2016-05-16 07:37] Jurigag commented on #11792
[code]

Isn't it the same ?

[2016-05-16 07:39] googlle commented on #11792
Thank you. I forgot about "toArray"

[2016-05-16 07:39] #11792 closed

[2016-05-16 09:07] googlle opened #11793 "Csrf bind form"
When I use this, csrf works fine when I double submit form by click

[code]

When I use bind form, csrf is not valid when resending form

[code]

I guess it's bug?!

[2016-05-16 10:30] googlle commented on #11793
Now I use this and it works
[code]

[2016-05-16 15:28] tempcke opened #11794 "Acl inheritance issue"
## PHP to reproduce issue:
[code]

To help track it down I extended Phalcon\Acl\Adapter\Memory to intercept isAllowed()
The reason it fails is because of [this break:](https://github.com/phalcon/cphalcon/blob/master/phalcon/acl/adapter/memory.zep#L606)

I did a var_dump of `$this->access` and `$this->_roleInherits`:
[code]
The reason the break causes the issue (though removing it is not the soluti

[2016-05-16 15:30] makerlabs commented on #11793
You are using it wrong. If you pass the entity when creating the form you don't need to use bind just use isValid and pass the request to it.

[2016-05-16 16:30] andresgutierrez commented on #11767
Fixed in 2.0.x using Zephir 0.9.2

[2016-05-16 17:22] tempcke commented on #11794
on a side note the current unit tests (perhaps out of date) do not even pass for the Memory adapter..
There were 2 errors:
[code]

[2016-05-17 01:01] djfd commented on #11791
there is how they (Kohana) do it
https://github.com/kohana/core/blob/3.3/master/classes/Kohana/Route.php#L240

very simple, it seems

the only thing they did miss is the possibility to set up expressions right inside params definitions, like this
```(/<lang:[a-z]{2}>)```  (it wont work, but it would be very handy to have such syntax possible)

[2016-05-17 12:10] stamster commented on #11551
I have similar issue. The thing is, my models' meta data just won't expire.
If you dive into Zep code here: https://github.com/phalcon/cphalcon/blob/master/phalcon/cache/frontend/data.zep#L63
It's is clear that this class is half implemented.

[2016-05-17 13:15] SparoHawk commented on #10842
Did you mount the RouteGroup to the Router? Asking because I do not see it in the sample code.

`$router->mount($routerGroup);`

[2016-05-17 13:21] SparoHawk opened #11797 "Adding "/" to base route causes Phalcon to ignore the specified namespace"
I have this code:

[code]

If I switch the line `$admin->add('', 'Index::index');` for `$admin->add('/', 'Index::index');` I get an error and it shows that Phalcon is trying to get an AdminController with the namespace `Manager\Controllers` instead of looking in `Manager\Controllers\Admin`.

Any ideas?

[2016-05-17 16:24] cbhsqz commented on #11767
Hi @andresgutierrez @sergeyklay,

I don't think the original behavior is restored.

\Phalcon\Text::camelize('test-test') returns "TestTest" in phalcon 2.0.10.
\Phalcon\Text::camelize('test-test') returns "Test-test" in phalcon 2.0.12.

Can you check?

Tested on CentOS release 6.7 (Final)
php-phalcon2.x86_64    2.0.10-1.el6.remi.5.6    @remi-php56
php-phalcon2.x86_64    2.0.12-1.el6.remi.5.6    @re

[2016-05-17 17:51] MLukman commented on #11217
Dear sir, any info on when will this fix be tagged with an actual version (e.g. 2.0.13) and can be downloaded from official site?

[2016-05-17 18:52] sergeyklay commented on #11217
PR here https://github.com/phalcon/cphalcon/pull/11216

[2016-05-17 19:36] #10622 closed

[2016-05-17 20:06] RickyGit commented on #10842
Hello,

Yes, I have ``$router->mount($routerGroup);``

I have migrated to Phalcon 2.0 using
``$id = $this->request->getQuery('id');``
at the top of my action function

It works but if I can use parameters in action function definition it's better.

[2016-05-17 20:54] SparoHawk commented on #10842
I'll test it out with the current project I am working on, but I haven't encountered the same issue as you.

Meanwhile, can you provide an example `$id` that is making the route fail?

[2016-05-17 21:09] Skydev0h opened #11799 "PHQL generating broken query for Oracle PDO if aliasing tables (extra AS in query)"
Using PHQL to make a query with joins generates broken PDO query.
For example, next code:
[code]
Generates the following query:
[code]
[code]
which results in error:
SQLSTATE[HY000]: General error: 907 OCIStmtExecute: ORA-00907: missing right parenthesis (/root/build/php-5.6.17/ext/pdo_oci/oci_statement.c:148)

Trying to query without limit gives another error:
[code]
[code]
[code]
SQLSTATE[HY000]

[2016-05-17 21:39] Skydev0h commented on #11799
#11800

[2016-05-17 22:00] Skydev0h opened #11801 "PHQL returning empty rows for query (Oracle)"
Considering the following piece of code:
[code]
It generates the following result: _(i have already applied my "AS" aliasing fix)_
[code]
Meanwhile the generated SQL query to database:
[code]
gives correct results from the database.
![image](https://cloud.githubusercontent.com/assets/5331782/15340742/abba391e-1c93-11e6-8289-e67ce754ac52.png)

What's the problem here?

[2016-05-17 22:08] #11715 closed

[2016-05-17 22:14] sergeyklay commented on #11767
Will be fixed in `v2.0.13`

[2016-05-17 23:42] Jurigag commented on #10842
It's working for me with router groups. I don't know why id don't work for you. Maybe it's about query params ? Try to set $router->setUriSource(Router::URI_SOURCE_SERVER_REQUEST_URI); ?

[2016-05-18 05:34] rmrbest opened #11803 "Ubuntu package for 2.0.12 version"
Hi,

When will be available new package for ubuntu?

Reminder for Sergey ;)

Thanks!

Regards,
Raul.

[2016-05-18 07:04] sergeyklay commented on #11803
@rmrbest The 2.0.12 is availavle for Ubuntu https://launchpad.net/~phalcon/+archive/ubuntu/stable

Going to release 2.0.13 with camelize/uncamelize fix

[2016-05-18 07:21] #11799 closed

[2016-05-18 08:49] stamster commented on #11784
I hit this issue on one instance too.
My full stack trace tells only about runtime PHP exception, and it is regarding Phalcon Response object.
MVC application, so the issue is triggered on handle() method.

[2016-05-18 08:53] stamster commented on #11797
Namespace delimiter is different, i.e. it should not interfere with URI like that (escaping).
Try to put leading backslash in your namespace definition.

[2016-05-18 12:38] stamster commented on #11784
`RuntimeException Object
(
    [message:protected] => Trying to call method send on a non-object
    [string:Exception:private] =>
    [code:protected] => 0
    [file:protected] => /fullpath/site/public/index.php
    [line:protected] => 59
    [trace:Exception:private] => Array
        (
            [0] => Array
                (
                    [function] => sendHeaders
                    [c

[2016-05-18 12:48] SparoHawk commented on #11797
Nope. Still blows up:
[code]

[2016-05-18 13:23] jirgn opened #11805 "Changed Behaviour on Object-Construction on Phalcon 2.0.11+"
When upgrading from Phalcon 2.0.10 to 2.0.12 i experienced a problem on construction of a object derived from Phalcon/Http/Response in my microapplication.
In my code i found it handy to derive from Phalcon/Http/Response like

    class MyResponse extends Phalcon/Http/Response
    {
        function __construct($myOwn, $sinature)    {
            // no parent constructor called here

            $

[2016-05-18 14:21] stamster commented on #11805
In general,
you should use ```onConstruct()``` instead of ```__construct()```.

[2016-05-18 14:33] aleemb commented on #11767
I saw some other routing related issues. Had to revert back to `2.0.10` because anything with hyphens broke. I used to called `convert()` before where I did my own camel casing and returned the controller name. That is also now broken because I think because the newer version of Phalcon expects it to return a non-camelized name. So now I have have to change this:

    return lcfirst(\Phalcon\Text:

[2016-05-18 15:14] Skydev0h commented on #11805
Of course there will be errors if you override constructor and do not call parent constructor which indeed does some initialization for the class.
Response constructor does some initialization, to be more precise
[code]
And `setContentType` in turn calls `setHeader` which does
[code]
And guess what `getHeaders` returns? Right! `return this->_headers;`!

TL;DR: Never override native `__construct` w

[2016-05-18 18:44] sergeyklay commented on #11767
Fixed here https://github.com/phalcon/cphalcon/pull/11804

[2016-05-18 19:29] wiesl commented on #11745
Thnx, verified on master.

[2016-05-19 02:58] zxcvdavid commented on #10745
how's this going on?

[2016-05-19 11:01] Besedin86 opened #11807 "[2.1.x] Uniqueness validator with multiple fields is not compatible with old validator"
With old approach I can validate combination of fields for uniqueness like this:

[code]

With new approach I can't do that. The example below doesn't work

[code]

[2016-05-19 11:03] Jurigag commented on #11807
Well. But in new validation you need to type what you want to validate in constructor:

[code]

[2016-05-19 11:30] Besedin86 commented on #11807
This is not decision. When you set array as first param you will get error "Array to string conversion", because add() method or his alias rule() accepts only string-convertible variables. This is the first.

[code]

The second is in Uniqueness validator class. It does not support queries with multiple fields for uniqueness.

[2016-05-19 11:32] Jurigag commented on #11807
Well i guess it's not supported then. I will check it later to add support for it. It just needs to accept array, and if its an array - then do foreach on those fields. Pretty easy to fix.

[2016-05-19 13:06] Jurigag opened #11808 "[NFR]Get date/datetime types from metadata"
Right now i have many boilerplate code to handle datetime objects, saving them etc. Could we possibly add getDataTypesDate to metadata that will return fields that are type of date/datetime in database so we could add some code in abstract class to handle all date fields ? Im guessing that right now it can be done using $metadata->getDataTypes() and filtering keys which value is 4(for datetime) or

[2016-05-19 13:45] Jurigag commented on #11807
To be honest for me new validation is worse than old. For example in previous validation i could create validator which could validate multiple fields and have multiple message(one for field). Right now i don't know how to do this in new validation.

[2016-05-19 13:58] Jurigag opened #11809 "[2.1.x]Multiple field and message validation"
In old model validation 2.0.x i could do something like this:

[code]

[code]

I don't see currently in current Phalcon\Validation implementation similar way to do it. Right now i have to write EACH ADD for EACH FIELD which is kind of bad :/

I will try to add similar ability in current implementation.

Also this here - https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/validation/validator/un

[2016-05-19 15:25] Besedin86 commented on #11807
I'm tying to fix this problem in by [branch](https://github.com/Besedin86/cphalcon/commit/ebc6039b7f597f83ed943053222e280d086e280d)

[2016-05-19 15:29] Jurigag commented on #11807
Isn't better to do here for in https://github.com/Besedin86/cphalcon/commit/ebc6039b7f597f83ed943053222e280d086e280d#diff-86920296fe08950334f3b3f6d672f12cR167 and allow all validators multiple fields(as well as rest of those methods) ?

Also you could add option to allow messages as assoc array too(it will just access key which is field if message is array(this will need to edit all validators as

[2016-05-19 15:55] Besedin86 commented on #11807
we already have 'model' => $this in https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/mvc/model.zep#L1391

[2016-05-19 15:59] Jurigag commented on #11807
Yes, we are passing this, it's setter here - https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/validation.zep#L97 But in uniquness validator we don't access it using `getEntity()` only `model` so we need right now add model=>$this when adding Uniquness validator to model.

[2016-05-20 10:08] stamster commented on #11784
I found the root cause of this issue.
Prior to 2.0.11 (i.e. 2.0.10) extending Phalcon\Http\Response worked without instantiating parent constructor.
I just compiled Phalcon v 2.0.13 and this issue is still present. Thus, I had to call ``` parent::__construct();``` in order to instantiate Phalcon\Http\Response object.

So, it worked on v 2.0.10 w/o calling parent constructor.

[2016-05-20 11:27] cleithoff opened #11813 "QueryBuilder ignores LIMIT with Oracle"
When you use Phalcon\Mvc\Model\Query\Builder with Oracle the method limit does nothing.

Example from inside controller action:

$query = $this->modelsManager->createBuilder()->from('mytable');
$query->limit(100,200);
$result = $query->getQuery()->execute();

The $result has all records from that table. So limit is ignored. When I looked into the sql log I see following query:

SELECT * FROM (SELE

[2016-05-20 11:35] lubberscorrado commented on #11813
Thanks for the Workaround, i just came across the exact same issue and was pulling my hair off
Hopefully this can be fixed directly in phalcon soon :grinning:

[2016-05-20 13:04] Jurigag opened #11814 "Semantic Versioning"
There were lately discussion here: https://forum.phalconphp.com/discussion/11571/whats-going-on-with-phalcon

I think after realasing version 2.1.0(which supposed to be LTS) we should really switch to Semantic Versioning. So:

2.1.1 and next 2.1.x versions should be only bug fixes or adding methods which returns something that's already done in exisiting code for example this commit - https://gith

[2016-05-20 14:10] stamster commented on #11814
@Jurigag , I think this should be posted on official forum as well.

LTS means stability and backward compatibility. That is mandatory for enterprise acceptance, even though enterprises are not that agile to keep up to date their stacks once they got into production.

[2016-05-20 15:38] temuri416 commented on #11007
@andresgutierrez

Any update on this? Do you plan to implement it in 2.1?

Thanks!

[2016-05-20 15:39] stamster commented on #11805
@Skydev0h
Well, this used to work prior to v2.0.11 w/o calling parent constructor.

But I do agree that constructor should not be over-driven. Instead use custom Setter.

[2016-05-20 16:06] #11329 closed

[2016-05-20 18:23] tempcke opened #11815 "Phalcon\Forms\Element::GetForm()"
https://github.com/phalcon/cphalcon/blob/master/phalcon/forms/element.zep#L82

This (along with the ide libs in phalcon devtools) indicates that Element::GetForm() returns an ElementInterface

Though it is returning a Phalcon\Forms\Form

[2016-05-20 21:22] arthurgermano opened #11816 "Phalcon - CLOB - Oracle - Returns Resource(#)"
Hi.. Please I have the following issue:

1) I am using find to search in the database records, so far so good, records coming back nicely;
2) CLOB fields are returning with (Resource id #4) or (Resource id #3)

So I would need the actual content, not Resource id.

Any ideias how to solve this ?

Many thanks.. cheers!

[2016-05-20 21:50] arthurgermano commented on #11816
I found the solution to this problem

Since it returns resource id
We have to execute

stream_get_contents($clobField);

It will return the content.

This link I found the solution
http://wezfurlong.org/blog/2005/oct/lob-support-added-to-pdo-oci-in-php-5-1-cvs-finally/

It says that we also can set this
$db->setAttribute(PDO::ATTR_STRINGIFY_FETCHES, true);

to return Strings.. I did'nt tried but s

[2016-05-20 21:50] #11816 closed

[2016-05-21 05:42] googlle commented on #10378
+1

[2016-05-22 10:47] progsmile opened #11817 "ActiveController feature"
Hi there
Wish Phalcon has ActiveController for faster REST Api implementation. You can find this feature example in [Yii2](http://www.yiiframework.com/doc-2.0/guide-rest-quick-start.html#creating-controller).

Main idea: providing default resource management only with inheritance of ActiveController and setting right model

[code]

[2016-05-22 14:08] crocodile2u commented on #11465
I can confirm this issue. Using Volt, Phalcon 2.1.x & PHP-7. Templates used to work fine with PHP5 & Phalcon 2.0, now they're all complaining about Undefined variables. Just as an idea as of what can be a reason, consider these lines in Volt.zep:

[code]

let {key} = value - assignment to an undeclared variable. If you take a closer look, you will also find that if someone uses template varaibles

[2016-05-22 14:45] Jurigag commented on #11465
As i know symbol tables was changed in php 7 - this is why this code does not work.

[2016-05-22 14:47] Jurigag commented on #11817
Well you can create abstractclass with such a controller yourself, it's not very much coding.

[2016-05-22 15:35] temuri416 opened #11818 "[NFR] Implement Model snapshot loading call"
Hi all,

It would be nice to have an API method to allow manual loading of Model's snapshot:

[code]

Thanks!

[2016-05-22 17:17] progsmile commented on #11817
It would be great if such functionality come from the box)
I can try implement it on php and push to `incubator`

[2016-05-22 17:23] Jurigag commented on #11817
If you can then great. Then someone can port it to zephir.

[2016-05-22 19:49] andresgutierrez commented on #11583
Fixed in latest commits to 2.1.x

[2016-05-22 19:49] #11583 closed

[2016-05-23 00:01] virgofx opened #11819 "[2.1.x] Dispatcher doesn't forward when handling exception"
Code works in 2.0.x. It may have to do with the creation of the new `_dispatch()` method in 2.1.x and multiple levels of try/catch which do not work in zephir.

Pseudo code:

**bootstrap**
[code]

**TestController.php**
[code]

[2016-05-23 02:44] duythien commented on #11751
I think it is bad idea because we have some method get and set at https://docs.phalconphp.com/en/latest/api/Phalcon_Paginator_Adapter_NativeArray.html

[2016-05-23 08:46] jirgn commented on #11805
When writing this issue, i just wanted to point out, that you might have breaking changes in your 2.0.11+ releases. I also mentioned, that the code is no a good practice at all, but it would be a good thing, to add a hint in the change logs, or make a general hint in the documentation how to handle inheritance in the phalcon world.

[2016-05-23 09:14] betspin opened #11820 "[2.1.x] Phalcon Config parsing problem"
config:
[code]

output:
[code]

after removing '<' from jwt_key the output looks ok:
[code]

[2016-05-23 10:45] stamster commented on #11797
Which Phalcon version do you use to run your app?

[2016-05-23 11:44] sergeyklay commented on #11767
Fixed in `v2.0.13` and `master`

[2016-05-23 11:44] #11767 closed

[2016-05-23 11:50] crocodile2u commented on #11465
Well this is weird:
1. I used to have this problem, accompanied by "memory limit exhausted" on every call to Model::find/findFirst/count().
2. I discovered that I forgot to add php-imagick extension to PHP-7. I actually did not think that adding it would change anything in the Phalcon-based project - since the code crashed in other places than those that relied on Imagick.
3. I installed Imagick
4

[2016-05-23 18:13] stamster commented on #11805
Actually wherever you extended native Phalcon class w/o calling parent constructo it might break your code.

[2016-05-24 08:22] chrizzz0101 commented on #11820
If i Try on 2.0.9 in a *.ini i get also an error. We have to check for previous Versions too.

`Warning: syntax error, unexpected ')' in /var/www/invo/app/config/development/chris.ini on line 26 in /var/www/invo/app/config/configloader.php on line 20
Configuration file chris.ini can't be loaded
`

`[test]
jwt_key = LwT>NbE9HL<kfJehXg9H)up9&t2uejMN`

[2016-05-24 08:40] sergeyklay commented on #11820
@chrizzz0101 try
[code]

[2016-05-24 08:43] sergeyklay commented on #11820
Or do not use secret credentials like thi in config. For example you can try something like: http://phalcontip.com/discussion/54/using-true-secure-token

[2016-05-24 08:59] chrizzz0101 commented on #11820
thanks @sergeyklay
@betspin output config and check page source. at me its also:

`
[test] => Phalcon\Config Object
        (
            [jwt_key] => LwT>NbE9HL
`

but in page source its

`
    [test] => Phalcon\Config Object
        (
            [jwt_key] => LwT>NbE9HL<kfJehXg9H)up9&t2uejMN
        )
`

[2016-05-24 09:21] #11820 closed

[2016-05-24 10:23] tembem commented on #11788
Check your nginx configuration again. If you were using default installation, I think it should be:

[code]

[2016-05-24 10:26] Jurigag commented on #11788
But he is telling that without ```Users::find()``` everything works. So like for 99% he has seg fault and we need backtrace.

[2016-05-24 13:51] jellisii commented on #11745
Testing looks good.  Thanks.

[2016-05-24 14:55] dschissler commented on #11807
Essentially a dupe of #11173

[2016-05-24 15:06] #11807 closed

[2016-05-24 15:09] bkirova opened #11823 "Boolean check error in $view->disable()"
Class: Phalcon\Mvc\View
Method: render()
Error: fails on "  _disabled != false "

PHALCON CODE
[code]

DEBUG
[code]
RESULT
[code]

SYSTEM INFO
[code]

[2016-05-24 15:12] #11203 closed

[2016-05-24 15:14] andresgutierrez commented on #11634
You have to use Zephir 0.9.3

[2016-05-24 15:14] #11634 closed

[2016-05-24 15:41] Jurigag opened #11824 "Join as relation alias"
Well there is some weird behaviour. This code here:

https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/query.zep#L1525 to line 1546 is supposed to allow joining related models using an relation alias. So if we have for example:

[code]

Then we could possibly use:

[code]

But it doesn't work beacause phalcon is trying to load it as a model beacause of https://github.com/phalcon/cp

[2016-05-24 19:58] Jurigag commented on #11173
@dschissler @DimazzzZ

Well im looking into it. But it will require to allow just passing array of fields to add method. Im gonna do some PR to this in few days.

Just as i see in old validator if we was passing an array it was builiding condition just with two parameters. Is it gonna be the same if we just gonna do for in fields we are passing as array and do uniquness for each item in this array

[2016-05-24 20:44] JCMais commented on #11638
I cannot find a way to make this work, any workarounds?

[2016-05-24 21:06] sergeyklay commented on #11173
@Jurigag Could you please create PR?

[2016-05-24 21:17] andresgutierrez commented on #11173
However that syntax could be confusing, it could be:

* Add this validator to these fields at the same time
* and add this validator to these fields individually

[2016-05-24 21:33] JCMais commented on #11638
From what I can gather the issue is originating here: https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/mvc/router/annotations.zep#L162

Stack trace:

\# 1	Phalcon\Annotations\Reader->parse(Acme\Frontend\Controller\Acme\Frontend\Controller\IndexController)
\# 2	Phalcon\Annotations\Adapter->get(Acme\Frontend\Controller\Acme\Frontend\Controller\IndexController)
\# 3	Phalcon\Mvc\Router\Annotatio

[2016-05-24 21:38] sergeyklay commented on #11638
@Green-Cat

[2016-05-24 21:59] #11140 closed

[2016-05-24 22:24] Jurigag commented on #11140
Well if you will finish it(don't know if you are doing it in plain php or zephir). Then create proper PR with it.

[2016-05-25 08:47] DimazzzZ commented on #11173
@andresgutierrez this syntax is the same as in the old implementation of Phalcon 1.3.*. As for me it means exactly "Add this validator to these fields at the same time".

[2016-05-25 08:50] Jurigag commented on #11173
Well actually in old validation it was working diffrent - fields were in uniqueness validator. And there were query etc build for 2 fuilds. Now with this PR i changed it https://github.com/phalcon/cphalcon/pull/11826 - bascially if we pass array of fields to any validator it's just doinf loop in those fields and adding validator for field like it would be added as single field.

[2016-05-25 08:59] Jurigag commented on #11823
You have seg fault ? If yes then maybe backtrace can help.

[2016-05-25 10:15] basilfx opened #11827 "Segfault with incorrect query order"
I get a segfault for the following broken query (note the extra comma):

[code]

The segfault does not happen if I fix it:

[code]

Here is a backtrace:

[code]

Using:
- PHP 5.6
- Phalcon version fa01f63231c0f889f103e5b90ef01c6e9d575253
- Zephir version 9b78871b2e46a5b885a315808484fb0a8a9b64d9

[2016-05-25 11:52] Surt commented on #11286
I found an error. When getting related records it seems that the related models properties are setted before calling afterFetch. This causes that transformations done from database to the object fails. Let my try an example:

[code]

If I try to get related models with the methods from above the ```setPrice``` is called BEFORE the ```afterFetch```, causing a fatal error, since ```setPrice``` needs

[2016-05-25 11:55] Jurigag commented on #11286
Wait wait wait. I don't understand, when they should be set ? It's normal behaviour. Afterfetch means AFTER FETCHING, like SELECTING, SETTING VALUES ETC

[2016-05-25 12:58] Surt commented on #11286
@Jurigag yes, when fetching related records, the related records use the "_set" before the "afterFetch"

[2016-05-25 20:52] ramiromd opened #11828 "[BUG] Uniqueness validation fails on update"
Hi, i have Phalcon 2.0.8 installed and i am having troubles to validate a model before update it.

The model has an uniqueness validation constraint:

[code]

So, when i try update the price of the rate plan, the validation fails with  'The rate plan slug must be unique.'

[code]

I thought that this bug was fixed on 2.0.8.

[2016-05-25 21:32] Jurigag commented on #11828
Why you even doing this:

`$model->validation()` ? $model->update() is already doing `validation()`

[2016-05-26 11:46] Timberland-7 opened #11829 "CSRF validation issue when multiple browsing"
As the Phalcon' CSRF protection function ( $this->security->checkToken() ) uses PHP session id, if you add session adapter to your Dependency Injector which you should in order to get it work properly, the session renews itself with every request to the server, So when you have forms in multiple views:

`public function searchAction()`
`{`
`           // There's a form with $this->security->getTok

[2016-05-26 12:00] Jurigag commented on #11829
Well example of this problem you can find on phalcon forum.

[2016-05-26 12:39] hisorange commented on #11828
When you call validation the model does not know for what kind of operations so ofc it will fail.

[2016-05-26 13:22] sszdh commented on #10556
Hey,
Nothing here yet?
To assign `array` data to model's property?

[2016-05-26 13:29] sergeyklay commented on #10556
Could you please explain a bit more use case?

[2016-05-26 13:57] sszdh commented on #10556
@sergeyklay sure.

Consider this model:

[code]
Using this model as follow does not works:

[code]

The `my_prop` does not save anymore because this falls to relation check logic.
This [line](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L4106)

I change my Base model class with this line of code for workaround:

[code]

Thanks.

[2016-05-26 14:13] bkirova commented on #11823
There is no fault

After this check that fails even if _disable is true
[code]
The script continues with

[code]

and ends with `return this;`

[2016-05-26 14:33] Jurigag commented on #10556
IF you created setter why you not using it ? I don't understand the problem.

[2016-05-26 14:44] sszdh commented on #10556
@Jurigag Maybe you're right but `Developers can decide which strategy is more appropriate for the application they are creating.`
See [this](https://docs.phalconphp.com/en/latest/reference/models.html#public-properties-vs-setters-getters)

Anyway, your suggestion does not match to the issue we already have here!

Thanks.

[2016-05-26 14:51] Jurigag commented on #10556
But in docs is about PUBLIC PROPERTIES vs SETTERS/GETTERS, you created protected property and you trying to access it. You need setter for it(like in any other language like c# or java).

[2016-05-26 14:57] sszdh commented on #10556
@Jurigag So, are you saying that the Phalcon Model's `__set` and `_possibleSetter` strategies are totally wrong decision or bad feature? Are you trying to mention that?

[2016-05-26 15:01] Jurigag commented on #10556
Yes, it's wrong decission and bad feature in my opinion, basically `__set` method should be never added into php. I just don't understand - if you want to set private/protected property - just add setter and use it.

[2016-05-26 15:06] sszdh commented on #10556
@Jurigag If so, I think this is another topic that we can discuss about somewhere else.

In the current state, I think this is a bug that we can not assign and `array` data to protected property with setter method in our model. see this:

[code]
Isn't weird?

Thanks

[2016-05-26 15:08] Jurigag commented on #10556
Yes, it's a bug. But why you want to use magic setters if YOU ALREADY ADDED SETTER ?! I don't understand it, read the phalcon docs or any language docs perhaps ?

[2016-05-26 15:36] sszdh commented on #10556
@Jurigag Okey, in short use case consider this usecase:
[code]

For record:
Actually in the above approach of saving data (passing data as argument to `save()`), the setter will be called for `array` data! (Thanks to this [line](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L480) of code)

[2016-05-26 15:39] Jurigag commented on #10556
It will work. The problem is not with `_possibleSetter` but with `__set` method.

[2016-05-26 15:44] sszdh commented on #10556
@Jurigag What are you meaning "It will work" ?

Actually my last example is for this question:

[2016-05-26 15:45] thomascooper opened #11830 "[2.1.x] Crazy issue: DbAdaptor will take a direct string, but not a variable string"
Team,

I am running PHP7 and Nginx with phalcon loaded in a docker container. I have had no issues until today. I have never seen an issue like this before, the DbAdaptor will take a direct string and connect, but if I set the string in a standard variable it fails with "Exception: SQLSTATE[HY000] [2002] No such file or directory"

Here is the working code
[code]

And here is the failing code
[cod

[2016-05-26 15:50] sszdh commented on #10556
@Jurigag This is not about just using `__set` magic method to have magic setting stuff. If you look closer, Actually The `_possibleSetter()` is a handmade magic setter, logically :)

[2016-05-26 15:56] Jurigag commented on #10556
But it doesn't using magic setter in the case you wrote. It's just calling setter if there is one, if no - it's just setting value using this->{key} = value;

[2016-05-26 16:16] Jurigag commented on #11830
[code]

?

[2016-05-26 16:23] Jurigag commented on #11828
Yea right, i missed it, it's obvious.

[2016-05-26 19:13] #11830 closed

[2016-05-27 07:57] sxpd7788 commented on #10609
[code]

I get this error
Phalcon\Mvc\Model\Exception: Syntax error, unexpected token ), near to ' AND ([warmup\models2\TagRelation].[relationid] = :APR0:)', when parsing: SELECT [warmup\models2\Tag].* FROM [warmup\models2\Tag] INNER JOIN [warmup\models2\TagRelation] ON [warmup\models2\TagRelation].[tagid] = [warmup\models2\Tag].[id] WHERE (([warmup\models2\TagRelation].type = "1" ) AND ) AND ([war

[2016-05-27 08:23] royen-go opened #11831 "Many-To-Many conditions error"
[code]

I get this error
Phalcon\Mvc\Model\Exception: Syntax error, unexpected token ), near to ' AND ([warmup\models2\TagRelation].[relationid] = :APR0:)', when parsing: SELECT [warmup\models2\Tag].\* FROM [warmup\models2\Tag] INNER JOIN [warmup\models2\TagRelation] ON [warmup\models2\TagRelation].[tagid] = [warmup\models2\Tag].[id] WHERE (([warmup\models2\TagRelation].type = "1" ) AND ) AND ([wa

[2016-05-27 10:06] #11829 closed

[2016-05-27 11:56] shellingz commented on #1253
+1 verbatim

[2016-05-27 19:26] #11600 closed

[2016-05-28 06:57] KennethVeipert commented on #11733
I can reproduce this bug, if i create a class that extends \Phalcon\Session\Adapter\Redis and overwrite method `write`:
[code]
everything works fine.

To reproduce:
I use this to initialize the session with redis-adapter:
[code]
Then you can see at the bottom of the page:
[code]

Hope this helps.

Phalcon-Version: 2.0.11
PHP: 7.0.4-7ubuntu2.1

[2016-05-28 09:50] sergeyklay commented on #11733
Fixed in the `2.1.x` branch

[2016-05-28 13:31] wesias7 opened #11837 "Installed Warnning Messages. Phalcon 2.0.x Php7 with Ubuntu 16.04"
[code]

when zephir installed, this warning messages.

[2016-05-28 13:43] #11837 closed

[2016-05-28 15:23] tegaphilip commented on #1867
@ignaciovazquez when saving, are you saving a single model or a model and its related records?

[2016-05-28 15:47] ignaciovazquez commented on #1867
@tegaphilip  It was a single model. I solved this some time ago, but I don't remember exactly what the fix was. It had to do with saving the object twice in the same script.

[2016-05-28 16:11] tegaphilip commented on #1867
@ignaciovazquez you are right. i solved mine just now. was saving the object twice. first on its own , then saving it with its related model. separated the saves and it was fixed. thanks.

[2016-05-28 16:59] ignaciovazquez commented on #1867
I'm glad I could help.

I still think it's a bug. Saving it twice shouldn't be causing this issue.

[2016-05-28 21:55] sergeyklay commented on #11823
@bkirova Could you please check now the 2.1.x branch?

[2016-05-28 23:08] dred86 commented on #11823
Hi, I checked the problem, seems to be a "bug" Zephir.

in PHP:
[code]
output:
[code]

In Zephir:
[code]
output:
[code]

[2016-05-29 04:32] nkrh opened #11839 "Phalcon\Tag::setDefaults() in Partial View"
Phalcon\Tag::setDefaults() in partial view overwrites parent view's tag defaults.

main.phtml

[code]

partial.phtml

[code]

Produces :

[code]

test.php:

[code]

PHP: 5.6.12
Phalcon: 2.0.8
OS: Windows 8.1

[2016-05-29 11:01] kakuilan commented on #11029
@dschissler
Maybe when you get a service, use getService instead of get, for example:
$cache = $this->di->get('cache'); //Phalcon 2.0X
Replace as:
$cache = $this->di->getService('cache'); //Phalcon 2.1

[2016-05-29 11:25] sergeyklay commented on #11709
@ogarbe ping

[2016-05-29 14:44] challet commented on #10793
Could I add that even for optional properties, an _assign_ function would nice to have :

`public function assign(array $data)
{
    foreach ($data as $property => $value) {
            $this->$property = $value;
        }
    }
}`

[2016-05-29 18:55] ogarbe commented on #11709
my pb is that i have a factory default which is called by a static method called initialize, which use closure.

Hence i've done this commit https://github.com/vpg/cphalcon/commit/e217b35ba6a989f758b4fa29837f834c8fcafe75 which fix the error and add backwards compatibility.

The fix just don't remove a warning, which is better, and doesn't change anything else.

[2016-05-29 19:27] butamuh4o opened #11842 "Issue with {some:array} in PHQL/Models"
Hi there,

It seems i use that type type of variables much more... so i found issue. Let give u example:

[code]
- so this will return error ***"PDOException: SQLSTATE[HY093]: Invalid parameter number: parameter was not defined"***. After some time of attempts i realize the problem is the keys of the array ```$s```- they did not start from 0! If you make ```$s = array_values($s);``` to reset keys

[2016-05-30 02:04] rahuldroy commented on #11789
@sergeyklay Can you please elaborate on that

[2016-05-30 09:05] chenlongke opened #11843 "why "phalcon.zep.c:140681: error: ‘ZEND_FE_END’ undeclared" this error?"
sudo ./install

Configuring for:
PHP Api Version:         20090626
Zend Module Api No:      20090626
Zend Extension Api No:   220090626
checking for grep that handles long lines and -e... /bin/grep
checking for egrep... /bin/grep -E
checking for a sed that does not truncate output... /bin/sed
checking for C compiler default output file name... a.out
checking whether the C compiler works... yes
che

[2016-05-30 11:04] lajosbencz commented on #11824
Suppose I have 3 tables, **user**, **group** and **user_group**.
The User model has a hasMany relationship to UserGroup with the alias of Group.

In this case ```->leftJoin('Group')``` would be ambigious... Which would take precedence?

[2016-05-30 11:17] stamster commented on #11842
This might be PDO issue more than Phalcon's, since you're getting plain PDOException. Bound parameters should be numerical array (starting at index 0 by default).

[2016-05-30 11:44] butamuh4o commented on #11842
Hmm, will accept that... but... is it possible PHQL prepare that or this is on purpose?

[2016-05-31 11:46] googlle opened #11847 "When finally phalcon will fully support php7?"
We've been waiting for. I'm sorry but it's really long

[2016-05-31 11:47] Jurigag commented on #11847
When 2.1.0 version will be released.

[2016-05-31 11:47] googlle commented on #11847
I know that

[2016-05-31 11:47] stamster commented on #11847
@googlle
What exact feature of PHP7 you're missing with current stack combined with Phalcon?

[2016-05-31 11:52] Jurigag commented on #11823
On php 5.x you have good result right ?

[2016-05-31 11:53] googlle commented on #11847
I am not missing any features with current stack. Just want to phalcon support the latest trends

[2016-05-31 11:54] googlle commented on #11847
Already PHP 7.0 is the default PHP package shipping in Ubuntu LTS 16.04

[2016-05-31 11:58] Jurigag commented on #11847
I wrote when it will be relasead. Here you have how latest build looks with php 7 : https://travis-ci.org/phalcon/cphalcon/jobs/132122392 as you see in old tests one test fail, in new tests there is some weird seg fault.

[2016-05-31 11:59] stamster commented on #11847
Ubuntu 16.04 LTS is only a month 'old' distro.
Take a look at other popular software packages, they still require PHP 5.3 due to ```array()```syntax.

We all want Phalcon to be well supported, and PHP7 is major milestone in that direction. Working as a software developer / engineer you are probably aware of situation when you have a certain deadline but your project stalled for whatever reason, so

[2016-05-31 12:14] Jurigag commented on #11843
You sure that your php version is 5.6.0 ? PHP Api Version: 20090626, 2009 year is like php 5.3.0 which is not more supported. What php -v return ?

[2016-05-31 12:22] Jurigag commented on #11842
Im guessing this is on purpose. This could be fixed, but it would doing some stuff like array_values. And there is no really convenient way in php to check if assoc array is numerated from 1 or 0 etc.

[2016-05-31 12:23] googlle commented on #11847
I know we have to wait. Thanks for the replies. We will wait

[2016-05-31 12:24] Jurigag commented on #11847
Just install php5.6 on ubunty 16.04, don't know what's the problem.

[2016-05-31 12:31] Jurigag commented on #11824
Well, im guessing this is solving this question, beacause yea, this will be a big problem.

[2016-05-31 12:40] stamster commented on #11842
Well,
something like
[code]

But like I said PDO expects numerically indexed array here, which by default starts at index 0.

[2016-05-31 12:43] Jurigag commented on #11842
Well, but isn't this stuff only in phalcon ? As far as i know PDO don't allow binding array like we have.

[2016-05-31 15:16] butamuh4o commented on #11847
U know... we always want last and modern technology :) We know time is needed but- we are excited and cant wait :)

Good luck :)

[2016-05-31 15:19] jellisii opened #11848 "getRender method does not seem to respect the render level set by setRenderLevel"
[code]

Expected functionality would be for the string returned to match what would be on the output.  This does not appear to be true.

--update: Formatting

[2016-05-31 15:32] jellisii commented on #11848
The current workaround that I've found is to disable all the unused renderLevels.

[2016-05-31 15:39] dred86 commented on #11823
Yes i suppose, because in php 5.x we use this view disable and it works.
I've made the test with same system requirements as @bkirova

[code]

[2016-05-31 17:32] challet commented on #11134
fixed with #11840

[2016-05-31 17:32] #11134 closed

[2016-05-31 17:43] sergeyklay commented on #11843
PHP 5.3.x is not supported anymore

[2016-05-31 17:43] #11843 closed

[2016-05-31 17:52] sergeyklay commented on #11847
For questions like this, you have to use the forum: https://forum.phalconphp.com/

[2016-05-31 17:52] #11847 closed

[2016-06-01 08:40] cq-z commented on #11733
PHP Warning:  session_destroy(): Session callback expects true/false return value
redis->delete($id) renturn not bool

Documentation ：
[code]

[2016-06-01 08:49] sergeyklay commented on #11733
I'll check

[2016-06-01 10:03] hisorange commented on #11842
You can bind in PDO like
[code]

[code]

As far as I know phalcon doing the same just a bit smarter and required the param to be :id: instead of :id

[2016-06-01 10:04] Jurigag commented on #11842
I know you can bind in PDO like this. I mean we can't bind array in PDO..... read first, then answer.

[2016-06-01 10:28] lajosbencz commented on #11824
I don't know, it's not a bad idea... I can see how it would make life easier for lazy people like me.

It just needs to be well thought through, I'd suggest that model names take precedence and then the relation aliases. This way it wouldn't break existing code.

[2016-06-01 10:33] Jurigag commented on #11824
Well, when I will have time I will look into it. But why ? Maybe we want to name relation alias same as class name and we want to join this alias - and the way you wrote we will have model joined if we have such a model too. Well, I think I will add global variable so it will look first for relation alias, then for model class, but default behaviour will be the one you wrote.

[2016-06-01 10:54] lajosbencz commented on #11824
Maybe we could use the ```Phalcon\Mvc\Model\Manager::registerNamespaceAlias()``` (or similar) method to assign a prefix for relation aliases.

For eg:
[code]

Just thinking aloud...

[2016-06-01 10:56] Jurigag commented on #11824
Well, this is not the bad idea.

[2016-06-01 15:07] AstmDesign opened #11850 "Installing phalcon with mamp on osx mavericks"
Guys, I'm trying to install phalcon on osx system with mamp
First I runed the command
**export PATH=/Applications/MAMP/bin/php/php5.6.7/bin:$PATH**
to load the version 5.6.7 after then
runed the command
**cd /Applications/MAMP/bin/php/php5.6.7/include/php**
then
**brew install pcre**
then
**git clone --depth=1 git://github.com/phalcon/cphalcon.git**
then
**cd cphalcon/build**
then
**sudo ./install

[2016-06-01 15:14] Jurigag commented on #11850
[code]

What is this ? Phalcon is php extension.

[2016-06-01 15:23] ulfims commented on #11850
Try:
php -m

It whill show you : Phalcon on the list

[2016-06-01 15:51] AstmDesign commented on #11850
**phalcon -v**
-sh: phalcon: command not found

[2016-06-01 15:52] AstmDesign commented on #11850
**php -m**
phalcon not in the last

[2016-06-01 15:54] ulfims commented on #11850
phalcon not in the last

@AstmDesign its ok. It means phalcon was installed

[2016-06-01 15:58] dnapierata commented on #11504
I'm having this same issue, only both APR0 and APR1 are both being passed NULL.

[2016-06-01 16:24] AstmDesign commented on #11850
not in the list
this is my list now
---------------------
[PHP Modules]
bcmath
bz2
calendar
Core
ctype
curl
date
dom
ereg
exif
fileinfo
filter
ftp
gd
gettext
hash
iconv
imap
intl
json
ldap
libxml
mbstring
mcrypt
mysql
mysqli
mysqlnd
openssl
pcre
PDO
pdo_mysql
pdo_pgsql
pdo_sqlite
pgsql
Phar
posix
readline
Reflection
session
SimpleXML
soap
sockets
SPL
sqlite3
standard
tokenizer
wddx
xml
xmlreader
x

[2016-06-01 17:19] Jurigag commented on #11850
But did you added phalcon to php.ini cli ? By default it's not added to cli.

[2016-06-01 17:33] AstmDesign commented on #11850
no I didn't added phalcon to php.ini cli  and really I don't know how to add it , BTW i'm using mamp

[2016-06-01 17:34] Jurigag commented on #11850
So you need to add it to php.ini for cli if you need phalcon in cli.

[2016-06-01 17:54] AstmDesign commented on #11850
thank you, it's working now well after adding the extension=phalcon.so to my php.ini

[2016-06-01 19:24] #11850 closed

[2016-06-02 06:48] lutsifer commented on #2175
I have Phalcon 2.0.8 and again before each query I can clearly see in slow log this:

`SELECT IF(COUNT(*) > 0, 1, 0) FROM `INFORMATION_SCHEMA`.`TABLES` WHERE `TABLE_NAME` = 'teams' AND `TABLE_SCHEMA` = DATABASE();`

[2016-06-02 08:01] Jurigag commented on #2175
But you have modelsMetadata service in di registered ?

[2016-06-02 08:12] lutsifer commented on #2175
right...
`$di->set('modelsMetadata', function () {
    return new MetaDataAdapter();
});`

What is the best option to escape this constant mysql query?

[2016-06-02 08:14] Jurigag commented on #2175
Yes if this is apc/files/xcache adapter.

[2016-06-02 08:20] lutsifer commented on #2175
Oh I see :) Thank you!

[2016-06-02 20:57] Graphmatic commented on #925
+1

[2016-06-03 01:11] al35mm opened #11852 "Paginator breaking query builder query"
Phalcon 2.0.10
I have a MySQL query generated using query builder which runs just as it should. However, when I add the paginator to it I get the following error `PDOException: SQLSTATE[42000]: Syntax error or access violation: 1064....  for the right syntax to use near ') AS`rowcount`FROM ...`

The paginator seems to be breaking the query by adding `SELECT count() AS rowcount`. I have set `column

[2016-06-03 11:28] mzf commented on #925
good idea +1

[2016-06-03 11:32] Swader commented on #925
For the interested, I've additionally implemented outside of Phalcon waters at [nofw](https://github.com/swader/nofw) - just a combo of the Robo task runner, Mini-asset for compiling, and that's about it.

[2016-06-03 19:42] sergeyklay commented on #11733
Fixed in the `2.1.x` branch

[2016-06-03 19:42] #11733 closed

[2016-06-04 15:21] dschissler commented on #11842
This might be a dupe of #11605

[2016-06-04 15:51] sergeyklay commented on #11839
@nkrh Could you please try latest stable version?

[2016-06-04 23:43] joostshao opened #11854 "why build so large so file 243MB ? how to make it smaller ?"
243M -rwxr-xr-x 1 root root 243M  6月  5 07:42 phalcon.so*

[2016-06-05 00:17] andresgutierrez commented on #11854
How did you compile it?

[2016-06-05 00:29] Jurigag commented on #11854
You probably have php with debug. Just compile php without debug and it will be like 4.8-5 mb.

[2016-06-05 08:05] #11854 closed

[2016-06-05 13:12] joostshao commented on #11854
yes, i compile with debug

[2016-06-05 13:24] joostshao commented on #11854
@Jurigag  why the debug version will add so much binary size ? any reference or docs ?

[2016-06-05 13:26] Jurigag commented on #11854
Beacause it's adding debugging symbols.

[2016-06-05 14:03] joostshao commented on #11854
at now:

142MB  23308 16316

it is normal now, thank you.

but , i am instereting in debug PHP using gdb, so in my own computer , i always build with debug.

[2016-06-05 14:05] Jurigag commented on #11854
Well then if you need debugging than just use it. In dev env there will be no problem. Just don't use it on production as debug.

[2016-06-06 06:47] Smoozilla opened #11857 "Volt Macro Partial Output 2.1.0R"
[code]

[code]

Produces

[code]

[2016-06-06 06:48] Smoozilla commented on #11857
Also see

https://forum.phalconphp.com/discussion/11727/volt-macro-bug

[2016-06-06 08:45] SlowProg opened #11858 "Memory leak of queryKeys"
Method `\Phalcon\Cache\Backend\Redis::queryKeys()` have the memory leak.

[code]

This code returns the following:

[code]

[2016-06-06 09:18] SlowProg commented on #11858
My bad. In version 2.0.13 it's ok!

[2016-06-06 09:18] #11858 closed

[2016-06-06 16:04] #11803 closed

[2016-06-06 16:08] andresgutierrez commented on #11823
Can you try again using latest Zephir?

[2016-06-06 17:39] dred86 commented on #11823
Now it works fine
[code]
Thanks!

[2016-06-06 18:55] sergeyklay commented on #11823
@bkirova Could you please check now by using latest Zephir?

[2016-06-06 19:18] bkirova commented on #11823
@sergeyklay thanks a lot!

[2016-06-06 23:53] #11823 closed

[2016-06-07 08:50] butamuh4o commented on #11842
Okay then, i will close it.

[2016-06-07 08:50] #11842 closed

[2016-06-08 11:22] Jurigag opened #11860 "Can't select full objects using builder"
I have some query like this:

[code]

All relations etc are fine. `Admin` class is extending `Samochody\Models\User\User` class. But when i try to access columns like this(so i can get admin object) i got:

[code]

ColumnMap looks like this in `Admin` class:

[code]

and it returns:

[code]

Also when i try do ANYTHING with $test, like var_dump it, or toArray() it i have `PHP message: PHP Fatal er

[2016-06-08 11:56] Jurigag commented on #11860
Right now it looks like i need to select from admin, join all cars, group by etc. I think it will be slower than just selecting joined admin from car.

[2016-06-08 12:21] Jurigag commented on #11860
Well updated to newest version and it works. But still i have problem when for example selecting `Car.*` and `Admin.*` then i have nulls.

[2016-06-08 18:22] Skydev0h opened #11862 "Oracle lastInsertId returning array - breaks saving related records"
Oracle lastInsertId returns array of value instead of the actual value.
This breaks saving of related records.
![image](https://cloud.githubusercontent.com/assets/5331782/15905728/98815c38-2dbe-11e6-8874-a3be4765561f.png)

To fix you need to change line `228` of file `phalcon/db/adapter/pdo/oracle.zep` to this:
[code]
instead of
[code]

[2016-06-08 18:26] Jurigag commented on #11862
If you know how to create fix then what about doing PR ?

[2016-06-08 18:43] dred86 opened #11863 "Config Adapter Ini"
In Line 65:
`let iniConfig = parse_ini_file(filePath, true);`

INI_SCANNER_TYPED preserves the data types when reading ini strings.

Example Config Ini File:

[code]

Without INI_SCANNER_TYPED:
[code]

With INI_SCANNER_TYPED:

[code]

[2016-06-08 18:55] sergeyklay commented on #11863
Could you please send PR?

[2016-06-09 07:05] mruz commented on #11863
`INI_SCANNER_TYPED` has added since PHP 5.6.1, so for an older PHP versions will be different behaviour. You can do it with `INI_SCANNER_RAW` as is in the [ice](https://github.com/ice/framework/blob/dev/ice/config/ini.zep).

[2016-06-09 07:35] stefanchiriac commented on #11788
@Jurigag I hope you realize that by asking of a core dump you're sending people to the C world. A common php developer just seeing that page will just give up. Even following that guide step by step is still confusing. I tried once, got nothing and I gave up.

To solve these kind of problems, a solution would be to try to replicated it yourself, or maybe write an example how it should be done.

Th

[2016-06-09 07:41] sergeyklay commented on #11788
@Doncode I can't reproduce. Could you please provide more information: your Nginx config, script to reproduce, current PHP version, current Phalcon version, DB name and version an OS

[2016-06-09 07:56] dred86 commented on #11863
i've already checked the INI_SCANNER_RAW but the problem is still the same without  INI_SCANNER_TYPED.
i’ll try to find out another solution.

[2016-06-09 07:58] Jurigag commented on #11788
@stefanchiriac How to c world ? How did you get nothing ? I always on my servers/vps etc doing it step by step i always got core dump and result from gdb.

[2016-06-09 08:02] mruz commented on #11863
You have to compare `INI_SCANNER_NORMAL` with `INI_SCANNER_RAW` and cast manually eg. like in ice's ini:
[code]

[2016-06-09 08:04] dred86 commented on #11863
Ahhhh i read the code now, Gud :)

[2016-06-09 08:50] stefanchiriac commented on #11788
GDB is a C/C++ debugger. I tried to use it for seg fault on cphalcon compiling with zephir and I find it quite confusing what paths I should put for that. Tried once, got nothing and gave up since is not a priority and my free time is very short these days.

[2016-06-09 08:54] Jurigag commented on #11788
Yes it is, but you have everything in tutorial stated above.

[2016-06-09 11:02] #11860 closed

[2016-06-09 20:51] sergeyklay commented on #2416
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 20:51] #2416 closed

[2016-06-09 20:53] #3018 closed

[2016-06-09 20:53] #2415 closed

[2016-06-09 20:53] sergeyklay commented on #2404
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 20:53] #2404 closed

[2016-06-09 20:54] sergeyklay commented on #2383
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 20:54] #2383 closed

[2016-06-09 20:55] sergeyklay commented on #2501
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 20:55] #2501 closed

[2016-06-09 20:56] sergeyklay commented on #2194
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 20:56] #2194 closed

[2016-06-09 20:56] sergeyklay commented on #2330
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 20:56] #2330 closed

[2016-06-09 20:56] #2403 closed

[2016-06-09 20:57] #2443 closed

[2016-06-09 20:57] sergeyklay commented on #2615
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 20:57] #2615 closed

[2016-06-09 20:57] sergeyklay commented on #2624
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 20:57] #2624 closed

[2016-06-09 20:57] sergeyklay commented on #2643
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 20:57] #2643 closed

[2016-06-09 20:59] sergeyklay commented on #2645
The 1.3.x branch is not longer supported.

[2016-06-09 20:59] #2645 closed

[2016-06-09 20:59] sergeyklay commented on #2646
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 20:59] #2646 closed

[2016-06-09 21:00] sergeyklay commented on #2651
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 21:00] #2651 closed

[2016-06-09 21:00] sergeyklay commented on #2660
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 21:00] #2660 closed

[2016-06-09 21:01] sergeyklay commented on #2661
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 21:01] #2661 closed

[2016-06-09 21:01] sergeyklay commented on #2763
Already fixed in Devtools

[2016-06-09 21:01] #2763 closed

[2016-06-09 21:02] #2851 closed

[2016-06-09 21:02] sergeyklay commented on #2796
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 21:02] #2796 closed

[2016-06-09 21:02] sergeyklay commented on #9933
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 21:02] sergeyklay commented on #10319
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 21:02] #10319 closed

[2016-06-09 21:03] #10357 closed

[2016-06-09 21:04] sergeyklay commented on #10477
The 1.3.x branch is not longer supported.

[2016-06-09 21:04] #10477 closed

[2016-06-09 21:05] sergeyklay commented on #3221
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 21:05] #3221 closed

[2016-06-09 21:06] sergeyklay commented on #10334
@fefas Could you please try latest Phalcon?

[2016-06-09 21:07] sergeyklay commented on #10360
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2016-06-09 21:07] #10360 closed

[2016-06-09 21:08] #10840 closed

[2016-06-09 21:49] quasipickle opened #11868 "[Bug] Macros strip & use only the first element of passed arrays"
Hi,

With Phalcon 2.0.11, if an array (or an object that can be iterated) is passed as a parameter to a macro, then inside the macro, that parameter is no longer an array, but is the first element in the array.

Consider this action:
[code]

And this view:
[code]

The output will be:
[code]

[2016-06-09 21:54] Jurigag commented on #11868
Check on phalcon 2.0.12 or later.

[2016-06-09 22:11] quasipickle commented on #11868
Ah, yep - 2.0.12 fixes it.

[2016-06-09 22:11] #11868 closed

[2016-06-09 22:44] sergeyklay commented on #11173
@bluetec @dschissler Could you please check now 2.1.x? See #11826

[2016-06-09 23:16] dschissler commented on #11173
I'm building it now and I'll work with it tomorrow.

[2016-06-10 01:13] fefas commented on #10334
@sergeyklay .. this issue is very old and I do not have this trouble anymore .. I believe you can close it if no one reported similar problems.

[2016-06-10 05:38] #10334 closed

[2016-06-10 05:55] sergeyklay commented on #11501
Try latest Phalcon with database index

[2016-06-10 05:55] #11501 closed

[2016-06-10 09:42] dschissler commented on #11173
It works for me so probably this should be closed.  @Jurigag is working on an internal cleanup but it won't affect users.

[2016-06-10 09:45] dschissler commented on #11605
@sergeyklay Please add this to the 2.1 milestone as this is very serious for those affected by it and its a regression of relied upon behaviour.

[2016-06-10 09:51] kimonniez commented on #1134
Regards to first post.
PDOException: SQLSTATE[55000] connected with primary key. If you dont have PK you will catch this exception

[2016-06-10 13:02] rahuldroy commented on #2294
The implementation seems to be correct. The implementation also happens to be very similart to Zend Framework's implementation as well.

The Issue seems to be that the users are using PHP as a CGI/FastCGI. We will need to do some .htaccess magic in order for it to appear in request->getHeaders();

Something like this maybe? -
[code]

The reason why getAllHeaders() works is because it actually call

[2016-06-10 17:13] sergeyklay commented on #11852
@al35mm Could you provide more information to reproduce this issue? Table schemas, `$where`, `$having`, `$order`, etc

[2016-06-10 17:35] sergeyklay commented on #11493
[code]

[2016-06-10 17:35] #11493 closed

[2016-06-10 17:38] #11507 closed

[2016-06-10 17:57] sergeyklay commented on #11444
Fixed in the `2.1.x` branch

[2016-06-10 17:57] #11444 closed

[2016-06-10 17:57] sergeyklay commented on #11446
Fixed in the `2.1.x` branch

[2016-06-10 17:57] #11446 closed

[2016-06-10 18:36] sergeyklay commented on #11502
Could you please elaborate?

[2016-06-10 18:38] sergeyklay commented on #11350
The 2.0.x branch is not longer supported.

[2016-06-10 18:38] #11350 closed

[2016-06-10 18:39] sergeyklay commented on #11407
@wolftail Could you please explain a bit more?

[2016-06-10 18:41] sergeyklay commented on #11442
@fenixphp Could you please explain a bit more?

[2016-06-10 18:43] sergeyklay commented on #11434
@ioncube For doc related issues use please https://github.com/phalcon/docs repo

[2016-06-10 18:43] #11434 closed

[2016-06-10 18:45] #11398 closed

[2016-06-10 19:46] fenixphp commented on #11442
Expected:
[code]

More correct would be to give ability to define in the "DI" as the part the called the owners or object "DI"

[code]

Something like this.

[2016-06-10 19:52] Jurigag commented on #11442
[code]

But this function doesn't knoa ANYTHING about your $this class object. It's not phalcon problem, it's php problem. I'm not sure but how about:

[code]

It should override $this from DI maybe ?

[2016-06-10 19:56] fenixphp commented on #11442
@Jurigag "Di Closure $this by declared object."

[2016-06-10 20:00] fenixphp commented on #11442
[code]
PHP Fatal error:  Cannot use $this as lexical variable in .....

[2016-06-10 20:03] andresgutierrez commented on #11442
In Phalcon 2.1, this is $di, but in PHP you can't bound $this to a closure, you have to use something like:

[code]

[2016-06-10 20:08] sergeyklay commented on #11442
[code]

:)

[2016-06-10 20:10] sergeyklay commented on #11442
@andresgutierrez  you are faster than me :)

[2016-06-10 20:10] #11442 closed

[2016-06-10 20:11] fenixphp commented on #11442
Так я уже и сам накостылял :) ... Sorry for my English.

[2016-06-10 20:41] fenixphp commented on #11442
A similar picture to the default view, only you can disable them ``` useImplicitView(false); ```.
So why not give the same opportunity to "DI"  ``` overrideClosureBind(false); ```?

[2016-06-10 20:55] Jurigag commented on #11442
But you would still need to bind this closure to your object or pass $this.

[2016-06-10 21:27] sergeyklay commented on #11356
Coud you please provide object?

[2016-06-10 21:47] sergeyklay commented on #11386
Fixed in 2.1.x branch

[2016-06-10 21:47] #11386 closed

[2016-06-10 23:08] dschissler commented on #11356
Yes sir.  A nice little collection of files could also help to expose the limitations in what I will call the "stand alone" compiler.  Yesterday in my public project I found a situation in which `{{ request... }}` works in the raw compiled templates but not in the precompiled ones so I had to change it to `{{ this.request...}}`.  I will build a little stand alone test suite towards this other obje

[2016-06-11 01:53] tembem commented on #11862
@Skydev0h i help you creating this pull request https://github.com/phalcon/cphalcon/pull/11874

[2016-06-11 09:01] #11287 closed

[2016-06-11 13:41] sergeyklay commented on #11374
Fixed in the `2.1.x`

[2016-06-11 13:41] #11374 closed

[2016-06-11 13:43] sergeyklay commented on #11809
Implemented in 2.1.x

[2016-06-11 13:43] #11809 closed

[2016-06-11 14:22] #11635 closed

[2016-06-11 14:28] sergeyklay commented on #11126
Fixed in the `2.1.x` branch.

[2016-06-11 14:28] #11126 closed

[2016-06-11 15:16] sergeyklay commented on #1367
Fixed in the 2.1.x

[2016-06-11 15:16] #1367 closed

[2016-06-12 07:34] mbadal commented on #11814
Is this issue still live? I have searched the forum, but was not able to find any threads with this topic.

IMHO semantic versioning could be really helpful for phalcon.

[2016-06-12 08:24] sergeyklay commented on #11814
https://gist.github.com/jashkenas/cbd2b088e20279ae2c8e

[2016-06-12 11:46] Jurigag commented on #11814
Well yea, but changes for example to old model validation wasn't a "small change". It can possibly break a LOT of applications. That's why we should remain old behaviour as well.

[2016-06-12 21:07] borisdelev opened #11877 "Volt issue- array keys must be always a string..."
Hi there :)

Today i find something wrong with volt (or i think is wrong), so let u show u by example (in volt template):

[code]

This example will **NOT** work- return error: _"Phalcon\Mvc\View\Exception: Syntax error, unexpected token COLON"_.

I notice smnth- this example will work only when the keys are strings, like: `['1': 'Monday', '2' ...]`.
Is it normal that behavior?

phpinfo : Phalcon

[2016-06-13 09:15] Hoet opened #11879 "Problem with nested for loops"
'properties' is the result from a properties model like 'Properties::find([ "order" => "name" ])'. The result contains 12 results. When dumping the 'properties' I do see the 12 items as expected.

So far so good. Also looping through this while using the for loop as below without the nested loop produces 12 items as expected.

But when I use the 'properties' in a nested loop like below only one re

[2016-06-13 09:31] tembem commented on #11879
Yes there's problem with nested loops https://github.com/phalcon/cphalcon/issues/10970

[2016-06-13 09:37] #11094 closed

[2016-06-13 09:37] Hoet commented on #11879
But that is when you use an if statement. If I pull that from the code and just have a nested loop I experience the issue. Might be related of course,

adding '{{ loop.revindex }}' before and after the internal loop I get the same result of 12. So he knows that he still needs to iterate a number of records. and '{{ dump( loop.last ) }}' after the internal loop indicates a false.

[2016-06-13 19:12] akudryav commented on #10655
Seems like the problem still exist in 2.1.0 RC 1
script:
``
{%- macro error_messages(message, field, type) %}
    <div>
        <span class="error-type">{{ type }}</span>
        <span class="error-field">{{ field }}</span>
        <span class="error-message">{{ message }}</span>
    </div>
{%- endmacro %}

{{ error_messages('type': 'Invalid', 'message': 'The name is invalid', 'field': 'name') }}

[2016-06-13 19:37] stormweaver commented on #1253
+1 verbatim,

or get the resolveExpression hook to work before volt throwing a syntax error exception.

[2016-06-13 23:41] jeiel commented on #1867
I have the same problem in 2.01r

[2016-06-13 23:48] sergeyklay commented on #11356
@dschissler

[2016-06-13 23:49] #11242 closed

[2016-06-13 23:50] #11805 closed

[2016-06-14 00:00] sergeyklay commented on #11862
Fixed in the `2.1.x` branch.

[2016-06-14 00:00] #11862 closed

[2016-06-14 00:00] sergeyklay commented on #11877
@butamuh4o Could you please provide script to reproduce (use case)?

[2016-06-14 00:22] sergeyklay commented on #11857
Fixed in the `2.1.x` branch.

[2016-06-14 00:23] sergeyklay commented on #10655
Fixed in the `2.1.x` branch.

[2016-06-14 00:23] #10655 closed

[2016-06-14 00:25] sergeyklay commented on #11857
Fixed in the `2.1.x` branch.

[2016-06-14 00:25] #11857 closed

[2016-06-14 04:02] IVIR3zaM opened #11884 "ManyToMany not working on models with different Connection Services"
when you have 3 classes with different Connection Services and one Many To Many relationship final query will execute on one of the connections and it is a mistake. my phalcon version is 2.0.13 on Ubuntu 16.04 with php 5.6.22
my connections are:

[code]

my models:

[code]

[code]

[code]

the final query when you run `Members::findFirst()->Books->count()` will execute on Connection "db2"

[2016-06-14 04:14] tigerstrikemedia commented on #11156
Im happy to look at putting in some time to this. Has anyone made a start anywhere?

[2016-06-14 05:43] sergeyklay commented on #11156
@tigerstrikemedia It seems to me nobody

[2016-06-14 05:46] tigerstrikemedia commented on #11156
@sergeyklay looks like it's from scratch then ;)

[2016-06-14 07:29] stamster commented on #11863
This would work only on PHP 5.6.1+
So for many productions it won't be available.

As of PHP 5.6.1 can also be specified as INI_SCANNER_TYPED. In this mode boolean, null and integer types are preserved when possible. String values "true", "on" and "yes" are converted to TRUE. "false", "off", "no" and "none" are considered FALSE. "null" is converted to NULL in typed mode. Also, all numeric strings

[2016-06-14 07:31] stamster commented on #11879
Have you tried to upgrade to latest stable 2.0.13 version of Phalcon?

[2016-06-14 07:45] sergeyklay commented on #11863
We can backport this feature from PHP 5.6 source to the Zephir

[2016-06-14 08:06] tigerstrikemedia commented on #11156
@sergeyklay

This is deeper than I thought.

What sort of performance gains are we talking to essentially build a trimmed down version of the [mongo PHP library](https://github.com/mongodb/mongo-php-library/) eventually ported into zephir?

Short of requiring that library which seems quite out of line with the phalcon system, that is what would be required to support the new MongoDB extension in t

[2016-06-14 08:07] mruz commented on #11863
@stamster as I said before
also if we add this feature, we will make a small BC
https://github.com/phalcon/cphalcon/blob/2.1.x/tests/_data/config/directive.ini#L2
https://github.com/phalcon/cphalcon/blob/2.1.x/tests/unit/Config/Adapter/IniTest.php#L41
will be `true` not 1

[2016-06-14 08:13] akudryav commented on #10655
I have updated my phalcon installation:
[code]
Then restarted php-fpm and nginx, but there is no change. Macro in volt still does not work.
What should I do else?

[2016-06-14 08:18] dred86 commented on #11863
https://github.com/phalcon/cphalcon/pull/11886

[2016-06-14 08:24] sergeyklay commented on #11156
Yeah, indeed.
But as @fizzka said

;)

It seems to me, we have to use current stable Mongodb API. This is really important. Of course, it's actually more complicated than it seems at first glance. But due to the fact that Phalcon is PHP extension it make sense. And yes, implementation of this feature implies compliance current Phalcon API and BC

[2016-06-14 08:26] sergeyklay commented on #10655
@akudryav

1. https://github.com/phalcon/cphalcon/pull/11883 - as you can see tests passes
2. You have to use th 2.1.x branch

[2016-06-14 08:31] sergeyklay commented on #11839
@nkrh

[2016-06-14 08:38] tigerstrikemedia commented on #11156
@sergeyklay

Interface has minor differences, but pulling that interface into phalcon requires recreating the wheel as that is what mongo split out to a PHP library rather than keeping it in the extension. Seems a bit like fighting the tide to me, but I think that Phalcon has been a bit like that the whole way along.

Ill pull what will essentially be a copy of the Mongo PHP library into a MongoDB

[2016-06-14 08:41] wolftankk commented on #1253
+1 verbatim

[2016-06-14 08:56] dschissler commented on #11356
Fixed at some point.  Here is a commit where I removed the workaround: https://github.com/perchlayer/webird/commit/7d436789f8364523b3796b0b38313e1b4e33f4fc

[2016-06-14 08:56] #11356 closed

[2016-06-14 09:06] butamuh4o commented on #11877
Hi @sergeyklay and thanks for respond :)

Well... i am not sure what u mean by that (because that is all script u need, or i dont understand (sorrry)), but... just add in some of your volt templates this line:

```{% set weekdays = [1: 'Monday', 2: 'Tuesday'] %}``` - and u will notice respond of error. But if u modify keys and put it in quotes (like ```{% set weekdays = ['1': 'Monday', '2': 'Tuesd

[2016-06-14 09:18] Hoet commented on #11879
Not yet, but I'll and post my comments here.

[2016-06-14 13:43] Jurigag commented on #11852
Yea, some script to reproduce problem would be nice.

[2016-06-14 13:49] Jurigag opened #11887 "[2.1.x] Phalcon/Mvc/Model/Validator namespace"
Why we keep this namespace ? Is there any way to use old validation in models ? I don't see it, `validate` method accepts only Phalcon\ValidationInterface.

At least we should trigger deprecated and inform that this is deprecated and Phalcon\Validation can be used only on creating of any validator.

[2016-06-14 14:10] sergeyklay commented on #11887
We just deprecated valdators from `Phalcon/Mvc/Model/Validator` namespace, but validators is there

[2016-06-14 14:13] Jurigag commented on #11887
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/validator.zep construct method looks the same. I know if we will try to use code from 2.0.x `validate` method will throw some exception or error but still if someone will create just some validator object then i think he should be informed about deprecation of it.

[2016-06-14 20:47] hailie-rei opened #11889 "[2.0.10] Order By Case When - produces an error"
I use Phalcon 2.0.10, MySQL.

I create db queries using query builder:

`$query->orderBy('CASE m.meaning
                    WHEN m.meaning = ' . $safeMeaning . ' THEN 0
                    WHEN m.meaning LIKE ' . $safeMeaningLike . ' THEN 1
                    ELSE 2
                    END ASC, m.meaning
                ');`

This code works without errors, but returns wrong result:

`ORDER BY C

[2016-06-14 21:14] Jurigag commented on #11889
Well to be honest phql case have only this first syntax i think. Like CASE `what` WHEN `value` THEN `expression`

[2016-06-15 02:34] tigerstrikemedia commented on #11156
Just added a pull request to the incubator.

https://github.com/phalcon/incubator/pull/625

[2016-06-15 03:17] tigerstrikemedia commented on #11156
@sergeyklay

The travis builds are failing from code styling issues do you know of anywhere I can get a PHPStorm code style config for this?

[2016-06-15 03:45] duythien commented on #11156
@tigerstrikemedia Because Phalcon incubator use PSR2 styles, so you can use this library to fix your styles code

[code]
[code]

[2016-06-15 03:45] tigerstrikemedia commented on #11156
or a PHPCS configuration

[2016-06-15 03:55] tigerstrikemedia commented on #11156
@duythien Cheers mate, running tests on that now ;)

[2016-06-15 04:34] tigerstrikemedia commented on #11156
Now failing due to function names not in camel case, Im not sure if I should change them or not.

The functions in the Functions class I migrated from being global functions in the \mongoDB namespace. they are used through-ought the adapter, but the stream wrapper functions aren't.

[2016-06-15 04:34] tigerstrikemedia commented on #11156
Now failing due to function names not in camel case, Im not sure if I should change them or not.

The functions in the Functions class I migrated from being global functions in the \mongoDB namespace. they are used through-ought the adapter, but the stream wrapper functions aren't.

[2016-06-15 06:00] nkrh commented on #11839
@sergeyklay Tried in 2.1.0 and 2.0.13. No change in result.

[2016-06-15 09:37] stamster commented on #11889
That query is too specific to a certain RDBMS (MySQL) in your case.

ORM will just not handle it well at the syntax level.

You can use raw query / PDO in Phalcon, that's your best shot IMHO.

Refer to: https://docs.phalconphp.com/en/latest/api/Phalcon_Db_Adapter_Pdo_Mysql.html

[2016-06-15 10:03] sergeyklay commented on #11889
I agree with @stamster

[2016-06-15 10:03] #11889 closed

[2016-06-15 12:39] dschissler commented on #11824
@Jurigag Aliases break in many use cases in my experience.  If you can locate some specific code then I can try to get into it over say the next two weeks.  Aliases need a lot of work in edge and unusual cases.

[2016-06-15 12:45] Jurigag commented on #11824
I think @lajosbencz last post here is nice idea imho. So we could just register relation alias for using in query builder and it will always look for model relations if we use it instead of model aliases. Well it would be nice if you could look into it, well sooner or later i would do it myself, don't know if in two weeks, but this could be nice thing to have, beacause someone people think that th

[2016-06-15 12:59] dschissler commented on #11824
Well I don't see myself having time over the next 1-2 months to just start opening Phalcon source files and looking for issues without a starting point but if the scope can be narrowed down then I can put in some time.  I've been thinking for 1-2 years that aliasing in general is the weakest part of Phalcon.  I've made numerous grumblings about aliasing, created issues, etc.  I just haven't been a

[2016-06-15 13:00] Jurigag commented on #11824
But this isn't really an issue. It's NFR.

[2016-06-15 13:07] dschissler commented on #11824
Ok but for me its fits under and umbrella that when it comes to aliases and joining that either;

1) I don't agree with the implicit behaviour
2) I just can't do something that seems that I ought to be able to
3) There is a bug

To the point that really whenever it comes to joins I go "Oh *!!@#^ lets see if this is possible with Phalcon as it currently is".

[2016-06-15 13:20] Jurigag opened #11893 "[NFR]Handle exceptions by beforeException in whole dispatcher loop"
Currently `beforeException` event can catch exception only while executing action. How about adding ability to catch exception from whole dispatch loop, like if we throw for example exception in `beforeExecuteRoute` then it will be catch as well ? We just need to modify try catch block here - https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/dispatcher.zep#L586

Is there gonna be any problem

[2016-06-15 21:10] rmrio opened #11894 "Call to undefined function Phanbook\Tools\mb_substr()"
Hi. Im trying to install phalcon to ubuntu 16.04 & php7, got the following error:

    <p class="question-desc">
                            <br />
     <b>Fatal error</b>:  Uncaught Error: Call to undefined function Phanbook\Tools\mb_substr() in      /usr/share/nginx/html/phanbook/core/common/tools/ZFunction.php:98
    Stack trace:
     #0 /     usr/share/nginx/html/phanbook/content/cache/volt/_u

[2016-06-15 21:13] rmrio commented on #11894
There is the fix:

     sudo apt-get install php7.0-mbstring

[2016-06-15 21:13] #11894 closed

[2016-06-15 21:23] tigerstrikemedia commented on #11156
We now have a very early version of the adapter (Phalcon\DB\Adapter\MongoDB) and collection (Phalcon\Mvc\MongoCollection) in the [2.1 branch of the incubator](https://github.com/phalcon/incubator/tree/2.1.x) anyone who wants to test and let me know what breaks i'd be happy to work through any issues.

[2016-06-16 01:11] duythien commented on #11894
@rmrio Wrong page issue it should be at https://github.com/phanbook/phanbook/issues :)

[2016-06-16 10:07] AmazingDreams opened #11895 "Call stack limit reached when saving related models assigned to each other"
When you assign models to each other and then save them, maximum callstack is reached. Read the 'interesting part' of the test below, code should be copy & paste & run friendly.

[code]

This fails with:

[code]

I expect/would like Phalcon not to infinitely recurse through the relation tree.

[2016-06-16 10:10] lordjancso opened #11896 "Annotation router with namespace not working as expected"
I would like to use annotation router and here is my code:

[code]

As you can see, I have to add namespace before the controller's name in addResource, but I set defaultNamespace.

[2016-06-16 10:22] Jurigag commented on #11173
@dschissler done, added `CombinedFieldsValidator`

[2016-06-16 11:02] Jurigag commented on #11896
`addResource` is method from `Phalcon\Mvc\Router\Annotations`, it's telling annotation router how it should look for controllers to read annotations inside of them, that's why you need full namespace. `setDefaultNamespace` is method from 'Phalcon\Mvc\Router`, it's telling phalcon for which namespace it should look if you don't provide it in `paths` in `@Route` (or other annotation).

[2016-06-16 11:39] dschissler commented on #11173
Sweet.  I saw it.  That solution turned out to be very easy and nice.

[2016-06-16 11:42] sergeyklay commented on #11173
Well, can I close this?

[2016-06-16 11:44] Jurigag commented on #11173
I guess.

[2016-06-16 11:45] dschissler commented on #11173
Yes.  Its totally addressed.

[2016-06-16 11:54] sergeyklay commented on #11173
👍

[2016-06-16 11:54] #11173 closed

[2016-06-16 15:06] rmrio commented on #11894
@duythien You are right ;)

[2016-06-16 19:04] sergeyklay commented on #11448
Fixed in 2.1.x

[2016-06-16 19:04] #11448 closed

[2016-06-16 20:40] sergeyklay commented on #10396
Implemented in the 2.1.x branch

[2016-06-16 20:40] #10396 closed

[2016-06-16 22:05] sergeyklay commented on #11171
@virgofx Could you please check now 2.1.x branch

[2016-06-16 23:11] #3079 closed

[2016-06-16 23:13] #10816 closed

[2016-06-17 01:19] virgofx commented on #11171
Will recheck this soon as I get some time ... hopefully within a couple days.

[2016-06-17 01:22] virgofx commented on #11171
Small note: Model.zep @line 492/493 needs corrected notes

[2016-06-17 03:41] vantienvnn opened #11900 "Form validate modify object property"
Hello,

I have example for this error as bellow:
[code]

The parent id after validate is string not Mongo Object Id
P/S: The UpdateProductForm code dont have change model property. This issues is same for Phalcon window and linux version 2.1.0

[2016-06-17 07:29] kcloze opened #11901 "PHP7 with Phalcon 2.1.x orm error"
PHP5 is ok,PHP7 fail

code
[code]

error with nignx
[code]

[2016-06-17 07:50] sergeyklay commented on #11901
@kcloze Postgres?

[2016-06-17 08:56] Jurigag opened #11902 "[PHP7]Volt engine tries to access protected property in macros"
On php7 and phalcon 2.1.x and volt there is some problem that this view:

https://github.com/phalcon/cphalcon/blob/2.1.x/unit-tests/views/macro/hello.volt

which generated result is:

[code]

tries to acces protected `_macros` property here https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/mvc/view/engine/volt.zep#L40 which results in triggering this error - https://github.com/phalcon/cphalco

[2016-06-17 12:52] zzplab opened #11903 "cphalcon.zip corrupt on EasyApache/cpanel update/rebuild"
I've installed Phalcon through EasyApache on a cpanel server (CENTOS 6.8) for quite some time now. Worked fine till yesterday. Phalcon v2.0.13, PHP v5.6.22.
I get this error in the log when updating/rebuilding through EasyApache:
[code]
Is that an error or bug in cphalcon.zip?

[2016-06-17 12:54] sergeyklay commented on #11903
I'm not sure https://github.com/phalcon/cphalcon/archive/phalcon-v2.0.13.zip

[2016-06-17 13:46] dellert opened #11904 "afterConnect event"
Is there a way to set afterConnect event for database connection?

[2016-06-17 14:14] Jurigag commented on #11904
After this:

https://github.com/phalcon/cphalcon/blob/master/phalcon/db/adapter/pdo.zep#L155

add:

[code]