[2017-07-17 17:12] be4i commented on #12964
this is expected behavior ?

[2017-07-17 17:15] sergeyklay commented on #12964
Looks weird for me. I'll try to sort out ASAP.

[2017-07-17 17:52] echodreamz commented on #12907
@niden All is well in the world now. Thank you!

[2017-07-17 19:11] virgofx commented on #12907
Thanks @echodreamz

[2017-07-17 19:11] #12907 closed

[2017-07-17 19:28] emiliodeg opened #12965 "Boolean column type always return true in PHP 7.1 on Windows 7"
I update PHP 7.0.14 to 7.1.7 and all column type bit in db and boolean in ORM are always in true
If I turn back to PHP 7.0.14 work great

[code]
Adding some data

| id | name | isPublic | year |
| --- | --- | --- | --- |
| 1 | Robocop | 0 | 1987 |
| 2 | R2D2 | 1 | 1977 |

[code]
### Details

* Phalcon version: 3.2.1
* PHP Version: 7.1.7
* Operating System: Windows 7 x64
* Installation type: Xampp

[2017-07-18 09:50] tugrul commented on #12927
@sergeyklay nothing changed with Zephir 0.9.9

`php --ri phalcon`

[code]

[2017-07-18 11:49] Jurigag commented on #12927
Well i use phalcon 3.0.0, xdebug and php 7.0.13 and no problem at all.

[2017-07-18 12:48] sergeyklay commented on #11068
@satakecode I'll take a look

[2017-07-18 14:56] satakecode commented on #11068
I found where this issue lies.

https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/query.zep

[code]

In my case:

So my columnName="AssStatus", and at the same time I have an alias with the same name "AssStatus", in this case the alias gets detected @ `if isset sqlColumnAliases[columnName]` and returns ignoring the fact that a domain was specified for the operation.

Maybe changing

[2017-07-18 15:24] tztztztz opened #12968 "Cache need process synchronisation to avoid slamming"
Cache slamming is a big issue few know about, making most of the caching systems pretty ineffective, including those in Phalcon.

Creating cache with process synchronisation would rise Phalcon into higher level, well above other frameworks in that regard.

So what's the problem with Phalcon cache system - regardless if it's based on Files, Memcached or anything else?

It's lack of process synchron

[2017-07-18 16:22] virgofx commented on #12968
Well written and describes the issue thoroughly. There's always a fine line from where the framework ends and what can be implemented in user-land. I'm not sure if this belongs in Phalcon's default adapters but like you said adding another layer that doesn't impact existing usage via some sort of CacheSynchronizationManager API where original adapters can be used independently (thus, no issues wit

[2017-07-18 16:36] sergeyklay commented on #12964
@be4i The `/:int`  placeholder alias for `/([0-9]+)`. Try group `int` as workaround. I'll try to deal with this

**PHP**
[code]

**Volt**
[code]

**HTML**
[code]
-----------
**PHP**
[code]

**Volt**
[code]

**HTML**
[code]

-----------
**PHP**
[code]

**Volt**
[code]

**HTML**
[code]

[2017-07-18 16:42] tztztztz commented on #12968
I hopei will find time, to finish my project for universal "no slamming cache" for PHP, which will be based on synchronisation solutions im already using - just gathered toghether into one universal package.

I will create repository/project in GitHub, and it could be starting poing to further discussion and implementation. ETA 14-21 days.

[2017-07-18 17:05] be4i commented on #12964
okay, thank you

[2017-07-18 20:44] Jurigag commented on #12968
Agree it's a problem, we should solve it in next phalcon version.

[2017-07-18 20:46] Jurigag commented on #12965
What is returned with castOnHydrate => false? Also why you use bit?

[2017-07-18 21:09] tztztztz commented on #12968
Im also thinking about multiple options for creating the resource:
* the most "elegant" with interface for creating resource (downside: more code, complications with passing parameters)
* using callbacks
* using recursion in method which creating the resource (i actually prefer and use that way, I will give code example it the project, to better explain that concept)

[2017-07-18 23:15] tugrul commented on #12927
I'm going to share docker build on weekend.

[2017-07-19 05:08] #12957 closed

[2017-07-19 05:11] sergeyklay commented on #12950
Fixed in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-07-19 05:11] #12950 closed

[2017-07-19 05:34] sergeyklay opened #12971 "PHQL replaces field names in where"
_From @FaimMedia on January 6, 2016 15:37_

I've created the following query using the query builder:

[code]

Probably because I have specified `name` as an alias for `match.name` PHQL thinks it can just use `name` in the `WHERE` clause and removed the table prefix, which results in executing this query:

[code]

Note the where clause. This shouldn't be a problem if you have non-ambiguous column

[2017-07-19 05:34] sergeyklay commented on #12971
Without alias `'match.name name'` it works fine?

[2017-07-19 05:34] sergeyklay commented on #12971
_From @FaimMedia on January 7, 2016 11:10_

Indeed, if I don't use an alias, but just use `match.name` PHQL automatically translates this field to the alias `name` and doesn't replace the where clause anymore.

[2017-07-19 05:34] sergeyklay commented on #12971
_From @adamdama on October 18, 2016 9:51_

I have just run into this issue as well. Surely if I specify the aliased in the where they should not be rewritten?

I am trying to use a JOIN to populate my model from two tables so changing the name of the alias I select will break the population.

[2017-07-19 05:49] sergeyklay commented on #2329
@addinm The `1.3.x` branch is not longer supported. Could you please try `3.2.x`.

[2017-07-19 07:42] broneq opened #12972 "Bug with getRelated with columns provided when they are initialised in relation params"
### Expected and Actual Behavior

Actualy when I have defined some relation like:

[code]
And ask for
[code]
in result I have two columns id and name, and its expected result.

But if i as for:
[code]
in result I have again two columns without price.

I think that is a bug in https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/manager.zep#L1307

[code]
we are overwriting relation par

[2017-07-19 07:56] sergeysviridenko commented on #3219
For MySQL `describeReferences` method works fine. @rianorie has fixed this bug. I guess this issue can be closed.

[2017-07-19 08:16] #3219 closed

[2017-07-19 10:10] Zaszczyk commented on #12947
I've also occured this bug

[2017-07-20 04:42] CameronHall opened #12975 "skipAttributes should respect columnMapping"
Previously discussed in #485
### Expected and Actual Behavior

[code]
### Details

* Phalcon version: 3.2.1
* PHP Version: 5.6.16
* Operating System: Windows 10
* Installation type: DLL
* Zephir version (if any): N\A
* Server: Apache
* Other related info (Database, table schema): MySQL

[2017-07-20 10:32] tugrul commented on #12927
@sergeyklay and @Jurigag

Note: No need to start xdebug session.

I built docker image.

First run the docker container.
[code]

Start nginx and php-fpm daemons in the container.
[code]

Visit following address in your web browser and login with any twitter account:
[code]

Your browser is going to redirect to `http://localhost:8686/auth/callback` and you will see the access token informations you

[2017-07-20 12:48] sergeyklay commented on #12958
Close in favor of #12056

[2017-07-20 12:48] #12958 closed

[2017-07-20 12:49] sergeyklay commented on #12803
Close in favor of #12056

[2017-07-20 12:49] #12803 closed

[2017-07-20 13:30] stamster commented on #12968
When I read about this, I immediately think of dead locks.
The thing is - very nice idea, and it should get attention to details as much as possible.

[2017-07-20 13:33] stamster commented on #12965
I work with bits too, but instead doing this:

[code]

[2017-07-20 13:40] tztztztz commented on #12968
If we're talking about deadlocks, the synchornisation solution im proposing (SYNC library), forbids nested locks, that is: if you try to aquire another lock within process the previous lock will be released.

It will preventing deadlocks.

BUT

Im thinkig about synchro interface, where advanced user will have opportunity to change default lock mechanism (SYNC library) to different one enabling nes

[2017-07-21 14:46] atrope commented on #12955
@stamster
Hello, were you able to set up this enviroment?

Thanks

Alan

[2017-07-21 16:43] jellisii commented on #11414
Perhaps some more information in the Regex validation documentation would be appropriate concerning the exact nature of how it operates?  I just lost 2 hours to a similar problem.

[2017-07-21 19:09] emiliodeg commented on #12965
@Jurigag when I turn ```castOnHydrate => false``` get a big string integer
[code]

@stamster in Linux works great, I try in Centos, PHP 7.1.7, MySQL

[2017-07-21 21:45] StaymanHou opened #12976 "Failure installing phalcon 3.2.1 extension on php 7.1.7 with phpbrew"
Installing phalcon 3.2.1 extension on php 7.1.7 with phpbrew throws error

* Phalcon version: 3.2.1
* PHP Version: 7.1.7
* Operating System: Ubuntu 16.04
* Installation type: installing via phpbrew extension

Installation cmd and output

[code]

[code]

I've checked issue #12062. My machine has 16G memory, so it should be enough.

[2017-07-21 22:02] StaymanHou commented on #12976
Figured out a workaround myself. Use the following command to install it manually instead of the `phpbrew ext install` command.

`./install --phpize /home/stayman/.phpbrew/php/php-7.1.7/bin/phpize --php-config /home/stayman/.phpbrew/php/php-7.1.7/bin/php-config` (Remember to replace the home path)

It would still be nice if the `phpbrew ext install` command works.

[2017-07-22 06:29] sergeyklay commented on #11414
@jellisii Could you send a PR with docs improvements?

[2017-07-22 06:41] sergeyklay commented on #12976
I'm closing since this is a not a bug report (at least it is not related to the Phalcon ). Feel free to discuss this on the [official forums](https://forum.phalconphp.com), and/or the internals repo. Thank you for contributing.

[2017-07-22 06:41] #12976 closed

[2017-07-23 14:55] memmaker opened #12977 "Rendering stages get multiplied when viewDirs is an array"
### Expected and Actual Behavior

A few versions back, Phalcon introduced the ability to set the viewsDir of the view service to an array. This greatly simplifies my endeavor.

I am currently using this feature like this:
[code]

This works great, as Phalcon now looks in both of these directories for a view to render.

However I ran into problems with this setup. The rendering is now doubled for m

[2017-07-23 16:43] Zaporozhec7 opened #12978 "Phalcon\Http\Response\Cookies->send() cause "The argument is not initialized or iterable""
I try use `Phalcon\Http\Response\Cookies`, separate from `Phalcon\Http\Response`. In my app "Cookies" object can contain cookie, or not. And i do not have way to check, is there exists at least one cookie in it, or not, before try to send it, because class do not provide method for this.
So if there are was not added at least one cookie, on calling `send()` method appear exception **"The argument

[2017-07-23 16:46] memmaker commented on #12977
Still exists in Phalcon Version: 3.2.1 compiled from Source

[2017-07-24 03:51] yanancom opened #12979 "Fatal error: Uncaught Error: Access to undeclared static property: Phalcon\Di::$_default"
Fatal error: Uncaught Error: Access to undeclared static property: Phalcon\Di::$_default

my environment:
windows7 + xampp-win32-7.1.7-0-VC14-installer.exe + phalcon_x86_vc14_php7.1.0_3.2.1

my codes:

	try {
		$di = new Phalcon\DI\FactoryDefault();

		$loader = new Loader();
		include BASE_PATH . "/app/config/services.php";
		$config = $di->getConfig();

		$loader->register();

		$application = n

[2017-07-24 04:12] yanancom commented on #12979
no solution? really?

[2017-07-24 05:41] sergeyklay commented on #12979
https://github.com/phalcon/cphalcon/issues/12056

[2017-07-24 05:41] #12979 closed

[2017-07-24 05:57] sergeyklay commented on #12977
Thank you for the report, and for helping us make Phalcon better. We'll try to sort out as soon as possible.

[2017-07-24 06:09] yanancom commented on #12056
Fatal error: Uncaught Error: Access to undeclared static property: Phalcon\Di::$_default

my environment:
windows7 + xampp-win32-7.1.7-0-VC14-installer.exe + phalcon_x86_vc14_php7.1.0_3.2.1

my codes:

try {
	$di = new Phalcon\DI\FactoryDefault();

	$loader = new Loader();
	include BASE_PATH . "/app/config/services.php";
	$config = $di->getConfig();

	$loader->register();

	$application = new Appl

[2017-07-24 06:09] yanancom commented on #12056
Fatal error: Uncaught Error: Access to undeclared static property: Phalcon\Di::$_default

my environment:
windows7 + xampp-win32-7.1.7-0-VC14-installer.exe + phalcon_x86_vc14_php7.1.0_3.2.1

my codes:

	try {
		$di = new Phalcon\DI\FactoryDefault();

		$loader = new Loader();
		include BASE_PATH . "/app/config/services.php";
		$config = $di->getConfig();

		$loader->register();

		$application = n

[2017-07-24 06:55] yanancom commented on #12056
thanks for huoybb, i have resoved the problem

LoadModule fcgid_module "modules/mod_fcgid.so"

<IfModule fcgid_module>
        FcgidInitialEnv PHPRC "C:/xampp/apache/bin"
        FcgidInitialEnv PHP_FCGI_MAX_REQUESTS   1000
        FcgidMaxRequestsPerProcess       	1000
        FcgidMaxProcesses             		15
        FcgidIOTimeout             		120
        FcgidIdleTimeout                	120

[2017-07-24 06:56] yanancom commented on #12056
thanks for huoybb, i have resoved the problem

	LoadModule fcgid_module "modules/mod_fcgid.so"

	<IfModule fcgid_module>
			FcgidInitialEnv PHPRC "C:/xampp/apache/bin"
			FcgidInitialEnv PHP_FCGI_MAX_REQUESTS   1000
			FcgidMaxRequestsPerProcess       	1000
			FcgidMaxProcesses             		15
			FcgidIOTimeout             		120
			FcgidIdleTimeout                	120
			AddType application/x-htt

[2017-07-24 08:28] Bagarn commented on #12394
I might be wrong, but wouldn't that cause problems when creating a new related object.
like so:
[code]

[2017-07-24 12:27] memmaker commented on #12977
**Update:** I tried using the Version compiled from my "fix" and unfortunately it does not seem to solve the issue. The workaround still does solve it though..

[2017-07-24 13:01] Jurigag commented on #12977
@memmaker you sure you used zephir to compile phalcon with your fix?

[2017-07-24 13:15] janisbizkovskis opened #12981 "Session adapter interface is outdated"
So, long story short:

This - https://github.com/phalcon/cphalcon/blob/master/phalcon/session/adapter/redis.zep#L135 is not complying with session adapter interface - https://github.com/phalcon/cphalcon/blob/master/phalcon/session/adapterinterface.zep#L77

As well, session handler `destroy` method accepts `$session_id` as parameter: http://php.net/manual/en/class.sessionhandler.php

Would be cool

[2017-07-24 13:30] memmaker commented on #12977
Huh? That might be a good point. I am not sure. I am using the default build process from source where I would call the 'install' script. Does this not use the Zephir Code?

[2017-07-24 13:32] memmaker commented on #12977
Hmm, I see. Let me guess, I have to run gen-build.php first?

[2017-07-24 14:24] sergeyklay commented on #12981
Is there any issue with building/compilation? This is how PHP (ZendEngine) works inside - does not check method declaration :) Anyway you're right it is a minor bug.

Refs: https://github.com/phalcon/cphalcon/issues/12833

[2017-07-24 14:24] #12981 closed

[2017-07-24 14:42] Jurigag commented on #12977
No, you need zephir to install extension from zephir code.

[2017-07-24 14:44] janisbizkovskis commented on #12981
@sergeyklay nope, there are no issues regarding this with building/compilation. Basically I was writing an adapter for RedisCluster and noticed this minor bug under interface, so I posted here. Was a bit ugly implementation due to param...

Hopefully I'll have enough free time to port it to Zephir, so it could be integrated in 4.0. :)

[2017-07-24 14:45] memmaker commented on #12977
That's what I tried. I first installed Zephir and then did this.

[code]

I got a bunch of red warnings which I take to mean, that it was indeed compiling from source. Unfortunately I can still see no change at all when executing the code.

[2017-07-24 14:50] Jurigag commented on #12977
Did you restarted your webserver?

[2017-07-24 14:54] memmaker commented on #12977
I see, so I compiled it again with the old code..;) Thanks for your insights.

[2017-07-24 15:16] memmaker commented on #12977
HOORAY! I can now confirm, that my proposed fix does indeed solve the issue.

[2017-07-26 05:16] TimurFlush opened #12983 "Bug with view"
I have a code that allows you to restrict users access to certain parts of the website: https://pastebin.com/HPN2gsyW

I have a AclResource service: https://pastebin.com/VJHjghTY
I have a IndexController: https://pastebin.com/bRSWgEV0

const User::ROLE_USER = 'Users';
const User::ROLE_ADMINISTRATORS = 'Administrators';

For example establish for registration of a private access only for the user g

[2017-07-26 08:41] Jurigag commented on #12983
You don't have to add `$this->view->render`, it will be done automatically if you have implictView enabled. Also use getRender method if you want to actually get output as a string.

[2017-07-26 09:04] Jurigag commented on #12977
Cool, the question is if this is correct fix. I just think that we should set `setViewsDir` maybe something like assoc array like `module => dir`, and if there is certain key in this array for current module then look first for view in this path? If not look in others? Im just talking about order of paths in array, with your fix it will just look for first occurrence of view, and don't render anyt

[2017-07-26 09:11] memmaker commented on #12977
Hmm, well my fix does fix the issue I had. It is of course not a very elegant solution. But the question wether it is a valid fix depends on the intended semantics of setting viewsDir to multiple values.

I am not sure if I understand you correctly. My current solutions does exactly what you are talking about since that is my use case. I am looking for views in the current module viewDir and if th

[2017-07-26 09:17] Jurigag commented on #12977
Yea but if you will change order of paths you will have other view rendered if it exists :D What i talk about is we should first check in view path for current module i think(if it's set of course), then for other paths. Like:

[code]

Let's assume that current controller is user, and we want to render profile.volt, first we will check if key user exists in this array, if yes, use this view path,

[2017-07-26 09:22] memmaker commented on #12977
Right. But that is nothing that worries me. It is like a priority order. First dir gets checked first. Also it works for the multi module setup.

Of course making the modulename explicit is more obvious but also less flexible. You can't have multiple overriding view dirs which are not in different modules. This would also not work if you are not using the module architecture at all..

[2017-07-26 09:24] Jurigag commented on #12977
Yea, if you are not using module architecture then don't really see other way here. Just if current module is not empty then we should check first view dir for current module if it exists, not matter what order we provided in setViewsDir.

[2017-07-26 09:26] memmaker commented on #12977
That is not for me to decide but for the maintainers of this project.

I have to thank anybody involved for the great piece of work. And I feel honoured if I should've been able to contribute to making it a bit better.

PS: Please don't kill my use case..;)

[2017-07-26 09:27] Jurigag commented on #12977
Well im just adding my opinion how it should work, not using multiple view dir anyway, didn't even know that there is such option.

[2017-07-26 09:28] memmaker commented on #12977
Yeah, they added it in a sneaky update and I guess it was more of a experimental feature since there are obviously some edge cases like this which are very hard to test for.

[2017-07-26 13:09] kornerita commented on #12963
Hi,

I would really like this feature since I use [https://notifyjs.com](https://notifyjs.com) and I had to extend / implement flash interface and rewrite some of the features, with a plain array response it would be much easier to implement and in a clearer way.

With this array version you could also extend volt to implement a function to show the messages in the way you want.

Regards,
Federico

[2017-07-26 14:46] ChangePlaces opened #12986 "After building, message should advise to restart phpx-fpm not webserver"
After building with the `./install` script, the message advises to restart the web server, whereas php should be restarted.

### Details

* Phalcon version: 3.2.1.
* PHP Version: (`php -v`) 7.0
* Operating System: ubuntu
* Installation type: Compiling from source
* Zephir version (if any):
* Server: nginx
* Other related info (Database, table schema):

[2017-07-26 15:24] TimurFlush commented on #12983
ImplicitView already off. The problem most likely lies in the forward, because after that $view->render does not want to work.

[2017-07-26 15:32] tztztztz commented on #12963
You can use PHP version for now, it works good. Just put it into the Dependency Injector at bootstgrap stage, for example under "FlashSimple' key.

[2017-07-26 17:05] sergeyklay commented on #12986
It is reasonable for Nginx (PHP-FMP) only, but in case of Apache you have to restart web server.
I want to close this issue because I don't want a bunch of these lying around an this is not a bug report (enhancement). If anyone wants to improve this, I'd love that.

Refs: https://github.com/phalcon/cphalcon/blob/master/build/install#L146

[2017-07-26 17:05] #12986 closed

[2017-07-26 17:14] kornerita commented on #12963
@tztztztz Thanks, I'll use it.

Also it would be better if you can formally implement [FlashInterfase](https://docs.phalconphp.com/en/3.2/api/Phalcon_FlashInterface).

[2017-07-26 18:10] ChangePlaces commented on #12986
Could a simple change be like "Build succeeded: Please restart your webserver, or If using php-fpm restart the php-fpm service."

Also, note the "succeed" / "succeeded" typo currently in at the moment!

[2017-07-26 19:30] sergeyklay commented on #12986
@ChangePlaces Could you please send a PR? Also take a look at the README.md

[2017-07-27 00:44] #12983 closed

[2017-07-27 02:55] dschissler commented on #11551
Possible dup of #11757

[2017-07-27 03:05] dschissler commented on #11117
@sergeyklay Can we add this to the 4.0 milestone?  We can evaluate it later for its validity.  It seems though that it could eliminate some rare gnarly impossible to reproduce race conditions.

[2017-07-27 07:55] guweigang commented on #12542
HI, I also met this problem today in `Phalcon 3.2.0`.  You can `dispatch()` it  yourself after `forward()`. Or you can change codes in https://github.com/phalcon/cphalcon/blob/master/phalcon/dispatcher.zep#L656  to
[code]

Maybe that is the true purpose in `catch` @sergeyklay .

[2017-07-27 19:56] jellisii opened #12994 "VOLT: 'include with' appears broken"
### Expected and Actual Behavior

Using `{% include 'partials/foo.volt' with ['bar': 'baz'] %}` causes the following exception on render:

Per documentation at https://docs.phalconphp.com/en/3.2/volt#view-integrations, I expect the view to render properly without error.  The following works without issue:

`{% include 'partials/foo.volt' %}`

Partial works properly as well, so that's a workaround:

[2017-07-27 20:11] sergeyklay commented on #12994
You have to use
[code]

[2017-07-27 20:27] #12994 closed

[2017-07-28 13:24] aat2703 opened #12995 "The argument is not initialized or iterable() - Saving related records"
This error comes up when saving related PaymentLines... I'm clueless...

## Error:
[code]
## Code to reproduce

[code]
### Details

phalcon => enabled
Author => Phalcon Team and contributors
Version => 3.2.0
Build Date => Jul  6 2017 13:36:21
Powered by Zephir => Version 0.9.8-6335775f25

Directive => Local Value => Master Value
phalcon.db.escape_identifiers => On => On
phalcon.db.force_casting =>

[2017-07-29 08:47] sergeyklay commented on #12054
The `ext/` dir which is used for `build/gen-build.php` will always contain the PHP 5.x specialized code (until 4.0.0 released). So it can't be modified until release 4.0.0.

[2017-07-29 08:47] #12054 closed

[2017-07-29 08:56] sergeyklay commented on #11630
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-07-29 08:56] #11630 closed

[2017-07-29 08:56] #11519 closed

[2017-07-29 08:58] sergeyklay commented on #11518
This is a new feature request for Incubator. I'm closing since this is a not a Phalcon bug report.

[2017-07-29 08:58] #11518 closed

[2017-07-29 08:58] sergeyklay commented on #11407
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-07-29 08:58] #11407 closed

[2017-07-29 08:59] sergeyklay commented on #11257
Completely impossible to reproduce bug, could be web server rewrite issues (or anything really, who knows). I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-07-29 08:59] #11257 closed

[2017-07-29 09:02] sergeyklay commented on #11101
Phalcon uses [Active Record](https://en.wikipedia.org/wiki/Active_record_pattern), but your question related to a completely different system.  I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-07-29 09:02] #11101 closed

[2017-07-29 09:08] sergeyklay commented on #11077
This requires backward incompatible changes in the code base, which will lead to serious problems for most users. Feel free to open a new feature request in the Incubator repo for that.

[2017-07-29 09:08] #11077 closed

[2017-07-29 09:09] sergeyklay commented on #11757
Close in favor of #11551

[2017-07-29 09:09] #11757 closed

[2017-07-29 11:19] sricholkar commented on #12056
Hello @huoybb , I'm still a beginner in learning phalcon. I have still the same problem just like the above mentioned error even after following your tweaks to resolve.
This is the error I got:
[code]
The following procedure that I followed to resolve:
I have saved the file `mod_fcgid.so` (win32, 2.3.9v) in apache/modules. I then included your code in the `httpd_conf` file in `apache/conf/` path

[2017-07-29 23:43] guweigang commented on #11117
Maybe we should not check if record exists, it's not just a mater-slave latency problem. Even use the same connection here, unless you use ```select...for update``` under a transaction，or else you can not avoid this  'cause of concurrency.

_Sent from my OnePlus ONEPLUS A5000 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 23:47] guweigang commented on #12542
any progress？

_Sent from my OnePlus ONEPLUS A5000 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 01:17] virgofx commented on #12542
Related to #12931. We have a PR that needs to rebase that fixes all the initialize/beforeException events.

[2017-07-30 02:36] guweigang commented on #12542
@virgofx yes，We could not catch exceptions in actions here before, and now we can, but we can not process `dispatcher->forward` correctly

_Sent from my OnePlus ONEPLUS A5000 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 19:07] stefanchiriac opened #12996 "Break API: Only allow class strings or closures in simple and normal view registerEngines"
### Expected and Actual Behavior
If I create a simple view and I register the engines classes as objects, doesn't seems to render the view. It works only when I set the engine classes as strings.

The expected behavior should be to render the view either the engine is registered as an object or as a string

[code]
### Details

* Phalcon version: 3.1.1+ (possible on lower too)
* PHP Version: 7.0
*

[2017-07-30 20:42] JABirchall commented on #2349
I am commenting on this to express interest in this feature, today I've been searching for a way to cache compiled minified views.

[2017-07-30 21:27] dschissler commented on #2374
@Jurigag @sergeyklay If a column map is used then the new aliases names should be able to be used in all parts of the model.  So how is it currently being done in Phalcon 3.  If this is still not doing it then it definitely needs to be changed in Phalcon 4 and so it should be put on the milestone.

Its looking like Phalcon 4 needs to do a lot of small breakage to have a more consistent problem.  I

[2017-07-30 22:12] dschissler commented on #10406
@sergeyklay Add to Phalcon 4 milestone.  There is another issue with CollectionInterface which I recommended being added.  I don't understand these issue exactly but it seems like Phalcon 4 should just break these things all at once so that it can be cleaned up.

[2017-07-30 22:21] dschissler commented on #3336
I just ran this with Phalcon 3.2.*, Ubuntu 16.04, PHP 7 and there is not a double key.  Nobody else reported this in 2.5 years.  Close.

[2017-07-31 05:32] #3336 closed

[2017-07-31 11:21] Jurigag commented on #2349
@JABirchall just use {% cache %} {% endache %} i guess @JABirchall not sure about this minifing, i guess you mean this mostly.

[2017-07-31 11:52] JABirchall commented on #2349
@Jurigag I know about the fragment caching. But I'm more interested in having phalcon minify views  before caching.

I use {% cache %} alot actually, since most of the data on my site is from a remote API/Socket.

[2017-07-31 12:34] Jurigag commented on #2349
Then you can actually implement your own Frontend class i think and remove any whitespaces there since `{% cache %}` uses just normal backend class and frontend class. Phalcon\Cache\FrontendInterface

[2017-07-31 19:01] emiliodeg commented on #12385
I found a new super behavior
[code]
pain solution

[code]
Enviroment: PHP 7.0.21, Phalcon 3.2.1, Zephir 0.9.9, Apache 2, MariaDB 10, Windows 7

[2017-07-31 20:50] ChangePlaces opened #12997 "onupdate in db migrations feature req."
The ability to support `on update` for columns is important, especially for datetime fields

e.g. `CREATE TABLE foo(id INTEGER AUTO_INCREMENT PRIMARY KEY, bar DATETIME ON UPDATE CURRENT_TIMESTAMP)`

Will this be supported?

[2017-07-31 21:16] nsossonko opened #12998 "Set transactionLevel to 0 and collect all transactions on new connection"
### Expected and Actual Behavior

If a connection is closed (or reconnected via connect()) the transactionLevel remains whatever it was previously and all the transactions remain in the transactionManager. This will then later fail via an exception because transactions are per-connection in sql.

Some code in any phalcon extended class (with DI):
[code]

[2017-07-31 21:29] tztztztz commented on #12963
Hello,

i think implementing Interface Phalcon\FlashInterface and Interface Phalcon\Di\InjectionAwareInterface makes sense.

Im not convinced about Interface Phalcon\Session\AdapterInterface as it's quite complex interface, and this class meant to be simple version of current Flash Message system, an alternative not replacement.

Still there is plenty of time before ver. 4, and maybe whole concept

[2017-07-31 21:34] stamster commented on #12996
Where did you get info that one could instantiate objects and pass them to Volt configuration like that?

This works since early versions of Phalcon/Volt, I think it's covered by documentation as well:

[code]

The thing is - Volt component is lower level extension - pure C. So it's gotta be different a bit.

[2017-07-31 21:39] stamster commented on #12955
I'm sorry I haven't had time to get onto this. I'm still willing and able though - so I'll try to reproduce it ASAP.
I'll bring on my findings for sure :)

[2017-08-01 01:01] atrope commented on #12955
Great! Thanks :)

[2017-08-01 04:59] dschissler commented on #12996
@stefanchiriac Do something like this:

[code]

@sergeyklay This seems like a close.

[2017-08-01 05:16] sergeyklay commented on #2464
The `1.3.x` branch is not longer supported. If there are bugs in the 3.2.x, we can follow up in separate issues.

[2017-08-01 05:16] #2464 closed

[2017-08-01 05:18] sergeyklay commented on #2435
The `1.3.x` branch is not longer supported. As I can see this works well in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-08-01 05:18] #2435 closed

[2017-08-01 05:19] sergeyklay commented on #2406
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-08-01 05:19] #2406 closed

[2017-08-01 05:20] sergeyklay commented on #2362
The 1.3.x branch is not longer supported. If there are bugs in the 3.2.x, we can follow up in separate issues.

[2017-08-01 05:20] #2362 closed

[2017-08-01 05:26] sergeyklay commented on #1930
I apologize for completely overlooking this. I hope this works well in the `3.2.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing, and again I am sorry about the delay.

[2017-08-01 05:26] #1930 closed

[2017-08-01 05:26] sergeyklay commented on #1881
The 1.3.x branch is not longer supported. If there are bugs in the 3.2.x, we can follow up in separate issues.

[2017-08-01 05:26] #1881 closed

[2017-08-01 05:29] sergeyklay commented on #1845
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-08-01 05:29] #1845 closed

[2017-08-01 05:31] sergeyklay commented on #1502
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-08-01 05:31] #1502 closed

[2017-08-01 05:32] sergeyklay commented on #1207
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-08-01 05:32] #1207 closed

[2017-08-01 05:32] sergeyklay commented on #10426
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-08-01 05:32] #10426 closed

[2017-08-01 05:33] sergeyklay commented on #10323
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2017-08-01 05:33] #10323 closed

[2017-08-01 05:34] #3085 closed

[2017-08-01 05:35] sergeyklay commented on #2475
IBAN banking codes is too specific to be in core. This feature request should be moved to the Incubator.

[2017-08-01 05:36] sergeyklay commented on #2475
This issue was moved to phalcon/incubator#809

[2017-08-01 05:36] #2475 closed

[2017-08-01 05:37] sergeyklay commented on #2320
I apologize for completely overlooking this. I hope this works well in the 3.2.x branch. Feel free to open a new issue if the problem appears again. Thank you for contributing, and again I am sorry about the delay.

[2017-08-01 05:37] #2320 closed

[2017-08-01 05:41] sergeyklay commented on #12963
@tztztztz Could you please submit PR to the Incubator? If this proves successful, we can port it to the Phalcon core. Anyway I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :)

[2017-08-01 05:41] #12963 closed

[2017-08-01 05:48] stefanchiriac commented on #12996
The way I see it, if Phalcon\Mvc\View accepts objects, you either make all views classes to accept the same definition or remove what should not be allowed. All views should work in the same ways and be standardized. If you don't consider this is a bug for Phalcon\Mvc\View\Simple then is one for Phalcon\Mvc\View.

[2017-08-01 11:16] Jurigag commented on #2349
Well what i propose is workaround of course for now, some way to do this directly in view could be good.

[2017-08-01 11:18] Jurigag commented on #2374
Yea for phalcon 4 i think it's good idea to change this to use columnMap actually.

[2017-08-01 11:18] dibmartins commented on #11789
+1

[2017-08-01 12:56] dlgoodchild commented on #1341
Hi guys. I'm coming from twig, and I'm currently mapping out differences between the syntaxes. I very extensively use the afformentioned `|merge( {  } )`. Is there a known way to do this in Phalcon (aside from writing my own filter)?

[2017-08-01 13:12] gsouf commented on #1341
@dlgoodchild I fell back to keep using twig because it's much more feature rich and both compile to php, that means that volt only takes advante of being written in C during template compilation process.

[2017-08-01 13:24] dlgoodchild commented on #1341
@gsouf I've been performance testing Twig, and actually many things Symfony, and Twig is really quite slow. At one point there even existed a C extension for PHP just to address the performance of a single function in the Twig codebase. The generated PHP of Twig is hugely different to the generated PHP of Volt.

For sure implementing filters and functions in Twig is much easier/simpler than in Vol

[2017-08-01 13:29] gsouf commented on #1341
It would be, I agree, as many other features!

[2017-08-01 14:52] tztztztz commented on #12963
Do you mean creating pull request here?: https://github.com/phalcon/incubator/pulls

I will do it at later time, first in the next week I'll finish the project of new cache as I mentioned here:

https://github.com/phalcon/cphalcon/issues/12968

[2017-08-01 15:30] dlgoodchild commented on #1341
FYI, a simple implementation of merge is:

$oVolt->getCompiler()->addFilter( 'merge',
	function( $resolvedArgs, $exprArgs ) {
		return 'array_replace_recursive('.$resolvedArgs.')';
	}
);
I need to test it much more though, as the variables it operates on may not always be arrays, so it would need used with caution.

[2017-08-01 15:36] dlgoodchild opened #13000 "Implementing |raw filter results in UNKNOWN error"
### Expected and Actual Behavior

I'm trying to add a filter named `raw`, so it would be used like `field|raw`.
This is currently generating an error "Syntax error, unexpected token UNKNOWN"
[code]
If I rename the filter to `raw2` it works perfectly ok.

[code]

[code]
### Details

* Phalcon version: 3.2.1 (Build Date => Jul 31 2017 13:44:58)
* PHP Version: 7.1.7
* Operating System: Ubuntu Trusty

[2017-08-01 16:36] dschissler commented on #12996
@stefanchiriac Are you recommending that we make the `registerEngines` method only be able to accept strings of class names?  I suppose that we could check this to prevent confusion.

[2017-08-01 18:35] stefanchiriac commented on #12996
@dschissler  that's exactly what I'm saying, to make `registerEngines` method accept only strings and closures. This will standardize views classes and prevent confusion. Thanks

[2017-08-02 01:13] dschissler commented on #12996
but is there any inconsistency there?  You wrote that in one case an object can be used but not in the other.  Can you give a specific and small code example of the use case where it works and when it doesn't.  If its something that is inconsistent then we could relabel the issue and add it to the Phalcon 4 milestone as inconsistent behavior to fix.

[2017-08-02 05:27] longfeiRen commented on #12971
I also encountered the same problem， PHQL replaces field sourceno in where .
ERROR:
[code]
PHQL:
[code]
sqlStatement:
[code]

[2017-08-02 05:44] longfeiRen opened #13001 "Serialization in Phalcon\Session\Adapter"
[code]

* Phalcon version: (3.1.2)
* PHP Version: (7.1.2)
* Server: Nginx

[2017-08-02 07:59] stefanchiriac commented on #12996
Like I said in my first post, phalcon is more freely in the way how you can register the engines for Phalcon\Mvc\View but more restrictive for Phalcon\Mvc\View\Simple.

For example if you define Phalcon\Mvc\View like following in Bootstrap, it will render views without problems :
[code]

Next if you want to reuse the registered engines from  Phalcon\Mvc\View on Phalcon\Mvc\View\Simple or define th

[2017-08-02 14:59] JABirchall commented on #13000
This would be why, https://github.com/phalcon/cphalcon/blob/23b4100faa3ef91863d7f05de3f1c7a450cd52bc/ext/phalcon/mvc/view/engine/volt/scanner.re#L433-L443

raw is reserved keyword for blocks.
you need to use {% raw %} content {% endraw %} if you want to output raw content.

[2017-08-02 15:09] JABirchall commented on #2349
Yeah, I'd be more interested in it being an official feature. Anything to speed up the framework more.

[2017-08-02 15:14] ChangePlaces opened #13002 "The integer id field is being populated as a string after save"
### Expected and Actual Behavior

When I save a model, the id field is automatically populated with the id value, however, instead of it being an integer value, it's populated as a string value. When outputting json this is an issue. In the database, the id field is an `integer auto_increment primary key`, and in the annotations, the `@Column' type is an integer. (I'm using the annotation strategy

[2017-08-02 16:26] virgofx commented on #13002
Yes, good catch. We need to respect column map types and cast appropriately right here as MySQL lastInsertId() always returns string

https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L2432-L2434

Always returns string
http://php.net/manual/en/pdo.lastinsertid.php

[2017-08-02 16:40] dschissler commented on #12996
Can you re-title this issue to something like `Break API: Only allow class strings in registerEngines`?  It doesn't need to be exactly that and probably you can come up with something better.  So suggest a course of action in the title.  Then I'll propose that this be added to the 4.0 milestone.

[2017-08-02 16:50] dschissler commented on #12996
Also I think that it is bad style to be able to put in strings and then having Phalcon figure out if it is a name of a service or a namespace.  I think that it should be limited to ONLY a closure or a fully qualified namespace.

So only:

[code]

or

[code]

This stuff was designed to work back with PHP 5.3 and it hasn't been broken since.  We can do things better now.

[2017-08-02 18:25] stefanchiriac commented on #12996
changed as requested
@sergeyklay can you reopen this issue? Thanks

[2017-08-02 18:52] ChangePlaces commented on #13002
Ahh I thought lastinsertid may have been the root cause but never had time to check! I'm still new to Phalcon so wouldn't know how to check the mapped type! Thanks for the work on narrowing it down.

[2017-08-03 04:04] tztztztz commented on #12968
Actually, during working on it, i've discovered that SyncReaderWriter class is allowing nested write locks, and thus providing possibility of deadlocks.

I will protect it from happening by monitoring if any lock has been acquired using global static variable, but it will not prevent deadlocks by making locks out of the Cache Class...

The other thing that somewhat protects from deadlocks, is a lo

[2017-08-03 08:41] PatchRanger opened #13003 "E_WARNING: finfo_file(/tmp/phpEDf24x): failed to open stream: No such file or directory"
I see lots of similar warnings in my logs:

AllController, line 97:
[code]
AllController, line 317:
[code]
\- and it (judging by the backtrace above) calls `finfo_file`, which finally fails.

Here is the corresponding piece of code, which calls `getRealType` at line 317:
[code]

Could you please tell me how to fix this issue? It looks like a bug - is it really?

### Details

* Phalcon version: 3.1

[2017-08-04 10:51] mbrostami opened #13006 "Column doesn't belong to any of the selected models (1)"
### Expected and Actual Behavior
Related to this issues: #1731 , #10934
When I want to use subquery in where conditions and having beside that I got this error:
[code]

[code]
If I remove 'where' OR 'having' it doesn't trigger error.
### Details

* Phalcon version: 3.1.2
* PHP Version: 5.6.30-12~ubuntu14.04.1+deb.sury.org+1
* Operating System: Ubuntu
* Installation type: installing via package man

[2017-08-04 12:39] dugwood opened #13007 "Missing translation in NativeArray should (optionaly) raise a warning"
### Expected and Actual Behavior

When using NativeArray (https://github.com/phalcon/cphalcon/blob/master/phalcon/translate/adapter/nativearray.zep) on a missing key, the key itself is returned if there's no translation for this key.

A warning should be raised to deal with such a situation, avoiding displaying keys on the production website. It's not a security issue, but that should help display

[2017-08-04 12:48] dugwood commented on #13007
An exception may be too difficult to deal with, it should be a function:
`new NativeArray(['content' => [], 'onMissingKey' => $myfunction]`

The function may return the key, overriding the code:
https://github.com/phalcon/cphalcon/blob/master/phalcon/translate/adapter/nativearray.zep#L63

Example of function to pass:
[code]

[2017-08-04 15:24] kornerita opened #13008 "[Improvement] Db Adapter Pdo"
Hi,

I use ORACLE as Database, I took the [Oracle Adapter](https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Db/Adapter/Pdo/Oracle.php) and [Oracle Dialect](https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Db/Dialect/Oracle.php) from the incubator, tweak it a little and I got it running, all was smooth.

**Issues with my implementation**

I started using CLOB fields

[2017-08-05 06:01] ChangePlaces opened #13009 "Json serialization for JSON column types"
### Expected and Actual Behavior

I have a column in a table that is of type JSON in mysql. I have set the column type to 'json' in the model annotation for the property and I am using the annotation strategy.

I intend to use this json array to store an array of data, so I set a default value of `[]` in the `onConstruct` but when I save it, I get the PDO error `number of bound variables does not

[2017-08-06 03:43] cottton opened #13010 "\PDO:: class constant aliases (request)"
By merging multiple service configs like

     return [
         'database' => [
             'adapter'    => '...',
             // ...
             'persistent' => '...',
             'options'    => [
                 \PDO::MYSQL_ATTR_INIT_COMMAND => "...",
             ],
         ]
     ];

we got a problem with numeric keys (integer).
F.e. `\PDO::MYSQL_ATTR_INIT_COMMAND` === 1002.
So we get

[2017-08-06 08:12] sergeyklay commented on #13003
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-08-06 12:36] NextSeason commented on #12931
I hope you can fix this bug quickly, I can't continue doing my work because of this bug.

[2017-08-07 10:37] stamster commented on #13010
Well, this is from Phalcon's config object and toArray() method:

[code]

and vanilla PHP:

[code]

So those constants will always be converted internally to integer values, since that's what they are - you're using constant name in order to get it's value.

[2017-08-07 11:16] cottton commented on #13010
I know. Thats why im asking to add aliasses.
in your example i would like to provide a config:

    $m = [
        'attr_default_fetch_mode' => \PDO::FETCH_OBJ,
        'attr_errmode'            => \PDO::ERRMODE_EXCEPTION,
        'attr_emulate_prepares'   => 0,
        'mysql_attr_found_rows'   => 1
    ];

**Test**

// simulated options
$options = [
    'attr_default_fetch_mode' => \PDO::FETCH_O

[2017-08-07 13:03] PatchRanger commented on #13003
@sergeyklay I've posted an issue here to let you know that in my case `getRealType` following the `moveTo` call fails - it is bug, isn't it? Could you please investigate the source code of `getRealType` in order to make sure it doesn't contain obvious bug, that could be the reason of aforementioned behavior?

[2017-08-07 20:44] tztztztz commented on #12968
Hello,

I've created repository called: php-no-slam-cache (https://github.com/tztztztz/php-no-slam-cache), where first, tested version of the caching system resides.

It comes with testing script intended to be run in command line windows concurrently.

In the next days I will add some detailed documentation and some examples to it, and then we can talk about porting this mechanism into Phalcon.

[2017-08-07 22:03] atrope commented on #12955
Hello @stamster,
Do you have any good news regarding this issue? 😺

[2017-08-08 06:58] sergeyklay commented on #13003
I'll take a look a bit later.

[2017-08-08 13:25] strayobject commented on #10821
In case someone comes here with the same error, when you are naming your params you need TWO colons not one.
Good: `WHERE id = :id:`
Bad: `WHERE id = :id`

[2017-08-09 07:39] FaimMedia commented on #11605
Got the same error message, not really in a subquery, but in a `SUM` of a `HAVING` clause:

    SELECT * FROM `test`
    GROUP BY `rule_id`
    HAVING SUM(`field` IN ({value:array}) OR `field` IS NULL) >= 0

Running PHP **7.1.5** with Phalcon **3.1.2**

[2017-08-09 08:16] amxsa opened #13011 "Segmentation fault to use xhprof in phalcon 3.0.1"
Segmentation fault to use xhprof in phalcon 3.0.1

### Details

* Phalcon version: 3.0.1
* PHP Version: 5.6.5
* Server: Nginx

[2017-08-09 10:09] Jurigag commented on #11605
And how your binding array looks like?

[2017-08-09 12:56] Ark4ne opened #13012 "Can't rename a Column with MySQL"
Column renaming in MySQL dialect, wasn't implemented.

\Phalcon\Db\Dialect\Mysql::modifyColumn does not use the "currentColumn" variable, and therefore will never produce the column renaming request.

[code]

[code]

### Details

* Phalcon version: 3.x
* PHP Version: 5.x / 7.x
* Operating System:
* Zephir version (if any):
* Server:
* Other related info (Database, table schema): MySQL

[2017-08-09 15:57] kornerita opened #13013 "[Enhancement] DispatcherInterface definition"
Hi,

I was looking into the controller's access to the Dispatcher through the dependency injection as property and I've found the following:

`\Phalcon\Mvc\Controller` extends `\Phalcon\Di\Injectable` where the `$dispatcher` property is declared here [Phalcon\Di\Injectable](https://github.com/phalcon/cphalcon/blob/master/phalcon/di/injectable.zep#L36)  as:

[code]

If you treat that `$dispatcher`

[2017-08-09 16:08] assadnazar commented on #12666
Did you find anything solve it?

[2017-08-09 19:43] kornerita opened #13014 "Volt Compiler missing PHP_EOL"
Hi,

### Expected and Actual Behavior
There seems to be an issue with how Volt Compiler creates the PHP templates regarding the expected and actual result with echoes that end on a PHP_EOL character.

i.e. if we create this template:
[code]
If we execute it with  `$world = "world";` you should expect to have the following result in output:
[code]
But this is not the reality, volt generates the fol

[2017-08-10 11:35] s1rc0 commented on #11250
@michealzh @sergeyklay did you fix this problem?
I still cant configure nginx + php-fpm.

nginx conf:
`server {
    listen      80;
    server_name server;
    root        /home/apps/www/server/site/public;
    index       index.php index.html index.htm;
    charset     utf-8;
    try_files $uri $uri/ @rewrite;

    location @rewrite {
        rewrite ^(.*)$ /index.php?command=$1;
    }

    locat

[2017-08-11 06:40] FaimMedia commented on #11605
Just some random id's, nothing special

[2017-08-13 02:49] tidytrax opened #13016 "Request To Mvc\Url use params"
Phalcon\Mvc\Url

Generate a URL with GET arguments (/show/products?id=1&name=Carrots)

In the documentation i did not find anything about pass an array [$param1,$param2] that match with a Action.
Has some way to do it withou extend the interface?

I think can has a flag or if the key isnt numeric

Has some way to it be a native component or some flag to modify the behavior.
Maybe another method

m

[2017-08-14 09:02] micheleangioni commented on #12921
Hi,
IMHO after almost 2 months the Phalcon Team should take a decision, not leaving this issue open since it's quite important.

Is this the expected behavior, which will cause breaking a lot of Phalcon projects upon updating to 3.2 without BC notice in documentation, or Phalcon should start a session by itself on instance construction?

I would prefer the second option, with Phalcon starting a se

[2017-08-14 09:15] dschissler commented on #12921
This would not affect the 3.* branch so it is not a pressing issue.

[2017-08-14 09:31] micheleangioni commented on #12921
Really? So an issue introduced in 3.2 will be fixed in 4.0? That's at least weird, it should be fixed in 3.2.x if the current behavior is not what it's intended to be.

[2017-08-14 09:53] dschissler commented on #12921
semver

[2017-08-14 09:57] micheleangioni commented on #12921
Semver has been broken introducing a BC from 3.1 to 3.2, which is forbiddem by semver. IF we want to FIX this, 3.2.x should be used to revert the BC.
THEN, if we want to confirm the BC because we think it's needed (I would rather confirm the fix, i.e. starting a session on instance construction btw), it should be introduced in 4.0.

[2017-08-14 10:07] dschissler commented on #12921
Which specific thing was broken in 3.2?  Its not supposed to happen but I guess that it does sometimes.  It doesn't happen a lot at least.

[2017-08-14 10:19] micheleangioni commented on #12921
See #12918 , I got the same fatal error as I updated Phalcon from 3.1 to 3.2 in a small side Project.
I agree with Jurigag's opinion (if you are not starting a PHP session then it's not good and it's ok that an error arises), but still we have a BC since there was no error in 3.1. The proposed solution (starting a session on instance construction) seems to me to be the best thing to do in 3.2.x to

[2017-08-14 13:15] kornerita commented on #13016
Hi,

Try [this](https://docs.phalconphp.com/en/3.2/routing#defining-using-conversors) approach:

[code]

params passed as "something/else" are matched to `someAction($something, $else)`

Hope it helps xD

[2017-08-14 13:21] virgofx commented on #12921
Vote for pure removal in Phalcon v4

[2017-08-14 18:55] sergeyklay commented on #11250
@s1rc0 Open please new issue with small code (and steps) to reproduce

[2017-08-14 20:53] acmenna commented on #11117
Master-slave setup does not work with transactions either. If a transaction is active, all reads should be kept in master regardless the read connection.  Doctrine has some cool rules to handle all these scenarios mentioned in this issue. I marked in bold the most important one that will covered the latency and the transaction issue.

http://www.doctrine-project.org/api/dbal/2.0/class-Doctrine.DBA

[2017-08-15 11:43] guweigang commented on #11117
@acmenna Agree. But I don't think this could help `exists()` before `doLowUpdate`.

[2017-08-15 19:33] atrope commented on #12955
Hello Guys,
Anyone else has any insight for this issue?

We are depending on this to lauch the new MultiLanguage website :)

If anyone has any inputs it will help!

Thanks

Alan

[2017-08-15 19:51] atrope commented on #12955
Another example if I try to:

$var= Model::query()
        ->columns("XXXXX")
        ->where("XXX = Y")
        ->cache(array("key" => "somekey","lifetime" => 200))
        ->execute();

It brings the results from the key stored in the instance 12111 if i remove the cache line it brings me the result in the right database. Checking in the instance 11212  the key does not exists.

With phpmemcache

[2017-08-15 21:35] sergeyklay commented on #12908
Fixed in the 4.0.x branch

[2017-08-15 21:35] #12908 closed

[2017-08-16 04:07] dacgray commented on #2052
1+

[2017-08-16 06:13] Tinywan commented on #12476
@sergeyklay hi
+  version = PHP 7.1.8
+  `zephir build --backend=ZendEngine3`
+  build error
[code]

[2017-08-16 07:51] sergeyklay commented on #12476
Could you please take a look at Zephir README firs?

[2017-08-16 08:03] niboge commented on #2175
u can add metaData function to oneModel  prevent from query mysql db
function metaData() {
     return ['id','name',''......];
}

[2017-08-16 08:48] Tinywan commented on #12476
@sergeyklay
+  Hello there! I show Phalcon expansion can not install, can give detailed information? Thank you ~!
+  Ubuntu 14.0
+  PHP env
![qq 20170816164813](https://user-images.githubusercontent.com/14959876/29355183-971f28a4-82a2-11e7-8ae5-99c6039a3457.png)

[2017-08-16 10:52] ruudboon commented on #1766
Would be nice if something like this could still make into the framework otherwise close it?

[2017-08-16 11:30] JABirchall commented on #13016
The url generator does not support query parameters since it does not know about them. It goes by your route definition

example
[code]
should generate something long

http://www.site.com/user/2/edit

[2017-08-16 11:45] JABirchall commented on #13009
Heres is the docs for mysql json objects https://dev.mysql.com/doc/refman/5.7/en/json.html

[2017-08-16 17:05] kornerita opened #13021 "[Enhancement] Phalcon\Mvc\Model\Query\BuilderInterface Definition"
Hi,

It would be nice to complete the [BuilderInterface](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/query/builderinterface.zep) definition to match the intended method from [Builder](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/query/builder.zep)

The missing methods are:

[distinct](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/query

[2017-08-16 19:57] kornerita commented on #524
Hi,

I've found this thread and I would like to add the following:

- Regarding the performance impact, there is already a ["castOnHydrate"](https://docs.phalconphp.com/en/3.2/db-models#disabling-enabling-features) option to disable if you don't need it or if you want performance (by default it comes disabled).
- For this implementation there should be methods on the [Phalcon\Db\Dialect](https://g

[2017-08-16 20:22] kornerita commented on #582
Hi,

The [\Phalcon\Mvc\ModuleDefinitionInterface](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/moduledefinitioninterface.zep#L40) requires a `registerServices` method to register it's services.

On my implementation of this I get the acl from the DI and add the Resources, Roles and permissions for the module there.

i.e.:
Module.php
[code]

- This only applies when the module is loa

[2017-08-17 18:12] kornerita opened #13023 "[Bug] \Phalcon\Mvc\Model\Query->addFrom() disregarding "with" argument"
Hi,

We can see in `\Phalcon\Mvc\Model\Query` [here](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/query/builder.zep#L415), that the `with` parameter is disregarded in the `addFrom` method, I believe than [this](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/query/builder.zep#L206) line of code is missing (taken from the constructor where is not disregarded).

[2017-08-17 18:57] kornerita commented on #13021
Hi,

I would like to add a question about this:

In [\Phalcon\Mvc\Model\Query\Builder->inWhere](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/query/builder.zep#L708l) the method signature is:
[code]
while in [\Phalcon\Mvc\Model\Query\BuilderInteface->inWhere](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/query/builderinterface.zep#L173) is:
[code]
The differ

[2017-08-17 19:32] kornerita commented on #12959
Hi,

I believe this is not a bug; if you use i.e.:

[code]
Then you get it false.

For what I have read, the [\Phalcon\Http\Cookie](https://github.com/phalcon/cphalcon/blob/master/phalcon/http/cookie.zep#L281) uses the [setcookie](http://php.net/manual/en/function.setcookie.php) with its local value, so if you use the framework instead of `ini_set` it would work as expected.

To work as you intend

[2017-08-17 20:01] kornerita commented on #12710
Hi,

By default (according to [docs](https://docs.phalconphp.com/en/3.2/cache#lifetime)) [\Phalcon\Cache\BackendInterface](https://github.com/phalcon/cphalcon/blob/master/phalcon/cache/backendinterface.zep#L86) returns the frontend's lifetime when lifetime is set to `NULL` (example [here](https://github.com/phalcon/cphalcon/blob/master/phalcon/cache/backend/file.zep#L126)); so removing [here](http

[2017-08-19 22:14] sergeyklay opened #13028 "Refactor unit-tests"
Refs: https://github.com/phalcon/cphalcon/pull/13027

[2017-08-20 13:34] #13000 closed

[2017-08-21 04:58] #12288 closed

[2017-08-21 09:45] afbora opened #13030 "Premature end of JPEG file issue on Image GD Adapter"
Hi,

I'm using GD Adapter to create thumbnails like following that:

    $image = new \Phalcon\Image\Adapter\Gd($path);

But i'm getting errors like that:

I tried following that but didnt work because of '$image' var is object and doesnt return as false.

    $image = @new \Phalcon\Image\Adapter\Gd($path);
    if($image === false) return false;

Dump `$image` variable (This should be FALSE not an

[2017-08-21 12:29] chinalu opened #13031 "How to supress rowcount before create/update"
Before create a new model,  Phalcon will `SELECT COUNT(*) "rowcount" FROM `table` WHERE `id` = ?`, how to supress exists check?

[2017-08-21 12:30] sergeyklay commented on #13031
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-08-21 12:30] #13031 closed

[2017-08-23 04:55] 3amprogrammer commented on #12205
@andresgutierrez I wasn't able to find out how to make `SEPARATOR` working. I have came up with something like this:
[code]
That matches my needs but is not generic at all. Can you give me a hint how to make separator working?

[2017-08-23 05:48] sergeyklay commented on #12205
@3amprogrammer Create please a separated issue with code to reproduce.

[2017-08-23 09:23] Jurigag commented on #12205
SEPARATOR is not function, you would need to edit source i guess to make SEPARATOR thing recognized by parser.

[2017-08-23 09:58] 3amprogrammer commented on #12205
Goddammit, so I think I need to get along with my current solution. Thanks

[2017-08-23 20:00] kornerita opened #13035 "[NFR] Add openssl options to \Phalcon\Crypt"
Hi,

I need to switch using `mcrypt` in favor of `openssl` since `mcrpyt` is deprecated since [php 7.1 ](http://php.net/ChangeLog-7.php#7.1.8)

So, why not use `\Phalcon\Crypt`?

`openssl`  uses PKCS#7 Padding [see here](https://crypto.stackexchange.com/questions/12621/why-does-openssl-append-extra-bytes-when-encrypting-with-aes-128-ecb) and `mcrypt` does not so, there is a -nopad option in `opens

[2017-08-23 21:41] virgofx commented on #13035
The Crypt class has used OpenSSL for quite a while. No changes need to be done on your part. The Crypt class doesn't have a few odd pall padding options as you probably shouldn't be using no_padding as you need to provide data in exact length for encrypt/decrypt.

Ideally, the crypt classes can be specific to implementation. So inline with the rest of Phalcon, there should just be a crypt interfac

[2017-08-24 06:27] woody712 opened #13037 "Response content could not be send manually"
when I use Micro Applications,
I don't want to send the response automatically,
so I get the values by method "$app->getReturnedValue()" and put them in "Response Content".
At the last, send them by manual.
[code]

[code]
But I got a strange question, If I return an array in handler, everything is be OK, for strings, it will be send automatically and throw exception below:
[code]

### Details

* P

[2017-08-24 07:19] michanismus commented on #13035
Hmm, I thought Crypt class already uses OpenSSL!?
Or did I miss something? :)
https://github.com/phalcon/cphalcon/blob/master/phalcon/crypt.zep#L358

[2017-08-24 13:00] sergeyklay commented on #13037
Refs: https://github.com/phalcon/cphalcon/issues/12908

[2017-08-24 13:01] sergeyklay commented on #13037
Refactored in the https://github.com/phalcon/cphalcon/pull/12378

[2017-08-24 13:01] #13037 closed

[2017-08-24 13:02] kornerita commented on #13035
Hi,

The `\Phalcon\Crypt` class use the OpenSSL and that is **just fine**, no complains there.

The problem comes when you try to decrypt i.e. third party encrypted data with openssl and it does not has PKCS#7 Padding.

For instance this code show the difference with encrypted result:

[code]
The output is:
[code]
The difference in the output is one more block with PKCS#7 Padding which forces to a

[2017-08-24 13:34] virgofx commented on #13035
Federico -- You're correct.. It's one of the slight options right not included as it's a rare case. Typically, crypt is handling both Encrypt/Decrypt. However, the right approach in fixing the API interfaces, creating adapters for each (OpenSSL and Libsodium) and allowing the native options for both padding, schemes, and few other areas would solve this issue.

I've actually had it on my list for

[2017-08-24 13:59] kornerita commented on #13035
@virgofx

I agree, the right approach is to have a \Phalcon\CryptInterface, \Phalcon\Crypt\Adapter, \Phalcon\Crypt\Adapter\OpenSSL and \Phalcon\Crypt\Adapter\Libsodium or something like that.

Thanks for looking into this, and if you can get it faster, the better.

In the meantime I am using openssl manually, I open this NFR to enhance the Phalcon framework since I like it so much :)

Regards,
Fed

[2017-08-26 13:27] JABirchall opened #13038 "[NFR] Exception Error Page Handling"
### Expected and Actual Behavior
Recently I wanted to throw errors based on database output for instance if a user tries to view an ID of object that's not in the database I want to throw a 404. I find my self-having to manually dispatch the error controller to do this.

Exepected behavour:
[code]
should then be caught and invoke the defined not found controller::method

Actual behavour:
[code]
Th

[2017-08-26 22:19] virgofx commented on #13038
Just wrap your own exception that dispatches just as you've specified. Create your own HttpExceptions to dispatch what you want. The framework provides the tools required for you to build/extend your application.

[2017-08-27 03:50] fesiong opened #13039 "$this->tag->getTitle() return Array when using prependTitle"
when I use prependTitle to prepend title, it return back Array.

[code]

[code]
### Details

* Phalcon version: (3.2.2)
* PHP Version: (7.1.4)
* Operating System: Centos
* Installation type: Compiling from source
* Server: Nginx

[2017-08-27 08:19] haginaga commented on #12947
Same problem happened to me.
I am waiting to merge.

[2017-08-27 08:42] SidRoberts commented on #12025
@sergeyklay I think this can be closed now due to https://github.com/phalcon/cphalcon/pull/13027.

[2017-08-27 08:44] #12025 closed

[2017-08-27 10:16] davihu opened #13041 "Duplicate partials rendering"
Hello,

I am using multiple viewsDirs and I need to confirm, that actual template targeting and rendering system in Phalcon works as intended.

I have 2 view dirs:
1. .../skins/my_skin/views/
2. .../frontend/views/

I would expect, as in other frameworks, that if I have template block/footer.volt under both directories, it will check for first existing template under views dirs and render it.

But

[2017-08-27 13:00] wydhit opened #13042 "\Phalcon\Di add alias?"
[code]

[code]

[2017-08-27 18:43] kornerita commented on #12710
Hi,

My git skills are quite lowsy.

I've written and tested the fix and works fine.

- The test file uses `sqlite` with `:memory;` db, and it's created on runtime.
- The test file is OS independent

**patch to fix this:**
[code]
**self testing file:**
[code]

First I tried to test it with `\Phalcon\Cache\Backend\Memory` but `lifetime` is [disregarded](https://github.com/phalcon/cphalcon/blob/mast

[2017-08-28 13:56] Jurigag commented on #12205
Well actually i use something like:

[code]

GROUP_CONCAT(column, ';', 1) means to seperate distinct results by `;`, GROUP_CONCAT(column, ';') just seperate by `;`

[2017-08-28 14:18] Jurigag commented on #12921
@micheleangioni well actually it wasn't due to 3.1 > 3.2 really, it was change in zephir which is causing this error. Right now zephie checks if certain superglobal exists, and if not you have error like this. I think it's better to remove session service in phalcon 4, first people will need to choose their adapter and second they will need to actually start it.

[2017-08-28 14:21] Jurigag commented on #13041
Duplicate of https://github.com/phalcon/cphalcon/issues/12977

[2017-08-28 14:26] Jurigag commented on #10372
Yes the issue exists. Need to fix it.

[2017-08-28 14:28] sergeyklay commented on #10372
@Jurigag Coul you please try to sort out with this for 3.2.x branch?

[2017-08-28 14:29] Jurigag commented on #10372
Yea, i guess https://github.com/phalcon/cphalcon/blob/master/phalcon/acl/adapter/memory.zep#L260 here we just need to check if it already exists, if not then don't add this.

[2017-08-29 01:30] petermoo commented on #12827
This is good work. Looking forward to the results after performance tests. Here are my 3 cents worth based on the things I found using Phalcon 3.

1/ I use an initial "route" process to select either the full Phalcon for serving content or a micro Phalcon for serving unthemed data such as Web services. A two stage route makes sense for that initial decision.

2/ In the full Phalcon content deliver

[2017-08-29 03:32] wydhit opened #13046 "$this->view->render() debug"
in controller
[code]
but in view I can not get `$name` `$age`
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/view.zep#L787-L789

I find this code
[code]
I thind that code  should be

[code]
### Details

* Phalcon version: (`3.2.2`)
* PHP Version: (`5.6`)

[2017-08-29 05:37] Jurigag commented on #13046
Hmmm you might be right, i don't even see `this->_params` used anywhere except this line.

[2017-08-29 07:24] tidytrax opened #13047 "Phalcon Validate Date, NULL or Empty make requires"
Its possible when to send null or empty string dont ask the presence, date validator i don't think must have PresenceOf.

https://github.com/phalcon/cphalcon/blob/master/phalcon/validation/validator/date.zep

Something like

[code]

Or

[code]

[code]

Return asking a valid date. this should be done by the PresenceOf validator.

[2017-08-29 07:27] #13047 closed

[2017-08-29 10:25] Jurigag commented on #12827
3) No, /admin and /admin/ are not the same route and shouldn't go to same route. You have option to remove slashes.

2) is pretty much what i already mention here, like grouping routes with prefixes and first check this prefix in url, then route group

1) well not related to routing really

[2017-08-29 14:24] yesworld commented on #12850
OK, why it doesn't work?
[code]

I get an error:
[code]

[2017-08-29 17:35] #13041 closed

[2017-08-29 18:30] Jurigag commented on #12850
Phalcon doesn't support subselects like those.

[2017-08-29 18:44] yesworld commented on #12850
Awesome!

[2017-08-29 18:48] Jurigag commented on #12850
It's just hard to do subselect like this in ORM.

[2017-08-29 20:28] davihu commented on #12977
Hey, have the same problem, partials are rendered twice. The fix can be done easy by replacing

https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/view.zep#L689

`break;` for `return null;` statement. I am using customized View class with this fix and work like a charm. When you use multiple view directories, it always renders the first template found under there dirs.

It works as I am f

[2017-08-30 11:44] JABirchall commented on #13038
While entirely possible. Having something readily available for such a common problem would be a better solution then telling everyone just make your own wrapper.

I worked and currently still work with symphony and using their HttpExeceptions is so easy to quickly and easily throw a 404, 403 or any status code you need to use to display to the user.

http://api.symfony.com/3.2/Symfony/Component/H

[2017-08-30 11:50] JABirchall commented on #13046
I'm not sure if this is how its intended to be used?

I assign the params individually, I also select my view
[code]
you also don't need to return the view from the controller. After the method executions Phalcon automatically renders the view.

[2017-08-30 12:52] wydhit commented on #13046
`$this->view->setVars(['name'=>'sam','age'=>20]);`
in this way  that no problem

--

[2017-08-30 13:19] virgofx commented on #13038
The framework shouldn't couple application specific actions and controllers to an exception. So no, the framework shouldn't implement this.

[2017-08-30 19:53] Jurigag commented on #13038
Well i totally agree. This is useless, what you would expect phalcon should do with this throwed exception? You would need to configure it somehow or create some handler so create some class and method anyway. Much faster and easier is just to write your own code in php.

[2017-08-31 07:33] #13038 closed

[2017-08-31 11:41] JABirchall commented on #13046
So is your problem resolved?

[2017-08-31 15:12] Jurigag commented on #13046
I guess, he just mention here we have some property and method which is actually just some garbage which does nothing.

[2017-08-31 17:37] sergeyklay commented on #13039
[code]

Could you please explain a bit more?

[2017-08-31 18:02] #12959 closed

[2017-08-31 18:12] kornerita commented on #12959
@sergeyklay

Hi,

Maybe add a NFR to use [php_ini](http://php.net/manual/en/ini.list.php) defaults?

Regards,
Federico.

[2017-08-31 21:04] sergeyklay commented on #12959
@kornerita Could you please create a NFR?

[2017-09-01 00:38] wydhit commented on #13046
my problem resolved
@Jurigag yes ,  if this `params ` is no used ，just remove

[2017-09-01 00:58] wydhit opened #13049 "let Phalcon\Mvc\Model\Resultset:filter return Resultset?"
I like  `Phalcon\Mvc\Model\Resultset:filter` very much,my mostly datas need change before send to view.

But this method return array ,If possible , let this method return Resultset as same before filter, Complex or Simple,next ,Then I can do more work.

 that is only my idea ,what about yours?

[2017-09-01 08:19] Dublerq commented on #11139
@Jurigag @sergeyklay
It doesn't seem like a big deal to implement...

[2017-09-01 08:22] Dublerq commented on #11997
@Jurigag @sergeyklay
![image](https://user-images.githubusercontent.com/13312449/29961297-737aa770-8eff-11e7-8fd5-8a56b1a09a9e.png)

[2017-09-01 10:12] svfnix opened #13050 "clustered template rendering"
I want to suggest to adding a new template rendering mechanism which i named CTR.
it is very efficient and comfortable and usable
if this is possible, please add it to view object

### clustered template rendering
in this mechanism every template has a phtml file and a directory beside that shapes a tree of parent-child[s] templates

something like these :

in this onion like structure we have n l

[2017-09-01 10:30] Jurigag commented on #13050
Doesn't this already working like this? Phalcon renders already each level.

[2017-09-01 10:39] svfnix commented on #13050
related to phalcon's document :
https://docs.phalconphp.com/en/3.2/views

it picks some certain template from fixed position and i think it is not very flexible.
maybe i'm wrong

[2017-09-01 10:40] Jurigag commented on #13050
Yes you wrong, there is hierarchical rendering - https://docs.phalconphp.com/en/3.2/views#hierarchical-rendering

[2017-09-01 10:44] Jurigag opened #13051 "Namespace aliases don't work in many to many"
When using namespace aliases in models in Many To Many relation they don't work, there is just error unknown model or alias.

[code]
### Details

* Phalcon version: 3.2 (`php --ri phalcon`)
* PHP Version: 7.0.13 (`php -v`)
* Operating System: Ubuntu 14.04
* Installation type: Compiling from source
* Zephir version (if any):
* Server: apache
* Other related info (Database, table schema):

[2017-09-01 10:55] svfnix commented on #13050
document says that **Hierarchical Rendering** offers a 3 level template system (Action view, Controller layout and Main layout) and this is not n layer. also it picks this templates from certain position.

i want to have a main layout.
// main.phtml

 for each language i have a sub layout which wrapped ba main.phtml
// main/fa.phtml
// main/en.phtml

// also have a layout for each role in each sub

[2017-09-01 10:57] Jurigag commented on #13050
You can choose layouts manual. If you need this then do PR, tbh it seems like only application specific thing, not many will use this.

[2017-09-01 11:02] svfnix commented on #13050
yep i did.
i just wanted to offer something more efficient and comfortable.
thank you

[2017-09-01 11:03] Jurigag commented on #13050
You can just mix `{% extends %}` and hierarchical rendering and you will almost have what you want. Though i didn't test it.

[2017-09-01 11:17] svfnix commented on #13050
extending is a great method for sharing chunks of code but i prefer to have separated layouts.
any way, it was just a suggestion.

Phalcon is a grate and easy to use framework and i liked to have this functionality in it.

i've already written a function to solve my problem.
thank you.

[2017-09-01 13:42] micheleangioni commented on #12921
@Jurigag ok, understood. It seems a honest approach.

[2017-09-01 13:49] StudioMaX commented on #11579
Any progress here? This feature is working very nicely in Symfony framework, and it's not so cool that this feature still doesn't exist in Phalcon.

[2017-09-01 17:30] kornerita opened #13052 "[NFR] Phalcon\Http\Cookie use php_ini defaults"
Hi,

This is a NFR from this issue: #12959, #2329

Basically new feature is to add support to Phalcon cookies, the use of [php_ini defaults](http://php.net/manual/en/session.configuration.php#ini.session.cookie-domain):

[code]

Regards,
Federico.

[2017-09-02 06:41] sergeyklay commented on #12978
Fixed in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-09-02 06:41] #12978 closed

[2017-09-03 06:12] williamtse opened #13055 "My php version is 7.0.10，which phalcon could I download？"
### Expected and Actual Behavior

[code]

[code]
### Details

* Phalcon version: (`php --ri phalcon`)
* PHP Version: (`php -v`)
* Operating System:
* Installation type: Compiling from source || installing via package manager
* Zephir version (if any):
* Server: Nginx | Apache | Other
* Other related info (Database, table schema):

[2017-09-03 15:41] sergeyklay commented on #13055
3.2.2

https://phalconphp.com/en/download/linux
https://phalconphp.com/en/download/windows

[2017-09-03 15:41] #13055 closed

[2017-09-03 15:41] sergeyklay commented on #13055
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-09-03 20:47] aat2703 commented on #12995
This works now (After a lot of optimizations in the project)... I'll try to find out what went wrong...

[2017-09-03 23:45] JREAM commented on #2559
It threw me off, but you can get the value still with `setUserOption/getUserOptions`, for example:

[code]

Method 1: During Instantiation You can pass in an array, or the entire `$_POST` if you wanted
[code]

Method 2: Otherwise the same thing is done with the method called like this:
[code]

[2017-09-04 02:52] nealwon opened #13056 "Confusing about reload model in modelsmanager(table splited)"
### Expected and Actual Behavior

How phalcon query data in hash splited tables?
Or I must created models equals table splited count?

[code]

Maybe I think there should be an entry for manual clear models cache in manager.

### Details

* Phalcon version: (Version => 3.2.1)
* PHP Version: PHP 7.1.6 (cli)
* Operating System: CentOS 7.2.1511
* Installation type: Compiling from source
* Other relate

[2017-09-04 04:17] Rajeshr34 opened #13057 "castOnHydrate not working"
`Model::setUp(["castOnHydrate" => true]);`

Above is the code which i had in **"services.php"** .. it stopped working from past 10-15 days. i tried updating all .. means all :) . php,nginx,mysql,phalcon tried everything still modal return all field type as string

ExampleCode:
`echo json_encode((Users::find())->toArray());`

**PHP -V**
[code]

**mysql -V**
`mysql  Ver 14.14 Distrib 5.7.19, for Lin

[2017-09-04 05:32] Jurigag commented on #13057
Try to put castOnHydrate in php.ini. Also if you have mysqlnd driver you should have ints anyway. No need for castOnHydrate, if you have ints in database of course.

[2017-09-04 08:00] ldennison commented on #2752
This still seems like a bug, or at least a missing piece of functionality. Consider these two cases below.

Here we have a custom `DateTime_Custom` class that simply adds a `__toString()` method for conversion (since the base `DateTime` class doesn't have that).
[code]

Here we have case 1, where we set a property (i.e. DB field) to the `DateTime_Custom` object.
[code]

This produces a SQL error b

[2017-09-04 08:16] sergeyklay commented on #2752
@ldennison Could you please open a new separated issue with code to reproduce

[2017-09-04 08:36] ldennison opened #13058 "Bind Param types ignored for non-scalar property values"
### Expected and Actual Behavior
This is a related/continuation of [https://github.com/phalcon/cphalcon/issues/2752](https://github.com/phalcon/cphalcon/issues/2752). Consider these two cases below.

Here we have a custom `DateTime_Custom` class that simply adds a `__toString()` method for conversion (since the base `DateTime` class doesn't have that).
[code]

Here we have case 1, where we set a p

[2017-09-04 08:38] ldennison commented on #2752
Done, at #13058.

[2017-09-04 22:19] someson commented on #496
Subqueries in JOINs too?

[2017-09-05 04:46] dropu opened #13059 "compile fails on centos 7.3"
download the phalcon github Release version
https://github.com/phalcon/cphalcon/releases/tag/v3.2.2

[code]

### Details (ENV)
[code]

* Phalcon version: (`php --ri phalcon`)
* PHP Version: (`php -v`)
* Operating System:
* Installation type: Compiling from source || installing via package manager
* Zephir version (if any):
* Server: Nginx | Apache | Other
* Other related info (Database, table sche

[2017-09-05 05:07] dropu commented on #13059
I found the reason, SWAP is diabled, enable it work fine

[2017-09-05 05:07] #13059 closed

[2017-09-05 06:36] Rajeshr34 commented on #13057
Those who are faching Model Data Type Problem here is the manual quickfix

Make changes in following files

----------------------------------------------------------------------------------------

config.php | Add below Line

`defined('MODEL_DATA_TYPE_CONVERSION') || define('MODEL_DATA_TYPE_CONVERSION', true);
`
-------------------------------------------------------------------------------------

[2017-09-05 10:32] Jurigag commented on #496
How to solve it in Active Record exactly? I think it's hard or close to not possible to implement this in Active Record pattern, if we will switch to Data Mapper we could think about it.

[2017-09-05 10:47] Jurigag commented on #13057
Well for me it works without any problem on phalcon 3 and php 7, didnt check phalcon 3.1/3.2

[2017-09-05 17:52] DTukans commented on #11579
+1

[2017-09-05 19:41] emiliodeg opened #13060 "[NFR] Improve Filter Service"
Hi I think the actual filter service is very rigid and not very customizable. Although we can add functions can not be encapsulated in objects which is a great loss of usability and maintenance.

### New Filter Service
1. Be able to define each of the available filters and their params
2. Filters, even pre-defined filters, that have configuration parameters
3. A magic method to easily access them

[2017-09-06 13:08] kornerita opened #13061 "[Enhancement] Phalcon\Http\RequestInterface"
Hi,

I would like to ask for an update in [Phalcon\Http\RequestInterface](https://github.com/phalcon/cphalcon/blob/master/phalcon/http/requestinterface.zep) to match the following [Phalcon\Http\Request](https://github.com/phalcon/cphalcon/blob/master/phalcon/http/request.zep) methods for compatibility:

- [RequestInterface::get](https://github.com/phalcon/cphalcon/blob/master/phalcon/http/requesti

[2017-09-06 13:52] kornerita commented on #329
+1 to this feature

[2017-09-06 14:13] vladimmi commented on #329
Just retire to using Twig if you have no skills to implement this feature yourself for Volt. It was planned for 1.3 milestone, then removed and promised for Phalcon 2 with Zephir, then moved again, now planned for 4.0 milestone... After all, it wasnt done for more than 4 years now, so I believe can be assumed as low-priority.

[2017-09-06 18:59] datanator commented on #329
I have been reverting to Smarty which might be older than Twig but has a better speed benchmark as far as I read. I think they are both a good choice.

However, a template engine comparable to Twig or Smarty with full support for nested blocks or even better: template inheritance would be the only reason to use Phalcons Volt engine. There is a lot to say to implement Smarty or Twig in Zephir.

Tho

[2017-09-07 06:31] Ultimater commented on #12330
I'm getting this issue on Phalcon 3.2.2 with a lightweight multi-module structure.

Below is a section from my ModuleBase.php:
[code]
My ModuleBase above contains a class and implements Phalcon\Mvc\ModuleDefinitionInterface.

All my modules are written extend it.
Here is my `/modules/Pages/Module.php`:
[code]
Here is my `/modules/AjaxApi/Module.php`:
[code]
All my modules are built like this, diff

[2017-09-07 06:41] Ultimater commented on #12330
Meant to include a link to https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/application.zep#L276

[2017-09-07 06:52] Ultimater commented on #12330
Alright, I tracked this down to ImplicitView:

		/**
		 * Start the view component (start output buffering)
		 */
		if implicitView === true {
			view->start();
		}

and

				/**
				 * Finish the view component (stop output buffering)
				 */
				if implicitView === true {
					view->finish();
				}

This fixes it:
[code]
If anything, I think Phalcon should be outputting a more friendly error tha

[2017-09-07 08:42] Druid33 commented on #11907
I have the same problem on phalcon 3.2.1.
Database i used is oracle 10g

[2017-09-07 08:55] Jurigag commented on #11907
@Druid33 @igorsantos07 could you try add to php.ini on proper sapi:

phalcon.orm.ignore_unkown_columns = 1

And restart your webserver/php-fpm and check again? This is just a guess.

[2017-09-07 11:55] dugwood commented on #11617
@sergeyklay, shouldn't we close this one?

[2017-09-07 13:30] dugwood opened #13062 "Saving twice the same model throws exception «column is required»"
### Expected and Actual Behavior

After upgrading from PHP 5.6 & Phalcon 3.0.1 to PHP 5.7 and Phalcon 3.2.2 (and even 3.2.3), a new issue arise: when model is saved twice (directly or through relations), columns with:
- type = integer
- nullable = false

will throw an error «column is required», but the model hasn't changed.

I've removed all the Metadata class I'm using, as you can see in all var

[2017-09-07 15:34] Jurigag commented on #11098
But using redis/memory it should be set, i don't know what's it's your issue. For sure there is something more beacause i have similar codes working without problem.

[2017-09-07 15:41] dugwood commented on #11098
Not missing an `@Unique` on his column? Else I don't know how Phalcon can be aware of the uniqueness of the column in MySQL. Or perhaps it's a new feature in Phalcon 3.x :-)

[2017-09-07 15:42] Jurigag commented on #11098
No, he is not ussing annotations i think. He is using database strategy są no annotations needed.

[2017-09-07 15:45] dugwood commented on #11098
As the address field is unique, the PK is obviously the same! I use such strategy to update some records, Model::findFirst() by PK, then Model::save() and it updates an already existing row.

Didn't know about database strategy... Too bad!

[2017-09-07 15:47] dugwood commented on #13062
Forgot to add that I'm using a VirtualBox.

I can't reproduce on another VM, with the same setup, that's really weird :-/

[2017-09-07 16:10] Jurigag commented on #11098
It's the same but it shouldn't be, you can clearly see he is creating two new EmailAddresses

[2017-09-07 16:19] dugwood commented on #11098
After reading this:
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L3182

You can see it's the same behaviour as `save`, except:
`If the instance already exists in the persistence it will throw an exception`

So to me it's because the $email is created again, hence unset() the old one, hence no «old» entry. Maybe try with such a code:
[code]
to see if it's working too.

[2017-09-07 16:22] Jurigag commented on #11098
No, he doesn't to unset anything, he is creating new object, this code should work properly for sure.

[2017-09-07 16:34] dugwood commented on #11098
What I pointing out is that by using the same variable `$email` the previous `new EmailAddress()` is unset. So this may not be a bug!
So you have to try it... Or add this to your object, to validate that it's not unset:
[code]

[2017-09-07 16:35] Jurigag commented on #11098
There is some problem for sure, when you do two times $email = new EmailAddress() you assign new value. So PK should be other, not the same.

[2017-09-07 16:40] dugwood commented on #11098
No, you're wrong, if there's no assignation in another global variable, the variable is unset. See for instance:
[code]
returns:
[code]
So first variable `$a` was destroyed, else memory would have doubled, as if you change the second `$a` with a `$b`:
[code]

So please, it doesn't cost much, change the script! Then I'll be okay it's a bug.

[2017-09-07 16:42] dugwood commented on #13062
Narrowed it down to my `beforeSave()` function. Another model works fine (and doesn't have the same `beforeSave`). So maybe it's a bug with the call to `$this->getDI()->getModelsMetadata()->readColumnMapIndex()` I'm doing in this function.

[2017-09-07 16:42] Jurigag commented on #11098
Memory usage is other thing than assigning again value to variable. Memory usage will be the same obviously. Yes it's unset, so it should have **OTHER PK**, not the same.

[2017-09-07 16:46] dugwood commented on #11098
No, again it's because Phalcon knows that the `address` field is unique, then it finds the same entry! Give it a try :-)

Assigning the variable again destroys it, hence the create() doesn't find the previous record, hence there's no exception, and create() returns `true` because it returns `save()`!

Please DO try another code than the same assignment..

[2017-09-07 16:49] Jurigag commented on #11098
But address field IS NOT PK HERE. What you are talking about ?!

[2017-09-07 16:52] dugwood commented on #11098
Please read the database schema:
[code]

Phalcon knows that the address IS unique. Hence it doesn't create another entry because it will run a SELECT on the unique colum.

[2017-09-07 16:53] Jurigag commented on #11098
**No, it won't RUN select statement on unique column since it's not PK**. You are wrong. End of story, he just posted wrong code or something because i have similar code and it's working fine, i will check it tomorrow to be sure..

[2017-09-07 16:56] Jurigag commented on #11098
https://github.com/phalcon/cphalcon/blob/3.2.x/phalcon/mvc/model.zep#L1026 here - exists is build on PRIMARY KEYS, NOT UNIQUE KEYS.

[2017-09-07 17:03] dugwood commented on #11098
Last comment is true, I admit :-) So the issue is here:
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L3124
=> it changes the `false` into `true` in his code.

So it's not a bug :-)

[2017-09-07 17:05] Jurigag commented on #11098
Idk, there is for sure problem with his code or phalcon hat PK is 1 in both creates.

[2017-09-07 17:27] dugwood commented on #13062
For anyone with the same issue, I was doing something like this in `beforeSave()`:
[code]

So it was working fine with PHP 5.6, but with PHP 7.0 it's doing something weird... I've removed the reference (`&`), added a `$this->$property = $value` at the end, and it's fine now.

[2017-09-07 17:27] #13062 closed

[2017-09-08 01:14] NicePebkac commented on #11098
Yeah, I should have included the "expected behaviour" originally, which would have been:
On the second iteration in the loop, `$email->create()` should be returning false.

There is already a row in the database with that value, which is in a column with a unique constraint.
Phalcon should not be falsely reporting that the object was created, because it is simply not true. You can see it from the

[2017-09-08 06:15] dugwood commented on #11098
I agree that returning the PK is strange. It should stay with `null` or something like that.

But you're saying that you already have the row in the database (with the same email and PK=1?), hence both `->create()` fail.

`_postSave` does nothing on failure. But the issue is very old, hence we're not looking at the right code :-) In 2015, there wasn't Phalcon 3.x.

So I'm guessing there's no bug a

[2017-09-08 13:16] Jurigag commented on #11098
No it shouldn't stay null, it should be actual PK from table since it's using last inserted id.

@NicePebkac no, not returning false, in this case expected result is PDOException since you didn't added validator.

[2017-09-10 01:00] angelxmoreno opened #13063 "Incorrect DocBlock and Signature return hint for Collection::count()"
### Expected and Actual Behavior
I expected an array because the doc block has array as the return type:
	public static function count(array parameters = null) -> array

This line can be found here: https://github.com/phalcon/cphalcon/blob/44ce3c6d5d00cfe0626ff09c0ce4b825e39389d0/phalcon/mvc/collection.zep#L1401

Functionality-wise there is nothing wrong.

[code]
### Details
This is an issue with

[2017-09-10 01:01] angelxmoreno commented on #13063
Looks like at some point it did return an array but was fixed: https://github.com/phalcon/cphalcon/issues/348

[2017-09-10 01:05] ninjapanzer commented on #13063
https://github.com/phalcon/cphalcon/blob/44ce3c6d5d00cfe0626ff09c0ce4b825e39389d0/phalcon/mvc/collection.zep#L1401-L1411

`static::_getGroupResultset` returns an int but `count` is expecting to return an array

[2017-09-10 13:06] #13063 closed

[2017-09-10 14:24] Rajeshr34 commented on #13057
@Jurigag

This is the Code which iam trying in the IndexController:

[code]

In **Schools::find()->toArray()** data type is not converted, All data type models are in string type: what am i missing please help.

But it working in **Schools::findFirst()->toArray()** & **Schools::find()[0]->toArray()**

**OutPut**

[code]

Thank You

[2017-09-10 16:19] Iworb opened #13065 "Custom filter makes system slow"
I've created custom filter to compile *.scss to *.css. It's really simple:
[code]
And I'm using it like so:
[code]
I'm using this filter for both css and scss collection of files and when I've add a big css (bootstrap), it stucks. I think that filter tried to compile all files and then check result file with existing one, even is there no changes.
I know that I just could separate css and scss col

[2017-09-11 04:45] #11098 closed

[2017-09-11 08:03] runphp opened #13066 "redis cache no Boolean value returned"
https://github.com/phalcon/cphalcon/blob/107b6f0197b0464d9f6b11ff390a560c000bf448/phalcon/cache/backend/redis.zep#L393

I found this method no Boolean value returned，this was return 0 or 1

see:
https://redis.io/commands/exists

[2017-09-12 13:01] Jurigag commented on #13057
And what exactly is a problem? You sure that in database you have ints?

[2017-09-12 15:38] narniaera opened #13067 "bug? model setSource() result"
[code]

[code]

[2017-09-12 16:28] sunchuo opened #13068 "Feature request: add asynchronous method for db"
It will be great if phalcon provided ways to write data asynchronously

`
$this->db->queryAsync();
`

[2017-09-12 19:35] virgofx commented on #13068
Phalcon is a framework that extends on top of the DB adapters. Most adapters do not support async. /close

[2017-09-13 06:21] sunchuo commented on #13068
http://www.myleftstudio.com/api/Phalcon_Async.html

[2017-09-13 06:26] nealwon commented on #13067
This problem I got too,I asked in the issue,but no response for over a week.
I read the src code, table name has been cached in models manager(key is the model full name),and have no access to do dynamic change!

Now we use sub class extends from base table model and that seems work!
Like code below:

[code]
Forgive me for my poor english!

[2017-09-13 06:37] narniaera commented on #13067
resolved
[code]

[2017-09-13 06:41] nealwon commented on #13067
thx!
manually call destruct can resolve!

[2017-09-13 06:41] #13056 closed

[2017-09-13 13:57] lohe opened #13069 "Form hidden field adds extra \r\n at the end of subarray implode."
I have two servers - one is regular php7.0+apache2.4+ubuntu 16.04 with phalcon 3.2.2 (details are at the end) and other is ran by docker (live server), using nginx container as proxy for multiple containers, and same apache+php+ubuntu+phalcon container is the source of phalcon code.

Found one very weird behavior what I cannot explain.

### Details of the problem

* I use phalcon Forms builder to

[2017-09-14 12:49] chenyangguang commented on #13067
I had found that the toArray() method doesn't work well on columns names like 'firstName', 'lastName' those  with uppercase and lowercase in the same column (use mysql).
like this:

         `id`,
         `car_id`,
         `lang`,
         'frontTireSpec',
          'rearTireSpec',
...

$car_info = self::findFirst('car_id=' . $car_id . " AND lang='en'");
return $car_info ? $car_info->toArray() :

[2017-09-14 15:55] martijnenco commented on #12947
I've the exact same problem.
I will do a work around now with a callback for as long as this bug persits.

My error messege:
`( ! ) Fatal error: Uncaught InvalidArgumentException: Parameter 'message' must be a string in /var/source/app/dpdk/Validators/DynamicVacancyValidator.php on line 212
( ! ) InvalidArgumentException: Parameter 'message' must be a string in /var/source/app/dpdk/Validators/Dyna

[2017-09-14 21:24] sergeyklay commented on #12947
Fixed in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-09-14 21:24] #12947 closed

[2017-09-15 08:51] feelsad opened #13071 "can you add a new function setPath() to Phalcon\Logger\Adapter\File"
[code]

**I want to write different type logs to different files,
but when i tried i found that the shared DI get service can`t resolve this problem**

I know i can set a DI service without shared which can solve it, but i don`t want to create the second logger object

**could you add a function setPath() to the class Phalcon\Logger\Adapter\File**

[2017-09-15 11:48] yesworld opened #13072 "Why ORM is requesting a field, that was removed from the table?"
Hi everyone,

I have a really weird situation with metadata ORM. I removed one column (_category_old_) from the mySQL table, but it's there in the model. Clean all cache files, restart php5-fpm, and nothing happens.

It just shows this message:

I double checked the code and looked for that field  in the model, and it's not there, but if I look in the raw request to database, it's there.
Then I de

[2017-09-15 13:33] virgofx commented on #13072
It's because your models meta data is reading from a cached source. Likely files perhaps. Fix your `modelsMetadata` initialization.

User error. Close.

[2017-09-15 13:54] yesworld commented on #13072
[code]

[2017-09-16 11:33] C0DE8 commented on #11789
+1

[2017-09-16 22:53] stamster commented on #13068
@sunchuo that's fork of old Phalcon which is pure C, - does not even use Zephir.

But in general, something like ReactPHP to be incorporated in Phalcon would be amazing, not only DB functions.

[2017-09-18 09:33] stamster commented on #13071
Base class for `Phalcon\Logger` adapters implements `AdapterInterface`.

So method should be put there as well: https://github.com/phalcon/cphalcon/blob/master/phalcon/logger/adapterinterface.zep

Additionally, it would good idea to adopt `Psr\Log\LoggerInterface` https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-3-logger-interface.md

[2017-09-18 11:41] JABirchall commented on #13066
Since phalcon only checks if 1 key exists at a time, I dont think this is an issue, unless they add functionality to check if multiple keys exists.

[2017-09-18 11:46] JABirchall commented on #13065
I believe phalcon does try to compile the files on every request. I just build them on release there isn't a need to have it compiled all the time or even have code checking if it needs building.

[2017-09-19 05:30] sergeyklay opened #13074 "[NFR] Introduce NullLogger"

[2017-09-19 07:46] wahd6 opened #13075 "how to install specific phalcon framework version 2.0"
i have a application which is working fine with version 2.0

for that i am unable to install phalcon **version 2.0** only latest version **version 3.2.2** is installing so how can i install v 2.0..??

[code]

[2017-09-19 09:08] sergeyklay commented on #13075
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-09-19 09:08] #13075 closed

[2017-09-19 11:07] wahd6 commented on #12062
Same issue:
[code]

please tell how can i fix this..?

[2017-09-19 11:43] Jurigag commented on #12062
`virtual memory exhausted: Cannot allocate memory` You don't have enough memory. Disables other processes like php-fpm/apache/mysql/nginx or create swap file.

Also you also can try installing using ext folder, it will use less memory but it will be longer.

[2017-09-19 11:51] wahd6 commented on #12062
can u pls tell how to do that..?

[2017-09-19 11:56] oscarmolinadev commented on #12062
at least you need 2 Gb of RAM in the VM.

[2017-09-19 13:15] Jurigag commented on #12062
? This isn't linux support forum, check google.

[2017-09-19 19:14] Fisiu opened #13076 "Compilation of cphalcon fails with gcc-7.2."
I'm trying to compile phalcon-3.2.2 with with the latest zephir-0.9.11 using gcc-7.2 however I have some issues. Here is a build log:
[phalcon-3.2.2-gcc-7.2.txt](https://github.com/phalcon/cphalcon/files/1315549/phalcon-3.2.2-gcc-7.2.txt)

Compilation of zephir didn't return any errors, but cphalcon.

[code]

[2017-09-19 19:43] sergeyklay commented on #13076
There is no support yet for PHP 7.2.

[2017-09-19 19:57] temuri416 commented on #12931
@virgofx @sergeyklay

Any update on this ticket? Is there some other dependency?

[2017-09-20 10:27] tdely opened #13077 "LIKE BINARY in Model::findFirst() search condition results in Fatal exception: Syntax error"
### Expected and Actual Behavior

Trying to use LIKE BINARY for case-sensitivity in search condition for Model::findFirst() results in fatal error. LIKE BINARY is necessary when required to perform case-sensitive searches on tables/columns that are have case-insensitive collation.

[code]

[code]
### Details

* Phalcon version: 3.2.2
* PHP Version: 5.6.30-0+deb8u1
* Operating System: Debian Jessie

[2017-09-20 12:02] Jurigag commented on #13077
Well most likely it looks like phql assume this is `LIKE BINARY`, and then :some_col: is not recgonized. I guess it doesn't know what `LIKE BINARY column means`. Most likely you need to make some dialect extension with function LIKE_BINARY or something like this.

[2017-09-20 12:55] hakimio opened #13078 "[NFR] Implement Model\MetaData\Apcu"
### Expected and Actual Behavior

I would expect APC extension dependency to be fully removed in Phalcon 3.2, but it seems "Phalcon\Mvc\Model\MetaData\Apc" is still using it.

### Details
* Phalcon version: 3.2.2
* PHP Version: 7.1
* Operating System: Windows 10
* Installation type:  precompiled Windows dll
* Zephir version (if any): 0.9.9-868cb1f92b
* Server: Apache

[2017-09-20 13:10] Jurigag commented on #13078
It will be in phalcon 4. We follow semver so we couldn't remove it in phalcon 3.2. Don't really see a problem, just install apcu_bc.

[2017-09-20 13:14] hakimio commented on #13078
I am using apcu_bc, but ideally I would like to get rid of it.
You could leave "Phalcon\Mvc\Model\MetaData\Apc" as is for compatibility and simply introduce a new one called "Phalcon\Mvc\Model\MetaData\Apcu" for those who want to use it.
Later in version 4, you can remove it entirely.

[2017-09-20 13:16] Jurigag commented on #13078
Yea i was proposing this already. But this should be in 3.3, so w really need version 3.3 @sergeyklay

[2017-09-20 15:56] Jurigag commented on #12743
This can be closed

[2017-09-20 17:16] quasipickle commented on #1341
Late followup for anyone else googling this:  You can use PHP in your Volt files, so it would be possible to do this:

[code]
I'm sure this offends some people's sensibilities about using raw code in templates - but it is simple.

[2017-09-20 19:02] Jurigag commented on #1341
Better to just add filter.

[2017-09-20 21:12] Fisiu opened #13079 "Compilation fails with gcc 7.2"
I mentioned in #13076 that gcc was used in version 7.2. Not PHP itself. PHP used to build phalcon was 7.1.9.

[2017-09-21 05:16] sergeyklay commented on #13079
Oh! I'm sorry for that. Let's use initial issue. Closing this in favor of #13076.

[2017-09-21 05:16] #13079 closed

[2017-09-21 12:23] yesworld commented on #13072
@virgofx , if I were you, I would have replied the same.

The problem is that removing the column works fine on a **clone server**. Just remove the field from the database, **restart php5-fpm**, and that's it.

But on the **live server it doesn't work**, and here's what I've tried to do:
- I tried to clean the cache using with apc_clear_cache() function.
- Rebooted the server.

Decided to disable

[2017-09-21 13:08] oscarmolinadev commented on #13072
You tried this, right?
[code]

[2017-09-21 14:57] yesworld commented on #13072
It works, but not for a long time. After around 5 mins, it requests fields from the cache, which doesn't exsist. Another cache cleaning  helps only for a short time.

Also I tried to change the APC prefix and to clean the cache one more time - didn't help, same result.

Do you have any ideas, except to cut APC cache out from the project?

[2017-09-22 07:14] yesworld opened #13081 "[BUG?] After updating Phalcon from 3.0.0 to 3.0.1 or higher raw queries work incorrectly"
In 3.0.0 the code works fine:

[code]

In 3.0.1 and higher results are different:
[code]

And another really weird thing is that if I run the mixed code PDO with Phalcon's ORM in 3.0.1 version, the code works fine:
[code]

I've found the parameter because of which the code gives me different results:
[code]

Should this parameter work exactly this way in newer versions or not?

### Details
* Phalc

[2017-09-22 07:23] gotoin opened #13082 "php7.1 compile phalcon error"
### Expected and Actual Behavior

[code]

[code]
### Details

* Phalcon version: 3.1.2
* PHP Version: 7.1.8
* Operating System: mac os
* Installation type: Compiling from source
* Zephir version (if any): 0.9.9-868cb1f92b
* Server: Nginx
* Other related info (Database, table schema):  mysql

[2017-09-22 07:25] gotoin commented on #13082
compile-error.log

[code]

[2017-09-22 07:28] gotoin commented on #13082
and i try to

[code]

[2017-09-22 08:13] maxca opened #13083 "How to set total pagination array from api result data ?"
### Expected and Actual Behavior

[code]

[code]
### Details

* Phalcon version: (`php --ri phalcon`)
* PHP Version: (`php -v`)
* Operating System:
* Installation type: Compiling from source || installing via package manager
* Zephir version (if any):
* Server: Nginx | Apache | Other
* Other related info (Database, table schema):

[2017-09-22 11:07] Jurigag commented on #13083
???

[2017-09-22 17:25] ruudboon opened #13084 "Syntax error, unexpected token NUMERIC PLACEHOLDER(?1), near to ' HOUR)'"
I've changed auth example of Vokuro to work with datetime field in mysql and stumbled on an error.
When running a count with parameters on my model I get:

_Syntax error, unexpected token NUMERIC PLACEHOLDER(?1), near to ' HOUR)', when parsing: SELECT COUNT(*) AS rowcount FROM_

[code]
Running a query like the one below works fine.

SELECT COUNT(*) AS rowcount FROM failed_logins WHERE ip = '127.0.

[2017-09-22 20:47] Jurigag commented on #13084
PHQL doesn't support interval. You need to use https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Db/Dialect/MysqlExtended.php

[2017-09-23 05:50] ruudboon commented on #13084
Ah ok, sorry. Missed that in the docs. thnx

[2017-09-23 05:50] #13084 closed

[2017-09-23 05:59] kspotfujita opened #13085 "I think "OR" here should be "AND"."
https://github.com/phalcon/cphalcon/blob/44ce3c6d5d00cfe0626ff09c0ce4b825e39389d0/phalcon/validation/validator/uniqueness.zep#L301

Even if "<>, NOT IN" condition is connected with "OR", the set does not converge.

[2017-09-23 20:16] Jurigag commented on #13085
But this is EXCEPT conditions, so don't select records where some column is some value. When you have multiple except provided obviously you want to have OR here. So you don't have records with this columns with this value or with this column with this value and so on. AND doesn't make sense in this case.

[2017-09-24 06:38] kspotfujita commented on #13085
Hm. I could not think of any business logic example that would have to use OR.
Currently I extend Uniqueness and use it.
I wanted to use it like the following.
[code]

[2017-09-24 06:38] #13085 closed

[2017-09-24 07:55] dugwood commented on #12506
Just hit the same issue, in another test case: I was flushing the volt directory (timestamp based, so removing old entries with old timestamp), but some files were still in use (with the old timestamp). So I must wait for all the PHP-FPM children to end using old compiled templates before removing them.

Note that I didn't have the issue prior to using `/run/shm/` as the volt compiled directory.

[2017-09-24 10:00] #12199 closed

[2017-09-24 15:25] gouchaoer commented on #13068
it's run in php-fpm.
impossible to use async api.

[2017-09-24 15:38] gouchaoer opened #13088 "run phalcon in php-cli and use coroutine to do io"
hey, i am a big fan of phalcon and zephir.
I have explained my idea that the bottle neck of phalcon in:https://github.com/phalcon/zephir/issues/694#issuecomment-331716887

I think use coroutine(which is only possible in php-cli) is the key to improve performance.
Swoole has already do it and get great improvement: https://github.com/swoole/swoole-src

I think run phalcon in php-cli and use corouti

[2017-09-24 15:42] sergeyklay commented on #13046
Fixed in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-09-24 15:42] #13046 closed

[2017-09-24 19:42] Jurigag commented on #13085
For example - i don't want results which are deleted = 0 or active = 0.

[2017-09-24 23:29] kspotfujita commented on #13085
I want condition "deleted <> '1' and email is not null".
However, the current implementation gets "deleted <> '1' or email is not null".
 I want to unique only when email is not null.

[2017-09-25 07:51] sergeyklay commented on #13088
Close in favor of #13068

[2017-09-25 08:05] gouchaoer commented on #13088
No, coroutine is different from asynchronous method.
ReactPHP, swoole1.x are asynchronous framework. they run in php-cli and act like nodejs early days. But call-back hell problem make it difficult to develop application(Althoug many framework use Generators to implement semi-coroutine to overcome this).
swoole2.x implemented full coroutine and it's possible to run laravel/yii in swoole http serve

[2017-09-25 08:15] gouchaoer commented on #13068
You can use this `$this->db->queryAsync();` in php-fpm applications.
But you must call some blocking method just like `$this->db->waitResult()`. It's useless.

[2017-09-25 08:37] Jurigag commented on #12506
As you can see above it's not phalcon issue.

[2017-09-25 08:38] #13068 closed

[2017-09-25 08:38] dugwood commented on #12506
@Jurigag yes, I do agree :-) It was just for anyone who ends up here, to help a bit investigating what's the issue, because it's not Phalcon.

[2017-09-25 15:11] Jurigag commented on #13085
But you want unique email. So it's like:

`WHERE email <> :email: AND (deleted <> '1' or email is not null)`

Then it's making huge difference. If you would have AND here then it doesn't make sense.

[2017-09-25 17:13] bkvaiude opened #13090 "Codeception not able to load Class 'Phalcon\Mvc\MongoCollection' using Phalcon Loader"
Hello Guys,

I'm using PHP7 and phlacon3.2.2 for my project.
I have written few test cases for the model and run them using following steps

Don't know the reason. Then loaded the class using `require` function and got following output

I was hoping that phalcon will load the classes using loader (at beginning level), but it was not working in that way.

I would appreciate the help and guidance on

[2017-09-25 17:37] sergeyklay commented on #13090
Refs: https://github.com/phalcon/cphalcon/issues/11156

[2017-09-25 17:37] #13090 closed

[2017-09-25 21:09] quasipickle opened #13091 "[BUG] Volt: Using ... in... condition swallows other conditions"
When using a `[value] in [array]` clause in a condition, the rendered function call swallows other conditions.

## Example
[code]
### Expected
"Something here" only gets output if the variable `oddInt` is defined, and if the number 3 is found in the `evenInt` array.

### Actual
"Something here" gets output whenever `oddInt` is defined.

### Rendered PHP
The above code renders to:
[code]
As you can

[2017-09-25 21:19] Jurigag commented on #13091
Btw why isIncluded? in_array is wrong or what?

[2017-09-25 21:28] quasipickle commented on #13091
@Jurigag Beats me - that's just what Volt rendered to.

[2017-09-25 21:29] Jurigag commented on #13091
I just wonder where it's defined or something cuz can't fight it, looks like some magic method.

[2017-09-25 21:47] kaioken commented on #13082
what  os are you using?

[2017-09-25 21:50] quasipickle commented on #13091
Looks like it's defined here: https://github.com/phalcon/cphalcon/blob/107b6f0197b0464d9f6b11ff390a560c000bf448/phalcon/mvc/view/engine/volt.zep

[2017-09-25 22:09] sergeyklay commented on #13083
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-09-25 22:09] #13083 closed

[2017-09-26 01:14] gotoin commented on #13082
i need to change the phalcon code

[2017-09-26 04:54] sergeyklay commented on #13082
So what did you change?

[2017-09-26 06:25] Jurigag commented on #13091
Oh right, it's just working on string too, kind of obvious.

[2017-09-26 07:04] gotoin commented on #13082
I haven't made any changes yet. i only try to compiled.

[2017-09-26 07:51] gotoin opened #13092 "Occasionally can't get value from memcache."
### Expected and Actual Behavior

[code]

[code]
### Details

* Phalcon version: 3.1.2
* PHP Version: 7.0
* Operating System: mac os | centos7
* Installation type: installing via package manager
* Zephir version (if any):
* Server: Nginx
* Other related info (Database, table schema): mysql5.6

[2017-09-26 07:53] gotoin commented on #13092
php5.6 phalcon2 no problem, this problem arises after the upgrade

[2017-09-26 09:19] assadnazar opened #13093 "find() and findByColumnName not working"
find() and findByColumnName does not seem to work in 3.2.1 and 3.2.2.

Can't get the values from a table with multiple rows.

Also, have tried phql. Still returns NULL.

[2017-09-26 10:59] assadnazar commented on #13093
my fault...

[2017-09-26 10:59] #13093 closed

[2017-09-26 19:01] JABirchall opened #13094 "[NFR] \Phalcon\Debug\Dump Recursive dumping"
### Expected Behavior
When testing what data I get back from a Database query with multiple joins I expect to the dumper to recursively go down the object chain to output all the data
Examples of such is Symfony/VarDumper class https://github.com/symfony/var-dumper and Laravel Dumper https://laravel.com/api/5.0/Illuminate/Support/Debug/Dumper.html

Both follow child objects and dump them.

### Act

[2017-09-26 19:03] jasonraimondi commented on #10912
It seems like this bug is still around, I am finding it in my Phalcon 3.2 Micro App.

[2017-09-26 19:15] Jurigag commented on #10912
You need to use `$application->stop()` i think. Even in phalcon 2 there was never check for false/true, only for _stopped.

[2017-09-26 23:53] trentramseyer opened #13095 "Request Get Email with "+" in email"
Google allows you to use a "+" sign in your email to have multiple emails under one account.

The $request->get() removes that plus sign and leaves a space.

If you add the $request->get("email","email") filter to it, it not only removes the "+" sign, it also removes the space.

[2017-09-27 11:36] baychae commented on #899
+1

[2017-09-27 16:41] kideny commented on #11748
php7.1 + phalcon3.2.2 + phalconbox2.0.3
it's not working too...

[2017-09-27 17:14] arthurgermano commented on #11748
Did you check the letter case ? It has worked for me.

Like this example..

[code]

[2017-09-28 01:44] kideny commented on #11748
@arthurgermano you mean the issue come form the columnMap() function ?

[2017-09-28 01:45] kideny commented on #11748
but my columnMap() come from phalcon-devtools create.

[2017-09-28 01:58] arthurgermano commented on #11748
Hiii.. @kideny

No no.. I think that skipAttributesOnCreate or skipAttributesOnUpdate.. is case sensitive and must be equal column map declaration..

So when I mapped in column map for example $testVariable to TESTVARIABLE....  I must declare skipAttributesOnUpdate ("TESTVARIABLE");

[2017-09-28 07:22] gotoin commented on #13082
@sergeyklay could you help me?  thank you.

[2017-09-28 13:23] huyquyet opened #13096 "PHP Warning: PHP Startup: Unable to load dynamic library"
I installation php phalcon via https://docs.phalconphp.com/en/3.2/installation#installation-macos-brew

[code]
and Edit your php.ini file and then append at the end:
[code]

but when i run terminal php -i, php -m or php -v ... show Warning
[code]

Please help me!

[2017-09-28 13:46] oscarmolinadev commented on #13096
Try

`brew reinstall --build-from-source php70-phalcon`

[2017-09-28 18:04] huyquyet commented on #13096
i run
brew reinstall --build-from-source php70-phalcon
but is not yet success

[2017-09-28 19:37] sergeyklay commented on #13081
@yesworld Did you try latest stable Phalcon? At least just for test

[2017-09-28 20:35] #12743 closed

[2017-09-28 20:37] #13077 closed

[2017-09-28 20:38] #10912 closed

[2017-09-28 20:40] #13050 closed

[2017-09-28 21:42] JABirchall commented on #13094
I'm closing this as I have now found out that phalcon doesn't join tables straight away which is why there was no $servers property set until I directly access it.

[2017-09-28 21:42] #13094 closed

[2017-09-28 21:43] sergeyklay commented on #13096
It is not Phalcon issue.

* https://stackoverflow.com/questions/22384764/osx-php-error-localhost-and-unable-to-load-dynamic-library
* https://stackoverflow.com/questions/6827880/phpunit-dynamic-library-warnings-image-not-found
* https://github.com/Homebrew/homebrew-php/issues/3842

When creating new issues please be extra detailed and thorough. If you have any questions please drop into [official

[2017-09-28 21:43] #13096 closed

[2017-09-28 23:30] JABirchall opened #13098 "[NFR] Model Relationship improvments"
## Expected and Actual Behavior

Phalcon's table joins are weird in a sense if you join a oneToMany, phalcon returns a resultset of MANY of the same users with ONE row of the joined table each. This would be considered backwards by many who like me have used Symfony and|or Laravel for most of their developer career.

Laravel relationships: https://laravel.com/docs/5.5/eloquent-relationships#one-to

[2017-09-29 07:28] yesworld commented on #13081
First I updated to version 3.2.2. It doesn't work.
Then I downgraded to 2.1.0 RC1. It works.
Then tested on versions 3.0.8, 3.0.4 and 3.0.1.  It doesn't work with this parameter too.
[code]

[2017-09-29 10:03] Jurigag commented on #13098
Eager loading is available in incubator. Also eager loading most of the time is just slow.

[2017-09-29 10:07] 1RV34 opened #13099 "Can't create nullable timestamps"
### Expected and Actual Behavior

I'm trying to use the `Column` class to create tables in my database. In these tables I try to create a timestamp column that is nullable using the following code:
[code]
I would expect to have created a nullable timestamp column with its default value being `null`, however instead a timestamp column would be created with `current_timestamp` as default together wi

[2017-09-29 11:21] sergeyklay commented on #13099
As you can see tests failed

[2017-09-29 11:25] 1RV34 commented on #13099
I saw, working on updating the tests.

[2017-09-29 12:03] cottton commented on #13042
In the example `var_dump($response);` === NULL.
Seems not working.

I think i see the meaning: you want to add a definition with 2 names at once
without adding the definition twice?

Imo this should extend the Phalcon/Di and override the setter and getter like

    /**
     * Resolves a service, the resolved service is stored in the DI, subsequent
     * requests for this service will return the s

[2017-09-29 12:38] Jurigag commented on #13042
He just means to have option to add alias which will be alias of service added by `$di->set` or `$di->setshared`. When accessing service by get check if it is alias, if yes then access related service, if no then just access service.

[2017-09-29 12:47] aat2703 commented on #12220
Any news on this issue?

[2017-09-29 12:59] 1RV34 commented on #13099
Do you think this fix could be included with **3.2.x**, since it's a bugfix not a feature? (Current Phalcon system doesn't respond to `'notNull' => false` correctly and causes issues. It's causing our applications to break.)

[2017-09-29 13:00] 1RV34 commented on #13099
Sorry, wrong button.

[2017-09-29 13:24] sm0nster commented on #329
+1 to this feature

[2017-09-29 16:26] cottton commented on #13042
Would be confusing to get aliases only on `get`.
I guess ppl would ask why they can set an alias and only get non-shared instances by alias.
I f.e. would expect to be able to

    $alias = 'response';
    if($di->has($alias)){
        $response = $di->getShared($alias);
        $serviceName = $di->getService($alias)->getName();
        $raw = $di->getRaw($alias);
    }

So we would need an alias s

[2017-09-29 16:52] benfavre opened #13101 "Allow to get response without headers"
Could you please wrap theses with an if statement so I can wrap the application class to emulate PSR-7
Right now I have no easy way of only getting the reponse back and handling it as i please.

https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/application.zep#L394
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/application.zep#L395

[2017-09-29 17:43] Jurigag commented on #13042
Why can't you just do PR with zephir code?

[2017-09-29 17:46] Jurigag commented on #329
Since on production volt templates are translated to plain php anyway so there is no really any performance if little gain we could rewrite template engine to plain php anyway. Sure it will be much slower on developing but easier to implement things because right now except zephir alone which is not really a problem you need to edit c files to implement this feature.

[2017-09-29 18:09] datanator commented on #329
I think you are right @Jurigag, but it sort of obviates the need for Volt alltogether since better template engines are out there...

[2017-09-29 18:13] Jurigag commented on #329
Maybe there are but not twig - twig is not plain php - it's still using many classes.

[2017-09-29 18:26] vladimmi commented on #329
How does using classes make PHP not plain? I can be wrong but Volt and Twig are very similar both in terms of used syntax for templates and by outputting template translated into php code.

[2017-09-29 18:49] Jurigag commented on #329
By using objects, you don't need objects to render html. Each block in twig is an object which just slow down whole thing. This is why blade/volt is faster.

[2017-09-29 18:53] cottton commented on #13042
Because im not that much into zep code and it would take me much longer than this php script.
I know zephir is a lot like php. But still would take me hours to get that as zep.

[2017-09-29 19:16] vladimmi commented on #329
Well, probably some benchmarks needed to show whether there is some significant perfomance difference between Volt and Twig. Also, talking under the issue of unsupported block nesting, faster isn't always better if it's not enough flexible.

[2017-10-02 08:00] sergeyklay commented on #13081
@Jurigag Could you please try to sort out?

[2017-10-02 20:01] sergeyklay commented on #12972
Fixed in the `3.2.x branch`. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-10-02 20:01] #12972 closed

[2017-10-02 21:31] sergeyklay commented on #13061
Good catch. Thank you 👍

[2017-10-02 21:39] sergeyklay commented on #12710
@kornerita

Because those methods which have in Zephir something like:
[code]
will cast `lifetime` to `0` in the method body. Actually there is a trick to use:
[code]
and check in the method body:
[code]

[2017-10-02 21:43] sergeyklay commented on #11617
@dugwood Thank you

[2017-10-02 21:43] #11617 closed

[2017-10-02 22:19] sergeyklay commented on #13092
Closing, I can't reproduce this. As you can see the tests passed: #13105. Did you check memcached (for example via telnet) in cases where Phalcon can't receive data? Did you diagnosed a Memcache server with a high cache miss rate? I'm not sure that there is any Phalcon related issue. Please in future issues use a bit more related info e.g. Memcached Server version, used adapter (`Libmemcached`, `M

[2017-10-02 22:19] #13092 closed

[2017-10-03 05:46] sergeyklay commented on #13023
@kornerita Good catch! Thank you

[2017-10-03 05:48] dugwood commented on #13095
The issue isn't Phalcon, it the url encoder you use.

`/test?email=test+help@yourdomain.com` is encoded with a space in it, because `urlencode()` will replace space by a `+`. See: https://en.wikipedia.org/wiki/Query_string#URL_encoding

Try to use `rawurlencode` or something like this.

If you want a plus sign, use: `%2B` (see: https://stackoverflow.com/a/1005699/781153)

Not a Phalcon bug, should

[2017-10-03 05:50] dugwood commented on #13095
Space is removed by Phalcon because it's not a valid character in emails (I recall that a lot of AOL users, back in the days, were using space which is forbidden, you were to remove it in order to send them an email).

[2017-10-03 10:18] lajosbencz opened #13107 "[NFR] Switch block for Volt"
New feature request, as per: https://forum.phalconphp.com/discussion/17035/feature-request-switch-for-volt

# Intended behaviour

Allows for switch/case conditional rendering in Volt

# Example

[code]

[2017-10-03 13:05] kornerita commented on #13074
+1 👍

[2017-10-03 13:14] kornerita commented on #13061
No problem :)

[2017-10-03 13:16] kornerita commented on #13023
No problem, I found it just browsing code hehe.

[2017-10-03 13:19] kornerita commented on #12710
@sergeyklay

Nice trick, when I wrote this I wasn't very fluent in Zephyr, later I've found that typed variables can't have `null` values, I'll add it to my trick list :)

[2017-10-03 14:52] JABirchall opened #13108 "[BUG] Phalcon Models integers are type numeric string"
### Expected Behavior
When using strict type condition of an integer against a model property of integer, the condition should return true or false based on the value.

[code]
Expected Output:
[code]

### Actual Behavior
Because phalcon models populate integer properties with type numeric string, any type of strict conditions will undoubtedly fail

Actual Output:
[code]
### Details

* Phalcon vers

[2017-10-03 15:12] JABirchall commented on #13107
Good suggestion Would be great for example a role badge would need a way to break out the switch as well so that it doesn't cascade. I suggest a `{% casebreak 'match' %}`

[code]

[2017-10-03 15:34] JABirchall commented on #13098
I know there is `with()` in them incubator, But I think it should be built into the framework, also eagerload/joining is slow if you don't setup your database correctly.

[2017-10-03 16:08] JABirchall commented on #13095
Just tested this, not having any issues with phalcon and email suffix's

[code]

https://i.imgur.com/9Y0r69x.png

[2017-10-03 16:12] dugwood commented on #13095
@trentramseyer issue lies in the GET parameter:
`mydomain.com/form.php?email=mybadly+encoded@mail.com`
instead of:
`mydomain.com/form.php?email=mycorrectly%2Bencoded@mail.com`

[2017-10-03 19:47] sergeyklay commented on #13098
Refs: https://github.com/phalcon/cphalcon/issues/1117

[2017-10-03 19:47] #13098 closed

[2017-10-03 21:15] sergeyklay commented on #13023
Long story short. This feature was introduced at Jun 1, 2015 (https://github.com/phalcon/cphalcon/commit/3e43192750367ae0343fbe42c65a97fd04b3444b) was removed at Aug 6, 2015 (https://github.com/phalcon/cphalcon/commit/3ca25046ff484aedb7c38ac5aa994f183cba2415).  Actually this feature was never used in stable releases.

We will not add this feature into 3.x branch and most likely will refactor Query

[2017-10-03 21:15] #13023 closed

[2017-10-04 05:16] sergeyklay commented on #2329
Refs: https://github.com/phalcon/cphalcon/issues/2329

[2017-10-04 05:31] sergeyklay commented on #2329
Closing in favor of #13052.

[2017-10-04 05:31] #2329 closed

[2017-10-04 06:28] #11259 closed

[2017-10-04 07:52] sergeyklay commented on #13082
What Phalcon branch commit do you use? Also provide please compiler info (version, name).

[2017-10-04 21:03] sergeyklay commented on #10556
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-10-04 21:06] sergeyklay commented on #11917
Refs:
* https://github.com/phalcon/cphalcon/issues/11427
* https://github.com/phalcon/cphalcon/issues/10556
* https://github.com/phalcon/cphalcon/issues/11622

[2017-10-04 21:06] #11917 closed

[2017-10-04 21:14] sergeyklay commented on #11427
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) No work was put towards this. I agree with @niden We can't to provide ability for some but break a lot of applications for others. Probably we need a more elegant and safety solution. If anyone wants to get st

[2017-10-04 21:14] #11427 closed

[2017-10-04 21:35] #13095 closed

[2017-10-04 21:39] sergeyklay commented on #13108
Did you check https://github.com/phalcon/cphalcon/issues/12608 ?

[2017-10-05 06:18] JABirchall commented on #13108
Ill try it out.

[2017-10-05 06:50] #13108 closed

[2017-10-05 10:39] deadboy2 commented on #12947
Не работает. Проблема актуальна

[2017-10-05 10:57] martijnenco commented on #12947
What version do you run?  It has been fixxed 21 days ago..
Also I have made a work around. Currently I check the size manually (since we run an older version).
Also, isnt there a policy about communicating in english on this forum?

[2017-10-05 10:59] deadboy2 commented on #12947
Sorry.

Phalcon version: 3.2.2
PHP Version: PHP 7.1
Operating System: Win10
Server: OpenServer

[2017-10-05 11:22] deadboy2 commented on #12947
I can't go on while the problem is actually. I hope you'll decide it as soon as possible.

[2017-10-05 11:24] Zaszczyk commented on #12947
@deadboy2 just use try..catch:
[code]

[2017-10-05 11:37] deadboy2 commented on #12947
Its WORK! Thank you!

[2017-10-05 14:39] igorsantos07 commented on #11907
Sorry! I'm not on the project anymore 😔
Redirecting this to @gte451f

On Sep 7, 2017 05:55, "Wojciech Ślawski" <notifications@github.com> wrote:

[2017-10-06 10:17] Slyvampy commented on #13107
Thanks for creating this NFR for me :)

[2017-10-06 14:52] stamster commented on #13101
Indeed this might be useful (actually required) to integrate ReactPHP with Phalcon. So Phalcon would not send raw HTTP headers nor body but rather return entire Response object instead.

[2017-10-06 15:19] ngethe commented on #1182
I use this
 $this->response->redirect('http://google.com');
from controller

[2017-10-07 21:15] virgofx commented on #12931
@temuri416 Finally got around to this. Can you check https://github.com/virgofx/cphalcon/blob/80123d3628794ee937077c7a167c3c48730efcad/tests/unit/Mvc/Dispatcher/DispatcherInitalizeMethodTest.php#L180-L220   It should handle this specific use case.

In general, you can't use `forward()` directly in the initialize() method as this is essentially a constructor; however, you can forward as result of a

[2017-10-08 20:55] grigoriy-ivanov opened #13113 "[NFR] JsonSerializable for all Message classes"
It will make code more simple when we are sending json response.
At the moment:
[code]
I would like to:
[code]
P.S. Phalcon has two different MessageInterfaces. Maybe should are be merged into one?

[2017-10-08 20:57] sergeyklay commented on #13113
Could you please open a separated issue about MessageInterfaces

[2017-10-08 21:59] grigoriy-ivanov opened #13114 "Different MessageInterfaces in Models and Validation"
Phalcon has two different MessageInterfaces:
```Phalcon\Validation\MessageInterface```, ``` Phalcon\Mvc\Model\MessageInterface``` with same code.

I think will be perfect to create Phalcon Messages component ```Phalcon\Messages```:

 ```Phalcon\Messages\MessageInterface``` for message
 ```Phalcon\Messages\GroupInterface``` for a collection of Messages with filter/map/etc. methods

[2017-10-08 22:00] grigoriygithub commented on #13113
Yes. of course. #13114

[2017-10-09 14:03] tztztztz opened #13115 "Support for json and jsonb in PHQL for PostgreSQL dialect"
### Actual Behavior

Right now trying to use jsonb condition in PHQL / Query builder:

SELECT ... FROM ... WHERE "priceInfo"::jsonb <@ '{"netto":23}'

resulting in parse error, while in psql console it is working properly.

### Enchancement:

Allow to use json and jsonb operators in PHQL queries.

Queries like this shoud'nt be a problem:

SELECT * FROM \k3\product\K3ProductEntity WHERE \k3\product

[2017-10-09 19:06] Jurigag commented on #13115
The temporary solution is simply dialect extension. And i guess it will be very long temporary solution, beacause to add anything to PHQL we need to change this lemon/c etc stuff.

[2017-10-09 19:28] #1848 closed

[2017-10-10 10:18] Fisiu commented on #13082
It look similar to #13076.

[2017-10-10 13:03] baurzhan commented on #11413
Same issue with range include operator @>

[2017-10-10 21:40] Jurigag commented on #11413
You need to use raw sql or add dialect extension.

[2017-10-11 01:01] gotoin commented on #13082
gcc: stable 7.2.0 (bottled)

[2017-10-11 01:03] gotoin commented on #13082
cphalcon 3.1.2

[2017-10-11 11:48] Druid33 commented on #11907
@Jurigag

adding `phalcon.orm.ignore_unkown_columns = 1` has no effect.

[2017-10-11 13:19] Jurigag commented on #11907
Your added it to correct sapi and restarted your webserver?

[2017-10-11 15:20] Fisiu commented on #13076
I played around that issue. I build php-zephir-parser, invoked zephir compiler and passed generate option. Once C code has been generated, I tried to compile it and I get errors posted above.

However, if I try to compile extension directly from `build/php7/$arch` directory → it succeeds.

In both cases I used the same toolchain with gcc 7.2.

[2017-10-12 17:23] sergeyklay commented on #12931
Fixed in the `3.2.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-10-12 17:23] #12931 closed

[2017-10-12 17:36] sergeyklay commented on #13082
Closing in favor of https://github.com/phalcon/cphalcon/issues/13076

[2017-10-12 17:36] #13082 closed

[2017-10-12 18:09] sergeyklay commented on #11907
@Druid33 There is any chance to test `phalcon.orm.ignore_unkown_columns` with MySQL/PostgreSql/SQLite?

[2017-10-12 19:26] sergeyklay commented on #13076
Well, as I can see the first version of GCC 7.x was released on May 2, 2017. I did a little research and made sure that most of LTS OS don't use even the 6.x branch.  I'm sorry, but I want to close this issue for now. There are several reasons for this:

* This issue is related to [Zephir](https://github.com/phalcon/zephir) not Phalcon
* It would be rash right now to waste time to solve this (not

[2017-10-12 22:19] #11413 closed

[2017-10-13 00:02] Ecksters commented on #10764
Not sure if the syntax was updated in newer versions, but this doesn't appear to be working in Phalcon 3.2 with MySQL, getting the error: `Bind value is required for array type placeholder: regions`, however, I _am_ already binding it.

It works if I just use `implode` and insert the string of the array directly into the query, but obviously I'd like to use bound parameters

[2017-10-13 04:05] remicollet opened #13117 "[3.2.3] build issue with zephir 0.10 and timecop extension"
Using:
* php-zephir-parser 1.1.0
* zephir 0.10.3
* phalcon 3.2.3

[code]

I probably miss some change in the build process, but can find anything in the diff with 3.2.2

[2017-10-13 04:37] remicollet commented on #13117
Digging a bit more, seems to be a incompatibility with some installed extensions, "zephir" work in a minimal build env.

[2017-10-13 07:46] sergeyklay commented on #13117
@remicollet Good catch. Keep my informed of any news

[2017-10-13 07:57] sergeyklay commented on #13117
Just to you know all these warnings (introduced in #13112 by @virgofx) are not real issues. They are just garbage, which will be cleared by the compiler. We'll fix them in future releases.

[2017-10-13 08:38] remicollet commented on #13117
I finally found time to dig more, the faulty extension is [timecop](https://pecl.php.net/package/timecop)

Without it, zephir works, with it zephir fails with `Method '__construct' was defined more than one time`

[2017-10-13 08:49] sergeyklay commented on #13117
Well, can we close this for now?

[2017-10-13 08:53] remicollet commented on #13117
Perhaps may be helpful to add some comment in zephir doc, or to display a message if the extension is detected. Else can be closed

[2017-10-13 09:22] #13117 closed

[2017-10-13 11:01] sergeyklay commented on #12542
Fixed in the `3.2.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-10-13 11:01] #12542 closed

[2017-10-13 11:08] sergeyklay commented on #13115
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. There is a few approaches to achieve that:
1) As noted @Jurigag create new one or use dialect class from the Incubator
2) Using raw queries

Phalcon doesn't support json and jsonb in PHQL for now. If anyone wants

[2017-10-13 11:08] #13115 closed

[2017-10-13 11:14] lajosbencz opened #13118 "[NFR] Model::toArray() exclude columns"
It would be really neat if we could provide a list of excluded columns when calling ```toArray()``` on a model.

### Current behaviour

[code]

The current way is either tedious (you have to whitelist columns), or inefficient (you query all the columns, then unset)

### Expected behaviour

[code]

If there is some other way to achieve this that i'm unaware of, please ignore this and let me know! :

[2017-10-13 12:24] loloajax commented on #12203
Totally agree with @frickenate. As long as the type hint is there, we can't use `\Phalcon\debug::onUncaughtException()` correctly.

The problem is to cast `\Throwable` into `\Exception` which is not allowed in PHP. The only way is to declare a new `\Exception` object with all previous args :

`// $exception is a Throwable object`
`$new = new \ErrorException($exception->getMessage(), $exception->ge

[2017-10-13 17:27] sergeyklay commented on #12203
Lets fix this in 3.3.x branch guys

[2017-10-13 22:59] jasonraimondi commented on #11789
+1

[2017-10-16 10:30] Slyvampy commented on #899
+1

[2017-10-17 19:33] sergeyklay commented on #13107
Actually I prefer more something like:

[code]

I'll try to deal with this, but note it will be a switch without `break`-statements implementation.

[2017-10-17 20:40] Jurigag commented on #13107
Imho there shouldn't be endcase. Break should be just detected by next `{% case` or `{% default`.

Also not sure about this multiple values for case. Is it possible in plain php? I don't think so, not sure if i saw syntax like this in any language/template. But it might be good thing.

[2017-10-18 07:02] oscarmolinadev commented on #13107
@Jurigag You "can" more or less with true/false.

[code]

[2017-10-18 11:36] JABirchall commented on #13107
@oscarmolinadev but that is an antipattern and not how a switch case is designed to be used. you might as well generate a series of if statements. the switch() is omitted how you are using it.

[2017-10-18 12:49] oscarmolinadev commented on #13107
@JABirchall Totally agree with you! My example is what you never should do. I see this ugly sh*** in my work one time. That's why I've put "can" :) In PHP you can make ugly things like that.. and `while(true){}` makes no sense  in PHP either.

[2017-10-18 12:52] dugwood commented on #13046
Just upgraded to 3.2.3, and hit a bug with this fix:
[code]
[code]
now returns the dispatcher's `getParam('bar')` value instead of the one set in the view. Shouldn't the dispatcher set its params before allowing `setVar()`? To me it's a breaking change, I'm to fix every controller which has the same parameters as the controller will set :-(

[2017-10-18 12:58] sergeyklay commented on #13107
I'm almost done worked version for php5 (without break still) so I need few days for php7

[2017-10-18 13:07] Jurigag commented on #13046
I guess there should be array_merge paras from dispatcher and viewParams then?

[2017-10-18 13:08] Jurigag commented on #13046
Though it's weird, it happens already.

[2017-10-18 13:12] dugwood commented on #13046
It didn't happen in 3.2.2. So it's a breaking change in 3.2.3.

The issue is that `setVars` from dispatcher erase previously declared vars (in the controller). It may be useful to add a «noErase» option in `setVars()`, so that this behaviour is fixed. If I set something in the controller, I think it has to stay with this value.

[2017-10-18 13:14] dugwood commented on #13046
@Jurigag: the issue is not the array_merge, it's the fact that:
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/application.zep#L351
is run after every `view->setVar()`. Hence `dispatcher->getParams()` will erase any variable set in the controller.

It was indeed a bug, but the fix creates a behaviour that makes the 3.2.3 a 3.3.0...

[2017-10-18 13:15] Jurigag commented on #13046
Yea tbh i don't see really a way to fix it right now. This is beacause of automatic rendering which always is passing parameters. The only way i see is really to https://github.com/sergeyklay/cphalcon/blob/3f703832786c7fb7a420bcf31ea0953ba538591d/phalcon/mvc/view.zep#L432 add here argument like reverse = true(or other name, not sure). And if merge and this reverse is true then do:

[code]

Which w

[2017-10-18 13:20] dugwood commented on #13046
Clearly, as it wasn't working before, we should drop the injection in https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/application.zep#L351

Then we'll think it through, perhaps by setting it when the view is created.

@sergeyklay: can we please rollback this fix and release a new version? Should I open a new bug?

[2017-10-18 13:22] dugwood commented on #13046
Not a rollback, but just remove the injection here:
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/application.zep#L351

I'm sending a patch right now.

[2017-10-18 13:22] Jurigag commented on #13046
As i told, first happens your view setting, then automatic rendering. There is no really way to reverse this process. But i think what i proposed could be good enough like reverse array_merge when adding parameters from dispatcher. So only any additional parameters are added to view, ones set by us by setVars or setVar will be not replaced this way.

[2017-10-18 13:24] dugwood commented on #13046
@Jurigag the fact is the dispatcher's params were never read => we should ignore these, and that will keep this bug closed, but no breaking change. Then we can think of any other solution to inject dispatcher's params... even if it's useless I think.

Setting a param in a `getRender()` or in a `partial` is logical, forcing the dispatcher's params isn't.

[2017-10-18 13:26] Jurigag commented on #13046
Well maybe yea. I don't see any point of passing dispatcher params to view anyway to be honest. Those are diffrent things really. And since it wasn't working anyway we should just drop this `dispatcher->getParams()` this is other idea worth thinking.

[2017-10-18 13:27] dugwood commented on #13046
Thanks for your input.

I'm opening a new bug and a patch.

[2017-10-18 13:30] dugwood opened #13121 "Dispatcher's params override any setVar()"
### Expected and Actual Behavior

#13046 introduce a fix and a breaking change: params are now send to `setVars()`, erasing previously set variables. Works great, but:
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/application.zep#L351
=> injects dispatcher's params, and erase previously set variables in controllers.

### Before 3.2.3
Url: /test-page/1234
[code]
in MyController::testA

[2017-10-18 16:52] sergeyklay commented on #13118
Did you try
[code]

[2017-10-18 18:36] lajosbencz commented on #13118
[code]

My use case is a CRUD via websockets and it would be convenient if i could blacklist columns easily, like a hashed password field for example.

So i figured the second parameter for toArray could be the blacklist array, but now it seems a bit limited use-case... and i've already implemented it in the base model, even if its inefficient :]

[2017-10-18 18:36] #13118 closed

[2017-10-18 19:22] grigoriygithub commented on #13118
@sergeyklay  It's a good solution. But when  ```columns() ``` are used, result is ```Phalcon\Mvc\Model\Row```
It would be perfect to get result as a Model instance.

[2017-10-19 01:19] JABirchall commented on #13107
@oscarmolinadev Yea, if i see code like that in a PR at work I rip them a new one. It's not our policy to be rude to other employees when they do dumb shit like that but I just can't help my self xD. its something that infuriates me.

[2017-10-19 06:38] Jurigag commented on #13118
You can't because you don't select full model. And all the events and other stuff won't be correct. Like for example you could have in some event updating of column which you didn't select. What then? This is by design that when you don't select full model - you get row object. And it will never change because this is one and only correct way. Maybe in data mapper we could change this.

[2017-10-19 06:41] Jurigag commented on #13107
@oscarmolinadev this is not purpose of switch really. For that you have `if construction`

[2017-10-19 09:30] lightindigo commented on #11466
@sergeyklay got exactly the same issue after trying to update **from 2.0.13 to 3.2.2** (tried also 3.2.3, 3.1.x etc) both **building** and getting debian package from **Packagecloud** . The old way of setting default fetch mode (via passing options to Postgresql adapter constructructor as an example) is not working for some reason :(

Just the same error

[code]

The strange thing is that it was t

[2017-10-19 19:56] guillaumesmo opened #13125 "Issues with view->pick"
Hi,

I think there are inconsistencies in the view->pick mechanism
I'm using phalcon 3.2.2

according to the doc:
[code]

The first one will render products/search correctly

The second will not render books/list, but just books. Except if the layout was set to list I guess

The third one should not work (let renderView = pickView[0];)

and also $this->view->pick(['products', 'search']); renders '

[2017-10-19 20:32] sergeyklay commented on #13125
/ cc: @phalcon/documentation

[2017-10-20 12:36] vymc commented on #12056
Please use Nginx server on Windows platform. This is best solution.

[2017-10-20 14:14] sergeyklay commented on #13107
Latest news: i have worked version for switch-case-break-default for php 5

[2017-10-21 08:54] JABirchall opened #13128 "[NFR] HTTP/2 Preload support"
Pretty much a simple NFR,

Specification: https://www.w3.org/TR/preload/#server-push-(http/2)

Other frameworks who have this, Symfony 4 http://symfony.com/blog/new-in-symfony-3-3-asset-preloading-with-http-2-push

Example
[code]
How would it work,
The framework will detect if the client's browser supports http/2 and if so and resources in the volt file that is within the `preload()` function will

[2017-10-21 10:18] sergeyklay commented on #12971
Fixed in the `3.2.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-10-21 10:18] #12971 closed

[2017-10-21 10:42] sergeyklay commented on #13125
This issue was moved to phalcon/docs#1363

[2017-10-21 10:42] #13125 closed

[2017-10-21 10:45] sergeyklay commented on #13057
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-10-21 10:45] #13057 closed

[2017-10-21 10:46] sergeyklay commented on #13039
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2017-10-21 10:46] #13039 closed

[2017-10-21 18:24] sergeyklay commented on #13121
Fixed in the [latest stable version](https://github.com/phalcon/cphalcon/releases/tag/v3.2.4). Feel free to open a new issue if the problem appears again.  Thank you for contributing, and for helping us make Phalcon better.

[2017-10-21 18:24] #13121 closed

[2017-10-21 19:49] sergeyklay commented on #11466
@lightindigo Which database do you use?

[2017-10-22 01:33] sergeyklay commented on #13107
Implemented in 3.3.x branch

[2017-10-22 01:33] #13107 closed

[2017-10-22 12:15] zhilevan commented on #10637
still, has different values on each page refresh !!!!

[2017-10-22 15:13] sergeyklay commented on #10637
@zhilevan Could you please open a ned issue with script to reproduce

[2017-10-22 16:40] sergeyklay commented on #13074
Closing, this is implemented in 3.3.x branch.

[2017-10-22 16:40] #13074 closed

[2017-10-23 05:31] #12260 closed

[2017-10-23 11:43] Urvin opened #13132 "PostgreSQL "create table" sql builder fail"
Hello!
I found two fatal errors when creating tables in database using the $_connection->createTable method.
So, I try to create table 'user' in 'app' schema with the next definition:
[code]

And here's the SQL code Phalcon generated to be run:
[code]

1. **DEFAULT false DEFAULT true**
You see' default values for my 'force_change' and 'active' gone to beginning of SQL columns definitions.
Seems li

[2017-10-24 08:43] hdjvieira commented on #329
+1

[2017-10-24 11:23] mvc089 commented on #11413
This issue is with "@>". Tried RAW sql as well but got the same error.

[2017-10-24 11:25] idevelop4you opened #13133 "[BUG?] Unable to set a "belongsTo" field to null after loading the related model once"
### Expected and Actual Behavior

Having this schema and sample data for a user with related user image (not mandatory):

[code]
And this models:

[code]

[code]

**I want to remove a user image**

Trying setting the *Image* property to null:

[code]
It does not set the user **image_id** field to null and is giving no errors.

I then modified the setter so that if the specified model is null, it w

[2017-10-25 09:19] cute-angelia opened #13134 "can phalcon acl support route regular"
example:

my route :

[code]

acl init

[code]

acl check right:

[code]

Can acl support regular ? or There are other ways ?

[2017-10-25 09:23] Jurigag commented on #13134
Use function based access and pass in dispatcher beforeExecuteRoute dispatcher params.

[2017-10-25 10:35] cute-angelia commented on #13134
@Jurigag 3q.

[code]

[2017-10-25 12:44] lucasantarella commented on #11789
+1

[2017-10-25 14:49] Jurigag commented on #13134
No:

Add route like this imho:

[code]

Acl rule like this:

[code]

[2017-10-25 17:57] deulos opened #13135 "groupBy modifiers causing mysql exception"
In PHQL I'm trying to set a groupBy ordered (ref: https://dev.mysql.com/doc/refman/5.7/en/group-by-modifiers.html) and it causes an exception when running the query.

Just using $queryBuilder->groupBy('user_id desc') returns this:
Syntax error, unexpected token DESC, near to ') ...

And it is caused because the modifier is inside parenthesis.

This causes exception: group by (user_id desc)
This do

[2017-10-25 19:24] Jurigag commented on #13135
Simply PHQL doesn't support syntax like this. PHQL != MySQL or whatever other syntax. Add dialect extension to have it working.

[2017-10-25 23:22] #13135 closed

[2017-10-25 23:23] sergeyklay commented on #13134
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-10-25 23:28] Jurigag commented on #13135
Though those paranthesis thing is weird but still, pretty sure that GROUP BY was never implemented to expect anything more after column name.

[2017-10-26 02:06] cute-angelia commented on #13134
@Jurigag Thanks very much !!!

[2017-10-26 02:06] #13134 closed

[2017-10-26 10:48] Jeeva-Rathinam commented on #10342
@caaguado @rprasanth  could you pls help me, how you solved the issue.

The PHP exe file you specified did not run correctly:
C:\wamp\bin\php\php7.0.25\php.exe

[code]

[2017-10-26 15:09] caaguado commented on #10342
In my case I was inadvertedly using a wrong combination of Phalcon DLL in terms of PHP version, thread support (NTS vs TS) and/or "bitness" (32 vs 64 bits)... I can't remember exactly what it was right now...

Just make sure you use the right combination  and it should work OK for you, the same way it was worked spotlessly for me ever since ;-)

Good luck // Carlos.

On 26 October 2017 12:48:29 CE

[2017-10-26 15:13] caaguado commented on #10342
By the way, have a look at xtack, in which Phalcon works just fine out of the box:

https://xtack.org

We're about to release some updates between today and tomorrow, including Phalcon 3.2.4 ;-)

On 26 October 2017 17:09:35 CEST, Carlos Aguado <caaguado@xcentra.com> wrote:

[2017-10-27 06:59] leslie5803 opened #13137 "phql error"
I wanna insert into mysql multi rows in one sql, I used phql like this:

[code]

and I got an error:

[code]

my phalcon version is 3.0.4

[2017-10-27 09:07] Jurigag commented on #13137
PHQL doesn't support syntax like this.

[2017-10-27 12:09] #13137 closed

[2017-10-27 12:11] sergeyklay commented on #13065
Refs: https://github.com/phalcon/cphalcon/issues/1756 https://github.com/phalcon/cphalcon/issues/925

[2017-10-27 12:11] #13065 closed

[2017-10-27 12:12] sergeyklay commented on #925
Closing in favor of https://github.com/phalcon/cphalcon/issues/1756

[2017-10-27 12:12] #925 closed

[2017-10-27 15:29] ch3ll0v3k opened #13138 "Raw server response instead of custom 404 page if site is acessed via URL https://site.com/index/whatever/"
### Details

* Phalcon version: (`php --ri phalcon`)
[code]

* PHP Version: (`php -v`)
[code]

* Operating System:
[code]
[code]

* Installation type: Compiling from source || installing via package manager
[code]

* Zephir version (if any):
[code]

* Server:
[code]

* Other related info (Database, table schema):
[code]
=========================

Hay, i get raw server response instead of custom 40

[2017-10-27 15:35] Jurigag commented on #13138
Must likely server thing. For me it works correctly.

[2017-10-27 16:33] magroski opened #13139 "Installation instructions not working"
### Expected and Actual Behavior

Trying to install phalcon a Ubuntu:16.04 machine, following documentation instructions, but it's not working.

Followed steps:

[code]

Result:

[code]

[2017-10-27 16:37] sergeyklay commented on #13138
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-10-27 16:37] #13138 closed

[2017-10-27 16:43] sergeyklay commented on #13139
[code]

[2017-10-27 16:43] #13139 closed

[2017-10-27 17:21] ch3ll0v3k commented on #13138
Oke. Thank you and sorry fr posting in wrong section.

[2017-10-27 19:24] sergeyklay commented on #13076
This issue was moved to phalcon/zephir#1591

[2017-10-27 19:24] #13076 closed

[2017-10-28 08:57] vahidr76 opened #13140 "compile time error"
Hi. I want customize phalcon framework with zephir and then compile it.
in bult time get some error !

[code]

in compile-error.log

[code]

php -v
[code]

Zephir version 0.9.11-1f84124d4a

[2017-10-28 09:03] Jurigag commented on #13140
Possibly duplicate of #13076

[2017-10-28 11:57] sergeyklay commented on #13140
You have to use `re2c` < 1.x. Check it by `re2c --version`

[2017-10-28 11:57] #13140 closed

[2017-10-28 17:52] vahidr76 commented on #13140
I install re2c 0.16 but now get same error !

[2017-10-29 00:08] sergeyklay commented on #13140
You'll need to clean the generated code by using `zephir fullclean`. Also provide please your compiler and version.

[2017-10-29 07:07] vahidr76 commented on #13140
Nope ! not work

cat /etc/*elease
[code]

gcc -v
[code]

zephir help
`Zephir version 0.9.11-1f84124d4a`

re2c --version
`re2c 0.16`

make -v
`GNU Make 4.2.1`

sudo zephir fullclean
sudo zephir build

[code]

compile-error.log

[code]

[2017-10-29 09:44] sergeyklay commented on #13140
@vahidr76 Please see https://github.com/phalcon/cphalcon/issues/13076#issuecomment-336240770

[2017-10-29 13:30] xinuxZ opened #13141 "Model function toArray() , add _possibleGetter function"
cphalcon/phalcon/mvc/model.zep

Why not add function:

[code]
then, called in the toArray():

[code]

 instead of :

[code]

[2017-10-29 16:44] Jurigag commented on #13141
The question is - why? Method call is heavy and since we are already in model scope why just not use properties?

[2017-10-29 21:32] victorhramos commented on #13141
@Jurigag cause u can have transformations in get like json_decode, serialize, implode, explode, etc...

[2017-10-29 22:23] Jurigag commented on #13141
Getter is not a place for this.

[2017-10-29 22:27] victorhramos commented on #13141
@Jurigag sure? Update with assign array consider use of set methods so as the same way toArray could be consider get methods. why not reflect same effects?

[2017-10-31 04:56] xinuxZ commented on #13141
@Jurigag    if the model properties are "protected" ,  and do some thing in getter function ; the result of property  not same as "toArray()" return

[2017-10-31 09:04] Jurigag commented on #13141
But getter is getter, it's not for operating over properties. Getter should only just return value of protected property. Nothing more. If you put there anything more then it's wrong.

[2017-10-31 10:19] kornerita commented on #13141
Hi,

I always prefer to use PHP’s DateTime instead of some string that can be considered a date... I always use getters and setters that transform from and to \DateTime objects.

Just a comment on why a toArray could use getters. Maybe you can add this as a configurable feature, disabled by default for performance?

Regards,
Federico.

[2017-11-01 02:41] victorhramos commented on #13141
We need just to use our brains.
If i use get methods, why the fuck toArray() shoud ignore them? nevermind, just think!

[2017-11-02 13:58] ruudboon opened #13142 "Loader not lowercasing subdirectories of PS-4 namespaces"
I have an auth class in library/auth/Auth.php
I'm trying to load it with the example below

[code]
The class isn't found and the check path gives back: /project/application/library/Auth/Auth.php that should be /project/application/library/auth/Auth.php

[2017-11-02 14:04] kornerita commented on #13142
Hi,

Try

[code]
:)

[2017-11-02 14:09] ruudboon commented on #13142
This is working, but shouldn't it be possible to have subdirectories like PSR-4 specify? Otherwise I have to register +50 namespaces.

[2017-11-02 14:35] kornerita commented on #13142
I had the same problem and used this fix, but I only have 4 or 5 namespaces, I didn't dig into it but I think that's ambient dependent; I use Mac and Linux (debian and CentOS) with ph 5.6 and 7.0, and I remember it worked without specifying every sub namespace on one ambient, but not on another.

Which OS are you using?

We can try on different systems to see if it's related.

Can you provide a mi

[2017-11-02 14:41] ruudboon commented on #13142
Running on docker based on phalconphp/php:alpine-3-php7 image. Looks like it's working if I link volumes to my Mac but fails when the files are inside the container.
The script above is almost the test script. I will see if I can create a custom docker image to show the issue.

[2017-11-02 14:45] kornerita commented on #13142
The issue is Mac related, the Mac's filesystem and php are case insensitive, while on linux they are not.

Sample script:

[code]
true true for Mac.
true false for Linux.

[2017-11-02 14:50] ruudboon commented on #13142
Accidently it works on Mac (that I use for development). But the issue persist on production.
Reading the Phalcon documentation it mentions that the loader is PS-4 compatible so I think that the Phalcon Loader should lower case the path based on the namespace before trying to include it.

[2017-11-02 15:04] kornerita commented on #13142
@ruudboon I've use Mac for devel too :)

Last time I've checked Phalcon's Loader uses PHP's `is_file` function:

[here](https://github.com/phalcon/cphalcon/blob/v3.2.4/phalcon/loader.zep#L272)
[here](https://github.com/phalcon/cphalcon/blob/v3.2.4/phalcon/loader.zep#L368)
[here](https://github.com/phalcon/cphalcon/blob/v3.2.4/phalcon/loader.zep#L421)

That is case insensitive for Macs at least or

[2017-11-02 15:06] kornerita commented on #13142
Btw, [Loader's doc](https://docs.phalconphp.com/en/3.2/api/Phalcon_Loader) shows register on every sub namespace, so maybe this is a new feature request?

[2017-11-02 15:09] ruudboon commented on #13142
Hmm indeed. Maybe somebody from the core team (@sergeyklay ? :D ) could give some insight.

[2017-11-02 15:39] kornerita commented on #13142
Sure [here](https://docs.phalconphp.com/en/3.2/loader) it states that Loader is PSR-4 compliant, so I've read [PSR-4](http://www.php-fig.org/psr/psr-4/) carefully and correct me if I'm wrong but it doesn't imply that lowercase directories corresponds to ucfirst namespaces / subnamespaces ;)

[2017-11-02 15:44] ruudboon commented on #13142
You're right! I misinterpreted the PSR-4. I gonna change my dir names. Thnx

[2017-11-02 15:44] #13142 closed

[2017-11-02 18:50] ruudboon opened #13143 "trap invalid opcode .... in phalcon.so"
I'm trying to run a phalcon docker build on coreOS using docker swarm.
My dockerfile is based from phalconphp/php:alpine-3-php7

Locally the image works fine (Mac).

I'm seeing the following errors:

[code]

[code]

[code]
[code]

[2017-11-02 20:52] ruudboon commented on #13143
Upgraded to php 7.1.11 and phalcon 3.2.4, still same issue.

[2017-11-02 21:45] ruudboon commented on #13143
Pin pointed the issue to the router.
[code]
[code]

[2017-11-03 08:31] ruudboon commented on #13143
I think the problem is that I compile the docker image on my Mac and then push the image to my local repository. My staging env pull the image from the repository and tries to run it.
Looks like phalcon is linking to some host dependencies because when I rebuild phalcon inside the container on my staging environment it works.

I'm not a c++ expert so can't really tell what's happening. But I do th

[2017-11-03 12:28] lxshui opened #13145 "A bizarre question!!!it looks like impossible !"
As shown below:
![deepinscreenshot_select-area_20171103201541](https://user-images.githubusercontent.com/18578376/32373664-5128d0c2-c0d5-11e7-8c19-9a4e2cdd5cc8.png)

Then I did an experiment,the Code structure is same as phalcon.but result....

[code]
Result::!!!!
![deepinscreenshot_select-area_20171103202620](https://user-images.githubusercontent.com/18578376/32373678-62ae42c8-c0d5-11e7-9df8-85f9

[2017-11-03 14:40] victorhramos commented on #13145
[code]

???

[2017-11-03 19:48] sergeyklay commented on #11827
I apologize @basilfx  for completely overlooking this. This issue is fixed in the `3.3.x` branch. Thank you for the report. I know some people think this kinds of changes are trivial, but actually the solution is not always obvious. So thanks again for catching this bug, and again I am sorry about the delay. Thank you for the report, and for helping us make Phalcon better. Feel free to open a new

[2017-11-03 19:48] #11827 closed

[2017-11-03 20:20] Jurigag commented on #13145
http://php.net/manual/en/closure.bindto.php can be closed

[2017-11-03 21:13] sergeyklay commented on #13145
I'm closing since this is a not a bug report. We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2017-11-03 21:13] #13145 closed

[2017-11-04 08:30] garyrutland opened #13146 "CSRF not working since upgrade to 3.2.4"
### Expected and Actual Behavior

This is now the second release this seems to have happened but CSRF tokens have stopped working, last time I didn't report it because I thought maybe I had done something wrong but it magically fixed itself when upgrading versions and now having upgraded to 3.2.4 it magically stopped working again.

Very tricky for me to give a script that has the bug failing but

[2017-11-04 12:04] krazzer commented on #329
This is the only reason I use Twig instead of Volt. Fixing this would be awesome, I would switch back to Volt right away.

[2017-11-05 09:17] sergeyklay commented on #13140
@vahidr76 I've prepared a patch for Zephir Parser to work with re2c >= 1.0. Could you please reinstall Zephir Parser from [**`development`**](https://github.com/phalcon/php-zephir-parser/tree/development) branch?

[2017-11-06 02:20] salesiss opened #13147 "INVO does not have order management ?"
### Expected and Actual Behavior
INVO sample application does not have or is not showing any order management (create/edit/delete) for 'INVOICES'.

Create, edit, delete and manage invoices.

simply install invo from a fresh php 7.1 / ngnix 1.12 and try to add an invoice.
there was no functionalty avaliable.

[code]
### Details

* Phalcon version: (`php --ri phalcon`) 3.2.4
* PHP Version: (`php -v`

[2017-11-06 09:18] kideny commented on #13088
phalcon is a web framework.

[2017-11-06 10:26] sergeyklay commented on #13147
This issue was moved to phalcon/invo#65

[2017-11-06 10:26] #13147 closed

[2017-11-07 11:18] Ecksters commented on #12056
The solution @basilfx gave worked perfectly for me with XAMPP, testing this seems as simple as making several rapid requests, my experience was if a page every tried making multiple requests immediately one after the other only the first request would succeed.

[2017-11-07 16:45] garyrutland commented on #13146
More frustratingly, this seems to be temperamental.

[2017-11-08 12:49] Frost007 opened #13149 "[bug] cancelOnFail not working properly since 3.0.4"
## Expected And Actual Behavior

I try to add validation to a form field with "cancelOnFail" attribute.
In 3.0.0 it worked as expected. it stopped the field's validation it self, but in 3.0.4 somehow it stops the whole validation. So i don't get any validation messages from the fields that are placed after the field that has cancelOnFail.

My field validation looks like this.

[code]
Lets say i on

[2017-11-08 19:49] TimurFlush opened #13150 "How to settings isolation level for transaction?"
Hello.

How to settings isolation level for transaction?
Already 100 times opened and searched in the documentation how to set the transaction level, but found nothing. Why in Doctrine there is a method setTransactionIsolation () and Phalcon ORM yet?

* Phalcon version: 3.2.2

[2017-11-08 19:50] TimurFlush commented on #13150
https://forum.phalconphp.com/discussion/10153/setting-the-isolation-level

[2017-11-08 22:13] dschissler commented on #12921
I think that we should solve this in a generic way so that other services can take advantage of it.

Currently done in `Phalcon\DI::get` to inject the DI:

[code]

Why can't we use an approach like this to `start` a service object if it implements an interface and isn't already started?  So you can manually start it in the closure but if you don't then it will ensure that it has been started befor

[2017-11-08 22:18] dschissler commented on #12833
Has anyone thought about this?  As far as I can see `SessionHandlerInterface` seems like a faulty standard.

[2017-11-09 07:29] valVk commented on #329
One of the most commented feature in this milestone and in the same time in the end of TODO list )

[2017-11-09 10:40] dmarkic opened #13151 "Huge DECIMAL number casted to FLOAT/DOUBLE"
### Expected and Actual Behavior

[code]

[code]

[code]
### Analysis
As far as I could I've traced this cast to this code:
https://github.com/phalcon/cphalcon/blob/107b6f0197b0464d9f6b11ff390a560c000bf448/phalcon/db/adapter/pdo.zep#L242

### Solution
I've extended the \Phalcon\Db\Adapter\Pdo\Mysql class and modified this a bit like this:
[code]
This does solve my problem, but I guess it could be

[2017-11-09 21:28] sergeyklay commented on #12833
@dschissler Could you elaborate on that. Why?

[2017-11-09 22:29] dschissler commented on #12833
This seems strange.

`$session->destroy($session->getId());`

[2017-11-09 23:09] #10950 closed

[2017-11-09 23:58] sergeyklay commented on #12833
Yes, you may need remove not current session, owned by some user

[2017-11-10 00:10] dschissler commented on #12833
How about we add API sugar?:

[code]

[2017-11-10 02:54] dschissler commented on #12833
@sergeyklay How does `Phalcon\Session\Adapter\Redis` work with [SessionHandlerInterface::open](http://php.net/manual/en/sessionhandlerinterface.open.php)?  I don't understand how `string $save_path` is relevant to service based sessions.

[2017-11-10 06:18] sergeyklay commented on #12833
This sugar is not compatible with the interface

[2017-11-10 06:19] sergeyklay commented on #12833
https://github.com/nrk/predis/blob/v1.1/src/Session/Handler.php

[2017-11-10 10:42] alshf89 commented on #12703
try to use ([\s\S]*) instead of (.*) and it will work like charm but i still have problem on some sub version of php 5.6 but in most cases this Regex replacement work.

Right now I have problem on php 5.6.32 😄

[2017-11-10 13:42] sergeyklay commented on #12703
This issue was moved to phalcon/docs#1413

[2017-11-10 13:42] #12703 closed

[2017-11-10 15:37] woody712 opened #13152 "Please offer a method to set the rawBody"
Hi buddy:

I use phalcon without fpm & nginx, but I use Swoole as the web service.

In my issue,
when the client sends a request (method "PUT") to server.
In ordinary way, we will get the params by `file_get_contents("php://input")`
phalcon source code:

cphalcon/phalcon/http/request.zep

`public function getRawBody() -> string
{
	var rawBody, contents;

	let rawBody = this->_rawBody;

	if empty r

[2017-11-10 23:11] tscheurer opened #13154 "Invalid int cast of non-int values in Config\Adapter\Ini"
### Issue
I recently upgraded from an 2.x Version on PHP 5.6. Now my config.ini doesn’t load correctly. The Value ‘3000007987’ get casted into an int what silently leads to an overflow, resulting in int(-1294959309). This even happens if I quote the value with double quotes. I expect this value to be casted into a int (64bit) or string.

[code]
loading:
[code]
leads to:
[code]

### Details

* Phal

[2017-11-11 08:28] SimBioT1954 opened #13155 "Volt BUG: Embedding blocks into other blocks is not supported"
I'm getting the given error without of any real reason. This is because of  **if var > 0** condition.

[code]

Phalcon version: **3.2.3**
PHP Version: PHP **7.1.7**
Server: **Nginx**

[2017-11-11 09:01] garyrutland commented on #13146
Scratch this, after doing some debugging I've worked out what it probably us.
It looks like after the page is loaded it is trying to request a file which results in a 302 and is hitting the system and generating a new token.

Apologies.

[2017-11-11 09:01] #13146 closed

[2017-11-11 11:19] Rajeshr34 opened #13156 "Complex ResultSet Fields Response Types as String - Fix"
Sorry for my english :)

Complex Resultset Query:
[code]

When i Print it all of its values are in string. so i decided to test further then i came up its because some code is missing in query.zep file.

If i remove columns in the above query it switches to **Simple Resultset** and in **Simple Resultset** #School fields are in proper types (_int,bool,string_) . so i got to know problem is with com

[2017-11-11 12:23] TimurFlush commented on #13155
Most likely, this is because you declare the block "container" inside any other block. And this opportunity does not support the Volt.

[2017-11-11 12:29] SimBioT1954 commented on #13155
Hello @TimurFlush! Do you see any embedded blocks in my example?

[2017-11-11 12:31] SimBioT1954 commented on #13155
This does not work:
[code]
But this one works fine:
[code]

[2017-11-11 12:38] TimurFlush commented on #13155
See. Understand the essence of the problem. Most likely it is possible because of this:
https://github.com/phalcon/cphalcon/blob/23b4100faa3ef91863d7f05de3f1c7a450cd52bc/ext/phalcon/mvc/view/engine/volt/parser.c#L6469

[2017-11-12 14:56] tugrul commented on #12927
I tried 3.2.4 and still have this problem. There is no relation width xdebug extension. Problem occurs even xdebug extension is disabled.

[2017-11-12 20:23] oscarmolinadev opened #13158 "[NFR] Add event router:beforeMount a group."
I would like to have an event before mount a group of routes for manipulate the group. I'm developing a very big app with a lot of modules and each one have a group of routes, so in my case I want set a hostname by config, eg:

[code]

With an event `router:beforeMount` I can replace the hostname, add one by default for each group, etc.. a lot of posibilites not only for edit the hostname.

Thanks

[2017-11-12 21:01] andrew-demb commented on #13152
As a workaround, you can define your own Request (extends from Phalcon) class with `rawBody` in the constructor and set it to DI on init app.

As you can see, Request haven't any methods to change the state. So, I'm against to not implement this method in a request (while request is not immutable).

[2017-11-14 13:31] Jurigag commented on #13152
There is already PSR-7 issue, psr-7 have method withBody which allows you to change body of request.

[2017-11-14 14:46] woody712 commented on #13152
@andrew-demb
Actually, I did it in my project, thx.

[2017-11-15 00:19] guillaumesmo opened #13159 "Output buffering not ended when return false or string from action"
Hi,

I'm experiencing an issue with the "return false;" and "return 'string';" shortcuts in the actions.

### Expected and Actual Behavior

When I return false or string, I expect the view component to be bypassed, and the response to be returned as-is (for return false) or with the content set to the given string.

However, when Application::implicitView is true (the default), output buffering is

[2017-11-15 00:25] guillaumesmo commented on #13159
Note that is also happens when throwing an exception in the action

Phalcon Application will not catch the exception, so execution will end before output buffers are closed

[2017-11-15 06:29] NikolasSumrak opened #13161 "Allow empty strings and orm.not_null_validations"
Hey guys!

I have one small question.

I have table with string field
[code]
and i want to write empty string to this field
[code]

If enabled
[code]
i need to add
[code]
to model.

I thing this is  wrong way!

I see at model.zep at 2104 line
[code]

I don't understand: what reason to adding
[code]

It does not bring anything useful. I could not think of a single option when it came in handy.

*Wh

[2017-11-15 06:32] NikolasSumrak commented on #13161
May be this code for non-string fields, like as timestamp, etc. But for string fields this isn't need, i think.

[2017-11-15 07:47] Ultimater opened #13162 "Tag::checkField doesn't check fields with an array as their name e.g. genre[10]"
Problematic line in the code:
https://github.com/phalcon/cphalcon/blob/master/phalcon/tag.zep#L331

The way we're expected to use checkField is like so:
[code]
You submit the form and you correctly see:
`<input type="checkbox" id="genres" name="genres" value="on" checked="checked" />`

When you change the field name to "genres[10]" the auto-checking behavior is lost:
You'll see `<input type="check

[2017-11-15 12:13] Jurigag commented on #13161
What's the point of saving empty string value to database when displaying it in view from database is the same thing(just empty stuff).

[2017-11-16 06:58] yesworld commented on #13081
Any news? @sergeyklay , @Jurigag

[2017-11-16 12:56] laffentaller commented on #13149
Same issue here:

PHP Version 7.0.22-0ubuntu0.16.04.1
Phalcon: 3.2.4
Installation type: from deb source (https://packagecloud.io/install/repositories/phalcon/stable/script.deb.sh)
Zephir version: Version 0.10.4-11e39849b0
Server: Apache/2.4.18 (Ubuntu)

[2017-11-16 12:59] trix87 commented on #13149
Hello,

I am having the same issue but with the latest version 3.2.4.
The structure is as in the first post.

Details

Phalcon version: 3.2.4
PHP Version: 7.0
Operating System: Ubuntu 16.04
Installation type: Compiling from source
Zephir version (if any):
Server: Apache/2.4.18 (Ubuntu)
Other related info (Database, table schema):

[2017-11-16 17:09] CheckMater commented on #11789
+1 we definitely need this, I'm bored to use the Wandu library

[2017-11-17 10:48] Niko9911 opened #13164 "Cannot get POST data."
### Expected and Actual Behavior

$_POST and $request->getPost(); is empty.

https://i.gyazo.com/a1def9673eff50cce4ba129002210dde.png
Output is empty array.

[code]

[code]
### Details

* Phalcon version: (`php --ri phalcon`)
[code]
* PHP Version: (`php -v`)
[code]
* Operating System: Linux Mint 18 / 4.8.0-53-generic
* Installation type: Source
* Zephir version (if any): 10.4
* Server: Apache

[2017-11-17 14:10] sergeyklay commented on #13164
Is there any issue with something like that?

[code]

[2017-11-17 15:21] sergeyklay commented on #13132
Fixed in the `3.3.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2017-11-17 15:21] #13132 closed

[2017-11-17 22:37] virgofx opened #13166 "[3.2.x] Non-Identity Models Don't Save Snapshot on Creation/Save"
When saving a new model that does NOT have an identity field (e.g. using a primary UUID instead) the snapshot does not get saved which results in errors when retrieving the updated fields.

[code]

The `Model::_doLowInsert()` needs to move the snapshot save portion out of the identity-only block as snapshots are independent of whether the model has an autoincrement field or not.

![image](https://

[2017-11-18 07:30] Niko9911 commented on #13164
@sergeyklay
That's working as it should. Any other ideas...?

[2017-11-18 07:46] Niko9911 commented on #13164
I tested running same script via Ajax and it's working, but when using postman or Restlet it doesn't work. To be clear, this is not anymore related to phalcon.

[2017-11-18 07:46] #13164 closed

[2017-11-19 00:38] sergeyklay commented on #13149
Could you guys provide a minimal script, with which I would reproduce the error.

[2017-11-19 13:58] sergeyklay commented on #13143
Could you please provide the steps to reproduce?

[2017-11-20 03:55] limingxinleo opened #13170 "Dynamic update does not work as expected for fields which raw values were assigned to"
### DynamicUpdate And RawValue

When I set useDynamicUpdate=true, and the origin value = 1, then I set
model->value = \Phalcon\Db\RawValue('value + 1').
When I save, The value is not changed.

When I change value type is bigint, the result is right.
When the value type is int, the result is wrong.

[code]

### Details

* Phalcon version: (3.2.4)
* PHP Version: (7.0.25)
* Operating System:
* Instal

[2017-11-20 11:17] Jurigag commented on #13166
Oh, good catch :+1:

[2017-11-20 12:26] sergeyklay commented on #1766
I apologize @ruudboon for completely overlooking this. Thank you for patience. I know some people think this kinds of changes are trivial, but personally I believe it is important to get everything right, including testing, design, docs, etc. So thanks again for feature request patience, and again I am sorry about the delay.  Could you please open a new feature request in the separated issue so we

[2017-11-20 18:42] virgofx opened #13173 "[3.2.x] SoftDelete Behavior Does not Implement Snapshots"
The `\Phalcon\Mvc\Behavior\SoftDelete` class doesn't implement snapshots. The reason this is important is because the model mimics the `save()` behavior by aborting the current `delete()` operation to perform a silent update of the field.

### Expected and Actual Behavior

[code]

[code]

[2017-11-20 19:47] Jurigag commented on #13173
Well you wrote wrong reason - the reason is beacause model on which is save done is cloned from original model, in this model snapshot is sure updated. But in old one not.

[2017-11-20 19:55] virgofx commented on #13173
I realize the update happens in a clone; the title is still correct. The original model should contain the updated snapshot fields... which is the core issue.

[2017-11-20 19:56] Jurigag commented on #13173
Yea yea, i just mean the reason why there is no updated snapshot is other you suggest.

[2017-11-20 23:20] sergeyklay commented on #13170
Fixed in the `3.3.x` branch. Feel free to open a new issue if the problem appears again. Thank you for the report, and for helping us make Phalcon better.

[2017-11-20 23:20] #13170 closed

[2017-11-20 23:35] sergeyklay commented on #13012
Could you please provide the latest stable version of Phalcon you are use? Also I'll need RDBMS version/name. This is why we created a issue template.

[2017-11-21 07:29] hisune opened #13176 "Object of class Phalcon\Db\RawValue could not be converted to float in"
[code]

phql:
[code]

error:
[code]

### Details

* Phalcon version: 3.2.2
* PHP Version: 7.1.7
* Operating System: Ubuntu
* Installation type: Compiling from source
* Zephir version (if any):
* Server: Nginx
* Other related info (Database, table schema):
[code]

[2017-11-22 10:19] limingxinleo commented on #13176
PayCoinLogs?

[2017-11-22 14:23] Ark4ne commented on #13012
Hello,

I tested with the last 3 stable version 3.0.4, 3.1.1, 3.2.4. and also with branch 3.3.x.
The problem is present on all.

For Mysql, I tested on 5.5, 5.6, 5.7.

This is because the "currentColumn" variable is not used: https://github.com/phalcon/cphalcon/blob/3.3.x/phalcon/db/dialect/mysql.zep#L258

For Postgresql, this variable is well used, which makes it possible to modify the columns.

[2017-11-22 17:16] h1kkan commented on #13143
Hi guys, i've same issue, and find out root cause of it :)

it's caused by `-mtune=native` gcc build flag

I've builded docker image on AMD based host, tested it on it - and all was ok, and then we deploy it to AWS (Intel Xeon based EC2 instance) and get this errors:

[code]

After rebuild on Intel Xeon based host (in my case - it was hetzner dedicated server), then deployed it to same EC2 instanc

[2017-11-23 01:39] hisune commented on #13176
@limingxinleo this line:
[code]

[2017-11-23 06:53] tigerstrikemedia opened #13179 "Binding value to multiple placeholders"
Binding value to multiple placeholders is not working the following script on a model gives me an invalid parameters errors from PDO

Im sure this was working a few weeks ago, i'm not sure what has changed in that time. Is this supported by Phalcon?

[code]

### Details

* Phalcon version: 3.2.4
* PHP Version: PHP 7.1.11
* Operating System: MacOS
* Installation type: Homebrew
* Server: LAMP Stack

[2017-11-23 07:37] janisbizkovskis commented on #12176
Can confirm as now. (23.11.2017). Due to this issue cannot upgrade two of my projects to php 7+ :( Same behavior is with .phtml, so @sergeyklay `Volt` label can be removed, as it's affecting all kind of views.

[2017-11-23 09:14] Jurigag commented on #13179
You sure you have PDO::ATTR_EMULATE_PREPARES option set to true in db service?

[2017-11-23 09:30] stamster commented on #13179
Indeed `PDO` flag for `ATTR_EMULATE_PREPARES ` needs to be set for this to work.

[2017-11-23 09:34] stamster commented on #13161
In general, you should design your database model in a way that `NULL` value will be set by default (if omitted), so simply on your middleware (app) you can simply omit empty properties.
So instead of: `$model->field = '';` you could simply omit it, and value in DB will be `NULL`, which basically is what it is. Empty strings are rarely usable for human usage and can only lead to bugs and confusion

[2017-11-23 09:37] stamster commented on #13155
Perhaps you could do if check before for loop. I think that's syntax problem there - so if you separate those IF and FOR... it should work, no?

[2017-11-23 09:41] stamster commented on #13088
I support any idea which will improve core stuff. Even some ideas might sound too unrealistic for real world apps to take into account... but at least it's got to see a community full of nice ideas!

Thumbs up @gouchaoer

[2017-11-23 12:36] tigerstrikemedia commented on #13179
@Jurigag @stamster
Guys, I beat my head against this for hours, over multiple days and its as simple as that.........

Thank you!!

[2017-11-23 15:47] olegatro commented on #11789
+1

[2017-11-23 15:59] gouchaoer commented on #13088
not unrealistic.
some framework has already use coroutine like:https://github.com/swoft-cloud/swoft(it's in chinese and in developing at present)

[2017-11-23 16:20] Ark4ne commented on #11789
+1

[2017-11-23 18:32] sergeyklay commented on #13158
Implemented in the 3.3.x branch

[2017-11-23 18:32] #13158 closed

[2017-11-23 19:30] sergeyklay commented on #13101
Implemented in the `3.3.x` branch. Thank you for contributing.

[2017-11-23 19:30] #13101 closed

[2017-11-23 19:48] sergeyklay commented on #13010
Implemented in the `3.3.x` branch. Thank you for contributing.

[2017-11-23 19:48] #13010 closed

[2017-11-24 06:33] sergeyklay commented on #13179
@tigerstrikemedia Could we close this?

[2017-11-24 06:34] sergeyklay commented on #12176
I'll try to sort out

[2017-11-24 11:30] Jurigag commented on #13179
Sure thing

[2017-11-24 11:42] tigerstrikemedia commented on #13179
Yep, closing in 3.2.1.....

[2017-11-24 11:42] #13179 closed

[2017-11-24 13:47] Frost007 commented on #13149
For example Auth controller has an index action where the user can log in.

[code]
In the auth/index.phtml file:

[code]

[2017-11-24 15:36] Jurigag commented on #13081
Can't reproduce on phalcon 3.0.2 and on phalcon 3.2.0, please provide steps to reproduce this issue. Are you sure that issue exists on latest phalcon version?

[2017-11-24 15:39] Jurigag commented on #13081
OH i see it doesn't work with `$this->useDynamicUpdate(true);`

[2017-11-24 15:43] Jurigag commented on #13081
Well on phalcon 3.2.0 it works properly so i guess issue was fixed already.

[2017-11-24 16:20] Jurigag commented on #12804
Hmmm the problem is currently flash messages aren't stored by type keys. Not sure if adding storing them like that will introduce any breaking change? @sergeyklay

[2017-11-24 16:24] Jurigag commented on #12781
Are you sure about this? https://github.com/phalcon/cphalcon/blob/master/phalcon/flash.zep#L249 there is already array detection.

About Message - i think casting everywhere message to string should be enough in this class since Message has `__toString` method.

[2017-11-24 18:00] sunchuo opened #13184 "Phalcon\Filter int!"
[code]

### Details
  OS: Linux 10.10.10.200 3.10.0-327.36.3.el7.x86_64 #1 SMP Mon Oct 24 16:09:20 UTC 2016 x86_64
  PHP Version: 7.1.9
  PHP SAPI: cli
  PHP Bin: /usr/local/php/bin/php
  PHP Extension Dir: /usr/local/php/lib/php/extensions/no-debug-non-zts-20160303
  PHP Bin Dir: /usr/local/php/bin
  Loaded PHP config: /usr/local/php/etc/php.ini
Versions:
  Phalcon DevTools Version: 3.2.3
  Phalc

[2017-11-25 09:50] sergeyklay commented on #13078
Implemented in the `3.3.x` branch. Thank you for contributing.

[2017-11-25 09:50] #13078 closed

[2017-11-25 11:34] ArmandArthur commented on #12056
Which are the solution?

[2017-11-27 09:01] yesworld commented on #13081
@Jurigag
You didn't do the experiment quite correctly.
If the addition was done once, it's gonna work smooth.

If you create a new record, it will not work for you.
Try this:
[code]

[2017-11-27 12:32] vGhost2000 opened #13185 "Segmentation fault in getPropertiesAnnotations"
### Expected and Actual Behavior

for reproduce simple way use this image:
docker run --rm -it mileschou/phalcon:7.1-alpine /bin/sh
Create file example.php with code:
[code]

And run `php example.php`

### Details

[code]

* Installation type: Compiling from this source https://github.com/phalcon/cphalcon/archive/v3.2.4.tar.gz
* Server: Nginx + php-fpm / php-cli
* unix line brakes in php file

[2017-11-27 16:09] idevelop4you commented on #10839
Hello, any info on this? It seems still present.

[2017-11-28 09:17] inhere opened #13186 "Whether you can cache annotation routing data"

[2017-11-29 06:30] yesworld commented on #13081
@Jurigag @sergeyklay
I tested it on the 3.2.4 version. The issue still exists.

[2017-11-29 07:12] sprufu opened #13187 "在使用jpa时，javax.persistence.DiscriminatorColumn经常用到，\Phalcon\Mvc\Model有没有类似的功能？"
像jpa中的`javax.persistence.DiscriminatorColumn`应用场景不少，但看完了phalcon文档没有发现类似的功能，请问这个能实现吗？

[2017-11-29 07:27] stamster commented on #13184
If you expect there `100001` as integer, you should only remove `!` in your filter name.
[code]

[2017-11-29 08:11] sunchuo commented on #13184
`
case Filter::FILTER_INT_CAST:
return intval(value);
`

https://github.com/phalcon/cphalcon/blob/3.2.x/phalcon/filter.zep#L165

[2017-11-29 11:24] stamster commented on #13184
But one would usually want/need:

[code]

https://github.com/phalcon/cphalcon/blob/3.2.x/phalcon/filter.zep#L157

As shown, that will use native PHP filter which just works as expected.

Frankly, I have no idea what is the use of `FILTER_INT_CAST` flag.

[2017-11-29 13:48] Ark4ne commented on #13184
Yes, but the strange thing is that the intval function works very well when you pass the value directly :

[code]

Output :
[code]

[2017-11-30 04:20] sprufu opened #13188 "建议Model::writeAttribute($field, $value)，Model::__construct($data)支持columnMap"
当\Phalcon\Mvc\Model自定义有columnMap时，对writeAttribute、__construct等支持columnMap，如：
[code]

[2017-11-30 07:52] andrew-demb commented on #13187
Phalcon ORM doesn't have this feature.

[2017-11-30 07:58] andrew-demb commented on #13188
ColumnMap used for ORM mapping from DB source to models. I'm against to this feature cause map shouldn't affect dev code. This will cause to increase complication for support models and change DB schema.

[2017-11-30 08:30] sergeyklay opened #13189 "[NFR] Env Yaml filter/function"
Our Yaml Config Adapter should recognize `env`  filter/function to call `$_ENV`/`getenv`. Example:

[code]

[2017-11-30 08:33] #13187 closed

[2017-11-30 08:35] sergeyklay commented on #13149
@Frost007 Did you see https://github.com/phalcon/cphalcon/pull/13167

[2017-11-30 16:04] JaanPorkon commented on #12056
Just reporting that I'm experiencing it too:

Windows 10,
XAMPP 7.1.11 (PHP 7.1.11)
Phalcon 3.2.4

[2017-12-01 13:12] stamster commented on #12056
@ArmandArthur && @JaanPorkon https://github.com/phalcon/cphalcon/issues/12056#issuecomment-338194321

[2017-12-01 13:23] stamster commented on #13184
@Ark4ne of course it gets you different result when you pass `int!` instead of `int`.

[code]

Results:

[code]

[2017-12-01 13:26] deoomen commented on #705
+1, something is going on with this feature?

[2017-12-01 16:42] Ark4ne commented on #13184
Yes yes, no problem for that, but my incomprehension must surely be related to a lack of knowledge on my part.

In the Phalcon \ Filter code, sanitize ($ str, 'int!') uses "intval".
So for me the behavior should be the same as that of the php intval function.

After, it is perhaps normal that the function "intval" in zephir realizes a cast int, and not a call to the php function "intval".

It's ju

[2017-12-03 01:03] etshy commented on #10332
Same probleme with the latest 3.2.5.
If I don't add brackets on my Select name, I only have one value, If I add the brackets, the validation fails.

[2017-12-03 01:33] etshy opened #13191 "SQL RelationsShip problem"
I'm in the same case as the example in docs, I have 3 tables, and 3 Models (Chapter, ChapterTeams, Teams)
Following the docs, I tried to set an array of "Teams" object into $chapter->teams before save a chapter but the ChapterTeams is not created (The chapter is saved though)

Here are my class initialization

[code]

[code]

[code]

So like I said it's pretty similar to the docs.
`Chapter` class

[2017-12-03 13:15] etshy commented on #13191
I somehow managed to save the relations, but the docs seems a bit outdated or not complete.

Had to do this in the `Chapter` init
[code]
What it's weird is that the 2 arg needs to be the full name of the class,, with namespace, and the 4th arg needs to be just the class name.
I tried with the 4th arg as full name, no error but nothing savec in my intermediate table
I tried with the 2nd arg as clas

[2017-12-03 13:23] etshy commented on #13191
So the egtter doesn't work at all.

I tried `$chapter->getTeams()`
First I got an error `Teams model can't be loaded`.
So I cange my ini to have the full class name for Teams too.
now I have the message `The method 'getTeams' doesn't exist on model 'App\Models\Chapter'`
obviously cause teams is supposed to be managed by relationship.
I tried to directly acces the teams : `$chapter->teams` or `$cha

[2017-12-03 23:14] sergeyklay commented on #13191
MySQL

[code]

PHP

[code]

Output
[code]

/var/log/mysql/legion.log
[code]

[2017-12-03 23:14] #13191 closed

[2017-12-04 10:53] Jurigag commented on #13186
Yes, just register annotations service using other annotations adapter like memcache or files.

[2017-12-04 11:14] Jurigag commented on #13081
On 3.3.x branch it works correctly.

[2017-12-04 11:30] vovamedinsky opened #13193 "Phalcon vc15 x64 for php 7.2.0?"
How can I create this, or where I can fird Phalcon vc15 x64 for php 7.2.0?
last updated phalcon_x64_vc14_php7.1.0_3.2.4.zip doesnt work. no ext in php info
I use TS version.

[2017-12-04 11:41] Jurigag commented on #13193
We just don't have binary for php 7.2.0 yet. You would need to compile it yourself, it will be faster to use vagrant box i guess than doing it.

[2017-12-04 12:29] Jurigag commented on #13156
You need to use mysqlnd driver to have correct return types. I have ints etc even i don't have your fix.

[2017-12-04 12:47] Jurigag commented on #13166
This can be closed as it is fixed already in 3.3.x

[2017-12-04 12:57] Panoptik opened #13194 "Segmentation fault when DI set abstract class and attempting to get it"
### Expected and Actual Behavior
Expect to receive any exception instead of segfault

[code]

[code]
### Details

* Phalcon version: (`php --ri phalcon`)

phalcon

Web framework delivered as a C-extension for PHP
phalcon => enabled
Author => Phalcon Team and contributors
Version => 3.2.2
Build Date => Aug 14 2017 21:19:02
Powered by Zephir => Version 0.9.9-868cb1f92b

Directive => Local Value => M

[2017-12-04 13:00] Jurigag commented on #13194
You can't create instance of abstract class obviously. I guess there should be some exception instead of seg fault but thanks for reporting anyway.

[2017-12-04 13:06] Jurigag commented on #13194
Well that's weird, as i checked in source code of zephir it checks for constructor if it exists or not so there shouldn't be such issue. Or maybe abstract class in ZE doesn't have constructor property.

[2017-12-04 13:22] Jurigag commented on #13185
I added var_dump in zephir to find what might be wrong:

[code]

[2017-12-04 14:22] virgofx commented on #13166
Closed /fixed in 3.3.x

[2017-12-04 14:22] #13166 closed

[2017-12-04 14:23] Jurigag commented on #13194
Okay it's zephir issue, fix on the way.

[2017-12-05 03:09] inhere commented on #13186
[code]

but, how to dump all registered routes data?

[2017-12-05 09:29] Jurigag commented on #13186
Hmm i guess access all routes in your application.

[2017-12-05 10:09] inhere commented on #13186
router service:

[code]

there are some routes(`app/routes.php`):

[code]

[2017-12-05 10:27] Jurigag commented on #13186
And what is your problem because i don't understand?

[2017-12-05 11:05] inhere commented on #13186
I want to cache all registered routes to a file to avoid parsing annotations again.

[2017-12-05 11:08] #13194 closed

[2017-12-05 11:11] Jurigag commented on #13186
Then you just need to register annotations service as file backend.

[2017-12-05 11:30] Panoptik commented on #13194
Good work, guys! Thanks a lot!

[2017-12-05 11:41] Jurigag commented on #13194
Keep in mind it will be fixed in next phalcon release, right now to have it working you need to build phalcon using latest zephir.

[2017-12-05 15:24] nadorator commented on #12534
this is not usefull at all to remove this and the documentation is not concordant in 3.2.x. It says we can get attribute but in fact we can't. We can use this:

`$elements=$form->getElements();
foreach($elements as $element)
{
    if ($form->hasMessagesFor($element->getName()))
    {
        $errorFields[]=$element->getName();
    }
}`

problem: we can't get the element AND the message by doing on

[2017-12-05 16:07] varobjs opened #13197 "$di->loadFromYaml() how to set a database service?"
**$di->loadFromYaml() how to set a database service?**

[2017-12-05 16:50] #13197 closed

[2017-12-05 19:55] sergeyklay commented on #13186
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).