[2016-06-17 14:24] Jurigag commented on #11904
https://docs.phalconphp.com/pl/latest/reference/db.html#database-events

[2016-06-17 14:25] dellert commented on #11904
Thanks

[2016-06-17 14:25] #11904 closed

[2016-06-17 15:24] kastnermario opened #11905 "Fire "afterFetch" Event on custom behaviors"
[Forum post](https://forum.phalconphp.com/discussion/11861/collection-afterfetch-in-custom-behaviors)

Accordingly to my post I open this ticket as **Feature Request**

Please implement "afterFetch" for collection behaviors.

[code]

The code above works quiet well on collection level. But not in "behaviors".
## Thank you!

[2016-06-17 15:36] kcloze commented on #11901
mysql with pdo

[2016-06-17 15:38] kcloze commented on #11901
first time is ok,second or more time failed

[2016-06-17 15:45] Jurigag commented on #11901
You probably have seg fault. Check your logs, if you have seg fault post backtrace, how to generate it is here:

https://bugs.php.net/bugs-generating-backtrace.php

[2016-06-17 18:06] virgofx commented on #10396
@sergeyklay Thank you :+1:

[2016-06-17 20:11] zzplab commented on #11903
EasyApache updated fine just now. What caused the error and solution is still a mystery to me.
Thanks for the response.

[2016-06-17 20:11] #11903 closed

[2016-06-18 00:44] kadnan opened #11906 "Phalcon for PHP7"
I wonder whether there's PHP7 version available?

[2016-06-18 00:52] #11906 closed

[2016-06-18 18:40] igorsantos07 opened #11907 "ignoreUnknownColumns=>true fails on Model::save()"
While enabling ignoreUnknownColumns do allow us to not specify repeated column names on columnMaps (as per a [comment in another issue](https://github.com/phalcon/cphalcon/issues/1780#issuecomment-115065496), as this is nowhere to be found in the docs), it still triggers `Column 'blah' isn't part of the column map`. In the stacktrace, it was triggered inside `Phalcon\Mvc\Model->_preSave()`.

This

[2016-06-19 10:00] xonze opened #11908 "E_WARNING: preg_replace_callback()"
`
Sun 19 11:53:27 php: [WARNING] E_WARNING: preg_replace_callback(): Unknown modifier '
' in D:\dev\forum\vendor\kzykhys\ciconia\src\Ciconia\Common\Text.php on line 177
`

[2016-06-19 10:01] #11908 closed

[2016-06-19 17:34] romanlex commented on #2292
How I can fix this trouble( I have js template( Maybe I can include file to volt template without parse?

[2016-06-20 18:11] butamuh4o commented on #11877
:/

[2016-06-20 18:28] NextSeason opened #11909 "PDO transaction is not working correct."
It nearly took me a whole day to resolve the problems about transactions, but I failed.
My requirement is INSERT a new record both in table topic and table topic_data in one transaction.
I have my code like this :

[code]

The fails with :
- If I don't set `\PDO::ATTR_PERSISTENT => true`, method "create" with return $id and `var_dump( $this->db->isUnderTransaction() )` is TRUE but NO DATA been ins

[2016-06-21 05:11] NextSeason commented on #11909
I think I found out the solution. the "db" must be shared. The method used to set db need to have another parameter "TRUE" :

[code]

[2016-06-21 13:12] ddesplats opened #11912 "I could set non existing property in models"
Hi all,

Here I have a big issue. When I try to set a non existing property on a model, i works !!!

After few "dive in the code" I found that Phalcon\Mvc\Model::isVisible() return true instead of false : https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L4191

Side effect is that it does not call magic setters on private nor crashes when trying to set a non existing property..

[2016-06-21 14:20] Knallcharge commented on #10405
Same here. If I call "method_exists($validator, 'appendMessage')" it returns true, calling appendMessage on the next line will say that validator is not an object ... !?

[2016-06-21 14:28] Jurigag commented on #10405
@Knallcharge what phalcon version you are using ?

[2016-06-22 02:26] tembem commented on #11912
Let me help you create PR then. See https://github.com/phalcon/cphalcon/pull/11913

[2016-06-22 10:42] mzf commented on #11215
Please fix it

[2016-06-22 14:07] Knallcharge commented on #10405
@Jurigag 2.0.8

[2016-06-22 14:13] Jurigag commented on #10405
I have 2.0.13 and can't reproduce problem with code from OP. Can you post your code @Knallcharge to reproduce this ?

[2016-06-22 15:01] #11591 closed

[2016-06-23 04:24] pantaovay commented on #1867
+1 2.0.8

[2016-06-23 07:21] hisorange opened #11917 "Cannot update loaded relationships."
Aye, not sure if it's a bug or did on purpose but when you load a relationship defined by a local property for e.g.: $parentID, and than trying to update that property the assign, and update fns will run and ignore the changes in the background, in code it looks like this:

[code]

This runs silently and ignore the update, without throwing exception or returning false depending on the Model::setup

[2016-06-23 08:40] Knallcharge commented on #10405
Using the validator in a unit-test will result in the described behavior.

`$myValidator = new MyValidator();
$validation = new Phalcon\Validation();
$validation->bind(new stdClass(),
    array(
        'day'   => date('d'),
        'month' => date('m'),
        'year'  => date('Y')+1
    ));

$myValidator->validate($validation, '');`

printing out $validator in the validator itself will return it

[2016-06-23 08:42] Jurigag commented on #10405
Just wrote whole script to reproduce without necessary to have tests classes.

[2016-06-23 10:00] KevinJay opened #11918 "keepSnapshots is not working"
[code]
it's  output "NULL".

I tried to "setSnapshotData($data)" also is not working.

why?

Is I use the wrong way?

[2016-06-23 10:02] Jurigag commented on #11918
https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/mvc/model.zep#L3584

It returns null because well - it returns null.

[2016-06-23 11:19] #11918 closed

[2016-06-23 12:59] alpaxo opened #11919 "Segfault with empty conditions. bind and limit"
[code]
Script to reproduce:
[code]

- PHP 7.0.4-7ubuntu2.1 (cli) ( NTS )
- phalcon origin/2.1.x de97d580
- Powered by Zephir   Version 0.9.3a-dev-5c0fb106a6

[2016-06-23 13:02] Jurigag commented on #11919
And without empty conditions it works fine ?

[2016-06-23 13:47] alpaxo commented on #11919
Can't understand why, but this segfault is reproducible only after another
[code]

[2016-06-23 13:55] Jurigag commented on #11919
Maybe it's about some opcache or something ?

[2016-06-23 13:56] alpaxo commented on #11919
Can reproduce after adding Robots::count()
[code]
After first request got error "Fatal error: Allowed memory size of 33554432 bytes exhausted (tried to allocate 1443299720 bytes)", after second segfault

If switch order of count//find got error "Fatal error: Uncaught PDOException: SQLSTATE[HY093]: Invalid parameter number: number of bound variables does not match number of tokens in"

[2016-06-23 15:46] Jurigag commented on #11919
First post i have segfault too with opcache enabled, after disabling it it works fine. Of course it should work with opcache too.

[2016-06-23 15:49] andresgutierrez commented on #11919
Is this only happening on php7?

[2016-06-23 15:54] Jurigag commented on #11919
On debug version though it looks like there is some infinite loop without any segfault etc.

On php 5.x everything works fine, both opcache and without it.

[2016-06-23 16:02] Jurigag commented on #11919
[code]

On first run it returns:

[code]

On second:
[code]

On third:

[code]

After this there is maximum execution time error.

[2016-06-23 18:12] sergeyklay commented on #11465
Fixed in the 2.1.x branch

[2016-06-23 18:12] #11465 closed

[2016-06-23 21:33] sergeyklay commented on #3157
@geoidesic

[2016-06-23 21:34] sergeyklay commented on #2683
This is [Phalcon Docs](https://github.com/phalcon/docs) issue

[2016-06-23 21:34] #2683 closed

[2016-06-24 01:39] KevinJay commented on #11918
Can you give me a demo for  call "setSnapshotData" and "getSnapshotData" ?
thanks.

[2016-06-24 06:34] sergeyklay commented on #11918
Have you seen https://docs.phalconphp.com/en/latest/reference/models.html#record-snapshots

[2016-06-24 09:06] leezhiyong opened #11922 "[2.0.13] The record could not be created when a column named 'source' in table"
tag: 2.0.13
error like this:

$o = new Model();
$o->source = 'something';
$o->create();

[2016-06-24 09:08] Jurigag commented on #11922
Isn't it because source is reserved word ?

[2016-06-24 10:54] sergeyklay commented on #11922
https://github.com/phalcon/cphalcon/issues/11253

Fixed in 2.1.x branch

[2016-06-24 10:54] #11922 closed

[2016-06-25 17:34] surjit opened #11923 "build failed on php7"
[code]

[2016-06-25 17:54] Jurigag commented on #11923
How you compile it ? You need to use zephir build and have php7-dev

[2016-06-25 18:18] surjit commented on #11923
here steps, I have followed,
1) downloaded php7 stable source and copied cphalcon /ext files to php_source/ext/phalcon
2) run ./buildconf --force
3) ./configure --enable-phalcon && make

I used same steps for php5 and it works fine, phalcon compiled as static

[2016-06-25 18:18] Jurigag commented on #11923
Then you need to use zephir.

[2016-06-25 18:19] surjit commented on #11923
how ? please post steps

[2016-06-25 18:21] Jurigag commented on #11923
1. clone this repo https://github.com/phalcon/zephir
2. ./install -c in it
3. go to phalcon repo
4. zephir fullclean
5. zephir build

[2016-06-25 18:21] surjit commented on #11923
so, I just need to regenerate c ext files and then copy it right ?

[2016-06-25 18:23] Jurigag commented on #11923
No, i wrote steps.

[2016-06-26 12:53] sergeyklay commented on #2573
Fixed in the `2.1.x` branch.

[2016-06-26 12:53] #2573 closed

[2016-06-26 15:50] dschissler opened #11926 "[3.0.x] Remove $di being passed in as second parameter into Volt service"
Phalcon 2.1 is binding the service functions to the dependency injector and so the second parameter being passed into the Volt definition is unnecessary.

This would turn the following:

[code]

into this:

[code]

This would add consistency to the services but would have the downside of breaking existing service definitions.

[2016-06-26 15:58] sergeyklay commented on #11926
It seems to me this is mainly [phalcon/docs](https://github.com/phalcon/docs) issue

[2016-06-27 10:59] sergeyklay commented on #11215
Fixed in the `2.1.x` branch.

[2016-06-27 11:04] #11215 closed

[2016-06-27 11:09] dellert opened #11928 "beforeDispatch fires many times"
Hi, why beforeDispatch fires many times? So for example on **SecurityPlugin** method **beforeDispatch** I have save lines

[code]

I get same result

![27-06-2016 14-07-06](https://cloud.githubusercontent.com/assets/5858057/16377731/7db6c4ae-3c70-11e6-8018-46d2d8674b97.png)

[2016-06-27 11:16] mzf commented on #11215
Cool! Thanks a lot!

[2016-06-27 11:21] dellert commented on #11928
it fires when I use forward

[code]

if comment forward, works fine

[2016-06-27 11:28] sergeyklay commented on #11928
Could you please provide full `beforeDispatch` and example of how you use it

[2016-06-27 11:31] dellert commented on #11928
ok, that's code

[code]

I write restapi server, it fires, when I try send request with curl. If **beforeDispatch** returns **true**, all works good

[2016-06-27 12:36] Jurigag commented on #11928
For me it looks like you are forwarding over and over.

[2016-06-27 12:38] dellert commented on #11928
yes, I think so. But i haven't any idea how to fix it

[2016-06-27 12:42] Jurigag commented on #11928
With xdebug i guess you would easy find why this is happening.

[2016-06-27 13:38] dellert commented on #11928
![27-06-2016 16-36-25](https://cloud.githubusercontent.com/assets/5858057/16381476/7ca7ef74-3c85-11e6-8a55-d491406d30ae.png)

and that is many many times...

[2016-06-27 13:48] Jurigag commented on #11928
I meant to check how this code is done, like if elses etc

[code]

for 99% you have forward over and over done here. there is never return false return here.

[2016-06-27 13:52] dellert commented on #11928
if I set only this code,
the same thing happens. fires many times

[code]

[2016-06-27 13:55] Jurigag commented on #11928
Yea, beacause you are forwarind over and over. There is never return false returned. Currently you have:

-beforeDispatch
-forward in it
-beforeDispatch
-forward in it
-beforeDispatch

You should add some check to check if your current action or params isn't already one which you have in forward - if yes, then don't forward.

[2016-06-27 13:59] sszdh commented on #11928
@dellert Use some `break points` in your dispatch loop flow to find JUMP points!

[2016-06-27 14:14] Jurigag commented on #11928
Just check code here:

https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/dispatcher.zep#L390
If you have beforeDispatch with code above then this is executed:
https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/dispatcher.zep#L412
And while is continued:
https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/dispatcher.zep#L418

And it's like over and over. Your current code is just forwar

[2016-06-27 14:18] dellert commented on #11928
solved

[code]

Very big thanks for all

[2016-06-27 14:18] #11928 closed

[2016-06-27 14:58] nsossonko commented on #11201
This is actually a major bug, the foreign key check should ONLY be done if the relation is changed in some way. All the details about the relationship are available to Phalcon, so Phalcon can easily determine if there was a relationship change attempted...the way this is now is a huge perf concern for models with multiple relationships...

[2016-06-27 15:33] sergeyklay commented on #11201
@nsossonko Send PR with fixes

[2016-06-27 15:45] sergeyklay commented on #10405
Fixed in the `2.1.x` branch.

[2016-06-27 15:45] #10405 closed

[2016-06-27 19:24] sergeyklay commented on #3302
[code]

[code]

[2016-06-27 19:24] #3302 closed

[2016-06-28 07:19] IVIR3zaM commented on #11884
long time no see!

[2016-06-28 09:28] AarioAi opened #11930 "PHP7.0.7 Command Line App causes Memory Leak"
When I use the tutorial code https://docs.phalconphp.com/en/latest/reference/cli.html
it causes PHP7 memory leak error.

`
sh$ php index.php main main                                                                          [0/480]

This is the default task and the default action
[Tue Jun 28 17:24:42 2016]  Script:  '/aario_service/cli/index.php'
/usr/local/src/php-7.0.7/Zend/zend_string.h(121) :

[2016-06-28 09:54] #11930 closed

[2016-06-28 14:34] Jurigag commented on #11926
We just need to implemt both behaviours and that's it.

[2016-06-28 15:27] dschissler commented on #11926
Both behaviours are already implemented.  This issue is about removing one of them.  I don't want to close this issue because I think that it should be this way but since its just a matter of opinion then somebody else can close it.

[2016-06-28 16:21] sergeyklay commented on #11926
Could you please explain guys what kind of **problem** you are discussing

[2016-06-28 17:08] dschissler commented on #11926
I am not having a problem in the sense that I can't get it to do something or that there is regression.  Since I've been using the unreleased 2.1.x branch I have been taking advance of new features and capabilities.  One of those advancements is not needing to setup services in ways like `function() use ($di)` since with Phalcon 2.1 the service function is bound to the DI that it is being attached

[2016-06-28 19:02] Jurigag commented on #11926
For me old syntax shouldn't be removed on version 2.x. We could do it on 3.x for me.

[2016-06-28 19:36] dschissler commented on #11926
I don't think that there is a way to deprecate it in this case because it is an extra argument being sent in.

Ok so version 3 is super far away.  Should this just be closed?

Also since Phalcon is not semver now we could just remove this in version 2.2 or 3.0.  It would be very easy to document in a blog whats new post and quickly people would use the new way which is compatible with 2.1.

[2016-06-28 19:38] #11923 closed

[2016-06-28 19:41] Jurigag commented on #11926
Where there is - we just need to use reflection, but should we ? Just if function accept two arguments - trigger deprecated and inform in which version it will be removed. We could in 2.2 maybe beacause we don't follow semver. But i think we always should inform about something before remove it, not everyone will check changelog, github or blog. Some of people will just install and that's it. At l

[2016-06-28 19:45] Jurigag opened #11934 "APCu classes"
In php7 in apcu there is no `apc_*` methods emulation. Phalcon has classes using only `apc_*`, not apcu. On some point if php 7 support in 2.1.x or later versions like 2.2.x or something will be better/stable we should add classes using APCu, so people don't need to install apcu_bc(which adds polyfill for apc_\* methods on php7).

[2016-06-28 19:49] dschissler commented on #11926
Ok then

[2016-06-29 10:11] dellert commented on #11464
@fenixphp

not work for me. Code:

[code]

I have same error: **Phalcon\Validation::add() must implement interface Phalcon\Validation\ValidatorInterface, instance of Phalcon\Mvc\Model\Validator\PresenceOf given**

[2016-06-29 10:13] Jurigag commented on #11464
You need to use `Phalcon\Validation\Validator\PresenceOf`, not `Phalcon\Mvc\Model\Validator\PresenceOf`

[2016-06-29 10:13] dellert commented on #11464
Thanks)

[2016-06-29 16:27] ndabAP commented on #899
+1

[2016-06-29 18:48] PolDeveloper commented on #11337
Hello there!
I have similar problem with not closing MySQL connections.
I have wrote a test class like above:
`<?php

class MySQL extends \Phalcon\Db\Adapter\Pdo\Mysql {

/**
 * Creates the Adapter
 */
public function __construct(array $descriptor)
{
    error_log("MySQL::__construct()", 3, "xxxx/public/logs/error-log.log");
    parent::__construct($descriptor);
}

/**
 * Connect
 */
public functi

[2016-06-29 22:34] dschissler commented on #11205
I'm getting `Column 'uuid' doesn't make part of the column map`.

[2016-06-30 03:08] diwuwudi123 commented on #10821
:id

[2016-06-30 08:41] bain2018 opened #11939 "redis cache backend don't support the redis replication and redis sentinel model"
redis cache backend don't support the redis replication and redis sentinel model
if i have one master and two slave redis server,how can i use them?create 3 redis service di?
but if the redis sentinel change the redis master server,how deal with it?

[2016-07-01 08:48] Mechzeit opened #11940 "[NFW] getter for definitions from Phalcon\Mvc\Micro\LazyLoader"
Currently when using a Micro application, you have no way of getting which controller is going to be executed with the action matched from the application handle() call - BEFORE execution.

eg. Event micro:beforeExecuteRoute the only way that I am aware of (due to no dispatcher) to get the current lined up controller & action to be executed is via 'getActiveHandler()' against the applicable, which

[2016-07-01 09:35] vantienvnn commented on #10233
Thank you, now it work already

[2016-07-01 09:35] #10233 closed

[2016-07-01 11:00] apoq commented on #11464
What should I do in 2.0.10?

in my model I have:

[code]

I get following error:
**PHP message: PHP Catchable fatal error:  Argument 1 passed to Phalcon\Mvc\Model::validate() must implement interface Phalcon\Mvc\Model\ValidatorInterface, instance of Phalcon\Validation given in /var/www/oauth/app/models/User.php**

[2016-07-01 11:05] Jurigag commented on #11464
On 2.0.10 use just old validation from docs.

[2016-07-01 13:03] tugrul opened #11941 "[BUG] \Phalcon\Session\Flash::getMessages();"
## Test
[code]
## Expected Result
[code]
## Actual Result
[code]

[2016-07-01 17:43] stamster commented on #11940
So, basically you want to get definitions from Micro handler which uses Lazy loader?
I'll have to check out my project since I'm pretty much I did some crazy stuff at runtime to inject properties etc.

[2016-07-02 10:42] dschissler opened #11943 "Phalcon Debug interferes with offline development due to external resources"
I develop in offline mode quite a lot and Phalcon debug hangs the browser because it is looking for resources that aren't accessible.  I'm looking for possible solutions to allow it to always work.  Perhaps there could be an option to always direct it to an arbitrary url base path.

[2016-07-02 13:12] fenixphp commented on #925
+1

[2016-07-03 00:28] stamster commented on #11943
Phalcon debug? What exactly do you use?
Class Phalcon\Debug?

[2016-07-03 00:29] stamster commented on #11941
This issue is present only in 2.1.x branch?

[2016-07-03 07:07] andrew-demb commented on #11852
Hi. I think the problem in this line https://github.com/phalcon/cphalcon/blob/phalcon-v2.0.10/phalcon/paginator/adapter/querybuilder.zep#L168 when `group` is not an array.
There is the same issue: #11390.
I recommend you update phalcon to the newest version (2.0.11+)

[2016-07-03 09:05] sergeyklay commented on #11852
Latest stable version is 2.0.13

[2016-07-03 10:04] andrew-demb commented on #11579
+1

[2016-07-03 10:16] andrew-demb commented on #10676
I'm sorry for up closed issue, but I have a question.
Why in \Phalcon\Mvc\Model\Criteria::inWhere() (https://github.com/phalcon/cphalcon/blob/cf3c1fe62184d36d24c543c0b4f9993ea8f2445b/phalcon/mvc/model/criteria.zep#L448) we don't check for empty array values and modify condition like the \Phalcon\Mvc\Model\Query\Builder::inWhere() (https://github.com/phalcon/cphalcon/blob/cf3c1fe62184d36d24c543c0b4

[2016-07-03 10:22] sergeyklay commented on #11941
Fixed in the `2.1.x` branch.

[2016-07-03 10:22] #11941 closed

[2016-07-03 10:24] sergeyklay commented on #10676
@andrew-demb Could you please create separated issue with script to reproduce

[2016-07-03 10:33] andrew-demb opened #11947 "[NFR] Check for empty array in \Phalcon\Mvc\Model\Criteria::inWhere()"
It would be nice if we check array `values` and modify the condition in `\Phalcon\Mvc\Model\Criteria::inWhere()` method like implementation in `\Phalcon\Mvc\Model\Query\Builder::inWhere()`.
It's for 2.0.x versions and other (1.3.x, 2.1.x, etc).

This problem was raised in issue #10676.

Next script now throw exception `Phalcon\Mvc\Model\Exception: Syntax error, unexpected EOF`:
[code]

[2016-07-03 10:38] andrew-demb commented on #11637
+1

[2016-07-03 10:59] andrew-demb commented on #2052
+1

[2016-07-04 01:46] yeoman-chen opened #11952 "[2.1.0r]Model::validate() must implement interface Phalcon\ValidationInterface, instance of Phalcon\Mvc\Model\Validator\Email"
[code]
PHP Catchable fatal error:  Argument 1 passed to Phalcon\Mvc\Model::validate() must implement interface Phalcon\ValidationInterface, instance of Phalcon\Mvc\Model\Validator\Email

[2016-07-04 05:13] #11940 closed

[2016-07-04 08:32] Jurigag commented on #11952
In phalcon 2.1 there is new model validation:

https://blog.phalconphp.com/post/phalcon-2-1-beta-released

[2016-07-04 08:33] Izopi4a commented on #11901
i think this is because mysql errors are not displayed in php 7, at least for me. When i do this ( there is syntax error inside ) i get 500 Internal server error

[code]

[2016-07-04 09:21] sheaujye commented on #2373
Bump into this issue, any plan to have it fixed? it's been 2 years.

[2016-07-04 09:31] serus22 opened #11953 "fix install script"
please edit install script who is creating symlink to ...../mods-available/phalcon.ini > ......20-phalcon.ini
to 50-phalcon.ini (for example, i think it could be 30+)

there is problem with loading mysql_pdo module - phalcon must be loaded after it

(its not real problem but its really annoying)
thanks

[2016-07-04 09:39] Jurigag commented on #11901
I think this can be related to https://github.com/phalcon/cphalcon/issues/11919 somehow.

[2016-07-04 11:06] #11952 closed

[2016-07-04 13:56] stamster commented on #11953
I never had such issue with 10+ installations from scratch / production.

[2016-07-04 17:39] dred86 commented on #11863
https://github.com/phalcon/cphalcon/pull/11954

[2016-07-05 10:57] BeetLab opened #11955 "Cannot build falcon on Ubuntu 12"
./install
find . -name \*.gcno -o -name \*.gcda | xargs rm -f
find . -name \*.lo -o -name \*.o | xargs rm -f
find . -name \*.la -o -name \*.a | xargs rm -f
find . -name \*.so | xargs rm -f
find . -name .libs -a -type d|xargs rm -rf
rm -f libphp.la   modules/* libs/*
Cleaning..
Configuring for:
PHP Api Version:         20090626
Zend Module Api No:      20090626
Zend Extension Api No:   220090626
ch

[2016-07-05 11:00] Jurigag commented on #11955
[code]

Phalcon no longer support php 5.3

[2016-07-05 11:05] BeetLab commented on #11955
But we've got 5.6:

php -v
PHP 5.6.23-2+deb.sury.org~precise+1 (cli)
Copyright (c) 1997-2016 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2016 Zend Technologies
    with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2016, by Zend Technologies

[2016-07-05 11:06] Jurigag commented on #11955
But whay `phpize -v` returns ?

[2016-07-05 11:14] Jurigag commented on #11953
I don't know why this is happening, maybe it's somehow system related ? Be default 20-pdo_mysql should be loaded BEFORE 20-phalcon beacause d is earlier than h, but on some systems it looks otherwise.

[2016-07-05 11:18] stamster commented on #11953
Yeah, Alphabet will take care of it, UNLESS locale setting interferes with
it in one way or another. Generally numbers are always better than alphabet
for sorting.

2016-07-05 13:14 GMT+02:00 Wojciech Ślawski <notifications@github.com>:

--
I told the angels they could sing their songs to someone new.

[2016-07-05 11:19] Jurigag commented on #11953
Yea, just better to change it 30 or 50 or something.

[2016-07-05 11:41] BeetLab commented on #11955
well it return older api*( fuck it - installed 5.4 php and all works fine

[2016-07-05 11:41] #11955 closed

[2016-07-05 11:42] Jurigag commented on #11955
? You can work on php 5.6 you just need to update php5-dev package using this command:

[code]

[2016-07-05 15:03] lucasantarella opened #11956 "PHP 5.3 support"
Hi everyone. I saw that it was listed on the main Phalcon site for installing the extension that PHP 5.3 was supported for compiling and installing the extension for version 2.0.x but here it says that PHP 5.4 is required. If PHP 5.3 is indeed supported, I cannot build the extension on PHP 5.3. It throws some Zend functions not found when compiling.

[2016-07-05 15:06] Jurigag commented on #11956
Not sure, perhaps zephir is needed for regenrate c source for php 5.3 ?

[2016-07-05 15:12] andresgutierrez commented on #11956
php 5.3.20 or greater should work with Phalcon 2.0.x, any version lesser than 5.3.20 is not supported by 2.0.x

[2016-07-05 15:43] lucasantarella commented on #11956
I'm running PHP 5.3.29. Really, I'm trying to run PHPUnit tests in Travis CI and I can't get PHP 5.3 to build in Travis, but PHP 5.4, 5.5, and 5.6 all run fine. Any suggestions?

[2016-07-05 20:00] serus22 commented on #11953
i have the same issue on debian wheezy and ubuntu 14lts (64 and 32b) and Ub. 16lts

[2016-07-06 05:28] rahuldroy commented on #2294
@andresgutierrez / @sergeyklay,

Are we going to do some changes for this based on previous comments?

[2016-07-06 05:43] sergeyklay commented on #2294
I'll try to sort out

[2016-07-06 08:53] ITdashu opened #11957 "Phalcon Cms"
http://git.oschina.net/itdashu/Tolowan

[2016-07-06 09:35] sergeyklay commented on #11957
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2016-07-06 09:36] #11957 closed

[2016-07-06 14:01] rahuldroy commented on #2294
@sergeyklay, let me know if I can help in any way

[2016-07-06 14:03] Jurigag commented on #11919
To be honest for me this is huge bug, beacause in all my apps i use pretty much everywhere conditions + limit + bind.

[2016-07-06 14:42] javierfrancia opened #11958 "getRawBody different after instantiate new Request twice"
Hi,

I believe this could be related to the issue:
https://github.com/phalcon/cphalcon/issues/10694

Class Phalcon\Http\Reques

When I am instantiating twice new Request the second time the method getRawBody() returns empty value in a PUT Request.
E.G:

$request = new Request();
$data = $request->getRawBody();
syslog(LOG_INFO,' DATA 1: '.var_export($data,true));

$request = new Request();
$data =

[2016-07-06 18:14] sergeyklay commented on #11958
@javierfrancia Could you please check 2.0.13?

[2016-07-07 08:34] stamster commented on #11956
I would strongly advise you to avoid PHP 5.3. It is much slower then current versions (not even comparing PHP 7).
It does not have OPcache at first place, and personally just writing `array` syntax is pain in the ass when I'm used to `[]` in PHP 5.4+.

[2016-07-07 08:39] stamster commented on #11958
Why would you instantiate Request at first place? You can use the one from memory (IoC services.php -> DI). Then, what is the point of instantiating it two times in a row, during same app runtime?

HTTP is stateless protocol, i.e. every new request from a client is literally - new request.

I guess that second time you interact with Request object, it will be a fresh instance (that's why we use sh

[2016-07-07 08:41] stamster commented on #11953
How is that possible? I'm also using Ubuntu 14.04 LTS as well on a production, and never had such issue with PDO.
It must be something with a way how you built your stack before Phalcon. Did you compile PHP manually i.e. not used default repository?

[2016-07-07 08:52] rosasurfer opened #11959 "Phalcon\Acl\Resource not implementing Phalcon\Acl\ResourceInterface"
While the methods defined by the interface are in place the interface itself is not implemented. This causes an error if a Resource instance is explicitely tested against the interface:

[code]

Phalcon version 2.0.13
Please correct me if I'm wrong.

[2016-07-07 09:01] Jurigag commented on #11959
Well you are right - https://github.com/phalcon/cphalcon/blob/master/phalcon/acl/resource.zep#L29

[2016-07-07 10:18] hakimio commented on #1867
The issue is still present in 2.0.10. DusanBrejka posted a detailed explanation for the issue with code example. There shouldn't be any problem reproducing it.

[2016-07-07 10:26] javierfrancia commented on #11958
Thanks for your comment @stamster. I totally agree with that. It is weird that when you do a new Request() yo are able to get the details of a request.

I am quite amateur with Phalcon but following the documentation: https://docs.phalconphp.com/en/latest/reference/request.html.  In order to get the details of the request you instantiate it.

It looks like it is an intended behaviour of this Objec

[2016-07-07 10:57] stamster commented on #11958
Yes, but that example is if you only use Request as a stand-alone component.
In full MVC app (or in Micro app too) you have a benefit of each component being registered in IoC container (usually services.php) during bootstrap of the application.
So you just access Request component as:
`if ($this->request->getClientAddress() === '212.216.129.50') //do something`

[2016-07-07 11:03] sergeyklay commented on #1867
@hakimio Could you please open new issue with script to reproduce?

[2016-07-07 12:59] lucasantarella commented on #11956
@stamster That's not really an option in this case. I'm with you, I like the new `[]` syntax and PHP 5.4 is a much needed improvement. But this library that I am working on is said support all PHP versions and I need to demonstrate that it is compatible with PHP 5.3. The only way to do this is to get phalcon to build in Travis CI for PHP 5.3 and run all PHPUnit tests. Without that, I cannot demons

[2016-07-07 13:51] stamster commented on #11956
I just tested on one of my still in production PHP 5.3.14.
I couldn't compile latest Phalcon v2.0.13.
But I did managed to use PPA.

[code]

It did installed 2.0.9. though, since this instance is 32bit... xD

So in short - you can get Phalcon to work even on PHP 5.3.14.

[code]

[2016-07-07 14:55] cq-z opened #11960 "2.1.x install in php7 error"
error info
` Cannot find config.m4. Make sure that you run /usr/local/bin/phpize in the top level sourc`

[2016-07-07 15:09] andresgutierrez commented on #11960
You need Zephir to install Phalcon+php7:

[code]

https://blog.phalconphp.com/post/phalcon-2-0-13-released

[2016-07-07 15:09] #11960 closed

[2016-07-07 15:26] javierfrancia commented on #11958
Thanks @stamster  for the explanation.

[2016-07-08 08:06] ucando opened #11961 "[2.1.x]Can't build with php5.6"
when I run build/install, it cause fatal error: ext/standard/php_smart_string.h: No such file or directory.

[2016-07-08 09:05] Jurigag commented on #11961
It's really weird. Can you try to build it using zephir ? Just install zephir and then:

[code]

Also you sure you have `php5-dev` ? I just don't know why it looks for php_smart_string.h in php 5.6 build. It's file from php 7, in php 5 it's called php_smart_str.h ? @andresgutierrez

[2016-07-08 09:24] ucando commented on #11961
I have another old source, last commit id is dacf42c0d45ebb3b9bf6832d14c74cf207426698, this can build success.
I think there are some codes about php7 support has problem.

[2016-07-08 10:33] surjit opened #11962 "static build not working"
I'm trying to build phalcon statically with 5.6.23  by using ./buildconf --force
the same way  working with 5.6.19 but not working for 5.6.23

so, it's not showing --enable-phalcon option for 5.6.23

[2016-07-08 14:25] dschissler commented on #11943
I'm using `Phalcon\Debug`.  It wants to link:

* `//static.phalconphp.com/www/debug/2.0.0/jquery/jquery-ui.css`
* `//static.phalconphp.com/www/debug/2.0.0/themes/default/style.css`

I'm thinking that this could be fixed by allowing the debug service options to be set and to initiate it as a service.  For example:

[code]

On my platform the debug component is only started if the environment is `DE

[2016-07-08 14:30] dschissler commented on #11943
At least we really should consider upgrading these hard coded library versions before releasing 2.1.

[2016-07-08 15:03] #11962 closed

[2016-07-09 23:38] raghavgarg1257 opened #11963 "Cannot fetch all the result as an object when using raw sql."
There are three function available to us "fetch()->returns a single row as an object", "fetchArray()->return a single row as an array" and "fetchAll()->returns a whole result as an array", but there is no function available to fetch whole result as an object.

[2016-07-10 09:01] Jurigag commented on #11963
Well not sure, but isn't is beacause you should phalcon `Row/Resultset` classes ?

[2016-07-10 12:29] ucando commented on #11961
I try to compile with zephir, it works.

[2016-07-10 12:49] Jurigag commented on #11601
Anyone maybe tested it on latest branch ?

[2016-07-11 01:33] cq-z commented on #11960
OK,thank you!

[2016-07-11 05:46] aptxx opened #11966 "Micro app's collection without route '/'"
I'm using Phalcon\Mvc\Micro, Phalcon\Mvc\Micro\Collection

Code look like this:

[code]

So i visit uri(/test/report), it's ok on windows with php(5.5.12) and phalcon(2.0.10), as well as godday's server(php=5.5.x, phalcon=2.0.10).
But when i use a VPS, I compile php(5.6.32) and phalcon(2.0.10) by myself, It's not work.
I add a route '/' and it work again, why?
[code]

[2016-07-11 08:42] raghavgarg1257 commented on #11963
I guess Phalcon\Mvc\Model\Resultset class only works with models whereas I want to use raw sql with Phalcon\Db\Adapter\Pdo::query() and get the result as an object.

[2016-07-11 08:44] Jurigag commented on #11963
You can create Resultset object yourself. What you mean fetch all result as an object ? As stdClass or what ? If you want to map it to your model you can use resultset i think.

[2016-07-11 08:48] stamster commented on #11966
How did you set your Router?

Are you using https://docs.phalconphp.com/en/latest/reference/routing.html#dealing-with-extra-trailing-slashes

[code]

[2016-07-11 08:49] Jurigag commented on #11966
Maybe it's about nginx/apache configuration ?

[2016-07-11 08:50] stamster commented on #11963
You need to set your PDO parameters if you need `fetch` to return an object. This is PDO stuff, not Phalcon.

[2016-07-11 08:55] Jurigag commented on #11963
Also i don't know where you have this fetchArray method in which class. If you are using `Phalcon\Db\Adapter\Pdo\Mysql` then second parameter in `fetchAll/fetchOne` is fetch mode. Just put in as second parameters `Phalcon\Db::FETCH_OBJ` or something like this.

[2016-07-11 09:43] aptxx commented on #11966
@stamster
I used Collection in Micro application,  not Router ;)
Can i used router in micro?

@Jurigag
I used [office nginx configure](https://docs.phalconphp.com/en/latest/reference/nginx.html) below
And I only changed server_name and root, php-fpm was running at port 9000.
You give me a hint, I'm trying to test it
[code]

[2016-07-11 09:46] Jurigag commented on #11966
I have configuration like this:

[code]

Never had any problem.

[2016-07-11 10:12] aptxx commented on #11966
@Jurigag
It doesn't work for me, :-(

[code]

[2016-07-11 10:13] Jurigag commented on #11966
Then i don't know, never had a problem like yours.

[2016-07-11 10:16] aptxx commented on #11966
@Jurigag
Still thanks a lot ;)
Maybe it's just a stupid mistake in my config file

[2016-07-11 10:45] raghavgarg1257 commented on #11963
I want a mapped Object to one of my model if not possible then stdClass object would also be fine, I am not really sure how to use Resultset can you please show some example.?

I have tried `setFetchMode(\Phalcon\Db::FETCH_OBJ)` with `Phalcon\Db\Result\PDO::fetchAll()` but it anyways gives me an array, also tried giving `Phalcon\Db::FETCH_OBJ` as a parameter but got array. Only `Phalcon\Db\Result\

[2016-07-11 10:48] Jurigag commented on #11963
How about using ? https://docs.phalconphp.com/pl/latest/api/Phalcon_Db_Adapter_Pdo_Mysql.html Don't know what's the real difference between those classes.

[2016-07-11 12:28] stamster commented on #11966
@aptxx Yes, there is Router in Micro app. It's there by FactoryDefault DI.

Try this, this is excerpt from my Micro API:

[code]

[2016-07-11 12:31] stamster commented on #11963
@raghavgarg1257 just use ` Phalcon\Db\Adapter\Pdo\Mysql`, i.e. native PDO.

[2016-07-11 12:32] Jurigag commented on #11963
Also you have it in `$di` so no need to create new object.

[2016-07-12 05:09] Mont4 opened #11968 "[NFR] Form input array invalidate"
Hi. Form validation does not work successfully in the array input.

[code]

[2016-07-12 06:22] Jurigag commented on #11968
Beacause there is no such an ability as far as i know. This is actuallly NFR.

[2016-07-12 06:32] aptxx commented on #11966
@stamster
Thanks,
I'll try it later and give the feedback

[2016-07-12 09:51] cirot87 commented on #11968
Hi, if you use an Hidden object of the form you can get the value after an is_valid or bind function
$hidden = new Hidden("title");

You need to render this in your view.

But you can't use a  validation or filter when you call a bind or is_valid becouse this function are valid only for a single associative array as $title = new Text("title")

[2016-07-13 15:15] CrNix opened #11972 "[Enhancment] Get related belongsTo record with via NULLABLE column"
Hi,

In one of my projects I setup ORM logging and noticed that when I have a belongs to relationship... For example let's have these 2 tables:

[code]

... and the belongs to is on the model for the _part_ table:

[code]

If _robot_id_ column is nullable, fetching the related record (either through attribute or getRelated method) my orm log shows SELECT query to the _part_ table with _id = NULL_

[2016-07-13 19:58] sergeyklay commented on #11863
Fixed in the `2.1.x` branch.

[2016-07-13 19:58] #11863 closed

[2016-07-13 20:16] edward1985 commented on #10453
This still not be fixed.

[2016-07-13 20:24] Jurigag commented on #10453
https://github.com/phalcon/cphalcon/issues/10505 there is issue and it's closed beacause it's fixed. Can you share what exactly query what are you doing and what phalcon version you have ?

[2016-07-13 20:27] edward1985 commented on #10453
select * from  ( select ur.jiebie_id from ulogin as ul
                    left join user_role as ur on ur.user_id=ul.user_id
                    where ul.user_name=:query_user: and ur.permission_id in ('a','w') ) as tt;

I don't know how to see the version. Yet , it is the latest one, maybe some sort of 2.1.*

[2016-07-13 20:28] Jurigag commented on #10453
So - those kind of selects are just not supported in phql. I think there is somwhere NFR for this.

[2016-07-13 20:41] edward1985 commented on #10453
NFR?
If so, I think we can use raw query.

Thanks

[2016-07-13 20:42] Jurigag commented on #10453
New feature request.

[2016-07-13 20:51] edward1985 commented on #10453
Thanks

[2016-07-14 04:48] CrNix commented on #11972
It could be fixed with a check for null value before calling the modelsManager in the model. The only problem I can think of is how to properly check for composite keys...

[2016-07-14 04:59] guweigang opened #11973 "[2.0.13] "Phalcon\Mvc\Model\Resultset\Simple" can not be iterated after "setHydrateMode()""
If I use mode `HYDRATE_ARRAYS` ...
[code]
... I will get errors like:

If i use mode `HYDRATE_OBJECTS` ...

[code]
... I will get errors like:

 Warning: Phalcon\Mvc\Model::cloneResultMapHydrate(): Property should be string in /Users/guweigang/github/bullsoft/fmyuedu/backend/app/services/BookService.php on line 52

But there is nothing wrong with mode `HYDRATE_RECORDS`.

Is this a bug?

[2016-07-14 06:09] sergeyklay commented on #11973
[code]

[2016-07-14 13:42] deulos commented on #11828
I confirm this is still happenning in Phalcon 2.0.13

Here is my table:
[code]

Here the controller action:
[code]

And my model:
[code]

Running the update the response is:

What results weird to me is that the alias field is also unique but has no problem.

[2016-07-14 13:47] Jurigag commented on #11828
I don't know, maybe there is just such an email ?

[2016-07-14 13:59] deulos commented on #11828
This is the request I use to test it:
[code]
So the model is receiving the 3 fields but none of them really differs from database values.

By the way thanks for the tip of getJsonRawBody parameter!

[2016-07-14 14:01] Jurigag commented on #11828
And what exactly $data returns ?

[2016-07-14 14:13] deulos commented on #11828
Fool me, I was updating the user 2 instead of the 1, so the the complain about the email was right because was being used by user 1.

Just fixed it and works great now, so the bug is solved in 2.0.13

I'm sorry about the mistake, I should start using other testing data more identifiable ;P

[2016-07-15 08:23] cirot87 opened #11978 "Form->clear() doesn't reset element's value when using Form->isValid()"
Hi,  i have a login form with email and password elements. I need to clear the password value when validation fails.
In my /Phalcon/Forms/Form i have this:
[code]

in my view i have a simple render for both, and after the post i check the value with the isValid() function.
The problem is that when i have a validation error the password won't reset.

I try this for debugging:
[code]

but none of th

[2016-07-15 09:14] aptxx commented on #11966
Hi guys,
I have logined in the VPS today and url(_http://domain/test/report_) can be visited unexpectedly.
I'm sure I'm the only one can upload php code. Still don't know what happend.
Thanks

[2016-07-15 09:14] #11966 closed

[2016-07-15 09:15] Jurigag commented on #11966
So it fixed itself ? XD

[2016-07-15 09:20] aptxx commented on #11966
@Jurigag
HAHAHA, Maybe Yes ?
I haven't changed php's version  and phalcon's version, even run yum update etc..

nginx server config
[code]

[2016-07-15 10:06] JSONValidator opened #11979 "C compiler cannot create executables"
Hello, please tell me what is wrong?

[code]

config.log
[code]

[2016-07-15 10:08] JSONValidator commented on #11979
[code]

[2016-07-15 10:47] JSONValidator commented on #11979
[code]
with this install everything is fine

[2016-07-15 10:47] #11979 closed

[2016-07-15 13:39] stamster commented on #11966
That's gremlins. :)

[2016-07-16 09:51] mzf commented on #10398
+1
If column named as `value` then `Form\Element` throw `Wrong number of parameters` when call `render`

[2016-07-16 10:55] sergeyklay commented on #10398
I'll try to sort out

[2016-07-17 08:46] guweigang commented on #11973
@sergeyklay what do you mean?

[2016-07-17 09:04] sergeyklay commented on #11973
Files and line where `setHydrateMode` used (I mean tests). Have you seen this?

[2016-07-17 11:01] sergeyklay commented on #10398
Fixed in the `2.1.x` branch.

[2016-07-17 11:01] #10398 closed

[2016-07-18 13:11] Mo121Montazeri commented on #11968
Please add this feature as soon as possible
it's very important for me
Thanks a lot

[2016-07-18 14:58] sergeyklay commented on #11726
Fixed in the `2.1.x` branch.

[2016-07-18 14:58] #11726 closed

[2016-07-18 23:09] dred86 commented on #1253
+1 verbatim

[2016-07-19 09:06] CrNix opened #11987 "[ModelManager] Merging find parameters"
Hi,

when using getRelated() method in a model with non-trivial find paramaters, for example while using OR in a condition, it behaves strangely and bad query is generated for me.

I think is an error on these lines:
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/manager.zep#L1130
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/manager.zep#L1151

and I think th

[2016-07-19 10:19] Jurigag commented on #11987
You can create PR with fix for it if you need it now.

[2016-07-19 10:27] Jurigag opened #11988 "[NFR]Bind parameter for Phalcon\Paginator\Adapter\QueryBuilder"
Sometimes in query builder we want to pass parameters directly to execute method(not where), for example having placeholders in orderBy or somewhere else. Right now it's not possible with `Phalcon\Paginator\Adapter\QueryBuilder`. There should be added `bind` parameter to `Phalcon\Paginator\Adapter\QueryBuilder`.

More about this here: https://forum.phalconphp.com/discussion/12117/bind-in-query-bui

[2016-07-19 11:55] CrNix commented on #11961
I have the same issue. I am also able to build using Zephir. But after downloading latest repo, compiling the C source is not working with an error referencing php_smart_string.h file.

(using Linux Mint distro)

How do you run the Phalcon tests? I navigated into build/php5/64bit and run make test but it ended up with error as well.

Thank you

[2016-07-19 11:56] Jurigag commented on #11961
Did you typed zephir fullclean before ?

[2016-07-19 12:01] CrNix commented on #11961
Fullclean? Here is my full list of commands:
[code]
Here comes bunch of compile messages, warnings that  some mcrypt functions are not available at compile time...
After the message "Restarting Apache" comes the Segmentation fault error.
But not a big deal, Phalcon module is installed correctly and works OK in CLI mode.
[code]
And this fails...
If you can give a hint what to do to run the tests, I

[2016-07-19 12:08] Jurigag commented on #11961
There are commands for running tests:

https://github.com/phalcon/cphalcon/blob/2.1.x/.travis.yml#L79

[2016-07-19 12:08] Mont4 opened #11989 "[NFR] Request::only (Get a subset of the items from the input data)"
Hi,

please add this feature to Request
Get a subset of the items from the input data.

[code]

[2016-07-19 12:11] Jurigag commented on #11989
I think just methods like getPost() getQuery() etc could be change to accept arrays.

[2016-07-19 12:27] CrNix commented on #11961
Thank you for your help. Unfortunately I do not have much experience with Travis CI. But now it seems the tests are working.

[2016-07-19 12:28] Jurigag commented on #11961
You don't need to use travis ci. Just run those commands are in this file.

[2016-07-19 12:50] CrNix commented on #11987
OK, so here is the PR for review https://github.com/phalcon/cphalcon/pull/11990

[2016-07-19 12:54] dimak08 opened #11991 "Fatal error reusing of 'reusable' model."
Then I try to use 'reusable' model I get fatal error:
**Catchable fatal error: Object of class App\User could not be converted to string in /home/new/app/IndexController.php on line 12**

**Source code**:
_index.php_:
[code]

_Log.php_:

[code]

_User.php_:
[code]

_IndexController.php_:
[code]
Result:
![image](https://cloud.githubusercontent.com/assets/5196470/16950329/615935ee-4dc8-11e6-878c-74b

[2016-07-19 13:05] kcloze opened #11992 "centos 6.5 core dump"
PHP with phalcon extesion is ok, but when run the demo , nginx return 502 and get system message
below. I think it's a fatal error.
so I try it in cli env, it's the same fatal error.
[code]
system info：
Linux 10-13-14-134 2.6.32-431.11.9.el6.ucloud.x86_64 #1 SMP Sun Mar 29 14:05:42 CST 2015 x86_64 x86_64 x86_64 GNU/Linux
centos 6.5
PHP 5.6.23 (cli) (built: Jul 19 2016 15:58:29)

install from:
git

[2016-07-19 13:12] Jurigag commented on #11992
Post result from gdb bt:

https://bugs.php.net/bugs-generating-backtrace.php

[2016-07-19 13:26] kcloze commented on #11992
#0  0x00007f6ef9b2e1f5 in zim_Phalcon_Mvc_Router_Route___construct () from /opt/php56/lib/php/extensions/no-debug-non-zts-20131226/phalcon.so
#1  0x00007f6ef992e7bc in zephir_call_function_opt () from /opt/php56/lib/php/extensions/no-debug-non-zts-20131226/phalcon.so
#2  0x00007f6ef992f526 in zephir_call_user_function () from /opt/php56/lib/php/extensions/no-debug-non-zts-20131226/phalcon.so
#3  0

[2016-07-19 13:26] Jurigag commented on #11992
And what exactly code is causing seg fault ?

[2016-07-19 13:28] kcloze commented on #11992
NU gdb (GDB) Red Hat Enterprise Linux (7.2-90.el6)
Copyright (C) 2010 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured as "x86_64-redhat-linu

[2016-07-19 13:29] Jurigag commented on #11992
I mean which php code is causing seg fault ?

[2016-07-19 13:34] kcloze commented on #11992
very simple script.
[code]

[2016-07-19 13:37] kcloze commented on #11992
my dev env is ok. Today I want to deploy the project to production,I find it's a not working with a simple demo.

[2016-07-19 13:40] Jurigag commented on #11992
Are you sure you posted good code ? I don't see anywhere here `Phalcon/Mvc/Application::handle()` / or `Phalcon/Mvc/Router::construct`. Did you have created it somehwere in `loader.php` or `mainCli.php` ?

[2016-07-19 13:46] kcloze commented on #11992
php-fpm and cli all made core dump.

in cli :
$di from mainCli.php

$console = new ConsoleApp($di);
$console->handle($arguments);

[2016-07-19 13:48] Jurigag commented on #11992
No, but look in stack you ahve calls:

`Phalcon/Mvc/Application::handle()` and `Phalcon/Mvc/Router::construct`

I don't see it in code you posted.

[2016-07-19 15:31] vandr0iy opened #11993 "phalcon/mvc/model/metadata.zep errors"
I am trying to write an authentication system similar to the one found in vokuro, and I'm having a lot of issues with the sign up step. Precisely, - it's impossible to insert a model in a mySQL DB I am using, whose schema is almost identical to the one found in vokuro, - except for a couple of columns added by me.
Although they're marked as 'NULL' in the mysql table (as in "may have null values or

[2016-07-19 15:33] Jurigag commented on #11993
What is your php version and phalcon version and os ?

[2016-07-19 15:36] vandr0iy commented on #11993
@Jurigag sorry, updating the OP

[2016-07-19 15:37] Jurigag commented on #11993
And metdata adapter ? Can yo post also mysql code to recreate this users table ?

[2016-07-19 15:39] vandr0iy commented on #11993
Here is the code to recreate the users table:
[code]

[2016-07-19 15:41] david-duncan commented on #1867
2.0.13

1) Create with transaction
2) Later update in same transaction
3) With hasChanged('fieldName') in beforeValidationOnUpdate hook, it will `throw Internal Error: The record doesn't have a valid data snapshot`

[2016-07-19 15:58] Jurigag commented on #11993
Still, can't reproduce, such code:

[code]

Returns:

[code]

[2016-07-19 16:32] Jurigag commented on #11993
Checked it and still working for me. But maybe you just have out-dated metadata ? Try to clear `$config->application->cacheDir . 'meta_data/',`

[2016-07-19 16:37] vandr0iy commented on #11993
Oh... cleared and retried - everything worked - except the fact that there were a couple of syntax/semantic errors in the config file.
Anyways, the content of my map-echelon_models_users file was:
[code]
Thanks a lot, closing this issue.

[2016-07-19 16:37] #11993 closed

[2016-07-19 20:20] sergeyklay commented on #11987
Fixed in the `2.1.x` branch. 👍

[2016-07-19 20:20] #11987 closed

[2016-07-19 21:59] jepster opened #11994 "Install on Ubuntu 16.04 with PHP 7"
Hi,

I tried a few stackoverflow instructions and a provided vagrantbox, but me as a phalcon newbie could not install phalcon with PHP 7. Do you have any "official" and straight-forward installation instruction?

[2016-07-19 22:05] TrogWarZ opened #11995 "Upgrade from 1.x to 2.x has broken code with models magic getters/setters"
## Prerequisites

* Ubuntu 12.04.x/14.x
* PHP 5.5.x/5.6.x (from `ppa:ondrej/php` and from deprecated `ppa:ondrej/php5-5.6` too)
* Transformers from [thephpleague/fractal package](https://github.com/thephpleague/fractal)
* Each API response contains mostly 100 objects + 3 connected objects (total 400 minus duplicates)
* [XhProf](https://github.com/gajus/xhprof.io) as profiler

## Phalcon 1.3.x (tes

[2016-07-19 22:39] andresgutierrez commented on #11995
Maybe we should create an optimizer called is_private in Zephir, so the ORM does not have to use Reflection

[2016-07-19 23:01] Jurigag commented on #11994
1. Clone zephir repository.
2. Type `./install -c` inside of it
3. Go to phalcon repository
4. Select branch 2.1.x
5. Type `zephir fullclean`
6. Type `zephir build`

[2016-07-19 23:07] Jurigag commented on #11995
Wiat, 8 total calls and 21 seconds spend on this ? What a hell.

[2016-07-20 02:50] kcloze commented on #11992
it's maybe my host have dif PHP version and install scripts have same bug.

[2016-07-20 02:53] #11992 closed

[2016-07-20 09:11] Dublerq opened #11997 "Phalcon\Image\Adapter\GD loses transparency on image resize"
Issue: Phalcon's GD loses transparency of png file when it comes to resizing. Transparent part of image become black.

Phalcon information:

[code]

Code to reproduce:

[code]

[2016-07-20 09:23] Jurigag commented on #11997
This is happening i think beacause `imagealphablending(image, false);` is not executed. Check here source - https://github.com/phalcon/cphalcon/blob/master/phalcon/image/adapter/gd.zep#L127 on php lower than 5.5.0 it's working correctly beacause there is _create method executed which set `imagealphablending` to false which preserver transparency.

[2016-07-20 09:26] Dublerq commented on #11997
That's right, feel free to PR. I don't feel too confident with Zephir

[2016-07-20 09:28] Jurigag commented on #11997
Well if you could check if it's true(like install php 5.4.x for instance) and check if it's working then someone could do it.

[2016-07-20 10:10] Dublerq commented on #11997
@Jurigag We can generate an empty image using the same adapter and then test on it. There is no need for including one in tests.

[2016-07-20 10:49] stamster commented on #11994
As a Phalcon newbie I would advise to first check out stable and production-ready Phalcon v.2.0.13 on PHP 5.4/5.5/5.6.

[2016-07-20 10:51] Jurigag commented on #11994
I don't think it's a problem. Perhaps 7.1 can be problem, last time i checked it compiled on php 7.0.5, will check on 7.0.8 and 7.1 when i will be home. You just still need zephir to build phalcon for php 7 and that's it.

[2016-07-20 11:01] jepster commented on #11994
Jurigag, the hint with the 2.1.x branch was useful. By this one I was able to compile phalcon successfully. However, if I add

extension=phalcon.so

to my php.ini file, I cannot restart the apache webserver. I get the following item in my apache error log:

PHP Fatal error:  Class 'jsonserializable' not found in Unknown on line 0

Could this issue be related to case sensitivity regarding PHP's own

[2016-07-20 11:02] Jurigag commented on #11994
You need to install json for php 7.

[2016-07-20 11:22] jepster commented on #11994
I could solve my issue. The problem was, that the phalcon php extension was loaded before the JsonSerializable class. So I have followed the steps from the answer at http://askstop.sc0713.com/0518/php-fatal-error-class-jsonserializable-not-found-in-unknown-on-line-0/. For keeping easier track, here's the cite of the necessary part:

For usage along with apache I needed to copy the files in /etc/ph

[2016-07-20 11:23] Jurigag commented on #11994
Im just always adding extension=phalcon.so at end of php.ini and it's working.

[2016-07-20 11:57] jepster commented on #11994
We are currently evaluating Phalcon for an new project. PHP 7 is a must for us. How long will it take to have Phalcon production ready for PHP 7?

[2016-07-20 11:58] #11994 closed

[2016-07-20 11:59] Jurigag commented on #11994
When all php 7 issues will disappear from here:

https://github.com/phalcon/cphalcon/labels/PHP%207

Right now there are 2 hard problems - this opcache mentioned with conditions and bind and postgresql is seg faulting with php 7 and phalcon.

[2016-07-20 12:00] jepster opened #11998 "How production ready is Phalcon for PHP 7?"
Hi!

We are currently evaluating Phalcon for an new project. PHP 7 is a must for us. How long will it take to have Phalcon production ready for PHP 7? How risky is it to start with PHP 7 on production right now?

[2016-07-20 12:03] Jurigag commented on #11998
When all php 7 issues will disappear from here:

https://github.com/phalcon/cphalcon/labels/PHP%207

Right now there are 2 hard problems - this opcache mentioned with conditions and bind and postgresql is seg faulting with php 7 and phalcon.

[2016-07-20 12:03] Green-Cat commented on #11998
There are two known issues with php 7:
- Several PostgreSQL seg faults (doesn't affect you if you don't use postgresql as the database)
- Opcache seg fault when using conditions and bind at the same time.

[2016-07-20 12:08] Jurigag commented on #11998
Most of performance boost you just have from your code working on php 7, internally phalcon code will be like 1-5% difference I guess between php 5 and php 7.

[2016-07-20 13:04] ricksanchez opened #11999 "ORM serialization for cache is illogical"
Why if the phalcon team made several frontends for the cache, the ORM objects have hardcoded the slow text based serialization?
`phalcon/mvc/model/resultset/simple.zep`

[code]

This is in other files as well.

There should be a way to use the msgpack or any other frontend for serializing the ORM.
If not, the purpose of improving the space and time consumption of the msgpack and other is negligibl

[2016-07-20 13:25] udarkness opened #12000 "Model snapshots doesn't work with cache"
[code]
works fine but when using it with the caching technique from this page: https://docs.phalconphp.com/en/latest/reference/models-cache.html#caching-resultsets
it produces an error  when calling the method hasChanged.
I guess the cache is not taking the snapshot when it restores the data.
The user has to manually call `$model->setSnapshotData($model->toArray())`, but this is a workaround that

[2016-07-21 04:01] TrogWarZ commented on #11995
@Jurigag , `\ReflectionClass` is really slow for any high-speed solution but Phalcon has great metadata's that can be cached. XhProf result shows that.

Simple test: install Phalcon 1.3.6, send request to api – get response in <1s, upgrade Phalcon to 2.x, send same request – get response in >20s. No other changes, 100% repeatable (on multiple versions in my subject post). Request will look like (i

[2016-07-21 06:30] leezhiyong opened #12001 "TAG:2.0.13 strange problem with session"
I packaged fpm & phalcon in an image with docker, and run it as container.
In codes, I used class "Phalcon\Session\Adapter\Files" to handler session, but the data in session were always missing, I printed the session id and found empty.

Also I use the same code, it can be run correctly without docker

PHP.ini:
session.save_path = /tmp

[2016-07-21 07:56] Jurigag commented on #11995
But as i wrote you. I checked it on 400 records, setting:

`Resultset->property` was done in 1.2E-5 sec
Foreach each row in resultset and set property directly on model like this:
`$model->property` was done in 0.0007 sec

I don't have slow execeution. Just that's why we need some script te reproduce, beacause i can't maybe andres can't.

[2016-07-21 08:27] TrogWarZ commented on #11995
@Jurigag , it's not enough to just "get some models from repository". You need to:

1. Create many (at least four in my example) models and implement Fractal Transformer in project for them.
2. Set up "one-to-many" relation from one of created models to all others
3. Implement Fractal TransformerManager in project and use it for working with responses
4. Link these models in Transformer as "option

[2016-07-21 08:58] Jurigag commented on #11995
Relations doesn't have anything here beacause you don't join them.

[2016-07-21 10:25] stamster commented on #12001
Well, then it's docker stuff. Sessions are stored as files where native PHP configuration points them out on a filesystem. I would guess that you have issue on that level.

[2016-07-21 14:29] Dublerq commented on #11997
@Jurigag Just tested on PHP 5.4.45 nad it works fine. As I said you were right

[2016-07-21 18:18] jepster opened #12002 "Debug bar for Phalcon?"
Hi,

the php frameworks Symfony, Laraval or Yii have a debug bar. For inspecting the sql-queries, profiling etc. I haven't seen in the Phalcon documentation, that something like this is integrated into Phalcon. Is there any extension you can recommend or do you have any similar way?

[2016-07-21 18:33] Jurigag commented on #12002
https://phalconist.com/fabfuel/prophiler
https://phalconist.com/snowair/phalcon-debugbar

[2016-07-21 19:13] #12002 closed

[2016-07-21 20:05] sergeyklay commented on #11205
@lxholding Could you please provide script to reproduce?

[2016-07-22 11:17] KuLi opened #12004 "Acl inheritance wildcard"
Hi, i inherit from role and check for a non existing resource i get deny on wildcard check.

In my case a guest can access payment with resource paypal. A user can access all from payment and also an admin and superadmin. The user can access the not existing resource but the admin can't.

Here my testcase
[code]

My output
[code]

Version 2.1.0 RC 1

[2016-07-22 11:34] Jurigag commented on #12004
Obviously it's not checked - https://github.com/phalcon/cphalcon/blob/master/phalcon/acl/adapter/memory.zep#L542

[2016-07-22 11:50] Jurigag commented on #12004
Checked on 2.0.x and happening as well.

[2016-07-22 12:00] basilfx opened #12005 "[2.1.x] Uniqueness validator should convert values."
The Uniqueness validator executes a query on the database to see if it unique. But it uses the values from the model instance as-is. In my case, I convert high-level object to database-compatible values. For instance, I like to use `DateTime`, store 'structures' in JSON, and so on.

In the example below, the Uniqueness validator builds a query using `$this->deleted`, which is still a `DateTime` ob

[2016-07-22 12:19] Jurigag commented on #12004
I think that we can remove this if:

https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/acl/adapter/memory.zep#L382 AND
https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/acl/adapter/memory.zep#L406 this one

And change https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/acl/adapter/memory.zep#L619 to:

[code]

[2016-07-22 12:27] Jurigag commented on #12005
Wait a minute ! Isn't that's why we have `beforeValidationOnSave` ?!

[2016-07-22 12:41] basilfx commented on #12005
That would not work if I want to have a custom validator that uses a `DateTime` while also use Uniqueness that requires a timestamp as string.

[2016-07-22 12:44] Jurigag commented on #12005
Then just in this validator create datetime. Why beforeSave should be called if there is already beofreValidationOnSave ? Then both would to the same.....

[2016-07-22 14:31] Jurigag commented on #11961
@andresgutierrez

Line 18765 in `build/php5/64bits/phalcon.zep.c`

[code]

Shouldn't be there:

[code]

Like in other places ?

[2016-07-22 15:53] basilfx commented on #12005
I just found out that my fix wasn't actually working. Guess I had some source file not saved and thought it was working.

Let me rephrase completely, using an example from [this documentation page](https://docs.phalconphp.com/en/latest/reference/models.html).

[code]

So if I create `$robot = new Robot()`, I can safely do `$robot->status = [1, 2, 3, 4]` and it will be converted to a string before

[2016-07-22 16:25] Jurigag commented on #12005
We could just add `convert` parameter which could be just anonymous function which would be bind to uniquness validator, which would accept parameters you are passing and you can do anything with them before they gets validated ?

[2016-07-22 16:30] basilfx commented on #12005
Awesome, that would definitely fix the problem while keeping everything at one place.

I don't mind to implement this. Can do this on monday.

[2016-07-22 16:34] Jurigag commented on #12005
Yea but it's kind of more changes then you think since validators are using some method from Phalcon\Validation\Validator to getValue of ONE field. And uniqueness validator is just doing foreach through fields - and we want value of all those fields in our anonymous function as one parameter - array if we passed array as fields or just single field if we passed a string.

We should just get all va

[2016-07-22 19:01] virgofx commented on #11961
@andresgutierrez Can we get a PR to address the installation issues

1) Fix the `./build/install` to work for PHP5.4, 5.5, 5.6
2) Add consistency to Phalcon installation for all versions - Presently, there is via Zephir for 2.1x/PHP7 and ./build/install. There is also the /ext folder as well which add confusion for a lot of people.  The website currently references `./build/install`. Can we just c

[2016-07-22 19:11] Jurigag commented on #11961
@virgofx travis is just using zephir, that's why everything works on CI but people have problems beacause are using `./build/install`.

[2016-07-22 19:46] virgofx commented on #11961
See point #2 above -- we need to ensure that there is consistency 100% everywhere so builds, CI, production, documentation are all consistent - whether that's Travis or manual bash scripts , doesn't matter .. Just need to get consistent.

[2016-07-22 20:06] Jurigag commented on #12004
Well created PR, but it's changing somehow internally how acl was working. Not sure if it will affect any app.

[2016-07-23 08:53] sergeyklay commented on #12004
Fixed in the `2.1.x` branch.

[2016-07-23 08:53] #12004 closed

[2016-07-23 16:51] aarondanielson commented on #11635
Not sure why this was closed?  It's still broken.

[2016-07-23 17:01] Jurigag commented on #11635
I guess no information was provided.

[2016-07-23 20:26] sergeyklay opened #12008 "Drop Oracle support"
Support of Oracle should be dropped from Phalcon Core for the following reasons:

* The lack of Oracle maintainer
* The lack of relevant experience among the Phalcon Core Team
* Weak support from the community
* Incomplete implementation that creates only the illusion of support for Oracle
* Some issues hampering for the support of PHP 7 in Phalcon
* Weak interest of community

Oracle components n

[2016-07-23 20:29] andresgutierrez commented on #12008
👍

[2016-07-23 20:30] andresgutierrez commented on #12008
@sergeyklay is porting the implementation to the incubator so the community can still use Oracle alongside Phalcon https://github.com/phalcon/incubator/pull/647

[2016-07-23 20:45] sergeyklay commented on #12008
Fixed in the `2.1.x` branch.

[2016-07-23 20:45] #12008 closed

[2016-07-24 00:05] sergeyklay commented on #11813
Phalcon does not support Oracle. Refer to #12008

[2016-07-24 00:05] #11813 closed

[2016-07-24 00:05] sergeyklay commented on #11252
Phalcon does not support Oracle. Refer to #12008

[2016-07-24 00:05] #11252 closed

[2016-07-24 00:05] sergeyklay commented on #11563
Phalcon does not support Oracle. Refer to #12008

[2016-07-24 00:05] #11563 closed

[2016-07-24 00:06] sergeyklay commented on #11801
Phalcon does not support Oracle. Refer to #12008

[2016-07-24 00:06] #11801 closed

[2016-07-24 00:06] sergeyklay commented on #11056
Phalcon does not support Oracle. Refer to #12008

[2016-07-24 00:06] #11056 closed

[2016-07-24 00:06] sergeyklay commented on #2287
Phalcon does not support Oracle. Refer to #12008

[2016-07-24 00:06] #2287 closed

[2016-07-24 00:06] sergeyklay commented on #11251
Phalcon does not support Oracle. Refer to #12008

[2016-07-24 00:06] #11251 closed

[2016-07-24 00:06] sergeyklay commented on #11217
Phalcon does not support Oracle. Refer to #12008

[2016-07-24 00:06] #11217 closed

[2016-07-24 00:07] sergeyklay commented on #11033
Phalcon does not support Oracle. Refer to #12008

[2016-07-24 00:07] #11033 closed

[2016-07-24 10:50] Mo121Montazeri opened #12010 "[2.0.10] Bug - ODM - findByld"
Hi,
In ODM models, if id doesn't found in Database when using findByld function, the false value should be returned.

[code]

[2016-07-24 12:17] sergeyklay commented on #12010
What about:
[code]

[2016-07-24 12:40] Mo121Montazeri commented on #12010
when call findById($id) with not exist id error

`
Invalid object ID
#0 [internal function]: MongoId->__construct('s')
#1 [internal function]: Phalcon\Mvc\Collection::findById('s')
#2 /Users/iMohammad/Development/Phalcon/apps/backend/controllers/AdminAbstract.php(128): call_user_func(Array, 's')
#3 [internal function]: App\Backend\Controllers\AdminAbstract->confirmAction('s')
#4 [internal function

[2016-07-24 13:00] sergeyklay commented on #12010
Hmm.. Okay. What about:
[code]

In any case, what do you suggest? To add regexp to the `findById` like this?
[code]

[2016-07-24 13:03] Mo121Montazeri commented on #12010
Whenever this error occurs, it means id characters count are not 24.
I did not pay attention to that

[2016-07-24 13:04] Mo121Montazeri commented on #12010
yes, it's good for findById
tnx

[2016-07-24 15:26] sergeyklay commented on #12010
Fixed in the `2.1.x` branch.

[2016-07-24 15:27] #12010 closed

[2016-07-24 23:24] andresgutierrez commented on #11919
Added a possible fix for this in https://github.com/phalcon/cphalcon/commit/d6855cc7d44071764d72f552c9cc77f16ae42d71, can you please try again using latest 2.1.x?

[2016-07-24 23:36] Jurigag commented on #11919
Working for me !

[2016-07-25 03:46] SakhDelphi commented on #329
+1

[2016-07-25 06:03] #11902 closed

[2016-07-25 06:03] #11783 closed

[2016-07-25 07:18] Izopi4a commented on #11919
working for me also.

I am the only one who gets 500 page when there is a syntax error in the query ?

[2016-07-25 12:42] Green-Cat commented on #12008
Major 👍

[2016-07-25 12:59] Green-Cat commented on #11919
Works for me, as well.
All my app's tests now pass on php 7.0.

[2016-07-25 13:23] rudiservo commented on #11009
@Izopi4a Two things we gotta be aware on security class.

The checkToken() function will DESTROY it's session reference to key and token if it checks out ok.
Like you mentioned most browsers have issues on double request, when they dont find favicon, etc, meaning if it checks out on the first request, second request that you see will destroy the session "$PHALCON/CSRF/KEY$" and "$PHALCON/CSRF$" va

[2016-07-25 13:28] #11009 closed

[2016-07-25 15:12] rudiservo commented on #2279
@sergeyklay Probably the same issue with double browser request. to close maybe?

[2016-07-25 15:14] #2279 closed

[2016-07-25 15:52] Jurigag opened #12022 "Cache view works odd"
This code:

[code]

returns something like this:

[code]

On php 7, similar test case is available in https://github.com/phalcon/cphalcon/blob/3.0.x/tests/integration/Mvc/View/SimpleCest.php

**Well on php 5.x it's not working too, but tests are passing....**

[2016-07-25 20:17] Izopi4a opened #12025 "[suggestion] Deprecate 5.4 and 5.5 for next version of phalcon"
May i suggest deprecating of php 5.4 and php 5.5 ?

reason here http://php.net/supported-versions.php

i am not sure how many systems are running on 5.5 anyways, I am pretty sure people are either on 5.3 or those who update their systems after 5.3, they are on 5.6

@sergeyklay @andresgutierrez

[2016-07-25 20:21] andresgutierrez commented on #12025
5.4 is already deprecated in 2.1/3.0, maybe could we deprecate 5.5 in some months?

[2016-07-25 20:23] Izopi4a commented on #12025
i dont thing its such a "must do" thing. But i guess code should be easier to maintain and also travis builds will pass faster since they will be runned on 5.6 and 7.0 for now

[2016-07-25 20:47] Studentsov commented on #12025
I think that the community shall refuse outdated versions as soon as possible. It is very important issue of safety.

[2016-07-25 20:51] Studentsov commented on #12025
Due to the beginning of development of the new version of a framework (or not? I not up to the end understood the appropriate pull-request) it is possible to think also of complete transition to support only to PHP 7 because development goes not quickly.

[2016-07-25 21:44] #11640 closed

[2016-07-25 23:39] tembem commented on #12025
We can deprecate 5.5 after 7.0 is really stable, unless there's urgent reason to do that.

[2016-07-26 10:32] Jurigag commented on #12025
@Studentsov it's basically renamed 2.1.x to 3.0.x, there will be just 3.0.0 instead of 2.1.0

[2016-07-26 13:38] DorianSam opened #12031 "[Segmentation Fault]Phalcon\Cache\Backend\Memory[2.0.x]"
Missing:
`
let keys = []`

If empty the cache data, we have a segmentation fault
[code]

[2016-07-26 13:45] nsossonko commented on #11998
Item #2 (opcache seg fault) was fixed it seems in d6855cc. :+1:

[2016-07-26 13:46] nsossonko commented on #11901
Is this fixed by d6855cc too?

[2016-07-26 13:52] Jurigag commented on #11901
Very possible.

[2016-07-26 13:54] Jurigag commented on #11998
First too

[2016-07-26 13:56] Izopi4a commented on #11901
i think once errors dont make sygs in php7 @sergeyklay can close both of them safely

[2016-07-26 13:57] dorian-sam opened #12032 "[BUG]Phalcon\Mvc\Model[3.0.x] Delete relation"
1) This not working If there ForeignKeys exists.
2) Dont delete ManyToMany cascade

[code]

First you need to call a `_checkForeignKeysReverseCascade`.

Solution for example:

[code]

[2016-07-26 14:49] #11998 closed

[2016-07-26 15:04] sergeyklay commented on #12031
Thanks. Fixed in 3.0.x branch.

The 2.0.x branch is not longer supported.

[2016-07-26 15:04] #12031 closed

[2016-07-26 16:51] Jurigag commented on #11998
Also keep in mind there is memory leak, so it's not production ready yet - especially if you are working on big result sets.

[2016-07-26 17:59] Mo121Montazeri opened #12034 "[2.0.10] Bug - Route"
I have this code in route file
[code]

Problem one:
[code]

$outputURL is "http://development/Phalcon/en/Genre/R&B/t104"
but $outputURL must be "http://development/Phalcon/en/Genre/**R%26B**/t104"

Problem two:
when browser request for "http://development/Phalcon/en/Genre/R%26B/t104"
[code]
in other case there aren't any problem
ex: when browser request for "http://development/Phalcon/en/Genre/Pop

[2016-07-26 18:05] Jurigag commented on #12034
Second problem happens beacause you have default behaviour of router i guess. Try to add false in constructor.

[2016-07-26 19:24] andresgutierrez commented on #12034
You can escape the value:

[code]

https://docs.phalconphp.com/en/latest/api/Phalcon_Escaper.html

[2016-07-26 20:00] nsossonko commented on #11998
If someone can compile a windows php 7 dll I have a large, automated test suite I can run it through that can find issues in my project.

[2016-07-26 21:28] #12034 closed

[2016-07-27 02:33] CodeBanBan opened #12035 "Model hasone/hasmany multi relation column work on 1.34 but not work on 2.0.13"
Current I use **PHP 5.5 and Phalcon 1.34**
need upgrade to **PHP 5.6 and Phalcon 2.0.13**
<hr>

I have two models: PackageModel and PackageDetialModel

In PackageModel inside intialilize():
[code]

when I get detail by
[code]

on Phalcon 1.34 will return result
but on Phalcon 2.0.13 will **return FALSE**

[2016-07-27 07:37] Izopi4a opened #12037 "Adding a form message in controller doesnt show in view"
if i do this in the `controller`

[code]

however in the `view`

[code]

discussed here https://forum.phalconphp.com/discussion/12205/appending-message-to-form#C37245

[2016-07-27 08:39] alpaxo commented on #11919
Does not work for me:
[code]

[2016-07-27 08:51] Jurigag commented on #11919
You need to use phalcon 3.0.x

[2016-07-27 08:53] Jurigag commented on #11919
And dump is the same ?

[2016-07-27 09:12] alpaxo commented on #11919
[code]

[2016-07-27 10:33] Izopi4a commented on #11919
i am sorry but just because for everyone else seems to be fine, in phpinfo -> phalcon in build date you see today right ?

[2016-07-27 10:44] alpaxo commented on #11919
yes, i see
[code]

[2016-07-27 11:19] Jurigag commented on #11919
I will check it later on fpm when home.

[2016-07-27 12:52] andresgutierrez commented on #11919
@alpaxo What's the content of `phalcon-coredump.php`? Can you use `zephir builddev --backend=ZendEngine3` instead of  `zephir build --backend=ZendEngine3`?

[2016-07-27 13:22] alpaxo commented on #11919
@andresgutierrez
[code]
contents of phalcon-coredump.php
[code]

[2016-07-27 13:25] Izopi4a opened #12038 "[php7] seg when there is syntax error in model::find condition"
test.php

[code]

[code]

i tried for 2 days to fix it myself but failed miserably ...

[2016-07-27 16:53] Jurigag commented on #11919
What a hell, don't works for mee too xD but i was checking this.....

[2016-07-27 17:37] Jurigag commented on #12038
In debug phalcon and php it looks like this:

[code]

[2016-07-27 19:29] dedalozzo commented on #3179
I just confirm that this bug doesn't affect Phalcon 2.

[2016-07-27 19:33] sergeyklay commented on #3179
@dedalozzo Open new issue. Provide script too reproduce and environment vars - OS, PHP version, Server, Phalcon version, etc

[2016-07-27 19:34] Jurigag commented on #3179
**doesn't**

[2016-07-27 19:38] sergeyklay commented on #3179
Oh

[2016-07-27 19:44] erickskrauch commented on #3179
Issue was created 2 years ago... Since it was rewritten on React.js and is no longer required :)

[2016-07-27 19:59] dedalozzo commented on #3179
It doesn't matter when you have created the issue, I have just reported the bug has been fixed in Phalcon 2. :-)

[2016-07-27 20:59] sergeyklay commented on #12037
Could you please provide Phalcon version and PHP

[2016-07-27 21:39] Qmegas commented on #12037
Hello Sergey,

I'm the one who originally raised this problem.

I tested it on Phalcon 2.10 and PHP 5.6

[2016-07-28 05:01] andresgutierrez commented on #12038
Fixed in the 3.0.x branch

[2016-07-28 05:01] #12038 closed

[2016-07-28 06:45] Izopi4a commented on #12037
i tested it on 3.0 with php7. I really dont know how to fix this tho

[2016-07-28 08:33] Jurigag commented on #11919
@andresgutierrez

With latest commit have out of memory. On next queries. When trying it in valgrind i have seg fault. Without core dump. Except of memory leaks i have:

[code]

[2016-07-28 09:12] Jurigag commented on #11919
Okay, i managed to work it for example from your code with opcache, for some reason it works with valgrind and `export USE_ZEND_ALLOC=0` and `export ZEND_DONT_UNLOAD_MODULES=1`

But there is MANY erros like invalid write of size/invalid read of size and other despite of (many)memory leaks:

http://pastebin.com/uTrgECPJ

[2016-07-28 09:48] zyxep commented on #12025
i agree on @Izopi4a

Why support a version that is deprecated by them self ?
As @sergeyklay say some companies still run a old version, but that is their headache they don't take care of their product they have made and add a security problem to their own product.

Phalcon can't care about that at ALL, they **should** only care about the current and maybe have a beta on the newest version of PHP.

[2016-07-28 09:53] Jurigag commented on #12025
2.0.x will never support php 7, only 3, also 2.0.x will be no longer maintained.

[2016-07-28 10:04] Jurigag commented on #11919
Also when testing it in php cli i have:

[code]

[2016-07-28 10:42] Mo121Montazeri commented on #12034
[http://www.dalikon.com/en/Genre/R&B/t104](url) <- Laravel 5
[http://31.3.253.214/en/Genre/R&B/t104](url) <- Phalcon

[code]

[2016-07-28 10:46] Jurigag commented on #12034
And some sample where you adding this route and where you register controllers ?

[2016-07-28 22:18] dschissler opened #12044 "[3.0.x] Leaking memory on queries in PHP 5.5 and 7.0"
I will provide a script here shortly now that I have the issue number.

[2016-07-28 22:30] Jurigag commented on #12044
To be honest - size of query shouldn't matter - just if you have larger resultsets - you need more memory, there is nothing fancy about this. Memory leaks should still happen, even on small queries.

[2016-07-28 22:33] NX49 opened #12045 "[NFR] Model validation setter/getter"
Hello,
This feature will make way to get/set validators of model fields. It might be usefull when building forms, as the model validators can be merged along with form fields validators (to allow the code to stay DRY) and then provided to ie.: jQuery Form plugins like FormValidation, which are doing validation on the client-side before sending the form.

Below is the example of how I see it:

[cod

[2016-07-28 22:40] dschissler commented on #12044
https://github.com/dschissler/phalcon_issue_12044

It appears to leak on both PHP 5.5 and 7.0 but more quickly on 7.0.

You can comment out the echo statements in the `printFileRange` function and see just the `echo memory_get_usage()` calls.  Also you can comment out the `foreach ($files as $file)` loop just after the first call to see that the memory doesn't go down.

[2016-07-28 23:59] Jurigag commented on #12044
Doesn't look like memory leak for me:

[code]

[code]

[2016-07-29 00:01] dschissler commented on #12044
Why won't it free the memory after being called?

[2016-07-29 00:05] Jurigag commented on #12044
As you see it frees memory, there is no memory leaks. You are just using full objects which cost memory and this is how php/phalcon works. What i can suggest is:

1)Don't use full objects(like select columns which you need)
2)Use arrays where possible(especially on resultset(`toArray()` method)

[2016-07-29 00:14] dschissler commented on #12044
Why does it never go down with `memory_get_usage` in the script?

[2016-07-29 00:15] Jurigag commented on #12044
Beacause this is how php works.

[2016-07-29 00:18] dschissler commented on #12044
I'll play with it tomorrow to make it more efficient to be able to complete and then I'll close this issue.

[2016-07-29 00:35] Jurigag commented on #12044
Also important thing to remember - phalcon caches all phql etc queries. You are making A LOT of them. Try to:

[code]

After each find/findFirst, it should greatly reduce your memory usage. Be aware it's only from 2.1.x.

[2016-07-29 00:40] Jurigag commented on #12044
With changing your code do something like this:

[code]

I have `334744` memory usage returned from `memory_get_usage`

[2016-07-29 00:50] Jurigag commented on #12044
Also this is happening also beacause you are NOT USING BINDING. Each condition like this:

`cpt = 'note' AND lid = {$fileId}`

Is changing phql query, which is causing adding new cache entry for phql. If you would use `cpt = 'note' AND lid = :field:` and bind then __destruct is not even needed.

[2016-07-29 00:53] dschissler commented on #12044
Thanks for the tips and I'll try to work into it tomorrow to see what can be done.  I my real project I disable all use of literals so that is good to know that it also adds efficiency.

[2016-07-29 06:13] sergeyklay commented on #12044
Also the problem is not using bound parameters: http://docs.phalconphp.com/en/latest/reference/models-cache.html#caching-of-phql-planning

Data is not "lost", PHQL planning is saved in memory until the request ends, you can track real memory leaks compiling PHP manually with --enable-debug and -dreport_memleaks=1

[2016-07-29 06:49] Izopi4a commented on #11999
@sergeyklay I was wondering if we can make serializing checking for existing service ( that people register themselves ) and use it in encode/decode.

Or maybe different adapters. If you have an idea, you can trow me few bones and i will cook the patch.

[2016-07-29 07:12] Dublerq opened #12046 "Phalcon 2.1.0r segfault while running vagrant on windows"
Hi, i'm getting followning segfault on even on blank phalcon project on vagrant with Ubuntu 14.04LTS, nginx 1.4.6 PHP 5.5.9-1ubuntu4.17 (cli). Vagrant is running on genuine Windows 7 Professional x64. When I run the same vagrant box on linux - it works flawless (WTF). I can't provide you the exact box because it's my client's project :/

[code]

PS: It's 666th issue so it probably will pain in our

[2016-07-29 07:33] sergeyklay commented on #12046
The `2.1.x` branch is not longer supported. Could you please try `3.0.x`

[2016-07-29 07:55] Jurigag commented on #12045
Well actually i think about this too to add `_validation` property to model to handle validation by annotations in future.

[2016-07-29 08:12] Dublerq commented on #12046
@sergeyklay
It's working fine :)

[2016-07-29 08:12] #12046 closed

[2016-07-29 08:15] Dublerq opened #12047 "Phalcon 3.0.x debug screen looks terribly"
Is it normal that debug screen looks this way:
![image](https://cloud.githubusercontent.com/assets/13312449/17242087/9363b3f2-5575-11e6-88c3-5d794d1ba4b2.png)

Is old, good, fancy, styled view gone forever?

[2016-07-29 08:32] sergeyklay commented on #12047
@dschissler

[2016-07-29 09:49] Dublerq opened #12049 "What's the reason of 3.x instead of 2.x?"
I've been discussing latest changes to phalcon with a few perons and they don't look to us like they are milestones or something. Our 1X k PHP lines project in phalcon has been upgraded to 3.x without a single change in code. We can't really see the reason of this decision.

@sergeyklay

[2016-07-29 09:50] sergeyklay commented on #12049
2.1 will not be fully backwards compatible. As a result, we are changing the version number to 3.0.

[2016-07-29 09:50] Jurigag commented on #12049
1. Too many new features.
2. Too many breaking BC things compared to 2.0.x(like models validation, some interfaces).

[2016-07-29 09:51] sergeyklay commented on #12049
Since 2.1 has many API changes, we decided that it would be best to not release it as is and start using SemVer to better communicate with the community and keep track of our releases.

[2016-07-29 09:51] #12049 closed

[2016-07-29 09:54] Dublerq commented on #12049
From our perspective 3.x should be kept for at least full, official PHP7 support. Bear in mind that 2.1.x was still a dev branch. Upgrading project from for instance 2.0.4 to 3.0 doesn't really take much time to accomplish

[2016-07-29 09:56] Jurigag commented on #12049
Those are plans to support php7 fully. Understand that we are swtiching to semver and there are changes that breaks BC(removing of some things, methods name changing etc).

[2016-07-29 09:59] Dublerq commented on #12049
And this is why, in my opinion, you should keep old classes with new ones and wait with compatibility dropping till full support of php7. Which of those changes are brake breakthrough? None

[2016-07-29 10:01] sergeyklay commented on #12049
https://github.com/phalcon/blog/blob/master/data/posts/2016/07/2016-07-29-phalcon-3-0-0-released.md

See

[2016-07-29 10:07] Jurigag commented on #12049
[code]

Those changes affect BC somehow.

[2016-07-29 11:28] dschissler commented on #12047
The resources appear to be in the correct place in the repo but they aren't on the www server.  The custom resources stayed in the same place so its easy to check.

The is on the website:
https://static.phalconphp.com/www/debug/2.0.0/prettify/prettify.js

This is not on the website:
https://static.phalconphp.com/www/debug/3.0.x/prettify/prettify.js

So it needs to get put there somehow.  I figured

[2016-07-29 11:30] dschissler commented on #12047
Also we might want to change the default theme.  Currently we're using UI Lightness but we have a little time to find the best one before releasing.

[2016-07-29 11:31] Jurigag commented on #12047
I'm just guessing that phalcon website wasn't updated yet to latest commit ?

[2016-07-29 11:32] dschissler commented on #12047
Probably it needs a manual clone done from the terminal.

[2016-07-29 11:32] Jurigag commented on #12047
Or just git pull.

[2016-07-29 11:33] dschissler commented on #12047
So @niden or @andresgutierrez needs to do this.

[2016-07-29 11:46] #12044 closed

[2016-07-29 11:52] dschissler commented on #12025
I think that we should support PHP 5.5 for another six months or so because then Ubuntu 16.04.2 will have come out and that will have given of the 14.04 people enough time to move over.

[2016-07-29 11:54] dschissler commented on #12025
@zyxep PHP support tends to be done by individual distros instead of by the PHP team and so there is still quite a lot of security support for many people some years after.

[2016-07-29 11:58] dschissler commented on #11814
So you got your semver.  Issue closed.

[2016-07-29 12:00] #11814 closed

[2016-07-29 12:07] Izopi4a commented on #12025
If rest of you agree I say, support of php 5.* to be removed in phalcon 3.1. If you look at the code there are tons of if phpversion < 70000 etc..  I think phalcon is a framework that requires some skill. It isnt exacly composer update in order to make it work. So by the time 3.1 starts coming out i say drop all the php 5 support and clean the code for pure 7+.

[2016-07-29 12:08] Jurigag commented on #12025
Well that's a great idea, but 3.0.x should be still supported with 3.1.x, at least for something like 2 years or more.

[2016-07-29 12:13] Jurigag commented on #12044
I see issue closed @dschissler you can even remove those unsets and gc_collect_cycles after changing your code beacause they are not needed. Also on php 7 there can be still memory leak - but this is actually memory leaks and they are known i think.

[2016-07-29 12:17] Izopi4a commented on #12025
as far as i know "supported" means that bugs and security issues to be resolved. I think those PR can be merged both in 3.1 and 3.0.  I think this is what all the repos are doing. If you want the latest features you have to update.  I guess when the time comes to start thinking about 3.1 it should be fine to drop the php5 support.  Its worse for Andy cuz he has to start cleaning the code in ~3.0.5

[2016-07-29 12:19] Jurigag commented on #12025
Actually i thought that beacause of seperated php5/php7 builds we wanted to remove all those phpversion < 70000 but nvm.

[2016-07-29 12:46] DorianSam opened #12050 "[BUG] Phalcon\Cache\Backend\Memory [2.0.13/2.1.x/3.0.x] Missing update lastKey"
Missing update this->_lastKey for save() method

[code]

[2016-07-29 13:23] tembem commented on #11788
@Doncode Is it solved by branch 3.0.x?

[2016-07-29 13:25] Jurigag commented on #11788
Just like for 99% it's happening beacause of this - https://github.com/phalcon/cphalcon/issues/11919

[2016-07-29 15:48] #10897 closed

[2016-07-29 15:48] #12005 closed

[2016-07-29 15:57] cdekok opened #12051 "Phalcon 3.0.x re2c"
It on OS X it didn't compile it threw a warning about re2c i needed to install it with

[code]

Perhaps add some docs for Mac.

[2016-07-29 16:16] sergeyklay commented on #12051
It is [Phalcon Docs](https://github.com/phalcon/docs) issue. Could you please open the issue in the corresponding repo

[2016-07-29 16:36] andresgutierrez commented on #12047
This must be fixed now

[2016-07-29 16:36] #12047 closed

[2016-07-29 16:57] Jurigag commented on #11919
Working on latest zephir and phalcon for me.

[2016-07-30 04:17] tembem commented on #11919
@Jurigag so is it solved by branch 3.0.x now?

Glad to hear that

[2016-07-30 05:56] ndabAP opened #12053 "Regex validation pattern doesn't work after upgrade to 3"
### Expected and Actual Behavior

The following Regex validator pattern worked fine before I upgraded to version 3:

[code]

Also the new date validator doesn't produce an error message `'format' => 'd.m.Y'`.

### Example

[code]

### Details

* Phalcon version: 3
* PHP Version: 5.6
* Operating System: Ubuntu
* Server: Apache

[2016-07-30 06:49] remicollet opened #12054 "gen-build.php broken with PHP 7"
Usual process work with PHP 5

[code]

But with PHP 7

[code]

(only first errors pasted, output is really very long)

[2016-07-30 06:51] remicollet commented on #12054
BTW: I don't understand, why 32bits/64bits/safe dir still exist, content are the same.

Notice: I can't use provided files in "safe" directory because of bundled non-free stuff (jsmin + cssmin)

[2016-07-30 08:43] Jurigag commented on #12054
And phpize -v return what on php 7 ?

[2016-07-30 08:48] remicollet commented on #12054
[code]

[code]

[2016-07-30 08:51] Jurigag commented on #12054
And what branch you are ? master ?

[2016-07-30 08:51] remicollet commented on #12054
Tested on tagged 3.0.0 or master

[2016-07-30 08:56] remicollet commented on #12054
Please read initial first comment: Notice: I can't use provided files in "safe" directory because of bundled non-free stuff (jsmin + cssmin)

[2016-07-30 09:00] Jurigag commented on #12054
What you mean no free ?

[2016-07-30 09:01] remicollet commented on #12054
See #10118

[2016-07-30 09:10] Jurigag commented on #10118
I know it's silly but what exactly in those licenses is making them non-free:

[code]

[2016-07-30 09:15] Green-Cat commented on #10118
Presumably this part:

[2016-07-30 09:17] remicollet commented on #10118
By FSF definition, no restriction allowed.

[2016-07-30 09:19] Jurigag commented on #10118
Oh so this `The Software shall be used for Good, not Evil.` is breaking FSF definition ? Okay, yea, it's big restriction then if you are going to do evil page.

[2016-07-30 09:26] remicollet commented on #10118
No need to discuss this again and again.
Not free.
Not allowed in any major Linux distributions.
Same reason why PHP 5 ext/json have be removed from most linux distributions (debian, fedora, mageia...)

[2016-07-30 09:26] Jurigag commented on #12053
What should be passing this regex validator ?

[2016-07-30 09:31] Green-Cat commented on #10118
Any known free implementation we could replace them with?

[2016-07-30 09:36] Jurigag commented on #12053
[code]

[code]

Looks like working for me. Phalcon 3.0.0.

[2016-07-30 09:43] Jurigag commented on #11919
@tembem for me yes, also it was added to tests and opcache enabled in travis and all passing.

[2016-07-30 09:44] Jurigag commented on #11998
@nsossonko i think there are already windows dlls. Can you check it ?

[2016-07-30 09:57] Green-Cat commented on #1280
No reproduction script provided. No reply for almost a year.
This can probably be closed.
@sergeyklay

[2016-07-30 10:17] ndabAP commented on #12053
Strange. I got like 10 form entities, three of them are required. "Date" and "Duration" are two of the required ones. However, I don't get any flash message even when the fields are empty. Only the third required field works as expected.

[2016-07-30 10:26] ndabAP commented on #12053
’hh:mmss’ is the awaited duration input.

[2016-07-30 12:00] Jurigag commented on #12053
And on 2.1.x it was working ? Im guessing it was not latest commit.

[2016-07-30 13:23] #1280 closed

[2016-07-30 14:13] sergeyklay commented on #12051
@SidRoberts Could you please sort out with this?

[2016-07-30 15:04] ohmcoe commented on #11156
+1

Hope for PHP7.

[2016-07-30 15:31] andresgutierrez commented on #12054
For php7 it requires Zephir:

[code]

[2016-07-30 16:08] sergeyklay commented on #11156
https://github.com/phalcon/incubator/tree/master/Library/Phalcon/Db/Adapter

[2016-07-30 17:00] remicollet commented on #12054
Indeed, this work (but create a much more complex process to build the extension...)

[2016-07-30 17:07] andresgutierrez commented on #12054
Sure, however, the same files are not compatible with php7 and php5 at the same time. Zephir generates specialized code for each engine thus making it easy to debug.

Why do you need to regenerate the files at build/? They're ready to compile without having to use Zephir

[2016-07-30 17:15] remicollet commented on #12054
Again..... because I remove non-free stuff.

[2016-07-30 17:55] cdekok commented on #12051
Hi @sergeyklay can't we just add it to the README.md in this repo?
https://github.com/phalcon/cphalcon#linuxunixmac
That what was i was reading trying to install it.

[2016-07-30 17:57] remicollet opened #12055 "Broken build with PHP 7.1"
With 7.1.0beta1

[code]

[2016-07-30 17:59] remicollet commented on #12055
This fix in yaf extension gives solution ;)

https://github.com/laruence/yaf/commit/bd6ffea2ca669a1614d15fdd7322994a7c50e4d0

[2016-07-30 22:38] vekyapps opened #12056 "Strange error after migration to Phalcon 3.0.0"
Hello,

yesterday, I migrated my project to Phalcon 3.0 (from 2.1 version). And everything worked fine, except now I got  very "randomly" this error:

[code]

On line 25 in my services.php file is where I create instance of DI factory class:

[code]

I work on Windows, Xampp v3.2.2 with PHP 7.0.8 and Phalcon 3.0.

Can you help me with this?

Thanks in advance!

[2016-07-31 03:34] tembem opened #12057 "Can not load more than 1000 items using Phalcon-3.0.x + PHP-7.0 + PostgreSQL"
I can confirm this is working with Ubuntu 16.04 + nginx + PHP-5.6 + Phalcon-2.1.x + PostgreSQL-9.5

Yesterday, I decided to upgrade to PHP-7.0 + Phalcon-3.0.0 and found this code is **not working** anymore.

[code]

My result is more than 1000 items (actually ~ 4000 items), this code is working without any problem using Phalcon 2.1.x and showing in view as expected.

If the result got ~ 700 items,

[2016-07-31 03:50] tembem commented on #12057
I tested with this sample code using PDO PHP-7.0 directly (with same configuration)

[code]

And it **works** showing all ~4000 items. And showing another resultset ~32000 items too without any problems.

[2016-07-31 03:55] tembem commented on #12057
SOLVED

Increase php.ini memory_limit solving my problem

[2016-07-31 06:53] ndabAP commented on #12053
Yes, it worked before. I pulled Phalcon a month ago for the first time. I just tried to exchange the duration regex pattern with something simple `[0-9]` and I get the wanted error flash message with it. It seems like the new Phalcon doesn't recognize my pattern.

I also tried another one `^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$` without success.

### Code

#### Form

[code]

#### Contr

[2016-07-31 08:26] Jurigag commented on #12057
Actually as far as i know there is still small memory leak on php 7 and phalcon 3.0.0 which can happen especially on big results.

[2016-07-31 08:42] Jurigag commented on #12053
Also you know there is other validators than regex, right ? Like numericality, inclusionin etc ?

[2016-07-31 08:57] Jurigag commented on #12056
My onyl guess it's beacause of windows perhaps ? Works on vagrant/ubuntu 14.04 without any problem.

[2016-07-31 09:10] Jurigag commented on #12037
[code]

What exactly this means ? After changing it to more proper:
[code]

It works fine. I guess we should set this group somewhere in model - https://github.com/phalcon/cphalcon/blob/master/phalcon/forms/form.zep#L390 and work on it after setting it.

[2016-07-31 09:29] ndabAP commented on #12053
You are right, when I do it like you it works as expected. But the error messages doesn't "reach" my view output.

[2016-07-31 09:30] Jurigag commented on #12053
Maybe beacause you are making forward ? $this->dispatcher->forward(['action' => 'index']);

[2016-07-31 09:32] Jurigag commented on #12053
But did you actually check if this - $addForm->getMessages() returns anything ?

[2016-07-31 09:34] ndabAP commented on #12053
Good point, I returns the wanted messages! Something must me wrong with the flash messages then.

[2016-07-31 09:39] Jurigag commented on #12053
Then check it if there is anything by echo/var_dump ($this->flash->output()) maybe ?

[2016-07-31 09:42] ndabAP commented on #12053
Okay, I found the problem: It's the model entity.

[code]

`$user_run` is the problem. It works fine when I remove it. This is a new behavior. I didn't touch it for ages. The problem is now, when I remove it, I get problems when saving it to my model.

[2016-07-31 09:43] Jurigag commented on #12053
So post model too and sql to recreate table.

[2016-07-31 09:46] ndabAP commented on #12053
### UsersRuns Model

[code]

### SQL

[code]

[2016-07-31 09:52] Jurigag commented on #12053
Okay then. So actually if you are using entity your data is just binded to model and whole validation is done on model:

https://github.com/phalcon/cphalcon/blob/master/phalcon/forms/form.zep#L182

So for example this code:

[code]

Will return just correct date and so on.

[2016-07-31 09:54] zyfmix opened #12058 "cphalcon3.0 crashed Error: Class 'MongoClient' not found"
after upgrade to cphalcon3.0 with php7.0.9, i got error below:.

[code]

[code]
### Details

I had compiled [mongo-php-driver](https://github.com/mongodb/mongo-php-driver) ext from source.who can help me to connect mongodb with cphalcon3.0

[2016-07-31 09:56] ndabAP commented on #12053
Okay, thanks a lot. Can you give me one quick example how I do validate inside the model then?

[2016-07-31 09:58] Jurigag commented on #12053
I mean it should work too, what is emptynotnull filter ?

[2016-07-31 09:59] Jurigag commented on #12058
Phalcon just don't support new mongo driver yet.

[2016-07-31 10:00] ndabAP commented on #12053
It returns `null` if value is empty.

[code]

[2016-07-31 10:11] ndabAP commented on #12053
It's validating when I remove the getters/setters at the model. But of course the **setters** should only get in place after _the_ validation. And the **getters** shouldn't get in place at all here.

[2016-07-31 10:12] Jurigag commented on #12053
This is happening beacause of how getValue in validation works when you have entity:

https://github.com/phalcon/cphalcon/blob/master/phalcon/validation.zep#L487

It's using GETTERS for getting values form your fields. Why they should get in place at all ? They are there, waiting for being used. Getters should return values as they are in models, not changed.

[2016-07-31 10:15] ndabAP commented on #12053
But why did it work before 3 and what can I do now?

[2016-07-31 10:17] ndabAP commented on #12053
I guess I've to put my whole validation into a new model method `public function validation()`.

[2016-07-31 10:23] Jurigag commented on #12053
What you mean before 3 ? Code in 2.1.x is exactly the same.  In 2.0.x it's diffrent and validation is done on data form, not on model - https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/validation.zep#L77. That's why it was working. Now it isn't beacause your getters returns correct values which are passing validation. The same will happen however if you will even use `validation()` in model.

[2016-07-31 10:25] ndabAP commented on #12053
Okay, I think understand. But I need the setters/getters. How can I use them and validate at the same time?

[2016-07-31 10:27] Green-Cat commented on #12058
There is an adapter on the incubator repo, might be worth a try.

[2016-07-31 10:28] Jurigag commented on #12053
Just change their code to return actual values, not changed.

[2016-07-31 10:35] zyfmix commented on #12058
Thank you for your answer. but when i try this incubator like below:
`
$di->set("MongoSyData", function () use ($config) {
    //$mongo = new MongoClient("mongodb://127.0.0.1:27017");
    //return $mongo->selectDb("syData");
    $mongo = new Phalcon\Db\Adapter\MongoDB\Client("mongodb://127.0.0.1:27017");
    return $mongo->selectDatabase('syData');
}, true);
`
it crashed error :
`
RuntimeException

[2016-07-31 10:44] #12053 closed

[2016-07-31 11:30] tembem commented on #12057
@Jurigag yes i guess so

@sergeyklay @andresgutierrez I hope it won't become a bigger problem

[2016-07-31 11:56] Studentsov commented on #12056
What is `$config`?

[2016-07-31 13:21] Graphmatic opened #12059 "$this->di->get('modelsCache')->queryKeys(); : unexpected behaviour"
https://forum.phalconphp.com/discussion/12445/unexpected-behaviour-after-app-update-to-30-php7

### Expected and Actual Behavior
Expected : return keys in cache
Actual: a redirection occurs like the one acl do when not allowed

should return keys registered in cache, then in given example redirect to login page, instead redirect to "not allowed" acl default page

no error in php log

[code]

[code

[2016-07-31 13:25] Jurigag commented on #12059
This script don't reproduce issue as it self. Just provide script that we can copy paste and have same unexpected behaviour.

[2016-07-31 13:52] Graphmatic commented on #12059
will try to do the backtrace thing, it's a full featured app, I'm not able to concatenate that in one script file...

[2016-07-31 13:54] Jurigag commented on #12059
Im not telling about posting your code here. Create one seperated file, do things which probably is causing this(like put something in cache) and try to get them ? And post this script here. For now i have:

[code]

[2016-07-31 14:12] #12058 closed

[2016-07-31 14:41] tembem commented on #12059
I think it's typo, you define:

[code]

But you call with:
[code]

Can you try again with `$di['modelsCache'] = function() {}` ?

[2016-07-31 14:54] Jurigag commented on #12059
It should be `modelsCache` and you need to add `'statsKey'=>'_PHCR'` to use queryKeys

[2016-07-31 15:02] Graphmatic commented on #12059
I corrected typo, pasted from wrong source...

quote : you need to add 'statsKey'=>'_PHCR' to use queryKeys

thank you, that solved the issue, note that the doc doesn't refenrence this param.

[2016-07-31 15:03] Jurigag commented on #12059
But exception you should get yes :)

[2016-07-31 16:26] ReDev1L opened #12060 "php7.0-phalcon package for ubuntu 14.04"
Hello, can you please make package for php7.0 in ubuntu 14.04 phalcon PPA, so it will be compatible with ondrej sury PPA for php 7.0

[2016-07-31 16:52] andresgutierrez commented on #12057
Yeah, what was your memory_limit and what is now after being increased?

[2016-07-31 19:06] R3bm3v0N opened #12061 "Compiling Phalcon 3.0.0 for PHP 5.6 in MAC environment"
I'm using MAMP with php 5.6 in my MAC book and want to upgrade phalcon from 2.x to 3.
I have tried your installation GUIDE: `brew install php56-phalcon` but always get the 2.0.13 version and stuck there.
Any help? thank you!

[2016-07-31 19:32] R3bm3v0N commented on #12061
Solved!
I used instruction from here: https://blog.phalconphp.com/post/phalcon-3-0-0-released
with `git clone --depth=5 https://github.com/phalcon/cphalcon`
instead of `git clone --depth=1 git://github.com/phalcon/cphalcon.git` in the download page

[2016-07-31 19:32] #12061 closed

[2016-07-31 20:57] googlle commented on #12056
Hello.
I have the same error

Fatal error: Uncaught Error: Access to undeclared static property: Phalcon\Di::$_default in C:\xamppwin\htdocs\phalcon\app\config\services.php:6 Stack trace: #0 [internal function]: Phalcon\Di->__construct() #1 C:\xamppwin\htdocs\phalcon\app\config\services.php(6): Phalcon\Di\FactoryDefault->__construct() #2 C:\xamppwin\htdocs\phalcon\public\index.php(21): require('C:

[2016-07-31 21:02] Studentsov commented on #12056
This is a really strange error. I am using Phalcon on Windows 10, PHP 7.0.8 x64, and similar errors do not occur.

[2016-07-31 21:22] googlle commented on #12056
Try to reload the page many times and the error should appear

[2016-07-31 21:49] Jurigag commented on #12056
Are you using maybe opcache ? Try to check it disabled for instance.

[2016-08-01 01:35] tembem commented on #12057
@andresgutierrez my initial memory_limit was 128M (default setting from php ubuntu repo installation). I increased to 2048M, and it was working then.

Initial memory_limit 128M was enough using PHP-5.6 + Phalcon-2.1.x (latest build) to run my function.

[2016-08-01 01:39] andresgutierrez commented on #12057
That's strange, I'll check if there are memory leaks we haven't aware of

[2016-08-01 01:43] tembem commented on #12057
@andresgutierrez

I set 128M not working
I set 256M not working
I set 512M not working
I set 1024M **working**
I set 2048M **working**

Thank you. That's quite big memory.

[2016-08-01 01:43] andresgutierrez commented on #12056
This seems to be affecting only Windows installations, I'll have to set up a Windows environment to check

[2016-08-01 04:08] toddlxt commented on #12056
I have the same error.
My env: Win 10 x64 + Apache 2.4.24 + PHP 7.0.9 x64 ZTS.
Also tried Apache 2.4.18, PHP 7.0.8 x86 ZTS, PHP 7.0.8 x64 ZTS.
This error only happens when a lot of requests come.
Just create an "index.php" with 2 lines:
[code]
And keep refreshing this page or use apache ab.exe:
ab -n 100 -c 10 "http://localhost/index.php"
Then you can see this error in php_error.log.

[2016-08-01 07:02] Jurigag commented on #12056
As i wrote, did you have opcache enabled ? Can you disable it for instance ?

[2016-08-01 07:21] Mechzeit commented on #12056
I've also got the same issue with WAMP3, (Which uses Apache) PHP 7.0.4 (TS).
Haven't checked if opcode caching is enabled by default, and I haven't tried compiling Phalcon myself yet, but I'll try it tonight and see if it makes a difference.

[2016-08-01 07:34] toddlxt commented on #12056
@Jurigag After I set opcache.enable=0 in php.ini and restarted apache, I still got this error.
In phpinfo():
[code]
Do you need me to do more tests?

[2016-08-01 07:52] Jurigag commented on #12056
No, i just thought it might be opcache, but looks like not.

[2016-08-01 07:58] Jurigag commented on #12059
You can close issue for now.

[2016-08-01 08:58] alpaxo commented on #11919
@Jurigag for now it works for me too

[2016-08-01 09:06] udarkness commented on #11999
That idea sounds cool, what about some function signature like this?:
[code]
if frontend = null, we fallback to the DI.
But I am not sure, if this change of relying in the DI instead of the hardcoded `serialize` may affect somebody.

[2016-08-01 10:25] #11919 closed

[2016-08-01 10:39] sergeyklay commented on #12060
Could you please open the issue at [PPA repo](https://github.com/phalcon/phalcon-ppa)?

[2016-08-01 12:47] brunomdev commented on #2137
+1

[2016-08-01 12:47] brunomdev commented on #1184
+1

[2016-08-01 12:51] Jurigag commented on #1184
@fishjerky as far as i know you don't need to know C know, i know you posted here 3 years ago so you probably not even using phalcon but you can write this mysql dapter in more common language.

Im guessing that dev team like anders or klay are not using mssql anywhere, so to implement this there definitely must be someone who is using it and working on it and know all things about mssql stuff.

[2016-08-01 12:55] niden commented on #1184
Microsoft SQL server support is in the same realm as Oracle. We do have some interest but it is very small. As a result, the Oracle adapter has been moved to the Incubator repository, and the same should happen to MSSQL.

Frankly none of us has the means to accurately test these adapters and automated testing will not work since Travis does not support these.

If you or anyone from the community w

[2016-08-01 13:02] nsossonko commented on #11998
Yes! So far so good, I will post full results of my tests later today. Great stuff, thanks guys!

[2016-08-01 13:04] Jurigag commented on #11998
@nsossonko well people have some weird problem with constructing di on windows

[2016-08-01 13:06] nsossonko commented on #11998
Not in my project, I am using a custom DI in one project and default DI (with some additions) in another, both no problem. I use $this (not the old use ($di)) for referencing the di, not sure if that matters.

[2016-08-01 13:07] Jurigag commented on #11998
No, they just have problem on something like this:

`$di = new Phalcon\Di\FactoryDefault(); // error here`

[2016-08-01 13:11] Rajeshr34 opened #12062 "[3.0.x] Unable to install on PHP 7"
PHP Version 7.0.8-4+deb.sury.org~wily+1
[code]
-------------------------------------------------------------------------------------------------------
Phalcon Install

[code]

[2016-08-01 13:14] Jurigag commented on #12062
Stop any service you have running(like mysql, apache, nginx and other things) or something other that is consuming your ram and try again. If it's not working try to give your vps/vm more ram, if you can't try to enable swap for instance and try again, if you can't enable swap then wait for ppa i guess.

[2016-08-01 13:18] ReDev1L commented on #12060
done

[2016-08-01 13:18] #12060 closed

[2016-08-01 14:02] nsossonko commented on #11998
There's a memory leak issue on PHP 7, not sure what it is at this point, but my task runner is leaking memory continuously (and eventually dies from memory exhaustion). Problem did not occur on PHP 5.6 + Phalcon 2.1.x.

[2016-08-01 14:03] JCMais commented on #12025
My suggestion is to deprecate and remove support for php 5.5 now, and support php 5.6 until their active support ends, at the end of this year.  There are no motives to support a php version that has hit their EOL, if people are still using it, they are the ones to be blamed, and should upgrade.

[2016-08-01 14:04] Jurigag commented on #11998
Yes, it's known, probably some model realted stuff, it happens on big resultsets.

[2016-08-01 14:05] nsossonko commented on #11998
Is there an issue #? Is there a way to manually work around the issue?

[2016-08-01 14:08] Jurigag commented on #11998
I don't think there is an issue. If you want to make it though you surely need to report it with some log from mem software analyzing stuff(like valgrind on linux).

[2016-08-01 15:47] sergeyklay commented on #12051
Fixed in the `3.0.x` branch.

[2016-08-01 15:47] #12051 closed

[2016-08-01 15:51] vadim-job-hg opened #12065 "Fatal error: Uncaught Error: Access to undeclared static property: Phalcon\Di::$_default"
Error:

The error appeared after migrating from phalcon 2.1.0 RC 1 on php 5.6 to phalcon 3.0.0 on Php-7

The system: Windows 10
Server: Open Server
PhpVersion: Php-7-x64
PhalconVersion: 3.0.0

Reproduce:
Open the page, that making curl request to remote server, go to other page => got fatal error. Update page => no fatal error.

The error appeared in public/index.php

[code]

also see
https://foru

[2016-08-01 15:54] Jurigag commented on #12065
Duplicate of https://github.com/phalcon/cphalcon/issues/12056

[2016-08-01 16:08] #12065 closed

[2016-08-01 18:01] Akhundzade opened #12067 "Phalcon 3 Mongo support"
Any chance to having mongodb driver support in ODM/Cache/etc for Phalcon3/PHP7 soon?

[2016-08-01 19:24] sergeyklay commented on #12035
@CodeBanBan Could you please provide table schema?

[2016-08-01 19:25] sergeyklay commented on #12067
https://github.com/phalcon/cphalcon/issues/11156
https://github.com/phalcon/incubator/tree/master/Library/Phalcon/Db/Adapter

[2016-08-01 19:25] #12067 closed

[2016-08-01 21:51] stamster commented on #12056
Yet another Window$ dev environment with strange behaviour.

I wouldn't consider this as a bug unless the issue can be reproduced on production system (i.e. GNU/Linux).

IMHO,  just like Phalcon 3.0.0 has dropped support for Oracle RDBMS due to the noted reasons, same should have happened with DLL / Microsoft support.

[2016-08-01 21:52] andresgutierrez commented on #12056
@stamster why?

[2016-08-01 21:52] Jurigag commented on #12056
@stamster well, more interesting is that @Studentsov don't have this problem ? :D

[2016-08-02 02:31] Rajeshr34 commented on #12062
This CMD Worked For me.

sudo swapoff -a
sudo dd if=/dev/zero of=/swapfile bs=1M count=1024
sudo mkswap /swapfile
sudo swapon /swapfile

[2016-08-02 02:31] #12062 closed

[2016-08-02 06:41] Akhundzade commented on #12067
@sergeyklay Hi Sergey. Was nice to meet you last year on phpframeworkday in Kyiv :)
Unfortunately adapters above can not solve problem. We are using Cache/Backend/Mongo for our needs and getting error like this during any cache operation:

Line 116 is like this:
`$this->getDI()->get('cache')->get($key)`

And in DI

Couldn't find adapter for cache in incubator.
Issue with ODM solved, big thanks.

[2016-08-02 06:57] sergeyklay commented on #12067
@Akhundzade Could you please open an issue with script to reproduce at Incubator? I'll try to sort out.

[2016-08-02 07:11] Jurigag commented on #12062
Yea but remember to disable it, beacause it can slow down your system, but it depends on you.

[2016-08-02 07:59] CodeBanBan commented on #12035
@sergeyklay  thankyou

CREATE TABLE `package` (
  `reference_type_id` int(11) NOT NULL,
  `reference_id` int(10) unsigned NOT NULL,
  `title` varchar(100) COLLATE utf8_unicode_ci NOT NULL,
  `created` int(10) unsigned NOT NULL,
  `updated` int(10) unsigned NOT NULL,
  `deleted` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`reference_type_id`,`reference_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 CO

[2016-08-02 08:06] CrNix opened #12071 "Checks for multiple virtual foreign keys in a model"
Hi,
 I am reopening the issue for 3.0.x branch.

The problem was when model used more than one belongs to relations with virtual foreign keys. In some cases, when saving the model, check of the first virtual foreign key influences the check of other key. And instead of standard Phalcon message generated on the model, PDOException is thrown with error like this:
[code]
CREATE TABLE public.robot (

[2016-08-02 10:27] CrNix opened #12073 "Behaviour of Model::find[First] and Model::refresh()"
Hi,

I was just wondering... when you call `Model::refresh()`, this method tries to call an attribute setter if it exists (through `Model::_possibleSetter` nested in call to `Model::assign()`).

https://github.com/phalcon/cphalcon/blob/3.0.x/phalcon/mvc/model.zep#L488

[code]

https://github.com/phalcon/cphalcon/blob/3.0.x/phalcon/mvc/model.zep#L4188

[code]

But I couldn't find such behaviour whe

[2016-08-02 10:35] Akhundzada opened #12074 "Phalcon3/PHP7 Mongo Backend Cache support"
So we are having following code at services.php:

[code]

Then we are trying to use it in our trait:

[code]

And getting error at last string:

If I am changing Phalcon\Cache\Backend\**Mongo** to Phalcon\Cache\Backend\**Redis** or any other adapter everything works.

@sergeyklay

[2016-08-02 10:53] longfeiRen opened #12075 "Phalcon3 \Phalcon\Assets\Resource"
31 line is a bug?
** class $Resource**

[2016-08-02 10:55] #12075 closed

[2016-08-02 11:21] Jurigag commented on #12074
There is no mongoclient class for php 7, you need to use adapter from incubator, but as far as i know it's not working too.

[2016-08-02 11:23] Jurigag commented on #12075
Resource is just reserved word in zephir. And to escape it we need to put $ before it. But also in future resource possibly will need to be changed, beacause it's on soft reserved word of php.

[2016-08-02 11:23] Akhundzade commented on #12074
There is no adapter for mongo cache in incubator

[2016-08-02 11:25] Jurigag commented on #12074
Then someone needs to create it, just right now old phalcon class is using mongoclient class which is only in php 5.x. In php 7 mongo class was changed and phalcon classes needs to be rewrite.

[2016-08-02 19:15] sergeyklay commented on #10368
Fixed in the `3.0.x` branch.

[2016-08-02 19:15] #10368 closed

[2016-08-02 19:17] sergeyklay commented on #12035
Fixed in the `3.0.x` branch.

[2016-08-02 19:17] #12035 closed

[2016-08-02 19:33] sergeyklay commented on #11788
Fixed in the `3.0.x` branch.

[2016-08-02 19:33] #11788 closed

[2016-08-02 19:34] #12059 closed

[2016-08-02 23:02] sergeyklay commented on #11991
Fixed in the `3.0.x` branch.

[2016-08-02 23:02] #11991 closed

[2016-08-03 05:32] sergeyklay commented on #11171
@virgofx ping

[2016-08-03 05:36] sergeyklay commented on #11961
Fixed in the `3.0.x` branch.

[2016-08-03 05:36] #11961 closed

[2016-08-03 05:39] sergeyklay commented on #11963
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2016-08-03 05:39] #11963 closed

[2016-08-03 05:40] #11958 closed

[2016-08-03 05:40] #11956 closed

[2016-08-03 06:28] CrNix commented on #12071
Could you explain to me please or refer me to some description what is the difference between tests and unit-tests folders?

Also, where can I define the database tables for the test? Is it OK to add them to tests/_data/schemas/mysql/mysql.dump.sql?

[2016-08-03 10:31] foxvsky commented on #11464
use Phalcon\Mvc\Model;
use Phalcon\Validation;
use Phalcon\Validation\Validator\Email as EmailValidator;
use Phalcon\Validation\Validator\Uniqueness;

class Users extends Model
{
    public function validation()
    {
        $validator = new Validation();

        $validator->add(
            'email',
            new EmailValidator()
        );
       $validator->add(
            'email',

[2016-08-03 10:52] Studentsov commented on #12056
For example, I prefer to program in Windows because switching PHP versions, web servers and DBMS I make one click. Isn't that progress? :D
Seriously, I am aware of the possible differences of behaviour, so always spend additional testing on a production-like environment.
Error when using PHP 7 with Apache I have neither...

[2016-08-03 13:35] Jurigag commented on #12056
Studentsov - i make the same on linux:

[code]

Just phpbrew and proper script.

[2016-08-03 14:21] #10886 closed

[2016-08-03 14:21] nsossonko opened #12080 "Impossible to set relation after validation"
Because the _related array is copied to a local variable before any of the validation events are run in save (here: https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L2848) it is impossible to set relations past that point, even though record saving is done later (for hasMany relations, obviously for belongsTo relations it must be done before the primary record is saved so this

[2016-08-03 15:14] fishjerky commented on #1184
playing deaf...
by the way, @Jurigag!  i'm still using phalcon ....  1.3....

[2016-08-03 17:30] Jurigag commented on #1184
So maybe it's time to update it ? :D It will be never added to 1.3 since it's dropped like few years ago, you know this right ? Then you can write adapter in zephir. What you mean deaf ? We just don't know mssql, every sql engine has their "things" which can be diffrent from other. Probably no one in dev team know mssql, so why we should start making mssql adapter ? Better someone who already know

[2016-08-03 18:34] sergeyklay opened #12082 "Rename Phalcon\Assets\Resource"
I suggest to rename `Resource`, beacause it's on soft reserved word of PHP.

---

To rename:
- [x] `Phalcon\Assets\Resource`  (`Phalcon\Assets\Asset`)
- [x] `Phalcon\Assets\Resource\Css` (`Phalcon\Assets\Asset\Css`)
- [x] `Phalcon\Assets\Resource\Js` (`Phalcon\Assets\Asset\Js`)

[2016-08-03 19:39] Jurigag commented on #12082
ResourceAware and ResourceInterface don't need renaming though.

[2016-08-03 19:49] sergeyklay commented on #12082
I think this is similar to what is nonsense
[code]

May better naming is
[code]

About ResourceAware:
The `Phalcon\Acl\Resource` is soft implements `ResourceAware`

[2016-08-03 19:53] Jurigag commented on #12082
No it's not similar, read my comment. Right now you can using ResourceAware like this:

[code]

[code]

Only one solution is to simplify ResourceInterface as hard is it can be and change method names.

[2016-08-03 20:00] sergeyklay commented on #11959
Fixed in the `3.0.x` branch.

[2016-08-03 20:00] #11959 closed

[2016-08-03 20:08] iugostudio opened #12085 "Type of "validation" variable checked twice in Phalcon\Validation on line 171 and 175"
In Phalcon\Validation class duplicated code on lines 171 - 177.
`if typeof validator != "object" {
    throw new Exception("One of the validators is not valid");
}`

https://github.com/phalcon/cphalcon/blob/3.0.x/phalcon/validation.zep#L171

[2016-08-03 20:11] sergeyklay commented on #12085
Good catch

[2016-08-03 20:12] Jurigag commented on #12085
About this - we could possibly do a method https://github.com/phalcon/cphalcon/blob/3.0.x/phalcon/validation.zep#L132 beacause in those loops is done the same thing.

[2016-08-03 20:20] sergeyklay commented on #12085
Fixed in the `3.0.x` branch.

[2016-08-03 20:20] #12085 closed

[2016-08-03 22:02] #12001 closed

[2016-08-03 22:42] sergeyklay commented on #12050
Fixed in the `3.0.x` branch.

[2016-08-03 22:42] #12050 closed

[2016-08-04 02:32] galki commented on #11934
+1

[2016-08-04 05:34] sergeyklay commented on #11943
@dschissler May be closed?

[2016-08-04 05:58] Jurigag commented on #11934
You sure it's loaded ? Check phpinfo.

[2016-08-04 06:55] galki commented on #11934
That solved it, thank you. I was loading it in the wrong order.

[2016-08-04 07:57] #11943 closed

[2016-08-04 07:58] dschissler commented on #11943
It always was setup to be able to work with offline usage.  We just need to make it easier from them to grab the resources.

[2016-08-04 09:42] auricurvy commented on #11082
It's there any update regarding this request?

I think it's ass important as removing an element from the form.

Thanks.

[2016-08-04 12:20] arthurgermano commented on #12008
This is a sad day... I really enjoy phalcon and I am building a new project using it.. So far so good. I have started in april.. and now.. I have this devastating news.. =(
I will have to rewrite all of it or worse abandon phalcon and go back to cake or other framework that supports oracle =(

Despite oracle hasn't a large number of followers.. there is some will be affected in a very bad way.. =(

[2016-08-04 12:23] rudiservo opened #12089 "Model::validate getRelated"
Issue with validate if the Model has a property named 'related'.

it tries to run the getValue() method looking for a method of the propertie getRelated() that already exists in the Model Class.

Solution may pass by putting a changing the Model class function to _getRelated();

(thanks to @Jurigag that figured out the issue).

[code]

[code]
### Details
- Phalcon version: 3

[2016-08-04 12:26] Jurigag commented on #12008
There is still adapter in incubator.

[2016-08-04 13:46] andresgutierrez commented on #12008
You can still use Oracle from the Incubator: https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Db/Adapter/Pdo/Oracle.php

[2016-08-04 13:53] andresgutierrez commented on #12089
You can rename that column using: https://docs.phalconphp.com/en/latest/reference/models.html#independent-column-mapping

[2016-08-04 14:24] rudiservo commented on #12089
@andresgutierrez Thank you

[2016-08-04 15:36] DorianSam commented on #12032
actulal for version 3.0x

[2016-08-04 15:58] Jurigag commented on #12089
How you want to fix this in 3.0.1 ? Change validate method somehow to not use getters ? Or to check somehow if it's method from `Phalcon\Mvc\Model` ? @sergeyklay

[2016-08-04 19:56] Brade opened #12090 "multiple field Uniqueness validation in 3.0.0"
I've read thru issues #11807, #11173, and #11826 and I still don't think multi-field Uniqueness validation is working as expected. I am using the new version 3. Here is my code in the model file:

`

    public function validation()
    {
        $validator = new Validation();
        $validator->add('provider_id', new PresenceOf(['model' => $this, 'message' => 'Provider is required.']));

[2016-08-04 22:28] Jurigag commented on #12090
Post your table and content of it ? You don't need to add `model` => $this in validators if it's done on model.

[2016-08-04 22:54] Jurigag commented on #12090
On phalcon_test table:

[code]

[code]

[2016-08-04 23:06] Jurigag commented on #12090
Also you are telling that presence of is working. So im guessing that you have messages from presnce of ? Then obviously uniqueness is checking on nulls - you sure you have null values in table for those columns ?

[2016-08-04 23:27] nsossonko commented on #12080
[code]

(In pseudo-ish code)

[2016-08-04 23:39] tugrul opened #12091 "Column Mapping PHQL Result"
Problem looks like here:

https://github.com/phalcon/cphalcon/blob/5372ac7972218b10fd9f08027a7718ea10f191b5/phalcon/mvc/model/resultset/simple.zep#L111-L133
https://github.com/phalcon/cphalcon/blob/5372ac7972218b10fd9f08027a7718ea10f191b5/phalcon/mvc/model.zep#L534

[code]

[code]

$di->modelsManager->executeQuery($query);
### Details
- Phalcon version: 2.0.9
- PHP Version: 5.6.23-0+deb8u1
- Opera

[2016-08-04 23:56] Jurigag commented on #12091
Try to update phalcon to 2.0.13 or 3 ?

[2016-08-05 00:06] hartjo opened #12092 "502 Bad Gateway in $app->mount()"
how to catch controller error and return exception i only got 502 bad gateway if i put intended error on my controller and no response. In php56 and phalcon 2.0.x is working find but in PHP7 and Phalcon 3.0 i got 502 bad gateway please help thanks

[code]

in php56 and phalcon2.0.x working find

![screen shot 2016-08-05 at 8 04 08 am](https://cloud.githubusercontent.com/assets/8595930/17422318/51a

[2016-08-05 04:32] sueunjihyun61 opened #12093 "월드카지노≤^.^≥ ＳＬＯＴ８７。ⅭＯℳ ≤^.^≥바카라카지노"
월드카지노≤^.^≥ ＳＬＯＴ８７。ⅭＯℳ ≤^.^≥바카라카지노 ✿카지노바카라월드카지노≤^.^≥ ＳＬＯＴ８７。ⅭＯℳ ≤^.^≥바카라카지노 ✿카지노바카라월드카지노≤^.^≥ ＳＬＯＴ８７。ⅭＯℳ ≤^.^≥바카라카지노 ✿카지노바카라월드카지노≤^.^≥ ＳＬＯＴ８７。ⅭＯℳ ≤^.^≥바카라카지노 ✿카지노바카라월드카지노≤^.^≥ ＳＬＯＴ８７。ⅭＯℳ ≤^.^≥바카라카지노 ✿카지노바카라월드카지노≤^.^≥ ＳＬＯＴ８７。ⅭＯℳ ≤^.^≥바카라카지노 ✿카지노바카라월드카지노≤^.^≥ ＳＬＯＴ８７。ⅭＯℳ ≤^.^≥바카라카지노 ✿카지노바카라월드카지노≤^.^≥ ＳＬＯＴ８７。ⅭＯℳ ≤^.^≥바카라카지노 ✿카지노바카라

[2016-08-05 05:58] galki opened #12094 "Acl setNoArgumentsDefaultAction inconsistency"
I tried to use the _setNoArgumentsDefaultAction_ method in the **"Objects as role name and resource name"** example of the [documentation ](https://docs.phalconphp.com/en/latest/reference/acl.html) but it didn't work. Is this a feature or a bug?

[2016-08-05 06:03] sergeyklay commented on #12091
The 2.0.x branch is not longer supported. Could you please try to test 3.0.0?

[2016-08-05 07:48] Jurigag commented on #12094
Post script to reproduce.

[2016-08-05 07:53] Jurigag commented on #12092
502 bad gateway means that your php handler ended unexpectedly. There is probably seg fault generated(check logs) if yes - provide gdb stack reading this - https://bugs.php.net/bugs-generating-backtrace.php

[2016-08-05 07:55] sergeyklay commented on #2872
@dschissler

[2016-08-05 07:58] sergeyklay commented on #10745
@leoangel Could you please try the `master` branch?

[2016-08-05 08:04] dschissler commented on #2872
So just so that I'm sure of it the "use a closure" solution is the same as my `lamda` solution?  I've had this working for a few years now with `$voltService = function($view) { ` ...

[2016-08-05 08:05] galki commented on #12094
I must have misread the error for
`$acl->allow('guest', 'index', 'get', 'a_function_that_does_not_exist');`
Really sorry for wasting your time.

[2016-08-05 08:05] #12094 closed

[2016-08-05 08:07] Jurigag commented on #12094
Oh, no problem, i will add test anyway.

[2016-08-05 09:19] davihu opened #12096 "Error with column map under PHP 7.0"
Hi, found a bug under Phalcon 3.0.0 and PHP 7.0

When I enable dynamic updates in model

[code]

An error with column map appears, work fine under PHP 5.6 or when I disable it under PHP 7.0. I am not using any columns mappings and model attributes = database columns including case.

[code]

[2016-08-05 10:40] tugrul commented on #12091
@sergeyklay same issue on 3.0.0

[2016-08-05 11:04] Dimous commented on #10938
Oy vey! Feature #10938 is still not merged!

[2016-08-05 11:18] sergeyklay commented on #10938
It may be part of 3.1.0

[2016-08-05 11:56] dschissler commented on #2872
Perhaps we could solve this with just a little bit of convention changes in our documentation and example projects?

When we make our normal views:

[code]

[code]

[2016-08-05 12:56] mate01988 opened #12097 "Error: Phalcon\Mvc\Model\Validator\StringLength does not implement Phalcon\ValidationInterface"
Argument 1 passed to Phalcon\Mvc\Model::validate() must implement interface Phalcon\ValidationInterface, instance of Phalcon\Mvc\Model\Validator\StringLength

[2016-08-05 12:57] Jurigag commented on #12097
Check blog post about new validation.

[2016-08-05 13:13] mate01988 commented on #12097
I have that same problem:

Catchable fatal error: Argument 2 passed to Phalcon\Validation::add() must implement interface Phalcon\Validation\ValidatorInterface, instance of Phalcon\Mvc\Model\Validator\PresenceOf

[2016-08-05 13:39] Jurigag commented on #12097
You need to use `Phalcon\Validation\Validator\PresenceOf`, not `Phalcon\Mvc\Model\Valiadtor\Presence of` etc

[2016-08-05 13:51] sergeyklay opened #12098 "Remove deprecated code"
- [x] Remove `Phalcon\Mvc\Model\Criteria::order` in favor of `Phalcon\Mvc\Model\Criteria::orderBy`
- [ ] Remove `Phalcon\Mvc\Model\Validator\*` in favor of `Phalcon\Validation\Validator\*`
- [ ] Remove `Phalcon\Cache\Backend\Memcache` in favor of `Phalcon\Cache\Backend\Libmemcached`
- [ ] Remove `Phalcon\Session\Adapter\Memcache` in favor of `Phalcon\Session\Adapter\Libmemcached`
- [x] Remove `Pha

[2016-08-05 13:56] Jurigag commented on #12098
I just wonder why we didn't did it in 3.0.0 already.

[2016-08-05 13:57] sergeyklay commented on #12098
We just deprecated it in 3.0.0, but not removed

[2016-08-05 14:17] stevendesu commented on #11934
+1 for APCu support

I'll be honest: I haven't fully done my research on this one. I did a bit of Googling for "PHP in-memory caches" and saw that my options were memcached and APCu, and reading up on the two it sounds like memcached is better for distributed environments or setups where more than PHP needs to read the cache, but if it's just PHP one a single server APCu is supposedly more perform

[2016-08-05 14:18] sergeyklay commented on #11934
See https://pear.php.net/bugs/bug.php?id=21007

[2016-08-05 14:20] Jurigag commented on #11934
@stevendesu

Extensions are loaded only on startup, apcu_bc is like a few kb of memory usage, and it has almost none bloat beacause it's just calling apcu functions.

[2016-08-05 19:53] Brade commented on #12090
Okay, I tried several scenarios (creating vs updating) with your code example and they all worked. So then I realized that my code also has a beforeSave rule like so:

`
    public function beforeSave()
    {
        $this->date_applied = date('Y-m-d', strtotime($this->date_applied));
    }
`

I do this because my form field has a more typical date format of m/d/Y, so my theory is that Phalcon is

[2016-08-05 21:29] Jurigag commented on #12090
Yes, beacause you actually need to use beforeValidationOnSave. beforeSave is fired afet validation.

[2016-08-05 21:38] Studentsov opened #12099 "Phalcon\Tag::resetInput() is not work"
Code:
[code]
output:
`array(2) { ["a"]=> string(1) "1" ["b"]=> string(1) "2" } `

Phalcon 3.0.0
OS Windows 10, PHP 7.0.8 x64
OS CentOS 7, PHP 7.0.9 x64

This problem breaks clean forms.
I found an old message: http://stackoverflow.com/questions/37365130/how-to-clear-phalcon-form-element-values, so I think the problem is not new.

[2016-08-05 22:32] Brade commented on #12090
Great, that fixed all my issues. Thanks!

[2016-08-06 09:17] makerlabs commented on #12056
http://stackoverflow.com/questions/38235349/fatal-error-access-to-undeclared-static-property-phalcon-di-default-pub
https://github.com/owncloud/core/issues/22370
Definitely something not related to the framework but the PHP or PHP setup I guess

[2016-08-06 18:59] stamster commented on #12097
At least provide Phalcon version you're using.

[2016-08-06 19:28] Jurigag commented on #12097
3.0 obviously.

[2016-08-07 10:03] escribiendocodigo opened #12104 "[bug] Model::query No Binding"
Hi,

When using query() method  bind in the parameters in PersonasModel no longer get a result.

### No Binding

[code]

[code]
### Details

* Phalcon version: 3.0.0
* PHP Version: 5.5.9
* Operating System: Elementary OS 0.3.2 Freya (Ubuntu 14.04)
* Installation type: installing via package manager
* Zephir version: 0.9.3a-dev-e716dbe641
* Server: Apache
* Database: MySQL

[2016-08-07 10:25] Jurigag commented on #12104
Try to :

[code]

[2016-08-07 14:26] andresgutierrez commented on #12104
It does not work like that, you have to use:

"Like :q:" and pass ['bind' => '%' . $q . '%']

The parser wouldn't be able to detect the placeholder if it is placed within a string

[2016-08-07 14:28] ralrom commented on #12097
I was having the same issue. In addition to using Phalcon\Validation\Validator classes, you must also rewrite your model's validation method.

Old validation (doesn't work on Phalcon 3):
[code]

New validation:
[code]

[2016-08-07 18:29] dschissler opened #12105 "[3.x] [NFR] - Add Base 62 to Phalcon\Security\Random"
Base62 is nice because it is the largest value that can safely be used in URLs without needing to take extra characters into consideration because it is [A-Za-z0-9].

[2016-08-07 22:37] codeaid opened #12106 "Validator option to skip all validation if field is not present"
## Problem

Currently there is no way to completely skip validation if a field has not been passed as part of an array into the `validate()` method. There was a similar issue submitted for this type of problem (#11597), however, the suggestion to use `allowEmpty` given in it doesn't really solve the problem.

In my current scenario data is coming from an API endpoint, meaning not all fields are be

[2016-08-08 02:12] galki opened #12107 "Strange animation in DI documentation"
There is a strange div animation midway in the [DI documentation](https://docs.phalconphp.com/en/latest/reference/di.html)

[2016-08-08 03:00] tugrul opened #12108 "Phalcon 3.0.0 - Segmentation Fault"
### Test

Don't forget replace underscores to slashes of view file names.
https://gist.github.com/tugrul/a69cd0004b8347bfdc37a17ef4cd1af6
### Coredump

https://we.tl/a5gpcNasw5
### Backtrace

[code]
### Details
- Phalcon version: 3.0.0
- PHP Version: 5.6.24-0+deb8u1
- Operating System: Debian 8
- Installation type: Compiling from source
- Zephir version (if any): 0.9.3a-dev-e716dbe641
- Server: Ng

[2016-08-08 03:07] andresgutierrez commented on #12108
Not happening in php7, probably a php5 only issue

[2016-08-08 05:09] iankitpundir commented on #12107
Actually this is what phalcon document want to say.

OBJECT¶
This type expects an object. Due to the fact that object does not need to be resolved as it is already an object, one could say that it is not really a dependency injection, however it is useful if you want to force the returned dependency to always be the same object/value:

[code]

This is in div with id "object" somehow,i don't know w

[2016-08-08 07:29] kowach opened #12109 "Cache Backend increment/decrement bug"
There is a bug in all cache backends that use their internal functions (for example apc_inc). The value that is incremented or decremented must be stored as int, but all frontends use serialization. If you serialize value it becomes some sort of string and then inc/dec fails.

[code]

The solution would be to check if frontend uses serialization then don't use internal functions (you loose atomic

[2016-08-08 13:37] tugrul commented on #12108
@andresgutierrez I have not been tested in php7. So branch 2.1.x have segfault in php5. I'm rolled back to branch 2.0.x.

[2016-08-08 14:34] andresgutierrez commented on #12108
Confirmed that is segfaulting in php5 (5.5 and 5.6)

[2016-08-08 16:26] 3078825 opened #12110 "Fatal error: Uncaught Error: Access to undeclared static property: Phalcon\Di::$_default"
[code]

[code]
### Details

* Phalcon version:3.0.0
* PHP Version:7.0.7
* Operating System:Windows 10 / Apache 2.4 x64 (php7_module) / PHP 7.07 x64
* Installation type:phalcon_x64_vc14_php7.0.0_3.0.0_nts.zip
* Server: Apache

[2016-08-08 20:37] Dublerq commented on #12110
What's the point of `use Phalcon\Di\FactoryDefault;` if you use `$di = new \Phalcon\DI\FactoryDefault();` ?

Nevertheless DI\FactoryDefault is designed to be created only once. I suspect that you might have created another FactoryDefault instance before, and you're trying to make another one.

[2016-08-08 21:23] Dublerq opened #12111 "Having in query builder breaks total pages and total items of paginator"
Using `having` of a query builder forces it's paginator to show total pages and total items as if there was no `having` set.
Issue confirmed in 2.1.x and 3.0.0 on windows 7, php 5.6

How to reproduce:
/bootstrap.php

[code]

/model/a.php:

[code]

sql database dump:

[code]

Expected result:
![image](https://cloud.githubusercontent.com/assets/13312449/17496767/ff78dd64-5dbe-11e6-9e2a-b87d1334bda3.

[2016-08-08 21:32] #12090 closed

[2016-08-08 21:56] sergeyklay commented on #12110
https://github.com/phalcon/cphalcon/issues/12056

[2016-08-08 21:56] #12110 closed

[2016-08-09 01:50] leupom opened #12113 "Db Schema missing when update using PHQL or SQL in Phalcon 3.0"
Hi, I'm a developer from China ;-) English is a little bad.

**Bug Sample:**
MySQL connection

[code]

There are two db, db1 and db2, when i use this code to update a row in db2:

[code]

Then occur an error:

[code]

This bug also encountered in PHQL when UPDATE model directly, not through findFirst way.

[2016-08-09 09:28] tugrul commented on #12108
I didn't see this error in php 7.0.9

valgrind leak check php 5.6:
[code]

[2016-08-09 11:40] stamster commented on #12107
I also did noticed this odd animation. :) Front-end is just not straight these days :)

[2016-08-09 16:31] codeaid commented on #12106
Just a quick idea - I'm personally not a fan of the name "ignoreMissing". It was the best I could come up at the time, but it probably doesn't semantically represent the state. Missing implies that the field is expected but for some reason is not present.

Maybe "ignoreAbsent" would be a better name (even though I've not really seen the word "absent" being used much in the programming world)? It c

[2016-08-10 05:58] sergeyklay commented on #2648
@Jurigag Could you please to sort out with this?

[2016-08-10 05:58] #10479 closed

[2016-08-10 06:04] Jurigag commented on #2648
You mean this is still happening ? Will look int othis when have time.

[2016-08-10 06:18] sergeyklay commented on #2648
@Jurigag I don't know. At least need to test

[2016-08-10 06:37] sunil-jhamnani opened #12114 "Version '2.0.*' for 'php5-phalcon' was not found"
### Describe what you are trying to achieve and what goes wrong.
I have the command **_apt-get install -y php5-phalcon=2.0.*_** in my dockerfile to install phalcon. Earlier it was running fine but now its giving me this error.
I tried to upgrade the phalcon version to the latest one but this indeed is giving me the validation errors in the model class.

Is there any way I can use this version of p

[2016-08-10 07:55] sergeyklay commented on #12114
https://launchpad.net/~phalcon/+archive/ubuntu/stable/+build/9780005/+files/php5-phalcon_2.0.13-ppa1~trusty_i386.deb

https://launchpad.net/~phalcon/+archive/ubuntu/stable/+build/9780004/+files/php5-phalcon_2.0.13-ppa1~trusty_amd64.deb

[2016-08-10 08:25] macnux opened #12115 "phalcon takes 38 seconds while laravel takes 2.5 seconds"
i try to load 41000 records from databaase using laravel 5.2 and phalcon 3 as a test

on phalcon i wrote

[code]

on laravel i wrote

[code]

phalcon takes 38 seconds to finsih loading while laravel takes 3 seconds only !!

why this big diffrerence ?

* Phalcon version: 3
* PHP Version:5.5
* Operating System:windows 8.1
* Installation type: via package manager
* Server: Apache

[2016-08-10 09:09] sunil-jhamnani commented on #12114
Hi @sergeyklay,

What would be the command if I have to install it via apt-get from terminal?

[2016-08-10 09:22] sergeyklay commented on #12115
Could you please provide model?

[2016-08-10 09:41] Jurigag commented on #12115
Adding alle properties to model should speed it up.

[2016-08-10 09:42] dimak08 opened #12116 "Memory leak on phalcon 3.0.0 and php 7.0"
Memory leak (?) on phalcon 3.0.0 and php 7.0 when using relations between models.

[code]

* Phalcon version: 3.0.0
* PHP Version: 7.0.9
* Operating System: Ubuntu 16.04
* Installation type: installing via package manager
* Server: Nginx + php-fpm

[code]

* Phalcon version: 3.0.0
* PHP Version: 5.5.9
* Operating System: Ubuntu 14.04
* Installation type: installing via package manager
* Server: Ng

[2016-08-10 09:45] Jurigag commented on #12116
Provide valgrind log please, beacause memory_get_usage() doesn't necessary mean memory leak - it can mean just bad internal phalcon code for php 7.

[2016-08-10 09:46] dimak08 commented on #12116
After adding all properties in model -- no more problems with memory.
https://github.com/phalcon/cphalcon/issues/12115#issuecomment-238816825

But why is no such problem in php 5?

[2016-08-10 09:50] Jurigag commented on #12116
Beacause as far as i know there is some memory leak in phalcon and php 7, it's known by @andresgutierrez but good that you created an issue

[2016-08-10 10:36] dimak08 commented on #12116
Sorry, I can't provide valgrind log (I can't install php with --enable-debug)
And code with problem:

[code]

[2016-08-10 10:40] Jurigag commented on #12116
Valgrind should still detect memory leaks, event without `--enable-debug`.

[2016-08-10 10:58] sunil-jhamnani commented on #12114
So I used the combination of wget and dpkg command and it worked.

Thanks @sergeyklay

[2016-08-10 10:58] #12114 closed

[2016-08-10 15:35] tugrul opened #12117 "PHQL Advanced Binding - Transparent SQL"
Parsing SQL is a little bit problematic approach.

Tokenization as format string is better and generic approach but this way needs to have new syntax to tokenize table and fields. Also needs to have a registry of schemas and tables.

I implemented this approach in my own private framework. I can share my design if going to be implemented in Phalcon.

[code]

[code]

[code]

[code]
### Details
- Ph

[2016-08-10 17:49] xerron opened #12118 "[3.0.0] Volt: Macro does not work!"
- Phalcon Micro
- View/Simple

service view:

[code]
route micro:

[code]

test volt:  system/index.volt

[code]
result:

[code]

[2016-08-10 18:12] sergeyklay commented on #12118
Could you please provide macros definition and the way in which you include it

[2016-08-10 18:22] Dublerq commented on #12111
@sergeyklay @Jurigag Can you check it, please? Maybe I am doing something wrong...

[2016-08-10 18:40] andresgutierrez commented on #12118
This statement is wrong:

[code]

If you want to call the macro you have to you use `do`:

[code]

or

[code]

[2016-08-10 19:03] Jurigag commented on #12111
Count is done BEFORE having clause.

[2016-08-10 19:42] igorsantos07 opened #12120 "Missing docs / API on some Validators"
It seems there's a bunch of Validator classes that are not mentioned in [2.0](https://docs.phalconphp.com/en/2.0.0/reference/validation.html#validators) nor [3.0](https://docs.phalconphp.com/en/latest/reference/validation.html#validators) docs or [API listings](https://docs.phalconphp.com/en/2.0.0/api/index.html)... I found them because I thought they must exist and tried to auto-complete on PHPSt

[2016-08-10 19:57] #12118 closed

[2016-08-10 20:00] sergeyklay commented on #12120
The `Phalcon\Mvc\Model\Validation` is now deprecated in favor of `Phalcon\Validation`
The functionality of both components is merged into one, allowing us to reduce the codebase while offering the same functionality as before.

**Old way:**
[code]

**New way:**
[code]

[2016-08-10 20:01] #12120 closed

[2016-08-10 20:45] sergeyklay commented on #12109
Fixed in the `3.0.x` branch.

[2016-08-10 20:45] #12109 closed

[2016-08-10 21:06] Dublerq commented on #12111
And IMHO it's a bug because SQL response is different than paginator expected result. You can use neither aliases nor SUM/COUNT... functions  in WHERE so having is the only way here and it must be working properly

[2016-08-10 21:56] Jurigag commented on #12111
What ? But you didnt do COUNT bro. You just did select. Check COUNT(*) on this query. It will return 3 :).

[2016-08-10 22:28] macnux commented on #12115
yes
Adding all properties to model should speed it up.
thanks

[2016-08-11 03:11] merlinyang521 opened #12125 "Model validate Error"
### Expected and Actual Behavior

[code]

[code]
### Details

* Phalcon version:3.0.0
* PHP Version:7.0.4
* Operating System: Mac
* Installation type: Compiling from source
* Zephir version (if any):
* Server: Nginx
* Other related info (Database, table schema):

[2016-08-11 04:16] duythien commented on #12125
Hello

In Phalcon version3 validate in Phalcon\Mvc\Model\Validation is now deprecated in favor of Phalcon\Validation

You can see https://blog.phalconphp.com/post/phalcon-3-0-0-released

[2016-08-11 04:55] Dublerq commented on #12111
Oh, right, you are right. I didn't know about it, sorry. But still, paginator is working differently than expected so it should be somehow improved. Do you have an idea how can we do it?

[2016-08-11 05:12] #12125 closed

[2016-08-11 05:17] sergeyklay commented on #12071
@CrNix The issue is still relevant?

[2016-08-11 05:21] sergeyklay commented on #11953
@serus22 Could you please explain a bit more, what kind of script you mean?

There are 4 ways to install Phalcon:

* `zephir build`
* Install via `build/install`
* `apt-get`
* Install from `ext/`

[2016-08-11 05:24] CrNix commented on #12071
Should be fine now. Sorry, thought the issue was closed automatically.

[2016-08-11 06:14] merlinyang521 opened #12126 "Model validate Error"
Expected and Actual Behavior

    Describe what you are trying to achieve and what goes wrong.

    Provide output if related. Provide coredump if any. Use https://github.com/phalcon/cphalcon/wiki/Generating-a-backtrace as reference

Uncaught TypeError: Argument 1 passed to Phalcon\Mvc\Model::validate() must implement
 interface Phalcon\ValidationInterface, instance of Phalcon\Validation\Validator

[2016-08-11 06:25] #12126 closed

[2016-08-11 12:55] dimak08 commented on #12116
@sergeyklay
Yes, I'm sure what I use Phalcon 3 + PHP 5.5
![2016-08-11 15 44 39](https://cloud.githubusercontent.com/assets/5196470/17588959/a8555a12-5fda-11e6-8e43-61f65d3dc73f.png)

@Jurigag
I compiled php 7.0 on another server and after start my script I got notices from php about memory leaks.

**index.php**
[code]

response:
[code]

zend_objects.c(162) is emalloc function in:
[code]

Valgrind:

[2016-08-11 13:05] Jurigag commented on #12116
Workaround for now is to add all properties to model as far as i know.

[2016-08-11 13:06] nsossonko commented on #12116
I had the same memory leak even with all properties defined in the model, so not sure it works for the memory leak

[2016-08-11 13:08] Jurigag commented on #12116
Well i forgot to add that you need to add them as public i guess.

[2016-08-11 13:09] sergeyklay commented on #12116
We'll try to fix is as soon as it possible

[2016-08-11 13:13] nsossonko commented on #12116
Well for me public properties is not an option as I need getters/setters under certain circumstances

[2016-08-11 13:14] Jurigag commented on #12116
@nsossonko Refresh page, if you have setters and getters then reflections shouldn't even be used at all.

[2016-08-11 13:16] nsossonko commented on #12116
Well I do have getters and setters...but still see the increase in memory. I'd be interested to hear what others are experiencing with this...

[2016-08-11 13:23] Jurigag commented on #12116
Then the root of this is somewhere else - you need to provide logs from valgrind or something else.

[2016-08-11 13:59] Jurigag commented on #12116
When i have setters so reflections are not hitted i don't have memory leak @nsossonko :

[code]

[code]

But when we check for to example 1000 then memory leak occurs, same as in OP.

[2016-08-11 20:24] sergeyklay commented on #11947
Fixed in the `3.0.x` branch.

[2016-08-11 20:24] #11947 closed

[2016-08-11 20:24] sergeyklay commented on #10676
Fixed in the `3.0.x` branch.

[2016-08-11 21:52] sergeyklay commented on #12107
Thanks fixed in the docs repo

[2016-08-11 21:52] #12107 closed

[2016-08-11 22:52] JCMais commented on #12115
@macnux what was the result with the modifications?

[2016-08-12 05:24] #11008 closed

[2016-08-12 05:31] sergeyklay commented on #12111
@Dublerq

What do you  suggest

[2016-08-12 05:32] #12097 closed

[2016-08-12 05:33] #12104 closed

[2016-08-12 05:35] sergeyklay commented on #11887
Refs: https://github.com/phalcon/cphalcon/issues/12098

[2016-08-12 05:37] #11901 closed

[2016-08-12 05:41] sergeyklay commented on #11879
@Hoet

[2016-08-12 05:52] Jurigag commented on #11997
Is it fixed ? bug exists on php 5.6.

[2016-08-12 06:14] Dublerq commented on #11997
And every higher than 5.6

[2016-08-12 06:17] Dublerq commented on #12111
Let's count really existing items of query result in php instead of SQL. It should help (It's a guess, I don't know)

[2016-08-12 13:57] Mo121Montazeri opened #12128 "After I validated form, model data changed"
After I validated form, model data changed

[code]

* Phalcon version: 2.0.10
* PHP Version: 5.6
* Operating System: OSX
* Server: Apache

[2016-08-12 15:30] igorsantos07 commented on #12120
Sorry @sergeyklay but it seems you didn't even read what I wrote. Deprecated or not, the documentation on a lot of validators **is still missing**, be it for 2.0 or 3.0.

Nonetheless, if 2.0 is going to be supported for some time, it must have documentation up there as well.

This is from 2.0 API Indice:
![screenshot_065](https://cloud.githubusercontent.com/assets/532299/17627599/2759451e-6088-11e

[2016-08-12 16:47] macnux commented on #12115
@JCMais  super super speed

[2016-08-12 17:02] sergeyklay commented on #12120
This is [docs](http://github.com/phalcon/docs) issue. Could you please create docs related issues in the appropriate repository?

[2016-08-12 19:20] virgofx opened #12129 "Phalcon Model::save() does not respect parameter data types with dynamic updates"
When comparing model records against values from the snapshot during dynamic updates, the constants got juggled such that comparisons were made against the database BIND type instead of the parameter data type.

The affected lines of code are here:
https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L2410-L2440
[code]

The `bindType` should be `dataType` where dataType is pulled

[2016-08-12 19:22] virgofx commented on #12129
I've confirmed with @andresgutierrez  that changing bindType to the models dataType from the metadata correctly fixes the issue.

[2016-08-12 20:30] virgofx commented on #12129
Thanks @andresgutierrez - Do we want to update `getChangedFields()` as well for consistency?

[2016-08-12 22:52] sergeyklay commented on #12129
@virgofx Could you please check the `3.0.x` branch?

[2016-08-12 22:53] sergeyklay commented on #12128
@Jurigag Could you please take a look?

[2016-08-12 22:55] #12092 closed

[2016-08-12 22:59] sergeyklay commented on #12117
@tugrul Could you please share the experience

[2016-08-12 23:02] sergeyklay commented on #12115
@macnux Could you please check the `3.0.x` branch now?

[2016-08-12 23:02] sergeyklay commented on #11995
@TrogWarZ Could you please check the `3.0.x` branch now?

[2016-08-12 23:03] sergeyklay commented on #12116
@dimak08 Could you please check the `3.0.x` branch now?

[2016-08-12 23:12] Jurigag commented on #12128
As far as i know i wasn't doing anything in validation for 2.0.x @sergeyklay

[2016-08-12 23:15] sergeyklay commented on #12128
@Mo121Montazeri Could you please try the `master` branch? The `2.0.x` branch no longer supported (even this is real issue).

[2016-08-12 23:16] Jurigag commented on #12128
Im not sure, but you just don't need to use it like this:

[code]

[2016-08-12 23:22] Jurigag commented on #12128
Actually this is happening beacause of how this is works, how logic is done - https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/forms/form.zep#L291

Just all values from database model are ovewritten be user data if you provided model. If you don't want such a thing but still have some certain values changed in form then perhaps change your code to this:

[code]

[2016-08-13 07:53] sergeyklay commented on #12000
@udarkness Could you please provide script to reproduce?

[2016-08-13 08:16] sergeyklay commented on #11900
https://github.com/phalcon/cphalcon/issues/12128

[2016-08-13 08:16] #11900 closed

[2016-08-13 08:16] #12128 closed

[2016-08-13 08:25] sergeyklay commented on #11827
@basilfx Could you  please try `master` branch?

[2016-08-13 08:29] sergeyklay commented on #11780
@wangshibiaoFlytiger Could you please provide script to reproduce? Provide the way in which do you write cookies. Phalcon, PHP, OS version

[2016-08-13 09:30] macnux commented on #12115
@sergeyklay it is fast also
but little more time.. just half miute or little more .. but it is ok

[2016-08-13 09:35] #12115 closed

[2016-08-13 09:44] #11286 closed

[2016-08-13 10:05] Izopi4a commented on #12111
i know its my PR, but still could be useful.

https://github.com/phalcon/cphalcon/pull/12041

@Dublerq change the file ( cphalcon/phalcon/paginator/adapter/querybuilder.zep ) like like its in the PR, before you compile phalcon, until 3.1 release ( when its gonna be merged ) and do it like in the tests provided / or in description.

[2016-08-13 10:45] Jurigag commented on #12111
But this WONT fix this @Izopi4a The only way is to do:

[code]

But phalcon dont support queries like this.

[2016-08-13 10:47] Jurigag commented on #12115
Well @macnux having properties will always speed up your application :)

[2016-08-13 12:59] tugrul commented on #12117
First step just tokenize extended SQL string, query schemas and models to registry using these tokens and replace tokens to regular table names using table and column maps.

## Registry

### DI Service: DB Connection
[code]

### DI Service: Model Manager
[code]

### Model Map
[code]

### Model
[code]

## Tokenizer

Should not alternative of the SQL. Just extend to SQL transparently. There are 3 co

[2016-08-13 15:45] basilfx commented on #11827
Will test this when I am back from holidays.

Shouldn't I test `3.0.x` instead of `master`?

[2016-08-13 16:44] sergeyklay commented on #11827
3.0.x

[2016-08-13 20:17] Jurigag commented on #12057
Were you trying what i posted many times - Adding getters and setters to models as well all properties to them ?

[2016-08-13 20:40] tembem commented on #12057
@Jurigag wew you're right. I add a new custom model with properties match with my resultset columns, and it's working now.

Maybe https://github.com/phalcon/cphalcon/pull/12131 solving a different problem?

[2016-08-13 20:43] Jurigag commented on #12057
But you checked this latest committ to 3.0.x ? Well the best could be if you could check valgrind for memory leaks with latest 3.0.x and post log from it here.

[2016-08-13 20:49] tembem commented on #12057
@Jurigag Yes, i checked this with latest commit. Built phalcon few hours ago. Commit 7fd54ba673705286d2679fd382a0773e283651a3 for fixed memory leak was there.

[2016-08-13 20:51] Jurigag commented on #12057
Well i guess i need to check this myself

[2016-08-13 21:07] Jurigag commented on #12057
For me there is no memory leak on this latest commit using phalcon_test and personnes table.

[code]

 Script to reproduce:

[code]

Can you post your script to reproduce and database ?

[2016-08-13 21:14] Jurigag commented on #12116
I checked and it's fine for me.

[2016-08-13 21:52] Jurigag commented on #11794
@tempcke can you check 3.0.x ?

[2016-08-13 22:23] sergeyklay commented on #11605
@dschissler

Could you please explain a bit more?

[2016-08-14 01:09] tembem commented on #12057
@Jurigag  Sorry, I don't know how to use valgrind, never use it before. I try to learn valgrind this weekend.

Could you please help test it with Postgresql and Phalcon\Mvc\Model\Resultset\Simple? Maybe something like:

[code]

Thank you for your time

[2016-08-14 03:20] xerron opened #12137 "Error in Doc: https://docs.phalconphp.com/en/latest/reference/di.html"
In the page:

 https://docs.phalconphp.com/en/latest/reference/di.html

error:

![seleccion_090](https://cloud.githubusercontent.com/assets/1724033/17646973/166f5ef6-61a4-11e6-9ad2-df69b8bd83a7.png)

[2016-08-14 05:53] dschissler commented on #11605
Some time ago in a 2.0.x Phalcon blog post it was announced that queries can now bind to arrays using the syntax that I used.  Then sometime in the 2.1.x development tree it broke.

I think that it should be clear what needs to be fixed here.  I can try it again with the latest code since it has been a while.  After this issue is fixed I will then create a low priority issue to work out the timing

[2016-08-14 05:56] dschissler commented on #11605
@sergeyklay My `Hats` test sets it up nicely to fail.  Perhaps Phalcon is missing a test for this array binding feature.

[2016-08-14 07:35] sergeyklay commented on #12057
It will always be bad. In any framework

[2016-08-14 07:37] sergeyklay commented on #12137
Fixed in https://github.com/phalcon/docs/pull/856

[2016-08-14 07:37] #12137 closed

[2016-08-14 08:19] tembem commented on #12057
@sergeyklay
That's only an example.

In my real sql example there were explicit columns and some several joins, which was ran nicely with 2.1.x, not 3.0.x, unless I add memory_limit. That's the point I think.

If you think there's no problem with phalcon. It's fine. I just report what I found and already close this issue by adding memory_limit and using plain pdo instead.

[2016-08-14 08:34] sergeyklay commented on #12057
@tembem Could you please

[2016-08-14 08:56] Jurigag commented on #12057
Make sure you are doing this on this working "sample", that there will be no out of memory. Eventually try to limit your query or something

@tembem :

1. Install valgrind using `apt-get install valgrind`
2. Disable your apache2/nginx
3. If you are using apache2 do `source /etc/apache2/envvars`
4. Do `valgrind -v --log-file=memleak.log --trace-children=yes --leak-check=full --read-var-info=yes --t

[2016-08-14 12:43] sergeyklay opened #12139 "Incorrect View::getActiveRenderPath behavior"
[code]

Refs: #11511

[2016-08-14 13:21] sergeyklay commented on #12139
Fixed in the `3.0.x` branch.

[2016-08-14 13:21] #12139 closed

[2016-08-14 15:20] AnonymousLab opened #12141 "\Phalcon\Security\Random:base64Safe() function has problem"
Class Phalcon\Security\Random

[code]

please look at this ↓↓↓

[code]

this->base64(len) is not include -, _ characters.

so base64Safe() is not include _, - characters.

i think ...

this->base64(len) -> change \, + to  _, -

after

preg_replace("#[^a-z0-9_=-]+#i", "", .....

thank you for reading.

[2016-08-14 15:26] Green-Cat commented on #12141
@sergeyklay

[2016-08-14 17:35] sergeyklay commented on #12129
@virgofx

[2016-08-14 19:11] Paradoxis opened #12142 "Calling settype on model properties breaks the model"
I recently upgraded my PHP server to 7.0 and added type enforcements in lots of my classes. Using the built in model event `afterFetch()` I forced my model to automatically change the type of certain fields after fetching a record using the built in PHP `settype` function.

This however, caused all of my models to break when calling any `save()` functions on existing methods. This is an example of

[2016-08-14 22:07] sergeyklay commented on #12142
@Paradoxis  The 2.x branch is not longer supported. Could you please try the `3.0.x` branch or `master`?

[2016-08-14 23:27] sergeyklay commented on #11995
@TrogWarZ

[2016-08-14 23:28] sergeyklay commented on #12116
@dimak08

[2016-08-15 02:04] phongvt3110 opened #12143 "can't run HMVC phalcon"
hi everyone,i downloaded HMVC phalcon from github and i ran it but i get this error after i ran composer install --no-dev command,i ran successfully phalcon framework with no HMVC but i want to try HMVC . The error i got below

[code]

Can anyone tell me how to fix this error or how to run HMVC phalcon , i don't know how to run Hello world HMVC phalcon . Thanks advance

[2016-08-15 06:46] alimo2 commented on #10332
Even in phalcon 3.0.0 & php7 the same problem exists! no way can fix it?

[2016-08-15 08:13] Paradoxis commented on #12142
@sergeyklay Just upgraded to Phalcon 3.0.0, sadly the problem still persists

[2016-08-15 08:58] dimak08 commented on #12116
Hi @sergeyklay

Thanks,
Problem described below is resolved.

But I have another problem with memory.

[code]

php 5.5 + phalcon 3.0 from apt repository:
[code]

php 7.0.9 + phalcon 3.0 from git (branch 3.0.x commit 649f35c9b7225b8110fd8d1e27d32434e576e058):
[code]

Adding/removing getter/setters/properties = nothing changes.

My mega slow server very long compile new version from sources for valg

[2016-08-15 09:22] Jurigag commented on #12116
You don't need to compile phalcon/php from soruces for using with valgrind. It should work as it is. Just there will be more information in log or php will detect memory leaks itself.

[2016-08-15 09:56] tembem commented on #12057
@sergeyklay okay, will do
@Jurigag I'm using apt php7, should I reconfigure --enable-debug for using valgrind and php?

[2016-08-15 10:01] Jurigag commented on #12057
@tembem don't need to do this.

[2016-08-15 10:19] dimak08 commented on #12116
@Jurigag
My default server have some problems with valgrind (I do not know what, just crash after run).
I have another server to to run valgrind (need recompile again).

[valgrind-php.txt](https://github.com/phalcon/cphalcon/files/417853/valgrind-php.txt)

Valgrind says that no memory leaks.

[2016-08-15 10:22] sergeyklay commented on #12116
@dimak08 Hello. Thanks for answering. It seems to me this is another issue. Could you please open new issue with script to reproduce (model, table schema and this ^ test)?

[2016-08-15 10:24] dimak08 commented on #12116
Ok, thanks

[2016-08-15 10:24] #12116 closed

[2016-08-15 11:21] dimak08 opened #12144 "Model::find memory problem in Phalcon 3.0 and PHP 7"
The cyclic Model::find()/Model::findFirst() call produce a memory problem.

Test PHP code:
[code]

### PHP 7.0
* Phalcon version: 3.0.0
* PHP Version: 7.0.9
* Operating System: Ubuntu 16.04
* Installation type: Compiling from source (branch 3.0.x commit 649f35c9b7225b8110fd8d1e27d32434e576e058)
* Server: run in console

result:
[code]

### PHP 5.5
* Phalcon version: 3.0.0
* PHP Version: 5.5.9
* Op

[2016-08-15 11:23] Jurigag commented on #12144
This is not memory leak as it is. If it would be then valgrind would show anything :)

[2016-08-15 11:31] Jurigag commented on #12144
Okay. There is some problem with phql internal cache(but it shouldn't work i think on php 7, maybe make it working properly @andresgutierrez ?) After adding after findfirst:

[code]

It works fine.

[2016-08-15 11:59] Jurigag commented on #12057
Checked this on postgresql, no problem with personnes table and Personnes model from phalcon which has 2180 records.

[2016-08-15 13:24] virgofx commented on #12129
Rebuilding against 3.0.x now to confirm.

[2016-08-15 13:40] tembem commented on #12057
@Jurigag @sergeyklay Sorry, I can't run valgrind work, it's always crash :(

Interesting that https://github.com/phalcon/cphalcon/issues/12144 that happens to me as well! Maybe root of the problems is same. I create sample:

[code]

PHP-7.0 + Phalcon-3.0.x 649f35c9b7225b8110fd8d1e27d32434e576e058 (without define all columns)
[code]

PHP-5.6 + Phalcon-2.1.x 95ef0db89780b592232885a836b6f1bba874af25

[2016-08-15 13:40] #12057 closed

[2016-08-15 13:42] tembem commented on #12057
I think I better close this issues, and keeping my eyes on https://github.com/phalcon/cphalcon/issues/12144

[2016-08-15 13:50] Jurigag commented on #12057
Are you sure for 100% you compiled latest phalcon ? I don't have issue which you are posting and #12144 is other issue.

[2016-08-15 13:59] tembem commented on #12057
Yes. I'm sure. Latest commit 649f35c9b7225b8110fd8d1e27d32434e576e058.

It's weird. Have you tried my sample code?

[2016-08-15 13:59] Jurigag commented on #12057
But it's the same sample code, just different table.

[2016-08-15 14:18] tembem commented on #12057
oh my bad

I built using
[code]
Thank you from mentioning this. I'll try again.

[2016-08-15 14:37] tembem commented on #12057
@Jurigag you're right. Using zephir build for latest phalcon. Problem is solved

Thanks a lot

[2016-08-15 15:01] virgofx commented on #12129
Appears to not work still. Diving in to see exactly differences between codeblock used to verify fix with andres and this one. Will update later today.

[2016-08-15 15:17] virgofx commented on #12129
Works when building with latest Zephir. Most likely as result of the corresponding type fixes with Andres change in phalcon/zephir - #5809a0f543442cdf29c8e5561b2f26ff8c0f9fe7.

@sergeyklay Can you update Zephir to latest in 3.0.x branch and I'll re-test?

[2016-08-15 17:20] igorsantos07 commented on #12120
Oh well, I didn't know there was a separate repository for that. That doesn't seem to be pointed out in the docs page, neither in the project's readme / issue template. Thanks for pointing out, anyway.

[2016-08-15 19:13] Paradoxis commented on #12142
@sergeyklay Tested on Phalcon 3.0.0, issue still persists

[2016-08-15 20:56] sergeyklay commented on #12142
**`phalcon.ini`**
[code]

Using that feature introduced in [2.0.4](https://github.com/phalcon/blog/blob/master/data/posts/2015/07/2015-07-07-phalcon-2-0-4-released.md) you don’t have to change types manually.

[2016-08-16 04:28] pfz opened #12147 "Model castOnHydrate and useDynamicUpdate can't be used simultaneously"
My purpose is to get a configuration for a coherent type cast/bind in the ORM, while being able to use snapshots in models (and dynamic update). For instance, I have less (none) rounding problems when mysql driver delivers a float instead of a string php has to parse very carefully.

But neither `PDO::ATTR_EMULATE_PREPARES` to false, nor `castOnHydrate` work is this configuration (models using BIT

[2016-08-16 04:57] TrogWarZ commented on #11995
@sergeyklay, just installed `3.0.0` version and see broken changes. Will fix and check this today.

[2016-08-16 12:53] udarkness commented on #12000
Sure, create a new project with the phalcon tools,
add this to the index controller:

[code]

Add the modelCache for redis:
[code]
Create a dummy table/model `Site`, add a record in the DB and this in the model

[code]

Run once and it is flawless, even the hasChanged works fine if you modify or not.
Run again, and kaput! you will get
[code]

The solution sounds easy, I don't know if the implement

[2016-08-16 15:52] andresgutierrez commented on #12129
@virgofx We don't have to update Zephir in Phalcon, it always uses the latest one

I'll uploaded the code generated by Zephir

[2016-08-16 18:39] virgofx commented on #12129
Confirm fixed with:
* Installing 3.0.x via `/ext`
* Installing with latest Zephir build

The `/build/install` doesn't have updated generated files so not fixed when installing Phalcon from `/build`

[2016-08-16 18:45] Jurigag commented on #12129
Just wait for release.... There is reason why 3.0.x is 3.0.x and fixes aren't directly pushed to master.

When 3.0.1 will be released it will work from `/build`

[2016-08-16 19:00] sergeyklay commented on #12129
Fixed in the `3.0.x` branch.

[2016-08-16 19:00] #12129 closed

[2016-08-16 19:01] sergeyklay commented on #11995
@TrogWarZ Waiting for you

[2016-08-16 19:06] andresgutierrez commented on #11995
As ReflectionClass was removed I think this is fixed, also declare properties on every model must speed up any application.

[2016-08-16 19:15] TrogWarZ commented on #11995
Results of testing (ubuntu 12.04, 14.04) with different versions of php-fpm and phalcon:
[code]

Preparing XhProf dumps, right now, and trimming my app to give you example of code. Just wait for a bit – i'm after fulltime work now.

[2016-08-16 19:29] andresgutierrez commented on #11995
@TrogWarZ Can you please using 3.0x branch, fix hasn't landed into master yet

[2016-08-16 19:40] TrogWarZ commented on #11995
@andresgutierrez, am i doing it right?

[code]

[2016-08-16 19:43] sergeyklay commented on #11995
@TrogWarZ No. For dev branches only this aprouch:
[code]

[2016-08-16 20:31] TrogWarZ commented on #11995
@sergeyklay , oops, didn't know. Tested with build like you said on ubuntu 12.04/14.04 and php5.6/php7.0 – cool! Now works fast, yay! Thank you!

[2016-08-16 20:47] #11995 closed

[2016-08-16 21:03] pwoszczyk opened #12148 "Phalcon\Forms\Element::setLabel('0') render error"
Phalcon\Forms\Element::setLabel($label) render incorrect if $label = '0'.

Example:
$field = new Numeric('value');
$field->setLabel('0');
$field->label() // <label for="value">value</label>
- Phalcon version: 2.0.13
- PHP Version: 5.6.11
- Operating System: Windows 7
- Installation type: precompiled dll
- Server: Apache

[2016-08-17 04:55] ArekSBC opened #12149 "Fatal error: Uncaught SoapFault exception: [VersionMismatch] Wrong Version"
After upgrade Phalcon from 2.0.10 to 3.0.0 SoapClient stop working.

[code]

[code]
### Details

* Phalcon version: (
[code]
)
* PHP Version: (
[code]
)
* Operating System: Debian 8 (Jessie) AMD64
* Installation type: Compiling from source
* Zephir version (if any):
* Server: Nginx 1.11.3
* Other related info (Database, table schema): MySQL

[2016-08-17 05:14] sergeyklay commented on #12149
@ArekSBC Could you please provide a bit more script to reproduce and full backtrace?

[2016-08-17 10:10] Mont4 opened #12151 "[NFR] Module Facade"
I want have access to model in another module **without registering namespace** in current module. because i use different config in that module. i need sth similar to zend module facade.

I think it's very important that exist some things which make connection with another module.

[2016-08-17 10:13] Jurigag commented on #12151
I just don't uderstand how you want to do this without registering namespace ? What's the difference if phalcon will register it or not ?

[2016-08-17 10:33] sergeyklay commented on #12141
Fixed in the `3.0.x` branch.

[2016-08-17 10:33] #12141 closed

[2016-08-17 18:04] Mo121Montazeri commented on #12151
facde is not just limitted to register model or controller,
and some how, it has a API alike structure for every module

[2016-08-18 09:54] sverdier opened #12152 "isLegacyHash return false"
[code]
### Details
- Phalcon version: (`php --ri phalcon`)

[code]
- PHP Version: (`php -v`)

[code]
- Operating System: Ubuntu 16.04.1 LTS
- Installation type: installing via package manager
- Zephir version (if any):
- Server: Nginx
- Other related info (Database, table schema):

[2016-08-18 10:09] Jurigag commented on #12152
Just https://github.com/phalcon/cphalcon/blob/master/phalcon/security.zep#L313 `$2a$` needs to be changed to `$2y$`

[2016-08-18 14:32] Jurigag commented on #11789
How about 4.0.0 this ?

[2016-08-18 14:37] bkirova opened #12153 "Cache flush removes all items"
The flush function in Phalcon\Cache\Backend\Apc removes all elements in apc even if there are items with a different prefix.

Phalcon Code :
[code]

**It would be nice if a single instance of the cache removes only it's own keys by prefix or at least if there was an optional parameter prefix that select the elements with that prefix and removes only those.**

### Possible usage of the prefix varia

[2016-08-18 14:46] Jurigag commented on #12153
Well in 3.1.0 there will be added APCu backends, so maybe add this too then @sergeyklay ?

[2016-08-18 20:27] xerron commented on #12118
Yes bug!.
I am try.
[code]
and notice:

[code]

[2016-08-18 20:42] Jurigag commented on #12118
I thought it was fixed - https://github.com/phalcon/cphalcon/issues/11902 You sure you on 3.0.0 ?

[2016-08-18 20:51] xerron commented on #11902
fix in branch 3.0.x

[2016-08-19 11:22] xerron commented on #12118
Yes. Fix in branch 3.0.x. tank you. +1

[2016-08-19 22:26] NOlivNeto commented on #12108
Happening in PHP 5.6 here.

[2016-08-20 15:18] Jurigag opened #12154 "[3.0.0]Seg fault on php5 when forwarding from beforeException"
### Expected and Actual Behavior

Should return test, but it doesn't, there is just seg fault when accessing just index page(`/`)

**On php7 it works though.**

Backtrace - http://pastebin.com/jD5GQJaJ

Github repo - https://github.com/Jurigag/phalcon-segfault-before-forward
### Details
- Phalcon version:

[code]
- PHP Version:

[code]
- Operating System: Ubuntu 14.04
- Installation type: zephir
-

[2016-08-20 15:39] virgofx commented on #12154
Likely related to: #11819  -- Can we mark both of these as relevant for 3.0.2 milestone as this has been an issue for awhile.

[2016-08-20 15:42] Jurigag commented on #12154
Yea but what is weird it works on php 7 though.

[2016-08-21 01:11] sergeyklay commented on #11953
@serus22

We created a separated [repo for packaging](https://github.com/phalcongelist/packagecloud).

This issue can be considered fixed since Phalcon 3.0.1
https://github.com/phalcongelist/packagecloud/blob/master/debian/phalcon.ini#L17

[2016-08-21 01:11] #11953 closed

[2016-08-21 01:17] virgofx commented on #11953
We should still make a note once everything is working to re-do the installation documentation to include the matrix for installing different php versions / operating systems / provisioners.

[2016-08-21 01:23] sergeyklay commented on #11953
@virgofx I think now it is https://github.com/phalcongelist/packagecloud issue :)

[2016-08-21 18:57] pedro151 opened #12156 "Routes conflict with default value"
[code]
### Details
- Phalcon version: 3.0
- PHP Version: 7.0.8
- Operating System: ubuntu 16.04

[2016-08-21 18:59] Jurigag commented on #12156
What you mean conflict ? What exactly is the problem ?

[2016-08-21 19:21] pedro151 commented on #12156
[code]
result is:  localhost/controller//51

[code]
result is:  localhost/controller/index/51

[2016-08-21 19:21] pedro151 commented on #12156
there is a conflict when setted default values on the router and passed to url

[2016-08-21 19:23] pedro151 commented on #12156
You should not pass default values on the router should be removed functionality to enter values for not unexpected results

[2016-08-21 19:24] Zaszczyk opened #12157 "[3.0] Gettext adapter constructor error"
I got similar error like #11760:

#1	Phalcon\Translate\Adapter\Gettext->__construct(Array([locale] => pl_PL.UTF-8, [directory] => /var/www/xxx/www/apps/config/locale, [defaultDomain] => message))
#2	XXX\Plugins\Translation->__construct(Array([locale] => pl_PL.UTF-8, [directory] => /var/www/xxx/www/apps/config/locale, [defaultDomain] => message))
#3	Closure->{closure}()
#4	Phalcon\Di\Service->resol

[2016-08-21 20:00] sergeyklay commented on #12157
Could you please provide Exception message?

[2016-08-21 20:01] Zaszczyk commented on #12157
Sure, I'm sorry.
`Error: Call to private method Phalcon\Translate\Adapter\Gettext::getoptionsdefault() from context 'FitCompany\Plugins\Translation'`
in line:
`parent::__construct($options);`

[2016-08-21 20:15] Jurigag commented on #12156
but where is this functionality ?

[2016-08-21 20:29] sergeyklay commented on #12157
@Zaszczyk Could you please try test 3.0.x version?

[2016-08-22 07:44] basilfx commented on #11827
Still same problem.

New stacktrace:
[code]

Using:
* PHP 5.6
* Phalcon version 053b5602a37eca548aa11e871bc185e87730da9d
* Zephir version bac71f93670eaf781e831970d69833a98e2bfe27

[2016-08-22 07:46] Jurigag commented on #11827
How exactly you compiled phalcon ? Using `zephir build` ?

[2016-08-22 08:33] Zaszczyk commented on #12157
I have Phalcon 3.0.0, so I've switched to branch 3.0.x

made git status:

Your branch is up-to-date with 'origin/3.0.x'.

and run:

I have still Phalcon 3.0.0 in phpinfo() after compilation, is it right? Because this error is still occurred. Should I upgrade Phalcon another way?

[2016-08-22 08:41] basilfx commented on #11827
I did a `zephir builddev`, but it turns out it compiled the `zephir build`-version. I had to run `zephir fullclean` first.

New stack trace:

[code]

I cannot test PHP7.0 yet, because it fails for my application.

[2016-08-22 08:50] Jurigag commented on #12157
no, you need to use zephir

[2016-08-22 09:40] sergeyklay commented on #12157
@Zaszczyk For dev branches you have to use
[code]

[2016-08-22 11:14] Jurigag commented on #12157
This `--backend` is not needed, as far as i know it's only for generating c source for different php version than actual ?

[2016-08-22 18:01] sergeyklay commented on #12157
@Zaszczyk

[2016-08-23 08:12] yeoman-chen opened #12160 "Nginx error log : recv() failed (104: Connection reset by peer)"
[code]
### Details
- Phalcon version: 3.0.0
- PHP Version: 7.0.0
- Operating System:Linux 8.4
- Zephir version (if any):
- Server: Nginx

[2016-08-23 08:31] Zaszczyk commented on #12157
@sergeyklay it works right with 3.0.x.
Little offtopic: what IDE do You use to developing cphalcon? I've installed Zephir plugin to PHPStorm and it looks good, but is there something better maybe?

[2016-08-23 08:39] Jurigag commented on #12157
Im using phpstorm and it's fine enough.

[2016-08-23 08:41] Jurigag commented on #12160
This means that your fastcgi ended unexpectedly. Check php-fpm(or whatever other handler you are using). It's possible that you have core dump. Then try to use this to generace backtrace:

https://github.com/phalcon/cphalcon/wiki/Generating-a-backtrace

[2016-08-23 09:01] yeoman-chen commented on #12160
[23-Aug-2016 16:57:10] WARNING: [pool www] child 1933 exited on signal 11 (SIGSEGV) after 221.151060 seconds from start
[23-Aug-2016 16:57:10] NOTICE: [pool www] child 8687 started

[2016-08-23 09:04] Jurigag commented on #12160
This means segfault, read what i wrote above.

[2016-08-23 09:48] sergeyklay commented on #12157
PHPStorm + Zephir plugin

[2016-08-23 09:48] #12157 closed

[2016-08-23 10:11] stamster commented on #12160
With Phalcon 2.0.x and PHP 5.x this issue was also present, but only during high load.

[2016-08-23 10:12] Jurigag commented on #12160
Guys, please post backtrace, we don't anything how to reproduce this issue, you just posted some code of controller, i have controller and action too and it works for me.

[2016-08-23 10:37] kcloze commented on #12160
`Reading symbols from /usr/lib/libfdfsclient.so...done.
Loaded symbols for /usr/lib/libfdfsclient.so
Reading symbols from /usr/lib/libfastcommon.so...done.
Loaded symbols for /usr/lib/libfastcommon.so
Reading symbols from /opt/php7/lib/php/extensions/no-debug-non-zts-20151012/oneapm.so...done.
Loaded symbols for /opt/php7/lib/php/extensions/no-debug-non-zts-20151012/oneapm.so
Reading symbols from

[2016-08-23 10:38] kcloze commented on #12160
[code]

[2016-08-23 10:39] Jurigag commented on #12160
Disable xdebug and post backtrace again.

[2016-08-23 10:42] kcloze commented on #12160
Disable xdebug ,it's ok now.
Thanks.

[2016-08-23 10:46] stamster commented on #12160
xdebug - a tool which can cause many issues not only with Phalcon!

[2016-08-23 10:49] kcloze commented on #12160
We find it maybe same code in view script.

[2016-08-23 21:47] virgofx commented on #12160
@Jurigag Can you help provide backtrace so we can get the issue updated to ensure Xdebug works with PHP7-phalcon?

[2016-08-23 21:55] stamster commented on #12160
IMHO, xdebug shoudn't be used at all with Phalcon since it interferes with PHP internals.

For instance, ionCube loader and Xdebug cannot work together officially for the same reason.

[2016-08-23 22:08] #11772 closed

[2016-08-23 22:15] Jurigag commented on #12160
@virgofx what yu mean ? Just don't use phalcon and xdebug, don't see any other soultion to be honest, and there can be way too much things causing this.

[2016-08-24 01:33] maurits150 opened #12162 "Saving model fails after accessing related model through it."
### Expected and Actual Behavior

I'm trying to reuse a model instance between several functions in order to save up on database queries.
This means accessing my model and related models, then later reusing the same instance to save new data.

However the following code seems to go wrong:

[code]

The first save works perfectly fine. The UPDATE query shows `accountcontact_id` = `1`

The second sav

[2016-08-24 13:02] virgofx commented on #12160
@stamster - I guess I'm curious as to why?  Phalcon worked fine with PHP56 and XDebug. Debugging is very useful in enterprise and large applications. Why don't we just get a few more stack traces and see if @andresgutierrez can look into it?

[2016-08-24 14:57] Jurigag commented on #12160
Then post whole script to reproduce, best repository, whole stacktrace with both php and phalcon compiled as debug and then someone can look into this.

[2016-08-24 17:16] pedro151 commented on #12110
same error occurs in:
    Phalcon version:3.0.0
    PHP Version:7.0.10
    Operating System:Windows 10 / Apache 2.4 x86 (php7_module) / PHP 7.0.10 x86

[2016-08-24 17:34] pedro151 commented on #12056
same error occurs in:
Phalcon version:3.0.0
PHP Version:7.0.10
Operating System:Windows 10 / Apache 2.4 x86 (php7_module) / PHP 7.0.10 x86

[2016-08-24 17:51] Jurigag commented on #12056
As you see above it's not phalcon problem really.

[2016-08-24 18:47] pedro151 commented on #12056
what is the solution for this error?

[2016-08-24 20:48] Jurigag commented on #12056
Don't use windows xD

[2016-08-24 20:50] david-duncan commented on #12056
Also don't develop in an environment that is not like your production environment unless you want issues

[2016-08-24 21:05] Jurigag commented on #12056
Actually you can write code in windows - just use vagrant/docker.

[2016-08-24 23:39] Mechzeit commented on #12056
If Phalcon didn't want to support developers on the Windows platform, they wouldn't compile the PHP module for Windows environments.
So the solution of "Don't use windows" doesn't really apply unless Phalcon completely drops Windows support, which by extension should/would only happen if Zephir dropped Windows support?

[2016-08-24 23:46] andresgutierrez commented on #12056
@Mechzeit That is @Jurigag 's opinion, it's not the official position about Windows, of course this must be fixed

[2016-08-25 03:00] imansuhardiman commented on #12056
so what's the solution?

[2016-08-25 05:46] Jurigag commented on #12056
I meant as you can see above - this is not only phalcon problem - https://github.com/owncloud/core/issues/22370 it even occurs on other enviroments other than windows i guess. Right now no solution, i just posted workaround - don't use windows, use vagrant/docker until problem fixed.

[2016-08-25 06:01] sergeyklay commented on #12056
https://github.com/nextcloud/server/issues/224

[2016-08-25 09:07] Semihal opened #12165 "Element clear not working"
Does not work in the form of a $elemnt->clear() while transfer in the form of any entity.

[code]
The field is not cleared. If only to refresh the page.

### Details
* Phalcon version: 3.0.0
* PHP Version: 7.0.8
* Operating System: Win10
* Installation type: installing dll
* Zephir version (if any): ---
* Server: Apache
* Other related info (Database, table schema): Mysql5.7

[2016-08-25 11:04] denzyldick commented on #12058
@zyfmix  Did you found the solution to your problem ?

[2016-08-25 12:18] ashpumpkin opened #12166 "[NFR] ORM. Ability to set custom Resultset class returned by find()"
Hello. I think this feature is a good idea in cases when there`s some logic related to sets of models
Raugh but simple usecase example:
Day statistics table with columns (date, statistics_type, value).  statistics_type can be 1,2 or 3.
You need to render a month graph with 3 types of stats on it, and inform user about min and max values

[code]

The view will take this data and render a page for c

[2016-08-25 13:23] Jurigag commented on #12166
Cool idea.

[2016-08-25 14:24] skmail opened #12167 "File Validation compatibility with Phalcon\Http\Request\File"
Hello,

I think the way that File Validation "Phalcon\Validation\Validator\File"  need to be changed to work with Phalcon\Http\Request\File instances since the framework already make an instances of $_FILES  in the ,

In my opinion,  the File Validator is not responsible to work with external service Like HTTP Requests , as the validator  only validate Values, the File Validator must not check if

[2016-08-25 14:28] onexing opened #12168 "Crash phalcon 3.0.0 on windows with php7.0.0"
I try run my project https://github.com/onexing/xing-cms on windows 10 with phalcon 3.0.0 and php7.0.0 but phalcon is stuck WAMP. On linux (LAMP with php7.0.9) project works well. On windows with php5.6.16 and phalcon project works well too. I think here floating bug with phalcon 3.0.0 on windows and php7.0.0 because sometimes project runs.

apache error log:
[apache_error.txt](https://github.com/

[2016-08-25 21:36] daison12006013 opened #12169 "Volt partial problem along block"
OS: Ubuntu
Versions: (phalcon) 2.0.7 / 3.0.0 / 3.0.1  |  (php) 5.6 / 7
Web Server: NginX

---

"layouts/main.volt":

[code]

"partials/facebook.meta.volt":

[code]

"landing.volt":

[code]

I can't seem to fetch the `title` block inside the partial, I also encounter that once I called the same block in 1 volt template, it only shows that the first block is showing.

[2016-08-25 23:15] staywarde commented on #329
Still no progress?
+1

[2016-08-25 23:19] Jurigag commented on #329
Obviously to having any progress someone have to work on this. No one is working full-time on phalcon, if you have any idea or want to implement this feel free to do PR.

[2016-08-25 23:25] staywarde commented on #329
Witch files do I have to look on?

[2016-08-25 23:35] sergeyklay commented on #329
https://github.com/phalcon/cphalcon/tree/master/phalcon/mvc/view/engine

[2016-08-26 00:40] pfz commented on #12147
Tried with 3.0.1 , no success. Is there any best practice around there ? I'm using === in my JS apis and would like the json results to be properly typed/casted. It's a nightmare since it's broken (>2.0).

[2016-08-26 07:14] Jurigag opened #12170 "[3.0.0]Snapshot data removed after saving to cache adapter"
### Expected and Actual Behavior

The script should return:

[code]

But it's returning:

[code]

[code]
### Details

* Phalcon version: 3.0.0
* PHP Version: 7.0.9
* Operating System: Ubuntu 14.04
* Installation type: zephir
* Zephir version (if any): 0.9.3a-dev-e716dbe641
* Server: Apache
* Other related info (Database, table schema): phalcon_test database

[2016-08-26 07:16] Jurigag commented on #12000
Oh okay, i see it's created already - https://github.com/phalcon/cphalcon/issues/12170

[2016-08-26 07:16] Jurigag commented on #12170
I guess duplicate of https://github.com/phalcon/cphalcon/issues/12000

[2016-08-26 08:12] mzf commented on #12056
+1 have same error

[2016-08-26 09:39] sergeyklay commented on #12000
@udarkness
Could you please check 3.0.x branch?

[code]

[2016-08-26 09:39] sergeyklay commented on #12170
@Jurigag Could you please check 3.0.x branch?

[2016-08-26 09:39] sergeyklay commented on #12170
Fixed in the `3.0.x` branch.

[2016-08-26 09:39] #12170 closed

[2016-08-26 16:29] Besedin86 commented on #12147
I have the same problem.

[2016-08-26 17:21] Jurigag commented on #12144
I guess it's fixed on 3.0.1 @andresgutierrez ? Can you check it @dimak08

[2016-08-26 17:39] yingshancool opened #12172 "running on docker has bug"
[code]

### Details
I run my phalcon project on docker of centos system, but nginx always print 500 bad gateway, than i use gdb debug  "gdb php -c index.php". console print

#0  0x00007ff097683fe0 in zim_Phalcon_Mvc_Router_Route___construct () from /usr/local/lib/php/extensions/no-debug-non-zts-20131226/phalcon.so

why?
but, i running my local vmware soft is no problam!

I am a chinese firends!  p

[2016-08-26 18:32] Jurigag commented on #12172
Write bt and post result from whole stacktrace. Where is script to reproduce error ?

[2016-08-26 19:23] virgofx commented on #12154
Confirmed issue as well.

*Backtrace*
http://vpaste.net/wGczw

[2016-08-26 20:16] andresgutierrez commented on #12172
It looks like the binary has an invalid instruction because it's running on a different processor where it was originally compiled.

Try compiling from ext/:

[code]

[2016-08-27 01:09] yingshancool commented on #12172
@andresgutierrez There may be, because my docker image compile on docker cloud.  base the php-5.4-fpm.
[this is docker file](https://github.com/yingshancool/docker-php5.6-phalcon3/blob/master/Dockerfile)

But I according to the above docker file documents, inside the VPS compile time is no problem.
pull images from cloud has problem.   strange.

It is CPU instruction set is not the same?Or x64 and

[2016-08-27 14:37] #12172 closed

[2016-08-28 05:53] soetedja commented on #12056
I've installed Phalcon 3.0 in wampserv with two version of PHP. 5.6.19 and 7.0.4.
When I run my phalcon app using php 7.0.4, I got the same error.
But I got no error when switched it to php 5.6.19.

[2016-08-28 11:46] stamster commented on #12056
I just have switched from v2.0.13 to 3.0.0 (upgraded to 3.0.1), but using latest PHP 5.6.x stack (manually compiled 5.6.25), so far so good, never had this issue.

[2016-08-28 11:54] stamster commented on #12169
Post your Phalcon version, alongside PHP version, Web server and OS.

[2016-08-28 11:56] stamster commented on #12168
Your best shot is to avoid using Windows and PHP 7 with Phalcon. Set up VirtualBox inside Windows and run GNU/Linux with or w/o PHP 7, as you like.

[2016-08-28 12:07] Jurigag commented on #12169
I have this too:
Phalcon 3.0.1
problem both on php 5.6 and 7
OS Ubuntu 14.04 and web server apache2.

[2016-08-28 12:07] Mechzeit commented on #12056
Yeah the issue is definitely only on PHP 7.
I have been using Phalcon 3 with PHP 5.6.* since it was released and I've had no problems.

[2016-08-28 12:59] Jurigag commented on #12056
But i don't have this issue on php7 and phalcon on linux.

[2016-08-28 13:26] CameronHall commented on #12056
@Jurigag that is because it's an issue with PHP 7 only on **Windows**.

[2016-08-28 13:29] Jurigag commented on #12056
https://github.com/phalcon/cphalcon/issues/12056#issuecomment-236456441

[2016-08-28 15:18] DepX commented on #12056
Error occurs when quickly pressing F5

[2016-08-28 16:54] Studentsov commented on #12056
Yes, I do not observe the error. I suspect that the error may depend on LAMP assembly.
I use the Open Server: http://open-server.ru
Build a portable, multilanguage interface. I think you should try to reproduce the error.

[2016-08-28 22:11] andresgutierrez commented on #12168
DLLs are compiled in 7.0.5 maybe you'll have to use a version higher or equals than 7.0.5

[2016-08-28 23:16] dschissler commented on #12000
Nice one jurigag.

[2016-08-29 05:46] cq-z opened #12173 "docker php:7-fpm-alpine install cphalcon-3.0.1"
[code]

[2016-08-29 06:29] cq-z commented on #12173
expr: syntax error
./configure: line 2563: test: =: unary operator expected
expr: syntax error
./configure: line 2570: test: =: unary operator expected
expr: syntax error
./configure: line 2577: test: =: unary operator expected

[2016-08-29 07:59] udarkness commented on #12000
Works great @sergeyklay, thank you @Jurigag

[2016-08-29 08:39] #12000 closed

[2016-08-29 08:46] dschissler commented on #11029
@sergeyklay Why is this on the 3.0.2 milestone?  I thought that it was just a limitation of PHP.

[2016-08-29 10:01] dimak08 commented on #12144
@Jurigag Thanks, problem was fixed (288161da4009c06b19c1608f0d9b10d39d398915).

[2016-08-29 10:01] #12144 closed

[2016-08-29 11:58] hardik-satasiya commented on #12090
how about forms, how do you write multiple columns in forms.

[2016-08-29 12:57] FlexIDK opened #12176 "Diffrent volt partial() in php 5.6/7.0"
### Expected and Actual Behavior

In PHP 5.6

Volt:
`partial("email/tag_open", {'type': 'p'})`  - `$type` is local  var
`{{ type }}` - not set
`partial("email/tag_open", {})` - `$type` inside - not set

In PHP 7

Volt:
`partial("email/tag_open", {'type': 'p'})`  - $type is global  var
`{{ type }}` - last state set
`partial("email/tag_open", {})` - $type inside - last state set

### Details
- Phalc

[2016-08-30 05:52] EnvySky commented on #12056
Yes, I got this issue on PHP7 + Phalcon 3.0 on Windows 7 with WAMP, too
Try to switch PHP5.6 and it works now.

[2016-08-30 07:29] vadim-job-hg commented on #12056
Works with wrong version of PHP? No thanks.

[2016-08-30 07:48] Jurigag commented on #12056
@vadim-job-hg right now your comment is something like what i posted above that you shouldn't use windows anyway.

[2016-08-30 09:39] #12147 closed

[2016-08-30 09:43] michanismus opened #12177 "[3.x][NFR] Phalcon\Mvc\Model\Validator\Uniqueness condition and param options"
Model uniqueness validation needs extra options for conditions and params.

Example: My table does have a flag field "deleted" and records with "deleted = 1" should be excluded from query.

At the moment it is impossible and the validation always throws an error.

[2016-08-30 09:45] wolftankk opened #12178 "[3.0.1] Uniqueness validator not implement Phalcon\ValidationInterface"
[code]

[code]

Uniqueness has implemented Phalcon\Validation\ValidatorInterface

[2016-08-30 09:45] Jurigag commented on #12177
But `Phalcon\Mvc\Model\Validator\Uniqueness` was dropped anyway in 3.x Use `Phalcon\Validator\Uniqueness `.

What you mean should dropped ? There is option `except` already.

[2016-08-30 09:49] michanismus commented on #12177
Oh, my fault. I am still using the old class...

[2016-08-30 09:51] dimak08 opened #12179 "Headers::send() added ":" to modified Status header."
$response->setStatusCode(304) add ":" to end of status header

[code]

![2016-08-30 12 46 25](https://cloud.githubusercontent.com/assets/5196470/18084403/cd266f0a-6eaf-11e6-993b-ac8e4e74601d.png)

### Details

* Phalcon version: 3.0.0
* PHP Version: 7.0.10

[2016-08-30 09:57] Jurigag commented on #12179
Yea, i have this too.

[2016-08-30 09:59] Jurigag commented on #12178
`return $this->validationHasFailed() != true;`

This is code from 2.0.x. Check blog post about new validation https://blog.phalconphp.com/post/phalcon-3-0-0-released

[2016-08-30 10:05] #12177 closed

[2016-08-30 10:42] Izopi4a opened #12180 "beforeSave not fired"
[code]

cat test/test.zep

[code]
cat test.php
[code]

[code]

the result is :

[code]

### Details

* Phalcon version:  Version => 3.0.2 Build Date => Aug 29 2016 21:16:33
* PHP Version: 7.0.4
* Operating System: Ubuntu 14.04
* Installation type: Compiling from source
* Zephir version (if any): latest master
* Server: Apache
* Other related info (Database, table schema):  mysql 5.7

[2016-08-30 10:44] Jurigag commented on #12180
`beforeSave` is fired AFTER valiadtion, since validation didn't pass it's nof fired. User `beforeValidationOnSave`

[2016-08-30 10:49] Izopi4a commented on #12180
still the same with

[code]

[2016-08-30 10:51] Izopi4a commented on #12180
aha ok, its `beforeValidationOnCreate` :D

thanks !

[2016-08-30 10:51] #12180 closed

[2016-08-30 10:51] Jurigag commented on #12180
But beforeValidationOnSave should work too....

[2016-08-30 10:52] Izopi4a commented on #12180
no such event here

https://docs.phalconphp.com/en/latest/reference/models.html#events-and-events-manager

or i cant see it ?

[2016-08-30 10:52] Jurigag commented on #12180
Oh beforeValidation then xD

[2016-08-30 10:53] Izopi4a commented on #12180
yea the same :D, yea actually i had no idea idea of those. I tough those are user specified validations.

I learned a valuable lesson today