[2016-01-11 21:29] sergeyklay commented on #11006
Can't reproduce.

[code]

[code]

**Create jobs**
[code]

**Worker**
[code]

**Creating jobs output**
[code]

**Worker output**
[code]

[2016-01-11 21:29] #11006 closed

[2016-01-11 21:49] virgofx commented on #11006
This was fixed with #11190 -- I bet @shoother is using earlier version?

[2016-01-12 08:20] stefanchiriac commented on #11291
by default this should work. What is the phalcon version you are using?

[2016-01-12 08:25] shoother commented on #11006
@virgofx Thanks.

[2016-01-12 08:27] shoother commented on #11190
Very good.

[2016-01-12 08:52] stefanchiriac commented on #11282
- a thing I could agree from all of this is auto sanitization when using find(), but is not such  a deal breaker.

- notacolumn should throw SQLSTATE exception since after all doesn't exist and there is no point for the ORM to try to make a valid query. In the end this will make more problems than solve, since you won't know why your query is not returning the expected result.

[2016-01-12 09:09] marhub opened #11298 "Phalcon\Mvc\Model\Query\Builder limit bug"
There is no way to unset limit.
For example:

[code]

I belive it's because of casting limit in method to int.

[2016-01-12 12:25] Mobilyzz commented on #11291
It's 2.0.9

[2016-01-12 16:40] nsossonko commented on #11282
So from the query.zep and parser.c code it seems this kind of sanitizing (eg, column existence and column renaming) is only done on the selected columns. It seems like modifying the rule for where (or expr) here: https://github.com/phalcon/cphalcon/blob/c8d4916bbfd0cb18395fe25d8c5a663fc5077d8f/ext/phalcon/mvc/model/query/parser.c#L963 might fix this, but I'm not 100% clear on how this is done and

[2016-01-12 16:47] sergeyklay commented on #11291
Provide please output bu command `php --ri phalcon` abd your SQL schema

[2016-01-12 17:07] Mobilyzz commented on #11291
`php --ri phalcon` output

[code]

As for SQL schema, I have already pasted it above in the original question. :)

[2016-01-13 06:49] sergeyklay commented on #11298
Fixed in `2.0.x` branch

[2016-01-13 06:49] #11298 closed

[2016-01-13 09:41] dschissler commented on #11203
I have no idea when it will be ready but I have seen them adding a lot of PHP7 fixes over the last week.

[2016-01-13 20:43] vip9 opened #11303 "Return unsupported column types as TYPE_UNKNOWN_something"
When using custom (read: unsupported by phalcon, but supported by db) column types, e.g. MySQL's POINT (spatial geom type), phalcon should return getType() as TYPE_UNKNOWN.
Now, it returns TYPE_INTEGER, which causes phalcon-devtools to loose all data stored as point when running migration.

Simple solution is to manually edit migration file, and change Column::TYPE_INTEGER to "point" string, which

[2016-01-13 22:45] Jurigag opened #11304 "[NFR]Relationship annotations, Validator annotations ?"
There is some old class AnnotationsInitializer - https://github.com/phalcon/tutorial-models-init/blob/master/library/AnnotationsInitializer.php

Any reason for dropping it ?

How about adding it to phalcon as zephir ? I can do PR request with it. But i think that `@HasMany` etc could be in properties level, not in class level. Also when is `afterIntialize` method fired ? Any idea what would be nic

[2016-01-14 07:53] system4nl commented on #925
+1

[2016-01-14 09:30] yesworld opened #11307 "Why the Model::findFirst( 1 ) function doesn't work?"
Hi everyone!

Why the ```Model::findFirst( 1 )``` function does not find anything? But if you make the request a bit different, using the same id, it works fine.
[code]
May it affect APC somehow?
Thank you!

[2016-01-14 12:01] tmihalik commented on #11307
I can confirm. It's a Phalcon bug!

Here's the problem:
https://github.com/phalcon/cphalcon/blob/c8d4916bbfd0cb18395fe25d8c5a663fc5077d8f/phalcon/mvc/model/query/builder.zep#L267

try: `Model::findFirst('1');`

[2016-01-14 12:17] Green-Cat commented on #11307
That's weird, I have many uses of Model::findFirst(int) in my project and it seems to work just fine?

[2016-01-14 12:22] yesworld commented on #11307
Hey, tmihalik,
Thank you for your reply, but unfortunately this ```Model::findFirst('1');``` doesn't work for me either.

I don't think, that the issue has something to do with the type of data, because out of 100k records, I get just a half of them, and randomly

[2016-01-14 13:19] ifsnow commented on #11307
@tmihalik I think It's not a bug. In this case, Builder creates a condition using the related primary key.
https://github.com/phalcon/cphalcon/blob/c8d4916bbfd0cb18395fe25d8c5a663fc5077d8f/phalcon/mvc/model/query/builder.zep#L1010

@yesworld Can I see your table schema or model define. and output of `php --ri phalcon` command.

[2016-01-14 14:48] yesworld commented on #11307
@ifsnow,
[code]

I'm sorry guy for wasting your time. I found the reason.
Somehow I didn't notice that the model's function findFirst was redefined!

[2016-01-14 14:48] #11307 closed

[2016-01-14 17:27] nsossonko commented on #11282
@andresgutierrez is this a bug that should be fixed or will this remain as-is?

[2016-01-15 07:09] #2541 closed

[2016-01-15 13:33] bombless opened #11309 "`empty()` on `Phalcon\Config` item doesn't work correctly"
[code]
Is this actually a 'feature'?

[2016-01-15 18:20] sergeyklay opened #11310 "Incorrect Gettext::exists logic"
I found a logical bug in the Gettext Adapter by conducting a small test.
The translation [db example](https://github.com/phalcon/cphalcon/tree/fbdea4a3cf7180b115d5f74cedbf59f279f47630/unit-tests/locale)

**How to reproduce.**

[code]

**Actual**
[code]

**Expected**
[code]

**po-file**
[code]

[2016-01-15 20:51] Jurigag commented on #11310
Well from php manual:

Returns a translated string if one is found in the translation table, or the submitted message if not found.

[2016-01-15 21:15] Jurigag commented on #11309
I checked your code and it returns true for var_dump(empty($config->setting));

What phalcon version you are using ?

[2016-01-16 00:57] sergeyklay opened #11311 "Incorrect translating by using Gettext"
**How to reproduce**

1. Create `/tmp/test.php`
[code]

2. Next run `xgettext /tmp/test.php` (this creates a file called `messages.po`)
3. Change the `"Content-Type: text/plain; charset=CHARSET\n"` in this file and replace CHARSET with `UTF-8` in this case.
4. Change the `"Language: \n"` in this file: `"Language: uk\n"`
5. Next translate all strings:
[code]
6. Save and use the command `msgfmt -o m

[2016-01-16 01:09] Jurigag commented on #11311
Are you sure its phalcon problem ? You should check http://php.net/manual/en/function.gettext.php it with php builded functions.

[2016-01-16 02:01] sergeyklay commented on #11311
Fixed in `2.0.x`

[2016-01-16 02:01] #11311 closed

[2016-01-16 02:01] sergeyklay commented on #11310
Fixed in `2.0.x`

[2016-01-16 02:01] #11310 closed

[2016-01-17 04:42] Myrai opened #11315 "regex in router not work"
regex in pcre also [alias|also] not work.
What this a bug?

[2016-01-17 12:20] Myrai commented on #11315
$router->add("/status/{statusname:[fail|next]}", array('controller' => 'index', 'action' => 'status'));
or more neeed? What i can also give up?

[2016-01-17 12:23] Jurigag commented on #11315
What this regex even mean ?

[2016-01-17 12:24] Myrai commented on #11315
you haven't search?
http://php.net/manual/en/regexp.reference.alternation.php

[2016-01-17 13:23] Jurigag commented on #11315
Well i tested it and got compilepattern. If you type it like this:

'/status/{statusname:fail|next}' then preg_match from '/status/fail' returns true - but phalcon still cannot handle this for some reason. Here code to test on micro app:

[code]

Pretty weird

[2016-01-17 13:27] SidRoberts commented on #11315
Try round brackets:

    {order:(hot|new|top|rising|controversial)}

[2016-01-17 13:28] Jurigag commented on #11315
Phalcon add round brackets himself in compiled pattern.

[2016-01-17 13:33] Jurigag commented on #11315
Oh i forgot handle xD

[2016-01-17 14:22] ifsnow commented on #11309
phalcon 1.3.4 : return `false`
phalcon 2.0.x : return `true`

[2016-01-17 18:48] Myrai commented on #11315
Oh, really.. Last example work.
few offtop, how used part of additional match whose not always? e.g. paginator, within /status/fail/page/1..

[2016-01-17 21:56] Jurigag commented on #11315
Just add new routes BEFORE this:

$router->add("/status/{statusname:fail|next}/page/{page:[0-9]+$}", array(
    'controller' => 'index',
    'action'     => 'status'
));

[2016-01-18 01:08] sergeyklay opened #11319 "Segmentation fault when Tag::resetInput()"
I've [created test](https://github.com/phalcon/cphalcon/pull/11318) to the demonstration of this issue:

[code]

[2016-01-18 02:51] Myrai commented on #11315
And have ~20 address route with pagination and 25-30 address without?
Don't fine for me.

[2016-01-18 10:35] Myrai commented on #11315
may close topic.

[2016-01-18 10:38] #11315 closed

[2016-01-18 15:15] #11293 closed

[2016-01-18 16:11] andresgutierrez commented on #11203
To anyone trying to compile Phalcon for php7, you have to use Zephir:

[code]

[2016-01-19 06:41] bombless commented on #11309
So I guess it's fixed in 2.x.
Too bad my company still use 1.3.x. :cry:

[2016-01-19 06:41] #11309 closed

[2016-01-19 07:23] Jurigag commented on #11309
@bombless
So maybe tell them about update ?

[2016-01-19 11:46] zxz054321 opened #11322 "Cannot store number 0 by file cache"
like these codes:

    $cache = new BackFile(
                new FrontOutput(["lifetime" => 6 * 3600]),
                ['cacheDir' => $dir]
    );

    $cache->save('counter', 0);

Phalcon will only create an **empty** file named **counter**
A **0** should be placed in the file!

Environment
 - Windows 10
 - XAMPP
 - Phalcon 2.0.9

[2016-01-19 15:32] Izopi4a commented on #11203
if both `php` and `phpize` are pointing to php 7, zephir build does compile phalcon and adds it to your plugins, and kind a works, didnt have time to play with it ( i think routes are a bit screwed ).

Anyways...  if I try:

[code]

then i get this error:

[code]

[2016-01-19 19:32] andresgutierrez commented on #11203
Compile from build is not necessary, you have to use `zephir build` as I explained before

[2016-01-19 20:11] sergeyklay opened #11324 "Response. Incorrect initialization local array of status codes"
**How to reproduce**

[code]

**Result**
[code]

[2016-01-19 20:39] sergeyklay commented on #2399
Firstly read please documentation related to the redirection status codes

https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#3xx_Redirection

[2016-01-19 20:39] #2399 closed

[2016-01-19 21:18] ruudboon commented on #2399
@sergeyklay thnx. Will dive into this, didn't know that redirecting after 403 is not allowed. Will change my implementation.

[2016-01-19 21:28] ruudboon commented on #10365
Think this one can be closed

[2016-01-19 21:28] ruudboon commented on #10596
We an close this one.

[2016-01-19 21:34] #10596 closed

[2016-01-19 21:34] #10365 closed

[2016-01-20 00:38] sergeyklay commented on #11324
Fixed in `2.0.x`

[2016-01-20 00:38] #11324 closed

[2016-01-20 03:26] andresgutierrez commented on #11319
Must be fixed using latest Zephir

[2016-01-20 07:28] Izopi4a commented on #11203
so if I have multiple php versions i have to change where `php`, `php-config` and `phpize` are pointing to  ?

[2016-01-20 09:27] Zaszczyk opened #11327 "Fatal error: Class 'redis' not found"
I use modelsCache such way:

[code]
and I got error:

[code]
This line is:

[code]

This code return true:
[code]

I suspect there is problem with some Phalcon Framework class which handle Redis. But I have no idea how to fix it. Other libraries which use Redis work fines, generally Redis server works good. Any idea?

[2016-01-20 09:55] Jurigag commented on #11327
For me its working. What version of phalcon you are using ? I wrote you in forum how you can find reason for this error, use gdb, put this code in cli, and then you will have whole stack in php enviroment.

[2016-01-20 10:10] sergeyklay commented on #11319
Thanks

[2016-01-20 10:10] #11319 closed

[2016-01-20 11:36] andresgutierrez commented on #11203
Yes, you have, however it would be nice to have an option to define that directly from the zephir's command line options or the config.json file

[2016-01-20 11:49] Izopi4a commented on #11203
+1 for config option

[2016-01-20 14:39] SidRoberts commented on #11327
What distribution/OS are you using? If you're on Debian/Ubuntu, you'll need to install the php5-redis package. Other distributions might have a different package name.

[2016-01-20 21:12] mattvb91 commented on #11267
Just to keep everyone up to date there has been alot of discussion on the pull request here:
https://github.com/phalcon/cphalcon/pull/11288

[2016-01-21 10:42] eugene-matvejev opened #11329 "weird behaviour of \Phalcon\Forms\Form"
Hi guys,

I've spot weird behaviour of:
[code]

Code 1
**RegistrationForm.php**
[code]

Code 2
**RegistrationForm.php**
[code]

with using Kahlan tests  (https://github.com/crysalead/kahlan)
[code]

this
[code]
don't behave as
[code]

rest of the classes work fine.

of course I can leave \Phalcon\Forms\Form but I'm curious why it happen, wanna follow PSR-2/4 in our codebase.

[2016-01-21 12:18] eugene-matvejev commented on #11329
just in case:
[code]

[2016-01-21 14:32] virgofx commented on #11304
@Jurigag Having these out of the box would be helpful; however, you could easily extend the annotations initializer to provide needed behavior (That's what I do on various projects)

[2016-01-21 15:21] sergeyklay commented on #11322
Fixed in `2.0.x`

[2016-01-21 15:21] #11322 closed

[2016-01-21 22:08] Zaszczyk commented on #11327
It works, thank You very much!

[2016-01-21 22:08] #11327 closed

[2016-01-22 05:59] feanorelf opened #11331 "VOLT: Make the "extends" path selectable"
Currently the "extends" file path is built by appending the filename to the views dir:

[code]

IMHO it would be more appropriate to have it constructed starting from the LayoutsDir or from the PartialsDir or, even better, by providing an "ExtendsDir" option to the volt engine.

Furthermore the code to generate the full path of an extend is nested in the `final protected function _statementList(..

[2016-01-22 06:36] tuxy opened #11332 "Phalcon 2.0.10 and PHP 7.0"
Where is Phalcon 2.0.10 and will it have PHP 7.0 support ? Thank You!

[2016-01-22 06:39] andresgutierrez commented on #11332
Phalcon 2.0.x will not support PHP7, Phalcon 2.1 already compiles using PHP7 but it's not fully functional.

[2016-01-22 06:39] #11332 closed

[2016-01-22 06:48] tuxy opened #11333 "Versions of Phalcon Until 2.1"
How many version of Phalcon from 2.0.9 until 2.1 stable released ?

[2016-01-22 07:20] andresgutierrez commented on #11333
For questions like these please use the forum: http://forum.phalconphp.com/, Github is only intended to report bugs and discuss new features. Phalcon 2.1 is currently almost stable except for the support of PHP7.

[2016-01-22 07:20] #11333 closed

[2016-01-22 16:21] mraspor opened #11334 "Uniqueness validator on model update"
Phalcon\Validation\Validator\Uniqueness
AND
Phalcon\Mvc\Model\Validator\Uniqueness

do not create the same (MySQL) sql code when updating the model. Phalcon version 2.0.9

Code:

[code]

Will produce:

Phalcon\Validation\Validator\Uniqueness (for example in forms):

[code]

Phalcon\Mvc\Model\Validator\Uniqueness:

[code]

Therefore Phalcon\Validation\Validator\Uniqueness will produce an error on u

[2016-01-22 16:54] mraspor commented on #11334
If this is intended, it means Phalcon\Validation\Validator\Uniqueness cannot actually be used in forms (classes extending Phalcon\Forms\Form) when updating a model with primary key.

[2016-01-22 19:29] josefguenther commented on #1950
+1... Still an issue on 2.0.9....

[2016-01-22 23:40] sergeyklay commented on #1950
I will try to deal. Please ping me if I forget

[2016-01-22 23:50] sergeyklay commented on #11334
In `2.1.x` we decided to declare deprecated the way with `Phalcon\Mvc\Model\Validation` in favor of `Phalcon\Validation`. The functionality of both components is merged into one, allowing us to reduce the codebase while offering the same functionality as before.

Following this approval, you must cease to use `Phalcon\Mvc\Model\Validation`. Please provide the script to reproduce your issue with `P

[2016-01-23 19:25] sh0umik commented on #11203
I am trying with zephir on my vagrent box with php7

i got this ..

PHP Notice:  Undefined variable: exprValue in /home/vagrant/vendor/phalcon/zephir/Library/Backends/ZendEngine2/Backend.php on line 723
PHP Notice:  Undefined variable: exprValue in /home/vagrant/vendor/phalcon/zephir/Library/Backends/ZendEngine2/Backend.php on line 723
PHP Notice:  Undefined variable: exprValue in /home/vagrant/ve

[2016-01-23 19:37] Jurigag commented on #11203
As it was said before:

```zephir build --backend=ZendEngine3```

[2016-01-23 20:03] Izopi4a commented on #11203
compile works and so on, but i got this crash error:

[code]

[2016-01-24 07:36] wiesl opened #11337 "Database connection is not closed on the end of a request"
See: https://forum.phalconphp.com/discussion/10005/database-connection-is-on-closed-on-the-end-of-a-request

Hello,

First of all Phalcon is a great framework.

I'm having the problem that database connections are not closed when the request ends. DB Backend is PostgreSQL and PGPool II beforehand. I'm using php-fpm too, so there is a resource leak with open DB connections. Also when e.g. PGPool is

[2016-01-24 15:28] Myrai commented on #11257
with $router->removeExtraSlashes(true); not one with slash in end not work,
if you want optional slash use [/].
and with own module without controller - route not work.
    $router->setDefaultAction('index');
    $router->setDefaultController('index');
this not help you.

[2016-01-24 15:35] Myrai opened #11339 "Hydration mode with Resultset\Simple not correctly work [2.0.9]"
[code]

trigger with `getHydrateMode()`change, but `$model` just object in end.

[code]

[2016-01-24 16:16] virgofx opened #11340 "[Cleanup] Remove Phalcon\Session.zep"
`Phalcon\Session.zep` is not used anywhere in code base and should be removed for cleanup/consistency. All of the session adapters live within the `\Phalcon\Session\*` namespace.

[2016-01-24 19:56] sergeyklay opened #11341 "Cleanup session adapters"
It is necessary to clean all Session Adapters from `statsKey` copypasta.
The session adapters don't need this key.

This should be done in <s>2.1.0</s>4.0.0.

[2016-01-25 00:28] smdevdk commented on #10686
Any progress?

[2016-01-25 15:21] mraspor commented on #11334
Create sql table:
[code]

Create model Users (Users.php):
[code]

Create Form class to manipulate the model (UserForm.php):
[code]

In controller UsersController.php
[code]

The above saveAction() will result in this sql code being executed:
[code]

And should result in:
[code]

The first sql is result of Phalcon\Validation\Validator\Uniqueness (which gives wrong sql).
The second is result of Phal

[2016-01-25 16:14] oh-ren commented on #10888
?
Phalcon shoulnd't prevent in using bit(1), which is the best type to use for yes/no / on/off type of data AFAIA (in/for MySQL at least).
Anyway bit(1) seems to work, but only in emulated prepares mode...

[2016-01-26 11:33] ghost opened #11346 "Possible bug in Phalcon\Acl\Adapter\Memory::dropResourceAccess()"
There is a possible bug in the method when the second argument is string.

On the line 341 (`let accessKey = resourceName . "!" . accessName;`) the accessName variable is empty resulting in illegal offset error.
Probably the `accessName` should be replaced by `accessList`. Also, on the line 342 (`if isset accessList[accessKey] {`) `accessList` should be replaced by `this->_accessList`

[2016-01-26 15:07] karen-nalbandian-adb commented on #11346
Hello,

The following is a simple script that allows to reproduce the issue. The PHP version is the 5.6.17 running as PHP-FPM:

[code]

Best regards!

[2016-01-26 20:56] dschissler commented on #11029
@andresgutierrez the 2.1 upgrade is going well so far and I'm trying to remove `use ($di)` from my services.  I've noticed a percularity in the `voltService`.  It seems that the voltService isn't having its context set to the DI.

**Old way:**

[code]

**Why not this?:**

[code]

Is there a reason why this doesn't work.  Perhaps the signature could even be changed to remove the `$di` and to have i

[2016-01-27 06:52] sergeyklay commented on #1933
Fixed in `2.1.x` branch

[2016-01-27 06:52] #1933 closed

[2016-01-27 12:22] Izopi4a commented on #11203
created this for config options

https://github.com/phalcon/zephir/pull/1175

[2016-01-27 13:46] marcojetson opened #11347 "Allow "0" as header value"
Right now it's impossible to set a header with 0 value.

i.e.
[code]

Will be sent as an empty header.

[2016-01-27 14:11] sergeyklay commented on #11347
https://github.com/phalcon/cphalcon/issues/11026

[2016-01-27 14:11] #11347 closed

[2016-01-27 15:08] rabihsyw commented on #11073
I built a Micro application, everything works fine. But performance tests shows a frustrating results. The application is very slow :

    ab -n 1000 -c 50 http://myproject.net/
Normal results:

    Concurrency Level:      100
    Time taken for tests:   58.083 seconds
    Complete requests:      1000
    Failed requests:        0
    Non-2xx responses:      1000
    Total transferred:      578000

[2016-01-27 16:44] Jurigag commented on #11073
What problem you have ? 58ms is really so bad response time ?

[2016-01-27 23:51] rabihsyw commented on #11073
The application on my local machine which runs Ubuntu OS. I think it is slow comparing to other tests of another applications, all of them were done on my local machine.

Also when I comment "$response->send();" statement the results becomes obviously  much faster.

[2016-01-28 12:40] Jurigag commented on #11073
Yes it takes 58s to complete test for 1000 requests, so 58/1000 = 58ms per request.

[2016-01-28 19:23] andresgutierrez commented on #11073
Can you please execute `curl --head url` on both scenarios?

[2016-01-28 20:28] sergeyklay commented on #11267
@mattvb91 This issue might be closed?

[2016-01-28 20:44] #11267 closed

[2016-01-29 05:21] collinsmao opened #11350 "Phalcon PHP 2.0.9 uses PHP5.4 methods"
#11129
I'm using wamp on windows,php version 5.3.29,Phalcon 2.0.9 - Windows x86 for PHP 5.3.9 (VC9)

when running $this->session->set("user-name", "Michael") in a action,it's throw a exception:
Call to undefined function session_status()
#0 [internal function]: Phalcon\Session\Adapter->status()

uh,  phalcon2.0.7.dll  works well,, but zephir source code seems that they look exactly the same

[2016-01-29 10:02] rabihsyw commented on #11073
**First Scenario**

Date: Fri, 29 Jan 2016 09:43:01 GMT
Server: Apache/2.4.12 (Ubuntu)
Access-Control-Allow-Origin: *
Access-Control-Allow-Methods: GET,PUT,POST,DELETE
Access-Control-Allow-Headers: Content-Type, X-Requested-With, X-Authorization
E-Tag: 5642ebf7f7e8e3c7999855d1f28cbb65
Content-Length: 48
Content-Type: application/json

**Second scenario "without response":**

Date: Fri, 29 Jan 2016

[2016-01-31 23:44] daison12006013 commented on #11258
@sergeyklay @andresgutierrez, putting you in guys, it's been month and no reply from you guys, any comment would really help specially people from us devs who hates typecasting variables.

or this thing is not doable for now?

[2016-01-31 23:48] andresgutierrez commented on #11258
this is a matter to which we have gone round many versions, some developers want to use tinyint(1) as boolean other wants to use it as integer. You can better use a "bit" column instead. https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/db/adapter/pdo/mysql.zep#L232

[2016-02-01 00:14] daison12006013 commented on #11258
That's cool to hear that we're using "bit" instead of tinyint, however is there any possible way to provide the boolean fields inside the model?

I think this will help others to use a single database structure from different frameworks, likewise, I've been using symfony1 before and migrated all the code to laravel4.2, but still using the same database structure without any change.

I have an API

[2016-02-01 00:41] bmoore commented on #11286
Does anyone here have any thoughts with this one? I've been trying to rewrite it possibly using the ReflectionProperty class, but was getting segfault errors from it. Now I am getting real errors on TravisCI though I cannot yet run the unit tests locally.

P.S. Is there a guide somewhere about getting set-up for running test locally?

[2016-02-01 04:40] #11029 closed

[2016-02-01 04:43] dschissler opened #11356 "[2.1] Volt cannot iterate on config object."
I want to iterate like this:
[code]
and `domains` is being set from a config object and it doesn't work on Phalcon 2.1.  The work around is to convert to an array first with
[code]

[2016-02-02 05:34] vikilaboy commented on #1253
+1 verbatim

[2016-02-02 12:04] Jeffzor opened #11358 "[Phalcon 2.0.9] Radio field unchecked if default value is 0"
Hello,

Using PHP 5.6.2, when I set a default value to 0, no radio fields are checked.
[code]

When I set my radio fields in the view:
[code]
No radio fields are checked.

It happens just with values 0, '0' and '' (actually all values that are interpreted as false in PHP).

In the tag.zep file, the protected method "_inputFieldChecked", a condition causes the problem (lines 539 and 549):

[code]

[2016-02-02 21:38] sergeyklay opened #11359 "Incorrect behavior of Phalcon\Db\Dialect::escape"
Currently, it isn't impossible to use the database name with dots.

**How to reproduce**:

[code]

[2016-02-02 23:02] sergeyklay commented on #11359
Fixed in `2.0.x`

[2016-02-02 23:02] #11359 closed

[2016-02-03 05:01] googlle opened #11361 "Acl inherit"
Hello. When I use Acl with inherit get warning message.

[code]

This my code

[code]

Can I use array for inherit?

[2016-02-03 18:56] Jurigag commented on #11361
I guess you could if you would add something like this:

foreach ($roles as $name => $parent) {
    if(!is_array($parent)){
        $acl->addRole(new Role($name), $parent);
    }
    else{
        foreach ($parent as $role){
            $acl->addrole(new Role($name), $role);
        }
    }
}

But im not sure if you can have role which intherit more than 1 role.

[2016-02-03 21:54] mattvb91 commented on #11350
As far as im aware 5.3 is no longer supported?
https://github.com/phalcon/cphalcon#requirements

[2016-02-03 21:58] sergeyklay commented on #11350
Have you tested this? https://github.com/phalcon/cphalcon/issues/11129#issuecomment-165700792

[2016-02-04 00:37] josefguenther commented on #1950
I fixed the issue and created a pull request #11363. This should be merged into 2.1.x.

[2016-02-04 01:08] warfu commented on #10501
good  i just have the some problem

i use
PHP 5.4.7 (cli) (built: Jul 23 2015 16:23:37)
Copyright (c) 1997-2012 The PHP Group
Zend Engine v2.4.0, Copyright (c) 1998-2012 Zend Technologies

[2016-02-04 01:38] sergeyklay commented on #10501
@warfu Try please latest Zephir and command `zephir build` instead `cd cphalcon/build` & `sudo ./install`

[2016-02-04 02:02] virgofx commented on #11340
:+1:

[2016-02-04 06:50] joeltejdeep opened #11364 "Service 'Module' wasn't found in the dependency injection container - windows 7 - 64bit"
In my Windows 7, I'm facing the issue, after adding a new module from devtool.
Phalcon version 2.0.9 (latest). please help.

Steps I done:
-- I created project name as "test_project", type=module using devtool
-- Then I created a new module called "Admin", using devtool
-- I created IndexController and view in the Admin module
-- When I tried to run admin module, I'm getting the error

[code]

[2016-02-04 07:32] sergeyklay commented on #11364
This is [Devtools](https://github.com/phalcon/phalcon-devtools) issue, not Phalcon. Create please issue at Devtools repo

[2016-02-04 07:53] mzf commented on #1117
+1 for this feature from box

[2016-02-04 08:57] googlle opened #11365 "View property"
Hello.
I use Phalcon 2.1.0.beta2 - Windows x86 for PHP 5.6.0 (vc11)
[code]
I can't get access the property name in view
Notice: Undefined variable: name in C:\xampp\htdocs\phalcon\app\module\view\welcome\index.phtml on line 4
Can anybody help me?

[2016-02-04 09:34] googlle commented on #11361
@Jurigag, In the method "addRole" on line 158 https://github.com/phalcon/cphalcon/blob/master/phalcon/acl/adapter/memory.zep#L158,
param "accessInherits" maybe array (@param  array|string accessInherits)
So, maybe it's a bug

[2016-02-04 09:41] Jurigag commented on #11361
Yes, but it doint chck if its array in addInherit and doesnt doing foreach.

[2016-02-04 10:38] joeltejdeep commented on #11364
Ohhh.. Okay. Thank you.

[2016-02-04 10:38] #11364 closed

[2016-02-04 11:25] michanismus opened #11366 "[2.1.x] Paginator Query Adapter can't handle subqueries as columns"
Hi,

Paginator can't handle queries with subqueries defined as column.

Example:

[code]

The query works until I try to add where condition for subquery field "total".
The reason is this line:
https://github.com/phalcon/cphalcon/blob/master/phalcon/paginator/adapter/querybuilder.zep#L163

All columns are replaced by "COUNT(*) [rowcount]" and now we fire the query without the subquery field what,

[2016-02-04 16:27] davidgrenier opened #11367 "Model generated from dev tools puts wrong setSource"
Hello,

When generating a model from the phalcon dev tools 2.0.9, it defines both getSource():

[code]

And setSource in initialize:

[code]

Notice how Accounts in setSource is surrounded by single quote.

It eventually generates the following query:

[code]

Where you can see that the table name is surrounded by single quotes as well. Now I tested this after removing what I believe was a redunda

[2016-02-04 19:52] sergeyklay commented on #11367
Hi. This is [Devtools](https://github.com/phalcon/phalcon-devtools) issue not Phalcon. Can you please create issue at Devtools repo?

[2016-02-04 20:01] davidgrenier commented on #11367
Will do, thanks!

[2016-02-04 20:01] #11367 closed

[2016-02-04 23:52] #11224 closed

[2016-02-05 12:37] michanismus commented on #11366
Ok, my results so far.
I modified the Paginator\Adapter\QueryBuilder and ended up like this:

[code]

That works with subqueries as column but the rowcount is wrong with conditions on a subquery field.

I extended the QueryBuilder (php) and everything works fine now! Here is my final solution:

[code]

I only remove the order by and put the query into a count query. It is possible to use condition

[2016-02-05 13:43] michanismus opened #11372 "[NFR] Query Builder "having" like "where" functions"
Are there reasons why the builder does not have functions like "andHaving", "orHaving", "inHaving" and "notInHaving"?

The function accepts a string only. It could be compiled like where conditions...

It would be possible to add having conditions after calling events where a builder is passed, for example.

[2016-02-05 22:57] davihu opened #11374 "Proposal to Digit validator"
It would be nice, when Digit validator can handle integer as well as string value. I enabled orm.cast_on_hydrate and all Digit validations are now triggering an error because of int types :)

Please change actual behavior to
[code]

[2016-02-06 18:20] googlle opened #11375 "Gettext translations not working"
In module/Module.php
[code]
In controller
[code]
My file is located in this directory module/locale/ru_RU/LC_MESSAGES/messages.mo
Poedit found and translated strings
But in view (index.phtml) translation does not work
[code]
I recently started to learn Phalcon. Can you help me?

[2016-02-06 23:09] josefguenther opened #11378 "Router overrides custom defined parameters with path information"
I have the following route:

[code]

I am expecting the following parsed parameters:

[code]

However, here is the actual result (auth set to TRUE):

[code]

If 'auth' is set to FALSE, then I get the following:

[code]

[2016-02-06 23:15] josefguenther commented on #11378
I should clarify I am using default settings for `Phalcon\Mvc\Router` and `Phalcon\Mvc\Dispatcher`.

[2016-02-07 04:51] josefguenther opened #11379 "Relation::NO_ACTION does not have any affect saving/updating in relationship"
Consider a relationship for a `Robot`:

[code]

There is a reciprocal relation in the `Parts` model:

[code]

If I create a part on Robot 1, something like this:

[code]

It will still generate the following database queries:
`UPDATE robot....`
`INSERT INTO parts....`

How can I get rid of the first `UPDATE` database query? I was of the impression that `Relation::NO_ACTION` would prevent this.

No

[2016-02-07 09:47] sergeyklay commented on #11375
https://forum.phalconphp.com/discussion/10159/problem-with-gettext

[2016-02-07 12:13] googlle commented on #11375
@sergeyklay Thanks

[2016-02-07 12:14] #11375 closed

[2016-02-07 12:19] googlle commented on #11365
@sergeyklay Can you help me?

[2016-02-07 12:38] sergeyklay commented on #11365
[code]

[2016-02-07 16:57] googlle commented on #11365
@sergeyklay I made a mistake.
If I want the above code worked, I have to use Phalcon\Mvc\View\Simple instead of Phalcon\Mvc\View

[2016-02-07 17:58] #11365 closed

[2016-02-08 10:20] aleksandrzen opened #11382 "ODM: digit like a property of the document"
I have a collection in mongo, one of the documents in this collection has property `'18'` with value `3.56`.
I tried to select this document, but got an error:

[code]

Stack trace:
[code]

[2016-02-08 13:19] sergeyklay commented on #11382
It is Phalcon `2.0.x`?

[2016-02-08 13:58] aleksandrzen commented on #11382
@sergeyklay, I've tested this in `2.0.8`

[2016-02-08 17:27] jack-theripper opened #11386 "Does not work Phalcon\Validation\Validator\Alpha"
Check for alphabetic character for russian language.

Validator uses:

`if !ctype_alpha(value) {`

but it does not work with the Russian locale, in php big problem with setlocale on different operating systems.

how to change the condition in the code validator ?

For example

[code]

[2016-02-08 19:55] sergeyklay commented on #11386
Can you please create PR with tests to the `2.1.x` branch?

[2016-02-08 21:29] sergeyklay commented on #11382
Fixed in `2.1.x` branch

[2016-02-08 21:29] #11382 closed

[2016-02-09 02:18] daison12006013 opened #11389 "[NFR] ACL on router"
I don't know if we might gonna break the framework itself if we will include an additional key like this:

[code]

We have the resource now in which helps a lot for acl, but the code above might be helpful too and might do a maintainable code I think...

we just need to call this function to add a role:

[code]

then in the TicketController at editAction() we only need to call something like this

[2016-02-09 03:49] TheCheat opened #11390 "[2.0.10] Count query for pagination while grouping with QueryBuilder"
[code]

Results in:

[code]

While it works fine without groupBy.

Models manager basically defined like default:

[code]

[2016-02-09 07:28] Jurigag commented on #11389
You can implement this behaviour on dispatcher level. You need some key, from what get it ? Controller - resource name ? And action - access name ?

[2016-02-09 07:50] daison12006013 commented on #11389
@Jurigag, yeah that one is existing now, however the implementation seems kind confusing for others, even for me it is kind a confusing to implement using the existing resource.

I could also create a class to do the same thing, to extends the same router, however this thing I think is doable inside the cphalcon itself.

The process is simple compared on the current acl, we're more focused on each

[2016-02-09 08:14] SidRoberts commented on #11389
FWIW, I now it's not exactly what you're looking for but https://github.com/SidRoberts/phalcon-authmiddleware solves a similar problem.

[2016-02-09 08:35] Elzor opened #11391 "PHQL square brackets escaping"
Is there way to escape [ and ] symbols in PHQL?
I have issue with postgres arrays:

[code]

I resolve this by using raw sql, but it's not cool way.

[code]

instead

[code]

[2016-02-09 08:45] Jurigag commented on #11389
But im just not sure it should be running in controller/router. Dispatcher is imho one good place for it.

So you just wanna router methods to have allowed key, and then it will execute allow() methods for each value ? But with which resource name, and access name ? I can look into it, i already implemented some nice things for ACL in phalcon 2.1.x

[2016-02-09 09:28] sergeyklay commented on #11389
@SidRoberts Wow! How about PR to the [Awesome Phalcon](https://github.com/sergeyklay/awesome-phalcon)?

[2016-02-09 09:46] SidRoberts commented on #11389
@sergeyklay See https://github.com/sergeyklay/awesome-phalcon/pull/53. I'll add more to the documentation tonight to include ACL examples.

[2016-02-09 09:59] akatasonov commented on #639
+1

[2016-02-09 10:01] akatasonov commented on #639
+1

[2016-02-09 11:18] aleksandrzen commented on #11382
@sergeyklay, thx! :+1:

[2016-02-09 11:21] Jurigag commented on #11389
@daison12006013 also whats is current user ? Phalcon dont storing "user" anywhere.

[2016-02-09 13:46] lubberscorrado commented on #925
+1

[2016-02-09 13:46] lubberscorrado commented on #10686
+1

[2016-02-09 14:20] lubberscorrado commented on #2779
+1

[2016-02-09 14:31] Jurigag commented on #2779
What's wrong with https://docs.phalconphp.com/pl/latest/reference/url.html ?

[2016-02-09 16:41] tobispace commented on #10580
+1

[2016-02-09 22:50] daison12006013 commented on #11389
@Jurigag, we are not storing anything mate, we are just calling the di 'acl' and injecting the roles on it...

while we need to iterate manually the user roles from the database, and inject those roles inside the acl, no need to provide a user table thing...

[2016-02-09 22:57] daison12006013 commented on #11389
@SidRoberts that package is so cool for authentication, anyways I have an idea for an alternative way for annotations and events now :smile:

[2016-02-10 07:16] hailie-rei opened #11395 "2.0.10: Fatal error with Query Builder + Count + Group By + Paginator"
@sergeyklay

 == See the next comment ==

I use Phalcon 2.0.8.

[code]

returns: int(1)

Working example with data instead of query builder object for Paginator:

[code]

returns: int(62)

My tables:
[code]

I guess problem is somewhere here: https://github.com/phalcon/cphalcon/blob/master/phalcon/paginator/adapter/querybuilder.zep#L189

Just to compare: https://github.com/phalcon/cphalcon/blob/ma

[2016-02-10 07:50] hi2u commented on #1540
I'm actually already seeing the behavior that's being requested in this issue.  So I though that was how it works already.  i.e. cancelOnFail only cancels remaining validators on its own field, not the other fields.

Here's my login form code...

[code]

Even when the any of login's cancelOnFail validators fail, the password validators are still checked in the above code.  Could this be because I'

[2016-02-10 09:11] hailie-rei commented on #11395
UPD: Upgraded to 2.0.10, and this code:
[code]
causes an error:

Warning: Phalcon\Paginator\Adapter\QueryBuilder::getPaginate(): Invalid arguments supplied for fast_join() in ...Article.php on line 32

Fatal error: Uncaught exception 'PDOException' with message 'SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your M

[2016-02-10 10:07] valVk commented on #11389
Here is my implementation a bit complicated I think.

[code]

[code]

[code]

I'm using modules so for each module I did folowing

[code]

than for controller I did something like that

[code]

Also I did another approach which much easier, and ready to share for community if someone has interest.

[2016-02-10 14:01] blackjyn opened #11397 "PHP 7 Support"
I'm using XAMPP on Windows 8.1 x64 with PHP 7.
Please support PHP 7
(I'm too lazy to build from the source)
thanks

[2016-02-10 14:03] Green-Cat commented on #11397
2.1 will have php 7.0 support.

[2016-02-10 14:04] blackjyn commented on #11397
Okay will wait for that :)

[2016-02-10 14:04] #11397 closed

[2016-02-10 19:20] SidRoberts opened #11398 "[NFR] Replace session adapters with a single class that takes a cache backend object as a parameter"
I'm on my phone so I'll be brief... :wink:

[code]

[2016-02-10 19:22] sergeyklay commented on #11398
How about https://github.com/phalcon/cphalcon/pull/11362 ;)

[2016-02-11 05:13] tobasar commented on #11395
#11390

[2016-02-11 10:36] Green-Cat commented on #1185
@charnad Implemented in 2.0.x.
See #10414.

[2016-02-11 12:21] #1185 closed

[2016-02-11 14:16] Myrai opened #11400 "Routing doesn't use modificator."
http://php.net/manual/en/reference.pcre.pattern.modifiers.php
doesn't work.
`/test/{name:[a-z\040]/x}` `/test/{name:a-z\040/x}` `/test/{name:(a-z\040)/x}` `/test/{name:(a-z\040/x)}`
P.S. how use pattern \p{Greek} with flag?

[2016-02-11 22:22] #1950 closed

[2016-02-12 18:49] sergeyklay commented on #11286
Could you please check now `2.1.x` branch, after accepting #11401

[2016-02-13 12:58] tuxy commented on #11333
I actually think this should be posted in issues. At least tell us if this will happen this year ^_^

[2016-02-14 16:28] #2282 closed

[2016-02-14 16:45] Studentsov opened #11405 "Different behavior of similar methods in validation"
The getMessages methods of Models and Forms return different data types. Models return an array, and forms return object like Phalcon\Validation\Message\Group which any more not to transfer in Flash. Whether these methods to return identical data type owe?

[2016-02-14 21:02] sergeyklay commented on #11405
Since Phalcon 2.1.x `Phalcon\Mvc\Model\Validation` is deprecated  in favor of [Phalcon\Validation](https://docs.phalconphp.com/en/latest/reference/validation.html).

The functionality of both components is merged into one, allowing us to reduce the codebase while offering the same functionality as before.

Previously validations were implemented as follows:
[code]

Introducing Phalcon\Validation,

[2016-02-14 21:17] Studentsov commented on #11405
Your code does not work =)
But `return $this->validate($validator);` is work.
Unfortunately, you did not understand my question, I think.
Phalcon\Mvc\Model:
`public function getMessages(var filter = null) -> <MessageInterface[]> { //... }`
Phalcon\Forms\Form:
`public function getMessages(boolean byItemName = false) -> <Group> { //... }`
Same as intended methods return different types of data. I ju

[2016-02-14 21:24] sergeyklay commented on #11405
Where? Phalcon 2.1.x?

Ah, yes. I inattentively read

[2016-02-14 21:28] Studentsov commented on #11405
Yes, Phalcon 2.1.0.RC1.
https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/mvc/model.zep
line 1373-1412

[2016-02-14 22:19] sergeyklay commented on #11405
Well, I copypasted the example from the blog. The Blog's example contains a misspelling. I fixed my answer. In general I think your observation is logical. We should have a common interface for both cases.

[2016-02-15 02:51] wolftail opened #11407 "please support returning id"
when i use pgbouncer with transaction mode,  it will report lastInsertId method error. from postgres 8.4 , it support use "returning id" append to insert sql to get create record id. thank you!

[2016-02-15 15:52] angelxmoreno commented on #329
Could the need for nested blocks be solved by using nested partials?

[2016-02-15 18:13] googlle opened #11408 "Assets Phalcon\Exception The collection does not exist in the manager"
Hello.
I have layout with content
[code]
Some controllers don't include javascript
I get this message "Phalcon\Exception The collection does not exist in the manager"

[2016-02-15 18:20] googlle opened #11409 "Assets Content is duplicated"
Hello.
In view I include js

[code]

In layout render it

[code]

Content is duplicated

[code]

[2016-02-15 19:51] datanator commented on #329
True inheritance implies that it should be possible to inherit not only one level deep but infinite levels deep. This enables writing templates that complete parent templates or even only partially complete parent templates. It is a great feature for template inheritance such as implemented by Twig and Smarty3. To make inheritance work you need to have multiple nested levels and Volt just does nt

[2016-02-15 21:54] Jurigag commented on #11389
Okay. Not i get the idea. Its cool and fine. I can create some code to be build-in in phalcon for it. But i just dont know one thing:

$identity = $this->auth->getIdentity();

Then it depends from the developer where he will store this Identity, phalcon dont have built-in any auth/security etc service. Both version with annotations and without it can be nice, but from where get this user/identity

[2016-02-15 22:14] sergeyklay commented on #11389
Just use events:
[code]

Then, throw:
[code]

by using `My\Awesome\Acl::beforeDispatch` if resource not alowed

[2016-02-15 22:15] Jurigag opened #11410 "Constructors in interfaces"
Any logical reason for some interfaces have ```__construct``` methods ? We cant create objects from interfaces, it's just a contract.

I think we should split constructors from interfaces and create maybe abstract classes with __onconstruct definition which implement those interfaces.

For example - thats why i needed to create so simple interfaces ```RoleAware``` and ```ResourceAware``` beacause

[2016-02-15 22:36] Jurigag commented on #11389
Well the same way i guess we could create before

[code]

$em->attach('dispatch', $awesomeAcl);

?

[2016-02-16 02:51] luqmanrom opened #11411 "Cannot set session variable in micro application"
I am creating api that will be using Phalcon Micro. But, I have some issues when trying to set the session variable.

[code]

It seems the session variable of message is not set.

[2016-02-16 03:06] bmoore commented on #11358
https://github.com/phalcon/cphalcon/pull/11412

[2016-02-16 06:51] sergeyklay commented on #11411
Provide please session bootstrap

[2016-02-16 06:52] googlle commented on #11408
I think in the method get() " throw new Exception("The collection does not exist in the manager");" must be replaced by "return new Collection();" like in the method getJs()
[code]

[2016-02-16 07:11] dengsgo opened #11413 "Some questions about the JSON PostgreSQL field query"
In the latest version of PostgreSQL, adding some new JSON operations, such as modification, deletion, etc.. But these operations can not be used in Phalcon, such as:

[code]

Phalcon throws an exception: Scanner: Unknown opcode 405. This should be how to solve? thanks.

[2016-02-16 12:51] Zaszczyk opened #11414 "Phalcon\Validation\Validator\Regex not work properly"
I have form with such code:

[code]

Form validator return message for strings like: phalcon1, 1phalcon, 1phalcon1 and a lot other which contain digits.
Regex tester: https://regex101.com/r/aP0zH4/1

PHP 5.6
Phalcon 2.1.x

[2016-02-16 17:50] kowach commented on #10392
Hi
I found similar issue. When you try to reuse ResultSet from model in your second loop and your result has more the 32 rows, you get empty rows.

        $eol = php_sapi_name() == 'cli' ? "\n" : '<br/>';
        echo "PHP     : " . phpversion()            . $eol;
        echo "Phalcon : " . \Phalcon\Version::get() . $eol;

        $result = Country::find(['limit' => 33]);
        foreach($result

[2016-02-16 18:05] bmoore commented on #3033
This is possibly being handled in https://github.com/phalcon/cphalcon/pull/11320

[2016-02-16 18:16] googlle opened #11415 "Form collection"
Hello. I searched everywhere and found nothing. Can you help me? How to use the collection in the form?
[code]

[2016-02-16 18:17] googlle commented on #11415
@sergeyklay can you help?

[2016-02-16 18:30] josefguenther commented on #11389
By the way, this issue will get in your way: #11378

It would need to be fixed before adding stuff to the router array.

[2016-02-16 18:52] Jurigag commented on #11389
Oh right, i totally forgot about this bug :/

[2016-02-16 19:01] sergeyklay commented on #11415
For questions like these please use the forum: http://forum.phalconphp.com/, GitHub is only intended to report bugs and discuss new features.

[2016-02-16 19:01] #11415 closed

[2016-02-16 19:10] sergeyklay commented on #11358
Fixed in `2.1.x`

[2016-02-16 19:10] #11358 closed

[2016-02-17 00:00] daison12006013 commented on #11378
@josefguenther, this thing only occurs when using wildcard param, but if you have a static it seems it is fully working fine.

you could try '/test/{id}' I think for now..

[2016-02-17 00:57] #3033 closed

[2016-02-17 01:33] sergeyklay commented on #11174
Fixed in `2.0.x`

[2016-02-17 01:33] #11174 closed

[2016-02-17 02:06] daison12006013 opened #11422 "url get() function enhancement request"
[code]

My expectation must be:

[code]

But the returned url is:

[code]

[2016-02-17 08:46] ioncube opened #11424 "Dynamic updates / snapshot data work correctly only once"
See: https://forum.phalconphp.com/discussion/10477/snapshot-data-not-updated-following-save-update-bug-limitation-u

When making a save() or update() to a model with snapshots in place, any subsequent changes and save/update to the model instance also include fields changed in prior updates but that have not changed since. It appears that snapshot data is not updated with the values applied during

[2016-02-17 15:53] michanismus commented on #11390
But that wont fix pagination with JOINS and HAVING conditions. For example with a SUM() function field.

@see https://github.com/phalcon/cphalcon/issues/11366

[2016-02-17 17:32] googlle opened #11426 "Flash session messages"
Hello.
I try to use Flash session messages, but nothing
I'm trying to use flash session messages, calling the function output() - it removes the data from the session, but it does not show anything
In controller
[code]
In view
[code]

[2016-02-17 17:53] michanismus commented on #11286
I cant access my model aliases anymore with 2.1.x

[2016-02-17 18:28] michanismus opened #11427 "[2.1.x] Model alias in getter function not accessible"
Example:
Defined relation with alias "roles" in Model named "User".

I defined a getter function named getRoles() where I want to access $this->roles results in error: Undefined property: User::$roles

The relation:

[code]

The function:

[code]

[2016-02-17 21:12] sergeyklay commented on #11426
Could you please provide session service config/initialization

[2016-02-17 21:13] sergeyklay commented on #11286
@michanismus Can you please provide script to reproduce?

[2016-02-17 21:43] michanismus commented on #11286
@sergeyklay I opened a new issue https://github.com/phalcon/cphalcon/issues/11427

[2016-02-17 21:45] michanismus commented on #11427
@sergeyklay I can use the alias anywhere else, but it is impossible to create/overwrite a getter function for the alias in the model. I use the latest 2.1.x branch. Error happens since your last 2.0.x merge.

[2016-02-17 23:05] michanismus commented on #11427
Found the commit which changes the behaviour:
https://github.com/phalcon/cphalcon/commit/6d17755858027929b6f98d925f3646731332329d

[2016-02-18 05:57] googlle commented on #11426
Config
[code]

[2016-02-18 10:04] sergeyklay commented on #11427
@nsossonko

[2016-02-18 10:09] sergeyklay commented on #11286
@bmoore Issue is solved?

[2016-02-18 12:30] michanismus commented on #11286
Sorry for push, but we need a solution. The new behaviour breaks a lot of code for me!

Why should the model always search and use an available setter? If I want to use a setter, I call it!
As I mentioned, with the new behaviour it is impossible to create a getter function for Model aliases. Inside the function the property is not accessible anymore.

I think it would better to extend the Model cl

[2016-02-18 12:46] bmoore commented on #11427
I cannot find this commit in the 2.0.x history. Does this issue still exist with my changes?

Also, there is no restriction to create and utilize your own setter methods. This just provides magic so you can use $user->role = instead of $user->setRole($role);

[2016-02-18 12:51] bmoore commented on #11427
I do see this commit on 2.1.x

So this get function is in the user model? What is the visibility of the roles and _roles properties? Could you provide an expected and actual vardump ?

[2016-02-18 12:52] michanismus commented on #11427
2.1.x branch and yes issue exists with your changes.
The problem is, I want to decide to use a setter or not.
And it breaks the getter function for aliases. Take a look at my function, the alias (not existing property) is not accessible inside the function anymore.

[2016-02-18 12:53] michanismus commented on #11427
I have to recompile phalcon with your changes. Takes a couple of minutes, then I will provide a call stack...

[2016-02-18 13:10] Gamblt opened #11429 "Gettext adapter constructor error with Phalcon 2.0.10"
After updating on 2.0.10 I've got fatal error in Phalcon gettext adapter constructor.

[code]

2.0.9 works good.

[2016-02-18 13:12] michanismus commented on #11427
Here is a call stack for the error:

[code]

and these are my functions:

[code]

[2016-02-18 13:24] sergeyklay commented on #11429
Thanks for reporting. Wilд be fixed quickly

[2016-02-18 13:35] sergeyklay commented on #11429
Fixed in `2.0.x`

[2016-02-18 13:35] #11429 closed

[2016-02-18 13:53] nsossonko commented on #11427
This has to do with triggering the error specifically at the end. I think it would be better to just get rid of that entirely and revert to old behavior regarding that. Just removing this block: https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/mvc/model.zep#L4165 should fix this issue. In reality, it does sync up behavior with the getter but, unlike in the getter scenario, Phalcon caches rel

[2016-02-18 13:53] michanismus commented on #11427
Guess the problem is the __get function finds a relationship and tries to set the property. The property, the alias does not exist at this moment and your new auto setter is called. If the setter tries to use a getter or the relation itself, it ends up in a loop and crashs.

https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/mvc/model.zep#L4254

[2016-02-18 14:06] michanismus commented on #11427
@nsossonko Yes, a check for an alias in setter would fix it. But anyway, I think there should be a discussion about the "try to find a setter and execute it behaviour". What if I want to bypass setter logic in some cases? At the moment it is impossible, the setter is always called.

[2016-02-18 14:08] nsossonko commented on #11427
What's the point of getter/setter functionality if the setter is not called? How does it make sense to bypass a setter? If you really want to bypass the setter, just define the property as a public property.

[2016-02-18 14:24] michanismus commented on #11427
The point is, it was possible before.
Now an exception is thrown if the property is not public. Before it was possible to set a protected property, now it is not.
Another example. I defined a function setDate(...) which does some stuff but has nothing to do with a property "date" itself. I cant set a public property "date" for the model anymore because $model->date will always call the setDate fun

[2016-02-18 14:29] michanismus commented on #11427
Your question "How does it make sense to bypass a setter?". Right, so why don't use $model->setSomething() instead of using $model->something and try to execute a setter?

[2016-02-18 14:35] nsossonko commented on #11427
It's pretty common convention in any getter/setter implementation to call the setter automatically whenever the property is set. Previously this was buggy because it would not call the setter (in fact, it called the setter when assign was called, but not when the property was directly adjusted). The point of getter/setter is to protect your object so that external callers cannot do bad (unexpected

[2016-02-18 14:43] michanismus commented on #11427
You are right, the previous __set function bypassed standard behavior and expectation.
The setDate example, you are wrong. If the property is not defined __set will called and in the end the setDate function is called, I tested it. So it is not possible to add a public property while script is executed no matter if it makes sense or not.

Anyway, there is still the big problem with aliases what ne

[2016-02-18 15:38] bmoore commented on #11427
The issue you seem to be mentioning with the date is that you're setting an undefined property at runtime. Php is flexible and can do that, but there are some caveats.

Php behavior by default will directly access a public property, setting and getting. If a property is not defined or is hidden (private or protected), then it will try to use magic (__set or __get) I believe if a property is set on

[2016-02-18 15:58] michanismus commented on #11427
@bmoore

No. Otherwise the relation wont be initialized by __set function because its is already defined.

I guess because I use both, a get and a set function for a relation and in the set function I merge existing records with new and/or delete unused. Therefor I call the get function in the set function which tries to access the property "roles" which is the alias. All ends up in a loop and PHP

[2016-02-18 16:22] bmoore commented on #11427
Looking through the code and the back trace, __get tried to assign the property roles at run time. This triggers __set which checks for relations first. S ce the relation want set, it then looks for the setter. This setRoles then calls getRoles which then tries to access a still undefined $this->roles which then throws your exception. That's the loop problem, partly in the way your get and set met

[2016-02-18 16:25] michanismus commented on #11427
I test your replacement. Give me some minutes ;)

[2016-02-18 16:40] michanismus commented on #11427
Nope, that didn't work.
I also tried to replace all statements like "this->{lowerKey} = item" with internal write attribute function "this->writeAttribute(lowerKey, item)" but it didn't work as well. Of course not, because it tries to set the property the same way.

[2016-02-18 17:11] michanismus commented on #11427
I can fix my code by replacing "$this->roles" with $this->getRelated('roles'). I can live with this solution but the loop problem (get -> set -> get) still exists.

@bmoore

Right. Wouldn't it be better to drop getter and setter functions support in magic completely?
__get and __set should handle relations if they are accessed the direct way "$this->roles" and protected and private properties are

[2016-02-18 17:44] nsossonko commented on #11427
@michanismus why not rename your setter to _setRoles (or something similar) to avoid the auto-calling? I re-read your code and it seems to me it is prone to this error for which there's not much that can be done. The cycle is: getter->__get->__set->setter->getter. The underlying property is never being successfully set because your setter is in the way. So why not just rename your setter (which is

[2016-02-18 17:56] michanismus commented on #11427
@nsossonko Thats true but won't change the problem, which is simple. If I call a relationship getter in a relationship setter function, it will end in a loop and an error.

[2016-02-18 17:59] michanismus commented on #11427
@nsossonko Thats why I asked if its maybe better to drop getter and setter functionality in magic completely.

[2016-02-18 18:02] bmoore commented on #11427
So you found a workaround? And yes, there's a partial benefit with keeping expectations along with standard php. I started developing on the model section with my patches as I had issues with the magic. What I wrote handled an glaring upfront issue with way the documentation and tests described the magic. Overall, I am discontent with the way the setter getter actions in models are handled. @phalc

[2016-02-18 18:03] nsossonko commented on #11427
At the cost of not allowing setters for relationships. It's not really a bug because you defined a setter for the relationship, so you should be **setting** the property there, not attempting to get it. If you want to define a utility function for relationships it should **not** be named like a setter is meant to be named.

The new functionality is actually really cool in that it allows custom beh

[2016-02-18 18:18] michanismus commented on #11427
@nsossonko Yes I should set the property in a relationship setter but what is a function good for if we cannot do other stuff there. And who says I am not allowed or it is not "standard" to call the getter for the same relation in the setter method?

I didn't mean to drop relations in magic functions, I meant to drop support for properties/fields. If a field is defined as protected, treat it like

[2016-02-18 18:46] nsossonko commented on #11042
This is fixed by PR #11055

[2016-02-18 18:46] #11042 closed

[2016-02-19 07:38] mzf commented on #10940
Have this issue too, Phalcon 2.1.RC1

[2016-02-19 10:54] sergeyklay commented on #10940
@Izopi4a Can you please check now `2.1.x`?

[2016-02-19 11:01] Izopi4a commented on #10940
Hi @sergeyklay ,

this is working for me for quite some time now. There are some other comments that's why i didn'i close it.

If you think you can close it.

[2016-02-19 16:15] tobispace commented on #329
+1

[2016-02-19 17:25] phpclub commented on #10378
+1

[2016-02-19 18:53] butamuh4o commented on #1117
+1

[2016-02-19 19:59] tmihalik commented on #1117
+1

[2016-02-19 20:46] sergeyklay commented on #10378
@quantumpacket, @phpclub, @JakeGlascock, @phecho, @zjhzxhz, @Rewt0r, @hakimio,@andrefauth, @Izopi4a, @JCMais, @Green-Cat, @salarmehr, @hdogan

Hey mans, now you can try Phalcon 2.1.x with PHP 7. Just use latest Zephir with `zephir build —backend=ZendEngine3` command

[2016-02-19 20:53] sergeyklay commented on #1117
:-1:
Eager Loading is a really bad idea popularized by frameworks that do not care about performance.

[2016-02-19 20:53] #1117 closed

[2016-02-19 20:53] Jurigag commented on #1117
I agree.

[2016-02-19 22:00] Jurigag commented on #10378
Well, is there anything need for test or it should work as it is ?

[2016-02-19 22:44] Izopi4a commented on #10378
i will report tomorrow busy playing diablo 3 atm :D

[2016-02-19 23:07] sergeyklay commented on #10378
@Izopi4a :smile: anyway, create a separated issue

[2016-02-20 02:29] xblack21 commented on #11244
any Progress?

[2016-02-20 08:55] Izopi4a opened #11433 "[php7 bug] - Router\Group is not working"
[code]

[code]

now this trows: ` Phalcon\Exception occurred: The group of routes does not contain any routes#0`

if we var_dump(new ModuleRoutes()) :

[code]

in php5.6 the object has its stuff when printed. I just started playing with php7 , but seems like its not my fault :).

My guess is that `initialize` method is jnever called, but i dont know

[2016-02-20 09:31] sergeyklay commented on #11244
Can you please try `2.0.x` branch?

[2016-02-20 11:31] phpclub commented on #10378
zephir build —backend=ZendEngine3
PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 20480 bytes) in /zephir/Library/CompilerFile.php on line 173

[2016-02-20 11:33] phpclub commented on #10378
Under centos 6.x
zephir build —backend=ZendEngine3
Warning: Variable "_SESSION" assigned but not used in Phalcon\Session\Adapter::remove in /root/Soft/cphalcon/phalcon/session/adapter.zep on 204 [unused-variable]

	 }
	-^

PHP Notice:  Use of undefined constant APC_ITER_ALL - assumed 'APC_ITER_ALL' in /root/Soft/zephir/Library/ClassDefinition.php on line 1743
PHP Notice:  Use of undefined constant

[2016-02-20 11:36] phpclub commented on #10378
/root/Soft/cphalcon/ext/phalcon/annotations/reader.zep.c: В функции ‘zim_Phalcon_Annotations_Reader_parse’:
/root/Soft/cphalcon/ext/phalcon/annotations/reader.zep.c:91: ошибка: несовместимый тип аргумента 1 функции ‘phannot_parse_annotations’
./phalcon/annotations/annot.h:44: замечание: expected ‘struct zval *’ but argument is of type ‘zval’
/root/Soft/cphalcon/ext/phalcon/annotations/reader.zep.c

[2016-02-20 11:36] phpclub commented on #10378
PHP 7.0.3 (cli) (built: Feb  3 2016 11:40:05) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies

[2016-02-20 11:59] Jurigag commented on #10378
In Phalcon 2.1 support for APC should be dropped in favor of APCu.

[2016-02-20 12:00] Izopi4a commented on #10378
@phpclub build and isntall this: https://github.com/krakjoe/apcu

also make sure you do zephir fullclean before zephir build

and i am not 100% sure but i think i increased my memory limit ( while building it ) i am not sure if problem was fixed as soon as i instakked apcu

[2016-02-20 13:57] ioncube opened #11434 "[DOC] Model events are documented inconsistently/incompletely"
While many events are documented in easy to locate and digest tables, a few events are documented only in passing so as to be easily missed or not understood when their use is seen.

`validation()` is introduced with text:

but omitted from the useful table of related events.

`afterFetch()` is inconsistently introduced with text:

and again does not appear in any table of events.

A section in th

[2016-02-21 00:08] andrefauth commented on #10378
Oh, nice. Thanks for the heads up. I'll let you know what happens.
Em 19/02/2016 18:46, "Serghei Iakovlev" <notifications@github.com> escreveu:

[2016-02-21 04:03] codesaler opened #11435 "[bug] install failed on debian testing"
os: debian testing (latest)
Linux 4.4.0-1-amd64 #1 SMP Debian 4.4.2-2 (2016-02-19) x86_64 GNU/Linux
libtool (GNU libtool) 2.4.6

commit cf3c1fe62184d36d24c543c0b4f9993ea8f2445b
git clone --depth=1 git://github.com/phalcon/cphalcon.git
cd cphalcon/build
sudo ./install

output:

[output.txt](https://github.com/phalcon/cphalcon/files/139450/output.txt)

[2016-02-21 07:13] googlle commented on #11426
@sergeyklay Can you see?

[2016-02-21 08:57] Green-Cat commented on #11435
You are missing libtool

[2016-02-21 09:38] codesaler commented on #11435
@Green-Cat
already installed libtool using:
apt-get install libtool

output as the same.

[2016-02-21 09:44] Surt commented on #1117
Well another eager loading issue closed. Anyway the https://github.com/stibiumz/phalcon.eager-loading works well and we can work with zephir to a lower level implementation.
Actually, on web programming, persistence read-write are the most used functionality and it's the most looked tool (routers, request, responses,caché, etc are nowadays practically standardars (even more thanks to phpfig)
About

[2016-02-21 11:08] sergeyklay commented on #11426
provide please session service config/initialization

[2016-02-21 11:12] googlle commented on #11426
[code]

[2016-02-21 11:14] sergeyklay commented on #11426
use `$di->setShared`

[2016-02-21 11:23] googlle commented on #11426
Also doesn't work
When I call $this->flashMessenger->error("Your information was stored correctly!");
data is saved to a file
[code]
But when call, it just is removed
<?php print_r($this->flashMessenger->output()) ?>

[2016-02-21 12:14] sergeyklay commented on #11426
[code]

[code]

[2016-02-21 12:35] googlle commented on #11426
It works in controller.
But when call it from view nothing shows, only the data is removed from session.
I don't know. maybe I incorrectly set up view
[code]

[2016-02-21 18:25] memmaker commented on #11156
+1

[2016-02-21 19:19] spuy767 commented on #1117
You can't just dismiss this out of hand Sergey.  I don't disagree that most implementations of eager loading in frameworks are memory hogging abominations because, like stibiumz's implementation, they just pull in the entire model. But I assure you that with careful consideration to performance,  an imementation could be done in Phalcon that is no more memory intensive or detrimental to performanc

[2016-02-22 09:17] googlle commented on #11426
@sergeyklay, I realized why not show messages. In action, I used the code below.
[code]
Is this code can not be used in the action?

[2016-02-23 09:27] #9974 closed

[2016-02-23 09:27] #2777 closed

[2016-02-23 09:27] #9968 closed

[2016-02-23 14:57] seliver commented on #2705
Binding variables did solved my memory leak. Thanks @phalcon .

[2016-02-23 15:24] tuxy opened #11439 "Phalcon 2.0.10 Documentation"
https://docs.phalconphp.com/en/latest/index.html

Is this documentation same for version 2.0.10 or you guys just haven't updated it yet ?

[2016-02-23 15:41] tuxy opened #11440 "[2.0.x] Volt String Manipulation Request"
Can we please get various string manipulations in volt ?

Things like; ``explode``, ``implode``, ``substr``, ``strstr``.

Something else useful is date/time format.

Thank You.

[2016-02-23 16:17] valVk commented on #11410
Just for reference.

[https://github.com/phalcon/cphalcon/blob/master/phalcon/acl/roleinterface.zep#L33](roleinterface.zep)

[https://github.com/phalcon/cphalcon/blob/master/phalcon/acl/resourceinterface.zep#L34](resourceinterface.zep)

Interfaces do not must have constructors.

[2016-02-23 16:19] valVk commented on #11440
you can extends Volt with any custom function you need

[https://docs.phalconphp.com/en/latest/reference/volt.html#extending-volt](Extending Volt)

[2016-02-23 18:41] sergeyklay commented on #11439
Still not updated.

@andresgutierrez

[2016-02-23 23:17] fenixphp opened #11442 "[2.1.x] Di Closure $this by declared object."
If you call a method in the class, "$this" behavior contrary to the rest of "Closure" in "PHP".
[code]

or

[code]

Instead of ``` $this->config->get('App.cryptKey') ``` must do so ``` $this->get('config')->get('App.cryptKey') ```.

Based Documents PHP "$hits" in the "Closure" must be an object in which "Closure" declared a.

[2016-02-24 03:26] xuqinjie opened #11443 "[2.1.x] Bug: Phalcon\Forms\Form validation failed"
2.08 does not have this bug.

[code]

When make validation, it throws the below error:

[code]

[2016-02-24 08:43] sergeyklay commented on #11390
@TheCheat Can you please test now `2.0.x` branch?

[2016-02-24 08:43] sergeyklay commented on #11395
@hailie-rei Can you please test now `2.0.x` branch?

[2016-02-24 10:02] jaskaransingh156 commented on #1299
I fixed this issue by adding a function "addServers" to the Phalcon\Cache\Backend\Memcache class. Code is available here:

https://github.com/jaskaransingh156/cphalcon

Example of using addServers method is following:

$frontCache = new \Phalcon\Cache\Frontend\Data( array ( "lifetime" => 172800 ));
$memcache = new \Phalcon\Cache\Backend\Memcache($frontCache, array ( 'host' => 'memcache_host1', 'po

[2016-02-24 10:15] valVk commented on #11435
maybe there have to be libltdl-dev

`apt-get install libltdl-dev`

[2016-02-24 11:19] tmihalik commented on #10871
ping @sergeyklay

[2016-02-24 11:54] sergeyklay commented on #10871
@tmihalik Could you please try to test `2.0.x` branch?

[2016-02-24 13:29] Zaszczyk opened #11444 "[2.1.x] cache/backend/redis.ze::flush() doesn't clear everything"
There is in documentation:

So I wrote code:
[code]
And I was sure this command clear all keys with prefix: '_PHCR*'. But redis monitor logs only:

So is it bug in code or in documentation or in my mind? :smile:

[2016-02-24 13:42] codesaler commented on #11435
@valVk already installed.
finally, problem solved.
reason: libtool version mismatch.
solution:
`autoreconf --force --install`
`./configure `
`make`

according to http://stackoverflow.com/questions/3096989/libtool-version-mismatch-error

[2016-02-24 14:03] tmihalik commented on #10871
Both 2.0.x and 2.1.x has this bug.
If create and delete is in the same request it's ok.
To reproduce the bug create a cookie and then try to delete it in another request.

[2016-02-24 16:05] martin9348 commented on #10940
I have this error (Trying to call method getdi on a non-object, with new validation, like first post but with return $this->validate($validator);) with Phalcon 2.1.0.RC1 - Windows x86 for PHP 5.6.0 (vc11). Has the fix been put in this release? Thank you.

[2016-02-24 17:58] #11435 closed

[2016-02-24 17:59] #10940 closed

[2016-02-24 18:39] hailie-rei commented on #11395
@sergeyklay I followed these steps:
1) git clone git://github.com/phalcon/cphalcon.git
2) git checkout 2.0.x
3) cd cphalcon/build
4) sudo ./install
5) restart apache

Please correct me if I was wrong.

For my steps I received an error:

Warning: Phalcon\Paginator\Adapter\QueryBuilder::getPaginate(): Invalid arguments supplied for fast_join() in /Users/Lena/redlab/www/japanese/app/modules/Article/M

[2016-02-24 19:07] DestinyMKas commented on #11443
In 2.0.x there is no getColumnNameReal method. I think this is 2.1.x issue

[2016-02-24 21:33] dzubchik commented on #11414
@Zaszczyk , you have expected that validator will work as default preg_match behavior, but it does not. You can dive a little bit deeper into phalcon and find out this code:

[code]

It seems that validator is correct only when your regex full match value. Here are examples:

[code]
In your case, you can simply replace regex with this pattern - ``` /(.*)\d(.*)/```. More examples: https://regex101.

[2016-02-24 21:47] Zaszczyk commented on #11414
Thank You for an explanation.

[2016-02-24 21:47] #11414 closed

[2016-02-24 21:48] dzubchik commented on #10562
@KorsaR-ZN , what feature status?

[2016-02-24 22:18] dzubchik commented on #11057
@feanorelf , please watch this issue #11414

[2016-02-24 22:39] #11057 closed

[2016-02-24 23:00] dzubchik commented on #11341
@sergeyklay , maybe milestone should be assigned to this issue?

[2016-02-25 00:13] sergeyklay commented on #11341
how this will help

[2016-02-25 02:12] kimsungwook opened #11446 "phalcon/session/adapter/redis->destroy() DOES NOT REMOVE REDIS KEY!!"
cphalcon/phalcon/session/adapter/redis.zep

My service.php file is like this.
[code]

When I Call destroy function In controller, the session key is never removed in REDIS SERVER.
$this->session->destroy();

I've monitored redis server.

[code]
(key is never removed)

I fixed this bug with following code.
Extends Pahlcon\Session\Adapter\Redis

[code]

In order to remove redis key from redis server

[2016-02-25 02:46] xuqinjie commented on #11443
Thanks, title should be 2.1.x

[2016-02-25 06:40] #9944 closed

[2016-02-25 06:40] #2348 closed

[2016-02-25 07:33] sergeyklay commented on #11443
@xuqinjie The model always must be initialized.

This is invalid:
[code]

This must be an object, model instance, not string.

[2016-02-25 07:33] #11443 closed

[2016-02-25 08:01] phpclub commented on #10378
Thanx

zephir fullclean
[root@conf cphalcon]# zephir build —backend=ZendEngine3
Warning: Variable "_SESSION" assigned but not used in Phalcon\Session\Adapter::remove in /root/Soft/cphalcon/phalcon/session/adapter.zep on 204 [unused-variable]

	 }
	-^

PHP Notice:  Use of undefined constant APC_ITER_ALL - assumed 'APC_ITER_ALL' in /root/Soft/zephir/Library/ClassDefinition.php on line 1743
PHP Notic

[2016-02-25 08:37] dzubchik commented on #11446
Related #11444

[2016-02-25 08:48] phpclub commented on #10378
Done! Where to download the stress tests for phalcon?

PHP Version 7.0.3
Web framework delivered as a C-extension for PHP
phalcon	enabled
Author	Phalcon Team and contributors
Version	2.1.0b
Build Date	Feb 25 2016 10:56:47
Powered by Zephir	Version 0.9.2a-dev

[2016-02-25 09:12] dzubchik commented on #11341
@sergeyklay , sure it will help! Just look at yii2 or symfony issue trackers:

- https://github.com/yiisoft/yii2/issues
- https://github.com/symfony/symfony/issues

It is easy to find out relations between issues and framework component, also it is clear to understand next release issues. So, when I, as developer, want to help I don't understand issues priority, except bug-high, bug-low. IMHO issu

[2016-02-25 11:00] ZStelmo commented on #1160
Any news  ? the problem persist  .

[2016-02-25 11:13] dzubchik commented on #3302
@tmquang6805 , I think it is because these lines:
[code]
in \Phalcon\Mvc\Router 519:521. You can send a pull request with this feature.

[2016-02-25 13:52] xuqinjie commented on #11443
Very strange, This is the documentation.
https://docs.phalconphp.com/zh/latest/api/Phalcon_Validation_Validator_Uniqueness.html

In 2.08 it works very well.

[2016-02-25 13:53] xuqinjie commented on #11443
@sergeyklay

Very strange, This is the documentation.
https://docs.phalconphp.com/zh/latest/api/Phalcon_Validation_Validator_Uniqueness.html

In 2.08 it works very well.

[2016-02-25 13:56] xuqinjie commented on #11443
@sergeyklay
I tested it again.
[code]

The above code works in 2.1.x but in 2.08, it will throw exception:

Warning: Phalcon\Validation\Validator\Uniqueness::validate(): class name must be a string

[2016-02-25 14:12] nsossonko commented on #10378
If someone puts out some DLLs for Windows I can stress test them on my project.

[2016-02-25 14:27] Paradoxis opened #11448 "Flash messages vulnerable to XSS attacks"
## Summary
Adding messages to the `Phalcon\Flash\Session` object will cause the contents of the message to remain unecaped when they are displayed, possibly allowing an attacker to inject HTML into the page (XSS).

* **Class affected:** `\Phalcon\Flash\Session`
* **Method used:** `{{ flashSession.output() }}`

## System details
* **Phalcon version:** 2.0.10
* **OS:** Tested on Ubuntu

## Code exam

[2016-02-25 15:59] sergeyklay commented on #11443
This is why we'll release major version 2.1

[2016-02-25 17:06] sergeyklay commented on #10378
@phpclub  https://github.com/phalcon/cphalcon/pull/11432 I do it. Unfortunately I do not have time to do it quickly.

[2016-02-25 18:46] sergeyklay commented on #11443
@xuqinjie Very strange this
[code]
and then

[code]

[2016-02-25 19:13] emiliodeg opened #11449 "addInlineJs join incorrectly"
For example

[code]

We expect the next result

[code]

But gets this, loosing individual script attributes

[code]

I hope I explained correctly

[2016-02-25 19:27] sergeyklay commented on #11410
Fixed in `2.1.x` branch

[2016-02-25 19:27] #11410 closed

[2016-02-25 21:50] ndeleplace commented on #1106
The issue seems to be back on 2.0.10 :
if set to '0', 0 or false, it is inserted as 1 in the BIT field in the end

[2016-02-25 22:16] sergeyklay commented on #1106
Create separated issue

[2016-02-25 22:38] josefguenther commented on #1117
You could say relational databases in general are a bad idea. However, many of us are using SQL variants with success. We use relationships. We do not get the best performance, but we are not programming in ASM either. For us (probably 90% of phalcon users), eager loading makes sense.

Just a quick note. The current implementation of ResultSet makes it VERY difficult to do eager loading manually.

[2016-02-25 22:43] Jurigag commented on #1117
Just whats the problem with joins ?

[2016-02-25 22:56] josefguenther commented on #1117
So far I have only been able to use joins as conditionals in queries, I have not been able to retrieve data from the joined table. Am I missing something?

[2016-02-25 23:17] Jurigag commented on #1117
I guess you are missing modelsManager ? In my project i normally retrieve data from some table and joined table in one query(instruction).

[2016-02-25 23:27] nsossonko commented on #1117
Make sure you select the columns of the joined tables as well, by default they are not selected.

[2016-02-26 00:00] josefguenther commented on #1117
Aha, I see. This returns the Complex resultset... This is possible but could be a lot of work.

I do not understand why eager loading is a bad idea. Hibernate (java) allows you to eager load with a separate SELECT or with a JOIN. I think that would be an excellent model to work off of. Just because it may negatively impact performance does not mean it would not be helpful.

[2016-02-26 00:07] sergeyklay commented on #11395
@hailie-rei Right now I tested this on Phalcon Forum DB schema: https://github.com/phalcon/forum/blob/2.0.x/schemas/forum.sql

[code]

Result:

Total items: 415
SQL:
[code]

[code]

Latest commit: https://github.com/phalcon/cphalcon/commit/932eae0710d227e4ea48efdb4a22a8c631b26b5d

[2016-02-26 00:38] #622 closed

[2016-02-26 00:47] sergeyklay commented on #11291
@Mobilyzz Can you please provide script to reproduce?

[2016-02-26 05:19] xuqinjie commented on #11443
@sergeyklay

Thank you very much!

[2016-02-26 07:27] Green-Cat commented on #1117
You can already do that `$model->getRelated('othermodel');`

[2016-02-26 07:59] mardachevdv opened #11453 "Strange behaviour of Phalcon\Mvc\Model::create method"
When I try to create a new record in db table the method 'create' have a different effect when I pass parameters as array and if I using setters, if record already exists(by primary key).  In first case(using array as a parameter) existing record has updated, in second case(using setters) I got InvalidCreateAttempt. Maybe it's my mistake and it is a normal behaviour.

System details
    Phalcon ve

[2016-02-26 08:16] ndeleplace opened #11454 "Phalcon\Mvc\Model - MySQL BIT field"
Phalcon 2.0.10 seems to have back the issue on BIT field :

if update without any change, values of BIT field 0 (b'0')/false become 1 on update.

See https://github.com/phalcon/cphalcon/issues/1106
It was fixe on 2.0.4 but is now back (because of a last version of MySQL or last version of Phalcon ? )

[2016-02-26 11:00] nlmayday opened #11455 "[2.1.x]get wrong url when i useing `$this->tag->linkTo(array('http://www.google.com')'"
set ` baseUrl ` to '/test/'
[code]
is output
`<a href="/test/http://www.google.com"></a>`

[2016-02-26 14:21] sergeyklay commented on #11455
[code]

[2016-02-26 14:49] #11455 closed

[2016-02-26 19:07] josefguenther commented on #11378
Do you mean a regex pattern? I am not using a wildcard in my path.

[2016-02-26 19:56] Zaszczyk opened #11457 "[2.1.x] Relation manyToMany saved double because of afterCreate event"
I have model Activity, which has a lot relations, including hasMany and manyToMany:

[code]

User's relation:

[code]

ActivityParameter's relation:

[code]

and it was working right, I've created new objects and relations were OK. But I added afterCreate event to model Activity with code:

[code]

This code adds extra parameters to Activity object and save again new object. After this saving ther

[2016-02-26 20:05] Jurigag commented on #11457
How are you passing $event and $activity do afterCreate method ? Well i guess it looks like that $activity in passed parameter dont have stored ID. For now try update() method instead of save().

[2016-02-26 20:23] Zaszczyk commented on #11457
In Activity::initialize() I have such code:

[code]
and method afterCreate() is in class ActivityListener.
I tried with update() and got:

I've also checked $activity with xDebug just before $activity->save() and there is id set.

[2016-02-26 20:24] rkeplin opened #11458 "[2.0.10] dispatch:beforeException not executing when exception is thrown in dispatch process"
When an exception is thrown in a dispatch loop event, beforeExecuteRoute for instance, beforeException never gets fired off.

This had been working in Phalcon 1.3.5, until I recently updated to Phalcon 2.0.10.  Not sure if the desired functionality has changed, or if this is a bug.  But I had found it useful when beforeException was fired off whenever an exception was thrown in a controller or oth

[2016-02-26 20:52] sergeyklay commented on #11457
var_dump/die detected :smile:

[2016-02-26 21:04] Jurigag opened #11459 "Array service access in di inconsistency"
Im not sure its a bug, but there is nothing in documentation that array service access in di will always return services as singletones instead of new objects.

https://forum.phalconphp.com/discussion/10583/set-service-to-be-not-shared#C30309

[2016-02-26 21:23] Jurigag commented on #11459
Well i think offsetGet method should use getService and resolve method.

But how about offsetSet ? I think there should be some way to set its shared, maybe just array syntax like this:

$di['someService'] = [here definition,true/false(default false)];

@sergeyklay

[2016-02-26 22:41] Zaszczyk commented on #11457
@sergeyklay what do You mean? :smiley:

[2016-02-26 23:04] sergeyklay commented on #11457
The type of people which always use Xdebug (var_dump/die) for debugging purposes.  :stuck_out_tongue_winking_eye:

[2016-02-27 06:40] googlle commented on #2758
+1

[2016-02-27 09:22] vinaysikarwar opened #11461 "How to use php-devel in php7"
I have installed php7 php-devel version php70-php-devel.x86_64. But when running command ./install it is giving error.

Can't find PHP headers in /usr/include/php
The php-devel package is required for use of this command.

[2016-02-27 14:23] tuxy commented on #11440
What would be the best practice to extend volt ? Do we use separate class for it ? Some examples appreciated. Thank you.

[2016-02-27 16:17] sergeyklay commented on #11440
For questions like these please use the forum: http://forum.phalconphp.com/, GitHub is only intended to report bugs and discuss new features.

[2016-02-27 16:17] #11440 closed

[2016-02-27 20:45] fenixphp opened #11463 "[2.1.x] $form->isValid($_POST) Trying to call method getdi on a non-object."
Code in controller
[code]
Trying to call method getdi on a non-object.

[2016-02-27 21:01] sergeyklay commented on #11463
https://github.com/phalcon/cphalcon/issues/11443

[2016-02-27 21:01] #11463 closed

[2016-02-27 23:42] fenixphp opened #11464 "[2.1.x] Model validation must implement interface Phalcon\ValidationInterface"
[code]
PHP Catchable fatal error:  Argument 1 passed to Phalcon\Mvc\Model::validate() must implement interface Phalcon\ValidationInterface, instance of Phalcon\Validation\Validator\Email

[2016-02-27 23:47] sergeyklay commented on #11464
[code]

[2016-02-27 23:47] #11464 closed

[2016-02-27 23:55] fenixphp commented on #11464
Thank you! Rather all this would appear in the documentation.

[2016-02-28 01:43] zjhzxhz commented on #10378
Failed to compile in Deepin (an OS based on Debian 8).

PHP Information:

[code]

Zephir Information:

[code]

OS Information:

[code]

Compile Command:

[code]

Error Log:

[code]

[2016-02-28 03:23] zjhzxhz opened #11465 "[2.1.x] Function setVar() not working"
I've upgrade to PHP 7.0.3 and Phalcon 2.1.x. But the code works well before upgrade can't works now.

Here's the code in controller:

[code]

And here's the code in views:

[code]

And I got an error message:

[code]

What's wrong with it?

[2016-02-28 03:27] zjhzxhz commented on #11465
Believe it or not, you can get the source code from [this repository](https://github.com/zjhzxhz/TestZilla).

[2016-02-28 09:54] kowach opened #11466 "Cannot use a scalar value as an array"
Problem:
Cannot use a scalar value as an array in [phalcon/mvc/model.zep on line 1070](https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L1070)
which produces another error "You cannot serialize or unserialize PDO instances"

[code]

if `num` is scalar then fetchOne returns an object. If database returns object then my default fetch mode is FETCH_OBJ.

[code]

If I comment this

[2016-02-28 10:38] dzubchik commented on #11461
@vinaysikarwar , what OS/distributive do you use? Can you provide more information about you php-devel package installation?

[2016-02-28 11:04] vinaysikarwar commented on #11461
I do use Amazon Linux with Apache .
On Feb 28, 2016 4:09 PM, "dzubchik" <notifications@github.com> wrote:

[2016-02-28 11:47] dzubchik commented on #11461
Can not have possibility to check this on Amazon Linux. What repository do you use for php7? Also some useful links for CentOS and **php5** headers problem:
* https://forum.phalconphp.com/discussion/10075/cant-find-php-headers-in-usrincludephpxxxxphp
* http://stackoverflow.com/questions/20827704/phpize-cant-find-php-headers-in-usr-include-php

Do you really have PHP headers in /usr/include/php?

[2016-02-28 11:49] dzubchik commented on #11461
Also, have you installed all packages listed in phalcon requirements?

``` # yum install php-devel pcre-devel gcc make```

[2016-02-28 12:00] vinaysikarwar commented on #11461
Php-devel is not installing in php7 .
On Feb 28, 2016 5:20 PM, "dzubchik" <notifications@github.com> wrote:

[2016-02-28 14:08] SidRoberts commented on #11465
You need to do:

    <?php echo $this->appVersion; ?>

If you use Volt, you can write:

    {{ appVersion }}

[2016-02-28 14:55] Zaszczyk commented on #11457
@sergeyklay do You have any idea how to debug or fix it?

[2016-02-28 15:18] sergeyklay commented on #11457
just enable the mind ;)

[2016-02-28 19:44] niden commented on #11427
Let me try to decipher this so that I can understand the problem correctly and find a way to correct it.

A user can have many roles.

Relationship:

[code]

I can access this relationship by the following methods:

[code]

You chose to create your own function called `getRoles` which "clashes" with the magic one that Phalcon offers. What I expect to see is:
- I can access my function using `$user

[2016-02-28 20:34] josefguenther opened #11469 "Model setting dynamic array property (overloading) flattens values"
Summary: PHP allows dynamic class variables that are set at runtime. However, in Phalcon Models only scalar values can be set; arrays flatten out, setting keys=>values on the model itself.

[code]

This produces the following:

[code]

I know there were some recent issues resolved with the __set method, I just did not see any reference to this issue. If this was resolved, please close.

[2016-02-28 22:02] phackwer commented on #1134
People, this is a PHP Bug since it does not use postgres' LASTVAL() to retrieve function on the lastInsertId() method of PDO_PGSQL.

(https://github.com/php/php-src/blob/master/ext/pdo_pgsql/pgsql_driver.c#L375)

I will send them the bugfix but it will be avaliable only for PHP 5.6 and 7.x.

I just made a workaround for Doctrine and I'm waiting for the pull request approval.

https://github.com/do

[2016-02-28 23:59] dzubchik commented on #11400
@Myrai, don't you forget to add '+' sign https://regex101.com/r/eI6iE6/1? Also, your regex for url has no sense, because all text after \# is only visible for browser. And, please, write what you write, what you get and what you expected.

[2016-02-29 00:18] zjhzxhz commented on #10378
Failed to compile it in OS X 10.11.

PHP Information:

[code]

Zephir Information:

[code]

Error Log:

[code]

[2016-02-29 01:05] zjhzxhz commented on #11465
No, I tried following statements:

[code]

And I got following error message:

[code]

And the code works well in Phalcon 2.0.x with PHP 5.5 and PHP 5.6 :)

[2016-02-29 01:06] zjhzxhz commented on #11465
@sergeyklay

I don't think @SidRoberts 's answer can solve this problem.
Please reopen this issue.

[2016-02-29 03:57] smallmenu opened #11472 "How I Get The Origin Redis Instance from Phalcon\Cache\Backend\Redis"
now the Phalcon\Cache\Backend\Redis has the protected _redis,
i want get the redis origin instance in order to use some other redis commands such as SADD ...
but i don't know how

[2016-02-29 03:58] smallmenu commented on #11472
may be i should inherit that class and add a new method ?
thanks

[2016-02-29 06:51] sergeyklay commented on #11465
@zjhzxhz
For example:
* Set vars: https://github.com/phalcon/forum/blob/master/app/controllers/ControllerBase.php#L55-L61
* Using vars: https://github.com/phalcon/forum/blob/master/app/views/partials/statistics.volt#L1
* 2.1.x https://github.com/phalcon/forum/blob/master/.travis.yml#L19

[2016-02-29 07:05] Izopi4a commented on #10378
@zjhzxhz

[code]

try to compile again

[2016-02-29 08:36] SidRoberts commented on #11465
Actually, I think @zjhzxhz is right. I was thinking about DI services.

@zjhzxhz, could you post your View DI Service? Something like:
[code]

[2016-02-29 08:37] SidRoberts commented on #11472
That's certainly the easiest method. But be aware that if `_connect()` isn't executed first, `$this->_redis` will be null.

[2016-02-29 08:47] zjhzxhz commented on #11465
Here's the View DI Service:

[code]

And here's the reference: https://github.com/zjhzxhz/TestZilla/blob/master/app/config/services.php#L73

[2016-02-29 09:50] lajosbencz commented on #10378
Debian x64 Jessie
PHP Version 7.0.3
Zephir 0.9.2a-dev
Phalcon 2.1.x

Everything compiled just fine, the Phalcon extension is loaded without error and shows up in ```php -m```, but when calling ```Phalcon\Mvc\Application::handle()``` i get a segmentation fault.

Any hints on how to get a stacktrace / give you guys useful info?

[2016-02-29 09:53] ruudboon commented on #1766
Looks like this never made it to 2.x? Would be nice is this can be reimplemented.

[2016-02-29 10:45] zjhzxhz commented on #11465
@sergeyklay

Here's my code:

[code]

And here's the reference: https://github.com/zjhzxhz/TestZilla/blob/master/app/controllers/BaseController.php#L25-L37

I think it's the same as the example.

[2016-02-29 11:04] zjhzxhz commented on #10378
@Izopi4a

Here's the output of executing `clean` command:

[code]

And it's still not working. I got the same error message as previous.

[2016-02-29 11:19] Izopi4a commented on #10378
@zjhzxhz do you have extension=/private/tmp/zephir/Library/../parser/zephir_parser.so in your php.ini by any chance ? if so remove it.

if you type `php -v` do you get 7.0.3 ..., also `which php-config` and `which phpize` should also show the path to your php 7.

do you have skype or something that we can chat and give it a try to fix it ?

[2016-02-29 11:41] michanismus commented on #11427
Thats correct, for getter functions.
Another bigger problem is the new magic set function which tries to execute a defined setter if available.

For example, I create a $user->setRoles() which will not set the related records directly, instead using a temp array which will be written to db with afterSave event.
So, If I do something strange ;) for example check the roles within the setRoles() func

[2016-02-29 12:54] dzubchik commented on #11378
@josefguenther , this is already fixed in 2.1.x branch (see phalcon/mvc/router at 519 line):
[code]

[2016-02-29 12:57] dzubchik commented on #10873
@kenjilabs , is it still broken?

[2016-02-29 13:33] sergeyklay commented on #1766
@ruudboon Need script  to reproduce

[2016-02-29 16:11] SidRoberts commented on #11465
"Version" has an S in it. :wink:

[2016-02-29 16:18] sergeyklay commented on #11465
:confused:

[2016-02-29 17:04] josefguenther commented on #11378
I looked at the file... I cannot say I'm convinced that fixes anything. Also what if `auth` in my example was set to a string or an integer? Perhaps we need to make a unit test to determine if this was resolved.

[2016-02-29 17:54] ruudboon commented on #1766
Something like this?
[code]
Throws
PHP Fatal error:  Call to undefined method Phalcon\Forms\Form::appendMessage()

[2016-02-29 19:36] dzubchik commented on #11378
@josefguenther , the behavior of router in 2.1.x is to check custom parameters (except module, controller ,action) values and map them on matched regex pattern only if position (value)  is integer or string. I agree, that this should be covered by unit test.

[2016-02-29 23:42] sergeyklay commented on #11458
Fixed in `2.1.x` branch

[2016-02-29 23:42] #11458 closed

[2016-03-01 01:47] niden commented on #11427
My main concern is that if we drop the handling of properties with __set and __get, we will most likely break a ton of applications since the API will change.

I need to discuss this with the rest of the team but to be honest I am not enthusiastic to do such a change.

It is a chicken and egg situation. We can either do what you propose (get rid of the get/set for properties) or get rid of the get

[2016-03-01 01:54] zjhzxhz commented on #11465
Yes, but in the view, I also forgot S.
And please DO KNOW that the code works well in Phalcon 2.0.x.

So I insist that it's your fault.

[2016-03-01 02:23] zjhzxhz commented on #11465
Another important thing to consider is that  all variables in views will report that error message, not only the variable appVersion.

[2016-03-01 07:21] sergeyklay commented on #11427
:+1: @niden

[2016-03-01 07:24] sergeyklay commented on #11465
@zjhzxhz What do you think about that https://github.com/phalcon/cphalcon/blob/master/unit-tests/ViewTest.php#L64-L121

[2016-03-01 07:52] michanismus commented on #11427
@niden Yes, an API change is a big change, a change for major release I guess. Like I said in previous posts, I don't really get the point about the new change, which is breaking the API as well.

What is the advantage anyway!? I mean, previously it was possible to set a property with magic __set function. That was the behavior since I use Phalcon. Now the __set function is looking for a setter fu

[2016-03-01 11:14] skmail commented on #2924
+1

[2016-03-01 11:14] ruudboon commented on #11007
Refreshing the object doesn't help.

[code]
I solved this by completely reloading the object :(
[code]

[2016-03-01 11:50] googlle opened #11477 "[2.1.x] Form input array invalidate"
Hi. I try to validate my form. But get errors.

[code]

This is my post data

[code]

Get these messages

[code]

[2016-03-01 12:38] SidRoberts commented on #11477
I can't think of a way to explain it properly but nested arrays within `$_POST` should be used to group the same data - not similar data. A suitable example is multiple checkboxes. Combining the ID and the data of a CAPTCHA is not.

The simplest fix for your code is to rename `captcha[id]`

[2016-03-01 12:43] SidRoberts commented on #11477
I can't think of a way to explain it properly but nested arrays within `$_POST` should be used to group the same data - not similar data. A suitable example is multiple checkboxes ([for example, choosing a person's interests](https://teamtreehouse.com/community/how-to-handle-multiple-checkboxes-values-in-a-form-using-php)). Combining the ID and the data of a CAPTCHA is not. The simplest fix for yo

[2016-03-01 13:24] skmail opened #11478 "compileStatement - volt compiler"
Any idea why statement variable in compileStatement extension  is  not being  passed by reference ?passing this variable by reference  will  make volt compiler more powerfull, NO?

https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/view/engine/volt/compiler.zep#L2010

since we cannot use variables/functions  in the  {% extends "layout.volt" %}   statement, this will make the maintenance o

[2016-03-01 13:28] skmail commented on #11477
try to flatten your data array.

so it will look like

[code]

[2016-03-01 14:02] googlle commented on #11477
@SidRoberts, Yes I can rename captcha. But my form using another elements
[code]
This form also has not passed validation
[code]

[2016-03-01 14:09] googlle commented on #11477
It seems that the form validator does not validate fieldset form.

[2016-03-01 14:10] sergeyklay commented on #11007
@ruudboon yeah :confused: https://github.com/sergeyklay/incubator/blob/2.0.x/Library/Phalcon/Mvc/Model/Behavior/NestedSet.php#L338

[2016-03-01 14:15] dzubchik commented on #11465
@zjhzxhz , I tried to reproduce this issue on identical configuration, but failed. If you are sure that setup is correct, please attach all files, that take part in rendering.

[2016-03-01 15:14] zjhzxhz commented on #11465
@dzubchik
You can get all files here: https://github.com/zjhzxhz/TestZilla/archive/master.zip

[2016-03-02 00:33] ghost opened #11480 "[NFR] Phalcon\Paginator\Adapter\NativeObject"
Can we have paginator for objects just like we do for `Phalcon\Paginator\Adapter\NativeArray` Thank you.

[2016-03-02 01:38] ghost opened #11481 "$request->getQuery() Router Filter"
Router filter for getQuery is not working. I wanted to limit (int) to just {1,2} example;

In Router File:

[code]

In Controller File:

[code]

Perhaps add this ability to getQuery, as $request->getQuery('page', 'int:1,2')

Workaround for now is to use;

[code]

[2016-03-02 12:44] Zaszczyk commented on #11457
I enabled far far parts od my mind and added one line:
[code]
It sucks but it works, could You present Your idea? ;)

[2016-03-02 12:45] #11096 closed

[2016-03-03 03:29] kaioken commented on #10378
just wanted to say , it worked perfectly

thanks

[2016-03-03 08:40] andrewi-wd commented on #3084
Similar to me. And I suppose that this is a real bug.

services.php:
[code]

controller.php:
[code]

view.volt:
[code]

error result:
[code]

So, the problem is that services overrides view variables, even in a loop!

[2016-03-03 10:21] dzubchik commented on #11481
@tuxy, do you want to say that regex pattern to which your route converts is not working properly? The regex works, as expected. But, as I understand you want to force attribute length limit. Just try to wrap your route into brackets [] or () and phlacon automatically will wrap it:
[code]
I think, you will get what you want.

[2016-03-03 11:03] skmail commented on #11478
After searching,  Zephir  language doesn't support passing by reference

[2016-03-03 11:03] #11478 closed

[2016-03-03 11:07] DemianGod opened #11484 "[NFR] Add Range to Paginator"
https://forum.phalconphp.com/discussion/10649/add-range-to-paginator

[2016-03-03 16:31] Studentsov opened #11486 "Change mcrypt on openssl"
Due to the obsolescence of mcrypt (absence of updates of nearly 10 years) and its loss on openssl speed, I offer an exception it from dependences of a framework and its changeover by openssl. It is possible to mention as arguments that it want to exclude from PHP kernel long ago (https://wiki.php.net/rfc/removal_of_dead_sapis_and_exts, https://wiki.php.net/rfc/mcrypt-viking-funeral), and also the

[2016-03-03 16:38] DmBogovoy commented on #11484
I don't have deep knowledge in Zephir, but code should be similar to
[code]

[2016-03-03 18:37] sergeyklay commented on #11486
:+1:

[2016-03-03 21:48] dzubchik commented on #11019
@phalcon , it now throws exception:
`PDOException: SQLSTATE[22P02]: Invalid text representation: 7 ERROR:  invalid input syntax for integer: "1,2,3"
`

[2016-03-03 21:52] dzubchik commented on #3193
@oleg578 , I have recently faced with this issue. So, I agree with you, that app should return request object only, but not send headers and cookies.

[2016-03-03 21:55] dzubchik commented on #11158
@mruz , I have checked it by curl and wget tools - got 200 and response. @sergeyklay?

[2016-03-03 22:03] dzubchik commented on #3302
@sergeyklay , what do you think about it? How somebody really can set default integer or named value to route-match? As I already said - it would just rewrite default value it it matched named regex param or just regular match array.

[2016-03-03 22:03] dzubchik commented on #11400
@Myrai , do you still have problems with this issue?

[2016-03-03 22:14] dzubchik commented on #11160
@Levano , please refer to documentation https://docs.phalconphp.com/en/latest/reference/nginx.html. @sergeyklay , maybe this should be closed?

[2016-03-03 22:17] dzubchik commented on #3083
@sergeyklay ?

[2016-03-03 22:18] dzubchik commented on #11089
@sergeyklay

[2016-03-03 22:44] #11158 closed

[2016-03-03 22:51] #11160 closed

[2016-03-03 22:51] #3083 closed

[2016-03-03 22:52] #11089 closed

[2016-03-03 22:53] sergeyklay commented on #3302
Let me think about it

[2016-03-04 03:18] cq-z opened #11487 "Phalcon\Mvc\Model\Query\Builder BUG"
Phalcon\Mvc\Model\Query\Builder
line 541 and line 600.

[code]

"currentBindParams" and  "currentBindTypes" ????

[2016-03-04 08:17] TheCheat opened #11488 "[2.1.x] Transaction isManaged returns wrong result"
Looking at sources Phalcon\Mvc\Model\Transaction:
[code]

Now it returns if transaction is not managed. Shouldn't it be the other way around?

P.S. Dat issue ID

[2016-03-04 09:47] ruudboon opened #11491 "[NFR] Add setLastModified to Phalcon\Http\Response"
You can set the expire time using the public method setExpires (DateTime $datetime).
Can we add a setLastModified also?

[2016-03-04 09:53] ruudboon commented on #11007
I'm sorry @sergeyklay I don't understand your feedback.

[2016-03-04 09:56] Studentsov commented on #11486
It is necessary to break backward compatibility as these extensions aren't interchanged. It would be interesting to listen to judgements of the people who are responsible for development of a framework.

[2016-03-04 10:15] sergeyklay commented on #11486
I agree.
@andresgutierrez @niden @xboston @carvajaldiazeduar

[2016-03-04 10:16] sergeyklay commented on #11007
I mean that this is a known issue and I too just had to use this trick

[2016-03-04 10:19] ruudboon commented on #11007
Ah sorry! Now I see. Completely clear. Hope to get some time soon to contribute to Phalcon. Love this project.

[2016-03-04 11:14] xboston commented on #11486
:+1:

[2016-03-04 14:18] miao606 opened #11492 "[2.1.x]Compile error on Centos 7 w/ PHP 7.0.4, latest git version"
In file included from /opt/download/cphalcon-2.1.x/build/64bits/phalcon.zep.c:175:0:
[code]

[2016-03-04 17:12] tuxy opened #11493 "Loop Context Bug When Used with Key/Value Objects"
When Key+Val used from object to create a loop and use "[Loop Context](https://docs.phalconphp.com/en/latest/reference/volt.html#loop-context)" in Volt I get this weird results. Where "loop.last" created after the "loop.first".

Example Array:
[code]

Example Code:
[code]

Result: (Wrong)
[code]

Result: (Right) < This is what it should be!
[code]

[2016-03-04 17:16] Green-Cat commented on #11493
In your example code it should be ```{% if loop.last %}```

[2016-03-04 17:16] tuxy commented on #11493
Yeah it is, sorry typo!

[2016-03-04 17:32] tuxy commented on #11493
It looks like this only affects multidimensional objects/arrays. Because regular ones work.

Example;
[code]

But even in this case "1" and "10" is still showing :) But at least it outputs it correctly.

[2016-03-04 17:39] tuxy commented on #11493
The only workaround I found so far is to use multiple ``for`` loops at least 3 required for this to work, but the problem is that the first and last items are still visible ^_^

[2016-03-04 17:46] tuxy commented on #11493
It looks like ``loop.first`` and ``loop.last`` shows as ``1`` any ideas ?

[2016-03-05 15:08] SevaJmurov opened #11497 "\Phalcon\Validation\Validator\Digit returns wrong type of message"
Phalcon digit validator returns Phalcon\Mvc\Model\Message with 'PresenceOf' type and ':field is required' message instead of appropriate fields for numeric validation failure message.
Tested on Phalcon 2.0.10. With code

[code]
which returns
[code]
for non-numeric qty.

[2016-03-05 16:19] SidRoberts commented on #11497
It would appear that the 'qty' field is marked as NOT NULL in the database.

This is where the 'PresenceOf' validation message is being created: https://github.com/phalcon/cphalcon/blob/2.0.x/phalcon/mvc/model.zep#L1999

You can disable "not null" validations using:

[code]

(see https://forum.phalconphp.com/discussion/283/created-at-and-validation#C1144)

[2016-03-05 16:24] tugrul commented on #692
I have done using @arantir 's way.

Plugin:
[code]

Binding:
[code]

[2016-03-05 20:42] SevaJmurov commented on #11497
Yes, I have this field marked not null in database, however in this case value of qty is not null.
For instance, I will get this message if I type 'hello' in qty field.

[2016-03-06 08:38] sergeyklay commented on #11491
Implemented in `2.1.x` branch

[2016-03-06 08:38] #11491 closed

[2016-03-06 08:39] ruudboon commented on #11491
👍

[2016-03-06 11:53] #11426 closed

[2016-03-06 21:38] NZX-DeSiGN opened #11500 "[2.1.x] $form->isValid() doesn't merge validators (separate Validation class)"
Hi there,

I use the version of 2.1.0RC1 Phalcon and I think there is a bug in the function isValid class Phalcon\Forms\Form. When a separate Validation class is used andbinded with a form, the method isValid() overwrite validators declared in the initialize() method of the Validation.
Sorry for my English and see below the context, bug and correction (if I'm not wrong).

**Validation class**

[co

[2016-03-07 06:15] akashkumardce commented on #11491
@jaskaransingh156 - Very Helpful, looking for it since long time. :)

[2016-03-07 13:03] Surt opened #11501 "Phalcon\Session\Adapter\Redis need index"
Scenario: multiple redis adapters (cache, modelsMetadata, session, ModelsCache) all of them with its own index and persistent.

Problem:
Actually, if I use the Redis adapter for session, the session key dance between Redis databases (unless I define persistent = false, wich connects each time :()

Solution:
Will be great to check for the redis conection and always take and save etc on the defined

[2016-03-07 15:07] googlle opened #11502 "Paginator - Numbered page links"
It would be good to add "Numbered page links" in the paginator.
And sets limits "pagesInRange" (Array of pages returned by the scrolling style)

Example paginator.phtml (from zend framework 2)

[code]

![img](http://i67.tinypic.com/3brx0.jpg)

[2016-03-07 17:45] MengMN commented on #1527
I'm still experiencing this problem。
It works fine when creating a new record with Model::create(), but then Model::update() is failing the validation.

Tested on:
Phalcon 2.0.10
PHP 5.6.10
Ubuntu 14.04.1 LTS  32bit

Here is my code:
<?php
use Phalcon\Mvc\Model\Validator\Uniqueness   as UniquenessValidator;
class NoteGroup extends \Phalcon\Mvc\Model
{

    public $groupId;
    public $groupName;

[2016-03-08 00:38] michael-langford opened #11503 "Paginator problems 2.0.10 - Bad SQL count query generated sometimes"
We are getting fatal errors on some calls to the paginator. It is generating SQL count queries that throw errors in MySQL.

Generated:
SELECT COUNT() FROM table
Should be:
SELECT COUNT(*) FROM table

It is only happening on one complex SQL query we are generating that has joins and groups. The same query has no problem in 1.3.4 or 2.0.9

[2016-03-08 01:35] michael-langford opened #11504 "Model hasOne / belongsTo aliases with 2 fields not having 2nd param passed into the query 2.0.*"
When calling a models alias in phalcon 2.0.\* that has 2 fields in the relationship the 2nd param is not passed into the generated SQL statement:

For example in the following hasOne relationship:

`$this->hasOne(array('email', 'id'), "UserEmail", array('email', 'user_id'), array('alias' => 'verification', 'resuable' => true));`

The SQL generated will be:

`SELECT`email_verify`.`user_id`,`email_v

[2016-03-08 17:19] dercoder opened #11505 "Incorrect model ENUM validation"
There is an issue with ENUM values handling.
This scenario wont work:

Phalcon Version: ```2.0.10```

Database:
[code]

Model:
[code]

Example:
[code]
Result:
[code]

When i remove "internet" from ENUM types in database, the code is working fine.
I think its because the string "INT" exists in word "INTernet" like in this old issue: https://github.com/phalcon/cphalcon/issues/709

[2016-03-08 17:38] dercoder commented on #11505
Second Test:

$robot = new Robots();
$metaData = $robot->getModelsMetaData();
$dataTypes = $metaData->getDataTypes($robot);
[code]

Result with ENUM ('member','prepaid','terminal','internet')
[code]

Result with ENUM ('member','prepaid','terminal')
[code]

[2016-03-08 18:03] dercoder commented on #11505
I think i have located the "bug":
https://github.com/phalcon/cphalcon/blob/master/phalcon/db/adapter/pdo/mysql.zep#L136

[2016-03-08 21:35] jcastilloa opened #11507 "PHP5-FPM crash, compileAlways = true."
Hi, I am experiencing a similar issue that:

https://github.com/phalcon/cphalcon/issues/1949

Sometimes, PHP5-FPM dies when compiling template. Using phalcon 2.0.10. The problem goes away when I set compileAlways = false.

gdb bt full:

http://pastebin.com/4RsUEWfs

sportsearch.volt:

http://pastebin.com/TQ2yHGaZ

Regards,

[2016-03-08 21:40] andresgutierrez commented on #11507
Can you try again disabling opcache?

Does this file exist?

[code]

[2016-03-08 21:42] jcastilloa commented on #11507
Hi, yes file exist and opcache was disabled (not using opcache).

[2016-03-08 21:44] jcastilloa commented on #11507
I'm checking other dumps, sportsearch was not the only file with problems.

[2016-03-08 22:07] upabove opened #11508 "[Request] SQL Connection error shows all connection data"
Hi.

I think it's mayor issue as some unexperienced programmers (but also experienced) may by mistake upload bugged config file while updating website. On error Phalcon is showing array with full connection data.

On more popular website someone lucky can just copy data and have access (if admin/developer will not change passwords).

More security is always better, so I think that Phalcon should b

[2016-03-08 22:08] andresgutierrez commented on #11508
Could you please post where the password is being shown?

[2016-03-08 22:35] amateurme commented on #11508
Page is generated through Developer Tools (multi module):

Output after going to page (for example http://localhost/)
[code]

File is Config.php (apps\frontend\config\config.php)
[code]

And Module.php (apps\frontend\Module.php)
[code]

Thanks for fast reaction.

[2016-03-08 23:30] andresgutierrez commented on #11508
But, that's the PHP's exception backtrace, it isn't generated by Phalcon itself. I think you can add a global try/catch and handle exceptions as here: https://github.com/phalcon/forum/blob/2.0.0/public/index.php#L58-L60

You can catch the exception and log it properly

[2016-03-09 06:25] goqihoo opened #11509 "syntax error when build using zephir(latest version)"
[code]

[2016-03-09 06:40] goqihoo commented on #11509
i got it. it's zephir's problem
fixed in zephir version 0.9

[2016-03-09 07:03] #11509 closed

[2016-03-09 11:07] dzubchik commented on #11492
@miao606 , you should give more information about environment in which you are trying to compile phalcon. This should help you http://phalcon.io/phalconphp-and-php7.

[2016-03-09 11:10] Jurigag commented on #11492
Not sure but it looks like that you dont have php7 dev

[2016-03-09 22:50] tuxy opened #11513 "How Real Is This ?"
I've just found and read this article > http://phalcon.io/phalconphp-and-php7
Have any one else tried this and can confirm that this work ? Thank you!

[2016-03-09 22:53] andresgutierrez commented on #11513
For questions like this, you have to use the forum: https://forum.phalconphp.com/

[2016-03-09 22:59] #11513 closed

[2016-03-10 05:37] phpclub commented on #10378
Under ubuntu 14.04
cphalcon# zephir build —backend=ZendEngine3
Warning: Variable "_SESSION" assigned but not used in Phalcon\Session\Adapter::remove in /root/Soft/cphalcon/phalcon/session/adapter.zep on 204 [unused-variable]

	 }
	-^

PHP Notice:  Use of undefined constant APC_ITER_ALL - assumed 'APC_ITER_ALL' in /root/Soft/zephir/Library/ClassDefinition.php on line 1743
PHP Notice:  Use of undefi

[2016-03-10 10:14] NZX-DeSiGN opened #11515 "[2.1.x] beforeValidation hook misplaced in Phalcon\Validation validate method"
Hi,

In **Phalcon\Validation** class, the **beforeValidation** hook is run before the data attribute is set, so we can not modify this attribute in the hook. I think, the hook must be executed after the data attribute is set, like in the class **Phalcon\Forms\Form**.

**Phalcon\Validation.zep**

[code]

**Phalcon\Forms\Form.zep**

[code]

[2016-03-10 12:11] dot5enko commented on #11293
why did you close this issue, i'm also wonder how to do achieve this. The same with $set

[2016-03-10 13:36] sergeyklay commented on #11293
@dot5enko Create separated issue

[2016-03-10 19:10] tdely opened #11517 "[2.0.10] Query Builder select expression aliasing bug"
Aliasing/naming a select expression in the query builder to a name identical to that of a field being used in the where clause will cause Phalcon to strip any table specified for that column in the where clause.

[code]

When called, this code produces the following error:

Which is rather strange given that the where clause should contains an explicit table name for the column.

The SQL compiled

[2016-03-10 19:47] freshman20 commented on #10378
No installation problems with ubuntu 14.04 here but with defaults events like beforeExecuteRoute.
It seems as if they are not called, onConstruct in controller didn't work too.

[2016-03-10 20:34] ruudboon opened #11518 "[NFR] Support for Cassandra"
I'm wondering if there are any plans to support Cassandra. Would be awesome if a high performance framework like Phalcon would support such a scalable and high available DB.

[2016-03-10 21:08] sergeyklay commented on #11518
For example, you can implement it for the Incubator.
If this proves successful, we can port it to the Phalcon core

[2016-03-10 21:35] ruudboon commented on #11518
Not sure if implementing it completely in php would work. I could look at implementing a Database Abstraction Layer based on this extension https://github.com/datastax/php-driver

[2016-03-10 22:23] Izopi4a commented on #10378
opened a bug here about contruct methods https://github.com/phalcon/zephir/issues/1203

i need those in order to test the rest

[2016-03-11 07:11] alitalaghat opened #11519 "'afterFetch' for find()"
Currently 'afterFetch' only works for findFirst(). It is very usefull if it can use for find() and records fetch by createBuilder.

[2016-03-11 07:49] Jurigag commented on #11519
For find it works too. You just have to return full objects.

[2016-03-11 08:26] alitalaghat commented on #11519
My test code is this:
[code]

But it dosen't work and just echo 'status' column value.

[2016-03-11 08:55] Jurigag commented on #11519
Are you sure find returns full objects ? Isnt phalcon by default returning those objects as Phalcon\Mvc\Model\Resultset\Simple ? Try to set hydration mode to Resultset::HYDRATE_RECORDS

[2016-03-11 09:27] alitalaghat commented on #11519
Thanks.
'setHydrateMode(Resultset::HYDRATE_RECORDS)' solved the issue for find() but for createBuilder still it dosen't work.
[code]

[2016-03-11 10:09] Jurigag commented on #11519
For createBuilder its gonna never works i guess.

[2016-03-11 10:30] SevaJmurov commented on #11497
It appears that I had 'force casting' db setting enabled and together with NOT NULL in Db column, as you, Sid, correctly said, led to 'required' message.
So it is my oversight after all.

[2016-03-11 10:30] #11497 closed

[2016-03-11 12:20] plamen-paskov opened #11521 "Another type of \Phalcon\Db\Profiler"
I'm using the db profiler like this:
- on before db query : start profiler
- on after query : stop the profiler and get last profiler

if thousands queries are run it will cause "allowed memory size limit exceeded". If i reset() the profiler on after query then i will most probably loose the starting times of all queries that the profiler was started for between starting and reseting the current q

[2016-03-11 18:51] sergeyklay commented on #11488
Fixed in `2.1.x` and `2.0.x`

[2016-03-11 18:51] #11488 closed

[2016-03-11 20:37] silviomedice commented on #11311
No forget to set category
Set Category

    <?php

    use Phalcon\Translate\Adapter\Gettext;

    $translator = new Gettext(
        [
            'locale'        => 'uk_UA.utf8',
            'defaultDomain' => 'messages',
            'directory'     => '/tmp/locale',
           'category' => LC_MESSAGES
        ]
    );

    echo $translator->query('Hello'), PHP_EOL;
    echo $translator->t('Ama

[2016-03-12 10:32] Izopi4a commented on #10378
@andresgutierrez could you please fix this https://github.com/phalcon/zephir/issues/1203 so we can test the rest ?

[2016-03-12 14:24] NZX-DeSiGN opened #11527 "[2.1.x] Phalcon\Validation\getValue() search in data if not found in entity"
Hi,

I discovered that the getValue method of Phalcon\Validation class returns NULL if an entity that doesn't contain the field is set. Why this method doesn't continue to search through the data attribute?

**Phalcon\Validation.zep**

[code]

[2016-03-12 19:36] f3l1x commented on #10971
@SidRoberts It's great. We can close it or do you plan more?

[2016-03-12 19:37] f3l1x commented on #10879
@ping

[2016-03-12 20:07] sergeyklay commented on #10879
This is docs mistake

[2016-03-12 20:17] SidRoberts commented on #10971
@f3l1x, close this please. :smile:

[2016-03-12 21:44] #10971 closed

[2016-03-12 22:18] fenixphp opened #11529 "[2.1.x] Paginator + QueryBuilder and where binds params?"
[code]

As in this situation to assign parameters "where", and is not lost when the "count" and "limit" in the pagination query?

Thanks in advance.

[2016-03-13 14:08] niden commented on #11486
I think that this is a good idea. Yes we will break backwards compatibility but we will break it for a very good reason and that is security. It is the same argument for using an older version of PHP vs a newer one and thus we dropped support for PHP 5.3.

Nothing beats a good design with solid security enhancements in place, but the tools have to match the effort and this move IMHO is more than w

[2016-03-13 20:32] sergeyklay commented on #11253
Fixed in `2.1.x` branch

[2016-03-13 20:32] #11253 closed

[2016-03-14 08:51] sergeyklay commented on #1945
Fixed in 2.1.x branch

[2016-03-14 08:51] #1945 closed

[2016-03-14 11:09] SidRoberts commented on #1760
@sergeyklay This is no longer a bug in the 2.0.x series.

[2016-03-14 11:57] sergeyklay commented on #1760
Yeah. I saw

[2016-03-14 11:57] #1760 closed

[2016-03-14 13:44] kristofferingemansson commented on #11505
Ran in to the same bug with a column type of ENUM('int', 'decimal', 'datetime', 'string', 'text').

Detection of enum column type needs to happen before detection of the other types.

[2016-03-14 13:48] dercoder commented on #11505
Yes or use some regex to detect to correct type.

[2016-03-14 18:02] sergeyklay commented on #11505
Fixed in `2.1.x` and `2.0.x` branches

[2016-03-14 18:02] #11505 closed

[2016-03-15 02:53] michael-langford opened #11545 "\Phalcon\Cache\Backend\Redis -> queryKeys returning nothing v2.0.*"
We have found that `\Phalcon\Cache\Backend\Redis -> queryKeys` is returning nothing. We have verified the query does return something when using the PHP Redis class.

[code]

[2016-03-15 03:26] #11411 closed

[2016-03-15 03:26] luqmanrom commented on #11411
There is minor error on my side. Everything supposed to works fine. Thanks!

[2016-03-15 09:35] #2869 closed

[2016-03-15 09:40] sergeyklay commented on #2050
This is unified in 2.1.x

[2016-03-15 09:40] #2050 closed

[2016-03-15 10:27] Jurigag commented on #2869
How about check mx flag ? @sergeyklay

[2016-03-15 10:41] Jurigag commented on #11545
As you can see:

https://github.com/phalcon/cphalcon/blob/master/phalcon/cache/backend/redis.zep#L334

Phalcon using sMembers from redis, where wildcards are not working.

It needs to be change just to getKeys or it's just not a bug.

[2016-03-15 12:06] sergeyklay commented on #2869
It is slow, not always true and can be implemented separately

[2016-03-15 12:08] Jurigag commented on #2869
Yea i know, but by default it could be just false maybe ? Well i know not always true, but still better than abc@abc.

[2016-03-15 12:11] sergeyklay commented on #2869
root@localhost is vlalid email address and most likely mx check returns true

[2016-03-15 12:14] Jurigag commented on #2869
Then what's wrong ? :D Or maybe you mean false ? Then we can check first if it's localhost = dont check mx.

[2016-03-15 13:02] sergeyklay commented on #2869
But abcde@myawesomehost it correct too

[2016-03-15 13:07] Jurigag commented on #2869
What about: abcde@abc.xyz ?

[2016-03-15 13:08] hakimio opened #11546 "[2.0.x] Model.afterCreate event is not fired"
If I add "afterCreate" event listener to my Model definition, it's never called when I save a new model instance using the following steps:

[code]

[This](https://forum.phalconphp.com/discussion/6954/related-models-rollbacks-and-aftercreate-events) forum thread might be related.

[2016-03-15 13:10] sergeyklay commented on #2869
This is why mx check does not have to be integrated to the email validator. At least at this time

[2016-03-15 13:11] sergeyklay commented on #2869
[code]

[2016-03-15 13:26] hakimio commented on #11546
Sorry, it seems there was a problem on my end. Please mark this one as invalid/delete it.

[2016-03-15 13:29] Jurigag commented on #11546
Just close it :)

[2016-03-15 13:42] #11546 closed

[2016-03-15 15:01] rianorie opened #11547 "[NFR] Missing interfaces"
Right now I'm reworking an application and decoupling a lot of code preparing it writing the ever missing unit tests as well. One thing I'm noticing is that a fair number of Phalcon classes don't have interfaces right now, making the tests of my libraries dependent on Phalcon classes rather than mocked objects.

Per @sergeyklay I'm creating an issue here for discussion so we can assess which class

[2016-03-15 15:09] bkirova commented on #11507
I have a similar problem:
PHP: Version 7.0.4 - Zend Engine v3.0.0
Phalcon: Version 2.1.0b
Zephir: Version 0.9.2a-dev
Nginx: Version 1.9.12

Config Volt:

	[
		'stat' => true,
		'compileAlways' => true
	]

compiler.zep Code:

	var compileAlways_typeof;
	...
	let compileAlways_typeof = null;
	...
	if isset options["compileAlways"] {
	       let compileAlways = options["compileAlways"];
	       let c

[2016-03-15 16:10] nsossonko opened #11548 "Some keywords for models don't support getters/setters"
In relation to #11253 some of the keywords don't support getters and setters because Phalcon has conflicting function names. The ones I've found: source and transaction (probably schema too, but I haven't tried that).

[2016-03-15 16:50] valVk commented on #11548
I've read #11253 issue.

And I disagree that functional words which are used in relational DB have to be used as columns names. it can cause many problems, so I do not see any reasons why they are can be used here. This is really, really, really strange decision.

[2016-03-15 18:57] adam-rocska commented on #11090
@pjacferreira That's quite a bit...

[2016-03-15 19:04] Studentsov opened #11549 "Build error Phalcon 2.1.x in Windows"
I tried to build Phalcon 2.1.x from source codes, but received this error:

Windows 10, VS 2012, PHP 5.6.19 (NTS), Zephir 0.7.1 and 0.8 (I checked in both versions)
I used this manual: https://github.com/phalcon/zephir/blob/master/WINDOWS.md

[2016-03-15 19:18] Jurigag commented on #11090
Did i see that your user is in namespace models or what ? then we you defined relation without namespace ?

[2016-03-15 19:21] Jurigag commented on #11549
As i remember you have to compile phalcon 2.1.x from zephir 0.9, as i know you have to compile zephir yourself - its in current repo.

[2016-03-15 20:42] Studentsov commented on #11549
Well, I tried to use the master branch of Zephir. Now I got the output library.
php_phalcon.dll 81,6 МB (85 656 064 bytes)
It is sad

[2016-03-15 20:45] sergeyklay commented on #11549
For dev purposes on Windows PC you can try to use [Vagrant Phalcon](https://github.com/phalcon/vagrant) or [Phalcon ready to go Docker Compose project](https://github.com/sergeyklay/phalcon-compose)

[2016-03-16 01:30] Jurigag opened #11550 "PHP 7 Tests related issues"
WORK IN PROGRESS - not all yet

**UP TO DATE FOR NOW(26.07.2016 8:48 GMT+1)**

I will update this list if something is fixed or new problem occurs:

- ```Phalcon\Assets\Resource``` needs to be changed cuz Resource is PHP 7 reserved word - http://php.net/manual/en/reserved.other-reserved-words.php - **NOT AN ISSUE**, but still it would be nice to change cuz it some day can be reserved word in php
-

[2016-03-16 06:45] linchao0828 opened #11551 "[2.1.x]cache frontend lifetime not working when querying with cache"
[code]

Normally, the it will cache 300 sec. But actually, it's 3600 sec.

I just want to set a public lifetime by this way. And I think the problem is caused by https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/query.zep#L3268
And compare with this
https://github.com/phalcon/cphalcon/blob/1.3.4/ext/mvc/model/query.c#L4775

Could you please bring it back?

[2016-03-16 08:02] tflori commented on #10378
+1

[2016-03-16 08:10] hihuazi commented on #11413
the same issue

[2016-03-16 08:41] ashpumpkin commented on #11518
Hi, there's a pdo adapter for cassandra https://code.google.com/archive/a/apache-extras.org/p/cassandra-pdo (or a fork: https://github.com/Orange-OpenSource/YACassandraPDO). So maybe phalcon cassandra adapter can be implemented like mysql or postgresql ?

[2016-03-16 09:27] hihuazi commented on #11413
Using Raw SQL https://docs.phalconphp.com/zh/latest/reference/phql.html

[2016-03-16 13:21] Jurigag commented on #11550
@sergeyklay @Green-Cat
Well im no sure about ```Phalcon\Assets\Resource```, cuz i created my own class named Resource and it works fine, but it's only not working in test where it's created. I will look later into it, maybe there is some other reason why there is error. Can i check somehow what error is it in codeception ? Some exception or what ?

[2016-03-16 14:30] nsossonko commented on #11548
So don't use them. Why should your opinion prohibit others from using perfectly ok functionality?

[2016-03-16 14:59] Jurigag commented on #11548
Its obvious that they dont support them beacause Phalcon\Mvc\Model already have methos like get/setSource, get/setTransaction etc

There is no way to fix it. This problem can occur always. Its not a bug.

[2016-03-16 15:09] nsossonko commented on #11548
There are ways to fix this (you, in fact, mention some options) and, while it's not necessarily a bug, it's certainly a valid feature request.

[2016-03-16 15:12] Jurigag commented on #11548
I think it's too much effort for now. Better to focus on finally supporting php 7. I guess in something like version 3 maybe they will think about changing model related things to working without extending classes.

[2016-03-16 15:17] nsossonko commented on #11548
I could not agree more with the last statement (php 7). Thanks.

[2016-03-16 18:04] nsossonko opened #11554 "Issue with transaction manager, doesn't manage transactions correctly"
There's an issue with the transaction manager that makes it work very poorly. I will upload a pr that fixes it, but, as of now, I don't have time to run tests really on it. I have extended the manager and overriden this function so that it works properly for me, so that much testing I have done.

[2016-03-16 18:15] EpicJhon commented on #11454
+1

[2016-03-16 23:47] mahen3d commented on #11408
i have the same issue on my web application, but no solution for this for now ? people ask me to try few things but none of them seems to solve the problem

[See question on Stackoverflow](http://stackoverflow.com/questions/36036180/phalcon-asset-management-the-collection-does-not-exist-in-the-manager)

any idea on how to fix the problem ?

[2016-03-17 00:10] Jurigag commented on #11408
PR with exists method waiting here : https://github.com/phalcon/cphalcon/pull/11558

[2016-03-17 10:57] jm85martins commented on #10686
+1

[2016-03-17 11:00] srveiga commented on #10686
+1

[2016-03-17 11:51] Jurigag opened #11562 "Phalcon\Image\Adapter\Imagick dont allow height or width 0 when resize"
Imagick allows to put 0 in height or width in resize image. Then it's calculates new height/width proprtionally. But phalcon check if both width and height arent empty so you cant pass 0.

Oh okay, i see that phalcon handle himself scaling etc. Why not Imagick let it if it can ?

[2016-03-17 12:53] blutrash opened #11563 "Phalcon\Db\Adapter\Pdo\Oracle can not handle Oracle\Package"
Exception: Syntax error, unexpected token (, near to 'icms_selection.crq_exists('%')) WHERE rownum < 26', when parsing: SELECT * FROM TABLE (icms_selection.crq_exists('%')) WHERE rownum < 26 (70)

Could this be fixed in near future?

[2016-03-17 16:48] fenixphp commented on #10715
+100 Very required functional. It simplifies life when creating api.

[2016-03-17 16:51] Jurigag commented on #10715
No it's not required. There is already modelsManager and use joins.

[2016-03-17 17:37] Izopi4a commented on #11550
seems like phalcon did get quite a bit of popularity lately .. lets hope Andres will fix the php 7 in order to keep this popularity ...

[2016-03-17 18:32] NZX-DeSiGN commented on #329
+1 hope it will be released soon !

[2016-03-17 19:32] Jurigag commented on #11550
@sergeyklay
It looks like in almost every test on php7 there is weird problem with proxy class. If it's used for first time - then error occurs, then it's running fine.

[2016-03-17 22:30] sergeyklay commented on #11486
Implemented in 2.1.x branch

[2016-03-17 22:30] #11486 closed

[2016-03-17 22:37] sergeyklay commented on #11550
Temporary you can switch tests to the internal classes (but don't delete internal classes please) if it really solve testing issue

[2016-03-17 22:43] Jurigag commented on #11550
It's solving but there is still SEG FAULT so it doesn't matter. I will dont flag it as done until we dont figure out why this proxy classes works so weird.

[2016-03-17 23:19] Jurigag opened #11564 "Phalcon\Mvc\Model\Validator\Ip breaks php7 compilation ?"
I just recently wanted to compile 2.1.x branch again and that class is breaking compilation.

Oh never mind, it requires php with filter which i compile without it :D

[2016-03-17 23:29] #11564 closed

[2016-03-18 05:22] lucker0087 opened #11565 "collection setSource not working"
I use a class BaseCollection extens \Phalcon\Mvc\Collection  rewrite the function setSource, but is not working for me

I found when I use the count function  the Collection class has been constructed

here is  the code i found:

[code]

[2016-03-18 08:56] Gigabiter commented on #11395
I have same problem with my forum treeview schema
`CREATE TABLE IF NOT EXISTS `forum` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `parent` int(11) unsigned DEFAULT NULL,
  `user_id` int(11) unsigned DEFAULT NULL,
  `user_name` varchar(50) DEFAULT NULL,
  `title` varchar(500) DEFAULT NULL,
  `message` text,
  `create_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `update_at` timestamp NUL

[2016-03-18 08:58] sergeyklay commented on #11395
@hailie-rei @Gigabiter Could you please test 2.1.x branch?

[2016-03-18 09:36] Gigabiter commented on #11395
Where I can download phalcon 2.1.x windows dll for my local Openserver PHP 5.6?

[2016-03-18 11:04] freshman20 commented on #10378
I believe I have found another bug.
Action
`$this->view->title = 'foo';`
in View should work this
`{{ title }}`
but it caused an error:
 '<b>Notice</b>:  Undefined variable: title'
Workaround:
`{{ view.title }}`

[2016-03-18 11:06] Jurigag commented on #10378
What happens if you use:
[code]

[2016-03-18 11:09] freshman20 commented on #10378
same error

[2016-03-18 11:11] Jurigag commented on #10378
Well we need to deal currently with seg faults in tests, then if in test it will fail too i will add it to this list:

https://github.com/phalcon/cphalcon/issues/11550

[2016-03-18 14:15] durrjose commented on #11017
I have the same issue.  I am evaluating 3 different Frameworks and was especially interested in Phalcon.  Phalcon is using the information_schema to query for tables.  This does not include materialized views.  I found a fix for CakePHP which had the same problem.  Here is my notes and modified code from there.  (you have to query pg_class as well):

[2016-03-18 14:20] durrjose commented on #11017
I have the same issue.  I am evaluating 3 different Frameworks and was especially interested in Phalcon.  Phalcon is using the information_schema to query for tables.  This does not include materialized views.  I found a fix for CakePHP which had the same problem.  Here is my notes and modified code from there.  (you have to query pg_class as well):

//@original_code
//$sql = "SELECT table_name as

[2016-03-18 14:23] durrjose commented on #11017
currently, from what I can tell, phalcon uses this query to determine if a 'table' exists:
SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END FROM information_schema.tables WHERE table_schema = 'schema_name' AND table_name='table_name'
I work for a rather large company and speed is important, which Phalcon seems to have.  I would love a solution to this problem. :)

[2016-03-18 17:41] Jurigag commented on #11017
Currently not but feel free to do PR with this behaviour you want.

[2016-03-18 18:12] slechtic commented on #11017
I use own \Phalcon\Db\Dialect\PostgreSQL and override 3 methods:
[code]

tableExists check all types (table, view, materialized view) because I use Phalcon\Mvc\Model\MetaData\Strategy\Introspection and there is used tableExists method for reading meta data for all types.

[2016-03-18 20:14] Jurigag commented on #11304
@sergeyklay

Well i think i can add handling all of those annotation and parsing them in https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model/metadata/strategy/annotations.zep
But firstly i want to add more database types for ```@Column``` than those already built-in.

That's all for devtools to generate(that's why i want add more types, like most of them) whole database using annotat

[2016-03-18 20:24] durrjose commented on #11017
@slechtic  Thanks for the info.  I am having trouble implementing this though.  What is the best way to do the overwrite?  Can you give an example, of making Phalcon use the new PostgreSQL class instead of the old?  Thanks in advance.

[2016-03-18 20:26] sergeyklay commented on #11304
In my opinion concentrating all this in one place - MetaData/Strategy/Annotations - is best choice. But this should be discussed.

[2016-03-18 23:15] Jurigag commented on #11549
@Studentsov this size is fine, it is normal on PHP NTS. 250 MB on linux PHP 5.6.19 NTS

[2016-03-19 08:53] slechtic commented on #11017
You must create a class:

[code]

and this your dialect set to your db connection in DI:

[code]

[2016-03-19 09:44] #11549 closed

[2016-03-19 14:56] SidRoberts commented on #11547
What classes do you think should have interfaces?

[2016-03-19 15:11] rianorie commented on #11547
Honestly, from the point of view that a framework provides a service,
especially a framework what intents to be used as decoupled as phalcon I
think every class should have an interface. Even the ones you normally
don't expect one for.
On Mar 19, 2016 3:56 PM, "Sid Roberts" <notifications@github.com> wrote:

[2016-03-19 17:04] Jurigag commented on #11547
http://www.w3schools.com/sql/func_datediff_mysql.asp

[2016-03-19 17:16] sergeyklay commented on #11547
* [Liskov substitution principle](https://en.wikipedia.org/wiki/Liskov_substitution_principle)
* [Design by contract](https://en.wikipedia.org/wiki/Design_by_contract)

[2016-03-19 17:23] Jurigag commented on #11547
https://en.wikipedia.org/wiki/You_aren%27t_gonna_need_it

So i think all classes which have similar functionallity should have interfaces - so for example we are missing inetfaces for Phalcon\Config. If we have only one class which have soem functionnality - no point implementing interface for it. At least no point if it's not injected anywhere in the phalcon to other methods.

[2016-03-19 17:53] rianorie commented on #11547
I would in the long run want to move towards a full dependency injection
based framework rather than the heavy usage of the di container.

Is we start implementing the design by contract principles that would be a
huge start towards decoupling the different parts of phalcon from each
other.

https://en.wikipedia.org/wiki/You_aren%27t_gonna_need_it

So i think all classes which have similar functio

[2016-03-19 17:58] Jurigag commented on #11547
Yea but some classes arent used internally by phalcon and there is only one class which have some functionality - so we dont need interface for it. DI Container is dependency injection container - and it's much better then full dependency injection beacause i dont wanna have method with for example 5 or 10 or 20 parameters to be passed.

[2016-03-19 18:00] rianorie commented on #11547
But I do :p

I prefer it over the singleton we renamed to di container.
On Mar 19, 2016 6:58 PM, "Wojciech Ślawski" <notifications@github.com>
wrote:

[2016-03-19 18:02] Jurigag commented on #11547
But most of people dont, if you want to remove di container then create other framework.

[2016-03-19 18:06] rianorie commented on #11547
That's kind of a crazy argument.. We're all here to work and discuss
phalcon. There's an easy way for both of us to get what we want, create the
base framework like how I suggest it and simply create some wrappers that
do what you want. Note how I'm not saying to go find a different framework.
I'm here to participate and contribute to phalcon, discussing ideas like
this is a part of that.
On Mar 1

[2016-03-19 18:09] Jurigag commented on #11547
But it's bad idea ;p No point doing something if only 1% gonna use it, i cant believe that you would prefer something like this:

[code]
over:
[code]

[2016-03-19 18:18] rianorie commented on #11547
Constructor injection rather than method injection, really. Also note how
you're not listing 10 services in your example ;)

I hadn't really given it much thought until recently but I'm refactoring a
phalcon app right now and noticing how tightly coupled everything is.

I don't believe it's a bad idea at all and would love some more insights,
Sergey? Andres?
On Mar 19, 2016 7:09 PM, "Wojciech Ślaw

[2016-03-19 18:27] Jurigag commented on #11547
Well we could at least use service locator in the way it should be - so passed as constructor parameter, all services which we need to use in our class are resolved from it and then in methods use those resolved properties - instead of calling di in static way.

[2016-03-19 18:31] rianorie commented on #11547
If I knew the shortcode for a happy dance you'd be seeing it now but I'm
using email ;)
That's exactly what I'm aiming for and the reason I suggest adding more
interfaces.
On Mar 19, 2016 7:27 PM, "Wojciech Ślawski" <notifications@github.com>
wrote:

[2016-03-19 21:45] Jurigag commented on #10378
For me view doesn't even work in php 7. Such a code:

[code]

Displays nothing form test.volt even its adasdasdasdasd

[2016-03-19 22:58] makerlabs opened #11568 "Volt template names and camelized controller actions"
Hi,
Im having a strange issue In work we use a compiled version of phalcon from homebrew and it works fine I mean when we create a controller action named "addProductAction" the phalcon is calling the "addProduct.volt" template. But Now I switched to linux and compiled phalcon from sources and ran our application phalcon don't see the template "addProduct.volt" it tries to search for "addproduct.v

[2016-03-19 23:02] sergeyklay commented on #11568
Possible refs: https://github.com/phalcon/cphalcon/issues/284

[2016-03-20 08:21] Dmitry-Kucher commented on #10772
not actual. https://github.com/phalcon/cphalcon/blob/master/phalcon/http/response/cookies.zep#L149

[2016-03-20 08:21] #10772 closed

[2016-03-20 13:49] jeftom commented on #11464
Uniqueness is still an error.
Phalcon\Validation::add() must implement interface Phalcon\Validation\ValidatorInterface

[2016-03-20 15:26] andmm commented on #2032
Is this solved yet? This is a must for any javascript frontend framework that uses {{ }} for templating

[2016-03-20 15:30] tugrul opened #11570 "[BUG] \Phalcon\Mvc\Model field GEO types"
`location` field's type is `point` and can't be null because spatial index

[code]

[code]

[code]

`location` field already has value but there is following validation error.

Exception:

[code]

Is there a workaround?

[2016-03-20 16:30] sergeyklay commented on #11464
@jeftom This is relevant only for 2.1.x version

[2016-03-20 16:36] makerlabs commented on #11568
This is actually a bug in the Annotation Router I created a fix for that

[2016-03-20 20:25] fenixphp commented on #11464
[code]
Phalcon 2.1.0 RC1 Works fine.

[2016-03-20 20:33] Jurigag commented on #11464
@fenixphp
Just wonder if method called as t is from translation is some default behaviour is translate component ? Cuz im planning do add validation as annotations to model in 2.2 or 2.3 and i guess option to set translation would be good.

[2016-03-20 20:53] fenixphp commented on #11464
@Jurigag
Это класс от "Phalcon\Translate\AdapterInterface" дополнен "array dot notation" и использует в качестве словарей json файлы.

А в целом если передавать в нотации ключ к словарю с переводом то будет очень удобно. При этом для каждой модели определить объект словаря переводов.

translate.google.com

This is the class of the "Phalcon \ Translate \ Adapter Interface" supplemented "array dot n

[2016-03-21 14:52] durrjose commented on #11017
Thank you slechtic, I was missing that I could address the setDialect directly.   This got me one step further, but now it is saying that it cannot get column names:
Exception: Cannot obtain table columns for the mapped source 'Materialized_view_name' used in model MyModelName.

Did you see this too? and if so, could you share your related methods with me?  I am currently looking at the method des

[2016-03-21 15:02] durrjose commented on #11017
P.S. I have not been able to find original phalcon source code to reference, just empty stubs for its methods.  Is there a resource available that will show exactly what phalcon is doing in its methods?

[2016-03-21 15:06] Jurigag commented on #11017
You mean describeColumns method ?

https://github.com/phalcon/cphalcon/blob/master/phalcon/db/dialect/postgresql.zep#L561

[2016-03-21 15:12] durrjose commented on #11017
Thank you Jurigag, This is the source that I was looking for.  What is the difference between cphalcon and phalcon?  Is one just the source and the other the compiled version?  Sorry, new to phalcon and just want to make sure I understand. (never want to just assume.)

[2016-03-21 15:14] Jurigag commented on #11017
cphalcon is repository name, phalcon is zep source, ext is c source

[2016-03-21 15:39] durrjose commented on #11017
Thanks!

[2016-03-21 19:08] durrjose commented on #11017
So I had to add the following describeColumns method to my custom class above to get the column names to work.  It seems fine now...

    public function describeColumns($table, $schema='public')
    {
        if ($schema) {
            return
                "SELECT DISTINCT
                    a.attname AS Field,
                    t.typname AS Type,
                    (information_schema._pg_

[2016-03-22 00:39] Jurigag commented on #11389
Well i am working on some built-in firewall class. Should i still make it for 2.1 or add it later in 2.2 ? @sergeyklay

Defineing it would be something like this:

[code]

And we could use ```@Allow()``` or ```@Deny()``` both on controller and action with array of roles or single role as string. Also default access(no annotation) would be what we set earlier. If we dont set any parameter in annota

[2016-03-22 01:59] daison12006013 commented on #11389
@Jurigag, awesome! I have a question, does this supports multiple roles?

I see this:
[code]

is the returned data from session is array of roles?

[2016-03-22 05:56] sergeyklay commented on #11408
Now you can use `Phalcon\Assets\Manager::exists()`. Implemented in 2.1.x branch

[2016-03-22 05:56] #11408 closed

[2016-03-22 06:08] sergeyklay commented on #11389
2.1 coming soon. It will be LTS release

not the best idea to call methods in a similar way

[2016-03-22 06:35] googlle commented on #11408
Thanks

[2016-03-22 07:02] huyencodon commented on #11029
So, don't have any solution for this bug? i have a same problem.

![error](https://cloud.githubusercontent.com/assets/16998531/13944272/a0e1caae-f036-11e5-8bb0-00f0e6ae55d2.jpg)

[2016-03-22 07:23] Jurigag commented on #11389
@daison12006013 Well you mean one user can have multiple roles ? Well phalcon's acl is not supporting it(or is it ?) so i don't see a point in supporting this in firewall.

[2016-03-22 07:25] dschissler commented on #11029
It looks like the tools need to be updated.  File an issue in that repo.

[2016-03-22 07:46] daison12006013 commented on #11389
Logically for business requirements, a user can have multiple roles and a role can have multiple users.

Phalcon has a different ACL approach, that's why we plan to make it more flexible through route if possible, Might be better to update your firewall **setRoleClosure** to support multiple injected roles? Is it possible?

**Scenario:**
What if I have multiple roles, such as an **Supervisor** and

[2016-03-22 07:51] Jurigag commented on #11389
And how it's suppose to work if we pass multiple roles ? Check if every role have access to this action/controller or only one of them ? You can just make Supervisor to inherit Client Support role and that's it.

Phalcon's ACL don't support passing array of roles in ```isRole``` or ```isAllowed``` for example.

[2016-03-22 08:51] daison12006013 commented on #11389
Yes it is possible, I once tried using the existing acl.

[2016-03-22 09:02] Jurigag commented on #11389
No it's not, you have to pass string, not array:
https://github.com/phalcon/cphalcon/blob/master/phalcon/acl/adapter/memory.zep#L498

[2016-03-22 13:06] MelnykDmitro opened #11579 "[NFR] Support of nested forms and adding collections of elements to the form"
_Просьба перевести на english_

Phalcon\Forms\Form очень простой и лаконичный компонент, но к сожалению его функционала не хватает для решения основных повседневных задач. В связи с этим предлагаю:
Добавить возможность в **Phalcon\Forms\Form** добавлять под-формы(объекты Phalcon\Forms\Form) в качестве элементов и добавить новый элемент типу Collection который может содержать несколько элементов вк

[2016-03-22 13:12] Jurigag commented on #11579
@sergeyklay
Can you translate it ?

[2016-03-22 13:13] sergeyklay commented on #11579
Yes, in the evening guys. I'm little busy

[2016-03-22 13:19] daison12006013 commented on #11389
@Jurigag, you're talking about the checker function? ofcourse that must be a single checker, what I am talking about is this mate:

https://github.com/phalcon/cphalcon/blob/master/phalcon/acl/adapter/memory.zep#L158

which you could call it as many times as you want to add a role from current request.

[2016-03-22 13:23] Jurigag commented on #11389
But in not gonna add a roles from current request. All roles will be defined in acl - as always, that's why you have provide name of acl service to check if role exists, current user role(single role or object) will be returned from function defined in:

[code]

And for it will be doing check. I dont see anywhere in phalcon that you check array of roles if they allowed. So how it's should be worki

[2016-03-22 13:44] daison12006013 commented on #11389
That's the problem, because my feature request will be based on ``route``, which triggers the resource Controller and Action.

So the only plan is to iterate the **roles** assigned to the resource,

then in the dispatcher event we should probably check all the **roles** assigned to the resource, and let's check if we triggered the **addRole()** before the route request.

---

Let us say we initial

[2016-03-22 14:03] Jurigag commented on #11389
[code]

What you mean it's global ? Why it's global ? Role depends on the user, not a global stuff. Why you just don't implement use role inheritance and that's it ? I can add functionnality you want to iterate passed array of roles, just function in $firewall->setRoleClosure() would need to return array of roles, but it would only work if you are using annotation configuration. If you for example

[2016-03-22 14:10] SidRoberts commented on #11579
Here's a rough translation...

`Phalcon\Forms\Form` is very simple and concise component, but unfortunately it is not functional enough to solve the major everyday problems. To alleviate this problem:

Add the ability to `Phalcon\Forms\Form` to add a `Phalcon\Forms\Form` object as elements and add a new item type Collection that can contain several elements including a sub-form.

1. The `Phalcon\F

[2016-03-22 14:12] daison12006013 commented on #11389
@Jurigag, what I mean about the initialized roles, those are roles came from a user's roles in the database table, which it is stored in the session, now it is always global becase every request we're calling the ``addRole()`` in Phalcon ACL.

Now the remaining process is the one I requested.

About the route allowed/denied in the routes, that's my last resort if this isn't doable.

[2016-03-22 14:21] Jurigag commented on #11389
I don't get it. I know you can ```addRole()``` in phalcon acl as array but you CANT CHECK THEM if they are allowed or this array of roles exist. So if we want to use firewall in annotation method the best way will be just get rid of phalcon acl in this case, and just get roles from function defined in ```setRoleClosure()``` and check if any role from it is allowed to controller/action. Easy and si

[2016-03-22 15:13] daison12006013 commented on #11389
Yeah I think we should not use Phalcon ACL itself for this as it has a different approach, I'm looking forward with your firewall though.

Hoping that to be added 2.1 also.

[2016-03-22 23:09] Jurigag commented on #11389
@sergeyklay
[code]

how it should be called ?

[2016-03-23 00:26] andresgutierrez commented on #11029
Can you please file an issue here https://github.com/phalcon/phalcon-devtools ?

[2016-03-23 09:11] lockz opened #11581 "Filter add method handler"
I think there should be "OR" instead "AND".
I have a callable handler `array($this, 'function')`
`if typeof handler != "object" && !is_callable(handler) {`

in file https://github.com/phalcon/cphalcon/blob/master/phalcon/filter.zep

[2016-03-23 10:55] dschissler commented on #11029
@andresgutierrez Does the following count as a static closure in PHP?

[code]

I wouldn't think so but perhaps they hacked it into the internals this way.  It does seem pretty arbitrary and irrelevant of a designation from a purely programmer perspective.

[2016-03-23 10:58] valVk commented on #11579
It's called Form Embedding and there are already exists NFR for this

https://github.com/phalcon/cphalcon/issues/705

[2016-03-23 12:35] Gigabiter commented on #11395
@sergeyklay
Update to:
Phalcon 2.1.0.RC1 - Windows x64 for PHP 5.6.0 (vc11)
March 22 2016 22:25:39 EDT / sha1: 6a6cc9a580c670979fb971f8441c6653920bc778
Has same result with errror:
`$result->total_items = 0`
`$query->getSql()['sql'] = 'SELECT `t`.`id` AS `_t_id`, `t`.`parent` AS `_t_parent`, `t`.`user_id` AS `_t_user_id`, `t`.`user_name` AS `_t_user_name`, `t`.`title` AS `_t_title`, `t`.`message`

[2016-03-23 13:59] AniaSoft opened #11582 "Phalcon\Cache\Backend\Redis not working with latest Phalcon 2.1.x build and PHP7"
Hi,

When I try to use Redis cache with latest Phalcon 2.1.x branch and PHP7 I got segmentation fault. When I use master branch and php 5.6 it works perfectly. Can anyone please help me with this?

If I run under debugger:

I got this:

[2016-03-23 14:01] Jurigag commented on #11582
You have to compile phalcon 2.1.x with newest zephir, then it should work.

[2016-03-23 14:08] AniaSoft commented on #11582
Yes, I have compiled with the latest zephir (0.9.2a-dev).
zephir build -backend=ZendEngine3
Then I have to wait for a stable release. Thank you.

[2016-03-23 14:09] Jurigag commented on #11582
Create issue on zephir beacause it's zephir realated with whole backtrace from bt and close this issue.

[2016-03-23 14:10] AniaSoft commented on #11582
Yes, I will do so.

[2016-03-23 14:11] #11582 closed

[2016-03-23 15:02] AniaSoft opened #11583 "Using Phalcon\Cache\Backend\Redis got segmentation fault with latest Phalcon 2.1.x build and PHP7"
Hi,

When I try to use Redis cache with latest Phalcon 2.1.x branch and PHP7 I got segmentation fault. When I use master branch and php 5.6 it works perfectly.

[code]

If I run under debugger:

[code]

I got this:

[code]

[2016-03-23 15:10] Jurigag commented on #11583
As you can see on stack there is no related redis calls

[2016-03-23 15:17] AniaSoft commented on #11583
Yes, but seg fault occurs when this code is executed:

[code]

[2016-03-23 15:31] Jurigag commented on #11583
No,  seg fault happens where you defined view service. Check back trace.

[2016-03-23 15:31] Jurigag commented on #11583
Post your code of view service.

[2016-03-23 15:34] AniaSoft commented on #11583
[code]

[2016-03-23 15:38] Jurigag commented on #11583
On php 7 you can't pass view engine as string(your php engine), zephir has some problems with building this class.

[2016-03-23 15:49] AniaSoft commented on #11583
Yes, I have removed the `'.phtml' => 'Phalcon\Mvc\View\Engine\Php'` and no more seg fault. Thank you!

[2016-03-23 16:29] #11433 closed

[2016-03-23 16:58] googlle commented on #11579
+1

[2016-03-23 16:58] googlle commented on #705
+1

[2016-03-23 17:13] googlle opened #11584 "Phalcon\Forms\Element\Radio does not properly validate"
Hi. I get errors when validate form

[code]

[code]

[code]

I don't understand, post data is sent correctly. But the validation of the elements fails. Initially, the PresenceOf validator reports that there is no such value, then the other

[2016-03-23 17:32] googlle opened #11585 "Namespace controller"
Hello. Now we can not use a namespace for the controller with the module. Why not make this possible?

[code]

Now it automatically adds to the controller - "{module}\Controller{MyControllerName}Controller"
Router creates the name of the controller that is "App\Controller\App\Controller\IndexController"

Why not first check the controller does not contain "module", if it contains - not to add modu

[2016-03-23 18:27] Jurigag commented on #11585
You can already use namepsace by:

[code]

[2016-03-23 18:28] Green-Cat commented on #11583
It looks like the same zephir_create_instance_params issue as we've seen before.

[2016-03-23 19:13] durrjose commented on #11017
The above describeColumns() did not seem to be returning enough information... I was geting an error missing index: 9. I traced through the code to find the 10th column (array[9]) in the array as being the column's default value.  I have added it and now I believe this is correct:

    public function describeColumns($table, $schema='public')
    {
        if ($schema) {
            return

[2016-03-23 20:02] sergeyklay opened #11586 "Use random_bytes"
`Phalcon\Security\Random::bytes` must use [random_bytes](http://php.net/manual/en/function.random-bytes.php) if it is possible

[2016-03-23 20:15] sergeyklay commented on #11395
Windows DLLs are here https://phalconphp.com/en/download/windows

[2016-03-23 21:40] radean0909 opened #11587 "Incorrectly receiving "Redisd server selected database failed""
In: https://github.com/phalcon/cphalcon/blob/master/phalcon/cache/backend/redis.zep

This occurs when connecting to our new redis server (our last server didn't require authentication).

The relevant redis config info:

[code]

Since experiencing this issue we have tried connecting to several different redis sources. Pure PHP implementation using the Redis adapter does work. I'm, beginning to writ

[2016-03-23 21:45] GrigoriyIvanov commented on #11579
+1

[2016-03-24 01:17] tobasar commented on #10378
@freshman20 #11465

[2016-03-24 01:40] huyencodon commented on #11029
Thanks all, but i fixed it. Because i use PHP ver 5.5 + Phalcon ver 2.1.0 => It's error.
But i replace phalcon ver 2.1.0 by ver 2.0.10 => it's OK.
I think ver 2.1.0 isn't compatible with PHP ver 5.5.

[2016-03-24 01:49] andresgutierrez commented on #11029
@huyencodon It's compatible, but a closure created in a static context cannot be bound to an object, this is a php behavior, it's not something that we introduced arbitrarily.

[2016-03-24 01:55] andresgutierrez commented on #11029
This is what is happening under the hood:

[code]

[code]

[2016-03-24 06:48] googlle commented on #11585
Why I do not use full
1. I think phalcon should automatically add "Controller" to the name
2. I use acl ("Index" controllers I have many - each with its own namespace)

Now I use this
[code]

[2016-03-24 08:03] Jurigag commented on #11585
Why it should add automatically Controller when you are providing almost full namespace ? I don't get it. If you want to use just namespace - then type full namespace, if don't - then don't. For me typing full namespace without Controller will be inconsistence.

[2016-03-24 08:52] Gigabiter commented on #11395
@sergeyklay  Code well-earned! Дякую! )

[2016-03-24 08:57] dschissler commented on #11029
I think that we need more information from @huyencodon because I looked at the dev tools code there and I can't see how its a static closure.

[2016-03-24 09:04] googlle commented on #11585
I guess this is correct. In many frameworks it is so used.

[2016-03-24 09:14] #10979 closed

[2016-03-24 09:30] #11395 closed

[2016-03-24 19:02] Hoet opened #11589 "Maximum recursion depth exceeded"
Hello,

I'am trying to save related records. The code below generates the error specified in the title. Everything is ok when I comment the last two lines out. However when I leave them in, I get the message mentioned in the subject. Below the code is part of the model that we use.

Anyone have an idea how I could solve this, by using saving related records.

[code]

Models used:
![max reached](ht

[2016-03-24 19:07] Jurigag commented on #11389
Okay, there is PR:

https://github.com/phalcon/cphalcon/pull/11590

Let's move discussion here, beacause i asked there some questions.

[2016-03-24 19:59] Jurigag opened #11591 "Call to undefined function apc_fetch in tests"
On php 5.4 tests pass, on 5.5 and 5.6 don't. Are you guys using apcu on 5.5 and 5.6 ? Can you add apcu_bc on php 5.5 and 5.6 ?

https://pecl.php.net/package/apcu_bc

Or maybe should i just use ```Phalcon\Annotations\Adapter\Memory``` ?

[2016-03-24 20:47] Jurigag commented on #11589
And how your relations looks like in phalcon ?

[2016-03-25 03:41] tuxy opened #11592 "Request: Phalcon Documentation PDF Code Syntax Highlight"
Can you please use source code syntax highliting in your PDF for https://docs.phalconphp.com/en/latest/index.html

Its easier to read and identify source code from regular text. Thank you.

[2016-03-25 03:57] tuxy opened #11593 "Request: Deprecate Long Paths"
I read the news about 2.1 RC1 good job guys. Can't wait for the stable version to use Phalcon in production environment with PHP 7. I've noticed this; ``Phalcon\Mvc\Model\Validation is now deprecated in favor of Phalcon\Validation`` Can we please have more of this similar deprecation for other long paths?

Some Examples:

 * Deprecate ``Phalcon\Mvc\Model`` in favor of ``Phalcon\Model``.
 * Depreca

[2016-03-25 04:02] tuxy opened #11594 "Request: Paginator Object"
Can we please have ``Phalcon\Paginator\Object``, similar to what we have for ``Phalcon\Paginator\Adapter\NativeArray``.

[2016-03-25 04:18] tuxy opened #11595 "Request: Router "OR" in Param RegEx"
Not sure how hard this would be to implement in Phalcon, but can we please have "OR" for routers ? For example, I want to use "year" as my string and allow ether 2-digits or 4-digits only. I know I can use ``/([0-9]{2,4})/`` but what I'm asking is can we have "OR". Example would be something like, ``/([0-9]{2|4})/``. This would allow ONLY 2-digits OR 4-digits. This way 1-digit or 3-digits wont be

[2016-03-25 04:27] ghost opened #11596 "Request: Pass Variable to Router"
Request to be able to use variables inside router. For example;

[code]

[2016-03-25 07:36] kenpb commented on #11518
@ruudboon what about doing it in Zephir?, I was digging in the implementation of an adapter myself, @ashpumpkin @sergeyklay creating an [adapter](https://github.com/phalcon/cphalcon/blob/master/phalcon/db/adapter/pdo/mysql.zep) and a [dialect](https://github.com/phalcon/cphalcon/blob/master/phalcon/db/dialect/mysql.zep) for the Cassandra PDO should do the trick right? Or am I missing something?

[2016-03-25 08:00] sergeyklay commented on #11591
https://github.com/phalcon/cphalcon/blob/2.1.x/tests/shim.php

[2016-03-25 08:01] sergeyklay commented on #11591
https://github.com/phalcon/cphalcon/blob/2.1.x/tests/_ci/install_prereqs.sh#L55

[2016-03-25 08:04] sergeyklay commented on #11592
This is [Phalcon Docs](https://github.com/phalcon/docs) issue

[2016-03-25 08:04] #11592 closed

[2016-03-25 08:07] sergeyklay commented on #11594
Refs: https://github.com/phalcon/cphalcon/pull/10985

[2016-03-25 08:12] Jurigag commented on #11591
I have apcu, but ```Phalcon\Annotations\Adapter\Apc``` is using apc_fetch and it fails on tests beacause there is no such a function. On my VM it's working fine beacause i have apcu_bc.

[2016-03-25 08:18] Jurigag commented on #11593
```Phalcon\Mvc\Model\Validation is now deprecated in favor of Phalcon\Validation```

This is not deprecated beacause long path. This is deprecated to make Forms and Model use the same validation component.

We can't do this beacause phalcon is allowing you to create not-mvc application(micro for example or cli). You don't have for example controllers in micro app. Putiing Phalcon\Mvc\Controller in

[2016-03-25 09:01] Hoet commented on #11589
Hi,

See below for the relations for every model used in the screenshot above.

**quotation_comments**
$this->setSource( 'quotation_comments' );
$this->belongsTo( 'user_id', __NAMESPACE__ . '\Users', 'id', [ 'alias' => 'User' ]);
$this->belongsTo( 'quotation_id', __NAMESPACE__ . '\Quotations', 'id', [ 'alias' => 'Quotation' ]);

**quotations**
$this->setSource( 'quotations' );
$this->hasMany( 'id'

[2016-03-25 09:07] Jurigag commented on #11589
And what database you are using ? Not sure is there any difference but you have aliases with first letter uppercase, but in code your are using it lowercase.

[2016-03-25 10:16] Hoet commented on #11589
The DB I use is MySQL (default).

**lower/upper case**
I found out by trail and error that lowercase seems to work fine when working with aliases. The application consists of 74 tables and I used the uppercase/lowercase combo on all of them. I haven't gotten an error on that yet. But I'll change them for this part of the code just to see if it would make a difference.

**findfirst ....**
ok, will

[2016-03-25 10:59] googlle opened #11597 "Validators still run, even if there is no PresenceOf"
I noticed that when I don't add PresenceOf validator to the element, during validation the form - validators will still run for this item.
[code]
Show error "The value must be between 0 and 100"

[2016-03-25 11:09] Jurigag commented on #11597
I guess it's a bug beacause this validator should run only if it's not empty.

[2016-03-25 11:22] Hoet commented on #11589
Hmm I have changed the code to the following and that seems to be working properly. Apparently by adding the update on quotations (see first post) the recursion is triggered. And apparently the update is not needed because the relations will take care of setting a quotation ID for the comment.

$address =new Addresses();
$address->setCity( $this->request->getPost( 'city' ));
$address->setPhone( $t

[2016-03-25 11:54] googlle commented on #11597
I guess also
@Jurigag can you look? https://github.com/phalcon/cphalcon/issues/11584

[2016-03-25 11:57] Jurigag commented on #11584
In post data you have **type** but you added fields **type1** and **type2**

[2016-03-25 12:10] googlle commented on #11584
Html element name
[code]

[2016-03-25 12:13] Jurigag commented on #11584
But constructor parameter in radio is name too.

[2016-03-25 13:10] #11593 closed

[2016-03-25 13:10] #11594 closed

[2016-03-25 13:12] googlle commented on #11584
Exactly. But if I use the same name in the constructor, then the second element is overwrite the first

[2016-03-25 13:14] Jurigag commented on #11584
But why you need two same elements ?

[2016-03-25 13:40] googlle commented on #11584
I think in the constructor values 'type1', 'type2' is more to identify items in the form.
If I will use
[code]
 <?php echo $form->render('type'); ?>
Output
[code]
Then the second element will overwrite the second element

[2016-03-25 14:06] Jurigag commented on #11584
Oh okay. Then it's weird. Well im not using phalcon's form beacause i use angular. So i can't help this time.

[2016-03-25 16:44] googlle commented on #11584
Ok. Thanks

[2016-03-25 19:25] tidytrax opened #11598 "PHP7-Fpm+Nginx /mvc/model/query.zep"
Zephir And Phalcon build yesterday - Last version.

Looks like something going wrong with parse function i gotta memory leak

NotWorking
[code]
Working
[code]

Log find
$model = new Tst();
var_dump($model->find());exit;
[code]
Log Count
$model = new Tst();
var_dump($model->count());exit;
[code]

[2016-03-25 19:27] nsossonko commented on #11173
Yes, I noticed this was broken for us too. With the new model one cannot set multi-field uniqueness checks anymore.

[2016-03-25 20:13] Jurigag commented on #11598
As i remember:

var_dump($model->find());

will cause this almost always beacause there are recursive calls to di, this will cause to var_dump all models with di, if you have some service registered in it, which have di - it will be dumped again etc etc. It will really cost many memory, just huge amount of it and it's possible that it's have problem with dumping it.

For dumping resultset use:

va

[2016-03-25 20:20] tidytrax commented on #11598
Already tried, withou var_dump setting as a variable.
$as = $model->find();
$as = Tst::find();

No operation throught Model is working save(), delete().

save and delete is even worst nginx redirect me to 404.

[2016-03-25 20:36] Jurigag commented on #11598
So what database you are using ? Is the same occuring on php 5.6 ?

[2016-03-25 20:40] tidytrax commented on #11598
I`m trying php 7 + phalcon 2.1
php 5.6 + phalcon 2.0.10 is working fine

and just to be clear the problem is with the Model,
View, Controller, Router.... is working fine.

Database is simple just for test 1 table tst fields id and title.
and works if i use

$as = $this->db->query('SELECT * FROM tst');
$result = $as->execute();
var_dump($as->fetchAll());exit;

[2016-03-25 20:54] Jurigag commented on #11598
Phalcon 2.1 is currently not stable with php 7, just dont use it on php 7, that's all.

[2016-03-25 20:56] tidytrax commented on #11598
OK, i know it, but i m reporting a issue,
Have you been used php7 + phalcon2.1?
tried model?

[2016-03-25 21:02] Jurigag commented on #11598
But phalcon is officially not released for php 7. There are many bugs and other things that you need to know about php 7. There are zephir issues, i added some with php 7:

https://github.com/phalcon/zephir/issues

Those problems can occur in many places beacause phalcon is using similar code many times. We have to fix most of problems in zephir, then we cant test phalcon again.

Right now there i

[2016-03-25 21:06] tidytrax commented on #11598
ok i tried to report,
looks like somenthing in parse, because if dont need to use function parse, works. but ok good luck

[2016-03-25 21:06] #11598 closed

[2016-03-25 21:06] Jurigag commented on #11598
There are seg faults in tests running on php7. There can be like 100 other problems and you don't know about it. We need to fix current found problems in zephir, make tests working without seg faults:

https://github.com/phalcon/cphalcon/issues/11550

Make them passing and then we could possible focus on other php 7 related issues which will be not found in tests.

Right know i think there is no s

[2016-03-25 21:18] Jurigag commented on #11550
@sergeyklay well i dont know why i didn't think about it later, just copied some proxy class into apache and tested it myself:

[code]

[2016-03-25 21:28] Jurigag commented on #11550
@sergeyklay

Well there is a problem That both proxy classes on php 5.6 and php7 has wrong delcaration of methods(other types).

But on php 5.6 we have Strict Declarations errors. On php 7 we have Warnings - what my guess is if codeception detect warning in test - it's just automatically marking them as Error ?

[2016-03-25 21:30] sergeyklay commented on #11550
@Jurigag No proplem. Just do PR with proxies fixes :)

[2016-03-25 21:51] Jurigag commented on #11550
Well yea, im right, fast fix:

```error_level: E_ALL ^ E_WARNING``` in codeception settings

Proper fix:
```Fix all proxy classes to have good declaration```

[2016-03-25 22:39] tidytrax commented on #11598
Ok, no problem, just warning because i thought weird, all work less MODEL, even so pdo is working inside phalcon. but good luck with zephir anyway.

[2016-03-25 23:46] Jurigag commented on #11598
As you can see in issue more things not working for example logger or config.

[2016-03-26 00:40] tidytrax commented on #11598
Yes, I did know already, i did read, i follow, and always use phalcon,
when i can i help also, wish i could do more.

First i had opened on forum and i just brought to here, because i really forgot about zephir is not 100% ready yet on zend engine 3.

I saw the RC1, and did not look into zephir.

But Anyway already bring maybe one day help maybe get fixed when zephi get done ( i hope so )
and by t

[2016-03-26 02:42] sergeyklay opened #11600 "Using only standard http status codes"
We need use only standard http status codes.

Some way to get it:
[code]

[2016-03-26 05:41] davihu commented on #11518
I am also interrested, I currently started working on Cassandra DB adapter for Cassandra version 3.x for my project on https://github.com/davihu/phalcon-cassandra

Will have not much time now, but from half of the year will have free for it. Feel free to contact me, if you are interrested.

[2016-03-26 06:01] googlle commented on #11448
+1

[2016-03-26 07:18] fenixphp commented on #11579
+1

[2016-03-26 08:55] ruudboon commented on #11518
@kenpb Zephir should definitely be the goal. But as @sergeyklay suggested. If we build it in php for the incubator then the Phalcon crew can port it.
@davihu Great to see that you started. I'll see if I can contribute soon.

[2016-03-26 13:58] Shay12tg opened #11601 "2.1RC1 issues (controller initialization, forwarding...)"
Hi.

I've been testing the 2.1RC1 with PHP7.0.4 on my app (works on 2.0 with PHP5.6) and I have some issues...
I wrote a simple code that demonstrates some of the issues:
1. controller 'initialize' function isn't being called.
2. afterExecuteRoute doesn't work the way I used it before.
3. forwarding the request on exception doesn't work. ( ?_url=index/exception )

Hope someone can help with that.

[2016-03-26 14:11] Jurigag commented on #11601
Phalcon 2.1.0 doesn't support PHP 7. It doesn't passing tests. There are many zephir problems with PHP 7 https://github.com/phalcon/zephir/issues. Intialize should already work if you compile phalcon with newest zephir. Also check this : https://github.com/phalcon/cphalcon/issues/11550

[2016-03-26 15:27] Studentsov commented on #11600
In that case we will lose a code 418 =(

[2016-03-26 20:35] hossam9995 opened #11602 "find model and columns issue ?!"
i want to get all columns  with the addition column as you see below
[code]
the result is ==> The index does not exist in the row

when i change the columns Variable  to ==>
[code]
then ==>
work fine but i need to fetch all columns with distance as you see but i try too much time to find solution but i couldn't .

thanks

[2016-03-27 13:04] skmail opened #11604 ""$this" in Di setter refers to Phalcon\Di\FactoryDefault"
Hello,

**This issue on version 2.1.x**

**OS: Ubuntu 14.04
PHP Version: PHP Version 5.6.19-1+deb.sury.org~trusty+1**

I'm using multi module application using phalcon, the issue is when  registering some services  through registerServices(DiInterface $di) method and use  variable $this within lambada function in service setter, "$this" variable refers to "Phalcon\Di\FactoryDefault" and not the mo

[2016-03-27 14:11] Jurigag commented on #11604
Its a new thing in 2.1.0. Services are now bound to DI, that's why calling $this in function is actually di itself.

[2016-03-27 14:25] sergeyklay commented on #11604
This featured introduced in blog post 2015-09-25: https://blog.phalconphp.com/post/phalcon-2-0-8-and-2-1-0-beta2-released

[2016-03-27 16:38] skmail commented on #11604
Thank you.

[2016-03-27 16:38] #11604 closed

[2016-03-27 22:41] sergeyklay commented on #11507
Refs: https://github.com/phalcon/zephir/issues/1217

[2016-03-28 10:32] Surt commented on #11286
@michanismus +1 to the optional behaviour  parameter, so we can decide if the object uses or not the auto use setter.

and of course, + 1 to autosetter use, afterFetch and beforeSave are really difficult to manage if I want my model to take care of data transformations etc

[2016-03-28 12:36] sergeyklay commented on #11507
@jcastilloa Could you please check now by using latest Zephir (`master` branch)

[2016-03-28 12:54] Jurigag commented on #11507
I think @bkirova and @jcastilloa are other issues. @bkirova problem should be fixed now.

[2016-03-28 13:41] sergeyklay commented on #11507
Yeah, I made a typo. @bkirova Your issue should be solved now

[2016-03-28 20:37] hossam9995 commented on #11602
i user

ClassifiedsV::columnsMap() to get all columns
see the below code
`
$columns  = ClassifiedsV::columnsMap() ;
$columns  = implode(',',$columns);
$columns  =  ["  $columns  ,( 3959 * acos( cos( radians($lat) ) * cos( radians( map_lat ) )
                            * cos( radians( map_lon ) - radians($lon) ) + sin( radians($lat) ) * sin(radians(map_lat)) ) ) AS distance"];
`

its work fine
th

[2016-03-28 20:37] #11602 closed

[2016-03-29 07:01] googlle commented on #11584
I wrote a small unit test like testFormValidator (in unit-tests/FormsTest.php). I guess it's not gonna work
[code]

[2016-03-29 07:13] googlle commented on #11584
Hello, @sergeyklay.  Can you fix it in 2.1.0? This is very important thing. I don't know how to fix.

[2016-03-29 08:00] sergeyklay commented on #11584
I'll try to deal with this

[2016-03-29 08:12] googlle commented on #11584
Thanks

[2016-03-29 08:36] borisdelev opened #11605 "[2.1.x][Bug] PHQL subquery cant bind params for it- only for "array" type"
Hi there,
I think i found a issue with sub-queries. Let get look that example:

[code]

So... Phalcon returns an error for me: "**Bind value is required for array type placeholder: categories**" - but it is prepared. I try this in older versions of phalcon- still make an error. If i am doing something wrong, please, correct me.
Just one more detail- if i use not array as param, but string or int `

[2016-03-29 10:12] mzf commented on #10314
+1 issue with using array notation in form names

[2016-03-29 11:25] ashpumpkin commented on #11518
@kenpb I've tested YACassandraPDO with cassandra 3.0.3 and it doesn't properly handle map type :disappointed:
I get something like ������class���+org.apache.cassandra.locator.SimpleStrategy���replication_factor���3
instead of array:
[code]
Github page says :

And last commit is Jan 26, 2015
:disappointed_relieved:

[2016-03-29 13:10] basilfx opened #11606 "Model update/save with wrong column type fails silently"
When updating a modal when the column type is incorrect/non-existing, `save()` or `update()` succeeds (returns true, no messages), but the actual query is NOT committed. MySQL query log show that the query was received, but no values are bound to it.

I had this problem because I accidentally used `@Column(nullable=false, type='boolean')` instead of `@Column(nullable=false, type='integer')`. Chang

[2016-03-29 17:25] nask0 commented on #2294
Phalcon 2.0.10 is affected too.
IMHO Request->getHeaders() should simply return getallheaders()

Any good reason for header checks in Request->getHeader() ?

[2016-03-29 20:44] bkirova commented on #11507
Thanks all!

[2016-03-29 21:12] sergeyklay commented on #11507
@jcastilloa Could you please provide a script to reproduce?

[2016-03-30 00:40] kenpb commented on #11518
@ashpumpkin Indeed, the YACassandraPDO uses a thrift API which is outdated atm with all the changes that Cassandra suffered from version 2.0.x to 3.0.x, I think the https://github.com/datastax/php-driver is a better shot since the PDO driver that uses is "supposed" to be compatible with the 3.0.x and should work just fine.

[2016-03-30 03:24] mzf opened #11607 "request->getPost() dont work with arrays"
If i use name of element in form like
`name[index1][index2]`
and then do
[code]
$values is NULL, but var_dump($_POST) show that it is not empty
I use Phalcon 2.1

[2016-03-30 05:51] CedricArnouldEM6 commented on #2683
I made the tuto too, and it is not possible to Insert or Update a robot

[2016-03-30 07:28] mzf commented on #11607
New feature request?

[2016-03-30 08:09] sergeyklay commented on #11607
`getPost` expects key as string.

[code]
You really think that this should work?

[2016-03-30 08:12] Jurigag commented on #11607
Well if you use:

[code]

It's working ?

[2016-03-30 08:32] bkirova commented on #11607
as @sergeyklay said getPost expects key as string, so :

`$values = $request->getPost("name");
`

and then you can use $values as a normal array

`$index1 = $values["index1"];`

[2016-03-30 09:22] googlle commented on #11579
Hello.
@sergeyklay, will this feature be added in 2.1.0?

[2016-03-30 09:23] googlle commented on #11597
@sergeyklay can you look? I guess it's a bug

[2016-03-30 09:24] Jurigag commented on #11579
If someone will do it then it will be added.

[2016-03-30 09:48] sergeyklay commented on #11607
@Jurigag  Yeah, in PHP >= 5.5 it will work.

@mzf  `getPost` is designed in such a way to get something by a key and that key must be a string. So, it is not a bug, but your request for a feature.

But in any case I dislike such bit weird notation (`something['key']['subkey']`). The  `something.key.subkey` syntax is more readable.

[2016-03-30 10:06] sergeyklay commented on #11597
Which version of Phalcon did you use

[2016-03-30 10:34] laodalaoda520 opened #11609 "phalcon\mvc\model toArray doesnot work"
when i  use 'columns' option  in the find method,
like

`$data  = (new model())-> find(array('','columns'=>array('*,count(1) as 'total')));`
and then,
  `  print_r($data->array());`

[2016-03-30 10:50] googlle commented on #11597
I use Phalcon 2.1.0.RC1

[2016-03-30 12:48] Jurigag commented on #11609
there is no method ```->array()```

Also instead of:

[code]
do:

[code]

[2016-03-30 13:46] mraspor opened #11610 "Does bindTypes Column::BIND_PARAM_INT actually work?"
Phalcon version 2.0.9

Table

[code]

Pass $id via $_GET or $_POST and try to retrieve the row(s):

[code]

OR

[code]

If we say the $id = 100, the above code will produce the following (notice the quotes around the number)

[code]

But if we force (int) on $id correct SQL will be produced:

[code]

SQL code of the above php snippet:

[code]

So, what's the purpose of Column::BIND_PARAM_INT if we

[2016-03-30 14:27] sergeyklay commented on #11597
@googlle What about this feature https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/validation.zep#L475

[2016-03-30 14:41] daison12006013 opened #11611 "[Bug] In 'response' DI in which passing 404 status code can't rely on passed content"
I'm using 2.0.10,

So I have this code:

[code]

The ``$content`` is just a simple html with some 404 messages, however the passed html is not relying on it, here's the image: http://i.imgur.com/MptSdtP.png

If you will be changing the 404 into 500 or any status code except 404, the set content will work.

This is weird though that in the documentation has this: https://docs.phalconphp.com/en/late

[2016-03-30 14:53] sergeyklay commented on #11611
I'll look into this as soon as I can. Ping me please in Slack

[2016-03-30 14:55] daison12006013 commented on #11611
Sure :+1:

[2016-03-30 18:11] sergeyklay commented on #11611
[code]

![selection_138](https://cloud.githubusercontent.com/assets/1256298/14152408/da39c924-f6bb-11e5-9523-449ec7f72870.png)

[code]
![selection_139](https://cloud.githubusercontent.com/assets/1256298/14152419/eb2b3db2-f6bb-11e5-9c6e-1d879a96e8c5.png)

[2016-03-31 03:46] tidytrax opened #11613 "Phalcon 2.0.10 MetaData Bug Default Values"
If a table doenst have a auto-increment column metadata cannot read the defaults value, so when save get error column is required instead of read default values

So with auto-increment works fine but without all fields with default value ask to be filled

Example

so to work i created a ID column INT auto increment and set as Primary key.

Phalcon 2.0.10 + Nginx 1.9.3 + PHP 5.6 FPM + MariaDB 10.1

[2016-03-31 04:42] tidytrax commented on #11613
**Steps **

[code]

[code]

[2016-03-31 06:47] Firzenizer commented on #1925
Damn I was just looking for this feature. Seems it doesn't exist.

[2016-03-31 10:54] adamdama opened #11614 "Cannot set text Y position using Imagick Adapter"
We are using the following code:

[code]

When using the GD adapter this correctly adds the line of text to the image. However when using the Imagick adapter the line of text is printed above the image. We have tried multiple different y values but this does not change the position of the text on the image.

I am wondering if it is related to line 469 in https://github.com/phalcon/cphalcon/blob/ma

[2016-03-31 11:06] daison12006013 commented on #11611
Yeah, this seems to be my 2.0.10 build when using --depth option when cloning this repository before.

So what I did was to pull the master branch again which I got a lot of updates, (dunno why). So building it again, and refreshed my page, and the content works well.

Thanks a lot @sergeyklay

[2016-03-31 11:06] #11611 closed

[2016-03-31 12:38] mraspor commented on #11610
Uh, is this a bug then, or?
Recommendation for all of DB systems is to use numbers as numbers and not to have the database typecast the string to number.

[2016-03-31 13:11] mraspor commented on #11597
You could add ''allowEmpty' => true' to the validator, allowing empty submition.

[code]
https://docs.phalconphp.com/en/latest/reference/validation.html#avoid-validate-empty-values

[2016-03-31 13:13] googlle commented on #11597
Thanks to everybody

[2016-03-31 13:15] sergeyklay commented on #11610
Possible related https://github.com/phalcon/cphalcon/issues/1434

[2016-03-31 13:16] sergeyklay commented on #11610
Also see https://github.com/phalcon/cphalcon/blob/master/config.json#L92

[2016-03-31 13:17] #11597 closed

[2016-04-01 03:07] laodalaoda520 commented on #11609
@sergeyklay
sorry,  It's a mistake;
but ,you can try this
[code]
it's no an array

[2016-04-01 08:10] Tosyn opened #11616 "Passing variable to view not working with latest Phalcon 2.1.x build and PHP7."
Passing variable to view via controller is not working (getting variable not defined error message). Am I doing something wrong or the parsers (PHQL, Volt, Annotations) still need to be migrated to PHP7 extensions as pointed out here https://forum.phalconphp.com/discussion/9715/php-7-can-you-please-update-us-on-the-progress ?

[2016-04-01 08:15] Green-Cat commented on #11616
ref https://github.com/phalcon/cphalcon/issues/10378#issuecomment-198308702

[2016-04-01 08:16] Jurigag commented on #11616
There are many problems with phaclon and php 7, it's not stable yet. Check issue above.

[2016-04-01 08:19] Tosyn commented on #11616
**Controller:**

[code]
**View:**
[code]

**config/services.php**
[code]
**Error:**
`"PHP message: PHP Notice:  Undefined variable: title in /path-to-app_views_index_index.volt.php on line 1`

[2016-04-01 08:25] Jurigag commented on #11616
First:

[code]

On php7 there is some bug and you have to use view.title, i guess there is some kind of problem with https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/view.zep#L1348

But also setVar and etc methods doesn't work so i don't know what's going on.

Second:
``` '.phtml' => 'Phalcon\Mvc\View\Engine\Php'``` - this doesn't gonna work, zephir has some problems with creating class

[2016-04-01 08:55] Tosyn commented on #11616
@jurigag: thanks, using view.title as suggested worked.  I will comment out the .phtml part for now.

[2016-04-01 12:38] #11616 closed

[2016-04-01 12:52] TiagoSilvestre opened #11617 "I cant use the save method in controller"
I cant use the save method in controller, i dont know what happen.

This is the controller:

[code]

this is the model

[code]

[2016-04-01 13:01] sergeyklay commented on #11617
[code]

[2016-04-01 14:25] fl0pp commented on #2871
Have someone come up with a solution to this issue? It will do with plain PHP-code...

[2016-04-01 14:31] prodigga commented on #2871
This small issue steered me away from Phalcon a year ago.

[2016-04-01 14:42] Jurigag commented on #2871
Well i will look into it when i have time, but to be honest i created service myself to create/update many to many relation.

[2016-04-01 15:15] mraspor commented on #11617
As well as

[code]
You are probably not passing it correctly

[2016-04-01 15:21] TiagoSilvestre commented on #11617
Thankss! I was puting in the method save an array with the required fields.

[2016-04-02 08:26] fl0pp commented on #2871
@Jurigag could you please share that code with me? I consider doing it myself, but if you have already done it, I would be happy to use it!

[2016-04-02 10:29] HanXHX opened #11619 "mcrypt deprecation"
PHP core team will deprecate mcrypt solution as PHP 7.1 version. => https://wiki.php.net/rfc/mcrypt-viking-funeral

We should start a migration to another solution.

[2016-04-02 10:39] Jurigag commented on #11619
It's already done in 2.1.x branch and replaced to openssl.

[2016-04-02 10:40] #11619 closed

[2016-04-02 11:20] sergeyklay commented on #11619
https://github.com/phalcon/cphalcon/pull/11530

[2016-04-02 13:58] Fenikkusu opened #11620 "Composer"
Minor issue on Composer when trying with PHP 7

  Problem 1
    - Installation request for phalcon/cphalcon 2.1.x-dev -> satisfiable by phalcon/cphalcon[2.1.x-dev].
    - phalcon/cphalcon 2.1.x-dev requires php ~5.4 -> your PHP version (7.0.4) does not satisfy that requirement.

[2016-04-02 14:08] Green-Cat commented on #11620
I already have a pull request to solve that issue.

[2016-04-02 15:47] sergeyklay commented on #11620
composer require --ignore-platform-reqs

[2016-04-02 18:36] hailie-rei commented on #2532
Will it be implemented?
I have a set if queries that depends on options:
`            $sql = $this->getModelsManager()->createBuilder()
                ->from(array('wgl' => '\Model\WGloss'))
                ->...
                ->where('wgr.lang = "ru"');
            if (isset($data['f']) && $data['f'] == 'y') {
                $sql->andWhere('LOWER(wgl.gloss) REGEXP :text:', array(

[2016-04-02 19:34] Green-Cat commented on #2532
This is not a bug, although phql only has standard SQL functions, you can add any vendor specific functions yourself since 2.0.10, see https://blog.phalconphp.com/post/phalcon-2-0-3-released.

[2016-04-02 19:50] #2532 closed

[2016-04-02 19:55] Jurigag opened #11622 "Model related setter when alias name is other than column name and null value"
There is some inconsistent behavior when setting **NULL** values with our own setter. Let's assume we have such a classes:

[code]

[code]

`User` class needs to set `avatar_id` in `setAvatar()` method to make it work(for IDE purposes we want setAvatar() method beacause we don't like magic properties). But if we change it to alias name it's not working. But if we change avatar outside of class:

[

[2016-04-02 20:11] sergeyklay commented on #11622
to remove `User::getAvatar` and try again

[2016-04-02 20:12] sergeyklay commented on #11622
related https://github.com/phalcon/cphalcon/issues/11427

[2016-04-02 20:16] Jurigag commented on #11622
I removed it and setter still needs to set avatar_id instead of alias name. Well just to be sure, i want to use relations, have other column and alias name and have my own getter/setter method for IDE. Right now there are some inconsistency when we have to set column name in setter instead of alias name, but outside of our class setting alias name works fine.

[2016-04-02 20:30] Jurigag commented on #11622
Well exactly - it's the problem only with NULL values.

[2016-04-02 21:20] Green-Cat commented on #2137
@sergeyklay duplicate of #1184

[2016-04-02 21:30] Green-Cat commented on #1336
I implemented this in 2.0.3 (#10416).
@sergeyklay

[2016-04-02 21:34] #1336 closed

[2016-04-02 21:34] #2137 closed

[2016-04-02 21:55] Green-Cat commented on #1989
@sergeyklay Implemented in #2449

[2016-04-02 22:00] Green-Cat commented on #2043
The use of both $hint and $explain in queries is deprecated as of mongodb 3.0.

[2016-04-02 22:14] #1989 closed

[2016-04-02 22:20] Green-Cat commented on #2185
@sergeyklay No longer reproducible in 2.x

[2016-04-02 22:35] Green-Cat commented on #2350
@sergeyklay I fixed this in 2.1.x (PR #11276).

[2016-04-02 22:39] Green-Cat commented on #2411
@sergeyklay Fixed in #11195

[2016-04-02 23:15] Green-Cat commented on #3189
@sergeyklay Implemented in #3194

[2016-04-02 23:17] Green-Cat commented on #3201
@sergeyklay fixed in #10030 & #10037

[2016-04-02 23:30] Green-Cat commented on #10205
@sergeyklay I think that https://github.com/phalcon/cphalcon/blob/2.1.x/phalcon/application.zep is an implementation of this NFR?

[2016-04-02 23:32] Green-Cat commented on #10216
ref #11368

[2016-04-02 23:33] Green-Cat commented on #10273
@sergeyklay Implemented in #10835

[2016-04-03 07:01] #2185 closed

[2016-04-03 07:01] #2350 closed

[2016-04-03 07:02] #2411 closed

[2016-04-03 07:02] #3189 closed

[2016-04-03 07:02] #3201 closed

[2016-04-03 07:03] #10205 closed

[2016-04-03 07:04] #10273 closed

[2016-04-03 07:33] sergeyklay commented on #11586
Fixed in `2.1.x` branch

[2016-04-03 07:33] #11586 closed

[2016-04-03 07:51] Green-Cat commented on #11233
You can actually already make it work on 2.0.x. You just need to add JSON_EXTRACT as a cutom dialect function, I have done it like this in one of my projects:
`    // Register the JSON_EXTRACT MySQL function
    $dialect->registerCustomFunction(
        'JSON_EXTRACT',
        function($dialect, $expression) {
            $arguments = $expression['arguments'];
            return sprintf(

[2016-04-03 07:59] Green-Cat commented on #11439
@sergeyklay fixed.

[2016-04-03 08:00] Jurigag commented on #11439
Actually it's 2.1.0 @Green-Cat

[2016-04-03 09:07] #11233 closed

[2016-04-03 09:08] #11620 closed

[2016-04-03 09:08] #11439 closed

[2016-04-03 09:13] sergeyklay commented on #11439
[code]

[2016-04-03 09:20] Izopi4a commented on #11233
this does seems wrong to me, but ok ..

[2016-04-03 12:49] hailie-rei commented on #2532
@Green-Cat Thanks! It's useful!

[2016-04-03 19:07] makerlabs commented on #11595
This isn't a Phalcon issue this is how regular expressions are working there is no {m|m} quantifier so yes u must use /([0-9]{2}|([0-9]{4})/

[2016-04-04 18:22] xblack21 commented on #11244
yes this bug still exist on the latest (2.0.10) version of Phalcon.

[2016-04-04 19:01] Jurigag commented on #11244
This is happening beacause of:

[code]

Remove profilesId and companyId it and it should work fine. It's actually bug in metadata(?) i guess but i guess it won't be fixed any time soon.

[2016-04-04 19:35] nsossonko opened #11626 "Don't look through non-header server variables when calling getHeader"
https://github.com/phalcon/cphalcon/blob/master/phalcon/http/request.zep#L257 this seems to be a mistake as it returns server variables in cases where server variables have the same name as the http header. The correct way should be to check for the HTTP_ variant (at least check it first) and maybe if it doesn't exist return the other.

[2016-04-04 19:40] Jurigag commented on #11244
@sergeyklay
What i would suggest is to:
get all belongsTo Fields from manager and add them to nonPrimary array(i guess change it to nonPrimaryNonForeign or nonPrimaryNonBelongs) before this line https://github.com/phalcon/cphalcon/blob/master/phalcon/mvc/model.zep#L2335
I guess it's the "fastest" way to "fix" this issue.

[2016-04-05 11:24] JokeZhang opened #11628 "View setVars,setVar,disable not working in php7."
the view's setVar(),setVars(),disable() not work;

my controller code:
`$this->view->setVar('test','hellWord');
$this->view->disable();
`

my view code:
`<?php echo $test?>`

then output:
`Notice: Undefined variable: test in /data/wwwroot/shop/themes/views/backend/login/index.phtml on line 1`

System is Ubuntu.
PHP version is 7.0.5;
Palcon version is 2.1.0r;
compiling from Phalcon  branch using Ze

[2016-04-05 11:29] Jurigag commented on #11628
It's already reported.

[2016-04-05 11:32] Jurigag commented on #11609
[code]

This is mistake too, you need it like this:

[code]

[2016-04-05 12:27] sergeyklay commented on #11609
For questions like these please use the forum: http://forum.phalconphp.com/, GitHub is only intended to report bugs and discuss new features.

[2016-04-05 12:27] #11609 closed

[2016-04-05 13:38] #11628 closed

[2016-04-05 15:01] cq-z opened #11629 "[php 7 2.1.x] not events the $eventsManager->fire() return null"
not events the  $eventsManager->fire()  return null
so the Application->handle() `

                       if typeof eventsManager == "object" {
							let renderStatus = eventsManager->fire("application:viewRender", this, view);
						}

						/**
						 * Check if the view process has been treated by the developer
						 */
						if renderStatus !== false {

							/**
							 * Automatic render

[2016-04-05 15:02] #11629 closed

[2016-04-05 19:22] fl0pp commented on #2871
I created the following method that I placed in my base model: http://pastebin.com/MikKbSFj

[2016-04-05 20:10] makerlabs commented on #2871
Wouldn't it be easier to just remove all the relations between the current post and tags and then to add them again this is how I normally deal with this kind of problem when it comes to many-to-many relations. Even when u look from the UI side its always either show all the related tags already added with option to add another one so either u use ajax and add only the one or two new tags or submi

[2016-04-06 06:56] googlle commented on #11550
Cool. It seems to be ready soon

[2016-04-06 06:59] Jurigag commented on #11550
If phalcon/zephir team will fix seg faults then maybe. Right now we can't test it further and find bugs if there any.

Well i will check when i have time others tests, currently it's only tests from tests folder, but there is also unit-tests.

Could someone fix this hex tests ?

[2016-04-06 07:06] googlle commented on #11550
I will try, but not sure

[2016-04-06 08:50] makerlabs opened #11630 "Phalcon default services"
I was actually wondering why all the service in phalcon implement the InjectionAware Interface rather than extend something like Phalcon\Di\Injectable which would reduce the need of unnecessary checks every time a service make a call to the service container.  It would make the code much cleaner in all default phalcon services and additional enforced the DRY concept.

[2016-04-06 09:04] googlle commented on #11630
If you can implement this feature, send a pull request

[2016-04-06 09:23] googlle commented on #11550
I do not know how to fix. https://wiki.php.net/rfc/remove_hex_support_in_numeric_strings

[2016-04-06 09:24] Jurigag commented on #11550
Just remove strings in test to be it just hex value.

[2016-04-06 09:34] googlle commented on #11550
What's next?

[2016-04-06 09:37] Jurigag commented on #11550
And do pr. In this line https://github.com/phalcon/cphalcon/blob/master/tests/unit/Phalcon/Filter/FilterFloatTest.php#L54 second parameter must be without single quotes. Just hex value.

[2016-04-06 10:13] googlle commented on #11550
@Jurigag pr https://github.com/phalcon/cphalcon/pull/11631

[2016-04-06 10:14] Jurigag commented on #11550
You forgot ```Phalcon\Test\Unit\Filter\FilterIntegerTest::testSanitizeIntegerHex()```

[2016-04-06 10:51] googlle commented on #11550
pr https://github.com/phalcon/cphalcon/pull/11632

[2016-04-06 10:52] Jurigag commented on #11550
Yea, that looks fine. Once it's merged i will mark is as done.

[2016-04-06 10:55] makerlabs commented on #11630
Im asking because it would require to update all the default phalcon services to do so it's a bit of a work and wanted to check first if the core team agrees to this change for 2.1.x or better to schelude it for 2.2.x?