[2019-05-10 20:05] niden commented on #13737
I had a look at this and this cannot be done automatically. There is a way to do it _manually_ when setting up the model.

The underlying table uses `GENERATE ALWAYS` on a field. This is specific to mysql and cannot be reported back using PDO which Phalcon uses so Phalcon cannot know which column is a _virtual_ based on a calculation in the database.

Examples on how you can do this:

[code]

[2019-05-10 20:06] niden commented on #13737
Closing this

[2019-05-10 20:06] #13737 closed

[2019-05-10 21:19] niden commented on #13550
@scrnjakovic Looking at this I have one concern. How would Phalcon know that an empty string is indeed an empty string vs. a null? There will be instances where the POST will be an empty string and this would be what I might want to add in the database vs a null.

Thoughs?

[2019-05-10 22:58] lifewcody commented on #13855
27 + 28

[2019-05-11 02:18] scrnjakovic commented on #13550
@niden Without getting into a discussion on why would one want empty strings in a database, I suppose there is a valid use case somewhere, I still think those cases are quite rare or at least less common than having `null`. So my idea was to treat all empty strings as nulls unless field is explicitly flagged to accept empty strings.

[2019-05-11 21:10] armezit commented on #13855
27
28
29

[2019-05-11 22:10] JABirchall commented on #14046
Is this not already in?

loop.index | The current iteration of the loop. (1 indexed)
-- | --
loop.index0 | The current iteration of the loop. (0 indexed)
loop.revindex | The number of iterations from the end of the loop (1 indexed)
loop.revindex0 | The number of iterations from the end of the loop (0 indexed)
loop.first | True if in the first iteration.
loop.last | True if in the last iteration.
l

[2019-05-11 22:23] niden commented on #14021
Resolved in https://github.com/phalcon/cphalcon/pull/14035

[2019-05-11 22:23] #14021 closed

[2019-05-11 22:23] niden commented on #13964
Resolved in https://github.com/phalcon/cphalcon/pull/14035

[2019-05-11 22:23] #13964 closed

[2019-05-11 22:24] niden commented on #13531
Resolved in https://github.com/phalcon/cphalcon/pull/14035

[2019-05-11 22:24] #13531 closed

[2019-05-12 18:08] niden commented on #13782
I would love to see some tests on this even failing ones or some code to reproduce or verify this behavior.

For now I am keeping it in this `sprint` but if we don't have info we will leave it for 4.1

[2019-05-12 19:00] niden opened #14060 "[NFR] Introduce Phinx migrations to the testing suite"
The database related tests (integration suite) are failing after a few runs on the local environment. We need to create the same tables with the same fields for tests that need to be run independent of RDBMS (save, update etc.) while having the flexibility to create tables and respective fields that are supported by some of the RDBMs (JSON fields etc.)

We need to introduce phinx migrations (https

[2019-05-12 19:28] ruudboon commented on #14047
Also the native php  \DateTime functions could be helpful.
[code]

[2019-05-12 20:04] niden commented on #13825
Resolved in https://github.com/phalcon/cphalcon/pull/14058

[2019-05-12 20:04] #13825 closed

[2019-05-12 20:25] niden commented on #13387
Resolved in https://github.com/phalcon/cphalcon/pull/14059

[2019-05-12 20:25] #13387 closed

[2019-05-13 12:02] nevernet commented on #12955
@atrope @Nialld  do both of you have solutions? :)

[2019-05-13 20:26] niden commented on #13855
Closing this but keeping it as a reference for all the NFRs listed here. The top ones have already been added into 4.1

[2019-05-13 20:26] #13855 closed

[2019-05-13 22:40] zhaoyanliang2 commented on #12056
This issue is a thread-safe bug, all internal classes with static member variables can trigger this bug.
***The internal classes are shared between different threads and their static member variables are not shared***, so their static member variables are stored in `CG(static_members_table)` and not in `zend_class_entry::static_members_table`. Static member variables are lazy initialized when the

[2019-05-13 23:22] sjinks commented on #12056
@zhaoyanliang2 are you sure? `zend_update_class_constants()` is called from `zend_do_inheritance()` which, in turn, is called from `zend_register_internal_class_ex()`. Classes are registered during MINIT phase; thus, all internal classes should have `ZEND_ACC_CONSTANTS_UPDATED` flag in their `ce_flags` by the end of MINIT.

[2019-05-13 23:57] niden commented on #13797
Addressed in https://github.com/phalcon/cphalcon/pull/14051

[2019-05-14 00:22] niden commented on #13780
Will be addressed in https://github.com/phalcon/cphalcon/issues/13672

[2019-05-14 04:40] zhaoyanliang2 commented on #12056
@sjinks
[code]
after
`zend_register_internal_class()` -> `do_register_internal_class`
`ZEND_ACC_CONSTANTS_UPDATED` flag was set

then, after
`zend_declare_property_null()` -> `zend_declare_property()` -> `zend_declare_property_ex()`
`ZEND_ACC_CONSTANTS_UPDATED` flag was unset

And each of thread will call these before exit
`php_request_shutdown()` -> `zend_deactivate()` -> `shutdown_executor()` ->

[2019-05-14 04:51] sjinks commented on #12056
7.3, [zend_declare_property_ex()](https://lxr.room11.org/xref/php-src%407.3/Zend/zend_API.c#3709)

As far as I understand, the only case when the `ZEND_ACC_CONSTANTS_UPDATED` gets cleared is when the property is of `IS_CONSTANT_AST` type (which is a constant array and is not applicable to PHP extensions — it is in the `else` branch of `if (ce->type == ZEND_INTERNAL_CLASS)`).

[2019-05-14 06:59] zhaoyanliang2 commented on #12056
This bug has been fixed after php7.3

[2019-05-14 08:29] sjinks commented on #12056
Ah, sorry, I misread what you wrote

[2019-05-14 08:33] Jurigag commented on #12056
So we could possibly just backport this fix for php 7.2, 7.1 and 7 to zephir kernel and that's it?

[2019-05-14 08:51] sjinks commented on #12056
Well, in theory this should work then:

[code]

[2019-05-14 09:02] sjinks commented on #12056
Or maybe not… `CG()` is probably not available during MINIT, and then the fix is not trivial… `zend_update_constants()` need to be called on every thread and it must somehow ignore `ZEND_ACC_CONSTANTS_UPDATED` flag (we probably need to clear it for every class when `CE_STATIC_MEMBERS(ce) && ce->default_static_members_count` is true).

[2019-05-14 09:04] sjinks commented on #12056
So this should go to RINIT then… we will suffer performance penalty during RINIT for every request :-(

[2019-05-14 09:15] zhaoyanliang2 commented on #12056
@sjinks In a multi-thread environment, `ZEND_ACC_CONSTANTS_UPDATED` will be set or unset at any time. Calling `zend_update_class_constants()` in RINIT doesn't always work.
copy `zend_intenal_class_init_statics()`(in php7.3) to our extension and call it in RINIT may works.

[2019-05-14 10:15] zhaoyanliang2 commented on #12056
@Jurigag
Why is this bug in php7 for such a long time?
Why is it fixed so quickly in php7.3?
This is not a coincidence.

The php official team fixed the bug but did not merge it into php7.2.
Because they probably don't know that php7.2 has this bug.
They found this bug in 7.3 because some changes in php7.3 caused this bug to appear in non-thread safe mode.

https://github.com/php/php-src/commit/f7

[2019-05-14 15:54] Jurigag commented on #12056
Oh, so you suggest more to try compiling php 7.2 with this fix and check if issue we have in phalcon still apears? That's actually good idea. If not then obviously php team should merge this fix to other php 7.x as well.

[2019-05-14 19:02] zhaoyanliang2 commented on #12056
Fixing this bug is not easy, and it is likely to cause performance problems, too many changes may break the compatibility of the PHP API.
Submitting a bug to php on behalf of the phalcon team can attract enough attention.
The following code can be used to fix in the extension without considering performance.

[code]
call `fix_class_static_member_thread_safe_bug()` in `PHP_RINIT_FUNCTION(ext_name)`

[2019-05-14 19:49] niden commented on #13548
Resolved in https://github.com/phalcon/cphalcon/pull/14057

[2019-05-14 19:49] #13548 closed

[2019-05-14 20:47] sjinks commented on #12056
@Jurigag I am afraid they won't :-( 7.2 active support ends on 30 Nov 2019, and they will likely let this bug expire :-( See, for example, https://bugs.php.net/bug.php?id=76301, https://bugs.php.net/bug.php?id=76302 (all these bugs came either from Zephir or Phalcon) :-(

[2019-05-14 22:36] scrnjakovic commented on #14044
I disagree on couple of points:

1) Why should `Model::findFirst` throw an exception if nothing is found, and `Model::find` should return ResultSet?

2) Having exceptions being thrown at you for doing a simple query is wrong and costly. I don't think exceptions are meant to be used this way. It implies that record is always expected to exist in the database, which is really wrong. Exceptions shoul

[2019-05-14 23:18] dreamsxin commented on #12056
Maybe, we can manage static variable lists.

[2019-05-14 23:29] Xplouder commented on #14044
Forgetting the exceptions, I would be happy with just null for `findFirst` and `getRelated`.

[2019-05-14 23:30] zsilbi commented on #13781
I did the same test using the the `4.0.x` branch and the exceptions are gone, `refresh()` works as intented.

But the validation during the second `save()` fails when the `orm.not_null_validations` setting is on, because the default values from the database are not present in the `Model` attributes after the insert.

We could copy the unset default values from the `MetaData` to the `Model` after a

[2019-05-15 12:04] Jurigag commented on #14044
Well i agree that that's it not necessary that we throw any exception, this is just thing to consider. We can always add method findFirstOrDefault, or something like this, or even make it global configuration in `Model::setup()`

Exceptions aren't serious signals from which you can recover, those are fatal errors, they are just information that something went wrong - in that case - you don't have

[2019-05-15 12:08] Jurigag commented on #13942
How we should know then that `name` is not variable in your first example?

[2019-05-15 12:13] Jurigag commented on #14042
Well, im not specialist in volt departments and how it produces php, so it's not so easy for me.

[2019-05-15 13:07] Jurigag commented on #13587
I think we should consider this more to have better compability with php 7.2 features, what i mean:

[code]

[code]

[code]

And then somewhere we could have code like:

[code]

Also i would even vote for adding posibility that it doesn't needs to extend Row object, it's already simple object just having some additional methods, maybe just implementing some interface could be enough.

[2019-05-15 16:20] niden commented on #582
https://github.com/phalcon/cphalcon/pull/14078

[2019-05-15 16:20] niden commented on #11389
https://github.com/phalcon/cphalcon/pull/14078

[2019-05-15 16:21] niden commented on #13648
Implemented in https://github.com/phalcon/cphalcon/pull/14078

[2019-05-15 16:21] #13648 closed

[2019-05-15 16:52] niden commented on #13002
Resolved in https://github.com/phalcon/cphalcon/pull/14068

[2019-05-15 16:52] #13002 closed

[2019-05-15 20:33] Enzo-life opened #14080 "Can't delete record using schema in Phalcon v4.0"
Just tried to delete a record:
[code]
Getting error:
[code]

Checking sources.

/phalcon/mvc/model::delete() has such code:
[code]

/phalcon/db/adapter::delete() has such code:
[code]

Сonclusion: framework doesn't support delete when schema is used.

[2019-05-15 21:27] niden commented on #13349
@dunst0 So that I understand this correctly:

- Entity:
`name`, `id`

Form Elements:
`name`, `id`, `address`, `status`

`clear()` with an entity should clear `address` and `status` or all?

[2019-05-16 00:03] niden commented on #13646
Resolved in https://github.com/phalcon/cphalcon/pull/14082

[2019-05-16 00:03] #13646 closed

[2019-05-16 01:53] JABirchall commented on #14080
What is ID set too?

[2019-05-16 04:22] niden commented on #14044
Making this change will of course break backwards compatibility. Since this is not a rewrite or changing of a pattern (say Active Record vs. Data Mapper), I think we should try and minimize the pain that a developer will have to go to refactor their code. Clearly the `null` approach is the path of least resistance. Utilizing Exceptions will definitely need a lot more work if not refactoring existi

[2019-05-16 05:50] Enzo-life commented on #14080
`$id` is integer, the record was fetched from DB successfully.

I'm new in Phalcon and i didn't try to update records yet, but as i see in sources, table value as array with schema and source doesn't process.

[2019-05-16 07:06] JABirchall commented on #14080
Try `$className::findFirstById($id)`

If that throws an exception, then `$id` is not int.

[2019-05-16 07:20] Enzo-life commented on #14080
Do you see `public function delete(string table, ` in `/phalcon/db/adapter.zep`? How can be possible an array there? :)

[2019-05-16 08:00] JABirchall commented on #14080
`Array to string conversion`

[2019-05-16 08:24] Enzo-life commented on #14080
Yes, this is a problem.

[code]

P.S. This code was taken from mater branch, but in branch 4.0 the same situation.

[2019-05-16 08:31] vGhost2000 commented on #12056
@zhaoyanliang2, thanks for investigation. Im sove this problem for myself. Im write console multi-threading application with https://github.com/krakjoe/pthreads extension. In threads i have "Fatal error: Uncaught Error: Access to undeclared static property: Phalcon\Di::$_default". After read this thread i have invented 2 solutions.

In both cases, first add in phalcon config.json:
[code]

**The fi

[2019-05-16 08:43] zhaoyanliang2 commented on #12056
@vGhost2000
There are other classes in phalcon that use static member variables.
You may also need to modify other classes if you want to use them.

[2019-05-16 08:56] vGhost2000 commented on #12056
Yes, I saw, but there are not so many of them and for the most part those that are not used in the console application, so I didn’t touch them. At the moment, so far this has solved my problem. If there is a need for others, I will correct them too. That's why I passed the PhStaticStorage universal, so that in case it could be used in other places.

[2019-05-16 15:15] niden commented on #13942
Good suggestion but we are not going to make this change. Doing what is suggested here would require significant changes to the volt parser and would pretty much require all existing applications to be fully rewritten (at least their volt templates).

The reward by doing this is not justifying the effort to refactor or benefit to the users.

[2019-05-16 15:15] #13942 closed

[2019-05-16 15:16] niden commented on #13869
Resolved in https://github.com/phalcon/cphalcon/pull/14079

[2019-05-16 15:16] #13869 closed

[2019-05-16 15:18] niden commented on #13149
Resolved in https://github.com/phalcon/cphalcon/pull/14083

[2019-05-16 15:18] #13149 closed

[2019-05-16 16:17] emiliodeg commented on #13474
@niden can you assign me this?

[2019-05-16 16:43] niden commented on #13679
This has been addressed in https://github.com/phalcon/cphalcon/pull/14051

[2019-05-16 16:43] #13679 closed

[2019-05-16 16:46] niden commented on #13810
Since Github does not offer a voting system and I really do not want to introduce new apps (made from others or us making one) I will close this issue for now.

In the future we can pin an issue as we have recently done and ask the community to vote for their favorite NFRs. Also a blog post should help with that.

[2019-05-16 16:46] #13810 closed

[2019-05-16 16:47] niden commented on #13848
This one has to do with the stubs generated from Zephir. We will need the wizzardry of @sergeyklay

[2019-05-16 16:53] emiliodeg commented on #13208
I've been working on this and I want to share with you my design to receive opinions before doing all the work

I use an `advice` property to warning message, to avoid confusion with `Phalcon\Messages\Message`

Some validators like `Phalcon\Validation\Validator\File` starts to work like a container and split the inside validations in new validatos like `Phalcon\Validation\Validator\File\Size`, `Ph

[2019-05-16 16:54] niden commented on #13474
@emiliodeg all yours

[2019-05-16 17:23] niden commented on #13662
Closing this. The option can be removed from the setup of the validator

Also as a note, v1 was purely C whereas v2 and later has been developed using Zephir. There are some differences between the two so this is probably coming from that. I am adding docs needed on this to update the documentation.

Thanks

[2019-05-16 17:23] #13662 closed

[2019-05-17 02:27] niden commented on #13450
https://github.com/phalcon/cphalcon/pull/14085

[2019-05-17 11:15] cnyyk commented on #13781
@zsilbi Thanks for your great work on this framework.
I think let db default value as the field value should be better after refresh().
In most circumstances, db field will define a default value for better performance(at least with MySQL).
So refresh() to retrieve all db default values for all fields is what we expected.

[2019-05-17 11:20] zsilbi commented on #13781
@cnyyk the default values are present in the `MetaData` cache even before the insert happens, so we wouldn't really need to `refresh()`

[2019-05-17 11:32] cnyyk commented on #13737
OK.  Thanks for your reply.
Now we read all fields attributes when model init then auto add all virtual fields into skip list to avoid this issue.

[2019-05-17 11:34] niden commented on #13843
Resolved in https://github.com/phalcon/cphalcon/pull/14085

[2019-05-17 11:34] #13843 closed

[2019-05-17 11:36] niden commented on #10839
Resolved in https://github.com/phalcon/cphalcon/pull/14086/

[2019-05-17 11:36] #10839 closed

[2019-05-17 11:48] niden commented on #13781
@zsilbi I think the best approach on this would be to copy the unset default values from the `MetaData` to the `Model` as you mentioned above. This will solve this issue.

Do you want to do this or should I?

[2019-05-17 11:48] zsilbi commented on #13781
@niden I am on it, thanks 👍

[2019-05-17 13:35] Enzo-life opened #14087 "Router returns notFound when using query parameters"
I have a simple router config in Phalcon 4.0:
[code]
http://my.domain/ returns something from index controller. But when i add even symbol '?' to my url (http://my.domain/?), it returns 404 page. I can't get what should i change in route and didn't found any information about routing query parameters in documentation.

P.S. I debugged $_GET when using any parameters, they are present.

I asked at

[2019-05-17 15:41] niden commented on #13781
Resolved in https://github.com/phalcon/cphalcon/pull/14088

[2019-05-17 15:42] #13781 closed

[2019-05-17 19:08] sergeyklay commented on #14044
There is also `findFirstBy<property-name>()` eg. `findFirstByEmail()`.

[2019-05-17 22:06] zsilbi commented on #13550
I am not a fan of storing empty strings either, but reasonable use cases max exist.
It's not an example I'd use personally, but in `view` you could decide to print the stored content if it's a `string` (even if it's empty), or use an alternative method to gather the content when it's `null`.

Filters can be used on `Form` elements, so I'd maybe write a `Filter` which returns null if the input is e

[2019-05-17 22:18] niden commented on #13550
@zsilbi I like this approach better because it extends the forms even more for developers.

We already have `Validators` for forms (valid/not valid). We can also attach Filters or Transformers or Decorators so that we can achieve this _transformation_

I will move this to the 4.1 release because this requires significant work.

@scrnjakovic I will add a new issue and close this one.

[2019-05-17 23:16] zsilbi commented on #13281
`MetaData::getColumnMap()` and `MetaData::getReverseColumnMap()` return `null` only if the names are identical, so there is nothing to map.

`MetaData\Strategy\Annotations` has been altered to do so: https://github.com/phalcon/cphalcon/commit/24d4a18a5bd61d63aadd5f67acbc6af2a29cdd87

Using `MetaData\Strategy\Introspection` the column maps are returned anyways.

I am in favor of returning `null` as

[2019-05-17 23:25] hufersil commented on #13281
what do you think about caching this information? Using the same strategy of metada? I think it’s better than returning null. Just a suggestion :-)

[2019-05-17 23:45] zsilbi commented on #13281
@hufersil, it's already cached in `MetaData`

Here is any easy way to get the columnMap:
[code]
This comes from cache as well, and in this case it will be also equal to the reverse column map.

[2019-05-18 01:06] cnyyk commented on #13781
Thanks again for your great work.
As you mentioned above, the best way is copy all default value from metadata, for less db read.

[2019-05-18 07:30] wajdijurry opened #14091 "[NFR] Add indexHint parameter to find() and findFirst() methods, query builder and PHQL"
I suggest to add new parameter/method which is indexHint/indexHint() to the find() and findFirst() methods to tell the query to use/force use an index.

Like this:
[code]

Or the query builder:
[code]

[2019-05-18 10:48] scrnjakovic commented on #13550
Yeah, I don't mind that approach, I just advocate NULL being default and empty string optional.

[2019-05-18 17:45] niden commented on #14037
I am fine with this being changed to only one field per model.

[2019-05-18 18:52] niden commented on #14044
Resolved in https://github.com/phalcon/cphalcon/pull/14089

[2019-05-18 18:53] #14044 closed

[2019-05-19 17:52] scrnjakovic opened #14095 "Improve code quality/consistency in Phalcon\Mvc\View"
Any particular reason for using `ob_end_clean();` instead of `$view->finish()` ? :)
https://github.com/phalcon/cphalcon/blob/65183349743e899977adc643f103b887612ffe98/phalcon/mvc/view.zep#L1146-L1159

[2019-05-19 17:54] scrnjakovic commented on #14091
Uhm... that's query optimizer's job?

[2019-05-19 18:19] scrnjakovic commented on #14047
You mean like phalcon's native [moment.php](https://github.com/fightbulc/moment.php) implementation? As in `Phalcon\Moment` or `Phalcon\Date`? I'd vote for it. I'm not sure I'd call it Countdown though.

[2019-05-19 18:32] niden commented on #14095
None really. They both do the same thing. We should change that though to `view->finish()` to keep the consistency.

Nice catch.

[2019-05-19 18:35] niden commented on #14091
This is specific only to MySQL and therefore we will not be adding it. Postgresql does not allow this particularly for the reason of developers not over using this and causing more issues later on.

The ORM has to be as generic as possible and as a result, just offering a feature only for one RDBMS is not helping.

Closing this and thank you for the suggestion.

[2019-05-19 18:35] #14091 closed

[2019-05-19 23:59] virgofx commented on #14047
👎 Not framework functionality - too specific ... plus other specific alternatives exist as well as NATIVE alternatives.

[2019-05-20 13:07] niden commented on #14095
Resolved in https://github.com/phalcon/cphalcon/pull/14098

[2019-05-20 13:07] #14095 closed

[2019-05-20 15:29] zsilbi opened #14100 "Cache\Adapter\Libmemcached::set() is not working under special circumstances"
`$cache->set()` is not working when `Libmemcached` is used at the same time for `cache` and `modelsMetadata`.

[code]

[code]
This script should run more than once, of course.

`$cache->set()` always returns `true`, but fails to save the test data.

It works:
- When `MetaData` cache is not used
- If `Robots::findFirst()` is called  before `$cache->get()`
- Without `Robots::findFirst()`
- Without `

[2019-05-20 17:34] DestinyMKas opened #14101 "VOLT select_static is not array helper anymore"
In phalcon 3.x select_static didn't required array. In phalcon 4.x it requires to have an array.
I see that this function is not included in arrayHelpers list: https://github.com/phalcon/cphalcon/blob/master/phalcon/Mvc/View/Engine/Volt/Compiler.zep#L1710

Phalcon 3.x style (expected)
[code]

Phalcon 4.x style (actual)
[code]

### Details

phalcon => enabled
Author => Phalcon Team and contributors

[2019-05-20 17:41] DestinyMKas opened #14102 "tinyint, smallint, mediumint cannot be autoincrement"
I have mysql table where autoincrement column is smallint type.

[code]

[code]

throws an exception `Column type cannot be auto-increment`

https://github.com/phalcon/cphalcon/blob/master/phalcon/Db/Column.zep#L415

### Details

phalcon => enabled
Author => Phalcon Team and contributors
Version => 4.0.0-alpha.3
Build Date => May 20 2019 19:19:33
Powered by Zephir => Version 0.11.11-b661a58

Linux

[2019-05-20 20:40] niden commented on #14102
Resolved in https://github.com/phalcon/cphalcon/issues/14102

[2019-05-20 20:40] #14102 closed

[2019-05-20 20:41] niden commented on #13672
Resolved in https://github.com/phalcon/cphalcon/pull/14097

[2019-05-20 20:41] #13672 closed

[2019-05-20 22:24] zsilbi commented on #14100
The problem is, that two `Memached` instances are running at the same time using "persistent" connections with same `persistentId` option set. I am sending a PR to correct this.

[2019-05-21 00:03] niden commented on #14100
Resolved in https://github.com/phalcon/cphalcon/pull/14106

[2019-05-21 00:03] #14100 closed

[2019-05-21 06:38] Enzo-life opened #14110 "Validation bug in Phalcon v4.0"
I have an integer field, in my case it is `type`, when i try to assign a string value, validator always generate message `type is required` instead of messages from my validation rules:
[code]
If i assign digits, it works as expected, validating with rule `InclusionIn`. If i convert this field to string (`varchar`, `char` or `text`) i can assign strings as well.

[2019-05-21 16:59] DestinyMKas commented on #14101
I'm talking not about custom tag. This tag was in all phalcon versions. Just behaviour changed, so it became as breaking change.

[2019-05-21 23:17] TimurFlush commented on #14101
Unfortunately {{ select_static }} alias for \Phalcon\Tag::SelectStatic has been removed.

[2019-05-21 23:53] niden commented on #14101
In v4 `Phalcon\Tag` is still registered in the `FactoryDefault` so it can be used. `selectStatic` exists still in that class.

The future replacement `Phalcon\Html\Tag` does not have a `selectStatic`. The same class has been renamed to `select`.

I have to check on the volt helper or you can do what @TimurFlush recommended:

[code]

and then you can use:

[code]

[2019-05-22 11:06] DestinyMKas commented on #14101
Sorry, didn't knew that select_static is deprecated. Then there is no issue.

[2019-05-22 11:06] #14101 closed

[2019-05-22 13:21] crnjakovic opened #14114 "[BUG] Foreign key constraint checks do not use transactions"
If this is confirmed bug, which I'm pretty sure is, it was reported for the first time way back in 2015 in #9944 and closed without resolution.

Steps to reproduce:

1. Create two models **Model A** and **Model B** and setup relations so that **Model A** cannot be deleted if it is used in **Model B**
2. Start a transaction and set both models to use that same transaction
3. Delete **Model B** firs

[2019-05-22 13:27] zsilbi commented on #11504
I wasn't able to reproduce this issue as this was fixed in https://github.com/phalcon/cphalcon/pull/12076

To make sure, I created a test for `Phalcon\Mvc\Model\Manager::getRelationRecords()` with multiple fields in https://github.com/phalcon/cphalcon/pull/14115

[2019-05-22 13:33] niden commented on #14101
@DestinyMKas Not a problem. We have been working to fix all the bugs and all the functionality so that we can get to a beta release. Once we hit that we will go through the whole documentation and ensure that the upgrade instructions are as thorough as possible

[2019-05-22 13:38] scrnjakovic commented on #14087
What is your [URI source](https://docs.phalconphp.com/3.4/en/routing#uri-sources)?

[code]
Very likely it's `Router::URI_SOURCE_GET_URL`. The query string does not have any effect on the router if the source is `Router::URI_SOURCE_SERVER_REQUEST_URI`. On the other hand, `Router::URI_SOURCE_GET_URL` depends on it, so I'd say it's beacuse of that.

[2019-05-22 14:14] niden commented on #13848
@fizzka @metaliciouz

I looked at this a bit more in depth. So we have in Zephir:

[code]
This translates to
[code]

Looking at this: https://php.net/manual/en/serializable.unserialize.php the above is wrong. According to the manual the signature should be:

[code]

Now if you look at say PHPStorm, the signature of the stub is:
[code]

I have made the change and run it through Travis [here](https:

[2019-05-22 14:17] niden commented on #11504
Resolved in https://github.com/phalcon/cphalcon/pull/14115

[2019-05-22 14:17] #11504 closed

[2019-05-23 04:48] dreamsxin commented on #14110
Numeric fields must be numeric to be accepted as not null.

https://github.com/phalcon/cphalcon/blob/master/phalcon/Mvc/Model.zep#L4453

You can turn off not null checks
[code]

[2019-05-23 09:31] Jurigag commented on #14110
Exactly, this not nul null validation rather than your validation, i always disable not null check and just do PresenceOf myself.

[2019-05-23 09:31] #14110 closed

[2019-05-23 11:21] emiliodeg opened #14118 "Update PSR composer to v0.6.1"
There is a new version PSR extension v0.6.1
Currently in `composer.json` file is required v0.6.0

### Expected and Actual Behavior

When creating a new nanobox installation, an error is generated because version v0.6.1 (last) is downloaded and the composer file is assigned v0.6.0

### Details

* Phalcon version: (`php --ri phalcon`)
* PHP Version: 7.2.14
* Operating System: nanobox 7.2 from `tests

[2019-05-23 22:54] rajankapila opened #14121 "streaminterface not found in Unknown"
Getting this after install on OSX with php 7.2

[code]

[2019-05-24 01:16] niden commented on #14121
You are using the 4.x version which is still in alpha and have not loaded the PSR extension before Phalcon.

Have a look at this installation guide for v4: https://docs.phalconphp.com/4.0/en/upgrade

If you want to install v3 you can click the releases tag and grab the necessary code using the relevant tag.

[2019-05-24 20:45] niden opened #14123 "[NFR] Http\Payload"
Introduce `Http\Payload` class to handle different payloads sent to different parts of the application or even used as a return object for the view.

[2019-05-25 15:06] niden opened #14126 "[NFR] DB - Data Mapper Implementation"
Introduce the Data Mapper pattern for the ORM

https://martinfowler.com/eaaCatalog/dataMapper.html

Related: https://github.com/phalcon/cphalcon/pull/13022

[2019-05-25 18:38] emiliodeg opened #14127 "typeof operator from image resource return "unknown type""
I've been writting Gd image tests and when I tried with `__destruct()` [method](https://github.com/phalcon/cphalcon/blob/4.0.x/phalcon/Image/Adapter/Gd.zep#L102) didn't work as expected

`
if typeof image  == "resource" {
    imagedestroy(image);
}
`
The operator `typeof` inside if always return `unknow type` then always fails

### Expected

`typeof image` return "resource"

### Actual Behavior
`t

[2019-05-25 18:56] Enzo-life commented on #14110
That works, thanks guys. As for me, it is a quite not expected logic, i think it is better should be switched off by default.

[2019-05-25 19:12] Enzo-life commented on #14087
` Call to undefined method Phalcon\Mvc\Router::setUriSource() `
As i see in sources, Phalcon v4.0 doesn't have that method.

I pass source to handler:
`$response = $application->handle($_SERVER['REQUEST_URI']);`
As i understand, this means `Router::URI_SOURCE_SERVER_REQUEST_URI` :)

[2019-05-25 20:00] Enzo-life commented on #14087
But i've got your point and changed request uri to `$_GET['_url']` and it seems like works now.

[2019-05-25 20:32] #13848 closed

[2019-05-26 09:42] SidRoberts commented on #14118
Fixed in https://github.com/phalcon/cphalcon/issues/14119

[2019-05-26 09:42] #14118 closed

[2019-05-26 18:30] niden commented on #13433
Resolved https://github.com/phalcon/cphalcon/pull/14112

[2019-05-26 18:30] #13433 closed

[2019-05-26 20:34] niden commented on #2312
This is actually not a bug. The responsibility of sanitizing input is on the developer and the code not necessarily on the framework. Yes the framework does have sanitizing features but whatever `find`/`findFirst` needs to be controlled by the developer.

[2019-05-26 20:34] #2312 closed

[2019-05-26 20:39] niden commented on #13829
The variables in the code have been renamed to `container`

[2019-05-26 20:39] #13829 closed

[2019-05-26 20:43] niden commented on #14121
Closing this

[2019-05-26 20:43] #14121 closed

[2019-05-26 20:45] niden commented on #14047
I will close this. There are alternatives such as `Carbon`, `DateTime` and `moment.php` that can do this task easily. Maybe in the future we can revisit this but if anyone wants to take a stab at this we can add it to the incubator.

[2019-05-26 20:45] #14047 closed

[2019-05-27 15:07] emiliodeg opened #14139 "Image::pixelate get error with imagecolorat()"
The php function `imagecolorat` get a color from (x,y) pixel, but works with `index - 1`

[source](https://github.com/phalcon/cphalcon/blob/master/phalcon/Image/Adapter/Gd.zep#L312)

[code]

when x1 or y1 are equal or great throw an error

### Details

* Phalcon version: 4.0.0 beta 1
* PHP Version: 7.2.14
* Operating System: nanobox 7.2
* Installation type: Compiling from source
* Zephir version (

[2019-05-27 17:19] niden commented on #14123
Resolved in https://github.com/phalcon/cphalcon/pull/14124

[2019-05-27 17:19] #14123 closed

[2019-05-27 17:25] niden commented on #14139
Addressed in https://github.com/phalcon/cphalcon/pull/14140

[2019-05-27 17:25] #14139 closed

[2019-05-28 00:57] scrnjakovic commented on #14087
Those methods were removed in #12380, as of 4.0.x you have to pass URI to the `$application->handle()` method. Whether you will pass `$_GET['_uri']` or `$_SERVER['REQUEST_URI']` depends on your server configuration.

[2019-05-28 20:23] Enzo-life commented on #14110
Anyway, there is some problem with validation or model logic.

For example, let's use this validation rule:
[code]
In database this column has type of integer.

If we try to assign any string value, it converts to 0, which is correct value for our validation rule. Ok, it's not a big deal, i remember i saw somewhere in docs information about this magic. But the problem is in model, it tries to save

[2019-05-28 20:39] Enzo-life commented on #14110
Also, as i see, if we assign string `1string` validator converts it to `1` and we get correct value once again.

[2019-05-29 19:57] Enzo-life commented on #14110
I'm not sure if anyone will read it while it closed :D

[2019-05-29 21:38] gnumoksha opened #14144 "Unable to test modules"
### Expected and Actual Behavior

I'm trying to write Codeception tests to my Phalcon modules, but the application bootstrap for tests must not execute Phalcon\Mvc\Application::handle() ([example](https://github.com/Codeception/phalcon-demo/blob/master/public/index.php#L32)) whereas only Phalcon\Mvc\Application::handle() does the registration of the modules (check [here](https://github.com/phalcon

[2019-05-29 21:47] gnumoksha commented on #14126
Do you have a roadmap for that? I can help with the planning and code.

At the moment I'm creating a Proof of Concept using the current Phalcon Active Record Models to manage a Plain Old PHP Object (POPO). It is very simple but can be a good start point.

[2019-05-30 03:26] niden commented on #14110
Added the docs needed label so that we can mention this in the documentation

[2019-05-30 03:34] niden commented on #14126
@gnumoksha This will be in the 4.1 release maybe later depending on how much work we have. We might even release it in stages - not fully functional. For instance we can start by releasing the Table/Row classes first, then the mapper and then tie everything together. Not 100% sure since I have not started it.

Any help will be more than welcome.

[2019-05-31 20:20] irvv17 commented on #13855
56

[2019-06-02 12:50] cq-z opened #14150 "ServerRequest nvalid header value"
Fatal error: Uncaught InvalidArgumentException: Invalid header value in phalcon/Http/Message/ServerRequest.zep:753
Stack trace:
#0 [internal function]: Phalcon\Http\Message\ServerRequest->checkHeaderValue(Array)
#1 [internal function]: Phalcon\Http\Message\ServerRequest->getHeaderValue(Array)
#2 xxxxx: Phalcon\Http\Message\ServerRequest->withAddedHeader('connection', 'keep-alive')
#3 {main}
thrown

[2019-06-02 13:27] cq-z commented on #14150
[code]
it is ok!

[2019-06-02 14:18] cq-z opened #14151 "ServerRequest Trying to call method gethost on a non-object"
Trying to call method gethost on a non-object
Stack trace:
 #0 [internal function]: Phalcon\Http\Message\ServerRequest->processHeaders(Array)
 #1 xxx: Phalcon\Http\Message\ServerRequest->__construct('GET', Object(Phalcon\Http\Message\Uri), Array, '', Array, Array, Array, Array, Array, '1.1')

[2019-06-02 14:32] #14151 closed

[2019-06-03 12:25] zsilbi commented on #14150
I couldn't reproduce this.

According to the code, `ServerRequest->checkHeaderValue()` should never get an `array` as parameter when called in `getHeaderValue()`.
My best guess is that you may have compiled Phalcon with an older version of Zephir.

I tried this:
[code]
and got everything as expected:
[code]

[2019-06-04 02:01] niden commented on #13852
You will need to register the Events Manager in your container and then use it.

[code]

Have a look at the `phalcon-api` example on how the routes are being set. The example uses `Controllers` as handlers and all the services are registered and accessed as expected within those handlers.

https://github.com/phalcon/phalcon-api/blob/master/library/Providers/RouterProvider.php

[2019-06-04 02:01] niden commented on #13852
Closing this

[2019-06-04 02:01] #13852 closed

[2019-06-04 02:12] niden commented on #13281
Closing this because a solution was offered.

[2019-06-04 02:12] #13281 closed

[2019-06-04 11:38] cq-z commented on #14150
hi @zsilbi
you can run
[code]
[dockerfile](https://hub.docker.com/r/64899484/php/dockerfile)

[2019-06-04 11:41] cq-z commented on #14150
### Details

Phalcon version：4.0.0-alpha.5
php:7.3.4
System:alpine3.9

[2019-06-04 13:35] niden commented on #14087
Resolved in https://github.com/phalcon/cphalcon/pull/14158

[2019-06-04 13:36] #14087 closed

[2019-06-04 22:48] dzuelke opened #14160 "3.4.3 segfaults with PHP 7.3.6 (but not 7.3.5) and OPcache"
Having cphalcon 3.4.3 enabled in PHP 7.3.6 together with OPcache leads to a segmentation fault somewhere during engine or request shutdown - scripts etc run fine, but PHP segfaults before exiting:

[code]

Disabling phalcon, or disabling opache, fixes the issue.

The crash does not occur on 7.3.5, which makes me think it's related to OPcache changes in 7.3.6 the changelog describes as "fixed possi

[2019-06-04 23:33] niden commented on #2900
Moving this to 4.1 - The DI service needs to be heavily refactored to address issues like this one.

[2019-06-05 08:48] Jurigag commented on #14160
@dreamsxin could you check it? Im guessing that any extension on zephir can cause this since php --ri phalcon is enough to cause seg fault.

Also adding a core dump would help @dzuelke

[2019-06-05 08:57] Jeckerson commented on #14150
Currently this is fixed in `4.0.x` branch and will enter to the next release.

[2019-06-06 13:38] dzuelke commented on #14160
Alright, core dump:

[code]

[code]

[2019-06-06 13:54] dzuelke commented on #14160
Also submitted to bugs.php.net for good measure: https://bugs.php.net/bug.php?id=78121, but no idea if the cause is on the phalcon or the PHP side...

[2019-06-06 14:38] krakjoe commented on #14160
[code]

[2019-06-06 15:02] dzuelke commented on #14160
https://github.com/phalcon/zephir/pull/1868

[2019-06-07 09:31] dzuelke commented on #14160
@sergeyklay or @Jurigag, is there any chance you could roll a 3.4.4 bugfix release with those Zephir updates soon? We've got Phalcon customers getting segfaults with the latest PHP 7.3.6 release on Heroku, and 7.3.5 has open CVEs.

[2019-06-07 14:08] Jurigag commented on #14160
This will require to backport this fix to zephir 0.10.x as well because phalcon 3.4 is not compatible with zephir 0.11.x. What i could suggest is that you could maybe cherry pick this fix to 0.10.x zephir branch compile extension yourself and provide them to customers, though not sure if it's possible for you.

[2019-06-07 14:35] dzuelke commented on #14160
Of course that's possible, but the issue isn't specific to Heroku.

Any user of Phalcon will run into this once they upgrade to PHP 7.3.6 or 7.2.19, which both contain security fixes.

And given how a stable release of Phalcon 4 is probably still quite some time away, a 3.4 bugfix release makes sense, no?

[2019-06-07 14:37] Jeckerson commented on #14160
@niden

[2019-06-07 16:04] dzuelke commented on #14160
https://github.com/phalcon/zephir/pull/1870

[2019-06-07 17:04] cq-z commented on #14150
So is this related to the gcc version?

[2019-06-09 14:53] Mouvedia commented on #899
.

[2019-06-09 18:03] JABirchall commented on #14036
What if this was moved out of the model into the base database class.
`$schema = $this->db->getSchema(Model::class);`

That way you can avoid conflicts.

[2019-06-10 05:54] StudioMaX commented on #2871
Bump

[2019-06-10 05:55] StudioMaX commented on #11637
Bump

[2019-06-10 05:55] StudioMaX commented on #705
Bump

[2019-06-10 15:26] JABirchall commented on #13385
Stale bot wtf.

[2019-06-11 17:41] kornerita opened #14177 "[Bug] Session Redis Adapter when statsKey is enabled it grows forever."
Phalcon version: 3.4.x

Hi,

As title says, when the statsKey is enabled to track the sessions, the value grows forever on a server with moderate traffic.

If the statsKey is accessed on any session movement, it gets refreshed and never released, hence growing forever, on my production server it gets eight seconds to dump the statsKey via redis-cli.

https://github.com/phalcon/cphalcon/blob/5b77d8

[2019-06-11 19:22] scrnjakovic opened #14178 "[NFR] Logger formatter per message type"
It would be nice if we could define formatter for specific message types instead one for all, so we could add red color for error, blue for notice etc.

[2019-06-11 19:43] niden commented on #14178
You can use the `FormatterInterface` and specify the formatter you want. Since it supports interpolation you can easily inject content to the relevant message.

The `FormatterInterface` accepts a `Logger\Item` object and thus you should know the type of it as well to apply colors.

It think that should cater for this use case.

[2019-06-11 20:22] scrnjakovic commented on #14178
Actually, it does. Thanks @niden. We could add it to incubator?

Closing this one.

[2019-06-11 20:22] #14178 closed

[2019-06-12 14:43] dzuelke commented on #14160
May I suggest re-opening this issue until a release is cut, so that other people find it more easily? Right now it's fixed, but not really - the fix has been merged into Zephir, but no release has been cut for that or for Phalcon...

[2019-06-13 15:15] dzuelke commented on #14160
Thanks for the reopen @Jurigag.

What are the steps for updating Zephir by hand, regenerating the extension, and regenerating the build? There are a few instructions somewhere for how to regenerate the build when working on `*.zep` files in this repo, but nothing at all on how to update Zephir.

Is all the code just copied over into this repo? Or is there a process? I couldn't find anything about

[2019-06-13 16:59] dzuelke commented on #14160
Got it; for those interested:

[code]

Then install as usual, from `build/php7/safe`.

[2019-06-14 09:27] sowork opened #14181 "When the model uses `columns()`, it should bind the original model instead of `Phalcon\Mvc\Model\Row`"
You need to select full model like without `columns` option. When you are selecting model with columns then always `Phalcon\Mvc\Model\Row` is returned. It's not a bug.

_Originally posted by @Jurigag in https://github.com/phalcon/cphalcon/issues/12926#issuecomment-310889268_

[2019-06-14 09:40] Jurigag commented on #14181
We just don't have partial models, i guess if we implement Data Mapper then we can consider this @niden

[2019-06-14 09:53] sowork commented on #14181
Model query in laravel：
[code]
return
[code]
When using DB query：
[code]
return
[code]
It would be strange to suddenly return a `Phalcon\Mvc\Model\Row`

[2019-06-14 10:01] Jurigag commented on #14181
It's not suddenly, it's expected behavior and not a bug.

This is due to all active record events we have - to make sure that they work correctly and do what supposed to do they require full models to be returned.

[2019-06-14 10:15] sowork commented on #14181
When using a query, sometimes I only want to query the fields I need, instead of having to query all the fields.

When I use graphql+eagerLoad for preloading, I need to get the association based on the returned model, but if I return `Phalcon\Mvc\Model\Row` it can't be processed.

[2019-06-14 12:30] Jurigag commented on #14181
I'm not saying we shouldn't implement this, im saying that this was a choice which was made to have Row object instead of full model. I guess on data mapper we can more safely implement this, but as im saying - it's not a bug, this current behavior on 3.4.x will stay as it is. Also active record on 4.x most likely too soon data mapper will be separate thing as far as i know. @niden

[2019-06-14 14:36] Jurigag commented on #14177
Well on other hand you add here much more CPU cycles because you each time on gc you query keys.

[2019-06-14 14:40] niden commented on #14181
This can come with the Data Mapper implementation. I don't have any issues with returning the original model or a `Row` object

[2019-06-16 09:49] sowork opened #14183 "How do I convert an array to a simple object?"
[code]
* This scenario is encountered in preloading, but I don't know what to do with it?

[2019-06-16 10:03] sowork commented on #14183
https://forum.phalconphp.com/discussion/9051/array-convert-to-phalconmvcmodelresultset

This is some information I searched on the Internet, but there is no answer.
tks.

[2019-06-16 10:13] gaurangkumar commented on #14183
Here, in_array() function has invalid arguments.
[code]
[code]
[function.in-array](https://www.php.net/manual/en/function.in-array.php)

[2019-06-16 10:17] sowork commented on #14183
@gaurangkumar yes
but can convert an array to a simpleResult object?

[2019-06-16 12:16] niden commented on #14183
@sowork the simple answer is you cannot. The only thing you can do is:

[code]

which will return back a `stdClass` object.

In your example, `$users` is already a collection of objects and the same thing with `$posts`, so provided that `$users->posts` is a defined relationship, the `$newPosts` array contains the array of `Posts` objects needed.

[code]

[2019-06-16 12:46] sowork commented on #14183
but `$user->posts` to define an associated relationship triggers n+1
so I need to query the required post data and then assign the value to the `$user` object
Now I'm assigning $user to an array
[code]
The returned `$user` object `post` property is an array

[2019-06-16 15:03] niden commented on #13870
@tempcke I spent a couple of days trying to figure this one out. I do have a couple of fixes that need to be introduced to the Acl and will do that shortly. All supplied tests pass on my testbed app apart from the last one.

The use case on the last test will not be fixed because we have an infinite loop there - which is what the test reports back.

[2019-06-16 20:20] niden commented on #13870
Closing this - https://github.com/phalcon/cphalcon/pull/14184 and also circular inheritance is not allowed

[2019-06-16 20:20] #13870 closed

[2019-06-16 20:22] niden commented on #13349
Closing this issue - no reply for this NRF/Bug. Can reopen later on if need be.

[2019-06-16 20:22] #13349 closed

[2019-06-17 01:53] niden commented on #14183
<?php

I don't understand exactly what you need to do/ Do you just want to get the data or update them also?

To avoid n+1 you can do:
[code]

Now you have all the data you need and you can either create `Resultset` objects and populate them manually or use the `Complex` resultset you get from the collection above and work with that data.

If you want to be able to update data that you got, then i

[2019-06-17 05:43] sowork opened #14185 "suggest adding the alias method to the model"
So i have to use model with full namespaces in columns method ? Its kind of bad, i think there should be parameter in query for setting alias of model.

_Originally posted by @Jurigag in https://github.com/phalcon/cphalcon/issues/10479#issuecomment-136358640_

[2019-06-18 18:00] #13904 closed

[2019-06-19 03:48] zuozhehao opened #14188 "Why is the Redis prefix parameter fixed?"
https://github.com/phalcon/cphalcon/blob/b69fed7ded18590a2c9488484aa24dfdaf9165ef/phalcon/Storage/Adapter/Redis.zep#L39-L46

[code]

Is it possible to change the prefix by parameter to facilitate differentiating between different items?

[2019-06-19 04:11] CameronHall commented on #14188
Yes. It will reassign `this->prefix` to the argument provided in `options` in the parent constructor.

https://github.com/phalcon/cphalcon/blob/b69fed7ded18590a2c9488484aa24dfdaf9165ef/phalcon/Storage/Adapter/AbstractAdapter.zep#L73

[2019-06-19 04:47] zuozhehao commented on #14188
ok, thanks.

[2019-06-19 04:47] #14188 closed

[2019-06-19 11:24] Kzmxewsy opened #14190 "\Phalcon\Cache\Backend\File -> queryKeys"
Hello, strictly speaking, I don't know if this is a bug, because It's easy to fix, is it designed to be like this originally?

[code]

### Details

* Phalcon version: (`php --ri phalcon`) v3.4.3
* PHP Version: (`php -v`) PHP 7.2.17 x64 TS
* Operating System: win
* Installation type: download dll
* Zephir version (if any):
* Server: Nginx
* Other related info (Database, table schema): Postgresql

[2019-06-20 03:35] niden commented on #13201
Resolved in https://github.com/phalcon/cphalcon/pull/14186

[2019-06-20 03:35] #13201 closed

[2019-06-20 03:35] niden commented on #13768
Resolved in https://github.com/phalcon/cphalcon/pull/14186

[2019-06-20 03:35] #13768 closed

[2019-06-20 05:41] sowork commented on #14183
I want to append the data from the eager load to the simple object
make it look natural, instead of binding the array to the property above the object
it’s like this now:
[code]

I don't understand why it consumes a lot more resources.
example：
[code]
i will see how the resultsSet operates.
english is not too good, sorry.
tks.

[2019-06-20 07:38] phpfangting commented on #13916
thanks

[2019-06-20 12:33] niden commented on #14183
I wrote above Phalcon does not support eager loading. There is a github repo that might help you.

To achieve what you want to do in the example above you can do this:

[code]
All the data is in the array now

[2019-06-20 14:28] sowork commented on #14183
it looks like the builder performs better sql

consider outputting data of the following structure
[code]
obviously builder is not suitable for organizing deep data structures

[2019-06-20 15:24] niden commented on #14183
You need to create the array structure the way your application needs. The database will not always be able to construct the array the way you want it. Since you have the 'data' node there you might want to have a look at Fractal, which allows you to perform transformations to resultsets easily

https://fractal.thephpleague.com/

[2019-06-20 15:33] sowork commented on #14183
tks, looks great！

but does eager load bring too much resource consumption?

[2019-06-20 15:48] niden commented on #14183
The eager vs non eager loading is the same as use tabs vs spaces in your code. No answer is correct and both answers are correct depending on who you ask.

For me, eager loading in the database layer offers more complexity than the problem it solves. If you have your ORM perform the eager loading for you, you will never get all the potential use cases that developers will need. To offer the most f

[2019-06-20 17:13] niden commented on #13394
Resolved in https://github.com/phalcon/cphalcon/pull/14120

[2019-06-20 17:13] #13394 closed

[2019-06-21 02:30] niden commented on #13208
Resolved in https://github.com/phalcon/cphalcon/pull/14193

[2019-06-21 02:30] #13208 closed

[2019-06-21 02:47] v00v opened #14195 "[NFR] More Array Helpers"
Will we see more of this array helpers in the future? I only see some implemented so far from (https://github.com/bakaphp/support) I would also like to see this in ``Phalcon\Helper\Arr``.

* all -- Returns true if the provided function returns true for all elements of an array, false otherwise.
* any -- Returns true if the provided function returns true for at least one element of an array, false

[2019-06-21 06:19] JABirchall commented on #13208
Thank you guys :)

[2019-06-21 13:53] niden commented on #14190
@Kzmxewsy Not sure why this was designed this way but the whole cache namespace has been refactored to implement PSR-16. Can you test your code with v4?

[2019-06-21 13:54] niden commented on #14022
Closing this after @zsilbi 'e explanation

[2019-06-21 13:54] #14022 closed

[2019-06-21 13:55] niden commented on #13633
@Brade Do you have a chance to test this with v4? The whole Cache namespace has been refactored to implement PSR-16 so I am pretty sure that this has been addressed.

[2019-06-21 13:57] niden commented on #12474
Related to #13697

[2019-06-21 15:15] emiliodeg commented on #14195
Looks like nice for me

[2019-06-21 15:57] ekmst opened #14196 "Wrong options comparisons in Validator/File"
Found invalid comparison options:

[Validator/File.zep#L105](https://github.com/phalcon/cphalcon/blob/4.0.x/phalcon/Validation/Validator/File.zep#L105) - must be "minsize"
[Validator/File.zep#L129](https://github.com/phalcon/cphalcon/blob/4.0.x/phalcon/Validation/Validator/File.zep#L129) - must be "mazsize"
[Validator/File.zep#L154](https://github.com/phalcon/cphalcon/blob/4.0.x/phalcon/Validation

[2019-06-21 20:21] ekmst opened #14198 "Invalid logic in Validator/File/FileAbstract"
Missed getting value from validation in methods:

[Validator/File/FileAbstract::checkUploadIsEmpty()](https://github.com/phalcon/cphalcon/blob/4.0.x/phalcon/Validation/Validator/File/FileAbstract.zep#L152)

[Validator/File/FileAbstract::checkUploadIsValid()](https://github.com/phalcon/cphalcon/blob/4.0.x/phalcon/Validation/Validator/File/FileAbstract.zep#L184)

I think should be add:
[code]

@emil

[2019-06-21 22:28] niden commented on #14196
Resolved in https://github.com/phalcon/cphalcon/pull/14197

[2019-06-21 22:28] #14196 closed

[2019-06-21 22:28] niden commented on #14196
Thank you @ekmst

[2019-06-22 10:12] ustmaestro opened #14199 "Build from source problem"
Configuring for:
PHP Api Version:         20180731
Zend Module Api No:      20180731
Zend Extension Api No:   320180731
appending configuration tag "CXX" to libtool
libtool: Version mismatch error.  This is libtool 2.4.6, but the
libtool: definition of this LT_INIT comes from an older release.
libtool: You should recreate aclocal.m4 with macros from libtool 2.4.6
libtool: and run autoconf again.
m

[2019-06-22 10:19] ustmaestro commented on #14199
OS: Solus OS
$ php -v
PHP 7.3.3 (cli) (built: Apr 25 2019 04:00:25) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.3.3, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.3.3, Copyright (c) 1999-2018, by Zend Technologies
$ gcc --version
gcc (Solus) 8.3.1 20190320
$ libtool --version
libtool (GNU libtool) 2.4.6
$ autoconf --version
autoconf (GNU Autoconf) 2.69

[2019-06-22 13:09] v00v commented on #14195
@emiliodeg, indeed :-) I work with arrays a lot, and could use most of the requested additons on daily basis. Also having simpler one-worded functions is a must have in Phalcon. But Phalcon team is on a good track so far. By simplifying all the namespaces and adding other NFRs quicly. I love Phalcon and can't leave without it ^_^

[2019-06-22 13:18] v00v commented on #13855
@niden Can you please re-open this for reference and also mark NFRs that were added to 4.1 so everyone can see better what is going on? Or alternativly create a v4.1-NFRs.md please.

[2019-06-22 13:25] v00v commented on #14195
There is another good example of functions @ (https://laravel.com/docs/5.8/collections) See Available Methods section :-)

[2019-06-22 17:57] sergeyklay commented on #14199
Try another way:

1. `cd ext`
2. `phpize`
3. `./configure`
4. `make`
5. `sudo make install`

[2019-06-22 18:04] sergeyklay commented on #14195
I would not want to add all these functions simply because they exist somewhere. We should go another way: For each function described abowe, should be created an NFR with a description of the necessary functionality, code examples and a descriptive reason why it should be added to the core and why a task cannot be done by other means.

[2019-06-22 18:04] #14195 closed

[2019-06-22 19:08] ustmaestro commented on #14199
$ phpize
Configuring for:
PHP Api Version:         20180731
Zend Module Api No:      20180731
Zend Extension Api No:   320180731

$ ./configure
checking for grep that handles long lines and -e... /bin/grep
checking for egrep... /bin/grep -E
checking for a sed that does not truncate output... /bin/sed
checking for cc... cc
checking whether the C compiler works... yes
checking for C compiler default

[2019-06-22 21:04] sergeyklay commented on #14199
Here is what you can do to recreate the configuration files for the build process:
[code]

[2019-06-23 14:28] Kzmxewsy commented on #14190
@niden I have tested it with v4.0.0-alpha.5,But I am not familiar with v4, the code is below
[code]
Although the cached file structure is different, the result is the same as v3.

[2019-06-23 17:39] #14198 closed

[2019-06-23 17:40] sergeyklay commented on #14198
Fixed in the `4.o.x` branch. Thank you for contributing.

[2019-06-23 20:26] fizzka commented on #11156
hi guys
what about https://github.com/alcaeus/mongo-php-adapter ?
it looks easy to say "install this, while we reinventing new solution for new driver"?
any thoughts?

[2019-06-23 20:39] niden commented on #14190
@Kzmxewsy Thanks will check that.

[2019-06-23 20:43] niden commented on #11156
@fizzka There is already work underway by one of the members of the community to port the latest Mongo driver to the `Collection` class. That is one of the last issues we have in our v4 project

https://github.com/phalcon/cphalcon/projects/3

[2019-06-23 23:34] CameronHall commented on #13900
This is because `empty` will call `__isset` (if defined) on inaccessible properties. Related to #13518.

[2019-06-24 08:32] ustmaestro commented on #14199
Thanks @sergeyklay !
Also the pcre2, pcre2-devel library must be installed to make a build from source.
Now with last commands everything works and build successful.

[2019-06-24 09:51] ustmaestro commented on #14199
There is a module dependency psr php module
https://forum.phalconphp.com/discussion/19143/update-package-php72phalcon-crash-php72fpm
https://github.com/jbboehr/php-psr

[2019-06-24 09:52] ustmaestro commented on #14199
psr module extension must be loaded before phalcon module extension

[2019-06-24 09:58] sergeyklay commented on #14199
@ustmaestro Yes, Phalcon v4.x depends on PSR module. So right now is only way to get it working is to load phalcon.so after psr.so.  I'm closing this issue but if I have made an oversight, please do get back in touch. Thanks

[2019-06-24 09:58] #14199 closed

[2019-06-24 13:53] EcLaboratory commented on #13825
Watching the changes in code it seems the only real change is not to fire events. Is it planned to make available a method to do the action an the begining of this blog exposed?

I mean

$html = $view->toString($template, $params);

where $template is an string with the volt template content and $params an array to use to render the template

Thanks in advance

[2019-06-24 18:06] niden commented on #13825
@EcLaboratory This particular change is for the `View` which will take a template as a controller/action/view and will load it and send it back.

If you want a specific template to be parsed and returned, you can use the `View\Simple` component which does the same thing.

[2019-06-24 19:32] crnjakovic opened #14203 "Form Validation and Entity are not playing well together"
If you pass both data and entity parameters to `$form->isValid()`, even though you expect `$validation->getValue($field)` to fallback to data if entity does not have that value (like From does), it doesn't happen. **Validation will not try to read value from any other data source if entity is present**.

For an example if you implemented CSRF check through validation, that wont work. That is, unle

[2019-06-24 23:19] jmar83 opened #14204 "Phalcon version compatible to PHP 7.0.9 on Windows / 32 Bit"
Hi there

Which Phalcon version is compatible to PHP 7.0.9 on Windows / 32 Bit?

Current one seems to be not...

Apache Version is 2.4.23 / Windows 32 Bit

Thx for feedback.

Regards,
Jan

[2019-06-25 07:03] jbruceh88 opened #14205 "PaginatorQueryBuilder looses distinct and sub select"
I have fairly complex query using distinct, subselects and a few joins, that I built using the modelsManager, this query returns 166 records. However when I pass this into PaginatorQueryBuilder, the total number of items in the pagination is 1438 with a total page count of 96.

Looking in our sql logs we can see that the initial query runs correctly, however the query to return the pagination, doe

[2019-06-25 07:41] sergeyklay commented on #14204
This one: https://github.com/phalcon/cphalcon/releases/download/v3.4.3/phalcon_x86_vc14_php7.0_3.4.3-2609.zip

[2019-06-25 07:41] #14204 closed

[2019-06-25 07:52] CameronHall commented on #14205
@jbruceh88 that sounds like a bug. Can you please specify what version of Phalcon you're using by providing the output of `php --ri phalcon`.

If you could please provide the two different queries as well that'd be good.

Thanks :)

[2019-06-25 08:28] jbruceh88 commented on #14205
@CameronHall I am using  version  3.4.3 . would you prefer the two sql raw queries, or as it is build using modelsManager?

:)

[2019-06-25 08:28] martijintro commented on #14204
That's the version i meant, does not work...

[2019-06-25 08:31] martijintro commented on #14204
Seems to be for PHP Version 7.0.33, but not for 7.0.9... when i do a right-click on file, then go to properties, i see 7.0.33...

[2019-06-25 08:33] martijintro commented on #14204
All other extension in the "ext" dir have 7.0.9 when i look into properties.. and they are working, but your phalcon version does not..

[2019-06-25 09:13] CameronHall commented on #14205
Both would be good thank you 😊

On Tue, 25 Jun 2019 at 6:28 pm, jbruceh88 <notifications@github.com> wrote:

[2019-06-25 09:30] zuozhehao opened #14206 "Console in the case of multiple modules."
phalcon 4.0

[code]
It's return Module 'task' isn't registered in the console container

[code]
Phalcon could not find the default task and action, because I didn't set the namespace.
I think it would be duplicative if set up the namespace again.

[2019-06-25 13:11] sergeyklay commented on #14204
No difference 7.0.33 or 7.0.99. The first and second version part matters. What do you mean by saying  "does not work"?

[2019-06-25 14:28] Koenkk commented on #14160
+1 for 3.4.4 with this fix

[2019-06-25 21:47] sergeyklay commented on #14160
I'll regenerate the build for 3.4.x in next days. Could someone ping me if I forget to do this

[2019-06-25 22:08] virgofx commented on #14160
Will do, thanks @sergeyklay

[2019-06-26 14:24] niden commented on #14190
Resolved in https://github.com/phalcon/cphalcon/pull/14211

[2019-06-26 14:24] #14190 closed

[2019-06-26 14:49] niden opened #14212 "Remove __set_state"
Check where `__set_state()` is used and remove it accordingly.

[2019-06-26 14:50] niden opened #14213 "Refactor - Abstract classes"
Rename all abstract classes with the prefix `Abstract`

[2019-06-26 18:27] ronald677br opened #14214 "Query Builder duplicating JOIN clause"
I was building a query using the Phalcon QueryBuilder class.
My query consists of two tables being added with the `$builder->addFrom($model)` method and one table being added using the  `$builder->rightJoin($model, $params)`

**- Expected behavior:**

Query works, executing the following converted SQL on the database:
[code]
**- Actual behavior:**
The execute fails, giving the following error:
`SQ

[2019-06-27 06:30] virgofx commented on #14160
Ping @sergeyklay -- Just ran into this myself not connecting the dots (See above issue reference) (Thought the issue was on Fedora side).  When you get chance to make 3.4.4 would be awesome to confirm this is resolved.

[2019-06-27 07:46] pz9042 opened #14216 "Phalcon\Validation\Validator\Alpha work have aquestion"
[code]
it will output  username must contain only letters ,but if `$data` have no the `username` index or the value is empty. the `$message` will return emty array. the correct validate result should't be fail？

[2019-06-27 07:55] ekmst commented on #14216
This is the correct behavior. You need to use `Phalcon\Validation\Validator\PresenceOf` for the field to be required

[2019-06-27 08:00] pz9042 commented on #14216
I have set `allowEmpty` be `false`， if use`\Phalcon\Validation\Validator\Alnum`，it will work。

[2019-06-27 08:11] ekmst commented on #14216
What version of Phalcon are you using?

[2019-06-27 08:13] pz9042 commented on #14216
3.4.3

[2019-06-27 16:44] scrnjakovic commented on #14214
May I ask why do you use two FROM clauses? This is one very odd query for such a simple task, if you ask me. May I suggest you rewrite the query and give it a shot? Maybe something like
[code]

Depending on your use of namespaces and autoloading setup, you may need to add use statements to the top like
[code]

[2019-06-27 16:45] scrnjakovic commented on #14212
There is some in `Phalcon\Config` afair.

[2019-06-27 16:52] scrnjakovic commented on #14185
[code]

[2019-06-27 17:37] ronald677br commented on #14214
I understand that there is no real need of two FROM clauses, but I think that it shouldn't be a problem at all.
On raw SQL you can achieve this without any problem, just taking care to keep the left table (where the joins will be performed) to be inserted before the first JOIN clause.

[2019-06-27 17:46] scrnjakovic opened #14217 "[BUG] Phalcon\Forms\Form::clear() variable never initialized"
Condition on line 694 will never evaluate to true as variable `field` is `null` (v3.4.x)
https://github.com/phalcon/cphalcon/blob/65183349743e899977adc643f103b887612ffe98/phalcon/forms/form.zep#L679-L698

[2019-06-27 19:25] sergeyklay commented on #14160
I apologize @dzuelke for completely overlooking this.

Just regenerated C-code for Phalcon's 3.4.x branch:
[code]
You can try new Phalcon using command as follows:

[code]

Thanks for catching this bug, and I am sorry about the delay. I hope it fixed now.  I'm closing this issue but if I have made an oversight, please do get back in touch.

[2019-06-27 20:09] lubber-de commented on #14160
I would appreciate if somebody could please provide a windows recompiled x64 dll, if I missed an official dl link.
Thx in advance

[2019-06-27 20:11] virgofx commented on #14160
@sergeyklay Can we create 3.4.4 release + builds?

[2019-06-27 20:47] sergeyklay commented on #14160
No

[2019-06-27 20:53] virgofx commented on #14160
That doesn't make any sense. If it's supported long term .. we need this fix. Currently 3.4.3 is broken with latest PHP ..

[2019-06-27 21:05] lubber-de commented on #14160
Don't forget the windows builds, please. I personally cannot compile in windows myself, because I cannot install visual studio (restricted corporate firewall policy, as well as the decision to use windows at all) .. I just can't do anything about it) and I just need to use phalcon without the build process. That would mean we are stuck on 7.3.5. Try to explain this to our customers security office

[2019-06-28 00:15] CameronHall commented on #14212
@scrnjakovic it was removed in https://github.com/phalcon/cphalcon/pull/14186 :)

[2019-06-28 05:16] remicollet commented on #14160
How is it possible ?
**3.4.3** is the LATEST released version.

[2019-06-28 05:36] lubber-de commented on #14160
And until 4.0 is any kind of proven stable final (no alpha, no beta) there is no other official running and supported version than 3.4.3 at the moment which people (at least serious managers) will approve for usage in a production environment.
That said, if no 3.4.x version is officially provided having this fixed for the latest php version, I smell people saying to abandon phalcon and go back to

[2019-06-28 07:17] mia0x75 opened #14220 "Application::registerModules override"
[code]

Fatal error: Declaration of My\Application\Application::registerModules(array $modules, bool $merge) must be compatible with Phalcon\Application::registerModules(array $modules, bool $merge = NULL): Phalcon\Application in /opt/www/my/application/common/Application.php on line 0

[2019-06-28 07:53] zuozhehao commented on #14220
[code]

[2019-06-28 08:28] dreamsxin commented on #14020
你可以试下 https://github.com/phalcon/zephir/pull/1880 这个分支，看是否解决这个问题

[2019-06-28 09:12] #14220 closed

[2019-06-28 10:31] jmar83 commented on #14204
Nothing happens, not phalcon loaded when i look into the text from phpinfo();

And also no Errors when i start the apache2 Service, neither a Problem with Service starting nor some entries related to my Problem in Apache error log..

[2019-06-28 10:34] jmar83 commented on #14204
-> PHP 7.0.9 runs as a FCGI application (mod_fcgid), Maybe that's the Problem?

[2019-06-28 10:46] jmar83 commented on #14204
Where can i get the 3.0.0 Version for win32?

[2019-06-28 12:37] sergeyklay commented on #14204
I posted link for v3.4.3 above. Do you want exactly v3.0.0? Could you provide the way you enable Phalcon for Apache?

[2019-06-28 12:56] jmar83 commented on #14204
php.ini:

[code]

[2019-06-28 12:57] jmar83 commented on #14204
i also tried it with extension=php_phalcon.dll - unsuccessful

[2019-06-28 12:58] jmar83 commented on #14204
Apache 2.4 httpd.conf:

[code]

[2019-06-28 12:58] jmar83 commented on #14204
phalcon dll exists in "ext" dir..

[2019-06-28 13:46] sergeyklay commented on #14204
What says `php --ri phalcon` command ?

[2019-06-28 14:36] niden commented on #14160
We will sort this out this weekend - try to build DLLs also.

It was our mistake that we did not add the LTS note and duration in the documentation in its own page so that all can refer to that. Our announcement was 3 years LTS for the v3 which is en par or more than the average LTS of packages.

Having written that, 3 years have passed, Just because something is LTS does not mean that it is maint

[2019-06-28 16:01] virgofx commented on #14160
Thanks Niden ... all we need is just a 3.4.4 release - it's super easy and just allows for downstream maintainers to properly build packages.

[2019-06-28 16:13] david-duncan commented on #14160
Agreed.

Just a heads up team - Based on the complete lack of features and the massive amount of code churn in 4.x, we have absolutely no intentions on upgrading.

[2019-06-28 17:23] virgofx commented on #14160
Same @david-duncan

[2019-06-28 19:33] SidRoberts commented on #14217
Fixed in #14218 and #14219.

[2019-06-28 19:33] #14217 closed

[2019-06-28 21:03] Brade commented on #13633
I'll try to get to this soon, but obviously there are quite a few changes in v4, so it might be a while. Please don't close the issue yet =]

[2019-06-28 22:51] dzuelke commented on #14160
If the timeline for 4.x has shifted since the LTS announcement was made, then maybe the LTS timeline should also be adjusted accordingly.

I understand the desire to not have too much code to maintain in parallel, but the fact is that right now, the latest stable release does not work on the latest stable PHP version, which contains security fixes.

And IMHO, even if 4.x had been released recently

[2019-06-29 08:10] mia0x75 commented on #14220
@zuozhehao

[code]

[2019-06-29 10:17] Jeckerson commented on #14220
@mia0x75 It must return Application

https://github.com/phalcon/cphalcon/blob/master/phalcon/Application.zep#L113

[code]

[2019-06-29 14:02] niden commented on #13633
@Brade No problem. Thanks for reporting this.

[2019-06-30 01:04] mia0x75 commented on #14220
it works now, thank you @Jeckerson

[code]

[2019-06-30 19:18] niden opened #14224 "Remove Di::getDefault() from internal calls"
For all components in the framework that implement the `InjectionAware` interface `this->get(service)` should be used, without any calls to `Di::getDefault()`

It should be the application's responsibility to set the DI container in the said component properly.

Also any calls to `getShared` should be replaced with `get()` because if the component is registered as shared `get()` returns the shared

[2019-06-30 21:13] sergeyklay commented on #14224
Also please do not remember reflect this change at the docs

[2019-06-30 21:18] niden commented on #14212
Addressed in https://github.com/phalcon/cphalcon/pull/14223

[2019-06-30 21:18] #14212 closed

[2019-06-30 21:58] sergeyklay commented on #14160
Phalcon v3.4.4 was released.

[2019-06-30 21:58] #14160 closed

[2019-07-01 01:57] sowork commented on #14185
tks, would be more convenient to use the model directly.

[2019-07-01 10:06] tacxticx88 opened #14225 "Dangerous collection clone"
Phalcon 3.x

If the user tries to create a new behavior to duplicate records, the collection class can create unexpected errors,

### Example of a dangerous collection:
[code]

### The clone method is triggered at each record:
[code]

### The method that clones the result:
[code]

### Some solutions:

- Prevent from changing the clone's behavior
[code]

- Do not use cloneResult in find/findFirst
-

[2019-07-01 10:08] jmar83 commented on #14204
The command "php --ri phalcon" told me that msvc12....dll was not found, after installing it (https://support.microsoft.com/de-de/help/4032938/update-for-visual-c-2013-redistributable-package), i see that Output for the command

[code]

...after installing the MS VC 2013 runtime libraries, i just Need to Restart the apache2 Service.

So now it works, thx!! :-)

[2019-07-01 14:26] ruudboon commented on #14206
I wasn't able to reproduce this behaviour based on the code you gave us. @zuozhehao Do you have a complete example for me so I can reproduce this?

[2019-07-01 19:10] kornerita commented on #14177
@Jurigag gc method always adds more cycles, it is used on session clear for sure, and others. The current default is 1/1000 requests calls the gc method.

[2019-07-02 02:03] zuozhehao commented on #14206
You can use the official example. [https://docs.phalconphp.com/4.0/it-it/application-cli](https://docs.phalconphp.com/4.0/it-it/application-cli).
Just need to add
[code]

[2019-07-03 14:02] diegosardina commented on #705
In my opinion the proposal that has been shown here #11579 is very elegant in the case of the embedding of a form collection and could be also taken in consideration.

It may be generalized in having Element\Form that embeds just one form and Element\Collection that embeds a collection of forms.

Although ideally it should receive a Form but the former approach is simpler and doesn't require an in

[2019-07-03 21:21] #13714 closed

[2019-07-03 21:21] #13873 closed

[2019-07-04 22:46] niden commented on #14213
Resolved in https://github.com/phalcon/cphalcon/pull/14228

[2019-07-04 22:46] #14213 closed

[2019-07-05 05:22] ruudboon opened #14232 "Nanobox config fails to build"
Following the installation instruction in the test directory are currently failing.
The installation of msgpack fails.

[2019-07-05 05:53] #14232 closed

[2019-07-06 00:20] niden commented on #14206
I don't understand what you are trying to do @zuozhehao . Explain this to me a bit more.

So you are using the official example where the default namespace is set

[code]

Now you add a router object and you specify that the `defaultModule` will be `task`. Then you get the message that `task` cannot be found?

Can you post a bit more here on what you really want to do, what you see and what the st

[2019-07-06 15:02] niden commented on #14080
Resolved in https://github.com/phalcon/cphalcon/pull/14235

[2019-07-06 15:02] #14080 closed

[2019-07-07 20:09] cottton opened #14237 "phalcon/mvc/model::hasChanged documentation typo?"
See https://github.com/phalcon/cphalcon/blob/3.4.x/phalcon/mvc/model.zep#L4001

    $robot = new Robots();
    // ...
    // $hasChanged = $robot->hasChanged(["type", "name", true]); <--- , true is written in the array
    $hasChanged = $robot->hasChanged(["type", "name"], true); // returns false

`["type", "name", true]`
to
`["type", "name"], true`

[2019-07-08 13:13] niden commented on #14237
The second one seems to be the correct one. @cottton do you mind opening a pull request to the `4.0.x` branch? Thanks

[2019-07-09 17:55] cottton commented on #14237
`4.0.x` branch already has the correct docu:

    $hasChanged = $robot->hasChanged(["type", "name"], true); // returns false

The typo is in the `3.4.x` branch.

[2019-07-09 18:01] sergeyklay commented on #14237
@cottton Could you send a patch to the 3.4.x branch then?

[2019-07-09 18:05] cottton commented on #14237
`3.4.x` docu fix PR: https://github.com/phalcon/cphalcon/pull/14239/files

Just saw that the `4.0.x` missing the `allFields` param doc.
PR: https://github.com/phalcon/cphalcon/pull/14240

[2019-07-10 14:33] niden commented on #14237
Resolved in https://github.com/phalcon/cphalcon/pull/14240

[2019-07-10 14:33] #14237 closed

[2019-07-11 00:51] zuozhehao commented on #14206
I want Phalcon to support `setDefaultModule` in Console mode when I `registerModules` @niden

[2019-07-11 07:35] stamster commented on #12396
:fireworks:

[2019-07-11 16:00] fiskolini commented on #3218
Why didn't anyone answers to this PR?
What a shame...

[2019-07-12 01:22] niden commented on #14206
@zuozhehao I checked the code. `setDefaultModule` exists in the Cli application. Also you can register modules to it. So I am sorry I do not fully understand the issue.

Could you be so kind as to post the exact code you are using and the error you are seeing so that I can figure it out. ?

Thanks!

[2019-07-12 06:43] zuozhehao commented on #14206
@niden Sorry, maybe I didn’t express my problem.

[code]
In MVC mode, I use `setDefaults ` to automatically register the namespace, but in CLI mode it doesn't, it requires me to set the namespace once using Dispatcher.
I hope that it can be unified under Mvc, Cli.

[2019-07-12 06:51] zuozhehao commented on #14206
https://github.com/phalcon/cphalcon/blob/master/phalcon/Mvc/Router.zep#L918-L921

[2019-07-12 09:08] huang-winter-snow opened #14244 "session stored memcached empty, phalcon version is 2.0.1"
The session is stored in memcache. During the packet capture process using Wireshark,
the value is found to be empty. However, after Wireshark has fetched multiple times, the session cannot be replayed.
What are the reasons for this? The following is the code

	Class VerifyController extends \ Phalcon \ Mvc \ Controller
	{
		public function imageAction()
		{
			$this -> view -> disable();

			$par

[2019-07-12 10:02] pz9042 opened #14245 "Custom Resultsets getResultsetClass have a bug"
php version is 7.2.19, and phalcon version is 3.4.3

I add below code in my model

[code]
when i call find in this way
[code]
the result return a `Phalcon\Mvc\Model\Resultset\Simpl` object ,and  _model is `Phalcon\Mvc\Model\Row Object`

if i don't specify columns in `find` parameter, the result return `Patient\Models\Custom` object, and _model is `Patient\Models\ClinicalDepartment Object`

[2019-07-12 11:06] xorinzor commented on #13855
Pretty shocked that 61 isn't a feature yet.

[2019-07-12 15:24] stamster commented on #14244
2.0.1 is really old && deprecated release, to start with.

Next, show your session adapter - e.g. are you using `libmemcached`?

[2019-07-12 15:59] niden commented on #14206
The way it is implemented you cannot do what you are asking. There are 2 routers as you see. The Mvc one and the Cli one and you need to register the modules and namespace on each of those routers.

The reason behind this is that a MVC application will never be a CLI application and vica versa. From what I understand you are trying to mix them both so as to have potentially less code to maintain.

[2019-07-12 18:21] tempcke commented on #13870
Thanks @niden

the last test is `testGithubIssue10294`.  I do not have the setup to re-execute it right now but reading it I do not see why it would cause an infinite loop, it is really a just a subset of `testOrderOfInheritShouldNotMatter` except as there was another issue related to this I used the resource and role names they used in their example.

*shrugs* as long as `testOrderOfInheritShould

[2019-07-13 05:43] saulosousasoares opened #14246 "Phalcon\Mvc\Micro not allowed http method not exists"
### Expected and Actual Behavior

1) In a Restful API we need to differentiate what is "not found (404)" from "not allowed (405)". In Phalcon \ Mvc \ Micro apparently this is not possible.

2) When I test in a controller any $ bool = $ this-> request-> isGet () for an HTTP call "COPY" or "LOCK" or "LINK" ... I get $ bool === true

Use https://docs.phalconphp.com/en/latest/generating-backtrace as r

[2019-07-14 02:26] ruudboon commented on #14246
Please create separate issues for each bug you find.
For the not found you can sent a 403 in the controller using header.

[2019-07-16 16:09] zuozhehao commented on #14206
ok, Thanks.

[2019-07-16 17:20] niden commented on #14206
Closing this.

[2019-07-16 17:20] #14206 closed

[2019-07-17 01:07] huang-winter-snow commented on #14244
Since our PHP version is 5.6 and has not been upgraded, the cache library is libmemcached

[2019-07-18 05:48] sergeyklay commented on #14246
What do you mean by saying "is not possible"? Phalcon's Response component supports all standard status codes, incl 403, 404, 405, etc Can you elaboprate on that?

Phalcon's Request supports only following HTTP methods https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods

[2019-07-18 06:05] andrew-demb commented on #14246
@saulosousasoares you can try to override request method `Phalcon\Http\Request::isValidHttpMethod()` to add support for missed methods.

https://github.com/phalcon/cphalcon/blob/master/phalcon/Http/Request.zep#L1146-L1163

[2019-07-18 17:24] EOM opened #14250 "Hi in V4 Phalcon\Db\Adapter\Pdo add support MSSQL and Oracle ..?"
Hi in V4 Phalcon\Db\Adapter\Pdo add support **MSSQL** and  **Oracle** ..?

[2019-07-21 00:21] M4theuz opened #14252 "Antivirus, false positive?"
Hello, I tried to move the version 4 file and the antivirus lock, would it be a false positive?
https://i.imgur.com/T4vXmEO.png

The chrome appears the same way.

[2019-07-22 01:02] niden commented on #14252
Hello @M4theuz. Thank you for reporting this. We build our DLLs using AppVeyor so anything that is downloaded from the Github Release pages comes from there.

I think this is the commit that built all the DLLs

https://ci.appveyor.com/project/sergeyklay/cphalcon/builds/25970835

If you click on either of the jobs and download artifacts you will get each DLL. I am wondering if they will also report

[2019-07-22 01:06] niden commented on #14250
@EOM Thanks for opening this issue.

For now we will not support ORacle or MSSQL. We do have the incubator repository where some implementations could exist (not 100% sure though) https://github.com/phalcon/incubator.

However the plan is to implement Data Mapper for the ORM in future releases of Phalcon and perhaps we can incorporate something that way there. Now bare in mind that it will be diff

[2019-07-22 01:09] niden commented on #14244
@huang-winter-snow Sadly we cannot help with this. The last release for v2 was in 2016 so it is not supported. Additionally v2 was written in C and not Zephir so we cannot even get the code to change or even diagnose what might be going on.

Has this been working before and is not working now?

[2019-07-22 01:26] M4theuz commented on #14252
Hello @niden, I did the test at all, it looks like everything is fine now.

[2019-07-22 01:39] niden commented on #14252
Thank you!.

Closing this.

[2019-07-22 01:39] #14252 closed

[2019-07-22 02:37] cq-z commented on #14150
4.0.0-beta.1 is ok ! thanks!

[2019-07-22 02:37] #14150 closed

[2019-07-22 03:16] huang-winter-snow commented on #14244
The previously written memcached is empty. After multiple captures by Wireshark, the data can be written to the memcached cache normally.

[2019-07-22 03:16] #14244 closed

[2019-07-22 08:54] stamster commented on #14244
@niden I strongly believe PhalconPHP v2.x was/is written in Zephir. And only v1 was pure C.

Here's code:
https://github.com/phalcon/cphalcon/tree/phalcon-v2.0.13/phalcon/http

In any case - latest v2 release was v2.0.13. So I'd try with that if I was OP.

Codebase: https://github.com/phalcon/cphalcon/tree/phalcon-v2.0.13
Release: https://github.com/phalcon/cphalcon/releases/tag/phalcon-v2.0.13

L

[2019-07-22 12:20] Jurigag commented on #14245
This is not a bug, it works as expected. When you use columns then you have not full model object, hat's why it returns simple resultset class. It will return your custom only if you get full models.

[2019-07-22 12:24] Jurigag commented on #14250
Well i guess mssql would need to be tested on appveyor?

[2019-07-22 12:27] Jurigag commented on #14185
@scrnjakovic yea, using builder it works, my comment meant that using Model::query() there is no way to set alias for current model from which we select.

[2019-07-22 13:41] niden commented on #14250
@Jurigag I have never set that up but I guess it could be. Still it is a huge task and we really don't have the resources to do that.

As usual, if anyone else wants to pick that up and offer changes and functionality by all means.

[2019-07-22 13:43] niden commented on #14244
@stamster Yes you are correct. Minor brain fart there. v2 was the first version we introduced Zephir.

[2019-07-22 13:48] sergeyklay commented on #14250
Btw, there are:
- [Microsoft SQL Server on Docker](https://hub.docker.com/_/microsoft-mssql-server)
- [Oracle Database on Docker](https://github.com/oracle/docker-images/tree/master/OracleDatabase/SingleInstance)

[2019-07-22 17:40] ronald677br opened #14253 "PHQL "NOT BETWEEN" clause issue"
While using the Query Builder $builder->notBetweenWhere() function, I ran into the same issue referenced by peterphalcon on this post:

https://forum.phalconphp.com/discussion/8759/can-not-use-not-between-in-find-and-query-function

I searched on the issues, here on github, but didn't found anything relating to it, so I created this post to keep the issue tracked... this seems to be a bug at Phalc

[2019-07-23 00:01] lajosbencz opened #14254 "[Q] [4.x] namespace of DiInterface.zep"
Shouldn't ```phalcon/Di/DiInterface.zep``` be in the root path: ```phalcon/DiInterface.zep```?

Placing the corresponding interface for ```phalcon/Di.zep``` in a different folder seems counter-intuitive, and the usage is convoluted aswell.

[2019-07-23 00:18] niden commented on #14254
We are trying to keep the root namespace as clean and thin so to speak as possible. The `DiInterface` relates to the `Di` namespace. So two options here: either leave it in the root namespace and have to remember that it does indeed relate to Di or put it in the `Di` namespace/folder.

Now looking at `Phalcon\Di\DiInterface` (2 instances of the word `Di`) might not be ideal but since we cannot use

[2019-07-23 04:25] shuqiangzhou opened #14255 "Phalcon\Di\FactoryDefault::getDefault()->get is woring"
### Expected and Actual Behavior

[code]

[code]

### Details

* Phalcon version: (`3.4`)
* PHP Version: (`7.2`)
* Operating System:window10 64
* Installation type: Compiling from source || installing via package manager
* Zephir version (if any):
* Server: Apache
* Other related info (Database, table schema):

[2019-07-23 05:07] #14255 closed

[2019-07-23 08:31] lajosbencz commented on #14254
Then how about this refactoring like so:

```phalcon/Di.zep``` -> ```phalcon/Di/Container.zep```
```phalcon/Di/DiInterface.zep``` -> ```phalcon/Di/ContainerInterface.zep````

[2019-07-23 13:22] niden commented on #14254
`Container` is reserved for the PSR-11 container that exists now as a proxy to the DI component but in subsequent v4 versions will be rewritten from scratch.

So these two have to be separate since the new container (Container) cannot be a drop in replacement for the existing one (Di)

[2019-07-23 16:08] maxgalbu opened #14256 "Calling model::create() does an _exists() twice if the record doesn't exist"
### Expected and Actual Behavior

Calling model::create() does an _exists() twice if the record doesn't exist.
https://github.com/phalcon/cphalcon/blob/2be495d9d12fb17e6da997a4c175e00566c7306f/phalcon/Mvc/Model.zep#L964
https://github.com/phalcon/cphalcon/blob/2be495d9d12fb17e6da997a4c175e00566c7306f/phalcon/Mvc/Model.zep#L2316

### Details

* Phalcon version: (`php --ri phalcon`) all the way to 4

[2019-07-23 16:35] niden commented on #14256
Looking at the code it kind of makes sense because `create()` throws an exception if the record exists already, where `save()` will change to update mode if the record exists.

Not sure how to refactor this to keep on offering the same functionality. We can certainly remove `create()` because it does the same thing as `save()` but then you will lose the functionality of having an exception thrown

[2019-07-23 17:10] david-duncan commented on #14256
There is definitely a bug here -

`create()` should check the write connection.

Replica lag means that you will never be 100% correct when checking if a record exists if you check the read connection.

[2019-07-23 18:00] niden commented on #14256
@david-duncan good catch

[2019-07-24 02:35] huang-winter-snow commented on #14244
@stamster  this is session library code
$di->setShared('session', function() use ($config) {

    $memcache = $config->toArray()['memcache'];
    session_set_cookie_params($memcache['expiration'], '/', '.' . $config['site']['subdomain']);

    $session = new \Phalcon\Session\Adapter\Libmemcached(array(
        'uniqueId' => 'hg_session',
        'servers' => array(
            array('host' => $mem

[2019-07-24 10:33] sverdier commented on #11879
@sergeyklay I have this bug on Phalcon 3.4.4

[2019-07-24 12:48] ruudboon opened #14257 "[NFR] Alpine package"
Alpine Linux is a security-oriented, lightweight Linux distribution based on musl libc and busybox with the focus on small, simple & secure and often used as docker base image.

I think this strokes with the Phalcon mindset and it would be great if we can publish an Alpine package also.

See also:
https://wiki.alpinelinux.org/wiki/Creating_an_Alpine_package

[2019-07-24 12:51] sergeyklay commented on #14257
Close in favor of https://github.com/phalcongelist/packagecloud/issues/41

[2019-07-24 12:51] #14257 closed

[2019-07-24 13:40] ruudboon opened #14258 "Unable to install package: php7.3-phalcon : Depends: phpapi-20180731"
When installing Phalcon from the mainline under Debian using the following flow. Phalcon fails to install with the error message:
[code]
This behaviour is reproducible using the following steps (docker required)
[code]
If the /etc/apt/preferences.d/no-debian-php file isn't removed the package cannot be found at all.

[2019-07-24 14:37] ruudboon commented on #14258
@sergeyklay Can you explain the label? Is this something I'm doing wrong, otherwise we can close this.

[2019-07-24 14:40] sergeyklay commented on #14258
Any PHP package in Debian based systems requires a `phpapi-*` package. Let's look at `php-memcached` package for instance:

[code]

So _in this_ test we see that `php-memcached` requires `phpapi-20151012`.

Every time when you install a package using a package manager, it looks for the dependencies installed with the package manager (i.e. `apt-get install ...`, `dpkg -i ...`, etc). If these depend

[2019-07-24 14:43] Jurigag commented on #14258
https://github.com/docker-library/php/blob/master/7.3/stretch/cli/Dockerfile This image as you can see is build from source.

[2019-07-24 14:43] ruudboon commented on #14258
I see, thnx for the explanation. Let's close this. And will try to add a note in the docs.

[2019-07-24 14:43] #14258 closed

[2019-07-24 18:48] zsilbi opened #14260 "Travis build error during mysql-server install"
It fails to install  `mysql-server`, so all the new CI builds fail.
See: https://github.com/phalcon/cphalcon/pull/14259

[code]
https://travis-ci.org/phalcon/cphalcon/builds/563215912

[2019-07-25 05:25] sergeyklay commented on #14260
It is weird that file called install-mysql-5.7.sh tries to install mysql 5.5. @SidRoberts Any idea?

[2019-07-25 14:26] diplopito opened #14263 "[4.0.0-beta.1] Error: Class 'Phalcon\Logger' not found"
### Expected and Actual Behavior

Expected: Use Phalcon\Logger to log a message.
Actual Behavior: Error: Class 'Phalcon\Logger' not found

Can be reproduced using the code in the documentation (and replacing the proper path for the log):

[code]

### Error in Windows:
Fatal error: Uncaught Error: Class 'Phalcon\Logger' not found in D:\xampp\htdocs\phalcon\logger.php:7 Stack trace: #0 {main} thrown

[2019-07-25 14:50] diplopito commented on #14263
Current class is `Phalcon\Logger\Logger`; will be replaced by `Phalcon\Logger` in next Beta.

[2019-07-27 10:53] ruudboon opened #14264 "[NFR] Add constants to Phalcon\Http\Response"
In the incubator we have a list of http statuscodes declared as class constants.
https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Http/Response/StatusCode.php
Can we integrate these constants in v4? We already have some kind of constant list here.
https://github.com/phalcon/cphalcon/blob/a0b25edcfc143b780ec69d5b92cae9c0c37c1987/phalcon/Http/Response.zep#L701

[2019-07-27 12:01] sergeyklay commented on #14264
https://github.com/phalcon/cphalcon/pull/14033#issuecomment-488651127

[2019-07-27 14:17] ruudboon commented on #14264
Thnx @sergeyklay for clarifying this. I will keep it in the incubator.

[2019-07-27 14:17] #14264 closed

[2019-07-28 06:42] pz9042 commented on #14245
thanks to your answer

[2019-07-28 16:33] zz commented on #13364
Beanstalkd just released 1.11
https://github.com/beanstalkd/beanstalkd/releases/tag/v1.11

[2019-07-29 02:55] SidRoberts commented on #14260
I have no idea but I had a similar problem a while back though. The official builds would run fine on Travis but mine would fail - interestingly because of this MySQL script. The problem was because Travis was using different Ubuntu versions. I fixed this in https://github.com/phalcon/cphalcon/pull/14189 by specifying trusty.

It's interesting to note that on this commit, the Phalcon build passed

[2019-07-29 07:25] ZhangRuiMingZRM opened #14265 "Phalcon\Session\Adapter\Stream wrong open save path"
* Phalcon version: `4.0.0-beta.1`
* PHP Version: `7.3.6`
* Operating System: ubuntu
* Installation type: Compiling from source
* Server: php web server

When running the following code and get this:
[code]
[code]
This may be due to the `public function open(var savePath, var sessionName)` in the `phalcon/phalcon/Session/Adapter/Stream.zep`
https://github.com/phalcon/cphalcon/blob/4173bca9b85b4b7e3

[2019-07-29 08:09] wolinyy opened #14266 "win10 php7.1 Unable to load dynamic library php_phalcon.dll"
I tried multiple versions of the dll file and found that the latest available version is 3.3.2.

3.4.x cannot be used.

The number of files in the 3.3.2 and 3.4.x zip package is different.
Has the compiled environment changed?

![image](https://user-images.githubusercontent.com/10389509/62032021-3d129580-b21b-11e9-933a-09a4f56d8d86.png)

[2019-07-29 08:50] ruudboon commented on #14266
@wolinyy Can you tell me the exact version you took? I only see zip files with a php_phalcon.dll and a LICENSE.txt
I assume you need Phalcon for PHP 7.1 & NTS. Do you need x86 or x64?

[2019-07-29 08:57] ruudboon commented on #14250
After the v4 upgrade of the incubator I'm planning to add an mssql adapter to the incubator. Already did some stuff with mssql in docker before and it works ok for developing and testing.

[2019-07-29 09:09] wolinyy commented on #14266
Yes I need PHP 7.1 & NTS & x86 for win10

phalcon_x86_vc14_php7.1.0_3.3.2_nts.zip has 2 files
phalcon_x86_vc14_php7.0_3.4.0-1656_nts.zip has 16 files

I test 3.3.2 and 3.2.0, is OK。
but 3.4.0， 3.4.1，3.4.2,3.4.4，can not work：php -m Unable to load dynamic library ，but phpinfo can find phalcon module。

I guess the php_phalcon.dll build environment has changed since 3.4.0.

![image](https://user-image

[2019-07-29 09:22] ruudboon commented on #14266
Looks like you took the wrong php version. You downloaded 7.0 instead of 7.1.
Can you try https://github.com/phalcon/cphalcon/releases/download/v3.4.4/phalcon_x86_vc14_php7.1_3.4.4_nts.zip

[2019-07-29 13:52] bugreporter001 commented on #14020
请教一下如何更换phalcon自带的zephir？

找了cphalcon3.4.4目录下的文件，只找到build/php7/64bits目录下有phalcon.zep.c和phalcon.zep.h，但是这两个文件是自动生成的。

问题：
1.是否只更换phalcon.zep.c和phalcon.zep.h即可
2.如何生成phalcon.zep.c和phalcon.zep.h这两个文件

感谢

[2019-07-29 20:29] sergeyklay commented on #14020
@bugreporter001

[code]

[2019-07-30 02:31] wolinyy commented on #14266
Sorry, I have cut the wrong picture.
In fact, I can switch the version of php locally,
I tried both 7.1 and 7.0, 3.4.x will not work,
and later I tried php7.1 3.2.0 and 3.3.2.
There is no problem with the version of php

![image](https://user-images.githubusercontent.com/10389509/62096071-025d3b80-b2b5-11e9-9216-7114625e8bdf.png)

[2019-07-30 02:43] wolinyy commented on #14266
![image](https://user-images.githubusercontent.com/10389509/62096193-6849c300-b2b5-11e9-9ba4-3c59b258ca4d.png)

![image](https://user-images.githubusercontent.com/10389509/62096638-e490d600-b2b6-11e9-9e42-55f0066486e9.png)

[2019-07-30 02:47] wolinyy commented on #14266
![image](https://user-images.githubusercontent.com/10389509/62096763-5cf79700-b2b7-11e9-9245-db4f3bb5856f.png)

When reporting an error, the version of php_phalcon.dll is 3.4.2.

[2019-07-30 04:00] SidRoberts commented on #14260
Just to provide an update to this, I'm currently working on changing the Ubuntu version used in Travis to 18.04 (bionic). We're currently using 14.04 (trusty) which is woefully outdated and I suspect might be causing some of these problems. It's not complete yet but should be finished today.

[2019-07-30 05:28] CameronHall commented on #14266
Can you delete the zip files you've already downloaded and any of the extracted contents. Then remove any existing php_phalcon.dll (except your backup of 3.3.2) from the `ext` directory and reinstall using ones of the links below?

- PHP 7.1 x86 NTS [use this version](https://github.com/phalcon/cphalcon/releases/download/v3.4.4/phalcon_x86_vc14_php7.1_3.4.4_nts.zip)
- PHP 7.0 x86 NTS [use this ver

[2019-07-30 11:13] wolinyy commented on #14266
![image](https://user-images.githubusercontent.com/10389509/62124470-e7161e80-b2fc-11e9-8b24-0ec4a9c7ab62.png)

My configuration is definitely no problem.
As shown, the cli mode php_phalcon can't be found, but nginx+php prints phpinfo() but can see it.

I was using the win10 system for the first time. This system is installed on a remote virtual system. I suspect there are certain reasons for this

[2019-07-30 15:10] Jeckerson commented on #14020
@bugreporter001 show your code here `/opt/web/App/Mvc/Router.php on line 216`

[2019-07-30 15:26] bugreporter001 commented on #14020
/**
     * 创建路由
     * @param string $pattern
     * @param null $paths
     * @param null $httpMethods
     * @param int|mixed $position
     * @return $this
     */
    public function add($pattern, $paths = null, $httpMethods = null, $position = Router::POSITION_LAST) {

[2019-07-30 15:37] Jeckerson commented on #14020
Change it to:
[code]

[2019-07-30 22:49] CameronHall commented on #14266
Sounds like it's working on Windows

Help us, help you. Do what I've asked, then report back.

Thanks :)

[2019-07-31 00:39] wolinyy commented on #14266
win10 PHP 7.1.13 (cli) (built: Jan  3 2018 20:14:59) ( NTS MSVC14 (Visual C++ 2015) x86 )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-2017 Zend Technologies

PHP 7.0 x86 NTS not work.
PHP 7.1 x86 NTS php cli not work，nginx+php work Ok. Just like the screenshot above.

Win10 is my working environment, The screenshots above are all in win10.

![image](https://user-im

[2019-07-31 03:01] bugreporter001 commented on #14020
**I mean zephir lost the default value**
    /**
    * Adds a route to the router without any HTTP constraint
    *
    *<code>

     * use Phalcon\Mvc\Router;
     *
     * $router->add("/about", "About::index");
     * $router->add("/about", "About::index", ["GET", "POST"]);
     * $router->add("/about", "About::index", ["GET", "POST"], Router::POSITION_FIRST);
     *</code>
     */
    public f

[2019-07-31 04:18] zuozhehao opened #14269 ""$this->eventsManager" return null"
phalcon 4

I found that "protected event manager" would affect the magic method _get to get "eventsManager" when I did not use "setEventsManager"

https://github.com/phalcon/cphalcon/blob/4173bca9b85b4b7e3493146036ed91b977dff390/phalcon/Di/Injectable.zep#L60-L82

[2019-07-31 04:28] CameronHall commented on #14269
In which case we will need to add the `__isset` magic method to catch that. @niden

[2019-07-31 05:08] sergeyklay commented on #14260
Fixed in the `4.0.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2019-07-31 05:08] #14260 closed

[2019-07-31 06:34] niden commented on #14269
Sorry I do not understand the issue. The code is identical to v3 meaning `eventsManager` is protected

What are you trying to do?

[2019-07-31 06:47] niden commented on #14269
Never mind @CameronHall explained it

[2019-07-31 13:15] gwijnja opened #14270 "Related models not saved when querying them first"
* Phalcon version: 3.4.4
* PHP Version: 7.2.19
* Operating System: CentOS 7
* Installation type: installing via package manager
* Server: Apache, but also on the command line
* Other related info (Database, table schema): MySQL 5.7.27

I'm opening this issue/bug report on request in this topic: https://forum.phalconphp.com/discussion/19903/robot-parts-not-updated-after-querying-parts-first

Please

[2019-07-31 13:54] CameronHall commented on #14266
I've just tested this on my own Windows PC. I can't reproduce the issue, I downloaded a fresh copy of PHP 7.1.31 (x86) NTS and installed the extension.

I did have an issue where PHP was trying to read the extensions from another directory which can be seen in my console output below. This was remedied by updating the `php.ini` entry to;

[code]

[code]

I'm very confident this is a configuration

[2019-07-31 16:33] diplopito opened #14272 "Error using InjectionAwareInterface"
When implementing `InjectionAwareInterface`, the Di should be loaded without any issues. The following example works as expected in v3.4.4 (prints "Hello World") but not in v4.0-beta.1

Error message in v4:

[code]

File `test.php`:

[code]
File `MyClass.php`

[code]

### Details

* Phalcon version: 4.0-beta.1
* PHP Version: 7.2
* Operating System: Ubuntu 18.04 & Windows 10
* Installation type: Vi

[2019-07-31 19:40] ruudboon commented on #14270
I think this issue is also happening in V4.

[2019-07-31 20:39] olegatro opened #14273 "[NFR] regex for Validator/Files allowedTypes"
for example
[code]

[2019-08-02 06:40] diplopito commented on #14266
I use Xampp and I always install the thread safe version. Running 3.4.4 without any issues. Have you given it a try?

[2019-08-02 08:04] Nialld commented on #12955
@nevernet sorry missed your question, can i see your config... i had to set this in both the session cache section and also the general cache section of my config... i have one config for storing session data and one for general data caching, after i set this option the problem stopped happening for me

[2019-08-02 11:14] diplopito commented on #14266
Just tested PHP 7.3 nts x64 with Phalcon 3.4.4:

[code]

Please check your `extension_dir` in php.ini and see that it is properly configured with the ext path where you installed Phalcon.

[2019-08-02 11:22] diplopito commented on #14266
And with 7.1 x64 NTS:

[code]

With `extension_dir = "d:\php71\ext"` and `extension=php_phalcon` in `php.ini`

[2019-08-03 06:32] ruudboon commented on #14266
@wolinyy Did you make any progress with the examples above? If this is solved please close the issue.

[2019-08-03 08:23] ruudboon commented on #14256
Maybe we could set operationMade to OP_CREATE in the create method before calling save and skip the check if it's already defined?

[2019-08-03 13:40] ruudboon commented on #14245
Can we close this?

[2019-08-03 13:49] #14245 closed

[2019-08-04 15:22] alex-aff opened #14281 "RedisEngine setTimeout has deprecated"
`setTimeout` function of Redis has deprecated so it should be replaced by `expire` function.
right now it is throwing following exception.

[code]

https://github.com/phpredis/phpredis/pull/1572

* PHP Version: >7.0
* Redis Version: >5.0.0

[2019-08-04 16:38] rigin opened #14282 "Error when compiling from source Phalcon on Linux raspberrypi PHP 7.3.4-2"
### Expected and Actual Behavior

When compiling Phalcon v3.4.4 and v4.0.0.beta.1, the zephir v0.12.0 on  Linux raspberrypi 4.19.58-v7+   armv7l PHP Version 7.3.4-2

Console in sudo mode

*****************************************
\# git clone https://github.com/phalcon/cphalcon
\# cd cphalcon/
\# git checkout tags/v4.0.0-beta.1, ./
or
\# git checkout tags/v3.4.4 ./
\# zephir fullclean
\# zephir bu

[2019-08-04 19:43] #14282 closed

[2019-08-04 19:50] ruudboon commented on #14282
@rigin Can you add your solution here? Maybe it can help somebody

[2019-08-05 06:31] StudioMaX commented on #13919
I always hated the Content-Disposition header. The current implementation in Phalcon is suitable for the simplest cases - when the filename is without any encodings and spaces, like filename.txt. For more complex file names each browser will react differently. Just look at this Test case: http://test.greenbytes.de/tech/tc2231/
Personally I use something like this:
[code]
Fortunately, Internet Expl

[2019-08-05 09:54] diplopito commented on #14272
Fixed by adding type hinting in `public function getDi()`:

[code]

[2019-08-05 09:54] #14272 closed

[2019-08-06 10:14] mehdi-zarrin opened #14285 "generating migration for postgres does not add primary key"
When generating a migration for a table in PostgreSql database the output is like this for the id primary key:
`new Index('users_pkey', ['id'], null)`
which should be
`new Index('users_pkey', ['id'], 'PRIMARY KEY')`

I believe this is because of this line:
[https://github.com/phalcon/cphalcon/blob/a0b25edcfc143b780ec69d5b92cae9c0c37c1987/phalcon/Db/Dialect/Postgresql.zep#L93](url)

PostgreSQL vers

[2019-08-06 10:42] rigin commented on #14282
I figured out the reasons for the error. I ran the installer for version 4.0.0, even though I copied version 3.4.4 from the repository.

\$ sudo -s

\# git clone https://github.com/phalcon/cphalcon

\# cd cphalcon/

\# git checkout tags/v3.4.4 ./

\# zephir fullclean

\# zephir build

But it had to be done:

\$ sudo -s

\# git clone https://github.com/phalcon/cphalcon

\# cd cphalcon/

\# git chec

[2019-08-06 10:59] liaoqiArno opened #14286 "I install cphalcon error"
My os is  CentOS Linux release 7.4.1708 (Core)
PHP:PHP 7.1.13

add "extension=phalcon.so" to php.ini
  start php /app/soft/php71/sbin/php-fpm
then:
[code]
what's happend?

[2019-08-06 11:54] ismailatkurt opened #14287 "It is not possible to install phalcon on MAC environment with PHP 7.0, phalcon/devtools 3.2.0"
hi there

I am trying to install phalcon/devtools 3.2.0 on MAC with PHP 7.0. Brew is not supporting it for a while so I dont have that option anymore. Macports is not helping neither. Now there is something else; new homebrew repo under "tigerstrikemedia/homebrew-phalconphp" which again not helping. For god sake can someone please add a phrase saying you cannot use phalcon on mac :)) or someone he

[2019-08-06 13:48] Jeckerson commented on #14285
How do you generate migration?

[2019-08-06 13:53] bvbilsen opened #14288 "Syntax error, unexpected token SET in Volt"
E.g. to set a cookie in my application I use the following code in a Volt template file:

`{{ cookie().set('key', 'value') }}`

**cookie()** is a Macro added to the compiler, returning an instance of a Cookie helper class.
This wil result in the following error:

I understand that set is kind of a reserved word, but the use here is not to **set** a variable, just to call a function **set()** on th

[2019-08-06 13:55] mehdi-zarrin commented on #14285
using phalcon dev tools.
`phalcon migration generate`

[2019-08-06 14:06] Jeckerson commented on #14285
And what phalcon version?

[2019-08-06 14:28] Jeckerson commented on #14288
Well, executing logic of setting cookies doesn't make big sense. Because you can execute that type of logic inside controller (for example).

Second, you can create a function (not macro), for specific case to set cookie, ex: `set_cookie($key, $val)`.

But, lastly, your request make sense... Because parser need to check if there are something before `SET` or `IS`

[2019-08-06 18:13] sergeyklay commented on #14286
@liaoqiArno Which Phalcon version do you use?

[2019-08-06 18:39] bvbilsen commented on #14288
Thank you for your reply. Setting the cookie might usually be done in the controller, but the views are customer specific, the controller is not. Setting the cookie is more of a temporary solution for a specific customer :)

A function could indeed be used, though while testing stuff I ran into this issue, and used it as an example. It might as well been other logic, and the `is` would probably se

[2019-08-06 20:11] AlexNDRmac commented on #14287
Hi @ismailatkurt, I'll try to write instruction with detailed installation steps. But I need some time for this. Can you wait for this guide?

[2019-08-06 22:41] sergeyklay commented on #14285
As a far as I know it should work ok https://github.com/phalcon/cphalcon/blob/master/tests/integration/Db/Dialect/Postgresql/AddPrimaryKeyCest.php

[2019-08-07 01:03] liaoqiArno commented on #14286
hello, I use swoole-4.4.2.

[2019-08-07 02:02] CameronHall commented on #14286
@liaoqiArno can you please provide the output of `php --ri phalcon` and your Zephir version?

[2019-08-07 02:06] CameronHall commented on #14287
@ismailatkurt while @AlexNDRmac is writing a guide I suggest you use something like [Devilbox](http://devilbox.org/) it's a pre-configured docker environment which has Phalcon pre-installed. It also saves you bloating your host with all the dependencies. If you decide to use it and have any issues, ping me on Discord.

[2019-08-07 02:16] liaoqiArno commented on #14286
php --ri phalcon:
`PHP Fatal error:  Declaration of Phalcon\Http\Message\RequestFactory::createRequest($method, $uri): Psr\Http\Message\RequestInterface must be compatible with Psr\Http\Message\RequestFactoryInterface::createRequest(string $method, $uri): Psr\Http\Message\RequestInterface in Unknown on line 0

Fatal error: Declaration of Phalcon\Http\Message\RequestFactory::createRequest($method,

[2019-08-07 02:28] CameronHall commented on #14286
I recommend you regenerate the build files and try again. I can't remember the exact commands though @sergeyklay can correct me. I think it's;

[code]

[2019-08-07 02:31] CameronHall commented on #14281
We don't use `setTimeout` anywhere so this should be okay to close.

[2019-08-07 02:35] liaoqiArno commented on #14286
sorry...I can't find the commamd 'zephir'. How can I do?

[2019-08-07 02:36] CameronHall commented on #14269
It's worth considering removing the `eventsManager` property from the `DI` altogether alongside the `setEventsManager` method altogether. Considering no one has noticed (until now) that it hasn't been an issue, there should be minimal impact (if any).

[2019-08-07 02:39] CameronHall commented on #14286
https://docs.zephir-lang.com/0.12/en/installation

[2019-08-07 03:22] liaoqiArno commented on #14286
I  just learned zephir to install phalcon. But  I use phpize to install it, Don't have any error before add "extension=phalcon.so"  to php.ini.

[2019-08-07 03:59] liaoqiArno commented on #14286
Thank you very much. I resolved it , I use 3.3.x dont have this error!!!

[2019-08-07 03:59] #14286 closed

[2019-08-07 05:35] sergeyklay commented on #14281
Fixed in the `4.0.x` branch: https://github.com/phalcon/cphalcon/pull/14284. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2019-08-07 05:35] #14281 closed

[2019-08-07 07:13] alex-aff commented on #14281
@sergeyklay understood . However version `v3.4.4` still uses `setTimeout()`. Shouldn't we fix it for that version?
https://github.com/phalcon/cphalcon/blob/3.4.x/phalcon/cache/backend/redis.zep#L261

[2019-08-07 08:15] ismailatkurt commented on #14287
hey, thanks for your support! I will check Devilbox meanwhile. We (company, I work for) are using Phalcon in 2 of our projects and these 2 projects have heavy load traffic. So we can wait for the guide since it is crucial for us but not crazy urgent. I believe we will have no problem if we would upgrade php version on our servers but that's not up to me. Anyway thanks for fast responses!

[2019-08-07 09:08] ruudboon commented on #14270
@gwijnja do you have the possibility to test this under v4-beta.1 ?

[2019-08-07 09:15] ruudboon commented on #14254
I think we can close this one. In v5 this will change.

[2019-08-07 11:26] CameronHall commented on #14269
@zuozhehao can you please provide a code sample?

[2019-08-07 19:18] sergeyklay commented on #14287
Let me a try:

Is it works for you (?):

[code]

[2019-08-08 04:52] ruudboon commented on #14285
Can we move this issue to the [devtools](https://github.com/phalcon/phalcon-devtools)?

[2019-08-08 05:17] #14254 closed

[2019-08-08 05:49] zuozhehao commented on #14269
[code]

@CameronHall

[2019-08-08 06:06] CameronHall commented on #14269
@zuozhehao how do you populate your Di? With `FactoryDefault`?

[2019-08-08 07:00] zuozhehao commented on #14269
@CameronHall yes, `Phalcon\Di\FactoryDefault`

[2019-08-08 07:09] CameronHall commented on #14269
Thanks @zuozhehao I'll take a look.

[2019-08-08 10:33] gytsen opened #14291 "[Resultset::update] returned value is always true regardless of transaction failure"
### Expected and Actual Behavior

As described in [this forum post](https://forum.phalconphp.com/discussion/19925/question-about-resultsetupdates-return-value) I have a `ResultSet` returned from a simple `Model::find()`.
I then attempt to update the returned records [as recommended by the docs](https://docs.phalconphp.com/3.4/en/db-models-relationships#updating-related-records) when operating on R

[2019-08-08 13:41] ruudboon commented on #14291
@gytsen Thank you for reporting Joost. If pull get's accepted it should be fixed in the beta.2 release.

[2019-08-08 14:28] gytsen commented on #14291
That's awesome! Thank you very much for fixing this!

[2019-08-08 20:27] sergeyklay commented on #14291
Fixed in the `4.0.x` branch. Thank you for the bug report.

[2019-08-08 20:27] #14291 closed

[2019-08-08 20:28] sergeyklay commented on #14246
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2019-08-08 20:28] #14246 closed

[2019-08-08 20:38] Laxilef opened #14293 "Return type error in Phalcon\Application\AbstractApplication"
All methods of the class **Phalcon\Application\AbstractApplication** return the type **Application** instead of **AbstractApplication** / self / ApplicationInterface:

[code]
[Example](https://github.com/phalcon/cphalcon/blob/4.0.x/phalcon/Application/AbstractApplication.zep#L117)

Errors:
`Fatal error: Declaration of App\Library\Mvc\Application::registerModules(array $modules, bool $merge = false

[2019-08-08 20:45] Jeckerson commented on #14293
Hi

Can you show your code where it happens?

[2019-08-08 21:47] Laxilef commented on #14293
@Jeckerson, of course
[code]

p.s. I experimented with these return types:

- Application/this/self
- Phalcon\Application\AbstractApplication
- Phalcon\Application\Application (but this class does not exist. But php asks so)

p.s.s. Also i tried:
[code]

[2019-08-09 01:23] jesugmz commented on #14281
Same issue here for v3.4.4 and PhpRedis 5.0.2.
As v3.4.4 is the recomended version in https://phalconphp.com/en/ you should reconsider to reopen this issue @sergeyklay.

[2019-08-09 11:42] Laxilef opened #14295 "Di::get() overwrites Di container in instances before return"
Hello.

During development, I noticed the strange behavior of phalcon when using Di inside Di.

If you use Di inside Di like this:
[code]

That in the returned instance Application container will contain the parent Di.
A study of the source showed this:
[code]
[Link](https://github.com/phalcon/cphalcon/blob/4.0.x/phalcon/Di.zep#L229)

The Di::get() method sets container even if it already exists.

[2019-08-09 16:02] Laxilef commented on #14295
Working and tested code:
[code]
php:
[code]

Method code in php:
[code]

[2019-08-09 18:10] Laxilef commented on #14295
Sorry.
This will not work: many Di::getDefault() in the Phalcon source code.

p.s. Only if the code is completely ugly:
[code]

Maybe there are other methods for implementing nested Di for different Applications?

[2019-08-11 10:44] Jeckerson commented on #14293
Add use of `Phalcon\Application\Application`

For example:
[code]

[2019-08-11 23:00] 41646F6C666F commented on #13320
I'm working with bigints and get some issues on updates too.

[2019-08-12 12:05] AlexNDRmac commented on #14287
# Pre-checks

First, check if you already have Zephir Parser extension
[code]

Install Required tools to build Zephir parser from sources:
Mac OSX already have `make` and `gcc`, so we should install only `re2c`, `autoconf`, `automake` with Brew
[code]

Lets test it into separate directory, for example: ~/phalcon_32x, create this dir or use another path.

## Install Zephir Parser, if you don't have

[2019-08-13 23:30] Laxilef commented on #14293
@Jeckerson  Uncaught TypeError: Return value of App\Library\Mvc\Application::registerModules() must be an instance of Phalcon\Application\Application, instance of App\Library\Mvc\Application returned

[2019-08-13 23:50] niden commented on #14293
Thanks @Laxilef We will sort this out.

[2019-08-14 17:55] sergeyklay commented on #14293
Fixed in the `4.0.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2019-08-14 17:55] #14293 closed

[2019-08-14 17:59] sergeyklay commented on #14295
@Laxilef Could you send a patch?

[2019-08-15 00:58] Laxilef commented on #14295
@sergeyklay I think that this is impossible. The current Phalcon architecture implies a single Di container due to static method calls. For example, Phalcon\Mvc\Model::find() calls Phalcon\Mvc\Model::getPreparedQuery(), which calls Di::getDefault():
[code]

This could be solved using the setDi() static methods, which sets Di to _static protected $container_, but this will affect all calls to this

[2019-08-15 01:10] niden commented on #14295
@Laxilef Actually you stepped on Pandora's box. I have spent a great amount of hours trying to _fix_ the DI container, looking towards a PSR-11 implementation. I was unsuccessful because of all the `Di::getDefault()` calls around the components.

In 4.1 and further I was going to slowly implement a PSR-11 container which would be much more flexible and offer everything we need including lazy loadi

[2019-08-15 02:32] Laxilef commented on #14295
@niden Thank you for the answer!
We will wait for the implementation of this functionality :)

[2019-08-15 12:29] lajosbencz commented on #11997
I encountered the same issue:

[code]

The resulting image has black background where it was transparent before.

Versions:
- PHP 7.2.16-1+ubuntu16.04.1+deb.sury.org+1 (cli) (built: Mar  7 2019 20:23:06) ( NTS )
- Phalcon 3.4.3 Feb 25 2019 18:53:06
- Zephir 0.10.14-975ad02db4

[2019-08-15 13:18] ruudboon opened #14299 "Segfault when passing non builder object in to Phalcon\Paginator\Adapter\QueryBuilder"
### Expected and Actual Behavior
Exception when passing in wrong object. Currently results in Segfault

[code]

### Details

* Phalcon version: 4.0.0-beta.1
* PHP Version: 7.3.7
* Operating System: Alpine
* Installation type: Compiling from source)

[2019-08-15 16:29] sergeyklay commented on #14299
Fixed in the `4.0.x` branch. Thank you for contributing!

[2019-08-15 16:30] #14299 closed

[2019-08-16 06:12] ZhangRuiMingZRM opened #14301 "Str::includes return unexpected result"
* Phalcon version: `4.0.0-beta.1`
* PHP Version: `7.3.6`
* Operating System: ubuntu
* Installation type: Compiling from source
* Server: php web server

In the code example
https://docs.phalconphp.com/4.0/en/helper#includes
[code]
Result expect `true` but ` false`  given

Because `strpos()` or `mb_strpos` may return Boolean FALSE, but may also return a non-Boolean value which evaluates to FALSE

h

[2019-08-16 15:24] ruudboon opened #14303 "Division by zero when limit=0 in Paginator"
When setting limit to < 1 on Paginator\Adapter\QueryBuilder  a division by zero occurs.
Input should be checked to be > 0.

Phalcon 4.0.0-beta.1

Expecting an exception when setting incorrect parameters

[2019-08-16 16:55] TimurFlush opened #14304 "PHQL Bug (critical)"
Hello.

I get a bug with PHQL in Phalcon 3.4

My code:
[code]

And on $query->execute() I'm catching the next error:
[code]

[2019-08-18 18:25] ruudboon commented on #14304
Phalcon PHQL does not support subqueries right now. You can use left/right/inner joins or raw queries on the db adapter you're using.

[2019-08-18 19:57] #13664 closed

[2019-08-18 21:23] olegatro opened #14308 "[NFR] validation :field should use translation pattern %field%"
and other ":min" ":max"

[2019-08-18 22:37] olegatro opened #14309 "[NFR] add setStreamToSend for response class"

[2019-08-19 04:04] ZhangRuiMingZRM opened #14310 "Why store the session in redis use redis data type `string` instead of `Hashes`"
I think [hashes]((https://redis.io/commands#hash)) are more suitable for storing sessions, and the structure of the session is more similar to `hashes` instead of `string`
### Use hashes to store the session:
- Don't need to serialize data every time you `set` or `get` it.
- Don't need get all seesion values when you want to get a specific key

[2019-08-19 05:00] ruudboon commented on #14309
Can you explain this a bit more?

[2019-08-19 05:03] ruudboon commented on #14287
@ismailatkurt did the comments above helped you out?

[2019-08-19 07:58] zsilbi commented on #14270
@ruudboon, I think I've already fixed this issue for v4 in #14035.
There were caching issues, where the queried records and relations were stored along the new ones.

[2019-08-19 08:38] olegatro commented on #14309
Right now we have method `setFileToSend` (https://github.com/phalcon/cphalcon/blob/master/phalcon/Http/Response.zep#L546).

But we don`t have method for output file as a stream data

[code]

[2019-08-19 09:39] olegatro commented on #14309
Perhaps not relevant (https://github.com/phalcon/cphalcon/pull/13885)

[2019-08-19 09:49] diplopito commented on #14295
Out of curiosity: which is the benefit of using this declaration rather than the standard one, i.e.:

[code]
Why declaring a new Di inside the Di?

[2019-08-19 10:16] sergeyklay commented on #14301
Fixed in the `4.0.x` branch. Feel free to open a new issue if the problem appears again. Thank you for contributing.

[2019-08-19 10:16] #14301 closed

[2019-08-19 10:17] #14266 closed

[2019-08-19 10:17] #14183 closed

[2019-08-19 10:22] sergeyklay commented on #14304
At the moment, there is very limited support for subqueries, and apparently your example is not included in this subset. I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2019-08-19 10:22] #14304 closed

[2019-08-19 10:34] ruudboon commented on #14263
Looks like this isn't fixed in the beta.2 release

[2019-08-19 12:25] diplopito opened #14311 "[4.0.0-beta.2] Error: Class 'Phalcon\Db' not found"
### Expected and Actual Behavior
When trying to use `Phalcon\Db` a fatal error occurs: `Fatal error: Uncaught Error: Class 'Phalcon\Db' not found`.

Sample code:
[code]
Expected result: `2`

A workaround is to use `Phalcon\Db\Enum`, but since the Db statics are so widely used, it might be better to stick to Db::FETCH_ASSOC and not to `Db\Enum::FETCH_ASSOC` --same can be said for `Phalcon\Db`

###

[2019-08-19 13:34] niden commented on #14311
`Phalcon\Db` has been removed. Its functionality has been split into:

`Phalcon\Db\AbstractDb` for necessary methods
`Phalcon\Db\Enum` for the constants.

So all you need is

[code]

[2019-08-19 14:06] olegatro commented on #14216
`allowEmpty` by default `false` (https://github.com/phalcon/cphalcon/blob/3.4.x/phalcon/validation.zep#L592) and should be used for setting to `true` or `array`

Alpha validation use preg_match `preg_match("/[^[:alpha:]]/imu", value)`, try set value as empty string or null. (https://github.com/phalcon/cphalcon/blob/3.4.x/phalcon/validation/validator/alpha.zep#L73)

Different validation types can h

[2019-08-19 16:58] diplopito commented on #14311
Ok Nikos, thank you, I'll update the upgrade file.

[2019-08-19 16:58] #14311 closed

[2019-08-19 19:32] sergeyklay commented on #14263
Fixed in the `4.0.x` branch. Feel free to open a new issue if the problem appears again. Thank you the bug report.

[2019-08-19 19:32] #14263 closed

[2019-08-19 21:42] sergeyklay commented on #14216
We only accept bug reports, new feature requests and pull requests in GitHub. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com).

[2019-08-19 21:42] #14216 closed

[2019-08-19 21:48] sergeyklay commented on #14253
@ronald677br Could you please provide script to reproduce and table schema (if possibe)?

[2019-08-20 02:37] Laxilef commented on #14295
@diplopito Almost the same as namespace.
I wrote an extension for Di to access the parent Di. It looks something like this:

[code]

Advantages: app has access to cli, cli has access to app. Each service can redefine within itself any service that exists in parentDi.

[2019-08-20 03:24] ZhangRuiMingZRM opened #14314 "session_start(): Failed to read session data: user (path: )"
* Phalcon version: `4.0.0`
* PHP Version: `7.3.6`
* Operating System: ubuntu
* Installation type: Compiling from source
* Server: php web server

[code]
I got this

[code]

That is because [`SessionHandlerInterface::read`](https://www.php.net/manual/en/sessionhandlerinterface.read.php) expect `string` as return value but actually return `null`

https://github.com/phalcon/cphalcon/blob/3d76cdaee589

[2019-08-20 06:04] ruudboon commented on #14314
Thank for reporting. Do you have time to open a pull for this? Otherwise I can do this.

[2019-08-20 06:11] ZhangRuiMingZRM commented on #14314
Very pleased to do it

[2019-08-20 06:23] ruudboon commented on #14314
Thnx!

[2019-08-20 06:40] diplopito commented on #14295
Thank you @Laxilef

[2019-08-20 08:07] ruudboon commented on #14270
Looks like it's fixed in v4 indeed.

[2019-08-20 08:07] #14270 closed

[2019-08-20 08:31] ruudboon commented on #13474
@emiliodeg I see this was never assigned to you. I will assign it now. Hopefully you have some time to look into this. Thnx

[2019-08-20 23:12] sergeyklay commented on #14314
Fixed in the `4.0.x` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2019-08-20 23:12] #14314 closed

[2019-08-21 08:25] ruudboon opened #14316 "v4 Docs"
For the release of v4 the documentation need to be aligned.
The status of the rewriting can be tracked [here](https://github.com/phalcon/docs/issues/2322)

To get a good overview what is left for the release of v4 we keep this issue open until the parent issue is fixed.

[2019-08-21 08:32] ruudboon opened #14317 "Upgrade Vokuro to v4"
Progress will be tracked [here](https://github.com/phalcon/vokuro/projects/1)

To get a good overview what is left for the release of v4 we keep this issue open until the parent issue is fixed.

[2019-08-21 08:40] ruudboon opened #14318 "Upgrade Invo to v4"
Progress will be tracked [here](https://github.com/phalcon/invo/issues/76)

To get a good overview what is left for the release of v4 we keep this issue open until the parent issue is fixed.

[2019-08-21 08:47] ruudboon opened #14319 "Upgrade Incubator to v4"
Progress will be tracked [here](https://github.com/phalcon/incubator/issues/911)

To get a good overview what is left for the release of v4 we keep this issue open until the parent issue is fixed.

[2019-08-21 08:52] ruudboon opened #14320 "Upgrade Forum to v4"
Progress will be tracked [here](https://github.com/phalcon/forum/issues/555)

To get a good overview what is left for the release of v4 we keep this issue open until the parent issue is fixed.

[2019-08-21 09:00] ruudboon opened #14321 "Upgrade Devtools to v4"
Progress will be tracked [here](https://github.com/phalcon/phalcon-devtools/issues/1315)

To get a good overview what is left for the release of v4 we keep this issue open until the parent issue is fixed.

[2019-08-22 12:48] maxttor opened #14323 "All model attributes have string type"
[code]

But in DB fileds goal_id and status have integer type. How can I get attributes with correct types?

### Details

* Phalcon version: 4.0.0-beta.2
* PHP Version: 7.2.18-1
* Operating System: ubuntu16.04.1
* Installation type: installing via package manager
* Server: Nginx

[2019-08-22 12:59] ruudboon commented on #14323
Thank you for your intrest in Phalcon. This intended behavior. Please use github for bugs only.
For questions you can use [Discord](https://phalcon.link/discord) and the [Forum](https://phalcon.link/forum)
In the forum you will find some posts how to achieve this.

[2019-08-22 12:59] #14323 closed

[2019-08-23 03:31] ZhangRuiMingZRM opened #14324 "Given the parameter `serializer`, still got exception information `A valid serializer is required`"
* Phalcon version: `4.0.0`
* PHP Version: `7.3.7`
* Operating System: ubuntu
* Installation type: Compiling from source
* Server: php web server

**In the document of [Cache Component](https://docs.phalconphp.com/4.0/en/cache#stream)**

[code]

**I got an exception when  running this code.**
[code]

**This is caused by**
https://github.com/phalcon/cphalcon/blob/3d76cdaee5898d9566f59b8996c4ddbe4b29

[2019-08-23 03:48] CameronHall commented on #14324
If you're up to it @ZhangRuiMingZRM, feel free to create a PR to address the issue. If not we'll get to it soon :)

[2019-08-23 07:47] beareable commented on #14265
what time this bug will be fixed?

[2019-08-23 08:07] Jurigag commented on #14323
You can disable this behavior by setting:

[code]

At least it works for me in 3.x

[2019-08-23 11:22] ruudboon commented on #14265
Want to fix it before the next release. Bug is fixed in attached pull above. But I'm struggling with the tests. Need to fix that before merging.

[2019-08-23 21:09] vvangelov opened #14326 "Phalcon\Mvc\Model Invalid callback , no array or string given"
I tried to fetch the content of the user table but I get the same error every time. Both models and phql doesn`t work. I couldn't found similar issue. I am not sure if phalcon(3.4.4) support mysql 8 or the problem is somewhere else.

[code]

[code]

### Details

* Phalcon version: (`3.4.4`)
* PHP Version: (` 7.3.8`)
* Operating System:docker with debian image
* Installation type: Compiling from so

[2019-08-23 21:16] ruudboon commented on #14326
Do you have some more info on your config and di setup?

[2019-08-23 21:50] vvangelov commented on #14326
I have class
`class DbService
{
    use DiTrait;

    public const SERVICE_ID = 'db';

    public function __construct(array $config = [])
    {
        return \Phalcon\Db\Adapter\Pdo\Factory::load([
            'host'     => 'mysql',
            'dbname'   => 'dbname',
            'port'     => 3306,
            'username' => 'user',
            'password' => 'pass',
            'adapter'  => 'my

[2019-08-24 08:13] olegatro opened #14327 "[NFR] add aspect ratios validation for Validator/Files"
Right now we can set `minResolution` and `maxResolution` options.

But in responsive design is more useful have images with same aspect ratios.
For example if you show list of cards with images.

the code could be looks like that:

[code]

[2019-08-24 23:07] Jeckerson commented on #14326
Well, you didn't instantiated class inside `db` service.

[2019-08-24 23:34] Jeckerson opened #14328 "Incorrect parsing of volt function select()"
Code example is from Vokuro
https://github.com/phalcon/vokuro/blob/master/app/views/permissions/index.volt#L13

Code example:
[code]

Generates current PHP code:
[code]

Error is:
[code]

### Details

* Phalcon version: (`4.0.0-beta.2`)
* PHP Version: (`7.2.19-0ubuntu0.18.04.2`)
* Operating System: Ubuntu 18.04
* Installation type: Compiling from source
* Zephir version (if any):
* Server: Nginx
*

[2019-08-25 10:31] Jeckerson commented on #14323
Install correct mysql driver, which is auto casting values into correct type and passing it to PHP.

[2019-08-26 18:23] cottton opened #14330 "RuntimeException: Trying to call method upper on a non-object"
See https://github.com/phalcon/cphalcon/issues/11466#issuecomment-480247019

This is my fault: https://github.com/phalcon/cphalcon/issues/13010

See https://github.com/phalcon/cphalcon/blob/caeac66e7db02fd54c44a27cf22a6381654af2ee/phalcon/db/adapter/pdo.zep#L135

    /**
     * Check for \PDO::XXX class constant aliases
     */
    for key, value in options {
        if typeof key == "string" && d

[2019-08-26 18:23] cottton commented on #11466
I did: https://github.com/phalcon/cphalcon/issues/14330

[2019-08-26 20:01] scrnjakovic opened #14331 "Phalcon\Url\Get and double slashes"
The implementation of this method in `v3.4` may return links like:
`https://www.example.com//images/booya.jpg`

I see that this has been reported and fixed for `v4` in #13495

However, why don't we utilize our own helper and replace these 8 lines

https://github.com/phalcon/cphalcon/blob/e78ab440fec479369bda68e69b9e880e58f5aa34/phalcon/Url.zep#L166-L174

with

[code]
furthermore, we can reduce the

[2019-08-26 20:16] ruudboon commented on #14330
What Phalcon version are you on?

[2019-08-26 20:20] cottton commented on #14330
3.4
and this feature was `Implemented in the 3.3.x branch.` (https://github.com/phalcon/cphalcon/issues/13010#issuecomment-346689104)

So 3.3, 3.4 and 4. would need that to be fixed.

[2019-08-26 20:22] ruudboon commented on #14324
Fixed in 4.0.x branch. thnx @ZhangRuiMingZRM ZhangRuiMingZRM,

[2019-08-26 20:22] #14324 closed

[2019-08-26 20:24] ruudboon commented on #14328
Not completely sure if this is a bug or the documentation that is not up2date. Will investigate this.

[2019-08-26 21:49] maxttor commented on #13364
buried early

[2019-08-27 09:28] lanlin opened #14334 "provide a persistent id for redis persistent connection"
### Description

we'd better provide a persistent id for Redis `pconnect()` method.

cause without it we can't switch between multiple databases in the same PHP process.

the data will always be saved to the last database without it.

as I know all Phalcon versions have this bug.

check this: https://github.com/phpredis/phpredis#pconnect-popen

### Details
![image](https://user-images.githubuserco

[2019-08-27 11:15] Jurigag commented on #14328
Not sure but don't we need there just `[]` or `{}` ?

[2019-08-27 14:15] ruudboon commented on #13702
@sergeyklay I see some Zephir features are added Zephir 0.12.2. What is left before we can close this?

[2019-08-27 15:02] CameronHall commented on #14328
I'm hesitant to call this a bug, as far as the error goes, it's not wrong...

Let's just settle with updating the code in Vokuru to what I've put below and move on.
[code]

[2019-08-27 18:50] sergeyklay commented on #14265
Fixed in the `4.0.x` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2019-08-27 18:50] #14265 closed

[2019-08-28 01:55] dacgray opened #14338 "fix:"
### Expected and Actual Behavior

`->refresh()` uses `->assign()`

We use `beforeSave`, `afterFetch` and `afterSave` for property preparation, and we add setters with type hinting.

[code]

Unless we set `' disableAssignSetters' => true` we get a type error.

[code]
### Reproduce

[code]

### Solution

Can we set properties in `Phalcon\Mvc::refresh()` as we do in `Phalcon\Mvc::cloneResult()` inste

[2019-08-28 01:55] dacgray opened #17335 "[NFR] set properties in Phalcon\Mvc::refresh()"
### Expected and Actual Behavior

`->refresh()` uses `->assign()`

We use `beforeSave`, `afterFetch` and `afterSave` for property preparation, and we add setters with type hinting.

[code]

Unless we set `' disableAssignSetters' => true` we get a type error.

[code]
### Reproduce

[code]

### Solution

Can we set properties in `Phalcon\Mvc::refresh()` as we do in [Phalcon\Mvc::cloneResult()](https

[2019-08-28 10:48] sergeyklay commented on #13702
Yes. Thank you

[2019-08-28 10:48] #13702 closed

[2019-08-29 02:18] Fenikkusu commented on #14287
Just my two cents: I pretty much exclusively use docker for development on all my macs, both home and work. I've docker image on the hub called twistersfury/phalcon and another called twistersfury/zephir:phalcon that are both made to work with phalcon. For items like running the devtools, I use a Makefile that allows me easy access to running them using a simple `make tool-name` that automatically

[2019-08-29 07:26] CameronHall commented on #14269
@zuozhehao I've tried reproducing this but haven't be able too. After rereading through all the code, there's no reason why this shouldn't work, the only reason it wouldn't is if the the eventsManager isn't in your DI.

[2019-08-29 20:21] sergeyklay commented on #14287
I'm closing this since this is a not a bug report and due to the lack of any activity. I'll open it again if the need arises. But if I have made an oversight, please do get back in touch. For questions regarding the usage of the framework, support requests, and questions like this please visit the [official forums](https://forum.phalconphp.com). Thanks.

[2019-08-29 20:21] #14287 closed

[2019-08-30 10:04] sergeyklay commented on #13919
Fixed in the `4.0.x` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2019-08-30 10:04] #13919 closed

[2019-09-02 09:19] ruudboon opened #14345 "Docblocks missing @implements"
Currently our Phalcon doc blocks doesn't have the `@implements` causing psalm to report False positive. See https://github.com/phalcon/ide-stubs/issues/28 and https://github.com/vimeo/psalm/issues/1861

[2019-09-02 19:27] sergeyklay opened #14346 "Invalid returned value for Phalcon\Security::getSessionToken"
If you try to call `$this->security->getSessionToken()` in a controller w/o Security service initialization and `declare(strict_types=1)` you'll get:

[2019-09-02 20:10] niden opened #14348 "7.4 Tests (GD)"
Check if the GD extension is loaded for the Image/GD tests

https://travis-ci.org/phalcon/cphalcon/jobs/579952736#L1562

[2019-09-02 21:39] sergeyklay opened #14349 "Invalid return type of Phalcon\Flash\AbstractFlash methods"
The Following methods should always return `void`, not `string`:

- `Phalcon\Flash\AbstractFlash::error`
- `Phalcon\Flash\AbstractFlash::notice`
- `Phalcon\Flash\AbstractFlash::success`
- `Phalcon\Flash\AbstractFlash::warning`

[2019-09-02 21:46] sergeyklay opened #14350 "Check for session in Security class"
We need a check if the Session service is present (and started?) in the `Phalcon\Security`.

Actually the error in the whole `Phalcon\Security` class. Because we check for the container and then we try to get the session from it. But we never check if the session is OK. So Security methods may fail.

[2019-09-02 21:49] #14346 closed

[2019-09-02 21:56] sergeyklay commented on #14330
Because `for key, value in options` will create `var`s, not `string`s. In other hand:
[code]

But `upper` is present for true `string` datatype, e.g.
[code]

[2019-09-03 00:06] ruudboon commented on #14348
Founded some info about changed build params. https://github.com/php/php-src/blob/9499484ed2f0377678b2b4d88573327ee0e4ce6d/UPGRADING#L394

[2019-09-03 00:33] cottton commented on #14330
So this

        for key, value in options {
            let castValue = (string) key;
            if typeof key == "string" && defined("\PDO::" . castValue->upper()) {
                let options[constant("\PDO::" . castValue->upper())] = value;
                unset options[key];
            }
        }

or this

        for key, value in options {
            if typeof key == "string" && define

[2019-09-03 05:17] sergeyklay commented on #14348
@ruudboon We're not build PHP form source, Travis team uses this project: https://github.com/php-build/php-build

[2019-09-03 05:23] sergeyklay commented on #14330
IMO better is to replace by `"\PDO::" . strtoupper(key)`

[2019-09-03 06:06] ruudboon commented on #14348
@sergeyklay Hmm they already fixed it there

[2019-09-03 08:21] abcpremium opened #14352 "3.4.4 - Installation not working as described in docs"
### Expected and Actual Behavior

Hey everyone, I wanted to make a clean new installation of Phalcon version 3.4.4 and followed the instructions issued in the documentation here: [https://docs.phalcon.io/3.4/en/installation](https://docs.phalcon.io/3.4/en/installation).

I ran `curl -s https://packagecloud.io/install/repositories/phalcon/stable/script.deb.sh | sudo bash` which worked perfectly to

[2019-09-03 09:00] ruudboon commented on #14352
Currently we don't have support for Raspbian packages. While Raspbian is based on Debian, it's not identical. You may need to compile from source on your Pi.

[2019-09-03 09:03] Jeckerson commented on #14352
You can try to build it from source.

[2019-09-03 11:44] cottton commented on #14330
Thanks @ruudboon .
Perhaps a test would be good.

Dont know how to add but it should check
the options (`descriptor["options"]`) provided in param `descriptor` :

    // test numeric keys like PDO constants does not get changed
    // f.e.
    // \PDO::MYSQL_ATTR_INIT_COMMAND => ...
    // which is
    // 1002 => ...
    // must not be changed.
    $descriptor = [
        'options' => [

[2019-09-03 14:17] niden commented on #14350
Resolved

[2019-09-03 14:17] #14350 closed

[2019-09-03 14:34] abcpremium commented on #14352
I got it working by compiling from source as you both mentioned. Thank you very much! I'm closing this now =).

[2019-09-03 14:34] #14352 closed

[2019-09-03 21:15] Jeckerson commented on #14328
@CameronHall Nope, doesn't work as you suggested. Same error.

[code]

[2019-09-04 11:05] ruudboon commented on #14348
For bionic the correct config is missing in Travis. I've created a pull that should solve this. https://github.com/travis-ci/php-src-builder/pulls

[2019-09-04 12:06] maxttor opened #14355 "V4: save() does not work if there are tinyint(1)"
There is a mysql table with a tinyint (1) field.
I'm trying to create a new entry in it through ORM

[code]

### Details

* Phalcon version: 4.0.0-beta.2
* PHP Version: 7.2.18-1
* Operating System: ubuntu16.04.1
* Installation type: installing via package manager
* Zephir version (if any):
* Server: Nginx
* Other related info (Database, table schema): MariaDB-10.2.24

[2019-09-04 12:13] ruudboon commented on #14355
Can you share your DB schema?

[2019-09-04 12:58] maxttor commented on #14355
$item->save() return true

DB schema:
[code]

[2019-09-04 13:04] ruudboon commented on #14355
Your're setting a column that isn't part of your schema. Can you try this:
[code]

[2019-09-04 13:07] maxttor commented on #14355
[code]

output:

[2019-09-04 13:17] ruudboon commented on #14355
@maxttor I tried this locally and I'm unable to reproduce this. A new row is added to the DB with the correct data.
Do you have something going on in your model?

[2019-09-04 13:33] maxttor commented on #14355
@ruudboon, no, nothing. Created just such a test empty model. I’m trying to save. that is all i doing.

[2019-09-04 14:19] ruudboon commented on #14355
And this only occurs with a tinyint(1)?

[2019-09-04 14:20] maxttor commented on #14355
@ruudboon exactly

[2019-09-04 14:23] ruudboon commented on #14355
I'm testing under php 7.3.7 so maybe it's version related. @niden Any other ideas how to reproduce this?

[2019-09-04 14:32] sergeyklay commented on #14330
Fixed in the `3.4.x` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2019-09-04 14:42] #14330 closed

[2019-09-04 17:01] ruudboon commented on #14355
@maxttor Added some unit test but can't reproduce this. Can you double check if you are looking at the correct DB?

[2019-09-04 19:39] cottton commented on #14355
Works here on PHP 7.2.19, cPhalcon 3.4.3

    select * from temp;
    +----+------+
    | id | test |
    +----+------+
    |  1 |    0 |
    +----+------+

[2019-09-04 20:19] maxttor commented on #14355
@cottton, try please with cPhalcon  4.0.0-beta.2

[2019-09-04 22:42] sergeyklay commented on #14355
@maxttor Could you test this in MySQL by any chance?

[2019-09-05 05:33] ruudboon commented on #14355
@sergeyklay I tested this with MariaDB

[2019-09-05 15:02] maxttor commented on #14355
Tested everything again. The result is the same. When tinyint(2) - successfully recorded. With tinyint(1) - no.
If the error no longer appears to anyone. Then we can assume that this is a mistake in my environment. For myself, I solved this issue by establishing tinyint (3)

[2019-09-05 17:36] cottton commented on #14355
A query log would be interesting.

    SET global general_log = 1;
    SET global log_output = 'table';
    truncate mysql.general_log;

Run test ...
and look into logged queries

    select * from mysql.general_log;

---
after tests disable query log (!)
    SET global general_log = 0;
    truncate mysql.general_log;

[2019-09-05 18:29] sergeyklay commented on #14355
I'm closing this issue but if I have made an oversight, please do get back in touch. Thanks

[2019-09-05 18:29] #14355 closed

[2019-09-06 16:05] maxttor commented on #14355
I did it.
When the field has type is tinyint(2) the log shows:

When the field has type tinyint(1) the log shows:

No have Execute query

[2019-09-06 22:45] niden opened #14359 "Tidy up DI Classes"
DI classes need to be tidied up

- Rename abstract ones to `Abstract*`
- Remove `Plugin` (duplicate class)

[2019-09-07 14:23] niden commented on #14359
Resolved

[2019-09-07 14:23] #14359 closed

[2019-09-07 14:24] niden commented on #14349
Resolved

[2019-09-07 14:24] #14349 closed

[2019-09-08 11:11] sergeyklay commented on #14348
Fixed in the `4.0.x` branch.

[2019-09-08 11:11] #14348 closed

[2019-09-08 13:50] niden opened #14364 "Debug - Link to API"
The `Phalcon\Debug` produces a link of the API to the relevant documentation. In v4 this is not correct.

[2019-09-08 17:38] niden commented on #14364
Resolved

[2019-09-08 17:38] #14364 closed

[2019-09-08 17:54] Jeckerson opened #14366 "Empty alias query in Builder method addFrom()"
Found bug in Phalcon API (https://github.com/phalcon/phalcon-api/blob/master/library/Traits/QueryTrait.php#L89)

[code]

Which generates incorrect query
[code]

It works correctly if specify second parameter of `addForm()` method.

[code]

### Details

* Phalcon version: (4.0-beta.2)
* PHP Version: (7.2)
* Operating System: Ubuntu 18.04
* Installation type: Compiling from source
* Zephir version (

[2019-09-08 19:11] #14036 closed

[2019-09-08 20:18] niden opened #14367 "Static methods in Generate API"
The `generate-api-docs.php in `tests/_ci/` does not take into account `static` methods.

We need to adjust the query to print those out also.

Example `Phalcon\Helper` class

[2019-09-08 20:19] niden commented on #14367
cc @Jeckerson

[2019-09-09 00:59] zuozhehao commented on #14269
@CameronHall
When initializing the controller, the `setEventsManager` was not executed,
When I used `this->eventsManager`, it did not go into the magic method`__get`
[code]

[2019-09-09 08:18] v00v opened #14370 "[NFR] Native Markdown Support"
Request for markdown support in Volt or as an optional library that can be enabled by namespace like ``Phalcon\Output\Markdown``. Maybe using some tags like ``{% mdstart %}`` ``{% mdend %}`` tags. In the past I've used Parsedown library.

[1] https://parsedown.org/

[2019-09-09 08:27] v00v commented on #14046
As explained above, this doesn't work properly with native array pagination for some reason.

[2019-09-09 08:29] v00v commented on #13984
This maybe weird but I hate using standard suffixes. So please at least don't remove ability to disable this with ``$dp->setControllerSuffix('');`` ``$dp->setActionSuffix('');`` Thank yoU!

[2019-09-09 08:31] v00v commented on #13942
Maybe in Phalcon 5.0 then? ^_^

[2019-09-09 08:39] #14367 closed

[2019-09-09 08:51] v00v opened #14371 "[NFR] CSRF Protection"
Not sure if I missed this somewhere in phalcon docs, but CSRF protection is a good idea.

Example: https://laravel.com/docs/6.0/csrf

[2019-09-09 08:55] v00v commented on #14371
Found It Sorry: https://docs.phalcon.io/4.0/en/security

[2019-09-09 08:55] #14371 closed

[2019-09-09 09:19] v00v opened #14372 "[NFR] Read & Write JSON File Helper"
I really like the new ``Phalcon\Helper`` in Phalcon v4. But I think it can use more functions like this to help with Jsons. By combining ``file_get_contents() with json_decode()`` or ``file_put_contents() with json_encode()`` or similar.

Json to Object & Array from File
[code]
Add Simple Json Read From File:
[code]

Array to Json File
[code]
Add Simple Json Write To File:
[code]

[2019-09-09 09:36] ruudboon commented on #14372
If you ask me the reading and writing of the files maybe a bit too much for the helper.

[2019-09-09 10:41] sergeyklay commented on #14372
Please stop propose create all-in-one Helper namespace :) Are we going to introduce new Kohana inside a Phalcon\Helper namespace? Helper is a function, no class. Why not Phalcon\Json?  Why we're need static nature in the DI & IoC century?

[2019-09-09 10:45] sergeyklay commented on #14370
This already discussed 4 years ago https://github.com/phalcon/cphalcon/pull/10090

I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2019-09-09 10:45] #14370 closed

[2019-09-09 13:13] niden commented on #14046
@v00v Can you open an issue with a small script to replicate what is not working with nativearray?

[2019-09-09 14:56] vvangelov commented on #14326
I am returning \Phalcon\Db\Adapter\Pdo\Factory::load inside DbService class. The same thing I do inside anonymous functions and it is working.

[2019-09-10 09:02] v00v commented on #14372
@ruudboon so is some other helper functions, but if we are going this route reading/writing files is actually very useful.

@sergeyklay It can be Phalcon\Json of course, this was just an example. Also it doesn't have to use PHP's ``file_get_contents()`` and ``file_put_contents()`` functions. It can use native C/Zephir functions to achive this for best performance. The idea behind request is to hav

[2019-09-10 10:06] v00v opened #14374 "Custom Defined Function"
Not sure if this is a bug in v2.0.13 or I'm doing something wrong here... I was trying to define simple test functon in Di and then reuse it in any Controller with ``$this->test('text')``. All this does is just keeps loading the page continuesly and then hangs my system.

In my ``/app/config/bootstrap.php`` I have this;
[code]

In my ``/app/controllers/Index.php`` I have this;
[code]

What am I do

[2019-09-10 10:39] v00v opened #14375 "Volt Newlines Cleanup"
If something is commented out with ``{# comment #}`` or volt syntax ``{% something %}`` used in volt file, it leaves empty newlines. This newlines should be auto-removed by default on any html output.

Volt File:
[code]

HTML Output: (14-lines, 113-bytes)
[code]

Expected HTML Output: (8-lines, 91-bytes)
[code]

Much cleaner, and less useless newlines ^_^

[2019-09-10 14:22] zsilbi opened #14376 "Model::hasChanged() and getChangedFields() return false values"
When snapshot data is saved to a `Model`, all attributes are being saved as `string`.
There can be issues regardless `orm.cast_on_hydrate` is turned on or off.

Here is a quick example:
[code]

When `orm.cast_on_hydrate` is on, I think `Model::cloneResultMap()` should save the casted values to the snapshot data.
If it's off, then `Model::getChangedFields()` should not use `===` to check if the fie

[2019-09-10 17:45] sergeyklay commented on #14375
Use
- `{#- comment #}`
- `{# comment -#}`
- `{#- comment -#}`
- `{%- something %}`
- `{% something -%}`
- `{%- something -%}`

[2019-09-10 17:45] #14375 closed

[2019-09-10 17:52] niden commented on #14303
Resolved

[2019-09-10 17:52] #14303 closed

[2019-09-10 17:55] niden commented on #14374
Is `/app/controllers/Index.php` a controller? Is your class extending the controller or at least the `Phalcon\Di\Injectable`? If not you do not have access to DI services as properties.

[2019-09-10 18:07] v00v commented on #14374
Here is a short version of my code;

My ``/app/config/boostrap.php``
[code]

My ``/app/controllers/Base.php``
[code]

My ``/app/controllers/Index.php``
[code]

[2019-09-11 09:09] Hameloid opened #14378 "phalcon/db/dialect/mysql.zep in method createTable not using referencedSchema when creating related references"
When i'm create table with foreign key to table in other database reference 'referencedSchema' not using
for example
use database1;
reference to database2 on table users
[code]
expect:
[code]
happens:
[code]

Phalcon version: all

[2019-09-11 23:16] CameronHall commented on #14328
@Jeckerson it looks like I made a mistake, the right curly brace should end right before we close the `select()` and not after the `using` element.

I'd test this myself, but I don't have Vokuru installed.

[code]

[2019-09-12 20:28] diplopito opened #14382 "[Phalcon v4.0.0-beta2] Error when updating models"
### Expected and Actual Behavior
When updating a model, submitted fields data should be updated. Actual behavior: not updating records but trying to create new ones (and fails).

To reproduce this error, please run the tests in https://github.com/diplopito/phalconModel

### Details

* Phalcon version: 4.0.0-beta2
* PHP Version: 7.2
* Operating System: Windows 10
* Installation type: dll
* Server:

[2019-09-13 11:15] v00v commented on #14374
So it was a bug :-) Good to know! Thank you!

[2019-09-13 11:17] ruudboon commented on #14374
@v00v It looks like a bug ;) We need to investigate a bit more but will try to do that before the next release

[2019-09-13 11:18] v00v commented on #14372
Thank you for not closing this NFR and considering in future versions. Whichever way you choose to organize this, dosn't really matter. As long as we at least have basic flat-file support for Read (similar to file_get_contents) / Write (similar to file_put_contents) / Index (similar to globe) of different files. THANK YOU!

[2019-09-13 11:21] v00v commented on #14046
@niden Sure, I'll do more testes locally, than report back with source code.

[2019-09-13 11:23] v00v commented on #13790
Nice to see this NFR **in progress** Thank you everyone involved.

[2019-09-13 11:25] ruudboon commented on #13633
@Brade Just checking in to see if you had time to test this against Phalcon 4

[2019-09-13 11:28] diplopito commented on #14382
If using getters and setters, underscores must be used as well, otherwise the field won't be found. The bug persists as well with them.

[code]

[2019-09-13 11:30] v00v opened #14383 "[REQ] Phalcon Release Model Documentation"
Can you guys write a better **Release Modell** documentation for Phalcon? Most importantly, ``The Release Cycle`` and ``Development Phase``. Like how long it takes for example between beta's for a new release? Monthly, Every-3-Months or Yearly etc... This will help everyone involved to at least have some idea on how slow or fast Phlacon development process are going. And please don't say, "When it

[2019-09-13 13:42] diplopito commented on #14382
Just added an events manager to print the sql queries.

[2019-09-13 22:00] diplopito commented on #14382
Created a BaseModel to handle afterSave() and notSaved() events. Worth noticing that when using the whitelist option (last test case), the notSaved() event is not even fired.

[2019-09-14 08:28] diplopito opened #14384 "[Phalcon v4.0.0-beta2] Model fields underscores not being converted to camelCase"
### Expected and Actual Behavior

Fields with underscores should be treated as camelCase by default. Actually, not happening: fields need to be used with underscores or is mandatory to use a column mapper.

Example: please check the use of the fields in the test cases:  https://github.com/diplopito/phalconModel

### Details

* Phalcon version: 4.0.0-beta2
* PHP Version: 7.2
* Operating System: Win

[2019-09-14 09:20] ruudboon commented on #14382
The whitelist was used as column map. We will add some extra tests. The assign method is missing in not fully tested.

[2019-09-14 09:20] #14382 closed

[2019-09-15 10:09] diplopito commented on #14382
The white list feature works only when updating **and** using `update()`. Not with `save()` because it will require mandatory fields even if they are not in the white list.

So, if the user wants to implement the white list to update a record, the use of `save()` should be discouraged (it won't work as it is now). The steps to update a record using the white list are then:

[code]

[2019-09-16 09:35] ruudboon commented on #14328
Looks like a documentation issue. Closing this for now. Volt docs will be updated soon (https://docs.phalcon.io/4.0/en/volt)

[2019-09-16 09:35] #14328 closed

[2019-09-16 10:42] ruudboon commented on #14374
@v00v Could you try returning something instead of using `exit()`?
I do see an issue when using `exit()` in this closure (causing segfault) but don't think this a case that is ever used in an application.
If you don't exit it looks like it's working fine.

[2019-09-16 11:16] nuelgacer commented on #12888
Hi, just found this issue. Is there any fix on this?

[2019-09-16 12:06] fichtner commented on #12888
Not that I know of. For me it's still a basic requirement to be able to have single quotes in single-quoted strings, but I can't reopen. ;) CC @sergeyklay

[2019-09-16 13:12] ruudboon opened #14386 "[RFC] Change property order in model->assign()"
Our current implementation looks like this:
[code]
Often you will setup the column map in the model and don't specify it when assigning data to the model. When using the whitelist you should always put null on the dataColumnMap.
It would be me more logical to have the whitelist first.
[code]

[2019-09-16 13:20] v00v commented on #14374
@ruudboon I did try returning something, but it didn't work. But I'll try again today and report back.

[2019-09-16 13:22] ruudboon commented on #14374
@v00v Please let me know. See also this test: https://github.com/phalcon/cphalcon/pull/14385/files

[2019-09-16 13:23] Jurigag commented on #14384
? It was always like this, not sure what's a bug here.

[2019-09-16 13:57] v00v commented on #14374
@ruudboon Yes simply returning something works.

From boostrap.php
[code]

From /app/controllers/Index.php
[code]

[2019-09-16 13:59] ruudboon commented on #14374
@v00v Then I would like to close this issue. And track the problem in Zephir (https://github.com/phalcon/zephir/issues/1912).

[2019-09-16 14:01] v00v commented on #14374
But doing something like this, just shows blank page no output.

From bootstrap.php
[code]

From Index.php
[code]

It only works when print_r() is used in Index.php and not in bootstrap.

[2019-09-16 14:06] ruudboon commented on #14374
@v00v Can you check your error_log?

[2019-09-16 14:11] v00v commented on #14374
@ruudboon Samething, just blank page and no errors/warnings. But if I use ``print_r( $this->di->get('test') )`` inside Index.php it works, and it doesn't matter if ``print_r()`` is in boostrap.php

[2019-09-16 14:15] ruudboon commented on #14374
@v00v Could there be more things going on in your code?
This test passes:
[code]

[2019-09-16 14:16] v00v commented on #14374
But something like this works :-)

In boostrap.php
[code]

In Index.php
[code]

Note this time without ``print_r()`` in Index.php

[2019-09-16 14:17] ruudboon commented on #14374
You're still on v4-beta2?

[2019-09-16 14:18] v00v commented on #14374
Okay sooo ``print_r()`` works like this :-)

[code]

[2019-09-16 14:21] v00v commented on #14374
But if you try to define, ``FALSE`` it will still work, same with ``TRUE``. only ``print_r()`` by it self works. And of course you already know about how ``exit()`` behaves ^_^

[2019-09-16 14:36] ruudboon commented on #14374
The second parameter is for returning. Not sure where you do this but you should be output it.
[code]
Or when you're in a controller you want to pass it to your view

[2019-09-16 14:39] v00v commented on #14374
Okay, I got this working how I needed it to.

In custom library ``/app/libraries/Lib.php``
[code]

In bootstrap file ``/app/config/boostrap.php`` (not complete example)
[code]

Then in controller file ``/app/controllers/Index.php``
[code]

I think the main problem is with ``exit()`` function cannot be used inside ``$di->set`` this is what resulting in system hang. Everything else seems to work as

[2019-09-16 14:40] #14374 closed

[2019-09-16 14:41] ruudboon commented on #14374
Using exit() inside a closure is an issue this is tracked in Zephir (https://github.com/phalcon/zephir/issues/1912)

[2019-09-16 14:42] v00v commented on #14374
Thank you for submitting bug to Zephir and for your help!

[2019-09-16 16:11] #14384 closed

[2019-09-16 16:11] Jurigag commented on #14384
Well as according to slack conversation there is no bug.

[2019-09-16 16:18] ruudboon commented on #14384
Discord :D

[2019-09-16 16:32] niden commented on #14386
Resolved

[2019-09-16 16:32] #14386 closed

[2019-09-16 21:19] Jurigag commented on #14372
I would vote more for something like serializer class as in symfony. So we would have method like encode and decode and maybe encodeToFile and decodeFromFile?

[2019-09-17 18:54] ruudboon commented on #14378
Resolved in 4.0.x branch.

[2019-09-17 18:54] #14378 closed

[2019-09-17 19:49] Brade commented on #13633
I looked at it again recently and noticed that the PHP requirements for v4 are fairly tight and would require a version upgrade of ubuntu on our server. TBH I'm not totally sure when I'll be able to do it, so feel free to close this issue if necessary.

[2019-09-17 19:54] ruudboon commented on #13633
@Brade Thnx for your reply. I'll close it for now but feel free to reopen if you found something.

[2019-09-17 19:54] #13633 closed

[2019-09-18 08:32] zsilbi commented on #14376
Resolved in #14377

[2019-09-18 08:32] #14376 closed

[2019-09-18 19:37] TimurFlush opened #14390 "[NFR] Ability to handle the request via Psr ServerRequest"
Now Phalcon handle and get data from request via URI and native Phalcon\Http\Request.

I want to use RoadRunner in my application, but RoadRunner provide request as Psr ServerRequest.
Therefore I cant 't use RoadRunner in my Phalcon 4 application.

Sure, I can to write my realization of Phalcon\Http\RequestInterface for get data from Psr ServerRequest, but it so many code and i want to see this re

[2019-09-18 20:04] Jeckerson commented on #14390
As I can see, they do integrations to frameworks by them self

![image](https://user-images.githubusercontent.com/3289702/65181818-d3af4600-da57-11e9-86e9-b46d480ce19b.png)

Also here, work in progress for Laravel - https://github.com/spiral/roadrunner/issues/96

[2019-09-18 20:06] niden commented on #14390
v4 does have the PSR related components in the `Http\Message` namespace. You can use them directly from there.

In future versions the goal is to rewrite the full HTTP layer so that it only uses PSR classes. That will probably not happen until 4.2 maybe later.

[2019-09-18 20:08] TimurFlush commented on #14390
Thank you, @niden
I will be waiting for 4.2)

[2019-09-18 20:25] wolfy-j commented on #14390
We do not integrations by ourselves... that will be too much. You can also use underlying Http consumer to skip psr-7 step if needed.

[2019-09-19 13:48] ruudboon commented on #14269
@sergeyklay If you could check why this [pull](https://github.com/phalcon/cphalcon/compare/4.0.x...ruudboon:fix-issue-with-di-14269?expand=1) is [failing](https://travis-ci.org/ruudboon/cphalcon/jobs/586855401) and working in nanobox it would be great.

[2019-09-20 14:11] #13782 closed

[2019-09-20 15:11] #12995 closed

[2019-09-20 15:13] ruudboon commented on #12056
Would be great if somebody can test this against V4.

[2019-09-21 15:08] niden opened #14394 "[NFR]: Add 3rdparty folder"
Need to add a `3rdparty` folder and move all _external_ files there.

The first thing to be moved is the licenses for PHP and other packages that Phalcon has been inspired from or adapted implementations.

Later on we can move additional libraries (possibly C ones) to keep things nice and tidy.

[2019-09-21 17:05] niden commented on #14394
Resolved

[2019-09-21 17:05] #14394 closed

[2019-09-21 17:05] niden commented on #14256
Resolved

[2019-09-21 17:05] #14256 closed

[2019-09-21 17:10] ruudboon opened #14396 "[BUG]: Di->remove doesn't work"
**Describe the bug**
When using di->remove('test') $di->has('test') will return true on the object

**To Reproduce**

[code]

See also https://github.com/phalcon/cphalcon/pull/14176

Related to https://github.com/phalcon/zephir/issues/1259

[2019-09-22 09:17] maxgalbu commented on #14256
Wait t still does two selects... since we do a check on the write connection, the check on the read one is not useful... this will slow down the app if there are a lot of inserts

[2019-09-22 14:14] niden commented on #14396
Resolved

[2019-09-22 14:14] #14396 closed

[2019-09-23 19:09] ekmst opened #14408 "[BUG]: fatal error when using the model cache"
**Describe the bug**
fatal error when using the model cache

**To Reproduce**
Steps to reproduce the behavior:

[code]

[code]

**Details**
 - Phalcon version: 4.0.0-rc.1
 - PHP Version: 7.3.1
 - Operating System: linux (ubuntu18.04)
 - Installation type: installing via package manager
 - Server: Nginx
 - Other related info (Database, table schema): mysql

[code]

[2019-09-24 09:30] sergeyklay commented on #14288
Fixed in the `4.0.x` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2019-09-24 12:35] Jeckerson opened #14411 "[NFR]: Volt extends from virable, absolute path"
Sometimes there are need to extend layout dynamically. Now it is possible to do only with relative path, ex: `{% extends "layouts/base" %}`.
Related topic from forum - https://forum.phalcon.io/discussion/19331/volt-extends-from-virable

I would like to have possibility to set variable, relative path with `../` and absolute path inside `{% extends ? %}`
Examples:
1. `{% extends "../another-theme/la

[2019-09-24 14:50] harm-smits opened #14412 "[NFR]: Classes should not have application defaults"
**Is your feature request related to a problem? Please describe.**
When I tried to initialize the router class, it would not give me a '404' because a default route was initialized, even though I created a new instance. Instead, it tried initializing a controller I used with a random action, which threw an error.

**Describe the solution you'd like**
I would like the coding standards of Phalcon to

[2019-09-24 14:56] niden commented on #11683
@sergeyklay Has this been addressed with https://github.com/phalcon/cphalcon/pull/14410 ? If so we can close it

[2019-09-24 14:57] harm-smits opened #14413 "[NFR]: Don't change the CSRF token on every request"
**Is your feature request related to a problem? Please describe.**
Sessions do not change in some cases, but the CSRF token does change somehow. There should be an option to avoid this token from changing on every single request to prevent writes to the session store.

**Describe the solution you'd like**
There should be a manual option to 'disable automatic regeneration' of the CSRF token. After

[2019-09-24 14:58] niden commented on #11683
Resolved in https://github.com/phalcon/cphalcon/pull/14410/files

[2019-09-24 14:58] #11683 closed

[2019-09-24 19:13] ekmst commented on #14413
Yes, I agree. It would be convenient if the CSRF token worked without a session

[2019-09-24 19:16] ruudboon commented on #14413
@ekmst Without session it wil be hard. You need to write at least once.

[2019-09-24 19:20] ekmst commented on #14413
@ruudboon Can we try to implement this using a secret key HMAC?

[2019-09-24 19:25] ruudboon commented on #14413
@ekmst we could investigate something like this.

[2019-09-24 23:28] v00v commented on #14412
Are you talking about ``$router = new Router(false);``  ? I always use it as ``false`` and then have this in my routes.php to handle my 404 errors.

[code]

[2019-09-24 23:36] v00v commented on #14413
Maybe having FALSE in ``$this->security->getTokenKey(false)`` and `` $this->security->getToken(false)`` can disable CSRF auto change. But if you are going to implement a new feature, call it something else like ``$this->security->hmacKey()`` and ``$this->security->hmacToken`` in fact having a better more descriptive name for CSRF is also a good idea something like ``$this->security->csrfKey()`` an

[2019-09-24 23:49] v00v commented on #14372
@Jurigag You do not always need serializer. Sometimes you seemply need to use ``file_get_contents()`` and ``json_decode()`` or ``json_encode()`` and ``file_put_contents()`` without serializer. This is why I'm requesting to have simple functions to read and write flat files which can be seperated by type. Like ``Phalcon\File\Json`` and ``Json::read()`` or ``Json::write()`` and similar for TXT, CVS,

[2019-09-25 06:23] ruudboon commented on #14408
@ekmst I think I located the issue. Will try to bug fix this soon.
Probally this will work if you set your serialiser to Php.
[code]

[2019-09-25 06:52] ekmst commented on #14408
@ruudboon Yes, I did. Thank!

[2019-09-25 06:57] ekmst commented on #14408
@ruudboon I think the problem is that `json_decode` returns an array by default

[2019-09-25 07:14] harm-smits commented on #14413
What also could be a possibility, is that you always generate a CSRF token when a session could not be found, but have the ability to manually trigger the refresh:

[code]

And just allow people to set this behavior as follows:

[code]

[2019-09-25 07:45] ruudboon commented on #14408
@ruudboon Yes it's related to that. But not directly on the serializer. We also have this with the None serializer.
There are few ways to fix this. Just need to figure out the best way. Will check this later today.

[2019-09-25 07:48] ruudboon commented on #14413
@v00v Please create a separate issue for this and let's keep this one only about the refreshing.

[2019-09-25 09:38] harm-smits commented on #14412
@v00v Yes I am. I think the class should not load with default routes when you use `$router = new Router();`, it makes not a lot of sense from a framework perspective.

[2019-09-25 10:50] v00v commented on #14412
I only used non-default routes, so I agree. Better have ``$router = new Router(true)`` But its not a very big deal to just use ``false`` value :-)

[2019-09-25 10:50] v00v commented on #14413
@ruudboon No problem. I removed it, Ignore it please.

[2019-09-25 11:02] v00v opened #14416 "[NFR]: Phalcon Runtime Timer Function"
Request for simple phalcon runtime timer function.

Example PHP Code Used Now:
[code]

Can we have something simple similar to this?
[code]

THANK YOU!

[2019-09-25 12:45] vGhost2000 commented on #12056
In the 4th version, this is not required. This is a problem with PHP 7.2. In php 7.3 this bug is fixed. Falcon v4 oriented to php 7.3. Just use php 7.3 with phalcon v4.

[2019-09-25 12:53] ruudboon commented on #12056
@vGhost2000 Thnx. In that case I'm closing this one.

[2019-09-25 12:53] #12056 closed

[2019-09-25 14:06] Jeckerson commented on #14416
You won't gain nothing by having it inside Phalcon. And practically you did the whole code. Just create repository, write code, publish in packagist and use in composer.

[2019-09-25 15:25] ruudboon opened #14417 "[BUG]: Closure not working in filter"
**Describe the bug**
When using a closure as a filter sanitizing fails.

**To Reproduce**

Steps to reproduce the behavior:
[code]
Output
[code]
**Details**
 - Phalcon version: (`4.0.0-rc.1`)
 - PHP Version: (`7.3`)

[2019-09-25 16:09] Jurigag commented on #14417
What is actually returned? Is there anything in `$input` variable in closure?

[2019-09-25 16:21] ruudboon commented on #14417
@Jurigag Sorry, it's in now

[2019-09-25 20:42] niden commented on #14417
Resolved

[2019-09-25 20:42] #14417 closed

[2019-09-26 07:41] #14416 closed

[2019-09-26 07:49] sergeyklay commented on #14372
We don't believe that this feature should be developed as a part of the Phalcon framework. Consider using a separated library to implement json helpers.

[2019-09-26 07:49] #14372 closed

[2019-09-26 08:55] #13926 closed

[2019-09-26 09:01] sergeyklay commented on #13984
I want to close this issue because adding (and maintaining) a new method, which is not something fundamentally new, and also aims to reduce the project code by 1 line, is not our current priority.

[2019-09-26 09:01] #13984 closed

[2019-09-26 09:07] sergeyklay commented on #14177
The `3.4.x` branch is not longer supported. We don't add new features and enhancements to it. I propose to switch to `4.0.x` branch and see if a problem is still there. So, I'm closing this issue but if described issue is relevant for 4.0.x branch fell free to open a new issue.

[2019-09-26 09:07] #14177 closed

[2019-09-26 09:14] sergeyklay commented on #13383
@Jurigag ping :)

[2019-09-26 09:28] sergeyklay commented on #14020
I'm closing this issue due to the lack of any reaction, but if I have made an oversight, please do get back in touch so that, I'll open it again. Thanks

[2019-09-26 09:28] #14020 closed

[2019-09-26 12:51] ruudboon opened #14420 "[BUG]: cacheDir option should be renamed"
The storage adapters in v4 should not be binded to cache.
Currently we have cacheDir for the stream.

Would like to change this to something like storageDir. Maybe keep cacheDir as deprecated option?

[2019-09-26 13:15] niden commented on #14420
The stream storage adapter needs a directory so this option is required. We just need to change the name of the option to `storageDir`

[2019-09-26 15:14] sergeyklay commented on #14253
Fixed in the `4.0.x` branch. Feel free to open a new issue if the problem appears again. Thank you for the bug report.

[2019-09-26 15:14] #14253 closed

[2019-09-27 09:15] SidRoberts commented on #14420
I'm just going to slide into this thread and suggest `dir`. :wink:

[2019-09-27 10:48] sergeyklay commented on #14420
A "directory" for what purpose? IMO just "directory" is the same as "hullaballoo".

[2019-09-27 11:43] ruudboon commented on #14420
At long as it isn't cacheDir I don't really mind. This has nothing to do with cache. You can use it to store anything.  StorageDir sounds good to me but I'm open for other suggestions. Something like destination could also work for me.

[2019-09-27 12:08] sergeyklay commented on #14420
How will work "directory" word for Apcu or Libmemcached adapters?

[2019-09-27 13:18] niden commented on #14420
`storageDir` would be enough I believe.

[2019-09-27 16:37] niden commented on #14420
Resolved https://github.com/phalcon/cphalcon/pull/14423

[2019-09-27 16:37] #14420 closed

[2019-09-28 14:41] TimurFlush opened #14426 "[BUG] Conflict of C code"
Hello.

I get a segmentation fault in my application, but i don't understand why:
[code]

So, I know that fault is happening in Phalcon\View or Phalcon\View\Volt, but I don't know exactly where =(
In xdebug trace i don't found nothing useful

Who can give me advice?

P.S. My phalcon version is 4.0.0-rc.1, php is 7.3.9, mac os.

[2019-09-28 14:43] TimurFlush commented on #14426
After restarting php-fpm, my application successfully handle one request and show me rendered template, but second request is segmentation fault.

[2019-09-28 15:21] sergeyklay commented on #14426
Please follow this guide to understand how to generate the backtrace:
- https://ma.ttias.be/generate-php-core-dumps-segfaults-php-fpm/
- https://bugs.php.net/bugs-generating-backtrace.php
- https://bugs.php.net/bugs-generating-backtrace-win32.php

Did you build Phalcon from the source code? Could you please provide:
- Commit SHA1 (if compiled from source)
- Output of the `php-config`
- Output of t

[2019-09-28 16:06] TimurFlush commented on #14426
Thank you, Sergey.
I'll answer as soon as i can.

[2019-09-28 16:08] ruudboon commented on #14426
@TimurFlush If you need some assistance feel free to ping me at Discord.

[2019-09-28 16:13] niden commented on #14408
Resolved

[2019-09-28 16:13] #14408 closed

[2019-09-28 16:48] TimurFlush commented on #14426
@ruudboon Unfortunately, i can't speak english. Only write)

[2019-09-28 17:09] TimurFlush commented on #14426
@sergeyklay
**Commit SHA1 (if compiled from source):**
[code]
**Output of the phpize:**
[code]
**Output of the php-config:**
[code]
**Output of the php -v:**
[code]
**Enabled modules:**
[code]
**Web server name / version:** nginx version: nginx/1.17.3
**Xdebug version:**
[code]
**The way you install Phalcon:**
[code]

**Core dump:** https://imgur.com/a/jbxzEEE

[2019-09-28 17:11] TimurFlush commented on #14426
**OS:** Mac OS Mojave 10.14.5

[2019-09-28 17:29] TimurFlush commented on #14426
@sergeyklay Can I tell with you in Discord?

[2019-09-28 23:43] sergeyklay commented on #14426
Yes, just ping me there

[2019-09-29 06:16] jospanier opened #14428 "[BUG]: form POST fails in Firefox when accessing with IPv6 literals and 1st party isolation enabled"
**Bug Description**
POST not handled correctly while accessed via IPv6 literal, e.g. https://[2001:db8:1111:2222::1] when Firefox first party isolation is enabled (privacy.firstparty.isolate = true). Same works corrctly with IPv4.

**To Reproduce**
Steps to reproduce the behavior:
1. assign IPv6 to host
2. enable first party isolation in FF (privacy.firstparty.isolate = true)
3. access/login to si

[2019-09-29 06:18] ruudboon commented on #14428
@jospanier What Phalcon version & Php version are you using?
Do you also have a some code examples how you handle the post?

[2019-09-29 07:16] jospanier commented on #14428
I will try to ask the maintainers of the appication for assistance, since it I am not the developer of the application (OPNsense) where the bug appeared to me.

Meanwhile here are the versions used in OPNsense 19.7.4_1

PHP 7.2.22 (cli) (built: Sep  9 2019 22:34:07) ( NTS )
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies

Web framework delivered as a C-extension for PHP
phalcon => en

[2019-09-29 07:31] jonnywang opened #14429 "[BUG]: Fatal error: Return value of Phalcon\Mvc\View\Engine\AbstractEngine::partial() must be of the type string, null returned in Unknown on line 0 Call Stack"
cphalcon-4.0.0-rc.1
[code]

[2019-09-29 08:35] Jeckerson commented on #14429
Why you call second partial with from `view`?

Instead
[code]

Try
[code]

[2019-09-29 09:55] jonnywang commented on #14429
i use <?php $this->view->partial('_partials/footer'); ?> is ok

[code]

works fine on v3.4.4, but v4.0.0-rc.1 will ouput Fatal error

[2019-09-29 12:55] TimurFlush commented on #14426
**Trace:**
[code]

[2019-09-29 13:51] TimurFlush commented on #14426
I launch my application in the cli sapi, but I don't see nothing errors, segfaults etc...
Therefore the segfault occur only in the php-fpm

[2019-09-29 14:08] richmilns opened #14430 "[BUG]: Phalcon\Forms\Form setAction() Exception"
When trying to set the action in the class for your form using the `setAction()` method, an exception is thrown:

**RuntimeException: Trying to call method set on a non-object**

Trace:

1 [internal function]: Modules\Core\Forms\Login->initialize(NULL, Array)
2 /app/modules/core/controllers/UsersController.php(48): Phalcon\Forms\Form->__construct()
3 [internal function]: Modules\Core\Controllers\U

[2019-09-29 14:34] niden commented on #14429
I need to confirm this but it seems that we will need to add `null` to the return type for `partial`

This is not an issue with v3 because it uses an older version of Zephir that allows this to pass, whereas v4 is more strict with interfaces and return types.

[2019-09-29 15:16] TimurFlush commented on #14426
Without optimization on the php-fpm compiling
[code]

[2019-09-29 16:12] TimurFlush commented on #14426
I'm very close.

If i pass the third argument as $_POST:
[code]
will be the segfault in time during a call to an unknown problematic method from \Phalcon\Http\Messages\ServerRequest

[2019-09-29 16:20] TimurFlush commented on #14426
@niden Please check

[2019-09-29 16:24] TimurFlush commented on #14426
Sure, I can rewrite the ServerRequestFactory and ServerRequest classes and try to find the problem, but all important methods in ServerRequestFactory is private(
@Niden, Sergey tell me that you author this classes, therefore i tag you.

**P.S:** I can try to unlock private methods in class via Reflection

[2019-09-29 16:44] TimurFlush commented on #14430
I confirm this behavior

[2019-09-29 19:24] TimurFlush commented on #14426
I rewrite the ServerRequestFactory class, result of rewriting you can see by link https://imgur.com/a/N4M8ONe

I quote Sergei: "There are some problems with super global arrays in Zephir, so the $_SERVER php variable differs from the _SERVER zephir variable"

In the end, instead of the checkNullArray method returning an array, it returns undefined and occur the Segmentation Fault.

I support him.

[2019-09-29 19:48] TimurFlush opened #14432 "[BUG] Incorrect http protocol comparison in the AbstractMessage"
Hello there.

By default PHP-FPM initializes `$_SERVER['SERVER_PROTOCOL']` equal to "HTTP/1.1". But [`processProtocol`](https://github.com/phalcon/cphalcon/blob/master/phalcon/Http/Message/AbstractMessage.zep#L541) checks for "1.1", not for "HTTP/1.1" and I got an exception with the following message:
[code]

Php version is 7.3.9
Phalcon version is 4.0.0-rc.1

[2019-09-29 21:19] niden commented on #14426
This has been resolved

@TimurFlush thank you for reporting this. Nice catch. The code is in the v4 branch so if you can please build from there and let us know if there are additional issues.

[2019-09-29 22:00] TimurFlush commented on #14426
@niden , i still have the segfault (

[2019-09-29 22:38] TimurFlush commented on #14426
Maybe Zephir just incorrectly extracts these super global variables?

[2019-09-29 22:40] TimurFlush commented on #14426
If I pass the super globals from php environment I don't got the segfault

[2019-09-29 23:49] niden commented on #14426
So to summarize:

[code]
No segfault

[code]
Segfault ?

[2019-09-30 00:15] niden commented on #14426
These are the tests I have added:

https://github.com/phalcon/cphalcon/blob/4.0.x/tests/unit/Http/Message/ServerRequestFactory/LoadCest.php#L452

I am wondering if your superglobals are already defined but are null or something (especially $_POST)

[2019-09-30 06:48] harm-smits opened #14436 "[NFR]: Volt: Block functions"
**Is your feature request related to a problem? Please describe.**
In our code-base, we use a lot of block functions in Smarty. Sadly there is no way to add these to Phalcon.

**Describe the solution you'd like**
Block functions to be implemented in Phalcon.

**Describe alternatives you've considered**
Using a function with a separate template, but this just ends up being too much of a mess.

**Ad

[2019-09-30 07:44] TimurFlush commented on #14426
I got the segfault with the following code:
[code]

And i don't get segfault:
[code]
OR
[code]

[2019-09-30 08:37] richmilns opened #14437 "[BUG]: Phalcon\Mvc\Model\Manager::registerNamespaceAlias() does not exist in 4.x"
When migrating an app from 3.4.4 to 4.0.0-rc1 I am getting a fatal error during the bootstrap relating to model namespace aliases:

**Fatal error: Uncaught Error: Call to undefined method Phalcon\Mvc\Model\Manager::registerNamespaceAlias()**

**Steps to reproduce the behavior:**

[code]

**Expected behavior**
To be able to use the registered alias in `Phalcon\Mvc\Model\Query\Builder` joins / selec

[2019-09-30 08:55] TimurFlush commented on #14426
Until I don't understand the reason by this occur

[2019-09-30 08:59] ruudboon commented on #14437
Thank you for trying out the RC1!
This method has been removed in Alpha.5 (see changelog last line). I assume this should be removed from the interface as well but will check with @niden We should mention this more clear in the upgrade docs and changelog.

[2019-09-30 09:06] richmilns commented on #14437
Thanks @ruudboon - excited to be using 4 RC1 and looking forward to the stable release! Are there any workarounds that can be suggested for this? I do make use of this a fair bit in my code. Was it removed for any particular reason?

[2019-09-30 09:08] Jurigag commented on #14437
Yea, im not sure too why it was removed exactly, alternative is just ClassName::class and just always set alias in queries.

[2019-09-30 09:16] ruudboon commented on #14437
@richmilns need to check the details on this change. Will let you know.
You could always extend the Manager and add that functionality yourself. But let's figure out the reason first.

[2019-09-30 09:56] #14432 closed

[2019-09-30 10:37] ekmst commented on #14426
I have all these 3 examples give a fatal error.

[code]

[2019-09-30 10:41] ekmst commented on #14426
@TimurFlush  And you have a typo here.
Must be `\Phalcon\Http\Message\ServerRequestFactory()`

[2019-09-30 11:58] TimurFlush commented on #14426
@Niden, this segfault occur when I pass $_SERVER, $_GET, $_POST to ServerRequestFactory::load() and render a VOLT template via anonimous function in View\Simple::registerEngines().
But If I register the VOLT engine as the following string: "Phalcon\Mvc\View\Engine\VOLT" then the segfault not occur.
And If i move problematic code to separate file the segfault not ocurr.
In the end, this segfault oc

[2019-09-30 12:35] TimurFlush commented on #14426
**Yet another the interest behavior**

If i will enable the OPCache extension then first request is successful, other requests give the segfault
If i will disable the OPCache extension then all request give the segfault

[2019-09-30 12:39] ruudboon commented on #14429
@jonnywang Can you give me some more info/code how to reproduce this issue?
Trying it based on the code above but unable to reproduce this errors.

[2019-09-30 19:29] niden commented on #14430
This has been resolved. Thank you @richmilns

[2019-09-30 19:29] #14430 closed

[2019-09-30 19:34] niden commented on #14426
@TimurFlush Do me a favor please.

You get the segfault by using this:

[code]
Can you `var_dump` `$_SERVER`, `$_GET` and `$_POST`  and paste it here?

[2019-09-30 19:51] ekmst commented on #14426
@niden I have all three examples give a fatal error:

[code]

[code]

[code]

[2019-09-30 20:48] niden commented on #14426
@ekmst This is not related to what @TimurFlush is experiencing. Your error comes from the calculation of the protocol when using the `SERVER_PROTOCOL`

I can see that it is `HTTP/1.1`. Now from your message

[code]
there is a mishap with the logic in the code when we split the protocol to figure out its number. Since the code returns `HTTP/1.1` vs `1.1` there is no match and therefore the error.

[2019-09-30 21:08] niden commented on #14426
@ekmst I just pushed a rework of the protocol detection. Would you mind checking it, to see if your error still persists?

[2019-09-30 21:11] ekmst opened #14440 "[BUG]: Timestampable behavior does not work"
**Describe the bug**
Timestampable behavior does not work.
The field `created_at` is not filled when creating or saving a record and methods `create()`, `save()` return `false`

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Details**
 - Phalcon version:  4.0.0-rc.1
      - Build Date: Sep 29 2019 18:59:05
      - Powered by Zephir: Version 0.12.4-b386980
 - PHP Version: 7.3.9
 - Ope

[2019-09-30 21:15] Jeckerson commented on #14440
Try to add `'format' => 'Y-m-d H:i:s',`

[code]

[2019-09-30 21:21] ekmst commented on #14426
@niden unfortunately this did not help

[2019-09-30 21:24] ekmst commented on #14440
@Jeckerson It does not help.
The `format` option is optional and everything should have worked without it

[2019-09-30 22:20] ekmst commented on #14426
@niden helped. Thank you!

[2019-10-01 00:05] TimurFlush commented on #14440
Try to change 'beforeCreate' to 'beforeCreateOnValidation'

[2019-10-01 10:53] ekmst commented on #14440
@TimurFlush Yes, I am aware of `getMessages()`, but in my case, he did not return anything.

But `beforeValidationOnCreate` helped. Thank you!

[2019-10-01 10:53] #14440 closed

[2019-10-01 11:21] TimurFlush commented on #14426
@niden
Creating components outside of closure fixes the issue
Please see https://imgur.com/a/6L1gwy6

[2019-10-01 12:25] niden commented on #14426
@TimurFlush Thank you for this report.

If this fixes your problem then let's close this issue and open one for further investigation with the code that does produce the segfault. I know Zephir doesn't like method properties in closures so we need to work on that. Perhaps they are related.

In the new issue, if you can, can you please attach a sample script that we can work with?

[2019-10-01 13:22] TimurFlush commented on #14426
@Niden, Yes.

I think that we can close this issue, but a sample script only is my application which I will provide him you.

[2019-10-01 13:29] #14426 closed

[2019-10-01 20:18] ruudboon commented on #14426
Further investigation will be done here https://github.com/phalcon/zephir/issues/1934

[2019-10-02 04:01] v00v commented on #14436
I would like to see something like this too. Good request @harm-smits

[2019-10-02 16:13] saravanank90 opened #14443 "[BUG]: Error Compiling from source"
**Describe the bug**
   Error building cphalcon

**To Reproduce**
Steps to reproduce the behavior:
[code]

[code]

**Details**
 - Phalcon version: `4.0`
 - PHP Version: `7.3.9`
 - Operating System: `fedora 30`
 - Installation type: `Compiling from source`
 - Zephir version (if any): `0.12.4`
 - Server: `Apache(Bitnami lamp stack)`

**Additional context**
Similar error was reported that this error

[2019-10-02 16:41] Jeckerson commented on #14443
Can you try with latest `v4.0.0-rc.1` tag?

[2019-10-03 15:17] saravanank90 commented on #14443
Yes I tried and installed. In the beginning i was thinking why checkout alpha while rc-1 is available. Really my bad.

![image](https://user-images.githubusercontent.com/56083993/66139841-ba44f700-e61e-11e9-8871-194e1bec9b59.png)

[2019-10-03 15:17] #14443 closed

[2019-10-03 18:06] niden commented on #14269
This has been addressed in https://github.com/phalcon/cphalcon/pull/14445

[2019-10-03 18:06] #14269 closed

[2019-10-04 13:08] remicollet opened #14446 "[BUG]: cannot generates sources to build 4.0.0-rc.1"
Using zephir 0.12.4 (or 0.12.7)

[code]

[2019-10-04 13:32] SidRoberts commented on #14437
So to add some context to all of this, I was the one who removed this functionality in https://github.com/phalcon/cphalcon/pull/14028. The idea behind it was to reduce the complexity of Phalcon's codebase and to simplify things for developers by removing multiple ways to perform the same task. FQDNs (like `Album::class`) are far superior as it makes it trivial to know where the model class is and

[2019-10-04 13:55] jonnywang commented on #14429
[code]
<?php $this->partial('_partials/header'); ?>
<?php echo $this->getContent(); ?>
<?php $this->partial('_partials/footer'); ?>
[code]

[2019-10-05 06:47] ruudboon commented on #14437
@SidRoberts Thnx for explaining. I will create a pull to fix the interface and update the changelog

[2019-10-05 07:12] #14345 closed

[2019-10-05 07:13] ruudboon commented on #14345
https://github.com/phalcon/ide-stubs/pull/29 solved this already

[2019-10-05 07:38] ruudboon commented on #14437
Changelog is fixed in 4.0.x branch. Docs are updated as well.

[2019-10-05 07:38] #14437 closed

[2019-10-05 07:39] richmilns commented on #14437
OK Thanks, that does make sense @SidRoberts. Just so I'm clear, are you saying that instead of this:

[code]
You would do something like this instead?
[code]

[2019-10-05 12:55] SidRoberts commented on #14437
@richmilns Yes exactly that.

[2019-10-05 13:52] ruudboon opened #14449 "[BUG]: Input type not checked in Phalcon\Events\Event"
Our source paramater on the constructor is not validated causing unexpected errors.

https://github.com/phalcon/cphalcon/blob/4.0.x/phalcon/Events/Event.zep#L64

[2019-10-05 17:16] niden commented on #14429
Resolved in https://github.com/phalcon/cphalcon/pull/14447

[2019-10-05 17:16] #14429 closed

[2019-10-05 18:22] niden commented on #14449
Resolved https://github.com/phalcon/cphalcon/pull/14450

[2019-10-05 18:22] #14449 closed

[2019-10-06 11:23] sergeyklay commented on #14042
You have to change this code
[code]
to be able to iterate through `externalLinks`.

We cannot do anything about it. PHP 7.3 has become stricter to checks of this type and in my opinion it is even better when a language finds errors in your code (instead of you).

[2019-10-06 11:23] #14042 closed

[2019-10-06 12:23] ruudboon commented on #13654
Implemented tasks https://github.com/phalcon/cphalcon/pull/14453

[2019-10-07 17:37] harm-smits opened #14456 "[NFR]: Security Improvement"
**Is your feature request related to a problem? Please describe.**
I am getting sick and tired of all the typecasting I have to do in order to check whether a variable is safe to use. I propose that we introduce some way to manage user controlled input like how we can do in routes (by using it to check whether something is an int or string).

**Describe the solution you'd like**
There should be a

[2019-10-08 12:18] naig97 commented on #14042
thank you, works fine

[2019-10-10 08:42] Jurigag commented on #14456
What's wrong with Validation component?

[2019-10-10 15:53] harm-smits commented on #14456
@Jurigag There is nothing wrong with the validation component. This is simply easier and faster to use. It is also more clear than the validation component.

[2019-10-11 16:10] wurst-hans opened #14460 "[BUG]: Magic getters for relationships throws exception when there is no relation in 4.0"
My projects are running on Phalcon 3.4. There I'm using many model relationships like

[code]

which works fine in Phalcon 3.4, so I can use it like

[code]

At the moment, I'm trying to migrate all projects to Phalcon 4.0.0.-rc.1-783 but when executing above code, I get an error

[code]

I found out that `getCustomer()` fails and throws exception if `customerId` is `NULL` in model `Requests`. In

[2019-10-12 08:42] Jurigag commented on #14460
Can you check what happens if you add `allowNulls => true` ?

[2019-10-12 09:06] wurst-hans commented on #14460
You mean by adding

[code]

to model `Requests`? Nothing changed, exception is still thrown.

[2019-10-12 18:22] niden opened #14464 "[NFR]: Add casting to Arr::get and Collection::get"
`Arr::get` and `Collection->get` need to have a `cast` parameter to ensure that returned data is casted to whatever the user needs.

[2019-10-13 22:38] ekmst opened #14466 "[BUG]: Fatal error on call $model->getChangedFields()"
**Describe the bug**
Fatal error on call `$model->getChangedFields()`

**To Reproduce**
[code]

Steps to reproduce the behavior:

[code]

**Expected behavior**
[code]

**Details**
 - Phalcon version: `4.0.0-rc.1`
 - PHP Version: `7.3.9`
 - Operating System: `linux`
 - Installation type: `installing via package manager`
 - Other related info (Database, table schema): `mysql`

[2019-10-13 22:40] niden commented on #14464
Implemented

[2019-10-13 22:40] #14464 closed

[2019-10-13 22:51] niden commented on #14466
This is the intended behavior. If there is no snapshot, an exception is thrown.

We can change this to return an empty array. This will break backwards compatibility.

@phalcon/core-team  Thoughts?

[2019-10-13 23:07] ekmst commented on #14466
Thanks @niden!

In my opinion this is not the case for throwing an exception.
It would be logical to return an empty array

[2019-10-14 05:24] ruudboon commented on #14466
For getChangedFields to work snapshot is required. If we sent back an empty array the user doesn't know the method isn't working.
If keepSnapshots is true we can return the correct value.

[code]
Maybe we should update the error. "keepSnapshots must be enabled to track changes"

[2019-10-14 07:51] sergeyklay commented on #14466
I agree with @ruudboon

[2019-10-14 12:17] wurst-hans commented on #14460
Looks good. No exception is thrown and I get `NULL` for non existing relationship. Nevertheless, one could prevent unnecessary database request when relationship key is `NULL`.
Anyway, thanks for your help. When will this be available in mainline repo?

[2019-10-14 12:47] zsilbi commented on #14460
Please feel free to create a NFR in another issue. 👍

It will be included in the following 4.0.0-rc.2 release in the next few weeks.

[2019-10-14 12:57] ruudboon commented on #14460
@wurst-hans Can you open a new issue for the suggested improvement (good catch!)? Don't want to log this in the same issue. Closing this one as duplicate.

[2019-10-14 12:57] #14460 closed

[2019-10-14 16:18] niden commented on #14466
Implemented

[2019-10-14 16:18] #14466 closed

[2019-10-14 17:51] wurst-hans opened #14471 "[NFR]: Prevent unnecessary database requests for relationships where key is NULL"
Having a simple relationship in model

[code]

I can get a customer like this

[code]

As I have enabled logging of native MySQL queries in my development environment, I can see that Phalcon queries database for customer even when `customerId` in model `Requests` is `NULL`:

[code]
(having `APR0=NULL` and `APL0=1`)

For performance reasons I suggest, that Phalcon immediately returns `NULL` when ac

[2019-10-14 17:54] ruudboon commented on #14428
@jospanier Any updates regarding this issue?

[2019-10-15 15:20] phptux opened #14472 "[BUG]: Error: Undefined index in Phalcon\Mvc\Model\Query\Builder"
Hi,

[code]

PHQL from Builder:
[code]

Execute the Builder:
[code]

Error Message:
[code]

With Phalcon v3.4 is this PHQL not a problem. Only with Phalcon v4.

What can I do?

**Details**
 - Phalcon version: 4.0.0-rc.1
 - PHP Version: 7.3.10
 - Database: MariaDB v10.4.8
 - Operating System: Linux-Mint